Repository LedgerHQ/ledger-live, changes with the labels that .github/labeler.yml gives for each.
All labels: desktop, mobile, common, ui, ledgerjs, tools, automation, cli, translations, screenshots, coin-modules-api

fix: merge issues
  libs/coin-modules/coin-aptos/package.json
  libs/coin-modules/coin-aptos/src/bridge/logic.ts
  libs/coin-modules/coin-aptos/src/network/client.ts
  libs/coin-modules/coin-aptos/src/network/validators.ts
  libs/coin-modules/coin-aptos/src/types/index.ts
  libs/env/src/env.ts
Labels: none

ci: Back to macOS
  .github/workflows/test-mobile-e2e-reusable.yml
Labels: automation

refactor: avoid type checking by using BigNumber
  libs/coin-modules/coin-hedera/src/bridge/synchronisation.ts
Labels: none

fix: explicit order & limit params
  libs/coin-modules/coin-hedera/src/api/mirror.ts
Labels: coin-modules-api

fix: break fetching hedera transactions loop early
  .changeset/late-sheep-argue.md
  libs/coin-modules/coin-hedera/src/api/mirror.ts
  libs/coin-modules/coin-hedera/src/bridge/synchronisation.ts
Labels: coin-modules-api

Bundling changes
  .github/workflows/test-mobile-e2e-reusable.yml
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
Labels: mobile, automation

Bundling changes
  apps/ledger-live-mobile/scripts/e2e-ci.mjs
Labels: mobile

≈polkadot and westend build
  libs/coin-modules/coin-polkadot/.unimportedrc.json
  libs/coin-modules/coin-polkadot/src/bridge/broadcast.ts
  libs/coin-modules/coin-polkadot/src/bridge/buildTransaction.ts
  libs/coin-modules/coin-polkadot/src/bridge/getFeesForTransaction.ts
  libs/coin-modules/coin-polkadot/src/bridge/getTransactionStatus.ts
  libs/coin-modules/coin-polkadot/src/bridge/preload.ts
  libs/coin-modules/coin-polkadot/src/bridge/signOperation.ts
  libs/coin-modules/coin-polkadot/src/bridge/synchronization.ts
  libs/coin-modules/coin-polkadot/src/logic/broadcast.ts
  libs/coin-modules/coin-polkadot/src/logic/craftTransaction.ts
  libs/coin-modules/coin-polkadot/src/logic/estimateFees.ts
  libs/coin-modules/coin-polkadot/src/logic/listOperations.ts
  libs/coin-modules/coin-polkadot/src/network/bisontrails.ts
  libs/coin-modules/coin-polkadot/src/network/index.ts
  libs/coin-modules/coin-polkadot/src/network/node/apiPromise.ts
  libs/coin-modules/coin-polkadot/src/network/node/constants.ts
  libs/coin-modules/coin-polkadot/src/network/node/stakingInfo.ts
  libs/coin-modules/coin-polkadot/src/network/sidecar.ts
  libs/coin-tester-modules/coin-tester-polkadot/src/scenarii/Polkadot.ts
  libs/ledger-live-common/src/families/polkadot/config.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ui/packages/crypto-icons/src/svg/WND.svg
Labels: common, ui, ledgerjs

Bundling changes
  .github/workflows/test-mobile-e2e-reusable.yml
Labels: automation

:bug: (llm) fix referal summary
  .changeset/polite-foxes-begin.md
  apps/ledger-live-mobile/src/components/ValidateMessageOnDevice.tsx
Labels: mobile

feat: device specific config for min app version [LIVE-17027]
  .changeset/shy-eels-reflect.md
  libs/ledger-live-common/src/apps/config.ts
  libs/ledger-live-common/src/apps/support.ts
  libs/ledger-live-common/src/hw/actions/app.ts
  libs/ledger-live-common/src/hw/connectApp.ts
  libs/ledger-live-common/src/hw/isUpdateAvailable.ts
  libs/ledger-live-common/src/load/speculos.ts
  libs/ledgerjs/packages/devices/src/index.ts
Labels: common, ledgerjs

feat: revert config
  libs/ledger-live-common/src/apps/config.ts
Labels: common

feat: fixes on workflows - open app ask mutliples times -> fixed - loop on open app ask when min version match -> fixed - fix dependencies on code
  libs/ledger-live-common/src/apps/config.ts
  libs/ledger-live-common/src/hw/actions/app.ts
  libs/ledger-live-common/src/hw/connectApp.ts
  libs/ledger-live-common/src/hw/isUpdateAvailable.ts
Labels: common

PR reviews
  libs/ledger-live-common/src/hw/actions/app.ts
  libs/ledger-live-common/src/hw/connectApp.ts
Labels: common

feat: fix tests CI
  libs/ledger-live-common/src/apps/config.ts
  libs/ledger-live-common/src/hw/actions/app.ts
  libs/ledger-live-common/src/hw/connectApp.ts
Labels: common

fix: track of Manage/Earn more position before opening link
  .changeset/slow-bottles-think.md
  apps/ledger-live-mobile/src/screens/PTX/Earn/EarnMenuDrawer.tsx
Labels: mobile

feat(LIVE-19141): update swap screen header navigation
  .changeset/brave-turkeys-compete.md
  apps/ledger-live-mobile/src/components/RootNavigator/SwapNavigator.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/types.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/useIsSwapTab.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/useSwapHeaderNavigation.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

:bug: (llm) fix referal summary
  .changeset/polite-foxes-begin.md
  apps/ledger-live-mobile/src/components/ValidateMessageOnDevice.tsx
Labels: mobile

change beam logo
  libs/ui/packages/crypto-icons/src/svg/BEAM.svg
Labels: ui

fix conflict
  libs/ledger-live-common/src/hw/connectApp.ts
Labels: common

fix: prettify code
  libs/ledger-live-common/src/DataModel.test.ts
Labels: common

ci: Move builds
  .github/workflows/release-prerelease.yml
Labels: automation

Review fixes
  libs/coin-modules/coin-sui/src/bridge/synchronisation.ts
  libs/coin-modules/coin-sui/src/network/sdk.test.ts
  libs/coin-modules/coin-sui/src/network/sdk.ts
Labels: none

:bug: fix: rename account now fixed on LLM and LLD
  .changeset/new-tips-tan.md
  apps/ledger-live-desktop/tests/specs/accounts/rename.account.spec.ts
  libs/live-wallet/src/store.test.ts
  libs/live-wallet/src/store.ts
Labels: desktop

:art: fix: move function to utils
  e2e/desktop/tests/specs/rename.account.spec.ts
  e2e/desktop/tests/utils/userdata.ts
Labels: none

:white_check_mark: fix: unskip an e2e mobile test for the renaming of accounts
  apps/ledger-live-desktop/tests/specs/accounts/rename.account.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/account/accountRename.spec.ts
  apps/ledger-live-mobile/src/context/LedgerStore.tsx
  e2e/desktop/tests/specs/rename.account.spec.ts
Labels: desktop, mobile

:art: fix: wait for redux action in e2e test
  apps/ledger-live-desktop/src/renderer/init.tsx
  apps/ledger-live-desktop/src/renderer/reducers/index.ts
  apps/ledger-live-mobile/e2e/specs/speculos/account/accountRename.spec.ts
  e2e/desktop/tests/page/index.ts
  e2e/desktop/tests/specs/rename.account.spec.ts
  e2e/desktop/tests/utils/redux.ts
Labels: desktop, mobile

ci: test vic
  tools/actions/composites/run-e2e-playwright-tests/action.yml
Labels: tools

lint: remove jsonrpcerror import
  libs/coin-modules/coin-sui/src/network/sdk.ts
Labels: none

changeset
  .changeset/late-glasses-smash.md
Labels: none

.github/labeler.yml:

desktop:
  - apps/ledger-live-desktop/**/*

mobile:
  - apps/ledger-live-mobile/**/*

common:
  - libs/ledger-live-common/**/*

ui:
  - libs/ui/**/*

ledgerjs:
  - libs/ledgerjs/**/*

tools:
  - tools/**/*

automation:
  - .github/**/*

cli:
  - apps/cli/**/*

translations:
  - apps/ledger-live-desktop/static/i18n/**/*
  - apps/ledger-live-mobile/src/locales/**/*

screenshots:
  - apps/ledger-live-desktop/tests/specs/**/*.png

coin-modules-api:
 - libs/coin-framework/src/api/**
 - libs/coin-modules/*/src/api/**
