Repository LedgerHQ/ledger-live, changes with the labels that .github/labeler.yml gives for each.
All labels: desktop, mobile, common, ui, ledgerjs, tools, automation

.github/labeler.yml:

desktop:
  - apps/ledger-live-desktop/**/*

mobile:
  - apps/ledger-live-mobile/**/*

common:
  - libs/ledger-live-common/**/*

ui:
  - libs/ui/**/*

ledgerjs:
  - libs/ledgerjs/**/*

tools:
  - tools/**/*

automation:
  - .github/**/*

ci: attempt to fix node-gyp windows issues
  .github/workflows/test-desktop.yml
Labels: automation

fix: ci typo
  .github/workflows/build-desktop.yml
Labels: automation

docs: fix broken lld readme images
  apps/ledger-live-desktop/README.md
Labels: desktop

Revert "ci: attempt to fix node-gyp windows issues"
  .github/workflows/test-desktop.yml
Labels: automation

ci: attempt to upgrade node-gyp to latest
  .github/workflows/test.yml
Labels: automation

chore: disable pnpm side effects cache
  .npmrc
Labels: none

chore: set proper package versions
  libs/ledgerjs/packages/hw-app-helium/package.json
  libs/ledgerjs/packages/hw-app-solana/package.json
  libs/ui/packages/native/package.json
Labels: ui, ledgerjs

fix: proper icons-ui dependencies
  libs/ui/packages/icons/package.json
Labels: ui

ci: give up with node-gyp and windows :(
  .github/workflows/test.yml
Labels: automation

chore: regen lockfile
  pnpm-lock.yaml
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug---ledger-live-application.md
  .github/ISSUE_TEMPLATE/bug---libraries.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: automation

chore: fix lld unit tests
  apps/ledger-live-desktop/cryptoassets.md
Labels: desktop

ci: comment windows library tests
  .github/workflows/test.yml
Labels: automation

chore: add issue templates
  .github/ISSUE_TEMPLATE/bug---ledger-live-application.md
  .github/ISSUE_TEMPLATE/bug---libraries.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: automation

chore: add pr template
  .github/pull_request_template.md
Labels: automation

update subnit id for linux starting machine
  .github/workflows/start-linux-runner.yml
Labels: automation

chore: update issue template
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: automation

Update issue templates
  .github/ISSUE_TEMPLATE/bug---ledger-live-application.md
  .github/ISSUE_TEMPLATE/bug---libraries.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: automation

chore: remove x-run
  libs/ledger-live-common/package.json
  libs/ui/packages/react/CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
  tools/x-run/index.js
  tools/x-run/package.json
Labels: common, ui, tools

wip: trigger generate screenshots using a workflow dispatch
  .github/workflows/generate-screenshots.yml
Labels: automation

fix: pnpm v7 compliant libs filters
  .github/workflows/backup/version-or-release.yml
  .github/workflows/nightly.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  README.md
Labels: automation

fix: rollback to expo-image-loader 3.1.1
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  libs/ledger-live-common/src/generated/account.ts
  libs/ledger-live-common/src/generated/bridge/js.ts
  libs/ledger-live-common/src/generated/bridge/mock.ts
  libs/ledger-live-common/src/generated/cli-transaction.ts
  libs/ledger-live-common/src/generated/customAddressValidation.ts
  libs/ledger-live-common/src/generated/deviceTransactionConfig.ts
  libs/ledger-live-common/src/generated/exchange.ts
  libs/ledger-live-common/src/generated/hw-getAddress.ts
  libs/ledger-live-common/src/generated/hw-signMessage.ts
  libs/ledger-live-common/src/generated/mock.ts
  libs/ledger-live-common/src/generated/platformAdapter.ts
  libs/ledger-live-common/src/generated/presync.ts
  libs/ledger-live-common/src/generated/specs.ts
  libs/ledger-live-common/src/generated/speculos-deviceActions.ts
  libs/ledger-live-common/src/generated/test-dataset.ts
  libs/ledger-live-common/src/generated/transaction.ts
  libs/ledger-live-common/src/generated/types.ts
  pnpm-lock.yaml
Labels: mobile, common

temporary: disable nightly mobile
  .github/workflows/nightly.yml
Labels: automation

fix: ts error
  libs/ledger-live-common/src/families/cosmos/js-buildTransaction.ts
Labels: common

chore: add token and registry references in the .npmrc file
  .npmrc
Labels: none

ci: always push tags even when some packages fail to publish
  .github/workflows/nightly.yml
Labels: automation

chore: rename cli
  libs/ledger-live-common/cli/package.json
Labels: common

Revert "temporary: disable nightly mobile"
  .github/workflows/nightly.yml
Labels: automation

fix: obsolete playwright package
  .github/workflows/generate-screenshots.yml
  .github/workflows/test-desktop.yml
Labels: automation

ci: ignore smartling branches when checking for branch names validity
  .github/workflows/check-pr.yml
Labels: automation

Revert "fix: ts error"
  libs/ledger-live-common/src/families/cosmos/js-buildTransaction.ts
Labels: common

docs: add translations section to the contributing guidelines
  CONTRIBUTING.md
Labels: none

fix: ci packages publishing
  .github/workflows/nightly.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .npmrc
Labels: automation

chore: regen cryptoassets
  apps/ledger-live-desktop/cryptoassets.md
Labels: desktop

chore: regen lockfiles and generated
  libs/ledger-live-common/src/generated/account.ts
  libs/ledger-live-common/src/generated/bridge/js.ts
  libs/ledger-live-common/src/generated/bridge/mock.ts
  libs/ledger-live-common/src/generated/cli-transaction.ts
  libs/ledger-live-common/src/generated/customAddressValidation.ts
  libs/ledger-live-common/src/generated/deviceTransactionConfig.ts
  libs/ledger-live-common/src/generated/exchange.ts
  libs/ledger-live-common/src/generated/hw-getAddress.ts
  libs/ledger-live-common/src/generated/hw-signMessage.ts
  libs/ledger-live-common/src/generated/mock.ts
  libs/ledger-live-common/src/generated/platformAdapter.ts
  libs/ledger-live-common/src/generated/presync.ts
  libs/ledger-live-common/src/generated/specs.ts
  libs/ledger-live-common/src/generated/speculos-deviceActions.ts
  libs/ledger-live-common/src/generated/test-dataset.ts
  libs/ledger-live-common/src/generated/transaction.ts
  libs/ledger-live-common/src/generated/types.ts
  pnpm-lock.yaml
Labels: common

fix: generated files permissions
  libs/ledger-live-common/src/generated/account.ts
  libs/ledger-live-common/src/generated/bridge/js.ts
  libs/ledger-live-common/src/generated/bridge/mock.ts
  libs/ledger-live-common/src/generated/cli-transaction.ts
  libs/ledger-live-common/src/generated/customAddressValidation.ts
  libs/ledger-live-common/src/generated/deviceTransactionConfig.ts
  libs/ledger-live-common/src/generated/exchange.ts
  libs/ledger-live-common/src/generated/hw-getAddress.ts
  libs/ledger-live-common/src/generated/hw-signMessage.ts
  libs/ledger-live-common/src/generated/mock.ts
  libs/ledger-live-common/src/generated/platformAdapter.ts
  libs/ledger-live-common/src/generated/presync.ts
  libs/ledger-live-common/src/generated/specs.ts
  libs/ledger-live-common/src/generated/speculos-deviceActions.ts
  libs/ledger-live-common/src/generated/test-dataset.ts
  libs/ledger-live-common/src/generated/transaction.ts
  libs/ledger-live-common/src/generated/types.ts
Labels: common

ci: add post tests step to upload live common snapshots
  .github/workflows/test.yml
Labels: automation

snapshot
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
Labels: common

ci: add color for test jobs
  .github/workflows/test-desktop.yml
  .github/workflows/test.yml
Labels: automation

chore: regen lockfile
  pnpm-lock.yaml
Labels: none
