Repository LedgerHQ/ledger-live, changes with the labels that .github/labeler.yml gives for each.
All labels: desktop, mobile, common, ui, ledgerjs, tools, automation

update github script
  .github/workflows/test-desktop.yml
Labels: automation

add reporting after screenshot tests
  .github/workflows/build-mobile.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test_desktop.yml
  pnpm-lock.yaml
  tools/actions/prepare-comment-body/build/index.js
  tools/actions/prepare-comment-body/main.ts
  tools/actions/prepare-comment-screenshots/action.yml
  tools/actions/prepare-comment-screenshots/build/index.js
  tools/actions/prepare-comment-screenshots/main.ts
  tools/actions/prepare-comment-screenshots/package.json
  tools/actions/upload-images/build/index.js
  tools/actions/upload-images/main.ts
Labels: tools, automation

fix typo on path
  .github/workflows/test-desktop.yml
Labels: automation

little fixes
  .github/workflows/build-mobile.yml
  .github/workflows/test-desktop.yml
Labels: automation

add quotes to make string
  .github/workflows/test-desktop.yml
Labels: automation

update github script
  .github/workflows/test-desktop.yml
Labels: automation

fix action markdown formatting
  tools/actions/prepare-comment-screenshots/build/index.js
  tools/actions/prepare-comment-screenshots/main.ts
  tools/actions/prepare-comment/build/index.js
  tools/actions/prepare-comment/main.ts
Labels: tools

update action
  tools/actions/generate-slack-screenshots-diff/build/index.js
  tools/actions/prepare-comment-screenshots/build/index.js
  tools/actions/prepare-comment-screenshots/main.ts
Labels: tools

fix action target
  .github/workflows/test-desktop.yml
Labels: automation

fix: rename useless test
  libs/ledger-live-common/tools/package.json
Labels: common

fix: LLD pnpm7 compat
  .pnpmfile.cjs
  apps/ledger-live-desktop/tests/fixtures/common.ts
  tools/pnpm-utils/index.js
Labels: desktop, tools

fix: pnpm 7 filter
  .github/workflows/test.yml
Labels: automation

fix: prevent strict peer dependencies errors
  .npmrc
Labels: none

fix: various pnpm upgrade related fixes
  apps/ledger-live-desktop/main.webpack.config.js
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/preloader.webpack.config.js
  apps/ledger-live-desktop/renderer.webpack.config.js
  apps/ledger-live-desktop/webviewPreloader.webpack.config.js
  apps/ledger-live-mobile/package.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/cosmos/js-buildTransaction.ts
  libs/ledger-live-common/src/platform/PlatformAppProvider/index.tsx
  libs/ui/packages/native/package.json
  libs/ui/packages/native/src/components/Layout/Modals/BaseModal/index.tsx
  libs/ui/packages/native/storybook/stories/Button/Button.stories.tsx
  libs/ui/packages/react/tsconfig.json
  pnpm-lock.yaml
Labels: desktop, mobile, common, ui

fix: more pnpm v7 compat
  .github/workflows/build-mobile.yml
  .pnpmfile.cjs
  pnpm-lock.yaml
Labels: automation

fix: jest + pnpm7
  libs/ledger-live-common/jest.config.ts
  libs/ledger-live-common/tools/package.json
  pnpm-lock.yaml
Labels: common

fix: ui lib pnpm7 compat
  .npmrc
  .pnpmfile.cjs
  apps/ledger-live-mobile/ios/Podfile.lock
  libs/ui/packages/icons/package.json
  libs/ui/packages/native/.storybook/webpack.config.js
  libs/ui/packages/native/metro.config.js
  libs/ui/packages/native/package.json
  libs/ui/packages/native/src/components/Layout/Collapse/Accordion/index.tsx
  libs/ui/packages/native/src/components/Layout/Modals/BaseModal/index.tsx
  libs/ui/packages/native/src/components/Navigation/SlideIndicator/index.tsx
  libs/ui/packages/native/src/components/chart/index.tsx
  libs/ui/packages/native/src/components/message/Alert/index.tsx
  libs/ui/packages/react/.storybook/webpack.config.js
  libs/ui/packages/react/package.json
  libs/ui/packages/react/src/components/layout/Side/index.tsx
Labels: mobile, ui

fix: use npm to bump itself
  .github/workflows/build-desktop.yml
Labels: automation

fix: make common#typecheck depend on its own build
  .github/workflows/test.yml
  turbo.json
Labels: automation

ci: bust cache
  turbo.json
Labels: none

chore: bust cache on turbo.json change
  turbo.json
Labels: none

fix: common generated flags caching
  turbo.json
Labels: none

chore: upgrade dependencies
  libs/ledger-live-common/cli/package.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/tools/package.json
  libs/ledgerjs/package.json
  libs/ui/packages/native/package.json
  libs/ui/packages/react/package.json
  pnpm-lock.yaml
Labels: common, ui, ledgerjs

chore: regen lockfile
  pnpm-lock.yaml
Labels: none

fix(common): cache data/icons
  turbo.json
Labels: none

chore: bust cache
  turbo.json
Labels: none

fix: live-common-tools build compat with latest polkadot packages
  libs/ledger-live-common/tools/config-overrides.js
  pnpm-lock.yaml
Labels: common

chore: disable terser when building live-common-tools
  libs/ledger-live-common/tools/config-overrides.js
Labels: common

docs: update readme files
  README.md
  apps/ledger-live-desktop/README.md
Labels: desktop

ci: restore pnpm latest
  .github/workflows/backup/version-or-release.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .github/workflows/create-hotfix.yml
  .github/workflows/create-release.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/nightly.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test.yml
Labels: automation

chore: add build:lld:deps script and fix build:llm:deps script
  package.json
Labels: none

chore: fix merge conflicts and issues
  CONTRIBUTING.md
  README.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-mobile/fastlane/Fastfile
  apps/ledger-live-mobile/ios/Podfile
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/react-native.config.js
  apps/ledger-live-mobile/scripts/patches/RNFastCrypto.h.patch
  apps/ledger-live-mobile/scripts/post.sh
  apps/ledger-live-mobile/src/components/ParentCurrencyIcon.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/AnalyticsNavigator.tsx
  apps/ledger-live-mobile/src/index.js
  apps/ledger-live-mobile/src/polyfill.js
  libs/ledger-live-common/cli/package.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/generated/account.ts
  libs/ledger-live-common/src/generated/bridge/js.ts
  libs/ledger-live-common/src/generated/bridge/mock.ts
  libs/ledger-live-common/src/generated/cli-transaction.ts
  libs/ledger-live-common/src/generated/customAddressValidation.ts
  libs/ledger-live-common/src/generated/deviceTransactionConfig.ts
  libs/ledger-live-common/src/generated/exchange.ts
  libs/ledger-live-common/src/generated/hw-getAddress.ts
  libs/ledger-live-common/src/generated/hw-signMessage.ts
  libs/ledger-live-common/src/generated/mock.ts
  libs/ledger-live-common/src/generated/platformAdapter.ts
  libs/ledger-live-common/src/generated/presync.ts
  libs/ledger-live-common/src/generated/specs.ts
  libs/ledger-live-common/src/generated/speculos-deviceActions.ts
  libs/ledger-live-common/src/generated/test-dataset.ts
  libs/ledger-live-common/src/generated/transaction.ts
  libs/ledger-live-common/src/generated/types.ts
  libs/ledgerjs/packages/devices/package.json
  pnpm-lock.yaml
Labels: desktop, mobile, common, ledgerjs

release note new integration
  apps/ledger-live-desktop/RELEASE_NOTES.md
  apps/ledger-live-desktop/release-notes.json
  apps/ledger-live-desktop/src/renderer/modals/ReleaseNotes/ReleaseNotesBody.js
  apps/ledger-live-desktop/src/tsconfig.json
  apps/ledger-live-desktop/tools/main.js
  apps/ledger-live-desktop/tools/utils/WebpackWorker.js
  apps/ledger-live-desktop/tools/utils/processReleaseNotes.js
  apps/ledger-live-desktop/tsconfig.json
Labels: desktop

fix: remove outdated libcore call
  apps/ledger-live-desktop/src/renderer/init.js
Labels: desktop

fix: @actions build
  pnpm-lock.yaml
  tools/actions/change-product-name/build/index.js
  tools/actions/download-workflow-artifacts/build/index.js
  tools/actions/extract-live-common-version/build/index.js
  tools/actions/generate-jira-diff/build/index.js
  tools/actions/generate-slack-screenshots-diff/build/index.js
  tools/actions/get-package-infos/build/index.js
  tools/actions/get-pr-number/build/index.js
  tools/actions/get-release-by-tag/build/index.js
  tools/actions/get-workflow-artifacts-id/build/index.js
  tools/actions/is-org-member/build/index.js
  tools/actions/package.json
  tools/actions/prepare-comment-screenshots/build/index.js
  tools/actions/prepare-comment/build/index.js
  tools/actions/publish-release/build/index.js
  tools/actions/upload-images/build/index.js
Labels: tools

fix(common): jest config for polkadot packages
  apps/ledger-live-desktop/package.json
  libs/ledger-live-common/jest.config.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/generated/account.ts
  libs/ledger-live-common/src/generated/bridge/js.ts
  libs/ledger-live-common/src/generated/bridge/mock.ts
  libs/ledger-live-common/src/generated/cli-transaction.ts
  libs/ledger-live-common/src/generated/customAddressValidation.ts
  libs/ledger-live-common/src/generated/deviceTransactionConfig.ts
  libs/ledger-live-common/src/generated/exchange.ts
  libs/ledger-live-common/src/generated/hw-getAddress.ts
  libs/ledger-live-common/src/generated/hw-signMessage.ts
  libs/ledger-live-common/src/generated/mock.ts
  libs/ledger-live-common/src/generated/platformAdapter.ts
  libs/ledger-live-common/src/generated/presync.ts
  libs/ledger-live-common/src/generated/specs.ts
  libs/ledger-live-common/src/generated/speculos-deviceActions.ts
  libs/ledger-live-common/src/generated/test-dataset.ts
  libs/ledger-live-common/src/generated/transaction.ts
  libs/ledger-live-common/src/generated/types.ts
  libs/ledger-live-common/src/sanityChecks.ts
  pnpm-lock.yaml
Labels: desktop, common

release note new integration
  apps/ledger-live-desktop/.eslintrc.js
  apps/ledger-live-desktop/release-notes.json
  apps/ledger-live-desktop/src/renderer/modals/ReleaseNotes/ReleaseNotesBody.js
  apps/ledger-live-desktop/src/tsconfig.json
  apps/ledger-live-desktop/tools/utils/processReleaseNotes.js
  apps/ledger-live-desktop/tsconfig.json
  pnpm-lock.yaml
Labels: desktop

chore: regen cryptoassets.md
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/release-notes.json
  pnpm-lock.yaml
Labels: desktop

chore: reword jobs
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test.yml
Labels: automation

regen lockfile
  pnpm-lock.yaml
Labels: none

.github/labeler.yml:

desktop:
  - apps/ledger-live-desktop/**/*

mobile:
  - apps/ledger-live-mobile/**/*

common:
  - libs/ledger-live-common/**/*

ui:
  - libs/ui/**/*

ledgerjs:
  - libs/ledgerjs/**/*

tools:
  - tools/**/*

automation:
  - .github/**/*
