Repository LedgerHQ/ledger-live, changes with the labels that .github/labeler.yml gives for each.
All labels: desktop, mobile, common, ui, ledgerjs, tools, automation

update cli to make it work with monorepo
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .pnpmfile.cjs
  apps/ledger-live-desktop/package.json
  libs/ledger-live-common/cli/.pnpm-debug.log
  libs/ledger-live-common/cli/package.json
  libs/ledger-live-common/cli/src/live-common-setup.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/sanityChecks.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/actions/download-workflow-artifacts/build/index.js
  tools/actions/get-workflow-artifacts-id/build/index.js
  tools/actions/has-hash-commit-deps/build/index.js
Labels: desktop, common, tools, automation

update prepare-comment action
  tools/actions/prepare-comment/build/index.js
  tools/actions/prepare-comment/main.ts
Labels: tools

test windows fuckup
  .github/workflows/build-desktop.yml
Labels: automation

more permissive mapping for /lib prefixed definition files
  libs/ui/packages/native/package.json
Labels: ui

Add documentation and update existing one
  CONTRIBUTING.md
  README.md
  package.json
  readme.md
Labels: none

add slack comment generation action
  pnpm-lock.yaml
  tools/actions/generate-slack-screenshots-diff/action.yml
  tools/actions/generate-slack-screenshots-diff/build/index.js
  tools/actions/generate-slack-screenshots-diff/main.ts
  tools/actions/generate-slack-screenshots-diff/package.json
Labels: tools

docs: update lld readme
  apps/ledger-live-desktop/README.md
Labels: desktop

docs: update llm readme
  apps/ledger-live-mobile/README.md
Labels: mobile

docs: update llc readme
  libs/ledger-live-common/README.md
Labels: common

docs: update ui readmes
  libs/ui/README.md
  libs/ui/packages/icons/README.md
  libs/ui/packages/native/README.md
  libs/ui/packages/react/CONTRIBUTING.md
  libs/ui/packages/react/README.md
Labels: ui

docs: update ljs readme
  .pnpmfile.cjs
  libs/ledgerjs/README.md
  libs/ledgerjs/packages/hw-transport-node-hid-singleton/README.md
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: ledgerjs

chore: upgrade turborepo
  package.json
  pnpm-lock.yaml
Labels: none

docs: remove python 2 from the lld doc
  apps/ledger-live-desktop/README.md
Labels: desktop

fix slack action
  tools/actions/generate-slack-screenshots-diff/build/index.js
  tools/actions/generate-slack-screenshots-diff/main.ts
Labels: tools

fix native-ui documentation
  libs/ui/packages/native/README.md
Labels: ui

docs: small improvements to the migrate-branch help
  tools/migrate-branch/index.js
Labels: tools

docs: add changesets as a tool
  README.md
Labels: none

docs: fix alises mismatch
  README.md
Labels: none

chore: regen pnpm lockfile
  pnpm-lock.yaml
Labels: none

fix syntax
  tools/actions/generate-slack-screenshots-diff/build/index.js
  tools/actions/generate-slack-screenshots-diff/main.ts
Labels: tools

slack action fix
  tools/actions/generate-slack-screenshots-diff/action.yml
  tools/actions/generate-slack-screenshots-diff/build/index.js
  tools/actions/generate-slack-screenshots-diff/main.ts
Labels: tools

fix formatting
  tools/actions/generate-slack-screenshots-diff/build/index.js
  tools/actions/generate-slack-screenshots-diff/main.ts
Labels: tools

fix slack action to use context
  tools/actions/generate-slack-screenshots-diff/action.yml
  tools/actions/generate-slack-screenshots-diff/build/index.js
  tools/actions/generate-slack-screenshots-diff/main.ts
Labels: tools

ci: fix generate screenshots action
  .github/workflows/generate-screenshots.yml
Labels: automation

ci: fix git user in generate screenshots action
  .github/workflows/generate-screenshots.yml
Labels: automation

ci: add missing status step
  .github/workflows/generate-screenshots.yml
Labels: automation

ci: rebase after commit
  .github/workflows/generate-screenshots.yml
Labels: automation

chore: make llc tools work
  libs/ledger-live-common/tools/config-overrides.js
  libs/ledger-live-common/tools/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: common

fix: align label to calculate mobile build number for prereleases
  apps/ledger-live-mobile/fastlane/Fastfile
Labels: mobile

fix: typos
  .github/workflows/create-hotfix.yml
  .github/workflows/create-release.yml
Labels: automation

add full automated process for release/prerelease/hotfix
  .github/workflows/backup/version-or-release.yml
  .github/workflows/create-hotfix.yml
  .github/workflows/create-release.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Labels: automation

update contributing.md and readme.md
  CONTRIBUTING.md
  README.md
Labels: none

docs: add scoping
  README.md
Labels: none

docs: typo
  CONTRIBUTING.md
  README.md
Labels: none

add more checks on PR
  .github/workflows/check-pr.yml
Labels: automation

update hour on cron
  .github/workflows/stale.yml
Labels: automation

docs: proper lever link
  README.md
Labels: none

add stale Prs and Issues action
  .github/workflows/stale.yml
Labels: automation

update caching for lld
  .github/workflows/test-desktop.yml
  turbo.json
Labels: automation

fixed version of pnpm
  .github/workflows/backup/version-or-release.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .github/workflows/create-hotfix.yml
  .github/workflows/create-release.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/nightly.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test.yml
  apps/ledger-live-desktop/.github/workflows/after-screenshots.yml
  apps/ledger-live-desktop/.github/workflows/bundle-app.yml
  apps/ledger-live-desktop/.github/workflows/ui-tests.yml
  apps/ledger-live-mobile/.github/workflows/bundle-app.yml
  libs/ledger-live-common/.github/workflows/bot-bitcoin-mooncake.yml
  libs/ledger-live-common/.github/workflows/bot-carbone.yml
  libs/ledger-live-common/.github/workflows/bot-cosmos-meredenis.yml
  libs/ledger-live-common/.github/workflows/bot-cosmos-mooncake.yml
  libs/ledger-live-common/.github/workflows/bot-crypto_org-mooncake.yml
  libs/ledger-live-common/.github/workflows/bot-ethereum-carbone.yml
  libs/ledger-live-common/.github/workflows/bot-mooncake.yml
  libs/ledger-live-common/.github/workflows/bot-phosphore.yml
  libs/ledger-live-common/.github/workflows/bot-silicium.yml
  libs/ledger-live-common/.github/workflows/bot-tezos-carbone.yml
  libs/ledger-live-common/.github/workflows/bot-tezos-mere-denis.yml
  libs/ledger-live-common/.github/workflows/bot-tezos-mooncake.yml
  libs/ledger-live-common/.github/workflows/bot-transfer.yml
  libs/ledger-live-common/.github/workflows/test.yml
  libs/ui/.github/workflows/react.yml
Labels: desktop, mobile, common, ui, automation

.github/labeler.yml:

desktop:
  - apps/ledger-live-desktop/**/*

mobile:
  - apps/ledger-live-mobile/**/*

common:
  - libs/ledger-live-common/**/*

ui:
  - libs/ui/**/*

ledgerjs:
  - libs/ledgerjs/**/*

tools:
  - tools/**/*

automation:
  - .github/**/*
