Repository LedgerHQ/ledger-live, pull requests merged in 2022-11, with the labels that each got.

#1732 Feat/LIVE-3665 - Nft gallery pixel polish2
  apps/ledger-live-mobile/src/components/Nft/NftList.tsx
  apps/ledger-live-mobile/src/components/Nft/NftListItem.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabNavigatorScrollManager.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabNavigatorTabBar.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/NftGalleryEmptyState.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/ReceiveNFTsModal.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioEmptyState.tsx
  libs/ui/packages/native/src/components/Tabs/Graph/index.tsx
Labels: mobile, ui, translations

#1728 Android: migrate away from JCenter
  .changeset/afraid-spiders-rule.md
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/CustomImage/imageUtils.ts
  package.json
  patches/react-native-os@1.2.6.patch
  patches/react-native-tcp@4.0.0.patch
  patches/rn-fetch-blob@0.12.0.patch
  pnpm-lock.yaml
Labels: mobile

#1685 Support: FAT-462 LLM handle 0x5515 response for basic device actions
  .changeset/tidy-bats-smash.md
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/SelectDevice/USBEmpty.ios.tsx
  apps/ledger-live-mobile/src/components/SelectDevice/USBEmpty.tsx
  libs/ledger-live-common/src/hw/actions/app.ts
  libs/ledger-live-common/src/hw/actions/manager.ts
  libs/ledger-live-common/src/hw/actions/types.ts
  libs/ledger-live-common/src/hw/connectApp.ts
  libs/ledger-live-common/src/hw/connectManager.ts
Labels: mobile, common

#1675 Fix lotties for Nano X in new BLE pairing flow
  .changeset/ninety-pens-crash.md
  apps/ledger-live-mobile/src/animations/nanoX/BlePaired/dark.json
  apps/ledger-live-mobile/src/animations/nanoX/BlePaired/light.json
  apps/ledger-live-mobile/src/animations/nanoX/BlePairing/dark.json
  apps/ledger-live-mobile/src/animations/nanoX/BlePairing/light.json
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/BleDevicePairing.tsx
Labels: mobile

#1667 Add install set of apps step in mobile sync onboarding
  .changeset/tricky-mugs-battle.md
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
Labels: mobile, translations

#1731 fix post onboarding redirection
  .changeset/new-toys-crash.md
  .changeset/quick-cups-lie.md
  apps/ledger-live-mobile/src/screens/Onboarding/steps/pairNew.tsx
  apps/ledger-live-mobile/src/screens/PostOnboarding/PostOnboardingDebugScreen.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/CompletionScreen.tsx
  libs/ledger-live-common/src/postOnboarding/hooks/useStartPostOnboardingCallback.ts
Labels: mobile, common

#1724 bot weekly report to report to #ledger-live
  .github/workflows/bot-super-report.yml
  tools/actions/generate-bot-super-report/build/main.js
  tools/actions/generate-bot-super-report/logic.ts
Labels: tools, automation

#1723 Bot: rework jsHelpers makeSync to improve TS and make it update a.used + fixes Bitcoin bot to send txs
  libs/ledger-live-common/src/bot/specs.ts
  libs/ledger-live-common/src/bridge/jsHelpers.ts
  libs/ledger-live-common/src/families/bitcoin/account-used.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/bitcoin.ts
Labels: common

#1729 update node-hid to 2.1.2
  .changeset/popular-baboons-compare.md
  libs/ledgerjs/packages/hw-transport-node-hid/package.json
  pnpm-lock.yaml
Labels: ledgerjs

#1717 Bugfix: FAT-574 LLD language fwm update
  .changeset/ten-horses-check.md
  apps/ledger-live-desktop/src/internal/commands/index.js
  apps/ledger-live-desktop/src/internal/commands/waitForDeviceInfo.ts
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/Installing.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/00-step-reset-device.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/01-step-install-full-firmware.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-flash-mcu.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-updating.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/03-step-confirmation.tsx
  apps/ledger-live-desktop/tests/models/FirmwareUpdateModal.ts
  apps/ledger-live-desktop/tests/specs/manager/firmwareupdate.spec.ts
Labels: desktop

#1735 LIVE-4429 Force Polkadot Nano app v15.9300.0
  libs/ledger-live-common/src/apps/support.ts
Labels: common

#1758 LIVE-3988 - bugfix - issue undefined chartData MarketDataProvider
  .changeset/cool-cobras-invite.md
  libs/ledger-live-common/src/market/MarketDataProvider.tsx
Labels: common

#1635 solana integ bugfix
  .github/workflows/test-integration.yml
  libs/ledger-live-common/src/__tests__/test-helpers/bridge.ts
  libs/ledger-live-common/src/families/solana/bridge.integration.test.ts
  libs/ledger-live-common/src/families/solana/react.integration.test.ts
Labels: common, automation

#1749 Bot: Remove the .ref of GH actions
  .github/workflows/bot-carbon.yml
  .github/workflows/bot-mere-denis.yml
  .github/workflows/bot-mooncake.yml
  .github/workflows/bot-oxygen.yml
  .github/workflows/bot-phosphore.yml
  .github/workflows/bot-silicium.yml
Labels: automation

#1748 Adding new icons to index files so they can be reached easily
  .changeset/shiny-moles-check.md
  .changeset/spotty-pianos-live.md
  libs/ui/packages/icons/src/additionalIcons/Payment/ACH.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/AstroPay.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Baanx.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Bancontact.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Bank.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/CreditCard.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/EasyPay.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Girocard.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Google Pay.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Maestro.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Mastercard.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Paypal.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Pix.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Sepa.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Sofort.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Visa.svg
  libs/ui/packages/react/scripts/postBuild.js
  libs/ui/packages/react/src/assets/providersFavicons/Aave.png
  libs/ui/packages/react/src/assets/providersFavicons/Baanx.png
  libs/ui/packages/react/src/assets/providersFavicons/Banxa.png
  libs/ui/packages/react/src/assets/providersFavicons/Bitrefill.png
  libs/ui/packages/react/src/assets/providersFavicons/BtcDirect.png
  libs/ui/packages/react/src/assets/providersFavicons/Changelly.png
  libs/ui/packages/react/src/assets/providersFavicons/CoinGecko.png
  libs/ui/packages/react/src/assets/providersFavicons/Coinify.png
  libs/ui/packages/react/src/assets/providersFavicons/Compound.png
  libs/ui/packages/react/src/assets/providersFavicons/Deversifi.png
  libs/ui/packages/react/src/assets/providersFavicons/Ftx.png
  libs/ui/packages/react/src/assets/providersFavicons/Ftxus.png
  libs/ui/packages/react/src/assets/providersFavicons/Kiln.png
  libs/ui/packages/react/src/assets/providersFavicons/LedgerBlack.png
  libs/ui/packages/react/src/assets/providersFavicons/LedgerCard.png
  libs/ui/packages/react/src/assets/providersFavicons/LedgerWhite.png
  libs/ui/packages/react/src/assets/providersFavicons/Lido.png
  libs/ui/packages/react/src/assets/providersFavicons/LoopiPay.png
  libs/ui/packages/react/src/assets/providersFavicons/Mercuryo.png
  libs/ui/packages/react/src/assets/providersFavicons/Moonpay.png
  libs/ui/packages/react/src/assets/providersFavicons/Opensea.png
  libs/ui/packages/react/src/assets/providersFavicons/PancakeSwap.png
  libs/ui/packages/react/src/assets/providersFavicons/Paraswap.png
  libs/ui/packages/react/src/assets/providersFavicons/Poap.png
  libs/ui/packages/react/src/assets/providersFavicons/RainbowMe.png
  libs/ui/packages/react/src/assets/providersFavicons/Ramp.png
  libs/ui/packages/react/src/assets/providersFavicons/Rarible.png
  libs/ui/packages/react/src/assets/providersFavicons/Simplex.png
  libs/ui/packages/react/src/assets/providersFavicons/SushiSwap.png
  libs/ui/packages/react/src/assets/providersFavicons/Transak.png
  libs/ui/packages/react/src/assets/providersFavicons/Wyre.png
  libs/ui/packages/react/src/assets/providersFavicons/Zerion.png
  libs/ui/packages/react/src/assets/providersFavicons/_1Inch.png
  libs/ui/packages/react/src/assets/providersFavicons/index.d.ts
  libs/ui/packages/react/src/assets/providersFavicons/index.js
  libs/ui/packages/react/src/components/asorted/Icon/FlagIcon.tsx
  libs/ui/packages/react/src/components/asorted/Icon/PaymentIcon.tsx
  libs/ui/packages/react/src/components/asorted/Icon/ProviderIcon.tsx
  libs/ui/packages/react/src/components/asorted/Icon/index.tsx
  libs/ui/packages/react/src/components/asorted/index.ts
Labels: ui

#1757 LIVE-4430 feature ios disable nft FF
  .changeset/brave-shrimps-lie.md
  apps/ledger-live-mobile/src/components/Nft/NftLinksPanel.tsx
  apps/ledger-live-mobile/src/components/Nft/NftViewer.tsx
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Discover/index.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftCollection/index.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/index.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftInfoNotAvailable.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs, translations

#1762 makes playwright test fail on an internal process crash
  apps/ledger-live-desktop/src/main/internal-lifecycle.js
  apps/ledger-live-desktop/tests/fixtures/common.ts
Labels: desktop

#1763 LLM - react-native updated to version 0.68.5 to fix android builds
  .changeset/fuzzy-carrots-give.md
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Labels: mobile

#1493 [LIVE-4088] Remove incompatible API from ledger-live with new bitcoin app
  .changeset/khaki-feet-warn.md
  apps/cli/src/commands/testGetTrustedInputFromTxHash.ts
  libs/ledger-live-common/src/apps/__snapshots__/logic.test.ts.snap
  libs/ledger-live-common/src/apps/hw.ts
  libs/ledger-live-common/src/apps/logic.test.ts
  libs/ledger-live-common/src/apps/logic.ts
  libs/ledger-live-common/src/apps/polyfill.test.ts
  libs/ledger-live-common/src/apps/polyfill.ts
  libs/ledger-live-common/src/apps/react.test.ts
  libs/ledger-live-common/src/families/bitcoin/hw-getAddress.ts
  libs/ledger-live-common/src/families/bitcoin/hw-signMessage.ts
  libs/ledger-live-common/src/families/bitcoin/js-signOperation.ts
  libs/ledger-live-common/src/families/bitcoin/js-synchronisation.ts
  libs/ledger-live-common/src/families/bitcoin/mockBtc.ts
  libs/ledger-live-common/src/families/bitcoin/specs.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/wallet.ts
  libs/ledger-live-common/src/hw/getAddress/types.ts
  libs/ledger-live-common/src/load/speculos.ts
  libs/ledgerjs/packages/hw-app-btc/README.md
  libs/ledgerjs/packages/hw-app-btc/src/Btc.ts
  libs/ledgerjs/packages/hw-app-btc/src/BtcNew.ts
  libs/ledgerjs/packages/hw-app-btc/src/BtcOld.ts
  libs/ledgerjs/packages/hw-app-btc/tests/Btc.test.ts
  libs/ledgerjs/packages/hw-app-btc/tests/newops/BtcNew.test.ts
  libs/ledgerjs/packages/hw-app-btc/tests/newops/integrationtools.ts
  libs/ledgerjs/packages/hw-app-btc/tests/parseTx.test.ts
  libs/ledgerjs/packages/hw-app-btc/tests/trustedInputs.test.ts
Labels: common, ledgerjs, cli

#1511 LIVE-2750 [support] Code cleanup in bitcoin family wallet-btc part
  libs/ledger-live-common/src/families/bitcoin/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/bitcoin/bridge.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/bitcoin.scanAccounts.1.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/bitcoin_cash.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/bitcoin_gold.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/dash.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/decred.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/digibyte.scanAccounts.1.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/dogecoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/komodo.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/litecoin.scanAccounts.1.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/peercoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/pivx.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/qtum.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/stakenet.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/vertcoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/viacoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/zcash.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/zencash.ts
  libs/ledger-live-common/src/families/bitcoin/logic.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/account.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/base.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/bitcoin.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/bitcoincash.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/decred.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/litecoin.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/zec.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/zen.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/explorer/index.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/explorer/types.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/pickingstrategies/CoinSelect.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/pickingstrategies/DeepFirst.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/pickingstrategies/Merge.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/storage/types.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/utils.ts
Labels: common

#1750 Add OTG Banner in the LLM device selection
  .changeset/long-gifts-kick.md
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#1720 Feat/fat 533 - New device selection product feedback
  .changeset/breezy-pugs-tap.md
  .changeset/healthy-rivers-think.md
  .changeset/heavy-ducks-hide.md
  .changeset/honest-tools-smile.md
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#1733 FAT-305 - Integrate custom image in post onboarding
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingHubContent.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/logic/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/CompletionScreen.tsx
  apps/ledger-live-desktop/src/renderer/screens/customImage/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#1761 LIVE-4036 - LLM - Analytics added firstConnectHasDeviceUpdated prop
  .changeset/silly-chairs-pretend.md
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
Labels: mobile

#1745 ✅ Add some tests
  libs/ledger-live-common/src/mock/fixtures/nfts.test.ts
  libs/ledger-live-common/src/mock/fixtures/nfts.ts
  libs/ledger-live-common/src/nft/helpers.test.ts
Labels: common

#1768 ReactUI - Moved imports for png favicons to prevent error with csj
  .changeset/lazy-seas-brake.md
  libs/ui/packages/react/src/assets/providersFavicons/index.d.ts
  libs/ui/packages/react/src/assets/providersFavicons/index.js
  libs/ui/packages/react/src/components/asorted/Icon/ProviderIcon.tsx
  libs/ui/packages/react/src/components/asorted/Icon/providerFaviconsIndex.tsx
Labels: ui

#1705 Improved dust limit computation for BTC and BTC Alts
  libs/ledger-live-common/src/families/bitcoin/bridge/mock.ts
  libs/ledger-live-common/src/families/bitcoin/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/base.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/bitcoin.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/types.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/xpub.ts
Labels: common

#1769 Set bitcoin/wallet-btc jest tests as integration tests
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/wallet.errorpropagation.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/wallet.estimateMaxSpendable.integration.test.ts
Labels: common

#1734 [LIVE-3641] Feature: EIP712 dynamic CAL
  .changeset/angry-maps-doubt.md
  .changeset/chilled-months-behave.md
  .changeset/early-camels-fetch.md
  .changeset/little-fans-share.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SignMessageConfirm/index.jsx
  apps/ledger-live-desktop/src/renderer/components/SignMessageConfirm/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/steps/StepSummary.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/types.js
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/types.ts
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/utils.tsx
  apps/ledger-live-mobile/src/components/ValidateMessageOnDevice.tsx
  apps/ledger-live-mobile/src/helpers/signMessageUtils.tsx
  apps/ledger-live-mobile/src/screens/SignMessage/01-Summary.tsx
  libs/ledger-live-common/src/families/ethereum/hw-signMessage.ts
  libs/ledgerjs/packages/hw-app-eth/src/Eth.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/EIP712/EIP712.utils.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/EIP712/index.ts
  libs/ledgerjs/packages/hw-app-eth/tests/EIP712/filtered-signMessage.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/EIP712/noFilter-signMessage.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/EIP712/utils.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/ERC20/ERC20-CAL-KO.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/ERC20/ERC20-CAL-OK.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/CAL.ts
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/ERC20-KO.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/ERC20-OK.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/dynamicCAL.ts
Labels: desktop, mobile, common, ledgerjs

#1539 feat: LIVE-3802 Receive stake banner first
  .changeset/heavy-lamps-press.md
  .changeset/hip-points-clap.md
  .changeset/itchy-pumas-burn.md
  apps/ledger-live-desktop/src/renderer/components/CheckBox.jsx
  apps/ledger-live-desktop/src/renderer/families/celo/AccountHeaderManageActions/AccountHeaderManageActions.jsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/AccountHeaderManageActions.js
  apps/ledger-live-desktop/src/renderer/families/solana/AccountHeaderManageActions.js
  apps/ledger-live-desktop/src/renderer/modals/Receive/Body.jsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/assets/StakingIllustration.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveFunds.jsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveStakingFlow.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountHeaderActions.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/react/src/components/form/Checkbox/Checkbox.tsx
Labels: desktop, ui, ledgerjs, translations

#1739 Stabilize TS on LLM
  apps/ledger-live-mobile/e2e/bridge/client.js
  apps/ledger-live-mobile/src/colors.tsx
  apps/ledger-live-mobile/src/components/Nft/NftLinksPanel.tsx
  apps/ledger-live-mobile/src/components/Nft/NftViewer.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseOnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/CustomBlockRouterNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/MainNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/NftNavigator.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/components/TranslatedError.tsx
  apps/ledger-live-mobile/src/components/ValidateSuccess.tsx
  apps/ledger-live-mobile/src/families/cosmos/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/ethereum/EditFeeUnitEthereum.tsx
  apps/ledger-live-mobile/src/families/ethereum/EthereumFeesStrategy.tsx
  apps/ledger-live-mobile/src/families/hedera/EditMemo.tsx
  apps/ledger-live-mobile/src/navigation/navigatorConfig.tsx
  apps/ledger-live-mobile/src/screens/Account/ListHeaderComponent.tsx
  apps/ledger-live-mobile/src/screens/Analytics/Allocation.tsx
  apps/ledger-live-mobile/src/screens/Discover/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/importAccounts.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/BaseStepperView.tsx
  apps/ledger-live-mobile/src/screens/OperationDetails/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/Allocations.tsx
  libs/ledger-live-common/package.json
  libs/ledgerjs/packages/errors/src/deserializeError.test.ts
  libs/ledgerjs/packages/errors/src/helpers.ts
  libs/ui/packages/native/package.json
  pnpm-lock.yaml
Labels: mobile, common, ui, ledgerjs

#1783 [LIVE-4562] Feature - Enforce 1.10.1 ethereum nano app
  .changeset/witty-carrots-reply.md
  libs/ledger-live-common/src/apps/support.ts
  libs/ledger-live-common/src/families/ethereum/specs.ts
  libs/ledger-live-common/src/families/evm/specs.ts
Labels: common

#1773 [LIVE-4551] Bugfix: Make NFT & ERC20 resolutions independant in hw-app-eth
  .changeset/thin-trees-flash.md
  libs/ledger-live-common/src/families/ethereum/modules/send.ts
  libs/ledgerjs/packages/hw-app-eth/package.json
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/index.ts
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/nfts.ts
  libs/ledgerjs/packages/hw-app-eth/src/utils.ts
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/ABI/ERC1155.json
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/ABI/ERC20.json
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/ABI/ERC721.json
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/ABI/PARASWAP.json
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/REST/Paraswap-Plugin.json
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/utils.ts
  libs/ledgerjs/packages/hw-app-eth/tests/ledgerService.unit.test.ts
  pnpm-lock.yaml
Labels: common, ledgerjs

#1725 Feat/live 3675 braze integration
  .changeset/weak-mirrors-tickle.md
  .changeset/wet-lamps-drum.md
  apps/ledger-live-desktop/src/renderer/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-mobile/.env.android.nightly
  apps/ledger-live-mobile/.env.android.prerelease
  apps/ledger-live-mobile/.env.android.release
  apps/ledger-live-mobile/.env.android.staging
  apps/ledger-live-mobile/.env.ios.nightly
  apps/ledger-live-mobile/.env.ios.prerelease
  apps/ledger-live-mobile/.env.ios.release
  apps/ledger-live-mobile/.env.ios.staging
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/app/src/main/AndroidManifest.xml
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainActivity.java
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainApplication.java
  apps/ledger-live-mobile/android/app/src/main/res/drawable/ic_notification_24dp.xml
  apps/ledger-live-mobile/android/app/src/main/res/values/braze.xml
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/ios/Podfile
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.m
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/scripts/post.mjs
  apps/ledger-live-mobile/src/analytics/AnalyticsProvider.tsx
  apps/ledger-live-mobile/src/analytics/AnonymousIpPlugin.tsx
  apps/ledger-live-mobile/src/analytics/HookAnalytics.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/CheckLanguageAvailability.tsx
  apps/ledger-live-mobile/src/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/notifications.tsx
  apps/ledger-live-mobile/src/notifications/HookNotifications.ts
  apps/ledger-live-mobile/src/notifications/braze.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Discover/index.tsx
  apps/ledger-live-mobile/src/screens/FeatureFlagsSettings/FeatureFlagDetails.tsx
  apps/ledger-live-mobile/src/screens/FeatureFlagsSettings/FeatureFlagEdit.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/language.tsx
  apps/ledger-live-mobile/src/screens/PushNotificationsModal/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/EquipmentIdRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Notifications/index.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/LanguageSelect.tsx
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  pnpm-lock.yaml
Labels: desktop, mobile, ledgerjs, translations

#1663 [LLM] When deleting a token from the list of hidden tokens, it should be shown in the application
  .changeset/dirty-suits-change.md
  apps/ledger-live-desktop/release-notes.json
  apps/ledger-live-desktop/src/renderer/reducers/accounts.js
  apps/ledger-live-mobile/src/reducers/accounts.ts
  apps/ledger-live-mobile/src/screens/Account/SubAccountsList.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/Allocations.tsx
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/portfolio.ts
Labels: desktop, mobile, ledgerjs

#1807 xpub.getAddress.ts -> xpub.getAddress.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.getAddress.integration.test.ts
Labels: common

#1810 polkadot sidecar-update - fix typo
  libs/ledger-live-common/src/families/polkadot/api/sidecar.ts
Labels: common

#1811 LIVE-4546 Polkadot sidecar compatibility update
  .changeset/tasty-games-fly.md
  libs/ledger-live-common/src/families/polkadot/api/sidecar.ts
  libs/ledger-live-common/src/families/polkadot/api/sidecar.types.ts
Labels: common

#1816 Feat/LIVE-3665 - Nft gallery improve header ios
  apps/ledger-live-mobile/src/components/WalletTab/CollapsibleHeaderFlatList.tsx
  apps/ledger-live-mobile/src/components/WalletTab/CollapsibleHeaderScrollView.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabHeader.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabNavigatorScrollManager.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabNavigatorTabBar.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioEmptyState.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  pnpm-lock.yaml
Labels: mobile

#1812 The push notifications feature flag's key has been modified
  .changeset/weak-days-end.md
  apps/ledger-live-mobile/src/logic/notifications.tsx
  apps/ledger-live-mobile/src/screens/Modals/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#1819 LIVE-4585 - LLD - reactivate portuguese language
  .changeset/metal-hotels-clean.md
  apps/ledger-live-desktop/src/config/languages.ts
Labels: desktop

#1823 Feat/LIVE-4541 - Nft gallery - UI glitch on update firmware banner
  apps/ledger-live-mobile/src/components/RootNavigator/WalletTabNavigator.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/ReceiveNFTsModal.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioEmptyState.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/OperationsHistory.tsx
Labels: mobile

#1765 Add AVAX Explorer in explorerconfig
  libs/ledger-live-common/explorers-config.md
  libs/ledger-live-common/src/api/explorerConfig/index.ts
  libs/ledger-live-common/src/api/explorerConfig/types.ts
  libs/ledger-live-common/src/apps/polyfill.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/data/icons/svg/AVAXC.svg
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: common, ledgerjs

#1828 Bugfix/android manifest
  apps/ledger-live-mobile/android/app/src/main/AndroidManifest.xml
Labels: desktop, mobile, common, ui, ledgerjs, tools, automation, translations, cli

#1759 Feat/FAT-423 LLM storyly integration in sync onboarding
  .changeset/gold-windows-complain.md
  .changeset/mean-tigers-repeat.md
  .changeset/pink-planes-worry.md
  .changeset/thin-bees-camp.md
  .changeset/wicked-pugs-heal.md
  .changeset/witty-penguins-destroy.md
  apps/ledger-live-desktop/src/renderer/components/Storyly/StorylyWrapper.tsx
  apps/ledger-live-desktop/src/renderer/components/Storyly/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Storyly/types.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/RecoveryContent.tsx
  apps/ledger-live-desktop/src/renderer/modals/StorylyDebugger/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/LanguageSelect.tsx
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/components/StorylyStories/StoriesConfig.tsx
  apps/ledger-live-mobile/src/components/StorylyStories/StoryGroupItem.tsx
  apps/ledger-live-mobile/src/components/StorylyStories/StorylyWrapper.tsx
  apps/ledger-live-mobile/src/components/StorylyStories/index.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/screens/DebugStoryly.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/OpenDebugStoryly.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/index.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ledgerjs/packages/types-live/src/index.ts
  libs/ledgerjs/packages/types-live/src/storyly.ts
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/TimelineItem.tsx
  pnpm-lock.yaml
Labels: desktop, mobile, common, ui, ledgerjs

#1815 🛠 LLM : LIVE-4479 : Setup Braze content cards
  apps/ledger-live-mobile/src/actions/dynamicContent.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/dynamicContent/brazeContentCard.ts
  apps/ledger-live-mobile/src/dynamicContent/dynamicContent.tsx
  apps/ledger-live-mobile/src/dynamicContent/useContentCards.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/reducers/dynamicContent.ts
  apps/ledger-live-mobile/src/reducers/index.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
Labels: mobile

#1832 Feat/LIVE-4595 - NFT gallery put back pull to refresh on portfolio screen
  apps/ledger-live-mobile/src/components/Nft/NftList.tsx
  apps/ledger-live-mobile/src/components/globalSyncRefreshControl.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
Labels: mobile

#1785 remove navigation from buy / sell live app topbar
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.jsx
Labels: desktop

#1833 Fastlane/Firebase config: use stagingRelease buildType for :apk and :apk_local builds
  .changeset/selfish-beds-flash.md
  .github/workflows/build-mobile.yml
  apps/ledger-live-mobile/.env.android.prerelease
  apps/ledger-live-mobile/.env.android.release
  apps/ledger-live-mobile/.env.android.staging
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/fastlane/Fastfile
  apps/ledger-live-mobile/mobile-env.md
Labels: mobile, automation

#1836 Fix chainId encoding for Ethereum family transactions
  libs/ledger-live-common/src/families/ethereum/signOperation.ts
Labels: common

#1781 Specs cosmos fix reward
  libs/ledger-live-common/src/families/cosmos/logic.ts
  libs/ledger-live-common/src/families/cosmos/specs.ts
  libs/ledger-live-common/src/families/osmosis/specs.ts
Labels: common

#1803 Add one switch to enable multiple flags at once
  .changeset/pink-monkeys-heal.md
  .changeset/popular-eagles-camp.md
  .changeset/pretty-rivers-hear.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsSettings/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/index.tsx
Labels: desktop, mobile

#1843 Make the CI run dummy jobs to pass required status checks
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile.yml
Labels: automation

#1850 tweak the is-affected CI checkout to handle forks
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile.yml
Labels: automation

#1827 bugfix/LIVE-4591 Fix navigation lock bug on top left (back) navigation
  .changeset/witty-fireants-hide.md
  apps/ledger-live-mobile/src/components/RootNavigator/CustomBlockRouterNavigator.tsx
  apps/ledger-live-mobile/src/screens/PostOnboarding/PostOnboardingHub.tsx
Labels: mobile

#1859 bugfix/LIVE-4622 Fix DebugHttpTransport screen
  .changeset/bright-zebras-add.md
  apps/ledger-live-mobile/src/screens/DebugHttpTransport.tsx
Labels: mobile

#1846 FIX elrond bot specs
  libs/ledger-live-common/src/families/elrond/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/elrond/specs.ts
  libs/ledger-live-common/src/families/elrond/speculos-deviceActions.ts
Labels: common, fork

#1853 [LIVE-4608][LIVE-4621] Bugfix - Fix gas limit estimation for token transactions
  .changeset/dry-bugs-grow.md
  libs/ledger-live-common/src/families/ethereum/prepareTransaction.ts
Labels: common

#1842 if no srcDelegation avoid crash
  .changeset/beige-moles-notice.md
  apps/ledger-live-mobile/src/families/cosmos/RedelegationFlow/01-SelectValidator.tsx
  libs/ledger-live-common/src/apps/support.ts
Labels: mobile, common

#1869 uncapped provider for tests
  libs/ledger-live-common/src/families/elrond/specs.ts
Labels: common, fork

#1870 Every notifications categories are enabled by default even when updating LL to 3.11
  .changeset/itchy-rats-cheer.md
  apps/ledger-live-mobile/src/logic/notifications.tsx
Labels: mobile

#1799 Feat/live 4260 avax bot
  libs/ledger-live-common/src/env.ts
  libs/ledger-live-common/src/families/ethereum/specs.ts
  libs/ledger-live-common/src/families/ethereum/synchronisation.ts
Labels: common

#1875 active stake check
  libs/ledger-live-common/src/families/elrond/specs.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
Labels: common, ledgerjs, fork

#1876 📈 LLM - LIVE-4629: Track analytics On NFT Gallery
  apps/ledger-live-mobile/src/components/Nft/HideNftDrawer.tsx
  apps/ledger-live-mobile/src/components/Nft/NftLinksPanel.tsx
  apps/ledger-live-mobile/src/components/Nft/NftList.tsx
  apps/ledger-live-mobile/src/components/Nft/NftListItem.tsx
  apps/ledger-live-mobile/src/components/Nft/NftViewer.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/NftGalleryEmptyState.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/ReceiveNFTsModal.tsx
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
Labels: mobile

#1878 Ledger by Figment preselected
  apps/ledger-live-desktop/src/renderer/families/elrond/constants.ts
  libs/ledger-live-common/src/families/elrond/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/elrond/bridge.integration.test.ts
Labels: desktop, common, fork

#1867 bugfix/LIVE-4623 Fix crash on Android 12+ during FW Update
  .changeset/twelve-plums-rescue.md
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/BackgroundRunner.kt
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainActivity.java
Labels: mobile

#1885 Deactive fee check for esdts
  libs/ledger-live-common/src/families/elrond/specs.ts
  libs/ledger-live-common/src/families/elrond/speculos-deviceActions.ts
Labels: common, fork

#1741 Support: FAT-597 quick fix for 0x5515 error
  .changeset/fifty-garlics-marry.md
  .changeset/little-parrots-swim.md
  .changeset/selfish-lobsters-enjoy.md
  apps/ledger-live-desktop/src/renderer/components/CustomImage/CustomImageDeviceAction.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/ErrorDisplay.js
  apps/ledger-live-desktop/src/renderer/components/ErrorDisplay.tsx
  apps/ledger-live-desktop/src/renderer/modals/SellDeviceConfirm/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/CustomImageDeviceAction.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/api/socket.ts
  libs/ledger-live-common/src/hw/connectApp.ts
  libs/ledger-live-common/src/hw/connectManager.ts
  libs/ledger-live-common/src/hw/getDeviceRunningMode.test.ts
  libs/ledger-live-common/src/hw/getDeviceRunningMode.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: desktop, mobile, common, ledgerjs, translations

#1840 Fix: FAT-607: a first improvement on BLE and polling mechanism
  .changeset/twenty-cows-burn.md
  apps/ledger-live-mobile/src/helpers/useResetOnNavigationFocusState.ts
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/index.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.test.ts
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.ts
Labels: mobile, common

#1890 Feat/LIVE-4627/LIVE-4607/LIVE-4615 - Wallet NFt Gallery misc display fixes
  apps/ledger-live-mobile/src/components/Nft/NftList.tsx
  apps/ledger-live-mobile/src/components/Nft/NftListItem.tsx
Labels: mobile

#1760 Feat/new contrast selection cls
  apps/ledger-live-mobile/src/components/CustomImage/BottomButtonsContainer.tsx
  apps/ledger-live-mobile/src/components/CustomImage/ContrastChoice.tsx
  apps/ledger-live-mobile/src/components/CustomImage/imageUtils.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/CustomImage/Step0Welcome.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step1Crop.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step2Preview.tsx
Labels: mobile, translations

#1902 force playwright @ 1.27.1
  apps/ledger-live-desktop/package.json
  pnpm-lock.yaml
  tools/actions/composites/test-desktop/action.yml
  tools/actions/composites/update-snapshots-desktop/action.yml
Labels: desktop, tools

#1829 LIVE-4306: [feat] select exchange when navigating to smart routing
  .changeset/stale-rabbits-deliver.md
  apps/ledger-live-desktop/src/renderer/components/BalanceInfos/index.jsx
  apps/ledger-live-desktop/src/renderer/components/BuyButton.jsx
  apps/ledger-live-desktop/src/renderer/components/ContextMenu/AccountContextMenu.jsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountHeaderActions.jsx
  apps/ledger-live-desktop/src/renderer/screens/account/EmptyStateAccount.jsx
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.jsx
  apps/ledger-live-desktop/src/renderer/screens/lend/modals/EmptyAccountDeposit/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoinScreen/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketRowItem.tsx
Labels: desktop

#1904 Fix rendering crash in new device selection screen
  .changeset/brown-pumpkins-crash.md
  apps/ledger-live-mobile/src/components/SelectDevice2/RemoveDeviceMenu.tsx
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/PairDevices/index.tsx
Labels: mobile

#1898 Make playwright runs generate log files exported on the CI
  apps/ledger-live-desktop/src/logger/logger-transport-file.js
  apps/ledger-live-desktop/src/main/setup.js
  apps/ledger-live-desktop/tests/fixtures/common.ts
  tools/actions/composites/test-desktop/action.yml
Labels: desktop, tools

#1822 Refine bot Slack reporting
  .github/workflows/bot-carbon.yml
  .github/workflows/bot-mere-denis.yml
  .github/workflows/bot-mooncake.yml
  .github/workflows/bot-oxygen.yml
  .github/workflows/bot-phosphore.yml
  .github/workflows/bot-silicium.yml
  libs/ledger-live-common/src/bot/index.ts
Labels: common, automation

#1779 feat/FAT-505 APDU integration for hash fetching
  .changeset/friendly-seas-thank.md
  .changeset/hip-peaches-hang.md
  .changeset/nine-donkeys-walk.md
  .changeset/thin-sloths-do.md
  apps/cli/src/commands-index.ts
  apps/cli/src/commands/ftsFetchAndRestoreDemo.ts
  apps/cli/src/commands/ftsFetchImage.ts
  apps/cli/src/commands/ftsFetchImageHash.ts
  apps/cli/src/commands/ftsLoadImage.ts
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/DebugFetchCustomImage.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/OpenDebugFetchCustomImage.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/index.tsx
  libs/ledger-live-common/src/hw/actions/ftsFetchImage.ts
  libs/ledger-live-common/src/hw/ftsFetchImage.ts
  libs/ledger-live-common/src/hw/ftsFetchImageHash.test.ts
  libs/ledger-live-common/src/hw/ftsFetchImageHash.ts
  libs/ledger-live-common/src/hw/ftsLoadImage.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: mobile, common, ledgerjs, cli

#1916 Disable storyly LLD
  .changeset/shy-months-attend.md
  apps/ledger-live-desktop/src/renderer/Default.jsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/RecoveryContent.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useStoryly.tsx
  apps/ledger-live-desktop/src/renderer/modals/StorylyDebugger/index.tsx
Labels: desktop

#1913 [LIVE-4672] Bugfix - Prevents error on ERC1155 transfer without quantity
  .changeset/sixty-buckets-kiss.md
  apps/ledger-live-desktop/package.json
  libs/ledger-live-common/src/families/ethereum/__tests__/transaction.unit.test.ts
  libs/ledger-live-common/src/families/ethereum/modules/erc1155.ts
  libs/ledger-live-common/src/families/ethereum/transaction.ts
  libs/ledger-live-common/src/families/ethereum/types.ts
  pnpm-lock.yaml
  tools/actions/composites/test-desktop/action.yml
  tools/actions/composites/update-snapshots-desktop/action.yml
Labels: desktop, common, tools

#1817 Feat: integrate cic provider
  .changeset/lazy-dingos-visit.md
  .changeset/metal-guests-exercise.md
  .changeset/wise-dryers-appear.md
  apps/ledger-live-desktop/src/config/urls.js
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/icons/Cic.jsx
  apps/ledger-live-desktop/src/renderer/icons/providers/Cic.jsx
  apps/ledger-live-desktop/src/renderer/icons/providers/index.js
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/icons/swap/Cic.tsx
  apps/ledger-live-mobile/src/icons/swap/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/DebugSwap.tsx
  libs/ledger-live-common/src/exchange/swap/index.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.test.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.ts
Labels: desktop, mobile, common, translations

#1774 New edit flow
  .changeset/pretty-terms-repair.md
  apps/ledger-live-mobile/src/components/CustomImage/CustomImageBottomModal.tsx
  apps/ledger-live-mobile/src/components/CustomImage/useCenteredImage.tsx
  apps/ledger-live-mobile/src/components/CustomImage/useResizedImage.tsx
  apps/ledger-live-mobile/src/components/Nft/NftLinksPanel.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/CustomImageNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/CustomImageNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/CustomImage/PreviewPostEdit.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/PreviewPreEdit.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step1Crop.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step2Preview.tsx
Labels: mobile, translations

#1888 Introduce 'test-integration-pr'
  .github/workflows/test-integration-pr.yml
  pnpm-lock.yaml
  tools/actions/live-common-affected/action.yml
  tools/actions/live-common-affected/build/main.js
  tools/actions/live-common-affected/package.json
  tools/actions/live-common-affected/src/main.ts
  tools/actions/live-common-affected/tsconfig.json
Labels: tools, automation

#1929 fix(ci): generate-screenshot to use is-fork now
  .github/workflows/generate-screenshots.yml
Labels: automation

#1927 bot engine to include spec mutation with .error
  libs/ledger-live-common/src/bot/index.ts
Labels: common

#1931 [LIVE-4684] Bugfix - Wrong prepareTransaction gasPrice with EIP1559
  .changeset/warm-dolphins-study.md
  libs/ledger-live-common/src/families/ethereum/__tests__/transaction.unit.test.ts
  libs/ledger-live-common/src/families/ethereum/modules/send.ts
  libs/ledger-live-common/src/families/ethereum/specs.ts
Labels: common

#1937 Cherry-pick Hotfix 🍒 🌶️ 🩹
  .changeset/sixty-buckets-kiss.md
  .changeset/warm-dolphins-study.md
  libs/ledger-live-common/src/families/ethereum/__tests__/transaction.unit.test.ts
  libs/ledger-live-common/src/families/ethereum/modules/erc1155.ts
  libs/ledger-live-common/src/families/ethereum/modules/send.ts
  libs/ledger-live-common/src/families/ethereum/specs.ts
  libs/ledger-live-common/src/families/ethereum/transaction.ts
  libs/ledger-live-common/src/families/ethereum/types.ts
Labels: common

#1930 LIVE-4306: smart routing add lang query param
  .changeset/eight-walls-move.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.jsx
Labels: desktop

#1908 Prevent Sol user to max send all SOL
  .changeset/yellow-pens-study.md
  libs/ledger-live-common/src/__tests__/test-helpers/bridge.ts
  libs/ledger-live-common/src/families/solana/bridge.integration.test.ts
  libs/ledger-live-common/src/families/solana/js-prepareTransaction.ts
  libs/ledger-live-common/src/families/solana/logic.ts
Labels: common

#1847 update test and apdus for cardano
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/families/cardano/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/cardano/bridge.integration.test.ts
  libs/ledger-live-common/src/families/cardano/datasets/rawAccount.1.ts
  libs/ledger-live-common/src/families/cardano/datasets/scanAccounts.ts
  libs/ledger-live-common/src/families/cardano/js-getTransactionStatus.ts
  libs/ledgerjs/packages/cryptoassets/data/cardanoNative.js
Labels: desktop, mobile, common, ledgerjs, tools, automation, translations, fork

#1941 ⚡ HighLight text on Asset Content Card
  apps/ledger-live-mobile/src/components/Carousel/CarouselCard.tsx
  libs/ui/packages/native/src/components/Cards/CardA/index.tsx
  libs/ui/packages/native/src/components/Cards/CardB/index.tsx
  libs/ui/packages/native/src/components/Cards/helper.tsx
Labels: mobile, ui

#1835 Support / LLC - fix viewport issue on crypto icons
  .changeset/real-ravens-smile.md
  libs/ledger-live-common/scripts/buildReactIcons.js
  libs/ledger-live-common/src/data/icons/svg/SSV.svg
  libs/ledger-live-common/src/data/icons/svg/YAE.svg
Labels: common

#1910 LIVE-2627 use max instand of send max
  .changeset/tidy-seals-hide.md
  apps/ledger-live-desktop/src/renderer/families/cosmos/DelegationFlowModal/steps/StepAmount.jsx
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationFlowModal/steps/StepAmount.jsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/AmountField.tsx
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/el/app.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fi/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/hu/app.json
  apps/ledger-live-desktop/static/i18n/it/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/nl/app.json
  apps/ledger-live-desktop/static/i18n/no/app.json
  apps/ledger-live-desktop/static/i18n/pl/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/pt/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/sr/app.json
  apps/ledger-live-desktop/static/i18n/sv/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/screens/Lending/shared/01-Amount.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/03a-AmountCoin.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Max.tsx
Labels: desktop, mobile, translations

#1947 📈 Improve analytics on Content cards
  apps/ledger-live-mobile/src/components/Carousel/CarouselCard.tsx
  apps/ledger-live-mobile/src/dynamicContent/dynamicContent.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
Labels: mobile

#1944 [LIVE-4698][LIVE-4702] Bugfix - Fix ethereum send max on dusty account and getTransactionStatus not being triggered
  .changeset/shaggy-chairs-end.md
  libs/ledger-live-common/src/families/ethereum/__tests__/transaction.unit.test.ts
  libs/ledger-live-common/src/families/ethereum/modules/send.ts
  libs/ledger-live-common/src/families/ethereum/prepareTransaction.ts
Labels: common

#1945 Bugfix/fat 663 android pairing permissions
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/BluetoothHelperModule.java
  apps/ledger-live-mobile/src/components/LocationRequired/LocationServicesButton.tsx
  apps/ledger-live-mobile/src/components/LocationRequired/OpenAppPermissionsSettingsButton.tsx
  apps/ledger-live-mobile/src/components/LocationRequired/index.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/AndroidRequiresBluetoothPermissions.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/AndroidRequiresLocationPermissions.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/BluetoothDisabled.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/RequiresBluetoothEnabled.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/RequiresLocationOnAndroid.android.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/RequiresLocationOnAndroid.ios.ts
  apps/ledger-live-mobile/src/components/RequiresBLE/RequiresLocationOnAndroid.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/androidBlePermissions.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/usePromptBluetoothCallback.ts
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/BleDevicesScanning.tsx
  apps/ledger-live-mobile/src/screens/LocationRequired/index.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/RenderError.tsx
Labels: mobile, translations

#1845 support(ledgerjs-cal): 20221117 CAL update, LIVE-4719
  .changeset/fifty-seals-try.md
  .changeset/funny-buttons-compete.md
  .changeset/fuzzy-rivers-crash.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/data/bep20.js
  libs/ledgerjs/packages/cryptoassets/data/erc20-signatures.js
  libs/ledgerjs/packages/cryptoassets/data/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/exchange/bep20.js
  libs/ledgerjs/packages/cryptoassets/data/exchange/coins.js
  libs/ledgerjs/packages/cryptoassets/data/exchange/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/polygon-erc20.js
Labels: desktop, common, ledgerjs

#1899 LIVE-3432 - LLD - Handle ECONNRESET error with better message
  .changeset/ninety-eggs-look.md
  .changeset/sour-snakes-fry.md
  apps/ledger-live-desktop/src/config/urls.js
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/errors.ts
Labels: desktop, common, translations

#1938 Wallet API server implementation for desktop
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/components/PerCurrencySelectAccount/state.js
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/WebView.tsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/WebViewV2.tsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/index.tsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/AccountList.jsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/SelectAccountAndCurrencyDrawer.jsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/SelectAccountDrawer.jsx
  apps/ledger-live-mobile/src/screens/RequestAccount/02-SelectAccount.tsx
  libs/ledger-live-common/src/wallet-api/react.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common

#1954 ESDT tokens issues LLM
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/ios/ledgerlivemobileTests/Info.plist
  apps/ledger-live-mobile/src/components/CurrencyInput.tsx
  apps/ledger-live-mobile/src/families/elrond/accountActions.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Body/Body.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Body/components/Delegations/Delegations.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Body/types.ts
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Claim/components/PickMethod/types.ts
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Claim/components/ValidationError/types.ts
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Claim/components/ValidationSuccess/types.ts
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Delegate/components/PickAmount/PickAmount.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Delegate/components/PickAmount/types.ts
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Delegate/components/ValidationError/types.ts
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Delegate/components/ValidationSuccess/types.ts
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Undelegate/components/PickAmount/PickAmount.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Undelegate/components/PickAmount/types.ts
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Undelegate/components/ValidationError/types.ts
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Undelegate/components/ValidationSuccess/types.ts
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Withdraw/components/ValidationError/types.ts
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Withdraw/components/ValidationSuccess/types.ts
  apps/ledger-live-mobile/src/families/elrond/components/Summary/Summary.tsx
Labels: mobile, fork

#1958 [support] Provide VSCode configs to debug Electron main and renderer threads
  .gitignore
  .vscode/launch.json
  apps/ledger-live-desktop/README.md
Labels: desktop

#1642 Feat/update swap data tracking
  .changeset/slow-crabs-develop.md
  apps/ledger-live-desktop/src/renderer/components/BalanceInfos/index.jsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/families/bitcoin/SendAmountFields.jsx
  apps/ledger-live-desktop/src/renderer/families/cardano/MemoValueField.jsx
  apps/ledger-live-desktop/src/renderer/families/hedera/MemoField.jsx
  apps/ledger-live-desktop/src/renderer/families/hedera/SendAmountFields.jsx
  apps/ledger-live-desktop/src/renderer/families/hedera/types.js
  apps/ledger-live-desktop/src/renderer/families/ripple/SendAmountFields.jsx
  apps/ledger-live-desktop/src/renderer/families/stellar/SendAmountFields.jsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountHeaderActions.jsx
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.jsx
  apps/ledger-live-desktop/src/renderer/screens/asset/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/ExchangeDrawer/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawer/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormKYCBanner/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormLoginBanner/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormNotAvailable/FormNotAvailable.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FormInputs.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FromRow.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/ToRow.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionFees.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionTarget.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/TargetAccountDrawer/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/KYC/Wyre/Pending.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/KYC/Wyre/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Navbar/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Navbar/routes.json
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/utils/index.js
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoinScreen/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketRowItem.tsx
Labels: desktop, Stale

#1874 catch all solana error into network down
  .changeset/empty-books-listen.md
  libs/ledger-live-common/src/families/solana/api/chain/index.ts
Labels: common

#1963 New CIC icon (knowledge transmission with ptx team)
  .changeset/breezy-lamps-pull.md
  libs/ui/packages/icons/src/additionalIcons/Providers/CIC.svg
Labels: ui

#1971 update snapshot
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
Labels: desktop, common

#1974 Allows ci-test-integration to pass without test
  libs/ledger-live-common/package.json
Labels: common

#1826 remove initOnlyAsm mobile because its default now
  apps/ledger-live-desktop/package.json
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/reactNative.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common

#1983 LIVE-2627 Revert change key on mobile for usemax
  .changeset/real-bees-roll.md
  apps/ledger-live-mobile/src/screens/Lending/shared/01-Amount.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/03a-AmountCoin.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Max.tsx
Labels: mobile

#1989 Bugfix - Fix EIP712 CAL importer not merging all files
  libs/ledgerjs/script/crypto-assets-importer/importers/eip712.js
Labels: ledgerjs

#1975 Improve layout in ValidateOnDevice
  .changeset/funny-ants-accept.md
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/ValidateOnDevice.tsx
  apps/ledger-live-mobile/src/screens/ConnectDevice.tsx
Labels: mobile

#1985 📈 Improve Analytics on NFT Gallery Page
  .changeset/sharp-gorillas-turn.md
  apps/ledger-live-mobile/src/components/Nft/AddNewItemList.tsx
  apps/ledger-live-mobile/src/components/Nft/NftList.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabNavigatorTabBar.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/NftGalleryEmptyState.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/ReceiveNFTsModal.hook.ts
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/ReceiveNFTsModal.tsx
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
Labels: mobile

#1918 [FEATURE][LIVE-4592] Add ERC 20 funding
  .changeset/serious-peaches-crash.md
  libs/ledger-live-common/src/exchange/platform/transfer/completeExchange.ts
  libs/ledger-live-common/src/exchange/testCurrencyConfig/data/erc20.ts
  libs/ledger-live-common/src/exchange/testCurrencyConfig/index.ts
  libs/ledger-live-common/src/mock/fixtures/cryptoCurrencies.ts
  libs/ledger-live-common/src/platform/logic.test.ts
  libs/ledger-live-common/src/platform/logic.ts
Labels: common

#1996 Bugfix - Fixes to tracking in NFT Viewer and linked drawers
  apps/ledger-live-mobile/src/analytics/TrackScreen.tsx
  apps/ledger-live-mobile/src/components/Nft/HideNftDrawer.tsx
  apps/ledger-live-mobile/src/components/Nft/NftLinksPanel.tsx
  apps/ledger-live-mobile/src/components/Nft/NftList.tsx
  apps/ledger-live-mobile/src/components/Nft/NftViewer.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/NftGalleryEmptyState.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/ReceiveNFTsModal.hook.ts
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/ReceiveNFTsModal.tsx
Labels: mobile

#2004 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#1956 Bugfix: LIVE-4157 change cic support link llm
  .changeset/shy-bats-end.md
  .changeset/witty-needles-talk.md
  apps/ledger-live-desktop/src/renderer/icons/Cic.jsx
  apps/ledger-live-desktop/src/renderer/icons/providers/Cic.jsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/SwapNavigator.ts
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/icons/swap/Cic.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Summary/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectProvider.tsx
Labels: desktop, mobile

#1998 Updated Payment providers icon : new sources and updated sizes
  .changeset/tall-snails-beam.md
  libs/ui/packages/icons/scripts/buildIcons.js
  libs/ui/packages/icons/src/additionalIcons/Payment/ACH.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Apple Pay.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/AstroPay.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Baanx.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Bancontact.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Bank.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/CreditCard.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/EPS.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/EasyPay.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Girocard.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Giropay.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Google Pay.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Maestro.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Mastercard.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Paypal.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Pix.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Sepa.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Sofort.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Visa.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/applepay.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/cash app.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/faster payment.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/googlepay.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/ideal.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/mobikwik.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/scb easy.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/upi.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/venmo.svg
  libs/ui/packages/react/src/components/asorted/Icon/PaymentIcon.stories.tsx
  libs/ui/packages/react/src/components/asorted/Icon/PaymentIcon.tsx
Labels: ui

#1995 CI: add a check to ensure that a PR is up to date
  tools/github-bot/src/index.ts
Labels: tools

#1993 LLD: Introduce "Troubleshoot network" panel
  apps/ledger-live-desktop/src/internal/commands/index.js
  apps/ledger-live-desktop/src/internal/commands/networkTroubleshoot.js
  apps/ledger-live-desktop/src/renderer/components/TroubleshootNetworkButton.jsx
  apps/ledger-live-desktop/src/renderer/modals/TroubleshootNetwork/Body.jsx
  apps/ledger-live-desktop/src/renderer/modals/TroubleshootNetwork/index.jsx
  apps/ledger-live-desktop/src/renderer/modals/index.js
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Help/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-help-page-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-help-page-linux.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-help-page-win32.png
  libs/ledger-live-common/src/network-troubleshooting/basic.integration.test.ts
  libs/ledger-live-common/src/network-troubleshooting/index.ts
Labels: desktop, common, translations, screenshots

#1977 Introduce REPL in monorepo
  libs/ledgerjs/packages/react-native-hw-transport-ble/src/BleTransport.ts
  pnpm-lock.yaml
  tools/common-tools/config-overrides.js
  tools/common-tools/package.json
  tools/common-tools/src/demos/index.js
  tools/common-tools/src/demos/repl/commands.js
  tools/common-tools/src/demos/repl/components/ApduCommandSender.js
  tools/common-tools/src/demos/repl/components/App.js
  tools/common-tools/src/demos/repl/components/Form.js
  tools/common-tools/src/demos/repl/components/FormField.js
  tools/common-tools/src/demos/repl/components/LiveEnvEditor.js
  tools/common-tools/src/demos/repl/components/SendButton.js
  tools/common-tools/src/demos/repl/components/Smallbutton.js
  tools/common-tools/src/demos/repl/components/Theme.js
  tools/common-tools/src/demos/repl/components/fields/AccountField.js
  tools/common-tools/src/demos/repl/components/fields/AddressField.js
  tools/common-tools/src/demos/repl/components/fields/AmountField.js
  tools/common-tools/src/demos/repl/components/fields/ApplicationField.js
  tools/common-tools/src/demos/repl/components/fields/AsciiField.js
  tools/common-tools/src/demos/repl/components/fields/CheckboxField.js
  tools/common-tools/src/demos/repl/components/fields/CryptoCurrencySelect.js
  tools/common-tools/src/demos/repl/components/fields/DerivationModeField.js
  tools/common-tools/src/demos/repl/components/fields/GasLimitField.js
  tools/common-tools/src/demos/repl/components/fields/TokenSelect.js
  tools/common-tools/src/demos/repl/components/fields/index.js
  tools/common-tools/src/demos/repl/helpers/commands.js
  tools/common-tools/src/demos/repl/helpers/env.js
  tools/common-tools/src/demos/repl/index.css
  tools/common-tools/src/demos/repl/index.js
  tools/common-tools/src/demos/repl/live-common-setup.js
  tools/common-tools/src/demos/repl/theme.js
Labels: ledgerjs, tools

#1831 ✨ LLM : LIVE-4018 : Braze content cards
  .changeset/flat-moose-bake.md
  .changeset/spotty-mice-wave.md
  apps/ledger-live-mobile/e2e/setups/1AccountBTC1AccountETH.json
  apps/ledger-live-mobile/e2e/setups/freshApp.json
  apps/ledger-live-mobile/e2e/setups/onboardingcompleted.json
  apps/ledger-live-mobile/src/actions/dynamicContent.ts
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/Carousel/CarouselCard.tsx
  apps/ledger-live-mobile/src/components/Carousel/index.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/WalletTabNavigator.tsx
  apps/ledger-live-mobile/src/context/LedgerStore.tsx
  apps/ledger-live-mobile/src/dynamicContent/brazeContentCard.ts
  apps/ledger-live-mobile/src/dynamicContent/dynamicContent.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/dynamicContent/useContentCards.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/reducers/dynamicContent.ts
  apps/ledger-live-mobile/src/reducers/index.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/CarouselRow.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  libs/ui/packages/native/package.json
  libs/ui/packages/native/src/components/Cards/CardA/ColoredGradient.tsx
  libs/ui/packages/native/src/components/Cards/CardA/ShadowGradient.tsx
  libs/ui/packages/native/src/components/Cards/CardA/index.tsx
  libs/ui/packages/native/src/components/Cards/CardB/index.tsx
  libs/ui/packages/native/src/components/Cards/helper.tsx
  libs/ui/packages/native/src/components/Cards/index.ts
  libs/ui/packages/native/src/components/cta/Link/index.tsx
  libs/ui/packages/native/src/components/index.ts
  libs/ui/packages/native/storybook/stories/Cards/Cards.stories.tsx
  libs/ui/packages/native/storybook/stories/Cards/descriptionsCards.ts
  libs/ui/packages/native/storybook/stories/index.ts
  pnpm-lock.yaml
Labels: mobile, ui, translations

#1986 feat: LIVE-4749 LLD no redirection to asset page from receive banner
  .changeset/pink-houses-do.md
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveFunds.jsx
Labels: desktop

#2008 Bugfix/send user id to analytics track events
  apps/ledger-live-mobile/src/analytics/AnonymousIpPlugin.tsx
  apps/ledger-live-mobile/src/analytics/segment.ts
Labels: mobile

#1746 NFT Gallery entrypoint
  .changeset/slow-camels-relax.md
  apps/ledger-live-mobile/src/components/CustomImage/CustomImageBottomModal.tsx
  apps/ledger-live-mobile/src/components/CustomImage/imageUtils.ts
  apps/ledger-live-mobile/src/components/CustomImage/types.ts
  apps/ledger-live-mobile/src/components/Nft/NftLinksPanel.tsx
  apps/ledger-live-mobile/src/components/Nft/NftList.tsx
  apps/ledger-live-mobile/src/components/Nft/NftListItem.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/CustomImageNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/CustomImageNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/CustomImage/NFTGallerySelector.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/PreviewPreEdit.tsx
Labels: mobile, translations

#1911 FAT-659 Automatically select last seen device if compatible for CLS
  .changeset/warm-fishes-talk.md
  apps/ledger-live-mobile/src/screens/CustomImage/Step3Transfer.tsx
Labels: mobile

#1871 bugfix/FAT-588 Improve LLM background device communication
  .changeset/cyan-feet-worry.md
  .changeset/giant-walls-march.md
  .changeset/sour-countries-learn.md
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  libs/ledger-live-common/src/apps/runner.ts
  libs/ledgerjs/packages/react-native-hw-transport-ble/src/BleTransport.ts
Labels: mobile, common, ledgerjs

#2005 ✨ FEAT: LIVE-4457: Notification Center Announcements section in LLM
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/src/actions/dynamicContent.ts
  apps/ledger-live-mobile/src/components/Carousel/CarouselCard.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/NotificationCenterNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/NotificationCenterNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/dynamicContent/dynamicContent.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/dynamicContent/useContentCards.ts
  apps/ledger-live-mobile/src/dynamicContent/useDynamicContentLogic.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/NotificationCenter/News.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/NewsRow.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/Notifications.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/Snackbar/SnackbarContainer.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/helper.ts
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  libs/ui/packages/native/src/components/Cards/CardC/index.tsx
  libs/ui/packages/native/src/components/Cards/index.ts
  libs/ui/packages/native/storybook/stories/Cards/Cards.stories.tsx
  libs/ui/packages/native/storybook/stories/Cards/descriptionsCards.ts
  pnpm-lock.yaml
Labels: mobile, ui, translations

#1959 Feat/live-4625 Fix btc swap
  .changeset/wicked-walls-taste.md
  apps/cli/src/commands/testGetTrustedInputFromTxHash.ts
  libs/ledger-live-common/src/apps/__snapshots__/logic.test.ts.snap
  libs/ledger-live-common/src/apps/hw.ts
  libs/ledger-live-common/src/apps/logic.test.ts
  libs/ledger-live-common/src/apps/logic.ts
  libs/ledger-live-common/src/apps/polyfill.test.ts
  libs/ledger-live-common/src/apps/polyfill.ts
  libs/ledger-live-common/src/apps/react.test.ts
  libs/ledger-live-common/src/families/bitcoin/hw-getAddress.ts
  libs/ledger-live-common/src/families/bitcoin/hw-signMessage.ts
  libs/ledger-live-common/src/families/bitcoin/js-signOperation.ts
  libs/ledger-live-common/src/families/bitcoin/js-synchronisation.ts
  libs/ledger-live-common/src/families/bitcoin/mockBtc.ts
  libs/ledger-live-common/src/families/bitcoin/specs.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/wallet.ts
  libs/ledger-live-common/src/hw/getAddress/types.ts
  libs/ledger-live-common/src/load/speculos.ts
  libs/ledgerjs/packages/hw-app-btc/README.md
  libs/ledgerjs/packages/hw-app-btc/src/Btc.ts
  libs/ledgerjs/packages/hw-app-btc/src/BtcNew.ts
  libs/ledgerjs/packages/hw-app-btc/src/BtcOld.ts
  libs/ledgerjs/packages/hw-app-btc/src/getAppAndVersion.ts
  libs/ledgerjs/packages/hw-app-btc/tests/Btc.test.ts.disabled
  libs/ledgerjs/packages/hw-app-btc/tests/newops/BtcNew.test.ts
  libs/ledgerjs/packages/hw-app-btc/tests/newops/integrationtools.ts
  libs/ledgerjs/packages/hw-app-btc/tests/parseTx.test.ts
  libs/ledgerjs/packages/hw-app-btc/tests/trustedInputs.test.ts.disabled
Labels: common, ledgerjs, cli

#1852 Add custom image deeplink
  .changeset/olive-melons-smash.md
  apps/ledger-live-mobile/docs/linking.md
  apps/ledger-live-mobile/src/components/RootNavigator/MainNavigator.tsx
  apps/ledger-live-mobile/src/context/NoNanoBuyNanoWall.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step3Transfer.tsx
Labels: mobile
