Repository LedgerHQ/ledger-live, pull requests merged in 2022-09, with the labels that each got.

#1131 Feat: FAT-43-100: new BLE pairing flow on develop
  .changeset/hot-ears-pretend.md
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/animations/nanoFTS/BlePaired/dark.json
  apps/ledger-live-mobile/src/animations/nanoFTS/BlePaired/light.json
  apps/ledger-live-mobile/src/animations/nanoFTS/BlePairing/dark.json
  apps/ledger-live-mobile/src/animations/nanoFTS/BlePairing/light.json
  apps/ledger-live-mobile/src/animations/nanoX/BlePaired/dark.json
  apps/ledger-live-mobile/src/animations/nanoX/BlePaired/light.json
  apps/ledger-live-mobile/src/animations/nanoX/BlePairing/dark.json
  apps/ledger-live-mobile/src/animations/nanoX/BlePairing/light.json
  apps/ledger-live-mobile/src/components/DeviceAction/getDeviceAnimation.ts
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/FirmwareUpdate/ConfirmPinStep.tsx
  apps/ledger-live-mobile/src/components/FirmwareUpdate/ConfirmUpdateStep.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/ValidateMessageOnDevice.tsx
  apps/ledger-live-mobile/src/components/ValidateOnDevice.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/helpers/getDeviceAnimation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/BleDeviceItem.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/BleDeviceScanning.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/index.tsx
  apps/ledger-live-mobile/src/screens/DebugLottie.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03b-VerifyAddress.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/OpenDebugBlePairingFlow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/index.tsx
  libs/ledger-live-common/src/ble/hooks/useBleDevicePairing.ts
  libs/ledger-live-common/src/ble/hooks/useBleDevicesScanning.test.ts
  libs/ledger-live-common/src/ble/hooks/useBleDevicesScanning.ts
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.ts
  pnpm-lock.yaml
Labels: mobile, common, translations

#1071 Feat/celo staking llm
  .changeset/rich-pugs-switch.md
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/families/celo/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-mobile/src/families/celo/AccountBodyHeader.js
  apps/ledger-live-mobile/src/families/celo/ActivateFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/celo/ActivateFlow/SelectValidator.tsx
  apps/ledger-live-mobile/src/families/celo/ActivateFlow/ValidationError.js
  apps/ledger-live-mobile/src/families/celo/ActivateFlow/ValidationSuccess.js
  apps/ledger-live-mobile/src/families/celo/ActivateFlow/index.tsx
  apps/ledger-live-mobile/src/families/celo/Delegations/LabelRight.js
  apps/ledger-live-mobile/src/families/celo/Delegations/Row.tsx
  apps/ledger-live-mobile/src/families/celo/Delegations/index.tsx
  apps/ledger-live-mobile/src/families/celo/Delegations/utils.tsx
  apps/ledger-live-mobile/src/families/celo/Icon.tsx
  apps/ledger-live-mobile/src/families/celo/LockFlow/01-Amount.js
  apps/ledger-live-mobile/src/families/celo/LockFlow/ValidationError.js
  apps/ledger-live-mobile/src/families/celo/LockFlow/ValidationSuccess.js
  apps/ledger-live-mobile/src/families/celo/LockFlow/index.js
  apps/ledger-live-mobile/src/families/celo/ManageAssetsNavigator/index.tsx
  apps/ledger-live-mobile/src/families/celo/RegistrationFlow/01-Started.js
  apps/ledger-live-mobile/src/families/celo/RegistrationFlow/ValidationError.js
  apps/ledger-live-mobile/src/families/celo/RegistrationFlow/ValidationSuccess.js
  apps/ledger-live-mobile/src/families/celo/RegistrationFlow/index.js
  apps/ledger-live-mobile/src/families/celo/RevokeFlow/01-Summary.tsx
  apps/ledger-live-mobile/src/families/celo/RevokeFlow/SelectValidator.tsx
  apps/ledger-live-mobile/src/families/celo/RevokeFlow/ValidationError.js
  apps/ledger-live-mobile/src/families/celo/RevokeFlow/ValidationSuccess.js
  apps/ledger-live-mobile/src/families/celo/RevokeFlow/VoteAmount.tsx
  apps/ledger-live-mobile/src/families/celo/RevokeFlow/index.tsx
  apps/ledger-live-mobile/src/families/celo/SendRowsFee.js
  apps/ledger-live-mobile/src/families/celo/UnlockFlow/01-Amount.js
  apps/ledger-live-mobile/src/families/celo/UnlockFlow/ValidationError.js
  apps/ledger-live-mobile/src/families/celo/UnlockFlow/ValidationSuccess.js
  apps/ledger-live-mobile/src/families/celo/UnlockFlow/index.js
  apps/ledger-live-mobile/src/families/celo/ValidatorHead.tsx
  apps/ledger-live-mobile/src/families/celo/ValidatorImage.tsx
  apps/ledger-live-mobile/src/families/celo/ValidatorRow.tsx
  apps/ledger-live-mobile/src/families/celo/VoteFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/celo/VoteFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/celo/VoteFlow/SelectValidator.tsx
  apps/ledger-live-mobile/src/families/celo/VoteFlow/ValidationError.js
  apps/ledger-live-mobile/src/families/celo/VoteFlow/ValidationSuccess.js
  apps/ledger-live-mobile/src/families/celo/VoteFlow/VoteAmount.tsx
  apps/ledger-live-mobile/src/families/celo/VoteFlow/index.tsx
  apps/ledger-live-mobile/src/families/celo/accountActions.tsx
  apps/ledger-live-mobile/src/families/celo/index.js
  apps/ledger-live-mobile/src/families/index.ts
  apps/ledger-live-mobile/src/icons/Loader.js
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/families/celo/react.ts
Labels: mobile, common, translations, fork

#1128 Bugfix/LIVE-2652 - LLM - Asset centric wallet pixel polishing
  apps/ledger-live-mobile/src/components/AccountRowLayout.tsx
  apps/ledger-live-mobile/src/components/AssetCentricGraphCard.tsx
  apps/ledger-live-mobile/src/components/Delta.tsx
  apps/ledger-live-mobile/src/components/GraphCard.tsx
  apps/ledger-live-mobile/src/screens/Account/ListHeaderComponent.tsx
  apps/ledger-live-mobile/src/screens/Accounts/AccountRow.tsx
  apps/ledger-live-mobile/src/screens/Market/DeltaVariation.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AccountsSection.tsx
  libs/ui/packages/native/src/components/cta/QuickAction/QuickActionList/index.tsx
Labels: mobile, ui

#1135 bugfix/LIVE-3414-recommended-section-ui-fix done
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/screens/Account/NftCollectionsList.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/Allocations.tsx
Labels: mobile

#621 Feat/fat 173 181 genuine firmware check
  .changeset/tricky-icons-search.md
  .changeset/tricky-months-destroy.md
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseOnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SyncOnboardingNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/SyncOnboarding/AllowManagerDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/BleDeviceItem.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/CompletionScreen.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/DesyncDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/DeviceModelSelection.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/FirmwareUpdateDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/GenuineCheckCancelledDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/GenuineCheckDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/HelpDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/LanguageSelect.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/ResyncOverlay.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SoftwareChecksStep.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/UnlockDeviceDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
  libs/ledger-live-common/src/hw/extractOnboardingState.ts
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/TimelineItem.tsx
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/index.tsx
  pnpm-lock.yaml
Labels: mobile, common, ui, translations, Stale

#1138 Regenerate APDUs for filecoin
  libs/ledger-live-common/src/families/filecoin/bridge.integration.test.ts
Labels: common, fork

#914 LIVE-2956: fix solana wizard
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/families/solana/DelegationFlow/Started.tsx
  apps/ledger-live-mobile/src/families/solana/DelegationFlow/index.tsx
  apps/ledger-live-mobile/src/families/solana/accountActions.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#1147 asset centric wallet various bugfixes
  apps/ledger-live-mobile/src/components/AccountGraphCard.tsx
  apps/ledger-live-mobile/src/components/AccountSectionLabel.tsx
  apps/ledger-live-mobile/src/components/Delta.tsx
  apps/ledger-live-mobile/src/components/GraphCard.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/screens/Account/hooks/useAccountActions.tsx
  apps/ledger-live-mobile/src/screens/Account/index.tsx
  apps/ledger-live-mobile/src/screens/AccountSettings/index.tsx
  apps/ledger-live-mobile/src/screens/Accounts/AccountRow.tsx
  apps/ledger-live-mobile/src/screens/Accounts/ReadOnly/ReadOnlyAccountRow.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/04-Success.tsx
  apps/ledger-live-mobile/src/screens/Analytics/DistributionCard.tsx
  apps/ledger-live-mobile/src/screens/Analytics/RingChart.tsx
  apps/ledger-live-mobile/src/screens/ImportAccounts/DisplayResult.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AccountsSection.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AssetRow.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/Header.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/Allocations.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/MarketPrice.tsx
Labels: mobile

#1143 Support: BLE pairing flow imports and names
  .changeset/five-carpets-leave.md
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/BleDevicesScanning.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/index.tsx
Labels: mobile

#1034 LLM - Moved Sync Crytpos option to the Post Welcome onboarding page
  apps/ledger-live-mobile/src/images/illustration/Shared/_SyncFromDesktop.png
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/useCaseSelection.tsx
Labels: mobile, translations

#1156 Bugfix/LIVE-2653 - LLM - Asset centric wallet - Misc assets/accounts fabActions fixes
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/components/FabActions/modals/ZeroBalanceDisabledModalContent.tsx
  apps/ledger-live-mobile/src/screens/Account/hooks/useAccountActions.tsx
Labels: mobile

#1146 Smartling on-demand translation delivery from develop
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#1160 Support/bot phosphore
  .github/workflows/bot-staging-explorer-btc.yml
  .github/workflows/bot-staging-explorer-eth.yml
  libs/ledger-live-common/src/bot/index.ts
  libs/ledger-live-common/src/bot/specs.ts
  libs/ledger-live-common/src/families/cosmos/specs.ts
  tools/actions/submit-bot-report/build/index.js
  tools/actions/submit-bot-report/main.ts
Labels: common, tools, automation

#1165 Bugfix/LIVE-3556 - LLM - Asset centric wallet - Fix token receive not working like coin receive
  apps/ledger-live-mobile/src/components/AccountGraphCard.tsx
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/components/FabActions/modals/ZeroBalanceDisabledModalContent.tsx
  apps/ledger-live-mobile/src/reducers/accounts.ts
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
Labels: mobile

#1166 Feat/LIVE-3602 - LLM - Asset centric wallet - Transfer drawer > Disable transfer buttons send and swap
  apps/ledger-live-mobile/src/components/TabBar/TransferButton.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
Labels: mobile

#1162 LIVE-3599 Remove conditional hook in account screen in LLD
  apps/ledger-live-desktop/.eslintrc.js
  apps/ledger-live-desktop/src/renderer/components/ConnectEnvsToSentry.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountBanner.jsx
  apps/ledger-live-desktop/src/renderer/screens/account/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketList.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/useOnScreen.js
  apps/ledger-live-mobile/src/families/cosmos/Delegations/index.tsx
  libs/ledger-live-common/src/families/cosmos/banner.test.ts
  libs/ledger-live-common/src/families/cosmos/banner.ts
Labels: desktop, mobile, common

#1172 bugfix/LIVE-3460-remove-market-price-section-for-coins-with-no-data
  apps/ledger-live-mobile/src/icons/EmptyGraph.tsx
  apps/ledger-live-mobile/src/screens/Account/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/MarketPrice.tsx
Labels: mobile

#1144 Regenerate APDUs for Filecoin bridge integration tests (#1138)
  libs/ledger-live-common/src/families/filecoin/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/filecoin/bridge.integration.test.ts
Labels: common

#1085 Smartling translations are completed for PR#742 from feat/FAT-130-prompt-language-change-after-live-language-change
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#1155 fix: add requirement delegate and redelate cosmos banner
  .changeset/empty-numbers-attack.md
  .changeset/spicy-spies-complain.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/families/cosmos/banner.test.ts
  libs/ledger-live-common/src/families/cosmos/banner.ts
  libs/ledger-live-common/src/families/cosmos/logic.ts
Labels: desktop, common, translations

#1173 feat/LLM polish asset centric analytics
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/AccountGraphCard.tsx
  apps/ledger-live-mobile/src/components/AssetCentricGraphCard.tsx
  apps/ledger-live-mobile/src/components/Carousel/Slide.tsx
  apps/ledger-live-mobile/src/components/Carousel/index.tsx
  apps/ledger-live-mobile/src/components/DiscreetModeButton.tsx
  apps/ledger-live-mobile/src/components/FabActions/ReadOnlyFabActions.tsx
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/components/FilteredSearchBar.tsx
  apps/ledger-live-mobile/src/components/GraphCard.tsx
  apps/ledger-live-mobile/src/components/OperationRow.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/rootnavigation.ts
  apps/ledger-live-mobile/src/screens/Account/AccountHeader.tsx
  apps/ledger-live-mobile/src/screens/Account/AccountHeaderRight.tsx
  apps/ledger-live-mobile/src/screens/Account/index.tsx
  apps/ledger-live-mobile/src/screens/Accounts/AccountRow.tsx
  apps/ledger-live-mobile/src/screens/Accounts/AddAccount.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/AddAccountsModal.tsx
  apps/ledger-live-mobile/src/screens/Assets/index.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioHistory.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnlyAssets.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/PostBuyDeviceSetupNanoWallScreen.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03a-ConnectDevice.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03b-VerifyAddress.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/AdditionalInfoModal.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/ReceiveSecurityModal/ConfirmUnverified.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/ReceiveSecurityModal/InitMessage.tsx
  apps/ledger-live-mobile/src/screens/Settings/Notifications/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AccountsSection.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AssetRow.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/Header.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/Allocations.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/MarketPrice.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/OperationsHistory.tsx
Labels: mobile

#1190 Bugfix/LIVE-3610 - LLM - Coin token page with loan earn section not displayed correctly
  apps/ledger-live-mobile/src/components/BalanceSummaryInfoItem.tsx
  apps/ledger-live-mobile/src/families/cosmos/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-mobile/src/families/polkadot/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-mobile/src/families/tron/Votes/index.tsx
  apps/ledger-live-mobile/src/screens/Account/ListHeaderComponent.tsx
  apps/ledger-live-mobile/src/screens/Lending/Account/AccountBodyHeader.tsx
  apps/ledger-live-mobile/src/screens/Lending/Account/CompoundSummary.tsx
Labels: mobile

#1008 LLD add brazilian portuguese
  apps/ledger-live-desktop/src/config/languages.js
  apps/ledger-live-desktop/src/renderer/components/IsSystemLanguageAvailable.js
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/pt/app.json
Labels: desktop, translations

#743 FAT-131 - Custom image tool
  .changeset/curly-dryers-explain.md
  .changeset/green-ties-sit.md
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/BluetoothHelperModule.java
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/Constants.java
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/ImagePickerModule.java
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainApplication.java
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/NativeModulesPackage.java
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/Alert.tsx
  apps/ledger-live-mobile/src/components/CustomImage/BottomButtonsContainer.tsx
  apps/ledger-live-mobile/src/components/CustomImage/ContrastChoice.tsx
  apps/ledger-live-mobile/src/components/CustomImage/CustomImageBottomModal.tsx
  apps/ledger-live-mobile/src/components/CustomImage/ImageCropper.tsx
  apps/ledger-live-mobile/src/components/CustomImage/ImageProcessor.tsx
  apps/ledger-live-mobile/src/components/CustomImage/InjectedCodeDebugger.tsx
  apps/ledger-live-mobile/src/components/CustomImage/ModalChoice.tsx
  apps/ledger-live-mobile/src/components/CustomImage/ResultDataTester.tsx
  apps/ledger-live-mobile/src/components/CustomImage/errors.ts
  apps/ledger-live-mobile/src/components/CustomImage/imageUtils.ts
  apps/ledger-live-mobile/src/components/CustomImage/injectedCode/imageProcessing.ts
  apps/ledger-live-mobile/src/components/CustomImage/injectedCode/resultDataTesting.ts
  apps/ledger-live-mobile/src/components/CustomImage/types.ts
  apps/ledger-live-mobile/src/components/CustomImage/useResizedImage.tsx
  apps/ledger-live-mobile/src/components/Nft/NftLinksPanel.tsx
  apps/ledger-live-mobile/src/components/Nft/NftViewer.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/CustomImageNavigator.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/nft.ts
  apps/ledger-live-mobile/src/screens/CustomImage/ErrorScreen.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step1Crop.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step2Preview.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step3Transfer.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/shared.ts
  apps/ledger-live-mobile/src/screens/CustomImage/types.ts
  apps/ledger-live-mobile/src/screens/Settings/Debug/OpenDebugCustomImage.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  package.json
  patches/react-native-image-crop-tools@1.6.2.patch
  pnpm-lock.yaml
Labels: mobile, common, ledgerjs, translations

#1004 add brazilian portuguese
  apps/ledger-live-mobile/src/context/Locale.tsx
  apps/ledger-live-mobile/src/languages.ts
  apps/ledger-live-mobile/src/locales/index.ts
  apps/ledger-live-mobile/src/locales/pt/common.json
Labels: mobile, translations

#1136 LIVE-3446 LIVE-3452 LLM - fix analytics issue reborn
  .changeset/eight-mayflies-compare.md
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/screens/GetDeviceScreen.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/doYouHaveALedger.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  pnpm-lock.yaml
Labels: mobile

#1193 fix: onboarding launch from My Ledger
  .changeset/clever-coins-battle.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.jsx
Labels: desktop

#1194 [LIVE-3619][LIVE-3599] Bugfix: Remove usage of account for mainAccount to prevent crash
  .changeset/gold-coats-fix.md
  apps/ledger-live-desktop/src/renderer/screens/account/index.jsx
Labels: desktop

#1197 Bugfix/live 2652 - LLM - Asset centril wallet - Fix fab actions dependency cycle
  apps/ledger-live-mobile/src/components/FabActions/actionsList/account/FabAccountButtonBar.tsx
  apps/ledger-live-mobile/src/components/FabActions/actionsList/account/index.tsx
  apps/ledger-live-mobile/src/components/FabActions/actionsList/asset/index.tsx
  apps/ledger-live-mobile/src/components/FabActions/actionsList/market/index.tsx
  apps/ledger-live-mobile/src/components/FabActions/actionsList/portfolio/index.tsx
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/screens/Account/ListHeaderComponent.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
Labels: mobile

#1198 Asset Centric Wallet - Several Bugfixes
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/screens/Analytics/Operations.tsx
  apps/ledger-live-mobile/src/screens/Assets/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
Labels: mobile

#828 typo: manufest -> manifest
  apps/ledger-live-mobile/src/screens/Settings/Developer/CustomManifest.tsx
Labels: mobile, fork

#1171 Fix: typos in readme
  README.md
Labels: fork

#1188 Setup for RTL in iOS and Android configuration files.
  apps/ledger-live-mobile/android/app/src/main/AndroidManifest.xml
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainActivity.java
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.h
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.m
Labels: mobile

#1200 Asset centric wallet - assets and accounts screens headers changed
  apps/ledger-live-mobile/src/screens/Accounts/AccountsNavigationHeader.tsx
  apps/ledger-live-mobile/src/screens/Accounts/ReadOnly/ReadOnlyAccounts.tsx
  apps/ledger-live-mobile/src/screens/Accounts/index.tsx
  apps/ledger-live-mobile/src/screens/Assets/AssetsNavigationHeader.tsx
  apps/ledger-live-mobile/src/screens/Assets/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnlyAssets.tsx
Labels: mobile

#1159 Fix generated families components on LLD
  apps/ledger-live-desktop/scripts/sync-families-dispatch.mjs
  apps/ledger-live-desktop/src/renderer/families/algorand/AccountHeaderManageActions.js
  apps/ledger-live-desktop/src/renderer/families/tezos/operationDetails.jsx
Labels: desktop

#1175 bot updates
  libs/ledger-live-common/src/families/cosmos/specs.ts
  libs/ledger-live-common/src/families/osmosis/specs.ts
  libs/ledger-live-common/src/families/tron/specs.ts
Labels: common

#1105 Feat/ LIVE-3509 - LLM Deeplinks updated for buy/sell live apps flow
  .changeset/big-windows-mix.md
  apps/ledger-live-mobile/docs/linking.md
  apps/ledger-live-mobile/src/components/RootNavigator/ExchangeLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/index.tsx
Labels: mobile

#1202 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#1205 Smartling on-demand translation delivery from develop
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#899 LIVE-3254 - LLM - Wallet connect as live app feature flag
  .changeset/twelve-planets-whisper.md
  apps/ledger-live-mobile/src/actions/walletconnect.ts
  apps/ledger-live-mobile/src/components/HeaderRightClose.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/WalletConnectLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/WalletConnectNavigator.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/index.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/reducers/index.ts
  apps/ledger-live-mobile/src/reducers/walletconnect.ts
  apps/ledger-live-mobile/src/rootnavigation.ts
  apps/ledger-live-mobile/src/screens/Account/hooks/useActions.tsx
  apps/ledger-live-mobile/src/screens/WalletConnect/DeeplinkingSelectAccount.tsx
  apps/ledger-live-mobile/src/screens/WalletConnect/Provider.tsx
  apps/ledger-live-mobile/src/screens/WalletConnect/Scan.tsx
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, ledgerjs, Stale

#892 feat: Add EIP-712 management in prepareMessageToSign
  .changeset/real-owls-repair.md
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/index.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/liveSDKLogic.test.ts
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/liveSDKLogic.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/bitcoin/hw-signMessage.ts
  libs/ledger-live-common/src/families/ethereum/hw-signMessage.test.ts
  libs/ledger-live-common/src/families/ethereum/hw-signMessage.ts
  libs/ledger-live-common/src/families/ethereum/types.ts
  libs/ledger-live-common/src/families/filecoin/hw-signMessage.ts
  libs/ledger-live-common/src/hw/signMessage/index.test.ts
  libs/ledger-live-common/src/hw/signMessage/index.ts
  libs/ledger-live-common/src/hw/signMessage/types.ts
  libs/ledger-live-common/src/walletconnect/index.ts
  libs/ledger-live-common/src/walletconnect/walletconnect.test.ts
  libs/ledgerjs/packages/hw-app-eth/src/Eth.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/EIP712/EIP712.utils.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/EIP712/index.ts
  pnpm-lock.yaml
Labels: mobile, common, ledgerjs

#896 chore: add react-navigation flipper devtools
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/app/src/debug/java/com/ledger/live/ReactNativeFlipper.java
  apps/ledger-live-mobile/android/gradle.properties
  apps/ledger-live-mobile/index.js
  apps/ledger-live-mobile/ios/Podfile
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/index.tsx
  pnpm-lock.yaml
Labels: mobile

#1204 Feat/LIVE-3600 - LLM - Asset and market page actions : If only one account, use it directly
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
Labels: mobile

#903 support/LIVE-3247 Replace usb-detection library with node-usb
  .changeset/unlucky-dingos-study.md
  apps/ledger-live-desktop/src/internal/live-common-setup.js
  libs/ledgerjs/README.md
  libs/ledgerjs/packages/hw-transport-node-hid-singleton/README.md
  libs/ledgerjs/packages/hw-transport-node-hid-singleton/package.json
  libs/ledgerjs/packages/hw-transport-node-hid-singleton/src/TransportNodeHid.ts
  libs/ledgerjs/packages/hw-transport-node-hid-singleton/src/listenDevices.ts
  pnpm-lock.yaml
Labels: desktop, ledgerjs

#1209 chore: create release/hotfix branch per app [LIVE-3443]
  .github/workflows/release-create-hotfix.yml
  .github/workflows/release-create.yml
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare-mobile.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release-prerelease.yml
Labels: automation

#1179 TypeScript improvement of error type
  .changeset/lemon-pears-punch.md
  libs/ledger-live-common/src/api/socket.ts
  libs/ledger-live-common/src/exchange/swap/getKYCStatus.ts
  libs/ledger-live-common/src/families/bitcoin/cache.ts
  libs/ledger-live-common/src/families/stellar/api/horizon.ts
  libs/ledger-live-common/src/families/tezos/bridge/js.ts
  libs/ledger-live-common/src/hw/connectApp.ts
  libs/ledger-live-common/src/hw/connectManager.ts
  libs/ledger-live-common/src/hw/deviceAccess.ts
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.ts
  libs/ledger-live-common/src/hw/installLanguage.ts
  libs/ledger-live-common/src/hw/uninstallLanguage.ts
  libs/ledgerjs/packages/errors/README.md
  libs/ledgerjs/packages/errors/src/helpers.ts
  libs/ledgerjs/packages/errors/src/index.test.ts
  libs/ledgerjs/packages/errors/src/index.ts
  package.json
Labels: common, ledgerjs

#1219 fix: prerelease versioning
  .github/workflows/release-prerelease.yml
Labels: automation

#1222 LIVE-3652 - LLM - fix undefined lottie animations
  .changeset/purple-roses-greet.md
  apps/ledger-live-mobile/src/components/Animation.tsx
  apps/ledger-live-mobile/src/helpers/getDeviceAnimation.ts
Labels: mobile

#1220 LLD Sentry: filter more errors in exclusion list
  apps/ledger-live-desktop/src/sentry/install.js
Labels: desktop

#1239 Bugfix/brazilian portuguese minor issues
  .changeset/loud-eyes-build.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/locales/index.ts
Labels: mobile, translations

#1130 LIVE-3570: Switch to swap backend API v4
  .changeset/small-eggs-sip.md
  libs/ledger-live-common/src/env.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
  libs/ledger-live-common/src/exchange/swap/getProviders.test.ts
  libs/ledger-live-common/src/exchange/swap/getProviders.ts
  libs/ledger-live-common/src/exchange/swap/index.test.ts
  libs/ledger-live-common/src/exchange/swap/index.ts
  libs/ledger-live-common/src/exchange/swap/mock.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
Labels: common, fork

#1244 feat/LLM handle new fully supported languages
  .changeset/violet-tables-happen.md
  apps/ledger-live-mobile/src/languages.ts
Labels: mobile

#1235 Feat/LIVE-2652 - LLM - Asset centric wallet - Improvement and factoring of actions buttons management
  apps/ledger-live-mobile/src/actions/portfolio.ts
  apps/ledger-live-mobile/src/components/AccountRowLayout.tsx
  apps/ledger-live-mobile/src/components/Carousel/Slide.tsx
  apps/ledger-live-mobile/src/components/CurrencyHeaderLayout.tsx
  apps/ledger-live-mobile/src/components/FabActions/FabButtonBar.tsx
  apps/ledger-live-mobile/src/components/FabActions/actionsList/account/FabAccountButtonBar.tsx
  apps/ledger-live-mobile/src/components/FabActions/actionsList/account/index.tsx
  apps/ledger-live-mobile/src/components/FabActions/actionsList/asset/index.tsx
  apps/ledger-live-mobile/src/components/FabActions/actionsList/market/index.tsx
  apps/ledger-live-mobile/src/components/FabActions/actionsList/portfolio/index.tsx
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/components/FabActions/modals/ZeroBalanceDisabledModalContent.tsx
  apps/ledger-live-mobile/src/components/GraphCard.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/families/cosmos/accountActions.tsx
  apps/ledger-live-mobile/src/families/osmosis/accountActions.tsx
  apps/ledger-live-mobile/src/families/polkadot/accountActions.tsx
  apps/ledger-live-mobile/src/families/solana/accountActions.tsx
  apps/ledger-live-mobile/src/families/tezos/accountActions.tsx
  apps/ledger-live-mobile/src/families/tron/Votes/index.tsx
  apps/ledger-live-mobile/src/families/tron/accountActions.tsx
  apps/ledger-live-mobile/src/screens/Account/AccountHeader.tsx
  apps/ledger-live-mobile/src/screens/Account/ListHeaderComponent.tsx
  apps/ledger-live-mobile/src/screens/Account/hooks/useAccountActions.tsx
  apps/ledger-live-mobile/src/screens/Account/index.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/MarketGraph.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/MarketPrice.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/OperationsHistory.tsx
  libs/ui/packages/native/src/components/cta/Button/index.tsx
  libs/ui/packages/native/src/components/cta/QuickAction/QuickActionButton/index.tsx
Labels: mobile, ui

#1248 Asset centric wallet - reborn empty graph
  apps/ledger-live-mobile/src/components/BackgroundGradient.tsx
  apps/ledger-live-mobile/src/components/GraphCard.tsx
  apps/ledger-live-mobile/src/icons/EmptyGraph.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
Labels: mobile

#920 Fix key type for tnt and add tokenType
  .changeset/late-readers-yell.md
  libs/ledgerjs/packages/hw-app-helium/package.json
  libs/ledgerjs/packages/hw-app-helium/src/serialization.ts
  libs/ledgerjs/packages/hw-app-helium/tests/Helium.test.ts
  pnpm-lock.yaml
Labels: ledgerjs, fork

#1251 Smartling translations are updated for PR#943 from feat/FAT-156-post-onboarding
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#1240 provide a formatDeviceAmount helper for the bot
  .changeset/smooth-seas-poke.md
  libs/ledger-live-common/src/bot/specs.ts
  libs/ledger-live-common/src/families/algorand/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/bitcoin/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/cardano/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/celo/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/elrond/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/ethereum/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/evm/specs.ts
  libs/ledger-live-common/src/families/evm/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/filecoin/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/polkadot/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/ripple/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/solana/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/stellar/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/tezos/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/tron/speculos-deviceActions.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: common, ledgerjs

#1250 update doc gpg
  .changeset/perfect-coins-float.md
  apps/ledger-live-mobile/docs/linux_setup.md
Labels: mobile

#1238 Feat/asset centric wallet analytics fixes
  apps/ledger-live-mobile/src/components/AnalyticsConsole.tsx
  apps/ledger-live-mobile/src/screens/Account/ReadOnly/ReadOnlyAccount.tsx
  apps/ledger-live-mobile/src/screens/Account/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioEmptyState.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/OperationsHistory.tsx
Labels: mobile

#1249 Remove legacy code & assets in LLD onboarding
  .changeset/nice-zoos-yell.md
  apps/ledger-live-desktop/src/renderer/components/AnimatedWave.jsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Modal.jsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Quizz/assets/Wave.jsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectDevice/assets/nanoS.svg
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectDevice/assets/nanoX.svg
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectDevice/devices.ts
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectUseCase/Separator.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectUseCase/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/assets/confetti.js
  apps/ledger-live-desktop/src/renderer/screens/WalletConnect/index.jsx
Labels: desktop

#1260 EVM bot: polish spec
  libs/ledger-live-common/src/families/evm/specs.ts
Labels: common

#1262 Bot: bitcoin testnet to run just once
  libs/ledger-live-common/src/families/bitcoin/specs.ts
Labels: common

#1104 FAT-356 Update onboarding states according to the new firmware definitions
  .changeset/shy-feet-appear.md
  libs/ledger-live-common/src/hw/extractOnboardingState.test.ts
  libs/ledger-live-common/src/hw/extractOnboardingState.ts
Labels: common, HODL

#1266 fix troubleshoot button hover effect
  .changeset/yellow-crabs-act.md
  apps/ledger-live-desktop/src/renderer/components/ConnectTroubleshooting.jsx
Labels: desktop

#1265 bugfix(TabBar): Wrap text when is too long in TabBar Transfer
  .changeset/plenty-oranges-flash.md
  apps/ledger-live-mobile/src/components/TabBar/TransferButton.tsx
Labels: mobile

#575 LLM: update Sentry + split config per platform
  .github/workflows/release-prerelease.yml
  apps/ledger-live-mobile/.env.adhoc
  apps/ledger-live-mobile/.env.android.nightly
  apps/ledger-live-mobile/.env.android.prerelease
  apps/ledger-live-mobile/.env.android.release
  apps/ledger-live-mobile/.env.android.staging
  apps/ledger-live-mobile/.env.ios.nightly
  apps/ledger-live-mobile/.env.ios.prerelease
  apps/ledger-live-mobile/.env.ios.release
  apps/ledger-live-mobile/.env.ios.staging
  apps/ledger-live-mobile/Gemfile.lock
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/sentry.properties
  apps/ledger-live-mobile/fastlane/.env.android.nightly
  apps/ledger-live-mobile/fastlane/.env.android.prerelease
  apps/ledger-live-mobile/fastlane/.env.android.release
  apps/ledger-live-mobile/fastlane/.env.android.staging
  apps/ledger-live-mobile/fastlane/.env.ios.nightly
  apps/ledger-live-mobile/fastlane/.env.ios.prerelease
  apps/ledger-live-mobile/fastlane/.env.ios.release
  apps/ledger-live-mobile/fastlane/.env.ios.staging
  apps/ledger-live-mobile/fastlane/.env.production
  apps/ledger-live-mobile/index.js
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/sentry.properties
  apps/ledger-live-mobile/mobile-env.md
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/scripts/mobile-env-md.mjs
  apps/ledger-live-mobile/src/index.tsx
  pnpm-lock.yaml
Labels: mobile, automation, Stale

#1258 support(Polish): 💄 Capitalize P for Português language
  .changeset/blue-ducks-learn.md
  apps/ledger-live-mobile/src/languages.ts
Labels: mobile

#1269 bugfix(Dashboard): Text larger than box in Pills
  .changeset/violet-pumpkins-teach.md
  apps/ledger-live-desktop/src/renderer/components/Pills.jsx
Labels: desktop

#1246 LIVE-3684 (LLD) Remove duplicate Osmosis in the list during add accounts flow
  .changeset/cold-books-laugh.md
  .changeset/sweet-points-tease.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.js
  libs/ledger-live-common/src/currencies/support.ts
Labels: desktop, common

#1264 Bot: Fix accounts number in report
  libs/ledger-live-common/src/bot/index.ts
  libs/ledger-live-common/src/bot/specs.ts
  libs/ledger-live-common/src/families/cardano/specs.ts
  libs/ledger-live-common/src/families/filecoin/speculos-deviceActions.ts
Labels: common

#1177 Change tag values for alternative derivation schemes in filecoin integration
  .changeset/red-turkeys-taste.md
  libs/ledger-live-common/src/derivation.ts
Labels: common, fork

#1273 Smartling on-demand translation delivery from release
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#1274 Feat/live 3369/restart when switching lang
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/screens/Onboarding/steps/language.tsx
  pnpm-lock.yaml
Labels: mobile

#1243 FAT-383 Custom image pixel polish + feature flag debug menu improvements
  .changeset/plenty-guests-beg.md
  apps/ledger-live-mobile/src/components/CustomImage/BottomButtonsContainer.tsx
  apps/ledger-live-mobile/src/components/CustomImage/ContrastChoice.tsx
  apps/ledger-live-mobile/src/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-mobile/src/components/HeaderTitle.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/CustomImageNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/CustomImage/Step1Crop.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step2Preview.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step3Transfer.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/shared.ts
  apps/ledger-live-mobile/src/screens/DebugFeatureFlags.tsx
Labels: mobile, translations

#1225 Feat/live 3533 swap provider list
  .changeset/four-crews-count.md
  .changeset/lemon-rules-judge.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/ProvidersSection.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/ProvidersValue.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/SectionRate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/types.js
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FormInputs.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FromRow.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/ToRow.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionInformative.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionProvider.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionRate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SummaryLabel.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Countdown.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Rate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/RatesDrawer/Rate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/RatesDrawer/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/.eslintrc.js
  libs/ledger-live-common/src/exchange/swap/hooks/useProviderRates.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useProviderRates.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.test.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.ts
Labels: desktop, common, translations

#1286 Bot iterations
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/bot/index.ts
  libs/ledger-live-common/src/bot/specs.ts
  libs/ledger-live-common/src/bot/types.ts
  libs/ledger-live-common/src/families/bitcoin/specs.ts
  libs/ledger-live-common/src/families/cardano/specs.ts
  libs/ledger-live-common/src/families/celo/specs.ts
  libs/ledger-live-common/src/families/celo/specs/createSendMutation.ts
  libs/ledger-live-common/src/families/cosmos/specs.ts
  libs/ledger-live-common/src/families/crypto_org/specs.ts
  libs/ledger-live-common/src/families/elrond/specs.ts
  libs/ledger-live-common/src/families/ethereum/specs.ts
  libs/ledger-live-common/src/families/filecoin/specs.ts
  libs/ledger-live-common/src/families/osmosis/specs.ts
  libs/ledger-live-common/src/families/polkadot/specs.ts
  libs/ledger-live-common/src/families/ripple/specs.ts
  libs/ledger-live-common/src/families/solana/specs.ts
  libs/ledger-live-common/src/families/stellar/specs.ts
  libs/ledger-live-common/src/families/tezos/specs.ts
  libs/ledger-live-common/src/families/tron/specs.ts
Labels: common

#1257 LIVE-3700: support(ledgerjs-cal): 20220912 CAL update
  .changeset/thirty-ants-invent.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/data/bep20.js
  libs/ledgerjs/packages/cryptoassets/data/erc20-signatures.js
  libs/ledgerjs/packages/cryptoassets/data/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/exchange/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/polygon-erc20.js
Labels: desktop, common, ledgerjs

#1039 Feat/eip1559
  apps/ledger-live-desktop/src/config/urls.js
  apps/ledger-live-desktop/src/renderer/components/Box/Box.js
  apps/ledger-live-desktop/src/renderer/components/Button.jsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/GasLimitField.jsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/MaxBaseFeeField.jsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/PriorityFeeField.jsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/SelectFeeStrategy.jsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/SendAmountFields.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/SelectFeesStrategy.tsx
  apps/ledger-live-mobile/src/families/ethereum/EditFeeUnitEthereum.tsx
  apps/ledger-live-mobile/src/families/ethereum/EthereumCustomFees.tsx
  apps/ledger-live-mobile/src/families/ethereum/EthereumFeesStrategy.tsx
  apps/ledger-live-mobile/src/icons/TachometerFast.tsx
  apps/ledger-live-mobile/src/icons/TachometerMedium.tsx
  apps/ledger-live-mobile/src/icons/TachometerSlow.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/api/Ethereum.ts
  libs/ledger-live-common/src/env.ts
  libs/ledger-live-common/src/families/ethereum/bridge/js.ts
  libs/ledger-live-common/src/families/ethereum/react.ts
  libs/ledger-live-common/src/families/ethereum/signOperation.ts
  libs/ledger-live-common/src/families/ethereum/specs.ts
  libs/ledger-live-common/src/families/ethereum/transaction.ts
  libs/ledger-live-common/src/families/ethereum/types.ts
  libs/ledger-live-common/src/platform/logic.test.ts
  libs/ledger-live-common/src/walletconnect/index.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/errors/src/index.ts
  libs/ledgerjs/packages/types-live/src/transaction.ts
Labels: desktop, mobile, common, ledgerjs, translations, fork

#836 Bugfix/LIVE-2373 zec parser and serialization for v5 transaction
  .changeset/few-clouds-brush.md
  libs/ledger-live-common/src/apps/__snapshots__/logic.test.ts.snap
  libs/ledger-live-common/src/apps/logic.test.ts
  libs/ledger-live-common/src/apps/polyfill.ts
  libs/ledger-live-common/src/apps/support.ts
  libs/ledgerjs/packages/hw-app-btc/src/createTransaction.ts
  libs/ledgerjs/packages/hw-app-btc/src/serializeTransaction.ts
  libs/ledgerjs/packages/hw-app-btc/src/splitTransaction.ts
Labels: common, ledgerjs, HODL

#975 LIVE-1683-move separator
  .changeset/healthy-toes-knock.md
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.jsx
Labels: desktop

#742 FAT-130 FAT-119 FAT-129 Multiple prompts for changing device language
  .changeset/brave-cycles-call.md
  .changeset/green-masks-reflect.md
  .changeset/large-numbers-remain.md
  .changeset/selfish-countries-burn.md
  apps/ledger-live-mobile/services/BackgroundRunnerService.ts
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/ChangeDeviceLanguageAction.tsx
  apps/ledger-live-mobile/src/components/ChangeDeviceLanguageActionModal.tsx
  apps/ledger-live-mobile/src/components/ChangeDeviceLanguagePrompt.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/DeviceActionModal.tsx
  apps/ledger-live-mobile/src/components/DeviceLanguageInstalled.tsx
  apps/ledger-live-mobile/src/components/FirmwareUpdate/ConfirmRecoveryStep.tsx
  apps/ledger-live-mobile/src/components/FirmwareUpdate/DeviceLanguageStep.tsx
  apps/ledger-live-mobile/src/components/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/src/components/FirmwareUpdate/types.d.ts
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/context/Locale.tsx
  apps/ledger-live-mobile/src/languages.ts
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/pt/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
  apps/ledger-live-mobile/src/logic/firmwareUpdate.ts
  apps/ledger-live-mobile/src/reducers/appstate.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/screens/Manager/AppsScreen.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceLanguage.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceLanguageSelection.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/index.tsx
  apps/ledger-live-mobile/src/screens/Manager/Manager.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/language.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/hw/actions/installLanguage.ts
  libs/ledger-live-common/src/manager/hooks.ts
  libs/ledger-live-common/src/manager/localization.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs, translations

#1298 Improve mobile env documentation
  apps/ledger-live-mobile/mobile-env.md
  apps/ledger-live-mobile/scripts/mobile-env-md.mjs
Labels: mobile

#1277 support(UI): Update text and ui for Add Account modal
  .changeset/wild-otters-live.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/AddAccounts/AddAccountsModal.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/AddAccountsModalCard.tsx
Labels: mobile, translations

#1304 [LIVE-3722][LIVE-3744][LIVE-3722] - Bugfix: Fix currencies inferences
  .changeset/old-lemons-smile.md
  .changeset/tidy-items-remain.md
  apps/cli/src/live-common-setup-base.ts
  apps/cli/src/transaction.ts
  libs/ledger-live-common/src/__tests__/__snapshots__/portfolio.v2.ts.snap
  libs/ledger-live-common/src/apps/polyfill.test.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/currencies/sortByMarketcap.ts
  libs/ledger-live-common/src/mock/account.ts
  libs/ledgerjs/packages/cryptoassets/README.md
  libs/ledgerjs/packages/cryptoassets/src/currencies.test.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/types-cryptoassets/README.md
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
Labels: common, ledgerjs, cli

#1312 fix: sidebar & topbar over walletconnect
  .changeset/loud-ads-explode.md
  apps/ledger-live-desktop/src/renderer/Default.jsx
Labels: desktop

#1310 Protecting a function which can filter on empty arrays
  .changeset/calm-pigs-end.md
  libs/ledger-live-common/src/notifications/ServiceStatusProvider/index.tsx
Labels: common

#1291 Feat/live 3629 add dex providers
  .changeset/great-news-dream.md
  apps/ledger-live-desktop/src/renderer/icons/providers/Oneinch.jsx
  apps/ledger-live-desktop/src/renderer/icons/providers/index.js
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/DexSwapAvailableAlert.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/SectionRate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionProvider.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/CentralisedRate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Countdown.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/DecentralisedRate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Rate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/utils.js
Labels: desktop

#1270 LIVE-3184: Add network check on add account
  .changeset/few-toys-cough.md
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.jsx
Labels: desktop

#1208 Celo staking LLM - withdraw unlocked funds
  .changeset/tiny-shrimps-promise.md
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/families/celo/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-mobile/src/families/celo/ActivateFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/celo/ActivateFlow/SelectValidator.tsx
  apps/ledger-live-mobile/src/families/celo/Delegations/Row.tsx
  apps/ledger-live-mobile/src/families/celo/Delegations/index.tsx
  apps/ledger-live-mobile/src/families/celo/Delegations/utils.tsx
  apps/ledger-live-mobile/src/families/celo/LockFlow/01-Amount.tsx
  apps/ledger-live-mobile/src/families/celo/ManageAssetsNavigator/index.tsx
  apps/ledger-live-mobile/src/families/celo/RegistrationFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/celo/RevokeFlow/01-Summary.tsx
  apps/ledger-live-mobile/src/families/celo/RevokeFlow/SelectValidator.tsx
  apps/ledger-live-mobile/src/families/celo/RevokeFlow/VoteAmount.tsx
  apps/ledger-live-mobile/src/families/celo/SendRowsFee.tsx
  apps/ledger-live-mobile/src/families/celo/UnlockFlow/01-Amount.tsx
  apps/ledger-live-mobile/src/families/celo/ValidatorRow.tsx
  apps/ledger-live-mobile/src/families/celo/VoteFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/celo/VoteFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/celo/VoteFlow/SelectValidator.tsx
  apps/ledger-live-mobile/src/families/celo/VoteFlow/VoteAmount.tsx
  apps/ledger-live-mobile/src/families/celo/WithdrawFlow/ValidationError.tsx
  apps/ledger-live-mobile/src/families/celo/WithdrawFlow/ValidationSuccess.tsx
  apps/ledger-live-mobile/src/families/celo/WithdrawFlow/WithdrawAmount.tsx
  apps/ledger-live-mobile/src/families/celo/WithdrawFlow/index.tsx
  apps/ledger-live-mobile/src/families/celo/accountActions.tsx
  apps/ledger-live-mobile/src/families/celo/components/CeloIcon.tsx
  apps/ledger-live-mobile/src/families/celo/components/ErrorAndWarning.tsx
  apps/ledger-live-mobile/src/families/celo/components/Line.tsx
  apps/ledger-live-mobile/src/families/celo/components/Words.tsx
  apps/ledger-live-mobile/src/families/celo/index.ts
  apps/ledger-live-mobile/src/families/celo/operationDetails.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations, fork

#1290 bot: add testDestination to assert impact on destination account + other bot fixes
  .github/workflows/bot-phosphore.yml
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/bot/formatters.ts
  libs/ledger-live-common/src/bot/index.ts
  libs/ledger-live-common/src/bot/specs.ts
  libs/ledger-live-common/src/bot/types.ts
  libs/ledger-live-common/src/families/algorand/specs.ts
  libs/ledger-live-common/src/families/bitcoin/specs.ts
  libs/ledger-live-common/src/families/cardano/specs.ts
  libs/ledger-live-common/src/families/celo/specs/createSendMutation.ts
  libs/ledger-live-common/src/families/cosmos/specs.ts
  libs/ledger-live-common/src/families/ethereum/specs.ts
  libs/ledger-live-common/src/families/evm/specs.ts
  libs/ledger-live-common/src/families/filecoin/specs.ts
  libs/ledger-live-common/src/families/hedera/specs.ts
  libs/ledger-live-common/src/families/osmosis/specs.ts
  libs/ledger-live-common/src/families/polkadot/specs.ts
  libs/ledger-live-common/src/families/ripple/specs.ts
  libs/ledger-live-common/src/families/solana/specs.ts
  libs/ledger-live-common/src/families/tezos/specs.ts
  libs/ledger-live-common/src/families/tron/specs.ts
  libs/ledger-live-common/src/load/speculos.ts
Labels: common, automation

#908 bugfix/LIVE-3322-back-to-edit-fees
  .changeset/two-dancers-brush.md
  apps/ledger-live-desktop/src/renderer/components/Modal/ModalBody.jsx
  apps/ledger-live-desktop/src/renderer/components/Modal/ModalHeader.jsx
  apps/ledger-live-desktop/src/renderer/components/Stepper/index.jsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/Body.jsx
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-sign-transaction-info-darwin.png
Labels: desktop, translations, screenshots, Stale

#1297 LLM custom image fixes
  .changeset/selfish-schools-end.md
  apps/ledger-live-mobile/src/components/CustomImage/ContrastChoice.tsx
  apps/ledger-live-mobile/src/components/CustomImage/CustomImageBottomModal.tsx
  apps/ledger-live-mobile/src/components/CustomImage/imageUtils.ts
  apps/ledger-live-mobile/src/components/CustomImage/injectedCode/imageProcessing.ts
  apps/ledger-live-mobile/src/components/CustomImage/injectedCode/resultDataTesting.ts
  apps/ledger-live-mobile/src/screens/CustomImage/Step1Crop.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step2Preview.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step3Transfer.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/types.ts
Labels: mobile

#1293 support(Improvments): Improvements for the crypto icons library
  .changeset/tiny-plants-divide.md
  libs/ui/packages/native/src/components/Icon/CryptoIcon.tsx
  libs/ui/packages/native/storybook/stories/Icon/CryptoIcons.stories.tsx
  libs/ui/packages/react/src/components/asorted/Icon/CryptoIcon.tsx
  libs/ui/packages/react/src/components/asorted/Icon/CryptoIcons.stories.tsx
Labels: ui

#1302 LIVE-3724 Set Ethereum minimum app version to v1.9.20
  .changeset/cyan-walls-count.md
  libs/ledger-live-common/src/apps/support.ts
Labels: common, HODL

#1285 support(SendNFT): Update error message when trying to send NFTs with LNS
  .changeset/poor-books-rest.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#1309 bugfix(Languages): Inconsistency in languages display names
  .changeset/honest-games-allow.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/LanguageSelect.jsx
  apps/ledger-live-mobile/src/languages.ts
  apps/ledger-live-mobile/src/screens/Settings/General/LanguageRow.tsx
Labels: desktop, mobile

#1259 bugfix(Experimentalfeatures): Added translation for Settings and experimental features
  .changeset/late-spies-knock.md
  apps/ledger-live-mobile/src/experimental.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Settings/Developer/index.tsx
Labels: mobile, translations

#1313 Fixes LIVE-3506: ignore 'Transaction simulation failed'
  apps/ledger-live-desktop/src/sentry/install.js
  apps/ledger-live-mobile/index.js
Labels: desktop, mobile

#1323 Move tron/synchronisation.test.ts to an Integration Test
  libs/ledger-live-common/src/families/tron/synchronisation.integration.test.ts
Labels: common

#1315 bugfix/add new languages with updated pt br translation file
  apps/ledger-live-desktop/src/config/languages.js
  apps/ledger-live-desktop/src/renderer/i18n/index.js
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#1318 Bugfix/live 3679 show only available providers
  .changeset/pretty-lobsters-smile.md
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
Labels: common

#1321 Adapt bot changes needed for LIVE-3724
  libs/ledger-live-common/src/apps/support.ts
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/families/ethereum/specs.ts
  libs/ledger-live-common/src/families/evm/specs.ts
  libs/ledger-live-common/src/load/speculos.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: common, ledgerjs

#1330 [REVERT] Bugfix: Revert force 1.9.20 ethereum app
  .changeset/stupid-months-tie.md
  libs/ledger-live-common/src/apps/support.ts
Labels: desktop, common, ledgerjs, cli

#1325 LLD Feature flag interface improvements
  apps/ledger-live-desktop/src/renderer/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/SettingsSection.jsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsButton.tsx
Labels: desktop

#1342 Bugfix/remove english from pushed languages
  .changeset/red-peas-hug.md
  apps/ledger-live-desktop/src/config/languages.js
Labels: desktop

#1336 Bugfix: LLD big lag when ending the onboarding
  .changeset/red-peas-whisper.md
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/Carousel.tsx
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-select-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-select-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-success-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-select-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-success-win32.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/discover-darwin.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/lockscreen-wrong-password-win32.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/passwordlock-disable-bad-password-win32.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-idle-win32.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-layout-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-7d-range-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-7d-range-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-7d-range-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-btc-star-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-btc-star-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-btc-star-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-no-scrollbar-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-no-scrollbar-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-no-scrollbar-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-thb-countervalue-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-thb-countervalue-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-thb-countervalue-win32.png
  apps/ledger-live-desktop/tests/specs/onboarding/connect-device.spec.ts-snapshots/v3-onboarding-complete-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-onboarding-complete-linux.png
Labels: desktop, screenshots

#1344 Implement new templates for github issues
  .github/ISSUE_TEMPLATE/bug---ledger-live-application.md
  .github/ISSUE_TEMPLATE/bug---libraries.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/library-bug.yml
  .github/ISSUE_TEMPLATE/library-feature.yml
Labels: automation

#1331 [REVERT] Bugfix: Revert force 1.9.20 ethereum app
  .changeset/stupid-months-tie.md
  libs/ledger-live-common/src/apps/support.ts
Labels: common

#1348 support(Disclaimer):Error message when trying to send a NFT from LNS is wrong
  .changeset/dirty-dragons-share.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#1351 update readme info for devs
  README.md
  apps/ledger-live-mobile/README.md
Labels: mobile

#1355 Fix flaky e2e test on onboarding
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/Carousel.tsx
Labels: desktop

#1347 bot: add a minimal report json exported in the CI
  libs/ledger-live-common/src/bot/index.ts
  libs/ledger-live-common/src/bot/types.ts
  tools/actions/composites/bot/action.yml
Labels: common, tools

#1356 feat/LIVE-3858 Update README.md of packages to new logo and discord
  .changeset/stupid-shirts-smoke.md
  libs/ledgerjs/packages/cryptoassets/README.md
  libs/ledgerjs/packages/devices/README.md
  libs/ledgerjs/packages/errors/README.md
  libs/ledgerjs/packages/hw-app-algorand/README.md
  libs/ledgerjs/packages/hw-app-btc/README.md
  libs/ledgerjs/packages/hw-app-cosmos/README.md
  libs/ledgerjs/packages/hw-app-eth/README.md
  libs/ledgerjs/packages/hw-app-helium/README.md
  libs/ledgerjs/packages/hw-app-polkadot/README.md
  libs/ledgerjs/packages/hw-app-solana/README.md
  libs/ledgerjs/packages/hw-app-str/README.md
  libs/ledgerjs/packages/hw-app-tezos/README.md
  libs/ledgerjs/packages/hw-app-trx/README.md
  libs/ledgerjs/packages/hw-app-xrp/README.md
  libs/ledgerjs/packages/hw-transport-http/README.md
  libs/ledgerjs/packages/hw-transport-mocker/README.md
  libs/ledgerjs/packages/hw-transport-node-ble/README.md
  libs/ledgerjs/packages/hw-transport-node-hid-noevents/README.md
  libs/ledgerjs/packages/hw-transport-node-hid-singleton/README.md
  libs/ledgerjs/packages/hw-transport-node-hid/README.md
  libs/ledgerjs/packages/hw-transport-node-speculos-http/README.md
  libs/ledgerjs/packages/hw-transport-node-speculos/README.md
  libs/ledgerjs/packages/hw-transport-web-ble/README.md
  libs/ledgerjs/packages/hw-transport-webhid/README.md
  libs/ledgerjs/packages/hw-transport-webusb/README.md
  libs/ledgerjs/packages/hw-transport/README.md
  libs/ledgerjs/packages/logs/README.md
  libs/ledgerjs/packages/react-native-hid/README.md
  libs/ledgerjs/packages/react-native-hw-transport-ble/README.md
  libs/ledgerjs/packages/types-cryptoassets/README.md
  libs/ledgerjs/packages/types-devices/README.md
  libs/ledgerjs/packages/types-live/README.md
Labels: ledgerjs

#1346 fix: add swap title color LIVE-3846
  .changeset/polite-spies-melt.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Countdown.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/index.jsx
Labels: desktop

#1332 bugfix(BackButton): Close individual NFT drawer should back to Gallery/Collection screen
  .changeset/twenty-ants-serve.md
  apps/ledger-live-mobile/src/components/RootNavigator/NftNavigator.tsx
Labels: mobile

#1328 feat/LIVE-3804 Bump hermes-engine dependency to 0.11.0
  .changeset/perfect-weeks-burn.md
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Labels: mobile

#1360 add get env to carousel
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/Carousel.tsx
  libs/ledger-live-common/src/env.ts
Labels: desktop, common

#1368 Bugfix / LIVE-3870 - Fix earn section by destructuring actions
  apps/ledger-live-mobile/src/screens/Account/index.tsx
Labels: mobile

#1365 support(URLs): LLM - Terms and Privacy Policy urls to update
  .changeset/rich-carrots-cheer.md
  apps/ledger-live-mobile/TERMS.md
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/terms.tsx
  apps/ledger-live-mobile/src/screens/Settings/About/PrivacyPolicyRow.tsx
Labels: mobile

#1247 support(Deeplink): Add Deeplink for Add Account and Accounts page
  .changeset/happy-garlics-kick.md
  apps/ledger-live-mobile/docs/linking.md
  apps/ledger-live-mobile/src/components/RootNavigator/AddAccountsNavigator.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/navigation/useDeepLinking.ts
  apps/ledger-live-mobile/src/screens/Accounts/AccountRow.tsx
  apps/ledger-live-mobile/src/screens/Accounts/index.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
Labels: mobile

#1381 LIVE-3905 - LLD - fix toast issue when no click callback given
  .changeset/early-impalas-peel.md
  apps/ledger-live-desktop/src/renderer/components/ToastOverlay/Toast.jsx
Labels: desktop

#1376 Bugfix / LIVE-3870 - Fix account wallet connect button not working
  apps/ledger-live-mobile/src/components/FabActions/actionsList/market/index.tsx
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/screens/Account/hooks/useAccountActions.tsx
  apps/ledger-live-mobile/src/screens/Account/hooks/useActions.tsx
Labels: mobile

#1385 Feat/not genuine device flow in sync onboarding
  .changeset/many-days-move.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/GenuineCheckNotGenuineModal.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckStep.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/shared.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#1390 Address PR-1301 comments
  apps/ledger-live-desktop/src/renderer/families/ethereum/GasLimitField.jsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/MaxBaseFeeField.jsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/PriorityFeeField.jsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/SelectFeeStrategy.jsx
Labels: desktop, fork

#1391 Bot: Solana: remove test for "destination" that don't work for MAX
  libs/ledger-live-common/src/families/solana/specs.ts
Labels: common

#1392 bot: elrond: increase minAmount
  libs/ledger-live-common/src/families/elrond/specs.ts
Labels: common

#1394 Bugfix / LL-3887 - Fix glitch with cosmos and tron account balance summary banner scrollview
  apps/ledger-live-mobile/src/families/cosmos/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-mobile/src/families/tron/AccountBalanceSummaryFooter.tsx
Labels: mobile

#1387 Update screenshots
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-select-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-success-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-success-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-success-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-success-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-success-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-success-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-select-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-success-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/open-modal-win32.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-install-tron-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-7d-range-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-7d-range-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-7d-range-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-btc-star-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-btc-star-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-btc-star-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-no-scrollbar-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-no-scrollbar-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-no-scrollbar-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-thb-countervalue-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-thb-countervalue-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-thb-countervalue-win32.png
  libs/ui/packages/native/storybook/stories/Cta/QuickAction/QuickActionList.stories.tsx
Labels: desktop, ui, screenshots

#1241 LIVE-3396 cardano handle blacklisted tokens
  libs/ledger-live-common/src/families/cardano/js-synchronisation.ts
Labels: common, fork

#1340 Bugfix/live 3728 lld swap stylig update
  .changeset/stale-actors-compare.md
  apps/ledger-live-desktop/src/renderer/icons/InfoCircle.jsx
  apps/ledger-live-desktop/src/renderer/icons/InfoCircleFull.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FromRow.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/CentralisedRate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Countdown.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/DecentralisedRate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Rate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#1256 TECSUPPORT-1349 [Hedera] User-friendly error message for network error
  .changeset/twelve-pianos-shop.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/families/hedera/api/network.ts
  libs/ledger-live-common/src/families/hedera/errors.ts
Labels: desktop, mobile, common, translations, fork

#1389 Ignore more network related issues of our app
  apps/ledger-live-desktop/src/sentry/install.js
  apps/ledger-live-mobile/index.js
Labels: desktop, mobile

#1341 fix: fix swap refresh timer and idle
  .changeset/six-socks-leave.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
Labels: desktop

#1420 Fixes Tezos Integration Tests
  .changeset/flat-kangaroos-warn.md
  libs/ledger-live-common/src/families/tezos/bakers.whitelist-default.ts
  libs/ledger-live-common/src/families/tezos/bridge/js.ts
Labels: common

#1432 PE-1292: Update self-hosted AWS EC2 runners creation and destroying
  .github/workflow-templates/bot-coin-family.yml
  .github/workflows/bot-bitcoin-mooncake.yml
  .github/workflows/bot-cardano-silicium.yml
  .github/workflows/bot-celo-silicium.yml
  .github/workflows/bot-coin-osmosis.yml
  .github/workflows/bot-cosmos-phosphore.yml
  .github/workflows/bot-evm-phosphore.yml
  .github/workflows/bot-filecoin-mooncake.yml
  .github/workflows/bot-hedera-mooncake.yml
  .github/workflows/bot-mere-denis.yml
  .github/workflows/bot-phosphore.yml
  .github/workflows/bot-staging-explorer-btc.yml
  .github/workflows/bot-staging-explorer-eth.yml
  .github/workflows/bot-stellar-silicium.yml
  .github/workflows/bot-transfer.yml
  .github/workflows/start-linux-runner.yml
  .github/workflows/stop-linux-runner.yml
Labels: automation

#1415 introduce getOperatingSystemSupportStatus() to ignore sentry reporting on old unsupported OSs
  .changeset/six-moons-change.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/sentry/install.js
  apps/ledger-live-desktop/src/support/os.test.ts
  apps/ledger-live-desktop/src/support/os.ts
  pnpm-lock.yaml
Labels: desktop
