Repository LedgerHQ/ledger-live, pull requests merged in 2022-05, with the labels that each got.

#31 add more checks on PR
  .github/workflows/check-pr.yml
Labels: automation

#23 Add "bots-staging" to test integration
  .github/workflows/bot-carbone.yml
  .github/workflows/test.yml
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/bot/index.ts
  pnpm-lock.yaml
  tools/actions/submit-bot-report/action.yml
  tools/actions/submit-bot-report/build/index.js
  tools/actions/submit-bot-report/main.ts
  tools/actions/submit-bot-report/package.json
  tools/actions/upload-images/main.ts
Labels: common, tools, automation

#45 Investigate playwright disparities
  .github/workflows/generate-screenshots.yml
Labels: hodl, automation

#46 Regenerate playwright snapshots
  apps/ledger-live-desktop/tests/specs/account.spec.ts-snapshots/ETH-complete-linux.png
  apps/ledger-live-desktop/tests/specs/account.spec.ts-snapshots/ETH-complete-win32.png
  apps/ledger-live-desktop/tests/specs/market.spec.ts-snapshots/market-btc-page-linux.png
  apps/ledger-live-desktop/tests/tests/artifacts/html-report/index.html
  libs/ui/packages/icons/index.js
Labels: desktop, ui

#50 Add more bots and a bot template
  .github/workflow-templates/bot-coin-family.properties.json
  .github/workflow-templates/bot-coin-family.yml
  .github/workflows/bot-phosphore.yml
  .github/workflows/bot-staging-explorer-btc.yml
  .github/workflows/bot-staging-explorer-eth.yml
  .github/workflows/bot-transfer.yml
Labels: automation

#34 replace instances of monorepo-setup by develop
  .changeset/config.json
  .github/pull_request_template.md
  .github/workflows/backup/version-or-release.yml
  .github/workflows/bot-phosphore.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/is-org-member.yml
  .github/workflows/nightly.yml
  .github/workflows/prerelease.yml
  .github/workflows/test-desktop.yml
  README.md
  apps/ledger-live-desktop/.github/workflows/report-screenshots.yml
  apps/ledger-live-desktop/.github/workflows/ui-tests-reports.yml
  apps/ledger-live-desktop/.github/workflows/ui-tests.yml
  apps/ledger-live-desktop/README.md
  apps/ledger-live-mobile/.github/workflows/bundle-app.yml
  apps/ledger-live-mobile/README.md
  libs/ledger-live-common/README.md
  libs/ledgerjs/README.md
  libs/ui/README.md
  libs/ui/packages/react/README.md
  tools/github-bot/src/index.ts
Labels: desktop, mobile, common, ui, ledgerjs, tools, automation

#62 Regen cryptoassets file
  apps/ledger-live-desktop/cryptoassets.md
Labels: desktop

#65 Disable flaky tests
  .github/labeler.yml
  apps/ledger-live-desktop/tests/specs/market.spec.ts
  apps/ledger-live-desktop/tests/specs/subAccounts.spec.ts
  apps/ledger-live-desktop/tests/specs/swap.spec.ts
  libs/ledger-live-common/src/families/ethereum/bridge.test.ts.bak
Labels: desktop, common, automation

#63 Bugfix/market details screen nav
  .changeset/nine-coins-rule.md
  apps/ledger-live-desktop/src/renderer/components/Breadcrumb/index.js
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoinScreen/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketList.tsx
  apps/ledger-live-desktop/tests/specs/market.spec.ts
  apps/ledger-live-desktop/tests/specs/market.spec.ts-snapshots/market-btc-page-linux.png
  apps/ledger-live-desktop/tests/specs/market.spec.ts-snapshots/market-btc-page-win32.png
Labels: bug, desktop, feature ready, screenshots

#79 Add Spanish (ES) and Chinese (ZH) to discoverable languages
  .changeset/late-zebras-hug.md
  apps/ledger-live-desktop/src/config/languages.js
  apps/ledger-live-desktop/src/helpers/systemLocale.js
  apps/ledger-live-desktop/src/main/window-lifecycle.js
  apps/ledger-live-desktop/src/preloader/index.js
  apps/ledger-live-desktop/src/renderer/analytics/segment.js
  apps/ledger-live-desktop/src/renderer/components/IsSystemLanguageAvailable.js
  apps/ledger-live-desktop/src/renderer/reducers/application.js
  apps/ledger-live-desktop/src/renderer/reducers/settings.js
Labels: desktop

#86 chore(common): regen snapshots
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/families/ethereum/__snapshots__/bridge.test.ts.snap
Labels: common

#78 LIVE-2309 Update stellar-sdk to v10.1.0
  .changeset/green-suits-move.md
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: common, release

#72 LIVE-1004 Hedera integration
  .changeset/green-games-kick.md
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/scripts/sync-families-dispatch.sh
  apps/ledger-live-desktop/src/config/urls.js
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.js
  apps/ledger-live-desktop/src/renderer/families/hedera/NoAssociatedAccounts.js
  apps/ledger-live-desktop/src/renderer/families/hedera/StepReceiveFunds.js
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepImport.js
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveFunds.js
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/layout.spec.ts-snapshots/experimental-features-win32.png
  libs/ledger-live-common/.ci.env
  libs/ledger-live-common/.github/workflows/bot-hedera-mooncake.yml
  libs/ledger-live-common/cli/src/live-common-setup-base.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/__tests__/test-helpers/setup.ts
  libs/ledger-live-common/src/cross.ts
  libs/ledger-live-common/src/data/icons/svg/HBAR.svg
  libs/ledger-live-common/src/derivation.ts
  libs/ledger-live-common/src/env.ts
  libs/ledger-live-common/src/families/hedera/api/mirror.ts
  libs/ledger-live-common/src/families/hedera/api/network.ts
  libs/ledger-live-common/src/families/hedera/bridge/js.ts
  libs/ledger-live-common/src/families/hedera/cli-transaction.ts
  libs/ledger-live-common/src/families/hedera/deviceTransactionConfig.ts
  libs/ledger-live-common/src/families/hedera/hw-app-hedera/index.ts
  libs/ledger-live-common/src/families/hedera/hw-getAddress.ts
  libs/ledger-live-common/src/families/hedera/js-broadcast.ts
  libs/ledger-live-common/src/families/hedera/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/hedera/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/hedera/js-receive.ts
  libs/ledger-live-common/src/families/hedera/js-signOperation.ts
  libs/ledger-live-common/src/families/hedera/js-synchronisation.ts
  libs/ledger-live-common/src/families/hedera/js-transaction.ts
  libs/ledger-live-common/src/families/hedera/specs.ts
  libs/ledger-live-common/src/families/hedera/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/hedera/test-dataset.ts
  libs/ledger-live-common/src/families/hedera/tests/js-estimateMaxSpendable.test.ts
  libs/ledger-live-common/src/families/hedera/tests/js-transaction.test.ts
  libs/ledger-live-common/src/families/hedera/tests/transaction.test.ts
  libs/ledger-live-common/src/families/hedera/tests/utils.test.ts
  libs/ledger-live-common/src/families/hedera/transaction.ts
  libs/ledger-live-common/src/families/hedera/types.ts
  libs/ledger-live-common/src/families/hedera/utils.ts
  libs/ledger-live-common/src/generated/bridge/js.ts
  libs/ledger-live-common/src/generated/cli-transaction.ts
  libs/ledger-live-common/src/generated/deviceTransactionConfig.ts
  libs/ledger-live-common/src/generated/hw-getAddress.ts
  libs/ledger-live-common/src/generated/specs.ts
  libs/ledger-live-common/src/generated/speculos-deviceActions.ts
  libs/ledger-live-common/src/generated/test-dataset.ts
  libs/ledger-live-common/src/generated/transaction.ts
  libs/ledger-live-common/src/generated/types.ts
  pnpm-lock.yaml
Labels: desktop, common, translations, screenshots, release

#59 LIVE-2380 Update Cosmos min Nano app version to 2.34.4
  .changeset/lemon-adults-double.md
  libs/ledger-live-common/src/apps/support.ts
Labels: common, release

#67 LIVE-2162 Solana staking improvements
  .changeset/mean-bananas-flash.md
  apps/ledger-live-desktop/src/renderer/families/solana/Delegation/index.js
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationActivateFlowModal/steps/StepValidator.js
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationDeactivateFlowModal/steps/StepValidator.js
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationFlowModal/steps/StepValidator.js
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationReactivateFlowModal/steps/StepValidator.js
  apps/ledger-live-desktop/src/renderer/families/solana/shared/components/LedgerByFigmentTCLink.js
  apps/ledger-live-desktop/src/renderer/families/solana/shared/components/ValidatorRow.js
  apps/ledger-live-desktop/src/renderer/families/solana/shared/fields/ValidatorsField.js
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/tests/artifacts/html-report/index.html
  libs/ledger-live-common/.github/workflows/bot-solana-silicium.yml
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/env.ts
  libs/ledger-live-common/src/families/solana/__snapshots__/bridge.test.ts.snap
  libs/ledger-live-common/src/families/solana/api/cached.ts
  libs/ledger-live-common/src/families/solana/api/chain/index.ts
  libs/ledger-live-common/src/families/solana/api/chain/web3.ts
  libs/ledger-live-common/src/families/solana/api/logged.ts
  libs/ledger-live-common/src/families/solana/bridge/bridge.ts
  libs/ledger-live-common/src/families/solana/bridge/js.ts
  libs/ledger-live-common/src/families/solana/bridge/mock-data.ts
  libs/ledger-live-common/src/families/solana/bridge/mock.ts
  libs/ledger-live-common/src/families/solana/errors.ts
  libs/ledger-live-common/src/families/solana/js-broadcast.ts
  libs/ledger-live-common/src/families/solana/js-buildTransaction.ts
  libs/ledger-live-common/src/families/solana/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/solana/js-preload.ts
  libs/ledger-live-common/src/families/solana/js-prepareTransaction.ts
  libs/ledger-live-common/src/families/solana/js-signOperation.ts
  libs/ledger-live-common/src/families/solana/js-synchronization.ts
  libs/ledger-live-common/src/families/solana/logic.ts
  libs/ledger-live-common/src/families/solana/react.ts
  libs/ledger-live-common/src/families/solana/specs.ts
  libs/ledger-live-common/src/families/solana/test-specifics.ts
  libs/ledger-live-common/src/families/solana/tx-fees.ts
  libs/ledger-live-common/src/families/solana/types.ts
  libs/ledger-live-common/src/families/solana/utils.ts
  libs/ledger-live-common/src/families/solana/validator-app/index.ts
  pnpm-lock.yaml
Labels: desktop, common, translations, release

#53 fix: overlapped price on market screen
  .changeset/quiet-coats-hang.md
  apps/ledger-live-mobile/src/screens/Market/MarketRowItem.tsx
Labels: mobile

#84 tweak PR template to make checklist good to check
  .github/pull_request_template.md
Labels: automation

#102 Update snapshot of cosmos
  .changeset/quick-hairs-obey.md
  libs/ledger-live-common/src/families/cosmos/__snapshots__/bridge.test.ts.snap
Labels: common

#70 fix: click on browse assets button
  .changeset/shy-bears-reflect.md
  apps/ledger-live-mobile/src/screens/Market/SearchHeader.tsx
Labels: mobile

#95 fix: ledger logo glitch during loading
  .changeset/swift-parrots-enjoy.md
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
Labels: mobile

#111 remove nightly layer on prerelease
  apps/ledger-live-desktop/src/renderer/Default.js
  pnpm-lock.yaml
Labels: desktop

#114 cleanup LLD workflows and back to github runners
  .github/workflows/build-desktop.yml
  apps/ledger-live-desktop/.github/workflows/after-screenshots.yml
  apps/ledger-live-desktop/.github/workflows/auto-merge-crowdin.yml
  apps/ledger-live-desktop/.github/workflows/bundle-app.yml
  apps/ledger-live-desktop/.github/workflows/checklist-pr.yml
  apps/ledger-live-desktop/.github/workflows/generate-screenshots.yml
  apps/ledger-live-desktop/.github/workflows/report-screenshots.yml
  apps/ledger-live-desktop/.github/workflows/sync-nightly-develop.yml
  apps/ledger-live-desktop/.github/workflows/ui-tests-reports.yml
  apps/ledger-live-desktop/.github/workflows/ui-tests.yml
Labels: automation

#57 Remove ledgerjs bash scripts
  .pnpmfile.cjs
  libs/ledgerjs/packages/cryptoassets/package.json
  libs/ledgerjs/packages/devices/README.md
  libs/ledgerjs/packages/devices/package.json
  libs/ledgerjs/packages/errors/package.json
  libs/ledgerjs/packages/hw-app-algorand/package.json
  libs/ledgerjs/packages/hw-app-btc/README.md
  libs/ledgerjs/packages/hw-app-btc/package.json
  libs/ledgerjs/packages/hw-app-cosmos/package.json
  libs/ledgerjs/packages/hw-app-eth/package.json
  libs/ledgerjs/packages/hw-app-helium/package.json
  libs/ledgerjs/packages/hw-app-polkadot/package.json
  libs/ledgerjs/packages/hw-app-solana/package.json
  libs/ledgerjs/packages/hw-app-str/package.json
  libs/ledgerjs/packages/hw-app-tezos/package.json
  libs/ledgerjs/packages/hw-app-trx/package.json
  libs/ledgerjs/packages/hw-app-xrp/README.md
  libs/ledgerjs/packages/hw-app-xrp/package.json
  libs/ledgerjs/packages/hw-transport-http/package.json
  libs/ledgerjs/packages/hw-transport-mocker/package.json
  libs/ledgerjs/packages/hw-transport-node-ble/package.json
  libs/ledgerjs/packages/hw-transport-node-hid-noevents/package.json
  libs/ledgerjs/packages/hw-transport-node-hid-singleton/package.json
  libs/ledgerjs/packages/hw-transport-node-hid/package.json
  libs/ledgerjs/packages/hw-transport-node-speculos-http/package.json
  libs/ledgerjs/packages/hw-transport-node-speculos/package.json
  libs/ledgerjs/packages/hw-transport-web-ble/package.json
  libs/ledgerjs/packages/hw-transport-webhid/package.json
  libs/ledgerjs/packages/hw-transport-webusb/package.json
  libs/ledgerjs/packages/hw-transport/README.md
  libs/ledgerjs/packages/hw-transport/package.json
  libs/ledgerjs/packages/logs/package.json
  libs/ledgerjs/packages/react-native-hid/package.json
  libs/ledgerjs/packages/react-native-hw-transport-ble/package.json
  libs/ledgerjs/packages/types-cryptoassets/package.json
  libs/ledgerjs/packages/types-devices/package.json
  libs/ledgerjs/packages/types-live/package.json
  libs/ledgerjs/script/build.sh
  libs/ledgerjs/script/clean.sh
  libs/ledgerjs/script/doc.sh
  libs/ledgerjs/script/watch.sh
  pnpm-lock.yaml
Labels: ledgerjs

#108 Disable flaky tests for bitcoin
  libs/ledger-live-common/src/families/bitcoin/__snapshots__/bridge.test.ts.snap
  libs/ledger-live-common/src/families/bitcoin/bridge.test.ts.bak
Labels: common

#115 Remove firmware on ATOM spec
  libs/ledger-live-common/src/families/cosmos/specs.ts
Labels: bug, common

#109 Support/adservices optional
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
Labels: mobile

#113 Solana: downgrade web3 - RN doesnt support BigInt
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: common

#125 update hotfix ci to match release
  .github/workflows/prepare-hotfix.yml
  .github/workflows/prerelease-auto.yml
  pnpm-lock.yaml
Labels: automation

#128 Add comment for Bitcoin segwit specific code
  libs/ledger-live-common/src/families/bitcoin/bridge/js.ts
Labels: common

#135 allow multiple release branches
  .github/workflows/prerelease.yml
  pnpm-lock.yaml
  tools/github-bot/src/tools.ts
Labels: tools, automation

#139 LIVE-2279 - reborn post nano purchase state
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/index.js
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/PostBuyDeviceScreen.tsx
Labels: mobile, translations

#131 LIVE-2421 - Desktop - fix potential crash issue during navigation
  .changeset/famous-cougars-occur.md
  apps/ledger-live-desktop/src/renderer/reducers/settings.js
  apps/ledger-live-desktop/src/renderer/screens/market/CountervalueSelect.tsx
Labels: desktop

#156 Auto-increment android version code
  apps/ledger-live-mobile/fastlane/Fastfile
Labels: mobile

#89 Feat/ratings
  apps/ledger-live-mobile/src/actions/ratings.js
  apps/ledger-live-mobile/src/analytics/segment.js
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/icons/Love.tsx
  apps/ledger-live-mobile/src/images/illustration/Dark/_081.png
  apps/ledger-live-mobile/src/images/illustration/Light/_081.png
  apps/ledger-live-mobile/src/index.js
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/ratings.tsx
  apps/ledger-live-mobile/src/reducers/index.js
  apps/ledger-live-mobile/src/reducers/ratings.js
  apps/ledger-live-mobile/src/screens/RatingsModal/Disappointed.tsx
  apps/ledger-live-mobile/src/screens/RatingsModal/DisappointedDone.tsx
  apps/ledger-live-mobile/src/screens/RatingsModal/DisappointedForm.tsx
  apps/ledger-live-mobile/src/screens/RatingsModal/Enjoy.tsx
  apps/ledger-live-mobile/src/screens/RatingsModal/Init.tsx
  apps/ledger-live-mobile/src/screens/RatingsModal/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/About/LiveReviewRow.android.tsx
  apps/ledger-live-mobile/src/screens/Settings/About/LiveReviewRow.ios.tsx
  apps/ledger-live-mobile/src/screens/Settings/About/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/index.tsx
Labels: mobile, translations, feature ready

#154 feat: LIVE-1939 change cosmos delegation flow and ledger validator
  .changeset/forty-sloths-brush.md
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/families/cosmos/ClaimRewardsFlow/02-SelectMethod.js
  apps/ledger-live-mobile/src/families/cosmos/DelegationFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/cosmos/DelegationFlow/02-SelectValidator.js
  apps/ledger-live-mobile/src/families/cosmos/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/cosmos/DelegationFlow/SelectValidator.tsx
  apps/ledger-live-mobile/src/families/cosmos/DelegationFlow/index.tsx
  apps/ledger-live-mobile/src/families/cosmos/Delegations/Row.tsx
  apps/ledger-live-mobile/src/families/cosmos/Delegations/index.tsx
  apps/ledger-live-mobile/src/families/cosmos/RedelegationFlow/01-SelectValidator.js
  apps/ledger-live-mobile/src/families/cosmos/TransactionConfirmFields.js
  apps/ledger-live-mobile/src/families/cosmos/accountActions.tsx
  apps/ledger-live-mobile/src/families/cosmos/shared/02-SelectAmount.js
  apps/ledger-live-mobile/src/families/cosmos/shared/Item.js
  apps/ledger-live-mobile/src/families/cosmos/shared/ValidatorHead.tsx
  apps/ledger-live-mobile/src/families/cosmos/shared/ValidatorImage.tsx
  apps/ledger-live-mobile/src/families/cosmos/shared/ValidatorRow.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/OperationDetails/Content.js
  libs/ledger-live-common/docs/AccountBridge.md
  libs/ledger-live-common/docs/CurrencyBridge.md
  libs/ledger-live-common/docs/account-bridge-flow.png
  libs/ledger-live-common/docs/account.md
  libs/ledger-live-common/docs/apps.md
  libs/ledger-live-common/docs/appsCheckAllAppVersions.md
  libs/ledger-live-common/docs/bot.md
  libs/ledger-live-common/docs/bridge-flow.json
  libs/ledger-live-common/docs/canonical-ways-to-investigate-bugs.md
  libs/ledger-live-common/docs/ci-intro.md
  libs/ledger-live-common/docs/cli.md
  libs/ledger-live-common/docs/countervalues.md
  libs/ledger-live-common/docs/currency-bridge-flow.png
  libs/ledger-live-common/docs/currency.md
  libs/ledger-live-common/docs/dedup.md
  libs/ledger-live-common/docs/derivation.md
  libs/ledger-live-common/docs/dev-with-cli.md
  libs/ledger-live-common/docs/developing.md
  libs/ledger-live-common/docs/excalidraw-btc-scan-accounts.json
  libs/ledger-live-common/docs/excalidraw-btc-scan-accounts.png
  libs/ledger-live-common/docs/firmware-update.md
  libs/ledger-live-common/docs/gist-firmware.md
  libs/ledger-live-common/docs/gist-tx.md
  libs/ledger-live-common/docs/hw.md
  libs/ledger-live-common/docs/intro.md
  libs/ledger-live-common/docs/live-common-setup.md
  libs/ledger-live-common/docs/socket.md
Labels: mobile, translations, feature ready

#118 feat: add kiln and alkemi to eth app deps
  libs/ledger-live-common/src/apps/polyfill.ts
Labels: common, feature ready

#119 Fixes crypto-assets importer
  libs/ledgerjs/package.json
  pnpm-lock.yaml
Labels: ledgerjs

#112 Disable React Navigation sentry integration
  .changeset/wild-papayas-bow.md
  apps/ledger-live-mobile/index.js
  apps/ledger-live-mobile/src/index.js
Labels: mobile

#107 Support/add abachi tokens icons
  .changeset/lucky-rockets-drum.md
  libs/ledger-live-common/src/data/icons/svg/ABI.svg
  libs/ledger-live-common/src/data/icons/svg/gABI.svg
  libs/ledger-live-common/src/data/icons/svg/sABI.svg
Labels: common

#176 update readme with m1 workarounds for llm
  apps/ledger-live-mobile/README.md
Labels: mobile

#155 Feat/osmosis integration
  .changeset/clever-points-roll.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.js
  apps/ledger-live-desktop/src/renderer/families/osmosis/MemoValueField.js
  apps/ledger-live-desktop/src/renderer/families/osmosis/SendRecipientFields.js
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/dependencies.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/data/icons/svg/OSMO.svg
  libs/ledger-live-common/src/env.ts
  libs/ledger-live-common/src/families/osmosis/account.ts
  libs/ledger-live-common/src/families/osmosis/api/index.ts
  libs/ledger-live-common/src/families/osmosis/api/sdk.ts
  libs/ledger-live-common/src/families/osmosis/api/sdk.types.ts
  libs/ledger-live-common/src/families/osmosis/bridge/js.ts
  libs/ledger-live-common/src/families/osmosis/bridge/mock.ts
  libs/ledger-live-common/src/families/osmosis/cli-transaction.ts
  libs/ledger-live-common/src/families/osmosis/deviceTransactionConfig.ts
  libs/ledger-live-common/src/families/osmosis/errors.ts
  libs/ledger-live-common/src/families/osmosis/hw-getAddress.ts
  libs/ledger-live-common/src/families/osmosis/js-buildTransaction.ts
  libs/ledger-live-common/src/families/osmosis/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/osmosis/js-getFeesForTransaction.ts
  libs/ledger-live-common/src/families/osmosis/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/osmosis/js-signOperation.ts
  libs/ledger-live-common/src/families/osmosis/js-synchronization.ts
  libs/ledger-live-common/src/families/osmosis/js-transaction.ts
  libs/ledger-live-common/src/families/osmosis/specs.ts
  libs/ledger-live-common/src/families/osmosis/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/osmosis/transaction.ts
  libs/ledger-live-common/src/families/osmosis/types.ts
  libs/ledger-live-common/src/families/osmosis/utils.ts
  libs/ledger-live-common/src/generated/account.ts
  libs/ledger-live-common/src/generated/bridge/js.ts
  libs/ledger-live-common/src/generated/bridge/mock.ts
  libs/ledger-live-common/src/generated/cli-transaction.ts
  libs/ledger-live-common/src/generated/deviceTransactionConfig.ts
  libs/ledger-live-common/src/generated/hw-getAddress.ts
  libs/ledger-live-common/src/generated/specs.ts
  libs/ledger-live-common/src/generated/speculos-deviceActions.ts
  libs/ledger-live-common/src/generated/transaction.ts
  libs/ledger-live-common/src/generated/types.ts
  pnpm-lock.yaml
Labels: desktop, common, HODL, translations

#180 LIVE-2464 Run CI on external contributions
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  tools/actions/composites/build-desktop/action.yml
Labels: tools, automation

#175 Feat/live 1814 wallet
  apps/ledger-live-mobile/src/components/BuyDeviceBanner.tsx
  apps/ledger-live-mobile/src/components/GradientContainer.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/AccountsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/PortfolioNavigator.tsx
  apps/ledger-live-mobile/src/icons/Graph.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Accounts/ReadOnly/ReadOnlyAccountRow.tsx
  apps/ledger-live-mobile/src/screens/Accounts/ReadOnly/ReadOnlyAccounts.tsx
  apps/ledger-live-mobile/src/screens/Accounts/ReadOnlyAccounts.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/ReadOnlyAssets.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/ReadOnlyGraphCard.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
Labels: mobile, translations

#188 add outputs on composite actions
  .github/workflows/build-desktop.yml
  tools/actions/composites/build-desktop/action.yml
Labels: tools, automation

#183 ui/shared - add new theme colors
  .changeset/weak-beans-fix.md
  libs/ui/packages/shared/palettes/dark.ts
  libs/ui/packages/shared/palettes/light.ts
Labels: ui

#171 Fix bug on getAddress CLI cmd
  .changeset/calm-pets-sleep.md
  libs/ledger-live-common/cli/src/commands/getAddress.ts
Labels: common

#205 [LIVE-2492] - Bugfix: Preventing crash w/ offiline device action error
  .changeset/silly-pots-clap.md
  apps/ledger-live-mobile/src/components/DeviceAction/index.js
Labels: mobile

#189 LIVE-2480 Fix cosmos select amount screen
  apps/ledger-live-mobile/src/families/cosmos/shared/02-SelectAmount.js
Labels: mobile

#190 LIVE-2486 Fix choice of cosmos validator
  .changeset/young-beers-obey.md
  apps/ledger-live-mobile/src/families/cosmos/DelegationFlow/02-Summary.tsx
Labels: mobile

#201 Remove a libcore requirement relicat
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: common

#103 [BUGFIX][LIVE-2031] take fees into account for swap rate
  .changeset/wet-news-agree.md
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.test.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
Labels: common

#213 bugfix/ratings-account-with-ammount-condition fixed
  apps/ledger-live-mobile/src/logic/ratings.tsx
Labels: mobile

#217 Fix running tests on push events
  .github/workflows/test.yml
Labels: automation

#198 LLM: increase to iOS 13 minimum
  .changeset/strong-penguins-chew.md
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
Labels: mobile

#222 bugfix/ratings-account-with-ammount-condition fixed
  apps/ledger-live-mobile/src/logic/ratings.tsx
Labels: mobile

#218 LLM Android: Sentry: Increase ANR timeout to 10s
  apps/ledger-live-mobile/android/app/src/main/AndroidManifest.xml
Labels: mobile

#223 PR template refinements
  .github/pull_request_template.md
Labels: automation

#224 trigger mobile build on prerelease
  .github/workflows/prerelease.yml
Labels: automation

#220 Bugfix LIVE-2330 [BOT] Polygon NotEnoughBalance error
  .changeset/lazy-pants-travel.md
  libs/ledger-live-common/src/families/ethereum/specs.ts
Labels: common

#227 Bugfix/polkadot wasm fix alt
  .changeset/flat-kings-cover.md
  apps/ledger-live-mobile/index.js
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/polkadot/bridge/js.ts
  libs/ledger-live-common/src/families/polkadot/js-buildTransaction.ts
  libs/ledger-live-common/src/families/polkadot/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/polkadot/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/polkadot/js-prepareTransaction.ts
  libs/ledger-live-common/src/families/polkadot/js-synchronisation.ts
  libs/ledger-live-common/src/families/polkadot/polkadot-crypto.ts
  libs/ledger-live-common/src/families/polkadot/preload.ts
  libs/ledger-live-common/src/reactNative.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, ui, ledgerjs, tools, automation, screenshots

#237 Fix collision between bip44 and glif nomral derivation modes
  .changeset/soft-snails-applaud.md
  .gitignore
  libs/ledger-live-common/src/derivation.ts
Labels: common

#236 update build number for ios again
  apps/ledger-live-mobile/Gemfile.lock
  apps/ledger-live-mobile/fastlane/Fastfile
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/ios/ledgerlivemobileTests/Info.plist
  pnpm-lock.yaml
Labels: mobile

#234 LIVE-2479 Cherry-pick of #227 into releases/llm-3.2.x
  .changeset/flat-kings-cover.md
  apps/ledger-live-mobile/index.js
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/polkadot/bridge/js.ts
  libs/ledger-live-common/src/families/polkadot/js-buildTransaction.ts
  libs/ledger-live-common/src/families/polkadot/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/polkadot/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/polkadot/js-prepareTransaction.ts
  libs/ledger-live-common/src/families/polkadot/js-synchronisation.ts
  libs/ledger-live-common/src/families/polkadot/polkadot-crypto.ts
  libs/ledger-live-common/src/families/polkadot/preload.ts
  libs/ledger-live-common/src/reactNative.ts
  pnpm-lock.yaml
Labels: mobile, common

#241 fix cardano api endpoint
  libs/ledger-live-common/src/env.ts
Labels: common

#110 refactor top perfs filter
  .changeset/empty-taxis-grin.md
  apps/ledger-live-mobile/src/screens/Market/SearchHeader.tsx
  apps/ledger-live-mobile/src/screens/Market/index.tsx
  libs/ledger-live-common/src/market/api/api.ts
  libs/ledger-live-common/src/market/types.ts
Labels: mobile, common

#238 dont display overlay on ci builds
  apps/ledger-live-desktop/src/main/updater/init.js
  apps/ledger-live-desktop/src/renderer/Default.js
Labels: desktop

#231 LLM: use staging env on staging builds
  apps/ledger-live-mobile/package.json
Labels: mobile
