Repository LedgerHQ/ledger-live, pull requests merged in 2022-08, with the labels that each got.

#791 Correct wrong import path of getEnv
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/LiveAppSDKLogic.ts
Labels: desktop

#802 patch hotfix
  apps/ledger-live-desktop/CHANGELOG.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-mobile/CHANGELOG.md
  apps/ledger-live-mobile/package.json
Labels: desktop, mobile

#801 hotfix LLD: Fixes Segment + reduces Sentry tracing sampling
  .changeset/flat-carrots-camp.md
  .changeset/new-years-lay.md
  apps/ledger-live-desktop/src/renderer/analytics/inject-in-window.js
  apps/ledger-live-desktop/src/renderer/analytics/segment.js
  apps/ledger-live-desktop/src/renderer/index.html
  apps/ledger-live-desktop/src/sentry/install.js
Labels: desktop

#816 LLD: add segment integration tests
  apps/ledger-live-desktop/src/renderer/analytics/segment.js
  apps/ledger-live-desktop/tests/specs/analytics/segment.spec.ts
Labels: desktop

#796 BugFix/ LIVE-3168 - LLM - SendFlow fix navigation issue
  .changeset/shaggy-lizards-occur.md
  .github/workflows/test-desktop.yml
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/screens/SelectAccount.tsx
  pnpm-lock.yaml
Labels: mobile, automation

#806 Asset Centric Wallet - OperationsHistorySection added to the Wallet page
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/OperationsHistory.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/SectionTitle.tsx
  pnpm-lock.yaml
Labels: mobile

#792 Bugfix/live 3160 fix receive flow navigation issue
  .changeset/five-garlics-cough.md
  apps/ledger-live-mobile/src/components/RootNavigator/ReceiveFundsNavigator.tsx
Labels: mobile

#793 BugFix / LIVE-3156 - LLM - NFT navigation issue
  apps/ledger-live-mobile/src/screens/Account/NftCollectionsList.tsx
Labels: mobile

#794 BugFix/ LIVE-3165 - LLM - Account deletion issue on redirection
  .changeset/real-lizards-help.md
  apps/ledger-live-mobile/src/screens/AccountSettings/index.tsx
  apps/ledger-live-mobile/src/screens/Accounts/AccountOrder.tsx
Labels: mobile

#797 LIVE-2828 - LLM - Receive flow fix issue on token account creation name
  .changeset/two-olives-push.md
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccount.tsx
Labels: mobile

#804 bugfix/LIVE-3173-send-amount-keyboard-view fixed keyboard avoiding vi…
  .changeset/proud-cameras-vanish.md
  apps/ledger-live-mobile/src/screens/SendFunds/03a-AmountCoin.js
Labels: mobile

#798 Storyly version updated to fix mobile
  .changeset/brown-nails-yell.md
  .github/workflows/test-desktop.yml
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Labels: mobile, automation

#820 fix: the loader screen animation
  apps/ledger-live-desktop/src/renderer/index.html
Labels: desktop

#821 Support/revert storyly
  .changeset/afraid-experts-brush.md
  .changeset/large-knives-fly.md
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/Storyly/StoryBar.tsx
  apps/ledger-live-mobile/src/components/Storyly/StoryGroup.tsx
  apps/ledger-live-mobile/src/components/Storyly/StorylyWrapper.tsx
  apps/ledger-live-mobile/src/components/Storyly/shared.tsx
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/screens/DebugStoryly.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/OpenDebugStoryly.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/index.tsx
  pnpm-lock.yaml
Labels: mobile

#823 LIVE-3199 - LLM - Receive flow redirection issue from market
  .changeset/serious-cherries-taste.md
  apps/ledger-live-mobile/src/components/FabActions.tsx
Labels: mobile

#779 Refactoring: FAT-82 & 99 Onboarding polling hook refactor
  .changeset/twelve-oranges-play.md
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.ts
  libs/ledger-live-common/src/onboarding/hooks/useOnboardingStatePolling.test.ts
  libs/ledger-live-common/src/onboarding/hooks/useOnboardingStatePolling.ts
Labels: common

#830 bugfix: Set Celo staking operation amounts to fees
  apps/ledger-live-desktop/src/renderer/families/celo/operationDetails.jsx
  apps/ledger-live-mobile/src/families/celo/operationDetails.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/families/celo/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/celo/api/hubble.ts
Labels: desktop, mobile, common, translations, fork

#805 LIVE-2854 Tron integration test working again
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/api/Tron.ts
  libs/ledger-live-common/src/families/tron/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/tron/bridge.integration.test.ts
  libs/ledger-live-common/src/families/tron/bridge/js.ts
  libs/ledger-live-common/src/families/tron/constants.ts
Labels: common

#833 LIVE-3205 - LLM - Receive flow copy button overflow issue
  .changeset/soft-monkeys-lay.md
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
Labels: mobile

#812 LIVE-3062 LIVE-3063 : Fix Algorand and Polkadot integration tests
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/families/algorand/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/algorand/bridge.integration.test.ts
  libs/ledger-live-common/src/families/polkadot/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/polkadot/bridge.integration.test.ts
  libs/ledger-live-common/src/families/polkadot/js-getTransactionStatus.ts
Labels: common

#834 LIVE-3203 - LLM - market backarrow button touch highlight color issue
  .changeset/shiny-pens-flow.md
  .changeset/thin-tomatoes-poke.md
  libs/ui/packages/native/src/components/cta/Button/index.tsx
Labels: ui

#840 bugfix: check that Celo bot account is registered before locking tokens
  libs/ledger-live-common/src/families/celo/specs/createLockMutation.ts
Labels: common, fork

#783 Common platform tracking
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/LiveAppSDKLogic.ts
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/index.tsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/tracking.js
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/index.js
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/tracking.js
  libs/ledger-live-common/src/platform/tracking.test.ts
  libs/ledger-live-common/src/platform/tracking.ts
Labels: desktop, mobile, common

#843 feat: sync Celo accounts after broadcasting operation
  apps/ledger-live-desktop/src/renderer/families/celo/ActivateFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/celo/LockFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/celo/RevokeFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/celo/SimpleOperationFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/celo/UnlockFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/celo/VoteFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/celo/WithdrawFlowModal/steps/StepConfirmation.jsx
Labels: desktop, fork

#782 LLD Sentry iteration: adjust sampling, ignore false positive errors
  apps/ledger-live-desktop/src/internal/index.js
  apps/ledger-live-desktop/src/main/index.js
  apps/ledger-live-desktop/src/sentry/install.js
  apps/ledger-live-desktop/src/sentry/internal.js
  apps/ledger-live-desktop/src/sentry/main.js
  apps/ledger-live-desktop/src/sentry/renderer.js
Labels: desktop

#839 add Nano S Plus in README
  libs/ledgerjs/README.md
Labels: ledgerjs

#848 fix cardano address validation
  .changeset/tidy-bugs-camp.md
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: common, fork

#822 Feat/software check sync onboarding
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/GenuineCheckModal.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckContent.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#849 Smartling on-demand translation delivery from release
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#847 Bugfix/Live-3222 LLM receive flow multiple account issue
  .changeset/shiny-pumpkins-explain.md
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccount.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectAccount.tsx
Labels: mobile

#865 Feat/add completion screen onboarding
  .changeset/lucky-radios-beam.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/CompletionScreen.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/index.tsx
Labels: desktop

#869 Fix errSecInternalComponent error when signing IOS builds on our runners
  apps/ledger-live-mobile/Gemfile.lock
  apps/ledger-live-mobile/fastlane/Fastfile
Labels: mobile

#866 Revert part of "LLD Sentry iteration"
  apps/ledger-live-desktop/src/internal/index.js
  apps/ledger-live-desktop/src/main/index.js
  apps/ledger-live-desktop/src/sentry/internal.js
  apps/ledger-live-desktop/src/sentry/main.js
  apps/ledger-live-desktop/src/sentry/renderer.js
Labels: desktop

#863 Links to the Dev Portal for external devs
  apps/ledger-live-desktop/README.md
  apps/ledger-live-mobile/README.md
  libs/ledger-live-common/README.md
  libs/ledgerjs/README.md
  libs/ledgerjs/packages/hw-app-algorand/README.md
  libs/ledgerjs/packages/hw-app-btc/README.md
  libs/ledgerjs/packages/hw-app-cosmos/README.md
  libs/ledgerjs/packages/hw-app-eth/README.md
  libs/ledgerjs/packages/hw-app-helium/README.md
  libs/ledgerjs/packages/hw-app-polkadot/README.md
  libs/ledgerjs/packages/hw-app-solana/README.md
  libs/ledgerjs/packages/hw-app-str/README.md
  libs/ledgerjs/packages/hw-app-tezos/README.md
  libs/ledgerjs/packages/hw-app-trx/README.md
  libs/ledgerjs/packages/hw-app-xrp/README.md
  libs/ledgerjs/packages/hw-transport-node-ble/README.md
  libs/ledgerjs/packages/hw-transport-node-hid-singleton/README.md
  libs/ledgerjs/packages/hw-transport-webhid/README.md
  libs/ledgerjs/packages/hw-transport-webusb/README.md
  libs/ledgerjs/packages/react-native-hid/README.md
  libs/ledgerjs/packages/react-native-hw-transport-ble/README.md
Labels: desktop, mobile, common, ledgerjs

#770 Feat/fat 161 onboarding usb pairing
  apps/ledger-live-desktop/src/internal/commands/getOnboardingStatePolling.ts
  apps/ledger-live-desktop/src/internal/commands/index.js
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectDevice/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/DeviceConnection/Searching.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/DeviceConnection/Success.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/DeviceConnection/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Pairing/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/index.tsx
  apps/ledger-live-desktop/src/renderer/reducers/devices.js
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#837 LIVE-3218 prevent resources to go undefined
  libs/ledger-live-common/src/account/helpers.ts
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/reconciliation.ts
Labels: common

#745 POC osmosis as feature flag
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.jsx
  apps/ledger-live-mobile/src/families/cosmos/RedelegationFlow/01-SelectValidator.js
  apps/ledger-live-mobile/src/live-common-setup.js
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.js
  libs/ledger-live-common/src/families/cosmos/CosmosValidatorsManager.ts
  libs/ledger-live-common/src/families/cosmos/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/osmosis/api/sdk.unit.test.ts
  libs/ledger-live-common/src/families/osmosis/deviceTransactionConfig.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs

#874 CI
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-accounts-list-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-select-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-accounts-list-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-success-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/open-modal-win32.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/discover-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-no-scrollbar-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-thb-countervalue-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/catalog-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-select-account-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-sign-transaction-confirm-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-sign-transaction-confirm-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-sign-transaction-info-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-verify-address-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-verify-address-win32.png
Labels: desktop, screenshots

#858 Redesigned account page header and graph + animations
  apps/ledger-live-mobile/src/components/AccountGraphCard.tsx
  apps/ledger-live-mobile/src/components/BackgroundGradient.tsx
  apps/ledger-live-mobile/src/components/CurrencyBackgroundGradient.tsx
  apps/ledger-live-mobile/src/components/CurrencyGradient.tsx
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/components/Graph/index.js
  apps/ledger-live-mobile/src/components/RootNavigator/AccountsNavigator.tsx
  apps/ledger-live-mobile/src/screens/Account/AccountHeader.tsx
  apps/ledger-live-mobile/src/screens/Account/AccountHeaderRight.tsx
  apps/ledger-live-mobile/src/screens/Account/ListHeaderComponent.tsx
  apps/ledger-live-mobile/src/screens/Account/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  pnpm-lock.yaml
Labels: mobile

#870 LIVE-3066: celo apdu test update
  libs/ledger-live-common/src/families/celo/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/celo/datasets/celo.scanAccounts.1.ts
Labels: common

#879 Force commonjs imports for ledgerhq-react-native-hw-transport-ble
  .npmrc
  apps/ledger-live-mobile/src/screens/PairDevices/Scanning.tsx
  libs/ledgerjs/packages/react-native-hw-transport-ble/src/BleTransport.ts
  package.json
  pnpm-lock.yaml
Labels: mobile, ledgerjs

#862 Fixes links that was still pointing to LLC repo
  apps/cli/src/cli.ts
  apps/ledger-live-mobile/docs/ONBOARDING_LINUX.md
  libs/ledger-live-common/src/bot/index.ts
  libs/ledger-live-common/src/families/tezos/README.md
Labels: mobile, common, cli

#803 LIVE-3170 Decrease Stellar API limit param to avoid HTTP 503 "object too large" in responses
  .changeset/early-dingos-repeat.md
  libs/ledger-live-common/src/env.ts
  libs/ledger-live-common/src/families/stellar/bridge.integration.test.ts
Labels: common

#878 disable hw-app-btc/tests/Btc.integration.test.ts
  libs/ledgerjs/packages/hw-app-btc/tests/Btc.integration.test.ts.disabled
Labels: ledgerjs

#880 Clean numerous warning that arises in hw-app-eth making it hard to read errors
  libs/ledgerjs/packages/hw-app-eth/src/Eth.ts
  libs/ledgerjs/packages/hw-app-eth/tests/Eth.test.ts
Labels: ledgerjs

#665 LIVE-2498 Update LLC dependencies - @polkadot
  .changeset/blue-ligers-visit.md
  libs/ledger-live-common/dependencies.md
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: common

#859 Add 'reason' context of a sync + add BridgeSync test
  .changeset/soft-rabbits-retire.md
  apps/ledger-live-desktop/src/renderer/components/TopBar/ActivityIndicator.jsx
  apps/ledger-live-desktop/src/renderer/families/algorand/OptInFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/algorand/Rewards/ClaimRewardsFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/ClaimRewardsFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/DelegationFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/RedelegationFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/UndelegationFlowModal/steps/Confirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/polkadot/NominationFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/polkadot/SimpleOperationFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationActivateFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationDeactivateFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationReactivateFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationWithdrawFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/stellar/AddAssetModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/tezos/DelegateFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/modals/ClaimRewards/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/modals/Unfreeze/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/modals/VoteTron/Info/Body/Main.jsx
  apps/ledger-live-desktop/src/renderer/modals/VoteTron/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/screens/account/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountSyncStatusIndicator.jsx
  apps/ledger-live-desktop/src/renderer/screens/lend/modals/Enable/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/screens/lend/modals/Supply/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/screens/lend/modals/Withdraw/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/BlacklistedTokens.jsx
  apps/ledger-live-mobile/src/bridge/SyncNewAccounts.js
  apps/ledger-live-mobile/src/components/accountSyncRefreshControl.js
  apps/ledger-live-mobile/src/components/globalSyncRefreshControl.js
  apps/ledger-live-mobile/src/screens/SendFunds/02-SelectRecipient.js
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/__tests__/test-helpers/dom-polyfill.ts
  libs/ledger-live-common/src/bridge/react/BridgeSync.test.tsx
  libs/ledger-live-common/src/bridge/react/BridgeSync.tsx
  libs/ledger-live-common/src/bridge/react/SyncAllAccountsOnMount.ts
  libs/ledger-live-common/src/bridge/react/SyncOneAccountOnMount.ts
  libs/ledger-live-common/src/bridge/react/index.ts
  libs/ledger-live-common/src/bridge/react/types.ts
  libs/ledger-live-common/src/families/polkadot/react.ts
  libs/ledger-live-common/src/families/tron/react.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common

#881 add: USB troubleshooting drawer to sync onboarding
  .changeset/mighty-queens-enjoy.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/TroubleshootingDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#883 BugFix: LIVE-3245 - LLM - Receive flow prevent double modal
  .changeset/thick-tools-cheat.md
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
Labels: mobile

#884 celo to raw account fix
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/families/celo/serialization.ts
Labels: common

#872 Smartling translations are completed for PR#593 from feat/migrate-v3-onboarding
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#871 Introduces 'MOCK_COUNTERVALUES' to test countervalues in MOCK mode
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/specs/countervalues/api.spec.ts
  apps/ledger-live-mobile/.env.mock
  libs/ledger-live-common/src/__tests__/csvExport.ts
  libs/ledger-live-common/src/__tests__/portfolio.v2.ts
  libs/ledger-live-common/src/countervalues/api/index.ts
  libs/ledger-live-common/src/countervalues/mock.test.ts
  libs/ledger-live-common/src/env.ts
Labels: desktop, common

#882 fix: bump platform API version [LIVE-3181]
  .changeset/empty-seals-bow.md
  .changeset/great-waves-kiss.md
  .changeset/slimy-chicken-act.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.js
  apps/ledger-live-mobile/src/live-common-setup.js
  libs/ledger-live-common/src/__tests__/accounts/importAccounts.ts
  libs/ledger-live-common/src/__tests__/test-helpers/setup.ts
  libs/ledger-live-common/src/apps/filtering.test.ts
  libs/ledger-live-common/src/platform/version.test.ts
Labels: desktop, mobile, common, cli

#887 support/20220809 CAL update
  .changeset/weak-actors-help.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/data/bep20.js
  libs/ledgerjs/packages/cryptoassets/data/erc20-signatures.js
  libs/ledgerjs/packages/cryptoassets/data/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/exchange/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/polygon-erc20.js
Labels: desktop, common, ledgerjs

#885 Fixes CI flawky e2e tests
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts
Labels: desktop

#841 Asset Centric Wallet - Wallet Page Empty State
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/AccountsNavigator.tsx
  apps/ledger-live-mobile/src/icons/WalletCoinsSupported.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Account/AccountHeader.tsx
  apps/ledger-live-mobile/src/screens/Account/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioEmptyState.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/Allocations.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/SectionContainer.tsx
  pnpm-lock.yaml
Labels: mobile, translations

#886 ci: attempt to fix the flaky node-gyp errors in the windows ci
  .github/workflows/test-desktop.yml
Labels: automation

#664 LIVE-2498 Update LLC dependencies - @taquito
  .changeset/chatty-jeans-do.md
  libs/ledger-live-common/dependencies.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/tezos/signOperation.ts
  pnpm-lock.yaml
Labels: common, feature ready

#768 fix: use getMainAccount in broadcastTransaction [LIVE-3142]
  .changeset/silly-oranges-begin.md
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/LiveAppSDKLogic.ts
Labels: desktop

#897 BugFix: LIVE-3199 - LLM - Receive flow fix isue on receive from market page
  .changeset/gentle-ties-pretend.md
  apps/ledger-live-mobile/src/components/FabAccountButtonBar.tsx
  apps/ledger-live-mobile/src/components/FabActions.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
Labels: mobile

#850 LIVE-3045 Fix Cardano address validation
  .changeset/tidy-bugs-camp.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/cardano/address.unit.test.ts
  pnpm-lock.yaml
Labels: common, feature ready

#902 Assets Centric Wallet - Assets list in the Wallet page
  apps/ledger-live-mobile/src/actions/portfolio.js
  apps/ledger-live-mobile/src/components/RootNavigator/AccountsNavigator.tsx
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/screens/Portfolio/Assets.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AssetRow.tsx
  libs/ledger-live-common/src/portfolio/v2/index.ts
  libs/ledgerjs/packages/types-live/src/portfolio.ts
  pnpm-lock.yaml
Labels: mobile, common, ledgerjs

#901 Feat - LIVE-3304 - LLM new asset page quick actions section
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/families/celo/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
Labels: mobile

#764 feat/LIVE-3138 Introduce hasDevFirmware flag into DeviceInfo
  .changeset/blue-trainers-hug.md
  libs/ledger-live-common/src/hw/getDeviceInfo.ts
  libs/ledger-live-common/src/hw/isDevFirmware.test.ts
  libs/ledger-live-common/src/hw/isDevFirmware.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/manager.ts
Labels: common, ledgerjs

#905 Support/fix release merge
  apps/ledger-live-mobile/src/screens/Accounts/ReadOnly/ReadOnlyAccounts.tsx
  libs/ledgerjs/packages/types-live/README.md
Labels: mobile, ledgerjs

#913 Feat/live 2804/asset header graph v0
  apps/ledger-live-mobile/src/components/AccountGraphCard.tsx
  apps/ledger-live-mobile/src/components/AssetCentricGraphCard.tsx
  apps/ledger-live-mobile/src/components/CurrencyGradient.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/AccountsNavigator.tsx
  apps/ledger-live-mobile/src/screens/Account/Header.js
  apps/ledger-live-mobile/src/screens/Account/ListHeaderComponent.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/Header.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  pnpm-lock.yaml
Labels: mobile

#916 Feat/live 2815 asset centric wallet account page adapted for empty accounts
  apps/ledger-live-mobile/src/components/AccountGraphCard.tsx
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/components/ParentCurrencyIcon.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/AccountsNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Account/AccountHeader.tsx
  apps/ledger-live-mobile/src/screens/Account/EmptyAccountCard.tsx
  apps/ledger-live-mobile/src/screens/Account/ListHeaderComponent.tsx
  apps/ledger-live-mobile/src/screens/Account/index.tsx
  apps/ledger-live-mobile/src/screens/Accounts/index.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/04-Success.js
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
Labels: mobile, translations

#864 Add a LLD e2e test that try to load app with all bot accounts
  apps/ledger-live-desktop/tests/specs/general/stability.spec.ts
  apps/ledger-live-desktop/tests/userdata/bot-accounts.json
  apps/ledger-live-desktop/tests/userdata/bot-accounts.md
Labels: desktop

#910 Filecoin bot spec: increase the max account from 2 to 5
  .github/workflows/bot-filecoin.yml
  libs/ledger-live-common/src/families/filecoin/specs.ts
Labels: common, automation

#918 LIVE-3333 fix useAllAmount flow when fees are higher than balance
  .changeset/polite-phones-roll.md
  libs/ledger-live-common/src/families/filecoin/bridge/account.ts
Labels: common, fork

#891 native-ui: "h1Inter" text variant (h1 with Inter font family)
  .changeset/hip-readers-enjoy.md
  libs/ui/packages/native/src/components/Text/getTextStyle.ts
  libs/ui/packages/native/src/styles/theme.ts
  libs/ui/packages/native/storybook/stories/Text/Text.stories.tsx
  libs/ui/packages/native/storybook/stories/Text/TextOverview.stories.tsx
Labels: ui

#924 bot: pickSiblings must be used once in spec
  libs/ledger-live-common/src/families/elrond/specs.ts
  libs/ledger-live-common/src/families/polkadot/specs.ts
Labels: common

#846 LIVE-1960 Filecoin integration in LLD and LLM
  .changeset/polite-phones-roll.md
  .github/workflows/bot-filecoin-mooncake.yml
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.js
  apps/ledger-live-mobile/src/live-common-setup.js
  libs/ledger-live-common/src/__tests__/test-helpers/setup.ts
  libs/ledger-live-common/src/families/filecoin/bridge/account.ts
Labels: desktop, mobile, common, automation, feature ready, cli

#855 [LIVE-2631] Banner and drawer for external integrations
  .changeset/weak-kiwis-sip.md
  apps/ledger-live-desktop/src/renderer/components/AccountSubHeader/AccountSubHeaderDrawer.jsx
  apps/ledger-live-desktop/src/renderer/components/AccountSubHeader/index.jsx
  apps/ledger-live-desktop/src/renderer/families/cardano/AccountSubHeader.jsx
  apps/ledger-live-desktop/src/renderer/families/cardano/StakingRewardsBanner.jsx
  apps/ledger-live-desktop/src/renderer/families/celo/AccountSubHeader.jsx
  apps/ledger-live-desktop/src/renderer/families/crypto_org/AccountSubHeader.jsx
  apps/ledger-live-desktop/src/renderer/families/elrond/AccountSubHeader.jsx
  apps/ledger-live-desktop/src/renderer/families/elrond/AccountSubHeaderDrawer.jsx
  apps/ledger-live-desktop/src/renderer/families/filecoin/AccountSubHeader.jsx
  apps/ledger-live-desktop/src/renderer/families/hedera/AccountSubHeader.jsx
  apps/ledger-live-desktop/src/renderer/families/solana/AccountSubHeader.jsx
  apps/ledger-live-desktop/src/renderer/families/stellar/AccountSubHeader.jsx
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/components/AccountSubHeader/AccountSubHeaderDrawer.tsx
  apps/ledger-live-mobile/src/components/AccountSubHeader/index.tsx
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/families/cardano/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/families/celo/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/families/crypto_org/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/families/crypto_org/AccountSubHeaderDrawer.tsx
  apps/ledger-live-mobile/src/families/elrond/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/families/elrond/AccountSubHeaderDrawer.tsx
  apps/ledger-live-mobile/src/families/filecoin/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/families/hedera/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/families/solana/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/families/stellar/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations, feature ready

#625 [LIVE-2943] Feat/add back forward buttons to web platform player
  .changeset/tender-shrimps-refuse.md
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/TopBar.jsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/index.tsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/type.js
  apps/ledger-live-desktop/src/renderer/screens/card/index.jsx
Labels: desktop, release

#925 chore: upgrade vitejs to v3
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/tools/utils/index.js
  pnpm-lock.yaml
Labels: desktop

#939 Bot: Polkadot: fixes spec to generate more than 2 accounts
  libs/ledger-live-common/src/families/polkadot/specs.ts
Labels: common

#940 Bot: Cosmos: reduce the chance to get amount delegated by half
  libs/ledger-live-common/src/families/cosmos/specs.ts
Labels: common

#662 [README] Add GitPOAP Badge to Display Number of Minted GitPOAPs for Contributors
  README.md
Labels: fork

#875 Support/dev portal links
  apps/ledger-live-desktop/README.md
  apps/ledger-live-mobile/README.md
  libs/ledger-live-common/README.md
  libs/ledgerjs/README.md
  libs/ledgerjs/packages/hw-app-algorand/README.md
  libs/ledgerjs/packages/hw-app-btc/README.md
  libs/ledgerjs/packages/hw-app-cosmos/README.md
  libs/ledgerjs/packages/hw-app-eth/README.md
  libs/ledgerjs/packages/hw-app-helium/README.md
  libs/ledgerjs/packages/hw-app-polkadot/README.md
  libs/ledgerjs/packages/hw-app-solana/README.md
  libs/ledgerjs/packages/hw-app-str/README.md
  libs/ledgerjs/packages/hw-app-tezos/README.md
  libs/ledgerjs/packages/hw-app-trx/README.md
  libs/ledgerjs/packages/hw-app-xrp/README.md
  libs/ledgerjs/packages/hw-transport-node-ble/README.md
  libs/ledgerjs/packages/hw-transport-node-hid-singleton/README.md
  libs/ledgerjs/packages/hw-transport-web-ble/README.md
  libs/ledgerjs/packages/hw-transport-webhid/README.md
  libs/ledgerjs/packages/hw-transport-webusb/README.md
  libs/ledgerjs/packages/react-native-hid/README.md
  libs/ledgerjs/packages/react-native-hw-transport-ble/README.md
Labels: desktop, mobile, common, ledgerjs

#698 LIVE-2734 convert bash scripts to JS scripts
  .github/workflows/build-mobile.yml
  apps/cli/package.json
  apps/cli/scripts/gen.mjs
  apps/cli/scripts/gen.sh
  apps/cli/src/commands-index.ts
  apps/ledger-live-desktop/scripts/cp-wording.sh
  apps/ledger-live-desktop/scripts/create-release-shasums.sh
  apps/ledger-live-desktop/scripts/mv-wording.sh
  apps/ledger-live-desktop/scripts/post-install.js
  apps/ledger-live-desktop/scripts/sync-families-dispatch.mjs
  apps/ledger-live-desktop/scripts/sync-families-dispatch.sh
  apps/ledger-live-mobile/changes.patch
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/patches/react-native-video+5.2.0.patch
  apps/ledger-live-mobile/scripts/mv-wording.sh
  apps/ledger-live-mobile/scripts/patches/RNAnalytics.h.patch
  apps/ledger-live-mobile/scripts/patches/RNFastCrypto.h.patch
  apps/ledger-live-mobile/scripts/patches/react-native-video+5.2.0.patch
  apps/ledger-live-mobile/scripts/patches/react-native-video.2575.patch
  apps/ledger-live-mobile/scripts/post.mjs
  apps/ledger-live-mobile/scripts/post.sh
  apps/ledger-live-mobile/scripts/sync-families-dispatch.mjs
  apps/ledger-live-mobile/scripts/sync-families-dispatch.sh
  libs/ledger-live-common/package.json
  libs/ledger-live-common/scripts/build-ts.mjs
  libs/ledger-live-common/scripts/build-ts.sh
  libs/ledger-live-common/scripts/build.sh
  libs/ledger-live-common/scripts/sync-families-dispatch.mjs
  libs/ledger-live-common/scripts/sync-families-dispatch.sh
  libs/ledger-live-common/scripts/watch-ts.mjs
  libs/ledger-live-common/scripts/watch-ts.sh
  libs/ledger-live-common/src/generated/account.ts
  libs/ledger-live-common/src/generated/bridge/js.ts
  libs/ledger-live-common/src/generated/bridge/mock.ts
  libs/ledger-live-common/src/generated/cli-transaction.ts
  libs/ledger-live-common/src/generated/deviceTransactionConfig.ts
  libs/ledger-live-common/src/generated/exchange.ts
  libs/ledger-live-common/src/generated/hw-getAddress.ts
  libs/ledger-live-common/src/generated/hw-signMessage.ts
  libs/ledger-live-common/src/generated/mock.ts
  libs/ledger-live-common/src/generated/platformAdapter.ts
  libs/ledger-live-common/src/generated/presync.ts
  libs/ledger-live-common/src/generated/specs.ts
  libs/ledger-live-common/src/generated/speculos-deviceActions.ts
  libs/ledger-live-common/src/generated/transaction.ts
  libs/ledger-live-common/src/generated/types.ts
  libs/ui/packages/crypto-icons/package-lock.json
  package.json
  patches/react-native-fast-crypto@2.2.0.patch
  patches/react-native-video@5.2.0.patch
  pnpm-lock.yaml
  turbo.json
Labels: desktop, mobile, common, ui, automation, Stale, cli

#814 feat/LIVE-3148 Added development/QA tool for feature flags
  .changeset/modern-ligers-cry.md
  .changeset/selfish-panthers-bow.md
  apps/ledger-live-desktop/src/renderer/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsButton.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/DebugFeatureFlags.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/OpenDebugFeatureFlags.js
  apps/ledger-live-mobile/src/screens/Settings/Debug/index.tsx
  libs/ledger-live-common/src/featureFlags/provider.tsx
  libs/ledger-live-common/src/featureFlags/useFeature.ts
Labels: desktop, mobile, common, translations

#756 bugfix/LIVE-2739 Prevent navigation with ongoing installs/uninstalls
  .changeset/breezy-hairs-bathe.md
  apps/ledger-live-mobile/src/components/RootNavigator/CustomBlockRouterNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/MainNavigator.tsx
Labels: mobile

#948 Fix LLM react warning - key prop missing in lists of components in CustomTabBar
  apps/ledger-live-mobile/src/components/TabBar/CustomTabBar.tsx
Labels: mobile

#957 ci: do not report zip files
  tools/actions/upload-images/build/index.js
  tools/actions/upload-images/main.ts
Labels: tools

#960 use python 3 in test libraries
  .github/workflows/test.yml
Labels: automation

#730 LIVE-2935 LIVE-2936 - LLM - redirect buy sell links to live app
  .changeset/stale-dancers-beam.md
  .changeset/violet-yaks-tan.md
  apps/ledger-live-mobile/src/components/FabActions.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ExchangeLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/InfoPanel.js
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/index.js
  apps/ledger-live-mobile/src/screens/Platform/App.js
  libs/ledger-live-common/src/platform/react.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs, feature ready

#928 Filecoin: replace CBOR lib, removing BigInt types inside
  .changeset/pretty-cars-know.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/filecoin/bridge/utils/serializer.ts
Labels: common, HODL, fork

#962 ci: prevent reporting on fork PR as token does not have permission
  .github/workflows/test-desktop.yml
Labels: automation

#946 feat/LIVE-2815-asset-centric-wallet-reborn Read only mode
  apps/ledger-live-mobile/src/components/RootNavigator/AccountsNavigator.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnlyAssets.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/Header.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/ReadOnly/index.tsx
  pnpm-lock.yaml
Labels: mobile

#958 Fix (LLM): getFeature being a hook & called as a regular function
  .changeset/breezy-cars-attack.md
  .changeset/heavy-mice-move.md
  apps/ledger-live-mobile/index.js
  apps/ledger-live-mobile/src/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/DebugFeatureFlags.tsx
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, ledgerjs, translations

#953 Feat - LIVE-3343 - LLM new asset page accounts section
  apps/ledger-live-mobile/src/components/AccountGraphCard.tsx
  apps/ledger-live-mobile/src/components/AccountRowLayout.tsx
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/reducers/accounts.js
  apps/ledger-live-mobile/src/screens/Account/AccountHeader.tsx
  apps/ledger-live-mobile/src/screens/Accounts/AccountRow.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AccountsSection.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AssetRow.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/OperationsHistory.tsx
  libs/ui/packages/native/src/components/tags/Tag/index.tsx
  libs/ui/packages/native/storybook/stories/Tag/Tag.stories.tsx
Labels: mobile, ui, translations

#961 Bugfix/typos Fixes bad wording in language files
  .changeset/sweet-clocks-shave.md
  .changeset/tall-chefs-hear.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#751 LIVE-2881 - Fix redirection from upsell screen
  .changeset/smart-shoes-shake.md
  apps/ledger-live-mobile/src/screens/PurchaseDevice/index.tsx
Labels: mobile, feature ready

#808 LIVE-3025 - Fix redirection to stories from device selection screen
  .changeset/cold-clocks-travel.md
  apps/ledger-live-mobile/src/screens/Onboarding/steps/discoverLiveInfo.tsx
Labels: mobile, feature ready

#898 LIVE-2894 DOT: change random value to fixe one in test
  libs/ledger-live-common/src/families/polkadot/bridge.integration.test.ts
Labels: common

#967 support/LIVE-3384 Update the i18next-unused.py script
  apps/ledger-live-desktop/scripts/i18next-unused.py
Labels: desktop

#968 Feat/native UI tags redesign
  .changeset/afraid-needles-own.md
  .changeset/young-ads-mate.md
  libs/ui/packages/native/src/components/tags/Tag/index.tsx
  libs/ui/packages/native/storybook/stories/Tag/Tag.stories.tsx
Labels: ui

#965 Feat/improve feature flag debug UI
  .changeset/light-snakes-bathe.md
  apps/ledger-live-mobile/src/screens/DebugFeatureFlags.tsx
  apps/ledger-live-mobile/src/screens/DebugPlayground.tsx
Labels: mobile

#970 Feat/ble scanning and pairing hooks
  .changeset/violet-swans-watch.md
  libs/ledger-live-common/src/ble/hooks/useBleDevicePairing.test.ts
  libs/ledger-live-common/src/ble/hooks/useBleDevicePairing.ts
  libs/ledger-live-common/src/ble/hooks/useBleDevicesScanning.test.ts
  libs/ledger-live-common/src/ble/hooks/useBleDevicesScanning.ts
  libs/ledger-live-common/src/ble/types.ts
  libs/ledgerjs/packages/hw-transport/src/Transport.ts
  libs/ledgerjs/packages/react-native-hw-transport-ble/src/BleTransport.ts
  libs/ledgerjs/packages/types-devices/src/index.ts
Labels: common, ledgerjs

#974 Asset Centric Wallet - Some ui improvements on the accounts section and a few crashes fixed
  apps/ledger-live-desktop/release-notes.json
  apps/ledger-live-mobile/src/components/AccountRowLayout.tsx
  apps/ledger-live-mobile/src/components/AssetRowLayout.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Accounts/index.tsx
  apps/ledger-live-mobile/src/screens/Analytics/DistributionCard.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/EmptyStatePortfolio.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  libs/ui/packages/native/src/components/tags/Tag/index.tsx
Labels: desktop, mobile, ui, translations

#976 SUPPORT Add Divider component to the design system
  .changeset/twelve-gifts-jam.md
  libs/ui/packages/native/src/components/Layout/Divider/index.tsx
  libs/ui/packages/native/src/components/Layout/index.ts
  libs/ui/packages/native/storybook/stories/Layout/Divider.stories.tsx
Labels: ui

#978 Asset Centric Wallet - Some ui improvements
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Analytics/DistributionCard.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AccountsSection.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
Labels: mobile, translations

#909 [LIVE-2722] Stellar sync error instead of 0 balance fallback
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/families/stellar/api/horizon.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: desktop, common, ledgerjs, translations

#973 Feat/live 2804/headers andgraphs
  apps/ledger-live-mobile/src/components/AccountGraphCard.tsx
  apps/ledger-live-mobile/src/components/AssetCentricGraphCard.tsx
  apps/ledger-live-mobile/src/components/BackgroundGradient.tsx
  apps/ledger-live-mobile/src/components/CurrencyBackgroundGradient.tsx
  apps/ledger-live-mobile/src/components/CurrencyHeaderLayout.tsx
  apps/ledger-live-mobile/src/components/GraphCard.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Account/AccountHeader.tsx
  apps/ledger-live-mobile/src/screens/Account/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/GraphCardContainer.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/Header.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  pnpm-lock.yaml
Labels: mobile, translations

#983 Asset Centric Wallet - Asset settings
  apps/ledger-live-mobile/src/screens/AccountSettings/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/Header.tsx
Labels: mobile

#972 Bugfix/ LIVE-3380 LIVE-3385 LIVE-3400 crash receive flow issue
  .changeset/beige-chefs-march.md
  .changeset/many-worms-clap.md
  .changeset/nervous-dingos-tap.md
  apps/ledger-live-mobile/src/reducers/settings.js
  apps/ledger-live-mobile/src/screens/AddAccounts/02-TokenCurrencyDisclaimer.js
  apps/ledger-live-mobile/src/screens/PostBuyDeviceScreen.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccount.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
Labels: mobile

#986 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#989 Added Tags to Accounts pages + diverses tiny fixes
  apps/ledger-live-mobile/src/components/AccountGraphCard.tsx
  apps/ledger-live-mobile/src/components/AssetCentricGraphCard.tsx
  apps/ledger-live-mobile/src/components/CurrencyGradient.tsx
  apps/ledger-live-mobile/src/screens/Account/AccountHeader.tsx
  apps/ledger-live-mobile/src/screens/Account/ListHeaderComponent.tsx
Labels: mobile

#992 Hotfix: Merging on release branch
  apps/ledger-live-mobile/CHANGELOG.md
  apps/ledger-live-mobile/src/reducers/settings.js
  apps/ledger-live-mobile/src/screens/AddAccounts/02-TokenCurrencyDisclaimer.js
  apps/ledger-live-mobile/src/screens/PostBuyDeviceScreen.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccount.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
Labels: mobile

#894 add: recovery content sync onboarding
  .changeset/big-carpets-sniff.md
  apps/ledger-live-desktop/src/renderer/Default.jsx
  apps/ledger-live-desktop/src/renderer/components/Storyly/StorylyWrapper.tsx
  apps/ledger-live-desktop/src/renderer/components/Storyly/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Storyly/types.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/RecoveryContent.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useStoryly.tsx
  apps/ledger-live-desktop/src/renderer/modals/LottieDebugger/index.jsx
  apps/ledger-live-desktop/src/renderer/modals/StorylyDebugger/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/index.js
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Experimental/StorylyTester.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Experimental/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#919 Add a log on catch(error) in cardano/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/cardano/js-estimateMaxSpendable.ts
Labels: common

#856 feat: add graceful support for max Celo votes
  .changeset/rich-ghosts-live.md
  apps/ledger-live-desktop/src/renderer/families/celo/ManageModal/ManageModal.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/families/celo/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/celo/api/hubble.ts
  libs/ledger-live-common/src/families/celo/js-synchronisation.ts
  libs/ledger-live-common/src/families/celo/serialization.ts
  libs/ledger-live-common/src/families/celo/types.ts
Labels: desktop, common, translations, fork

#996 Adding Stylelint to lib UI
  apps/ledger-live-mobile/ios/Podfile.lock
  libs/ui/.stylelintrc
  libs/ui/packages/native/package.json
  libs/ui/packages/native/src/components/Navigation/StoriesIndicator/index.tsx
  libs/ui/packages/react/package.json
  libs/ui/packages/react/src/components/cards/Carousel/Slide.tsx
  libs/ui/packages/react/src/components/form/BaseInput/index.tsx
  libs/ui/packages/react/src/components/message/Tooltip/styles.ts
  libs/ui/packages/react/src/components/navigation/progress/ProgressBar/Onboarding.tsx
  libs/ui/packages/react/src/styles/global.ts
  pnpm-lock.yaml
Labels: mobile, ui

#981 [LIVE-2722] Stellar sync error instead of 0 balance fallback (#909)
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/families/stellar/api/horizon.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: desktop, common, ledgerjs, translations

#993 ci: replace artifacts api with cache api for turborepo caching
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile.yml
  .github/workflows/test.yml
  .pnpmfile.cjs
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
  tools/actions/composites/test-desktop/action.yml
  tools/actions/composites/update-snapshots-desktop/action.yml
  tools/actions/turborepo-gh-cache/action.yml
  tools/actions/turborepo-gh-cache/build/cleanup.js
  tools/actions/turborepo-gh-cache/build/main.js
  tools/actions/turborepo-gh-cache/build/server.js
  tools/actions/turborepo-gh-cache/package.json
  tools/actions/turborepo-gh-cache/src/cleanup.ts
  tools/actions/turborepo-gh-cache/src/main.ts
  tools/actions/turborepo-gh-cache/src/server.ts
  tools/actions/turborepo-gh-cache/src/utils/asyncHandler.ts
  tools/actions/turborepo-gh-cache/src/utils/constants.ts
Labels: mobile, tools, automation

#1013 Bugfix/LIVE-3407 Fix rendering of last item in manager app list
  .changeset/rare-guests-cheer.md
  apps/ledger-live-mobile/src/screens/Manager/AppsScreen.tsx
Labels: mobile

#941 LIVE-3364 Disable Filecoin in LLM
  apps/ledger-live-mobile/src/live-common-setup.js
Labels: mobile

#1012 add UI for update available in sync onboarding
  .changeset/gentle-tips-help.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckContent.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#966 Feat/live 2710 analytics asset wallet centric
  apps/ledger-live-mobile/src/components/AssetCentricGraphCard.tsx
  apps/ledger-live-mobile/src/components/Carousel/Slide.tsx
  apps/ledger-live-mobile/src/components/Carousel/index.tsx
  apps/ledger-live-mobile/src/components/DiscreetModeButton.tsx
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/components/GraphCard.tsx
  apps/ledger-live-mobile/src/components/OperationRow.tsx
  apps/ledger-live-mobile/src/screens/Account/AccountHeaderRight.tsx
  apps/ledger-live-mobile/src/screens/Accounts/AccountRow.tsx
  apps/ledger-live-mobile/src/screens/Accounts/AddAccount.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/AddAccountsModal.tsx
  apps/ledger-live-mobile/src/screens/Assets/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioHistory.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AccountsSection.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AssetRow.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/Header.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/Allocations.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/MarketPrice.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/OperationsHistory.tsx
Labels: mobile, HODL

#956 cardano estimateMaxSpendable fix
  .changeset/new-trains-float.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/cardano/js-estimateMaxSpendable.ts
  pnpm-lock.yaml
Labels: common, fork

#947 FAT-253 Analytics for device localization
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/FirmwareUpdate/DeviceLanguageStep.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceLanguage.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/language.tsx
Labels: mobile

#923 [LIVE-3341][FEATURE] use navigation for buy sell screen
  .changeset/dull-moles-invite.md
  apps/ledger-live-desktop/src/renderer/Default.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.jsx
Labels: desktop

#1023 Fixes testnet currencies to be $0 valued on countervalues
  .changeset/great-donkeys-fix.md
  libs/ledgerjs/packages/cryptoassets/src/currencies.test.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  package.json
Labels: ledgerjs

#1022 Fixes ugly bad logs in slack bot reports
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/bot/formatters.ts
Labels: common

#1019 LIVE-3422 Fix file name of generated Tezos custom component
  .changeset/fluffy-hairs-promise.md
  apps/ledger-live-desktop/scripts/sync-families-dispatch.mjs
Labels: desktop

#1030 clean fetch: 0 to speed up some CI jobs
  .github/workflows/build-desktop.yml
  .github/workflows/release-create-hotfix.yml
  .github/workflows/release-create.yml
  .github/workflows/release-final.yml
  .github/workflows/release-prepare-desktop.yml
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare-mobile.yml
Labels: automation

#810 Update ZIL&TT explorer and color
  .changeset/tender-dingos-jump.md
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: ledgerjs, fork

#1028 ci: add /regen-pods bot command and action
  .github/workflows/build-mobile.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/regen-pods.yml
  apps/ledger-live-mobile/scripts/post.mjs
  tools/actions/composites/pr-comment/action.yml
  tools/github-bot/src/index.ts
Labels: mobile, tools, automation

#1038 bugfix: update Celo integration test snapshots
  libs/ledger-live-common/src/families/celo/__snapshots__/bridge.integration.test.ts.snap
Labels: common, fork

#1033 chore: add changelog + prevent CI from failing on iOS nightly
  apps/ledger-live-mobile/fastlane/Fastfile
  libs/ledger-live-common/scripts/watch-ts.mjs
Labels: mobile, common

#1042 ci: attempt to fix windows unhandled promise exit code 0
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test.yml
  libs/ledger-live-common/scripts/build-ts.mjs
  tools/actions/turborepo-gh-cache/action.yml
  tools/actions/turborepo-gh-cache/src/cleanup.ts
  tools/actions/turborepo-gh-cache/src/main.ts
Labels: common, tools, automation

#1044 Fixed left buttons not working in header on iOS + fixed text overflow…
  apps/ledger-live-mobile/src/components/CurrencyHeaderLayout.tsx
  apps/ledger-live-mobile/src/screens/Account/AccountHeader.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/Header.tsx
  pnpm-lock.yaml
Labels: mobile

#1047 Fixed 2 bugs :
  apps/ledger-live-mobile/src/actions/settings.js
  apps/ledger-live-mobile/src/components/AccountGraphCard.tsx
  apps/ledger-live-mobile/src/components/CurrencyHeaderLayout.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/Header.tsx
  libs/ui/packages/native/src/components/Tabs/Graph/index.tsx
Labels: mobile, ui

#1032 LLD - Renamed all occurrences of Manager to My Ledger
  apps/ledger-live-desktop/release-notes.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/ios/Podfile.lock
  pnpm-lock.yaml
Labels: desktop, mobile, translations

#1025 feat: hooks for genuine check and get latest available firmware
  .changeset/breezy-bananas-pull.md
  libs/ledger-live-common/src/hw/getGenuineCheckFromDeviceId.test.ts
  libs/ledger-live-common/src/hw/getGenuineCheckFromDeviceId.ts
  libs/ledger-live-common/src/hw/getLatestAvailableFirmwareFromDeviceId.ts
  libs/ledger-live-common/src/hw/hooks/useGenuineCheck.test.ts
  libs/ledger-live-common/src/hw/hooks/useGenuineCheck.ts
  libs/ledger-live-common/src/hw/hooks/useGetLatestAvailableFirmware.test.ts
  libs/ledger-live-common/src/hw/hooks/useGetLatestAvailableFirmware.ts
Labels: common

#1052 asset centric wallet various bugfixes
  apps/ledger-live-mobile/src/actions/general.js
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AssetRow.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/ReadOnly/index.tsx
  libs/ledger-live-common/src/portfolio/v2/index.ts
  libs/ledger-live-common/src/portfolio/v2/react.ts
Labels: mobile, common

#1053 Osmosis bot - Change the max nb of accounts from 3 to 16
  libs/ledger-live-common/src/families/osmosis/specs.ts
Labels: common

#900 Plug sync onboarding UI with device polling
  .changeset/tough-birds-fry.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/CompletionScreen.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckContent.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckStep.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/index.tsx
Labels: desktop

#1043 feat/LIVE-3016-improve-explore-with-device
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
Labels: mobile

#1059 Add fee to value on OUT operation after signing tx
  .changeset/orange-bobcats-bathe.md
  libs/ledger-live-common/src/families/filecoin/bridge/account.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/utils.ts
Labels: common, fork

#1021 LIVE-3061 Fix bitcoin integration test
  libs/ledger-live-common/src/__tests__/families/bitcoin/wallet-btc/xpub.syncing.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/bitcoin/bridge/mock.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/bitcoin_cash.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/dash.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/decred.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/digibyte.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/dogecoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/komodo.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/litecoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/peercoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/pivx.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/qtum.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/stakenet.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/vertcoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/viacoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/zcash.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/zencash.ts
Labels: common

#1049 revive CODEOWNERS
  CODEOWNERS
  apps/ledger-live-desktop/CODEOWNERS
  apps/ledger-live-mobile/CODEOWNERS
  libs/ledger-live-common/CODEOWNERS
  libs/ledgerjs/CODEOWNERS
Labels: desktop, mobile, common, ledgerjs

#1060 LLM - Wallet Centric Asset - diverse bugfixes (3459 + 3466)
  apps/ledger-live-mobile/src/screens/Account/ListHeaderComponent.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Accounts/TokenContextualModal.js
Labels: mobile

#1026 feat: FAT-99 genuine check and get latest available firmware hooks
  apps/ledger-live-desktop/src/internal/commands/getGenuineCheckFromDeviceId.ts
  apps/ledger-live-desktop/src/internal/commands/getLatestAvailableFirmwareFromDeviceId.ts
  apps/ledger-live-desktop/src/internal/commands/index.js
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
Labels: desktop

#1062 Asset centric wallet - bugfix/LIVE-3436-added-crypto-quantity-in-asset-page
  apps/ledger-live-mobile/src/components/AssetCentricGraphCard.tsx
  apps/ledger-live-mobile/src/components/GraphCard.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/Header.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
Labels: mobile

#1064 feat/split-analytics-tab-navigator-in-two-stack-screens
  apps/ledger-live-mobile/src/components/RootNavigator/AnalyticsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/Allocations.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/OperationsHistory.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/SectionTitle.tsx
Labels: mobile

#1068 Make all checkbox spinning to make it more obvious to the user
  apps/ledger-live-mobile/src/screens/ImportAccounts/DisplayResult.tsx
  apps/ledger-live-mobile/src/screens/ImportAccounts/DisplayResultItem.tsx
Labels: mobile

#1072 Display fees on historical transactions properly
  .changeset/quiet-cougars-wink.md
  libs/ledger-live-common/src/families/filecoin/bridge/utils/types.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/utils.ts
Labels: common, fork

#1056 Load the app module AFTER the analytics script init
  .changeset/swift-beds-laugh.md
  apps/ledger-live-desktop/src/renderer/analytics/segment.js
  apps/ledger-live-desktop/src/renderer/index.html
  apps/ledger-live-desktop/tests/specs/analytics/segment.spec.ts
Labels: desktop
