Repository LedgerHQ/ledger-live, pull requests merged in 2022-06, with the labels that each got.

#245 [Osmosis] Minor updates to Pull request #155
  apps/ledger-live-desktop/src/renderer/families/osmosis/TransactionConfirmFields.js
  libs/ledger-live-common/src/data/icons/svg/OSMO.svg
  libs/ledger-live-common/src/families/osmosis/deviceTransactionConfig.ts
  libs/ledger-live-common/src/generated/deviceTransactionConfig.ts
Labels: desktop, common, translations, violates guidelines

#252 Feat/cardano integration
  libs/ledger-live-common/src/families/cardano/constants.ts
  libs/ledger-live-common/src/families/cardano/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/cardano/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/cardano/js-signOperation.ts
  libs/ledger-live-common/src/families/cardano/js-transaction.ts
  libs/ledger-live-common/src/families/cardano/logic.ts
  libs/ledger-live-common/src/families/cardano/specs.ts
  libs/ledger-live-common/src/families/cardano/test-dataset.ts
Labels: common

#254 add speculos step for auxiliary data
  libs/ledger-live-common/src/families/cardano/speculos-deviceActions.ts
Labels: common

#255 fix speculos test
  libs/ledger-live-common/src/families/cardano/specs.ts
Labels: common

#257 memo field added
  apps/ledger-live-desktop/src/renderer/families/cardano/MemoValueField.js
  apps/ledger-live-desktop/src/renderer/families/cardano/SendAmountFields.js
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#242 [LIVE-2407] Feature: EIP712 support
  .changeset/serious-timers-burn.md
  apps/cli/src/commands/signMessage.ts
  libs/ledger-live-common/src/env.ts
  libs/ledger-live-common/src/families/ethereum/hw-signMessage.ts
  libs/ledgerjs/packages/hw-app-eth/README.md
  libs/ledgerjs/packages/hw-app-eth/src/Eth.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/EIP712/EIP712.types.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/EIP712/EIP712.utils.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/EIP712/index.ts
  libs/ledgerjs/packages/hw-app-eth/src/utils.ts
  libs/ledgerjs/packages/hw-app-eth/tests/EIP712.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/0.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/0.json
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/1.json
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/10.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/10.json
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/2.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/2.json
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/3.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/3.json
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/4.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/4.json
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/5.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/5.json
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/6.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/6.json
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/7.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/7.json
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/8.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/8.json
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/9.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/sample-messages/9.json
  package.json
Labels: common, ledgerjs, feature ready, cli

#106 LIVE-1960 Filecoin integration in LLD and LLM
  .changeset/soft-snails-applaud.md
  .changeset/wise-turkeys-sell.md
  .github/workflows/bot-filecoin-mooncake.yml
  .github/workflows/bot-filecoin.yml
  .gitignore
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.js
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.js
  apps/ledger-live-desktop/src/renderer/families/filecoin/TransactionConfirmFields.js
  apps/ledger-live-mobile/src/families/filecoin/TransactionConfirmFields.js
  apps/ledger-live-mobile/src/live-common-setup.js
  libs/ledger-live-common/src/derivation.ts
  libs/ledger-live-common/src/env.ts
  libs/ledger-live-common/src/families/filecoin/__snapshots__/bridge.test.ts.snap
  libs/ledger-live-common/src/families/filecoin/bridge.test.ts
  libs/ledger-live-common/src/families/filecoin/bridge/account.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/types.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/utils.ts
  libs/ledger-live-common/src/families/filecoin/specs.ts
  libs/ledger-live-common/src/families/filecoin/test-dataset.ts
Labels: desktop, mobile, common, automation, feature ready, cli

#264 [LIVE-2482] Bugfix: Fixes usage of events in wallet-btc
  .changeset/fifty-clouds-bake.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/xpub.ts
  pnpm-lock.yaml
Labels: common

#232 LIVE-1465 Cardano integration (send/receive)
  .changeset/rare-meals-develop.md
  .github/workflows/bot-cardano-silicium.yml
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.js
  apps/ledger-live-desktop/src/renderer/families/cardano/MemoValueField.js
  apps/ledger-live-desktop/src/renderer/families/cardano/SendAmountFields.js
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/live-common-setup.js
  libs/ledger-live-common/dependencies.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/__tests__/test-helpers/setup.ts
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/cross.ts
  libs/ledger-live-common/src/derivation.ts
  libs/ledger-live-common/src/env.ts
  libs/ledger-live-common/src/errors.ts
  libs/ledger-live-common/src/families/cardano/__snapshots__/bridge.test.ts.snap
  libs/ledger-live-common/src/families/cardano/api/api-types.ts
  libs/ledger-live-common/src/families/cardano/api/getNetworkInfo.ts
  libs/ledger-live-common/src/families/cardano/api/getTransactions.ts
  libs/ledger-live-common/src/families/cardano/api/submitTransaction.ts
  libs/ledger-live-common/src/families/cardano/bridge.test.ts
  libs/ledger-live-common/src/families/cardano/bridge/js.ts
  libs/ledger-live-common/src/families/cardano/buildSubAccounts.ts
  libs/ledger-live-common/src/families/cardano/cli-transaction.ts
  libs/ledger-live-common/src/families/cardano/constants.ts
  libs/ledger-live-common/src/families/cardano/datasets/rawAccount.1.ts
  libs/ledger-live-common/src/families/cardano/datasets/scanAccounts.ts
  libs/ledger-live-common/src/families/cardano/errors.ts
  libs/ledger-live-common/src/families/cardano/hw-getAddress.ts
  libs/ledger-live-common/src/families/cardano/js-broadcast.ts
  libs/ledger-live-common/src/families/cardano/js-buildTransaction.ts
  libs/ledger-live-common/src/families/cardano/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/cardano/js-getFeesForTransaction.ts
  libs/ledger-live-common/src/families/cardano/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/cardano/js-signOperation.ts
  libs/ledger-live-common/src/families/cardano/js-synchronisation.ts
  libs/ledger-live-common/src/families/cardano/js-transaction.ts
  libs/ledger-live-common/src/families/cardano/logic.ts
  libs/ledger-live-common/src/families/cardano/networks.ts
  libs/ledger-live-common/src/families/cardano/postSyncPatch.ts
  libs/ledger-live-common/src/families/cardano/serialization.ts
  libs/ledger-live-common/src/families/cardano/specs.ts
  libs/ledger-live-common/src/families/cardano/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/cardano/test-dataset.ts
  libs/ledger-live-common/src/families/cardano/transaction.ts
  libs/ledger-live-common/src/families/cardano/types.ts
  libs/ledger-live-common/src/generated/bridge/js.ts
  libs/ledger-live-common/src/generated/cli-transaction.ts
  libs/ledger-live-common/src/generated/hw-getAddress.ts
  libs/ledger-live-common/src/generated/specs.ts
  libs/ledger-live-common/src/generated/speculos-deviceActions.ts
  libs/ledger-live-common/src/generated/test-dataset.ts
  libs/ledger-live-common/src/generated/transaction.ts
  libs/ledger-live-common/src/generated/types.ts
  libs/ledger-live-common/src/reconciliation.ts
  libs/ledger-live-common/src/types/account.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, automation, translations, feature ready, cli

#268 Update Github labeler path for screenshot label
  .github/labeler.yml
Labels: automation

#244 Harmonize release actions name
  .github/workflow-templates/bot-coin-family.yml
  .github/workflows/bot-phosphore.yml
  .github/workflows/bot-staging-explorer-btc.yml
  .github/workflows/bot-staging-explorer-eth.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .github/workflows/release-create-hotfix.yml
  .github/workflows/release-create.yml
  .github/workflows/release-final-nightly.yml
  .github/workflows/release-final.yml
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release-prerelease.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile.yml
  .github/workflows/test.yml
Labels: HODL, automation

#283 post libcore sunset, remove unecessary sqlite clean up
  .changeset/dry-trains-drive.md
  apps/ledger-live-desktop/src/main/internal-lifecycle.js
Labels: desktop

#281 Reborn - Improvements on how we handle the gestures on the carousel
  apps/ledger-live-mobile/src/screens/Onboarding/steps/discoverLiveInfo.tsx
  libs/ui/packages/native/src/components/Carousel/index.tsx
Labels: mobile, ui

#286 Bugfix/live 2582 trade drawer buttons spacing
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
Labels: mobile, common, ui, translations

#289 test remote caching using github actions
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile.yml
  .github/workflows/test.yml
  pnpm-lock.yaml
  tools/actions/composites/build-desktop/action.yml
Labels: tools, automation

#294 update LLD doc, closes #292
  apps/ledger-live-desktop/README.md
Labels: desktop

#301 Reborn - Explore Web3 card added to read only carousel on Portfolio screen
  apps/ledger-live-mobile/src/components/Carousel/shared.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/images/illustration/Dark/_082.png
  apps/ledger-live-mobile/src/images/illustration/Light/_082.png
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Accounts/ReadOnly/ReadOnlyAccounts.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
Labels: mobile, translations

#299 fix(LLM): platform manifest can be undefined when no network [LIVE-2571]
  .changeset/unlucky-jars-speak.md
  apps/ledger-live-mobile/src/screens/Exchange/Buy.js
  apps/ledger-live-mobile/src/screens/Platform/App.js
Labels: mobile

#308 Two entry points added redirecting to CL Card Live App in the portfolio recommended section and in the transfer menu in the navbar
  apps/ledger-live-mobile/src/components/Carousel/shared.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/config/urls.tsx
Labels: mobile

#314 Entry point added to portfolio fab actions
  apps/ledger-live-mobile/src/components/FabActions.tsx
Labels: mobile

#310 tag lld/llm as well
  .github/workflows/release-final-nightly.yml
  .github/workflows/release-final.yml
  .github/workflows/release-prerelease.yml
Labels: automation

#305 LIVE-2616 remove filecoin support on release
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/release-notes.json
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.js
Labels: desktop, cli

#152 feat(ledgerjs-cal): add ethereum testnets
  libs/ledgerjs/script/crypto-assets-importer/importers/ethereum-plugins.js
Labels: ledgerjs

#323 reborn - qa and design feedbacks implemented
  apps/ledger-live-mobile/assets/images/onboarding/stories/slide1.png
  apps/ledger-live-mobile/src/components/BuyDeviceBanner.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ManagerNavigator.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/context/NoNanoBuyNanoWall.tsx
  apps/ledger-live-mobile/src/images/illustration/Shared/_NanoXBoxTop.png
  apps/ledger-live-mobile/src/screens/Onboarding/steps/discoverLiveInfo.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/doYouHaveALedger.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
Labels: mobile

#328 support/buy nano from live adjust delay events reverted
  apps/ledger-live-mobile/src/screens/PurchaseDevice/index.tsx
Labels: mobile

#318 Fix: native-ui ScrollListContainer forwardRef
  .changeset/thin-bees-happen.md
  libs/ui/packages/native/src/components/Layout/ScrollListContainer/index.tsx
Labels: ui

#326 LIVE-2632 - Bugfix: WalletConnect error on disconnect
  .changeset/silly-bulldogs-mate.md
  apps/ledger-live-desktop/src/renderer/modals/WalletConnectPasteLink/Body.js
  libs/ledger-live-common/src/walletconnect/Provider.tsx
Labels: desktop, common

#325 LIVE-2324 - Removing currency for Circulating supply
  .changeset/funny-pianos-mix.md
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoinScreen/MarketInfo.tsx
Labels: desktop

#55 Buy Nano from Live
  .changeset/tidy-rivers-destroy.md
  apps/ledger-live-mobile/src/components/BuyDeviceBanner.tsx
  apps/ledger-live-mobile/src/components/DelayedTrackingProvider.tsx
  apps/ledger-live-mobile/src/components/ReadOnlyFabActions.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseOnboardingNavigator.js
  apps/ledger-live-mobile/src/components/RootNavigator/BuyDeviceNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/MainNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/OnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/WebViewScreen/Error.tsx
  apps/ledger-live-mobile/src/components/WebViewScreen/Loading.tsx
  apps/ledger-live-mobile/src/components/WebViewScreen/NoConnectionError.tsx
  apps/ledger-live-mobile/src/components/WebViewScreen/index.tsx
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/context/NoNanoBuyNanoWall.tsx
  apps/ledger-live-mobile/src/index.js
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logger.ts
  apps/ledger-live-mobile/src/screens/Account/ReadOnly/ReadOnlyAccountHeaderRight.tsx
  apps/ledger-live-mobile/src/screens/Accounts/AccountsNavigationHeader.tsx
  apps/ledger-live-mobile/src/screens/GetDeviceScreen.tsx
  apps/ledger-live-mobile/src/screens/Learn/Loading.tsx
  apps/ledger-live-mobile/src/screens/Learn/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/discoverLiveInfo.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/finish.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
  apps/ledger-live-mobile/src/screens/PostBuyDeviceScreen.tsx
  apps/ledger-live-mobile/src/screens/PurchaseDevice/DebugMessageDrawer.tsx
  apps/ledger-live-mobile/src/screens/PurchaseDevice/DebugURLDrawer.tsx
  apps/ledger-live-mobile/src/screens/PurchaseDevice/index.tsx
  apps/ledger-live-mobile/src/screens/PurchaseDevice/types.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/featureFlags/types.ts
Labels: mobile, common, translations

#333 Reborn - Small Ui Fixes
  apps/ledger-live-mobile/src/components/BuyDeviceBanner.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Onboarding/steps/doYouHaveALedger.tsx
  pnpm-lock.yaml
Labels: mobile, translations

#322 LIVE-2510 Modification of Heredera article link
  apps/ledger-live-desktop/src/config/urls.js
Labels: desktop

#340 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#337 Sentry LLM ignore list additions
  .changeset/weak-geese-fetch.md
  apps/ledger-live-mobile/index.js
Labels: mobile

#285 [LLM] Enable Cardano
  .changeset/angry-phones-repeat.md
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/families/cardano/EditMemo.js
  apps/ledger-live-mobile/src/families/cardano/SendRowsCustom.js
  apps/ledger-live-mobile/src/families/cardano/index.js
  apps/ledger-live-mobile/src/families/index.js
  apps/ledger-live-mobile/src/live-common-setup.js
  apps/ledger-live-mobile/src/locales/en/common.json
  pnpm-lock.yaml
Labels: mobile, translations

#334 support: add dep for L Market app
  libs/ledger-live-common/src/apps/polyfill.ts
Labels: common

#306 Feat/live 2446 earn rewards btn solana
  .changeset/yellow-ways-agree.md
  apps/ledger-live-mobile/src/families/solana/accountActions.tsx
Labels: mobile, feature ready, release

#143 feat/LIVE 2238 llm learn feature config url
  .changeset/dry-toys-retire.md
  apps/ledger-live-desktop/src/renderer/screens/learn/index.tsx
  apps/ledger-live-mobile/src/screens/Learn/index.tsx
Labels: desktop, mobile, feature ready, release

#246 Bugfix: LIVE-2484 LLM deeplinking fixes
  .changeset/five-cougars-exercise.md
  apps/ledger-live-mobile/src/index.js
  apps/ledger-live-mobile/src/screens/Platform/index.js
  apps/ledger-live-mobile/src/screens/Platform/shared.tsx
Labels: mobile, release

#350 LIVE-2634 support: add dep for L Market app for release
  libs/ledger-live-common/src/apps/polyfill.ts
Labels: common

#87 feat(swap): Add Changelly's Terms of Use in the confirmation screen [LIVE-1196]
  .changeset/new-planets-train.md
  apps/ledger-live-mobile/src/components/DeviceAction/index.js
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/TermsFooter.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations, feature ready, release

#91 feat: sell and fund flow [LIVE-784]
  .changeset/large-snakes-work.md
  apps/ledger-live-mobile/src/components/DeviceAction/index.js
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/DeviceActionModal.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/PlatformExchangeNavigator.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/index.js
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/tracking.js
  apps/ledger-live-mobile/src/components/useBroadcast.ts
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Platform/exchange/CompleteExchange.tsx
  apps/ledger-live-mobile/src/screens/Platform/exchange/StartExchange.tsx
  libs/ledger-live-common/src/exchange/hw-app-exchange/Exchange.ts
  libs/ledger-live-common/src/exchange/platform/types.ts
  libs/ledger-live-common/src/hw/actions/startExchange.ts
Labels: mobile, common, translations, feature ready, release

#316 [LIVE-1567][LIVE-1795] Feature - NFT Medias on mobile
  apps/ledger-live-mobile/src/components/Nft/NftCard.tsx
  apps/ledger-live-mobile/src/components/Nft/NftCollectionRow.tsx
  apps/ledger-live-mobile/src/components/Nft/NftImage.tsx
  apps/ledger-live-mobile/src/components/Nft/NftImageViewer.tsx
  apps/ledger-live-mobile/src/components/Nft/NftMedia.tsx
  apps/ledger-live-mobile/src/components/Nft/NftVideo.tsx
  apps/ledger-live-mobile/src/components/Nft/NftViewer.tsx
  apps/ledger-live-mobile/src/logic/nft.ts
  apps/ledger-live-mobile/src/screens/Nft/NftCollection/NftCollectionHeaderTitle.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/01b-SelectCollection.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/01c-SelectNft.tsx
  apps/ledger-live-mobile/src/screens/Settings/Accounts/HiddenNftCollections.tsx
Labels: mobile, feature ready, release

#297 feat(ledgerjs-cal): CAL update
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/data/bep20.js
  libs/ledgerjs/packages/cryptoassets/data/erc20-signatures.js
  libs/ledgerjs/packages/cryptoassets/data/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/exchange/coins.js
  libs/ledgerjs/packages/cryptoassets/data/exchange/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/polygon-erc20.js
Labels: desktop, common, ledgerjs

#90 feat(LLM): multibuy 1.5 [LIVE-1710]
  .changeset/dirty-ears-relax.md
  apps/ledger-live-mobile/src/components/CurrencyRow.js
  apps/ledger-live-mobile/src/components/FabActions.tsx
  apps/ledger-live-mobile/src/components/Nft/NftImage.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BuyNavigator.js
  apps/ledger-live-mobile/src/components/RootNavigator/ExchangeNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ExchangeSellFlowNavigator.js
  apps/ledger-live-mobile/src/components/RootNavigator/ExchangeStackNavigator.tsx
  apps/ledger-live-mobile/src/components/Skeleton.tsx
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/icons/ApplePay.tsx
  apps/ledger-live-mobile/src/icons/DropdownArrow.tsx
  apps/ledger-live-mobile/src/icons/GooglePay.tsx
  apps/ledger-live-mobile/src/icons/Maestro.tsx
  apps/ledger-live-mobile/src/icons/MasterCard.tsx
  apps/ledger-live-mobile/src/icons/Minus.tsx
  apps/ledger-live-mobile/src/icons/PayPal.tsx
  apps/ledger-live-mobile/src/icons/Sepa.tsx
  apps/ledger-live-mobile/src/icons/Visa.tsx
  apps/ledger-live-mobile/src/index.js
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/navigation/useDeepLinking.js
  apps/ledger-live-mobile/src/screens/Account/EmptyStateAccount.tsx
  apps/ledger-live-mobile/src/screens/Account/hooks/useActions.tsx
  apps/ledger-live-mobile/src/screens/Asset/index.js
  apps/ledger-live-mobile/src/screens/Distribution/DistributionCard.js
  apps/ledger-live-mobile/src/screens/Distribution/RingChart.js
  apps/ledger-live-mobile/src/screens/Distribution/index.js
  apps/ledger-live-mobile/src/screens/Exchange/Buy.js
  apps/ledger-live-mobile/src/screens/Exchange/Coinify.js
  apps/ledger-live-mobile/src/screens/Exchange/ConnectDevice.js
  apps/ledger-live-mobile/src/screens/Exchange/ExchangeSellConnectDevice.js
  apps/ledger-live-mobile/src/screens/Exchange/ProviderList.js
  apps/ledger-live-mobile/src/screens/Exchange/ProviderView.js
  apps/ledger-live-mobile/src/screens/Exchange/ScreenHeader.js
  apps/ledger-live-mobile/src/screens/Exchange/SelectAccount.js
  apps/ledger-live-mobile/src/screens/Exchange/SelectAccountCurrency.js
  apps/ledger-live-mobile/src/screens/Exchange/SelectCurrency.js
  apps/ledger-live-mobile/src/screens/Exchange/Sell.js
  apps/ledger-live-mobile/src/screens/Exchange/hooks.js
  apps/ledger-live-mobile/src/screens/Lending/Dashboard/Rates.js
  apps/ledger-live-mobile/src/screens/Lending/EnableFlow/01-SelectAccount.js
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/index.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketRowItem.tsx
  apps/ledger-live-mobile/src/screens/Platform/App.js
  apps/ledger-live-mobile/src/screens/Platform/index.js
  apps/ledger-live-mobile/src/screens/Platform/shared.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/04-Summary.js
  apps/ledger-live-mobile/src/screens/Settings/Developer/CustomManifest.js
  apps/ledger-live-mobile/src/screens/Swap/FormSelection/RatesSection.js
  apps/ledger-live-mobile/src/screens/Swap/index.js
Labels: mobile, translations

#169 Fix memo serialization.
  .changeset/angry-ads-obey.md
  libs/ledgerjs/packages/hw-app-helium/package.json
  libs/ledgerjs/packages/hw-app-helium/src/serialization.ts
  libs/ledgerjs/packages/hw-app-helium/tests/Helium.test.ts
  pnpm-lock.yaml
Labels: ledgerjs

#347 add ref on mobile prerelease job trigger
  .github/workflows/release-prerelease.yml
Labels: automation

#361 fix(multibuy): remove fiat filter [LIVE-2665]
  .changeset/hip-socks-reply.md
  apps/ledger-live-mobile/src/screens/Exchange/ProviderList.js
Labels: mobile

#362 add templates to hotfix and release branches
  .github/templates/hotfix.md
  .github/templates/release.md
  .github/workflows/release-create-hotfix.yml
  .github/workflows/release-create.yml
  pnpm-lock.yaml
Labels: automation

#324 LIVE-2504 Fixed container height to prevent deformation of CryptoIcon
  .changeset/neat-fireants-lie.md
  apps/ledger-live-desktop/src/renderer/components/OperationsList/AccountCell.js
Labels: desktop

#199 LIVE-2500 Update expected steps for Cosmos device actions
  .changeset/beige-lizards-leave.md
  libs/ledger-live-common/src/families/cosmos/speculos-deviceActions.ts
Labels: common

#370 Receive Flow - New navigator added for the improved receive flow
  apps/ledger-live-mobile/src/components/FabActions.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/NewReceiveFundsNavigator.tsx
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/screens/SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/SelectCrypto.tsx
Labels: mobile

#332 Bugfix - Allow pre-release tags in mustUpgrade or shouldUpgrade
  .changeset/olive-camels-scream.md
  libs/ledger-live-common/src/apps/support.ts
Labels: common

#336 LIVE-2344 - Updated last operations => Last transactions
  .changeset/tasty-needles-wave.md
  apps/ledger-live-mobile/src/components/NoMoreOperationFooter.js
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Account/index.tsx
Labels: mobile, translations

#365 LIVE-2664 Fix incremental sync for Cardano
  .changeset/strong-buckets-listen.md
  libs/ledger-live-common/src/families/cardano/js-synchronisation.ts
Labels: common, feature ready

#372 [LIVE-2669] - Bugfix: fix solana dependencies using bigint
  libs/ledger-live-common/dependencies.md
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: common, feature ready

#379 Set sampleRate to 100% on LLM + ignore 1 error
  apps/ledger-live-mobile/index.js
Labels: mobile

#275 Sentry integration in Ledger Live Desktop
  .changeset/plenty-shrimps-brush.md
  apps/ledger-live-desktop/electron-builder-pre.yml
  apps/ledger-live-desktop/electron-builder.yml
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/sentry.prerelease.properties
  apps/ledger-live-desktop/sentry.release.properties
  apps/ledger-live-desktop/src/internal/index.js
  apps/ledger-live-desktop/src/logger/logger.js
  apps/ledger-live-desktop/src/main/index.js
  apps/ledger-live-desktop/src/main/internal-lifecycle.js
  apps/ledger-live-desktop/src/main/setup.js
  apps/ledger-live-desktop/src/renderer/Default.js
  apps/ledger-live-desktop/src/renderer/init.js
  apps/ledger-live-desktop/src/sentry/browser.js
  apps/ledger-live-desktop/src/sentry/install.js
  apps/ledger-live-desktop/src/sentry/internal.js
  apps/ledger-live-desktop/src/sentry/main.js
  apps/ledger-live-desktop/src/sentry/node.js
  apps/ledger-live-desktop/src/sentry/renderer.js
  apps/ledger-live-desktop/tools/dist/index.js
  apps/ledger-live-desktop/tools/main.js
  pnpm-lock.yaml
Labels: desktop, feature ready

#186 Use esbuild for production and development builds
  .changeset/cold-papayas-speak.md
  apps/ledger-live-desktop/.flowconfig
  apps/ledger-live-desktop/babel.config.js
  apps/ledger-live-desktop/jest.config.js
  apps/ledger-live-desktop/main.webpack.config.js
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/preloader.webpack.config.js
  apps/ledger-live-desktop/src/logger/anonymizer.js
  apps/ledger-live-desktop/src/main/index.js
  apps/ledger-live-desktop/src/preloader/index.js
  apps/ledger-live-desktop/src/renderer/bridge/proxy-commands.js
  apps/ledger-live-desktop/src/renderer/bridge/proxy.js
  apps/ledger-live-desktop/src/renderer/components/Carousel/helpers.js
  apps/ledger-live-desktop/src/renderer/components/FirmwareUpdateBanner.js
  apps/ledger-live-desktop/src/renderer/components/StepRecipientSeparator.js
  apps/ledger-live-desktop/src/renderer/families/algorand/operationDetails.js
  apps/ledger-live-desktop/src/renderer/families/cosmos/operationDetails.js
  apps/ledger-live-desktop/src/renderer/families/polkadot/operationDetails.js
  apps/ledger-live-desktop/src/renderer/families/tezos/operationDetails.js
  apps/ledger-live-desktop/src/renderer/families/tron/operationDetails.js
  apps/ledger-live-desktop/src/renderer/i18n/index.js
  apps/ledger-live-desktop/src/renderer/index.html
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/index.js
  apps/ledger-live-desktop/src/renderer/modals/WalletConnectDeeplink/Body.js
  apps/ledger-live-desktop/src/renderer/modals/WalletConnectDeeplink/Footer.js
  apps/ledger-live-desktop/src/renderer/modals/WalletConnectDeeplink/types.js
  apps/ledger-live-desktop/src/renderer/modals/WalletConnectPasteLink/Body.js
  apps/ledger-live-desktop/src/renderer/modals/WalletConnectPasteLink/steps/StepConfirm.js
  apps/ledger-live-desktop/src/renderer/modals/WalletConnectPasteLink/steps/StepPaste.js
  apps/ledger-live-desktop/src/renderer/screens/WalletConnect/Provider.js
  apps/ledger-live-desktop/src/renderer/screens/WalletConnect/index.js
  apps/ledger-live-desktop/src/renderer/screens/lend/useCompoundSummaries.js
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/CatalogProviderSelect.js
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/ThemeSelect.js
  apps/ledger-live-desktop/src/renderer/styles/global.js
  apps/ledger-live-desktop/src/renderer/styles/palettes/index.js
  apps/ledger-live-desktop/tests/specs/onboarding/new-device.spec.ts
  apps/ledger-live-desktop/tools/config/common.esbuild.js
  apps/ledger-live-desktop/tools/config/main.esbuild.js
  apps/ledger-live-desktop/tools/config/preloader.esbuild.js
  apps/ledger-live-desktop/tools/config/renderer.esbuild.js
  apps/ledger-live-desktop/tools/config/renderer.webpack.config.js
  apps/ledger-live-desktop/tools/config/webviewPreloader.esbuild.js
  apps/ledger-live-desktop/tools/main.js
  apps/ledger-live-desktop/tools/utils/index.js
  apps/ledger-live-desktop/webviewPreloader.webpack.config.js
  libs/ui/packages/icons/package.json
  package.json
  pnpm-lock.yaml
  tools/esbuild-utils/externals.js
  tools/esbuild-utils/index.js
  tools/esbuild-utils/package.json
  tools/esbuild-utils/plugins/alias.js
  tools/esbuild-utils/plugins/copy.js
  tools/esbuild-utils/plugins/dotenv.js
  tools/esbuild-utils/plugins/nodeExternals.js
  tools/native-modules-tools/index.js
Labels: desktop, ui, tools, HODL

#395 Reborn - Manager tab button behavior fixed on readOnly mode when user bought a ledger
  apps/ledger-live-mobile/src/components/RootNavigator/MainNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ManagerNavigator.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Account/ReadOnly/ReadOnlyAccount.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
Labels: mobile, translations

#371 [live 2539] LLM - Back button in NftViewer
  .changeset/shy-meals-yell.md
  apps/ledger-live-mobile/src/components/Nft/NftImage.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/NftNavigator.tsx
Labels: mobile

#403 feat: add desktop breakpoints
  .changeset/little-fishes-vanish.md
  libs/ui/packages/react/src/styles/breakpoints.stories.tsx
  libs/ui/packages/react/src/styles/theme.ts
Labels: ui

#405 bugfix: avoid checkbox to shrink
  .changeset/few-fireants-cheer.md
  libs/ui/packages/react/src/components/form/Checkbox/Checkbox.tsx
Labels: ui

#375 add check for undefined address
  .changeset/fluffy-rats-laugh.md
  libs/ledger-live-common/src/families/tezos/synchronisation.ts
Labels: common

#411 chore: improve a bit the message when bot autocloses pr
  tools/github-bot/src/index.ts
  tools/github-bot/src/tools.ts
Labels: tools

#407 Feat/live 2449 receive flow select account screen
  apps/ledger-live-mobile/src/components/ReceiveAccountCard.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/NewReceiveFundsNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.js
  apps/ledger-live-mobile/src/screens/ReceiveSelectAccount.tsx
  pnpm-lock.yaml
Labels: mobile, translations

#422 support - LLM - asjust event ids issue fixed + typos in english fixed
  .changeset/tidy-glasses-worry.md
  apps/ledger-live-mobile/.env.production
  apps/ledger-live-mobile/.env.staging
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/PurchaseDevice/index.tsx
Labels: mobile, translations

#425 Smartling on-demand translation delivery from release
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#432 Fix opening external windows from a webview
  .changeset/fair-seals-switch.md
  apps/ledger-live-desktop/src/main/window-lifecycle.js
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/index.js
Labels: desktop

#430 LIVE-2730 - bugfix - LLM issue on webview reload crashes
  .changeset/wise-bears-tease.md
  .changeset/witty-dodos-drop.md
  apps/ledger-live-mobile/src/components/WebViewScreen/index.tsx
Labels: mobile

#399 byron address validation fix
  .changeset/happy-students-sleep.md
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: common

#437 [LIVE-2728][LIVE-2729] Bugfix - Fix usage of process.env instead of getEnv
  .changeset/twelve-paws-whisper.md
  libs/ledger-live-common/src/families/ethereum/hw-signMessage.ts
Labels: common

#360 Change tags on glif derivation modes
  .changeset/weak-gorillas-invent.md
  libs/ledger-live-common/src/derivation.ts
Labels: common

#412 Rounding the main value of AccountGraph when using counterValue
  .changeset/fuzzy-lemons-breathe.md
  apps/ledger-live-mobile/src/components/AccountGraphCard.tsx
Labels: mobile

#427 Support: Added Disable Broadcast Warning in LLD
  apps/ledger-live-desktop/src/renderer/Default.js
  apps/ledger-live-desktop/src/renderer/components/debug/DisableTransactionBroadcastWarning.js
Labels: desktop

#452 fix(Tip): missing colon in StyledIconContainer
  .changeset/slimy-ghosts-tell.md
  libs/ui/packages/react/src/components/message/Tip/index.tsx
Labels: ui

#352 Bugfix/LIVE-2208 satstack fix
  .changeset/stupid-kiwis-study.md
  libs/ledger-live-common/src/families/bitcoin/descriptor.ts
  libs/ledger-live-common/src/families/bitcoin/satstack.test.ts
  libs/ledger-live-common/src/families/bitcoin/satstack.ts
Labels: common

#429 Feat/cardano tokens
  apps/ledger-live-desktop/src/renderer/families/cardano/AccountBalanceSummaryFooter.js
  libs/ledger-live-common/src/apps/support.ts
  libs/ledger-live-common/src/families/cardano/__snapshots__/bridge.test.ts.snap
  libs/ledger-live-common/src/families/cardano/deviceTransactionConfig.ts
  libs/ledger-live-common/src/families/cardano/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/cardano/js-synchronisation.ts
  libs/ledger-live-common/src/families/cardano/js-transaction.ts
  libs/ledger-live-common/src/families/cardano/specs.ts
  libs/ledger-live-common/src/families/cardano/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/cardano/test-dataset.ts
  libs/ledger-live-common/src/generated/deviceTransactionConfig.ts
  libs/ledgerjs/packages/cryptoassets/data/cardanoNative.js
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
Labels: desktop, common, ledgerjs

#464 Bug fix - Revert navigation.ts replacing navigation.js
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/const/navigation.ts
Labels: mobile

#463 Better icons-ui subpath exports compatibility
  .changeset/hungry-queens-beg.md
  libs/ui/packages/icons/package.json
Labels: ui

#210 Feat/stellar assets and updated fee
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/renderer/families/stellar/AddAssetModal/Body.js
  apps/ledger-live-desktop/src/renderer/families/stellar/AddAssetModal/fields/AssetSelector.js
  apps/ledger-live-desktop/src/renderer/families/stellar/AddAssetModal/index.js
  apps/ledger-live-desktop/src/renderer/families/stellar/AddAssetModal/steps/StepAsset.js
  apps/ledger-live-desktop/src/renderer/families/stellar/AddAssetModal/steps/StepConfirmation.js
  apps/ledger-live-desktop/src/renderer/families/stellar/AddAssetModal/types.js
  apps/ledger-live-desktop/src/renderer/families/stellar/FeeField.js
  apps/ledger-live-desktop/src/renderer/families/stellar/SendAmountFields.js
  apps/ledger-live-desktop/src/renderer/families/stellar/SendFeeMode.js
  apps/ledger-live-desktop/src/renderer/families/stellar/TokenList.js
  apps/ledger-live-desktop/src/renderer/families/stellar/TransactionConfirmFields.js
  apps/ledger-live-desktop/src/renderer/families/stellar/operationDetails.js
  apps/ledger-live-desktop/src/renderer/modals/index.js
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/families/stellar/AddAssetFlow/01-SelectAsset.js
  apps/ledger-live-mobile/src/families/stellar/AddAssetFlow/02-ConnectDevice.js
  apps/ledger-live-mobile/src/families/stellar/AddAssetFlow/03-Validation.js
  apps/ledger-live-mobile/src/families/stellar/AddAssetFlow/03-ValidationError.js
  apps/ledger-live-mobile/src/families/stellar/AddAssetFlow/03-ValidationSuccess.js
  apps/ledger-live-mobile/src/families/stellar/AddAssetFlow/index.js
  apps/ledger-live-mobile/src/families/stellar/ScreenEditCustomFees.js
  apps/ledger-live-mobile/src/families/stellar/ScreenEditMemoValue.js
  apps/ledger-live-mobile/src/families/stellar/StellarFeeRow.js
  apps/ledger-live-mobile/src/families/stellar/SubAccountList.js
  apps/ledger-live-mobile/src/families/stellar/TransactionConfirmFields.js
  apps/ledger-live-mobile/src/families/stellar/index.js
  apps/ledger-live-mobile/src/families/stellar/operationDetails.js
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/.ci.integration.env
  libs/ledger-live-common/.ci.unit.env
  libs/ledger-live-common/src/bot/specs.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/env.ts
  libs/ledger-live-common/src/errors.ts
  libs/ledger-live-common/src/families/stellar/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/stellar/api/horizon.ts
  libs/ledger-live-common/src/families/stellar/api/index.ts
  libs/ledger-live-common/src/families/stellar/bridge.integration.test.ts
  libs/ledger-live-common/src/families/stellar/bridge/mock.ts
  libs/ledger-live-common/src/families/stellar/cli-transaction.ts
  libs/ledger-live-common/src/families/stellar/deviceTransactionConfig.ts
  libs/ledger-live-common/src/families/stellar/errors.ts
  libs/ledger-live-common/src/families/stellar/js-buildTransaction.ts
  libs/ledger-live-common/src/families/stellar/js-createTransaction.ts
  libs/ledger-live-common/src/families/stellar/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/stellar/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/stellar/js-prepareTransaction.ts
  libs/ledger-live-common/src/families/stellar/js-signOperation.ts
  libs/ledger-live-common/src/families/stellar/js-synchronization.ts
  libs/ledger-live-common/src/families/stellar/logic.ts
  libs/ledger-live-common/src/families/stellar/specs.ts
  libs/ledger-live-common/src/families/stellar/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/stellar/tokens.ts
  libs/ledger-live-common/src/families/stellar/transaction.ts
  libs/ledger-live-common/src/families/stellar/types.ts
  libs/ledgerjs/packages/cryptoassets/data/stellar.js
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
Labels: desktop, mobile, common, ledgerjs, automation, translations, cli

#453 Bugfix/live 2496 XRP add retry to api call
  .changeset/great-poets-visit.md
  libs/ledger-live-common/src/api/Ripple.ts
Labels: common

#439 add doc checking on ledgerjs
  .github/workflows/test.yml
  apps/ledger-live-mobile/src/reducers/settings.js
  package.json
  pnpm-lock.yaml
Labels: mobile, automation

#473 Fixes 'concurrency' of test-integration
  .github/workflows/test-integration.yml
Labels: automation

#485 test-integration to run without concurrency
  .github/workflows/test-integration.yml
Labels: automation

#479 support(ledgerjs-cal): CAL update
  .changeset/chilled-chairs-love.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/data/bep20.js
  libs/ledgerjs/packages/cryptoassets/data/erc20-signatures.js
  libs/ledgerjs/packages/cryptoassets/data/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/exchange/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/polygon-erc20.js
Labels: desktop, common, ledgerjs

#410 chore: make pnpm lockfile deterministic
  .github/workflows/test.yml
  .pnpmfile.cjs
  package.json
  pnpm-lock.yaml
  tools/pnpm-utils/index.js
Labels: tools, HODL, automation

#158 LIVE-2356 Dependencies update
  .changeset/stale-llamas-cheer.md
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: common, HODL

#495 use dummy address for estimateMaxSpendable
  libs/ledger-live-common/src/families/cardano/js-estimateMaxSpendable.ts
Labels: common

#496 dummyRecipient change for estimateMaxSpendable
  libs/ledger-live-common/src/families/cardano/js-estimateMaxSpendable.ts
Labels: common

#465 Simplify sentry logic and replace home paths into "." in sentry report
  apps/ledger-live-desktop/src/logger/anonymizer.js
  apps/ledger-live-desktop/src/logger/logger.js
  apps/ledger-live-desktop/src/main/internal-lifecycle.js
  apps/ledger-live-desktop/src/sentry/install.js
Labels: desktop

#321 [LIVE-2221] - Feature: NFT Optimistic Operation
  .changeset/dirty-parents-collect.md
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.js
  libs/ledger-live-common/src/families/ethereum/modules/erc1155.ts
  libs/ledger-live-common/src/families/ethereum/modules/erc721.ts
  libs/ledger-live-common/src/families/ethereum/nft.unit.test.ts
  libs/ledger-live-common/src/families/ethereum/synchronisation.ts
  libs/ledger-live-common/src/nft/nftOperationId.ts
  libs/ledger-live-common/src/operation.ts
Labels: desktop, common, feature ready

#444 feat: integration of alternate DEX on swap page [LIVE-2677]
  .changeset/beige-baboons-attack.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/DexSwapAvailableAlert.js
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormNotAvailable/FormNotAvailable.js
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.js
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/index.js
  apps/ledger-live-desktop/src/renderer/screens/platform/App.js
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#92 feat(swap): Add Changelly's Terms of Use in the confirmation screen [LIVE-1195]
  .changeset/chatty-tips-rescue.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.js
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.js
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/DrawerFooter.js
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/ExchangeDrawer/index.js
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#500 clean g++ fix
  .github/workflows/build-desktop.yml
  apps/ledger-live-desktop/tools/g++-5.4/install.sh
  apps/ledger-live-desktop/tools/g++-5.4/packages-apt.list
  apps/ledger-live-desktop/tools/g++-5.4/packages.list
Labels: desktop, automation

#505 optimisticOperation memo fix
  libs/ledger-live-common/src/families/cardano/js-signOperation.ts
Labels: common

#510 ci: attempt to reduce ram usage when running windows playwright tests
  .github/workflows/generate-screenshots.yml
  .github/workflows/test-desktop.yml
Labels: automation

#502 Feat/LIVE-1414 RBF new implementation for Bitcoin
  .changeset/fresh-timers-dress.md
  apps/ledger-live-desktop/src/renderer/components/debug/DebugMock.js
  apps/ledger-live-desktop/src/renderer/families/bitcoin/CoinControlRow.js
  apps/ledger-live-desktop/src/renderer/families/bitcoin/PickUnconfirmedRBF.js
  apps/ledger-live-desktop/src/renderer/families/bitcoin/RBF.js
  apps/ledger-live-desktop/src/renderer/families/bitcoin/SendAmountFields.js
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/models/DeviceAction.ts
  libs/ledger-live-common/src/__tests__/families/bitcoin/wallet-btc/wallet.estimateMaxSpendable.test.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.test.ts
  libs/ledger-live-common/src/families/bitcoin/bridge/mock.ts
  libs/ledger-live-common/src/families/bitcoin/cache.ts
  libs/ledger-live-common/src/families/bitcoin/cli-transaction.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/bitcoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/digibyte.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/litecoin.ts
  libs/ledger-live-common/src/families/bitcoin/js-buildTransaction.ts
  libs/ledger-live-common/src/families/bitcoin/js-createTransaction.ts
  libs/ledger-live-common/src/families/bitcoin/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/bitcoin/js-synchronisation.ts
  libs/ledger-live-common/src/families/bitcoin/logic.ts
  libs/ledger-live-common/src/families/bitcoin/specs.ts
  libs/ledger-live-common/src/families/bitcoin/transaction.ts
  libs/ledger-live-common/src/families/bitcoin/types.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/wallet.ts
Labels: desktop, common, translations

#346 feat/FAT-13 Sync Onboarding logic
  .changeset/brown-mugs-beam.md
  apps/cli/src/commands-index.ts
  apps/cli/src/commands/synchronousOnboarding.ts
  libs/ledger-live-common/src/hw/extractOnboardingState.test.ts
  libs/ledger-live-common/src/hw/extractOnboardingState.ts
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.test.ts
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.ts
  libs/ledger-live-common/src/onboarding/hooks/useOnboardingStatePolling.test.ts
  libs/ledger-live-common/src/onboarding/hooks/useOnboardingStatePolling.ts
  libs/ledger-live-common/src/types/manager.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: common, ledgerjs, feature ready, cli

#540 bot cleanup
  .github/workflows/bot-cardano-silicium.yml
  .github/workflows/bot-filecoin-mooncake.yml
  .github/workflows/bot-filecoin.yml
Labels: automation

#532 Remove the 'codecov' from the bot
  .github/workflow-templates/bot-coin-family.yml
  .github/workflows/bot-cardano-silicium.yml
  .github/workflows/bot-filecoin.yml
  .github/workflows/bot-phosphore.yml
  .github/workflows/bot-staging-explorer-btc.yml
  .github/workflows/bot-staging-explorer-eth.yml
Labels: automation
