Repository LedgerHQ/ledger-live, pull requests merged in 2022-12, with the labels that each got.

#2017 Improve the pr up to date feature to sync on target change
  tools/github-bot/src/features/upToDate/index.ts
  tools/github-bot/src/features/upToDate/tools.ts
  tools/github-bot/src/index.ts
Labels: tools

#2016 [SUPPORT] Temporary fix tron specs
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/families/tron/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/tron/bridge/js.ts
  libs/ledger-live-common/src/families/tron/specs.ts
  libs/ledger-live-common/src/families/tron/speculos-deviceActions.ts
  libs/ledgerjs/packages/cryptoassets/src/data/trc20.ts
Labels: desktop, common, ledgerjs

#2009 Fixes ReceiveFunds/01-SelectCrypto to not accept TokenCurrency
  .changeset/thin-otters-cross.md
  apps/ledger-live-mobile/src/components/RootNavigator/types/ReceiveFundsNavigator.ts
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
Labels: mobile

#2014 fix unhandled undefined or null for feePerByte
  libs/ledger-live-common/src/families/bitcoin/bridge/mock.ts
  libs/ledger-live-common/src/families/bitcoin/js-getTransactionStatus.ts
Labels: common

#1984 Feat: FAT-607-666: Resilient BLE scanning and BLE pairing flow as components
  .changeset/dull-beers-work.md
  .changeset/old-fans-beam.md
  .changeset/wicked-vans-count.md
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDeviceItem.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicesScanning.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/assets/bluetooth.json
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/index.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/AndroidRequiresBluetoothPermissions.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/AndroidRequiresLocationPermissions.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/helpers/useIncrementOnNavigationFocusState.ts
  apps/ledger-live-mobile/src/helpers/useIsMounted.ts
  apps/ledger-live-mobile/src/helpers/useResetOnNavigationFocusState.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/react-native-hw-transport-ble/makeMock.ts
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/index.tsx
  apps/ledger-live-mobile/src/screens/Manager/index.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/RenderError.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
  libs/ledger-live-common/src/ble/hooks/useBleDevicesScanning.test.ts
  libs/ledger-live-common/src/ble/hooks/useBleDevicesScanning.ts
  libs/ledger-live-common/src/ble/types.ts
  libs/ledgerjs/packages/errors/README.md
  libs/ledgerjs/packages/errors/src/index.ts
  libs/ledgerjs/packages/hw-transport/README.md
  libs/ledgerjs/packages/hw-transport/src/Transport.ts
  libs/ledgerjs/packages/react-native-hw-transport-ble/src/BleTransport.ts
Labels: mobile, common, ledgerjs, translations

#2041 bugfix/LIVE-4812 Fix white screen on fallback camera for recipient scanner iOS
  .changeset/pink-terms-breathe.md
  apps/ledger-live-mobile/src/components/Scanner.tsx
Labels: mobile

#2048 bugfix/rollback-ble Undo BleTransport changes
  .changeset/chilly-donkeys-double.md
  libs/ledgerjs/packages/react-native-hw-transport-ble/src/BleTransport.ts
Labels: ledgerjs

#2030 support(llc): update fund partners
  .changeset/serious-queens-yell.md
  libs/ledger-live-common/src/exchange/platform/transfer/index.ts
Labels: common

#2045 feat/LIVE-4816 Increase the number of logs that are exported on LLM
  .changeset/rude-turtles-buy.md
  apps/ledger-live-mobile/src/log-report.ts
  libs/ledger-live-common/src/env.ts
Labels: mobile, common

#2029 fix: set null amount value for lld swap track
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FromRow.jsx
Labels: desktop

#2057 Feat/live 4556 llm notification center navigation
  apps/ledger-live-mobile/src/components/RootNavigator/NotificationCenterNavigator.tsx
  apps/ledger-live-mobile/src/dynamicContent/dynamicContent.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/NotificationCenter/Notifications.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
Labels: mobile, translations

#1994 Add Send Max for all currencies integration tests
  libs/ledger-live-common/src/__tests__/test-helpers/bridge.ts
  libs/ledger-live-common/src/families/algorand/bridge.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/bitcoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/litecoin.ts
  libs/ledger-live-common/src/families/bitcoin/specs.ts
  libs/ledger-live-common/src/families/elrond/bridge.integration.test.ts
  libs/ledger-live-common/src/families/ethereum/bridge.integration.test.ts
  libs/ledger-live-common/src/families/evm/bridge.integration.test.ts
  libs/ledger-live-common/src/families/filecoin/bridge.integration.test.ts
  libs/ledger-live-common/src/families/hedera/bridge.integration.test.ts
  libs/ledger-live-common/src/families/tezos/bridge.integration.test.ts
  libs/ledger-live-common/src/families/tron/bridge.integration.test.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/bridge.ts
Labels: common, ledgerjs

#1873 makes playwright test fail on an internal process crash (#1762)
  apps/ledger-live-desktop/src/main/internal-lifecycle.js
  apps/ledger-live-desktop/tests/fixtures/common.ts
Labels: desktop

#2054 update cardano testnet token
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/cardanoNative.ts
Labels: desktop, common, ledgerjs, fork

#2063 update cardano testnet token (#2054)
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/cardanoNative.ts
Labels: desktop, common, ledgerjs

#2021 ✨ FEAT : V0 - LLM - LIVE-4559: Dismiss a LLM Notification Center Card
  apps/ledger-live-mobile/src/components/RootNavigator/NotificationCenterNavigator.tsx
  apps/ledger-live-mobile/src/dynamicContent/dynamicContent.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/NotificationCenter/Notifications.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
  libs/ui/packages/native/src/components/Cards/CardC/index.tsx
  libs/ui/packages/native/storybook/stories/Cards/Cards.stories.tsx
Labels: mobile, ui, translations

#2059 Build only llc for integration tests
  .github/workflows/test-integration-pr.yml
  .github/workflows/test-integration.yml
  package.json
Labels: HODL, automation

#2065 feature flag near
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.jsx
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs

#1889 Adding Live App/SDK tests back into Playwright Test Suite
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/LiveAppDisclaimer.jsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/index.tsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/SelectAccountAndCurrencyDrawer.jsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/SelectAccountDrawer.jsx
  apps/ledger-live-desktop/src/renderer/screens/platform/Catalog.jsx
  apps/ledger-live-desktop/tests/models/DiscoverPage.ts
  apps/ledger-live-desktop/tests/models/Drawer.ts
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/catalog-darwin.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/catalog-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/catalog-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-list-all-accounts-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-list-currencies-darwin.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-list-currencies-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-drawer-darwin.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-drawer-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-drawer-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-output-darwin.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-select-account-darwin.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-select-account-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-select-account-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-single-account-output-darwin.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-single-account-output-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-single-account-output-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-sign-transaction-confirm-darwin.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-sign-transaction-confirm-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-sign-transaction-confirm-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-sign-transaction-info-darwin.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-sign-transaction-info-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-verify-address-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-disclaimer-accepted-win32.png
Labels: desktop, screenshots

#2058 Handle address error during Stellar sync
  .changeset/quiet-llamas-travel.md
  .changeset/rich-cats-remember.md
  .changeset/tender-baboons-report.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/families/stellar/errors.ts
  libs/ledger-live-common/src/families/stellar/js-synchronization.ts
  libs/ledger-live-common/src/families/stellar/logic.ts
Labels: desktop, mobile, common, translations

#2019 [LIVE-4509] Bugfix - Update ethereum 1559 advanced fees style
  .changeset/real-pugs-mix.md
  .changeset/smooth-socks-relax.md
  apps/ledger-live-desktop/src/renderer/families/ethereum/GasLimitField.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/MaxFeeField.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/PriorityFeeField.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/SelectFeeStrategy.tsx
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/families/ethereum/EditFeeUnitEthereum.tsx
  apps/ledger-live-mobile/src/families/ethereum/EthereumCustomFees/Ethereum1559CustomFees.tsx
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#2032 Add missing `send max` in bot specs
  libs/ledger-live-common/src/families/bitcoin/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/crypto_org/specs.ts
  libs/ledger-live-common/src/families/elrond/specs.ts
  libs/ledger-live-common/src/families/elrond/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/evm/specs.ts
  libs/ledger-live-common/src/families/polkadot/specs.ts
  libs/ledger-live-common/src/families/polkadot/speculos-deviceActions.ts
Labels: common

#2079 Detox - Allure - Fix screenshots when test failed
  apps/ledger-live-mobile/e2e/reporters/AllureReporterCircus.js
Labels: mobile

#2091 Revert hotfix commits
  .changeset/ninety-eggs-look.md
  .changeset/pink-houses-do.md
  .changeset/shy-bats-end.md
  .changeset/slow-crabs-develop.md
  .changeset/spicy-jeans-study.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
  apps/ledger-live-desktop/CHANGELOG.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/CHANGELOG.md
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/CHANGELOG.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/api/Tron.ts
  libs/ledger-live-common/src/families/tron/bridge/js.ts
  tools/common-tools/CHANGELOG.md
  tools/common-tools/package.json
Labels: desktop, mobile, common, tools, translations, cli

#2093 Revert hotfix commits
  .changeset/ninety-eggs-look.md
  .changeset/pink-houses-do.md
  .changeset/shy-bats-end.md
  .changeset/slow-crabs-develop.md
  .changeset/spicy-jeans-study.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
  apps/ledger-live-desktop/CHANGELOG.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/CHANGELOG.md
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/CHANGELOG.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/api/Tron.ts
  libs/ledger-live-common/src/families/tron/bridge/js.ts
  tools/common-tools/CHANGELOG.md
  tools/common-tools/package.json
Labels: desktop, mobile, common, tools, translations, cli

#2083 Elrond rebranding to MultiversX
  apps/ledger-live-desktop/src/renderer/families/elrond/AccountSubHeader.jsx
  apps/ledger-live-desktop/static/i18n/el/app.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/static/i18n/fi/app.json
  apps/ledger-live-desktop/static/i18n/hu/app.json
  apps/ledger-live-desktop/static/i18n/it/app.json
  apps/ledger-live-desktop/static/i18n/nl/app.json
  apps/ledger-live-desktop/static/i18n/no/app.json
  apps/ledger-live-desktop/static/i18n/pl/app.json
  apps/ledger-live-desktop/static/i18n/sr/app.json
  apps/ledger-live-desktop/static/i18n/sv/app.json
  apps/ledger-live-mobile/src/families/elrond/AccountSubHeader.tsx
  libs/ledger-live-common/src/data/icons/svg/EGLD.svg
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ui/packages/crypto-icons/src/svg/EGLD.svg
Labels: desktop, mobile, common, ui, ledgerjs, translations, fork

#2097 Smartling on-demand translation delivery from hotfix
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#2103 [support] Manually merge hotfix to main
  apps/cli/CHANGELOG.md
  apps/ledger-live-desktop/CHANGELOG.md
  apps/ledger-live-desktop/RELEASE_NOTES.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/CHANGELOG.md
  libs/ledger-live-common/src/api/Tron.ts
  libs/ledger-live-common/src/families/tron/bridge/js.ts
  tools/common-tools/CHANGELOG.md
Labels: desktop, mobile, common, tools, translations, cli

#2104 [support] Manually merge hotfix to develop
  apps/cli/CHANGELOG.md
  apps/ledger-live-desktop/CHANGELOG.md
  apps/ledger-live-desktop/RELEASE_NOTES.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/CHANGELOG.md
  libs/ledger-live-common/src/api/Tron.ts
  libs/ledger-live-common/src/families/tron/bridge/js.ts
  tools/common-tools/CHANGELOG.md
Labels: desktop, mobile, common, tools, translations, cli

#1802 Feat/live 3992 protect UI integration
  .changeset/eighty-baboons-roll.md
  .changeset/large-mayflies-fly.md
  .changeset/spotty-foxes-change.md
  .changeset/stale-pens-fry.md
  apps/ledger-live-mobile/src/actions/protect.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/RootNavigator/ManagerNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/OnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/ManagerNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/OnboardingNavigator.ts
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/ActiveProtectState.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/AddPaymentProtectState.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/ConfirmIdentityProtectState.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/NewProtectState.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/PaymentRejectedProtectState.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/SubscriptionCanceledProtectState.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/index.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/types.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/context/LedgerStore.tsx
  apps/ledger-live-mobile/src/db.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/protect.ts
  apps/ledger-live-mobile/src/modals/Info.tsx
  apps/ledger-live-mobile/src/reducers/index.ts
  apps/ledger-live-mobile/src/reducers/protect.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Manager/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/pairNew.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/protectFlow.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/RestoreWithProtect.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/useCaseSelection.tsx
  apps/ledger-live-mobile/src/screens/Protect/Login.tsx
  apps/ledger-live-mobile/src/types/protect.ts
  libs/ledger-live-common/src/platform/providers/ProtectProvider/api/api.mock.ts
  libs/ledger-live-common/src/platform/providers/ProtectProvider/api/index.ts
  libs/ledger-live-common/src/platform/providers/ProtectProvider/types.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/native/src/components/Layout/Divider/index.tsx
  libs/ui/packages/native/src/components/tags/Tag/index.tsx
Labels: mobile, common, ui, ledgerjs, translations

#2053 Feat: new ETH stake flow. Modal Kiln and Lido.
  .changeset/metal-eyes-report.md
  apps/ledger-live-desktop/src/renderer/families/ethereum/AccountHeaderManageActions.js
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/Body.jsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/assets/EthStakeIlustration.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/component/ProviderItem.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/index.jsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveFunds.jsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveStakingFlow.tsx
  apps/ledger-live-desktop/src/renderer/modals/index.js
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#2075 LLD - bug - fixes loading indicator on swap page
  .changeset/tiny-brooms-sit.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FromRow.jsx
Labels: desktop

#2039 Signoperation unit test
  libs/ledger-live-common/src/families/ethereum/__tests__/signOperation.test.ts
  libs/ledger-live-common/src/families/ethereum/logic.ts
  libs/ledger-live-common/src/families/ethereum/prepareTransaction.ts
  libs/ledger-live-common/src/families/ethereum/signOperation.ts
Labels: common

#2080 bugfix: llm - fixes issue on swap screen whereby target account was the From account name
  .changeset/hot-jars-obey.md
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
Labels: mobile

#2069 Feat/live 4839 anon wallet account
  .changeset/twenty-radios-fold.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/wallet-api/converters.ts
  libs/ledger-live-common/src/wallet-api/logic.test.ts
  libs/ledger-live-common/src/wallet-api/logic.ts
  pnpm-lock.yaml
Labels: common

#2089 bugfix - llm - aligns terms & conditions link on the swap confirmation modal
  .changeset/nervous-socks-invite.md
  apps/ledger-live-mobile/src/components/TermsFooter.tsx
Labels: mobile

#1997 feat/FAT-690 Support for custom image storage in logic + UI
  .changeset/calm-bulldogs-crash.md
  .changeset/chatty-spies-wash.md
  .changeset/slimy-tigers-invite.md
  apps/ledger-live-desktop/src/renderer/actions/settings.js
  apps/ledger-live-desktop/src/renderer/components/ByteSize.jsx
  apps/ledger-live-desktop/src/renderer/components/CustomImage/CustomImageDeviceAction.tsx
  apps/ledger-live-desktop/src/renderer/reducers/settings.js
  apps/ledger-live-desktop/src/renderer/screens/manager/AppsList/index.jsx
  apps/ledger-live-desktop/tests/models/DeviceAction.ts
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/ByteSize.tsx
  apps/ledger-live-mobile/src/components/CustomImageDeviceAction.tsx
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/CustomImage/Step3Transfer.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceAppStorage.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/index.tsx
  libs/ledger-live-common/src/api/Manager.ts
  libs/ledger-live-common/src/apps/formatting.test.ts
  libs/ledger-live-common/src/apps/formatting.ts
  libs/ledger-live-common/src/apps/hw.ts
  libs/ledger-live-common/src/apps/logic.test.ts
  libs/ledger-live-common/src/apps/logic.ts
  libs/ledger-live-common/src/apps/mock.ts
  libs/ledger-live-common/src/apps/types.ts
  libs/ledger-live-common/src/hw/actions/ftsLoadImage.ts
  libs/ledger-live-common/src/hw/ftsFetchImageSize.test.ts
  libs/ledger-live-common/src/hw/ftsFetchImageSize.ts
  libs/ledger-live-common/src/hw/ftsLoadImage.ts
Labels: desktop, mobile, common

#1698 B2CQA 1302 - Add Allure Reporting to Playwright and Desktop test workflow
  .github/workflows/test-desktop.yml
  .pnpmfile.cjs
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/tests/playwright.config.ts
  apps/ledger-live-mobile/ios/Podfile.lock
  pnpm-lock.yaml
  tools/actions/composites/test-desktop/action.yml
Labels: desktop, mobile, tools, automation, Stale

#2124 Added token logos of hmmm token
  .changeset/gold-years-taste.md
  libs/ledger-live-common/src/data/icons/svg/H3M.svg
Labels: common

#2125 Add condition (if: always) for stop EC2 Linux Runner
  .github/workflow-templates/bot-coin-family.yml
  .github/workflows/bot-carbon.yml
  .github/workflows/bot-mere-denis.yml
  .github/workflows/bot-mooncake.yml
  .github/workflows/bot-nonreg-carbon.yml
  .github/workflows/bot-nonreg-mooncake.yml
  .github/workflows/bot-nonreg-oxygen.yml
  .github/workflows/bot-nonreg-phosphore.yml
  .github/workflows/bot-nonreg-silicium.yml
  .github/workflows/bot-phosphore.yml
  .github/workflows/bot-silicium.yml
  .github/workflows/bot-staging-explorer-btc.yml
  .github/workflows/bot-staging-explorer-eth.yml
  .github/workflows/bot-transfer.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
Labels: automation

#2086 [LIVE-2323]Bugfix - Prevent all cosmos delegation flows with 0 amount
  .changeset/long-waves-serve.md
  apps/ledger-live-mobile/src/families/cosmos/shared/02-SelectAmount.tsx
Labels: mobile

#2129 fix(allure-reports): add missing condition on allure reporting [desktop tests]
  .github/workflows/test-desktop.yml
Labels: automation

#2127 fix: NEAR LLM bust staking positions cache
  .changeset/green-tools-share.md
  libs/ledger-live-common/src/families/near/api/near-staking-positions-sdk.ts
  libs/ledger-live-common/src/families/near/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/near/logic.ts
Labels: common, fork

#2101 Updated LLM E2E readme with better setup and test steps
  apps/ledger-live-mobile/docs/llm_e2e_testing.md
Labels: mobile

#2126 bugfix/FAT-730 Fix UI for fallback camera
  .changeset/dirty-cycles-itch.md
  apps/ledger-live-mobile/src/components/FallbackCameraBody.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ImportAccountsNavigator.tsx
  apps/ledger-live-mobile/src/components/Scanner.tsx
  apps/ledger-live-mobile/src/icons/FallbackCamera.tsx
  apps/ledger-live-mobile/src/screens/ImportAccounts/Scan.tsx
Labels: mobile

#2141 CAL update
  .changeset/quick-swans-sort.md
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/release-notes.json
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/eip712.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/polygon-erc20.ts
Labels: desktop, common, ledgerjs

#2145 cosmos sdk mobile ui
  apps/ledger-live-desktop/src/renderer/families/cosmos/utils.jsx
  apps/ledger-live-mobile/src/families/cosmos/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-mobile/src/families/cosmos/DelegationFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/cosmos/Delegations/index.tsx
  apps/ledger-live-mobile/src/families/cosmos/utils.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#2147 bugfix - LLD - improves swap redux selector performance
  .changeset/red-trains-fry.md
  apps/ledger-live-desktop/src/renderer/actions/swap.js
  apps/ledger-live-desktop/src/renderer/actions/swap.test.js
Labels: desktop

#2117 fix: LIVE-4779 kyc banner is hidden for swap in llm
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
Labels: mobile

#2052 Refacto exchange partner config
  .changeset/thirty-ties-love.md
  libs/ledger-live-common/src/exchange/index.test.ts
  libs/ledger-live-common/src/exchange/index.ts
  libs/ledger-live-common/src/exchange/platform/transfer/index.ts
  libs/ledger-live-common/src/exchange/sell/index.ts
  libs/ledger-live-common/src/exchange/swap/index.ts
Labels: common

#2037 Feat/LIVE-4533 LIVE-4532 - Improve decimal handling to show more digits
  .changeset/fast-seas-march.md
  .changeset/perfect-candles-pretend.md
  .changeset/shaggy-dogs-remain.md
  apps/ledger-live-desktop/src/renderer/components/BalanceInfos/index.jsx
  apps/ledger-live-desktop/src/renderer/components/FormattedVal.jsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountBalanceSummaryHeader.jsx
  apps/ledger-live-mobile/src/analytics/TrackScreen.tsx
  apps/ledger-live-mobile/src/components/AccountGraphCard.tsx
  apps/ledger-live-mobile/src/components/CounterValue.tsx
  apps/ledger-live-mobile/src/components/CurrencyUnitValue.tsx
  apps/ledger-live-mobile/src/components/DoubleCountervalue.tsx
  apps/ledger-live-mobile/src/components/GraphCard.tsx
  libs/ledger-live-common/src/__tests__/currencies.ts
  libs/ledger-live-common/src/currencies/formatCurrencyUnit.ts
Labels: desktop, mobile, common

#1881 fix: fix swap rate call v4
  .changeset/selfish-clouds-tell.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.test.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
  libs/ledger-live-common/src/exchange/swap/getProviders.test.ts
  libs/ledger-live-common/src/exchange/swap/getProviders.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useProviderRates.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
  libs/ledger-live-common/src/exchange/swap/mock.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
Labels: desktop, mobile, common, Stale

#2155 Update coin apps remote branch to the generated one
  .github/workflows/bot-mere-denis.yml
  .github/workflows/bot-mooncake.yml
  .github/workflows/bot-nonreg-carbon.yml
  .github/workflows/bot-nonreg-mere-denis.yml
  .github/workflows/bot-nonreg-mooncake.yml
  .github/workflows/bot-nonreg-oxygen.yml
  .github/workflows/bot-nonreg-phosphore.yml
  .github/workflows/bot-nonreg-silicium.yml
  .github/workflows/bot-oxygen.yml
  .github/workflows/bot-phosphore.yml
  .github/workflows/bot-silicium.yml
  .github/workflows/bot-staging-explorer-btc.yml
  .github/workflows/bot-staging-explorer-eth.yml
  .github/workflows/bot-transfer.yml
Labels: automation

#2148 support: adding wDoge token icon
  .changeset/pink-poems-mate.md
  libs/ledger-live-common/src/data/icons/svg/WDOGE.svg
Labels: common

#2157 bugfix/FAT-742 Prevent crash when app tries to use stored nanoFTS ref
  .changeset/pretty-suits-jump.md
  apps/ledger-live-mobile/src/reducers/ble.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
Labels: mobile

#2138 Add nanoFTS Lotties animations on LLD
  .changeset/rude-bikes-arrive.md
  apps/ledger-live-desktop/src/renderer/animations/stax/10PairingSuccess/dark.json
  apps/ledger-live-desktop/src/renderer/animations/stax/10PairingSuccess/light.json
  apps/ledger-live-desktop/src/renderer/animations/stax/11PlaceHolder/dark.json
  apps/ledger-live-desktop/src/renderer/animations/stax/11PlaceHolder/light.json
  apps/ledger-live-desktop/src/renderer/animations/stax/1PlugAndPinCode/dark.json
  apps/ledger-live-desktop/src/renderer/animations/stax/1PlugAndPinCode/light.json
  apps/ledger-live-desktop/src/renderer/animations/stax/2FirmwareUpdating/dark.json
  apps/ledger-live-desktop/src/renderer/animations/stax/2FirmwareUpdating/light.json
  apps/ledger-live-desktop/src/renderer/animations/stax/3EnterPinCode/dark.json
  apps/ledger-live-desktop/src/renderer/animations/stax/3EnterPinCode/light.json
  apps/ledger-live-desktop/src/renderer/animations/stax/4QuitApp/dark.json
  apps/ledger-live-desktop/src/renderer/animations/stax/4QuitApp/light.json
  apps/ledger-live-desktop/src/renderer/animations/stax/5AllowManager/dark.json
  apps/ledger-live-desktop/src/renderer/animations/stax/5AllowManager/light.json
  apps/ledger-live-desktop/src/renderer/animations/stax/6OpenApp/dark.json
  apps/ledger-live-desktop/src/renderer/animations/stax/6OpenApp/light.json
  apps/ledger-live-desktop/src/renderer/animations/stax/7Validate/dark.json
  apps/ledger-live-desktop/src/renderer/animations/stax/7Validate/light.json
  apps/ledger-live-desktop/src/renderer/animations/stax/8InstallLoading/dark.json
  apps/ledger-live-desktop/src/renderer/animations/stax/8InstallLoading/light.json
  apps/ledger-live-desktop/src/renderer/animations/stax/9PairingProgress/dark.json
  apps/ledger-live-desktop/src/renderer/animations/stax/9PairingProgress/light.json
  apps/ledger-live-desktop/src/renderer/animations/stax/allowConnection.json
  apps/ledger-live-desktop/src/renderer/animations/stax/confirmLockscreen.json
  apps/ledger-live-desktop/src/renderer/animations/stax/enterPIN.json
  apps/ledger-live-desktop/src/renderer/animations/stax/lockscreenConfirmation.json
  apps/ledger-live-desktop/src/renderer/animations/stax/signTransaction.json
  apps/ledger-live-desktop/src/renderer/animations/stax/verifyAddress.json
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/animations.js
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/LottieDebugger/index.jsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/01-step-install-full-firmware.tsx
Labels: desktop

#2071 LLM - fix ratings modal close behavior
  .changeset/light-jars-hope.md
  .changeset/perfect-eagles-end.md
  apps/ledger-live-mobile/src/logic/ratings.tsx
  apps/ledger-live-mobile/src/screens/Modals/index.tsx
  apps/ledger-live-mobile/src/screens/RatingsModal/Init.tsx
  apps/ledger-live-mobile/src/screens/RatingsModal/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/native/src/components/Layout/Modals/BaseModal/index.tsx
Labels: mobile, common, ui, ledgerjs

#2156 bugfix/FAT-720 Use 670px height for custom lockscreen images
  .changeset/early-owls-count.md
  .changeset/heavy-jobs-laugh.md
  .changeset/spicy-socks-sin.md
  apps/ledger-live-desktop/src/renderer/components/CustomImage/FramedImage.tsx
  apps/ledger-live-desktop/src/renderer/components/CustomImage/ImageGrayscalePreview.tsx
  apps/ledger-live-desktop/src/renderer/components/CustomImage/TestImage.tsx
  apps/ledger-live-desktop/src/renderer/components/CustomImage/shared.ts
  apps/ledger-live-desktop/src/renderer/screens/customImage/Step2AdjustImage.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/PreviewPreEdit.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step1Crop.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step2Preview.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/shared.ts
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/CustomImageGraphics.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/FetchCustomImage.tsx
  libs/ledger-live-common/src/hw/staxLoadImage.ts
Labels: desktop, mobile, common

#1519 add BCERT svg icon
  .changeset/funny-cat-distillers.md
  libs/ledger-live-common/src/data/icons/svg/BCERT.svg
Labels: common, fork

#2158 Feat/NFT Gallery detox tests
  apps/ledger-live-mobile/docs/llm_e2e_testing.md
  apps/ledger-live-mobile/e2e/models/nft/nftViewerPage.ts
  apps/ledger-live-mobile/e2e/models/wallet/nftGalleryPage.ts
  apps/ledger-live-mobile/e2e/models/wallet/portfolioPage.ts
  apps/ledger-live-mobile/e2e/models/wallet/walletTabNavigator.ts
  apps/ledger-live-mobile/e2e/setups/2_accounts_eth_with_tokens_and_nft.json
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboarding.spec.ts
  apps/ledger-live-mobile/e2e/specs/password.spec.ts
  apps/ledger-live-mobile/index.js
  apps/ledger-live-mobile/src/components/Nft/NftList.tsx
  apps/ledger-live-mobile/src/components/Nft/NftViewer.tsx
  apps/ledger-live-mobile/src/components/Skeleton.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabNavigatorTabBar.tsx
  apps/ledger-live-mobile/src/index.tsx
Labels: mobile

#2169 Support/improve ruby steps for detox setup
  apps/ledger-live-mobile/docs/llm_e2e_testing.md
Labels: mobile

#2140 bugfix/FAT-728 feat/LIVE-4899 Refactor RenameDevice into DeviceAction
  .changeset/blue-ads-double.md
  .changeset/serious-sloths-smile.md
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceJob/StepRenders.tsx
  apps/ledger-live-mobile/src/components/DeviceJob/StepRunnerModal.tsx
  apps/ledger-live-mobile/src/components/DeviceJob/index.tsx
  apps/ledger-live-mobile/src/components/DeviceJob/steps.tsx
  apps/ledger-live-mobile/src/components/DeviceJob/types.ts
  apps/ledger-live-mobile/src/components/DeviceRenamed.tsx
  apps/ledger-live-mobile/src/components/GenericErrorView.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseOnboardingNavigator.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/EditDeviceName.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceName.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Configuration/DebugEnv.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/Store.tsx
  libs/ledger-live-common/src/hw/actions/renameDevice.ts
  libs/ledger-live-common/src/hw/editDeviceName.ts
  libs/ledger-live-common/src/hw/renameDevice.ts
Labels: mobile, common, translations

#2167 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#2143 Feature flags UX improvements
  .changeset/mean-panthers-live.md
  .changeset/rare-dryers-punch.md
  .changeset/twenty-experts-cough.md
  apps/ledger-live-desktop/src/renderer/actions/settings.js
  apps/ledger-live-desktop/src/renderer/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-desktop/src/renderer/components/FirebaseRemoteConfig.tsx
  apps/ledger-live-desktop/src/renderer/reducers/settings.js
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsSettings/index.tsx
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-mobile/src/components/FirebaseRemoteConfig.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/FeatureFlagsSettings/FeatureFlagDetails.tsx
  apps/ledger-live-mobile/src/screens/FeatureFlagsSettings/FeatureFlagEdit.tsx
  apps/ledger-live-mobile/src/screens/FeatureFlagsSettings/GroupedFeatures.tsx
  apps/ledger-live-mobile/src/screens/FeatureFlagsSettings/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Experimental/ExperimentalHeader.tsx
  libs/ledger-live-common/src/featureFlags/groupedFeatures.ts
  libs/ledger-live-common/src/featureFlags/index.ts
  libs/ledger-live-common/src/featureFlags/provider.tsx
  libs/ledger-live-common/src/featureFlags/useHasOverriddenFeatureFlags.ts
  libs/ledger-live-common/src/postOnboarding/hooks/usePostOnboardingHubState.test.ts
Labels: desktop, mobile, common, translations

#2123 feat - show DEX quotes on LLD Swap screen
  .changeset/chatty-rice-speak.md
  .changeset/tall-spies-double.md
  .changeset/tough-trains-heal.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/SectionRate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Filter.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/NoQuoteSwapRate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/SwapRate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/filterRates.js
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/filterRates.spec.js
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.test.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useProviderRates.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useProviderRates.ts
  libs/ledger-live-common/src/exchange/swap/index.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
  libs/ledger-live-common/src/exchange/swap/mock.ts
  libs/ledger-live-common/src/exchange/swap/serialization.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.test.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs

#2187 LLM - Learn Content Card pixel polish
  apps/ledger-live-mobile/src/screens/Learn/index.tsx
  apps/ledger-live-mobile/src/screens/Learn/learn.tsx
  libs/ledgerjs/packages/types-live/README.md
  libs/ui/packages/native/src/components/Cards/InformativeCard/index.tsx
Labels: mobile, ui, ledgerjs

#2174 [BUGFIX] make sure currencies param of requestAccount is string array
  .changeset/lazy-sloths-obey.md
  .changeset/spotty-boxes-battle.md
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/LiveAppSDKLogic.ts
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/WebView.tsx
Labels: desktop, mobile

#2193 Feat/LIVE-5021 - Fix reborn page
  apps/ledger-live-mobile/src/components/CurrencyUnitValue.tsx
  apps/ledger-live-mobile/src/components/GraphCard.tsx
Labels: mobile

#2042 LLM: kill all 'as CryptoCurrency'
  apps/ledger-live-mobile/src/components/AccountCard.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/RequestAccountNavigator.ts
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/WebView.tsx
  apps/ledger-live-mobile/src/families/tron/Confirmation.tsx
  apps/ledger-live-mobile/src/reducers/accounts.ts
  apps/ledger-live-mobile/src/screens/AccountSettings/AdvancedLogs.tsx
  apps/ledger-live-mobile/src/screens/Accounts/AccountRow.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/03-Accounts.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/04-Success.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccountSelectDevice.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03a-ConnectDevice.tsx
  apps/ledger-live-mobile/src/screens/RequestAccount/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/MarketPrice.tsx
  libs/ledger-live-common/src/currencies/helpers.ts
Labels: mobile, common

#2171 Detox - Reduce password test wait time from 60 seconds to 5 seconds
  .github/workflows/test-mobile-e2e.yml
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/e2e/specs/password.spec.ts
  apps/ledger-live-mobile/src/context/AuthPass/index.tsx
Labels: mobile, automation

#2204 Set Detox debug level to Debug on CI runs
  apps/ledger-live-mobile/detox.config.js
Labels: mobile

#2176 bugfix/FAT-748 Fix IL fw bug that broke access to My Ledger
  .changeset/heavy-poems-relate.md
  libs/ledger-live-common/src/hw/staxFetchImageSize.test.ts
  libs/ledger-live-common/src/hw/staxFetchImageSize.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: common, ledgerjs

#2178 Support: feat-749 withDevice cleaning + logs
  .changeset/chatty-seas-study.md
  .changeset/great-countries-clap.md
  .changeset/heavy-nails-beam.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/src/internal/live-common-setup.js
  apps/ledger-live-desktop/src/main/internal-lifecycle.js
  apps/ledger-live-desktop/src/renderer/Default.jsx
  apps/ledger-live-desktop/src/renderer/components/DeviceBusyIndicator.jsx
  apps/ledger-live-desktop/src/renderer/events.js
  libs/ledger-live-common/src/hw/deviceAccess.ts
  libs/ledgerjs/packages/react-native-hw-transport-ble/src/BleTransport.ts
Labels: desktop, common, ledgerjs, cli

#2205 feat/LIVE-2613 Improve error handling and test coverage of HSM connections
  .changeset/strong-numbers-matter.md
  libs/ledger-live-common/src/__tests__/api/__snapshots__/socket.ts.snap
  libs/ledger-live-common/src/__tests__/api/socket.ts
  libs/ledger-live-common/src/__tests__/api/test-helpers/scenarios.ts
  libs/ledger-live-common/src/api/socket.ts
  libs/ledgerjs/packages/errors/src/index.ts
  libs/ledgerjs/packages/hw-transport-mocker/src/openTransportReplayer.ts
Labels: common, ledgerjs

#2106 Feat/live 4085 hedera bot improvements
  libs/ledger-live-common/src/families/hedera/specs.ts
  libs/ledger-live-common/src/families/hedera/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/hedera/utils.ts
Labels: common

#2219 feat/FAT-753 Improve debug theme
  .changeset/chilly-dolphins-check.md
  apps/ledger-live-mobile/index.js
  apps/ledger-live-mobile/src/components/DebugTheme.tsx
  apps/ledger-live-mobile/src/components/ThemeDebug.tsx
  apps/ledger-live-mobile/src/index.tsx
Labels: mobile

#2225 feat/LIVE-5045 Improve access to debug screens
  .changeset/breezy-terms-rescue.md
  apps/ledger-live-mobile/src/actions/appstate.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/reducers/appstate.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Settings/index.tsx
Labels: mobile
