Repository LedgerHQ/ledger-live, pull requests merged in 2022-04, with the labels that each got.

#24 update cli to make it work with monorepo
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .pnpmfile.cjs
  apps/ledger-live-desktop/package.json
  libs/ledger-live-common/.circleci.disabled/config.yml
  libs/ledger-live-common/cli/.pnpm-debug.log
  libs/ledger-live-common/cli/package.json
  libs/ledger-live-common/cli/src/live-common-setup.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/sanityChecks.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/actions/download-workflow-artifacts/build/index.js
  tools/actions/get-workflow-artifacts-id/build/index.js
  tools/actions/has-hash-commit-deps/build/index.js
Labels: desktop, common, tools, automation

#25 test windows fuckup
  .github/workflows/build-desktop.yml
Labels: automation

#26 Add and update documentation
  .pnpmfile.cjs
  CONTRIBUTING.md
  README.md
  apps/ledger-live-desktop/README.md
  apps/ledger-live-mobile/README.md
  libs/ledger-live-common/README.md
  libs/ledgerjs/README.md
  libs/ledgerjs/packages/hw-transport-node-hid-singleton/README.md
  libs/ui/README.md
  libs/ui/packages/icons/README.md
  libs/ui/packages/native/README.md
  libs/ui/packages/react/CONTRIBUTING.md
  libs/ui/packages/react/README.md
  package.json
  pnpm-lock.yaml
  readme.md
  turbo.json
Labels: desktop, mobile, common, ui, ledgerjs

#27 Test generate screenshots
  .github/workflows/generate-screenshots.yml
Labels: automation

#29 chore: make llc tools work
  libs/ledger-live-common/tools/config-overrides.js
  libs/ledger-live-common/tools/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: common

#30 add full automated process for release/prerelease/hotfix
  .github/workflows/backup/version-or-release.yml
  .github/workflows/create-hotfix.yml
  .github/workflows/create-release.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  apps/ledger-live-mobile/fastlane/Fastfile
Labels: mobile, automation
