Repository LedgerHQ/ledger-live, pull requests merged in 2022-10, with the labels that each got.

#1254 LIVE-3604 Enable eslint on JSX files on LLD + enforce react-hooks/exhaustive-deps rule
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/Default.jsx
  apps/ledger-live-desktop/src/renderer/components/AccountSubHeader/AccountSubHeaderDrawer.jsx
  apps/ledger-live-desktop/src/renderer/components/AccountSubHeader/index.jsx
  apps/ledger-live-desktop/src/renderer/components/Chart/index.jsx
  apps/ledger-live-desktop/src/renderer/components/Modal/ModalHeader.jsx
  apps/ledger-live-desktop/src/renderer/components/OperationsList/AmountCell.jsx
  apps/ledger-live-desktop/src/renderer/components/OperationsList/ConfirmationCell.jsx
  apps/ledger-live-desktop/src/renderer/components/PerCurrencySelectAccount/index.jsx
  apps/ledger-live-desktop/src/renderer/components/Stepper/index.jsx
  apps/ledger-live-desktop/src/renderer/components/ToastOverlay/index.jsx
  apps/ledger-live-desktop/src/renderer/components/debug/DebugUpdater.jsx
  apps/ledger-live-desktop/src/renderer/drawers/NFTViewerDrawer/index.jsx
  apps/ledger-live-desktop/src/renderer/families/bitcoin/SendRecipientFields.jsx
  apps/ledger-live-desktop/src/renderer/families/celo/AccountBodyHeader/Row.jsx
  apps/ledger-live-desktop/src/renderer/families/celo/LockFlowModal/fields/AmountField.styles.jsx
  apps/ledger-live-desktop/src/renderer/families/celo/RevokeFlowModal/components/RevokeVoteRow.styles.jsx
  apps/ledger-live-desktop/src/renderer/families/celo/SimpleOperationFlowModal/steps/StepConfirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/celo/VoteFlowModal/components/LedgerByFigmentTCLink.jsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/RedelegationFlowModal/Body.jsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/UndelegationFlowModal/steps/index.jsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/shared/components/CosmosFamilyLedgerValidatorIcon.jsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/utils.jsx
  apps/ledger-live-desktop/src/renderer/families/osmosis/AccountSubHeader.jsx
  apps/ledger-live-desktop/src/renderer/families/solana/Delegation/Row.jsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountBanner.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Buy/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Sell/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Gallery/Collection.jsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Gallery/Gallery.jsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Help/index.jsx
Labels: desktop

#1426 Update snapshot of integration tests
  libs/ledger-live-common/src/families/algorand/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/filecoin/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/osmosis/__snapshots__/bridge.integration.test.ts.snap
Labels: common

#1425 Bot: remove expectation of validating "destination" tests for celo & fil
  libs/ledger-live-common/src/families/celo/specs/createSendMutation.ts
  libs/ledger-live-common/src/families/filecoin/specs.ts
Labels: common

#1386 Improve technical error when 'CurrencyNotSupported' occurs
  libs/ledger-live-common/src/account/support.ts
Labels: common

#1405 Add reporting to /generate-screenshots
  .github/workflows/generate-screenshots.yml
  .github/workflows/test-desktop.yml
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-accounts-list-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-select-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-success-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-select-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-success-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-success-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-select-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-success-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-accounts-list-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-success-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-success-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-select-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-success-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/open-modal-win32.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/discover-linux.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/discover-win32.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/experimental-features-win32.png
  apps/ledger-live-desktop/tests/specs/manager/firmwareupdate.spec.ts-snapshots/firmware-update-button-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/firmwareupdate.spec.ts-snapshots/firmware-update-button-linux.png
  apps/ledger-live-desktop/tests/specs/manager/firmwareupdate.spec.ts-snapshots/firmware-update-button-win32.png
  apps/ledger-live-desktop/tests/specs/manager/firmwareupdate.spec.ts-snapshots/modal-checkbox-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/firmwareupdate.spec.ts-snapshots/modal-checkbox-linux.png
  apps/ledger-live-desktop/tests/specs/manager/firmwareupdate.spec.ts-snapshots/modal-checkbox-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-7d-range-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-btc-star-win32.png
Labels: desktop, automation, screenshots

#1436 Cherry-pick 4798caa
  .github/workflows/bot-cardano-silicium.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
Labels: automation

#1416 ci: auto close smartling prs
  tools/github-bot/src/index.ts
Labels: tools

#1418 ci: allow revert branches
  tools/github-bot/src/tools.ts
Labels: tools

#1446 Allow dependabot to create PRs
  tools/github-bot/src/tools.ts
Labels: tools

#1437 Add more ignored cases into sentry implementation
  apps/ledger-live-desktop/src/sentry/install.js
  apps/ledger-live-mobile/index.js
Labels: desktop, mobile

#1419 Introduce tests to ensure we define abandonseed values for coin we support
  .changeset/brown-experts-agree.md
  apps/ledger-live-desktop/src/generic.test.ts
  libs/ledger-live-common/src/__tests__/environment.test.ts
  libs/ledgerjs/packages/cryptoassets/README.md
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
Labels: desktop, common, ledgerjs

#1422 Support: refactor listen-to-hid-devices to TS and hook
  .changeset/cyan-dingos-cheat.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/internal/commands/index.js
  apps/ledger-live-desktop/src/internal/commands/listenDevices.js
  apps/ledger-live-desktop/src/internal/commands/listenToHidDevices.ts
  apps/ledger-live-desktop/src/renderer/Default.jsx
  apps/ledger-live-desktop/src/renderer/hooks/useListenToHidDevices.ts
  libs/ledgerjs/packages/hw-transport-node-hid-singleton/README.md
  libs/ledgerjs/packages/hw-transport-node-hid-singleton/src/TransportNodeHid.ts
  pnpm-lock.yaml
Labels: desktop, ledgerjs

#1357 LIVE-2750 Wallet btc code cleanup
  .changeset/orange-maps-walk.md
  libs/ledger-live-common/src/__tests__/families/bitcoin/wallet-btc/xpub.syncing.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/account.ts
  libs/ledger-live-common/src/families/bitcoin/bech32m.ts
  libs/ledger-live-common/src/families/bitcoin/bridge/js.ts
  libs/ledger-live-common/src/families/bitcoin/bridge/mock.ts
  libs/ledger-live-common/src/families/bitcoin/js-getFeesForTransaction.ts
  libs/ledger-live-common/src/families/bitcoin/js-synchronisation.ts
  libs/ledger-live-common/src/families/bitcoin/logic.ts
  libs/ledger-live-common/src/families/bitcoin/presync.ts
  libs/ledger-live-common/src/families/bitcoin/specs.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/base.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/bip32.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/bitcoincash.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/factory.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/litecoin.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/types.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/zec.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/zen.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/explorer/index.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/pickingstrategies/CoinSelect.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/pickingstrategies/DeepFirst.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/pickingstrategies/Merge.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/storage/index.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/utils.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/utils/eventemitter.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/wallet.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/xpub.ts
Labels: common

#1454 bot: Disable crypto_org_croeseid spec
  libs/ledger-live-common/src/families/crypto_org/specs.ts
Labels: common

#1451 bot: introduces a retries on scanAccounts to prevent tmp fails
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/bot/types.ts
  libs/ledger-live-common/src/families/solana/specs.ts
  libs/ledger-live-common/src/rxjs/operators/retryWithDelay.ts
  libs/ledger-live-common/src/rxjs/operators/throwIf.ts
Labels: common

#1449 ✨ feat(Add): Add new button
  apps/ledger-live-mobile/src/components/Nft/AddNewItemList.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#1450 introduce cli confirmOp + Increase timeouts for bot
  apps/cli/src/commands-index.ts
  apps/cli/src/commands/confirmOp.ts
  libs/ledger-live-common/src/families/cardano/specs.ts
  libs/ledger-live-common/src/families/celo/specs.ts
  libs/ledger-live-common/src/families/ethereum/specs.ts
  libs/ledger-live-common/src/families/filecoin/specs.ts
  libs/ledger-live-common/src/families/osmosis/specs.ts
Labels: common, cli

#1456 ci: attempt to prevent job cancellation on develop
  .github/workflows/backup/version-or-release.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/regen-pods.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile.yml
  .github/workflows/test.yml
Labels: automation

#1447 LIVE-3616 - LLD - add referral program entry points
  .changeset/fifty-shrimps-cry.md
  .changeset/friendly-tigers-pretend.md
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/ReferralProgram/images/bg.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/ReferralProgram/images/coin.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/helpers.jsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/HomePromotionalTag.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, ledgerjs, translations

#1377 feat: add filter to swap
  .changeset/serious-panthers-invent.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/ProvidersValue.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/SectionRate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/EmptyState.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Filter.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/utils.js
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#1307 bugfix(Layout): Layout issue with the error message if Bluetooth is disabled when user pairs device
  .changeset/quick-moles-fix.md
  apps/ledger-live-mobile/src/components/RequiresBLE/BluetoothDisabled.tsx
Labels: mobile

#1384 bugfix(i18n): The text Fingerprint should be translated
  .changeset/rich-lemons-prove.md
  apps/ledger-live-mobile/src/context/AuthPass/FailBiometrics.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Settings/General/BiometricsRow.tsx
Labels: mobile, translations

#1457 Add vertical timeline component from sync onboarding
  .changeset/honest-mails-watch.md
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/TimelineIndicator.tsx
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/TimelineItem.tsx
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/index.tsx
  libs/ui/packages/native/src/components/Layout/List/index.ts
  libs/ui/packages/native/storybook/stories/Layout/List/VerticalTimeline.stories.tsx
  libs/ui/packages/native/storybook/stories/index.ts
Labels: ui

#1281 support(AdvancedLogs): Add warning on Advanced logs for xpub sharing
  .changeset/twenty-pumpkins-shop.md
  apps/ledger-live-desktop/src/renderer/modals/SettingsAccount/AccountSettingRenderBody.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/AccountSettings/AdvancedLogs.tsx
Labels: desktop, mobile, translations

#1462 Feat / LIVE-3666 - New homepage tab navigator
  apps/ledger-live-mobile/src/components/RootNavigator/PortfolioNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/WalletTabNavigator.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
Labels: mobile, translations

#1461 Bot fixes
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/families/evm/specs.ts
  libs/ledger-live-common/src/families/hedera/specs.ts
  libs/ledger-live-common/src/families/osmosis/specs.ts
  libs/ledger-live-common/src/families/polkadot/specs.ts
Labels: common

#1367 support(URLs): LLD - Terms and Privacy Policy urls to update
  .changeset/cold-papayas-sell.md
  apps/ledger-live-desktop/TERMS.es.md
  apps/ledger-live-desktop/TERMS.fr.md
  apps/ledger-live-desktop/TERMS.md
  apps/ledger-live-desktop/src/config/urls.js
Labels: desktop

#1442 Feat: import bep20 exchange
  .changeset/flat-flies-behave.md
  .changeset/long-donkeys-invent.md
  .changeset/tame-weeks-cheer.md
  apps/ledger-live-desktop/README.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/README.md
  libs/ledgerjs/packages/cryptoassets/data/bep20.js
  libs/ledgerjs/packages/cryptoassets/data/erc20-signatures.js
  libs/ledgerjs/packages/cryptoassets/data/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/exchange/bep20.js
  libs/ledgerjs/packages/cryptoassets/data/exchange/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/polygon-erc20.js
  libs/ledgerjs/packages/cryptoassets/data/trc10.js
  libs/ledgerjs/packages/cryptoassets/src/exchange.ts
  libs/ledgerjs/script/crypto-assets-importer/importers/bep20exchange.js
  libs/ledgerjs/script/crypto-assets-importer/index.js
Labels: desktop, common, ledgerjs

#1458 ✨ FlatList with NFTs and Add new button
  apps/ledger-live-mobile/src/components/Nft/AddNewItemList.tsx
  apps/ledger-live-mobile/src/components/Nft/NftList.tsx
  apps/ledger-live-mobile/src/components/Nft/NftListItem.tsx
  apps/ledger-live-mobile/src/screens/Account/NftCollectionsList.tsx
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
Labels: mobile

#1470 bugfix/regenDocs fixes broken develop
  libs/ledgerjs/packages/cryptoassets/README.md
Labels: ledgerjs

#1469 Feat/LIVE-3667 - Tabs analytics
  apps/ledger-live-mobile/src/components/RootNavigator/WalletTabNavigator.tsx
Labels: mobile

#1397 bugfix/LIVE-3913 Updated share library (fixes export logs and ops)
  .changeset/modern-buckets-enjoy.md
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
  turbo.json
Labels: mobile

#1471 Feat/LIVE-3670 - Nft gallery list empty state
  apps/ledger-live-mobile/.eslintrc.js
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/NftGalleryEmptyState.tsx
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
Labels: mobile, translations

#1472 ✨ Sorted List
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
Labels: mobile

#1329 support(UI-Improvment): Accents are cropped on the Onboarding carousel
  .changeset/few-books-reflect.md
  apps/ledger-live-mobile/src/screens/Onboarding/OnboardingQuizItem.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/newDeviceInfo.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/Intro.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/QuizzFinal.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/RecoveryPhrase.tsx
Labels: mobile

#1308 bugfix(UI): UI issue on Sync modal
  .changeset/dry-kiwis-give.md
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/drawers/SyncDesktopInformation.tsx
Labels: mobile

#1476 Feat/LIVE-3680 + LIVE-3723 - Handle nft gallery list navigation too nft viewer page (and back)
  apps/ledger-live-mobile/src/components/Nft/NftListItem.tsx
Labels: mobile

#1409 Support/add yae icon
  .changeset/thin-kangaroos-teach.md
  libs/ledger-live-common/src/data/icons/svg/YAE.svg
Labels: common, fork

#1480 native-ui: VerticalTimeline dynamic item height capability
  .changeset/loud-zoos-scream.md
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/TimelineIndicator.tsx
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/TimelineItem.tsx
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/index.tsx
  libs/ui/packages/native/storybook/stories/Layout/List/VerticalTimeline.stories.tsx
Labels: ui

#1481 Smartling on-demand translation delivery from hotfix
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#1503 PE-1292: Fix instance volume size for EC2 Runners
  .github/workflow-templates/bot-coin-family.yml
  .github/workflows/bot-bitcoin-mooncake.yml
  .github/workflows/bot-cardano-silicium.yml
  .github/workflows/bot-celo-silicium.yml
  .github/workflows/bot-coin-osmosis.yml
  .github/workflows/bot-cosmos-phosphore.yml
  .github/workflows/bot-evm-phosphore.yml
  .github/workflows/bot-filecoin-mooncake.yml
  .github/workflows/bot-hedera-mooncake.yml
  .github/workflows/bot-mere-denis.yml
  .github/workflows/bot-phosphore.yml
  .github/workflows/bot-staging-explorer-btc.yml
  .github/workflows/bot-staging-explorer-eth.yml
  .github/workflows/bot-stellar-silicium.yml
  .github/workflows/bot-transfer.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .github/workflows/start-linux-runner.yml
  .github/workflows/stop-linux-runner.yml
Labels: automation

#1505 Feat/LIVE-3669 - Nft gallery - Save wallet navigator last visited tab in store and use it
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/components/Nft/NftImage.tsx
  apps/ledger-live-mobile/src/components/Nft/NftList.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/WalletTabNavigator.tsx
  apps/ledger-live-mobile/src/components/WalletTabNavigatorTabBar.tsx
  apps/ledger-live-mobile/src/reducers/settings.ts
Labels: mobile

#1414 Bugfix/live 2551 device model info apps undefined value fixed
  .changeset/flat-tables-invent.md
  apps/ledger-live-mobile/src/screens/PairDevices/index.tsx
Labels: mobile

#1435 Bugfix / LIVE-3989 - Fix buggy scrollview inside polkadot account balance summary
  apps/ledger-live-mobile/src/families/polkadot/AccountBalanceSummaryFooter.tsx
Labels: mobile

#1483 fix CLS: import pictures, NFT drawers redirection and cropping
  apps/ledger-live-desktop/src/renderer/components/CustomImage/ImageCropper.tsx
  apps/ledger-live-desktop/src/renderer/drawers/NFTViewerDrawer/ExternalViewerButton.jsx
  apps/ledger-live-desktop/src/renderer/hooks/useNftLinks.js
  apps/ledger-live-desktop/src/renderer/screens/customImage/index.tsx
Labels: desktop

#1366 Desktop app version feature flag param
  .changeset/little-frogs-fly.md
  apps/ledger-live-desktop/src/renderer/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsButton.tsx
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, ledgerjs

#1433 Solana: Add support for off-chain message signing
  .changeset/tame-shrimps-peel.md
  libs/ledgerjs/packages/hw-app-solana/CHANGELOG.md
  libs/ledgerjs/packages/hw-app-solana/README.md
  libs/ledgerjs/packages/hw-app-solana/src/Solana.ts
  libs/ledgerjs/packages/hw-app-solana/tests/Solana.test.ts
Labels: ledgerjs, fork

#1408 bugfix(Market): Click 'Starred Assets' button should clear search
  .changeset/lemon-cups-greet.md
  apps/ledger-live-desktop/src/renderer/screens/market/index.tsx
Labels: desktop

#1515 Feat / LIVE-4050 - Static header nft gallery
  apps/ledger-live-mobile/src/components/RootNavigator/WalletTabNavigator.tsx
  apps/ledger-live-mobile/src/components/WalletTabNavigatorTabBar.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
Labels: mobile

#1474 feat/FAT-133 Install set of apps from device actions + tool
  .changeset/funny-rats-brake.md
  .changeset/poor-panthers-report.md
  .changeset/quick-rings-decide.md
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/Confirmation.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/Illustration.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/Item.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/DebugMultiAppInstall.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/OpenDebugMultiAppInstall.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/index.tsx
  libs/ledger-live-common/src/apps/hw.ts
  libs/ledger-live-common/src/apps/runner.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/hw/actions/app.ts
  libs/ledger-live-common/src/hw/connectApp.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs, translations

#1514 ✨ FEAT : Add NFT from the Empty State page or the NFT Gallery
  apps/ledger-live-mobile/src/components/Nft/AddNewItemList.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/NftGalleryEmptyState.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/ReceiveNFTsModal.hook.ts
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/ReceiveNFTsModal.tsx
Labels: mobile, translations

#1373 bugfix♻️ Replace manager deeplink with myledger
  .changeset/wicked-ways-hang.md
  apps/ledger-live-desktop/DEEPLINK.md
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.js
  apps/ledger-live-mobile/deep-links-test-page.html
  apps/ledger-live-mobile/docs/linking.md
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/navigation/useDeepLinking.ts
Labels: desktop, mobile

#1516 Improve bot reports to add needed field for the 'super report'
  libs/ledger-live-common/src/bot/index.ts
  libs/ledger-live-common/src/bot/types.ts
Labels: common

#1518 LIVE-3253 - LLM - add referral program discover card
  .changeset/light-hotels-talk.md
  .changeset/tender-buckets-learn.md
  apps/ledger-live-mobile/src/images/illustration/Dark/_ReferralProgram.png
  apps/ledger-live-mobile/src/images/illustration/Light/_ReferralProgram.png
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Discover/index.tsx
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, ledgerjs, translations

#1500 Bugfix - Update all process.env.PLAYWRIGHT_RUN to use getEnv
  apps/ledger-live-desktop/src/index.js
  apps/ledger-live-desktop/src/main/db/index.js
  apps/ledger-live-desktop/src/renderer/analytics/segment.js
  apps/ledger-live-desktop/src/renderer/components/AccountDistribution/index.jsx
  apps/ledger-live-desktop/src/renderer/components/AnimatedWave.jsx
  apps/ledger-live-desktop/src/renderer/components/AnnouncementProviderWrapper.jsx
  apps/ledger-live-desktop/src/renderer/components/AssetDistribution/Row.jsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/helpers.jsx
  apps/ledger-live-desktop/src/renderer/components/ConnectTroubleshooting.jsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/Carousel.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/ActivityIndicator.jsx
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.jsx
  apps/ledger-live-desktop/src/renderer/init.jsx
  apps/ledger-live-desktop/src/renderer/screens/WalletConnect/Provider.jsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketDataProviderWrapper.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/About/index.jsx
  apps/ledger-live-desktop/src/renderer/storage.js
Labels: desktop

#1402 💄 support(UI): Onboarding quizz pixel polish LLM
  .changeset/real-keys-pull.md
  apps/ledger-live-mobile/src/screens/Onboarding/steps/newDeviceInfo.tsx
Labels: mobile

#1521 Feat/LIVE-3808 - nft gallery with reborn
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/ReceiveNFTsModal.hook.ts
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioEmptyState.tsx
Labels: mobile

#1520 [LIVE-3724] Feature - Enforce ethereum nano app 1.9.20
  .changeset/dirty-shrimps-accept.md
  libs/ledger-live-common/src/apps/support.ts
  libs/ledger-live-common/src/families/ethereum/specs.ts
  libs/ledger-live-common/src/families/evm/specs.ts
Labels: common

#1534 Fix ts rework error
  libs/ledger-live-common/scripts/build-ts.mjs
Labels: common

#1477 LIVE-4046 Force Polkadot minimum app version 14.9290.0
  .changeset/thin-buses-own.md
  libs/ledger-live-common/src/apps/support.ts
Labels: common

#1537 LIVE-3988 - LLC fix potential issue on MarketProvider chartData
  .changeset/empty-balloons-crash.md
  libs/ledger-live-common/src/market/MarketDataProvider.tsx
Labels: common

#1538 Smartling on-demand translation delivery from hotfix
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#1554 ♻️ Skelleton as Styled
  apps/ledger-live-mobile/src/components/Nft/NftListItem.tsx
  apps/ledger-live-mobile/src/components/Skeleton.tsx
Labels: mobile

#1550 fix: text not visible light mode (release)
  .changeset/proud-teachers-clean.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/CentralisedRate.jsx
Labels: desktop

#1553 Merge hotfix into develop 12/10/2022
  apps/cli/CHANGELOG.md
  apps/cli/package.json
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-success-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-success-linux.png
  apps/ledger-live-mobile/CHANGELOG.md
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
  libs/ledgerjs/packages/types-live/CHANGELOG.md
  libs/ledgerjs/packages/types-live/package.json
  tools/common-tools/CHANGELOG.md
  tools/common-tools/package.json
Labels: desktop, mobile, ledgerjs, tools, translations, screenshots, cli

#330 Synchronous onboarding on Mobile
  .changeset/gold-files-yawn.md
  .changeset/rich-bottles-buy.md
  .changeset/tender-otters-heal.md
  .changeset/tricky-icons-search.md
  .changeset/tricky-months-destroy.md
  apps/cli/src/commands/synchronousOnboarding.ts
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseOnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SyncOnboardingNavigator.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/BleDeviceScanning.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/BleDevicesScanning.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/assets/bluetooth.json
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/index.tsx
  apps/ledger-live-mobile/src/screens/Discover/DiscoverCard.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/deviceSelection.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/AllowManagerDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/CompletionScreen.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/DesyncDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/FirmwareUpdateDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/GenuineCheckCancelledDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/GenuineCheckDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/HelpDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/LanguageSelect.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/ResyncOverlay.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SoftwareChecksStep.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/UnlockDeviceDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/types.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/hw/extractOnboardingState.ts
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.test.ts
  libs/ledgerjs/packages/react-native-hw-transport-ble/src/types.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/native/src/components/Layout/Modals/BottomDrawer/index.tsx
  libs/ui/packages/native/src/components/cta/Button/getButtonStyle.ts
Labels: mobile, common, ui, ledgerjs, translations, cli

#1559 Smartling on-demand translation delivery from release
  .changeset/four-ducks-tie.md
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#1322 Bugfix/live 3251 ratings and notifs modals conflicts fixed
  .changeset/tough-nails-train.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/logic/notifications.tsx
  apps/ledger-live-mobile/src/logic/ratings.tsx
  apps/ledger-live-mobile/src/screens/Accounts/ReadOnly/ReadOnlyAccountRow.tsx
  apps/ledger-live-mobile/src/screens/Modals/index.tsx
  apps/ledger-live-mobile/src/screens/PushNotificationsModal/index.tsx
  apps/ledger-live-mobile/src/screens/RatingsModal/index.tsx
Labels: mobile

#1335 support(UI): LLM - iOS/Android - Market General Layout polish
  .changeset/lemon-clouds-tease.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Market/EmptyStarredCoins.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketRowItem.tsx
  apps/ledger-live-mobile/src/screens/Market/SortBadge.tsx
  apps/ledger-live-mobile/src/screens/Market/index.tsx
Labels: mobile, translations

#1359 support(UI-Improvment) : LLM- Sync from Desktop
  .changeset/silver-bobcats-deliver.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Onboarding/steps/importAccounts.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/BaseStepperView.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/SyncDesktop.tsx
Labels: mobile, translations

#1558 LIVE-4185: update cardano-hw-app
  .changeset/silly-ways-marry.md
  apps/ledger-live-mobile/ios/Podfile.lock
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/cardano/specs.ts
  pnpm-lock.yaml
Labels: mobile, common

#1569 support: eslint rule on live-common import path
  .changeset/spicy-mugs-reflect.md
  apps/ledger-live-mobile/.eslintrc.js
  apps/ledger-live-mobile/src/actions/accounts.ts
  apps/ledger-live-mobile/src/components/ChangeDeviceLanguageAction.tsx
  apps/ledger-live-mobile/src/components/ChangeDeviceLanguageActionModal.tsx
  apps/ledger-live-mobile/src/components/CurrencyRow.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/FirmwareUpdate/DeviceLanguageStep.tsx
  apps/ledger-live-mobile/src/components/PostOnboarding/PostOnboardingEntryPointCard.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/liveSDKLogic.ts
  apps/ledger-live-mobile/src/families/celo/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-mobile/src/families/celo/components/CeloIcon.tsx
  apps/ledger-live-mobile/src/families/cosmos/accountActions.tsx
  apps/ledger-live-mobile/src/families/hedera/Confirmation.tsx
  apps/ledger-live-mobile/src/families/hedera/EditMemo.tsx
  apps/ledger-live-mobile/src/families/hedera/SendRowsCustom.tsx
  apps/ledger-live-mobile/src/families/solana/accountActions.tsx
  apps/ledger-live-mobile/src/helpers/useCurrency.tsx
  apps/ledger-live-mobile/src/logic/notifications.tsx
  apps/ledger-live-mobile/src/navigation/useDeepLinking.ts
  apps/ledger-live-mobile/src/screens/Account/AccountHeaderRight.tsx
  apps/ledger-live-mobile/src/screens/Account/index.tsx
  apps/ledger-live-mobile/src/screens/AccountSettings/AdvancedLogs.tsx
  apps/ledger-live-mobile/src/screens/Accounts/index.tsx
  apps/ledger-live-mobile/src/screens/Manager/AppsScreen.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceLanguage.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceLanguageSelection.tsx
  apps/ledger-live-mobile/src/screens/Manager/Manager.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/deviceSelection.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/language.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccount.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccountSelectDevice.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03b-VerifyAddress.tsx
  apps/ledger-live-mobile/src/screens/SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/OpenDebugCustomImage.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Summary/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
Labels: mobile

#1556 stellar fetch op wasn't full cover by try catch
  libs/ledger-live-common/src/families/stellar/api/horizon.ts
Labels: common

#1535 bot evolutions to improve tests and reporting
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/bot/formatters.ts
  libs/ledger-live-common/src/bot/index.ts
  libs/ledger-live-common/src/bot/types.ts
  libs/ledger-live-common/src/env.ts
  libs/ledger-live-common/src/load/speculos.ts
  tools/actions/composites/bot/action.yml
  tools/actions/submit-bot-report/action.yml
  tools/actions/submit-bot-report/build/index.js
  tools/actions/submit-bot-report/main.ts
Labels: common, tools

#1279 FAT-100: Adaptations on the Manager for FTS
  .changeset/chatty-lemons-retire.md
  .changeset/moody-squids-provide.md
  .changeset/silly-cherries-cry.md
  apps/cli/src/commands/discoverDevices.ts
  apps/ledger-live-mobile/src/components/Animation.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ManagerNavigator.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/Item.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/RemoveDeviceMenu.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/global.d.ts
  apps/ledger-live-mobile/src/images/devices/NanoFTS.tsx
  apps/ledger-live-mobile/src/images/devices/NanoS.tsx
  apps/ledger-live-mobile/src/images/devices/NanoX.tsx
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/BleDeviceItem.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/BleDevicesScanning.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/index.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/CustomLockScreen.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceLanguage.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceName.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/index.tsx
  apps/ledger-live-mobile/src/screens/Manager/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Help/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/hw/index.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs, translations, cli

#1574 removed libcore, added LNS Plus
  apps/ledger-live-desktop/README.md
  apps/ledger-live-desktop/docs/architecture.png
  apps/ledger-live-mobile/README.md
Labels: desktop, mobile

#1579 Revert pnpm lock changes from #1558
  apps/ledger-live-mobile/ios/Podfile.lock
  pnpm-lock.yaml
Labels: mobile

#1563 fix custom image next button
  apps/ledger-live-desktop/src/renderer/screens/customImage/index.tsx
Labels: desktop

#1494 Introduces bot super report
  .github/workflows/bot-super-report-custom.yml
  .github/workflows/bot-super-report.yml
  pnpm-lock.yaml
  tools/actions/composites/bot/action.yml
  tools/actions/generate-bot-super-report/.gitignore
  tools/actions/generate-bot-super-report/action.yml
  tools/actions/generate-bot-super-report/build/main.js
  tools/actions/generate-bot-super-report/cli-test.ts
  tools/actions/generate-bot-super-report/logic.ts
  tools/actions/generate-bot-super-report/main.ts
  tools/actions/generate-bot-super-report/package.json
Labels: tools, automation

#1581 Attempt to fix the turborepo caching server
  package.json
  pnpm-lock.yaml
  tools/actions/turborepo-gh-cache/build/server.js
  tools/actions/turborepo-gh-cache/src/server.ts
  turbo.json
Labels: tools

#1577 LIVE-4186 - LLM analytics for reborn update
  .changeset/slow-singers-grab.md
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/ConnectNano.tsx
Labels: mobile

#1492 bugfix/LIVE-1955 Updated bad lottie animation for BLE LNX on LLM
  .changeset/friendly-donkeys-pay.md
  apps/ledger-live-mobile/src/animations/nanoX/bluetooth/1PlugAndPinCode/dark.json
  apps/ledger-live-mobile/src/animations/nanoX/bluetooth/1PlugAndPinCode/light.json
Labels: mobile

#1498 LIVE-4047 - LLM - fix Firmware Banner issue
  .changeset/warm-parents-agree.md
  apps/ledger-live-mobile/src/components/FirmwareUpdateBanner.tsx
  apps/ledger-live-mobile/src/screens/Manager/AppsScreen.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
Labels: mobile

#1199 bugfix/LIVE-3147 Better error handling for outdated device + outdated app flows
  .changeset/perfect-singers-smell.md
  libs/ledger-live-common/src/apps/mock.ts
  libs/ledger-live-common/src/hw/actions/app.ts
  libs/ledger-live-common/src/hw/connectApp.ts
  libs/ledger-live-common/src/hw/isUpdateAvailable.test.ts
  libs/ledger-live-common/src/hw/isUpdateAvailable.ts
Labels: common, Stale

#1486 Harmonize headers and pixel polish LLM sync onboarding
  .changeset/angry-buttons-eat.md
  apps/ledger-live-mobile/src/components/DeviceSetupView.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/BleDevicesScanning.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/deviceSelection.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/ResyncOverlay.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
Labels: mobile

#1479 bugfix/LIVE-2178 Prevent lock cases in USBTroubleShooting
  .changeset/spicy-seahorses-laugh.md
  apps/ledger-live-desktop/src/renderer/components/RepairDeviceButton.jsx
  apps/ledger-live-desktop/src/renderer/screens/USBTroubleshooting/USBTroubleshooting.jsx
  apps/ledger-live-desktop/src/renderer/screens/USBTroubleshooting/USBTroubleshootingMachine.js
  apps/ledger-live-desktop/src/renderer/screens/USBTroubleshooting/solutions/RepairFunnel.jsx
  apps/ledger-live-desktop/src/renderer/screens/USBTroubleshooting/solutions/shared.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#1583 Bot: add skipMutationsTimeout to make app ends in finite time
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/bot/index.ts
  libs/ledger-live-common/src/bot/types.ts
  libs/ledger-live-common/src/env.ts
Labels: common

#1584 Bot Super Report: add resilience on github HTTP 500 issues
  .github/workflows/bot-super-report-custom.yml
  .github/workflows/bot-super-report.yml
  tools/actions/generate-bot-super-report/build/main.js
  tools/actions/generate-bot-super-report/logic.ts
  tools/actions/generate-bot-super-report/promise.ts
Labels: tools, automation

#1484 LLM Custom image full flow
  apps/cli/package.json
  apps/cli/src/commands-index.ts
  apps/cli/src/commands/ftsFetchImage.ts
  apps/cli/src/commands/ftsLoadImage.ts
  apps/ledger-live-mobile/.eslintrc.js
  apps/ledger-live-mobile/src/components/CustomImage/CustomImageBottomModal.tsx
  apps/ledger-live-mobile/src/components/CustomImage/FramedImage.tsx
  apps/ledger-live-mobile/src/components/CustomImage/ImageCropper.tsx
  apps/ledger-live-mobile/src/components/CustomImage/InjectedCodeDebugger.tsx
  apps/ledger-live-mobile/src/components/CustomImage/ResultDataTester.tsx
  apps/ledger-live-mobile/src/components/CustomImage/TestImage.tsx
  apps/ledger-live-mobile/src/components/CustomImage/imageUtils.ts
  apps/ledger-live-mobile/src/components/CustomImageDeviceAction.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/GenericErrorView.tsx
  apps/ledger-live-mobile/src/components/Nft/NftLinksPanel.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/CustomImageNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SyncOnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/SelectDevice/index.tsx
  apps/ledger-live-mobile/src/components/withRemountableWrapper.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/postOnboarding/actions.ts
  apps/ledger-live-mobile/src/logic/postOnboarding/index.tsx
  apps/ledger-live-mobile/src/logic/postOnboarding/mockActions.ts
  apps/ledger-live-mobile/src/logic/postOnboarding/useCompleteAction.ts
  apps/ledger-live-mobile/src/screens/CustomImage/ErrorScreen.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step0Welcome.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step1Crop.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step2Preview.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step3Transfer.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/shared.ts
  apps/ledger-live-mobile/src/screens/CustomImage/types.ts
  apps/ledger-live-mobile/src/screens/Manager/Device/CustomLockScreen.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceLanguage.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/index.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/Snackbar/Snackbar.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/Snackbar/SnackbarContainer.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/Scanning.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/index.tsx
  apps/ledger-live-mobile/src/screens/PostOnboarding/PostOnboardingDebugScreen.tsx
  apps/ledger-live-mobile/src/screens/PostOnboarding/PostOnboardingHub.tsx
  apps/ledger-live-mobile/src/screens/PostOnboarding/PostOnboardingMockActionScreen.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/OpenDebugCustomImage.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/CompletionScreen.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/types.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/errors.ts
  libs/ledger-live-common/src/hw/actions/ftsLoadImage.ts
  libs/ledger-live-common/src/hw/ftsFetchImage.ts
  libs/ledger-live-common/src/hw/ftsLoadImage.ts
  libs/ledger-live-common/src/notifications/ToastProvider/types.ts
  libs/ledgerjs/packages/types-live/src/postOnboarding.ts
  pnpm-lock.yaml
Labels: mobile, common, ledgerjs, translations, cli

#1562 LIVE-3386: Cosmos redelegate can fail when empty validators
  libs/ledger-live-common/src/families/cosmos/js-getTransactionStatus.ts
Labels: common

#1536 [support] cleanup prettier conf in live common
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/zec.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/zen.ts
  libs/ledger-live-common/src/families/solana/bridge/mock-data.ts
Labels: common

#1561 LIVE-3703 Disable countervalue for Cardano tokens unsupported in CoinGecko
  .changeset/eighty-shirts-impress.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledgerjs/packages/cryptoassets/data/cardanoNative.js
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
Labels: desktop, ledgerjs

#1533 🐛 bugfix(Swap): LLM - Swap buttons not available on Currency and account screens
  .changeset/seven-peas-admire.md
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
Labels: mobile

#1406 support(QuickActions): Asset Receive Quick action Improvement
  .changeset/loud-olives-give.md
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
Labels: mobile

#1380 bugfix(CroppedText): LLM - Onboarding - Terms and Privacy urls should not overflow screen in the small screen
  .changeset/green-cups-cover.md
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
Labels: mobile, Stale

#1372 Add possibility to override feature flags with environment variable FEATURE_FLAGS
  .changeset/pretty-dingos-sing.md
  .changeset/quiet-doors-cross.md
  .changeset/silent-beers-carry.md
  apps/ledger-live-desktop/src/renderer/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsButton.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsSettings/FeatureFlagDetails.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsSettings/FeatureFlagEdit.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsSettings/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.jsx
  apps/ledger-live-desktop/src/renderer/styles/StyleProvider.jsx
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-mobile/src/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/screens/DebugFeatureFlags.tsx
  apps/ledger-live-mobile/src/screens/FeatureFlagsSettings/FeatureFlagDetails.tsx
  apps/ledger-live-mobile/src/screens/FeatureFlagsSettings/FeatureFlagEdit.tsx
  apps/ledger-live-mobile/src/screens/FeatureFlagsSettings/index.tsx
  libs/ledger-live-common/src/env.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs

#1597 Bot: Estimate the remaining number of runs
  libs/ledger-live-common/src/bot/index.ts
  libs/ledger-live-common/src/bot/types.ts
  libs/ledger-live-common/src/families/cosmos/specs.ts
Labels: common

#1320 bugfix(Testnet): LLM - Add account flow: Testnet currencies shouldn't be available by default
  .changeset/lovely-apples-draw.md
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
Labels: mobile

#1602 Re-generate pnpm-lock.yaml for main
  apps/ledger-live-mobile/ios/Podfile.lock
  pnpm-lock.yaml
Labels: mobile

#1612 Increase max space for LLM iOS in CI
  .github/workflows/build-mobile.yml
Labels: automation

#1611 Refine Bot runs
  .github/workflows/bot-carbon.yml
  .github/workflows/bot-filecoin-mooncake.yml
  .github/workflows/bot-nonreg-carbon.yml
  .github/workflows/bot-nonreg-mere-denis.yml
  .github/workflows/bot-nonreg-mooncake.yml
  .github/workflows/bot-nonreg-oxygen.yml
  .github/workflows/bot-nonreg-phosphore.yml
  .github/workflows/bot-nonreg-silicium.yml
  .github/workflows/bot-oxygen.yml
  .github/workflows/bot-phosphore-nonreg.yml
  .github/workflows/bot-staging-explorer-btc.yml
  .github/workflows/bot-staging-explorer-eth.yml
  .github/workflows/bot-stellar-silicium.yml
Labels: automation

#1616 support(ledgerjs-cal): 20221029 CAL update
  .changeset/tender-oranges-join.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/data/bep20.js
  libs/ledgerjs/packages/cryptoassets/data/erc20-signatures.js
  libs/ledgerjs/packages/cryptoassets/data/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/exchange/bep20.js
  libs/ledgerjs/packages/cryptoassets/data/exchange/coins.js
  libs/ledgerjs/packages/cryptoassets/data/exchange/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/polygon-erc20.js
Labels: desktop, common, ledgerjs

#1618 Feature - Update NFT endpoint default load config in hw-app-eth
  .changeset/flat-schools-yawn.md
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/loadConfig.ts
Labels: ledgerjs

#1565 Fix navigation from Buy/Sell to local live app when the right manifest is used
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.jsx
  apps/ledger-live-mobile/src/screens/Platform/App.tsx
Labels: desktop, mobile

#1628 support(llc): add plugins
  .changeset/quick-items-shave.md
  libs/ledger-live-common/src/apps/polyfill.ts
Labels: common

#1623 Bugfix/live 4308 "Language" row bad layout in My Ledger
  .changeset/short-adults-grow.md
  apps/ledger-live-mobile/src/screens/Manager/Device/CustomLockScreen.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceLanguage.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceOptionRow.tsx
Labels: mobile

#1632 Make bot generic tx test to not strictly expect op+1
  libs/ledger-live-common/src/bot/engine.ts
Labels: common

#1633 Fix: Live-4319 MyLedger tab logo dot condition
  .changeset/sour-tables-cough.md
  apps/ledger-live-mobile/src/components/RootNavigator/ManagerNavigator.tsx
Labels: mobile

#1621 OSMOSIS: replace integ with unit test
  libs/ledger-live-common/src/families/osmosis/bridge.integration.test.ts
  libs/ledger-live-common/src/families/osmosis/js-getTransactionStatus.unit.test.ts
Labels: common

#1614 Bugfix: polkadot spec
  libs/ledger-live-common/src/families/polkadot/specs.ts
Labels: common

#1639 Removed React-Native-Fingerprints-Scanner with React-native-biometrics
  .changeset/brave-moose-bake.md
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/RequestBiometricAuth.ts
  libs/ui/packages/crypto-icons/package.json
  pnpm-lock.yaml
Labels: mobile, ui

#1644 Bot: prevent hedera to "critical error" when it just miss funds
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/bot/types.ts
  libs/ledger-live-common/src/families/hedera/specs.ts
Labels: common

#1645 Bot: stellar fix send of assets
  libs/ledger-live-common/src/families/stellar/speculos-deviceActions.ts
Labels: common

#1607 Feat/LIVE-3831 - NFT Gallery - Wallet navigator header animation
  apps/ledger-live-mobile/src/components/Nft/NftList.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/WalletTabNavigator.tsx
  apps/ledger-live-mobile/src/components/WalletTab/CollapsibleHeaderFlatList.tsx
  apps/ledger-live-mobile/src/components/WalletTab/CollapsibleHeaderScrollView.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabHeader.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabNavigatorScrollManager.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabNavigatorTabBar.tsx
  apps/ledger-live-mobile/src/components/WalletTabNavigatorTabBar.tsx
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
Labels: mobile

#1648 Bugfix: LIVE-4305 new rendering in the case of a LatestFirmwareVersionRequired error
  .changeset/soft-insects-look.md
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#1651 Bugfix/fat 567 localization
  .changeset/fair-seas-shake.md
  libs/ledger-live-common/src/hw/getVersion.test.ts
  libs/ledger-live-common/src/hw/getVersion.ts
  libs/ledger-live-common/src/manager/localization.test.ts
  libs/ledger-live-common/src/manager/localization.ts
Labels: common

#1652 Feat/LIVE-4049 - NFT viewer page design fix (v3)
  apps/ledger-live-mobile/src/components/Nft/NftLinksPanel.tsx
  apps/ledger-live-mobile/src/components/Nft/NftPropertiesList.tsx
  apps/ledger-live-mobile/src/components/Nft/NftViewer.tsx
  apps/ledger-live-mobile/src/components/Skeleton.tsx
Labels: mobile

#1637 IconsUI & ReactUI - New boxed Providers icons + reworked script
  libs/ui/packages/icons/package.json
  libs/ui/packages/icons/scripts/buildAdditionalIcons.js
  libs/ui/packages/icons/scripts/buildIcons.js
  libs/ui/packages/react/src/components/asorted/Icon/ProviderIcon.tsx
  libs/ui/packages/react/src/components/asorted/Icon/Providers.stories.tsx
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Aave.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Baanx.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Banxa.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Bitrefill.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/BtcDirect.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Changelly.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/CoinGecko.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Coinify.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Compound.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Deversifi.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Ftx.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Ftxus.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Kiln.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/LedgerBlack.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/LedgerCard.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/LedgerWhite.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Lido.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/LoopiPay.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Mercuryo.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Moonpay.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Opensea.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/PancakeSwap.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Paraswap.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Poap.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/RainbowMe.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Ramp.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Rarible.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Simplex.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/SushiSwap.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Transak.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Wyre.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/Zerion.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/_1Inch.png
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/index.d.ts
  libs/ui/packages/react/src/components/asorted/Icon/ProvidersFavicons/index.js
Labels: ui

#1622 Support: FAT-550 fix bootloader repairing steps
  .changeset/red-glasses-rule.md
  apps/cli/src/commands-index.ts
  apps/cli/src/commands/getDeviceRunningMode.ts
  libs/ledger-live-common/src/hw/actions/manager.ts
  libs/ledger-live-common/src/hw/firmwareUpdate-repair.ts
  libs/ledger-live-common/src/hw/getDeviceRunningMode.test.ts
  libs/ledger-live-common/src/hw/getDeviceRunningMode.ts
  libs/ledger-live-common/src/mock/fixtures/aDeviceInfo.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: common, ledgerjs, cli

#1655 💄 Polishing Millestone 2 - NFT gallery
  apps/ledger-live-mobile/src/components/Nft/NftListItem.tsx
  apps/ledger-live-mobile/src/components/WalletTab/CollapsibleHeaderFlatList.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/ReceiveNFTsModal.tsx
  libs/ui/packages/native/src/components/Icon/CryptoIcon.tsx
Labels: mobile, ui, translations

#1647 LIVE-3493 fix elrond empty amount
  libs/ledger-live-common/src/families/elrond/js-getTransactionStatus.ts
Labels: common

#1654 FAT-569 - Fix infinite loop in ChangeDeviceLanguagePromptDrawer
  .changeset/lazy-pets-sniff.md
  apps/ledger-live-desktop/src/renderer/components/ChangeDeviceLanguageAction.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/ChangeDeviceLanguagePromptDrawer.tsx
Labels: desktop

#1455 Add deeplink for synchronous onboarding
  .changeset/shaggy-queens-think.md
  apps/ledger-live-mobile/src/components/DeviceSetupView.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/BleDevicesScanning.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/index.tsx
Labels: mobile

#1673 Bugfix: onboarding navigator for support/fix-llm-ts
  apps/ledger-live-mobile/src/components/NavigationModalContainer.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/OnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/OnboardingNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/screens/Onboarding/steps/finish.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/importAccounts.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/pairNew.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/drawers/OnboardingPreQuizModal.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/drawers/Warning.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/Intro.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/RestoreRecoveryPhrase.tsx
  apps/ledger-live-mobile/src/screens/PostBuyDeviceScreen.tsx
  apps/ledger-live-mobile/src/screens/PostOnboarding/PostOnboardingHub.tsx
Labels: mobile

#1668 LL - Typo on warning message in Advanced account settings
  .changeset/khaki-planes-love.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#1676 chore(release): generate github releases on manual trigger
  .github/workflows/release-final.yml
Labels: automation

#1513 [LLC] Add Dust Limit for bitcoin family
  .changeset/pretty-cows-double.md
  .changeset/real-steaks-leave.md
  apps/ledger-live-desktop/src/renderer/components/RequestAmount.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/AmountField.tsx
  apps/ledger-live-desktop/src/renderer/reducers/settings.js
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/SendFunds/03a-AmountCoin.tsx
  libs/ledger-live-common/.eslintrc.js
  libs/ledger-live-common/src/__tests__/test-helpers/bridge.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.test.ts
  libs/ledger-live-common/src/families/bitcoin/bridge.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/bridge/mock.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/bitcoin.ts
  libs/ledger-live-common/src/families/bitcoin/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/base.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/bitcoin.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/types.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/utils.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/xpub.ts
  libs/ledger-live-common/src/transaction/common.ts
  libs/ledgerjs/packages/errors/src/index.ts
  libs/ledgerjs/packages/types-live/src/transaction.ts
Labels: desktop, mobile, common, ledgerjs, translations

#1288 LIVE-2174 Dynamic ERC20 CAL
  .changeset/friendly-rocks-yawn.md
  .changeset/tame-birds-sparkle.md
  .changeset/twenty-rice-prove.md
  .github/workflows/cal-importer.yml
  apps/ledger-live-desktop/src/renderer/init.jsx
  apps/ledger-live-mobile/src/live-common-setup.ts
  libs/ledger-live-common/src/currencies/index.ts
  libs/ledger-live-common/src/env.ts
  libs/ledger-live-common/src/families/ethereum/modules/erc20.ts
  libs/ledger-live-common/src/families/ethereum/modules/erc20.unit.test.ts
  libs/ledger-live-common/src/families/ethereum/signOperation.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
  libs/ledgerjs/packages/cryptoassets/src/types.ts
  libs/ledgerjs/packages/hw-app-eth/README.md
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/erc20.ts
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/index.ts
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/loadConfig.ts
  libs/ledgerjs/packages/hw-app-eth/src/services/types.ts
  libs/ledgerjs/packages/hw-app-eth/tests/ERC20-CAL-KO.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/ERC20-CAL-OK.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/erc20-transactions/ERC20-KO.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/erc20-transactions/ERC20-OK.apdus
  libs/ledgerjs/script/crypto-assets-importer/importers/bep20exchange.js
  libs/ledgerjs/script/crypto-assets-importer/importers/bep20full.js
  libs/ledgerjs/script/crypto-assets-importer/importers/currenciesExchange.js
  libs/ledgerjs/script/crypto-assets-importer/importers/erc20-signatures.js
  libs/ledgerjs/script/crypto-assets-importer/importers/erc20exchange.js
  libs/ledgerjs/script/crypto-assets-importer/importers/erc20full.js
  libs/ledgerjs/script/crypto-assets-importer/importers/ethereum-plugins.js
  libs/ledgerjs/script/crypto-assets-importer/importers/polygontokensfull.js
  libs/ledgerjs/script/crypto-assets-importer/index.js
Labels: desktop, mobile, common, ledgerjs, automation

#1684 Guard against metro resolving global packages in LLM
  .pnpmfile.cjs
  pnpm-lock.yaml
  tools/metro-extra-config/index.js
  tools/metro-extra-config/package.json
Labels: tools

#1650 support(ledgerjs-cal): 20221021 CAL update
  .changeset/young-ads-walk.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/data/erc20-signatures.js
  libs/ledgerjs/packages/cryptoassets/data/erc20.js
Labels: desktop, common, ledgerjs

#1624 Fix/LIVE-4302 - Fix update firmware notif breaking layout
  apps/ledger-live-mobile/src/components/FirmwareUpdateBanner.tsx
  apps/ledger-live-mobile/src/components/TabBar/TabBarSafeAreaView.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
Labels: mobile

#1629 support(llc): add youhodler as fund provider
  .changeset/brave-geckos-run.md
  libs/ledger-live-common/src/exchange/platform/transfer/index.ts
Labels: common

#1693 Merge back hotfix to develop
  apps/cli/CHANGELOG.md
  apps/cli/package.json
  apps/ledger-live-desktop/CHANGELOG.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/release-notes.json
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/CHANGELOG.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/bot/index.ts
  libs/ledgerjs/packages/cryptoassets/data/erc20-signatures.js
  libs/ledgerjs/packages/cryptoassets/data/exchange/bep20.js
  libs/ledgerjs/packages/cryptoassets/data/polygon-erc20.js
  pnpm-lock.yaml
  tools/common-tools/CHANGELOG.md
  tools/common-tools/package.json
  turbo.json
Labels: desktop, mobile, common, ledgerjs, tools, translations, cli

#1218 Add ESDT UTK token.
  .changeset/weak-tools-learn.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/data/esdt.js
Labels: desktop, common, ledgerjs, fork

#1697 ✅ Add firsts Tests for NFT Gallery
  libs/ledger-live-common/src/nft/helpers.test.ts
  libs/ledger-live-common/src/nft/helpers.ts
Labels: common

#1594 Support/test-settings-parameters
  apps/ledger-live-desktop/src/renderer/screens/settings/SettingsSection.jsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/index.jsx
  apps/ledger-live-desktop/tests/models/SettingsPage.ts
  apps/ledger-live-desktop/tests/specs/general/userParametersChange.spec.ts
Labels: desktop

#1615 Feat/add access to settings from LLM/LLD welcome screen
  .changeset/old-parrots-cheer.md
  .changeset/silly-wolves-prove.md
  apps/ledger-live-desktop/src/renderer/Default.jsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/WelcomeScreenSettings.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsSettings/index.tsx
  apps/ledger-live-mobile/src/screens/FeatureFlagsSettings/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
Labels: desktop, mobile

#1710 💄Feat : Pixel Polishing Galery
  apps/ledger-live-mobile/src/components/Nft/AddNewItemList.tsx
  apps/ledger-live-mobile/src/components/Nft/NftListItem.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/ReceiveNFTsModal.tsx
Labels: mobile, translations

#1711 IconsUi + ReactUi : updates on PaymentProviders and Providers icons
  libs/ui/packages/icons/src/additionalIcons/Payment/Bank.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/CreditCard.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/EPS.svg
  libs/ui/packages/icons/src/additionalIcons/Payment/Giropay.svg
  libs/ui/packages/react/src/components/asorted/Icon/PaymentIcon.stories.tsx
  libs/ui/packages/react/src/components/asorted/Icon/PaymentIcon.tsx
  libs/ui/packages/react/src/components/asorted/Icon/ProviderIcon.tsx
  libs/ui/packages/react/src/components/asorted/Icon/Providers.stories.tsx
Labels: ui

#1646 Bot: dedup two successive identical speculos text events
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/bot/types.ts
Labels: common

#1467 LLM - Braze SDK Integration
  .changeset/wet-lamps-drum.md
  apps/ledger-live-mobile/.env.android.staging
  apps/ledger-live-mobile/.env.ios.prerelease
  apps/ledger-live-mobile/.env.ios.release
  apps/ledger-live-mobile/.env.ios.staging
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/app/src/main/AndroidManifest.xml
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainActivity.java
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainApplication.java
  apps/ledger-live-mobile/android/app/src/main/res/drawable/ic_notification_24dp.xml
  apps/ledger-live-mobile/android/app/src/main/res/values/braze.xml
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/ios/Podfile
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.m
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/scripts/post.mjs
  apps/ledger-live-mobile/src/analytics/AnalyticsProvider.tsx
  apps/ledger-live-mobile/src/analytics/HookAnalytics.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/CheckLanguageAvailability.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/notifications.tsx
  apps/ledger-live-mobile/src/notifications/HookNotifications.ts
  apps/ledger-live-mobile/src/notifications/braze.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/screens/Discover/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/language.tsx
  apps/ledger-live-mobile/src/screens/PushNotificationsModal/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/EquipmentIdRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Notifications/index.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/LanguageSelect.tsx
  package.json
  pnpm-lock.yaml
Labels: mobile, translations, Stale

#1722 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#1726 feat/LIVE-3678-braze-sdk-setup-on-llm segment logs disabled by default
  apps/ledger-live-mobile/src/analytics/segment.ts
Labels: mobile

#1715 [Hedera] Give some deserved credit
  apps/ledger-live-desktop/CONTRIBUTORS.md
  apps/ledger-live-mobile/CONTRIBUTORS.md
  libs/ledger-live-common/CONTRIBUTORS.md
Labels: desktop, mobile, common

#1669 💄 [FIX] : LLD - UI glitch in Operation details drawer when Collection name is too long
  .changeset/long-sloths-share.md
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/NFTOperationDetails.jsx
Labels: desktop
