Repository LedgerHQ/ledger-live, pull requests merged in 2022-07, with the labels that each got.

#541 Bugfix/minor swap fixes
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/DrawerFooter.js
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/index.js
Labels: desktop

#542 A bit safer CI prereleases
  .github/workflows/release-prerelease.yml
Labels: automation

#539 Feat/hedera memo
  .changeset/silent-eels-shake.md
  apps/ledger-live-desktop/src/renderer/families/hedera/MemoField.js
  apps/ledger-live-desktop/src/renderer/families/hedera/SendAmountFields.js
  apps/ledger-live-desktop/src/renderer/families/hedera/StepReceiveFunds.js
  apps/ledger-live-desktop/src/renderer/families/hedera/types.js
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepAmount.js
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/families/hedera/api/network.ts
  libs/ledger-live-common/src/families/hedera/deviceTransactionConfig.ts
  libs/ledger-live-common/src/families/hedera/specs.ts
  libs/ledger-live-common/src/families/hedera/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/hedera/transaction.ts
  libs/ledger-live-common/src/families/hedera/types.ts
  libs/ledger-live-common/src/families/hedera/utils.ts
Labels: desktop, common, translations

#523 Bugfix/LIVE-1869 Fix send for Horizen
  .changeset/blue-bags-train.md
  libs/ledgerjs/packages/hw-app-btc/src/splitTransaction.ts
  libs/ledgerjs/packages/hw-app-btc/tests/parseTx.test.ts
Labels: ledgerjs

#461 docs(lld): fix README test:codecheck cmd
  apps/ledger-live-desktop/README.md
Labels: desktop

#525 LIVE-2709 Cosmos bug fixed on wrong list of delegations
  .changeset/hip-icons-jam.md
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.ts
  libs/ledger-live-common/src/families/cosmos/react.test.ts
Labels: common

#560 [LIVE-2748] fix crash when there is a transaction with no output for bitcoin
  .changeset/popular-weeks-shake.md
  libs/ledger-live-common/src/families/bitcoin/js-synchronisation.ts
  libs/ledger-live-common/src/families/bitcoin/logic.ts
  libs/ledger-live-common/src/families/bitcoin/xpub.txs.txNoOutput.unit.test.ts
Labels: common

#570 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#559 Add unit tests on fromRangeRaw, toRangeRaw (codecov)
  libs/ledger-live-common/src/__tests__/range.ts
Labels: common

#568 fix: imports should use /lib and not /src
  .changeset/moody-moons-dance.md
  apps/ledger-live-mobile/src/index.js
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/ReadOnlyAssets.tsx
  apps/ledger-live-mobile/src/screens/Settings/Developer/CustomManifest.js
Labels: mobile

#571 Update CLI documentation from the cli output
  apps/cli/README.md
Labels: cli

#552 Adding Discover Tests back into Playwright E2E test suite
  apps/ledger-live-desktop/src/renderer/components/SelectAccountAndCurrency.js
  apps/ledger-live-desktop/src/renderer/components/SideDrawer.js
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/LiveAppDrawer.js
  apps/ledger-live-desktop/tests/models/DiscoverPage.ts
  apps/ledger-live-desktop/tests/models/Drawer.ts
  apps/ledger-live-desktop/tests/models/SwapPage.ts
  apps/ledger-live-desktop/tests/playwright.config.ts
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/catalog-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/catalog-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-list-all-accounts-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-list-all-accounts-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-1-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-1-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-2-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-2-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-3-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-3-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-single-account-output-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-single-account-output-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-disclaimer-accepted-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-disclaimer-accepted-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/open-test-app-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/open-test-app-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
Labels: desktop, screenshots

#547 Improve custom errors stacktrace management
  .changeset/odd-pigs-admire.md
  libs/ledger-live-common/src/errors.test.ts
  libs/ledgerjs/packages/errors/src/helpers.ts
  libs/ledgerjs/packages/errors/src/index.test.ts
Labels: common, ledgerjs

#581 Revert "Feat - LIVE-2362"
  .changeset/soft-foxes-deny.md
  apps/ledger-live-mobile/src/analytics/segment.js
  apps/ledger-live-mobile/src/screens/RatingsModal/Init.tsx
Labels: mobile

#563 LIVE-1004 Hedera memo on LLM
  .changeset/long-kiwis-call.md
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/families/hedera/EditMemo.js
  apps/ledger-live-mobile/src/families/hedera/SendRowsCustom.js
  apps/ledger-live-mobile/src/families/hedera/index.js
  apps/ledger-live-mobile/src/families/index.js
  libs/ledger-live-common/src/families/hedera/api/mirror.ts
  libs/ledger-live-common/src/families/hedera/js-synchronisation.ts
Labels: mobile, common

#373 [LIVE-2649] Feature: Update NFT Media architecture
  .changeset/unlucky-beds-fix.md
  apps/ledger-live-mobile/src/components/Nft/NftImage.tsx
  apps/ledger-live-mobile/src/components/Nft/NftImageViewer.tsx
  apps/ledger-live-mobile/src/components/Nft/NftMedia.tsx
  apps/ledger-live-mobile/src/components/Nft/NftVideo.tsx
Labels: mobile, feature ready

#408 [LIVE-2497] - Bugfix: Handle reorg on Eth family sync
  .changeset/tiny-roses-refuse.md
  libs/ledger-live-common/src/api/Ethereum.ts
  libs/ledger-live-common/src/bridge/jsHelpers.ts
  libs/ledger-live-common/src/families/ethereum/bridge/js.ts
  libs/ledger-live-common/src/families/ethereum/datasets/ethereum2.ts
  libs/ledger-live-common/src/families/ethereum/synchronisation.integration.test.ts
  libs/ledger-live-common/src/families/ethereum/synchronisation.ts
  libs/ledger-live-common/src/operation.ts
Labels: common, feature ready

#562 Bug fix - LIVE-2719 - Empty analytics overlay when activating it
  .changeset/dirty-balloons-sort.md
  apps/ledger-live-mobile/src/components/AnalyticsConsole.js
Labels: mobile

#590 ci: attempt to fix is-org-member checks
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/test-desktop.yml
  tools/actions/is-org-member/build/index.js
  tools/actions/is-org-member/main.ts
Labels: tools, automation

#586 fix: Inline app install not working [LIVE-2851]
  .changeset/hot-avocados-dream.md
  apps/ledger-live-mobile/src/components/BottomModal.tsx
Labels: mobile

#592 fix: Inline app install not working [LIVE-2851]
  .changeset/hot-avocados-dream.md
  apps/ledger-live-mobile/src/components/BottomModal.tsx
Labels: mobile

#374 Fix LLM: 2 firmware update banners being displayed on the wallet screen
  .changeset/brave-ears-teach.md
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
Labels: mobile

#585 support(ledgerjs-cal): CAL update
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/data/bep20.js
  libs/ledgerjs/packages/cryptoassets/data/erc20-signatures.js
  libs/ledgerjs/packages/cryptoassets/data/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/exchange/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/polygon-erc20.js
Labels: desktop, common, ledgerjs

#596 Improve InternalProcess stop() to not throw error if not running
  apps/ledger-live-desktop/src/main/InternalProcess.js
Labels: desktop

#386 Sentry: add more env context on errors
  .changeset/shiny-swans-tickle.md
  apps/ledger-live-desktop/src/internal/index.js
  apps/ledger-live-desktop/src/main/internal-lifecycle.js
  apps/ledger-live-desktop/src/renderer/App.jsx
  apps/ledger-live-desktop/src/renderer/components/ConnectEnvsToSentry.tsx
  apps/ledger-live-desktop/src/sentry/internal.js
  apps/ledger-live-desktop/src/sentry/main.js
  apps/ledger-live-desktop/src/sentry/renderer.js
  apps/ledger-live-mobile/index.js
  apps/ledger-live-mobile/src/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-mobile/src/index.js
Labels: desktop, mobile

#605 Polishes from merged PR #386 feedbacks
  apps/ledger-live-desktop/src/renderer/components/ConnectEnvsToSentry.tsx
  apps/ledger-live-mobile/index.js
Labels: desktop, mobile

#604 Set Goerli currency on coinType=60 per eth accepted convention
  .changeset/funny-goats-poke.md
  libs/ledgerjs/packages/cryptoassets/src/currencies.test.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: ledgerjs

#315 Reborn analytics
  .changeset/pretty-hats-give.md
  apps/ledger-live-mobile/src/actions/settings.js
  apps/ledger-live-mobile/src/analytics/segment.js
  apps/ledger-live-mobile/src/components/BuyDeviceBanner.tsx
  apps/ledger-live-mobile/src/components/FabAccountButtonBar.tsx
  apps/ledger-live-mobile/src/components/ReadOnlyFabActions.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/AccountsNavigator.tsx
  apps/ledger-live-mobile/src/components/SetupDeviceBanner.tsx
  apps/ledger-live-mobile/src/db.js
  apps/ledger-live-mobile/src/helpers/routeHooks.ts
  apps/ledger-live-mobile/src/helpers/useCurrency.tsx
  apps/ledger-live-mobile/src/reducers/settings.js
  apps/ledger-live-mobile/src/screens/Account/ReadOnly/ReadOnlyAccount.tsx
  apps/ledger-live-mobile/src/screens/Account/ReadOnly/ReadOnlyAccountHeaderRight.tsx
  apps/ledger-live-mobile/src/screens/Account/ReadOnly/ReadOnlyAccountHeaderTitle.tsx
  apps/ledger-live-mobile/src/screens/Accounts/AccountsNavigationHeader.tsx
  apps/ledger-live-mobile/src/screens/Accounts/ReadOnly/ReadOnlyAccountRow.tsx
  apps/ledger-live-mobile/src/screens/Accounts/ReadOnly/ReadOnlyAccounts.tsx
  apps/ledger-live-mobile/src/screens/Discover/index.tsx
  apps/ledger-live-mobile/src/screens/GetDeviceScreen.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/discoverLiveInfo.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/doYouHaveALedger.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/ConnectNano.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/ReadOnlyAssets.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/PostBuyDeviceScreen.tsx
  apps/ledger-live-mobile/src/screens/PostBuyDeviceSetupNanoWallScreen.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/HasOrderedNanoRow.tsx
  apps/ledger-live-mobile/src/user.js
  libs/ui/packages/native/src/components/Carousel/index.tsx
  pnpm-lock.yaml
Labels: mobile, ui

#595 Fix playwright tests for the discover section
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/tests/models/Drawer.ts
  apps/ledger-live-desktop/tests/models/Layout.ts
  apps/ledger-live-desktop/tests/playwright.config.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-select-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-accounts-list-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-success-linux.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/discreet-mode-win32.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/experimental-features-win32.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/lockscreen-wrong-password-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-no-scrollbar-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-thb-countervalue-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-list-all-accounts-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-list-all-accounts-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-1-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-1-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-2-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-2-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-3-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-3-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-single-account-output-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-single-account-output-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-disclaimer-accepted-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-disclaimer-accepted-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/open-test-app-darwin.png
  apps/ledger-live-desktop/tests/utils/dummy-app-build/index.html
  apps/ledger-live-desktop/tests/utils/serve-dummy-app.ts
  libs/ledger-live-common/src/env.ts
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/api/index.ts
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/api/mock.json
  pnpm-lock.yaml
Labels: desktop, common, HODL, screenshots

#610 Revert fat 166 fat 167 storyly integration
  .changeset/afraid-experts-brush.md
  .changeset/four-terms-reflect.md
  .github/workflows/build-mobile.yml
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/app/src/debug/AndroidManifest.xml
  apps/ledger-live-mobile/android/app/src/main/AndroidManifest.xml
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/Storyly/StoryBar.tsx
  apps/ledger-live-mobile/src/components/Storyly/StoryGroup.tsx
  apps/ledger-live-mobile/src/components/Storyly/StorylyWrapper.tsx
  apps/ledger-live-mobile/src/components/Storyly/shared.tsx
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/screens/DebugStoryly.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/OpenDebugStoryly.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/index.tsx
  pnpm-lock.yaml
Labels: mobile, automation

#460 LIVE-2693 create index in real time instead of loading from app.json for btc storage
  .changeset/lucky-bugs-shake.md
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/storage/index.ts
  libs/ledger-live-common/src/families/bitcoin/xpub.txs.loadExport.unit.test.ts
Labels: common

#389 LIVE-1132 Fix Wrong Gas Price Polygon
  .changeset/dull-timers-care.md
  apps/ledger-live-mobile/src/families/ethereum/EditFeeUnitEthereum.js
Labels: mobile, Stale

#591 Support/bitcoin js mooncakebot
  .github/workflows/bot-bitcoin-mooncake.yml
Labels: automation

#638 Smartling on-demand translation delivery from main
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#501 countervalues: Chunk batch the fetch of latest and improve tests
  .github/workflows/test-integration.yml
  libs/ledger-live-common/src/countervalues/api/api.ts
  libs/ledger-live-common/src/countervalues/logic.integration.test.ts
  libs/ledger-live-common/src/countervalues/logic.ts
  libs/ledger-live-common/src/countervalues/modules/index.ts
  libs/ledger-live-common/src/countervalues/types.ts
Labels: common, automation

#415 Bugfix/live 1127 Add ellipsis to memo for Cosmos
  .changeset/stale-kings-repeat.md
  apps/ledger-live-desktop/src/renderer/components/Ellipsis.jsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepSummary.jsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/steps/StepSummary.jsx
Labels: desktop, Stale

#598 Drop some crowdin related forgotten files
  apps/ledger-live-desktop/README.md
  apps/ledger-live-desktop/crowdin.yml
  apps/ledger-live-desktop/static/i18n/README.md
  apps/ledger-live-mobile/crowdin.yml
  apps/ledger-live-mobile/scripts/download-xliffs.sh
Labels: desktop, mobile, translations

#639 update npm token in CI
  .github/workflows/backup/version-or-release.yml
  .github/workflows/release-final-nightly.yml
  .github/workflows/release-final.yml
  .github/workflows/release-prerelease.yml
Labels: automation

#629 chore(llm): add lane to sync apple profiles
  apps/ledger-live-mobile/fastlane/Fastfile
  apps/ledger-live-mobile/package.json
Labels: mobile

#628 support(ledgerjs-cal): CAL update
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/data/bep20.js
  libs/ledgerjs/packages/cryptoassets/data/erc20-signatures.js
  libs/ledgerjs/packages/cryptoassets/data/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/exchange/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/polygon-erc20.js
Labels: desktop, common, ledgerjs

#655 Workaround to re-enable pnpm cache in the CI
  .github/workflow-templates/bot-coin-family.yml
  .github/workflows/backup/version-or-release.yml
  .github/workflows/bot-bitcoin-mooncake.yml
  .github/workflows/bot-cardano-silicium.yml
  .github/workflows/bot-filecoin.yml
  .github/workflows/bot-phosphore.yml
  .github/workflows/bot-staging-explorer-btc.yml
  .github/workflows/bot-staging-explorer-eth.yml
  .github/workflows/bot-transfer.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .github/workflows/release-create-hotfix.yml
  .github/workflows/release-create.yml
  .github/workflows/release-final-nightly.yml
  .github/workflows/release-final.yml
  .github/workflows/release-prepare-desktop.yml
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare-mobile.yml
  .github/workflows/release-prerelease.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-mobile.yml
  .github/workflows/test.yml
  .npmrc
  tools/actions/composites/setup-test-desktop/action.yml
Labels: tools, automation

#642 LIVE-2952 - Feat/discover mint
  .changeset/long-pianos-marry.md
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/images/illustration/Shared/_Mint.png
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
  apps/ledger-live-mobile/src/screens/Discover/index.tsx
Labels: mobile, translations, fork

#648 bugfix/LIVE-2836-fix-ratings-drawer-conflict-with-receive-flow done
  apps/ledger-live-mobile/src/components/RootNavigator/ReceiveFundsNavigator.tsx
  apps/ledger-live-mobile/src/reducers/ratings.js
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
Labels: mobile

#633 Support/FAT-166 FAT-167 Storyly Integration (retry after PR reverted)
  .changeset/afraid-experts-brush.md
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/Storyly/StoryBar.tsx
  apps/ledger-live-mobile/src/components/Storyly/StoryGroup.tsx
  apps/ledger-live-mobile/src/components/Storyly/StorylyWrapper.tsx
  apps/ledger-live-mobile/src/components/Storyly/shared.tsx
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/screens/DebugStoryly.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/OpenDebugStoryly.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/index.tsx
  pnpm-lock.yaml
Labels: mobile

#671 remove wildcards bundle id for iOS
  apps/ledger-live-mobile/fastlane/.env.adhoc
  apps/ledger-live-mobile/fastlane/.env.mock
  apps/ledger-live-mobile/fastlane/.env.nightly
  apps/ledger-live-mobile/fastlane/.env.production
  apps/ledger-live-mobile/fastlane/.env.staging
  apps/ledger-live-mobile/fastlane/Fastfile
  pnpm-lock.yaml
Labels: mobile

#667 Add StyleProviderV3 to safely use UI lib in LLD
  .changeset/friendly-clocks-begin.md
  .changeset/stale-trains-sneeze.md
  apps/ledger-live-desktop/.flowconfig
  apps/ledger-live-desktop/src/renderer/components/BalanceInfos/index.jsx
  apps/ledger-live-desktop/src/renderer/components/ButtonV3.tsx
  apps/ledger-live-desktop/src/renderer/components/Illustration.tsx
  apps/ledger-live-desktop/src/renderer/modals/TermOfUseUpdate/TermOfUseUpdateBody.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountActionsDefault.jsx
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.jsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoinScreen/MarketCoinChart.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketDataProviderWrapper.tsx
  apps/ledger-live-desktop/src/renderer/styles/StyleProviderV3.tsx
  libs/ui/packages/react/src/components/layout/Drawer/index.tsx
  libs/ui/packages/react/src/components/layout/Popin/index.tsx
  libs/ui/packages/react/src/index.ts
  libs/ui/packages/react/src/styles/InvertTheme.tsx
  libs/ui/packages/react/src/styles/index.ts
Labels: desktop, ui

#435 Upgrade react-native to 0.68.2
  .changeset/giant-buttons-retire.md
  .github/workflows/build-mobile.yml
  .pnpmfile.cjs
  apps/ledger-live-mobile/.gitignore
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/app/src/debug/java/com/ledger/live/ReactNativeFlipper.java
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainActivity.java
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainApplication.java
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/newarchitecture/MainApplicationReactNativeHost.java
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/newarchitecture/components/MainComponentsRegistry.java
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/newarchitecture/modules/MainApplicationTurboModuleManagerDelegate.java
  apps/ledger-live-mobile/android/app/src/main/jni/Android.mk
  apps/ledger-live-mobile/android/app/src/main/jni/MainApplicationModuleProvider.cpp
  apps/ledger-live-mobile/android/app/src/main/jni/MainApplicationModuleProvider.h
  apps/ledger-live-mobile/android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.cpp
  apps/ledger-live-mobile/android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.h
  apps/ledger-live-mobile/android/app/src/main/jni/MainComponentsRegistry.cpp
  apps/ledger-live-mobile/android/app/src/main/jni/MainComponentsRegistry.h
  apps/ledger-live-mobile/android/app/src/main/jni/OnLoad.cpp
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/android/gradle.properties
  apps/ledger-live-mobile/android/gradle/wrapper/gradle-wrapper.jar
  apps/ledger-live-mobile/android/gradlew
  apps/ledger-live-mobile/android/settings.gradle
  apps/ledger-live-mobile/ios/Podfile
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.m
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/index.js
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
  apps/ledger-live-mobile/src/screens/RatingsModal/index.tsx
  libs/ledger-live-common/mobile-test-app/android/.project
  pnpm-lock.yaml
Labels: mobile, automation

#627 LIVE-2643 LIVE-2914 fix xpub null and "hash" to "id" migration
  .changeset/curvy-walls-greet.md
  libs/ledger-live-common/src/families/bitcoin/datasets/bitcoin.ts
  libs/ledger-live-common/src/families/bitcoin/descriptor.ts
  libs/ledger-live-common/src/families/bitcoin/js-synchronisation.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/storage/index.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/storage/types.ts
Labels: common

#677 Feat/cardano token changes
  apps/ledger-live-desktop/src/renderer/families/cardano/AccountBalanceSummaryFooter.jsx
  apps/ledger-live-desktop/src/renderer/families/cardano/AccountBodyHeader.js
  apps/ledger-live-desktop/src/renderer/families/cardano/StakingRewardsBanner.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/families/cardano/buildSubAccounts.ts
  libs/ledger-live-common/src/families/cardano/deviceTransactionConfig.ts
  libs/ledger-live-common/src/families/cardano/errors.ts
  libs/ledger-live-common/src/families/cardano/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/cardano/js-signOperation.ts
  libs/ledger-live-common/src/families/cardano/js-synchronisation.ts
  libs/ledger-live-common/src/families/cardano/logic.ts
Labels: desktop, mobile, common, translations, fork

#678 bot: fixes ZCash
  libs/ledger-live-common/src/load/speculos.ts
Labels: common

#679 Change Ethereum Ropsten in Goerli in the testing bot
  libs/ledger-live-common/src/families/ethereum/specs.ts
Labels: common

#603 LLD Sentry incremental iteration (update Sentry + Performance)
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/internal/commandHandler.js
  apps/ledger-live-desktop/src/internal/commands/appOpExec.js
  apps/ledger-live-desktop/src/internal/commands/connectApp.js
  apps/ledger-live-desktop/src/internal/commands/connectManager.js
  apps/ledger-live-desktop/src/internal/commands/firmwareMain.js
  apps/ledger-live-desktop/src/internal/commands/firmwarePrepare.js
  apps/ledger-live-desktop/src/internal/commands/firmwareRepair.js
  apps/ledger-live-desktop/src/internal/commands/firmwareUpdating.js
  apps/ledger-live-desktop/src/internal/commands/listApps.js
  apps/ledger-live-desktop/src/internal/index.js
  apps/ledger-live-desktop/src/main/index.js
  apps/ledger-live-desktop/src/renderer/analytics/TrackPage.js
  apps/ledger-live-desktop/src/renderer/bridge/proxy-commands.js
  apps/ledger-live-desktop/src/renderer/bridge/proxy.js
  apps/ledger-live-desktop/src/sentry/install.js
  apps/ledger-live-desktop/src/sentry/internal.js
  apps/ledger-live-desktop/src/sentry/main.js
  apps/ledger-live-desktop/src/sentry/renderer.js
  apps/ledger-live-mobile/src/analytics/TrackScreen.tsx
  libs/ledger-live-common/src/families/bitcoin/js-synchronisation.ts
  libs/ledger-live-common/src/performance.test.ts
  libs/ledger-live-common/src/performance.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common

#666 Upgrade Sentry in LLM + filtering more errors
  apps/ledger-live-mobile/index.js
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Labels: mobile

#683 chore: update podfile
  apps/ledger-live-mobile/ios/Podfile.lock
Labels: mobile

#681 Specs without funds that are backed by testnet to no longer be warned
  libs/ledger-live-common/src/bot/index.ts
Labels: common

#686 codecov configuration update
  .github/workflows/test.yml
  codecov.yml
Labels: automation

#690 Bot: fix warning logic to exclude Bitcoin warn if tesnet have funds
  libs/ledger-live-common/src/bot/index.ts
Labels: common

#486 LIVE-2767 LLC - Countervalues API method change
  .changeset/afraid-poets-trade.md
  .github/workflows/test-integration.yml
  libs/ledger-live-common/src/countervalues/api/api.ts
  libs/ledger-live-common/src/countervalues/logic.integration.test.ts
  libs/ledger-live-common/src/countervalues/logic.ts
  libs/ledger-live-common/src/countervalues/modules/index.ts
  libs/ledger-live-common/src/countervalues/types.ts
Labels: common, automation, feature ready

#691 stop clogging up runners for 6 hours
  apps/ledger-live-mobile/fastlane/Fastfile
Labels: mobile

#81 LIVE-2172 Platform Token Support
  .changeset/modern-monkeys-teach.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.js
  apps/ledger-live-desktop/src/renderer/components/PerCurrencySelectAccount/state.js
  apps/ledger-live-desktop/src/renderer/components/SelectAccountAndCurrency.jsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/index.jsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/AccountList.jsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/CurrencyList.jsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/SelectAccountAndCurrencyDrawer.jsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/SelectAccountDrawer.jsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/logic.js
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/shared.js
  apps/ledger-live-desktop/src/renderer/drawers/Drawer.jsx
  apps/ledger-live-desktop/src/renderer/modals/ExchangeDeviceConfirm/index.jsx
  apps/ledger-live-desktop/src/renderer/modals/RequestAccount/Body.jsx
  apps/ledger-live-desktop/src/renderer/modals/RequestAccount/index.jsx
  apps/ledger-live-desktop/src/renderer/modals/RequestAccount/types.js
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/Body.jsx
  apps/ledger-live-desktop/src/renderer/modals/index.js
  apps/ledger-live-desktop/src/renderer/screens/platform/Catalog.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/utils/serve-dummy-app.ts
  apps/ledger-live-mobile/src/components/RootNavigator/AddAccountsNavigator.js
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/index.js
  apps/ledger-live-mobile/src/helpers/formatAccountSearchResults.js
  apps/ledger-live-mobile/src/live-common-setup.js
  apps/ledger-live-mobile/src/navigation/useDeepLinking.js
  apps/ledger-live-mobile/src/reducers/accounts.js
  apps/ledger-live-mobile/src/screens/AddAccounts/02-SelectDevice.js
  apps/ledger-live-mobile/src/screens/AddAccounts/03-Accounts.js
  apps/ledger-live-mobile/src/screens/Platform/shared.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/DiscoverSection.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/ReadOnlyAssets.tsx
  apps/ledger-live-mobile/src/screens/RequestAccount/01-SelectCrypto.js
  apps/ledger-live-mobile/src/screens/RequestAccount/02-SelectAccount.js
  apps/ledger-live-mobile/src/screens/Settings/Developer/CustomManifest.js
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/__tests__/accounts/importAccounts.ts
  libs/ledger-live-common/src/__tests__/test-helpers/setup.ts
  libs/ledger-live-common/src/account/helpers.ts
  libs/ledger-live-common/src/apps/filtering.test.ts
  libs/ledger-live-common/src/currencies/helpers.test.ts
  libs/ledger-live-common/src/currencies/helpers.ts
  libs/ledger-live-common/src/currencies/index.ts
  libs/ledger-live-common/src/currencies/react.ts
  libs/ledger-live-common/src/platform/PlatformAppProvider/api/api.mock.ts
  libs/ledger-live-common/src/platform/PlatformAppProvider/helpers.ts
  libs/ledger-live-common/src/platform/converters.ts
  libs/ledger-live-common/src/platform/filters.ts
  libs/ledger-live-common/src/platform/helpers.ts
  libs/ledger-live-common/src/platform/logic.ts
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/api/mock.json
  libs/ledger-live-common/src/platform/react.ts
  libs/ledger-live-common/src/platform/types.ts
  libs/ledger-live-common/src/platform/version.test.ts
  libs/ledger-live-common/src/walletconnect/walletconnect.test.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, translations, cli

#659 LIVE-2941 LIVE-2942 LLD - route buy and sell to live app + feature flag
  .changeset/dirty-socks-smoke.md
  apps/ledger-live-desktop/release-notes.json
  apps/ledger-live-desktop/src/renderer/Default.jsx
  apps/ledger-live-desktop/src/renderer/components/BalanceInfos/index.jsx
  apps/ledger-live-desktop/src/renderer/components/BuyButton.jsx
  apps/ledger-live-desktop/src/renderer/components/ContextMenu/AccountContextMenu.jsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountActionsDefault.jsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountHeaderActions.jsx
  apps/ledger-live-desktop/src/renderer/screens/account/EmptyStateAccount.jsx
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.jsx
  apps/ledger-live-desktop/src/renderer/screens/lend/modals/EmptyAccountDeposit/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoinScreen/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketRowItem.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/App.jsx
  libs/ledger-live-common/src/featureFlags/types.ts
Labels: desktop, common, feature ready

#696 test: fix discover test with the new requestAccount modal
  apps/ledger-live-desktop/tests/models/DiscoverPage.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-accounts-list-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-accounts-list-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-success-win32.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/experimental-features-win32.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/lockscreen-wrong-password-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-no-scrollbar-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-thb-countervalue-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-list-all-accounts-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-1-darwin.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-1-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-1-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-2-darwin.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-2-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-2-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-3-darwin.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-3-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-modal-3-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/open-test-app-darwin.png
Labels: desktop, screenshots

#680 support: migrate Vertical timeline component from native to UI
  .changeset/spicy-eyes-decide.md
  libs/ui/packages/react/src/components/layout/List/VerticalTimeline/TimelineIndicator.tsx
  libs/ui/packages/react/src/components/layout/List/VerticalTimeline/TimelineItem.tsx
  libs/ui/packages/react/src/components/layout/List/VerticalTimeline/VerticalTimeline.stories.tsx
  libs/ui/packages/react/src/components/layout/List/VerticalTimeline/index.tsx
  libs/ui/packages/react/src/components/layout/index.ts
Labels: ui

#462 Cardano tokens on LLD + LLM
  .changeset/green-taxis-talk.md
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/renderer/families/cardano/AccountBalanceSummaryFooter.jsx
  apps/ledger-live-desktop/src/renderer/families/cardano/AccountBodyHeader.js
  apps/ledger-live-desktop/src/renderer/families/cardano/StakingRewardsBanner.jsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepSummary.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/apps/support.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/families/cardano/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/cardano/bridge.integration.test.ts
  libs/ledger-live-common/src/families/cardano/buildSubAccounts.ts
  libs/ledger-live-common/src/families/cardano/deviceTransactionConfig.ts
  libs/ledger-live-common/src/families/cardano/errors.ts
  libs/ledger-live-common/src/families/cardano/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/cardano/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/cardano/js-signOperation.ts
  libs/ledger-live-common/src/families/cardano/js-synchronisation.ts
  libs/ledger-live-common/src/families/cardano/js-transaction.ts
  libs/ledger-live-common/src/families/cardano/logic.ts
  libs/ledger-live-common/src/families/cardano/specs.ts
  libs/ledger-live-common/src/families/cardano/speculos-deviceActions.ts
  libs/ledger-live-common/src/generated/deviceTransactionConfig.ts
  libs/ledgerjs/packages/cryptoassets/data/cardanoNative.js
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, ledgerjs, translations, feature ready

#624 LIVE-2755 Validator search input for ATOM and SOL
  .changeset/purple-laws-cry.md
  apps/ledger-live-desktop/src/renderer/components/Delegation/ValidatorSearchInput.jsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/DelegationFlowModal/fields/ValidatorField.jsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/RedelegationFlowModal/fields/ValidatorField.jsx
  apps/ledger-live-desktop/src/renderer/families/solana/shared/fields/ValidatorsField.jsx
  apps/ledger-live-mobile/src/families/cosmos/DelegationFlow/SelectValidator.tsx
  apps/ledger-live-mobile/src/families/cosmos/RedelegationFlow/01-SelectValidator.js
  apps/ledger-live-mobile/src/families/solana/DelegationFlow/SelectValidator.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/01-SelectValidator/SearchBox.tsx
  libs/ledger-live-common/src/families/cosmos/react.ts
  libs/ledger-live-common/src/families/solana/react.integration.test.ts
  libs/ledger-live-common/src/families/solana/react.ts
Labels: desktop, mobile, common, feature ready

#705 Undo the performance tracking of TrackPage
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/analytics/TrackPage.js
  pnpm-lock.yaml
Labels: desktop

#707 Add a bridge test for AmountRequired
  .changeset/weak-queens-shout.md
  libs/ledger-live-common/src/__tests__/test-helpers/bridge.ts
Labels: common

#702 support(ledgerjs-cal): CAL update
  .changeset/thick-ligers-fail.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/data/bep20.js
  libs/ledgerjs/packages/cryptoassets/data/erc20-signatures.js
  libs/ledgerjs/packages/cryptoassets/data/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/exchange/erc20.js
  libs/ledgerjs/packages/cryptoassets/data/polygon-erc20.js
Labels: desktop, common, ledgerjs

#706 LIVE-2955 Fix wording for when user tries to update via Bluetooth
  .changeset/afraid-moles-train.md
  apps/ledger-live-mobile/src/components/FirmwareUpdateBanner.tsx
  apps/ledger-live-mobile/src/components/SelectDevice/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/firmwareUpdate.ts
Labels: mobile, translations

#712 use same JAVA as we use locally
  .github/workflows/build-mobile.yml
Labels: automation

#703 Feat/cardano rewards balance banner
  .changeset/six-rats-bathe.md
  apps/ledger-live-mobile/src/families/cardano/AccountBodyHeader.js
  apps/ledger-live-mobile/src/families/cardano/StakingRewardsBanner.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations, fork

#714 Revert "LIVE-2955 Fix wording for when user tries to update via Bluet…
  .changeset/afraid-moles-train.md
  apps/ledger-live-mobile/src/components/FirmwareUpdateBanner.tsx
  apps/ledger-live-mobile/src/components/SelectDevice/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/firmwareUpdate.ts
Labels: mobile, translations

#713 Remove global box-sizing setting for the ui lib
  libs/ui/packages/react/src/styles/global.ts
Labels: ui

#708 Fix Stellar amount required + user-friendly Stellar asset type for message
  libs/ledger-live-common/src/families/stellar/js-getTransactionStatus.ts
  libs/ledgerjs/packages/cryptoassets/data/stellar.js
Labels: common, ledgerjs, fork

#711 fix: requestAccount to show all accounts
  .changeset/light-pans-report.md
  apps/ledger-live-mobile/src/helpers/formatAccountSearchResults.js
  apps/ledger-live-mobile/src/screens/RequestAccount/01-SelectCrypto.js
  apps/ledger-live-mobile/src/screens/RequestAccount/02-SelectAccount.js
Labels: mobile

#673 Improve robustness of Tezos impl with a way to set max iteration
  .changeset/hot-singers-lick.md
  libs/ledger-live-common/src/env.ts
  libs/ledger-live-common/src/families/tezos/synchronisation.integration.test.ts
  libs/ledger-live-common/src/families/tezos/synchronisation.ts
Labels: common

#701 Support/live 2473 sign message
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/index.jsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/tracking.js
  apps/ledger-live-mobile/src/components/HeaderRightClose.js
  apps/ledger-live-mobile/src/components/RootNavigator/SignMessageNavigator.js
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/index.js
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/tracking.js
  apps/ledger-live-mobile/src/navigation/navigatorConfig.tsx
  apps/ledger-live-mobile/src/screens/SignMessage/01-Summary.js
  apps/ledger-live-mobile/src/screens/SignMessage/03-ConnectDevice.js
  apps/ledger-live-mobile/src/screens/SignMessage/04-ValidationError.js
  apps/ledger-live-mobile/src/screens/SignMessage/04-ValidationSuccess.js
Labels: desktop, mobile

#734 Bugfix/live 3079 lld buy live app fix account
  .changeset/angry-buttons-bow.md
  apps/ledger-live-desktop/src/renderer/components/BuyButton.jsx
  apps/ledger-live-desktop/src/renderer/components/ContextMenu/AccountContextMenu.jsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountHeaderActions.jsx
  apps/ledger-live-desktop/src/renderer/screens/account/EmptyStateAccount.jsx
Labels: desktop

#737 [LIVE-3095] - Bugfix: missing floor price import (develop)
  .changeset/yellow-sloths-fry.md
  apps/ledger-live-mobile/src/components/Nft/NftViewer.tsx
Labels: mobile

#719 Ratings language restriction removed and texts small modifications
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/ratings.tsx
  apps/ledger-live-mobile/src/screens/RatingsModal/Disappointed.tsx
  apps/ledger-live-mobile/src/screens/Settings/index.tsx
Labels: mobile, translations

#718 LIVE-2955 Fix wording for when user tries to update via Bluetooth
  .changeset/afraid-moles-train.md
  apps/ledger-live-mobile/src/components/FirmwareUpdateBanner.tsx
  apps/ledger-live-mobile/src/components/SelectDevice/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/firmwareUpdate.ts
Labels: mobile, translations, feature ready

#746 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#709 LIVE-3068 Update Polkadot app minimum version to 13.9250.0
  .changeset/green-crabs-begin.md
  libs/ledger-live-common/src/apps/support.ts
Labels: common, HODL

#748 [LIVE-2953] - Bugfix: Fix ethereum signMessage for EIP-712
  .changeset/seven-humans-sip.md
  libs/ledger-live-common/src/families/ethereum/hw-signMessage.test.ts
  libs/ledger-live-common/src/families/ethereum/hw-signMessage.ts
  libs/ledger-live-common/src/families/ethereum/types.ts
Labels: common

#752 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#757 Downgrade @sentry/node to a compatible version with @sentry/electron
  .changeset/breezy-plants-remain.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/sentry/dependencies.test.ts
  pnpm-lock.yaml
Labels: desktop

#760 Improve bot formatting
  libs/ledger-live-common/src/bot/formatters.ts
  libs/ledger-live-common/src/bot/index.ts
Labels: common

#759 chore: stop cascade trigger after doing a release preprare
  .github/workflows/release-prepare-desktop.yml
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare-mobile.yml
Labels: automation

#716 Fix Stellar amount required + user-friendly Stellar asset type for message
  libs/ledger-live-common/src/families/stellar/js-getTransactionStatus.ts
  libs/ledgerjs/packages/cryptoassets/data/stellar.js
Labels: common, ledgerjs, feature ready

#762 Add missing "size" property to React UI buttons
  .changeset/tender-mirrors-guess.md
  libs/ui/packages/react/src/components/cta/Button/Button.stories.tsx
  libs/ui/packages/react/src/components/cta/Button/index.tsx
Labels: ui

#645 support: add generics lotties animations
  .changeset/hip-buckets-deny.md
  apps/ledger-live-desktop/.prettierignore
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/10PairingSuccess/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/10PairingSuccess/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/11PlaceHolder/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/11PlaceHolder/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/1PlugAndPinCode/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/1PlugAndPinCode/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/2FirmwareUpdating/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/2FirmwareUpdating/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/3EnterPinCode/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/3EnterPinCode/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/4QuitApp/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/4QuitApp/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/5AllowManager/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/5AllowManager/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/6OpenApp/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/6OpenApp/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/7Validate/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/7Validate/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/8InstallLoading/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/8InstallLoading/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/9PairingProgress/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoFTS/9PairingProgress/light.json
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/animations.js
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/assets/animations/nanoFTS/confirmWords/dark.json
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/assets/animations/nanoFTS/confirmWords/light.json
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/assets/animations/nanoFTS/numberOfWords/dark.json
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/assets/animations/nanoFTS/numberOfWords/light.json
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/assets/animations/nanoFTS/pinCode/dark.json
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/assets/animations/nanoFTS/pinCode/light.json
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/assets/animations/nanoFTS/plugDevice/dark.json
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/assets/animations/nanoFTS/plugDevice/light.json
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/assets/animations/nanoFTS/powerOn/dark.json
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/assets/animations/nanoFTS/powerOn/light.json
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/assets/animations/nanoFTS/powerOnRecovery/dark.json
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/assets/animations/nanoFTS/powerOnRecovery/light.json
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/assets/animations/nanoFTS/recover/dark.json
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/assets/animations/nanoFTS/recover/light.json
  apps/ledger-live-desktop/src/renderer/modals/LottieDebugger/index.jsx
Labels: desktop

#740 Bugfix/live 3027
  .changeset/cold-suns-stare.md
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceAppStorage.tsx
Labels: mobile

#767 Disable ftx ftxus temporary as a swap provider before official mobile release
  .changeset/chilly-toys-look.md
  apps/ledger-live-mobile/src/screens/Swap/SwapEntry.js
Labels: mobile

#537 Fixes autofocus on password field when Ledger Live Desktop is password protected
  .changeset/soft-dodos-check.md
  apps/ledger-live-desktop/src/renderer/components/IsUnlocked.jsx
Labels: desktop, fork

#731 feat/Live-2864 Update the UI of app buttons in manager
  .changeset/slow-trainers-fry.md
  apps/ledger-live-mobile/src/screens/Manager/AppsList/AppInstallButton.tsx
  apps/ledger-live-mobile/src/screens/Manager/AppsList/AppProgressButton.tsx
  libs/ledger-live-common/src/apps/react.test.ts
  libs/ledger-live-common/src/apps/react.ts
Labels: mobile, common

#728 LIVE-3015 - LLM - Learn page add a close button for back navigation
  .changeset/witty-numbers-design.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
Labels: mobile, feature ready

#699 LIVE-2926 reborn analytics
  .changeset/pretty-hats-give.md
  apps/ledger-live-mobile/src/analytics/segment.js
  apps/ledger-live-mobile/src/components/BuyDeviceBanner.tsx
  apps/ledger-live-mobile/src/components/FabAccountButtonBar.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/index.js
  apps/ledger-live-mobile/src/components/TabBar/Transfer.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/reducers/settings.js
  apps/ledger-live-mobile/src/screens/Account/ReadOnly/ReadOnlyAccount.tsx
  apps/ledger-live-mobile/src/screens/Accounts/ReadOnly/ReadOnlyAccounts.tsx
  apps/ledger-live-mobile/src/screens/Discover/index.tsx
  apps/ledger-live-mobile/src/screens/GetDeviceScreen.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/index.tsx
  apps/ledger-live-mobile/src/screens/Market/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/discoverLiveInfo.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/doYouHaveALedger.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/ReadOnlyAssets.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/PostBuyDeviceScreen.tsx
Labels: mobile, feature ready

#440 Feat/live 606 receive flow
  .changeset/warm-months-attend.md
  apps/ledger-live-mobile/src/components/CopyLink.tsx
  apps/ledger-live-mobile/src/components/CurrencyRow.js
  apps/ledger-live-mobile/src/components/CurrencyRow.tsx
  apps/ledger-live-mobile/src/components/FabActions.tsx
  apps/ledger-live-mobile/src/components/FilteredSearchBar.tsx
  apps/ledger-live-mobile/src/components/LText/index.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ReceiveFundsNavigator.tsx
  apps/ledger-live-mobile/src/components/SelectDevice/index.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferButton.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/const/navigation.js
  apps/ledger-live-mobile/src/families/algorand/Rewards/ClaimRewardsFlow/01-Info.js
  apps/ledger-live-mobile/src/families/tezos/DelegationDetailsModal.js
  apps/ledger-live-mobile/src/images/illustration/Dark/_080.png
  apps/ledger-live-mobile/src/images/illustration/Light/_080.png
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/reducers/ratings.js
  apps/ledger-live-mobile/src/screens/Account/EmptyStateAccount.tsx
  apps/ledger-live-mobile/src/screens/Account/NftCollectionsList.tsx
  apps/ledger-live-mobile/src/screens/Account/SubAccountsList.tsx
  apps/ledger-live-mobile/src/screens/Account/hooks/useActions.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccount.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccountSelectDevice.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.js
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03a-ConnectDevice.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03b-VerifyAddress.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/AdditionalInfoModal.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/NotSyncedWarning.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/ReceiveSecurityModal/ConfirmUnverified.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/ReceiveSecurityModal/InitMessage.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/ReceiveSecurityModal/index.tsx
  apps/ledger-live-mobile/src/screens/SelectAccount.tsx
  pnpm-lock.yaml
Labels: mobile, translations, feature ready

#775 polish bot report
  libs/ledger-live-common/src/bot/index.ts
Labels: common

#772 Harmonize button size from React UI with current V3 desktop button
  .changeset/famous-pens-move.md
  libs/ui/packages/react/src/components/cta/Button/index.tsx
Labels: ui

#402 Migrate Desktop WebPlatformPlayer to typescript
  .changeset/six-donuts-teach.md
  apps/ledger-live-desktop/.eslintrc.js
  apps/ledger-live-desktop/.flowconfig
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/actions/accounts.ts
  apps/ledger-live-desktop/src/renderer/actions/modals.ts
  apps/ledger-live-desktop/src/renderer/components/SelectAccountAndCurrency.jsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/LiveAppSDKLogic.ts
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/index.jsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/index.tsx
  libs/ledger-live-common/src/account/helpers.ts
  libs/ledger-live-common/src/account/ordering.ts
  libs/ledger-live-common/src/families/polkadot/cli-transaction.ts
  libs/ledger-live-common/src/hw/signMessage/index.test.ts
  libs/ledger-live-common/src/hw/signMessage/index.ts
  libs/ledger-live-common/src/platform/JSONRPCServer.ts
  pnpm-lock.yaml
Labels: desktop, common

#781 LIVE-3150 - LLM - Receive flow crash after merge issue
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03a-ConnectDevice.tsx
Labels: mobile
