Repository LedgerHQ/ledger-live, pull requests merged in 2023-12, with the labels that each got.

#5631 Update to pnpm 8.11
  .github/workflows/healthchecks-runners.yaml
  .prototools
  apps/ledger-live-desktop/package.json
  pnpm-lock.yaml
  tools/actions/composites/bot/action.yml
  tools/actions/composites/setup-toolchain/action.yml
Labels: desktop, tools, automation

#5632 fix big transactions cosmos
  .changeset/tame-schools-float.md
  libs/ledger-live-common/src/families/cosmos/js-buildTransaction.test.ts
  libs/ledger-live-common/src/families/cosmos/js-buildTransaction.ts
  libs/ledger-live-common/src/families/cosmos/js-prepareTransaction.ts
  libs/ledger-live-common/src/families/cosmos/js-signOperation.ts
Labels: common

#5595 Update native/react libs Storybook
  .changeset/ninety-forks-roll.md
  libs/ui/packages/native/.eslintrc.js
  libs/ui/packages/native/.storybook-web/main.js
  libs/ui/packages/native/.storybook-web/preview.js
  libs/ui/packages/native/.storybook-web/webpack.config.js
  libs/ui/packages/native/package.json
  libs/ui/packages/native/storybook/stories/Icon/icons.stories.tsx
  libs/ui/packages/native/storybook/stories/Layout/List/VerticalStepper.stories.tsx
  libs/ui/packages/native/storybook/stories/Layout/List/VerticalTimeline.stories.tsx
  libs/ui/packages/react/.babelrc.json
  libs/ui/packages/react/.eslintrc.js
  libs/ui/packages/react/.storybook/main.js
  libs/ui/packages/react/.storybook/preview.tsx
  libs/ui/packages/react/package.json
  libs/ui/packages/react/src/components/Tag/Tag.stories.tsx
  libs/ui/packages/react/src/components/asorted/Icon/BoxedIcon.stories.tsx
  libs/ui/packages/react/src/components/asorted/Icon/CryptoIcons.stories.tsx
  libs/ui/packages/react/src/components/asorted/Icon/IconsLegacy.stories.tsx
  libs/ui/packages/react/src/components/cta/Button/Button.stories.tsx
  libs/ui/packages/react/src/components/form/Dropdown/Dropdown.stories.tsx
  libs/ui/packages/react/src/components/form/DropdownGeneric/DropdownGeneric.stories.tsx
  libs/ui/packages/react/src/components/layout/Box/Box.stories.tsx
  libs/ui/packages/react/src/components/layout/Popin/Popin.stories.tsx
  libs/ui/packages/react/src/components/layout/Side/Side.stories.tsx
  libs/ui/packages/react/src/components/message/Alert/Alert.stories.tsx
  libs/ui/packages/react/src/components/message/ContinueOnDevice/ContinueOnDevice.stories.tsx
  libs/ui/packages/react/src/components/message/Log/Log.stories.tsx
  libs/ui/packages/react/src/components/message/Notification/Notification.stories.tsx
  libs/ui/packages/react/src/components/message/StatusNotification/StatusNotification.stories.tsx
  libs/ui/packages/react/src/components/message/Tip/Tip.stories.tsx
  libs/ui/packages/react/src/components/message/Tooltip/Tooltip.stories.tsx
  libs/ui/packages/react/src/components/navigation/FlowStepper/FlowStepper.stories.tsx
  libs/ui/packages/react/src/components/styled.stories.tsx
  pnpm-lock.yaml
Labels: ui

#5640 [FEAT][LIVE-10266] update telos logo
  .changeset/thick-jokes-cover.md
  libs/ui/packages/crypto-icons/src/svg/TLOS.svg
Labels: ui

#5633 Display USDC staking rewards for dydx
  .changeset/little-boats-move.md
  apps/ledger-live-desktop/src/renderer/families/cosmos/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/families/cosmos/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.ts
Labels: desktop, mobile, common, translations

#5639 update dydx unbonding period
  .changeset/smooth-bags-poke.md
  libs/ledger-live-common/src/families/cosmos/chain/Dydx.ts
Labels: common

#5634 Feat/moonpay swap deeplink redirect
  .changeset/lemon-houses-sell.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
Labels: desktop

#5588 [bugfix] Cardano staking button on LLM
  .changeset/sixty-tomatoes-wave.md
  apps/ledger-live-desktop/src/renderer/families/cardano/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/steps/StepDelegation.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/cardano/accountActions.tsx
  apps/ledger-live-mobile/src/families/celo/accountActions.tsx
  apps/ledger-live-mobile/src/families/cosmos/accountActions.tsx
  apps/ledger-live-mobile/src/families/elrond/accountActions.tsx
  apps/ledger-live-mobile/src/families/evm/accountActions.tsx
  apps/ledger-live-mobile/src/families/near/accountActions.tsx
  apps/ledger-live-mobile/src/families/polkadot/accountActions.tsx
  apps/ledger-live-mobile/src/families/solana/accountActions.tsx
  apps/ledger-live-mobile/src/families/tezos/accountActions.tsx
  apps/ledger-live-mobile/src/families/tron/accountActions.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/families/cardano/errors.ts
  libs/ledger-live-common/src/families/cardano/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/cardano/logic.ts
  libs/ledger-live-common/src/families/cardano/logic.unit.test.ts
Labels: desktop, mobile, common, translations

#5524 [SUPPORT] - Adding logs for invalid dates
  .changeset/sweet-comics-wonder.md
  apps/ledger-live-desktop/src/renderer/components/OperationsList/index.tsx
  libs/coin-evm/src/api/explorer/ledger.ts
  libs/coin-evm/src/synchronization.ts
  libs/coin-framework/src/account/serialization.ts
Labels: desktop

#5649 [BUGFIX]: Missing translation for Experimental features
  .changeset/sixty-rules-wait.md
  apps/ledger-live-mobile/src/experimental.ts
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#5643 Add no drag zone on drawer
  .changeset/big-emus-hug.md
  apps/ledger-live-desktop/src/renderer/components/SideDrawer.tsx
Labels: desktop

#5659 [BUGFIX]: Hide empty token accounts- setting or -Hide token- hides correctly accounts in App
  .changeset/heavy-pears-own.md
  apps/ledger-live-desktop/src/renderer/actions/general.ts
  apps/ledger-live-desktop/src/renderer/components/Breadcrumb/AssetCrumb.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/AssetDistribution/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#5656 [LLD] - [LIVE-10421] - Fix cut notification tag on LLD when minimized navbar
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
Labels: desktop

#5658 [LLD] - [LIVE-10421] - Fix cut notification tag on LLD when minimized navbar
  .changeset/smooth-pugs-relate.md
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
Labels: desktop

#5655 Feat/moonpay quote registration req
  .changeset/moody-plums-attend.md
  libs/ledger-live-common/src/exchange/swap/index.ts
Labels: common

#5558 LLD - Stax OS update polish
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/ErrorIcon.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/Body.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/Cancel.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/errors/Cancel.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/errors/DeviceError.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/errors/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-restore.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/03-step-confirmation.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-019-transfer-load-requested-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-019-transfer-load-requested-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-019-transfer-load-requested-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-020-transfer-progress-000-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-020-transfer-progress-000-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-020-transfer-progress-000-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-021-transfer-progress-020-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-021-transfer-progress-020-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-021-transfer-progress-020-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-022-transfer-progress-050-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-022-transfer-progress-050-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-022-transfer-progress-050-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-023-transfer-progress-080-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-023-transfer-progress-080-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-023-transfer-progress-080-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-024-transfer-progress-100-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-024-transfer-progress-100-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-024-transfer-progress-100-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-025-transfer-commit-requested-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-025-transfer-commit-requested-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-025-transfer-commit-requested-win32.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-allow-language-installation-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-allow-language-installation-linux.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-allow-language-installation-win32.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-portfolio-page-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-allow-language-installation-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-allow-language-installation-linux.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-allow-language-installation-win32.png
  libs/ui/packages/react/src/components/asorted/Divider/index.tsx
Labels: desktop, ui, translations, screenshots

#5672 Add unit test on startExchange
  libs/ledgerjs/packages/hw-app-exchange/README.md
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.test.ts
Labels: ledgerjs

#5676 [LLM] - [LIVE-9793/LIVE-10076] - Add contentCards carousel and horizontal card
  apps/ledger-live-mobile/src/contentCards/cards/horizontal/elements.tsx
  apps/ledger-live-mobile/src/contentCards/cards/horizontal/index.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/index.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/pagination/bullets.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/pagination/index.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/pagination/types.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/pagination/utilts.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/types.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/utils.tsx
  apps/ledger-live-mobile/src/contentCards/types.ts
Labels: mobile

#5630 feat(NativeUI): New animated input component
  .changeset/honest-balloons-confess.md
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  libs/ui/packages/native/.storybook-web/main.js
  libs/ui/packages/native/.storybook-web/preview.js
  libs/ui/packages/native/src/components/Form/Input/AnimatedInput/AnimatedNotchedLabel.tsx
  libs/ui/packages/native/src/components/Form/Input/AnimatedInput/index.tsx
  libs/ui/packages/native/src/components/Form/Input/AnimatedInput/inputTextColor.tsx
  libs/ui/packages/native/src/components/Form/Input/AnimatedInput/useAnimatedInputFocus.tsx
  libs/ui/packages/native/src/components/Form/Input/BaseInput/index.tsx
  libs/ui/packages/native/src/components/Form/Input/index.ts
  libs/ui/packages/native/storybook/stories/Form/Input/AnimatedInput.stories.tsx
Labels: mobile, ui

#5651 Fix: Genuine check is skipped over USB
  .changeset/late-apples-complain.md
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/ConnectNano.tsx
Labels: mobile

#5556 Feat/live 9513 live config lib
  apps/ledger-live-desktop/src/firebase-setup.ts
  apps/ledger-live-desktop/src/renderer/App.tsx
  apps/ledger-live-desktop/src/renderer/components/FirebaseRemoteConfig.tsx
  apps/ledger-live-desktop/src/renderer/init.tsx
  apps/ledger-live-mobile/src/components/BuyDeviceCTA.tsx
  apps/ledger-live-mobile/src/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-mobile/src/components/FirebaseRemoteConfig.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  libs/live-config/package.json
  libs/live-config/src/LiveConfig.ts
  libs/live-config/src/__tests__/LiveConfig.test.ts
  libs/live-config/src/__tests__/config.json
  libs/live-config/src/featureFlags/LiveConfig.ts
  libs/live-config/src/featureFlags/firebaseFeatureFlags.ts
  libs/live-config/src/featureFlags/index.ts
  libs/live-config/src/index.ts
  libs/live-config/src/providers/firebaseRemoteConfig/index.ts
  libs/live-config/src/providers/firebaseRemoteConfig/parser.ts
  libs/live-config/src/providers/index.ts
  libs/live-config/src/providers/jsonFileReader/index.ts
  pnpm-lock.yaml
Labels: desktop, mobile

#5687 Fix issue with startExchange on LLM
  .changeset/sharp-clocks-hide.md
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.test.ts
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.ts
Labels: ledgerjs

#5674 fix(protect-2846): allow restore on lns+
  .changeset/long-grapes-serve.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/utils.ts
  apps/ledger-live-desktop/src/renderer/components/RecoverRestore/index.tsx
Labels: desktop

#5692 Sentry maintenance
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/sentry/install.ts
  pnpm-lock.yaml
Labels: desktop

#5685 bugfix: customDappUrl for non moonpay redirect providers
  .changeset/sharp-pans-poke.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
Labels: desktop

#5635 feat(llm): content card categories in progress
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/src/actions/dynamicContent.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/contentCards/cards/horizontal/elements.tsx
  apps/ledger-live-mobile/src/contentCards/cards/horizontal/index.tsx
  apps/ledger-live-mobile/src/contentCards/cards/utils.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/index.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/pagination/index.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/types.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/utils.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/types.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/utils.tsx
  apps/ledger-live-mobile/src/contentCards/types.ts
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsCategory/Header.tsx
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsCategory/Layout.tsx
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsCategory/index.tsx
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsLocation.tsx
  apps/ledger-live-mobile/src/dynamicContent/dynamicContent.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/dynamicContent/useDynamicContentLogic.ts
  apps/ledger-live-mobile/src/reducers/dynamicContent.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/live-config/src/featureFlags/defaultFeatures.ts
Labels: mobile, ledgerjs

#5702 chore(github PR template): improve example of Jira or Github links
  .github/pull_request_template.md
Labels: automation

#5569 [B2CQA-2076] Detox onboarding flows automation
  apps/ledger-live-mobile/e2e/bridge/client.ts
  apps/ledger-live-mobile/e2e/bridge/server.ts
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/models/DeviceAction.ts
  apps/ledger-live-mobile/e2e/models/devices.ts
  apps/ledger-live-mobile/e2e/models/onboarding/onboardingSteps.ts
  apps/ledger-live-mobile/e2e/setup.ts
  apps/ledger-live-mobile/e2e/specs/addAccounts/bitcoin.spec.ts
  apps/ledger-live-mobile/e2e/specs/delegate/cosmos.spec.ts
  apps/ledger-live-mobile/e2e/specs/manager.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboarding.spec.ts
  apps/ledger-live-mobile/e2e/specs/receive/bitcoin.spec.ts
  apps/ledger-live-mobile/e2e/specs/receive/receiveFlow.spec.ts
  apps/ledger-live-mobile/e2e/specs/send/bitcoin.spec.ts
  apps/ledger-live-mobile/src/screens/Onboarding/OnboardingQuiz.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/OnboardingQuizItem.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/shared/SeedWarning.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/newDeviceInfo.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/drawers/NotCompatibleModal.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/drawers/OnboardingPreQuizModal.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/drawers/RecoveryPhraseWarning.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/drawers/Warning.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/ExistingRecoveryPhrase.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/ExistingRecoveryPhraseStep1.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/ExistingRecoveryPhraseStep2.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/HideRecoveryPhrase.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/Instructions.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/Intro.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/PinCode.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/PinCodeInstructions.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/QuizzFinal.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/RecoveryPhrase.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/RecoveryPhraseInstructions.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/RecoveryPhraseSetup.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/RestoreRecoveryPhrase.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/RestoreRecoveryPhraseStep1.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/useCaseSelection.tsx
  libs/ui/packages/native/src/components/Navigation/SlideIndicator/index.tsx
Labels: mobile, ui

#5669 fix static unbonding periods cosmos
  .changeset/neat-emus-know.md
  apps/ledger-live-desktop/src/renderer/families/cosmos/Delegation/index.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/RedelegationFlowModal/steps/StepStarter.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/families/cosmos/TransactionConfirmFields.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#5703 bugfix: LIVE-10429
  .changeset/curvy-teachers-deny.md
  libs/ledger-live-common/src/currencies/cryptoIcons.test.ts
  libs/ledger-live-common/src/currencies/cryptoIcons.ts
Labels: common

#5691 fix(deposit): fixes currencies ordering of deposit flow
  .changeset/many-toys-know.md
  libs/ledger-live-common/src/deposit/api.ts
  libs/ledger-live-common/src/deposit/deposit.integration.test.ts
  libs/ledger-live-common/src/deposit/deposit.test.ts
  libs/ledger-live-common/src/deposit/helper.ts
  libs/ledger-live-common/src/deposit/type.ts
  libs/ledger-live-common/src/deposit/useGroupedCurrenciesByProvider.hook.ts
Labels: common

#5707 Revert ios platform required to ios 13
  apps/ledger-live-mobile/ios/Podfile
  apps/ledger-live-mobile/ios/Podfile.lock
Labels: mobile

#5616 Update cardano hw-app
  .changeset/poor-bottles-learn.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/cardano/hw-getAddress.ts
  libs/ledger-live-common/src/families/cardano/js-synchronisation.ts
  libs/ledger-live-common/src/families/cardano/logic.ts
  libs/ledger-live-common/src/families/cardano/specs.ts
  libs/ledger-live-common/src/families/cardano/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/cardano/tx-helpers.ts
  pnpm-lock.yaml
Labels: common

#5701 Fix uncaught FirmwareNotRecognized in useAvailableLanguagesForDevice
  .changeset/lemon-students-cheat.md
  .changeset/twelve-nails-dance.md
  apps/ledger-live-desktop/src/sentry/install.ts
  apps/ledger-live-mobile/index.js
  libs/ledger-live-common/src/manager/hooks.ts
Labels: desktop, mobile, common

#5709 [Bugfix] Fix wrong log filtering
  .changeset/sharp-guests-scream.md
  apps/ledger-live-desktop/src/renderer/components/OperationsList/index.tsx
  libs/coin-evm/src/api/explorer/ledger.ts
  libs/coin-evm/src/synchronization.ts
  libs/coin-framework/src/account/serialization.ts
Labels: desktop

#5383 feat(LIVE-9451): use native swap flow on load failure
  .changeset/wise-penguins-complain.md
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/swapWeb/index.tsx
  apps/ledger-live-desktop/tests/models/SwapPage.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
  libs/ledger-live-common/src/exchange/swap/hooks/index.ts
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useIsCurrencySupported.ts
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useIsSwapLiveApp.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useIsSwapLiveApp.ts
Labels: desktop, common

#5680 Bugfix/live 10467 new fw update usb cannot exit
  .changeset/giant-lamps-relax.md
  apps/ledger-live-mobile/src/components/GenericErrorView.tsx
  apps/ledger-live-mobile/src/components/TabBar/TabBarSafeAreaView.tsx
  libs/ledger-live-common/src/deviceSDK/hooks/useBatteryStatuses.test.ts
  libs/ledger-live-common/src/deviceSDK/hooks/useBatteryStatuses.ts
Labels: mobile, common

#5712 (fix) seperate execution and commit steps
  .github/workflows/release-create.yml
Labels: automation

#5652 [BUGIX][LLM][LIVE-8086] add missing i18n for solana
  .changeset/rare-beds-marry.md
  apps/ledger-live-mobile/src/families/solana/Delegations/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#5394 support: add GSWIFT token icon
  .changeset/three-feet-serve.md
  libs/ui/packages/crypto-icons/src/svg/GSWIFT.svg
Labels: ui, fork

#5662 fix(LLM/LLC): Post Onboarding opening once after classic onboarding (LNX))
  .changeset/five-eggs-yell.md
  libs/ledger-live-common/src/postOnboarding/hooks/useStartPostOnboardingCallback.ts
Labels: common

#5697 feat(wallet-api): add new optional fields for polkadot [LIVE-10476]
  .changeset/polite-shrimps-arrive.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/polkadot/walletApiAdapter.ts
  libs/ledger-live-common/src/wallet-api/logic.ts
  libs/ledger-live-common/src/wallet-api/react.ts
  pnpm-lock.yaml
  tests/dummy-wallet-app/package.json
  tests/dummy-wallet-app/src/App.tsx
  tests/dummy-wallet-app/src/index.tsx
Labels: common

#5745 Revert ios version required to 13.0
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
Labels: mobile

#5746 Fix Release ios 13
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
Labels: mobile

#5735 bugfix: LIVE-10633
  .changeset/rude-suits-push.md
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
Labels: mobile

#5741 bugfix: Live 10633
  .changeset/rude-suits-push.md
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
Labels: mobile

#5696 feat(LLM/Deeplinks): Adding Deeplinks support for Storyly in LLM
  .changeset/real-walls-try.md
  apps/ledger-live-mobile/src/components/StorylyStories/StorylyProvider.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ledgerjs/packages/types-live/src/index.ts
  libs/ledgerjs/packages/types-live/src/storyly.ts
  libs/live-config/src/featureFlags/defaultFeatures.ts
Labels: mobile, ledgerjs

#5751 chore: update LLD system requirements
  apps/ledger-live-desktop/README.md
Labels: desktop

#5722 [FEAT][LIVE-10174][LIVE-10173] add sepolia and holesky testnets
  .changeset/neat-actors-camp.md
  .github/workflows/bot-staging-explorer-eth.yml
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/web-tools/live-common-setup.ts
  libs/coin-evm/src/__tests__/unit/editTransaction/__snapshots__/getFormattedFeeFields.test.ts.snap
  libs/coin-evm/src/api/gasTracker/ledger.ts
  libs/coin-evm/src/specs.ts
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/coin-framework/src/mocks/account.ts
  libs/env/src/env.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/11155111/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/11155111/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/11155111/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/index.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
Labels: desktop, mobile, common, ledgerjs, automation, cli

#5734 LLD My Ledger: proper states for custom lock screen + rework file structure/naming & break down big components
  .changeset/slow-dodos-repair.md
  .changeset/tidy-ducks-sparkle.md
  apps/ledger-live-desktop/src/renderer/screens/customImage/Step1ChooseImage.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/Dashboard.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppDepsInstallModal.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppDepsUnInstallModal.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/AppActions.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/AppIcon.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/Filter.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/InstallSuccessBanner.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/Item.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/Placeholder.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/Progress.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/Sort.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/UninstallAllButton.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/UpdateAllApps.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/CustomImageManagerButton.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/DeviceIllustration.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/DeviceLanguage.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/DeviceLanguageInstallation.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/DeviceName.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/EditDeviceName.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/RemoveCustomImage.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/StorageBar.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/StorageInfo.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/ProviderWarning.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
Labels: desktop, mobile, translations

#5752 fix: recover banner display
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioEmptyState.tsx
Labels: mobile

#5757 Fix Release Recover Banner
  .changeset/real-steaks-tan.md
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioEmptyState.tsx
Labels: mobile

#5750 Bugfix/transport trace verbosity
  .changeset/violet-stingrays-begin.md
  libs/ledgerjs/packages/hw-transport-node-hid-singleton/src/TransportNodeHid.ts
  libs/ledgerjs/packages/hw-transport/src/Transport.ts
Labels: ledgerjs

#5738 ci: updated staging explorer url
  .github/workflows/bot-staging-explorer-btc.yml
  .github/workflows/bot-staging-explorer-eth.yml
Labels: automation

#5762 Support/live 10671 readme alignment
  apps/ledger-live-desktop/README.md
  apps/ledger-live-mobile/README.md
Labels: desktop, mobile

#5754 chore: update Lever links
  README.md
  apps/ledger-live-desktop/README.md
  apps/ledger-live-mobile/README.md
  libs/ledger-live-common/README.md
  libs/ledgerjs/README.md
Labels: desktop, mobile, common, ledgerjs

#5759 chore: Update pnpm
  .github/workflows/healthchecks-runners.yaml
  .prototools
  tools/actions/composites/bot/action.yml
  tools/actions/composites/setup-toolchain/action.yml
Labels: tools, automation

#5698 Enable communication with Live Apps through events
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/helpers.ts
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/types.ts
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/types.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/wallet-api/react.ts
  libs/ledger-live-common/src/wallet-api/types.ts
  pnpm-lock.yaml
  tests/.gitignore
  tests/dummy-wallet-app/.eslintrc.cjs
  tests/dummy-wallet-app/README.md
  tests/dummy-wallet-app/index.html
  tests/dummy-wallet-app/manifest.json
  tests/dummy-wallet-app/package.json
  tests/dummy-wallet-app/src/TransportProvider.tsx
  tests/dummy-wallet-app/src/index.tsx
  tests/dummy-wallet-app/src/vite-env.d.ts
  tests/dummy-wallet-app/tsconfig.json
  tests/dummy-wallet-app/tsconfig.node.json
  tests/dummy-wallet-app/vite.config.mts
Labels: desktop, mobile, common

#5766 revert hw-app-update cardano
  .changeset/poor-bottles-learn.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/cardano/hw-getAddress.ts
  libs/ledger-live-common/src/families/cardano/js-synchronisation.ts
  libs/ledger-live-common/src/families/cardano/logic.ts
  libs/ledger-live-common/src/families/cardano/specs.ts
  libs/ledger-live-common/src/families/cardano/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/cardano/tx-helpers.ts
  pnpm-lock.yaml
Labels: common

#5769 chore(readme): file structure section update and typos
  apps/ledger-live-desktop/README.md
Labels: desktop

#5708 [B2CQA-2093] LLM E2E : improve Send & Receive tests
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/models/common.ts
  apps/ledger-live-mobile/e2e/models/send.ts
  apps/ledger-live-mobile/e2e/models/trade/operationDetailsPage.ts
  apps/ledger-live-mobile/e2e/models/trade/receivePage.ts
  apps/ledger-live-mobile/e2e/models/trade/sendPage.ts
  apps/ledger-live-mobile/e2e/models/trade/stakePage.ts
  apps/ledger-live-mobile/e2e/models/wallet/portfolioPage.ts
  apps/ledger-live-mobile/e2e/specs/delegate/cosmos.spec.ts
  apps/ledger-live-mobile/e2e/specs/receive/bitcoin.spec.ts
  apps/ledger-live-mobile/e2e/specs/receive/currencies.spec.ts
  apps/ledger-live-mobile/e2e/specs/receive/receiveFlow.spec.ts
  apps/ledger-live-mobile/e2e/specs/send/bitcoin.spec.ts
  apps/ledger-live-mobile/e2e/specs/send/currencies.spec.ts
  apps/ledger-live-mobile/src/components/BigCurrencyRow.tsx
  apps/ledger-live-mobile/src/components/OperationRow/index.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/TabBar/Transfer.tsx
  apps/ledger-live-mobile/src/screens/OperationDetails/Content.tsx
  apps/ledger-live-mobile/src/screens/OperationDetails/Section.tsx
  apps/ledger-live-mobile/src/screens/OperationDetails/Title.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/SummaryAmountSection.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/OperationsHistory.tsx
Labels: mobile

#5747 fix: fix exchange funds
  .changeset/ten-pianos-sip.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  libs/ledger-live-common/src/exchange/platform/transfer/completeExchange.ts
Labels: desktop, common

#5688 Update mobile README
  apps/ledger-live-mobile/README.md
Labels: mobile

#5480 [B2CQA-1752][B2CQA-364] Detox Buy Nano tests
  apps/ledger-live-mobile/.env.mock
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/models/discover/getDevicePage.ts
  apps/ledger-live-mobile/e2e/models/market/marketPage.ts
  apps/ledger-live-mobile/e2e/models/onboarding/onboardingSteps.ts
  apps/ledger-live-mobile/e2e/models/wallet/portfolioPage.ts
  apps/ledger-live-mobile/e2e/specs/market.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboardingReadOnly.spec.ts
  apps/ledger-live-mobile/src/screens/GetDeviceScreen.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/NoLedgerYetModal.tsx
Labels: mobile

#5772 fix(LLM): chunk the preloaded data in the mobile app to support Android limits of 2MB per sqlite window cursor
  .changeset/healthy-windows-perform.md
  apps/ledger-live-mobile/src/bridge/cache.ts
Labels: mobile

#5761 Bugfix/live 10608 account wallet parameter not passed to dapp
  .changeset/brown-seas-admire.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
Labels: desktop

#5767 LLD - Carousel visibility handled individually
  .changeset/friendly-ravens-film.md
  apps/ledger-live-desktop/src/renderer/actions/application.ts
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/components/Carousel/helpers.tsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/index.tsx
  apps/ledger-live-desktop/src/renderer/reducers/application.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/CarouselVisibility.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/models/PortfolioPage.ts
  apps/ledger-live-desktop/tests/models/SettingsPage.ts
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/collapse-sidebar-darwin.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/collapse-sidebar-linux.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/collapse-sidebar-win32.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/discreet-mode-darwin.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/discreet-mode-linux.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/discreet-mode-win32.png
  apps/ledger-live-desktop/tests/specs/general/portfolio.spec.ts-snapshots/portfolio-darwin.png
  apps/ledger-live-desktop/tests/specs/general/portfolio.spec.ts-snapshots/portfolio-linux.png
  apps/ledger-live-desktop/tests/specs/general/portfolio.spec.ts-snapshots/portfolio-win32.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-error-with-carousel-darwin.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-error-with-carousel-linux.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-error-with-carousel-win32.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-idle-darwin.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-idle-linux.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-idle-win32.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-layout-darwin.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-layout-linux.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-layout-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-003-postonboarding-banner-in-dashboard-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-003-postonboarding-banner-in-dashboard-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-003-postonboarding-banner-in-dashboard-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-007-postonboarding-done-no-banner-in-dashboard-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-007-postonboarding-done-no-banner-in-dashboard-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-007-postonboarding-done-no-banner-in-dashboard-win32.png
  apps/ledger-live-desktop/tests/userdata/1AccountBTC1AccountETH.json
  apps/ledger-live-desktop/tests/userdata/1AccountBTC1AccountETHStarred.json
  apps/ledger-live-desktop/tests/userdata/1AccountBTC1AccountETHwCarousel.json
  apps/ledger-live-desktop/tests/userdata/2_accounts_eth_with_tokens_and_nft.json
  apps/ledger-live-desktop/tests/userdata/accountCosmos.json
  apps/ledger-live-desktop/tests/userdata/accountCosmos2.json
  apps/ledger-live-desktop/tests/userdata/cosmosStakingAccounts.json
  apps/ledger-live-desktop/tests/userdata/skip-onboarding-with-bad-account-data.json
  apps/ledger-live-desktop/tests/userdata/skip-onboarding-with-terms.json
  apps/ledger-live-desktop/tests/userdata/skip-onboarding.json
  apps/ledger-live-mobile/e2e/setups/1Account1NFT.json
  apps/ledger-live-mobile/e2e/setups/1Account1NFTReadOnlyFalse.json
  apps/ledger-live-mobile/e2e/setups/1AccountBTC1AccountETH.json
  apps/ledger-live-mobile/e2e/setups/1AccountBTC1AccountETHReadOnlyFalse.json
  apps/ledger-live-mobile/e2e/setups/1accountEth.json
  apps/ledger-live-mobile/e2e/setups/2_accounts_eth_with_tokens_and_nft.json
  apps/ledger-live-mobile/e2e/setups/EthAccountXrpAccountReadOnlyFalse.json
  apps/ledger-live-mobile/e2e/setups/freshApp.json
  apps/ledger-live-mobile/e2e/setups/onboardingcompleted.json
  apps/ledger-live-mobile/src/actions/types.ts
Labels: desktop, mobile, translations, screenshots

#5781 Bugfix/live 10341 LLD polish of "locked device" device action state
  .changeset/ten-olives-worry.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/ErrorBody.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/DeviceNotGenuineDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/ErrorDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/ExitChecksDrawer.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/errors/Cancel.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#5788 (chore) remove cal-importer.yml
  .github/workflows/cal-importer-stg.yml
  .github/workflows/cal-importer.yml
Labels: automation

#5793 chore: fix lint.json file not created when replaying outputs with turbo
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile.yml
  turbo.json
Labels: automation

#5790 [BUGFIX][LIVE-10725] infinite rerender on live apps sign eth tx summary
  .changeset/bright-insects-allow.md
  apps/ledger-live-mobile/src/families/evm/EvmFeesStrategy.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/04-Summary.tsx
Labels: mobile

#5789 [BUGFIX][LIVE-10725] infinite rerender on live apps sign eth tx summary - release
  .changeset/bright-insects-allow.md
  apps/ledger-live-mobile/src/families/evm/EvmFeesStrategy.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/04-Summary.tsx
Labels: mobile

#5775 [near] cache getValidator and getCommission
  .changeset/smart-snails-leave.md
  libs/ledger-live-common/src/families/near/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/near/api/archive-node-sdk.ts
Labels: common

#5699 Feat/llm flexible content cards
  apps/ledger-live-mobile/.unimportedrc.json
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/src/actions/dynamicContent.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/Carousel/CarouselCard.tsx
  apps/ledger-live-mobile/src/components/Carousel/index.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ExploreTabNavigator.tsx
  apps/ledger-live-mobile/src/contentCards/cards/horizontal/elements.tsx
  apps/ledger-live-mobile/src/contentCards/cards/horizontal/index.tsx
  apps/ledger-live-mobile/src/contentCards/cards/types.tsx
  apps/ledger-live-mobile/src/contentCards/cards/utils.tsx
  apps/ledger-live-mobile/src/contentCards/cards/vertical/elements.tsx
  apps/ledger-live-mobile/src/contentCards/cards/vertical/index.tsx
  apps/ledger-live-mobile/src/contentCards/cards/vertical/types.ts
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/index.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/pagination/bullets.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/pagination/index.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/pagination/types.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/pagination/utils.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/types.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/utils.tsx
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsCategory/Header.tsx
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsCategory/Layout.tsx
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsCategory/index.tsx
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsLocation.tsx
  apps/ledger-live-mobile/src/dynamicContent/dynamicContent.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/dynamicContent/useDynamicContent.tsx
  apps/ledger-live-mobile/src/dynamicContent/useDynamicContentLogic.ts
  apps/ledger-live-mobile/src/dynamicContent/utils.tsx
  apps/ledger-live-mobile/src/reducers/dynamicContent.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Discover/index.tsx
  apps/ledger-live-mobile/src/screens/Learn/learn.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/Notifications.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioEmptyState.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AssetDynamicContent.tsx
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/live-config/src/featureFlags/defaultFeatures.ts
Labels: mobile, ledgerjs

#5642 [LIVE-10137] [CI] - [Github Actions] - Improve clarity of run actions
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile-e2e.yml
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/scripts/ci-lint.mjs
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/scripts/e2e-ci.mjs
Labels: desktop, mobile, automation

#5779 feat(protect-2863): add icon to connect device on recover flow
  .changeset/three-candles-drop.md
  apps/ledger-live-desktop/src/renderer/components/RecoverRestore/index.tsx
  apps/ledger-live-desktop/src/renderer/images/connect-device.svg
Labels: desktop
