Repository LedgerHQ/ledger-live, pull requests merged in 2023-04, with the labels that each got.

#3129 fix: navigation.pop in DeviceConnect
  .changeset/smart-ligers-own.md
  apps/ledger-live-mobile/src/screens/DeviceConnect/index.tsx
Labels: mobile

#3120 feat: change navigation on discovery v2 search page
  .changeset/empty-balloons-tease.md
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Search/SearchBar.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Search/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/index.tsx
Labels: mobile

#3130 fix: "back to Buy/Sell" button should not be displayed because of an internal iframe navigation
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/helpers.ts
Labels: desktop

#3059 [LIVE-5076][LIVE-5081][LIVE-5083] Feature - Domain Support in signTransaction
  .changeset/eleven-dingos-report.md
  .changeset/stupid-cameras-buy.md
  .changeset/tricky-actors-divide.md
  apps/ledger-live-desktop/jest.config.js
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.react.test.tsx
  libs/domain-service/jest.config.js
  libs/domain-service/package.json
  libs/domain-service/src/__tests__/functional/domain-service.react.test.tsx
  libs/domain-service/src/__tests__/tsconfig.json
  libs/domain-service/src/__tests__/unit/resolvers.unit.test.ts
  libs/domain-service/src/__tests__/unit/signers.unit.test.ts
  libs/domain-service/src/__tests__/unit/utils.unit.test.ts
  libs/domain-service/src/index.ts
  libs/domain-service/src/registries/index.ts
  libs/domain-service/src/resolvers/index.ts
  libs/domain-service/src/signers/index.ts
  libs/domain-service/src/tools/index.ts
  libs/domain-service/src/utils/index.ts
  libs/domain-service/tsconfig.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/api/Ethereum.ts
  libs/ledger-live-common/src/families/ethereum/__tests__/modules/send.unit.test.ts
  libs/ledger-live-common/src/families/ethereum/modules/compound.ts
  libs/ledger-live-common/src/families/ethereum/modules/send.ts
  libs/ledger-live-common/src/families/ethereum/signOperation.ts
  libs/ledger-live-common/src/families/evm/__tests__/deviceTransactionConfig.unit.test.ts
  libs/ledger-live-common/src/families/evm/deviceTransactionConfig.ts
  libs/ledger-live-common/src/families/evm/signOperation.ts
  libs/ledgerjs/packages/hw-app-eth/README.md
  libs/ledgerjs/packages/hw-app-eth/package.json
  libs/ledgerjs/packages/hw-app-eth/src/Eth.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/Domains/index.ts
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/index.ts
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/loadConfig.ts
  libs/ledgerjs/packages/hw-app-eth/src/services/types.ts
  libs/ledgerjs/packages/hw-app-eth/src/utils.ts
  libs/ledgerjs/packages/hw-app-eth/tests/Eth.integration.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/ledgerService.unit.test.ts
  libs/ledgerjs/packages/types-live/src/domain.ts
  pnpm-lock.yaml
  tools/common-tools/config-overrides.js
  tools/common-tools/package.json
  tools/common-tools/src/demos/domainTLV/index.js
  tools/common-tools/src/demos/index.js
Labels: desktop, common, ledgerjs, tools

#3116 feat/live 5094 exchange wallet api backport
  .changeset/lovely-pandas-eat.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-mobile/src/experimental.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/wallet-api/logic.ts
  libs/ledger-live-common/src/wallet-api/react.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, translations

#3098 Proto toolchain manager
  .github/workflows/backup/version-or-release.yml
  .github/workflows/bot-portfolio-report.yml
  .github/workflows/bot-super-report-custom.yml
  .github/workflows/bot-super-report.yml
  .github/workflows/bot-transfer.yml
  .github/workflows/build-desktop-external.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile-external.yml
  .github/workflows/build-mobile.yml
  .github/workflows/cal-importer.yml
  .github/workflows/commitlint.yml
  .github/workflows/healthchecks-runners.yaml
  .github/workflows/regen-doc.yml
  .github/workflows/regen-pods.yml
  .github/workflows/release-create-hotfix.yml
  .github/workflows/release-create.yml
  .github/workflows/release-final-nightly.yml
  .github/workflows/release-final.yml
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release-prerelease.yml
  .github/workflows/test-integration-pr.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-mobile-e2e.yml
  .github/workflows/test-mobile.yml
  .github/workflows/test.yml
  .prototools
  README.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  libs/ledger-live-common/package.json
  libs/ui/packages/native/src/components/Layout/Modals/BaseModal/index.tsx
  package.json
  pnpm-lock.yaml
  tools/actions/composites/bot/action.yml
  tools/actions/composites/setup-build-desktop/action.yml
  tools/actions/composites/setup-test-desktop/action.yml
  tools/actions/composites/setup-toolchain/action.yml
Labels: desktop, mobile, common, ui, tools, automation

#3137 Relocate pnpm install dest for macos runners
  .github/workflows/build-desktop.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile-e2e.yml
  package.json
  tools/actions/composites/setup-test-desktop/action.yml
  tools/actions/composites/setup-toolchain/action.yml
Labels: tools, automation

#2825 [B2CQA-1522] First LLM smoke tests for deeplinks
  apps/ledger-live-mobile/.env.mock
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/models/accounts/accountPage.ts
  apps/ledger-live-mobile/e2e/models/accounts/accountsPage.ts
  apps/ledger-live-mobile/e2e/models/discovery/discoveryPage.ts
  apps/ledger-live-mobile/e2e/models/manager/managerPage.ts
  apps/ledger-live-mobile/e2e/models/stax/customLockscreenPage.ts
  apps/ledger-live-mobile/e2e/models/trade/receivePage.ts
  apps/ledger-live-mobile/e2e/models/trade/sendPage.ts
  apps/ledger-live-mobile/e2e/models/trade/swapFormPage.ts
  apps/ledger-live-mobile/e2e/models/wallet/portfolioPage.ts
  apps/ledger-live-mobile/e2e/specs/deeplinks.spec.ts
  apps/ledger-live-mobile/src/components/FilteredSearchBar.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SendFundsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SwapFormNavigator.tsx
  apps/ledger-live-mobile/src/components/StepHeader.tsx
  apps/ledger-live-mobile/src/screens/Accounts/index.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step0Welcome.tsx
  apps/ledger-live-mobile/src/screens/Manager/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/deviceSelection.tsx
  apps/ledger-live-mobile/src/screens/Platform/Catalog/Banner.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/Header.tsx
Labels: mobile

#3144 Bugfix/llm bad lottie import
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
Labels: mobile

#3091 LLD - Portfolio Content Card
  apps/ledger-live-desktop/src/renderer/actions/dynamicContent.ts
  apps/ledger-live-desktop/src/renderer/components/Carousel/Slide.tsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/BackupPack/images/bg.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/BackupPack/images/nanos.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/BackupPack/images/nanox.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/BuyCrypto/images/bg.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/BuyCrypto/images/cart.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/BuyCrypto/images/coin.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/BuyCrypto/images/coin2.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/BuyCrypto/images/coin3.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/LedgerAcademy/images/bg.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/LedgerAcademy/images/card.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/LedgerAcademy/images/coin.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/LedgerAcademy/images/coin2.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/LedgerAcademy/images/hat.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/LedgerAcademy/images/nano.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/Swap/images/bg.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/Swap/images/coin1.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/Swap/images/coin2.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/Swap/images/loop.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/Swap/images/smallcoin1.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/Swap/images/smallcoin2.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/Swap/images/smallcoin3.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/helpers.tsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useBraze.ts
  apps/ledger-live-desktop/src/renderer/reducers/dynamicContent.ts
  apps/ledger-live-desktop/src/renderer/reducers/index.ts
  apps/ledger-live-desktop/src/types/dynamicContent.ts
  apps/ledger-live-mobile/src/dynamicContent/dynamicContent.tsx
  apps/ledger-live-mobile/src/dynamicContent/useDynamicContentLogic.ts
  pnpm-lock.yaml
Labels: desktop, mobile

#3139 feat: update recover discover modal
  .changeset/dirty-taxis-cry.md
  .changeset/funny-suns-float.md
  .changeset/healthy-fans-judge.md
  .changeset/rotten-shirts-grow.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Modal/index.tsx
  apps/ledger-live-desktop/src/renderer/icons/Portfolio.tsx
  apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/ProtectDiscoverBody.tsx
  apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/images/QRcode_LLM.png
  apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/images/background.png
  apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/images/get_it_on_apple_store.png
  apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/images/get_it_on_google_play.png
  apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/images/ledger_recover.png
  apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/index.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-complete-win32.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/discreet-mode-win32.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-idle-win32.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-layout-win32.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-installed-apps-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-installed-apps-linux.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-installed-apps-win32.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-uninstall-tron-linux.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-uninstall-tron-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-7d-range-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-7d-range-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-7d-range-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-btc-star-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-btc-star-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-btc-star-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-no-scrollbar-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-no-scrollbar-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-no-scrollbar-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-thb-countervalue-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-thb-countervalue-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-thb-countervalue-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-list-currencies-darwin.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-list-currencies-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-list-currencies-win32.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/market-loaded-with-eth-stake-button-available-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/portfolio-entry-buttons-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/portfolio-entry-buttons-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/portfolio-entry-buttons-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/max-spendable-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/max-spendable-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/max-spendable-swap-win32.png
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/react/src/components/Tag/index.tsx
Labels: desktop, common, ui, ledgerjs, translations, screenshots

#2972 Feat/LIVE-5847 - Recover - LLD onboarding recover modal helper
  .changeset/moody-rabbits-doubt.md
  apps/ledger-live-desktop/src/config/urls.js
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/RecoverHowTo.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#3076 B2CQA-1729 - Fixed inconsistent Loading Spinner data-test-ids
  apps/ledger-live-desktop/src/renderer/components/BigSpinner.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/tests/models/DiscoverPage.ts
  apps/ledger-live-desktop/tests/models/Layout.ts
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts
  apps/ledger-live-desktop/tests/specs/general/stability.spec.ts
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
  apps/ledger-live-mobile/ios/Podfile.lock
Labels: desktop, mobile

#3158 Revert "style(ui:shared): update colors (#3065)"
  .changeset/bright-planets-rush.md
  .changeset/chilled-beds-relate.md
  .changeset/shaggy-donkeys-cry.md
  apps/ledger-live-desktop/src/renderer/components/ModalQuizz/ModalQuizz.tsx
  libs/ui/packages/native/src/styles/helpers.ts
  libs/ui/packages/native/storybook/stories/Particles/Colors.stories.tsx
  libs/ui/packages/react/src/styles/helpers.ts
  libs/ui/packages/react/src/styles/palettes/colors.stories.tsx
  libs/ui/packages/shared/palettes/dark.ts
  libs/ui/packages/shared/palettes/light.ts
Labels: desktop, ui

#2861 feat: add wallet api storage support
  .changeset/strange-bears-complain.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/main/db/index.ts
  apps/ledger-live-desktop/src/main/index.ts
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveStakingFlow.tsx
  apps/ledger-live-desktop/src/renderer/reset.ts
  apps/ledger-live-desktop/src/renderer/store.js
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/android/gradle.properties
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/Web3AppWebview/WalletAPIWebview.tsx
  libs/ledger-live-common/src/wallet-api/react.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common

#2950 LIVE-6665 Fix cosmos gas estimation
  .changeset/gorgeous-swans-fetch.md
  libs/env/src/env.ts
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.test.ts
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.ts
  libs/ledger-live-common/src/families/cosmos/chain/Osmosis.ts
  libs/ledger-live-common/src/families/cosmos/chain/cosmosBase.ts
  libs/ledger-live-common/src/families/cosmos/js-buildTransaction.test.ts
  libs/ledger-live-common/src/families/cosmos/js-buildTransaction.ts
  libs/ledger-live-common/src/families/cosmos/js-prepareTransaction.test.ts
  libs/ledger-live-common/src/families/cosmos/js-prepareTransaction.ts
Labels: common

#3138 chore(llm): solana store publishing
  .github/workflows/release-prerelease.yml
  apps/ledger-live-mobile/android/dapp-store/.asset-manifest-devnet.json
  apps/ledger-live-mobile/android/dapp-store/.asset-manifest.json
  apps/ledger-live-mobile/android/dapp-store/config.yaml
  apps/ledger-live-mobile/android/dapp-store/media/playstore-icon.png
  apps/ledger-live-mobile/android/dapp-store/media/splash.webp
  apps/ledger-live-mobile/fastlane/Fastfile
  apps/ledger-live-mobile/package.json
Labels: mobile, automation

#3141 feat(Braze): LLD notifications content cards
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/actions/dynamicContent.ts
  apps/ledger-live-desktop/src/renderer/components/Carousel/Slide.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/AnnouncementPanel.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/InformationDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/ServiceStatusPanel.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useBraze.ts
  apps/ledger-live-desktop/src/renderer/hooks/useNotifications.ts
  apps/ledger-live-desktop/src/renderer/reducers/dynamicContent.ts
  apps/ledger-live-desktop/src/types/dynamicContent.ts
Labels: desktop

#3145 chore: LLM unimported check
  .github/workflows/test-mobile.yml
  apps/ledger-live-mobile/.unimportedrc.json
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/scripts/sync-families-dispatch.mjs
  apps/ledger-live-mobile/src/components/RootNavigator/types/MigrateAccountsFlowNavigator.ts
  apps/ledger-live-mobile/src/components/Rounded.tsx
  apps/ledger-live-mobile/src/components/RoundedCurrencyIcon.tsx
  apps/ledger-live-mobile/src/components/WebFlowPlayer/index.tsx
  apps/ledger-live-mobile/src/icons/Alert.tsx
  apps/ledger-live-mobile/src/icons/LinkedIcons.tsx
  apps/ledger-live-mobile/src/icons/SettingsIcon.tsx
  apps/ledger-live-mobile/src/icons/Update.tsx
  apps/ledger-live-mobile/src/types/protect.ts
  pnpm-lock.yaml
Labels: mobile, automation

#2970 LLD - Braze integration
  .changeset/curly-spiders-pump.md
  .changeset/tender-pandas-look.md
  .changeset/two-jobs-smile.md
  apps/ledger-live-desktop/.env.production
  apps/ledger-live-desktop/.env.staging
  apps/ledger-live-desktop/.env.testing
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/braze-setup.ts
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/App.tsx
  apps/ledger-live-desktop/src/renderer/actions/dynamicContent.ts
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/components/Carousel/Slide.tsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/BackupPack/images/bg.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/BackupPack/images/nanos.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/BackupPack/images/nanox.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/LedgerAcademy/images/bg.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/LedgerAcademy/images/card.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/LedgerAcademy/images/coin.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/LedgerAcademy/images/coin2.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/LedgerAcademy/images/hat.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/LedgerAcademy/images/nano.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/helpers.tsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/index.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/AnnouncementPanel.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/InformationDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/ServiceStatusPanel.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useBraze.ts
  apps/ledger-live-desktop/src/renderer/hooks/useNotifications.ts
  apps/ledger-live-desktop/src/renderer/reducers/dynamicContent.ts
  apps/ledger-live-desktop/src/renderer/reducers/index.ts
  apps/ledger-live-desktop/src/types/dynamicContent.ts
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-app-catalog-w-l10n-linux.png
  apps/ledger-live-desktop/tools/utils/index.js
  apps/ledger-live-mobile/src/dynamicContent/dynamicContent.tsx
  apps/ledger-live-mobile/src/dynamicContent/useDynamicContentLogic.ts
  pnpm-lock.yaml
Labels: desktop, mobile, screenshots

#3164 LIVE-6973 Allow to display fees in token unit
  .changeset/lucky-colts-hide.md
  apps/ledger-live-desktop/src/renderer/components/SelectFeeStrategy.tsx
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/AccountFooter.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepSummary.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/SelectFeesStrategy.tsx
  apps/ledger-live-mobile/src/components/ValidateOnDevice.tsx
  apps/ledger-live-mobile/src/screens/OperationDetails/Content.tsx
  libs/coin-framework/src/account/helpers.test.ts
  libs/coin-framework/src/account/helpers.ts
  libs/ledger-live-common/src/account/helpers.ts
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/account.ts
Labels: desktop, mobile, common, ledgerjs

#3174 [support] Remove dead code of legacy coin family 'neo'
  .changeset/chatty-humans-search.md
  libs/coin-framework/src/mocks/account.ts
  libs/ledger-live-common/src/families/neo/bridge/js.ts
  libs/ledger-live-common/src/families/neo/hw-app-neo/crypto.ts
  libs/ledger-live-common/src/families/neo/hw-app-neo/index.ts
  libs/ledger-live-common/src/families/neo/hw-getAddress.ts
  libs/ledger-live-common/src/families/neo/transaction.ts
  libs/ledger-live-common/src/families/neo/types.ts
  libs/ledger-live-common/src/generated/bridge/js.ts
  libs/ledger-live-common/src/generated/hw-getAddress.ts
  libs/ledger-live-common/src/generated/transaction.ts
  libs/ledger-live-common/src/generated/types.ts
Labels: common

#3094 LIVE-5809 Drop tron staking
  .changeset/forty-trainers-attack.md
  .changeset/ninety-cows-stare.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/families/tron/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/tron/AccountSubHeader.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/ClaimRewards/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/ClaimRewards/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/ClaimRewards/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/ClaimRewards/steps/StepRewards.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/ClaimRewards/types.ts
  apps/ledger-live-desktop/src/renderer/families/tron/EarnRewardsInfoModal.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Freeze/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Freeze/fields/AmountField.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Freeze/fields/ResourceField.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Freeze/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Freeze/steps/StepAmount.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Freeze/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Freeze/types.ts
  apps/ledger-live-desktop/src/renderer/families/tron/ManageTron/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Unfreeze/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Unfreeze/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Unfreeze/steps/StepAmount.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Unfreeze/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Unfreeze/types.ts
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/Info/Body/Footer.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/Info/Body/Main.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/Info/Body/SRInfoPopover.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/Info/Body/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/Info/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/Info/shared.ts
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/fields/VotesField.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/steps/StepVote.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/types.ts
  apps/ledger-live-desktop/src/renderer/families/tron/Votes/Footer.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Votes/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/modals.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/.unimportedrc.json
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/families/tron/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-mobile/src/families/tron/IlluVotes.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/01-SelectValidator/Footer.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/01-SelectValidator/Item.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/01-SelectValidator/index.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/02-VoteCast.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/02-VoteModal.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/02-VoteRow.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/04-ValidationError.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/04-ValidationSuccess.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/Started.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/index.tsx
  apps/ledger-live-mobile/src/families/tron/Votes/Header.tsx
  apps/ledger-live-mobile/src/families/tron/Votes/index.tsx
  apps/ledger-live-mobile/src/families/tron/accountActions.tsx
  apps/ledger-live-mobile/src/icons/Medal.tsx
  apps/ledger-live-mobile/src/icons/Trophy.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#3173 chore: fix windows install failing in CI
  .github/workflows/build-desktop-external.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-integration-pr.yml
  .github/workflows/test-integration.yml
  .npmrc
  tools/actions/composites/setup-test-desktop/action.yml
  tools/actions/composites/setup-toolchain/action.yml
Labels: tools, automation

#3161 fix: correctly trigger software checks during sync onboarding
  .changeset/rude-guests-drum.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
Labels: desktop, mobile

#3177 LIVE-5809 Drop tron staking merge to release
  .changeset/forty-trainers-attack.md
  .changeset/ninety-cows-stare.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/families/tron/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/tron/AccountSubHeader.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/ClaimRewards/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/ClaimRewards/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/ClaimRewards/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/ClaimRewards/steps/StepRewards.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/ClaimRewards/types.ts
  apps/ledger-live-desktop/src/renderer/families/tron/EarnRewardsInfoModal.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Freeze/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Freeze/fields/AmountField.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Freeze/fields/ResourceField.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Freeze/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Freeze/steps/StepAmount.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Freeze/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Freeze/types.ts
  apps/ledger-live-desktop/src/renderer/families/tron/ManageTron/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Unfreeze/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Unfreeze/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Unfreeze/steps/StepAmount.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Unfreeze/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Unfreeze/types.ts
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/Info/Body/Footer.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/Info/Body/Main.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/Info/Body/SRInfoPopover.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/Info/Body/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/Info/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/Info/shared.ts
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/fields/VotesField.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/steps/StepVote.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/VoteTron/types.ts
  apps/ledger-live-desktop/src/renderer/families/tron/Votes/Footer.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Votes/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/modals.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/.unimportedrc.json
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/families/tron/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-mobile/src/families/tron/IlluVotes.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/01-SelectValidator/Footer.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/01-SelectValidator/Item.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/01-SelectValidator/index.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/02-VoteCast.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/02-VoteModal.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/02-VoteRow.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/04-ValidationError.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/04-ValidationSuccess.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/Started.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/index.tsx
  apps/ledger-live-mobile/src/families/tron/Votes/Header.tsx
  apps/ledger-live-mobile/src/families/tron/Votes/index.tsx
  apps/ledger-live-mobile/src/families/tron/accountActions.tsx
  apps/ledger-live-mobile/src/icons/Medal.tsx
  apps/ledger-live-mobile/src/icons/Trophy.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations, cli

#3181 ci(Fastfile): fix syntax error
  apps/ledger-live-mobile/fastlane/Fastfile
Labels: mobile

#3180 fix: not enough fees for osmosis staking
  .changeset/curvy-wombats-guess.md
  libs/ledger-live-common/src/families/cosmos/js-prepareTransaction.test.ts
  libs/ledger-live-common/src/families/cosmos/js-prepareTransaction.ts
Labels: common

#3040 Feat/llm/add stake flow to asset page
  .changeset/ten-olives-reply.md
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/components/Stake/index.tsx
Labels: mobile, Stale

#3182 feat(llc): bump wallet-api deps
  .changeset/brave-hats-think.md
  apps/ledger-live-desktop/tests/utils/dummy-wallet-app/package.json
  apps/ledger-live-mobile/ios/Podfile.lock
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: desktop, mobile, common

#3185 B2CQ-1737 - Dummy Buy app and tests
  apps/ledger-live-desktop/src/renderer/screens/account/AccountActionsDefault.tsx
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.tsx
  apps/ledger-live-desktop/tests/models/AccountPage.ts
  apps/ledger-live-desktop/tests/models/AssetPage.ts
  apps/ledger-live-desktop/tests/models/DiscoverPage.ts
  apps/ledger-live-desktop/tests/models/SettingsPage.ts
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts-snapshots/buy-app-opened-darwin.png
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts-snapshots/buy-app-opened-linux.png
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts-snapshots/buy-app-opened-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts
  apps/ledger-live-desktop/tests/utils/dummy-ptx-app/README.md
  apps/ledger-live-desktop/tests/utils/dummy-ptx-app/public/index.html
  apps/ledger-live-desktop/tests/utils/dummy-ptx-app/public/ledger-logo.png
  apps/ledger-live-desktop/tests/utils/serve-dummy-app.ts
  pnpm-lock.yaml
Labels: desktop, screenshots

#3199 test(detox): fix deeplink tests
  apps/ledger-live-mobile/e2e/bridge/client.ts
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/CheckTermOfUseUpdate.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/logic/terms.tsx
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Onboarding/steps/terms.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/TermsOfUse.tsx
Labels: mobile

#3165 bugfix/LIVE-6999 Link to correct support article if available in My Ledger
  .changeset/orange-walls-promise.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/screens/manager/AppsList/AppActions.tsx
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/screens/Manager/Modals/InstalledAppModal.tsx
Labels: desktop, mobile

#3163 bugfix/LIVE-5912 UI fix for the Retry CTA on locked device errors
  .changeset/heavy-bananas-wash.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
Labels: desktop

#3169 bugfix/LIVE-7007 Dynamic max device name length depending on model/fw
  .changeset/new-dogs-visit.md
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/DeviceName.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/EditDeviceName.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseOnboardingNavigator.ts
  apps/ledger-live-mobile/src/screens/EditDeviceName.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceName.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/index.tsx
  libs/ledger-live-common/src/hw/editDeviceName.ts
  libs/ledger-live-common/src/hw/getDeviceNameMaxLength.test.ts
  libs/ledger-live-common/src/hw/getDeviceNameMaxLength.ts
Labels: desktop, mobile, common

#3196 Bugfix/lld/remove extra data track
  .changeset/fresh-penguins-refuse.md
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/families/tron/StepReceiveFunds.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveFunds.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveStakingFlow.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FromRow.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/TargetAccountDrawer/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/stake/index.tsx
Labels: desktop

#3115 [LIVE-6451] Bugfix - Adjust iOS universal links not working
  .changeset/short-dogs-decide.md
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.m
  apps/ledger-live-mobile/ios/ledgerlivemobile/ledgerlivemobile.entitlements
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDeviceItem.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicesScanning.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/index.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/deviceSelection.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Configuration/ResetOnboardingStateRow.tsx
Labels: mobile

#3187 fix: llm - fixes error messaging for CEX swap providers
  .changeset/twenty-beans-itch.md
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.test.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
Labels: mobile, common

#3184 add VERSE token icon
  .changeset/sweet-otters-pretend.md
  libs/ledger-live-common/src/data/icons/svg/VERSE.svg
Labels: common, fork

#3203 LLM [LIVE-7091] fix LLM sync-onboarding close button behavior
  .changeset/fifty-oranges-help.md
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
Labels: mobile

#3044 Add Polkadot unit test for transaction building
  libs/coin-polkadot/src/js-buildTransaction.test.ts
Labels: Stale

#3223 LIVE-4440: Btc integration test
  .changeset/bright-rabbits-decide.md
  libs/ledger-live-common/src/families/bitcoin/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/bitcoin/datasets/bitcoin_cash.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/bitcoin_gold.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/dash.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/decred.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/digibyte.scanAccounts.1.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/dogecoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/komodo.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/litecoin.scanAccounts.1.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/peercoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/pivx.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/qtum.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/vertcoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/viacoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/zcash.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/zencash.ts
Labels: common

#3221 feat: add stake account deeplink LIVE-6917
  .changeset/modern-fans-switch.md
  apps/ledger-live-desktop/src/renderer/screens/earn/useDeepLinkListener.ts
Labels: desktop

#3041 LLD - address param added to accounts deeplink
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.ts
Labels: desktop

#3218 Live-7097: Deflakify Cosmos Tests
  apps/ledger-live-desktop/src/renderer/modals/NoFundsStake/index.tsx
  apps/ledger-live-desktop/tests/specs/services/cosmosStaking.spec.ts
  apps/ledger-live-desktop/tests/specs/services/cosmosStaking.spec.ts-snapshots/delegate-cosmos-account-modal-win32.png
  apps/ledger-live-desktop/tests/specs/services/cosmosStaking.spec.ts-snapshots/delegate-cosmos-banner-win32.png
  apps/ledger-live-desktop/tests/specs/services/cosmosStaking.spec.ts-snapshots/earn-delegate-staking-cosmos-account-modal-win32.png
  apps/ledger-live-desktop/tests/specs/services/cosmosStaking.spec.ts-snapshots/earn-redelegate-staking-cosmos-account-modal-win32.png
  apps/ledger-live-desktop/tests/specs/services/cosmosStaking.spec.ts-snapshots/no-funds-cosmos-account-page-win32.png
  apps/ledger-live-desktop/tests/specs/services/cosmosStaking.spec.ts-snapshots/non-funds-cosmos-account-modal-win32.png
  apps/ledger-live-desktop/tests/specs/services/cosmosStaking.spec.ts-snapshots/redelegate-cosmos-account-modal-darwin.png
  apps/ledger-live-desktop/tests/specs/services/cosmosStaking.spec.ts-snapshots/redelegate-cosmos-account-modal-linux.png
  apps/ledger-live-desktop/tests/specs/services/cosmosStaking.spec.ts-snapshots/redelegate-cosmos-banner-win32.png
  apps/ledger-live-desktop/tests/specs/services/cosmosStaking.spec.ts-snapshots/redelegate-cosmos-content-darwin.png
  apps/ledger-live-desktop/tests/specs/services/cosmosStaking.spec.ts-snapshots/redelegate-cosmos-content-linux.png
  apps/ledger-live-desktop/tests/specs/services/cosmosStaking.spec.ts-snapshots/redelegate-cosmos-content-win32.png
  apps/ledger-live-desktop/tests/userdata/cosmosStakingAccounts.json
  libs/ledger-live-common/src/platform/providers/RampCatalogProvider/api/index.ts
  libs/ledger-live-common/src/platform/providers/RampCatalogProvider/api/mock.json
Labels: desktop, common, screenshots

#3225 LLM - added additional data to the ratings typeform
  .changeset/rotten-wombats-rescue.md
  apps/ledger-live-mobile/src/screens/RatingsModal/DisappointedForm.tsx
Labels: mobile

#3200 Bugfix: LIVE-7067 allow proxy device to bypass BLE requirements
  .changeset/seven-pears-poke.md
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
Labels: mobile

#3142 feat(Custom Lockscreen): Make image padding optional on Stax CLS
  .changeset/happy-bananas-collect.md
  apps/cli/src/commands/staxFetchAndRestoreDemo.ts
  libs/ledger-live-common/src/hw/actions/staxLoadImage.ts
  libs/ledger-live-common/src/hw/staxLoadImage.ts
Labels: common, cli

#3230 chore(LLD): remove minor dead code
  apps/ledger-live-desktop/src/main/window-lifecycle.ts
Labels: desktop

#3227 feat(LLD-Analytics): Implement Key Events
  .changeset/four-rivers-matter.md
  .changeset/twenty-grapes-confess.md
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/helpers/nfts.ts
  libs/ledger-live-common/src/nft/helpers.ts
Labels: desktop, mobile, common

#3121 LIVE-6864: Add all json files in ledgerjs data to CAL CDN
  .github/workflows/cal-importer.yml
Labels: automation

#3183 Add Account Feature Flag
  .changeset/spicy-singers-care.md
  apps/ledger-live-desktop/src/renderer/components/FirebaseRemoteConfig.tsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/AccountList.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/AppsList/AppActions.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/AppsList/Item.tsx
  apps/ledger-live-mobile/src/components/FirebaseRemoteConfig.tsx
Labels: desktop, mobile

#3171 feat: add back to liveApp analytics
  apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/TopBar.tsx
  apps/ledger-live-mobile/src/components/WebPTXPlayer/index.tsx
Labels: desktop, mobile

#3097 feat/LIVE-6274 Fix slow Manager access, v2 for accessing My Ledger.
  .changeset/wicked-brooms-refuse.md
  apps/cli/src/commands/managerListApps.ts
  apps/ledger-live-desktop/src/renderer/components/FirmwareUpdateBanner.tsx
  apps/ledger-live-desktop/src/renderer/components/debug/DebugMock.tsx
  apps/ledger-live-desktop/src/renderer/experimental.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/AppsList/AppActions.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/models/DeviceAction.ts
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/experimental-features-darwin.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/experimental-features-linux.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/experimental-features-win32.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-experimental-page-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-experimental-page-linux.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-experimental-page-win32.png
  apps/ledger-live-mobile/src/experimental.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/env/src/env.ts
  libs/ledger-live-common/src/api/Manager.ts
  libs/ledger-live-common/src/apps/hw.ts
  libs/ledger-live-common/src/apps/inlineAppInstall.ts
  libs/ledger-live-common/src/apps/listApps/v1.ts
  libs/ledger-live-common/src/apps/listApps/v2.ts
  libs/ledger-live-common/src/apps/polyfill.test.ts
  libs/ledger-live-common/src/apps/polyfill.ts
  libs/ledger-live-common/src/apps/types.ts
  libs/ledger-live-common/src/cache.ts
  libs/ledger-live-common/src/hw/actions/manager.ts
  libs/ledger-live-common/src/hw/connectApp.ts
  libs/ledger-live-common/src/hw/listApps.ts
  libs/ledgerjs/packages/types-live/src/manager.ts
Labels: desktop, mobile, common, ledgerjs, translations, screenshots, cli

#3105 feat: LIVE-6930 refactor device action implementations, removed debounces
  .changeset/swift-seahorses-hang.md
  apps/cli/src/commands/i18n.ts
  apps/cli/src/commands/staxFetchAndRestoreDemo.ts
  apps/cli/src/commands/staxFetchImage.ts
  apps/cli/src/commands/staxLoadImage.ts
  apps/ledger-live-desktop/src/renderer/components/ChangeDeviceLanguageAction.tsx
  apps/ledger-live-desktop/src/renderer/components/CustomImage/CustomImageDeviceAction.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/debug/DebugMock.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/EditDeviceName.tsx
  apps/ledger-live-desktop/tests/models/DeviceAction.ts
  apps/ledger-live-desktop/tests/models/MarketPage.ts
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts
  apps/ledger-live-mobile/src/components/ChangeDeviceLanguageAction.tsx
  apps/ledger-live-mobile/src/components/ChangeDeviceLanguageActionModal.tsx
  apps/ledger-live-mobile/src/components/CustomImageDeviceAction.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/screens/EditDeviceName.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/FetchCustomImage.tsx
  libs/ledger-live-common/src/apps/support.ts
  libs/ledger-live-common/src/hw/actions/app.ts
  libs/ledger-live-common/src/hw/actions/implementations.ts
  libs/ledger-live-common/src/hw/actions/installLanguage.ts
  libs/ledger-live-common/src/hw/actions/manager.ts
  libs/ledger-live-common/src/hw/actions/renameDevice.ts
  libs/ledger-live-common/src/hw/actions/staxFetchImage.ts
  libs/ledger-live-common/src/hw/actions/staxLoadImage.ts
  libs/ledger-live-common/src/hw/connectApp.ts
  libs/ledger-live-common/src/hw/connectManager.ts
  libs/ledger-live-common/src/hw/installLanguage.ts
  libs/ledger-live-common/src/hw/isUpdateAvailable.ts
  libs/ledger-live-common/src/hw/renameDevice.ts
  libs/ledger-live-common/src/hw/staxFetchImage.ts
  libs/ledger-live-common/src/hw/staxLoadImage.ts
  libs/ledger-live-common/src/load/speculos.ts
Labels: desktop, mobile, common, cli

#3241 LLC - Stop tracking SyncError event
  .changeset/strange-tigers-fly.md
  libs/ledger-live-common/src/bridge/react/BridgeSync.tsx
Labels: common

#2953 feat: refacto platform to platforms
  .changeset/wild-cups-drum.md
  apps/ledger-live-desktop/tests/utils/serve-dummy-app.ts
  apps/ledger-live-mobile/src/PlatformAppProviderWrapper.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/hooks.tsx
  libs/ledger-live-common/src/platform/logic.test.ts
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/api/mock.json
  libs/ledger-live-common/src/platform/tracking.test.ts
  libs/ledger-live-common/src/platform/types.ts
  libs/ledger-live-common/src/wallet-api/logic.test.ts
  libs/ledger-live-common/src/wallet-api/tracking.test.ts
  libs/ledger-live-common/src/wallet-api/types.ts
Labels: desktop, mobile, common

#3253 Feat/native UI update alert design
  .changeset/gorgeous-impalas-serve.md
  .changeset/hot-moose-destroy.md
  apps/ledger-live-mobile/src/components/AccountBanner.tsx
  apps/ledger-live-mobile/src/components/Alert.tsx
  apps/ledger-live-mobile/src/components/SettingsRow.tsx
  apps/ledger-live-mobile/src/components/SupportLinkError.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Configuration/ResetOnboardingStateRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Configuration/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/Storyly.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/index.tsx
  libs/ui/packages/native/src/components/message/Alert/index.tsx
  libs/ui/packages/native/storybook/stories/message/Alert/Alert.stories.tsx
  libs/ui/packages/native/tsconfig.json
Labels: mobile, ui

#3256 feat: desmos umee with tests and specs
  apps/cli/src/live-common-setup-base.ts
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.ts
  libs/ledger-live-common/src/families/cosmos/bridge.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/chain/Cosmos.ts
  libs/ledger-live-common/src/families/cosmos/chain/Umee.ts
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/desmos.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/umee.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/axelar.ts
  libs/ledger-live-common/src/families/cosmos/datasets/desmos.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/desmos.ts
  libs/ledger-live-common/src/families/cosmos/datasets/umee.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/umee.ts
  libs/ledger-live-common/src/families/cosmos/js-prepareTransaction.ts
  libs/ledger-live-common/src/families/cosmos/specs.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
Labels: common, ledgerjs, cli

#3258 bugfix(NFT Gallery): LLM - Unable to hide NFTs
  .changeset/good-lemons-wave.md
  apps/ledger-live-mobile/src/components/Nft/NftLinksPanel.tsx
Labels: mobile

#3262 chore: remove instances of service account token
  .github/workflow-templates/bot-coin-family.yml
  .github/workflows/bot-carbon.yml
  .github/workflows/bot-mere-denis.yml
  .github/workflows/bot-mooncake.yml
  .github/workflows/bot-nitrogen.yml
  .github/workflows/bot-nonreg-carbon.yml
  .github/workflows/bot-nonreg-mooncake.yml
  .github/workflows/bot-nonreg-nitrogen.yml
  .github/workflows/bot-nonreg-oxygen.yml
  .github/workflows/bot-nonreg-silicium.yml
  .github/workflows/bot-oxygen.yml
  .github/workflows/bot-phosphore.yml
  .github/workflows/bot-portfolio-report.yml
  .github/workflows/bot-silicium.yml
  .github/workflows/bot-staging-explorer-btc.yml
  .github/workflows/bot-staging-explorer-eth.yml
  .github/workflows/bot-transfer.yml
  .github/workflows/sync.yml
  tools/actions/turbo-affected/src/main.ts
  tools/github-bot/src/features/orchestrator/index.ts
Labels: tools, automation

#3261 bugfix/LL-7002 Portfolio Page Analytics fix
  .changeset/early-baboons-fly.md
  apps/ledger-live-desktop/src/renderer/screens/dashboard/FeaturedButtons.tsx
Labels: desktop

#3190 Feat/LIVE-5848 - LLD Recover - Nano pin code selection in restore with recover flow
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/RecoverPinCodeHowTo.tsx
Labels: desktop

#3265 [LIVE-7167] Bugfix - Change incremental sync order for Ethereum family explorers
  .changeset/tender-items-watch.md
  libs/ledger-live-common/src/api/Ethereum.test.ts
  libs/ledger-live-common/src/api/Ethereum.ts
Labels: common

#3259 feat: pass buy deeplink query params to the buy application (LIVE-6743)
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.tsx
  apps/ledger-live-mobile/src/screens/PTX/BuyAndSell/index.tsx
Labels: desktop, mobile

#3270 [LIVE-7157] Bugfix - Remove allSettled polyfill from LLM
  .changeset/breezy-jokes-double.md
  .changeset/wild-swans-yawn.md
  apps/ledger-live-mobile/index.js
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/context/LedgerStore.tsx
  libs/domain-service/src/resolvers/index.ts
  libs/domain-service/src/types.ts
  libs/domain-service/src/utils/index.ts
  pnpm-lock.yaml
Labels: mobile

#3118 LLM: refactor/homogenise headers
  .changeset/afraid-candles-build.md
  apps/ledger-live-mobile/src/components/AnimatedHeader.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicesScanning.tsx
  apps/ledger-live-mobile/src/components/DeviceSetupView.tsx
  apps/ledger-live-mobile/src/components/GenericInformationalView.tsx
  apps/ledger-live-mobile/src/components/HeaderBackImage.tsx
  apps/ledger-live-mobile/src/components/HeaderRightClose.tsx
  apps/ledger-live-mobile/src/components/NavigationHeader.tsx
  apps/ledger-live-mobile/src/components/NavigationHeaderBackButton.tsx
  apps/ledger-live-mobile/src/components/NavigationHeaderCloseButton.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ExploreTabNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ImportAccountsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/NftNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/OnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/PostOnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ReceiveFundsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/WalletConnectNavigator.tsx
  apps/ledger-live-mobile/src/components/Scanner.tsx
  apps/ledger-live-mobile/src/components/WalletTab/CollapsibleHeaderFlatList.tsx
  apps/ledger-live-mobile/src/components/WalletTab/CollapsibleHeaderScrollView.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabHeader.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabNavigatorScrollManager.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabNavigatorTabBar.tsx
  apps/ledger-live-mobile/src/components/WebPTXPlayer/index.tsx
  apps/ledger-live-mobile/src/navigation/navigatorConfig.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/AddAccountsHeaderRightClose.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/index.tsx
  apps/ledger-live-mobile/src/screens/Discover/DiscoverCard.tsx
  apps/ledger-live-mobile/src/screens/Discover/index.tsx
  apps/ledger-live-mobile/src/screens/ImportAccounts/DisplayResult.tsx
  apps/ledger-live-mobile/src/screens/Manager/index.tsx
  apps/ledger-live-mobile/src/screens/Market/index.tsx
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/deviceSelection.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/doYouHaveALedger.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
  apps/ledger-live-mobile/src/screens/OperationDetails/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
  apps/ledger-live-mobile/src/screens/PostOnboarding/PostOnboardingHub.tsx
  apps/ledger-live-mobile/src/screens/PostOnboarding/PostOnboardingMockActionScreen.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Generators/index.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/ResyncOverlay.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
  apps/ledger-live-mobile/src/screens/WalletConnect/Connect.tsx
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/index.tsx
Labels: mobile, ui

#3267 chore: support proto in CI
  tools/actions/composites/setup-toolchain/action.yml
Labels: tools

#3269 LLD - deeplinks now working when already on same screen
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.ts
Labels: desktop

#3291 Fix LLM translation
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/pt/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#3293 fix: solana dapp store release note
  apps/ledger-live-mobile/android/dapp-store/config.yaml
Labels: mobile

#3244 feat(ReferalProgram): LLD - New entry point to be added to the Desktop Sidebar
  .changeset/many-ducks-behave.md
  .changeset/moody-maps-pay.md
  .changeset/stale-terms-speak.md
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SideBar/SideBarListItem.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs, translations

#3206 feat: Add dash warning banner on receive
  .changeset/metal-pandas-stare.md
  apps/ledger-live-desktop/scripts/sync-families-dispatch.mjs
  apps/ledger-live-desktop/src/renderer/families/bitcoin/StepReceiveFundsPostAlert.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/StepReceiveFunds.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/StepReceiveFundsPostAlert.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveFunds.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/scripts/sync-families-dispatch.mjs
  apps/ledger-live-mobile/src/families/bitcoin/ReceiveConfirmationPostAlert.tsx
  apps/ledger-live-mobile/src/families/tron/Confirmation.tsx
  apps/ledger-live-mobile/src/families/tron/ReceiveConfirmationPostAlert.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
Labels: desktop, mobile, translations

#3208 style(LLM): add svg illustrations to the restore flow
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/Restore.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/RestoreIllustration.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/RestoreIllustrations.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/assets/dark/NanoToNano.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/assets/dark/NanoToStax.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/assets/dark/StaxToNano.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/assets/dark/StaxToStax.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/assets/light/NanoToNano.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/assets/light/NanoToStax.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/assets/light/StaxToNano.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/assets/light/StaxToStax.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/InstallSetOfApps.tsx
Labels: mobile

#3271 fix: LIVE-7184 stax load image pad regression
  .changeset/brown-hairs-count.md
  libs/ledger-live-common/src/hw/staxLoadImage.ts
Labels: common

#3278 bugfix/LL-7066 Fix LLM account staking analytics
  .changeset/warm-dancers-return.md
  apps/ledger-live-mobile/src/families/celo/accountActions.tsx
  apps/ledger-live-mobile/src/families/cosmos/accountActions.tsx
  apps/ledger-live-mobile/src/families/elrond/accountActions.tsx
  apps/ledger-live-mobile/src/families/ethereum/accountActions.tsx
  apps/ledger-live-mobile/src/families/near/accountActions.tsx
  apps/ledger-live-mobile/src/families/polkadot/accountActions.tsx
  apps/ledger-live-mobile/src/families/solana/accountActions.tsx
  apps/ledger-live-mobile/src/families/tezos/accountActions.tsx
Labels: mobile

#3297 remove __test__/api folder
  libs/ledger-live-common/src/families/ethereum/bridge.integration.test.ts
  libs/ledger-live-common/src/socket/__snapshots__/socket.test.ts.snap
  libs/ledger-live-common/src/socket/scenarios.mock.ts
  libs/ledger-live-common/src/socket/socket.test.ts
Labels: common

#3299 chore: log proto version
  tools/actions/composites/setup-toolchain/action.yml
Labels: tools

#3286 fix: update react-ui alert component
  .changeset/polite-eyes-complain.md
  libs/ui/packages/react/src/components/message/Alert/Alert.stories.tsx
  libs/ui/packages/react/src/components/message/Alert/index.tsx
Labels: ui

#3288 fix(LLM/VideoPlayer): Patched ReactNativeVideo to prevent crash in NFTVideo player
  apps/ledger-live-mobile/ios/Podfile.lock
  patches/react-native-video@5.2.0.patch
  pnpm-lock.yaml
Labels: mobile

#3309 chore: add warning in the templates for conflicts
  .github/templates/hotfix-conflicts.md
  .github/templates/hotfix-release-conflicts.md
  .github/templates/release-conflicts.md
Labels: automation

#3250 LLD - add user id to debug settings
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#3315 [LIVE-7271] Feature - Update Base Fee mutliplier for EIP1559 transactions
  .changeset/empty-countries-compare.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/experimental.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/MaxFeeField.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Experimental/ExperimentalFloat.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Experimental/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/experimental.ts
  apps/ledger-live-mobile/src/families/ethereum/EthereumCustomFees/utils.tsx
  apps/ledger-live-mobile/src/screens/Settings/Experimental/FeatureFloat.tsx
  apps/ledger-live-mobile/src/screens/Settings/Experimental/FeatureRow.tsx
  libs/env/src/env.ts
  libs/ledger-live-common/src/families/ethereum/gas.ts
  libs/ledger-live-common/src/families/ethereum/react.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, translations

#3311 LLM - Fixed the disappointed typeform url on iOS
  .changeset/smooth-mails-swim.md
  apps/ledger-live-mobile/src/screens/RatingsModal/DisappointedForm.tsx
Labels: mobile

#3296 feat(Status): LLM - UI Improvements to Status Center
  .changeset/smooth-toys-sit.md
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/RootNavigator/NotificationCenterNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/NotificationCenter/Notifications.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/Status.tsx
Labels: mobile, translations

#3243 LLM - Filter status update incidents by account tickers
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/FetchCustomImage.tsx
  libs/ledger-live-common/src/notifications/ServiceStatusProvider/index.tsx
Labels: mobile, common

#3153 [LIVE-3824] Feature - EVM Batch 2
  .changeset/old-beans-impress.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-mobile/.eslintrc.js
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/bot/portfolio/__snapshots__/formatter.test.ts.snap
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/data/icons/svg/ASTR.svg
  libs/ledger-live-common/src/data/icons/svg/EVMOS.svg
  libs/ledger-live-common/src/data/icons/svg/EWT.svg
  libs/ledger-live-common/src/data/icons/svg/KAVA.svg
  libs/ledger-live-common/src/data/icons/svg/METIS.svg
  libs/ledger-live-common/src/data/icons/svg/MOVR.svg
  libs/ledger-live-common/src/data/icons/svg/RBTC.svg
  libs/ledger-live-common/src/data/icons/svg/SYS.svg
  libs/ledger-live-common/src/data/icons/svg/VLX.svg
  libs/ledger-live-common/src/data/icons/svg/currency_arbitrum.svg
  libs/ledger-live-common/src/data/icons/svg/currency_arbitrum_goerli.svg
  libs/ledger-live-common/src/data/icons/svg/currency_boba.svg
  libs/ledger-live-common/src/data/icons/svg/currency_optimism.svg
  libs/ledger-live-common/src/data/icons/svg/currency_optimism_goerli.svg
  libs/ledger-live-common/src/families/evm/__tests__/estimateMaxSpendable.unit.test.ts
  libs/ledger-live-common/src/families/evm/__tests__/getTransactionStatus.unit.test.ts
  libs/ledger-live-common/src/families/evm/__tests__/logic.unit.test.ts
  libs/ledger-live-common/src/families/evm/__tests__/prepareTransaction.unit.test.ts
  libs/ledger-live-common/src/families/evm/__tests__/rpc.unit.test.ts
  libs/ledger-live-common/src/families/evm/__tests__/signOperation.unit.test.ts
  libs/ledger-live-common/src/families/evm/__tests__/synchronization.unit.test.ts
  libs/ledger-live-common/src/families/evm/__tests__/transaction.unit.test.ts
  libs/ledger-live-common/src/families/evm/abis/optimismGasPriceOracle.abi.json
  libs/ledger-live-common/src/families/evm/api/etherscan.ts
  libs/ledger-live-common/src/families/evm/api/rpc.common.ts
  libs/ledger-live-common/src/families/evm/api/rpc.ios.ts
  libs/ledger-live-common/src/families/evm/api/rpc.native.ts
  libs/ledger-live-common/src/families/evm/errors.ts
  libs/ledger-live-common/src/families/evm/estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/evm/getTransactionStatus.ts
  libs/ledger-live-common/src/families/evm/logic.ts
  libs/ledger-live-common/src/families/evm/prepareTransaction.ts
  libs/ledger-live-common/src/families/evm/signOperation.ts
  libs/ledger-live-common/src/families/evm/specs.ts
  libs/ledger-live-common/src/families/evm/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/evm/synchronization.ts
  libs/ledger-live-common/src/families/evm/transaction.ts
  libs/ledger-live-common/src/families/evm/types.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/react.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, ledgerjs, cli

#3176 LIVE-6741 - Desktop sync onboarding styling update
  .changeset/good-laws-try.md
  .changeset/lucky-plants-sing.md
  apps/ledger-live-desktop/src/renderer/components/ChangeDeviceLanguagePrompt.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/ContinueOnDeviceWithAnim.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/ContinueOnStax.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SeedStep.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/shared.tsx
  apps/ledger-live-desktop/src/renderer/screens/customImage/StepFooter.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/DeviceLanguageInstallation.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/EditDeviceName.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/ChangeDeviceLanguagePromptDrawer.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-drawer-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-drawer-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-drawer-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-queue-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-queue-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-queue-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-reseted-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-reseted-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-reseted-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-1-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-1-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-1-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-2-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-2-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-2-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-3-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-3-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-3-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-drawer-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-drawer-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-drawer-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-queue-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-queue-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-queue-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-1-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-1-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-1-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-2-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-2-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-2-win32.png
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/TimelineIndicator.tsx
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/TimelineItem.tsx
  libs/ui/packages/react/src/components/asorted/Divider/index.tsx
  libs/ui/packages/react/src/components/form/DropdownGeneric/DropdownGeneric.stories.tsx
  libs/ui/packages/react/src/components/layout/Drawer/index.tsx
  libs/ui/packages/react/src/components/layout/List/VerticalTimeline/TimelineIndicator.tsx
  libs/ui/packages/react/src/components/layout/List/VerticalTimeline/TimelineItem.tsx
  libs/ui/packages/react/src/components/layout/List/VerticalTimeline/VerticalTimeline.stories.tsx
  libs/ui/packages/react/src/components/layout/List/VerticalTimeline/index.tsx
  libs/ui/packages/react/src/components/message/ContinueOnDevice/ContinueOnDevice.stories.tsx
  libs/ui/packages/react/src/components/message/ContinueOnDevice/index.tsx
  libs/ui/packages/react/src/components/message/index.ts
  libs/ui/packages/react/src/components/navigation/FlowStepper/FlowStepper.stories.tsx
Labels: desktop, ui, translations, screenshots
