Repository LedgerHQ/ledger-live, pull requests merged in 2023-08, with the labels that each got.

#4171 ⚡ Feat/improve deposit flow performances
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccount.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectNetwork.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  libs/ledger-live-common/src/deposit/deposit.test.ts
  libs/ledger-live-common/src/deposit/helper.ts
  libs/ledger-live-common/src/deposit/index.ts
  libs/ledger-live-common/src/deposit/mock.ts
  libs/ledger-live-common/src/deposit/type.ts
  libs/ledger-live-common/src/deposit/useGroupedCurrenciesByProvider.hook.ts
  libs/ledger-live-common/src/deposit/useMappedAssets.hook.ts
Labels: mobile, common

#4148 feat: update wallet-api
  .changeset/hip-crabs-judge.md
  apps/cli/package.json
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  libs/coin-algorand/package.json
  libs/coin-evm/package.json
  libs/coin-framework/package.json
  libs/coin-polkadot/package.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/wallet-api/react.ts
  libs/ledger-live-common/src/wallet-api/tracking.ts
  libs/ledgerjs/packages/hw-app-eth/package.json
  libs/ledgerjs/packages/hw-app-exchange/package.json
  libs/ledgerjs/packages/hw-app-helium/package.json
  libs/ledgerjs/packages/types-live/package.json
  libs/test-utils/dummy-wallet-app/package.json
  pnpm-lock.yaml
Labels: desktop, mobile, common, ledgerjs, cli

#4170 feat: handle device in bootloader as a fatal error in the polling mechanism
  .changeset/lemon-pigs-promise.md
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.test.ts
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.ts
  libs/ledger-live-common/src/onboarding/hooks/useOnboardingStatePolling.test.ts
Labels: common

#4022 fix: wallet tabs scroll to top and scroll sync
  .changeset/shiny-dogs-invite.md
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabNavigatorScrollManager.tsx
Labels: mobile

#4185 📝 [FEAT] - LLM - Rephrase refer a friend banner in BTC account
  .changeset/orange-books-scream.md
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#4167 Support/testing library lld
  .pnpmfile.cjs
  apps/ledger-live-desktop/babel.config.js
  apps/ledger-live-desktop/babel.plugins.js
  apps/ledger-live-desktop/jest.config.js
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.react.test.tsx
  apps/ledger-live-desktop/tests/fileTransformer.js
  apps/ledger-live-desktop/tests/jestJSDOMSetup.ts
  apps/ledger-live-desktop/tests/mocks/electron.ts
  apps/ledger-live-desktop/tests/testUtils.tsx
  apps/ledger-live-desktop/tsconfig.json
  libs/coin-framework/package.json
  libs/ledger-live-common/package.json
  libs/test-utils/dummy-live-app/package.json
  libs/test-utils/dummy-wallet-app/package.json
  libs/ui/packages/react/package.json
  libs/ui/tests/react.spec.js-snapshots/dark-darwin.png
  libs/ui/tests/react.spec.js-snapshots/dark-linux.png
  libs/ui/tests/react.spec.js-snapshots/light-darwin.png
  libs/ui/tests/react.spec.js-snapshots/light-linux.png
  pnpm-lock.yaml
Labels: desktop, common, ui

#4188 📈 Feat/new deposit analytics improvements
  apps/ledger-live-mobile/src/components/RootNavigator/ReceiveFundsNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccount.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccountSelectDevice.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectNetwork.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/AdditionalInfoModal.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/HelpButton.tsx
Labels: mobile, translations

#4191 Support/cleanup module mapping
  apps/ledger-live-desktop/tools/utils/index.js
  apps/ledger-live-mobile/jest.config.js
  libs/ui/packages/icons/package.json
Labels: desktop, mobile, ui

#4193 Support/icp explorer update
  .changeset/tasty-weeks-clap.md
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: ledgerjs, fork

#4200 Fix flaky snapshot with playwright
  libs/ui/tests/react.spec.js
Labels: ui

#4204 [FEAT] : ⚡️ Various Improvments on Deposit flow
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/components/BuyDeviceBanner.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ReceiveFundsNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
Labels: mobile, translations

#4201 feat(llm/analytics): replace "screen" by "page" in all usages of track()
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/BuyDeviceBanner.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/common.tsx
  apps/ledger-live-mobile/src/components/ExploreTab/ExploreTabNavigatorTabBar.tsx
  apps/ledger-live-mobile/src/components/FabActions/ReadOnlyFabActions.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftList.hook.ts
  apps/ledger-live-mobile/src/components/RootNavigator/NotificationCenterNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ReceiveFundsNavigator.tsx
  apps/ledger-live-mobile/src/components/SelectDevice/index.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabNavigatorTabBar.tsx
  apps/ledger-live-mobile/src/logic/notifications.tsx
  apps/ledger-live-mobile/src/screens/Account/AccountHeader.tsx
  apps/ledger-live-mobile/src/screens/Account/ReadOnly/ReadOnlyAccount.tsx
  apps/ledger-live-mobile/src/screens/Accounts/AccountsNavigationHeader.tsx
  apps/ledger-live-mobile/src/screens/Assets/AssetsNavigationHeader.tsx
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/RestoreStepDenied.tsx
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/src/screens/GetDeviceScreen.tsx
  apps/ledger-live-mobile/src/screens/Newsfeed/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/discoverLiveInfo.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccountSelectDevice.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03a-ConnectDevice.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/CarouselRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/DateFormatDrawer.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/DateFormatRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Notifications/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/Header.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/referralProgram.tsx
Labels: mobile

#4186 [Feat/LIVE-8811]: LLM: display NotEnoughGasSwap Error
  .changeset/neat-timers-shave.md
  apps/ledger-live-mobile/src/components/TranslatedError/TranslatedError.tsx
  apps/ledger-live-mobile/src/components/TranslatedError/hooks/useErrorLinks.tsx
  apps/ledger-live-mobile/src/components/TranslatedError/index.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/TxForm/AmountInput.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/TxForm/From.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/TxForm/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
Labels: mobile, translations

#4203 Bugfix(LIVE-8841): default provider icon to use boxed mode
  .changeset/beige-needles-sip.md
  apps/ledger-live-desktop/src/renderer/components/ProviderIcon/index.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/StakingIcon.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Rate.tsx
  apps/ledger-live-mobile/src/components/ProviderIcon/index.tsx
  apps/ledger-live-mobile/src/components/ProviderIcon/styles.ts
Labels: desktop, mobile

#4213 feat(llm): deposit flow add debounce to search crypto analytic
  apps/ledger-live-mobile/src/components/FilteredSearchBar.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
Labels: mobile

#4211 [bugfix] (develop) Polygon zk evm feature flag (#4206)
  .changeset/eight-rockets-behave.md
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
Labels: desktop, mobile

#4110 Live 5692 - Swap DEX LLM detox test
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/models/liveApps/liveAppWebview.ts
  apps/ledger-live-mobile/e2e/models/onboarding/onboardingSteps.ts
  apps/ledger-live-mobile/e2e/models/trade/swapFormPage.ts
  apps/ledger-live-mobile/e2e/models/wallet/portfolioPage.ts
  apps/ledger-live-mobile/e2e/specs/swap/dexSwap.spec.ts
  apps/ledger-live-mobile/e2e/specs/swap/swap.spec.ts
  apps/ledger-live-mobile/src/components/HeaderTitle.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Summary/Item.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Summary/index.tsx
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
  libs/ledger-live-common/src/exchange/swap/mock.ts
Labels: mobile, common

#4215 Bugfix(LIVE-8841): default provider icon to use boxed mode
  .changeset/beige-needles-sip.md
  apps/ledger-live-desktop/src/renderer/components/ProviderIcon/index.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/StakingIcon.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Rate.tsx
  apps/ledger-live-mobile/src/components/ProviderIcon/index.tsx
  apps/ledger-live-mobile/src/components/ProviderIcon/styles.ts
Labels: desktop, mobile

#4209 [Feat/LIVE-8848]: redirect to account or parent account if token on click for NotEnoughGasSwap error.
  .changeset/light-jobs-exercise.md
  apps/ledger-live-desktop/src/renderer/components/TranslatedError/hooks/useErrorLinks.tsx
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
Labels: desktop, mobile, common

#4228 Feat/add lld properties deep clicked
  .changeset/new-dogs-sort.md
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.ts
Labels: desktop

#4238 Smartling on-demand translation delivery from release
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#4243 🐛 [FIX]: networks and crypto shown when deposit from NFT only MATIC & ETH
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectNetwork.tsx
Labels: mobile

#4254 fix
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/fields/ValidatorRow.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/StakingRewardsBanner.tsx
Labels: desktop, fork

#3909 LLD onboarding early security checks
  .changeset/fuzzy-cheetahs-punch.md
  .changeset/six-parents-bathe.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/ErrorDisplay.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/DeviceConnection/Searching.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityCheck.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/Body.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/Bullet.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/DeviceNotGenuineDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/DrawerFooter.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/ErrorDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/ExitChecksDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/SoftwareCheckAllowSecureChannelDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/useChangeLanguagePrompt.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/GenuineCheckCancelModal.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/GenuineCheckModal.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/GenuineCheckNotGenuineModal.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/Header.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/HelpDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/LockedDeviceDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckAllowSecureChannelModal.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckContent.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckLockedDeviceModal.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckStep.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SyncOnboardingCompanion.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/TroubleshootingDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/shared.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/types.tsx
  apps/ledger-live-desktop/src/renderer/icons/ExitIcon.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/01-step-prepare.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-updating.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/03-step-confirmation.tsx
  apps/ledger-live-desktop/src/renderer/screens/USBTroubleshooting/USBTroubleshooting.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/FirmwareUpdate/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/ChangeDeviceLanguagePromptDrawer.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/LanguageSelect.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/models/ManualPage.ts
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-allow-language-installation-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts
Labels: desktop, translations, screenshots

#4214 feat(LLM/UILib): LLM Stax final polishes
  .changeset/cool-months-carry.md
  .changeset/modern-spiders-wait.md
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingActionRow.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/logic/index.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicesScanning.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/DeviceActionProgress.tsx
  apps/ledger-live-mobile/src/components/DeviceLanguageInstalled.tsx
  apps/ledger-live-mobile/src/components/PostOnboarding/PostOnboardingActionRow.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/PostOnboardingNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/postOnboarding/actions.ts
  apps/ledger-live-mobile/src/logic/postOnboarding/mockActions.ts
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step0Welcome.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/CustomLockScreen.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceLanguage.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceName.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceOptionRow.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/index.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/Snackbar/Snackbar.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
  apps/ledger-live-mobile/src/screens/PostOnboarding/PostOnboardingHub.tsx
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/postOnboarding.ts
  libs/ui/packages/icons/scripts/build.js
  libs/ui/packages/native/src/components/Icon/BoxedIcon.tsx
  libs/ui/packages/native/src/components/Icon/type.ts
  libs/ui/packages/native/src/components/Text/getTextStyle.ts
  tools/actions/turborepo-gh-cache/build/server.js
Labels: desktop, mobile, ui, ledgerjs, tools, translations

#4261 fix(discover): Add support for translates
  .changeset/moody-ants-destroy.md
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Card/Full.tsx
Labels: desktop

#4246 fix: Support StoryCTAClicked event and handle deeplinks
  apps/ledger-live-mobile/src/components/StorylyStories/index.tsx
Labels: mobile

#4258 feat(LIVE-8241): implement call to v5 /currencies/from endpoint for swap
  .changeset/tame-spiders-carry.md
  libs/env/src/env.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/__mocks__/fetchCurrencyFrom.mocks.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/__tests__/fetchCurrencyFrom.spec.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyFrom.ts
  libs/ledger-live-common/src/exchange/swap/const/timeout.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
  libs/ledger-live-common/src/exchange/swap/getProviders.ts
  libs/ledger-live-common/src/exchange/swap/getStatus.ts
  libs/ledger-live-common/src/exchange/swap/postSwapState.ts
  libs/ledger-live-common/src/exchange/swap/utils/isPlaywrightEnv.ts
Labels: common

#4271 [Feat/LIVE-8242]: add implementation of fetchCurrencyAll
  .changeset/silly-parents-clean.md
  libs/ledger-live-common/src/exchange/swap/api/v5/__mocks__/fetchCurrencyAll.mocks.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/__tests__/fetchCurrencyAll.spec.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyAll.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
Labels: common

#4270 feat(lld): added a tag for the referral in the sidebar with a new copy
  .changeset/chatty-apples-doubt.md
  .changeset/twelve-parrots-film.md
  apps/ledger-live-desktop/src/renderer/components/Carousel/Slide.tsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/index.tsx
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
Labels: desktop, common

#4273 feat: adding locale and language to params
  .changeset/chilled-eagles-speak.md
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/earn/index.tsx
  apps/ledger-live-desktop/tests/specs/services/earn.spec.ts
Labels: desktop

#4199 [Feat/LIVE-7863]: Swap Form - Edit Rates tracking updates
  .changeset/nine-oranges-guess.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
Labels: desktop, mobile

#4279 [bugfix] Secret Network feature flag
  .changeset/sour-fishes-wash.md
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
Labels: desktop, mobile

#4274 LLM: added locale to Earn App URL
  .changeset/dirty-points-argue.md
  apps/ledger-live-mobile/e2e/models/wallet/portfolioPage.ts
  apps/ledger-live-mobile/e2e/setup.ts
  apps/ledger-live-mobile/e2e/specs/wallet-api.spec.ts
  apps/ledger-live-mobile/src/screens/PTX/Earn/index.tsx
Labels: mobile

#4287 [support] Add missing keys to RN components
  .changeset/young-monkeys-appear.md
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/SelectPool.tsx
Labels: mobile

#4152 fix(FirmwareUpdateLLM): ignore irrelevant errors on the fw update
  .changeset/fair-tables-shop.md
  .changeset/old-crabs-hug.md
  .changeset/rotten-buses-leave.md
  apps/ledger-live-mobile/src/components/FirmwareUpdateBanner.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/ManagerNavigator.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/UpdateReleaseNotes.tsx
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/useUpdateFirmwareAndRestoreSettings.ts
  apps/ledger-live-mobile/src/screens/Manager/AppsScreen.tsx
  apps/ledger-live-mobile/src/screens/Manager/Manager.tsx
  apps/ledger-live-mobile/src/screens/Manager/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  libs/ledger-live-common/src/deviceSDK/actions/core.ts
  libs/ledger-live-common/src/deviceSDK/commands/getBatteryStatus.ts
  libs/ledger-live-common/src/deviceSDK/commands/getVersion.ts
  libs/ledger-live-common/src/deviceSDK/hooks/useBatteryStatuses.ts
  libs/ledger-live-common/src/deviceSDK/tasks/core.ts
  libs/ledger-live-common/src/deviceSDK/tasks/getBatteryStatuses.ts
  libs/ledger-live-common/src/deviceSDK/tasks/updateFirmware.ts
Labels: mobile, common, translations

#4307 chore: add resiliency on importing accounts that fail to be decoded
  .changeset/rude-years-flow.md
  apps/ledger-live-desktop/src/renderer/storage.ts
  apps/ledger-live-desktop/tests/specs/accounts/unknown-currency-resilience.spec.ts
  apps/ledger-live-desktop/tests/userdata/skip-onboarding-with-bad-account-data.json
  apps/ledger-live-mobile/e2e/bridge/client.ts
  apps/ledger-live-mobile/e2e/bridge/server.ts
  apps/ledger-live-mobile/e2e/specs/unknown-currency-resilience.spec.ts
  apps/ledger-live-mobile/src/actions/accounts.ts
Labels: desktop, mobile

#4308 🐛 [FIX]: Fix animation on banners in step 2 & step 3-bis
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectNetwork.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
Labels: mobile

#4208 fix(llm/analyticsconsole): workaround for collapsed items in scrollview
  .changeset/lazy-pens-judge.md
  apps/ledger-live-mobile/src/components/AnalyticsConsole/EventList.tsx
  apps/ledger-live-mobile/src/components/AnalyticsConsole/index.tsx
Labels: mobile

#4298 chore: split tests in test.yml
  .github/workflows/test.yml
  libs/ledgerjs/README.md
  turbo.json
Labels: ledgerjs, automation

#4318 chore: split ui test from libs tests
  .github/workflows/test.yml
Labels: automation

#4322 feat: changing locale prop on the earn app to use the language instead
  apps/ledger-live-mobile/src/screens/PTX/Earn/index.tsx
Labels: mobile

#4311 LLM - Storyly update
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/StorylyStories/index.tsx
  pnpm-lock.yaml
Labels: mobile

#4335 support(test-env): rename test env check fn
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyAll.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyFrom.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyTo.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
  libs/ledger-live-common/src/exchange/swap/getProviders.ts
  libs/ledger-live-common/src/exchange/swap/getStatus.ts
  libs/ledger-live-common/src/exchange/swap/postSwapState.ts
  libs/ledger-live-common/src/exchange/swap/utils/isIntegrationTestEnv.ts
  libs/ledger-live-common/src/exchange/swap/utils/isPlaywrightEnv.ts
Labels: common

#4281 Fix: LIVE-8269 cosmos amount string parser
  .changeset/hot-llamas-run.md
  libs/ledger-live-common/src/families/cosmos/helpers.unit.test.ts
  libs/ledger-live-common/src/families/cosmos/js-synchronisation.ts
  libs/ledger-live-common/src/families/cosmos/js-synchronisation.unit.test.ts
  libs/ledger-live-common/src/families/cosmos/logic.ts
Labels: common

#4089 MultiversX: Withdraw modal fixes
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/renderer/families/elrond/AccountSubHeader.tsx
  apps/ledger-live-desktop/src/renderer/families/elrond/components/Modals/Withdraw/index.tsx
  apps/ledger-live-desktop/src/renderer/families/elrond/components/Modals/Withdraw/types.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/families/elrond/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/families/elrond/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/elrond/api/apiCalls.ts
  libs/ledger-live-common/src/families/elrond/api/dtos/multiversx-account.ts
  libs/ledger-live-common/src/families/elrond/api/sdk.ts
  libs/ledger-live-common/src/families/elrond/js-synchronisation.ts
  libs/ledger-live-common/src/families/elrond/serialization.ts
  libs/ledger-live-common/src/families/elrond/types.ts
  libs/ledgerjs/packages/cryptoassets/src/data/esdt.json
  libs/ledgerjs/packages/cryptoassets/src/data/esdt.ts
Labels: desktop, mobile, common, ledgerjs, translations, fork

#4339 [bugfix] Avoid conflicts in currency feature flag names in manager
  .changeset/shy-cows-yell.md
  apps/ledger-live-desktop/src/renderer/screens/manager/AppsList/AppsList.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/AppsList/Item.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/AppsList/UpdateAllApps.tsx
Labels: desktop

#4327 Feat/earn info modals
  .changeset/dry-suits-search.md
  apps/ledger-live-mobile/src/actions/earn.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/RootNavigator/EarnLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/EarnLiveAppNavigator.ts
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/reducers/earn.ts
  apps/ledger-live-mobile/src/reducers/index.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/PTX/Earn/EarnInfoDrawer.tsx
Labels: enhancement, mobile

#4359 fix(RecoverRestore): add onRetry to error handling [PROTECT-2292]
  .changeset/curly-tables-chew.md
  apps/ledger-live-desktop/src/renderer/components/RecoverRestore/index.tsx
Labels: desktop

#4360 fix(wallet-api): missing new on error constructor
  .changeset/cyan-peas-sit.md
  libs/ledger-live-common/src/wallet-api/react.ts
Labels: common

#4362 support: add recover local dev support
  .changeset/brave-jokes-relax.md
  apps/ledger-live-desktop/src/main/window-lifecycle.ts
  apps/ledger-live-desktop/src/renderer/components/WebRecoverPlayer/index.tsx
Labels: desktop

#4372 Fix reactLegacy and nativeLegacy for icons lib
  .changeset/friendly-pumpkins-wonder.md
  libs/ui/packages/icons/package.json
Labels: ui

#3887 Feat/LIVE-7596: Genuine check and firmware update check in Early Security Check during Sync Onboarding
  .changeset/hungry-brooms-remember.md
  .changeset/new-eagles-wonder.md
  .changeset/rich-apricots-reflect.md
  .changeset/wise-dancers-join.md
  apps/ledger-live-mobile/src/components/ChangeDeviceLanguageAction.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/GenericErrorView.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/ManagerNavigator.ts
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/useUpdateFirmwareAndRestoreSettings.ts
  apps/ledger-live-mobile/src/screens/SyncOnboarding/AllowManagerDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/AutoRepairDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/CheckCard.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/DesyncOverlay.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/EarlySecurityCheck.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/EarlySecurityCheckBody.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/EarlySecurityCheckMandatoryDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/FirmwareUpdateAvailableDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/FirmwareUpdateDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/GenuineCheckDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/GenuineCheckErrorDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/GenuineCheckFailedDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/GenuineCheckNonGenuineDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/LanguagePrompt.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SoftwareChecksStep.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SyncOnboardingCompanion.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/UnlockDeviceDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
  libs/ledger-live-common/src/deviceSDK/hooks/useGetDeviceInfo.ts
  libs/ledger-live-common/src/manager/hooks.ts
  libs/ledger-live-common/src/onboarding/hooks/useOnboardingStatePolling.ts
Labels: mobile, common, translations

#4371 fix(lld/deviceaction/error): broken layout
  .changeset/twenty-apes-sort.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/DeviceNotGenuineDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/ErrorDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/ExitChecksDrawer.tsx
Labels: desktop

#4248 Support/Add PYUSD token icon
  .changeset/clever-windows-tan.md
  libs/ledger-live-common/src/data/icons/svg/PYUSD.svg
Labels: common, fork

#4382 ci: add automatic trigger after using release prepare hotfix
  .github/workflows/release-final.yml
Labels: automation

#4380 LIVE-5592 - remove RemoteConfig deprecated from LLD
  .changeset/early-geckos-ring.md
  apps/ledger-live-desktop/src/helpers/user.ts
  apps/ledger-live-desktop/src/renderer/App.tsx
  apps/ledger-live-desktop/src/renderer/components/FirmwareUpdateBanner.tsx
  apps/ledger-live-desktop/src/renderer/components/RemoteConfig.tsx
  apps/ledger-live-desktop/src/renderer/components/Updater/Banner.tsx
  apps/ledger-live-desktop/src/renderer/components/Updater/useIsUpdateAvailable.ts
Labels: desktop

#4317 ⚰️ [SUPPORT] : Remove old implementation of WalletConnect in LL
  .changeset/silent-nails-enjoy.md
  .changeset/spotty-jokes-kiss.md
  .changeset/tender-kids-boil.md
  .changeset/tricky-pets-yawn.md
  .pnpmfile.cjs
  apps/cli/README.md
  apps/cli/package.json
  apps/cli/src/commands-index.ts
  apps/cli/src/commands/walletconnect.ts
  apps/ledger-live-desktop/index-types.d.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/mocks/WalletConnectClient.ts
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/WalletConnectLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/WalletConnectNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/WalletConnectLiveAppNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/WalletConnectNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/icons/CrossRound.tsx
  apps/ledger-live-mobile/src/icons/Disconnect.tsx
  apps/ledger-live-mobile/src/icons/Exclamation.tsx
  apps/ledger-live-mobile/src/icons/WalletConnect.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/Account/AccountHeaderTitle.tsx
  apps/ledger-live-mobile/src/screens/Account/hooks/useAccountActions.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/07-ValidationError.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/07-ValidationSuccess.tsx
  apps/ledger-live-mobile/src/screens/SignMessage/04-ValidationError.tsx
  apps/ledger-live-mobile/src/screens/SignMessage/04-ValidationSuccess.tsx
  apps/ledger-live-mobile/src/screens/SignTransaction/03-ValidationError.tsx
  apps/ledger-live-mobile/src/screens/WalletConnect/Connect.tsx
  apps/ledger-live-mobile/src/screens/WalletConnect/DeeplinkingSelectAccount.tsx
  apps/ledger-live-mobile/src/screens/WalletConnect/Provider.tsx
  apps/ledger-live-mobile/src/screens/WalletConnect/Scan.tsx
  libs/ledger-live-common/dependencies.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/walletconnect/Provider.tsx
  libs/ledger-live-common/src/walletconnect/index.ts
  libs/ledger-live-common/src/walletconnect/walletconnect.test.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, translations, cli

#4319 [LLD] - LIVE-4380 - Fix and improve date formatting based on locale
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/components/OperationsList/SectionTitle.tsx
  apps/ledger-live-desktop/src/renderer/components/OperationsList/index.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/AnnouncementPanel.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useDateFormatter.test.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useDateFormatter.ts
  apps/ledger-live-desktop/src/renderer/hooks/useDateTimeFormat.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/History/History.tsx
  pnpm-lock.yaml
Labels: desktop

#4364 Bugfix/multiversx delegation amount miscalculation
  .changeset/cyan-icons-doubt.md
  apps/ledger-live-desktop/src/renderer/families/elrond/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/elrond/EarnRewards.tsx
  apps/ledger-live-mobile/src/families/elrond/accountActions.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Body/components/Delegations/Delegations.tsx
  libs/ledger-live-common/src/families/elrond/banner.ts
  libs/ledger-live-common/src/families/elrond/helpers/areEarnRewardsEnabled.ts
  libs/ledger-live-common/src/families/elrond/helpers/hasMinimumDelegableBalance.ts
Labels: desktop, mobile, common, fork

#4397 🐛 [FIX] : Notifications get re-enabled when updating the app
  .changeset/breezy-cherries-talk.md
  apps/ledger-live-mobile/src/logic/notifications.tsx
Labels: mobile

#4207 Bot : currencies/family filter, disable & mooncake/silicium non reg removed
  .changeset/lemon-windows-provide.md
  .github/workflow-templates/bot-coin-family.yml
  .github/workflows/bot-carbon.yml
  .github/workflows/bot-mere-denis.yml
  .github/workflows/bot-mooncake.yml
  .github/workflows/bot-nitrogen.yml
  .github/workflows/bot-nonreg-carbon.yml
  .github/workflows/bot-nonreg-mooncake.yml
  .github/workflows/bot-nonreg-nitrogen.yml
  .github/workflows/bot-nonreg-oxygen.yml
  .github/workflows/bot-nonreg-silicium.yml
  .github/workflows/bot-oxygen.yml
  .github/workflows/bot-phosphore.yml
  .github/workflows/bot-silicium.yml
  .github/workflows/bot-staging-explorer-btc.yml
  .github/workflows/bot-staging-explorer-eth.yml
  libs/ledger-live-common/src/bot/cli.ts
  libs/ledger-live-common/src/bot/index.test.ts
  libs/ledger-live-common/src/bot/index.ts
  tools/actions/composites/bot/action.yml
Labels: common, tools, automation

#4401 rename bot jobs
  .github/workflows/bot-testing-carbon.yml
  .github/workflows/bot-testing-mere-denis.yml
  .github/workflows/bot-testing-mooncake.yml
  .github/workflows/bot-testing-nitrogen.yml
  .github/workflows/bot-testing-oxygen.yml
  .github/workflows/bot-testing-phosphore.yml
  .github/workflows/bot-testing-silicium.yml
Labels: automation

#4396 [B2CQA-1920] Detox : Fix Android Flaky tests
  .github/workflows/test-mobile-e2e.yml
  apps/ledger-live-mobile/.env.mock
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/models/accounts/addAccountDrawer.ts
  apps/ledger-live-mobile/e2e/models/passwordEntryPage.ts
  apps/ledger-live-mobile/e2e/models/trade/receivePage.ts
  apps/ledger-live-mobile/e2e/models/trade/swapFormPage.ts
  apps/ledger-live-mobile/e2e/specs/languageChange.spec.ts
  apps/ledger-live-mobile/e2e/specs/market.spec.ts
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/e2e/specs/swap/swap.spec.ts
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
Labels: mobile, automation

#4403 [LLD] - [LIVE-7620] - Fixing ts-expect-error's
  apps/ledger-live-desktop/src/renderer/components/Select/index.tsx
Labels: desktop

#4251 [LLD] - [LIVE-7618] - Typescript improvements and rework of the language & locale components across LLD.
  .changeset/shaggy-yaks-play.md
  apps/ledger-live-desktop/src/config/languages.ts
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/components/IsSystemLanguageAvailable.ts
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Help/RecoveryWarning.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/LangSwitcher.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/RecoverHowTo.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/index.tsx
  apps/ledger-live-desktop/src/renderer/components/RecoverRestore/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/useChangeLanguagePrompt.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/NetworkError.tsx
  apps/ledger-live-desktop/src/renderer/experimental.tsx
  apps/ledger-live-desktop/src/renderer/i18n/index.ts
  apps/ledger-live-desktop/src/renderer/i18n/init.ts
  apps/ledger-live-desktop/src/renderer/modals/SystemLanguageAvailable/SystemLanguageAvailableBody.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/restore/Language.tsx
  apps/ledger-live-desktop/src/renderer/modals/types.ts
  apps/ledger-live-desktop/src/renderer/reducers/application.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/EmptyStateAccounts.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/EmptyStateInstalledApps.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/About/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/ChangeDeviceLanguagePromptDrawer.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/LanguageSelect.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/RegionSelect.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Help/index.tsx
  apps/ledger-live-desktop/src/renderer/terms.ts
  apps/ledger-live-desktop/static/i18n/el/app.json
  apps/ledger-live-desktop/static/i18n/fi/app.json
  apps/ledger-live-desktop/static/i18n/hu/app.json
  apps/ledger-live-desktop/static/i18n/it/app.json
  apps/ledger-live-desktop/static/i18n/nl/app.json
  apps/ledger-live-desktop/static/i18n/no/app.json
  apps/ledger-live-desktop/static/i18n/pl/app.json
  apps/ledger-live-desktop/static/i18n/sr/app.json
  apps/ledger-live-desktop/static/i18n/sv/app.json
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/experimental-features-darwin.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/experimental-features-linux.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/experimental-features-win32.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-experimental-page-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-experimental-page-linux.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-experimental-page-win32.png
Labels: desktop, translations, screenshots

#4353 Support/LIVE-7931 Evm mock test
  .changeset/swift-guests-call.md
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-accounts-list-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-accounts-list-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-accounts-list-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-deleteAccount-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-deleteAccount-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-deleteAccountFromAccountsList-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-deleteAccountFromAccountsList-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-deleteAccountFromAccountsList-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-firstAccountPage-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-firstAccountPage-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-firstAccountPage-operations-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-firstAccountPage-operations-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-firstAccountPage-operations-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-firstAccountPage-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-select-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-select-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-select-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-success-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/kava-evm-success-win32.png
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/coin-framework/src/__snapshots__/account.test.ts.snap
  libs/coin-framework/src/account.test.ts
  libs/coin-framework/src/mocks/account.ts
  libs/coin-framework/src/mocks/helpers.ts
  libs/ledger-live-common/src/__snapshots__/cross.test.ts.snap
  libs/ledger-live-common/src/__tests__/__snapshots__/portfolio.v2.ts.snap
  libs/ledger-live-common/src/families/evm/bridge/mock.ts
  libs/ledger-live-common/src/generated/bridge/mock.ts
Labels: desktop, mobile, common, screenshots

#4355 feat: add safe area inset to earn screen
  .changeset/tender-seahorses-pay.md
  apps/ledger-live-mobile/src/screens/PTX/Earn/index.tsx
Labels: bug, mobile

#4429 LIVE-8683 Update coreum staking doc url
  .changeset/friendly-mangos-pretend.md
  libs/ledger-live-common/src/families/cosmos/chain/Coreum.ts
Labels: common

#4426 fix(llm/customlockscreen): differentiation between error messages
  .changeset/red-coins-sneeze.md
  .changeset/shiny-carrots-mix.md
  .changeset/smooth-keys-brake.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/CustomImage/imageUtils.ts
  apps/ledger-live-mobile/src/components/CustomImage/useCenteredImage.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/CustomImage/PreviewPreEdit.tsx
  libs/ledger-live-common/src/customImage/errors.ts
Labels: desktop, mobile, common, translations

#4423 Bugfix/back button hide market details
  .changeset/fair-mangos-double.md
  .changeset/green-turkeys-learn.md
  apps/ledger-live-mobile/src/components/RootNavigator/MarketNavigator.tsx
Labels: bug, mobile

#4432 fix: no market data on market tab switching
  .changeset/popular-brooms-float.md
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/index.tsx
Labels: bug, mobile

#4448 [BUGFIX][LIVE-8998][LLM] correct staking icon
  apps/ledger-live-mobile/src/families/evm/accountActions.tsx
Labels: mobile

#4402 Bugfix/stacks: Parsing unknown txns
  .changeset/dull-wombats-refuse.md
  libs/ledger-live-common/src/families/stacks/__tests__/sync.integration.test.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/api.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/misc.ts
Labels: common, fork

#4449 CAL update
  .changeset/odd-moons-explain.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/cardanoNative.json
  libs/ledgerjs/packages/cryptoassets/src/data/eip712.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1088/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1088/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/199/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/199/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/246/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/246/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/coins.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/polygon-erc20.ts
Labels: desktop, common, ledgerjs

#4421 [Bugfix/LIVE-8914]: Info message not triggered when user accesses a coin from the Market tab
  .changeset/green-games-obey.md
  apps/ledger-live-mobile/src/components/FabActions/FabButtonBar.tsx
  apps/ledger-live-mobile/src/components/wrappedUi/Button.tsx
  libs/ui/packages/native/src/components/cta/Button/index.tsx
Labels: mobile, ui

#4417 use specific component in SignTransaction flow
  .changeset/loud-bananas-study.md
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/AccountFooter.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/NOTES.md
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/RecipientField.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/steps/StepSummary.tsx
  apps/ledger-live-desktop/tests/models/LiveAppWebview.ts
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts-snapshots/live-app-sign-bitcoin-transaction-info-darwin.png
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts-snapshots/live-app-sign-bitcoin-transaction-info-linux.png
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts-snapshots/live-app-sign-bitcoin-transaction-info-win32.png
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts-snapshots/live-app-sign-ethereum-transaction-info-darwin.png
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts-snapshots/live-app-sign-ethereum-transaction-info-linux.png
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts-snapshots/live-app-sign-ethereum-transaction-info-win32.png
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts-snapshots/live-app-sign-transaction-info-darwin.png
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts-snapshots/live-app-sign-transaction-info-linux.png
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts-snapshots/live-app-sign-transaction-info-win32.png
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts-snapshots/live-app-verify-address-linux.png
  libs/test-utils/dummy-live-app/src/App.tsx
Labels: desktop, screenshots

#4439 fix: remove stake banner from nft receive flow
  apps/ledger-live-desktop/src/renderer/modals/Receive/Body.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveFunds.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Collections/Collections.tsx
Labels: desktop

#4247 bugfix(LIVE-7623): typings
  .changeset/tricky-crabs-raise.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/BodyContent.tsx
  apps/ledger-live-mobile/src/screens/Platform/exchange/CompleteExchange.tsx
  libs/ledger-live-common/src/exchange/platform/types.ts
  libs/ledger-live-common/src/hw/actions/completeExchange.ts
  libs/ledger-live-common/src/wallet-api/logic.ts
Labels: desktop, mobile, common

#4451 fix: recover restore and onboarding issues
  .changeset/thin-buses-check.md
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/index.tsx
  apps/ledger-live-desktop/src/renderer/components/RecoverRestore/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/helpers.ts
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/types.ts
  apps/ledger-live-desktop/src/renderer/components/WebRecoverPlayer/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/recover/Player.tsx
  apps/ledger-live-mobile/ios/Podfile
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/EarnLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/types.ts
  apps/ledger-live-mobile/src/components/WebPTXPlayer/index.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/index.tsx
  apps/ledger-live-mobile/src/components/WebRecoverPlayer/index.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/protectFlow.tsx
  apps/ledger-live-mobile/src/screens/Protect/Player.tsx
  apps/ledger-live-mobile/src/screens/Protect/RedirectToRecoverStaxFlow.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SyncOnboardingCompanion.tsx
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/platform/react.ts
  libs/ledger-live-common/src/wallet-api/helpers.ts
  libs/test-utils/dummy-wallet-app/package.json
  patches/react-native-webview@11.26.1.patch
  pnpm-lock.yaml
Labels: desktop, mobile, common

#4415 💬 LLM - updated the tile of the enjoy screen in the nps flow
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Settings/index.tsx
Labels: mobile, translations

#4376 Cardano Bridge Mock testing
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepRecipient.tsx
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-accounts-list-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-accounts-list-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-accounts-list-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-deleteAccount-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-deleteAccount-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-deleteAccountFromAccountsList-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-deleteAccountFromAccountsList-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-deleteAccountFromAccountsList-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-firstAccountPage-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-firstAccountPage-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-firstAccountPage-operations-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-firstAccountPage-operations-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-firstAccountPage-operations-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-firstAccountPage-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-select-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-select-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-select-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-success-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-success-win32.png
  libs/coin-evm/src/getTransactionStatus.ts
  libs/ledger-live-common/src/bridge/mockHelpers.ts
  libs/ledger-live-common/src/families/cardano/bridge/mock.ts
  libs/ledger-live-common/src/families/cardano/js-buildTransaction.ts
  libs/ledger-live-common/src/families/cardano/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/cardano/js-getTransactionStatus.ts
  libs/ledger-live-common/src/generated/bridge/mock.ts
  libs/ledger-live-common/src/mock/account.ts
Labels: desktop, common, screenshots

#4461 fix: accessing restore flow from onboarding
  .changeset/soft-berries-peel.md
  apps/ledger-live-mobile/src/screens/Onboarding/steps/protectFlow.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SyncOnboardingCompanion.tsx
Labels: mobile

#4452 LIVE-8495 Fix: evm integration test
  .changeset/modern-brooms-appear.md
  libs/coin-evm/src/__tests__/integration/bridge.integration.test.ts
  libs/coin-evm/src/datasets/ethereum1.ts
  libs/ledger-live-common/src/__tests__/test-helpers/bridge.ts
  libs/ledger-live-common/src/families/evm/bridge/mock.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/bridge.ts
Labels: common, ledgerjs

#4212 feat: web ptx player to load correct manifest
  .changeset/cold-walls-poke.md
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/components/BalanceInfos/index.tsx
  apps/ledger-live-desktop/src/renderer/components/BuyButton.tsx
  apps/ledger-live-desktop/src/renderer/components/ContextMenu/AccountContextMenu.tsx
  apps/ledger-live-desktop/src/renderer/components/PerCurrencySelectAccount/Option.tsx
  apps/ledger-live-desktop/src/renderer/components/PerCurrencySelectAccount/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SelectAccountAndCurrency.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/helpers.ts
  apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/TopBar.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountHeaderActions.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/EmptyStateAccount.tsx
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Buy/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/ProviderList.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Sell/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/hooks.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoinScreen/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketRowItem.tsx
  apps/ledger-live-desktop/src/renderer/storage.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-firstAccountPage-linux.png
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ExchangeLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ExchangeNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ExchangeStackNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/ExchangeLiveAppNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/ExchangeNavigator.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  apps/ledger-live-mobile/src/components/WebPTXPlayer/index.tsx
  apps/ledger-live-mobile/src/icons/ApplePay.tsx
  apps/ledger-live-mobile/src/icons/DropdownArrow.tsx
  apps/ledger-live-mobile/src/icons/GooglePay.tsx
  apps/ledger-live-mobile/src/icons/Maestro.tsx
  apps/ledger-live-mobile/src/icons/MasterCard.tsx
  apps/ledger-live-mobile/src/icons/PayPal.tsx
  apps/ledger-live-mobile/src/icons/Sepa.tsx
  apps/ledger-live-mobile/src/icons/Visa.tsx
  apps/ledger-live-mobile/src/screens/Exchange/Buy.tsx
  apps/ledger-live-mobile/src/screens/Exchange/ProviderList.tsx
  apps/ledger-live-mobile/src/screens/Exchange/ProviderView.tsx
  apps/ledger-live-mobile/src/screens/Exchange/ScreenHeader.tsx
  apps/ledger-live-mobile/src/screens/Exchange/SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/Exchange/SelectAccountCurrency.tsx
  apps/ledger-live-mobile/src/screens/Exchange/SelectCurrency.tsx
  apps/ledger-live-mobile/src/screens/Exchange/Sell.tsx
  apps/ledger-live-mobile/src/screens/Exchange/hooks.ts
  apps/ledger-live-mobile/src/screens/PTX/BuyAndSell/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/wallet-api/constants.ts
  libs/ledger-live-common/src/wallet-api/helpers.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs, screenshots

#4466 fix: add deeplink track to llm and improve deeplink track lld
  .changeset/calm-falcons-kiss.md
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.ts
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
Labels: desktop, mobile

#4390 fix: don't pop from live app when verifying address
  .changeset/spotty-pumpkins-sparkle.md
  apps/ledger-live-mobile/src/screens/VerifyAccount/index.tsx
Labels: mobile

#4467 bugfix: Empty modals when clicking "X" after "Stake" on Earn more rewards tab
  .changeset/fresh-dragons-smile.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/EarnLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/components/Stake/index.tsx
  apps/ledger-live-mobile/src/components/Stake/useStakingDrawer.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
Labels: bug, mobile

#4474 chore: gen e2e screenshots
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-firstAccountPage-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-firstAccountPage-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-btc-buy-page-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-btc-buy-page-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-btc-buy-page-win32.png
Labels: desktop, screenshots

#4413 💄 LLM - add warning on send flow when a tx is pending
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/SendFunds/02-SelectRecipient.tsx
Labels: mobile, translations

#4408 💄 LLM - Send Tx Pending Warning
  .changeset/soft-guests-think.md
  apps/ledger-live-mobile/src/components/OperationRow/index.tsx
  apps/ledger-live-mobile/src/icons/OperationStatusIcon/index.tsx
  apps/ledger-live-mobile/src/screens/OperationDetails/Content.tsx
  apps/ledger-live-mobile/src/screens/OperationDetails/Title.tsx
Labels: mobile

#4475 feat(llm/earlysecuritychecks): implemented tracking plan
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/SyncOnboarding/EarlySecurityCheck.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/EarlySecurityCheckBody.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/FirmwareUpdateAvailableDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/GenuineCheckErrorDrawer.tsx
Labels: mobile, translations

#4483 chore: prevent SYNC_SOME_ACCOUNTS log with empty accounts[]
  libs/ledger-live-common/src/bridge/react/BridgeSync.tsx
Labels: common

#4480 support(llm): small deposit copy updates
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
Labels: mobile, translations

#4471 Feat/live 8375 fw update redesign
  .changeset/eighty-hornets-suffer.md
  apps/ledger-live-mobile/src/components/FirmwareUpdateBanner.tsx
  apps/ledger-live-mobile/src/components/theme/InvertTheme.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Manager/AppsScreen.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/index.tsx
Labels: mobile, translations

#4490 chore: add /svg-icons in common tools
  tools/common-tools/src/demos/index.js
  tools/common-tools/src/demos/svgIcons/App.css
  tools/common-tools/src/demos/svgIcons/index.js
Labels: tools

#4456 Polkadot bridge mock
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-accounts-list-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-accounts-list-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-accounts-list-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-deleteAccount-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-deleteAccount-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-deleteAccountFromAccountsList-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-deleteAccountFromAccountsList-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-deleteAccountFromAccountsList-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-firstAccountPage-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-firstAccountPage-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-firstAccountPage-operations-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-firstAccountPage-operations-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-firstAccountPage-operations-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-firstAccountPage-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-select-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-select-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-select-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-success-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-success-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-darwin.png
  libs/ledger-live-common/src/families/polkadot/bridge/mock.ts
Labels: desktop, common, screenshots

#4468 feat(protect-2420): update recover wording
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#4174 feat: support customFees in swap web app mode
  .changeset/mighty-fireants-stare.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/webApp/index.ts
  libs/ledger-live-common/src/exchange/swap/webApp/utils.ts
  pnpm-lock.yaml
Labels: desktop, common

#4532 [WIP]fix: cosmos unit tests
  libs/coin-framework/src/account/serialization.ts
  libs/ledger-live-common/src/families/cosmos/account.ts
Labels: common

#4528 [bugfix] Fix regression when serializing cosmos operation extra
  .changeset/olive-oranges-know.md
  libs/coin-framework/src/account/serialization.ts
  libs/ledger-live-common/src/families/cosmos/account.ts
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/coreum.integration.test.ts.snap
Labels: common

#4539 Update some actions to remove the use of isomorphic-unfetch in favor of `node`'s fetch
  pnpm-lock.yaml
  tools/actions/change-product-name/build/main.js
  tools/actions/generate-bot-super-report/action.yml
  tools/actions/generate-bot-super-report/build/main.js
  tools/actions/generate-bot-super-report/logic.ts
  tools/actions/generate-bot-super-report/package.json
  tools/actions/generate-release-message/build/main.js
  tools/actions/get-package-infos/action.yml
  tools/actions/get-package-infos/build/main.js
  tools/actions/get-package-infos/package.json
  tools/actions/get-workflow-artifacts-id/build/main.js
  tools/actions/live-common-affected/build/main.js
  tools/actions/prepare-comment-screenshots/build/main.js
  tools/actions/submit-bot-report/build/main.js
  tools/actions/submit-bot-report/main.ts
  tools/actions/submit-bot-report/package.json
  tools/actions/turbo-affected/build/main.js
  tools/actions/turborepo-gh-cache/build/cleanup.js
  tools/actions/turborepo-gh-cache/build/main.js
  tools/actions/turborepo-gh-cache/build/server.js
  tools/actions/turborepo-s3-cache/build/cleanup.js
  tools/actions/turborepo-s3-cache/build/main.js
  tools/actions/turborepo-s3-cache/build/server.js
  tools/actions/upload-images/action.yml
  tools/actions/upload-images/build/main.js
  tools/actions/upload-images/main.ts
  tools/actions/upload-images/package.json
Labels: tools

#4543 fix(react-ui): fix checkbox component console error
  .changeset/ninety-eels-suffer.md
  .changeset/old-keys-complain.md
  libs/ui/packages/react/src/components/form/Checkbox/Checkbox.tsx
Labels: ui

#4453 Bugfix/live 8464 llm contexts improvements
  .changeset/twelve-zoos-march.md
  apps/ledger-live-mobile/e2e/bridge/client.ts
  apps/ledger-live-mobile/src/analytics/AnalyticsContext.tsx
  apps/ledger-live-mobile/src/analytics/AnalyticsProvider.tsx
  apps/ledger-live-mobile/src/analytics/SegmentSetup.tsx
  apps/ledger-live-mobile/src/components/AdjustSetup.tsx
  apps/ledger-live-mobile/src/components/Button.tsx
  apps/ledger-live-mobile/src/components/CheckTermOfUseUpdate.tsx
  apps/ledger-live-mobile/src/components/DelayedTrackingProvider.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/index.tsx
  apps/ledger-live-mobile/src/context/ButtonUseTouchableContext.ts
  apps/ledger-live-mobile/src/context/LedgerStore.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/logic/terms.tsx
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/terms.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Configuration/ResetOnboardingStateRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/TermsOfUse.tsx
Labels: mobile

#4548 Hardcode Ledger validator details for Solana (release)
  .changeset/proud-kangaroos-bake.md
  apps/ledger-live-desktop/src/renderer/families/solana/shared/components/LedgerByFigmentTCLink.tsx
  libs/ledger-live-common/src/families/solana/banner.ts
  libs/ledger-live-common/src/families/solana/js-preload.ts
  libs/ledger-live-common/src/families/solana/react.integration.test.ts
  libs/ledger-live-common/src/families/solana/utils.ts
  libs/ledger-live-common/src/families/solana/validator-app/index.ts
Labels: desktop, common

#4534 [feat/LIVE-9136]: add api and helper hooks for v5 swap transition
  .changeset/orange-chicken-care.md
  libs/ledger-live-common/src/exchange/swap/api/v5/__tests__/fetchCurrencyFrom.spec.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/__tests__/fetchCurrencyTo.spec.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyFrom.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyTo.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchRates.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchCurrencyFrom.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchCurrencyTo.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchRates.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
  libs/ledger-live-common/src/exchange/swap/utils/flattenV5CurrenciesToAndFrom.ts
  libs/ledger-live-common/src/hooks/useAPI.ts
Labels: common

#4540 Hardcode Ledger validator details for Solana
  .changeset/proud-kangaroos-bake.md
  apps/ledger-live-desktop/src/renderer/families/solana/shared/components/LedgerByFigmentTCLink.tsx
  libs/ledger-live-common/src/families/solana/banner.ts
  libs/ledger-live-common/src/families/solana/js-preload.ts
  libs/ledger-live-common/src/families/solana/react.integration.test.ts
  libs/ledger-live-common/src/families/solana/utils.ts
  libs/ledger-live-common/src/families/solana/validator-app/index.ts
Labels: desktop, common, HODL
