Repository LedgerHQ/ledger-live, pull requests merged in 2023-01, with the labels that each got.

#2116 React Native Flipper performance plugin
  apps/ledger-live-mobile/android/app/src/debug/java/com/ledger/live/ReactNativeFlipper.java
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.m
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Labels: mobile

#2188 B2CQA - Increase detox setup Timeout
  apps/ledger-live-mobile/detox.config.js
  apps/ledger-live-mobile/package.json
Labels: mobile

#2154 Fix margins for app update and firwmare update banners
  .changeset/moody-flowers-enjoy.md
  apps/ledger-live-mobile/src/components/FirmwareUpdateBanner.tsx
  apps/ledger-live-mobile/src/screens/Manager/AppsList/AppUpdateAll.tsx
  apps/ledger-live-mobile/src/screens/Manager/AppsScreen.tsx
Labels: mobile

#2180 Feat/LIVE-4996 - Update text of LLM Discover card "refer a friend"
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#2128 Fix MyLedger device selection screen UI with the ServicesWidget
  .changeset/three-jars-brake.md
  apps/ledger-live-mobile/src/screens/Manager/index.tsx
Labels: mobile

#2165 Fix back navigation when entering CLS error screen
  .changeset/khaki-walls-carry.md
  apps/ledger-live-mobile/src/screens/CustomImage/PreviewPreEdit.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/CustomImage.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/index.tsx
Labels: mobile

#2231 Icons file naming: rename all icons filenames that start with a capital letter
  .changeset/yellow-queens-rush.md
  libs/ui/packages/icons/src/svg/light/close.svg
  libs/ui/packages/icons/src/svg/medium/close.svg
  libs/ui/packages/icons/src/svg/medium/photograph.svg
  libs/ui/packages/icons/src/svg/medium/upload.svg
  libs/ui/packages/icons/src/svg/regular/close.svg
  libs/ui/packages/icons/src/svg/thin/close.svg
  libs/ui/packages/icons/src/svg/ultraLight/close.svg
Labels: ui

#2227 feat/LIVE-5046 Improvements to the App State tool.
  .changeset/empty-donkeys-develop.md
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/reducers/accounts.ts
  apps/ledger-live-mobile/src/reducers/appstate.ts
  apps/ledger-live-mobile/src/reducers/ble.ts
  apps/ledger-live-mobile/src/reducers/index.ts
  apps/ledger-live-mobile/src/reducers/notifications.ts
  apps/ledger-live-mobile/src/reducers/ratings.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/swap.ts
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/Node.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/Store.tsx
Labels: mobile

#2190 Feat/live 4993 handle bitcoin.getXPpub wallet api method
  .changeset/many-cougars-double.md
  .changeset/selfish-owls-float.md
  .changeset/tricky-suits-remember.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/WebViewV2.tsx
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/WebViewV2.tsx
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/mock/fixtures/cryptoCurrencies.ts
  libs/ledger-live-common/src/wallet-api/logic.test.ts
  libs/ledger-live-common/src/wallet-api/logic.ts
  libs/ledger-live-common/src/wallet-api/tracking.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common

#2224 Improve UX for LLD FF
  .changeset/polite-wolves-itch.md
  apps/ledger-live-desktop/src/renderer/actions/settings.js
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.jsx
  apps/ledger-live-desktop/src/renderer/reducers/settings.js
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsSettings/GroupedFeatures.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsSettings/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#2150 Feat: FAT-488 - handle locked device response 5515 for genuine check and polling
  .changeset/chatty-apes-share.md
  .changeset/mighty-glasses-nail.md
  .changeset/tame-walls-compete.md
  .changeset/wicked-steaks-cheer.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/DeviceConnection/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckAllowSecureChannelModal.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckLockedDeviceModal.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckStep.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SoftwareChecksStep.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/UnlockDeviceDrawer.tsx
  libs/ledger-live-common/src/hw/getGenuineCheckFromDeviceId.test.ts
  libs/ledger-live-common/src/hw/getGenuineCheckFromDeviceId.ts
  libs/ledger-live-common/src/hw/getLatestAvailableFirmwareFromDeviceId.test.ts
  libs/ledger-live-common/src/hw/getLatestAvailableFirmwareFromDeviceId.ts
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.test.ts
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.ts
  libs/ledger-live-common/src/hw/hooks/useGenuineCheck.test.ts
  libs/ledger-live-common/src/hw/hooks/useGenuineCheck.ts
  libs/ledger-live-common/src/hw/hooks/useGetLatestAvailableFirmware.test.ts
  libs/ledger-live-common/src/hw/hooks/useGetLatestAvailableFirmware.ts
  libs/ledger-live-common/src/mock/fixtures/aLatestFirmwareContext.ts
  libs/ledger-live-common/src/onboarding/hooks/useOnboardingStatePolling.test.ts
  libs/ledger-live-common/src/onboarding/hooks/useOnboardingStatePolling.ts
  libs/ledgerjs/packages/devices/src/helpers.test.ts
  libs/ledgerjs/packages/devices/src/helpers.ts
Labels: desktop, mobile, common, ledgerjs, translations

#2229 LLM - LIVE-5043 : Cards should sorted from latest to oldest in Learn Section
  apps/ledger-live-mobile/src/dynamicContent/dynamicContent.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/screens/Learn/learn.tsx
Labels: mobile

#2242 Support: LIVE-5092: Narrow theme type
  .changeset/loud-garlics-kiss.md
  .changeset/quiet-jobs-roll.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/animations.ts
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckAllowSecureChannelModal.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckLockedDeviceModal.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/TroubleshootingDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  libs/ui/packages/react/src/index.ts
  libs/ui/packages/react/src/styles/index.ts
  libs/ui/packages/react/src/styles/theme.ts
Labels: desktop, ui

#2246 Fix crash of the new device error when a device is not seeded
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
Labels: desktop

#2254 Fix desktop crash when accessing the manager
  .changeset/silly-cars-remember.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/animations.ts
Labels: desktop

#2230 ethereum: log the unsigned raw tx
  libs/ledger-live-common/src/families/ethereum/signOperation.ts
  pnpm-lock.yaml
  tools/common-tools/package.json
  tools/common-tools/src/demos/eth-tx-tools/index.js
  tools/common-tools/src/demos/index.js
Labels: common, tools

#2131 fix: NEAR LLM bust staking positions cache (#2127)
  .changeset/green-tools-share.md
  apps/ledger-live-mobile/src/families/near/AccountBalanceSummaryFooter.tsx
  libs/ledger-live-common/src/families/near/api/archive-node-sdk.ts
  libs/ledger-live-common/src/families/near/api/datahub-indexer-sdk.ts
  libs/ledger-live-common/src/families/near/api/near-staking-positions-sdk.ts
  libs/ledger-live-common/src/families/near/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/near/logic.ts
Labels: mobile, common

#2260 support(ledgerjs-cal): update CAL
  .changeset/famous-horses-act.md
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/release-notes.json
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/polygon-erc20.ts
Labels: desktop, common, ledgerjs

#2121 Remove stakenet currency
  .changeset/gold-ears-bake.md
  .changeset/gold-hats-help.md
  .changeset/ninety-beans-compare.md
  .changeset/young-beers-smash.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.js
  apps/ledger-live-desktop/tests/mocks/serviceStatusHelpers.js
  apps/ledger-live-desktop/tests/userdata/bot-accounts.json
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/Settings/Debug/__mocks__/serviceStatus.ts
  libs/ledger-live-common/explorers-config.md
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/__tests__/test-helpers/serviceStatus.ts
  libs/ledger-live-common/src/api/explorerConfig/index.ts
  libs/ledger-live-common/src/appSupportsQuitApp.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/families/bitcoin/datasets/stakenet.ts
  libs/ledger-live-common/src/families/bitcoin/fees.ts
  libs/ledger-live-common/src/families/bitcoin/logic.ts
  libs/ledger-live-common/src/families/bitcoin/networks.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/utils.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.syncing.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/factory.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/index.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/stakenet.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/types.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: desktop, mobile, common, ledgerjs, cli

#2248 fix(wallet-api): filter currencies families
  .changeset/clean-fireants-draw.md
  .changeset/gorgeous-crabs-sneeze.md
  .changeset/wise-gifts-provide.md
  .pnpmfile.cjs
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/WebViewV2.tsx
  apps/ledger-live-desktop/tests/utils/dummy-wallet-app/package.json
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/RootNavigator/types/RequestAccountNavigator.ts
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/WebViewV2.tsx
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/wallet-api/constants.ts
  libs/ledger-live-common/src/wallet-api/helpers.ts
  libs/ledger-live-common/src/wallet-api/react.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common

#2214 FAT-717 Use the new device selection screen everywhere
  .changeset/two-papayas-divide.md
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicesScanning.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/02-SelectDevice.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/index.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step3Transfer.tsx
  apps/ledger-live-mobile/src/screens/Manager/index.tsx
  apps/ledger-live-mobile/src/screens/MigrateAccounts/02-ConnectDevice.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/pairNew.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/BaseStepperView.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/ConnectNano.tsx
  apps/ledger-live-mobile/src/screens/Platform/exchange/StartExchange.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccountSelectDevice.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03a-ConnectDevice.tsx
  apps/ledger-live-mobile/src/screens/RepairDevice.tsx
  apps/ledger-live-mobile/src/screens/SelectDevice.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/FetchCustomImage.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Connect.tsx
  apps/ledger-live-mobile/src/screens/VerifyAccount/index.tsx
Labels: mobile

#2243 MultiversX LLM fixes
  apps/ledger-live-desktop/release-notes.json
  apps/ledger-live-desktop/src/renderer/families/elrond/types.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/ios/ledgerlivemobileTests/Info.plist
  apps/ledger-live-mobile/src/families/elrond/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/families/elrond/accountActions.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Body/components/Delegations/Delegations.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Body/components/Drawer/hooks/useDrawerActions.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Body/components/Drawer/hooks/useDrawerItems.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Body/components/Rewards/Rewards.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Details/Details.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Details/helpers/getURLFeesInfo.ts
  apps/ledger-live-mobile/src/families/elrond/components/Details/helpers/getURLWhatIsThis.ts
  apps/ledger-live-mobile/src/families/elrond/components/Details/helpers/types.ts
  apps/ledger-live-mobile/src/families/elrond/components/Details/index.ts
  apps/ledger-live-mobile/src/families/elrond/components/Details/types.ts
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Claim/components/PickMethod/PickMethod.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Claim/components/PickValidator/PickValidator.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Delegate/components/PickAmount/PickAmount.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Undelegate/components/PickAmount/PickAmount.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Summary/Summary.tsx
  apps/ledger-live-mobile/src/families/elrond/operationDetails.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/data/icons/svg/EGLD.svg
  libs/ledger-live-common/src/families/elrond/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/elrond/api/sdk.ts
  libs/ledger-live-common/src/families/elrond/constants.ts
  libs/ledger-live-common/src/families/elrond/errors.ts
  libs/ledger-live-common/src/families/elrond/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/elrond/js-synchronisation.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ui/packages/crypto-icons/src/svg/EGLD.svg
Labels: desktop, mobile, common, ui, ledgerjs, translations, fork

#2264 unDelegate, withdraw, reDelegateRewards & claimRewards transactions must have amount 0
  libs/ledger-live-common/src/families/elrond/js-getTransactionStatus.ts
Labels: common, fork

#2255 feat: swap analytics for LLM
  .changeset/chilled-ties-juggle.md
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/components/SelectFeesStrategy.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Max.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Requirement/Banner.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Summary/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/TxForm/From.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/TxForm/To.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectFees.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectProvider.tsx
  apps/ledger-live-mobile/src/screens/Swap/utils.ts
Labels: mobile

#2003 ✨ : LIVE - 4456 : LLM Notification Center
  .changeset/calm-trees-tap.md
  .changeset/young-trainers-grab.md
  apps/ledger-live-mobile/src/actions/dynamicContent.ts
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/Carousel/CarouselCard.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/NotificationCenterNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/NotificationCenterNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/dynamicContent/dynamicContent.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/dynamicContent/useContentCards.ts
  apps/ledger-live-mobile/src/dynamicContent/useDynamicContentLogic.ts
  apps/ledger-live-mobile/src/icons/FullNodeWarning.tsx
  apps/ledger-live-mobile/src/icons/Notifications.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/reducers/dynamicContent.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/NotificationCenter/News.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/NewsRow.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/Notifications.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/Snackbar/SnackbarContainer.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/Status.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/helper.ts
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
  apps/ledger-live-mobile/src/screens/Settings/Notifications/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  libs/ui/packages/native/CHANGELOG.md
  libs/ui/packages/native/src/components/Cards/FullBackgroundCard/ColoredGradient.tsx
  libs/ui/packages/native/src/components/Cards/FullBackgroundCard/ShadowGradient.tsx
  libs/ui/packages/native/src/components/Cards/FullBackgroundCard/index.tsx
  libs/ui/packages/native/src/components/Cards/NotificationCard/index.tsx
  libs/ui/packages/native/src/components/Cards/SideImageCard/index.tsx
  libs/ui/packages/native/src/components/Cards/index.ts
  libs/ui/packages/native/storybook/stories/Cards/Cards.stories.tsx
  libs/ui/packages/native/storybook/stories/Cards/descriptionsCards.ts
  libs/ui/packages/shared/palettes/dark.ts
  libs/ui/packages/shared/palettes/light.ts
  pnpm-lock.yaml
Labels: mobile, ui, translations

#2203 🐛 [BUGFIX] : LIVE-5036 : LLM- 'Terms of Use Update' pop-up issue in some languages
  .changeset/few-toes-appear.md
  apps/ledger-live-mobile/src/components/CheckTermOfUseUpdate.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/logic/terms.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/TermsOfUse.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/index.tsx
Labels: mobile

#2085 ✨ FEAT : LIVE-4021 - Learn Content in LLM
  apps/ledger-live-mobile/src/actions/dynamicContent.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/WebViewScreen/index.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/dynamicContent/dynamicContent.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/dynamicContent/useDynamicContentLogic.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/reducers/dynamicContent.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Discover/index.tsx
  apps/ledger-live-mobile/src/screens/Learn/Loading.tsx
  apps/ledger-live-mobile/src/screens/Learn/index.tsx
  apps/ledger-live-mobile/src/screens/Learn/learn.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/native/src/components/Cards/InformativeCard/index.tsx
  libs/ui/packages/native/src/components/Cards/index.ts
  libs/ui/packages/native/storybook/stories/Cards/Cards.stories.tsx
  libs/ui/packages/native/storybook/stories/Cards/descriptionsCards.ts
Labels: mobile, common, ui, ledgerjs, translations

#2272 upgrade @celo packages to 3.0.1
  .changeset/serious-sheep-sniff.md
  .pnpmfile.cjs
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: common

#2163 Introduce "experimental networking" settings that runs all coin and app logic on renderer side
  apps/ledger-live-desktop/src/internal/commands/index.js
  apps/ledger-live-desktop/src/internal/commands/publicKeyTweakAdd.test.ts
  apps/ledger-live-desktop/src/internal/commands/publicKeyTweakAdd.ts
  apps/ledger-live-desktop/src/logger/logger-transport-in-memory.js
  apps/ledger-live-desktop/src/logger/logger-transport-main.js
  apps/ledger-live-desktop/src/logger/logger-transport-renderer-instance.js
  apps/ledger-live-desktop/src/logger/logger-transport-renderer.js
  apps/ledger-live-desktop/src/main/setup.js
  apps/ledger-live-desktop/src/renderer/bridge/proxy.js
  apps/ledger-live-desktop/src/renderer/commands.js
  apps/ledger-live-desktop/src/renderer/components/ExportLogsButton.jsx
  apps/ledger-live-desktop/src/renderer/experimental.jsx
  apps/ledger-live-desktop/src/renderer/init.jsx
  apps/ledger-live-desktop/src/renderer/live-common-setup.js
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/env.ts
Labels: desktop, common, translations

#2282 [LIVE-5126] Bugfix - Add an LRU Cache on ERC20 CDN call
  .changeset/curvy-readers-dance.md
  libs/ledger-live-common/src/families/ethereum/modules/erc20.ts
  libs/ledger-live-common/src/families/ethereum/modules/erc20.unit.test.ts
Labels: common

#2212 fix: LIVE-5026 remove stake from polygon and binance accounts
  .changeset/famous-monkeys-listen.md
  apps/ledger-live-desktop/src/renderer/families/ethereum/AccountHeaderManageActions.js
Labels: desktop

#2189 Feat: LIVE-4683 Add DEX limit UI
  .changeset/brown-socks-dress.md
  .changeset/sour-squids-protect.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
  libs/ledger-live-common/src/errors.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.test.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useProviderRates.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useProviderRates.ts
Labels: desktop, common

#2287 Sentry: ignore HederaAddAccountError
  apps/ledger-live-desktop/src/sentry/install.js
  apps/ledger-live-mobile/index.js
Labels: desktop, mobile

#2222 fix: LIVE-4972 add hover effect eth stake modal
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/Body.jsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/component/ProviderItem.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveStakingFlow.tsx
Labels: desktop

#1978 Feat/Integrating Live App Catalog API into LLM and LLD
  .changeset/brave-rats-guess.md
  .changeset/tender-parents-move.md
  .changeset/warm-kings-train.md
  apps/ledger-live-desktop/src/renderer/components/Platform/AppCard.jsx
  apps/ledger-live-desktop/src/renderer/components/Platform/AppDetails.jsx
  apps/ledger-live-desktop/src/renderer/components/PlatformAppProviderWrapper.jsx
  apps/ledger-live-desktop/src/renderer/components/PlatformAppProviderWrapper.tsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/LiveAppDisclaimer.jsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/LiveAppSDKLogic.ts
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/TopBar.jsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/WebView.tsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/index.tsx
  apps/ledger-live-desktop/src/renderer/reducers/UI.js
  apps/ledger-live-desktop/src/renderer/reducers/settings.js
  apps/ledger-live-desktop/src/renderer/screens/platform/Catalog.jsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/CatalogProviderInput.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/CatalogRampProviderSelect.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/discover-darwin.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/discover-linux.png
  apps/ledger-live-mobile/src/PlatformAppProviderWrapper.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/WebView.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/index.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/navigation/useDeepLinking.ts
  apps/ledger-live-mobile/src/screens/Exchange/ProviderView.tsx
  apps/ledger-live-mobile/src/screens/Platform/App.tsx
  apps/ledger-live-mobile/src/screens/Platform/AppCard.tsx
  apps/ledger-live-mobile/src/screens/Platform/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/shared.tsx
  libs/ledger-live-common/src/env.ts
  libs/ledger-live-common/src/platform/PlatformAppProvider/api/api.mock.ts
  libs/ledger-live-common/src/platform/PlatformAppProvider/api/api.ts
  libs/ledger-live-common/src/platform/PlatformAppProvider/api/index.ts
  libs/ledger-live-common/src/platform/PlatformAppProvider/helpers.ts
  libs/ledger-live-common/src/platform/PlatformAppProvider/index.tsx
  libs/ledger-live-common/src/platform/PlatformAppProvider/providers.ts
  libs/ledger-live-common/src/platform/PlatformAppProvider/types.ts
  libs/ledger-live-common/src/platform/filters.ts
  libs/ledger-live-common/src/platform/logic.test.ts
  libs/ledger-live-common/src/platform/logic.ts
  libs/ledger-live-common/src/platform/providers/GlobalCatalogProvider/api/index.ts
  libs/ledger-live-common/src/platform/providers/GlobalCatalogProvider/api/mock.json
  libs/ledger-live-common/src/platform/providers/GlobalCatalogProvider/index.tsx
  libs/ledger-live-common/src/platform/providers/GlobalCatalogProvider/types.ts
  libs/ledger-live-common/src/platform/providers/LocalLiveAppProvider/index.tsx
  libs/ledger-live-common/src/platform/providers/LocalLiveAppProvider/types.ts
  libs/ledger-live-common/src/platform/providers/RampCatalogProvider/api/index.ts
  libs/ledger-live-common/src/platform/providers/RampCatalogProvider/index.tsx
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/api/index.ts
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/index.tsx
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/types.ts
  libs/ledger-live-common/src/platform/providers/types.ts
  libs/ledger-live-common/src/platform/react.ts
  libs/ledger-live-common/src/platform/tracking.test.ts
  libs/ledger-live-common/src/platform/tracking.ts
  libs/ledger-live-common/src/platform/types.ts
Labels: desktop, mobile, common, HODL, translations, screenshots

#2275 feat: LLM more swap analytics
  .changeset/great-taxis-mate.md
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/Confirmation.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Summary/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/TxForm/AmountInput.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/TxForm/From.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectCurrency.tsx
  apps/ledger-live-mobile/src/screens/Swap/utils.ts
Labels: mobile

#2159 fix: adds copy for changelly's KYC alert
  .changeset/beige-dancers-laugh.md
  .changeset/nervous-pans-compete.md
  .changeset/spicy-seals-invite.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/exchange/swap/utils/index.test.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.ts
Labels: desktop, mobile, common, translations

#2238 LLD - bugfix - debounces user input on swap form
  .changeset/fluffy-chairs-develop.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
Labels: desktop

#2299 Bugfix discover learn section navigation fixed
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/screens/Discover/index.tsx
Labels: mobile

#2286 Bugfix iOS: Disable signing of pods
  apps/ledger-live-mobile/ios/Podfile
  apps/ledger-live-mobile/ios/Podfile.lock
Labels: mobile

#2292 Bugfix: LIVE-3847 dex swap quote add bsc
  .changeset/fluffy-beans-lie.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.test.ts
Labels: desktop, common

#2298 B2CQA - Limit playwright allure report to develop branch only
  .github/workflows/test-desktop.yml
Labels: automation

#2304 Force commonjs imports from react-native transport package
  .changeset/rotten-waves-join.md
  libs/ledgerjs/packages/react-native-hw-transport-ble/src/BleTransport.ts
Labels: ledgerjs

#2315 ESDT token balance
  apps/ledger-live-desktop/src/renderer/families/elrond/AccountBalanceSummaryFooter.jsx
  apps/ledger-live-mobile/src/families/elrond/components/Summary/Summary.tsx
  libs/ledger-live-common/src/families/elrond/js-buildSubAccounts.ts
  libs/ledger-live-common/src/families/elrond/js-synchronisation.ts
Labels: desktop, mobile, common, fork

#2289 Fixed faulty assertions in Playwright tests
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/models/TermsModal.ts
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts
  apps/ledger-live-desktop/tests/specs/general/terms.spec.ts
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts
  apps/ledger-live-desktop/tests/specs/support/unsupported-os.spec.ts
Labels: desktop

#2211 support/detox change language test
  apps/ledger-live-mobile/e2e/models/settings/generalSettingsPage.ts
  apps/ledger-live-mobile/e2e/setup.ts
  apps/ledger-live-mobile/e2e/specs/languageChange.spec.ts
  apps/ledger-live-mobile/src/components/SettingsRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/LanguageRow.tsx
Labels: mobile

#2294 Optimize logger
  .changeset/gold-ligers-look.md
  apps/ledger-live-desktop/src/logger/logger-transport-in-memory.js
  apps/ledger-live-desktop/src/logger/logger-transport-renderer.js
  apps/ledger-live-desktop/src/main/setup.js
Labels: desktop

#2318 Bugfix/LIVE-5161 Cosmos tx type fix
  .changeset/thirty-turtles-thank.md
  libs/ledger-live-common/src/families/cosmos/helpers.ts
  libs/ledger-live-common/src/families/cosmos/helpers.unit.test.ts
Labels: common

#2324 Smartling on-demand translation delivery from release
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#2331 Improve documentation of hw-transport
  libs/ledgerjs/packages/hw-transport/README.md
  libs/ledgerjs/packages/hw-transport/src/Transport.ts
Labels: ledgerjs

#2322 fix: aligns 1inch swap rate with other rates in LLD
  .changeset/hot-coins-laugh.md
  apps/ledger-live-desktop/src/renderer/icons/providers/Oneinch.jsx
Labels: desktop

#2305 Support/live 2726 remove experimental trongrid
  .changeset/five-years-dress.md
  apps/ledger-live-desktop/src/renderer/experimental.jsx
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/el/app.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fi/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/hu/app.json
  apps/ledger-live-desktop/static/i18n/it/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/nl/app.json
  apps/ledger-live-desktop/static/i18n/no/app.json
  apps/ledger-live-desktop/static/i18n/pl/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/pt/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/sr/app.json
  apps/ledger-live-desktop/static/i18n/sv/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/experimental-features-darwin.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/experimental-features-linux.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/experimental-features-win32.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-experimental-page-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-experimental-page-linux.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-experimental-page-win32.png
Labels: desktop, translations, screenshots

#2179 Feat: add dex deep link LIVE-3788
  .changeset/cuddly-gifts-kick.md
  .changeset/twenty-poets-stare.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/utils.js
  apps/ledger-live-desktop/src/renderer/screens/platform/App.jsx
  apps/ledger-live-desktop/src/renderer/screens/platform/utils.test.ts
  apps/ledger-live-desktop/src/renderer/screens/platform/utils.tsx
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
Labels: desktop, common

#2310 fix: add static limit to format value
  .changeset/nasty-years-pay.md
  .changeset/poor-glasses-destroy.md
  apps/ledger-live-desktop/src/renderer/components/FormattedVal.jsx
  apps/ledger-live-desktop/src/renderer/components/Price.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/SwapRate.jsx
  libs/ledger-live-common/src/currencies/formatCurrencyUnit.ts
Labels: desktop, common

#2268 fix(wallet-api): use the newDeviceSelectionFeature on mobile
  .changeset/soft-bananas-crash.md
  apps/ledger-live-mobile/src/screens/DeviceConnect/index.tsx
Labels: mobile

#2335 Bugfix/fix swap show dex quotes integration
  .changeset/nervous-falcons-pull.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
Labels: desktop

#2340 support: add Cometh as dep
  .changeset/fifty-forks-bake.md
  libs/ledger-live-common/src/apps/polyfill.ts
Labels: common

#2271 finalize design post onboarding hub LLD
  .changeset/hungry-pans-know.md
  apps/ledger-live-desktop/src/renderer/Default.jsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingActionRow.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingHubBanner.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingHubContent.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingMockAction.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/assets/bannerStaxDark.svg
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/assets/bannerStaxLight.svg
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/index.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingScreen/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useOpenPostOnboardingDrawerCallback.ts
  apps/ledger-live-desktop/src/renderer/screens/customImage/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/models/PostOnboarding.ts
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-2-actions-completed-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-2-actions-completed-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-2-actions-completed-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-claim-mocked-action-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-claim-mocked-action-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-claim-mocked-action-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-all-actions-completed-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-all-actions-completed-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-all-actions-completed-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-banner-in-dashboard-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-banner-in-dashboard-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-banner-in-dashboard-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-claim-complete-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-claim-complete-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-claim-complete-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-no-banner-in-dashboard-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-no-banner-in-dashboard-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-no-banner-in-dashboard-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-screen-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-screen-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-screen-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-start-migrate-assets-mocked-action-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-start-migrate-assets-mocked-action-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-start-migrate-assets-mocked-action-win32.png
Labels: desktop, translations, screenshots

#2270 Add new assets for Claim NFT Flow
  .changeset/violet-horses-change.md
  apps/ledger-live-mobile/assets/videos/index.ts
  apps/ledger-live-mobile/assets/videos/infinityPassDark/infinityPassCenter.mp4
  apps/ledger-live-mobile/assets/videos/infinityPassDark/infinityPassLoop.mp4
  apps/ledger-live-mobile/assets/videos/infinityPassDark/infinityPassPart01.mp4
  apps/ledger-live-mobile/assets/videos/infinityPassDark/infinityPassPart02.mp4
  apps/ledger-live-mobile/assets/videos/infinityPassLight/infinityPassCenter.mp4
  apps/ledger-live-mobile/assets/videos/infinityPassLight/infinityPassLoop.mp4
  apps/ledger-live-mobile/assets/videos/infinityPassLight/infinityPassPart01.mp4
  apps/ledger-live-mobile/assets/videos/infinityPassLight/infinityPassPart02.mp4
  apps/ledger-live-mobile/src/screens/ClaimNft/ClaimNftWelcome.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/ClaimNftFlowDebug.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/index.tsx
Labels: mobile

#2191 fix: LLD - swap loading state
  .changeset/chilled-shirts-turn.md
  .changeset/plenty-grapes-buy.md
  .changeset/smart-parrots-care.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/LoadingState.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/hooks/usePageState.js
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/hooks/useProviderRates.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useProviderRates.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useUpdateMaxAmount.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useUpdateMaxAmount.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
Labels: desktop, mobile, common, translations

#2334 Bugfix/fat 796 Crash because of legacy identifier "nanoFTS" in post onboarding data
  .changeset/cool-camels-invent.md
  libs/ledger-live-common/src/postOnboarding/reducer.test.ts
  libs/ledger-live-common/src/postOnboarding/reducer.ts
Labels: common

#2326 fix: fixes lld swap issue to only fetch dex rates from supported prov…
  .changeset/stupid-news-clean.md
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.test.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
Labels: common

#2162 Encode Bitcoin OP_RETURN instructions
  .changeset/clever-games-leave.md
  libs/ledger-live-common/src/bot/specs.ts
  libs/ledger-live-common/src/families/bitcoin/bridge/js.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/bitcoin.ts
  libs/ledger-live-common/src/families/bitcoin/deviceTransactionConfig.ts
  libs/ledger-live-common/src/families/bitcoin/js-buildTransaction.ts
  libs/ledger-live-common/src/families/bitcoin/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/bitcoin/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/bitcoin/specs.ts
  libs/ledger-live-common/src/families/bitcoin/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/bitcoin/transaction.ts
  libs/ledger-live-common/src/families/bitcoin/types.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/utils.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/wallet.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.getAddress.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.txs.NP2WPKH.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.txs.P2WPKH.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.txs.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.utxo.unit.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/base.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/types.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/pickingstrategies/CoinSelect.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/pickingstrategies/DeepFirst.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/pickingstrategies/Merge.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/types.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/utils.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/wallet.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/xpub.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: common, ledgerjs

#2262 Add walletApiAdapter files to migrate to wallet-api
  .changeset/twenty-cats-camp.md
  libs/ledger-live-common/scripts/sync-families-dispatch.mjs
  libs/ledger-live-common/src/families/bitcoin/platformAdapter.ts
  libs/ledger-live-common/src/families/bitcoin/walletApiAdapter.test.ts
  libs/ledger-live-common/src/families/bitcoin/walletApiAdapter.ts
  libs/ledger-live-common/src/families/ethereum/platformAdapter.ts
  libs/ledger-live-common/src/families/ethereum/walletApiAdapter.test.ts
  libs/ledger-live-common/src/families/ethereum/walletApiAdapter.ts
  libs/ledger-live-common/src/families/polkadot/platformAdapter.ts
  libs/ledger-live-common/src/families/polkadot/walletApiAdapter.test.ts
  libs/ledger-live-common/src/families/polkadot/walletApiAdapter.ts
  libs/ledger-live-common/src/families/ripple/platformAdapter.ts
  libs/ledger-live-common/src/families/ripple/walletApiAdapter.test.ts
  libs/ledger-live-common/src/families/ripple/walletApiAdapter.ts
  libs/ledger-live-common/src/generated/walletApiAdapter.ts
  libs/ledger-live-common/src/wallet-api/converters.test.ts
  libs/ledger-live-common/src/wallet-api/converters.ts
  libs/ledger-live-common/src/wallet-api/types.ts
Labels: common

#2347 revert nightly version to a minor
  .changeset/five-years-dress.md
  .changeset/pre.json
  apps/ledger-live-desktop/package.json
Labels: desktop

#2223 Support/healthchecks runners
  .github/workflows/healthchecks-runners.yaml
Labels: automation

#2349 blockchainsWithNftsOwned added to segment extra properties
  apps/ledger-live-mobile/src/analytics/segment.ts
Labels: mobile

#2283 LLM Camera permissions rework / bugfix NFT claim
  .changeset/eight-books-grin.md
  .changeset/red-bugs-report.md
  apps/ledger-live-mobile/src/components/FallbackCamera/FallbackCameraSend.android.tsx
  apps/ledger-live-mobile/src/components/FallbackCamera/FallbackCameraSend.ios.tsx
  apps/ledger-live-mobile/src/components/FallbackCamera/FallbackCameraSend.tsx
  apps/ledger-live-mobile/src/components/RequiresCameraPermissions/CameraPermissionContext.ts
  apps/ledger-live-mobile/src/components/RequiresCameraPermissions/Fallback.tsx
  apps/ledger-live-mobile/src/components/RequiresCameraPermissions/index.tsx
  apps/ledger-live-mobile/src/components/RequiresCameraPermissions/useCameraPermissions.ts
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ImportAccountsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/ImportAccountsNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/components/Scanner.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ClaimNft/ClaimNftQrScan.tsx
  apps/ledger-live-mobile/src/screens/ImportAccounts/FallBackCamera.ts
  apps/ledger-live-mobile/src/screens/ImportAccounts/FallBackCameraScreen.android.tsx
  apps/ledger-live-mobile/src/screens/ImportAccounts/FallBackCameraScreen.d.ts
  apps/ledger-live-mobile/src/screens/ImportAccounts/FallBackCameraScreen.ios.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/CameraPermissions.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/index.tsx
Labels: mobile, translations

#2325 add feature flag for objkt on tezos account
  .changeset/mighty-dryers-call.md
  apps/ledger-live-desktop/src/renderer/families/tezos/AccountBodyHeader.js
  apps/ledger-live-desktop/src/renderer/families/tezos/AccountBodyHeader/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs, translations

#2338 Large Mover category added in the notifications settings
  .changeset/cyan-knives-study.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/notifications.tsx
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Settings/Debug/Information/EquipmentIdRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Notifications/index.tsx
Labels: mobile, translations

#2366 Remove use of staging for manifests providers
  apps/ledger-live-mobile/src/PlatformAppProviderWrapper.tsx
Labels: mobile

#2361 fix(build): LLD add possibility to build without git access
  apps/ledger-live-desktop/tools/utils/index.js
Labels: desktop

#2309 Fix: typos
  apps/ledger-live-mobile/docs/ONBOARDING_LINUX.md
  apps/ledger-live-mobile/docs/linking.md
  apps/ledger-live-mobile/docs/linux_setup.md
Labels: mobile, fork

#2362 B2CQA - Fix Detox onboarding and language tests
  .github/workflows/test-mobile-e2e.yml
  apps/ledger-live-mobile/.env.mock
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/models/settings/generalSettingsPage.ts
  apps/ledger-live-mobile/src/screens/Onboarding/steps/language.tsx
Labels: mobile, automation

#2358 Bugfix/include dex quotes false bug LIVE-5234
  .changeset/brown-badgers-kiss.md
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.test.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
Labels: common

#2357 bugfix - lld - fixes back button during a DEX swap
  .changeset/stupid-fans-vanish.md
  apps/ledger-live-desktop/src/renderer/screens/platform/App.jsx
Labels: desktop

#2368 Feat/llm multi select header
  apps/ledger-live-mobile/src/components/Nft/NftList.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/WalletTabNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
Labels: mobile, translations

#2351 [DRAFT] Support/add transaction to optimistic extra
  .changeset/beige-carrots-hang.md
  .changeset/serious-kangaroos-tease.md
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/families/ethereum/modules/send.ts
  libs/ledger-live-common/src/families/ethereum/signOperation.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/operation.ts
Labels: common, ledgerjs

#2250 feat/live 5098 Remove superfluous apdu from getDeviceName command
  .changeset/fresh-cougars-yawn.md
  libs/ledger-live-common/src/hw/getDeviceName.test.ts
  libs/ledger-live-common/src/hw/getDeviceName.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: common, ledgerjs

#2332 feat: LIVE-5173 add stake programs flag
  .changeset/kind-trains-teach.md
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: ledgerjs

#2364 update min support polkadot
  .changeset/sharp-eyes-build.md
  libs/ledger-live-common/src/apps/support.ts
Labels: common

#2313 feat: show accurate expiration time for swap rates
  .changeset/two-goats-punch.md
  .changeset/wild-snakes-learn.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Countdown.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/utils/formatCountdown.js
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/utils/formatCountdown.test.js
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/hooks/useRefreshRates.js
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/utils/getRefreshTime.js
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/utils/getRefreshTime.test.js
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useProviderRates.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
Labels: desktop, common

#2380 support(dummy-wallet-app): bump wallet-api-client
  apps/ledger-live-desktop/tests/utils/dummy-wallet-app/package.json
  pnpm-lock.yaml
Labels: desktop

#2384 chore: cleanup platform specific logic for release [LIVE-5236]
  .github/workflows/release-create-hotfix.yml
  .github/workflows/release-create.yml
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release-prerelease.yml
Labels: automation

#2323 support/b2cqa 1187 update swap tests
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SummaryValue.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Rate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/TargetAccountDrawer/index.jsx
  apps/ledger-live-desktop/tests/models/SwapPage.ts
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-sign-transaction-confirm-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/confirmed-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/confirmed-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/confirmed-swap-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/max-spendable-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/max-spendable-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/max-spendable-swap-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/open-swap-page-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/target-account-drawer-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/target-account-drawer-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/target-account-drawer-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/verify-swap-details-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/verify-swap-history-linux.png
  libs/ledger-live-common/src/exchange/swap/hooks/useProviderRates.test.ts
  libs/ledger-live-common/src/exchange/swap/mock.ts
Labels: desktop, common, screenshots

#2390 enableDebugLogger to enable active in VERBOSE case
  apps/ledger-live-desktop/src/renderer/init.jsx
Labels: desktop

#2293 Changed-Icon-file-name-for-hmmm
  .changeset/lazy-pumpkins-visit.md
  libs/ledger-live-common/src/data/icons/svg/HMMM.svg
Labels: common, fork

#2350 Feat/fat 788 LLM Custom lockscreen analytics + analytics console improvements
  .changeset/gorgeous-points-unite.md
  .changeset/slimy-beans-rule.md
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/AnalyticsConsole.tsx
  apps/ledger-live-mobile/src/components/AnalyticsConsole/Event.tsx
  apps/ledger-live-mobile/src/components/AnalyticsConsole/EventList.tsx
  apps/ledger-live-mobile/src/components/AnalyticsConsole/Status.tsx
  apps/ledger-live-mobile/src/components/AnalyticsConsole/index.tsx
  apps/ledger-live-mobile/src/components/AnalyticsConsole/types.ts
  apps/ledger-live-mobile/src/components/AnalyticsConsole/useAnalyticsEventsLog.ts
  apps/ledger-live-mobile/src/components/CustomImage/CustomImageBottomModal.tsx
  apps/ledger-live-mobile/src/components/CustomImageDeviceAction.tsx
  apps/ledger-live-mobile/src/components/DebugTheme.tsx
  apps/ledger-live-mobile/src/components/FloatingDebugButton.tsx
  apps/ledger-live-mobile/src/components/Nft/NftLinksPanel.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/CustomImageNavigator.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/ErrorScreen.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/NFTGallerySelector.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/PreviewPostEdit.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/PreviewPreEdit.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step0Welcome.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step1Crop.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step2ChooseContrast.tsx
Labels: mobile

#2376 Bugfix: FAT-801 bluetooth connection failed
  .changeset/wild-news-exist.md
  libs/ledgerjs/packages/react-native-hw-transport-ble/src/BleTransport.ts
Labels: ledgerjs

#2396 feat: desktop - adds new featured buttons to portfolio screen
  .changeset/five-books-fix.md
  apps/ledger-live-desktop/src/renderer/components/EntryButton/EntryButton.jsx
  apps/ledger-live-desktop/src/renderer/icons/Growth.jsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/FeaturedButtons.jsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#2402 ci(runners): switch some jobs to m1 runners
  .github/workflows/build-desktop.yml
  .github/workflows/healthchecks-runners.yaml
  .github/workflows/test-desktop.yml
  tools/actions/composites/build-desktop/action.yml
Labels: tools, automation

#2385 feat: LIVE-4012 add centralise stake flow
  .changeset/spicy-walls-return.md
  apps/ledger-live-desktop/src/renderer/screens/stake/constants.tsx
  apps/ledger-live-desktop/src/renderer/screens/stake/index.tsx
Labels: desktop

#2404 bugfix: changes exchange buttons to use react-ui tag
  apps/ledger-live-desktop/src/renderer/components/EntryButton/EntryButton.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/FeaturedButtons.tsx
Labels: desktop

#2398 New close button in NFT Multiselect
  apps/ledger-live-mobile/src/components/Nft/NftList.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/WalletTabNavigator.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabHeader.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#2405 [LIVE-5288] Bugfix - Add resilience to ethereum tokens fetching
  .changeset/dry-frogs-know.md
  .changeset/swift-phones-marry.md
  libs/ledger-live-common/src/families/ethereum/__tests__/modules/erc20.unit.test.ts
  libs/ledger-live-common/src/families/ethereum/modules/erc20.ts
  libs/ledgerjs/packages/hw-app-eth/README.md
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/erc20.ts
  libs/ledgerjs/packages/hw-app-eth/tests/ERC20/ERC20-CAL-KO.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/ERC20/ERC20-CAL-OK.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/Eth.integration.test.ts
Labels: common, ledgerjs

#2406 feat: LLD - links exchange button from portfolio screen to relevant flows
  .changeset/fuzzy-lamps-confess.md
  apps/ledger-live-desktop/src/renderer/screens/dashboard/FeaturedButtons.tsx
  apps/ledger-live-desktop/src/renderer/screens/stake/index.tsx
Labels: desktop

#2417 fixes old link to old repository
  .changeset/odd-fireants-fix.md
  apps/ledger-live-desktop/src/config/urls.js
Labels: desktop

#2411 bugfix: lld - adds ff for exchange buttons and analytics
  apps/ledger-live-desktop/src/renderer/screens/dashboard/FeaturedButtons.tsx
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, ledgerjs

#2410 fix signTransaction and completeExchange error messages formatting
  .changeset/six-plants-deliver.md
  libs/ledger-live-common/src/platform/logic.ts
  libs/ledger-live-common/src/wallet-api/logic.ts
Labels: common

#2428 support: prevent merge error on the release flow
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare.yml
Labels: automation

#2431 chore: Append erc20 subset copy to backend server
  .github/workflows/cal-importer.yml
Labels: automation

#817 LIVE-2572 Coin families modularization first step: remove algorand dependencies from LLC
  .changeset/eleven-bags-thank.md
  apps/ledger-live-desktop/src/renderer/bridge/proxy.js
  libs/ledger-live-common/src/__tests__/account.ts
  libs/ledger-live-common/src/__tests__/accounts/ordering.ts
  libs/ledger-live-common/src/__tests__/cross.ts
  libs/ledger-live-common/src/__tests__/csvExport.ts
  libs/ledger-live-common/src/__tests__/mocks/account.ts
  libs/ledger-live-common/src/__tests__/portfolio.v2.ts
  libs/ledger-live-common/src/__tests__/reconciliation.ts
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/bridge/impl.ts
  libs/ledger-live-common/src/exchange/swap/hooks/usePickDefaultAccount.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useProviderRates.test.ts
  libs/ledger-live-common/src/families/algorand/account.ts
  libs/ledger-live-common/src/families/algorand/bridge/js.ts
  libs/ledger-live-common/src/families/algorand/bridge/mock.ts
  libs/ledger-live-common/src/families/algorand/buildTransaction.ts
  libs/ledger-live-common/src/families/algorand/cli-transaction.ts
  libs/ledger-live-common/src/families/algorand/initAccount.ts
  libs/ledger-live-common/src/families/algorand/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/algorand/js-getFeesForTransaction.ts
  libs/ledger-live-common/src/families/algorand/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/algorand/js-prepareTransaction.ts
  libs/ledger-live-common/src/families/algorand/js-signOperation.ts
  libs/ledger-live-common/src/families/algorand/js-synchronization.ts
  libs/ledger-live-common/src/families/algorand/mock.ts
  libs/ledger-live-common/src/families/algorand/serialization.ts
  libs/ledger-live-common/src/families/algorand/transaction.ts
  libs/ledger-live-common/src/families/ethereum/__tests__/transaction.unit.test.ts
  libs/ledger-live-common/src/families/tron/serialization.ts
  libs/ledger-live-common/src/migrations/accounts-dataset.ts
  libs/ledger-live-common/src/mock/account.ts
  libs/ledger-live-common/src/reconciliation.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/bridge.ts
Labels: desktop, common, ledgerjs, Stale

#1370 ETH/BTC explorers v4 + removal of json-bignumber
  apps/ledger-live-desktop/src/renderer/experimental.jsx
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/__tests__/__snapshots__/portfolio.v2.ts.snap
  libs/ledger-live-common/src/api/Ethereum.ts
  libs/ledger-live-common/src/api/Ledger.ts
  libs/ledger-live-common/src/api/explorerConfig/generate-doc.test.ts
  libs/ledger-live-common/src/api/explorerConfig/index.test.ts
  libs/ledger-live-common/src/api/explorerConfig/index.ts
  libs/ledger-live-common/src/api/explorerConfig/overrides.test.ts
  libs/ledger-live-common/src/api/explorerConfig/overrides.ts
  libs/ledger-live-common/src/api/explorerConfig/types.ts
  libs/ledger-live-common/src/families/bitcoin/bridge/js.ts
  libs/ledger-live-common/src/families/bitcoin/js-synchronisation.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/wallet.errorpropagation.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/wallet.estimateMaxSpendable.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/wallet.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.getAddress.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.pickingStrategies.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.reorg.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.synced.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.syncing.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.txs.NP2WPKH.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.txs.P2WPKH.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.txs.dogecoin.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.txs.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.txs.litecoin.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/account.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/explorer/index.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/wallet.ts
  libs/ledger-live-common/src/families/ethereum/gas.ts
  libs/ledger-live-common/src/families/ethereum/prepareTransaction.ts
  libs/ledger-live-common/src/families/ethereum/synchronisation.ts
  libs/ledger-live-common/src/network-troubleshooting/index.ts
  libs/ledger-live-common/src/walletconnect/walletconnect.test.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  pnpm-lock.yaml
Labels: desktop, common, ledgerjs, HODL, Stale

#2445 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#2426 Feat : Create Stake UI Modal
  .changeset/heavy-news-live.md
  apps/ledger-live-desktop/src/renderer/components/EntryButton/EntryButton.tsx
  apps/ledger-live-desktop/src/renderer/modals/NoFundsStake/assets/CoinsIcon.tsx
  apps/ledger-live-desktop/src/renderer/modals/NoFundsStake/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/index.js
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#2420 bugfix: opens modal on account page
  .changeset/little-forks-pump.md
  .changeset/spotty-roses-refuse.md
  .changeset/tricky-oranges-sort.md
  apps/ledger-live-desktop/src/renderer/modals/StartStake/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/index.js
  apps/ledger-live-desktop/src/renderer/screens/dashboard/FeaturedButtons.tsx
  apps/ledger-live-desktop/src/renderer/screens/stake/index.tsx
Labels: desktop

#2401 bugfix/LIVE-5273 Device name is not displayed properly in LLM
  .changeset/smooth-walls-greet.md
  libs/ledger-live-common/src/hw/getDeviceName.test.ts
  libs/ledger-live-common/src/hw/getDeviceName.ts
Labels: common

#2434 Feat: LIVE-4408 add market stake button
  .changeset/four-terms-raise.md
  apps/ledger-live-desktop/src/renderer/families/polkadot/AccountHeaderManageActions.js
  apps/ledger-live-desktop/src/renderer/screens/market/MarketList.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketRowItem.tsx
  apps/ledger-live-desktop/src/renderer/screens/stake/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#2419 Simplify network to only log network-error & improve perf
  .changeset/heavy-donkeys-burn.md
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/explorer/index.ts
  libs/ledger-live-common/src/families/stellar/api/horizon.ts
  libs/ledger-live-common/src/network.ts
Labels: common

#2464 Bugfix: ignore HwTransportError for Sentry
  .changeset/nice-books-mate.md
  .changeset/tender-bats-join.md
  apps/ledger-live-desktop/src/sentry/install.js
  apps/ledger-live-mobile/index.js
  libs/ledgerjs/packages/errors/README.md
  libs/ledgerjs/packages/errors/src/index.ts
Labels: desktop, mobile, ledgerjs

#2427 LLM - Cookie prompt removed from the WebViews
  .changeset/olive-wolves-join.md
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/screens/Learn/index.tsx
  apps/ledger-live-mobile/src/screens/PurchaseDevice/index.tsx
Labels: mobile

#2468 Support: Update serialization of transactionRaw
  libs/ledger-live-common/src/account/serialization.ts
Labels: common

#2471 feat: adds stake button to asset page
  .changeset/smooth-elephants-argue.md
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoinScreen/index.tsx
Labels: desktop

#2342 Performance: Add transport.exchangeBulk API and extend IPCTransport
  .changeset/spicy-coats-trade.md
  .changeset/spotty-emus-collect.md
  apps/ledger-live-desktop/src/config/transportChannels.ts
  apps/ledger-live-desktop/src/internal/index.js
  apps/ledger-live-desktop/src/internal/transportHandler.ts
  apps/ledger-live-desktop/src/main/internal-lifecycle.js
  apps/ledger-live-desktop/src/renderer/IPCTransport.js
  libs/ledger-live-common/src/api/socket.ts
  libs/ledgerjs/packages/hw-transport/README.md
  libs/ledgerjs/packages/hw-transport/src/Transport.ts
Labels: desktop, common, ledgerjs

#2290 ✨ [FEAT] : LIVE-4909 - LLM- MultiSelect-Hide-NFTs
  .changeset/breezy-hotels-yell.md
  apps/ledger-live-mobile/src/actions/appstate.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/Nft/NftList.hook.ts
  apps/ledger-live-mobile/src/components/Nft/NftList.tsx
  apps/ledger-live-mobile/src/components/Nft/NftListItem.tsx
  apps/ledger-live-mobile/src/components/Nft/NftSelectionCheckbox.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/MainNavigator.tsx
  apps/ledger-live-mobile/src/components/TabBar/CustomTabBar.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/reducers/appstate.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/Snackbar/SnackbarContainer.tsx
  libs/ledger-live-common/src/nft/helpers.test.ts
  libs/ledger-live-common/src/nft/helpers.ts
Labels: mobile, common, translations

#2135 Support/add crk token
  .changeset/cuddly-fans-pump.md
  libs/ledger-live-common/src/data/icons/svg/CRK.svg
Labels: common, fork

#2447 support(ci): fix conditional binary operator expected
  .github/templates/hotfix-conflicts.md
  .github/templates/hotfix-release-conflicts.md
  .github/templates/release-conflicts.md
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare.yml
Labels: automation

#2399 Support/live 5276 Add account tests for swap
  apps/ledger-live-desktop/src/renderer/screens/account/AccountActionsDefault.jsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountRowItem/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FormInputs.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionInformative.jsx
  apps/ledger-live-desktop/tests/models/AccountPage.ts
  apps/ledger-live-desktop/tests/models/AccountsPage.ts
  apps/ledger-live-desktop/tests/models/SwapPage.ts
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-account-from-dropdown-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-account-from-dropdown-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-account-from-dropdown-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-missing-destination-account-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-missing-destination-account-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-missing-destination-account-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-to-account-button-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-to-account-button-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-to-account-button-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/confirmed-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/confirmed-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/confirmed-swap-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/from-account-dropdown-opened-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/from-account-dropdown-opened-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/from-account-dropdown-opened-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/max-spendable-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/max-spendable-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/max-spendable-swap-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/open-swap-page-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/open-swap-page-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/open-swap-page-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/open-swap-page-with-eth-account-selected-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/open-swap-page-with-eth-account-selected-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/open-swap-page-with-eth-account-selected-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/swap-pair-reversed-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/swap-pair-reversed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/swap-pair-reversed-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/verify-swap-details-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/verify-swap-details-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/verify-swap-details-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/verify-swap-history-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/verify-swap-history-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/verify-swap-history-win32.png
  apps/ledger-live-desktop/tests/utils/waitFor.ts
  libs/ledger-live-common/src/exchange/swap/mock.ts
Labels: desktop, common, screenshots

#2475 fix: remove skip select device on DeviceConnect
  .changeset/real-papayas-yawn.md
  apps/ledger-live-mobile/src/screens/DeviceConnect/index.tsx
Labels: mobile

#2467 bugfix/LIVE-5293 Dependency resolution for newly standalone currency apps
  .changeset/hot-ants-explode.md
  libs/ledger-live-common/src/apps/hw.ts
  libs/ledger-live-common/src/apps/polyfill.test.ts
  libs/ledger-live-common/src/apps/polyfill.ts
Labels: common

#2461 feat: shows no fund modal for each stake-able currency
  .changeset/itchy-ladybugs-beg.md
  apps/ledger-live-desktop/src/renderer/families/celo/AccountHeaderManageActions/AccountHeaderManageActions.jsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/AccountHeaderManageActions.js
  apps/ledger-live-desktop/src/renderer/families/elrond/AccountHeaderManageActions.js
  apps/ledger-live-desktop/src/renderer/families/ethereum/AccountHeaderManageActions.js
  apps/ledger-live-desktop/src/renderer/families/near/AccountHeaderManageActions.js
  apps/ledger-live-desktop/src/renderer/families/polkadot/AccountHeaderManageActions.js
  apps/ledger-live-desktop/src/renderer/families/solana/AccountHeaderManageActions.js
  apps/ledger-live-desktop/src/renderer/families/tezos/AccountHeaderManageActions.js
  apps/ledger-live-desktop/src/renderer/families/tron/AccountHeaderManageActions.js
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoinScreen/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketList.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketRowItem.tsx
Labels: desktop

#2484 Fixes immutability of Tron in signOperation
  .changeset/curly-papayas-itch.md
  libs/ledger-live-common/src/families/tron/bridge/js.ts
Labels: common

#2478 Elrond: fixes immutability of syncESDTTokenAccountOperations
  .changeset/slimy-foxes-brush.md
  libs/ledger-live-common/src/families/elrond/js-buildSubAccounts.ts
  libs/ledger-live-common/src/families/elrond/specs.ts
Labels: common

#2473 Make the Bot freeze objects to detect possible mistakes
  .changeset/curly-papayas-itch.md
  .changeset/slimy-foxes-brush.md
  libs/ledger-live-common/src/bot/cli.ts
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/families/elrond/js-buildSubAccounts.ts
  libs/ledger-live-common/src/families/elrond/specs.ts
  libs/ledger-live-common/src/families/tron/bridge/js.ts
Labels: common

#2416 Add TiFi Token Logo
  .changeset/angry-mugs-shout.md
  libs/ledger-live-common/src/data/icons/svg/TIFI.svg
Labels: common, fork
