Repository LedgerHQ/ledger-live, pull requests merged in 2023-02, with the labels that each got.

#2489 Fix the analytics missing equipment id for some users
  .changeset/blue-jars-shop.md
  apps/ledger-live-mobile/src/analytics/UserIdPlugin.tsx
  apps/ledger-live-mobile/src/analytics/segment.ts
Labels: mobile

#2488 Added analytics to Mutiselect-hide NFT's
  .changeset/three-clocks-boil.md
  apps/ledger-live-mobile/src/components/Nft/NftList.hook.ts
  apps/ledger-live-mobile/src/components/Nft/NftList.tsx
Labels: mobile

#2492 Support/release fix
  .changeset/blue-jars-shop.md
  .changeset/three-clocks-boil.md
  apps/ledger-live-mobile/src/analytics/UserIdPlugin.tsx
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/Nft/NftList.hook.ts
  apps/ledger-live-mobile/src/components/Nft/NftList.tsx
Labels: mobile

#2497 support: use GitHub app token [LIVE-5305]
  .github/workflows/healthchecks-runners.yaml
  .github/workflows/release-create-hotfix.yml
  .github/workflows/release-create.yml
  .github/workflows/release-final-nightly.yml
  .github/workflows/release-final.yml
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release-prerelease.yml
  .github/workflows/sync.yml
Labels: automation

#2495 Add helpers scripts & build config to facilitate profiling the JS thread in Android
  apps/ledger-live-mobile/.gitignore
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/scripts/download-hermes-profile.mjs
Labels: mobile

#2500 fix: lld - fixes learn more link in cosmos staking flow
  .changeset/six-teachers-listen.md
  apps/ledger-live-desktop/src/renderer/families/cosmos/DelegationFlowModal/Info/index.jsx
Labels: desktop

#2494 fix: LIVE-5352 remove balance info redundant button in portafolio page
  .changeset/bright-roses-own.md
  apps/ledger-live-desktop/src/renderer/components/BalanceInfos/index.jsx
Labels: desktop

#2397 Switch to new Ledger headers & explicit usage from bot & cli
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/src/live-common-setup-base.js
  apps/ledger-live-mobile/src/live-common-setup.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/env.ts
  libs/ledger-live-common/src/network.ts
Labels: desktop, mobile, common, cli

#2505 Update snapshots of integration tests
  libs/ledger-live-common/src/families/bitcoin/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/celo/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/elrond/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/hedera/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/polkadot/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/stellar/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/tron/__snapshots__/bridge.integration.test.ts.snap
Labels: common

#2510 Bugfix-LIVE 5371 fix cosmos unbond
  .changeset/friendly-coats-watch.md
  apps/ledger-live-desktop/src/renderer/families/cosmos/UndelegationFlowModal/Body.jsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/UndelegationFlowModal/fields/Validator.jsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/UndelegationFlowModal/steps/Amount.jsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/UndelegationFlowModal/steps/Confirmation.jsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/UndelegationFlowModal/steps/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/families/cosmos/js-buildTransaction.ts
Labels: desktop, mobile, common, ledgerjs, tools, translations, cli

#2485 (bugfix) bitcoin bot spec - extract recipient address from op_return tx
  libs/ledger-live-common/src/families/bitcoin/specs.ts
Labels: common

#2498 feat: lld - adds swap feature flag values to analytic events
  apps/ledger-live-desktop/src/renderer/components/BalanceInfos/index.jsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountHeaderActions.jsx
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/ExchangeDrawer/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawer/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormKYCBanner/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormLoginBanner/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormNotAvailable/FormNotAvailable.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FormInputs.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FromRow.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/ToRow.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionFees.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionTarget.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/TargetAccountDrawer/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/KYC/Wyre/Pending.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/KYC/Wyre/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Navbar/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/utils/index.js
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoinScreen/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketRowItem.tsx
Labels: desktop

#2523 fix: fix deeplink problem launching lld
  .changeset/brave-kids-poke.md
  apps/ledger-live-desktop/src/renderer/screens/platform/App.jsx
  apps/ledger-live-desktop/src/renderer/screens/platform/utils.test.ts
  apps/ledger-live-desktop/src/renderer/screens/platform/utils.tsx
Labels: desktop

#2524 Smartling on-demand translation delivery from release
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#2512 Bugfix: LIVE-5309 fix swap style
  .changeset/two-snails-try.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawer/index.jsx
Labels: desktop

#2529 fix: lld - adds stake flow to no-fund modal buttons
  .changeset/funny-teachers-enjoy.md
  apps/ledger-live-desktop/src/renderer/modals/NoFundsStake/index.tsx
Labels: desktop

#2493 Support/live 5078 ENS hooks + jest env change
  .changeset/rare-fans-move.md
  .changeset/twelve-hounds-cross.md
  libs/ledger-live-common/jest.config.ts
  libs/ledger-live-common/src/naming-service/api.integration.test.ts
  libs/ledger-live-common/src/naming-service/api.ts
  libs/ledger-live-common/src/naming-service/index.tsx
  libs/ledger-live-common/src/naming-service/logic.ts
  libs/ledger-live-common/src/naming-service/naming-service.react.test.tsx
  libs/ledger-live-common/src/naming-service/types.ts
Labels: common

#2317 Feat/LIVE-4989 - Add tracking to RestoreWithProtect info modal
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/RestoreWithProtect.tsx
Labels: mobile, Stale

#2535 support(ledgerjs-cal): update CAL
  .changeset/tender-bears-jam.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/polygon-erc20.ts
Labels: desktop, common, ledgerjs

#2532 Bugfix/live 5351 tron fee limit
  .changeset/silly-singers-jam.md
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
  libs/ledger-live-common/src/api/Tron.ts
  libs/ledger-live-common/src/families/tron/bridge/js.ts
Labels: desktop, mobile, common, translations

#2509 LLM - hasGenesisPass, hasInfinityPass and accountsWithFunds user properties added to analytics
  .changeset/green-donkeys-pump.md
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/helpers/nfts.ts
Labels: mobile

#2539 bugfix: lld - changes copy of Earn button to Stake
  .changeset/eighty-gifts-speak.md
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#2511 LIVE-5363 - Added network fee E2E test steps and fixed network fee race condition
  apps/ledger-live-desktop/src/renderer/components/SendFeeMode.jsx
  apps/ledger-live-desktop/src/renderer/families/bitcoin/FeesField.jsx
  apps/ledger-live-desktop/src/renderer/reducers/swap.js
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawer/index.jsx
  apps/ledger-live-desktop/tests/models/SwapPage.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/custom-fee-set-for-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/custom-fee-set-for-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/custom-fee-set-for-swap-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/network-fees-drawer-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/network-fees-drawer-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/network-fees-drawer-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/standard-network-selected-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/standard-network-selected-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/standard-network-selected-win32.png
Labels: desktop, screenshots

#2541 Smartling on-demand translation delivery from hotfix
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#2408 Support - Add new performance section in debug settings, with app startup time
  .changeset/angry-bobcats-fetch.md
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/StartupTimeMarker.tsx
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/index.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/screens/FeatureFlagsSettings/GroupedFeatures.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Performance/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/index.tsx
  pnpm-lock.yaml
Labels: mobile

#2543 Change tron fee limit to 50
  .changeset/olive-gifts-decide.md
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
  libs/ledger-live-common/src/api/Tron.ts
Labels: desktop, mobile, common, translations

#2502 Feat/coin mod cardano
  .changeset/many-frogs-film.md
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/families/cardano/bridge/js.ts
  libs/ledger-live-common/src/families/cardano/serialization.ts
  libs/ledger-live-common/src/reconciliation.ts
Labels: common

#2548 LIVE-5457 Cosmos testnet cleanup
  .changeset/chilly-snails-exist.md
  .changeset/five-fireants-lay.md
  .changeset/young-pumpkins-do.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.js
  apps/ledger-live-mobile/src/live-common-setup.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/factory.ts
  libs/ledger-live-common/src/families/cosmos/chain/chain.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
Labels: desktop, mobile, common, ledgerjs, cli

#2533 chore(cleanup): remove temp code from granular CI
  .github/workflows/build-desktop-external.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile-external.yml
  .github/workflows/build-mobile.yml
  .github/workflows/gate.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/release-prerelease.yml
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  tools/actions/composites/setup-test-desktop/action.yml
  tools/github-bot/src/commands/generate-screenshots.ts
  tools/github-bot/src/commands/regen-doc.ts
  tools/github-bot/src/commands/regen-pods.ts
  tools/github-bot/src/features/lintCommits/index.ts
  tools/github-bot/src/features/orchestrator/index.ts
  tools/github-bot/src/tools/monitorWorkflow.ts
Labels: tools, automation

#2571 chore(bot): make workflow runs requireable and use merge commit
  .github/workflows/build-desktop-external.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile-external.yml
  .github/workflows/build-mobile.yml
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile-e2e.yml
  .github/workflows/test-mobile.yml
  .github/workflows/test.yml
  tools/actions/composites/checkout-merge/action.yml
  tools/github-bot/src/features/orchestrator/const.ts
  tools/github-bot/src/features/orchestrator/tools.ts
Labels: tools, automation

#2557 bugfix: lld - shows stake button on asset screen
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.jsx
Labels: desktop

#2558 fix: correctly filter after listCurrencies
  .changeset/lemon-bears-serve.md
  libs/ledger-live-common/src/currencies/helpers.test.ts
  libs/ledger-live-common/src/currencies/helpers.ts
  libs/ledger-live-common/src/helpers.ts
  libs/ledger-live-common/src/platform/converters.ts
  libs/ledger-live-common/src/platform/helpers.ts
  libs/ledger-live-common/src/platform/react.ts
  libs/ledger-live-common/src/platform/types.ts
  libs/ledger-live-common/src/wallet-api/converters.ts
  libs/ledger-live-common/src/wallet-api/helpers.ts
  libs/ledger-live-common/src/wallet-api/react.ts
Labels: common

#2577 fix: lld - redirect to dex live-app using state instead of params
  .changeset/stupid-keys-bake.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/platform/App.jsx
Labels: desktop

#2588 fix ci concurrency inputs
  .github/workflows/build-desktop-external.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile-external.yml
  .github/workflows/build-mobile.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/regen-doc.yml
  .github/workflows/regen-pods.yml
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile-e2e.yml
  .github/workflows/test-mobile.yml
  .github/workflows/test.yml
Labels: automation

#2574 Bugfix/post onboarding banner close button
  .changeset/eighty-laws-suffer.md
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingHubBanner.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingMockAction.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingScreen/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SideDrawer.jsx
  apps/ledger-live-desktop/tests/models/PostOnboarding.ts
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-000-postonboarding-screen-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-000-postonboarding-screen-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-000-postonboarding-screen-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-001-postonboarding-action-claim-mocked-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-001-postonboarding-action-claim-mocked-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-001-postonboarding-action-claim-mocked-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-002-postonboarding-completed-action-claim-mocked-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-002-postonboarding-completed-action-claim-mocked-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-002-postonboarding-completed-action-claim-mocked-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-003-postonboarding-banner-in-dashboard-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-003-postonboarding-banner-in-dashboard-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-003-postonboarding-banner-in-dashboard-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-004-postonboarding-action-migrate-assets-mocked-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-004-postonboarding-action-migrate-assets-mocked-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-004-postonboarding-action-migrate-assets-mocked-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-005-postonboarding-completed-claim-and-migrate-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-005-postonboarding-completed-claim-and-migrate-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-005-postonboarding-completed-claim-and-migrate-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-006-postonboarding-completed-all-actions-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-006-postonboarding-completed-all-actions-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-006-postonboarding-completed-all-actions-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-007-postonboarding-done-no-banner-in-dashboard-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-007-postonboarding-done-no-banner-in-dashboard-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-007-postonboarding-done-no-banner-in-dashboard-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-dashboard-banner-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-dashboard-banner-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-dashboard-banner-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-all-actions-completed-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-all-actions-completed-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-all-actions-completed-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-banner-in-dashboard-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-banner-in-dashboard-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-banner-in-dashboard-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-dashboard-no-entry-banner-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-dashboard-no-entry-banner-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-dashboard-no-entry-banner-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-inside-drawer-1-action-completed-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-inside-drawer-1-action-completed-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-inside-drawer-1-action-completed-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-inside-drawer-2-actions-completed-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-inside-drawer-2-actions-completed-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-inside-drawer-2-actions-completed-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-no-banner-in-dashboard-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-no-banner-in-dashboard-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-hub-no-banner-in-dashboard-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-migrate-assets-mocked-action-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-migrate-assets-mocked-action-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-migrate-assets-mocked-action-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-start-migrate-assets-mocked-action-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-start-migrate-assets-mocked-action-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/postonboarding-start-migrate-assets-mocked-action-win32.png
Labels: desktop, screenshots

#2576 fix(wallet-api): cleanup the transport on unmount
  .changeset/large-eggs-dress.md
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/WebViewV2.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/WebViewV2.tsx
Labels: desktop, mobile

#2578 fix(wallet-api): broken ble on LLM
  .changeset/five-poets-confess.md
  apps/ledger-live-mobile/src/screens/DeviceConnect/index.tsx
Labels: mobile

#2566 Bugfix: FAT-827 fix queued drawer on react-navigation focus change - and for select language
  .changeset/mighty-drinks-listen.md
  apps/ledger-live-mobile/src/components/QueuedDrawer.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/shared/SeedWarning.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/QueuedDrawers.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/LanguageSelect.tsx
Labels: mobile

#2595 fix: reset device on close instead of navigating back
  .changeset/healthy-pillows-joke.md
  apps/ledger-live-mobile/src/screens/DeviceConnect/index.tsx
Labels: mobile

#2580 fix: botTransfer has been fixed with more features
  .changeset/spicy-trees-doubt.md
  .github/workflows/bot-transfer.yml
  apps/cli/src/commands/botTransfer.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/bot/specs.ts
  libs/ledger-live-common/src/bot/types.ts
  libs/ledger-live-common/src/families/elrond/specs.ts
  pnpm-lock.yaml
Labels: common, automation, cli

#2598 [LIVE-5490] Fix eth sync and perf
  .changeset/rare-peas-sing.md
  libs/ledger-live-common/src/families/ethereum/synchronisation.ts
Labels: common

#2520 [LIVE-4944] Near coin mod
  .changeset/nine-horses-shave.md
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/families/near/bridge/js.ts
  libs/ledger-live-common/src/families/near/serialization.ts
  libs/ledger-live-common/src/reconciliation.ts
Labels: common

#1712 Add AVAX C Chain in Ledger Live
  .changeset/friendly-carrots-prove.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/release-notes.json
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.js
  apps/ledger-live-desktop/src/renderer/components/FirebaseRemoteConfig.tsx
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.jsx
  apps/ledger-live-mobile/src/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/liveSDKLogic.test.ts
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/coin-framework/src/currencies/support.ts
  libs/ledger-live-common/explorers-config.md
  libs/ledger-live-common/src/__tests__/mock-bridges.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/apps/polyfill.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/data/icons/svg/AVAX.svg
  libs/ledger-live-common/src/families/bitcoin/js-signOperation.ts
  libs/ledger-live-common/src/families/bitcoin/logic.ts
  libs/ledger-live-common/src/families/ethereum/__tests__/signOperation.test.ts
  libs/ledger-live-common/src/families/ethereum/logic.ts
  libs/ledger-live-common/src/families/ethereum/prepareTransaction.ts
  libs/ledger-live-common/src/families/ethereum/signOperation.ts
  libs/ledger-live-common/src/families/ethereum/specs.ts
  libs/ledger-live-common/src/families/ethereum/speculos-deviceActions-avalanche.ts
  libs/ledger-live-common/src/families/ethereum/synchronisation.ts
  libs/ledger-live-common/src/families/evm/__tests__/rpc.unit.test.ts
  libs/ledger-live-common/src/families/hedera/tests/js-estimateMaxSpendable.test.ts
  libs/ledger-live-common/src/families/hedera/tests/js-transaction.test.ts
  libs/ledger-live-common/src/families/hedera/tests/transaction.test.ts
  libs/ledger-live-common/src/families/hedera/tests/utils.test.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/featureFlags/provider.tsx
  libs/ledger-live-common/src/market/api/api.ts
  libs/ledger-live-common/src/mock/fixtures/cryptoCurrencies.ts
  libs/ledgerjs/packages/cryptoassets/README.md
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.test.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/cryptoassets/src/types.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-cryptoassets/src/slip44.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs, HODL, Stale, cli

#2593 Feat/LIVE-5019 - Newsfeed - Add cryptopanic hook
  apps/ledger-live-mobile/src/components/Button.tsx
  apps/ledger-live-mobile/src/hooks/newsfeed/cryptopanicApi.ts
  apps/ledger-live-mobile/src/hooks/newsfeed/useCryptopanicPosts.ts
Labels: mobile

#2586 chore: Add portafolio exchange banner flag to portafolio page track
  .changeset/beige-wombats-cheat.md
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.jsx
Labels: desktop

#2607 docs(github-bot/tips): more specific information about the repo checkout
  tools/github-bot/tips/build-desktop-external.md
  tools/github-bot/tips/build-desktop.md
  tools/github-bot/tips/build-mobile-external.md
  tools/github-bot/tips/build-mobile.md
  tools/github-bot/tips/test-desktop-external.md
  tools/github-bot/tips/test-desktop.md
  tools/github-bot/tips/test-mobile-e2e.md
  tools/github-bot/tips/test-mobile.md
  tools/github-bot/tips/test.md
Labels: tools

#2604 Fix: add new device drawer closing in new device selection
  .changeset/big-bats-visit.md
  .changeset/neat-oranges-exercise.md
  apps/ledger-live-mobile/src/components/QueuedDrawer.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/language.tsx
Labels: mobile

#2616 ci: use standard github token in the gate
  .github/workflows/gate.yml
Labels: automation

#2596 In tools, add a utility to test a sync on the web, for any account id
  tools/common-tools/src/demos/index.js
  tools/common-tools/src/demos/sync/index.js
  tools/common-tools/src/demos/sync/live-common-setup.js
Labels: tools

#2621 Connected to CryptoPanic API, piped everything, added pull down to refresh
  apps/ledger-live-mobile/src/hooks/newsfeed/cryptopanicApi.ts
  apps/ledger-live-mobile/src/hooks/newsfeed/useCryptopanicPosts.ts
  apps/ledger-live-mobile/src/screens/Newsfeed/index.tsx
Labels: mobile

#2617 ci: fix git diff steps
  .github/workflows/test.yml
Labels: automation

#2569 feat: lld buy sell nav feature flag
  .changeset/chatty-pigs-fly.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.jsx
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, ledgerjs

#2552 ✨ [FEAT] : LIVE-4931 LLM - Add WalletConnect entry point in main nav button
  .changeset/late-hornets-cry.md
  .changeset/modern-cars-attack.md
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs, translations

#2625 Feat: device SDK: first device action
  .changeset/dry-penguins-tease.md
  apps/cli/src/commands-index.ts
  apps/cli/src/commands/deviceSDKGetDeviceInfo.ts
  libs/ledger-live-common/src/deviceSDK/actions/core.ts
  libs/ledger-live-common/src/deviceSDK/actions/getDeviceInfo.ts
  libs/ledger-live-common/src/deviceSDK/commands/core.ts
  libs/ledger-live-common/src/deviceSDK/commands/genuineCheck.ts
  libs/ledger-live-common/src/deviceSDK/commands/getAppAndVersion.ts
  libs/ledger-live-common/src/deviceSDK/commands/getVersion.test.ts
  libs/ledger-live-common/src/deviceSDK/commands/getVersion.ts
  libs/ledger-live-common/src/deviceSDK/hooks/getDeviceInfo.ts
  libs/ledger-live-common/src/deviceSDK/tasks/core.ts
  libs/ledger-live-common/src/deviceSDK/tasks/genuineCheck.ts
  libs/ledger-live-common/src/deviceSDK/tasks/getDeviceInfo.ts
  libs/ledger-live-common/src/hw/deviceAccess.ts
Labels: common, cli

#2633 fix(LLM): Remove Old Warning Sign when status is down
  .changeset/nine-pillows-sin.md
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
Labels: mobile

#2554 Support/live 5375 Stake banner test
  apps/ledger-live-desktop/src/renderer/components/AssetDistribution/Row.jsx
  apps/ledger-live-desktop/src/renderer/components/EntryButton/EntryButton.tsx
  apps/ledger-live-desktop/src/renderer/components/SideDrawer.jsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/TopBar.jsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/AccountList.jsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/CurrencyList.jsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/component/ProviderItem.tsx
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.jsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/FeaturedButtons.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoinScreen/index.tsx
  apps/ledger-live-desktop/tests/models/AssetPage.ts
  apps/ledger-live-desktop/tests/models/DiscoverPage.ts
  apps/ledger-live-desktop/tests/models/Drawer.ts
  apps/ledger-live-desktop/tests/models/MarketCoinPage.ts
  apps/ledger-live-desktop/tests/models/MarketPage.ts
  apps/ledger-live-desktop/tests/models/Modal.ts
  apps/ledger-live-desktop/tests/models/PortfolioPage.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/asset-page-with-stake-available-darwin.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/asset-page-with-stake-available-linux.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/asset-page-with-stake-available-win32.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/choose-account-panel-darwin.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/choose-account-panel-linux.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/choose-account-panel-win32.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/choose-stake-provider-modal-darwin.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/choose-stake-provider-modal-linux.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/choose-stake-provider-modal-win32.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/market-loaded-with-eth-stake-button-available-darwin.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/market-loaded-with-eth-stake-button-available-linux.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/market-loaded-with-eth-stake-button-available-win32.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/portfolio-entry-buttons-darwin.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/portfolio-entry-buttons-linux.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/portfolio-entry-buttons-win32.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/stake-drawer-opened-from-asset-page-darwin.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/stake-drawer-opened-from-asset-page-linux.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/stake-drawer-opened-from-asset-page-win32.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/stake-drawer-opened-from-market-coin-page-darwin.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/stake-drawer-opened-from-market-coin-page-linux.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/stake-drawer-opened-from-market-coin-page-win32.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/stake-drawer-opened-from-market-page-darwin.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/stake-drawer-opened-from-market-page-linux.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/stake-drawer-opened-from-market-page-win32.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/stake-drawer-opened-from-portfolio-darwin.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/stake-drawer-opened-from-portfolio-linux.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/stake-drawer-opened-from-portfolio-win32.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/stake-provider-dapp-has-opened-darwin.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/stake-provider-dapp-has-opened-linux.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/stake-provider-dapp-has-opened-win32.png
  libs/ledger-live-common/src/market/api/api.mock.ts
Labels: desktop, common, screenshots

#2538 feat: lld - shows stake banner on account page for ethereum
  .changeset/proud-dryers-occur.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/families/cosmos/utils.test.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/utils.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/utils.test.ts
  apps/ledger-live-desktop/src/renderer/families/ethereum/utils.ts
  apps/ledger-live-desktop/src/renderer/screens/account/AccountBanner.jsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountBanner.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/account/useGetBannerProps.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/families/ethereum/banner.test.ts
  libs/ledger-live-common/src/families/ethereum/banner.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  pnpm-lock.yaml
Labels: desktop, common, ledgerjs, translations

#2638 Bugfix: LIVE-5495 lld fix swap track
  .changeset/rotten-colts-protect.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/ToRow.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/index.jsx
Labels: desktop

#2597 fix(DeviceActionModal): avoid resetting the result onModalHide
  .changeset/calm-parents-report.md
  apps/ledger-live-mobile/src/components/DeviceActionModal.tsx
Labels: mobile

#2161 Introduce useWalletAPIServer hook
  .changeset/fifty-chairs-allow.md
  .changeset/hip-dancers-walk.md
  .changeset/olive-tools-pull.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/WebViewV2.tsx
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/WebViewV2.tsx
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/wallet-api/react.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common

#2644 Feat/LIVE-5404 - Newsfeed - Use newsfeed availability
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ExploreTabNavigator.tsx
  apps/ledger-live-mobile/src/hooks/newsfeed/cryptopanicApi.ts
  apps/ledger-live-mobile/src/hooks/newsfeed/useCryptopanicPosts.ts
  apps/ledger-live-mobile/src/hooks/newsfeed/useIsNewsfeedAvailable.ts
  apps/ledger-live-mobile/src/icons/Cryptopanic.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Discover/index.tsx
  apps/ledger-live-mobile/src/screens/Newsfeed/index.tsx
  libs/ui/packages/native/src/components/Cards/InformativeCard/index.tsx
  pnpm-lock.yaml
Labels: mobile, ui, translations

#2645 fix: LLD - stop showing staking banner on ethereum tokens
  .changeset/sweet-mice-suffer.md
  apps/ledger-live-desktop/src/renderer/screens/account/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/account/useGetBannerProps.ts
Labels: desktop

#2636 fix: fixes several swap errors recorded in sentry
  .changeset/silent-tables-worry.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawer/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionTarget.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/hooks/usePageState.ts
Labels: desktop

#2394 LLD sync onboarding app installation
  .changeset/sour-flowers-hang.md
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/AllowManagerModal.tsx
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/AppInstallItem.tsx
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/CancelModal.tsx
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/DefaultAppsIllustration.tsx
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/InstallSetOfApps.tsx
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/LockedModal.tsx
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/RestoreAppsIllustration.tsx
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SideDrawer.jsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/ApplicationContent.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/OnboardingAppInstallDebug.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#2585 Support/detox post ci update investigation
  apps/ledger-live-mobile/detox.config.js
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/models/nft/nftViewerPage.ts
  apps/ledger-live-mobile/e2e/models/onboarding/onboardingSteps.ts
  apps/ledger-live-mobile/e2e/models/settings/generalSettingsPage.ts
  apps/ledger-live-mobile/e2e/models/settings/settingsPage.ts
  apps/ledger-live-mobile/e2e/models/wallet/nftGalleryPage.ts
  apps/ledger-live-mobile/e2e/models/wallet/portfolioPage.ts
  apps/ledger-live-mobile/e2e/models/wallet/walletTabNavigator.ts
  apps/ledger-live-mobile/e2e/setup.ts
  apps/ledger-live-mobile/e2e/specs/languageChange.spec.ts
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboarding.spec.ts
  apps/ledger-live-mobile/e2e/specs/password.spec.ts
Labels: mobile

#2656 chore: lld/refactor staking banners
  .changeset/light-tools-flow.md
  apps/ledger-live-desktop/src/renderer/families/cosmos/StakeBanner.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/utils.test.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/utils.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeBanner.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/utils.test.ts
  apps/ledger-live-desktop/src/renderer/screens/account/AccountStakeBanner.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/account/types.ts
  apps/ledger-live-desktop/src/renderer/screens/account/useGetBannerProps.ts
Labels: desktop

#2646 feat/LIVE-5662 Provide a way of skipping onboarding on dev builds
  .changeset/fifty-beers-run.md
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/index.tsx
Labels: desktop

#2599 ci: add theoretical support for merge groups
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .github/workflows/gate.yml
  .github/workflows/test-mobile-e2e.yml
  pnpm-lock.yaml
  tools/actions/turbo-affected/action.yml
  tools/actions/turbo-affected/build/main.js
  tools/actions/turbo-affected/src/main.ts
  tools/github-bot/api/github/webhooks/index.ts
  tools/github-bot/package.json
  tools/github-bot/src/features/orchestrator/const.ts
  tools/github-bot/src/features/orchestrator/index.ts
  tools/github-bot/src/features/orchestrator/tools.ts
  tools/github-bot/src/features/upToDate/index.ts
  tools/github-bot/src/tools/index.ts
  tools/github-bot/src/tools/monitorWorkflow.ts
Labels: tools, automation

#2669 Feat/LIVE-5016 - Newsfeed - Better date formatting (use relative date)
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/FormatRelativeTime.tsx
  apps/ledger-live-mobile/src/hooks/newsfeed/useCryptopanicPosts.ts
  apps/ledger-live-mobile/src/polyfill.ts
  apps/ledger-live-mobile/src/screens/Newsfeed/index.tsx
  pnpm-lock.yaml
Labels: mobile

#2627 Feat/lld/show sol staking banner
  .changeset/fast-mirrors-wink.md
  .changeset/fifty-berries-report.md
  apps/ledger-live-desktop/src/renderer/families/solana/StakeBanner.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountStakeBanner.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/families/solana/banner.test.ts
  libs/ledger-live-common/src/families/solana/banner.ts
Labels: desktop, common, translations

#2605 feat: add noinput parameter for reduced payload
  .changeset/hot-apricots-develop.md
  libs/ledger-live-common/src/api/Ethereum.ts
Labels: common

#2626 feat: add in web tools a way to check network troubleshooting
  tools/common-tools/src/demos/index.js
  tools/common-tools/src/demos/networkTroubleshooting/index.js
Labels: tools

#2602 fix: load envs at js boot
  .changeset/gorgeous-boxes-refuse.md
  apps/ledger-live-desktop/src/renderer/index.js
Labels: desktop

#2682 fix: fix stake click in cosmos and osmos
  .changeset/friendly-toys-fly.md
  apps/ledger-live-desktop/src/renderer/families/cosmos/AccountHeaderManageActions.js
Labels: desktop

#2683 LLM - Lock issue fix
  .changeset/healthy-pets-complain.md
  apps/ledger-live-mobile/src/constants.ts
  apps/ledger-live-mobile/src/context/AuthPass/index.tsx
Labels: mobile

#2687 fix: fix osmos banner after refactor
  .changeset/calm-coats-float.md
  apps/ledger-live-desktop/src/renderer/screens/account/AccountStakeBanner.tsx
Labels: desktop

#2477 Feat / Protect - whole ledger protect card clickable
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/NewProtectState.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/index.tsx
  apps/ledger-live-mobile/src/screens/Manager/index.tsx
Labels: mobile

#2521 Support - LLM - Add a performance overlay to track navigation time between pages
  .changeset/loud-files-serve.md
  .changeset/spicy-gifts-drop.md
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainApplication.java
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/AccountRowLayout.tsx
  apps/ledger-live-mobile/src/components/AssetRowLayout.tsx
  apps/ledger-live-mobile/src/components/FloatingDebugButton.tsx
  apps/ledger-live-mobile/src/components/PerformanceConsole/Event.tsx
  apps/ledger-live-mobile/src/components/PerformanceConsole/EventList.tsx
  apps/ledger-live-mobile/src/components/PerformanceConsole/FloatingPerformanceButton.tsx
  apps/ledger-live-mobile/src/components/PerformanceConsole/Status.tsx
  apps/ledger-live-mobile/src/components/PerformanceConsole/index.tsx
  apps/ledger-live-mobile/src/components/PerformanceConsole/usePerformanceReportsLog.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/screens/Account/index.tsx
  apps/ledger-live-mobile/src/screens/Accounts/AccountRow.tsx
  apps/ledger-live-mobile/src/screens/Accounts/index.tsx
  apps/ledger-live-mobile/src/screens/Assets/index.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/Assets.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioAssets.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnlyAssets.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Performance/PerformanceConsoleRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Performance/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AccountsSection.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AssetRow.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  libs/coin-framework/src/env.ts
  pnpm-lock.yaml
Labels: mobile

#2697 fix: remove extra no funds modal case for multiple coins
  .changeset/two-wolves-visit.md
  apps/ledger-live-desktop/src/renderer/families/cosmos/AccountHeaderManageActions.js
  apps/ledger-live-desktop/src/renderer/families/elrond/AccountHeaderManageActions.js
  apps/ledger-live-desktop/src/renderer/families/near/AccountHeaderManageActions.js
  apps/ledger-live-desktop/src/renderer/families/tron/AccountHeaderManageActions.js
Labels: desktop

#2703 LIVE-5681 Increase gas estimation for claim rewards for cosmos
  .changeset/strange-fireants-fly.md
  libs/ledger-live-common/src/families/cosmos/chain/cosmosBase.ts
Labels: common

#2531 bugfix(react-ui): remove input padding
  .changeset/olive-wolves-grow.md
  libs/ui/packages/react/src/components/form/BaseInput/index.tsx
Labels: ui, fork

#2570 LLM - Feat/LIVE-5016 - Newfeed page
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/Button.tsx
  apps/ledger-live-mobile/src/components/ExploreTab/ExploreTabNavigatorTabBar.tsx
  apps/ledger-live-mobile/src/components/ExploreTab/ExploreTabNavigatorTabBarDisabled.tsx
  apps/ledger-live-mobile/src/components/FormatRelativeTime.tsx
  apps/ledger-live-mobile/src/components/InAppBrowser/index.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ExploreTabNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/ExploreTabNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/hooks/newsfeed/cryptopanicApi.ts
  apps/ledger-live-mobile/src/hooks/newsfeed/useCryptopanicPosts.ts
  apps/ledger-live-mobile/src/hooks/newsfeed/useIsNewsfeedAvailable.ts
  apps/ledger-live-mobile/src/icons/Cryptopanic.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/polyfill.ts
  apps/ledger-live-mobile/src/screens/Discover/index.tsx
  apps/ledger-live-mobile/src/screens/Learn/index.tsx
  apps/ledger-live-mobile/src/screens/Learn/learn.tsx
  apps/ledger-live-mobile/src/screens/Newsfeed/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/native/src/components/Cards/InformativeCard/index.tsx
  pnpm-lock.yaml
Labels: mobile, common, ui, ledgerjs, translations

#2693 fix: remove gas limit error when available balance too low
  .changeset/big-lobsters-relax.md
  libs/ledger-live-common/src/api/Ethereum.ts
  libs/ledger-live-common/src/families/ethereum/gas.test.ts
  libs/ledger-live-common/src/families/ethereum/gas.ts
Labels: common

#2734 fix: remove gas limit error when available balance too low
  .changeset/big-lobsters-relax.md
  libs/ledger-live-common/src/api/Ethereum.ts
  libs/ledger-live-common/src/families/ethereum/gas.test.ts
  libs/ledger-live-common/src/families/ethereum/gas.ts
Labels: common

#2736 LLM - Fix on E2E tests
  .changeset/big-bats-battle.md
  apps/ledger-live-mobile/e2e/specs/password.spec.ts
Labels: mobile

#2647 feat/FAT-723 Provide support for CLS graphical assets on LLD
  .changeset/twenty-peas-perform.md
  apps/ledger-live-desktop/src/renderer/animations/stax/noBox/allowConnection.json
  apps/ledger-live-desktop/src/renderer/animations/stax/noBox/confirmLockscreen.json
  apps/ledger-live-desktop/src/renderer/components/CustomImage/CustomImageDeviceAction.tsx
  apps/ledger-live-desktop/src/renderer/components/CustomImage/FramedImage.tsx
  apps/ledger-live-desktop/src/renderer/components/CustomImage/ImageGrayscalePreview.tsx
  apps/ledger-live-desktop/src/renderer/components/CustomImage/assets/previewBackground.png
  apps/ledger-live-desktop/src/renderer/components/CustomImage/assets/transferBackground.png
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/animations.ts
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/images/devices/stax.png
  apps/ledger-live-desktop/src/renderer/images/devices/stax_dark.png
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/settings/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/CustomLockScreen.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/CustomLockScreenToggle.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/sampleimage.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-005-adjust-contrast-zoomed-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-005-adjust-contrast-zoomed-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-005-adjust-contrast-zoomed-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-008-adjust-rotated-zoomed-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-008-adjust-rotated-zoomed-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-008-adjust-rotated-zoomed-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-014-preview-contrast-initial-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-014-preview-contrast-initial-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-014-preview-contrast-initial-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-015-preview-contrast-1-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-015-preview-contrast-1-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-015-preview-contrast-1-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-016-preview-contrast-2-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-016-preview-contrast-2-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-016-preview-contrast-2-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-017-preview-contrast-3-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-017-preview-contrast-3-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-017-preview-contrast-3-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-018-preview-contrast-0-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-018-preview-contrast-0-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-018-preview-contrast-0-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-019-transfer-load-requested-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-019-transfer-load-requested-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-019-transfer-load-requested-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-021-transfer-progress-020-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-021-transfer-progress-020-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-021-transfer-progress-020-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-022-transfer-progress-050-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-022-transfer-progress-050-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-022-transfer-progress-050-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-023-transfer-progress-080-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-023-transfer-progress-080-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-023-transfer-progress-080-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-024-transfer-progress-100-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-024-transfer-progress-100-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-024-transfer-progress-100-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-025-transfer-commit-requested-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-025-transfer-commit-requested-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-025-transfer-commit-requested-win32.png
Labels: desktop, translations, screenshots

#2740 fix(DeviceConnect): remove onError handler
  .changeset/great-pets-report.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/WebViewV2.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/DeviceConnect/index.tsx
  libs/ledger-live-common/src/wallet-api/react.ts
Labels: mobile, common, translations

#2705 ci: remove now useless ref input
  .github/workflows/build-desktop-external.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile-external.yml
  .github/workflows/build-mobile.yml
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile-e2e.yml
  .github/workflows/test-mobile.yml
  .github/workflows/test.yml
Labels: automation

#2741 Support/fix LLD custom lock screen flaky test
  .changeset/shiny-spies-sparkle.md
  apps/ledger-live-desktop/src/renderer/components/CustomImage/NFTGallerySelector.tsx
  apps/ledger-live-desktop/src/renderer/components/CustomImage/NFTItem.tsx
  apps/ledger-live-desktop/tests/models/CustomImageDrawer.ts
  apps/ledger-live-desktop/tests/specs/manager/customImageNftGallery.spec.ts
  apps/ledger-live-desktop/tests/specs/manager/customImageNftGallery.spec.ts-snapshots/custom-image-000-nft-gallery-populated-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImageNftGallery.spec.ts-snapshots/custom-image-000-nft-gallery-populated-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImageNftGallery.spec.ts-snapshots/custom-image-000-nft-gallery-populated-win32.png
Labels: desktop, screenshots

#2743 feat: update end date banner text formatting
  apps/ledger-live-desktop/src/renderer/families/avalanchepchain/DelegationFlowModal/steps/StepEndDate.jsx
Labels: desktop, fork

#2733 support/nowarnings Address some of the warnings on LLM dev builds
  .changeset/lazy-paws-wave.md
  .changeset/new-hounds-count.md
  .changeset/stupid-students-develop.md
  apps/ledger-live-desktop/src/renderer/hooks/useIsMounted.ts
  apps/ledger-live-desktop/src/renderer/screens/customImage/Step1ChooseImage.tsx
  apps/ledger-live-mobile/src/components/FirebaseRemoteConfig.tsx
  apps/ledger-live-mobile/src/components/Nft/AddNewItemList.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/AndroidRequiresBluetoothPermissions.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/AndroidRequiresLocationPermissions.tsx
  apps/ledger-live-mobile/src/components/RequiresCameraPermissions/useCameraPermissions.ts
  apps/ledger-live-mobile/src/polyfill.ts
  libs/ledger-live-common/src/data/icons/svg/FTM.svg
  libs/ledger-live-common/src/data/icons/svg/SGB.svg
  libs/ledger-live-common/src/hooks/useIsMounted.ts
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/index.tsx
  libs/ui/packages/native/src/components/Layout/List/VerticalStepper/StepperItem.tsx
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/TimelineItem.tsx
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/index.tsx
Labels: desktop, mobile, common, ui

#2719 fix(errors): rendering of errors in device actions
  .changeset/thirty-dancers-appear.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
Labels: desktop

#2744 [LIVE-5682] Feature - Address Poisoning Filter
  .changeset/fuzzy-lemons-cough.md
  apps/ledger-live-desktop/src/renderer/actions/settings.js
  apps/ledger-live-desktop/src/renderer/init.jsx
  apps/ledger-live-desktop/src/renderer/reducers/settings.js
  apps/ledger-live-desktop/src/renderer/screens/account/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/FilterTokenOperationsZeroAmount.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-accounts-page-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-accounts-page-linux.png
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/SetEnvsFromSettings.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Analytics/Operations.tsx
  apps/ledger-live-mobile/src/screens/Settings/Accounts/FilterTokenOperationsZeroAmountRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Accounts/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/OperationsHistory.tsx
  libs/coin-framework/src/env.ts
  libs/coin-framework/src/operation.test.ts
  libs/coin-framework/src/operation.ts
  libs/ledger-live-common/src/operation.ts
Labels: desktop, mobile, common, translations, screenshots

#2745 [LIVE-5682] RELEASE FIX 🚀 - Address Poisoning Filter
  .changeset/fuzzy-lemons-cough.md
  apps/ledger-live-desktop/src/renderer/actions/settings.js
  apps/ledger-live-desktop/src/renderer/init.jsx
  apps/ledger-live-desktop/src/renderer/reducers/settings.js
  apps/ledger-live-desktop/src/renderer/screens/account/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/FilterTokenOperationsZeroAmount.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-accounts-page-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-accounts-page-linux.png
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/SetEnvsFromSettings.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Analytics/Operations.tsx
  apps/ledger-live-mobile/src/screens/Settings/Accounts/FilterTokenOperationsZeroAmountRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Accounts/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/OperationsHistory.tsx
  libs/coin-framework/src/env.ts
  libs/coin-framework/src/operation.test.ts
  libs/coin-framework/src/operation.ts
  libs/ledger-live-common/src/operation.ts
Labels: desktop, mobile, common, translations, screenshots

#2724 ci: sync generated json files to STG
  .github/workflows/cal-importer.yml
Labels: automation

#2672 feat: LLD - adds elrond stake banner to account screen
  .changeset/silly-planes-accept.md
  apps/ledger-live-desktop/src/renderer/families/elrond/AccountHeaderManageActions.js
  apps/ledger-live-desktop/src/renderer/families/elrond/StakeBanner.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountBanner.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountStakeBanner.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/types.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/families/elrond/banner.test.ts
  libs/ledger-live-common/src/families/elrond/banner.ts
  libs/ledger-live-common/src/families/elrond/helpers/areEarnRewardsEnabled.ts
Labels: desktop, common, translations

#2670 bugfix/LIVE-5364: Fix bug in device language change prompt
  .changeset/forty-icons-fetch.md
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/DeviceLanguageInstalled.tsx
  apps/ledger-live-mobile/src/components/ModalLock.tsx
  apps/ledger-live-mobile/src/components/QueuedDrawer.tsx
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceLanguageSelection.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/QueuedDrawers.tsx
Labels: mobile

#2750 LLM - AuthScreen not showing on Android
  .changeset/chatty-glasses-bow.md
  apps/ledger-live-mobile/src/context/AuthPass/index.tsx
Labels: mobile

#2737 feat/LIVE-5628 Disable Elrond + LLM UI for disabled install actions
  .changeset/chilly-roses-push.md
  .changeset/lazy-elephants-chew.md
  apps/ledger-live-mobile/src/screens/Manager/AppsList/AppInstallButton.tsx
  apps/ledger-live-mobile/src/screens/Manager/AppsList/AppRow.tsx
  libs/ledger-live-common/src/manager/index.ts
Labels: mobile, common

#2735 fix: Main transfer animation improvement
  .changeset/strange-ways-punch.md
  apps/ledger-live-mobile/src/components/TabBar/Transfer.tsx
Labels: mobile

#2749 fix: LIVE-5839 fix swap drawer left padding
  .changeset/eighty-camels-care.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawer/index.jsx
Labels: desktop

#2652 feat/FAT-660 Edit device name on LLD
  .changeset/clean-rivers-sing.md
  .changeset/lazy-paws-appear.md
  .changeset/thirty-dingos-wave.md
  apps/ledger-live-desktop/src/renderer/icons/UFO.jsx
  apps/ledger-live-desktop/src/renderer/screens/manager/AppsList/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/CustomImageManagerButton.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/DeviceLanguage.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/DeviceName.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/EditDeviceName.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-app-catalog-w-l10n-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-app-catalog-w-l10n-linux.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-app-catalog-w-l10n-win32.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-change-language-drawer-selected-linux.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-language-installation-complete-linux.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-language-installation-progress-linux.png
  libs/ledger-live-common/src/apps/hw.ts
  libs/ledger-live-common/src/apps/mock.ts
  libs/ledger-live-common/src/apps/types.ts
  libs/ui/packages/react/src/components/form/BaseInput/index.tsx
Labels: desktop, common, ui, translations, screenshots

#2759 fix: allows coin modal to be closed on swap screen
  .changeset/violet-pandas-grab.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionFees.jsx
Labels: desktop

#2726 feat: remove ledger recover status
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/NewProtectState.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/index.tsx
  apps/ledger-live-mobile/src/images/ledger_recover_dark.png
  apps/ledger-live-mobile/src/images/ledger_recover_light.png
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#2766 fix: android webview camera and audio
  .changeset/cyan-numbers-judge.md
  apps/ledger-live-mobile/android/app/src/main/AndroidManifest.xml
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Labels: mobile

#2659 refactor: rewording of restore with ledger recover
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/RestoreWithProtect.tsx
Labels: mobile, translations

#2639 LIVE-5008 Remove unnecessary zcash package
  .changeset/nasty-windows-think.md
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: common

#2685 refactor: restore with ledger recover use case
  apps/ledger-live-mobile/src/images/illustration/Dark/_LedgerRecover.png
  apps/ledger-live-mobile/src/images/illustration/Light/_LedgerRecover.png
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Onboarding/steps/useCaseSelection.tsx
Labels: mobile, translations

#2711 Refactor : ledger recover modal in lld
  apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/ProtectDiscoverBody.jsx
  apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/images/ledger_recover_dark.png
  apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/images/ledger_recover_light.png
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#2704 refactor: device connection info
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/drawers/ProtectConnectionInformationModal.tsx
Labels: mobile, translations

#2769 feat/LIVE-5815 fix glitchy drawer for language selector on my ledger
  .changeset/itchy-months-cover.md
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/DeviceLanguage.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/DeviceLanguageInstallation.tsx
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-allow-language-installation-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-allow-language-installation-linux.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-allow-language-installation-win32.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-change-language-drawer-selected-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-change-language-drawer-selected-linux.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-change-language-drawer-selected-win32.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-language-installation-complete-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-language-installation-complete-win32.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-language-installation-progress-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-language-installation-progress-win32.png
Labels: desktop, screenshots

#2718 fix(react-native-hid): support usb otg connectivity for android 12+
  .changeset/soft-cats-smell.md
  libs/ledgerjs/packages/react-native-hid/android/src/main/java/com/ledgerwallet/hid/HIDDevice.java
  libs/ledgerjs/packages/react-native-hid/android/src/main/java/com/ledgerwallet/hid/LedgerHelper.java
  libs/ledgerjs/packages/react-native-hid/android/src/main/java/com/ledgerwallet/hid/ReactHIDModule.java
  libs/ledgerjs/packages/react-native-hid/android/src/main/java/com/ledgerwallet/hid/ReactHIDPackage.java
  libs/ledgerjs/packages/react-native-hid/src/index.ts
Labels: ledgerjs

#2620 LC-553: Add swift bridge/wrapper packages
  .changeset/fifty-turkeys-design.md
  .pnpmfile.cjs
  libs/ledgerjs/packages/swift-bridge-hw-app-eth/README.md
  libs/ledgerjs/packages/swift-bridge-hw-app-eth/jest.config.ts
  libs/ledgerjs/packages/swift-bridge-hw-app-eth/package.json
  libs/ledgerjs/packages/swift-bridge-hw-app-eth/src/Wrapper.ts
  libs/ledgerjs/packages/swift-bridge-hw-app-eth/tsconfig.json
  libs/ledgerjs/packages/swift-bridge-hw-app-solana/README.md
  libs/ledgerjs/packages/swift-bridge-hw-app-solana/jest.config.ts
  libs/ledgerjs/packages/swift-bridge-hw-app-solana/package.json
  libs/ledgerjs/packages/swift-bridge-hw-app-solana/src/Wrapper.ts
  libs/ledgerjs/packages/swift-bridge-hw-app-solana/tsconfig.json
  libs/ledgerjs/packages/swift-bridge-hw-transport-ble/README.md
  libs/ledgerjs/packages/swift-bridge-hw-transport-ble/jest.config.ts
  libs/ledgerjs/packages/swift-bridge-hw-transport-ble/package.json
  libs/ledgerjs/packages/swift-bridge-hw-transport-ble/src/TransportBLESwift.ts
  libs/ledgerjs/packages/swift-bridge-hw-transport-ble/tsconfig.json
  pnpm-lock.yaml
Labels: ledgerjs

#2768 LLD fix padding in swap drawers
  .changeset/lucky-shrimps-drum.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/ExchangeDrawer/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawer/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/TargetAccountDrawer/index.jsx
  apps/ledger-live-desktop/tests/playwright.config.ts
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-020-transfer-progress-000-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-020-transfer-progress-000-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-020-transfer-progress-000-win32.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-allow-language-installation-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-allow-language-installation-linux.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-allow-language-installation-win32.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-change-language-drawer-selected-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-change-language-drawer-selected-linux.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-change-language-drawer-selected-win32.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-language-installation-complete-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-language-installation-complete-linux.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-language-installation-complete-win32.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-language-installation-progress-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-language-installation-progress-linux.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-language-installation-progress-win32.png
  apps/ledger-live-desktop/tests/specs/manager/firmwareupdate.spec.ts-snapshots/modal-closed-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/firmwareupdate.spec.ts-snapshots/modal-closed-linux.png
  apps/ledger-live-desktop/tests/specs/manager/firmwareupdate.spec.ts-snapshots/modal-closed-win32.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-app-catalog-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-app-catalog-linux.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-app-catalog-win32.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-uninstall-tron-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-uninstallAll-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-uninstallAll-linux.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-uninstallAll-win32.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-updateAll-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-updateAll-linux.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-updateAll-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-001-postonboarding-action-claim-mocked-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-004-postonboarding-action-migrate-assets-mocked-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-sign-transaction-info-linux.png
  apps/ledger-live-desktop/tests/specs/services/staking.spec.ts-snapshots/account-page-with-stake-button-and-banner-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/confirmed-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/confirmed-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/confirmed-swap-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/target-account-drawer-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/target-account-drawer-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/target-account-drawer-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/verify-swap-details-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/verify-swap-details-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/verify-swap-details-win32.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-accounts-page-win32.png
Labels: desktop, screenshots

#2742 bugfix/LIVE-5833 Incorrect prompt to plug USB on FW Update Banner
  .changeset/mighty-cherries-train.md
  .changeset/swift-flies-eat.md
  apps/ledger-live-mobile/src/actions/appstate.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/FirmwareUpdateBanner.tsx
  apps/ledger-live-mobile/src/hooks/useListenToHidDevices.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/reducers/appstate.ts
  apps/ledger-live-mobile/src/reducers/types.ts
Labels: mobile

#2767 feat/LIVE-5914: introduce lint rule to detect untranslated strings
  .changeset/twelve-months-agree.md
  apps/ledger-live-mobile/.eslintrc.js
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/CustomImage/ImageCropper.tsx
  apps/ledger-live-mobile/src/components/DelegationInfo.tsx
  apps/ledger-live-mobile/src/components/Nft/NftCard.tsx
  apps/ledger-live-mobile/src/components/OperationRowNftName.tsx
  apps/ledger-live-mobile/src/families/tezos/DelegationFlow/SelectValidator.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/02-VoteCast.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/02-VoteModal.tsx
  apps/ledger-live-mobile/src/families/tron/VoteFlow/02-VoteRow.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Account/NftCollectionsList.tsx
  apps/ledger-live-mobile/src/screens/Account/SubAccountsList.tsx
  apps/ledger-live-mobile/src/screens/Exchange/ProviderList.tsx
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/01-ReleaseNotes.tsx
  apps/ledger-live-mobile/src/screens/ImportAccounts/DisplayResult.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/Notifications.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/ConnectNano.tsx
  apps/ledger-live-mobile/src/screens/OperationDetails/Title.tsx
  apps/ledger-live-mobile/src/screens/Platform/CatalogTwitterBanner.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/01c-SelectNft.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/SummaryNft.tsx
  pnpm-lock.yaml
Labels: mobile, translations

#2717 Adding condition to disclaimer
  .changeset/tall-seals-rest.md
  apps/ledger-live-desktop/src/renderer/screens/platform/Catalog.jsx
Labels: desktop

#2789 ci: add acl public-read to prod cal importer
  .github/workflows/cal-importer.yml
Labels: automation

#2787 feat: LIVE-5929 Enable localization flags for stax devices
  .changeset/tough-cougars-suffer.md
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  libs/ledger-live-common/src/deviceSDK/commands/getVersion.test.ts
  libs/ledger-live-common/src/deviceSDK/commands/getVersion.ts
  libs/ledger-live-common/src/hw/getVersion.test.ts
  libs/ledger-live-common/src/hw/getVersion.ts
  libs/ledger-live-common/src/manager/localization.test.ts
  libs/ledger-live-common/src/manager/localization.ts
Labels: mobile, common

#2788 fix: filter outside SelectAccountAndCurrencyDrawer [LIVE-5865]
  .changeset/wicked-lemons-flow.md
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/WebViewV2.tsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/SelectAccountAndCurrencyDrawer.jsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/logic.js
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.jsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoinScreen/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketRowItem.tsx
  apps/ledger-live-desktop/src/renderer/screens/stake/index.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/WebView.tsx
  libs/ledger-live-common/src/currencies/helpers.ts
  libs/ledger-live-common/src/currencies/react.ts
  libs/ledger-live-common/src/platform/helpers.ts
  libs/ledger-live-common/src/wallet-api/react.ts
Labels: desktop, mobile, common

#2650 BACK-4682 - add static crypto assets to dynamic CAL
  libs/ledgerjs/packages/cryptoassets/README.md
  libs/ledgerjs/packages/cryptoassets/src/data/asa.json
  libs/ledgerjs/packages/cryptoassets/src/data/asa.ts
  libs/ledgerjs/packages/cryptoassets/src/data/cardanoNative.json
  libs/ledgerjs/packages/cryptoassets/src/data/cardanoNative.ts
  libs/ledgerjs/packages/cryptoassets/src/data/esdt.json
  libs/ledgerjs/packages/cryptoassets/src/data/esdt.ts
  libs/ledgerjs/packages/cryptoassets/src/data/spl.json
  libs/ledgerjs/packages/cryptoassets/src/data/spl.ts
  libs/ledgerjs/packages/cryptoassets/src/data/stellar.json
  libs/ledgerjs/packages/cryptoassets/src/data/stellar.ts
  libs/ledgerjs/packages/cryptoassets/src/data/trc10.json
  libs/ledgerjs/packages/cryptoassets/src/data/trc10.ts
  libs/ledgerjs/packages/cryptoassets/src/data/trc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/trc20.ts
  libs/ledgerjs/script/crypto-assets-importer/tron/sync-trc10-tokens.js
Labels: ledgerjs, fork

#2773 fix: redirections to login page
  apps/ledger-live-mobile/src/actions/protect.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/db.ts
  apps/ledger-live-mobile/src/reducers/protect.ts
  apps/ledger-live-mobile/src/screens/Protect/Login.tsx
Labels: mobile

#2561 [LIVE-4950] Tron coin mod
  .changeset/tricky-ears-boil.md
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/families/tron/bridge/js.ts
  libs/ledger-live-common/src/families/tron/react.test.ts
  libs/ledger-live-common/src/families/tron/serialization.ts
  libs/ledger-live-common/src/reconciliation.ts
Labels: common

#2791 feat: live-5930 disable security key from version check
  .changeset/nice-shoes-agree.md
  .changeset/serious-dryers-pretend.md
  apps/cli/src/commands/appsCheckAllAppVersions.ts
  libs/ledger-live-common/src/apps/hw.ts
Labels: common, cli

#2637 FAT-824 LLM Post onboarding analytics
  .changeset/two-jars-study.md
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/index.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingActionRow.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/logic/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/CompletionScreen.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Experimental/PostOnboardingHubTester.tsx
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/PostOnboarding/PostOnboardingActionRow.tsx
  apps/ledger-live-mobile/src/components/PostOnboarding/PostOnboardingEntryPointCard.tsx
  apps/ledger-live-mobile/src/logic/postOnboarding/actions.ts
  apps/ledger-live-mobile/src/logic/postOnboarding/useNavigateToPostOnboardingHubCallback.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/screens/Onboarding/steps/pairNew.tsx
  apps/ledger-live-mobile/src/screens/PostOnboarding/PostOnboardingDebugScreen.tsx
  apps/ledger-live-mobile/src/screens/PostOnboarding/PostOnboardingHub.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Configuration/ReadOnlyModeRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Configuration/ResetOnboardingStateRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Configuration/index.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/CompletionScreen.tsx
  libs/ledger-live-common/src/postOnboarding/PostOnboardingProvider.tsx
  libs/ledger-live-common/src/postOnboarding/hooks/useAllPostOnboardingActionsCompleted.ts
  libs/ledger-live-common/src/postOnboarding/hooks/usePostOnboardingEntryPointVisibleOnWallet.ts
  libs/ledger-live-common/src/postOnboarding/hooks/usePostOnboardingHubState.ts
  libs/ledger-live-common/src/postOnboarding/hooks/useStartPostOnboardingCallback.ts
  libs/ledger-live-common/src/postOnboarding/reducer.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/postOnboarding.ts
Labels: desktop, mobile, common, ledgerjs
