Repository LedgerHQ/ledger-live, pull requests merged in 2023-05, with the labels that each got.

#3310 Feat/live 6884/currency settings earn
  .changeset/violet-cameras-wonder.md
  apps/ledger-live-desktop/src/renderer/screens/earn/index.tsx
Labels: desktop

#3301 Bugfix/LIVE-7226: fix possible duplicated BLEerror messages on the Manager
  .changeset/shiny-mice-try.md
  apps/ledger-live-mobile/src/screens/Manager/index.tsx
Labels: mobile

#3333 Support/short braze session timeout in dev mode
  .changeset/tall-wombats-reflect.md
  apps/ledger-live-desktop/src/renderer/hooks/useBraze.ts
Labels: desktop

#3342 Bugfix - LLD Recover - Fix typo of Recover LLD Recover promo popup
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#3312 [LIVE-7195] Feature - Better handling of domain errors
  .changeset/great-books-promise.md
  .changeset/sharp-emus-exist.md
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/DomainErrorHandlers.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.react.test.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientFieldBase.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientFieldDomainService.tsx
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/components/RecipientInput.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/SendFunds/DomainErrorHandlers.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/DomainServiceRecipientRow.tsx
  libs/domain-service/src/__tests__/functional/domain-service.react.test.tsx
  libs/domain-service/src/__tests__/unit/registries.unit.test.ts
  libs/domain-service/src/__tests__/unit/utils.unit.test.ts
  libs/domain-service/src/errors/index.ts
  libs/domain-service/src/hooks/index.tsx
  libs/domain-service/src/hooks/logic.ts
  libs/domain-service/src/hooks/types.ts
  libs/domain-service/src/index.ts
  libs/domain-service/src/registries/index.ts
  libs/domain-service/src/resolvers/index.ts
  libs/domain-service/src/utils/index.ts
  libs/ledger-live-common/src/apps/mock.ts
  libs/ledger-live-common/src/apps/support.ts
  libs/ledger-live-common/src/families/ethereum/modules/send.ts
  libs/ledger-live-common/src/hw/isUpdateAvailable.test.ts
Labels: desktop, mobile, common, translations

#3349 Bugfix/LLD log content cards clicks
  .changeset/slow-cats-protect.md
  apps/ledger-live-desktop/src/renderer/components/Carousel/Slide.tsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/helpers.tsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useBraze.ts
  apps/ledger-live-desktop/src/renderer/hooks/useNotifications.ts
  apps/ledger-live-desktop/src/types/dynamicContent.ts
Labels: desktop

#2967 Feat/LIVE-5846 - Onboarding - Guidelines screen to Restore with Recover
  .changeset/moody-rabbits-doubt.md
  .changeset/quiet-cherries-breathe.md
  .changeset/sweet-masks-agree.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/animations/nanoX/RecoverWithProtect/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/RecoverWithProtect/light.json
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/animations.ts
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectUseCase/assets/restoreUsingRecoverDark.png
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectUseCase/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/RecoverHowTo.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/RecoverPinCodeHowTo.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-restore-tutorial/pin-code-nanoS-3-darwin.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-restore-tutorial/pin-code-nanoS-3-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-restore-tutorial/pin-code-nanoS-3-win32.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-restore-tutorial/pin-code-nanoS-4-darwin.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-restore-tutorial/pin-code-nanoS-4-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-restore-tutorial/pin-code-nanoS-4-win32.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-restore-tutorial/pin-code-nanoSP-3-darwin.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-restore-tutorial/pin-code-nanoSP-3-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-restore-tutorial/pin-code-nanoSP-3-win32.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-restore-tutorial/pin-code-nanoSP-4-darwin.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-restore-tutorial/pin-code-nanoSP-4-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-restore-tutorial/pin-code-nanoSP-4-win32.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/pin-code-nanoS-3-darwin.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/pin-code-nanoS-3-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/pin-code-nanoS-3-win32.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/pin-code-nanoSP-3-darwin.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/pin-code-nanoSP-3-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/pin-code-nanoSP-3-win32.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/pin-code-nanoSP-4-win32.png
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs, translations, screenshots

#3357 chore(common-tools): make it build in Node 18
  tools/common-tools/package.json
  tools/common-tools/src/demos/repl/commands.js
  tools/common-tools/src/demos/repl/components/fields/ApplicationField.js
Labels: tools

#3272 Bugfix/live 7171 lld postonboarding
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingHubBanner.tsx
  apps/ledger-live-desktop/src/renderer/middlewares/db.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.tsx
  apps/ledger-live-desktop/tests/models/PortfolioPage.ts
  apps/ledger-live-desktop/tests/models/PostOnboarding.ts
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding-state-persistency.spec.ts
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts
  libs/ledger-live-common/src/postOnboarding/actions.ts
Labels: desktop, common

#3358 Bugfix/algorand spec optin
  libs/ledger-live-common/src/families/algorand/speculos-deviceActions.ts
Labels: common

#3364 fix: onomy redelegate by adding new dep to lru cache (delegation amount)
  .changeset/pink-knives-grab.md
  libs/ledger-live-common/src/families/cosmos/js-prepareTransaction.ts
Labels: common

#3360 fix: add Catalog when discover ff is false
  .changeset/fluffy-pumas-brake.md
  .changeset/large-ducks-suffer.md
  apps/ledger-live-desktop/src/renderer/components/PlatformAppProviderWrapper.tsx
  apps/ledger-live-mobile/src/PlatformAppProviderWrapper.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/DiscoverNavigator.tsx
  libs/ledger-live-common/src/platform/filters.ts
Labels: desktop, mobile, common

#3255 feat: add field visibility to manifest
  .changeset/twenty-foxes-admire.md
  apps/ledger-live-desktop/tests/utils/serve-dummy-app.ts
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/hooks.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/index.tsx
  libs/ledger-live-common/src/platform/logic.test.ts
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/api/mock.json
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/index.tsx
  libs/ledger-live-common/src/platform/tracking.test.ts
  libs/ledger-live-common/src/platform/types.ts
  libs/ledger-live-common/src/wallet-api/logic.test.ts
  libs/ledger-live-common/src/wallet-api/tracking.test.ts
  libs/ledger-live-common/src/wallet-api/types.ts
Labels: desktop, mobile, common

#3356 LLD - log content cards clicks not working when no url passed
  .changeset/plenty-geese-cry.md
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/ReferralProgram/images/bg.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/ReferralProgram/images/coin.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/helpers.tsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useBraze.ts
  apps/ledger-live-desktop/src/renderer/hooks/useNotifications.ts
  apps/ledger-live-desktop/src/types/dynamicContent.ts
Labels: desktop

#3369 fix: fix osmosis transaction history
  .changeset/honest-jokes-protect.md
  libs/ledger-live-common/src/config/defaultConfig.ts
Labels: common

#3380 fix(React Native BLE Transport): fix remapping of disconnected device ble errors
  .changeset/popular-nails-laugh.md
  libs/ledgerjs/packages/react-native-hw-transport-ble/src/remapErrors.ts
Labels: ledgerjs

#3382 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#3386 fix(Ledger Live Common): throttle events coming on inline app installs
  .changeset/smooth-cooks-sort.md
  libs/ledger-live-common/src/apps/inlineAppInstall.ts
Labels: common

#3252 feat: recover webview in lld
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
  apps/ledger-live-desktop/src/renderer/components/WebRecoverPlayer/TopBar.tsx
  apps/ledger-live-desktop/src/renderer/components/WebRecoverPlayer/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.ts
  apps/ledger-live-desktop/src/renderer/screens/recover/Player.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/hooks/recoverFeatureFlag.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/hooks/recoverFeatueFlag.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs, translations

#3390 [feat] Support more ESDT tokens
  .changeset/brown-jokes-cross.md
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-mobile/src/families/elrond/accountActions.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Body/components/Delegations/Delegations.tsx
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/__snapshots__/currencies.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/esdt.json
  libs/ledgerjs/packages/cryptoassets/src/data/esdt.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
Labels: desktop, mobile, common, ledgerjs

#3393 test(lld/e2e): remove unfinished useless test that was merged by mistake
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding-state-persistency.spec.ts
Labels: desktop

#3395 Revert "[feat] Support more ESDT tokens (#3390)"
  .changeset/brown-jokes-cross.md
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-mobile/src/families/elrond/accountActions.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Body/components/Delegations/Delegations.tsx
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/__snapshots__/currencies.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/esdt.json
  libs/ledgerjs/packages/cryptoassets/src/data/esdt.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
Labels: desktop, mobile, common, ledgerjs

#3298 feat(Referral): remove entry point on topbar LLD
  .changeset/fresh-boats-refuse.md
  apps/ledger-live-desktop/src/renderer/components/TopBar/HomePromotionalTag.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/index.tsx
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-error-without-carousel-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-003-postonboarding-banner-in-dashboard-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-007-postonboarding-done-no-banner-in-dashboard-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-darwin.png
Labels: desktop, screenshots

#3363 fix: onomy redelegate by adding new dep to lru cache (delegation amount)
  apps/ledger-live-mobile/src/families/cosmos/shared/02-SelectAmount.tsx
  libs/ledger-live-common/src/families/cosmos/js-prepareTransaction.test.ts
Labels: mobile, common

#3316 Bugfix/add track to sucess delegation flow LIVE-6774
  .changeset/old-news-chew.md
  apps/ledger-live-desktop/src/renderer/families/cosmos/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/cosmos/DelegationFlowModal/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/DelegationFlowModal/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/RedelegationFlowModal/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/RedelegationFlowModal/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/solana/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationFlowModal/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationFlowModal/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/modals/StartStake/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/FeaturedButtons.tsx
  apps/ledger-live-desktop/src/renderer/screens/earn/useDeepLinkListener.ts
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoinScreen/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketRowItem.tsx
  apps/ledger-live-desktop/src/renderer/screens/stake/index.tsx
Labels: desktop

#3340 style(LLM): Pairing Flow Pixel-Polish
  .changeset/dry-eagles-judge.md
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicesScanning.tsx
  apps/ledger-live-mobile/src/components/GenericErrorView.tsx
Labels: mobile

#3365 LLM - Stax - Sync Onboarding Pixel Polish
  .changeset/wild-starfishes-joke.md
  apps/ledger-live-mobile/src/components/theme/InvertTheme.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/GenuineCheckFailedDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/LanguageSelect.tsx
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/TimelineItem.tsx
Labels: mobile, ui

#3338 [LIVE-6970] Restore full network logs under env var + exp setting
  .changeset/lovely-baboons-bathe.md
  apps/ledger-live-desktop/src/renderer/experimental.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/experimental.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/env/src/env.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/explorer/index.ts
  libs/ledger-live-common/src/families/stellar/api/horizon.ts
  libs/ledger-live-common/src/network.ts
Labels: desktop, mobile, common, translations

#3217 feat: deeplink for stax restore with recover
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/Protect/RedirectToRecoverStaxFlow.tsx
Labels: mobile

#3410 feat(ledgerjs-cal): update CAL
  .changeset/hot-items-add.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/30/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/30/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/30/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/coins.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/polygon-erc20.ts
Labels: desktop, common, ledgerjs

#3408 Bugfix/live 7388 llm device name UI
  .changeset/witty-plants-clap.md
  apps/ledger-live-mobile/src/screens/EditDeviceName.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceName.tsx
Labels: mobile

#3303 feat: lld recover only on lnx modal
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectUseCase/index.tsx
Labels: desktop

#3322 feat/LIVE-6570 Custom lockscreen removal feature for Stax
  .changeset/empty-tigers-whisper.md
  .changeset/long-falcons-film.md
  .changeset/moody-hats-lick.md
  .changeset/swift-camels-exist.md
  apps/cli/src/commands-index.ts
  apps/cli/src/commands/staxRemoveImage.ts
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/AppsList/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/CustomImageManagerButton.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/EditDeviceName.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/RemoveCustomImage.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/CustomImage/CustomImageBottomModal.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Manager/Device/CustomLockScreen.tsx
  libs/ledger-live-common/src/hw/actions/staxRemoveImage.ts
  libs/ledger-live-common/src/hw/staxRemoveImage.test.ts
  libs/ledger-live-common/src/hw/staxRemoveImage.ts
Labels: desktop, mobile, common, translations, cli

#3409 fix: add track to sucess delegation flow ELROND, NEAR & CELO
  .changeset/fast-toys-agree.md
  apps/ledger-live-desktop/src/renderer/families/celo/AccountHeaderManageActions/AccountHeaderManageActions.tsx
  apps/ledger-live-desktop/src/renderer/families/celo/ActivateFlowModal/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/celo/ActivateFlowModal/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/celo/LockFlowModal/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/celo/LockFlowModal/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/celo/ManageModal/ManageModal.tsx
  apps/ledger-live-desktop/src/renderer/families/celo/VoteFlowModal/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/celo/VoteFlowModal/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/elrond/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/elrond/components/Modals/Delegate/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/elrond/components/Modals/Delegate/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/near/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/near/StakingFlowModal/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/near/StakingFlowModal/steps/StepConfirmation.tsx
Labels: desktop

#3421 LLD TypeScript: solving some tradeoffs from the past
  apps/ledger-live-desktop/.unimportedrc.json
  apps/ledger-live-desktop/README.md
  apps/ledger-live-desktop/src/index-types.d.ts
  apps/ledger-live-desktop/src/index.ts
  apps/ledger-live-desktop/src/renderer/components/Chart/Tooltip.tsx
  apps/ledger-live-desktop/src/renderer/components/Chart/index.tsx
  apps/ledger-live-desktop/src/renderer/components/CurrencyBadge.tsx
  apps/ledger-live-desktop/src/renderer/components/CustomImage/CustomImageDeviceAction.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/EarnRewardsInfoModal.tsx
  apps/ledger-live-desktop/src/renderer/components/Image.tsx
  apps/ledger-live-desktop/src/renderer/components/PerCurrencySelectAccount/Option.tsx
  apps/ledger-live-desktop/src/renderer/components/ProgressCircle.tsx
  apps/ledger-live-desktop/src/renderer/components/SignMessageConfirm/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SuccessDisplay.tsx
  apps/ledger-live-desktop/src/renderer/components/TransactionConfirm/index.tsx
  apps/ledger-live-desktop/src/renderer/ensureContrast.ts
  apps/ledger-live-desktop/src/renderer/hooks/useTheme.ts
  apps/ledger-live-desktop/src/renderer/icons/device/interactions/Blue/Frame.tsx
  apps/ledger-live-desktop/src/renderer/icons/device/interactions/Blue/Screen.tsx
  apps/ledger-live-desktop/src/renderer/icons/device/interactions/NanoS/Frame.tsx
  apps/ledger-live-desktop/src/renderer/icons/device/interactions/NanoS/Screen.tsx
  apps/ledger-live-desktop/src/renderer/icons/device/interactions/NanoS/Swivel.tsx
  apps/ledger-live-desktop/src/renderer/icons/device/interactions/NanoX/Frame.tsx
  apps/ledger-live-desktop/src/renderer/icons/device/interactions/NanoX/Screen.tsx
  apps/ledger-live-desktop/src/renderer/icons/device/interactions/NanoX/Swivel.tsx
  apps/ledger-live-desktop/src/renderer/icons/device/interactions/USBCable.tsx
  apps/ledger-live-desktop/src/renderer/index.html
  apps/ledger-live-desktop/src/renderer/index.ts
  apps/ledger-live-desktop/src/renderer/modals/ExchangeDeviceConfirm/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/01-step-install-full-firmware.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-updating.tsx
  apps/ledger-live-desktop/src/renderer/screens/earn/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/App.tsx
  apps/ledger-live-desktop/src/renderer/screens/recover/Player.tsx
  apps/ledger-live-desktop/src/webviewPreloader/index.ts
  apps/ledger-live-desktop/tools/config/main.esbuild.js
  apps/ledger-live-desktop/tools/config/renderer.esbuild.js
  apps/ledger-live-desktop/tools/config/swapConnectWebviewPreloader.esbuild.js
  apps/ledger-live-desktop/tools/config/webviewPreloader.esbuild.js
  apps/ledger-live-desktop/tsconfig.json
Labels: desktop

#3411 ci: change speculos transport with http one
  .changeset/rare-tables-cheer.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/load/speculos.ts
  libs/ledgerjs/packages/hw-transport-node-speculos-http/package.json
  libs/ledgerjs/packages/hw-transport-node-speculos-http/src/SpeculosHttpTransport.ts
  pnpm-lock.yaml
Labels: common, ledgerjs

#3341 feat/LIVE-7300 More visible warning for providers different than 1
  .changeset/long-stingrays-press.md
  .changeset/silent-stingrays-rhyme.md
  apps/ledger-live-desktop/src/renderer/screens/manager/AppsList/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/ProviderWarning.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-app-catalog-w-l10n-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-app-catalog-w-l10n-linux.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-app-catalog-w-l10n-win32.png
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Manager/AppsScreen.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/index.tsx
  apps/ledger-live-mobile/src/screens/Manager/ProviderWarning.tsx
Labels: desktop, mobile, translations, screenshots

#3423 feat: add deeplink clicked track
  .changeset/silent-steaks-search.md
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.ts
Labels: desktop

#3440 chore: [INFRAPRJ-2558] Migrate runners to dedicated cluster
  .github/workflow-templates/bot-coin-family.yml
  .github/workflows/bot-carbon.yml
  .github/workflows/bot-mere-denis.yml
  .github/workflows/bot-mooncake.yml
  .github/workflows/bot-nitrogen.yml
  .github/workflows/bot-nonreg-carbon.yml
  .github/workflows/bot-nonreg-mooncake.yml
  .github/workflows/bot-nonreg-nitrogen.yml
  .github/workflows/bot-nonreg-oxygen.yml
  .github/workflows/bot-nonreg-silicium.yml
  .github/workflows/bot-oxygen.yml
  .github/workflows/bot-phosphore.yml
  .github/workflows/bot-portfolio-report.yml
  .github/workflows/bot-silicium.yml
  .github/workflows/bot-staging-explorer-btc.yml
  .github/workflows/bot-staging-explorer-eth.yml
  .github/workflows/bot-transfer.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .github/workflows/cal-importer-stg.yml
  .github/workflows/cal-importer.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/healthchecks-runners.yaml
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile-e2e.yml
Labels: automation

#3433 Support/add app json upload for mobile
  apps/ledger-live-mobile/docs/llm_e2e_testing.md
  apps/ledger-live-mobile/e2e/bridge/client.ts
  apps/ledger-live-mobile/e2e/bridge/server.ts
  apps/ledger-live-mobile/e2e/bridge/start-server.ts
  apps/ledger-live-mobile/e2e/e2e-bridge-setup.ts
  apps/ledger-live-mobile/e2e/setup.ts
  apps/ledger-live-mobile/e2e/setups/1AccountBTC1AccountETHReadOnlyFalse.json
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/index.tsx
  pnpm-lock.yaml
Labels: mobile

#3418 Upgrade wallet-api to support EIP-1559 on dapp browser
  .changeset/shiny-chairs-move.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/ethereum/getTransactionStatus.ts
  pnpm-lock.yaml
Labels: common

#3436 fix: LIVE-7399 fix animation regression in install apps my ledger
  .changeset/heavy-dancers-cheat.md
  apps/ledger-live-desktop/src/renderer/components/Progress.tsx
Labels: desktop

#3438 fix(Device Pairing Screen): remove unnecessary manual sentry reporting
  .changeset/afraid-seals-design.md
  apps/ledger-live-mobile/src/screens/PairDevices/index.tsx
Labels: mobile

#3466 fix: bad merge of the README.md during a rebase
  .changeset/proud-pianos-shake.md
  libs/ledgerjs/packages/types-live/README.md
Labels: ledgerjs

#3368 feat(Firmware Update LLM): add restore of apps after firmware update
  .changeset/fuzzy-experts-kneel.md
  .changeset/gentle-spiders-promise.md
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/useUpdateFirmwareAndRestoreSettings.ts
  apps/ledger-live-mobile/src/screens/Manager/Manager.tsx
  libs/ledger-live-common/src/apps/logic.ts
  libs/ledger-live-common/src/apps/react.ts
  libs/ledger-live-common/src/apps/types.ts
  libs/ledger-live-common/src/deviceSDK/actions/updateFirmware.ts
  libs/ledger-live-common/src/deviceSDK/tasks/core.ts
  libs/ledger-live-common/src/hw/actions/app.ts
  libs/ledger-live-common/src/hw/actions/installLanguage.ts
  libs/ledger-live-common/src/hw/actions/manager.ts
  libs/ledger-live-common/src/hw/actions/staxFetchImage.ts
  libs/ledger-live-common/src/hw/actions/staxLoadImage.ts
Labels: mobile, common, translations

#3457 fix: allow closing device action modals when no blocking action
  .changeset/two-flies-double.md
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/Confirmation.tsx
Labels: mobile

#3456 fix: correct logic for showing the provider warning ui on LLM
  .changeset/curly-bottles-pump.md
  apps/ledger-live-mobile/src/screens/Manager/ProviderWarning.tsx
Labels: mobile

#3424 feat: live-6476 bring the optimistic storage bar to LLM
  .changeset/olive-planes-behave.md
  apps/ledger-live-mobile/src/screens/Manager/AppsScreen.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceAppStorage.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/StorageBarItem.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/index.tsx
Labels: mobile

#3469 fix(lld/EditDeviceName): remove superfluous footer
  .changeset/purple-peaches-tell.md
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/EditDeviceName.tsx
Labels: desktop

#3463 [feat/LIVE-7252]: Add Kiln Pooling and Kiln dedicated as staking providers
  apps/ledger-live-desktop/src/helpers/generateValidDappURLWithParams.test.ts
  apps/ledger-live-desktop/src/helpers/generateValidDappURLWithParams.ts
  apps/ledger-live-desktop/src/helpers/getValidDappURLFromManifest.ts
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/EthStakingModalBody.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/StakingIcon.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/assets/EthStakeIlustration.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/component/ProviderItem.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/index.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/types.ts
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/utils/getTrackProperties.ts
  apps/ledger-live-desktop/src/types/featureFlags.ts
  apps/ledger-live-desktop/src/types/manifest.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/models/AccountPage.ts
  apps/ledger-live-desktop/tests/models/Analytics.ts
  apps/ledger-live-desktop/tests/models/DiscoverPage.ts
  apps/ledger-live-desktop/tests/models/Modal.ts
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/account-page-with-stake-button-and-banner-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/account-page-with-stake-button-and-banner-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/account-page-with-stake-button-and-banner-win32.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/asset-page-with-stake-available-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-account-panel-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-account-panel-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-account-panel-win32.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-account-page-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-account-page-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-account-page-win32.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-portfolio-page-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-portfolio-page-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-portfolio-page-win32.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/lido-opened-after-banner-cta-clicked-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/lido-opened-after-banner-cta-clicked-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/lido-opened-after-banner-cta-clicked-win32.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/market-loaded-with-eth-stake-button-available-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/portfolio-entry-buttons-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/portfolio-entry-buttons-win32.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/stake-drawer-opened-from-asset-page-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/stake-drawer-opened-from-asset-page-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/stake-drawer-opened-from-asset-page-win32.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/stake-drawer-opened-from-market-coin-page-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/stake-drawer-opened-from-market-coin-page-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/stake-drawer-opened-from-market-coin-page-win32.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/stake-drawer-opened-from-market-page-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/stake-drawer-opened-from-market-page-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/stake-drawer-opened-from-market-page-win32.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/stake-drawer-opened-from-portfolio-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/stake-drawer-opened-from-portfolio-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/stake-drawer-opened-from-portfolio-win32.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/stake-provider-dapp-has-opened-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/stake-provider-dapp-has-opened-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/stake-provider-dapp-has-opened-win32.png
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/api/mock.json
Labels: desktop, common, translations, screenshots

#3473 bugfix/LIVE-7459 Polishes and changes from product feedback to FW update LLD
  .changeset/quick-candles-burn.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/Installing.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/01-step-prepare.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-flash-mcu.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-restore.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-updating.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/restore/CLS.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/restore/Language.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/FirmwareUpdate/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#3485 [LIVE-7519]: pass padding top into modal body
  .changeset/wet-clocks-enjoy.md
  apps/ledger-live-desktop/src/renderer/components/Modal/ModalBody.tsx
  apps/ledger-live-desktop/src/renderer/components/Modal/ModalContent.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/index.tsx
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-account-page-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-account-page-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-account-page-win32.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-portfolio-page-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-portfolio-page-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-portfolio-page-win32.png
Labels: desktop, screenshots

#3445 feat(llm/synconboarding/analytics): track seeding
  .changeset/perfect-jeans-grab.md
  apps/ledger-live-mobile/src/analytics/TrackScreen.tsx
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
Labels: mobile

#3489 feat: add ledger validators in default conf for cosmos batch 1
  .changeset/silver-students-add.md
  libs/ledger-live-common/src/config/defaultConfig.ts
Labels: common

#3460 feat: add network error component and error fallback for webview
  .changeset/eight-colts-double.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/components/ExportLogsButton.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/NetworkError.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/helpers.ts
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/types.ts
  apps/ledger-live-desktop/src/renderer/icons/ErrorNoBorder.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: enhancement, desktop, translations

#3495 feat: add network error screen
  .changeset/fluffy-rockets-reply.md
  apps/ledger-live-mobile/src/components/GenericErrorView.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/NetworkError.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: enhancement, mobile, translations

#3481 test: add more Detox tests to the NFT gallery
  .changeset/twenty-colts-help.md
  apps/ledger-live-mobile/e2e/models/nft/nftViewerPage.ts
  apps/ledger-live-mobile/e2e/models/trade/receivePage.ts
  apps/ledger-live-mobile/e2e/models/wallet/nftGalleryPage.ts
  apps/ledger-live-mobile/e2e/setups/1Account1NFT.json
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/src/components/NavigationHeaderBackButton.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/AddNewItemList.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/ReceiveNFTsModal.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
Labels: mobile

#3510 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-allow-language-installation-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-allow-language-installation-linux.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-allow-language-installation-win32.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-français-with-device-l10n-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-français-with-device-l10n-linux.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-français-with-device-l10n-win32.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-language-installation-complete-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-language-installation-complete-linux.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-language-installation-complete-win32.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-language-installation-progress-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-language-installation-progress-linux.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-language-installation-progress-win32.png
Labels: desktop, translations, screenshots

#3501 fix: close button to work in buy & sell app
  apps/ledger-live-mobile/src/components/NavigationHeaderCloseButton.tsx
  apps/ledger-live-mobile/src/components/WebPTXPlayer/index.tsx
Labels: mobile

#3295 feat: recover login cta in llm welcome screen
  .changeset/swift-apples-hope.md
  apps/ledger-live-mobile/src/components/WebRecoverPlayer/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
Labels: mobile, translations

#3512 chore: update RELEASE_NOTES
  apps/ledger-live-desktop/RELEASE_NOTES.md
Labels: desktop

#3468 feat: change api call param
  .changeset/cuddly-bobcats-accept.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/components/PlatformAppProviderWrapper.tsx
  apps/ledger-live-mobile/src/PlatformAppProviderWrapper.tsx
  apps/ledger-live-mobile/src/live-common-setup.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/account/importAccounts.test.ts
  libs/ledger-live-common/src/apps/filtering.test.ts
  libs/ledger-live-common/src/platform/filters.ts
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/index.tsx
  libs/ledger-live-common/src/platform/version.test.ts
  libs/ledger-live-common/src/platform/version.ts
Labels: desktop, mobile, common, cli

#3454 fix(live-common): fix the calculation of spendable balance in Stellar accounts.
  .changeset/olive-dragons-wink.md
  libs/ledger-live-common/src/families/stellar/bridge.integration.test.ts
  libs/ledger-live-common/src/families/stellar/logic.ts
  libs/ledger-live-common/src/families/stellar/tokens.ts
Labels: common, fork

#3522 Fix SVG on stacks
  libs/ledger-live-common/src/data/icons/svg/STX.svg
  libs/ledger-live-common/src/families/stacks/specs.ts
Labels: common, fork

#3477 [live-4696] update ui of "send function not available in ios" modal
  .changeset/tame-yaks-sit.md
  apps/ledger-live-mobile/src/components/LText/index.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftListItem.tsx
  apps/ledger-live-mobile/src/components/Nft/NftViewer.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/MainNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/modals/Info.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftCollection/index.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/index.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftInfoNotAvailable.tsx
Labels: mobile, translations

#3192 fix: allow to modify existing token in list
  .changeset/shaggy-camels-design.md
  apps/ledger-live-desktop/src/renderer/reducers/accounts.ts
  libs/ledgerjs/packages/cryptoassets/README.md
  libs/ledgerjs/packages/cryptoassets/src/tokens.test.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
Labels: desktop, ledgerjs, Stale

#3525 Bugfix - Allow pre-pelease tags for higher versions of nano apps than the minimum one
  .changeset/spicy-cats-rest.md
  libs/ledger-live-common/src/apps/support.test.ts
  libs/ledger-live-common/src/apps/support.ts
Labels: common

#3320 Rework of feature flagging on Add Account flows
  .changeset/beige-gorillas-fold.md
  apps/ledger-live-desktop/src/renderer/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-desktop/src/renderer/components/FirebaseRemoteConfig.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/AppsList/AppActions.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/AppsList/AppsList.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/AppsList/Item.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/AppsList/UpdateAllApps.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/AppsList/index.tsx
  apps/ledger-live-mobile/src/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-mobile/src/components/FirebaseRemoteConfig.tsx
  libs/ledger-live-common/src/featureFlags/provider.tsx
  libs/ledger-live-common/src/postOnboarding/hooks/usePostOnboardingHubState.test.ts
Labels: desktop, mobile, common

#3529 fix: allow navigation to binance.com for login (LIVE-7646)
  .changeset/strange-peaches-leave.md
  apps/ledger-live-mobile/src/components/Web3AppWebview/PlatformAPIWebview.tsx
Labels: mobile

#3534 Fix bot actions on stacks integration
  libs/ledger-live-common/src/families/stacks/speculos-deviceActions.ts
Labels: common, fork

#3537 Fix bot actions on stacks
  libs/ledger-live-common/src/families/stacks/speculos-deviceActions.ts
Labels: common, fork

#3539 Fix bot specs on stacks
  libs/ledger-live-common/src/families/stacks/speculos-deviceActions.ts
Labels: common, fork

#3535 Support/log pw test network calls
  .github/workflows/test-desktop.yml
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts
  apps/ledger-live-desktop/tests/utils/global-setup.ts
  apps/ledger-live-desktop/tests/utils/networkResponseLogger.ts
Labels: desktop, automation

#3194 Feat LIVE-4869 bitcoin sync perf
  .changeset/dry-rats-punch.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/bitcoin/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/bitcoin/js-synchronisation.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/wallet.estimateMaxSpendable.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/wallet.explorer.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/wallet.explorer.unit.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/wallet.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/wallet.storage.unit.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.getAddress.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.reorg.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.txs.NP2WPKH.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.txs.P2WPKH.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.txs.dogecoin.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.txs.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.txs.litecoin.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/explorer/index.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/explorer/types.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/storage/index.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/storage/types.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/wallet.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/xpub.ts
  libs/live-network/package.json
  libs/live-network/src/network.ts
  pnpm-lock.yaml
Labels: common

#3441 feat(LLM/LLD): Sync Onboarding Removed language switcher
  .changeset/little-spies-peel.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/Header.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/LanguageSelect.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
Labels: desktop, mobile

#3478 bugfix/[LIVE-5312]-success toast text
  .changeset/orange-mugs-shop.md
  apps/ledger-live-mobile/src/components/RequiresBLE/hooks/useEnableBluetooth.ts
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#3543 feat: LIVE-6329 add visual indicator of disabled CTA while app ops
  .changeset/plenty-stingrays-trade.md
  apps/ledger-live-mobile/src/screens/Manager/Device/CustomLockScreen.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceLanguage.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceName.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/index.tsx
Labels: mobile

#3488 fix: bad rendering of hash verification on old fw update step
  .changeset/clever-dolls-lie.md
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/01-step-prepare.tsx
Labels: desktop

#3526 [LIVE-7365]: add eth staking modal to LLM
  .changeset/cyan-humans-wave.md
  apps/ledger-live-desktop/src/helpers/generateValidDappURLWithParams.test.ts
  apps/ledger-live-desktop/src/helpers/generateValidDappURLWithParams.ts
  apps/ledger-live-desktop/src/helpers/getValidDappURLFromManifest.ts
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/EthStakingModalBody.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/component/ProviderItem.tsx
  apps/ledger-live-desktop/src/types/manifest.ts
  apps/ledger-live-mobile/src/components/FabActions/actionsList/market/index.tsx
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/AccountsNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/MarketNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/StakeNavigator.ts
  apps/ledger-live-mobile/src/components/Stake/index.tsx
  apps/ledger-live-mobile/src/families/ethereum/EthereumStakingDrawer/EthereumStakingDrawerBody.tsx
  apps/ledger-live-mobile/src/families/ethereum/EthereumStakingDrawer/EthereumStakingDrawerProvider.tsx
  apps/ledger-live-mobile/src/families/ethereum/EthereumStakingDrawer/EthereumStakingDrawerProviderIcon.tsx
  apps/ledger-live-mobile/src/families/ethereum/EthereumStakingDrawer/index.tsx
  apps/ledger-live-mobile/src/families/ethereum/EthereumStakingDrawer/types.ts
  apps/ledger-live-mobile/src/families/ethereum/accountActions.tsx
  apps/ledger-live-mobile/src/icons/Kiln.tsx
  apps/ledger-live-mobile/src/icons/Lido.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Account/hooks/useAccountActions.tsx
  apps/ledger-live-mobile/src/screens/Account/index.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/LiveApp.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/LiveApp.tsx
  apps/ledger-live-mobile/src/screens/RequestAccount/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
Labels: desktop, mobile, translations

#3552 [Bugfix/LIVE-7365]: add eth staking modal to tab navigation menu
  apps/ledger-live-mobile/src/components/RootNavigator/MainNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/icons/Kiln.tsx
Labels: mobile
