Repository LedgerHQ/ledger-live, pull requests merged in 2023-07, with the labels that each got.

#3875 fix(DeviceActionImplementations): fix flickering on device actions
  .changeset/hip-socks-refuse.md
  libs/ledger-live-common/src/hw/actions/implementations.ts
  libs/ledger-live-common/src/hw/actions/manager.ts
Labels: common

#3881 chore(llc): coverage including untested files
  .changeset/pretty-buckets-try.md
  libs/ledger-live-common/jest.config.ts
Labels: common

#3867 [support] Typescript for Polkadot identicon
  .changeset/plenty-cycles-sit.md
  apps/ledger-live-desktop/src/renderer/families/polkadot/Nomination/Row.tsx
  apps/ledger-live-desktop/src/renderer/families/polkadot/NominationFlowModal/fields/ValidatorRow.tsx
  apps/ledger-live-desktop/tests/specs/families/polkadot.spec.ts
  apps/ledger-live-desktop/tests/specs/families/polkadot.spec.ts-snapshots/nominate-modal-dot-nominator-row-darwin.png
  apps/ledger-live-desktop/tests/specs/families/polkadot.spec.ts-snapshots/nominate-modal-dot-nominator-row-linux.png
  apps/ledger-live-desktop/tests/specs/families/polkadot.spec.ts-snapshots/nominate-modal-dot-nominator-row-win32.png
  apps/ledger-live-desktop/tests/userdata/1AccountDOT.json
  apps/ledger-live-mobile/src/families/polkadot/NominateFlow/01-Validators.tsx
  apps/ledger-live-mobile/src/families/polkadot/NominateFlow/ValidatorItem.tsx
  apps/ledger-live-mobile/src/families/polkadot/Nominations/NominationRow.tsx
  apps/ledger-live-mobile/src/families/polkadot/Nominations/index.tsx
  libs/ledger-live-common/src/families/polkadot/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/polkadot/bridge/mock.ts
  libs/ledger-live-common/src/generated/bridge/mock.ts
Labels: desktop, mobile, common, screenshots

#3813 support: Adjust recover quiz wording
  .changeset/olive-trainers-explain.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-quiz/answer-2-darwin.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-quiz/answer-2-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-quiz/answer-2-win32.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-quiz/question-2-darwin.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-quiz/question-2-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-quiz/question-2-win32.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/recovery-phrase-1-darwin.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/recovery-phrase-1-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/recovery-phrase-1-win32.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/recovery-phrase-2-darwin.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/recovery-phrase-2-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/recovery-phrase-2-win32.png
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations, screenshots

#3709 feat(Firmware Update LLM): add possibility to retry firmware update when an error happens
  .changeset/eleven-kids-dance.md
  .changeset/three-coats-teach.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/useUpdateFirmwareAndRestoreSettings.ts
  libs/ledger-live-common/src/deviceSDK/actions/updateFirmware.ts
  libs/ledger-live-common/src/deviceSDK/hooks/useUpdateFirmware.ts
Labels: mobile, common, translations

#3668 Feat/LIVE-7502 - LLD implement auto update in the background
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/main/updater/createElectronAppUpdater.ts
  apps/ledger-live-desktop/src/main/updater/init.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-check-success-darwin.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-check-success-linux.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-check-success-win32.png
  pnpm-lock.yaml
Labels: desktop, translations, screenshots

#3886 test: add llm unit tests to CI
  .github/workflows/test-mobile.yml
  apps/ledger-live-mobile/jest.config.js
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/scripts/sync-families-dispatch.mjs
  apps/ledger-live-mobile/src/StyleProvider.tsx
  pnpm-lock.yaml
Labels: mobile, automation

#3812 feat: add scroll to top button to nft gallery
  .changeset/flat-squids-warn.md
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftList.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/ScrollToTopButton.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#3901 Bugfix/ci healthchecks
  .github/workflows/healthchecks-runners.yaml
Labels: automation

#3859 Fix: LIVE-7419 OpReturn fix + bitcoin bot fix
  .changeset/empty-goats-laugh.md
  libs/ledger-live-common/src/families/bitcoin/logic.ts
  libs/ledger-live-common/src/families/bitcoin/logic.unit.test.ts
  libs/ledger-live-common/src/families/bitcoin/specs.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/doge.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/qtum.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/via.ts
Labels: common

#3900 Chore: smartling translations 20230704125053021
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#3892 fix: LIVE-8236 Missing pending transaction
  .changeset/violet-kids-arrive.md
  libs/ledger-live-common/src/families/ethereum/postSyncPatch.ts
Labels: common

#3804 Fix: LIVE-7873 Fix Eth tx order in the account page
  libs/coin-framework/src/account/groupOperations.ts
  libs/ledger-live-common/src/families/ethereum/signOperation.ts
  libs/ledger-live-common/src/families/ethereum/synchronisation.test.ts
  libs/ledger-live-common/src/families/ethereum/synchronisation.ts
  libs/ledger-live-common/src/families/ethereum/synchronisation.unit.test.ts
Labels: common

#3905 style(LLM/Device Actions): Style modifications for device actions lotties
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
Labels: mobile

#3908 chore: only display error in turbo output
  .github/workflows/build-desktop-external.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile-external.yml
  .github/workflows/build-mobile.yml
  .github/workflows/test-mobile.yml
  .github/workflows/test.yml
  tools/actions/composites/setup-test-desktop/action.yml
  tools/github-bot/src/features/lintCommits/index.ts
  tools/github-bot/src/tools/monitorWorkflow.ts
Labels: tools, automation

#3883 fix(DeviceActionImplementations): fix flickering on device actions
  .changeset/hip-socks-refuse.md
  libs/ledger-live-common/src/hw/actions/implementations.ts
  libs/ledger-live-common/src/hw/actions/manager.ts
Labels: common

#3877 Feat/feature flag tracking
  .changeset/beige-baboons-juggle.md
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/FirebaseFeatureFlags.tsx
Labels: enhancement, desktop, mobile

#3915 fix(LLM/Swap): Confirm swap step (step 2) animation fixed as done with other device actions
  apps/ledger-live-mobile/src/components/ValidateOnDevice.tsx
Labels: mobile

#3918 Feat/LIVE-8302: return device info from hook to get latest available firmware update
  .changeset/angry-nails-camp.md
  libs/ledger-live-common/src/hw/getLatestAvailableFirmwareFromDeviceId.test.ts
  libs/ledger-live-common/src/hw/getLatestAvailableFirmwareFromDeviceId.ts
  libs/ledger-live-common/src/hw/hooks/useGetLatestAvailableFirmware.test.ts
  libs/ledger-live-common/src/hw/hooks/useGetLatestAvailableFirmware.ts
Labels: common

#3920 New Select Account UI
  apps/ledger-live-mobile/src/components/AccountCard.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectAccount.tsx
Labels: mobile, translations

#3917 [Fix/LIVE-8315]: move debounce logic on swap to LLC
  .changeset/wise-spies-share.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/tests/models/SwapPage.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useFromState.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useFromState.ts
  libs/ledger-live-common/src/exchange/swap/utils/debounce.ts
Labels: desktop, common

#3949 [Bugfix/LIVE-8380] add 10s timeout to swap quotes on LLD & LLM
  .changeset/tall-dots-rule.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/config.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useProviderRates.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
Labels: desktop, mobile, common, translations

#3783 feat: extend expiration time of tron transaction
  .pnpmfile.cjs
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/tron/api/index.ts
  pnpm-lock.yaml
Labels: common

#3966 fix delegate screen title
  libs/ledger-live-common/src/families/cardano/speculos-deviceActions.ts
Labels: common, fork

#3825 Feat/cosmos batch 1.5
  .changeset/tidy-cars-provide.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/config/defaultConfig.ts
  libs/ledger-live-common/src/data/icons/svg/DSM.svg
  libs/ledger-live-common/src/data/icons/svg/SCRT.svg
  libs/ledger-live-common/src/families/cosmos/bridge.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/bridge/js.test.ts
  libs/ledger-live-common/src/families/cosmos/bridge/js.ts
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/axelar.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/cosmos.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/desmos.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/onomy.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/osmosis.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/persistence.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/quicksilver.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/secretNetwork.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/stargaze.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/umee.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/axelar.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/axelar.ts
  libs/ledger-live-common/src/families/cosmos/datasets/cosmos.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/cosmos.ts
  libs/ledger-live-common/src/families/cosmos/datasets/desmos.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/desmos.ts
  libs/ledger-live-common/src/families/cosmos/datasets/onomy.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/onomy.ts
  libs/ledger-live-common/src/families/cosmos/datasets/osmosis.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/osmosis.ts
  libs/ledger-live-common/src/families/cosmos/datasets/persistence.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/persistence.ts
  libs/ledger-live-common/src/families/cosmos/datasets/quicksilver.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/quicksilver.ts
  libs/ledger-live-common/src/families/cosmos/datasets/secretNetwork.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/secretNetwork.ts
  libs/ledger-live-common/src/families/cosmos/datasets/stargaze.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/stargaze.ts
  libs/ledger-live-common/src/families/cosmos/datasets/umee.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/umee.ts
  libs/ledger-live-common/src/families/cosmos/specs.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/crypto-icons/src/svg/DSM.svg
  libs/ui/packages/crypto-icons/src/svg/SCRT.svg
  tools/common-tools/src/demos/sync/live-common-setup.js
Labels: desktop, mobile, common, ui, ledgerjs, tools, cli

#3972 add speculos action steps
  libs/ledger-live-common/src/families/cardano/speculos-deviceActions.ts
Labels: common, fork

#3706 feat: nft image viewer pan and zoom
  .changeset/blue-rules-invent.md
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/Nft/NftImageViewer.tsx
  apps/ledger-live-mobile/src/components/Nft/NftVideo.tsx
  pnpm-lock.yaml
Labels: mobile

#3979 LLM - [LIVE-8155] - Fix partial LTR <-> RTL language change on onboarding screen
  apps/ledger-live-mobile/src/screens/SyncOnboarding/LanguageSelect.tsx
Labels: mobile

#3944 LLM - [LIVE-8314] : Fix stuck in pairing device screen
  apps/ledger-live-mobile/src/components/RootNavigator/BaseOnboardingNavigator.tsx
Labels: mobile

#3984 feat(ledgerjs-cal): update CAL
  .changeset/early-mice-brush.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/coins.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/polygon-erc20.ts
Labels: desktop, common, ledgerjs

#3955 LIVE-7522 - New deposit - Rework deposit qr code screen
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/CopyLink.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ReceiveFundsNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/ConfirmationHeaderTitle.tsx
  pnpm-lock.yaml
Labels: mobile, translations

#3704 [FEAT][LIVE-7406] create evm send flow (LLD)
  .changeset/shiny-eggs-applaud.md
  .changeset/short-hounds-act.md
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/GasLimitField.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/GasPriceField.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/MaxFeeField.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/PriorityFeeField.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/SelectFeeStrategy.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/index.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/index.ts
  apps/ledger-live-desktop/src/renderer/families/evm/types.ts
  libs/coin-evm/src/__tests__/unit/api/gasTracker/ledger.unit.test.ts
  libs/coin-evm/src/__tests__/unit/api/rpc/rpc.unit.test.ts
  libs/coin-evm/src/__tests__/unit/estimateMaxSpendable.unit.test.ts
  libs/coin-evm/src/__tests__/unit/getTransactionStatus.unit.test.ts
  libs/coin-evm/src/__tests__/unit/logic.unit.test.ts
  libs/coin-evm/src/__tests__/unit/prepareTransaction.unit.test.ts
  libs/coin-evm/src/__tests__/unit/transaction.unit.test.ts
  libs/coin-evm/src/adapters.ts
  libs/coin-evm/src/api/gasTracker/index.ts
  libs/coin-evm/src/api/gasTracker/ledger.ts
  libs/coin-evm/src/api/rpc/rpc.common.ts
  libs/coin-evm/src/bridge/js.ts
  libs/coin-evm/src/getTransactionStatus.ts
  libs/coin-evm/src/logic.ts
  libs/coin-evm/src/prepareTransaction.ts
  libs/coin-evm/src/transaction.ts
  libs/coin-evm/src/types.ts
  libs/coin-framework/src/bridge/jsHelpers.test.ts
  libs/ledger-live-common/src/bridge/useBridgeTransaction.ts
  libs/ledger-live-common/src/families/evm/react.react.test.ts
  libs/ledger-live-common/src/families/evm/react.ts
  libs/ledger-live-common/src/range.ts
  libs/ledgerjs/packages/cryptoassets/README.md
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
Labels: desktop, common, ledgerjs

#3975 Account deletion tests
  apps/ledger-live-desktop/src/renderer/components/ContextMenu/ContextMenuWrapper.tsx
  apps/ledger-live-desktop/src/renderer/modals/SettingsAccount/AccountSettingRenderBody.tsx
  apps/ledger-live-desktop/tests/models/AccountPage.ts
  apps/ledger-live-desktop/tests/models/AccountsPage.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-deleteAccount-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-deleteAccount-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-deleteAccountFromAccountsList-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-deleteAccountFromAccountsList-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-deleteAccountFromAccountsList-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-deleteAccount-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-deleteAccount-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-deleteAccountFromAccountsList-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-deleteAccountFromAccountsList-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-deleteAccountFromAccountsList-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-deleteAccount-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-deleteAccount-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-deleteAccountFromAccountsList-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-deleteAccountFromAccountsList-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-deleteAccountFromAccountsList-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-deleteAccount-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-deleteAccount-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-deleteAccountFromAccountsList-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-deleteAccountFromAccountsList-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-deleteAccountFromAccountsList-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-deleteAccount-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-deleteAccount-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-deleteAccountFromAccountsList-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-deleteAccountFromAccountsList-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-deleteAccountFromAccountsList-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-deleteAccount-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-deleteAccount-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-deleteAccountFromAccountsList-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-deleteAccountFromAccountsList-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-deleteAccountFromAccountsList-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-deleteAccount-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-deleteAccount-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-deleteAccountFromAccountsList-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-deleteAccountFromAccountsList-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-deleteAccountFromAccountsList-win32.png
Labels: desktop, screenshots

#4003 Feat/llm/remove swap refresh rates
  .changeset/orange-deers-guess.md
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectFees.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectProvider.tsx
  libs/ledger-live-common/src/exchange/swap/hooks/useProviderRates.ts
Labels: mobile, common

#4002 Fix translation keys issue in LLM in the Quick Actions section
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
Labels: mobile

#3964 Support LIVE-8118 rename optimism
  .changeset/itchy-squids-sniff.md
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/renderer/components/SelectCurrency.tsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/SelectAccountAndCurrencyDrawer.tsx
  apps/ledger-live-mobile/src/families/algorand/OptInFlow/01-SelectToken.tsx
  apps/ledger-live-mobile/src/families/stellar/AddAssetFlow/01-SelectAsset.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/Exchange/SelectCurrency.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/RequestAccount/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectCurrency.tsx
  libs/env/src/env.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: desktop, mobile, ledgerjs

#3922 feat: add discreet mode param to earn dashboard
  apps/ledger-live-desktop/src/renderer/screens/earn/index.tsx
Labels: desktop

#3845 feat(PROTECT-1782): Change the wording around login to recover app
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#4012 chore: upgrade babel/core to latest
  apps/ledger-live-desktop/package.json
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  libs/ui/packages/native/package.json
  libs/ui/packages/react/package.json
  pnpm-lock.yaml
Labels: desktop, mobile, ui

#3994 Starts screen connection + Edit Analytics + Update UI on Banner
  apps/ledger-live-mobile/src/components/RootNavigator/ReceiveFundsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/ReceiveFundsNavigator.ts
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectNetwork.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/HelpButton.tsx
  libs/ledger-live-common/src/deposit/helper.ts
  libs/ledger-live-common/src/deposit/type.ts
  libs/ui/packages/native/src/components/Cards/BannerCard/index.tsx
Labels: mobile, common, ui

#4011 [bugfix] Disable default derivation scheme for ICP, only use custom one
  .changeset/smart-eggs-allow.md
  libs/coin-framework/src/derivation.ts
  libs/ledger-live-common/src/families/internet_computer/bridge.integration.test.ts
Labels: common

#4024 [LIVE-8490] Bugfix - Fix wrong `shouldSkipAmount` in LLM send flow
  .changeset/calm-nails-report.md
  apps/ledger-live-mobile/src/screens/SendFunds/02-SelectRecipient.tsx
Labels: mobile

#4005 LLM Deposit Flow - animation on accounts synchronisation screen
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/src/components/GradientContainer.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccount.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/assets/lottie.json
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  libs/ui/packages/native/src/components/Cards/BannerCard/index.tsx
  pnpm-lock.yaml
Labels: mobile, ui, translations

#4026 [LIVE-8490] Bugfix - Fix wrong `shouldSkipAmount` in LLM send flow
  .changeset/calm-nails-report.md
  apps/ledger-live-mobile/src/screens/SendFunds/02-SelectRecipient.tsx
Labels: mobile

#4025 [B2CQA-1883] Update detox and fix issues
  apps/ledger-live-mobile/e2e/models/manager/managerPage.ts
  apps/ledger-live-mobile/e2e/models/onboarding/onboardingSteps.ts
  apps/ledger-live-mobile/e2e/specs/onboarding.spec.ts
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Labels: mobile

#4030 fix(LIVE-8530): quotes are not readable in light mode
  .changeset/new-planets-raise.md
  apps/ledger-live-desktop/src/renderer/components/Price.tsx
Labels: desktop

#4033 chore: add test full suite command to github bot
  .github/workflows/test-desktop.yml
  tools/github-bot/src/commands/full-suite.ts
Labels: tools, automation

#4027 Update flow entry
  apps/ledger-live-mobile/src/components/BigCurrencyRow.tsx
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
Labels: mobile

#4021 [LIVE-7547] Feature - Add telos evm to currencies
  .changeset/pretty-mugs-refuse.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/coin-evm/src/__tests__/unit/prepareTransaction.unit.test.ts
  libs/coin-evm/src/adapters.ts
  libs/coin-evm/src/api/explorer/index.ts
  libs/coin-evm/src/prepareTransaction.ts
  libs/coin-evm/src/specs.ts
  libs/coin-evm/src/types.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/data/icons/svg/TLOS.svg
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/crypto-icons/src/svg/TLOS.svg
Labels: desktop, mobile, common, ui, ledgerjs, cli

#4036 chore: add command to bot
  tools/github-bot/src/index.ts
Labels: tools

#4020 [SUPPORT] remove unnecessary check on tx networkInfo
  .changeset/thirty-pumas-sleep.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawer/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionFees.tsx
  apps/ledger-live-mobile/src/components/SendRowsFee.tsx
  libs/ledger-live-common/src/families/solana/js-prepareTransaction.ts
Labels: desktop, mobile, common

#4043 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#4041 Add S3 caching to turbo in CI
  .github/workflows/build-desktop-external.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile-external.yml
  .github/workflows/build-mobile.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile.yml
  .github/workflows/test.yml
  pnpm-lock.yaml
  tools/actions/composites/setup-build-desktop/action.yml
  tools/actions/composites/setup-test-desktop/action.yml
  tools/actions/generate-bot-super-report/build/main.js
  tools/actions/turborepo-gh-cache/build/server.js
  tools/actions/turborepo-s3-cache/.eslintignore
  tools/actions/turborepo-s3-cache/action.yml
  tools/actions/turborepo-s3-cache/build/cleanup.js
  tools/actions/turborepo-s3-cache/build/main.js
  tools/actions/turborepo-s3-cache/build/server.js
  tools/actions/turborepo-s3-cache/package.json
  tools/actions/turborepo-s3-cache/src/cleanup.ts
  tools/actions/turborepo-s3-cache/src/main.ts
  tools/actions/turborepo-s3-cache/src/server.ts
  tools/actions/turborepo-s3-cache/src/utils/asyncHandler.ts
  tools/actions/turborepo-s3-cache/src/utils/constants.ts
  tools/actions/turborepo-s3-cache/tsconfig.json
Labels: tools, automation

#3792 [LIVE-7949] Design polishes for the new firmware update UX
  .changeset/angry-apricots-tell.md
  .changeset/wet-houses-study.md
  apps/ledger-live-mobile/src/components/DeviceAction/common.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/index.tsx
  libs/ui/packages/native/src/components/Icon/IconBadge.tsx
Labels: mobile, ui, translations

#4048 Fix USDC Market Price Component Data
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AssetMarketSection.tsx
Labels: mobile

#4040 [feat/LIVE-8550]: add feature flag to disable or enable ptx services in LLM
  .changeset/tasty-drinks-hide.md
  apps/ledger-live-mobile/e2e/setups/1AccountBTC1AccountETHReadOnlyFalse.json
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/screens/Account/hooks/useAccountActions.tsx
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  pnpm-lock.yaml
Labels: mobile, ledgerjs

#3919 [support] Minor code improvements on the Celo integration
  apps/ledger-live-desktop/src/renderer/families/celo/AccountBodyHeader/AccountBodyHeader.tsx
  apps/ledger-live-desktop/src/renderer/families/celo/AccountBodyHeader/Row.tsx
  apps/ledger-live-desktop/src/renderer/families/celo/AccountHeaderManageActions/AccountHeaderManageActions.tsx
  apps/ledger-live-desktop/src/renderer/families/celo/operationDetails.tsx
  libs/ledger-live-common/src/families/celo/account.ts
  libs/ledger-live-common/src/families/celo/logic.ts
  libs/ledger-live-common/src/generated/account.ts
Labels: desktop, common

#3992 test: added test and elements for market
  apps/ledger-live-mobile/e2e/models/market/marketPage.ts
  apps/ledger-live-mobile/e2e/models/wallet/portfolioPage.ts
  apps/ledger-live-mobile/e2e/setups/1accountEth.json
  apps/ledger-live-mobile/e2e/specs/market.spec.ts
  apps/ledger-live-mobile/src/components/FabActions/FabButtonBar.tsx
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/MainNavigator.tsx
  apps/ledger-live-mobile/src/components/TabIcon.tsx
  apps/ledger-live-mobile/src/components/wrappedUi/Button.tsx
  apps/ledger-live-mobile/src/screens/GetDeviceScreen.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/index.tsx
  apps/ledger-live-mobile/src/screens/Market/SearchHeader.tsx
  apps/ledger-live-mobile/src/screens/Market/index.tsx
  libs/ui/packages/native/src/components/cta/Button/index.tsx
Labels: mobile, ui

#3999 [LIVE-7445] Filter device selection to only stax when using NFT as CLS
  .changeset/angry-poets-end.md
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step3Transfer.tsx
Labels: mobile

#4039 B2CQA 613 - Added Playwright tests for when swap providers aren't available
  apps/ledger-live-desktop/tests/models/SwapPage.ts
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.smoke.spec.ts
  apps/ledger-live-desktop/tests/specs/services/swap.smoke.spec.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
Labels: desktop

#4066 Feat: logging playwright test video name in test
  apps/ledger-live-desktop/tests/fixtures/common.ts
Labels: desktop

#4073 Bugfix/lld/fix eth stake track
  .changeset/five-pots-learn.md
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/utils/getTrackProperties.ts
Labels: desktop

#3983 feat(LIVE-6958): replace ProviderIcons with svg hosted from CDN
  .changeset/orange-eye-rush.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/ProviderIcon/index.tsx
  apps/ledger-live-desktop/src/renderer/components/ProviderIcon/styles.ts
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeFlowModal/StakingIcon.tsx
  apps/ledger-live-desktop/src/renderer/icons/providers/Changelly.tsx
  apps/ledger-live-desktop/src/renderer/icons/providers/Cic.tsx
  apps/ledger-live-desktop/src/renderer/icons/providers/Coinify.tsx
  apps/ledger-live-desktop/src/renderer/icons/providers/CoinifySquare.tsx
  apps/ledger-live-desktop/src/renderer/icons/providers/FTX.tsx
  apps/ledger-live-desktop/src/renderer/icons/providers/MoonPay.tsx
  apps/ledger-live-desktop/src/renderer/icons/providers/Oneinch.tsx
  apps/ledger-live-desktop/src/renderer/icons/providers/Paraswap.tsx
  apps/ledger-live-desktop/src/renderer/icons/providers/index.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Rate.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/SwapConnectWidget/TopBar.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/utils/index.ts
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/ProviderIcon/index.tsx
  apps/ledger-live-mobile/src/components/ProviderIcon/styles.ts
  apps/ledger-live-mobile/src/icons/swap/Changelly.tsx
  apps/ledger-live-mobile/src/icons/swap/Cic.tsx
  apps/ledger-live-mobile/src/icons/swap/FTX.tsx
  apps/ledger-live-mobile/src/icons/swap/Oneinch.tsx
  apps/ledger-live-mobile/src/icons/swap/Paraswap.tsx
  apps/ledger-live-mobile/src/icons/swap/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Summary/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectProvider.tsx
  libs/ledger-live-common/src/icons/consts/urls.ts
  libs/ledger-live-common/src/icons/providers/providers.ts
  libs/ledger-live-common/src/icons/providers/sizes.ts
  package.json
Labels: desktop, mobile, common

#4076 Bugfix/fix eth test
  .changeset/tasty-timers-divide.md
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts
Labels: desktop

#4080 feat(PROTECT-2239): rename recover cta
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#3926 feat(recover): restore check seeded [PROTECT-1711]
  .changeset/poor-oranges-sin.md
  apps/ledger-live-desktop/src/renderer/components/RecoverRestore/index.tsx
  apps/ledger-live-desktop/src/renderer/reducers/devices.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#4054 feat: apply discreet mode to nft gallery
  .changeset/flat-cooks-sin.md
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftList.tsx
  apps/ledger-live-mobile/src/components/Nft/NftViewer.tsx
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
Labels: mobile

#4042 Feat/LIVE-8535: new get-latest-available-firmware action
  .changeset/four-spoons-explode.md
  .changeset/tidy-masks-double.md
  .changeset/witty-pillows-roll.md
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/FirmwareUpdate.tsx
  libs/ledger-live-common/src/deviceSDK/actions/core.ts
  libs/ledger-live-common/src/deviceSDK/actions/getLatestAvailableFirmware.test.ts
  libs/ledger-live-common/src/deviceSDK/actions/getLatestAvailableFirmware.ts
  libs/ledger-live-common/src/deviceSDK/actions/toggleOnboardingEarlyCheck.ts
  libs/ledger-live-common/src/deviceSDK/hooks/useGetDeviceInfo.ts
  libs/ledger-live-common/src/deviceSDK/hooks/useGetLatestAvailableFirmware.ts
  libs/ledger-live-common/src/deviceSDK/tasks/core.test.ts
  libs/ledger-live-common/src/deviceSDK/tasks/core.ts
  libs/ledger-live-common/src/deviceSDK/tasks/getDeviceInfo.ts
  libs/ledger-live-common/src/deviceSDK/tasks/toggleOnboardingEarlyCheck.test.ts
  libs/ledger-live-common/src/deviceSDK/tasks/toggleOnboardingEarlyCheck.ts
  libs/ledger-live-common/src/deviceSDK/tasks/updateFirmware.ts
  libs/ledger-live-common/src/hw/getLatestAvailableFirmwareFromDeviceId.ts
  libs/ledger-live-common/src/hw/hooks/useGetLatestAvailableFirmware.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: mobile, common, ledgerjs

#4013 feat: add earn screen. add earn deeplinks
  .changeset/great-nails-dream.md
  apps/ledger-live-mobile/docs/linking.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/EarnLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/EarnLiveAppNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/StakeNavigator.ts
  apps/ledger-live-mobile/src/components/Stake/index.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/PTX/Earn/index.tsx
Labels: enhancement, mobile

#4086 LIVE-8561 feat(common/defaultFeatures): remove Polygon from deviceInitialApps
  .changeset/light-carrots-fix.md
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
Labels: common

#4084 [Feat/LIVE-8554]: add toasts and drawers for ptx service disabling in iOS
  .changeset/dirty-jobs-marry.md
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/components/RootDrawer.tsx
  apps/ledger-live-mobile/src/components/RootDrawer/InitialDrawers/PTXServicesAppleWarning.tsx
  apps/ledger-live-mobile/src/components/RootDrawer/RootDrawer.tsx
  apps/ledger-live-mobile/src/components/RootDrawer/types.ts
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/components/Toast/Toast.tsx
  apps/ledger-live-mobile/src/components/TransferButton.tsx
  apps/ledger-live-mobile/src/constants.ts
  apps/ledger-live-mobile/src/context/RootDrawerContext.tsx
  apps/ledger-live-mobile/src/families/ethereum/EthereumStakingDrawer/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Account/hooks/useAccountActions.tsx
Labels: mobile, translations

#4065 bugfix: LIVE-8299 osmo naming error
  .changeset/blue-birds-cross.md
  libs/ledger-live-common/src/families/cosmos/chain/chain.ts
  libs/ledger-live-common/src/families/cosmos/chain/chain.unit.test.ts
Labels: common

#4070 feat: use transparent background on nft viewer screen
  .changeset/modern-pandas-run.md
  apps/ledger-live-mobile/src/components/Nft/NftVideo.tsx
  apps/ledger-live-mobile/src/components/Nft/NftViewer.tsx
Labels: mobile

#4085 fix: removed screenshot swap checks in favour of text check and tidied up services page objects and tests
  apps/ledger-live-desktop/src/renderer/drawers/SwapOperationDetails/index.tsx
  apps/ledger-live-desktop/tests/models/DiscoverPage.ts
  apps/ledger-live-desktop/tests/models/Drawer.ts
  apps/ledger-live-desktop/tests/models/LiveAppWebview.ts
  apps/ledger-live-desktop/tests/models/Modal.ts
  apps/ledger-live-desktop/tests/models/SwapPage.ts
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
Labels: desktop

#4112 Remove Emojis from PTX Dummy app
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts-snapshots/buy-app-opened-darwin.png
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts-snapshots/buy-app-opened-linux.png
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts-snapshots/buy-app-opened-win32.png
  apps/ledger-live-desktop/tests/specs/services/earn.spec.ts-snapshots/earn-app-opened-darwin.png
  apps/ledger-live-desktop/tests/specs/services/earn.spec.ts-snapshots/earn-app-opened-linux.png
  apps/ledger-live-desktop/tests/specs/services/earn.spec.ts-snapshots/earn-app-opened-win32.png
  libs/test-utils/dummy-ptx-app/public/index.html
Labels: desktop, screenshots

#4115 fix(discover): filtering on LLD [LIVE-8639]
  .changeset/friendly-panthers-build.md
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Browse/Result/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Browse/index.tsx
Labels: desktop

#4109 Feat/live 8422
  apps/ledger-live-mobile/assets/images/devices/NanoS.png
  apps/ledger-live-mobile/assets/images/devices/NanoSCropped.png
  apps/ledger-live-mobile/assets/images/devices/NanoSP.png
  apps/ledger-live-mobile/assets/images/devices/NanoSPCropped.png
  apps/ledger-live-mobile/assets/images/devices/NanoX.png
  apps/ledger-live-mobile/assets/images/devices/NanoXCropped.png
  apps/ledger-live-mobile/assets/images/devices/Stax.png
  apps/ledger-live-mobile/assets/images/devices/StaxCropped.png
  apps/ledger-live-mobile/src/components/RootNavigator/OnboardingNavigator.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/Cards/DeviceCard.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/Cards/SelectionCard.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/ChoiceCard.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/NoLedgerYetModal.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/OnboardingView.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/SelectionCard.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/accessExistingWallet.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/deviceSelection.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/useCaseSelection.tsx
  libs/ui/packages/native/src/components/Layout/Modals/BaseModal/index.tsx
Labels: mobile, ui

#3957 feat: nft gallery blockchain filters
  .changeset/wise-needles-serve.md
  apps/ledger-live-mobile/e2e/models/wallet/nftGalleryPage.ts
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/src/actions/nft.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/Nft/NftGallery/EmptyState.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftFilterChip.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftFilterDrawer/NftFilterItem.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftFilterDrawer/NftFilterSection.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftFilterDrawer/index.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftList.hook.ts
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftList.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/NftNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/NftNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/icons/Filters.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/reducers/accounts.ts
  apps/ledger-live-mobile/src/reducers/index.ts
  apps/ledger-live-mobile/src/reducers/nft.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/NftGalleryEmptyState.tsx
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Accounts/index.tsx
Labels: mobile, translations

#4117 Removed Onramp environment Developer tool and translations
  .changeset/stale-pans-run.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/CatalogRampProviderSelect.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#4061 feat(LIVE-7243): add tron exchange to ledger live common
  .changeset/clean-kiwis-protect.md
  libs/ledger-live-common/src/exchange/index.ts
  libs/ledger-live-common/src/families/tron/exchange.ts
  libs/ledger-live-common/src/generated/exchange.ts
Labels: common

#4129 chore: Regenerate Debug test screenshots
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-completed-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-completed-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-completed-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-drawer-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-drawer-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-drawer-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-queue-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-queue-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-queue-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-reseted-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-reseted-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-reseted-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-1-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-1-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-1-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-2-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-2-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-2-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-3-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-3-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-3-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-completed-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-completed-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-completed-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-drawer-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-drawer-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-drawer-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-queue-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-queue-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-queue-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-1-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-1-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-1-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-2-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-2-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-2-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-step-set-of-apps-completed-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-step-set-of-apps-completed-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-step-set-of-apps-completed-win32.png
Labels: desktop, screenshots

#4000 Bugfix/LIVE-7413-7415-7416 Cosmos tx2op multiple event fix
  .changeset/large-phones-yawn.md
  libs/ledger-live-common/src/families/cosmos/js-synchronisation.ts
  libs/ledger-live-common/src/families/cosmos/js-synchronisation.unit.test.ts
Labels: common

#3581 feat(Firmware Update LLM): make stax battery warning unskippable
  .changeset/tidy-crabs-relax.md
  apps/cli/src/commands-index.ts
  apps/cli/src/commands/deviceSDKGetBatteryStatuses.ts
  apps/ledger-live-mobile/src/components/FirmwareUpdateBanner.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/deviceSDK/actions/getBatteryStatuses.ts
  libs/ledger-live-common/src/deviceSDK/commands/getBatteryStatus.test.ts
  libs/ledger-live-common/src/deviceSDK/commands/getBatteryStatus.ts
  libs/ledger-live-common/src/deviceSDK/hooks/useBatteryStatuses.ts
  libs/ledger-live-common/src/deviceSDK/tasks/getBatteryStatuses.ts
  libs/ledger-live-common/src/hw/getBatteryStatus.ts
Labels: mobile, common, translations, Stale, cli

#4113 [LIVE-8528] Add retry mechanism for app restoration errors during FW update
  .changeset/chatty-horses-compare.md
  .changeset/shiny-days-worry.md
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/useUpdateFirmwareAndRestoreSettings.ts
  libs/ledger-live-common/src/hw/installApp.ts
Labels: mobile, common

#4114 Feat/earn entrypoint
  .changeset/flat-donkeys-battle.md
  apps/ledger-live-mobile/e2e/setups/1accountEth.json
  apps/ledger-live-mobile/src/components/RootNavigator/MainNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/MainNavigator.ts
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: enhancement, mobile, translations

#4133 Support/gg fixes to android tests
  apps/ledger-live-mobile/e2e/models/discover/discoverPage.ts
  apps/ledger-live-mobile/e2e/models/manager/managerPage.ts
  apps/ledger-live-mobile/e2e/models/onboarding/onboardingSteps.ts
  apps/ledger-live-mobile/e2e/specs/deeplinks.spec.ts
  apps/ledger-live-mobile/e2e/specs/languageChange.spec.ts
  apps/ledger-live-mobile/e2e/specs/market.spec.ts
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/e2e/specs/swap.spec.ts
  apps/ledger-live-mobile/e2e/specs/wallet-api.spec.ts
Labels: mobile

#4125 Masking Buy/Earn webview for Screenshot tests
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts-snapshots/buy-app-opened-darwin.png
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts-snapshots/buy-app-opened-linux.png
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts-snapshots/buy-app-opened-win32.png
  apps/ledger-live-desktop/tests/specs/services/earn.spec.ts
  apps/ledger-live-desktop/tests/specs/services/earn.spec.ts-snapshots/earn-app-opened-darwin.png
  apps/ledger-live-desktop/tests/specs/services/earn.spec.ts-snapshots/earn-app-opened-linux.png
  apps/ledger-live-desktop/tests/specs/services/earn.spec.ts-snapshots/earn-app-opened-win32.png
Labels: desktop, screenshots

#4018 Support/LIVE-7574 polkadot tranfer api migration
  .changeset/little-lions-impress.md
  libs/coin-polkadot/src/api/common.ts
  libs/coin-polkadot/src/api/subscan.ts
  libs/coin-polkadot/src/js-buildTransaction.ts
  libs/coin-polkadot/src/js-signOperation.ts
  libs/ledger-live-common/src/apps/support.ts
Labels: common, HODL

#4138 Cardano Staking - Feedback updates for LLD and LLM
  apps/ledger-live-desktop/src/renderer/families/cardano/Delegation/ContextMenu.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/index.ts
  apps/ledger-live-mobile/src/families/cardano/Delegations/Row.tsx
  apps/ledger-live-mobile/src/families/cardano/Delegations/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations, fork

#4108 Bugfix Live-8247 Cosmos undelegate/redelegate LLM error when available balance is not enough
  .changeset/eleven-singers-tease.md
  apps/ledger-live-mobile/src/families/cosmos/shared/02-SelectAmount.tsx
Labels: mobile

#4074 BACK-5411: disable dynamic CAL pipelines
  .changeset/young-pumas-train.md
  .github/workflows/cal-importer-stg.yml
  .github/workflows/cal-importer.yml
Labels: automation

#4096 Regen scan accounts for icp bridge integration tests
  .changeset/rich-pears-unite.md
  libs/ledger-live-common/src/families/internet_computer/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/internet_computer/bridge.integration.test.ts
Labels: common, fork

#4137 Feat/earn header removal
  .changeset/silent-bulldogs-tell.md
  apps/ledger-live-mobile/src/components/RootNavigator/EarnLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/components/WebPTXPlayer/index.tsx
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/PTX/Earn/index.tsx
Labels: enhancement, mobile

#4142 chore: make sure to generate new profiles on refresh
  apps/ledger-live-mobile/fastlane/Fastfile
Labels: mobile

#4153 fix: cosmos operation detail fields names destination_validator, source_validator
  .changeset/unlucky-cameras-try.md
  libs/ledger-live-common/src/families/cosmos/js-synchronisation.ts
  libs/ledger-live-common/src/families/cosmos/js-synchronisation.unit.test.ts
Labels: common

#4140 [support] Fix merge issue on README.md of types-live
  libs/ledgerjs/packages/types-live/README.md
Labels: ledgerjs

#4136 Support/LIVE-7426 - Remove now useless date polyfills
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/polyfill.ts
  pnpm-lock.yaml
Labels: mobile

#4139 bugfix(protect-2273): recover wording error device seeded
  .changeset/healthy-suns-refuse.md
  .changeset/metal-brooms-deny.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/RecoverRestore/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Protect/RedirectToOnboardingRecoverFlow.tsx
  libs/ledger-live-common/src/errors.ts
Labels: desktop, mobile, common, translations

#4151 Feat/market earn entrypoint
  .changeset/weak-pianos-sing.md
  apps/ledger-live-mobile/src/components/RootNavigator/MarketNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/WalletTabNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/WalletTabNavigator.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/Market/index.tsx
Labels: enhancement, mobile, translations

#4130 Feat/LIVE-8683 Coreum integration
  .changeset/rude-grapes-count.md
  apps/cli/src/commands/staxRemoveImage.ts
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/families/cosmos/StakeBanner.tsx
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/account/helpers.ts
  libs/ledger-live-common/src/config/defaultConfig.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/data/icons/svg/CORE.svg
  libs/ledger-live-common/src/families/cosmos/chain/Coreum.ts
  libs/ledger-live-common/src/families/cosmos/chain/chain.ts
  libs/ledger-live-common/src/families/cosmos/chain/chain.unit.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/coreum.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/coreum.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/coreum.ts
  libs/ledger-live-common/src/families/cosmos/specs.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/crypto-icons/src/svg/CORE.svg
  tools/common-tools/src/demos/sync/live-common-setup.js
Labels: desktop, mobile, common, ui, ledgerjs, tools, cli
