Repository LedgerHQ/ledger-live, pull requests merged in 2023-09, with the labels that each got.

#4562 feat(LLD/Stax): Final pixel polishes (Connect device + post onboarding)
  .changeset/shaggy-spies-remain.md
  apps/ledger-live-desktop/src/renderer/animations/stax/USBConnectionAndPin.json
  apps/ledger-live-desktop/src/renderer/animations/stax/USBConnectionSuccess.json
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/animations.ts
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingActionRow.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingScreen/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/DeviceConnection/Searching.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/DeviceConnection/Success.tsx
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-000-postonboarding-screen-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-000-postonboarding-screen-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-000-postonboarding-screen-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-001-postonboarding-action-claim-mocked-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-001-postonboarding-action-claim-mocked-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-001-postonboarding-action-claim-mocked-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-002-postonboarding-completed-action-claim-mocked-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-002-postonboarding-completed-action-claim-mocked-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-002-postonboarding-completed-action-claim-mocked-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-004-postonboarding-action-migrate-assets-mocked-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-004-postonboarding-action-migrate-assets-mocked-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-004-postonboarding-action-migrate-assets-mocked-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-005-postonboarding-completed-claim-and-migrate-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-005-postonboarding-completed-claim-and-migrate-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-005-postonboarding-completed-claim-and-migrate-win32.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-006-postonboarding-completed-all-actions-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-006-postonboarding-completed-all-actions-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-006-postonboarding-completed-all-actions-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts-snapshots/sync-onboarding-manual-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts-snapshots/sync-onboarding-manual-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts-snapshots/sync-onboarding-manual-win32.png
Labels: desktop, screenshots

#4568 [Bugfix/LIVE-9189]: ios app store alert appearing on navigation change
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/components/Toast/PtxToast.tsx
  apps/ledger-live-mobile/src/components/Toast/Toast.tsx
  apps/ledger-live-mobile/src/screens/Account/hooks/useAccountActions.tsx
Labels: mobile

#4476 fix: Add modelId and modelIdList to metadata on export
  .changeset/odd-spies-give.md
  apps/ledger-live-desktop/src/renderer/components/Exporter/QRCodeExporter.tsx
  libs/ledger-live-common/src/__snapshots__/cross.test.ts.snap
  libs/ledger-live-common/src/cross.test.ts
  libs/ledger-live-common/src/cross.ts
Labels: desktop, common

#4558 Bugfix/live 9191 deposit address verification device selection
  .changeset/brave-rivers-buy.md
  apps/ledger-live-mobile/src/components/RootNavigator/ReceiveFundsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/ReceiveFundsNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/families/hedera/Confirmation.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03b-VerifyAddress.tsx
Labels: mobile, translations

#4557 Bugfix/live 9191 deposit address verification device selection
  .changeset/brave-rivers-buy.md
  apps/ledger-live-mobile/src/components/RootNavigator/ReceiveFundsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/ReceiveFundsNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/families/hedera/Confirmation.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03b-VerifyAddress.tsx
Labels: mobile, translations

#4552 feat: add new tag to earn in main side bar
  .changeset/four-months-battle.md
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
Labels: enhancement, desktop

#4509 [LLD] - [LIVE-8386] - Add Storyly SDK to Ledger Live Desktop
  .changeset/quiet-dodos-joke.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/index.html
  apps/ledger-live-desktop/src/renderer/modals/StorylyDebugger/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Experimental/StorylyTester.tsx
  apps/ledger-live-desktop/src/storyly/components/base.tsx
  apps/ledger-live-desktop/src/storyly/index.ts
  apps/ledger-live-desktop/src/storyly/style.ts
  apps/ledger-live-desktop/src/storyly/useStoryly.tsx
  pnpm-lock.yaml
Labels: desktop

#4569 Bugfix/earn reloading infinite
  .changeset/witty-planets-teach.md
  apps/ledger-live-mobile/src/screens/PTX/Earn/index.tsx
Labels: bug, mobile

#4556 fix(llm/synconboarding): add device to known devices as soon as device is seeded
  .changeset/poor-donuts-swim.md
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SyncOnboardingCompanion.tsx
Labels: mobile

#4575 fix: broken fetch in actions
  pnpm-lock.yaml
  tools/actions/change-product-name/action.yml
  tools/actions/composites/bot/action.yml
  tools/actions/generate-bot-super-report/build/main.js
  tools/actions/generate-bot-super-report/logic.ts
  tools/actions/generate-bot-super-report/package.json
  tools/actions/generate-release-message/action.yml
  tools/actions/get-workflow-artifacts-id/action.yml
  tools/actions/get-workflow-artifacts-id/build/main.js
  tools/actions/live-common-affected/action.yml
  tools/actions/prepare-comment-screenshots/action.yml
  tools/actions/submit-bot-report/action.yml
  tools/actions/submit-bot-report/build/main.js
  tools/actions/submit-bot-report/main.ts
  tools/actions/submit-bot-report/package.json
  tools/actions/turbo-affected/action.yml
  tools/actions/turborepo-gh-cache/action.yml
  tools/actions/turborepo-gh-cache/build/server.js
  tools/actions/turborepo-s3-cache/action.yml
  tools/actions/upload-images/build/main.js
  tools/actions/upload-images/main.ts
  tools/actions/upload-images/package.json
Labels: tools

#4519 Feat/live 8638 LLM Stax Early Security Checks pixel polish
  .changeset/cool-dogs-count.md
  .changeset/eight-crabs-yawn.md
  .changeset/tidy-walls-attend.md
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/ChangeDeviceLanguageAction.tsx
  apps/ledger-live-mobile/src/components/ChangeDeviceLanguagePrompt.tsx
  apps/ledger-live-mobile/src/components/CustomImageDeviceAction.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/DeviceLanguageInstalled.tsx
  apps/ledger-live-mobile/src/components/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/src/components/GenericErrorView.tsx
  apps/ledger-live-mobile/src/components/GenericInformationBody.tsx
  apps/ledger-live-mobile/src/components/GenericInformationalDrawerContent.tsx
  apps/ledger-live-mobile/src/components/GenericInformationalView.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftFilterDrawer/index.tsx
  apps/ledger-live-mobile/src/components/QueuedDrawer.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/BluetoothDisabled.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/BluetoothPermissionsDenied.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/RequiresBluetoothDrawer.tsx
  apps/ledger-live-mobile/src/components/RequiresLocation/LocationDisabled.tsx
  apps/ledger-live-mobile/src/components/RequiresLocation/LocationPermissionDenied.tsx
  apps/ledger-live-mobile/src/context/IsInDrawerContext.tsx
  apps/ledger-live-mobile/src/families/ethereum/EditTransactionFlow/TransactionAlreadyValidatedError.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/UpdateReleaseNotes.tsx
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/src/screens/GetDeviceScreen.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/RenderError.tsx
  apps/ledger-live-mobile/src/screens/Protect/RedirectToOnboardingRecoverFlow.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/CheckCard.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/EarlySecurityCheckBody.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/EarlySecurityCheckMandatoryDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/FirmwareUpdateAvailableDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/GenuineCheckErrorDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/GenuineCheckNonGenuineDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/LanguagePrompt.tsx
  libs/ui/packages/native/src/components/Layout/List/VerticalStepper/StepperItem.tsx
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/TimelineIndicator.tsx
  libs/ui/packages/native/src/components/Text/getTextStyle.ts
Labels: mobile, ui, translations

#4578 Support/LIVE-8495 Fix Elrond bot test
  .changeset/late-fishes-promise.md
  libs/coin-framework/src/account/serialization.ts
  libs/ledger-live-common/src/families/elrond/specs.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: common, ledgerjs

#4544 chore(deps): update dependencies for wallet-api [LIVE-9007]
  libs/ledger-live-common/package.json
  libs/test-utils/dummy-wallet-app/package.json
  pnpm-lock.yaml
Labels: common

#4608 [LLM] - [LIVE-7889] - Adding available languages to IOS app
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
Labels: mobile

#4580 fix: ble stax pairing help link
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicesScanning.tsx
Labels: mobile

#4617 feat: wallet api web view to open ios links
  .changeset/olive-ants-clean.md
  apps/ledger-live-mobile/src/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/WalletAPIWebview.tsx
Labels: mobile

#4150 Add icon for PTRN token
  libs/ledger-live-common/src/data/icons/svg/PTRN.svg
  libs/ui/packages/crypto-icons/src/svg/PTRN.svg
Labels: common, ui, fork

#4588 chore: coverage including untested files
  .changeset/twenty-ears-care.md
  apps/ledger-live-desktop/jest.config.js
  apps/ledger-live-mobile/jest.config.js
Labels: desktop, mobile

#4624 feat(ledgerjs-cal): update CAL
  .changeset/hungry-pianos-vanish.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/__snapshots__/currencies.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42161/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42161/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/8453/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/8453/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/8453/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/coins.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/polygon-erc20.ts
Labels: desktop, common, ledgerjs

#4597 chore: introduce apps/web-tools ported from common-tools
  .github/workflows/test.yml
  apps/web-tools/.eslintrc.json
  apps/web-tools/.gitignore
  apps/web-tools/README.md
  apps/web-tools/ledgerlive-logo.svg
  apps/web-tools/live-common-setup.ts
  apps/web-tools/next.config.js
  apps/web-tools/package.json
  apps/web-tools/pages/_app.tsx
  apps/web-tools/pages/domain-tlv-parser.tsx
  apps/web-tools/pages/eth-tx-tools.tsx
  apps/web-tools/pages/globals.css
  apps/web-tools/pages/index.tsx
  apps/web-tools/pages/lld-signatures.tsx
  apps/web-tools/pages/logsviewer.tsx
  apps/web-tools/pages/networkTroubleshoot.tsx
  apps/web-tools/pages/repl.ts
  apps/web-tools/pages/svg-icons.tsx
  apps/web-tools/pages/sync.tsx
  apps/web-tools/repl/commands.ts
  apps/web-tools/repl/components/ApduCommandSender.tsx
  apps/web-tools/repl/components/App.tsx
  apps/web-tools/repl/components/Form.tsx
  apps/web-tools/repl/components/FormField.tsx
  apps/web-tools/repl/components/LiveEnvEditor.tsx
  apps/web-tools/repl/components/SendButton.tsx
  apps/web-tools/repl/components/Smallbutton.ts
  apps/web-tools/repl/components/Theme.tsx
  apps/web-tools/repl/components/fields/AccountField.ts
  apps/web-tools/repl/components/fields/AddressField.tsx
  apps/web-tools/repl/components/fields/AmountField..tsx
  apps/web-tools/repl/components/fields/ApplicationField.tsx
  apps/web-tools/repl/components/fields/AsciiField.tsx
  apps/web-tools/repl/components/fields/CheckboxField.tsx
  apps/web-tools/repl/components/fields/CryptoCurrencySelect.tsx
  apps/web-tools/repl/components/fields/DerivationModeField.tsx
  apps/web-tools/repl/components/fields/GasLimitField.tsx
  apps/web-tools/repl/components/fields/TokenSelect.tsx
  apps/web-tools/repl/components/fields/index.ts
  apps/web-tools/repl/helpers/commands.ts
  apps/web-tools/repl/helpers/env.ts
  apps/web-tools/repl/index.ts
  apps/web-tools/repl/live-common-setup.ts
  apps/web-tools/repl/theme.ts
  apps/web-tools/tsconfig.json
  apps/web-tools/vercel.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/hoc/withRemountableWrapper.tsx
  package.json
  pnpm-lock.yaml
  tools/github-bot/tips/test.md
Labels: common, tools, automation

#4623 [B2CQA-1965] Fix detox tests flakiness
  .github/workflows/test-mobile-e2e.yml
  apps/ledger-live-mobile/detox.config.js
  apps/ledger-live-mobile/e2e/bridge/client.ts
  apps/ledger-live-mobile/e2e/models/onboarding/onboardingSteps.ts
  apps/ledger-live-mobile/e2e/setup.ts
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/screens/Onboarding/steps/discoverLiveInfo.tsx
  pnpm-lock.yaml
Labels: mobile, automation

#4651 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#4648 feat: update manifest id for multibuy to v2
  .changeset/quick-students-glow.md
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts
  apps/ledger-live-mobile/src/components/RootNavigator/ExchangeLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  libs/ledger-live-common/src/wallet-api/constants.ts
Labels: desktop, mobile, common

#4628 Feat/llm wallet quick actions
  .changeset/perfect-shrimps-type.md
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/src/components/FabActions/actionsList/account/index.tsx
  apps/ledger-live-mobile/src/components/FabActions/actionsList/asset/index.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/hooks/useQuickActions.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioAssets.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioQuickActionsBar.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/native/src/components/cta/QuickAction/QuickActionButton/index.tsx
  libs/ui/packages/native/src/components/cta/QuickAction/QuickActionList/index.tsx
  libs/ui/packages/native/src/components/cta/QuickAction/index.ts
  libs/ui/packages/native/storybook/stories/Cta/QuickAction/QuickActionList.stories.tsx
Labels: mobile, common, ui, ledgerjs, translations

#4676 Update screenshots following ETH / EVM merge
  apps/ledger-live-desktop/tests/specs/families/ethereum.spec.ts-snapshots/send-modal-eth-max-network-fees-darwin.png
  apps/ledger-live-desktop/tests/specs/families/ethereum.spec.ts-snapshots/send-modal-eth-max-network-fees-linux.png
  apps/ledger-live-desktop/tests/specs/families/ethereum.spec.ts-snapshots/send-modal-eth-max-network-fees-win32.png
Labels: desktop, screenshots

#4677 test: updated market buy steps to use dummy app
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-btc-buy-page-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-btc-buy-page-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-btc-buy-page-win32.png
Labels: desktop, screenshots

#4667 support: update wallet api
  apps/cli/package.json
  apps/ledger-live-desktop/package.json
  apps/ledger-live-mobile/package.json
  apps/web-tools/package.json
  libs/coin-algorand/package.json
  libs/coin-evm/package.json
  libs/coin-framework/package.json
  libs/coin-polkadot/package.json
  libs/ledger-live-common/package.json
  libs/ledgerjs/packages/hw-app-eth/package.json
  libs/ledgerjs/packages/hw-app-exchange/package.json
  libs/ledgerjs/packages/hw-app-helium/package.json
  libs/ledgerjs/packages/types-live/package.json
  libs/test-utils/dummy-wallet-app/package.json
  pnpm-lock.yaml
Labels: desktop, mobile, common, ledgerjs, cli

#4679 fix: wallet-api & platform verify account screen [LIVE-7751]
  .changeset/plenty-starfishes-train.md
  apps/ledger-live-mobile/src/screens/VerifyAccount/VerifyAddress.ts
  apps/ledger-live-mobile/src/screens/VerifyAccount/index.tsx
Labels: mobile

#4683 Tooltip display with LabelInfoTooltip
  apps/ledger-live-desktop/src/renderer/components/LabelInfoTooltip.tsx
  apps/ledger-live-desktop/src/renderer/components/Tooltip.tsx
Labels: desktop

#4682 [B2CQA] Detox disable failing detox market test
  apps/ledger-live-mobile/e2e/specs/market.spec.ts
Labels: mobile

#4684 chore: update wording auto-update banner
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#4691 chore: update screenshots for auto-update banner
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-update-available-darwin.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-update-available-linux.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-update-available-win32.png
Labels: desktop, screenshots

#4687 Bugfix - Fix EIP712 using shorthand bytes
  .changeset/gold-pants-sniff.md
  libs/ledgerjs/packages/hw-app-eth/src/utils.ts
  libs/ledgerjs/packages/hw-app-eth/tests/EIP712/noFilter-signMessage.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/EIP712/utils.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/14.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/messages/14.json
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/messages/14bis.json
Labels: ledgerjs

#4693 feat: llm reset storage ptx web player
  .changeset/brown-lions-speak.md
  apps/ledger-live-mobile/src/components/WebPTXPlayer/index.tsx
  apps/ledger-live-mobile/src/screens/PTX/BuyAndSell/index.tsx
Labels: mobile

#4694 Nps rating
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/NpsRatingsModal/Form.tsx
Labels: mobile, translations

#4695 fix: replace eth link with cosmos staking link
  .changeset/great-tomatoes-punch.md
  apps/ledger-live-desktop/src/renderer/families/cosmos/StakeBanner.tsx
Labels: desktop

#4702 Bugfix/regen screenshots auto update
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-check-success-linux.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-check-success-win32.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-update-available-linux.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-update-available-win32.png
Labels: desktop, screenshots

#4699 [BUGFIX] fix wallet-api complete exchange logic
  .changeset/quick-olives-grab.md
  libs/ledger-live-common/src/platform/converters.ts
  libs/ledger-live-common/src/platform/logic.ts
  libs/ledger-live-common/src/wallet-api/converters.ts
  libs/ledger-live-common/src/wallet-api/logic.ts
Labels: common

#4700 [B2CQA-1972] Detox fix animations flakiness
  apps/ledger-live-mobile/e2e/models/onboarding/onboardingSteps.ts
  apps/ledger-live-mobile/e2e/models/receive.ts
  apps/ledger-live-mobile/e2e/specs/addAccounts/bitcoin.spec.ts
  apps/ledger-live-mobile/e2e/specs/manager.spec.ts
  apps/ledger-live-mobile/e2e/specs/market.spec.ts
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/e2e/specs/receive/bitcoin.spec.ts
  apps/ledger-live-mobile/e2e/specs/send/bitcoin.spec.ts
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/03-Accounts.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/StorageBarItem.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/Scanning.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/ReceiveSecurityModal/ConfirmUnverified.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/ReceiveSecurityModal/InitMessage.tsx
  libs/ui/packages/native/src/components/Loader/InfiniteLoader/index.tsx
Labels: mobile, ui

#4674 fix(protect-2352): change don't see recover button better ui
  .changeset/neat-colts-glow.md
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/RestoreWithProtect.tsx
Labels: mobile

#4615 Feat/save swap history wallet api exchange
  .changeset/long-schools-live.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/ExchangeDrawer/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/getUpdateAccountWithUpdaterParams.ts
  libs/ledger-live-common/src/exchange/swap/setBroadcastTransaction.ts
  libs/ledger-live-common/src/exchange/swap/webApp/utils.ts
  libs/ledger-live-common/src/hw/actions/completeExchange.ts
  libs/ledger-live-common/src/platform/logic.test.ts
  libs/ledger-live-common/src/platform/logic.ts
  libs/ledger-live-common/src/wallet-api/logic.ts
  libs/ledger-live-common/src/wallet-api/react.ts
Labels: desktop, common

#4708 fix: can't find my ledger padding
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicesScanning.tsx
Labels: mobile

#4680 Feat/llm cex deposit entry points
  .changeset/five-monkeys-juggle.md
  apps/ledger-live-mobile/src/icons/Coinbase.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/DepositFromCoinbaseButton.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/cexDeposit.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ledgerjs/packages/types-live/src/index.ts
  libs/ui/packages/native/src/components/Cards/BannerCard/index.tsx
Labels: mobile, common, ui, ledgerjs, translations

#4714 Feat/live 9239 update zcash explorer to zcashblockexplorer.com
  .changeset/short-dogs-buy.md
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: ledgerjs

#4662 Use translations for Ledger Manager instead of hardcoded value
  apps/ledger-live-desktop/MOCK.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/debug/DebugMock.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/index.tsx
  libs/ledger-live-common/src/apps/types.ts
  libs/ledger-live-common/src/deviceSDK/commands/firmwareUpdate/installFirmware.ts
  libs/ledger-live-common/src/hw/actions/app.ts
  libs/ledger-live-common/src/hw/actions/manager.ts
  libs/ledger-live-common/src/hw/actions/renameDevice.ts
  libs/ledger-live-common/src/hw/connectApp.ts
  libs/ledger-live-common/src/hw/getGenuineCheckFromDeviceId.test.ts
  libs/ledger-live-common/src/hw/hooks/useGenuineCheck.test.ts
  libs/ledger-live-common/src/socket/__snapshots__/socket.test.ts.snap
  libs/ledger-live-common/src/socket/index.ts
  libs/ledger-live-common/src/socket/socket.mock.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/manager.ts
Labels: desktop, mobile, common, ledgerjs, translations

#4719 fix: set exchange rate to undefined
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useProviderRates.ts
Labels: common

#4717 [LLM & LLD] Update staking button
  .changeset/gentle-tomatoes-draw.md
  .changeset/tender-laws-itch.md
  apps/ledger-live-desktop/src/renderer/families/algorand/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/cardano/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/cosmos/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/elrond/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/evm/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/near/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/polkadot/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/solana/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/tezos/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/screens/account/AccountHeaderActions.tsx
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/families/cosmos/accountActions.tsx
  apps/ledger-live-mobile/src/families/elrond/accountActions.tsx
  apps/ledger-live-mobile/src/families/evm/accountActions.tsx
  apps/ledger-live-mobile/src/families/near/accountActions.tsx
  apps/ledger-live-mobile/src/families/polkadot/accountActions.tsx
  apps/ledger-live-mobile/src/families/solana/accountActions.tsx
  apps/ledger-live-mobile/src/families/tezos/accountActions.tsx
  apps/ledger-live-mobile/src/hooks/useQuickActions.ts
Labels: desktop, mobile

#4741 [BUGFIX] Issues on swap
  .changeset/grumpy-flowers-enjoy.md
  .changeset/little-papayas-nail.md
  .changeset/nine-cooks-drop.md
  .changeset/pretty-panthers-approve.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-mobile/src/components/SendRowsFee.tsx
  apps/ledger-live-mobile/src/families/evm/EvmFeesStrategy.tsx
  apps/ledger-live-mobile/src/families/evm/types.ts
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectFees.tsx
  libs/coin-evm/src/__tests__/fixtures/transaction.fixtures.ts
  libs/coin-evm/src/__tests__/unit/transaction.unit.test.ts
  libs/coin-evm/src/transaction.ts
  libs/coin-evm/src/types/transaction.ts
  libs/ledger-live-common/src/families/evm/react.react.test.ts
  libs/ledger-live-common/src/families/evm/react.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
Labels: desktop, mobile, common, ledgerjs

#4715 [LIVE-8594] Update customize lock screen Stax wording
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/NetworkError.tsx
  apps/ledger-live-desktop/src/renderer/screens/customImage/Step1ChooseImage.tsx
  apps/ledger-live-desktop/src/renderer/screens/customImage/Step2AdjustImage.tsx
  apps/ledger-live-desktop/src/renderer/screens/customImage/Step3ChooseContrast.tsx
  apps/ledger-live-desktop/src/renderer/screens/customImage/Step4Transfer.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#4766 [FEATURE] Add loading spinner for gas options in evm
  .changeset/slow-squids-press.md
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/index.tsx
  apps/ledger-live-desktop/tests/specs/families/ethereum.spec.ts
  apps/ledger-live-desktop/tests/specs/families/ethereum.spec.ts-snapshots/send-modal-eth-max-network-fees-linux.png
  apps/ledger-live-desktop/tests/specs/families/ethereum.spec.ts-snapshots/send-modal-eth-max-network-fees-win32.png
Labels: desktop, screenshots

#4755 fix(wallet-api): request account was not showing token accounts in some cases
  .changeset/neat-insects-sin.md
  apps/ledger-live-desktop/src/renderer/components/PerCurrencySelectAccount/state.ts
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/SelectAccountAndCurrencyDrawer.tsx
  apps/ledger-live-mobile/src/reducers/accounts.ts
Labels: desktop, mobile

#4779 [LLD] - [LIVE-9159] - Add CEX entrypoint
  .changeset/sixty-comics-double.md
  apps/ledger-live-desktop/src/renderer/icons/Coinbase.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/DepositFromCoinbaseButton.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepAccount.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
Labels: desktop, common, translations

#4780 Bugfix/fix env variables fast lane
  .changeset/silent-bananas-repair.md
  apps/ledger-live-mobile/fastlane/.env.android.prerelease
  apps/ledger-live-mobile/fastlane/.env.android.release
  apps/ledger-live-mobile/fastlane/.env.android.staging
  apps/ledger-live-mobile/fastlane/Fastfile
Labels: mobile

#4772 [LIVE-9429] LLD - Onboarding loop Upsell Recover
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/index.tsx
Labels: desktop

#4783 Update screenshots
  .github/workflows/generate-screenshots.yml
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-002-image-imported-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-002-image-imported-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-003-adjust-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-003-adjust-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-004-adjust-zoomed-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-004-adjust-zoomed-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-005-adjust-contrast-zoomed-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-005-adjust-contrast-zoomed-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-006-adjust-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-006-adjust-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-007-adjust-rotate-once-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-007-adjust-rotate-once-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-008-adjust-rotated-zoomed-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-008-adjust-rotated-zoomed-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-009-adjust-rotated-zoomed-preserved-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-009-adjust-rotated-zoomed-preserved-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-010-adjust-max-zoom-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-010-adjust-max-zoom-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-011-adjust-big-zoom-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-011-adjust-big-zoom-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-012-adjust-min-zoom-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-012-adjust-min-zoom-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-013-adjust-small-zoom-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-013-adjust-small-zoom-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-014-preview-contrast-initial-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-014-preview-contrast-initial-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-015-preview-contrast-1-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-015-preview-contrast-1-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-016-preview-contrast-2-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-016-preview-contrast-2-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-017-preview-contrast-3-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-017-preview-contrast-3-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-018-preview-contrast-0-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-018-preview-contrast-0-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-019-transfer-load-requested-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-019-transfer-load-requested-win32.png
Labels: desktop, automation, screenshots

#4753 chore: remove misleading "countervalues disabled" status from cryptoassets.md
  .changeset/silver-glasses-shout.md
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/generate-cryptoassets-md.test.ts
Labels: desktop

#4777 Bugfix Stax LLD early security checks race condition
  .changeset/swift-items-hear.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/useChangeLanguagePrompt.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
Labels: desktop

#4796 [BUGFIX][LLM] app crash when selecting custom / advanced fees on evm token send flow
  .changeset/smooth-shrimps-remember.md
  apps/ledger-live-mobile/src/families/evm/EvmCustomFees/index.tsx
  apps/ledger-live-mobile/src/families/evm/EvmFeesStrategy.tsx
Labels: mobile

#4788 chore: introduce GENERATE_METAFILES for bundle size analyze
  apps/ledger-live-desktop/.gitignore
  apps/ledger-live-desktop/tools/main.js
Labels: desktop

#4787 MacOS screenshot
  apps/ledger-live-desktop/tests/playwright.config.ts
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-002-image-imported-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-003-adjust-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-004-adjust-zoomed-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-005-adjust-contrast-zoomed-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-006-adjust-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-007-adjust-rotate-once-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-008-adjust-rotated-zoomed-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-009-adjust-rotated-zoomed-preserved-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-010-adjust-max-zoom-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-011-adjust-big-zoom-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-012-adjust-min-zoom-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-013-adjust-small-zoom-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-014-preview-contrast-initial-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-015-preview-contrast-1-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-016-preview-contrast-2-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-017-preview-contrast-3-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-018-preview-contrast-0-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-019-transfer-load-requested-darwin.png
  pnpm-lock.yaml
  tools/actions/turborepo-gh-cache/build/server.js
  tools/actions/upload-images/build/main.js
  tools/actions/upload-images/main.ts
  tools/actions/upload-images/package.json
Labels: desktop, tools, screenshots

#4800 fix(LLM): platform-sdk & wallet-api onClose response in `account.request` & `message.sign` [LIVE-9487]
  .changeset/thick-icons-pull.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/AddAccountsNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/RequestAccountNavigator.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  apps/ledger-live-mobile/src/screens/RequestAccount/02-SelectAccount.tsx
  libs/ledger-live-common/src/wallet-api/react.ts
Labels: desktop, mobile, common

#4809 fix(lld/reducers/devices): fix infinite loading in DeviceAction
  .changeset/red-lamps-switch.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/reducers/devices.ts
Labels: desktop

#4813 Fix imgur in CI
  pnpm-lock.yaml
  tools/actions/upload-images/build/main.js
  tools/actions/upload-images/main.ts
  tools/actions/upload-images/package.json
Labels: tools

#4792 fix: add account wallet id conversion for buy deeplinks
  .changeset/nice-cobras-obey.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.tsx
  apps/ledger-live-mobile/src/screens/PTX/BuyAndSell/index.tsx
Labels: desktop, mobile

#4789 [FEAT] : LLM - My wallet access button to Recover ✨
  .changeset/smooth-shoes-wait.md
  apps/ledger-live-mobile/src/components/TabBar/Transfer.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/hooks/useQuickActions.ts
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#4778 feat(blockchain-support) remove cardano poolCost
  .changeset/angry-apples-study.md
  .changeset/sixty-cooks-run.md
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/fields/ValidatorField.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/fields/ValidatorRow.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/steps/StepDelegation.tsx
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/SelectPool.tsx
  apps/ledger-live-mobile/src/families/cardano/shared/PoolRow.tsx
Labels: desktop, mobile

#4825 Disable cosmosStaking.spec.ts
  apps/ledger-live-desktop/tests/specs/services/cosmosStaking.spec.ts
Labels: desktop

#4830 chore: resume full e2e tests for desktop on each PR
  .github/workflows/test-desktop.yml
  .github/workflows/test.yml
  tools/github-bot/src/commands/full-suite.ts
Labels: tools, automation

#4681 chore: make mobile e2e tests required
  .github/workflows/test-mobile-e2e.yml
  tools/github-bot/src/features/orchestrator/const.ts
  tools/github-bot/src/features/orchestrator/index.ts
Labels: tools, automation

#4824 fix:(protect-2538): previous cta redirect to disclaimer screen
  .changeset/unlucky-cups-hunt.md
  apps/ledger-live-desktop/src/renderer/components/RecoverRestore/index.tsx
Labels: desktop

#4808 chore(recover): remove source query params
  .changeset/chilly-shoes-do.md
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/NewProtectState.tsx
Labels: mobile

#4689 Feat/live 8933 add new drawer before cancelling firmware update
  .changeset/twelve-starfishes-joke.md
  apps/ledger-live-desktop/src/renderer/components/SideDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SideDrawerHeader.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/index.tsx
  apps/ledger-live-desktop/src/renderer/drawers/Drawer.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/Cancel.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/FirmwareUpdate/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#4851 feat: injective integration
  .changeset/lemon-taxis-applaud.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketRowItem.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/coin-framework/package.json
  libs/coin-framework/src/bot/types.ts
  libs/env/src/env.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/config/defaultConfig.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/data/icons/svg/INJ.svg
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.test.ts
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.ts
  libs/ledger-live-common/src/families/cosmos/chain/Injective.ts
  libs/ledger-live-common/src/families/cosmos/chain/chain.ts
  libs/ledger-live-common/src/families/cosmos/chain/cosmosBase.ts
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/injective.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/injective.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/injective.ts
  libs/ledger-live-common/src/families/cosmos/js-buildTransaction.test.ts
  libs/ledger-live-common/src/families/cosmos/js-buildTransaction.ts
  libs/ledger-live-common/src/families/cosmos/js-prepareTransaction.test.ts
  libs/ledger-live-common/src/families/cosmos/js-prepareTransaction.ts
  libs/ledger-live-common/src/families/cosmos/js-signOperation.ts
  libs/ledger-live-common/src/families/cosmos/specs.ts
  libs/ledger-live-common/src/families/cosmos/types.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/errors/src/index.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/crypto-icons/src/svg/INJ.svg
  pnpm-lock.yaml
Labels: desktop, mobile, common, ui, ledgerjs, translations, cli

#4848 fix(llm/Stax/InjectedCodeDebugger): improve message for dev error
  apps/ledger-live-mobile/src/components/CustomImage/InjectedCodeDebugger.tsx
Labels: mobile

#4843 [Feat/LIVE-9344]: Integrate feature_ptx_swap feature flag
  .changeset/friendly-cycles-watch.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/hooks/index.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useIsSwapLiveApp.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useIsSwapLiveApp.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs

#4853 [BUGFIX] Add missing GasOptions in Swap flows for Custom Fee Strategy
  .changeset/purple-lobsters-accept.md
  apps/ledger-live-mobile/src/components/RootNavigator/types/SendFundsNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SignTransactionNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SwapNavigator.ts
  apps/ledger-live-mobile/src/families/evm/EvmCustomFees/Evm1559CustomFees.tsx
  apps/ledger-live-mobile/src/families/evm/EvmCustomFees/EvmLegacyCustomFees.tsx
  apps/ledger-live-mobile/src/families/evm/EvmCustomFees/index.tsx
  apps/ledger-live-mobile/src/families/evm/EvmFeesStrategy.tsx
Labels: mobile

#4818 [FEAT] : LLM revamp recover service manager
  .changeset/strong-flowers-draw.md
  apps/ledger-live-mobile/src/components/SelectDevice/BluetoothEmpty.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/NewProtectState.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/useProtect.ts
  apps/ledger-live-mobile/src/components/ServicesWidget/index.tsx
  apps/ledger-live-mobile/src/images/ledger_recover_card_background.png
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Manager/index.tsx
Labels: mobile, translations

#4861 refactor: refactor ptx adding correct account to query string (#4841)
  .changeset/mean-wasps-allow.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.tsx
  apps/ledger-live-mobile/src/screens/PTX/BuyAndSell/index.tsx
Labels: desktop, mobile

#4829 chore(lld): playwright to record logs into a file
  .github/workflows/test-desktop.yml
  apps/ledger-live-desktop/tests/fixtures/common.ts
Labels: desktop, automation

#4879 [bugfix] Remove old obsolete hack of Tezos gas limit (release)
  .changeset/chatty-fans-accept.md
  libs/ledger-live-common/src/__tests__/modulo.ts
  libs/ledger-live-common/src/families/tezos/signOperation.ts
  libs/ledger-live-common/src/families/tezos/speculos-deviceActions.ts
  libs/ledger-live-common/src/modulo.ts
Labels: common

#4842 chore(allure-playwright): update allure playwright integration
  apps/ledger-live-desktop/package.json
  pnpm-lock.yaml
Labels: desktop

#4874 [BUGFIX] : Upsell Recover on TransferDrawer
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
Labels: mobile

#4882 [BUGFIX] : Upsell Recover on TransferDrawer
  .changeset/smooth-shoes-wait.md
  apps/ledger-live-mobile/src/components/TabBar/Transfer.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/hooks/useQuickActions.ts
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#4862 [FEAT] : LLM revamp recover service manager
  .changeset/strong-flowers-draw.md
  apps/ledger-live-mobile/src/components/SelectDevice/BluetoothEmpty.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/NewProtectState.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/useProtect.ts
  apps/ledger-live-mobile/src/components/ServicesWidget/index.tsx
  apps/ledger-live-mobile/src/images/ledger_recover_card_background.png
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Manager/index.tsx
Labels: mobile, translations

#4867 bugfix: include amountFromInSmallestDenomination
  .changeset/large-pets-divide.md
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
Labels: common

#4887 [BUGFIX] : Discreet Mode on Deposit flow
  .changeset/rich-buses-help.md
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectAccount.tsx
Labels: mobile

#4844 [LLM] - [LIVE-8826] - Bugfix LLM onboarding UI issues
  .changeset/sour-melons-exercise.md
  apps/ledger-live-mobile/src/components/RootNavigator/OnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/OnboardingNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/screens/Onboarding/OnboardingQuiz.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/OnboardingQuizItem.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/drawers/OnboardingPreQuizModal.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/drawers/RecoveryPhraseWarning.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/drawers/SyncDesktopInformation.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/drawers/Warning.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/Intro.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/RestoreRecoveryPhrase.tsx
Labels: mobile

#4884 feat(protect-2592): add other link on firebase for quick access
  .changeset/shiny-apes-rule.md
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/hooks/recoverFeatureFlag.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#4889 bugfix(protect-2575): onboarding stax black screen
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SyncOnboardingCompanion.tsx
Labels: desktop

#4895 feat(protect-2592): add other link on firebase for quick access recover
  .changeset/dry-numbers-sniff.md
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/hooks/recoverFeatureFlag.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs
