Repository LedgerHQ/ledger-live, pull requests merged in 2023-11, with the labels that each got.

#5232 Fix: failing apps installation and uninstallation on iOS
  .changeset/tiny-eyes-battle.md
  libs/ledger-live-common/src/socket/__snapshots__/socket.test.ts.snap
  libs/ledger-live-common/src/socket/index.ts
  libs/ledger-live-common/src/socket/scenarios.mock.ts
  libs/ledger-live-common/src/socket/socket.test.ts
  libs/ledgerjs/packages/hw-transport-mocker/package.json
  libs/ledgerjs/packages/hw-transport-mocker/src/openTransportReplayer.ts
  pnpm-lock.yaml
Labels: common, ledgerjs

#5251 Feat/live 7964 stax analytics rename events
  .changeset/eleven-rats-warn.md
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingHubBanner.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/restore/CLS.tsx
  apps/ledger-live-desktop/src/renderer/screens/customImage/shared.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicesScanning.tsx
  apps/ledger-live-mobile/src/components/ChangeDeviceLanguagePrompt.tsx
  apps/ledger-live-mobile/src/components/CustomImage/CustomImageBottomModal.tsx
  apps/ledger-live-mobile/src/components/CustomImageDeviceAction.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/common.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/Nft/NftLinksPanel.tsx
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/RestoreStepDenied.tsx
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SyncOnboardingCompanion.tsx
Labels: desktop, mobile

#5273 Bugfix/live 9892
  .changeset/mean-stingrays-speak.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/hooks/useIsSwapLiveApp.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useIsSwapLiveApp.ts
Labels: desktop, common

#5202 bugfix(LIVE-9962): update useAllAmount field when max toggle is interacted
  .changeset/clean-humans-breathe.md
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useUpdateMaxAmount.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useUpdateMaxAmount.ts
Labels: common

#5192 fix(navtabs): refer a friend tab selection no longer select discover tab
  .changeset/brave-rabbits-doubt.md
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
Labels: desktop

#5262 Update Casper SVG
  libs/ledger-live-common/src/data/icons/svg/CSPR.svg
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: common, ledgerjs, fork

#5167 Integrate dydx
  .changeset/fuzzy-fishes-clap.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  apps/web-tools/live-common-setup.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/account/helpers.ts
  libs/ledger-live-common/src/config/defaultConfig.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/data/icons/svg/DYDX.svg
  libs/ledger-live-common/src/families/cosmos/chain/Dydx.ts
  libs/ledger-live-common/src/families/cosmos/chain/chain.ts
  libs/ledger-live-common/src/families/cosmos/chain/chain.unit.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/dydx.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/dydx.ts
  libs/ledger-live-common/src/families/cosmos/specs.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/crypto-icons/src/svg/DYDX.svg
Labels: desktop, mobile, common, ui, ledgerjs, cli

#5278 [BUGFIX]: Issue in Onboarding partners mention
  .changeset/forty-cycles-protect.md
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#5282 remove import cryptoassets in release job
  .github/workflows/release-create.yml
Labels: automation

#5280 playwright e2e fixes: incremental commits
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/models/AccountPage.ts
  apps/ledger-live-desktop/tests/models/LiveAppWebview.ts
  apps/ledger-live-desktop/tests/models/PortfolioPage.ts
  apps/ledger-live-desktop/tests/models/SettingsPage.ts
  apps/ledger-live-desktop/tests/utils/waitFor.ts
Labels: desktop

#5281 test(lld/playwright/customImage): avoid firmware update click jacking
  apps/ledger-live-desktop/tests/models/ManagerPage.ts
Labels: desktop

#5260 fix: improve perf for sortByMarketCap
  .changeset/seven-clouds-visit.md
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/currencies/mock.ts
  libs/ledger-live-common/src/currencies/sortByMarketcap.test.ts
  libs/ledger-live-common/src/currencies/sortByMarketcap.ts
Labels: common

#5263 fix(recover): remove 'Log in to Ledger Recover' button
  .changeset/tough-ladybugs-do.md
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
  libs/ledger-live-common/src/hooks/recoverFeatureFlag.ts
Labels: desktop, mobile, common, translations

#5221 chore: lock renderer bundle size to not exceed 40mb
  .github/workflows/build-desktop.yml
  apps/ledger-live-desktop/tools/main.js
Labels: desktop, automation

#5283 Update cryptoassets
  .changeset/shiny-bananas-complain.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/coins.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/polygon-erc20.json
Labels: desktop, common, ledgerjs

#5279 chore: update Android SDK to 34
  .changeset/thirty-zebras-punch.md
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Labels: mobile

#5277 [BUGFIX] : Bad name of analytics was triggered on Market Tab in Header on LLM
  .changeset/little-ways-share.md
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabNavigatorTabBar.tsx
Labels: mobile

#5300 test(playwright): simulate camera to test qrcode scanning
  apps/ledger-live-desktop/src/renderer/components/RecipientAddress.tsx
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/models/SendModal.ts
  apps/ledger-live-desktop/tests/specs/families/bitcoin.spec.ts
  apps/ledger-live-desktop/tests/userdata/qrcode-19qAJ5F2eH7CRPFfj5c94x22zFcXpa8rZ77.y4m
Labels: desktop

#5305 Fix: added locked device errors to Sentry ignore list
  .changeset/good-mirrors-retire.md
  apps/ledger-live-desktop/src/sentry/install.ts
  apps/ledger-live-mobile/index.js
Labels: desktop, mobile

#5297 Bugfix/casper: viewing operation on llm causing app crash
  .changeset/strange-snails-invent.md
  apps/ledger-live-mobile/src/families/casper/operationDetails.tsx
Labels: mobile, fork

#5288 fix(llm/wording): replace "manager" by "My Ledger"
  .changeset/tidy-items-explode.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#5285 [feat/LIVE-9363]: add custom handler to swap live app
  .changeset/tender-pandas-beam.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/WebviewErrorDrawer/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
Labels: desktop

#5303 test: fix LIVE-9996
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts
Labels: desktop

#5302 test: fix LIVE-9995
  apps/ledger-live-desktop/tests/models/Drawer.ts
  apps/ledger-live-desktop/tests/models/LiveAppWebview.ts
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts
Labels: desktop

#5307 Capitalize OS when needed
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/drawers/BluetoothConnection.tsx
Labels: mobile

#5034 chore: remove default import stellarsdk
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/stellar/api/horizon.ts
  libs/ledger-live-common/src/families/stellar/js-buildTransaction.ts
  libs/ledger-live-common/src/families/stellar/logic.ts
  pnpm-lock.yaml
Labels: common, Stale

#5224 [LLM] - [] - Upgrade legacy components to modern components
  .changeset/swift-cherries-visit.md
  apps/ledger-live-mobile/src/components/CancelButton.tsx
  apps/ledger-live-mobile/src/components/Circle.tsx
  apps/ledger-live-mobile/src/components/Graph/DefGrad.tsx
  apps/ledger-live-mobile/src/components/ModalBottomAction.tsx
  apps/ledger-live-mobile/src/components/Nft/NftMedia.tsx
  apps/ledger-live-mobile/src/components/OperationIcon.tsx
  apps/ledger-live-mobile/src/components/SetEnvsFromSettings.ts
  apps/ledger-live-mobile/src/components/ShareLink.tsx
  apps/ledger-live-mobile/src/components/ValidateOnDeviceDataRow.tsx
  apps/ledger-live-mobile/src/context/AuthPass/AuthScreen.tsx
  apps/ledger-live-mobile/src/icons/NoLocationImage.tsx
  apps/ledger-live-mobile/src/icons/QRcodeZoom.tsx
  apps/ledger-live-mobile/src/screens/AccountSettings/AccountAdvancedLogsRow.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/03-Accounts.tsx
  apps/ledger-live-mobile/src/screens/ImportAccounts/DisplayResultItem.tsx
  apps/ledger-live-mobile/src/screens/OperationDetails/DataList.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/PendingContainer.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03a-ConnectDevice.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/NotSyncedWarning.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/04-Summary.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/SummaryAmountSection.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/SummaryRow.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/SummaryRowCustom.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/Crashes.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/PasswordAdd.tsx
Labels: mobile

#5326 Manage swap signature according to swap type
  .changeset/swift-birds-explain.md
  libs/ledger-live-common/src/exchange/platform/transfer/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.integ.test.ts
Labels: common, ledgerjs

#5291 [LIVE-8460] LLD - No timeout if user loses connection after Allowing Genuine check
  .changeset/early-squids-think.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useNetworkStatus.ts
Labels: desktop

#5330 bugfix(lld): fix dark mode support of QR Code Camera Picker fallback
  .changeset/late-spiders-battle.md
  apps/ledger-live-desktop/src/renderer/components/QRCodeCameraPickerCanvas.tsx
Labels: desktop

#5333 fix(common/listappsv2): don't use currencyId if no matching currency
  .changeset/nice-knives-attack.md
  libs/ledger-live-common/src/apps/polyfill.ts
Labels: common

#5342 [feat/LIVE-9350]: add handler for custom.redirectToProviderApp
  .changeset/swift-tomatoes-march.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
Labels: desktop

#5345 fix: remoteLiveApp hook not returning filtered manifest
  .changeset/old-laws-melt.md
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/index.tsx
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/types.ts
Labels: common

#5276 Enable countervalues for all tron tokens
  .changeset/nice-rocks-jump.md
  libs/ledger-live-common/src/countervalues/api/api.ts
  libs/ledger-live-common/src/countervalues/logic.ts
  libs/ledger-live-common/src/countervalues/modules/index.ts
  libs/ledger-live-common/src/countervalues/react.tsx
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
  libs/ledgerjs/script/crypto-assets-importer/importers/trc10/index.ts
Labels: common, ledgerjs

#5349 feat(cli): add listApps to display all installed apps on device
  .changeset/twelve-singers-jam.md
  apps/cli/README.md
  apps/cli/src/commands-index.ts
  apps/cli/src/commands/listApps.ts
Labels: cli

#5315 Bugfix/live 5056 error mapping not found entity
  .changeset/swift-pianos-buy.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/PairDevices/RenderError.tsx
  libs/ledger-live-common/src/manager/api.ts
Labels: desktop, mobile, common, translations

#5361 Support/live 10043 fix dark mode support of QR Code Camera Picker fallback
  .changeset/late-spiders-battle.md
  apps/ledger-live-desktop/src/renderer/components/QRCodeCameraPickerCanvas.tsx
Labels: desktop

#5352 feat: change version package
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
  tests/dummy-wallet-app/package.json
Labels: common

#5335 Bugfix/live 9116 LLD firmware update: retry button if device is locked
  .changeset/modern-plants-relate.md
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/03-step-confirmation.tsx
Labels: desktop

#5368 chore(IconsUI): Updating icons sources
  libs/ui/packages/icons/src/svg/Bell.svg
  libs/ui/packages/icons/src/svg/Bolt.svg
  libs/ui/packages/icons/src/svg/Calendar.svg
  libs/ui/packages/icons/src/svg/Clip.svg
  libs/ui/packages/icons/src/svg/Clock-fill.svg
  libs/ui/packages/icons/src/svg/Compass.svg
  libs/ui/packages/icons/src/svg/Delete-Circle-fill.svg
  libs/ui/packages/icons/src/svg/Exit-Logout.svg
  libs/ui/packages/icons/src/svg/Facebook.svg
  libs/ui/packages/icons/src/svg/Information-fill.svg
  libs/ui/packages/icons/src/svg/Instagram.svg
  libs/ui/packages/icons/src/svg/Mail.svg
  libs/ui/packages/icons/src/svg/Minus-circle-fill.svg
  libs/ui/packages/icons/src/svg/Minus-circle.svg
  libs/ui/packages/icons/src/svg/Minus.svg
  libs/ui/packages/icons/src/svg/Pen-edit.svg
  libs/ui/packages/icons/src/svg/Plus-circle-fill.svg
  libs/ui/packages/icons/src/svg/Reddit.svg
  libs/ui/packages/icons/src/svg/Switch-2.svg
  libs/ui/packages/icons/src/svg/Switch.svg
  libs/ui/packages/icons/src/svg/Twitter.svg
  libs/ui/packages/icons/src/svg/Warning-Fill.svg
  libs/ui/packages/icons/src/svg/Youtube.svg
  libs/ui/packages/icons/src/svg/book-open.svg
  libs/ui/packages/icons/src/svg/checkmark-circle-fill.svg
  libs/ui/packages/icons/src/svg/coin-percent.svg
  libs/ui/packages/icons/src/svg/coins-cross.svg
  libs/ui/packages/icons/src/svg/database-lock.svg
  libs/ui/packages/icons/src/svg/duplicate.svg
  libs/ui/packages/icons/src/svg/github.svg
  libs/ui/packages/icons/src/svg/group-users-add.svg
  libs/ui/packages/icons/src/svg/group-users.svg
  libs/ui/packages/icons/src/svg/hand-coins.svg
  libs/ui/packages/icons/src/svg/hat-school.svg
  libs/ui/packages/icons/src/svg/id-card.svg
  libs/ui/packages/icons/src/svg/menu-burger.svg
  libs/ui/packages/icons/src/svg/piggy-bank.svg
  libs/ui/packages/icons/src/svg/printer.svg
  libs/ui/packages/icons/src/svg/share.svg
  libs/ui/packages/icons/src/svg/speed-fast.svg
  libs/ui/packages/icons/src/svg/speed-low.svg
  libs/ui/packages/icons/src/svg/speed-medium.svg
  libs/ui/packages/icons/src/svg/user-add.svg
  libs/ui/packages/icons/src/svg/user-delete.svg
  libs/ui/packages/icons/src/svg/user-lock.svg
Labels: ui

#5362 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-français-with-device-l10n-linux.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-français-with-device-l10n-win32.png
Labels: desktop, translations, screenshots

#5252 Bugfix/recover onboarding device compat
  .changeset/calm-lizards-accept.md
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectUseCase/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/useCaseSelection.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/featureFlags/helper.tsx
  libs/ledger-live-common/src/featureFlags/index.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs

#5347 chore: fix generate-bot-super-report tool
  pnpm-lock.yaml
  tools/actions/generate-bot-super-report/build/main.js
  tools/actions/generate-bot-super-report/logic.ts
  tools/actions/generate-bot-super-report/package.json
  tools/actions/generate-bot-super-report/tsconfig.json
Labels: tools

#5374 [SUPPORT]: TransferDrawer modifications on Swap/buy popular tag and remove entry for WalletConnect
  .changeset/bright-mirrors-protect.md
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
Labels: mobile

#5225 [Polkadot] Can only nominate only if account has minimum bounded DOT
  .changeset/nasty-ducks-arrive.md
  .changeset/small-zebras-work.md
  .changeset/thirty-jars-sing.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/families/polkadot.spec.ts-snapshots/nominate-modal-dot-nominator-row-darwin.png
  apps/ledger-live-desktop/tests/specs/families/polkadot.spec.ts-snapshots/nominate-modal-dot-nominator-row-linux.png
  apps/ledger-live-desktop/tests/specs/families/polkadot.spec.ts-snapshots/nominate-modal-dot-nominator-row-win32.png
  apps/ledger-live-desktop/tests/userdata/1AccountDOT.json
  apps/ledger-live-mobile/src/families/polkadot/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/coin-polkadot/src/logic.ts
  pnpm-lock.yaml
Labels: desktop, mobile, translations, screenshots

#5376 fix: platform dependent padding on earn ptx webview
  .changeset/violet-days-beg.md
  apps/ledger-live-mobile/src/screens/PTX/Earn/index.tsx
Labels: mobile

#5355 [LLD] - [LIVE-10013] - Pixel polish on Stax Post Onboarding Hub
  .changeset/sixty-jars-think.md
  apps/ledger-live-desktop/src/renderer/components/ButtonV3.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingHubContent.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/models/PostOnboarding.ts
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-006-postonboarding-completed-all-actions-darwin.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-006-postonboarding-completed-all-actions-linux.png
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-006-postonboarding-completed-all-actions-win32.png
Labels: desktop, translations, screenshots

#5336 Feat/add swap web app button
  .changeset/thick-pumas-do.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
Labels: desktop

#5386 chore: refine pull_request_template.md
  .github/pull_request_template.md
Labels: automation

#5392 Bugfix/fix wrong param format swap
  .changeset/grumpy-pillows-think.md
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchRates.ts
Labels: common

#5161 [SUPPORT] : Various Deeplinks improvements
  .changeset/tough-plants-call.md
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.ts
  apps/ledger-live-mobile/deep-links-test-page.html
Labels: desktop, mobile

#5292 [LIVE-9736] Feature: Add Lukso currency
  .changeset/fair-houses-vanish.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/coin-evm/src/specs.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/data/icons/svg/LYX.svg
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/crypto-icons/src/svg/LYX.svg
Labels: desktop, mobile, common, ui, ledgerjs, cli

#5400 Bugfix: LLD uses Overridden Manifests
  .changeset/orange-elephants-sleep.md
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/index.tsx
Labels: common

#5351 [LLD] - [LIVE-10014] - Pixel polish on Stax update lock screen image
  .changeset/chilly-wombats-teach.md
  apps/ledger-live-desktop/src/renderer/components/CustomImage/ImportButton.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/screens/customImage/index.tsx
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-019-transfer-load-requested-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-019-transfer-load-requested-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-019-transfer-load-requested-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-020-transfer-progress-000-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-020-transfer-progress-000-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-020-transfer-progress-000-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-021-transfer-progress-020-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-021-transfer-progress-020-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-021-transfer-progress-020-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-022-transfer-progress-050-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-022-transfer-progress-050-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-022-transfer-progress-050-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-023-transfer-progress-080-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-023-transfer-progress-080-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-023-transfer-progress-080-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-024-transfer-progress-100-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-024-transfer-progress-100-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-024-transfer-progress-100-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-025-transfer-commit-requested-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-025-transfer-commit-requested-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-025-transfer-commit-requested-win32.png
Labels: desktop, screenshots

#5070 [SUPPORT]: Remove walletConnectLiveApp FeatureFlag in LL
  .changeset/sharp-birds-pay.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/WalletConnectLiveAppNavigator.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#5367 feat: make searchable manifests visible in categories
  .changeset/light-months-rush.md
  libs/ledger-live-common/src/wallet-api/react.ts
Labels: common

#5406 Revert "Bugfix: LLD uses Overridden Manifests"
  .changeset/orange-elephants-sleep.md
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/index.tsx
Labels: bug, common

#5391 LIVE-10046 Fix invalid address message wording
  .changeset/lucky-hairs-behave.md
  libs/ledger-live-common/src/families/algorand/bridge/mock.ts
  libs/ledger-live-common/src/families/crypto_org/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/internet_computer/bridge/account.ts
  libs/ledger-live-common/src/families/near/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/solana/js-prepareTransaction.ts
  libs/ledger-live-common/src/families/stacks/bridge/account.ts
  libs/ledger-live-common/src/families/stellar/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/tron/bridge/js.ts
Labels: common

#5334 Chore(LIVE-8701): Adding logs to FirmwareUpdate component
  .changeset/loud-bobcats-play.md
  apps/ledger-live-desktop/src/renderer/screens/manager/FirmwareUpdate/index.tsx
Labels: desktop

#5390 [B2CQA-2056] Various E2E Mobile tests improvements
  .github/workflows/test-mobile-e2e.yml
  apps/ledger-live-mobile/detox.config.js
  apps/ledger-live-mobile/e2e/bridge/server.ts
  apps/ledger-live-mobile/e2e/specs/market.spec.ts
  apps/ledger-live-mobile/package.json
  package.json
  patches/detox@20.13.5.patch
  pnpm-lock.yaml
  tools/scripts/wait_emulator_idle.sh
Labels: mobile, tools, automation

#4987 [feat/LIVE-8381]: add 10s timeout on estimate gas calls for
  .changeset/silver-lamps-warn.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/coin-evm/src/__tests__/unit/api/node/ledger.unit.test.ts
  libs/coin-evm/src/api/node/ledger.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: desktop, mobile, common, ledgerjs, translations

#5375 Bugfix/LIVE-8007 - LLD - Allow text to break in onboarding link
  .changeset/real-berries-suffer.md
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Help/RecoverySeed.tsx
Labels: desktop

#5366 [LIVE-8781][LLD][Stax ESC] Wrong drawer displayed when Stax is disconnection
  .changeset/violet-bulldogs-pull.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
Labels: desktop

#5387 [BUGFIX] : Wallet Connect CTA was displayed in the Earn section on supported account page, now it's on the Asset & Account header page when supported
  .changeset/giant-stingrays-train.md
  .changeset/many-ravens-rhyme.md
  apps/ledger-live-desktop/src/renderer/screens/account/AccountHeaderActions.tsx
  apps/ledger-live-mobile/src/components/CurrencyHeaderLayout.tsx
  apps/ledger-live-mobile/src/screens/Account/AccountHeader.tsx
  apps/ledger-live-mobile/src/screens/Account/AccountHeaderLeft.tsx
  apps/ledger-live-mobile/src/screens/Account/AccountHeaderRight.tsx
  apps/ledger-live-mobile/src/screens/Account/hooks/useAccountActions.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/Header.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/WalletConnectHeader.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/hooks/useWalletConnectAction.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/walletConnect/index.ts
Labels: desktop, mobile, common

#5332 [SUPPORT] Fix Language displayed in AppStore and Loacalize Info.plist 🌐
  .changeset/fast-forks-serve.md
  apps/ledger-live-mobile/ios/ar.lproj/InfoPlist.strings
  apps/ledger-live-mobile/ios/de.lproj/InfoPlist.strings
  apps/ledger-live-mobile/ios/en.lproj/InfoPlist.strings
  apps/ledger-live-mobile/ios/es.lproj/InfoPlist.strings
  apps/ledger-live-mobile/ios/fr.lproj/InfoPlist.strings
  apps/ledger-live-mobile/ios/ja.lproj/InfoPlist.strings
  apps/ledger-live-mobile/ios/ko.lproj/InfoPlist.strings
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/ios/pt-BR.lproj/InfoPlist.strings
  apps/ledger-live-mobile/ios/ru.lproj/InfoPlist.strings
  apps/ledger-live-mobile/ios/tr.lproj/InfoPlist.strings
  apps/ledger-live-mobile/ios/zh.lproj/InfoPlist.strings
Labels: mobile

#5414 Support/desktop build checks typo fix
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  pnpm-lock.yaml
  tools/actions/desktop-build-checks/build/main.js
  tools/actions/desktop-build-checks/package.json
  tools/actions/desktop-build-checks/src/logic.ts
Labels: mobile, tools

#5304 [Test] test release job to import CAL tokens when creating a new release
  .github/workflows/test-release-create.yml
  apps/ledger-live-desktop/.unimportedrc.json
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/generate-cryptoassets-md.test.ts
  apps/ledger-live-desktop/src/generate-cryptoassets-md.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/bep20.json
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20.json
  package.json
  pnpm-lock.yaml
Labels: desktop, common, ledgerjs, automation

#5413 LIVE-10155/Chore: mocking RxJS timer in unit tests
  .changeset/cool-lemons-develop.md
  libs/ledger-live-common/src/deviceSDK/tasks/core.test.ts
Labels: common

#5408 fix: fix exchangeComplete flow
  apps/ledger-live-desktop/src/renderer/actions/UI.ts
  apps/ledger-live-desktop/src/renderer/components/LiveAppDrawer.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/BodyContent.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Drawer.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/ModalBody.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/index.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/PlatformExchangeNavigator.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/PlatformAPIWebview.tsx
  libs/ledger-live-common/src/exchange/platform/types.ts
  libs/ledger-live-common/src/exchange/swap/webApp/utils.ts
  libs/ledger-live-common/src/hw/actions/completeExchange.ts
  libs/ledger-live-common/src/platform/logic.test.ts
  libs/ledger-live-common/src/platform/logic.ts
  libs/ledger-live-common/src/wallet-api/logic.ts
Labels: desktop, mobile, common

#5434 test(playwright): screenshot fixes
  apps/ledger-live-desktop/tests/README.md
  apps/ledger-live-desktop/tests/playwright.config.ts
  apps/ledger-live-desktop/tests/specs/general/keyboard-shortcuts.spec.ts
  apps/ledger-live-desktop/tests/specs/onboarding/connect-device.spec.ts
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-device-selection-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-restore-tutorial/recovery-phrase-5-darwin.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-restore-tutorial/recovery-phrase-5-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-restore-tutorial/recovery-phrase-5-win32.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/recovery-phrase-5-nanoS-darwin.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/recovery-phrase-5-nanoS-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/recovery-phrase-5-nanoS-win32.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/recovery-phrase-5-nanoSP-darwin.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/recovery-phrase-5-nanoSP-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/recovery-phrase-5-nanoSP-win32.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/recovery-phrase-5-nanoX-darwin.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/recovery-phrase-5-nanoX-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-setup-new-device/recovery-phrase-5-nanoX-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts
Labels: desktop, screenshots

#5421 chore: update Electron to 27.0.4
  .changeset/khaki-clocks-tap.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/tests/utils/waitFor.ts
  pnpm-lock.yaml
Labels: desktop

#5433 test(playwright): remove useless operationList.waitFor()
  apps/ledger-live-desktop/tests/models/AccountPage.ts
Labels: desktop

#5359 Move broadcast hook to live-common
  .changeset/spicy-days-deliver.md
  apps/ledger-live-desktop/src/renderer/hooks/useBroadcast.ts
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/GenericStepConnectDevice.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/ExchangeDrawer/SwapAction.tsx
  apps/ledger-live-mobile/src/screens/Platform/exchange/CompleteExchange.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/Confirmation.tsx
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/hooks/useBroadcast.ts
Labels: desktop, mobile, common

#5445 chore: Remove desktop useEnv hooks
  .changeset/many-peaches-explain.md
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SelectCurrency.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/ErrorDrawer.tsx
  apps/ledger-live-desktop/src/renderer/families/bitcoin/FullNode/FullNodeBody.tsx
  apps/ledger-live-desktop/src/renderer/families/bitcoin/FullNode/index.tsx
  apps/ledger-live-desktop/src/renderer/families/bitcoin/FullNode/steps/StepNode/Form.tsx
  apps/ledger-live-desktop/src/renderer/families/bitcoin/FullNode/steps/StepNode/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useEnv.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/FullNodeStatus.tsx
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountSyncStatusIndicator.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/ProviderWarning.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/FullNodeButton.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/FullNodeStatus.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Experimental/index.tsx
  libs/ledger-live-common/src/hooks/useEnv.ts
Labels: desktop, common

#5448 [SUPPORT][LIVE-10148] remove unnecessary screenshot comparaison assertion
  apps/ledger-live-desktop/tests/specs/families/ethereum.spec.ts
  apps/ledger-live-desktop/tests/specs/families/ethereum.spec.ts-snapshots/send-modal-eth-max-network-fees-2-darwin.png
  apps/ledger-live-desktop/tests/specs/families/ethereum.spec.ts-snapshots/send-modal-eth-max-network-fees-2-linux.png
  apps/ledger-live-desktop/tests/specs/families/ethereum.spec.ts-snapshots/send-modal-eth-max-network-fees-2-win32.png
  apps/ledger-live-desktop/tests/specs/families/ethereum.spec.ts-snapshots/send-modal-eth-max-network-fees-darwin.png
  apps/ledger-live-desktop/tests/specs/families/ethereum.spec.ts-snapshots/send-modal-eth-max-network-fees-linux.png
  apps/ledger-live-desktop/tests/specs/families/ethereum.spec.ts-snapshots/send-modal-eth-max-network-fees-win32.png
Labels: desktop, screenshots

#5117 LIVE-9603 Various CI Improvements
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile-e2e.yml
Labels: automation

#5461 chore: pnpm build:actions
  .pnpmfile.cjs
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  pnpm-lock.yaml
  tools/actions/desktop-build-checks/build/main.js
  tools/actions/desktop-build-checks/package.json
  tools/actions/get-workflow-artifacts-id/build/main.js
  tools/actions/turborepo-gh-cache/build/server.js
  tools/actions/turborepo-s3-cache/build/server.js
Labels: mobile, tools

#5452 test(playwright): LIVE-10122 settings/localization device logic
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/DeviceLanguageInstallation.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/ChangeDeviceLanguagePromptDrawer.tsx
  apps/ledger-live-desktop/tests/models/SettingsPage.ts
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-français-with-device-l10n-darwin.png
Labels: desktop, screenshots

#5429 [BUGFIX] : Accounts view: Range and Sort by were reversed 🐛
  .changeset/cyan-balloons-sleep.md
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountList/DisplayOptions.tsx
Labels: desktop

#5419 chore(desktop-build-checks): annotate commit hashes of what is compared
  pnpm-lock.yaml
  tools/actions/desktop-build-checks/build/main.js
  tools/actions/desktop-build-checks/src/logic.ts
  tools/actions/desktop-build-checks/src/main.ts
Labels: tools

#5469 [BUGFIX][LIVE-10206] App crash on LLM when viewing non evm operations details
  apps/ledger-live-mobile/src/screens/OperationDetails/Content.tsx
Labels: mobile

#5144 chore: update Sentry libraries
  apps/ledger-live-desktop/package.json
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Labels: desktop, mobile

#5149 [LIVE-8424] After the ESC is successful, when tapping the button “Continue to setup”, there’s a 1-second delay
  .changeset/khaki-rules-act.md
  apps/ledger-live-mobile/src/components/OnePressCta.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/EarlySecurityCheckBody.tsx
Labels: mobile

#5464 feat(ReactUI, IconUI, Icons): Adding documentation on how to update icons from design sources
  .changeset/tall-spoons-swim.md
  libs/ui/packages/native/storybook/stories/Icon/icons.stories.tsx
  libs/ui/packages/react/src/components/asorted/Icon/Icons.stories.tsx
Labels: ui

#5417 Feat: DEX live app save history
  .changeset/purple-dolphins-provide.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
Labels: desktop

#5466 bugfix(recover): fix custom uri hook
  .changeset/lovely-hotels-wink.md
  libs/ledger-live-common/src/hooks/recoverFeatureFlag.ts
Labels: common

#5473 LLM - Fixed unresponsive export logs on android 14
  .changeset/heavy-mails-grow.md
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Labels: mobile

#5316 fix(drawer): close drawer when arriving on auth screen
  .changeset/itchy-islands-marry.md
  apps/ledger-live-mobile/src/components/QueuedDrawer.tsx
  apps/ledger-live-mobile/src/context/AuthPass/index.tsx
Labels: mobile

#5478 LLM - Fix unresponsive export logs
  .changeset/heavy-mails-grow.md
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Labels: mobile

#5470 test(BridgeSync): add a test that confirm LIVE-3221 is already fixed
  libs/ledger-live-common/src/bridge/react/BridgeSync.test.tsx
Labels: common

#5467 chore: improve automatic release/hotfix flow
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare.yml
Labels: automation

#5479 ignore token if parentCurrency not supported in live
  .changeset/wicked-ghosts-smile.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/spl/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/25/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/25/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/spl.json
  libs/ledgerjs/packages/cryptoassets/src/tokens.test.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
Labels: desktop, ledgerjs

#5468 [CAL importers] Test the json file name fetched in the CDN
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/asa/asa.test.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/bep20/bep20.test.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/cardanoNative/cardanoNative.test.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/eip712/eip712.test.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/erc20/erc20.test.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/esdt/esdt.test.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/polygon/polygon.test.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/spl/index.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/spl/spl.test.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/stellar/stellar.test.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/trc20/trc20.test.ts
Labels: ledgerjs

#4710 LIVE-9378: add Sonarqube LLC integration
  .changeset/serious-eagles-behave.md
  .github/workflows/test.yml
  libs/ledger-live-common/sonar-project.properties
Labels: common, automation

#4794 [B2CQA] LLM Receive Detox Tests
  apps/ledger-live-mobile/e2e/models/accounts/accountAssetPage.ts
  apps/ledger-live-mobile/e2e/models/accounts/accountPage.ts
  apps/ledger-live-mobile/e2e/models/common.ts
  apps/ledger-live-mobile/e2e/models/receive.ts
  apps/ledger-live-mobile/e2e/models/trade/receivePage.ts
  apps/ledger-live-mobile/e2e/models/wallet/portfolioPage.ts
  apps/ledger-live-mobile/e2e/setups/EthAccountXrpAccountReadOnlyFalse.json
  apps/ledger-live-mobile/e2e/specs/addAccounts/bitcoin.spec.ts
  apps/ledger-live-mobile/e2e/specs/deeplinks.spec.ts
  apps/ledger-live-mobile/e2e/specs/market.spec.ts
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/e2e/specs/receive/bitcoin.spec.ts
  apps/ledger-live-mobile/e2e/specs/receive/receiveFlow.spec.ts
  apps/ledger-live-mobile/src/components/AccountCard.tsx
  apps/ledger-live-mobile/src/components/BigCurrencyRow.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03b-VerifyAddress.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/ConfirmationHeaderTitle.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/ReceiveSecurityModal/ConfirmUnverified.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/ReceiveSecurityModal/InitMessage.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/ReceiveSecurityModal/index.tsx
Labels: mobile

#5482 [BUGFIX] use DEFAULT_NONCE when wallet-api evm tx nonce not provided
  .changeset/angry-bulldogs-dress.md
  libs/ledger-live-common/src/families/evm/platformAdapter.test.ts
  libs/ledger-live-common/src/families/evm/platformAdapter.ts
  libs/ledger-live-common/src/families/evm/walletApiAdapter.test.ts
  libs/ledger-live-common/src/families/evm/walletApiAdapter.ts
Labels: common

#5477 Ignore when parentCurrency is not supported during addTokens
  .changeset/eleven-pants-cheat.md
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  libs/coin-evm/src/__tests__/unit/synchronization.unit.test.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/README.md
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/evm/index.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/cryptoassets/src/data/bep20.json
  libs/ledgerjs/packages/cryptoassets/src/data/eip712.json
  libs/ledgerjs/packages/cryptoassets/src/data/eip712.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/25/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/25/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/spl.json
  libs/ledgerjs/packages/cryptoassets/src/tokens.test.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
Labels: desktop, mobile, common, ledgerjs

#5485 test: fix live-app flaky test [LIVE-10145]
  apps/ledger-live-desktop/index-types.d.ts
  apps/ledger-live-desktop/src/renderer/modals/ExchangeDeviceConfirm/index.tsx
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts
Labels: desktop

#5491 chore: link to doc to manage duplicates
  tools/actions/desktop-build-checks/build/main.js
  tools/actions/desktop-build-checks/src/main.ts
Labels: tools

#4918 chore: disable playwright retries set up
  apps/ledger-live-desktop/tests/playwright.config.ts
Labels: desktop

#5365 fix(onboarding): update Stax onboarding UI
  .changeset/warm-peaches-shake.md
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/DefaultAppsIllustration.tsx
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/InstallSetOfApps.tsx
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SyncOnboardingCompanion.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/OnboardingAppInstallDebug.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts-snapshots/live-app-verify-address-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-drawer-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-drawer-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-drawer-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-reseted-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-reseted-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-reseted-win32.png
  libs/ui/packages/react/src/components/layout/List/VerticalTimeline/TimelineItem.tsx
  libs/ui/packages/react/src/components/layout/List/VerticalTimeline/index.tsx
Labels: desktop, ui, translations, screenshots

#5314 LLM - Update braze package from 1.39 to 8.0
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.mm
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/dynamicContent/brazeContentCard.ts
  apps/ledger-live-mobile/src/dynamicContent/dynamicContent.tsx
  apps/ledger-live-mobile/src/logic/notifications.tsx
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/notifications/braze.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  pnpm-lock.yaml
Labels: mobile

#5511 fix: earn app not found earn live-9844
  .changeset/real-rockets-join.md
  apps/ledger-live-mobile/src/screens/PTX/Earn/index.tsx
Labels: mobile

#5486 Bugfix/live 10201 pairing secure channel
  .changeset/metal-lamps-explain.md
  apps/ledger-live-mobile/src/screens/PairDevices/RenderError.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/index.tsx
  libs/ledger-live-common/src/apps/listApps/v1.ts
  libs/ledger-live-common/src/apps/listApps/v2.ts
  libs/ledger-live-common/src/hw/getDeviceName.test.ts
  libs/ledger-live-common/src/hw/getDeviceName.ts
Labels: mobile, common

#5422 Improving release-create job
  .github/workflows/release-create.yml
  .github/workflows/test-release-create.yml
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  libs/ledgerjs/package.json
  libs/ledgerjs/packages/cryptoassets/package.json
  package.json
  pnpm-lock.yaml
Labels: mobile, ledgerjs, automation

#5519 Bugfix/live 10230
  .changeset/funny-cobras-call.md
  libs/ledger-live-common/src/exchange/swap/hooks/usePageState.ts
  libs/ledger-live-common/src/exchange/swap/hooks/usePickDefaultAccount.ts
Labels: common

#5523 Bugfix/live 10230 (#5519)
  .changeset/funny-cobras-call.md
  libs/ledger-live-common/src/exchange/swap/hooks/usePageState.ts
  libs/ledger-live-common/src/exchange/swap/hooks/usePickDefaultAccount.ts
Labels: common

#5528 [BUGFIX]: Wording changed in Deposit/receive flow final step
  .changeset/eighty-berries-fly.md
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#5529 [BUGFIX]: Wording changed in Deposit/receive flow final step
  .changeset/eighty-berries-fly.md
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#5472 chore(lld+llm): optimize usages of currencies.filter(c => ids.includes(c.id)) patterns
  .changeset/wild-days-build.md
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
Labels: desktop, mobile

#5446 feature: improve marketcap sorting using v3 cvs api
  .changeset/twenty-shoes-hang.md
  apps/cli/src/commands/countervalues.ts
  apps/ledger-live-desktop/src/renderer/components/SelectCurrency.tsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/SelectAccountAndCurrencyDrawer.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FromRow.tsx
  apps/ledger-live-mobile/src/screens/Accounts/ReadOnly/ReadOnlyAccounts.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnlyAssets.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectNetwork.tsx
  apps/ledger-live-mobile/src/screens/RequestAccount/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectCurrency.tsx
  apps/web-tools/repl/components/fields/CryptoCurrencySelect.tsx
  apps/web-tools/repl/components/fields/TokenSelect.tsx
  libs/ledger-live-common/src/__tests__/currencies.ts
  libs/ledger-live-common/src/countervalues/api/api.mock.ts
  libs/ledger-live-common/src/countervalues/api/api.ts
  libs/ledger-live-common/src/countervalues/api/index.ts
  libs/ledger-live-common/src/countervalues/logic.ts
  libs/ledger-live-common/src/countervalues/mock.test.ts
  libs/ledger-live-common/src/countervalues/modules/index.ts
  libs/ledger-live-common/src/countervalues/modules/types.ts
  libs/ledger-live-common/src/countervalues/types.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/currencies/cryptoIcons.ts
  libs/ledger-live-common/src/currencies/hooks.ts
  libs/ledger-live-common/src/currencies/index.ts
  libs/ledger-live-common/src/currencies/mock.ts
  libs/ledger-live-common/src/currencies/sortByMarketcap.test.ts
  libs/ledger-live-common/src/currencies/sortByMarketcap.ts
  libs/ledger-live-common/src/exchange/swap/hooks/usePickDefaultAccount.ts
  libs/ledgerjs/packages/cryptoassets/README.md
  libs/ledgerjs/packages/cryptoassets/src/currencies.test.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
Labels: desktop, mobile, common, ledgerjs, HODL, cli

#5460 [feat/LIVE-9350]: add redirect url to params of live app
  .changeset/stupid-zoos-whisper.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/LiveApp.tsx
Labels: desktop

#5527 [BUGFIX][DEVELOP] use DEFAULT_NONCE when wallet-api evm tx nonce not provided
  libs/ledger-live-common/src/families/evm/platformAdapter.test.ts
  libs/ledger-live-common/src/families/evm/platformAdapter.ts
  libs/ledger-live-common/src/families/evm/walletApiAdapter.test.ts
  libs/ledger-live-common/src/families/evm/walletApiAdapter.ts
Labels: common

#5432 LIVE-10162/Chore: refactoring TransportStatusError
  .changeset/hot-birds-hug.md
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/useUpdateFirmwareAndRestoreSettings.ts
  libs/ledger-live-common/src/deviceSDK/commands/firmwareUpdate/installFirmware.ts
  libs/ledger-live-common/src/deviceSDK/commands/toggleOnboardingEarlyCheck.test.ts
  libs/ledger-live-common/src/deviceSDK/tasks/core.ts
  libs/ledger-live-common/src/deviceSDK/tasks/toggleOnboardingEarlyCheck.ts
  libs/ledger-live-common/src/deviceSDK/transports/core.ts
  libs/ledger-live-common/src/exchange/platform/transfer/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
  libs/ledger-live-common/src/hw/actions/transaction.ts
  libs/ledger-live-common/src/hw/connectApp.ts
  libs/ledger-live-common/src/hw/connectManager.ts
  libs/ledger-live-common/src/hw/deviceAccess.ts
  libs/ledger-live-common/src/hw/getDeviceInfo.ts
  libs/ledger-live-common/src/hw/installLanguage.ts
  libs/ledger-live-common/src/hw/staxFetchImage.ts
  libs/ledger-live-common/src/hw/staxLoadImage.ts
  libs/ledger-live-common/src/hw/uninstallLanguage.ts
  libs/ledger-live-common/src/manager/api.ts
  libs/ledgerjs/packages/errors/README.md
  libs/ledgerjs/packages/errors/src/index.test.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: mobile, common, ledgerjs

#5458 feat(LLM/LLC/PostOnboarding): Post onboarding items
  .changeset/bright-seals-drive.md
  apps/ledger-live-mobile/src/components/NavigationHeaderCloseButton.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/postOnboarding/actions.ts
  apps/ledger-live-mobile/src/logic/postOnboarding/index.tsx
  libs/ledger-live-common/src/postOnboarding/hooks/useAllPostOnboardingActionsCompleted.test.ts
  libs/ledger-live-common/src/postOnboarding/hooks/usePostOnboardingHubState.test.ts
  libs/ledger-live-common/src/postOnboarding/hooks/usePostOnboardingHubState.ts
  libs/ledger-live-common/src/postOnboarding/reducer.test.ts
  libs/ledger-live-common/src/postOnboarding/reducer.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/postOnboarding.ts
Labels: mobile, common, ledgerjs, translations

#5522 feat(live-9396): recover llm banner subscription notification portfolio
  .changeset/big-seahorses-mate.md
  apps/ledger-live-mobile/src/components/RecoverBanner/index.tsx
  apps/ledger-live-mobile/src/components/RecoverBanner/types.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/store.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/hooks/recoverFeatureFlag.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs, translations

#5539 fix: move swap-web-app cacheKey from input to hash
  .changeset/funny-terms-collect.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#5538 [BUGFIX] Text in Settings > Notifications was not legible in Light mode
  .changeset/tasty-cobras-suffer.md
  apps/ledger-live-mobile/src/screens/Settings/Notifications/index.tsx
Labels: mobile

#5438 LIVE-10155/Chore: refactoring deprecated retryWhen
  .changeset/ten-cheetahs-allow.md
  libs/ledger-live-common/src/deviceSDK/actions/getLatestAvailableFirmware.test.ts
  libs/ledger-live-common/src/deviceSDK/tasks/core.test.ts
  libs/ledger-live-common/src/deviceSDK/tasks/core.ts
Labels: common

#5490 [SUPPORT] use currencies createTransaction in walletApiAdapter
  .changeset/gentle-cups-remember.md
  libs/ledger-live-common/jest.config.ts
  libs/ledger-live-common/src/families/bitcoin/walletApiAdapter.test.ts
  libs/ledger-live-common/src/families/bitcoin/walletApiAdapter.ts
  libs/ledger-live-common/src/families/evm/walletApiAdapter.test.ts
  libs/ledger-live-common/src/families/evm/walletApiAdapter.ts
  libs/ledger-live-common/src/families/polkadot/walletApiAdapter.test.ts
  libs/ledger-live-common/src/families/polkadot/walletApiAdapter.ts
  libs/ledger-live-common/src/families/ripple/walletApiAdapter.test.ts
  libs/ledger-live-common/src/families/ripple/walletApiAdapter.ts
  libs/ledger-live-common/src/wallet-api/converters.test.ts
  libs/ledger-live-common/src/wallet-api/converters.ts
  libs/ledger-live-common/src/wallet-api/logic.ts
  libs/ledger-live-common/src/wallet-api/types.ts
Labels: common

#5112 [support] Update polkadot dependencies
  .changeset/blue-frogs-yell.md
  .changeset/young-rice-boil.md
  apps/cli/scripts/test.mjs
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/families/polkadot/ManageModal.tsx
  apps/ledger-live-desktop/src/renderer/families/polkadot/Nomination/Row.tsx
  apps/ledger-live-desktop/src/renderer/families/polkadot/NominationFlowModal/fields/ValidatorRow.tsx
  apps/ledger-live-mobile/babel.config.js
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/families/polkadot/NominateFlow/01-Validators.tsx
  apps/ledger-live-mobile/src/families/polkadot/NominateFlow/ValidatorItem.tsx
  apps/ledger-live-mobile/src/families/polkadot/Nominations/NominationRow.tsx
  apps/ledger-live-mobile/src/families/polkadot/Nominations/index.tsx
  libs/coin-framework/src/bot/specs.ts
  libs/coin-polkadot/package.json
  libs/coin-polkadot/src/types.ts
  pnpm-lock.yaml
Labels: desktop, mobile, cli

#5544 feat(LLD): add nanoSP support in recover restore [PROTECT-1990]
  .changeset/honest-schools-rule.md
  apps/ledger-live-desktop/src/renderer/components/RecoverRestore/index.tsx
  apps/ledger-live-desktop/tests/specs/recover/recover.spec.ts
Labels: desktop

#5537 chore: lighter countervalues integration tests
  libs/ledger-live-common/src/countervalues/logic.integration.test.ts
Labels: common

#5533 chore(lld): fix some TS errors
  apps/ledger-live-desktop/src/main/index.ts
  apps/ledger-live-desktop/src/main/internal-lifecycle.ts
  apps/ledger-live-desktop/src/main/menu.ts
  apps/ledger-live-desktop/src/renderer/components/Delegation/ValidatorRow.tsx
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
  apps/ledger-live-desktop/src/renderer/components/ModalQuizz/ModalQuizz.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/LangSwitcher.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/GenuineCheck.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/ClaimRewardsFlowModal/steps/StepClaimRewards.tsx
  apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/ProtectDiscoverBody.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/index.tsx
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, ledgerjs

#5542 [SUPPORT] update cryptoassets.md
  apps/ledger-live-desktop/cryptoassets.md
Labels: desktop

#5500 Create PEAR.svg
  libs/ui/packages/crypto-icons/src/svg/PEAR.svg
Labels: ui, fork

#5535 chore: remove extra checkout-merge config
  .github/workflow-templates/bot-coin-family.yml
  .github/workflows/backup/sync.yml
  .github/workflows/backup/version-or-release.yml
  .github/workflows/bot-nonreg-nitrogen.yml
  .github/workflows/bot-nonreg-oxygen.yml
  .github/workflows/bot-portfolio-report.yml
  .github/workflows/bot-staging-explorer-btc.yml
  .github/workflows/bot-staging-explorer-eth.yml
  .github/workflows/bot-super-report-custom.yml
  .github/workflows/bot-super-report.yml
  .github/workflows/bot-testing-carbon.yml
  .github/workflows/bot-testing-mere-denis.yml
  .github/workflows/bot-testing-mooncake.yml
  .github/workflows/bot-testing-nitrogen.yml
  .github/workflows/bot-testing-oxygen.yml
  .github/workflows/bot-testing-phosphore.yml
  .github/workflows/bot-testing-silicium.yml
  .github/workflows/bot-transfer.yml
  .github/workflows/build-desktop-external.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile-external.yml
  .github/workflows/build-mobile.yml
  .github/workflows/cal-importer-stg.yml
  .github/workflows/cal-importer.yml
  .github/workflows/commitlint.yml
  .github/workflows/gate.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/healthchecks-runners.yaml
  .github/workflows/notify-prerelease-translations.yml
  .github/workflows/regen-doc.yml
  .github/workflows/regen-pods.yml
  .github/workflows/release-create-hotfix.yml
  .github/workflows/release-create.yml
  .github/workflows/release-final-nightly.yml
  .github/workflows/release-final.yml
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release-prerelease.yml
  .github/workflows/renovate.yml
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-integration-pr.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-mobile-e2e.yml
  .github/workflows/test-mobile.yml
  .github/workflows/test.yml
  tools/actions/composites/checkout-merge/action.yml
  tools/github-bot/src/features/orchestrator/const.ts
  tools/github-bot/src/features/orchestrator/index.ts
Labels: tools, automation

#5499 Create HILO.svg
  libs/ui/packages/crypto-icons/src/svg/HILO.svg
Labels: ui, fork

#5404 Support/add BEN erc20 token icon
  libs/ui/packages/crypto-icons/src/svg/BEN.svg
Labels: ui, fork

#5550 fix(lld): fix auto update to not have a "Download update" button
  .changeset/eight-candles-turn.md
  apps/ledger-live-desktop/src/main/updater/index.ts
  apps/ledger-live-desktop/src/main/updater/init.ts
  apps/ledger-live-desktop/src/renderer/components/Updater/Banner.tsx
  apps/ledger-live-desktop/src/renderer/components/Updater/UpdaterContext.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-update-available-darwin.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-update-available-linux.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-update-available-win32.png
Labels: desktop, translations, screenshots

#5567 [B2CQA-2075] Fix iOS E2E Tests
  .github/workflows/test-mobile-e2e.yml
Labels: automation

#4801 [bugfix] Remove legacy hack for fees of Decred / Qtum / Viacoin
  .changeset/flat-cherries-hide.md
  libs/ledger-live-common/src/errors.ts
  libs/ledger-live-common/src/families/bitcoin/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/bitcoin/getAccountNetworkInfo.ts
  libs/ledger-live-common/src/families/bitcoin/specs.ts
  libs/ledger-live-common/src/families/bitcoin/types.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/wallet.explorer.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/wallet.explorer.unit.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/explorer/index.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/explorer/types.ts
Labels: common

#5560 feat(protect-2812): update design & copy card on llm lld
  .changeset/rotten-flies-dress.md
  .changeset/six-panthers-bow.md
  apps/ledger-live-desktop/src/renderer/components/RecoverBanner/RecoverBanner.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/RecoverBanner/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#5517 [LLD] - [LIVE-10093] - Add isNew to ProtectServicesDesktop and rename "Ledger Recover" to "[L] Recover"
  .changeset/violet-mails-unite.md
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs, translations

#5549 [LIVE-10135] [CI] - [LLM] - [Optimization] - Add Parallelization For Jest and Detox
  .github/workflows/regen-pods.yml
  .github/workflows/test-mobile-e2e.yml
  apps/ledger-live-mobile/e2e/jest.config.js
  apps/ledger-live-mobile/react-native.config.js
Labels: mobile, automation

#5501 fix(stax): update onboarding flow (firmware update)
  .changeset/eighty-pandas-eat.md
  apps/ledger-live-desktop/src/renderer/animations/common/confetti.json
  apps/ledger-live-desktop/src/renderer/animations/index.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/InstallSetOfApps.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/Body.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SyncOnboardingCompanion.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/Disclaimer.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/Installing.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/01-step-prepare.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-flash-mcu.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-updating.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/03-step-confirmation.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ui/packages/react/src/components/loaders/ProgressLoader/index.tsx
  libs/ui/packages/react/src/components/navigation/progress/Stepper/index.tsx
Labels: desktop, ui, translations

#5543 [FEATURE][LIVE-9788] rename Crypto.org to Cronos POS Chain
  .changeset/fair-needles-chew.md
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-mobile/src/utils/urls.tsx
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/env/src/env.ts
  libs/ledger-live-common/src/families/crypto_org/NOTES.md
  libs/ledger-live-common/src/families/crypto_org/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/crypto_org/account.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: desktop, mobile, common, ledgerjs

#5581 Bugfix/stake button
  apps/ledger-live-mobile/src/families/cardano/accountActions.tsx
Labels: mobile, fork

#5586 [BUGFIX][LLM] Avoid account scheme duplication in add account flow
  .changeset/plenty-waves-type.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/AddAccounts/03-Accounts.tsx
Labels: mobile, translations

#5590 chore(lld): improve webPreferences typing and document
  .changeset/little-laws-hang.md
  apps/ledger-live-desktop/src/main/window-lifecycle.ts
Labels: desktop

#5566 Fix: timeout when requested user to commit the loaded image on Stax
  .changeset/quiet-items-switch.md
  libs/ledger-live-common/src/hw/actions/implementations.ts
  libs/ledger-live-common/src/hw/actions/staxLoadImage.ts
Labels: common

#5602 [BUGFIX] : LLD was showing an error page : TypeError Cannot destructure property ‘Component’ of ‘n[Y]’ as it is undefined
  .changeset/cyan-students-visit.md
  apps/ledger-live-desktop/src/renderer/components/Carousel/index.tsx
Labels: desktop

#5594 fix(LLM/postOnboarding): Fixed post onboarding not properly closed causing it to reopen
  .changeset/serious-pans-battle.md
  apps/ledger-live-mobile/src/components/RootNavigator/PostOnboardingNavigator.tsx
  apps/ledger-live-mobile/src/logic/postOnboarding/useCompletePostOnboarding.ts
  apps/ledger-live-mobile/src/screens/PostOnboarding/PostOnboardingHub.tsx
  libs/ledger-live-common/src/postOnboarding/actions.ts
Labels: mobile, common

#5465 [Bugfix][LIVE-7044] Remove android channel notification
  .changeset/twelve-dryers-smile.md
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/BackgroundRunner.kt
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainApplication.java
Labels: mobile

#5572 fix(stax): loading multiple invalid pictures and going back will navigate on correct page
  .changeset/pretty-poems-lie.md
  apps/ledger-live-mobile/src/screens/CustomImage/ErrorScreen.tsx
Labels: mobile

#5547 feat(LLD) Post Onboarding New Items
  .changeset/poor-rats-repeat.md
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingActionRow.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/logic/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/types.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/postOnboarding.ts
Labels: desktop, ledgerjs, translations

#5591 [BUGFIX] : 2 X icons to close when scanning QR code on Send
  .changeset/nasty-needles-sell.md
  apps/ledger-live-mobile/src/components/CameraScreen/index.tsx
  apps/ledger-live-mobile/src/components/NavigationHeaderCloseButton.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ImportAccountsNavigator.tsx
  apps/ledger-live-mobile/src/components/Scanner.tsx
Labels: mobile

#5605 [FEAT] : Mask MyLedger device list when more than 3
  .changeset/two-moons-reflect.md
  apps/ledger-live-mobile/src/components/SelectDevice2/DeviceList.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#5548 fix cardano send max and spendable balance
  .changeset/sharp-pandas-dance.md
  apps/ledger-live-desktop/src/renderer/families/cardano/Delegation/Row.tsx
  libs/ledger-live-common/src/families/cardano/deviceTransactionConfig.ts
  libs/ledger-live-common/src/families/cardano/js-synchronisation.ts
  libs/ledger-live-common/src/families/cardano/js-synchronisation.unit.test.ts
Labels: desktop, common

#5412 [bugfix] Hedera explorer URLs should use consensus timestamp instead of tx hash
  .changeset/blue-parents-doubt.md
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.tsx
  apps/ledger-live-desktop/src/renderer/families/hedera/getTransactionExplorer.tsx
  apps/ledger-live-desktop/src/renderer/families/hedera/getTransactionExplorer.unit.test.tsx
  apps/ledger-live-desktop/src/renderer/families/hedera/index.ts
  apps/ledger-live-desktop/src/renderer/families/types.ts
  libs/ledger-live-common/src/families/hedera/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/hedera/api/mirror.ts
  libs/ledger-live-common/src/families/hedera/types.ts
Labels: desktop, common
