Repository LedgerHQ/ledger-live, pull requests merged in 2023-06, with the labels that each got.

#3528 feat/LIVE-7292 Improvements to the removal of CLS on Stax
  .changeset/cold-badgers-live.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/ErrorIcon.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/RemoveCustomImage.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/CustomImage/CustomImageBottomModal.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/GenericErrorView.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/hw/staxRemoveImage.test.ts
  libs/ledger-live-common/src/hw/staxRemoveImage.ts
Labels: desktop, mobile, common, translations

#3548 remove latest issue on stacks svg
  libs/ledger-live-common/src/data/icons/svg/STX.svg
Labels: common, fork

#3562 fix: restore common-tools and add test for it
  .github/workflows/test.yml
  tools/common-tools/src/demos/sync/live-common-setup.js
Labels: tools, automation

#3564 Bugfix/dyn cal revert on release
  .changeset/mighty-schools-trade.md
  apps/ledger-live-desktop/src/renderer/reducers/accounts.ts
  libs/ledgerjs/packages/cryptoassets/README.md
  libs/ledgerjs/packages/cryptoassets/src/tokens.test.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
Labels: desktop, ledgerjs

#3565 Revert "fix: allow to modify existing token in list (#3192)" on develop branch
  .changeset/shaggy-camels-design.md
  apps/ledger-live-desktop/src/renderer/reducers/accounts.ts
  libs/ledgerjs/packages/cryptoassets/README.md
  libs/ledgerjs/packages/cryptoassets/src/tokens.test.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
Labels: desktop, ledgerjs

#3559 [support] Silence crypto.org backend error on sentry
  apps/ledger-live-desktop/src/sentry/install.ts
  apps/ledger-live-mobile/index.js
Labels: desktop, mobile

#3569 chore: remove unused flow-bin and material-ui from tools
  pnpm-lock.yaml
  tools/common-tools/package.json
Labels: tools

#3545 fixed hex encoding issue on sign flow
  .changeset/silly-planes-develop.md
  libs/ledger-live-common/src/wallet-api/react.ts
Labels: common

#3519 test: NFT gallery hide and empty state Detox tests
  .changeset/eight-garlics-reflect.md
  apps/ledger-live-mobile/e2e/models/nft/nftViewerPage.ts
  apps/ledger-live-mobile/e2e/models/wallet/nftGalleryPage.ts
  apps/ledger-live-mobile/e2e/models/wallet/walletTabNavigator.ts
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftList.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/NftGalleryEmptyState.tsx
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
Labels: mobile

#3465 chore: fix ledger cli README instructions
  apps/ledger-live-mobile/README.md
Labels: mobile

#3580 LIVE-7689: update copy for eth staking providers
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-account-page-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-account-page-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-account-page-win32.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-portfolio-page-darwin.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-portfolio-page-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-portfolio-page-win32.png
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations, screenshots

#3400 fix: cosmos rewards value and memo
  .changeset/fresh-carrots-perform.md
  apps/ledger-live-desktop/src/renderer/families/cosmos/operationDetails.tsx
  apps/ledger-live-mobile/src/families/cosmos/operationDetails.tsx
  libs/ledger-live-common/src/families/cosmos/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.ts
  libs/ledger-live-common/src/families/cosmos/helpers.ts
  libs/ledger-live-common/src/families/cosmos/helpers.unit.test.ts
  libs/ledger-live-common/src/families/cosmos/js-synchronisation.ts
  libs/ledger-live-common/src/families/cosmos/js-synchronisation.unit.test.ts
  libs/ledger-live-common/src/families/cosmos/types.ts
Labels: desktop, mobile, common

#3483 use ledger currency id on Countervalues API usage
  .changeset/lucky-roses-develop.md
  apps/ledger-live-desktop/src/renderer/experimental.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/experimental-features-linux.png
  apps/ledger-live-desktop/tests/specs/services/cosmosStaking.spec.ts
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-experimental-page-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-experimental-page-linux.png
  apps/ledger-live-desktop/tests/userdata/cosmosStakingAccounts.json
  apps/ledger-live-mobile/src/components/Web3AppWebview/liveSDKLogic.test.ts
  apps/ledger-live-mobile/src/experimental.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/countervalues/api/api.legacy.ts
  libs/ledger-live-common/src/countervalues/api/api.ts
  libs/ledger-live-common/src/countervalues/helpers.ts
  libs/ledger-live-common/src/countervalues/logic.integration.test.ts
  libs/ledger-live-common/src/mock/fixtures/cryptoCurrencies.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.test.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
  libs/ledgerjs/packages/types-cryptoassets/README.md
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
Labels: desktop, mobile, common, ledgerjs, translations, screenshots

#3585 optimize useTrackingPairForAccounts
  libs/ledger-live-common/src/countervalues/logic.ts
  libs/ledger-live-common/src/countervalues/react.test.ts
  libs/ledger-live-common/src/countervalues/react.tsx
Labels: common

#3584 fix: prevent endless loop in swap flows
  .changeset/young-tigers-bake.md
  libs/ledger-live-common/src/hw/actions/initSwap.ts
Labels: common

#3590 fix: prevent endless loop in swap flows (to develop)
  .changeset/young-tigers-bake.md
  libs/ledger-live-common/src/hw/actions/initSwap.ts
Labels: common

#3544 chore: update playwright and setup draft in github bot for future test filtering
  .github/workflows/build-desktop-external.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile-external.yml
  .github/workflows/build-mobile.yml
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile-e2e.yml
  .github/workflows/test-mobile.yml
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/playwright.config.ts
  apps/ledger-live-desktop/tests/specs/accounts/subAccounts.spec.ts
  pnpm-lock.yaml
  tools/actions/composites/setup-test-desktop/action.yml
  tools/github-bot/src/features/orchestrator/const.ts
  tools/github-bot/src/features/orchestrator/index.ts
Labels: desktop, tools, automation

#3589 chore: LLD remove helpers/fs and use fs/promises instead for better typing
  apps/ledger-live-desktop/src/helpers/fs.ts
  apps/ledger-live-desktop/src/main/db/index.ts
  apps/ledger-live-desktop/src/main/setup.ts
  apps/ledger-live-desktop/src/main/updater/createElectronAppUpdater.ts
Labels: desktop

#3443 feat(wallet-api): Support EVM family in wallet-api
  libs/ledger-live-common/src/families/bitcoin/walletApiAdapter.test.ts
  libs/ledger-live-common/src/families/bitcoin/walletApiAdapter.ts
  libs/ledger-live-common/src/families/ethereum/walletApiAdapter.test.ts
  libs/ledger-live-common/src/families/ethereum/walletApiAdapter.ts
  libs/ledger-live-common/src/families/polkadot/walletApiAdapter.test.ts
  libs/ledger-live-common/src/families/polkadot/walletApiAdapter.ts
  libs/ledger-live-common/src/families/ripple/walletApiAdapter.test.ts
  libs/ledger-live-common/src/families/ripple/walletApiAdapter.ts
  libs/ledger-live-common/src/platform/logic.ts
  libs/ledger-live-common/src/wallet-api/converters.test.ts
  libs/ledger-live-common/src/wallet-api/converters.ts
  libs/ledger-live-common/src/wallet-api/helpers.ts
  libs/ledger-live-common/src/wallet-api/logic.ts
  libs/ledger-live-common/src/wallet-api/types.ts
Labels: common

#3602 Support/fix playwright
  .github/workflows/build-desktop-external.yml
  .github/workflows/build-desktop.yml
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  tools/github-bot/src/features/orchestrator/const.ts
Labels: tools, automation

#3538 fix: LIVE-7659 fix non rendering lotties in CLS flows
  .changeset/tough-bananas-glow.md
  apps/ledger-live-mobile/src/animations/stax/customimage/allowConnection.json
  apps/ledger-live-mobile/src/animations/stax/customimage/confirmLockscreen.json
  apps/ledger-live-mobile/src/components/CustomImage/FramedImage.tsx
  apps/ledger-live-mobile/src/components/CustomImage/StaxFramedImage.tsx
  apps/ledger-live-mobile/src/components/CustomImage/StaxFramedLottie.tsx
  apps/ledger-live-mobile/src/components/CustomImage/assets/examplePicture.webp
  apps/ledger-live-mobile/src/components/CustomImage/assets/examplePicture2.webp
  apps/ledger-live-mobile/src/components/CustomImageDeviceAction.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/PreviewPostEdit.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/PreviewPreEdit.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/CustomImageGraphics.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/FetchCustomImage.tsx
Labels: mobile

#3608 Revert "Update `@solana/web3.js`, support versioned txes (#3556)"
  .changeset/gold-turkeys-shop.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/solana/api/chain/index.ts
  libs/ledger-live-common/src/families/solana/js-buildTransaction.ts
  libs/ledger-live-common/src/families/solana/js-signOperation.ts
  libs/ledger-live-common/src/families/solana/tx-fees.ts
  pnpm-lock.yaml
Labels: common

#3607 fix: regression on select account on success
  .changeset/fast-hornets-flash.md
  apps/ledger-live-mobile/src/screens/RequestAccount/02-SelectAccount.tsx
Labels: mobile

#3594 feat: added address query and navigation to account route for deeplinks
  .changeset/warm-adults-clap.md
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.ts
  apps/ledger-live-desktop/src/renderer/screens/account/index.tsx
Labels: desktop

#3600 bugfix/LIVE-7728 Memoize device action requests to prevent loops
  .changeset/eighty-zebras-build.md
  apps/ledger-live-mobile/src/screens/DeviceConnect/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/exchange/CompleteExchange.tsx
  apps/ledger-live-mobile/src/screens/Platform/exchange/StartExchange.tsx
  apps/ledger-live-mobile/src/screens/SignTransaction/02-ConnectDevice.tsx
Labels: mobile

#3617 fix: NEAR validator commission denomination
  .changeset/tall-hairs-suffer.md
  apps/ledger-live-desktop/src/renderer/families/near/StakeBanner.tsx
  libs/ledger-live-common/src/families/near/api/archive-node-sdk.ts
Labels: desktop, common, fork

#3567 [B2CQA-1815] Upgrade detox version to 20.9
  apps/ledger-live-mobile/detox.config.js
  apps/ledger-live-mobile/e2e/jest.config.js
  apps/ledger-live-mobile/e2e/specs/deeplinks.spec.ts
  apps/ledger-live-mobile/e2e/specs/languageChange.spec.ts
  apps/ledger-live-mobile/e2e/specs/password.spec.ts
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/jest.config.js
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Labels: mobile

#3601 bugfix/LIVE-7728 Memoize device action requests to prevent loops (develop)
  .changeset/eighty-zebras-build.md
  apps/ledger-live-mobile/src/screens/DeviceConnect/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/exchange/CompleteExchange.tsx
  apps/ledger-live-mobile/src/screens/Platform/exchange/StartExchange.tsx
  apps/ledger-live-mobile/src/screens/SignTransaction/02-ConnectDevice.tsx
Labels: mobile

#3591 Bugfix: support account id with wallet api manifests in swap
  .changeset/clever-rivers-fix.md
  .changeset/popular-rabbits-hug.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, ledgerjs

#3615 Smartling on-demand translation delivery from release
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#3603 feat: LIVE-7784 memoize device action requests for LLD
  .changeset/calm-glasses-design.md
  apps/ledger-live-desktop/src/renderer/families/bitcoin/FullNode/steps/StepConnectDevice.tsx
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepConnectDevice.tsx
  apps/ledger-live-desktop/src/renderer/modals/ConnectDevice/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepConnectDevice.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/GenericStepConnectDevice.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/steps/StepSign.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/steps/GenericStepConnectDevice.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/ExchangeDrawer/SwapAction.tsx
Labels: desktop

#3632 feat(ledgerjs-cal): update CAL
  .changeset/six-hornets-travel.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/eip712.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/106/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/106/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/106/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1088/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1088/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1088/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1284/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1284/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/199/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/199/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/199/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/246/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/246/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/246/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42161/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42161/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/57/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/57/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/57/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/592/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/592/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/592/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/coins.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/polygon-erc20.ts
Labels: desktop, common, ledgerjs

#3626 Bugfix/live 6864 addtokens editable
  .changeset/shaggy-camels-design.md
  apps/ledger-live-desktop/src/renderer/reducers/accounts.ts
  libs/ledgerjs/packages/cryptoassets/README.md
  libs/ledgerjs/packages/cryptoassets/src/tokens.test.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
Labels: desktop, ledgerjs

#3189 Discover v2 on Desktop
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/components/Platform/AppCard.tsx
  apps/ledger-live-desktop/src/renderer/components/Platform/AppDetails.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/types.ts
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/LiveAppDrawer.tsx
  apps/ledger-live-desktop/src/renderer/reducers/UI.ts
  apps/ledger-live-desktop/src/renderer/screens/platform/Catalog/Banner.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/Catalog/TwitterBanner.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/Catalog/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/LiveApp.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/index.ts
  apps/ledger-live-desktop/src/renderer/screens/platform/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Browse/Result/NoResult.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Browse/Result/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Browse/Search.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Browse/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Card/Full.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Card/Layout.ts
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Card/Logo.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Card/Minimum.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Card/hooks.ts
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Card/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Card/types.ts
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/RecentlyUsed.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/SectionHeader.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/hooks.ts
  apps/ledger-live-desktop/src/renderer/storage.ts
  apps/ledger-live-desktop/src/renderer/store.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/src/db.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Platform/LiveApp.tsx
  apps/ledger-live-mobile/src/screens/Platform/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/CatalogSection.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/DAppDisclaimer.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/ManifestList.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/RecentlyUsed.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Search/SearchBar.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Search/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/hooks.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/types.ts
  apps/ledger-live-mobile/src/screens/Platform/v2/LiveApp.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/hooks.ts
  apps/ledger-live-mobile/src/screens/Platform/v2/types.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/hooks/useDBRaw.ts
  libs/ledger-live-common/src/hooks/useSearch.ts
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/index.tsx
  libs/ledger-live-common/src/wallet-api/constants.ts
  libs/ledger-live-common/src/wallet-api/react.ts
  libs/ledger-live-common/src/wallet-api/types.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, translations

#3641 now providing wallet-api with old userId
  .changeset/lazy-wolves-accept.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
Labels: desktop

#3020 YLLD
  .changeset/spotty-buckets-tap.md
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/images/yobama.jpg
Labels: desktop

#3642 chore(lld/llm): analytics
  .changeset/blue-apes-perform.md
  .changeset/kind-moons-do.md
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
Labels: desktop, mobile

#3629 [SUPPORT] Update `hw-app-eth` plugin log
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/index.ts
Labels: ledgerjs

#3646 fix: webview preload dirname for prod app
  .changeset/unlucky-peas-destroy.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
Labels: desktop

#3599 feat(LLD): add modelListId on analytics
  .changeset/chilled-timers-remember.md
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/manager/AppsList/index.tsx
Labels: desktop

#3649 fix: ConnectDevice request undefined
  .changeset/short-buses-type.md
  apps/ledger-live-desktop/src/renderer/modals/ConnectDevice/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/types.ts
Labels: desktop

#3631 fix: Fixes TransportStatusError message on node.js
  .changeset/lemon-mangos-wash.md
  libs/ledgerjs/packages/errors/src/index.test.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: ledgerjs, fork

#3653 Fix crash on desktop currency search input by adopting to Fuse.js v6
  .changeset/gold-pumpkins-film.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/components/SelectCurrency.tsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/SelectAccountAndCurrencyDrawer.tsx
  apps/ledger-live-desktop/tests/models/AddAccountModal.ts
  pnpm-lock.yaml
Labels: desktop

#3657 fix: blind fix for disconnects during fw update due to bad HSM data
  .changeset/tiny-dancers-smell.md
  libs/ledger-live-common/src/socket/index.ts
Labels: common

#3592 chore: update to TypeScript 5
  apps/ledger-live-mobile/src/components/FloatingDebugButton.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/AddAccountsNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/CustomImageNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/RequestAccountNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SignMessageNavigator.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/liveSDKLogic.test.ts
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  libs/ledger-live-common/src/deviceSDK/tasks/core.ts
  libs/ledger-live-common/src/mock/fixtures/cryptoCurrencies.ts
  libs/ledger-live-common/src/postOnboarding/reducer.ts
  libs/ui/packages/native/.storybook-web/main.js
  libs/ui/packages/native/.storybook/main.js
  libs/ui/packages/native/src/components/Carousel/index.tsx
  libs/ui/packages/native/src/components/Form/SelectableList.tsx
  libs/ui/packages/native/src/components/Icon/BoxedIcon.tsx
  libs/ui/packages/native/src/components/Icon/IconBadge.tsx
  libs/ui/packages/native/src/components/Icon/IconBox/index.tsx
  libs/ui/packages/react/.storybook/main.js
  libs/ui/packages/react/src/components/Chart/utils.ts
  package.json
  pnpm-lock.yaml
  tools/github-bot/src/features/upToDate/index.ts
Labels: mobile, common, ui, tools

#3621 feat: LIVE-7595 - LLD new architecture of the sync onboarding for the ESC
  .changeset/healthy-buttons-promise.md
  .changeset/silver-turtles-knock.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityCheck.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SyncOnboardingCompanion.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/TroubleshootingDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/index.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
Labels: desktop, mobile

#3671 fix: LIVE-7878 inline [] causing manager state rerender
  .changeset/red-falcons-train.md
  apps/ledger-live-desktop/src/renderer/screens/manager/index.tsx
Labels: desktop

#3678 fix: disclaimer button for live apps
  .changeset/few-sheep-press.md
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/LiveAppDrawer.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/Catalog/index.tsx
Labels: desktop

#3661 feat/LIVE-7872 Uninstall all feature + CLI implementation
  .changeset/slow-seals-boil.md
  apps/cli/src/commands/appUninstallAll.ts
  libs/ledger-live-common/src/apps/logic.ts
  libs/ledger-live-common/src/apps/types.ts
  libs/ledger-live-common/src/hw/actions/uninstallAllApps.ts
  libs/ledger-live-common/src/hw/uninstallAllApps.test.ts
  libs/ledger-live-common/src/hw/uninstallAllApps.ts
Labels: common, cli

#3676 feat(ledgerjs-cal): update CAL
  .changeset/large-garlics-cheer.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/asa.json
  libs/ledgerjs/packages/cryptoassets/src/data/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/40/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/40/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/40/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/polygon-erc20.ts
Labels: desktop, common, ledgerjs

#3663 Fix: LIVE-7869: navbar and animation not working
  .changeset/cold-dogs-kick.md
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Labels: mobile

#3683 Bugfix/discover disclaimer
  .changeset/neat-tables-allow.md
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/LiveAppDrawer.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/Catalog/index.tsx
Labels: desktop, mobile, common, ledgerjs, tools, cli

#3620 bugfix/LIVE-7816 Regression in recovery mode firmware update for LLD
  .changeset/sour-phones-sing.md
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/01-step-prepare.tsx
Labels: desktop

#3677 fix: LIVE-7878 inline [] causing manager state rerender - Release
  .changeset/red-falcons-train.md
  apps/ledger-live-desktop/src/renderer/screens/manager/index.tsx
Labels: desktop, mobile, common, ledgerjs, tools, cli

#3613 bugfix/LIVE-6163 UI Improvements to firmware update restoration
  .changeset/modern-bananas-pretend.md
  apps/ledger-live-desktop/src/renderer/components/ChangeDeviceLanguagePrompt.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-restore.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/03-step-confirmation.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/restore/Language.tsx
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-002-image-imported-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-003-adjust-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-004-adjust-zoomed-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-005-adjust-contrast-zoomed-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-006-adjust-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-007-adjust-rotate-once-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-008-adjust-rotated-zoomed-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-009-adjust-rotated-zoomed-preserved-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-010-adjust-max-zoom-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-011-adjust-big-zoom-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-012-adjust-min-zoom-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-013-adjust-small-zoom-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-014-preview-contrast-initial-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-015-preview-contrast-1-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-016-preview-contrast-2-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-017-preview-contrast-3-win32.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-018-preview-contrast-0-win32.png
  libs/ui/packages/react/src/components/navigation/progress/Stepper/index.tsx
Labels: desktop, ui, screenshots

#3672 handle next nonce with multiple txs on mempool
  libs/ledger-live-common/src/families/stacks/bridge/account.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/api.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/api.types.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/misc.ts
Labels: common, fork

#3523 feat: LLD allow users to use Ledger Vault as a signer
  .changeset/soft-foxes-fry.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/components/VaultSignerBanner.tsx
  apps/ledger-live-desktop/src/renderer/live-common-setup.ts
  apps/ledger-live-desktop/src/renderer/modals/VaultSigner/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/index.ts
  apps/ledger-live-desktop/src/renderer/modals/types.ts
  apps/ledger-live-desktop/src/renderer/reducers/devices.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Experimental/VaultSigner.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Experimental/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledgerjs/packages/hw-transport-vault/README.md
  libs/ledgerjs/packages/hw-transport-vault/jest.config.ts
  libs/ledgerjs/packages/hw-transport-vault/package.json
  libs/ledgerjs/packages/hw-transport-vault/src/index.ts
  libs/ledgerjs/packages/hw-transport-vault/tsconfig.json
  pnpm-lock.yaml
Labels: desktop, ledgerjs, translations, fork

#3681 bugfix(LLM): New device selector degrades UX for Nano onboarding
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/ConnectNano.tsx
Labels: mobile

#3596 fix(Firmware Update LLM): fix the MyLedger redirection after the update is finished
  .changeset/friendly-goats-tickle.md
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/index.tsx
Labels: mobile

#3679 Bugfix/LIVE-7801: fix non-eth staking flows, generic drawer for eth and future liquid staking programs.
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/components/RootDrawer.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/MainNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/index.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/AccountsNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/MarketNavigator.ts
  apps/ledger-live-mobile/src/components/Stake/index.tsx
  apps/ledger-live-mobile/src/components/Stake/types.ts
  apps/ledger-live-mobile/src/families/ethereum/EthereumStakingDrawer/index.tsx
  apps/ledger-live-mobile/src/families/ethereum/accountActions.tsx
  apps/ledger-live-mobile/src/screens/Account/index.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
Labels: mobile

#3628 fix(MyLedger): fix flickering of the connect manager action when device is locked
  .changeset/sweet-pens-repair.md
  libs/ledger-live-common/src/hw/actions/implementations.ts
  libs/ledger-live-common/src/hw/actions/manager.ts
Labels: common

#3702 Apply minor fixes to stacks integration
  libs/ledger-live-common/src/families/stacks/account.ts
  libs/ledger-live-common/src/families/stacks/bridge/account.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/api.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/api.types.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/misc.ts
  libs/ledger-live-common/src/families/stacks/cli-transaction.ts
  libs/ledger-live-common/src/families/stacks/hw-getAddress.ts
  libs/ledger-live-common/src/families/stacks/hw-signMessage.ts
  libs/ledger-live-common/src/families/stacks/specs.ts
  libs/ledger-live-common/src/families/stacks/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/stacks/transaction.ts
  libs/ledger-live-common/src/families/stacks/types.ts
  libs/ledger-live-common/src/families/stacks/utils.ts
Labels: common, fork

#3611 [LIVE-7405] Create GasTracker abstraction
  .changeset/little-files-wonder.md
  libs/coin-evm/src/__tests__/broadcast.unit.test.ts
  libs/coin-evm/src/__tests__/estimateMaxSpendable.unit.test.ts
  libs/coin-evm/src/__tests__/gasTracker/index.unit.test.ts
  libs/coin-evm/src/__tests__/gasTracker/ledger.unit.test.ts
  libs/coin-evm/src/__tests__/logic.unit.test.ts
  libs/coin-evm/src/__tests__/prepareTransaction.unit.test.ts
  libs/coin-evm/src/__tests__/rpc.unit.test.ts
  libs/coin-evm/src/__tests__/signOperation.unit.test.ts
  libs/coin-evm/src/__tests__/synchronization.unit.test.ts
  libs/coin-evm/src/__tests__/transaction.unit.test.ts
  libs/coin-evm/src/api/explorer/etherscan.ts
  libs/coin-evm/src/api/explorer/index.ts
  libs/coin-evm/src/api/gasTracker/index.ts
  libs/coin-evm/src/api/gasTracker/ledger.ts
  libs/coin-evm/src/api/rpc/index.ts
  libs/coin-evm/src/api/rpc/rpc.common.ts
  libs/coin-evm/src/api/rpc/rpc.native.ts
  libs/coin-evm/src/errors.ts
  libs/coin-evm/src/logic.ts
  libs/coin-evm/src/prepareTransaction.ts
  libs/coin-evm/src/synchronization.ts
  libs/coin-evm/src/types.ts
  libs/ledger-live-common/src/families/evm/react.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
Labels: common, ledgerjs

#3698 fix: LIVE-7910 remove double retry button on locked device lang install
  .changeset/late-meals-greet.md
  apps/ledger-live-desktop/src/renderer/components/ChangeDeviceLanguageAction.tsx
Labels: desktop

#3697 fix: LLD fixes all cases where url(" was used instead of url('
  .changeset/old-wombats-remember.md
  apps/ledger-live-desktop/src/renderer/components/Carousel/Slide.tsx
  apps/ledger-live-desktop/src/renderer/components/LinkWithExternalIcon.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/OnboardingNavHeader.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/shared.tsx
  apps/ledger-live-desktop/src/renderer/components/Stars/Star.tsx
  apps/ledger-live-desktop/src/renderer/families/bitcoin/FullNode/steps/StepDisconnect.tsx
  apps/ledger-live-desktop/src/renderer/families/bitcoin/FullNode/steps/StepLanding.tsx
  apps/ledger-live-desktop/src/renderer/screens/USBTroubleshooting/solutions/Intro.tsx
  apps/ledger-live-desktop/src/renderer/screens/USBTroubleshooting/solutions/shared.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/Disconnected.tsx
Labels: desktop

#3694 LIVE-7874 fix(llm/customlockscreen): preview from an NFT not loading
  .changeset/four-cheetahs-lie.md
  apps/ledger-live-mobile/src/components/CustomImage/useCenteredImage.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/PreviewPreEdit.tsx
Labels: mobile

#3700 Support token accounts in request account method on mobile
  .changeset/big-pugs-drum.md
  apps/ledger-live-mobile/src/components/AccountCard.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-mobile/src/screens/RequestAccount/02-SelectAccount.tsx
Labels: mobile

#3219 [Coin-Modularization] Remove transport and hw-app dependency
  libs/coin-algorand/package.json
  libs/coin-algorand/src/bridge/js.ts
  libs/coin-algorand/src/cli-transaction.ts
  libs/coin-algorand/src/hw-getAddress.ts
  libs/coin-algorand/src/js-signOperation.ts
  libs/coin-algorand/src/signer.ts
  libs/coin-evm/src/__tests__/hw-getAddress.unit.test.ts
  libs/coin-evm/src/__tests__/signOperation.unit.test.ts
  libs/coin-evm/src/bridge/js.ts
  libs/coin-evm/src/cli-transaction.ts
  libs/coin-evm/src/hw-getAddress.ts
  libs/coin-evm/src/signOperation.ts
  libs/coin-evm/src/signer.ts
  libs/coin-framework/package.json
  libs/coin-framework/src/bot/types.ts
  libs/coin-framework/src/bridge/getAddressWrapper.ts
  libs/coin-framework/src/bridge/jsHelpers.ts
  libs/coin-framework/src/signer.ts
  libs/coin-polkadot/package.json
  libs/coin-polkadot/src/bridge/js.ts
  libs/coin-polkadot/src/hw-getAddress.ts
  libs/coin-polkadot/src/js-signOperation.ts
  libs/coin-polkadot/src/signer.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/scripts/sync-families-dispatch.mjs
  libs/ledger-live-common/src/bot/portfolio/__snapshots__/formatter.test.ts.snap
  libs/ledger-live-common/src/bridge/jsHelpers.ts
  libs/ledger-live-common/src/bridge/setup.ts
  libs/ledger-live-common/src/families/algorand/setup.ts
  libs/ledger-live-common/src/families/bitcoin/bridge/js.ts
  libs/ledger-live-common/src/families/bitcoin/js-synchronisation.ts
  libs/ledger-live-common/src/families/cardano/bridge/js.ts
  libs/ledger-live-common/src/families/cardano/js-synchronisation.ts
  libs/ledger-live-common/src/families/evm/setup.ts
  libs/ledger-live-common/src/families/polkadot/setup.ts
  libs/ledger-live-common/src/generated/account.ts
  libs/ledger-live-common/src/generated/bridge/js.ts
  libs/ledger-live-common/src/generated/cli-transaction.ts
  libs/ledger-live-common/src/generated/customAddressValidation.ts
  libs/ledger-live-common/src/generated/deviceTransactionConfig.ts
  libs/ledger-live-common/src/generated/hw-getAddress.ts
  libs/ledger-live-common/src/generated/specs.ts
  libs/ledger-live-common/src/generated/transaction.ts
  libs/ledger-live-common/src/hw/getAddress/types.ts
  libs/ledgerjs/packages/types-live/src/bridge.ts
  pnpm-lock.yaml
Labels: common, ledgerjs

#3669 chore(dependabot): setup dependabot
  .github/dependabot.yml
  apps/ledger-live-desktop/.dependabot/config.yml
Labels: automation

#3521 [support] Remove live-portfolio lib
  libs/coin-evm/package.json
  libs/coin-framework/package.json
  libs/coin-framework/src/account/balanceHistoryCache.test.ts
  libs/coin-framework/src/account/balanceHistoryCache.ts
  libs/coin-polkadot/package.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/__tests__/portfolio.v2.ts
  libs/ledger-live-common/src/portfolio/v2/index.ts
  libs/live-portfolio/.eslintrc.js
  libs/live-portfolio/CHANGELOG.md
  libs/live-portfolio/jest.config.js
  libs/live-portfolio/package.json
  libs/live-portfolio/src/index.ts
  libs/live-portfolio/src/rangeDates.test.ts
  libs/live-portfolio/src/rangeDates.ts
  libs/live-portfolio/tsconfig.json
  pnpm-lock.yaml
Labels: common

#2441 Edit/Cancel Ethereum Transaction - LLD part
  .changeset/flat-hotels-shop.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/components/OperationsList/DateCell.tsx
  apps/ledger-live-desktop/src/renderer/components/OperationsList/EditOperationPanel.tsx
  apps/ledger-live-desktop/src/renderer/components/OperationsList/Operation.tsx
  apps/ledger-live-desktop/src/renderer/components/OperationsList/index.tsx
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/AccountBodyHeader.ts
  apps/ledger-live-desktop/src/renderer/families/ethereum/EditStuckTransactionPanelBodyHeader.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/EditTransactionModal/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/EditTransactionModal/index.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/EditTransactionModal/steps/StepFees.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/EditTransactionModal/steps/StepMethod.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/EditTransactionModal/steps/StepSummaryFooter.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/EditTransactionModal/types.ts
  apps/ledger-live-desktop/src/renderer/families/ethereum/GasPriceField.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/MaxFeeField.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/PriorityFeeField.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/SelectFeeStrategy.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/index.ts
  apps/ledger-live-desktop/src/renderer/families/ethereum/modals.ts
  apps/ledger-live-desktop/src/renderer/families/types.ts
  apps/ledger-live-desktop/src/renderer/modals/Send/SendAmountFields.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepRecipient.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepSummary.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/coin-framework/src/operation.test.ts
  libs/coin-framework/src/operation.ts
  libs/env/src/env.ts
  libs/ledger-live-common/src/families/ethereum/api/index.ts
  libs/ledger-live-common/src/families/ethereum/modules/erc1155.ts
  libs/ledger-live-common/src/families/ethereum/modules/erc721.ts
  libs/ledger-live-common/src/families/ethereum/modules/send.ts
  libs/ledger-live-common/src/families/ethereum/signOperation.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/operation.ts
  libs/ledgerjs/packages/errors/src/index.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs, translations

#3699 test: add e2e tests covering more coins + going to first account
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepImport.tsx
  apps/ledger-live-desktop/tests/models/AddAccountModal.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-firstAccountPage-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-firstAccountPage-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-firstAccountPage-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-firstAccountPage-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-firstAccountPage-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-firstAccountPage-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-firstAccountPage-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-firstAccountPage-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-firstAccountPage-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-firstAccountPage-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-firstAccountPage-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-firstAccountPage-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-firstAccountPage-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-firstAccountPage-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-firstAccountPage-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-firstAccountPage-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-firstAccountPage-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-firstAccountPage-win32.png
Labels: desktop, screenshots

#3722 chore: explicit dep to tslib for vercel to compile live-common-tools
  pnpm-lock.yaml
  tools/common-tools/package.json
Labels: tools

#3625 chore: bumping usb to 2.9.0 on hw-transport-node-hid and hw-transport-node-hid-singleton
  .changeset/little-seahorses-relax.md
  libs/ledgerjs/packages/hw-transport-node-hid-singleton/package.json
  libs/ledgerjs/packages/hw-transport-node-hid/package.json
  libs/ledgerjs/packages/hw-transport-node-hid/src/listenDevices.ts
  pnpm-lock.yaml
Labels: ledgerjs

#3728 chore: sunset flawky codecov integration
  .github/workflows/test.yml
  codecov.yml
Labels: automation

#3729 chore(dependabot): automate lockfile update for dependabot PRs
  .github/workflows/gate.yml
Labels: automation

#3730 Fix: stellar memo ui
  .changeset/tall-files-exist.md
  apps/ledger-live-desktop/src/renderer/families/stellar/MemoTypeField.tsx
Labels: desktop

#3734 chore(dependabot): fix git push
  .github/workflows/gate.yml
Labels: automation

#3723 feat(LLM): Switch Card entry point with QR code in Wallet
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
Labels: mobile

#3743 Support/LIVE smartling translations 20230619134613121
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#3744 fix estimateMaxSpendable func by adding recipient
  libs/ledger-live-common/src/families/stacks/bridge/account.ts
Labels: common, fork

#3741 Support - Upgrade EIP55 package
  .changeset/few-dogs-march.md
  .changeset/rude-mugs-breathe.md
  libs/coin-evm/package.json
  libs/domain-service/package.json
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: common

#3696 feat: LIVE-7904 make listAppsV2 feature flagged
  .changeset/plenty-turtles-help.md
  apps/cli/src/commands/managerListApps.ts
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/experimental.tsx
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/experimental-features-darwin.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/experimental-features-linux.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/experimental-features-win32.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-experimental-page-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-experimental-page-linux.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-experimental-page-win32.png
  apps/ledger-live-mobile/src/components/RootNavigator/index.tsx
  apps/ledger-live-mobile/src/experimental.ts
  libs/env/src/env.ts
  libs/ledger-live-common/src/apps/hw.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs, screenshots, cli

#3748 [support] Fix Tezos integration tests
  libs/ledger-live-common/src/families/tezos/bakers.whitelist-default.ts
  libs/ledger-live-common/src/families/tezos/bridge.integration.test.ts
  libs/ledger-live-common/src/families/tezos/bridge/js.ts
Labels: common

#3747 [support] Fix Algorand integration tests
  libs/ledger-live-common/src/families/algorand/__snapshots__/bridge.integration.test.ts.snap
Labels: common

#3732 fix: recover modal lag
  .changeset/few-poets-knock.md
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/index.tsx
Labels: desktop

#3740 feat(lld/fwupdate/analytics): custom lock screen restoration tracking
  .changeset/chilly-bees-protect.md
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/restore/CLS.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/FirmwareUpdate/index.tsx
Labels: desktop

#3753 [B2CQA] Disable broken device mock tests
  apps/ledger-live-mobile/e2e/specs/deeplinks.spec.ts
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboarding.spec.ts
Labels: mobile

#3745 [support] Fix Celo integration tests
  libs/ledger-live-common/src/families/celo/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/celo/datasets/celo.scanAccounts.1.ts
  libs/ledger-live-common/src/families/celo/js-getTransactionStatus.ts
Labels: common

#3757 chore(bot): allow for renovate
  tools/github-bot/src/features/autoClose/index.ts
  tools/github-bot/src/features/autoClose/tools.ts
Labels: tools

#3707 fix: LIVE-6403 Fixes to CLS icon/wording for context menu dropdown on NFT view
  .changeset/hungry-islands-relate.md
  .changeset/sour-suns-hang.md
  .changeset/young-pandas-deny.md
  apps/ledger-live-desktop/src/renderer/components/ContextMenu/AccountContextMenu.tsx
  apps/ledger-live-desktop/src/renderer/components/ContextMenu/NFTCollectionContextMenu.tsx
  apps/ledger-live-desktop/src/renderer/components/Nft/CollectionName.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/logic/index.tsx
  apps/ledger-live-desktop/src/renderer/drawers/NFTViewerDrawer/ExternalViewerButton.tsx
  apps/ledger-live-desktop/src/renderer/families/tezos/Delegation/ContextMenu.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useNftLinks.ts
  apps/ledger-live-desktop/src/renderer/icons/Ban.tsx
  apps/ledger-live-desktop/src/renderer/icons/Dots.tsx
  apps/ledger-live-desktop/src/renderer/icons/Globe.tsx
  apps/ledger-live-desktop/src/renderer/icons/Opensea.tsx
  apps/ledger-live-desktop/src/renderer/icons/Rarible.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/OptionsButton.tsx
  apps/ledger-live-desktop/src/renderer/screens/asset/AccountDistribution/Row.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Gallery/TokensList/Item.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/Nft/NftLinksPanel.tsx
  apps/ledger-live-mobile/src/icons/Globe.tsx
  apps/ledger-live-mobile/src/logic/postOnboarding/mockActions.ts
  libs/ui/packages/icons/src/svg/medium/globe.svg
  libs/ui/packages/icons/src/svg/medium/none.svg
  libs/ui/packages/icons/src/svg/medium/photograph.svg
Labels: desktop, mobile, ui, translations

#3759 feat(llm/myledger): tracking for device selection screen
  .changeset/tender-singers-buy.md
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/screens/Manager/index.tsx
Labels: mobile

#3684 feat: LIVE-7820 improve language change prompt LLD
  .changeset/silent-balloons-greet.md
  apps/ledger-live-desktop/src/renderer/components/ChangeDeviceLanguagePrompt.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/ChangeDeviceLanguagePromptDrawer.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/LanguageSelect.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-change-language-drawer-selected-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-change-language-drawer-selected-linux.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-change-language-drawer-selected-win32.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-allow-language-installation-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-allow-language-installation-linux.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-allow-language-installation-win32.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-français-with-device-l10n-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-français-with-device-l10n-linux.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-français-with-device-l10n-win32.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-language-installation-complete-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-language-installation-complete-linux.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-language-installation-complete-win32.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-language-installation-progress-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-language-installation-progress-linux.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-language-installation-progress-win32.png
Labels: desktop, translations, screenshots

#3761 chore(bot): lint:fix bot
  tools/github-bot/package.json
  tools/github-bot/src/commands/generate-screenshots.ts
  tools/github-bot/src/commands/regen-doc.ts
  tools/github-bot/src/commands/regen-pods.ts
  tools/github-bot/src/commands/tools.ts
  tools/github-bot/src/features/autoClose/index.ts
  tools/github-bot/src/features/lintCommits/index.ts
  tools/github-bot/src/features/orchestrator/const.ts
  tools/github-bot/src/features/orchestrator/index.ts
  tools/github-bot/src/features/orchestrator/tools.ts
  tools/github-bot/src/features/upToDate/index.ts
  tools/github-bot/src/features/upToDate/tools.ts
  tools/github-bot/src/index.ts
  tools/github-bot/src/tools/index.ts
  tools/github-bot/src/tools/monitorWorkflow.ts
  tools/github-bot/src/tools/zip.ts
Labels: tools

#3701 BACK-4859/BACK-5193: Fix exchange app config for BSC coin+tokens
  .changeset/happy-birds-invent.md
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/coins.ts
Labels: ledgerjs

#3763 feat: LIVE-7969 update the icns file used for building the osx app
  .changeset/healthy-colts-turn.md
  apps/ledger-live-desktop/build/icon.icns
Labels: desktop

#3766 feat(LLD): Update modelListId with unique device type
  .changeset/chilled-timers-remember.md
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/manager/AppsList/index.tsx
Labels: desktop

#3752 feat: LIVE-7960 Support for dynamic hash + keep order on listapps v2
  .changeset/hungry-phones-judge.md
  libs/ledger-live-common/src/apps/listApps/v2.ts
  libs/ledger-live-common/src/apps/polyfill.ts
Labels: common

#3775 update release notes
  .changeset/fluffy-lemons-know.md
  apps/ledger-live-desktop/RELEASE_NOTES.md
Labels: desktop

#3710 Display dappUrl instead of url when the live app is dapp
  .changeset/gold-bobcats-attack.md
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Card/hooks.ts
  libs/ledger-live-common/src/platform/types.ts
Labels: desktop, common

#3570 fix(Firmware Update LLM): fix bluetooth restriction bypass
  .changeset/giant-wolves-add.md
  apps/ledger-live-mobile/src/actions/appstate.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/FirmwareUpdateBanner.tsx
  apps/ledger-live-mobile/src/hooks/useListenToHidDevices.ts
  apps/ledger-live-mobile/src/reducers/appstate.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Manager/Manager.tsx
Labels: mobile

#3776 chore(lld): clean up dev deps
  apps/ledger-live-desktop/jest.config.js
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/tests/jestSetup.ts
  apps/ledger-live-desktop/tests/setup.ts
  apps/ledger-live-desktop/tests/time.ts
  pnpm-lock.yaml
Labels: desktop

#3779 LLD Signing on macOS + Windows update
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/scripts/notarize.js
  apps/ledger-live-desktop/scripts/sign-windows.js
  pnpm-lock.yaml
Labels: desktop

#3742 Feat: add swap web app
  .changeset/flat-buttons-press.md
  .changeset/quick-ducks-worry.md
  .changeset/tasty-paws-type.md
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/swapWeb/index.tsx
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.ts
Labels: desktop, common, ledgerjs

#3682 Feat/rewording discoverv2 llm
  .changeset/proud-jobs-provide.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Search/SearchBar.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Search/index.tsx
Labels: mobile, translations

#3782 Bugfix - Remove double date in DateCell
  .changeset/fresh-ducks-exercise.md
  apps/ledger-live-desktop/src/renderer/components/OperationsList/DateCell.tsx
Labels: desktop

#3389 [feat] Support Filecoin F4/T4 addresses
  .changeset/popular-monkeys-impress.md
  .changeset/red-turkeys-taste.md
  apps/ledger-live-mobile/ios/Podfile.lock
  libs/ledger-live-common/dependencies.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/bot/portfolio/__snapshots__/formatter.test.ts.snap
  libs/ledger-live-common/src/families/filecoin/bridge/account.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/addresses.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/serializer.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/types.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/utils.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  pnpm-lock.yaml
  tools/common-tools/config-overrides.js
Labels: mobile, common, ledgerjs, tools

#3777 fix(llm): referral banner
  .changeset/plenty-items-fry.md
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
Labels: mobile

#3780 Fix crash on selecting from account in swap form
  .changeset/poor-flowers-hope.md
  apps/ledger-live-mobile/src/components/AccountCard.tsx
Labels: mobile

#3686 feat: pagination for cosmos nodes
  .changeset/modern-schools-explode.md
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.test.ts
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.ts
Labels: common

#3739 fix: llm - loading between webviews & flickering header text
  .changeset/grumpy-cameras-bake.md
  .changeset/stupid-sloths-explain.md
  apps/ledger-live-mobile/src/components/Loading.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  apps/ledger-live-mobile/src/components/WebPTXPlayer/index.tsx
Labels: mobile

#3659 Feat/llm onboarding new device selection flow
  .changeset/mighty-jokes-count.md
  .changeset/unlucky-adults-boil.md
  .changeset/violet-zoos-burn.md
  .changeset/yellow-bats-change.md
  apps/ledger-live-mobile/jest.config.js
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/RootNavigator/OnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/OnboardingNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/images/double-ledger.png
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/_tests_/modelIdList.test.ts
  apps/ledger-live-mobile/src/logic/modelIdList.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/GetDeviceScreen.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/ChoiceCard.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/NoLedgerYetModal.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/SelectionCard.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/accessExistingWallet.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/deviceSelection.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/doYouHaveALedger.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/pairNew.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/protectFlow.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/drawers/NotCompatibleModal.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/ConnectNano.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/PairNew.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/StepLottieAnimation.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/useCaseSelection.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/Paired.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/PostBuyDeviceScreen.tsx
  libs/ui/packages/native/src/components/Layout/Modals/BaseModal/index.tsx
Labels: mobile, ui, translations

#3593 feat(Firmware Update LLM): add info drawer with 'skip' and 'retry' options on restore steps denial
  .changeset/neat-mugs-bake.md
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/RestoreStepDenied.tsx
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/useUpdateFirmwareAndRestoreSettings.ts
Labels: mobile, translations

#3767 remove critical error on navigation
  .changeset/pink-dogs-know.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/Stake/index.tsx
Labels: mobile

#3619 LLM - Tx alerts
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/components/TransactionsAlerts.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/notifications.tsx
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Accounts/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/TransactionsAlerts.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Notifications/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/transactionsAlerts/ChainwatchAccountManager.ts
  libs/ledger-live-common/src/transactionsAlerts/index.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/chainwatch.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ledgerjs/packages/types-live/src/index.ts
Labels: mobile, common, ledgerjs, translations

#3726 [B2CQA-1834] Fix detox device mocks after babel/core version revert
  apps/ledger-live-mobile/e2e/jest.config.js
  apps/ledger-live-mobile/e2e/models/onboarding/onboardingSteps.ts
  apps/ledger-live-mobile/e2e/setups/1Account1NFTReadOnlyFalse.json
  apps/ledger-live-mobile/e2e/specs/deeplinks.spec.ts
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboarding.spec.ts
  apps/ledger-live-mobile/jest.config.js
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Labels: mobile

#3805 Removing non-chromium deps install for playwright and removing redundant screenshots
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-list-all-accounts-darwin.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-list-all-accounts-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-list-all-accounts-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-list-currencies-darwin.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-list-currencies-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-list-currencies-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-output-darwin.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-output-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-request-account-output-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-sign-transaction-output-darwin.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-sign-transaction-output-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-sign-transaction-output-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-verify-address-output-darwin.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-verify-address-output-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-app-verify-address-output-win32.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-disclaimer-accepted-darwin.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-disclaimer-accepted-linux.png
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts-snapshots/live-disclaimer-accepted-win32.png
Labels: desktop, HODL, screenshots

#3624 Support/add basic UI llm swap test
  apps/ledger-live-mobile/e2e/bridge/server.ts
  apps/ledger-live-mobile/e2e/bridge/start-server.ts
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/models/manager/managerPage.ts
  apps/ledger-live-mobile/e2e/models/trade/swapFormPage.ts
  apps/ledger-live-mobile/e2e/models/wallet/portfolioPage.ts
  apps/ledger-live-mobile/e2e/specs/deeplinks.spec.ts
  apps/ledger-live-mobile/e2e/specs/languageChange.spec.ts
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/e2e/specs/password.spec.ts
  apps/ledger-live-mobile/e2e/specs/swap.spec.ts
  apps/ledger-live-mobile/src/components/CurrencyInput.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SwapFormNavigator.tsx
  apps/ledger-live-mobile/src/components/TabBar/Transfer.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/components/TransferButton.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Max.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/Terms.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/TxForm/AmountInput.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/TxForm/From.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/TxForm/Selector.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/TxForm/To.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  libs/ui/packages/native/src/components/Text/index.tsx
  libs/ui/packages/native/src/components/cta/Button/index.tsx
Labels: mobile, ui

#3771 Add Wallet API dummy app to playwright test framework
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/tests/models/DiscoverPage.ts
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts
  apps/ledger-live-desktop/tests/specs/services/discover.spec.ts
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts
  apps/ledger-live-desktop/tests/utils/dummy-wallet-app/package.json
  apps/ledger-live-desktop/tests/utils/dummy-wallet-app/public/dummy-icon.png
  apps/ledger-live-desktop/tests/utils/dummy-wallet-app/public/ledger-logo.png
  apps/ledger-live-desktop/tests/utils/dummy-wallet-app/src/App.css
  apps/ledger-live-desktop/tests/utils/dummy-wallet-app/src/App.tsx
  apps/ledger-live-desktop/tests/utils/dummy-wallet-app/src/react-app-env.d.ts
  apps/ledger-live-desktop/tests/utils/serve-dummy-app.ts
  apps/ledger-live-mobile/e2e/setups/1AccountBTC1AccountETH.json
  pnpm-lock.yaml
  tools/actions/composites/setup-test-desktop/action.yml
Labels: desktop, mobile, tools

#3828 Fix discover catalog visibility and ordering
  .changeset/happy-moose-scream.md
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Browse/Result/NoResult.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Browse/Result/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Browse/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/hooks.ts
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Search/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/hooks.ts
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/index.tsx
  libs/ledger-live-common/src/wallet-api/react.ts
  libs/ledger-live-common/src/wallet-api/types.ts
Labels: desktop, mobile, common

#3824 [support] Add env var to switch speculos bot on websocket or REST
  .github/workflows/bot-mere-denis.yml
  .github/workflows/bot-nitrogen.yml
  libs/env/src/env.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/load/speculos.ts
  pnpm-lock.yaml
  tools/actions/composites/bot/action.yml
Labels: common, tools, automation

#3852 feat: LIVE-6344 aligned UI of pairing flow + wording change
  .changeset/lazy-clocks-repeat.md
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#3841 feat: recover on LLD
  .changeset/thick-walls-rule.md
  apps/ledger-live-desktop/src/index-types.d.ts
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/actions/devices.ts
  apps/ledger-live-desktop/src/renderer/components/ConnectEnvsToSentry.tsx
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/index.tsx
  apps/ledger-live-desktop/src/renderer/components/RecoverRestore/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.ts
  apps/ledger-live-desktop/src/renderer/init.tsx
  apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/ProtectDiscoverBody.tsx
  apps/ledger-live-desktop/src/renderer/reducers/devices.ts
  apps/ledger-live-desktop/src/renderer/screens/recover/Player.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/models/RecoverRestorePage.ts
  apps/ledger-live-desktop/tests/specs/onboarding/connect-device.spec.ts-snapshots/v3-get-started-win32.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-get-started-win32.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-get-started-win32.png
  apps/ledger-live-desktop/tests/specs/recover/recover.spec.ts
  apps/ledger-live-desktop/tests/utils/deeplink.ts
  apps/ledger-live-mobile/src/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/index.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/types.ts
  apps/ledger-live-mobile/src/screens/Protect/RedirectToRecoverStaxFlow.tsx
  libs/env/src/env.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/hooks/recoverFeatueFlag.ts
Labels: desktop, mobile, common, translations, screenshots

#3831 live 7891 | live 5357
  .changeset/shiny-phones-build.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/RootNavigator/types/SwapNavigator.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Swap/Form/EmptyState.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/ErrorBanner.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/TxForm/To.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/hooks/index.ts
  libs/ledger-live-common/src/exchange/swap/hooks/usePageState.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/usePageState.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useProviderRates.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useProviderRates.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
Labels: desktop, mobile, common, translations

#3725 chore: upgrade to Electron 25
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/main/index.ts
  pnpm-lock.yaml
Labels: desktop

#3858 chore: remove useless and unstable formatter tests snapshot
  libs/ledger-live-common/src/bot/portfolio/__snapshots__/formatter.test.ts.snap
  libs/ledger-live-common/src/bot/portfolio/formatter.test.ts
Labels: common

#3794 test(lld): reinforce coverage of operations list of accounts & portfolio
  apps/ledger-live-desktop/tests/models/AccountsPage.ts
  apps/ledger-live-desktop/tests/models/PortfolioPage.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-firstAccountPage-operations-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-firstAccountPage-operations-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-firstAccountPage-operations-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-firstAccountPage-operations-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-firstAccountPage-operations-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-firstAccountPage-operations-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-firstAccountPage-operations-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-firstAccountPage-operations-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-firstAccountPage-operations-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-firstAccountPage-operations-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-firstAccountPage-operations-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-firstAccountPage-operations-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-firstAccountPage-operations-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-firstAccountPage-operations-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-firstAccountPage-operations-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-firstAccountPage-operations-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-firstAccountPage-operations-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-firstAccountPage-operations-win32.png
  apps/ledger-live-desktop/tests/specs/general/portfolio.spec.ts
  apps/ledger-live-desktop/tests/specs/general/portfolio.spec.ts-snapshots/operations-darwin.png
  apps/ledger-live-desktop/tests/specs/general/portfolio.spec.ts-snapshots/operations-linux.png
  apps/ledger-live-desktop/tests/specs/general/portfolio.spec.ts-snapshots/operations-win32.png
  apps/ledger-live-desktop/tests/specs/general/portfolio.spec.ts-snapshots/portfolio-darwin.png
  apps/ledger-live-desktop/tests/specs/general/portfolio.spec.ts-snapshots/portfolio-linux.png
  apps/ledger-live-desktop/tests/specs/general/portfolio.spec.ts-snapshots/portfolio-win32.png
Labels: desktop, screenshots

#3834 test: add tron mock to cover LLD playwright of add accounts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-accounts-list-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-accounts-list-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-accounts-list-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-complete-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-complete-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-complete-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-firstAccountPage-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-firstAccountPage-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-firstAccountPage-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-select-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-select-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-select-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-success-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-success-win32.png
  libs/ledger-live-common/src/account/helpers.ts
  libs/ledger-live-common/src/families/tron/bridge/mock.ts
  libs/ledger-live-common/src/generated/bridge/mock.ts
  libs/ledger-live-common/src/mock/account.ts
Labels: desktop, common, screenshots

#3796 test(lld): first iteration of testing deeplink
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.ts
  apps/ledger-live-desktop/src/renderer/init.tsx
  apps/ledger-live-desktop/tests/specs/deeplinks/discover.cold.spec.ts
  apps/ledger-live-desktop/tests/specs/deeplinks/discover.cold.spec.ts-snapshots/loaded-darwin.png
  apps/ledger-live-desktop/tests/specs/deeplinks/discover.cold.spec.ts-snapshots/loaded-linux.png
  apps/ledger-live-desktop/tests/specs/deeplinks/discover.cold.spec.ts-snapshots/loaded-win32.png
  apps/ledger-live-desktop/tests/specs/deeplinks/discover.spec.ts
  apps/ledger-live-desktop/tests/specs/deeplinks/discover.spec.ts-snapshots/loaded-darwin.png
  apps/ledger-live-desktop/tests/specs/deeplinks/discover.spec.ts-snapshots/loaded-linux.png
  apps/ledger-live-desktop/tests/specs/deeplinks/discover.spec.ts-snapshots/loaded-win32.png
Labels: desktop, screenshots

#3844 bugfix/LIVE-8196 Firmware update regression in LLD for old devices
  .changeset/real-adults-double.md
  apps/ledger-live-desktop/src/renderer/screens/manager/FirmwareUpdate/index.tsx
Labels: desktop

#3788 fix: vault center help url and extract it in url helper
  .changeset/ten-owls-tap.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/components/VaultSignerBanner.tsx
  apps/ledger-live-desktop/src/renderer/modals/VaultSigner/index.tsx
Labels: desktop

#3861 chore(ci): make git message follow conventional commits
  .github/workflows/gate.yml
  .github/workflows/release-create-hotfix.yml
  .github/workflows/release-create.yml
  .github/workflows/release-final-nightly.yml
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release-prerelease.yml
Labels: automation

#3846 fix(Firmware Update LLM): fix manager reload during update
  .changeset/new-maps-worry.md
  apps/ledger-live-mobile/src/screens/Manager/Manager.tsx
Labels: mobile

#3848 feat(llm/debug): debug setting to simulate that LLM has seen Stax once
  .changeset/perfect-chefs-know.md
  .changeset/popular-cooks-switch.md
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/screens/Settings/Debug/Configuration/HasStaxRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Configuration/index.tsx
  libs/coin-framework/src/mocks/fixtures/nfts.ts
Labels: mobile

#3863 chore(screenshots): trigger screenshot regen
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-firstAccountPage-operations-darwin.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-firstAccountPage-operations-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-firstAccountPage-operations-win32.png
Labels: desktop, screenshots

#3862 fix(Firmware Update LLM): fix manager reload during update
  .changeset/new-maps-worry.md
  apps/ledger-live-mobile/src/screens/Manager/Manager.tsx
Labels: mobile

#3736 feat: nft viewer background
  .changeset/fair-camels-exercise.md
  apps/ledger-live-mobile/src/components/Nft/NftViewer.tsx
  apps/ledger-live-mobile/src/components/Nft/NftViewerBackground.tsx
  apps/ledger-live-mobile/src/components/Nft/NftViewerScreenHeader.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/NftNavigator.tsx
Labels: mobile

#3826 [Feat/LIVE-7674]: add staking tracking for NEAR, ELROND
  apps/ledger-live-mobile/src/components/DelegationDrawer.tsx
  apps/ledger-live-mobile/src/families/cosmos/DelegationFlow/04-ValidationSuccess.tsx
  apps/ledger-live-mobile/src/families/cosmos/RedelegationFlow/04-ValidationSuccess.tsx
  apps/ledger-live-mobile/src/families/elrond/accountActions.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Delegate/components/SetDelegation/SetDelegation.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Delegate/components/ValidationSuccess/ValidationSuccess.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Delegate/types.ts
  apps/ledger-live-mobile/src/families/near/StakingFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/near/StakingFlow/04-ValidationSuccess.tsx
  apps/ledger-live-mobile/src/families/near/StakingFlow/types.ts
  apps/ledger-live-mobile/src/families/near/accountActions.tsx
  apps/ledger-live-mobile/src/families/solana/DelegationFlow/ValidationSuccess.tsx
Labels: mobile

#3865 [feat] Remove condition of terminated coin for Nano app installation
  .changeset/big-dodos-tickle.md
  libs/ledger-live-common/src/manager/index.test.ts
  libs/ledger-live-common/src/manager/index.ts
Labels: common

#3864 increase ttl for coin config
  .changeset/afraid-pants-decide.md
  libs/ledger-live-common/src/config/index.ts
Labels: common

#3871 bugfix(LLM): fix icons aligment on new Onboarding
  .changeset/two-eagles-cheat.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Onboarding/steps/ChoiceCard.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/NoLedgerYetModal.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/SelectionCard.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/useCaseSelection.tsx
Labels: mobile, translations

#3870 fix: fix lld osmos track
  .changeset/flat-garlics-shake.md
  apps/ledger-live-desktop/src/renderer/families/cosmos/DelegationFlowModal/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/RedelegationFlowModal/steps/StepConfirmation.tsx
Labels: desktop

#3692 feat: add DEX to LLM
  .changeset/grumpy-dryers-breathe.md
  .changeset/lucky-impalas-peel.md
  .changeset/six-adults-join.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Filter.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/filterRates.spec.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/filterRates.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/utils.test.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/utils.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/utils/index.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
  apps/ledger-live-mobile/src/icons/swap/Oneinch.tsx
  apps/ledger-live-mobile/src/icons/swap/Paraswap.tsx
  apps/ledger-live-mobile/src/icons/swap/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/reducers/swap.ts
  apps/ledger-live-mobile/src/screens/Swap/Form/EmptyState.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectProvider.tsx
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.test.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
  libs/ledger-live-common/src/exchange/swap/hooks/usePageState.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useProviderRates.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.test.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs, translations
