Repository LedgerHQ/ledger-live, pull requests merged in 2023-10, with the labels that each got.

#4845 [SUPPORT] : LLM - Change wording on lock screen Stax
  .changeset/happy-melons-taste.md
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#4790 [BUGFIX][LLM] wrong fee value for evm custom fee
  .changeset/smart-candles-lie.md
  apps/ledger-live-mobile/src/components/RootNavigator/types/SendFundsNavigator.ts
  apps/ledger-live-mobile/src/families/evm/EvmCustomFees/index.tsx
  apps/ledger-live-mobile/src/families/evm/EvmFeesStrategy.tsx
  apps/ledger-live-mobile/src/families/evm/SelectFeesStrategy.tsx
  apps/ledger-live-mobile/src/families/evm/types.ts
  libs/coin-evm/src/__tests__/unit/api/gasTracker/ledger.unit.test.ts
  libs/coin-evm/src/prepareTransaction.ts
  libs/coin-evm/src/transaction.ts
Labels: mobile

#4915 fix(protect-2522): can restore during onboarding
  .changeset/poor-moons-jog.md
  apps/ledger-live-mobile/src/screens/Onboarding/steps/protectFlow.tsx
Labels: mobile

#4917 speculos screen updates
  libs/ledger-live-common/src/families/cardano/speculos-deviceActions.ts
Labels: common, fork

#4922 [BUGFIX] : Tap and drag to see price over time on graph is buggy on LLM
  .changeset/gorgeous-items-shave.md
  apps/ledger-live-mobile/src/components/DateFormat/FormatDate.tsx
Labels: mobile

#4923 chore: clean up unused "stability" tests
  apps/ledger-live-desktop/tests/specs/general/stability.spec.ts
  apps/ledger-live-desktop/tests/userdata/bot-accounts.json
  apps/ledger-live-desktop/tests/userdata/bot-accounts.md
Labels: desktop

#4930 [LIVE-9628] Bugfix - Update currency used in OpDetails NFT hooks with TokenAccount operations
  .changeset/purple-dogs-shake.md
  apps/ledger-live-mobile/src/screens/OperationDetails/Content.tsx
Labels: mobile

#4872 chore: use s3 for screenshot upload
  .changeset/neat-dots-travel.md
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  .prototools
  pnpm-lock.yaml
  tools/actions/turborepo-s3-cache/build/main.js
  tools/actions/turborepo-s3-cache/src/main.ts
  tools/actions/turborepo-s3-cache/tsconfig.json
  tools/actions/upload-images/.gitignore
  tools/actions/upload-images/action.yml
  tools/actions/upload-images/build/main.js
  tools/actions/upload-images/main.ts
  tools/actions/upload-images/package.json
  tools/actions/upload-images/tsconfig.json
Labels: tools, automation

#4942 chore: downgrade to node16 in custom actions
  tools/actions/change-product-name/action.yml
  tools/actions/generate-bot-super-report/action.yml
  tools/actions/generate-release-message/action.yml
  tools/actions/get-package-infos/action.yml
  tools/actions/get-workflow-artifacts-id/action.yml
  tools/actions/live-common-affected/action.yml
  tools/actions/prepare-comment-screenshots/action.yml
  tools/actions/submit-bot-report/action.yml
  tools/actions/turbo-affected/action.yml
  tools/actions/turborepo-gh-cache/action.yml
  tools/actions/turborepo-s3-cache/action.yml
  tools/actions/upload-images/action.yml
Labels: tools

#4940 chore: bump pnpm
  .github/workflows/healthchecks-runners.yaml
  .prototools
  tools/actions/composites/bot/action.yml
  tools/actions/composites/setup-toolchain/action.yml
Labels: tools, automation

#4951 delegation screen fix
  libs/ledger-live-common/src/families/cardano/speculos-deviceActions.ts
Labels: common, fork

#4927 [LLM][Stax onboarding] No thumbnail displayed on Stax onboarding for Secret Recovery Phrase stories
  .changeset/silver-experts-hammer.md
  apps/ledger-live-mobile/src/components/StorylyStories/StoryGroupItem.tsx
Labels: mobile

#4929 fix(llm/stax/CustomImageDeviceAction): disable renderError "save logs" button
  .changeset/old-moons-add.md
  apps/ledger-live-mobile/src/components/CustomImageDeviceAction.tsx
Labels: mobile

#4955 Deactivate PNPM cache on Test e2e macOS
  .github/workflows/generate-screenshots.yml
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  tools/actions/composites/setup-test-desktop/action.yml
  tools/actions/composites/setup-toolchain/action.yml
Labels: tools, automation

#4971 fix(recover): deeplink event pairing device
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/protectFlow.tsx
Labels: desktop, mobile

#4924 LLM - Fixed a Recover button and changed the order of the Transfer Drawer buttons
  .changeset/popular-monkeys-mix.md
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
Labels: mobile

#4899 fix: apps description changed to shortDescription inside discover
  .changeset/sixty-horses-joke.md
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Card/Full.tsx
Labels: desktop

#4871 [SUPPORT] : LLM stax os update
  .changeset/light-ants-hang.md
  apps/ledger-live-mobile/src/components/DeviceAction/common.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/index.tsx
Labels: mobile, translations

#4727 [LIVE-8591]Update wording for ESC Stax
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/AppInstallItem.tsx
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/Body.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/ErrorDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SeedStep.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SyncOnboardingCompanion.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/Disclaimer.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/01-step-prepare.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/03-step-confirmation.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/ChangeDeviceLanguagePromptDrawer.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-change-language-drawer-selected-darwin.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-change-language-drawer-selected-linux.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-change-language-drawer-selected-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-français-with-device-l10n-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-drawer-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-drawer-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-drawer-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-reseted-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-reseted-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-reseted-win32.png
Labels: desktop, translations, screenshots

#4957 retry delegate screen fix
  libs/ledger-live-common/src/families/cardano/speculos-deviceActions.ts
Labels: common, fork

#4977 Update pull request template
  .github/pull_request_template.md
Labels: automation

#4897 [BUGFIX]: Fix string display in lockScreen
  .changeset/four-camels-notice.md
  apps/ledger-live-desktop/src/renderer/components/IsUnlocked.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/app-locked-darwin.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/app-locked-linux.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/app-locked-win32.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/lockscreen-wrong-password-darwin.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/lockscreen-wrong-password-linux.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/lockscreen-wrong-password-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/max-spendable-swap-linux.png
Labels: desktop, translations, screenshots

#4943 fix: add more bottom margin on earn screen
  apps/ledger-live-mobile/src/screens/PTX/Earn/index.tsx
Labels: mobile

#4976 Fix LLM onboarding quizz issue when closing
  .changeset/sharp-wombats-pull.md
  apps/ledger-live-mobile/src/components/NavigationHeader.tsx
Labels: mobile

#4932 feat(lld,llm/nft/stax): align custom lock screen entrypoint condition
  .changeset/cold-rats-sell.md
  apps/ledger-live-desktop/src/renderer/hooks/useNftLinks.ts
  apps/ledger-live-mobile/src/components/Nft/NftLinksPanel.tsx
Labels: desktop, mobile

#4877 Bugfix/live 6578 new ble flow screen
  .changeset/empty-taxis-jog.md
  .changeset/thin-news-double.md
  apps/ledger-live-mobile/src/components/RootNavigator/OnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/OnboardingNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/helpers/useIncrementOnNavigationFocusState.ts
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/BleDevicePairingFlow.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/deviceSelection.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/BLEPairingFlow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/BleDevicePairingScreen.tsx
Labels: mobile

#4988 LLM - modifs in recover links
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/useProtect.ts
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/hooks/recoverFeatureFlag.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#4991 [BUGFIX]: QR Code scan during Send broken
  .changeset/mighty-birds-mate.md
  apps/ledger-live-mobile/src/screens/SendFunds/02-SelectRecipient.tsx
Labels: mobile

#5002 fix(llm): modifs in recover links
  libs/ledger-live-common/src/hooks/recoverFeatureFlag.ts
Labels: common

#5006 fix(recover): source on useProtect
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/useProtect.ts
Labels: mobile

#5008 chore: bump setup-dotnet action
  tools/actions/composites/setup-toolchain/action.yml
Labels: tools

#4952 [BUGFIX] Height transfer drawer
  apps/ledger-live-mobile/src/components/TabBar/Transfer.tsx
Labels: mobile

#4989 Feat/vechain support
  libs/ledgerjs/packages/hw-app-vet/README.md
  libs/ledgerjs/packages/hw-app-vet/package.json
  libs/ledgerjs/packages/hw-app-vet/tests/Vechain.test.ts
  pnpm-lock.yaml
Labels: ledgerjs, fork

#5020 fix translation text delegation
  .changeset/small-singers-melt.md
  apps/ledger-live-desktop/src/renderer/families/cardano/Delegation/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tezos/Delegation/index.tsx
Labels: desktop

#5037 Set back the correct screenshot for LIVE-9614
  apps/ledger-live-desktop/tests/specs/accounts/delegate.smoke.spec.ts-snapshots/provider-search-page-darwin.png
Labels: desktop, screenshots

#5038 test: fix an await in the LLD eth tests
  apps/ledger-live-desktop/tests/specs/families/ethereum.spec.ts
  apps/ledger-live-desktop/tests/specs/families/polkadot.spec.ts
Labels: desktop

#5040 [support] Fixes for CLI commands `getAddress` and `bot`
  .changeset/gold-hats-relax.md
  apps/cli/src/commands/bot.ts
  apps/cli/src/commands/getAddress.ts
Labels: cli

#5039 fix: fix walletAPI fee strategy integration
  .changeset/sharp-avocados-turn.md
  libs/ledger-live-common/src/wallet-api/logic.ts
Labels: common

#5024 [LLM] - [] - Fix Stax wording
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#4916 Integrate SEI network
  .changeset/sixty-carpets-hug.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  apps/web-tools/live-common-setup.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/config/defaultConfig.ts
  libs/ledger-live-common/src/families/cosmos/chain/chain.unit.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/seiNetwork.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/seiNetwork.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/seiNetwork.ts
  libs/ledger-live-common/src/families/cosmos/specs.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs, HODL, cli

#5044 update snapshots
  libs/ledger-live-common/src/families/bitcoin/__snapshots__/bridge.integration.test.ts.snap
Labels: common

#4914 fix: remove deprecated dex urls patch
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/tests/specs/services/services-api-mocks/getRates.mock.ts
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/api/v5/__mocks__/fetchRates.mocks.ts
  libs/ledger-live-common/src/exchange/swap/mock.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.test.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.ts
Labels: desktop, mobile, common

#5022 Add a default blockheight value to Stellar
  .changeset/sweet-experts-collect.md
  libs/ledger-live-common/src/families/stellar/api/horizon.ts
Labels: common

#4933 fix: show ethereum address in input when scanned from QR code
  .changeset/shaggy-pots-wonder.md
  apps/ledger-live-mobile/metro.config.js
  apps/ledger-live-mobile/src/components/Scanner.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/02-SelectRecipient.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/RecipientRow.tsx
  libs/coin-evm/src/api/node/ledger.ts
  libs/ledger-live-common/src/bridge/useBridgeTransaction.ts
Labels: mobile, common

#5041 test: fix LIVE-9694
  apps/ledger-live-desktop/src/renderer/animations/index.tsx
Labels: desktop

#5052 Support/hotfix recover
  .changeset/dry-numbers-sniff.md
  .changeset/poor-moons-jog.md
  .changeset/popular-monkeys-mix.md
  .changeset/smooth-shoes-wait.md
  .changeset/strong-flowers-draw.md
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/SelectDevice/BluetoothEmpty.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/NewProtectState.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/useProtect.ts
  apps/ledger-live-mobile/src/components/ServicesWidget/index.tsx
  apps/ledger-live-mobile/src/components/TabBar/Transfer.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/hooks/useQuickActions.ts
  apps/ledger-live-mobile/src/images/ledger_recover_card_background.png
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Manager/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/protectFlow.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/hooks/recoverFeatureFlag.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs, translations

#5042 [LIVE-9653][LIVE-9691] Bugfix - Fix incorrect token id encoding in account ids & incorrect BSC tokens type
  .changeset/plenty-hairs-hear.md
  .changeset/smart-elephants-exercise.md
  libs/coin-evm/src/__tests__/fixtures/synchronization.fixtures.ts
  libs/coin-evm/src/__tests__/unit/adapters/etherscan.unit.test.ts
  libs/coin-evm/src/__tests__/unit/adapters/ledger.unit.test.ts
  libs/coin-evm/src/__tests__/unit/api/explorer/ledger.unit.test.ts
  libs/coin-evm/src/__tests__/unit/logic.unit.test.ts
  libs/coin-evm/src/__tests__/unit/preload.unit.test.ts
  libs/coin-evm/src/logic.ts
  libs/coin-evm/src/preload.ts
  libs/coin-evm/src/synchronization.ts
  libs/coin-framework/src/account/accountId.ts
  libs/coin-framework/src/account/accountId.unit.test.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
Labels: ledgerjs

#5062 [SUPPORT] update algorand and stelar integration tests snaphots
  libs/ledger-live-common/src/families/algorand/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/stellar/__snapshots__/bridge.integration.test.ts.snap
Labels: common

#4538 test: first pass of missing tests for the dummy-wallet-app
  apps/ledger-live-desktop/tests/README.md
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts
  apps/ledger-live-desktop/tests/specs/services/earn.spec.ts
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/api/mock.json
  libs/ledger-live-common/src/platform/types.ts
  libs/ledger-live-common/src/wallet-api/types.ts
  libs/test-utils/dummy-wallet-app/README.md
Labels: desktop, common

#4675 Ledger Tezos Validator
  .changeset/yellow-sloths-pay.md
  apps/ledger-live-desktop/src/renderer/families/tezos/BakerImage.tsx
  apps/ledger-live-desktop/src/renderer/families/tezos/DelegateFlowModal/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/tezos/DelegateFlowModal/steps/StepSummary.tsx
  apps/ledger-live-desktop/src/renderer/families/tezos/DelegateFlowModal/steps/StepValidator.tsx
  apps/ledger-live-desktop/src/renderer/families/tezos/DelegateFlowModal/types.ts
  apps/ledger-live-desktop/src/renderer/families/tezos/Delegation/Row.tsx
  apps/ledger-live-mobile/src/families/tezos/BakerImage.tsx
  apps/ledger-live-mobile/src/families/tezos/DelegationDetailsModal.tsx
  apps/ledger-live-mobile/src/families/tezos/DelegationFlow/SelectValidator.tsx
  apps/ledger-live-mobile/src/families/tezos/DelegationFlow/Summary.tsx
  libs/ledger-live-common/src/apps/support.ts
  libs/ledger-live-common/src/bridge/useBridgeTransaction.ts
  libs/ledger-live-common/src/families/tezos/bakers.test.ts
  libs/ledger-live-common/src/families/tezos/bakers.ts
  libs/ledger-live-common/src/families/tezos/bakers.whitelist-default.ts
  libs/ledger-live-common/src/families/tezos/bridge/js.ts
  libs/ledger-live-common/src/families/tezos/cli-transaction.ts
  libs/ledger-live-common/src/families/tezos/signOperation.ts
  libs/ledger-live-common/src/families/tezos/types.ts
Labels: desktop, mobile, common

#5083 chore: use github runners for build-desktop on win or mac
  .github/workflows/build-desktop.yml
Labels: automation

#5063 fix: fix TransportRaceCondition literal
  .changeset/perfect-kiwis-tickle.md
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#5026 cosmos handle txs without auth info
  .changeset/early-yaks-protect.md
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/coreum.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/cosmos.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/seiNetwork.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/js-synchronisation.ts
  libs/ledger-live-common/src/families/cosmos/js-synchronisation.unit.test.ts
Labels: common

#5073 fix: fix confirmation message swap web app
  .changeset/giant-wasps-exist.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  libs/ledger-live-common/src/exchange/platform/transfer/completeExchange.ts
  libs/ledger-live-common/src/exchange/platform/types.ts
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/webApp/utils.ts
  libs/ledger-live-common/src/hw/actions/completeExchange.ts
Labels: desktop, common

#4985 feat(wallet-api): add custom handler support [LIVE-9082]
  .changeset/soft-foxes-suffer.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/types.ts
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/index.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/index.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/types.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/wallet-api/CustomLogger/client.ts
  libs/ledger-live-common/src/wallet-api/CustomLogger/server.ts
  libs/ledger-live-common/src/wallet-api/CustomLogger/types.ts
  libs/ledger-live-common/src/wallet-api/react.ts
  libs/ledger-live-common/src/wallet-api/types.ts
  libs/test-utils/dummy-live-app/tsconfig.json
  libs/test-utils/dummy-wallet-app/package.json
  libs/test-utils/dummy-wallet-app/src/App.css
  libs/test-utils/dummy-wallet-app/src/App.tsx
  libs/test-utils/dummy-wallet-app/src/index.tsx
  libs/test-utils/dummy-wallet-app/tsconfig.json
  pnpm-lock.yaml
Labels: desktop, mobile, common

#5086 chore: prevent renderer to use dotenv
  apps/ledger-live-desktop/src/live-common-setup-base.ts
  apps/ledger-live-desktop/src/main/env.ts
  apps/ledger-live-desktop/src/main/setup.ts
  apps/ledger-live-desktop/src/renderer/env.ts
  apps/ledger-live-desktop/src/renderer/index.ts
  apps/ledger-live-desktop/src/sentry/install.ts
Labels: desktop

#5096 test: remove skip to test flakiness [LIVE-9616]
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts-snapshots/live-app-verify-address-darwin.png
Labels: desktop, screenshots

#5088 fix: swap web-app harmonisation fees
  .changeset/itchy-points-argue.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/webApp/utils.ts
Labels: desktop, common

#5069 [BUGFIX] fix NotEnoughGas related UI on LLM and LLD
  .changeset/witty-pigs-beam.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/components/BuyButton.tsx
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/SendFunds/04-Summary.tsx
Labels: desktop, mobile, translations

#5098 chore(playwright): use fs/promises when possible
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts
Labels: desktop

#5085 chore: detect critical crash at boot of LLD and show them to user
  apps/ledger-live-desktop/src/renderer/index.ts
  apps/ledger-live-desktop/src/renderer/init.tsx
  apps/ledger-live-desktop/src/renderer/pre.ts
  apps/ledger-live-desktop/tests/fixtures/common.ts
Labels: desktop

#5019 Bugfix/live 9554 Fix design of bluetooth pairing error screen
  .changeset/sixty-pets-promise.md
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Manager/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/BaseStepperView.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/ConnectNano.tsx
Labels: mobile, translations

#4289 chore(llm): upgrade React Native to 0.72.3
  .changeset/chilly-elephants-call.md
  .changeset/early-snakes-whisper.md
  .changeset/gentle-plants-dress.md
  .pnpmfile.cjs
  apps/ledger-live-mobile/.unimportedrc.json
  apps/ledger-live-mobile/Gemfile
  apps/ledger-live-mobile/Gemfile.lock
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainActivity.java
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainApplication.java
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/android/gradle.properties
  apps/ledger-live-mobile/android/gradle/wrapper/gradle-wrapper.properties
  apps/ledger-live-mobile/android/settings.gradle
  apps/ledger-live-mobile/ios/Podfile
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.h
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.mm
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/metro.config.js
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/screens/Manager/Modals/InstalledAppsModal.tsx
  libs/ledger-live-common/package.json
  libs/ui/packages/native/package.json
  libs/ui/packages/native/src/components/Layout/Collapse/Accordion/index.tsx
  libs/ui/packages/native/src/components/Layout/ScrollContainerHeader/index.tsx
  libs/ui/packages/native/src/components/cta/QuickAction/QuickActionList/index.tsx
  libs/ui/packages/native/storybook/constants/globalStyles.ts
  libs/ui/packages/native/storybook/stories/Icon/icons.stories.tsx
  pnpm-lock.yaml
  tools/metro-extra-config/duplicatesChecker.js
  tools/metro-extra-config/index.js
Labels: mobile, common, ui, tools

#4999 Bugfix/lld manager apps not supported
  .changeset/fuzzy-windows-dance.md
  .changeset/rare-toes-film.md
  apps/ledger-live-desktop/src/renderer/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsSettings/GroupedFeatures.tsx
  apps/ledger-live-desktop/src/storyly/useStoryly.tsx
  apps/ledger-live-mobile/src/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/DiscoverNavigator.tsx
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/FeatureFlagsSettings/GroupedFeatures.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/02-SelectRecipient.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/SummaryToSection.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/Storyly.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/index.tsx
  libs/ledger-live-common/src/exchange/swap/hooks/useIsSwapLiveApp.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchCurrencyAll.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchCurrencyFrom.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchCurrencyTo.ts
  libs/ledger-live-common/src/featureFlags/FeatureFlagsContext.test.tsx
  libs/ledger-live-common/src/featureFlags/FeatureFlagsContext.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/featureFlags/index.ts
  libs/ledger-live-common/src/featureFlags/mock.tsx
  libs/ledger-live-common/src/featureFlags/provider.tsx
  libs/ledger-live-common/src/featureFlags/useFeature.test.tsx
  libs/ledger-live-common/src/featureFlags/useFeature.ts
  libs/ledger-live-common/src/featureFlags/useHasOverriddenFeatureFlags.ts
Labels: desktop, mobile, common

#4941 chore: rework copyFolderRecursively using fs.promises.cp
  apps/ledger-live-desktop/scripts/beforePack.js
  apps/ledger-live-desktop/tools/main.js
  tools/native-modules-tools/index.js
Labels: desktop, tools

#4983 Bugfix/live 6393 unlock ble drawer
  .changeset/sharp-readers-occur.md
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/UnlockDeviceDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
  libs/ledger-live-common/src/ble/hooks/useBleDevicePairing.ts
Labels: mobile, common

#5078 bugfix(protect-2694): pass currency query param to recover
  .changeset/healthy-dots-give.md
  apps/ledger-live-desktop/src/renderer/screens/recover/Player.tsx
  apps/ledger-live-mobile/src/screens/Protect/Player.tsx
Labels: desktop, mobile

#5103 Align NotEnoughGas error message in LLD and LLM
  .changeset/tall-penguins-deliver.md
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#5025 [LIVE-9388][Stax] Modal for device language change when changing LLD language is wrong
  .changeset/forty-balloons-invite.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/ChangeDeviceLanguagePromptDrawer.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/LanguageSelect.tsx
Labels: desktop

#5004 [LIVE-8686][STAX ESC] Stax not correctly detected as disconnected if user unplugs during genuine check
  .changeset/quick-starfishes-check.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/TroubleshootingDrawer.tsx
Labels: desktop

#5115 [LIVE-9804] Bugfix - Fix `usePickDefaultCurrency` for non classic pairs
  .changeset/tall-impalas-confess.md
  .changeset/yellow-tigers-fold.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/exchange/swap/hooks/usePickDefaultCurrency.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: common, ledgerjs

#5113 [bugfix] Remove tokens definitions from ICP integration
  .changeset/thick-cars-compete.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/internet_computer.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
  libs/ledgerjs/packages/cryptoassets/src/types.ts
  libs/ledgerjs/script/crypto-assets-importer/importers/internet_computer/index.ts
Labels: desktop, common, ledgerjs

#5116 Smartling on-demand translation delivery from hotfix
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#5114 [bugfix] Hedera: correct estimated fees so that max spendable works as intended
  .changeset/metal-bottles-add.md
  libs/ledger-live-common/src/families/hedera/tests/js-estimateMaxSpendable.integration.test.ts
  libs/ledger-live-common/src/families/hedera/tests/utils.integration.test.ts
  libs/ledger-live-common/src/families/hedera/utils.ts
Labels: common

#5124 fix speculous actions on casper integration
  libs/ledger-live-common/src/families/casper/speculos-deviceActions.ts
Labels: common, fork

#5133 test: port completeExchangeLogic tests from platform to wallet-api [LIVE-9427]
  libs/ledger-live-common/src/wallet-api/logic.test.ts
Labels: common

#5134 chore(deps): update vite to v4.5.0
  apps/ledger-live-desktop/package.json
  pnpm-lock.yaml
Labels: desktop

#5119 [BUGFIX]: triggerSuccessEvent in Deposit flow
  .changeset/poor-knives-tickle.md
  apps/ledger-live-mobile/src/screens/ReceiveFunds/ReceiveSecurityModal/index.tsx
Labels: mobile

#4920 [BUGFIX] : NFTs do not load in the gallery when displayed in list view
  .changeset/popular-drinks-repeat.md
  apps/ledger-live-desktop/src/renderer/components/CustomImage/NFTGallerySelector.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Gallery/Collection.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Gallery/Gallery.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/useOnScreen.ts
Labels: desktop

#5151 test: disable flaky test [LIVE-9616]
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts
Labels: desktop

#5153 chore: increase default expect timeout of playwright
  apps/ledger-live-desktop/tests/playwright.config.ts
Labels: desktop

#5137 [SUPPORT] : 📝 Rename Entry points Deposit to Receive
  .changeset/thin-bats-drive.md
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#5060 fix(llm/lld): refresh user properties when accounts changes
  .changeset/dull-beans-hug.md
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-mobile/src/index.tsx
  libs/ledger-live-common/src/hooks/useAccountsWithFundsListener.test.tsx
  libs/ledger-live-common/src/hooks/useAccountsWithFundsListener.ts
Labels: desktop, mobile, common

#4835 Feat/LIVE-8384 - LLM - Add custom ordering to content cards
  apps/ledger-live-mobile/src/dynamicContent/dynamicContent.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/dynamicContent/useDynamicContentLogic.ts
  apps/ledger-live-mobile/src/screens/Learn/learn.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/Notifications.tsx
Labels: mobile, Stale

#5156 [BUGFIX] : high-low inversion in market stats
  .changeset/rare-ties-allow.md
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoinScreen/MarketInfo.tsx
Labels: desktop

#5170 [SUPPORT]: Remove Recommendations section in the settings 🔥
  .changeset/many-apples-speak.md
  apps/ledger-live-mobile/src/dynamicContent/dynamicContent.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/CarouselRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/index.tsx
Labels: mobile

#5158 [BUGFIX] LLM Experimental features & Developers section translation 📝
  .changeset/cold-spoons-mix.md
  apps/ledger-live-mobile/src/experimental.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Settings/Experimental/FeatureRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/index.tsx
Labels: mobile, translations

#5172 Skip pod reinstall if already there
  apps/ledger-live-mobile/.gitignore
  apps/ledger-live-mobile/scripts/post.mjs
Labels: mobile

#4881 Feat/LIVE-8385 - LLD - Add custom sort for content cards, based on "order" property
  .changeset/stale-dolphins-compare.md
  apps/ledger-live-desktop/src/renderer/components/Carousel/helpers.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useBraze.ts
  apps/ledger-live-desktop/src/types/dynamicContent.ts
Labels: desktop

#5181 chore: add json file as dependency for postinstall skip
  apps/ledger-live-mobile/scripts/post.mjs
Labels: mobile

#5182 chore: extract dummy-apps to tests folder and scaffold tests folder
  .github/workflows/test-mobile-e2e.yml
  apps/ledger-live-desktop/.gitignore
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts
  apps/ledger-live-desktop/tests/specs/services/earn.spec.ts
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts
  apps/ledger-live-mobile/e2e/specs/wallet-api.spec.ts
  libs/test-utils/package.json
  libs/test-utils/src/index.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/.gitignore
  tests/dummy-live-app/CHANGELOG.md
  tests/dummy-live-app/README.md
  tests/dummy-live-app/package.json
  tests/dummy-live-app/public/index.html
  tests/dummy-live-app/src/App.css
  tests/dummy-live-app/src/App.tsx
  tests/dummy-live-app/src/index.css
  tests/dummy-live-app/src/index.tsx
  tests/dummy-live-app/src/ledger-logo.png
  tests/dummy-live-app/src/react-app-env.d.ts
  tests/dummy-live-app/tsconfig.json
  tests/dummy-ptx-app/README.md
  tests/dummy-ptx-app/package.json
  tests/dummy-ptx-app/public/index.html
  tests/dummy-ptx-app/public/ledger-logo.png
  tests/dummy-wallet-app/CHANGELOG.md
  tests/dummy-wallet-app/README.md
  tests/dummy-wallet-app/package.json
  tests/dummy-wallet-app/public/dummy-icon.png
  tests/dummy-wallet-app/public/index.html
  tests/dummy-wallet-app/public/ledger-logo.png
  tests/dummy-wallet-app/src/App.css
  tests/dummy-wallet-app/src/App.tsx
  tests/dummy-wallet-app/src/hooks.ts
  tests/dummy-wallet-app/src/index.css
  tests/dummy-wallet-app/src/index.tsx
  tests/dummy-wallet-app/src/react-app-env.d.ts
  tests/dummy-wallet-app/tsconfig.json
  tools/actions/composites/setup-test-desktop/action.yml
Labels: desktop, mobile, tools, automation

#5190 fix: only use pnpm-lock.yaml for the hash
  tools/actions/composites/setup-toolchain/action.yml
Labels: tools

#5155 refactor: add missing types for the wallet-api CustomLogger
  .changeset/grumpy-jeans-rule.md
  libs/ledger-live-common/src/wallet-api/CustomLogger/client.ts
Labels: common

#5079 [B2CQA-2032] Update detox and tweak config
  .github/workflows/test-mobile-e2e.yml
  apps/ledger-live-mobile/detox.config.js
  apps/ledger-live-mobile/e2e/jest.config.js
  apps/ledger-live-mobile/e2e/specs/wallet-api.spec.ts
  apps/ledger-live-mobile/jest.config.js
  apps/ledger-live-mobile/package.json
  package.json
  patches/detox@20.13.1.patch
  pnpm-lock.yaml
Labels: mobile, automation

#5157 [SUPPORT]: Add more localisations text in Developers tabs
  .changeset/wet-phones-wash.md
  apps/ledger-live-desktop/src/renderer/modals/LottieDebugger/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/StorylyDebugger/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsSettings/FeatureFlagDetails.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsSettings/GroupedFeatures.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsSettings/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/OnboardingAppInstallDebug.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#5195 [BUGFIX] remove reference to deleted file
  .changeset/poor-trainers-share.md
  libs/ledgerjs/script/crypto-assets-importer/index.ts
Labels: ledgerjs

#5184 [LL] - [LIVE-9593] - Fix networks not displaying for some tokens on receive and other screens
  .changeset/brave-dodos-turn.md
  libs/ledger-live-common/src/deposit/helper.ts
Labels: common

#5203 fix: revert extract json
  apps/ledger-live-desktop/tools/config/renderer.esbuild.js
Labels: desktop

#5027 fix(LIVE-9486): add specific featureFlags deeplinks tutorial
  .changeset/curly-coats-draw.md
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SyncOnboardingCompanion.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/hooks/recoverFeatureFlag.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs

#5200 🐛 [BUGFIX] : Fix Placeholder for language in changeLanguagePrompt
  .changeset/eight-windows-hope.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/ChangeDeviceLanguagePromptDrawer.tsx
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-français-with-device-l10n-win32.png
Labels: desktop, screenshots

#4896 Bugfix/live 8698 Manager API v2 breaking changes adaptations
  .changeset/fresh-squids-cheer.md
  .changeset/poor-cobras-laugh.md
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/RootNavigator/index.tsx
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/screens/Manager/AppsInstallUninstallWithDependenciesContext.ts
  apps/ledger-live-mobile/src/screens/Manager/AppsList/AppInstallButton.tsx
  apps/ledger-live-mobile/src/screens/Manager/AppsList/AppRow.tsx
  apps/ledger-live-mobile/src/screens/Manager/AppsList/AppStateButton.tsx
  apps/ledger-live-mobile/src/screens/Manager/AppsList/AppUninstallButton.tsx
  apps/ledger-live-mobile/src/screens/Manager/AppsScreen.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/index.tsx
  apps/ledger-live-mobile/src/screens/Manager/Manager.tsx
  apps/ledger-live-mobile/src/screens/Manager/Modals/InstallAppDependenciesModal.tsx
  apps/ledger-live-mobile/src/screens/Manager/Modals/InstalledAppsModal.tsx
  apps/ledger-live-mobile/src/screens/Manager/Modals/UninstallAppDependenciesModal.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/ConnectNano.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/index.tsx
  libs/ledger-live-common/src/apps/listApps/v2.ts
  libs/ledger-live-common/src/apps/polyfill.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/manager/api.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs

#5196 [SUPPORT] Update cal data
  .changeset/tidy-maps-do.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/bep20.json
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42161/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42161/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/coins.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/polygon-erc20.json
Labels: desktop, common, ledgerjs

#5043 feat(options): Display biometrics option without setting password beforehand
  apps/ledger-live-mobile/src/components/SettingsRow.tsx
  apps/ledger-live-mobile/src/context/AuthPass/index.tsx
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Settings/General/AuthSecurityToggle.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/BiometricsRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/ConfirmPassword.tsx
Labels: mobile

#5136 fix(ui): wallet/account gradient displays correctly on large phones (samsung fold)
  .changeset/grumpy-adults-warn.md
  .changeset/metal-rats-sell.md
  apps/ledger-live-mobile/src/components/CurrencyGradient.tsx
  apps/ledger-live-mobile/src/components/SelectDevice/BluetoothEmpty.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabBackgroundGradient.tsx
Labels: mobile

#5178 fix(navigation): deposit flow, closing verify address correctly redirect to previous page
  .changeset/fifty-masks-flash.md
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03a-ConnectDevice.tsx
Labels: mobile

#5209 chore: ignore symlink copy of an existing file within the copyFolderRecursively
  tools/native-modules-tools/index.js
Labels: tools

#5208 fix(trads): change passwords options trad
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Settings/General/AuthSecurityToggle.tsx
Labels: mobile, translations

#5204 Fix json extract
  apps/ledger-live-desktop/tools/config/renderer.esbuild.js
Labels: desktop

#5142 bugfix: wrong error when user tries to install apps when device is locked
  .changeset/orange-parents-cross.md
  .changeset/poor-cars-lay.md
  .changeset/quick-teachers-play.md
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/hw/index.ts
  libs/ledger-live-common/src/hw/installApp.test.ts
  libs/ledger-live-common/src/hw/installApp.ts
  libs/ledger-live-common/src/mock/fixtures/anApp.ts
  libs/ledger-live-common/src/rxjs/operators/retryWithDelay.ts
  libs/ledger-live-common/src/socket/index.ts
  libs/ledgerjs/packages/hw-transport-mocker/src/fixtures/aTransport.ts
  libs/ledgerjs/packages/hw-transport-mocker/src/index.ts
  libs/ledgerjs/packages/hw-transport/README.md
  libs/ledgerjs/packages/hw-transport/src/Transport.ts
Labels: common, ledgerjs

#5212 Bugfix/LIVE-2140 - LLM - Catch errors from react-native-navigation-bar-color
  apps/ledger-live-mobile/src/components/NavBarColorHandler.android.ts
Labels: mobile

#5185 feat: add swap webview generic error drawer
  .changeset/stale-hairs-double.md
  apps/ledger-live-desktop/.unimportedrc.json
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/WebviewErrorDrawer/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#5217 chore: fix the import of live-common to not use /lib
  apps/cli/src/commands/botTransfer.ts
  apps/cli/src/commands/i18n.ts
  apps/cli/src/scan.ts
  apps/cli/src/signedOperation.ts
  apps/cli/src/transaction.ts
  apps/ledger-live-desktop/.eslintrc.js
  apps/ledger-live-desktop/src/generic.test.ts
  apps/ledger-live-desktop/src/renderer/families/elrond/StakeBanner.tsx
  apps/ledger-live-desktop/src/renderer/families/elrond/components/Modals/Delegate/steps/StepDelegation.tsx
  apps/ledger-live-desktop/src/renderer/families/internet_computer/MemoField.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.react.test.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/filterRates.spec.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/hooks/useRefreshRates.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/utils/getRefreshTime.ts
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Card/hooks.ts
  apps/ledger-live-mobile/.eslintrc.js
  apps/web-tools/live-common-setup.ts
  apps/web-tools/repl/commands.ts
  apps/web-tools/repl/components/App.tsx
  apps/web-tools/repl/components/fields/AmountField..tsx
  apps/web-tools/repl/components/fields/ApplicationField.tsx
  apps/web-tools/repl/components/fields/CryptoCurrencySelect.tsx
  apps/web-tools/repl/components/fields/TokenSelect.tsx
  apps/web-tools/repl/live-common-setup.ts
Labels: desktop, cli

#5201 fix(LLD/LLM CounterValues): Changed supported CounterValues source to API
  .changeset/neat-mirrors-joke.md
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/hooks/useInitSupportedCounterValues.ts
  apps/ledger-live-desktop/src/renderer/init.tsx
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/market/CountervalueSelect.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/CounterValueSelect.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/index.tsx
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/context/LedgerStore.tsx
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Market/MarketCurrencySelect.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/CountervalueSettings.tsx
  libs/coin-framework/src/currencies/support.ts
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.integ.test.ts
Labels: desktop, mobile, ledgerjs

#5219 Mobile E2E: fix detox JS bundling
  .github/workflows/test-mobile-e2e.yml
Labels: automation

#4992 [LIVE-9074][LLD][Stax Onboarding] Infinite loading when trying to onboard LNX through Stax onboarding
  .changeset/cyan-cooks-destroy.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/DeviceConnection/Searching.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/DeviceConnection/index.tsx
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts-snapshots/sync-onboarding-manual-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts-snapshots/sync-onboarding-manual-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts-snapshots/sync-onboarding-manual-nanoS-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts-snapshots/sync-onboarding-manual-nanoS-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts-snapshots/sync-onboarding-manual-nanoS-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts-snapshots/sync-onboarding-manual-nanoSP-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts-snapshots/sync-onboarding-manual-nanoSP-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts-snapshots/sync-onboarding-manual-nanoSP-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts-snapshots/sync-onboarding-manual-nanoX-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts-snapshots/sync-onboarding-manual-nanoX-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts-snapshots/sync-onboarding-manual-nanoX-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts-snapshots/sync-onboarding-manual-stax-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts-snapshots/sync-onboarding-manual-stax-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts-snapshots/sync-onboarding-manual-stax-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts-snapshots/sync-onboarding-manual-win32.png
Labels: desktop, screenshots

#5231 [LL] - [] - Add check script
  .changeset/shaggy-flowers-doubt.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-mobile/package.json
Labels: desktop, mobile

#5222 Support update LIVE-9978 inj icon
  .changeset/perfect-bananas-compare.md
  libs/ledger-live-common/src/data/icons/svg/INJ.svg
  libs/ui/packages/crypto-icons/src/svg/INJ.svg
Labels: common, ui

#5226 fix: fix min|max limit swap
  .changeset/nervous-tables-pull.md
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchRates.test.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchRates.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
Labels: common

#5233 test: analytics/segment test to not rely on timeouts
  apps/ledger-live-desktop/tests/specs/analytics/segment.spec.ts
Labels: desktop

#5242 chore: use download-artifact@v3 to remove a warning
  tools/actions/composites/upload-allure-report/action.yml
Labels: tools

#5197 [Feat/LIVE-9342]: init swap-live-app on exchange button click
  .changeset/polite-pumas-stare.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/webApp/utils.ts
Labels: desktop, common

#5154 feat: convert exchange modals flow in drawers
  .changeset/three-ladybugs-shave.md
  apps/ledger-live-desktop/src/renderer/actions/UI.ts
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/LiveAppDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Drawer.tsx
  apps/ledger-live-desktop/src/renderer/reducers/UI.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-win32.png
Labels: desktop, screenshots

#5215 Feat/tracking platform wallet api flow initiated broadcast success
  .changeset/twelve-keys-push.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/LiveAppSDKLogic.ts
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
Labels: enhancement, desktop, mobile

#5220 Setup unimported on live-common + ci
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile.yml
  .github/workflows/test.yml
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/scripts/sync-families-dispatch.mjs
  libs/ledger-live-common/src/convert.ts
  libs/ledger-live-common/src/exchange/platform/serialization.ts
  libs/ledger-live-common/src/exchange/sell/checkSignatureAndPrepare.ts
  libs/ledger-live-common/src/exchange/sell/getTransactionId.ts
  libs/ledger-live-common/src/exchange/sell/types.ts
  libs/ledger-live-common/src/exchange/swap/logic.ts
  libs/ledger-live-common/src/exchange/swap/serialization.ts
  libs/ledger-live-common/src/families/algorand/logic.ts
  libs/ledger-live-common/src/families/bitcoin/fees.ts
  libs/ledger-live-common/src/families/bitcoin/presync.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/stratis.ts
  libs/ledger-live-common/src/families/cardano/js-getFeesForTransaction.ts
  libs/ledger-live-common/src/families/elrond/helpers/nominate.ts
  libs/ledger-live-common/src/families/tron/api/mock.ts
  libs/ledger-live-common/src/generated/presync.ts
  libs/ledger-live-common/src/hooks/useValueChangedLogger.ts
  libs/ledger-live-common/src/hw/actions/initSell.ts
  libs/ledger-live-common/src/hw/checkAccountApp.ts
  libs/ledger-live-common/src/hw/checkCurrencyApp.ts
  libs/ledger-live-common/src/hw/checkDeviceForManager.ts
  libs/ledger-live-common/src/hw/flush.ts
  libs/ledger-live-common/src/hw/getLatestAvailableFirmwareFromDeviceId.test.ts
  libs/ledger-live-common/src/hw/getLatestAvailableFirmwareFromDeviceId.ts
  libs/ledger-live-common/src/hw/hooks/useGetLatestAvailableFirmware.test.ts
  libs/ledger-live-common/src/hw/hooks/useGetLatestAvailableFirmware.ts
  libs/ledger-live-common/src/load/tokens/tron/trc10.ts
  libs/ledger-live-common/src/load/tokens/tron/trc20.ts
  libs/ledger-live-common/src/nft/nftOperationId.ts
  libs/ledger-live-common/src/platform/constants.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: desktop, mobile, common, automation

#5244 fix: dedup recover from transfer drawer
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
Labels: mobile

#5248 fix: reintroduce top bar
  .changeset/ninety-bottles-occur.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
Labels: desktop

#5249 [LLD] - [LIVE-10016] - Fix exit on Send modal
  .changeset/new-squids-hope.md
  apps/ledger-live-desktop/src/renderer/modals/Send/index.tsx
Labels: desktop

#5214 Apply some small changes on tests and validations
  libs/ledger-live-common/src/families/casper/bridge/account.ts
  libs/ledger-live-common/src/families/casper/bridge/bridgeHelpers/transferId.ts
  libs/ledger-live-common/src/families/casper/consts.ts
  libs/ledger-live-common/src/families/casper/specs.ts
Labels: common, fork

#5247 test: allow loader not to even have time to appear (LIVE-9623)
  apps/ledger-live-desktop/tests/models/DeviceAction.ts
Labels: desktop

#5173 Add neon_evm support
  .changeset/gold-islands-raise.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/coin-evm/src/specs.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/data/icons/svg/NEON.svg
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/245022934/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/245022934/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/245022934/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/index.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ledgerjs/script/crypto-assets-importer/importers/evm/index.ts
Labels: desktop, mobile, common, ledgerjs, cli
