Repository LedgerHQ/ledger-live, pull requests merged in 2023-03, with the labels that each got.

#2775 feat: hide webview header if ledger recover
  .changeset/thick-ducks-reply.md
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/WebViewV2.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/index.tsx
Labels: mobile

#2797 fix(llm claimNft): timeout logic depending on focused state
  .changeset/metal-tips-shop.md
  apps/ledger-live-mobile/src/screens/ClaimNft/ClaimNftQrScan.tsx
Labels: mobile

#2796 BACK-4682 - add static crypto assets to dynamic CAL
  libs/ledgerjs/packages/cryptoassets/README.md
  libs/ledgerjs/packages/cryptoassets/src/data/asa.json
  libs/ledgerjs/packages/cryptoassets/src/data/asa.ts
  libs/ledgerjs/packages/cryptoassets/src/data/cardanoNative.json
  libs/ledgerjs/packages/cryptoassets/src/data/cardanoNative.ts
  libs/ledgerjs/packages/cryptoassets/src/data/esdt.json
  libs/ledgerjs/packages/cryptoassets/src/data/esdt.ts
  libs/ledgerjs/packages/cryptoassets/src/data/spl.json
  libs/ledgerjs/packages/cryptoassets/src/data/spl.ts
  libs/ledgerjs/packages/cryptoassets/src/data/stellar.json
  libs/ledgerjs/packages/cryptoassets/src/data/stellar.ts
  libs/ledgerjs/packages/cryptoassets/src/data/trc10.json
  libs/ledgerjs/packages/cryptoassets/src/data/trc10.ts
  libs/ledgerjs/packages/cryptoassets/src/data/trc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/trc20.ts
  libs/ledgerjs/script/crypto-assets-importer/tron/sync-trc10-tokens.js
Labels: ledgerjs

#2803 test(lld): clipped screenshot on unsupported-os test file
  apps/ledger-live-desktop/tests/specs/support/unsupported-os.spec.ts
  apps/ledger-live-desktop/tests/specs/support/unsupported-os.spec.ts-snapshots/error-os-unsupported-darwin.png
  apps/ledger-live-desktop/tests/specs/support/unsupported-os.spec.ts-snapshots/error-os-unsupported-linux.png
  apps/ledger-live-desktop/tests/specs/support/unsupported-os.spec.ts-snapshots/error-os-unsupported-win32.png
Labels: desktop, screenshots

#2793 support(ios): only bundle RN code and images on install
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
Labels: mobile

#2778 fix: prevent back from ledger recover webview
  .changeset/cold-scissors-roll.md
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/index.tsx
Labels: mobile

#2755 fix: passing params to dex quotes
  .changeset/moody-dolphins-peel.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/utils.js
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/utils.test.jsx
  apps/ledger-live-desktop/src/renderer/screens/platform/App.jsx
  apps/ledger-live-desktop/src/renderer/screens/platform/utils.test.ts
  apps/ledger-live-desktop/src/renderer/screens/platform/utils.tsx
Labels: desktop

#2432 Fix psbtv2 serializeMap function
  libs/ledgerjs/packages/hw-app-btc/src/newops/psbtv2.ts
  libs/ledgerjs/packages/hw-app-btc/tests/newops/psbtv2.test.ts
Labels: ledgerjs, fork

#2804 Add dynamic content in sync onboarding seed step
  .changeset/four-experts-explode.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
Labels: mobile, translations

#2725 chore: update to Electron 23 + @sentry/electron
  .changeset/great-lies-guess.md
  apps/ledger-live-desktop/package.json
  pnpm-lock.yaml
Labels: desktop

#2774 feat: forgot password link in lr login page
  apps/ledger-live-mobile/src/components/ServicesWidget/types.ts
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/screens/Protect/Login.tsx
Labels: mobile

#2811 chore(gh-bot): add refresh option
  tools/github-bot/src/features/orchestrator/const.ts
  tools/github-bot/src/features/orchestrator/index.ts
Labels: tools

#2690 BACK-4796: Prefix testnet token ticker with "t" in transaction config
  libs/ledgerjs/script/crypto-assets-importer/importers/erc20-signatures.js
Labels: ledgerjs, fork

#2618 feat: ethereum explorer tx pagination
  .changeset/dull-radios-walk.md
  libs/ledger-live-common/src/api/Ethereum.test.ts
  libs/ledger-live-common/src/api/Ethereum.ts
  libs/ledger-live-common/src/families/ethereum/synchronisation.test.ts
  libs/ledger-live-common/src/families/ethereum/synchronisation.ts
Labels: common

#2823 bugfix: FAT-740 fix user prompt loop on receive flow
  .changeset/forty-toes-smell.md
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03a-ConnectDevice.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03b-VerifyAddress.tsx
Labels: mobile

#2832 fix avalanche delegations table
  apps/ledger-live-desktop/src/renderer/families/avalanchepchain/Delegation/Header.jsx
  apps/ledger-live-desktop/src/renderer/families/avalanchepchain/Delegation/Row.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/families/avalanchepchain/api/sdk.ts
  libs/ledger-live-common/src/families/avalanchepchain/serialization.ts
  libs/ledger-live-common/src/families/avalanchepchain/types.ts
Labels: desktop, common, translations, fork

#2838 Fix - LLM - AuthLoop with FaceId
  .changeset/tasty-dodos-remember.md
  apps/ledger-live-mobile/src/context/AuthPass/index.tsx
Labels: mobile

#2834 fix: FAT-855 ui bug on new device selector on nft cls flow
  .changeset/dry-nails-push.md
  apps/ledger-live-mobile/src/screens/CustomImage/Step3Transfer.tsx
Labels: mobile

#2835 Handle Flaky Layout Discover test
  apps/ledger-live-desktop/src/renderer/components/Platform/AppDetails.jsx
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/discover-darwin.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/discover-linux.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/discover-win32.png
Labels: desktop, screenshots

#2851 chore: exchangeBulk unsubscribe support
  .changeset/red-poets-sneeze.md
  apps/ledger-live-desktop/src/config/transportChannels.ts
  apps/ledger-live-desktop/src/internal/index.js
  apps/ledger-live-desktop/src/internal/transportHandler.ts
  apps/ledger-live-desktop/src/main/internal-lifecycle.js
  apps/ledger-live-desktop/src/renderer/IPCTransport.js
Labels: desktop

#2833 Fix services widget location on device selection screen
  .changeset/chilly-pigs-retire.md
  apps/ledger-live-mobile/src/components/BuyDeviceCTA.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/screens/Manager/index.tsx
Labels: mobile

#2526 [LIVE-4937] Coin mod celo
  .changeset/friendly-turkeys-dress.md
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/families/celo/bridge/js.ts
  libs/ledger-live-common/src/families/celo/serialization.ts
  libs/ledger-live-common/src/reconciliation.ts
Labels: common

#2854 add Avalanche and Avalanche test in whitelistDependencies
  .changeset/moody-beers-smile.md
  libs/ledger-live-common/src/apps/polyfill.ts
Labels: common

#2779 LIVE-5065 Add edit transaction helper and env variable
  .changeset/odd-steaks-listen.md
  libs/coin-framework/src/env.ts
  libs/ledger-live-common/src/operation.ts
Labels: common

#2748 Setup react testing library in llm
  .changeset/sixty-spies-impress.md
  .pnpmfile.cjs
  apps/ledger-live-mobile/.eslintrc.js
  apps/ledger-live-mobile/.gitignore
  apps/ledger-live-mobile/babel.config.js
  apps/ledger-live-mobile/e2e/babel.config.detox.js
  apps/ledger-live-mobile/e2e/jest.config.js
  apps/ledger-live-mobile/jest-setup.js
  apps/ledger-live-mobile/jest.config.js
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/__test__/test-renderer.tsx
  apps/ledger-live-mobile/src/components/LText/LText.test.tsx
  apps/ledger-live-mobile/src/components/LText/index.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/liveSDKLogic.test.ts
  apps/ledger-live-mobile/tsconfig.json
  libs/ui/packages/crypto-icons/package.json
  libs/ui/packages/icons/package.json
  libs/ui/packages/native/package.json
  pnpm-lock.yaml
Labels: mobile, ui

#2516 [LIVE-4949] Tezos coin modularization
  .changeset/chilly-ties-scream.md
  libs/ledger-live-common/src/__tests__/accounts/groupPerDay.ts
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/families/tezos/bridge/js.ts
  libs/ledger-live-common/src/families/tezos/serialization.ts
  libs/ledger-live-common/src/reconciliation.ts
Labels: common

#2857 chore: only run the staging explorer btc/eth runs 1/week
  .github/workflows/bot-staging-explorer-btc.yml
  .github/workflows/bot-staging-explorer-eth.yml
Labels: automation

#2849 Bugfix/appstartuptime
  .changeset/lovely-camels-breathe.md
  apps/ledger-live-mobile/src/StartupTimeMarker.tsx
Labels: mobile

#2584 Feat/coin mod solana
  .changeset/real-squids-mate.md
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/families/solana/bridge/bridge.ts
  libs/ledger-live-common/src/families/solana/serialization.ts
  libs/ledger-live-common/src/reconciliation.ts
Labels: common

#2609 [LIVE-4940] Coin modularization elrond
  .changeset/poor-toes-wash.md
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/families/elrond/bridge/js.ts
  libs/ledger-live-common/src/families/elrond/js-signOperation.ts
  libs/ledger-live-common/src/families/elrond/js-synchronisation.ts
  libs/ledger-live-common/src/families/elrond/serialization.ts
  libs/ledger-live-common/src/reconciliation.ts
Labels: common

#2868 Revert RTL setup
  .changeset/sixty-spies-impress.md
  .pnpmfile.cjs
  apps/ledger-live-mobile/.eslintrc.js
  apps/ledger-live-mobile/.gitignore
  apps/ledger-live-mobile/babel.config.js
  apps/ledger-live-mobile/e2e/babel.config.detox.js
  apps/ledger-live-mobile/e2e/jest.config.js
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/ios/ledgerlivemobileTests/Info.plist
  apps/ledger-live-mobile/jest-setup.js
  apps/ledger-live-mobile/jest.config.js
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/__test__/test-renderer.tsx
  apps/ledger-live-mobile/src/components/LText/LText.test.tsx
  apps/ledger-live-mobile/src/components/LText/index.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/liveSDKLogic.test.ts
  apps/ledger-live-mobile/tsconfig.json
  libs/ui/packages/crypto-icons/package.json
  libs/ui/packages/icons/package.json
  libs/ui/packages/native/package.json
  pnpm-lock.yaml
Labels: mobile, ui

#2869 Revert "Merge pull request #2793 from LedgerHQ/support/ios-builds-improvement"
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
Labels: mobile

#2820 Support/use playwright http mocking for swap tests
  apps/ledger-live-desktop/src/renderer/components/Select/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/ToRow.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Filter.jsx
  apps/ledger-live-desktop/tests/models/Drawer.ts
  apps/ledger-live-desktop/tests/models/MarketPage.ts
  apps/ledger-live-desktop/tests/models/SwapPage.ts
  apps/ledger-live-desktop/tests/specs/general/terms.spec.ts
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-filter-starred-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-filter-starred-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-filter-starred-win32.png
  apps/ledger-live-desktop/tests/specs/services/services-api-mocks/getProviders.mock.ts
  apps/ledger-live-desktop/tests/specs/services/services-api-mocks/getRates.mock.ts
  apps/ledger-live-desktop/tests/specs/services/services-api-mocks/getStatus.mock.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-to-account-button-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-to-account-button-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-to-account-button-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/eth-to-usdt-quotes-generated-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/eth-to-usdt-quotes-generated-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/eth-to-usdt-quotes-generated-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/fixed-centralised-quotes-displayed-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/fixed-centralised-quotes-displayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/fixed-centralised-quotes-displayed-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/fixed-decentralised-quotes-displayed-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/fixed-decentralised-quotes-displayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/fixed-decentralised-quotes-displayed-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/floating-centralised-quotes-displayed-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/floating-centralised-quotes-displayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/floating-centralised-quotes-displayed-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/floating-decentralised-quotes-displayed-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/floating-decentralised-quotes-displayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/floating-decentralised-quotes-displayed-win32.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/only-decentralised-quotes-displayed-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/only-decentralised-quotes-displayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/only-decentralised-quotes-displayed-win32.png
  apps/ledger-live-desktop/tests/userdata/cosmosOsmosisStakingAccounts.json
  libs/ledger-live-common/src/exchange/swap/checkQuote.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
  libs/ledger-live-common/src/exchange/swap/getProviders.ts
  libs/ledger-live-common/src/exchange/swap/getStatus.ts
  libs/ledger-live-common/src/exchange/swap/postSwapState.ts
Labels: desktop, common, screenshots

#2876 chore(recover): add input to pre release flow
  .github/workflows/release-prerelease.yml
Labels: automation

#2681 feat: cosmos coin modularization
  .changeset/smooth-insects-look.md
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/families/cosmos/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/bridge/js.ts
  libs/ledger-live-common/src/families/cosmos/js-synchronisation.ts
  libs/ledger-live-common/src/families/cosmos/serialization.ts
  libs/ledger-live-common/src/reconciliation.ts
Labels: common

#2663 add analytics to LLM sync onboarding, claim NFT, install/restore apps and generics
  .changeset/happy-birds-share.md
  apps/ledger-live-mobile/android/.project
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicesScanning.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/screens/ClaimNft/ClaimNftQrScan.tsx
  apps/ledger-live-mobile/src/screens/ClaimNft/ClaimNftWelcome.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceLanguage.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceLanguageSelection.tsx
  apps/ledger-live-mobile/src/screens/PostOnboarding/PostOnboardingHub.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/DesyncDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/FirmwareUpdateDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/GenuineCheckCancelledDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/GenuineCheckDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/LanguageSelect.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/ResyncOverlay.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SoftwareChecksStep.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
  libs/ledger-live-common/mobile-test-app/android/.project
  libs/ledger-live-common/mobile-test-app/android/.settings/org.eclipse.buildship.core.prefs
Labels: mobile

#2320 FAT-736 FAT-766 FAT-767: New device action for the Firmware update
  apps/cli/src/commands-index.ts
  apps/cli/src/commands/deviceSDKFirmwareUpdate.ts
  apps/ledger-live-mobile/src/components/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/src/components/FirmwareUpdateBanner.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/screens/Manager/AppsScreen.tsx
  apps/ledger-live-mobile/src/screens/Manager/Manager.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/FirmwareUpdate.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/index.tsx
  libs/ledger-live-common/src/api/Manager.ts
  libs/ledger-live-common/src/deviceSDK/actions/updateFirmware.ts
  libs/ledger-live-common/src/deviceSDK/commands/firmwareUpdate/flashMcuOrBootloader.ts
  libs/ledger-live-common/src/deviceSDK/commands/firmwareUpdate/installFirmware.ts
  libs/ledger-live-common/src/deviceSDK/commands/getVersion.ts
  libs/ledger-live-common/src/deviceSDK/commands/quitApp.ts
  libs/ledger-live-common/src/deviceSDK/hooks/useUpdateFirmware.ts
  libs/ledger-live-common/src/deviceSDK/mocks/aTransportRef.ts
  libs/ledger-live-common/src/deviceSDK/tasks/core.test.ts
  libs/ledger-live-common/src/deviceSDK/tasks/core.ts
  libs/ledger-live-common/src/deviceSDK/tasks/getDeviceInfo.ts
  libs/ledger-live-common/src/deviceSDK/tasks/getLatestFirmware.ts
  libs/ledger-live-common/src/deviceSDK/tasks/updateFirmware.test.ts
  libs/ledger-live-common/src/deviceSDK/tasks/updateFirmware.ts
  libs/ledger-live-common/src/deviceSDK/transports/core.ts
  libs/ledger-live-common/src/hooks/useLatestFirmware.ts
Labels: mobile, common, cli

#2902 bugfix/lld: fixes side drawer close button
  .changeset/large-pianos-divide.md
  apps/ledger-live-desktop/src/renderer/components/SideDrawer.jsx
Labels: desktop

#2812 Feat/LIVE-4910 - NFT Gallery - Add floor price to NFT Gallery items
  .changeset/sweet-kiwis-fail.md
  apps/ledger-live-mobile/src/components/Nft/NftGallery/AddNewItemList.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftList.hook.ts
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftList.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftListItem.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftListItemFloorPriceRow.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/NFTGallerySelector.tsx
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
Labels: mobile

#2885 feat(LLD/LLM): New Deeplinks + Refacto
  .changeset/metal-snakes-deliver.md
  apps/ledger-live-desktop/DEEPLINK.md
  apps/ledger-live-desktop/release-notes.json
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.js
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/navigation/useDeepLinking.ts
Labels: desktop, mobile

#2889 [Cardano] Force bot to use Nano app v5.0.0
  libs/ledger-live-common/src/families/cardano/specs.ts
Labels: common

#2887 LLM - Recover - update support URL
  .changeset/stupid-rivers-repeat.md
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/RestoreWithProtect.tsx
Labels: mobile

#2721 Move to coin execution on renderer side
  .changeset/fluffy-socks-judge.md
  apps/ledger-live-desktop/src/internal/commands/index.js
  apps/ledger-live-desktop/src/internal/index.js
  apps/ledger-live-desktop/src/logger/logger-transport-renderer.js
  apps/ledger-live-desktop/src/main/internal-lifecycle.js
  apps/ledger-live-desktop/src/main/window-lifecycle.js
  apps/ledger-live-desktop/src/renderer/bridge/BridgeSyncContext.jsx
  apps/ledger-live-desktop/src/renderer/bridge/cache.js
  apps/ledger-live-desktop/src/renderer/bridge/proxy-commands.js
  apps/ledger-live-desktop/src/renderer/bridge/proxy.js
  apps/ledger-live-desktop/src/renderer/commands.js
  apps/ledger-live-desktop/src/renderer/components/ExportLogsButton.jsx
  apps/ledger-live-desktop/src/renderer/components/debug/DebugMock.jsx
  apps/ledger-live-desktop/src/renderer/experimental.jsx
  apps/ledger-live-desktop/src/renderer/live-common-setup.js
  apps/ledger-live-desktop/src/renderer/modals/MigrateAccounts/steps/StepCurrency.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/models/DeviceAction.ts
  libs/coin-framework/src/env.ts
Labels: desktop, translations

#2853 chore(codecov): update uploader in CI
  .github/workflows/test.yml
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/tests/fixtures/common.ts
  pnpm-lock.yaml
Labels: desktop, automation

#2908 LIVE-4440 Fix btc integration test
  .changeset/eighty-pens-breathe.md
  libs/ledger-live-common/src/families/bitcoin/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/bitcoin/datasets/bitcoin.scanAccounts.1.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/bitcoin_cash.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/bitcoin_gold.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/dash.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/decred.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/digibyte.scanAccounts.1.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/dogecoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/komodo.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/litecoin.scanAccounts.1.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/peercoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/pivx.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/qtum.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/vertcoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/viacoin.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/zcash.ts
  libs/ledger-live-common/src/families/bitcoin/datasets/zencash.ts
Labels: common

#2880 LLM - Notifications red dot disappearing when clicking on notifications bell
  apps/ledger-live-mobile/src/screens/NotificationCenter/Notifications.tsx
Labels: mobile

#2906 LLM - Wallet Connect New entry point
  .changeset/tough-teachers-perform.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
Labels: mobile

#2192 token not clickable in send flow
  .changeset/khaki-bugs-crash.md
  apps/ledger-live-mobile/src/helpers/formatAccountSearchResults.ts
Labels: mobile, Stale

#2905 Feat: add no funds modal(LLM)
  .changeset/big-bulldogs-run.md
  apps/ledger-live-mobile/src/components/NoFunds/CoinsIcon.tsx
  apps/ledger-live-mobile/src/components/NoFunds/NoFunds.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/NoFundsFlowNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/NoFundsNavigator.ts
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/components/TransferButton.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#2900 fix: fixed illustration for stax on language change prompt
  .changeset/hip-frogs-agree.md
  apps/ledger-live-mobile/src/components/ChangeDeviceLanguagePrompt.tsx
  apps/ledger-live-mobile/src/components/FirmwareUpdate/DeviceLanguageStep.tsx
  apps/ledger-live-mobile/src/images/illustration/Dark/Device/Stax.png
  apps/ledger-live-mobile/src/images/illustration/Light/Device/Stax.png
  apps/ledger-live-mobile/src/screens/Onboarding/steps/language.tsx
Labels: mobile

#2819 [LIVE-5077] Feature: `hw-app-eth` all-in-one clear signing method
  .changeset/hungry-falcons-tan.md
  libs/ledgerjs/packages/hw-app-eth/README.md
  libs/ledgerjs/packages/hw-app-eth/src/Eth.ts
  libs/ledgerjs/packages/hw-app-eth/tests/Eth.unit.test.ts
Labels: ledgerjs

#2806 ci(update-snapshots-desktop): conventional commit implementation
  tools/actions/composites/update-snapshots-desktop/action.yml
Labels: tools

#2674 Electron keyboard shortcuts tests
  apps/ledger-live-desktop/tests/specs/general/devmode.spec.ts
  apps/ledger-live-desktop/tests/specs/general/keyboard-shortcuts.spec.ts
  apps/ledger-live-desktop/tests/specs/general/keyboard-shortcuts.spec.ts-snapshots/no-native-menu-darwin.png
  apps/ledger-live-desktop/tests/specs/general/keyboard-shortcuts.spec.ts-snapshots/no-native-menu-linux.png
  apps/ledger-live-desktop/tests/specs/general/keyboard-shortcuts.spec.ts-snapshots/no-native-menu-win32.png
Labels: desktop, screenshots

#2924 fix: requestAccount currencies
  .changeset/twelve-suns-laugh.md
  libs/ledger-live-common/src/platform/helpers.ts
Labels: common

#2914 Feat/llm/no funds modal integration
  .changeset/dull-mice-agree.md
  apps/ledger-live-mobile/src/families/celo/accountActions.tsx
  apps/ledger-live-mobile/src/families/cosmos/accountActions.tsx
  apps/ledger-live-mobile/src/families/elrond/accountActions.tsx
  apps/ledger-live-mobile/src/families/ethereum/accountActions.tsx
  apps/ledger-live-mobile/src/families/near/accountActions.tsx
  apps/ledger-live-mobile/src/families/polkadot/accountActions.tsx
  apps/ledger-live-mobile/src/families/solana/accountActions.tsx
  apps/ledger-live-mobile/src/families/tron/accountActions.tsx
  apps/ledger-live-mobile/src/screens/Account/hooks/useAccountActions.tsx
Labels: mobile

#2896 Feat/LIVE-5846 - Onboarding - Guidelines screen to Restore with Recover
  .changeset/quiet-cherries-breathe.md
  apps/ledger-live-desktop/src/renderer/animations/nanoX/RecoverWithProtect/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/RecoverWithProtect/light.json
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/animations.ts
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectUseCase/assets/restoreUsingRecoverDark.png
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectUseCase/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/RecoverHowTo.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#2931 Revert "Feat/LIVE-5846 - Onboarding - Guidelines screen to Restore with protect
  .changeset/quiet-cherries-breathe.md
  apps/ledger-live-desktop/src/renderer/animations/nanoX/RecoverWithProtect/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/RecoverWithProtect/light.json
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/animations.ts
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectUseCase/assets/restoreUsingRecoverDark.png
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectUseCase/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/RecoverHowTo.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#2935 Feat/llm/move stake button to main buttons LIVE-6720
  .changeset/bright-lions-battle.md
  apps/ledger-live-mobile/src/families/celo/accountActions.tsx
  apps/ledger-live-mobile/src/families/cosmos/accountActions.tsx
  apps/ledger-live-mobile/src/families/elrond/accountActions.tsx
  apps/ledger-live-mobile/src/families/ethereum/accountActions.tsx
  apps/ledger-live-mobile/src/families/near/accountActions.tsx
  apps/ledger-live-mobile/src/families/polkadot/accountActions.tsx
  apps/ledger-live-mobile/src/families/solana/accountActions.tsx
  apps/ledger-live-mobile/src/families/tezos/accountActions.tsx
  apps/ledger-live-mobile/src/families/tron/accountActions.tsx
  apps/ledger-live-mobile/src/screens/Account/hooks/useAccountActions.tsx
Labels: mobile

#2862 fix: get all operations from mirror
  libs/ledger-live-common/src/families/hedera/api/mirror.ts
Labels: common, fork

#2635 Farewell 'Device Bridge' in LLD
  .changeset/eighty-moose-film.md
  apps/ledger-live-desktop/src/internal/commands/index.js
  apps/ledger-live-desktop/src/internal/commands/websocketBridge.js
  apps/ledger-live-desktop/src/renderer/modals/WebSocketBridge/Bridge.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#2252 feat: create client specifically to get balance
  .changeset/real-peas-live.md
  libs/ledger-live-common/src/families/hedera/api/network.ts
Labels: common, Stale, fork

#2944 feat: drop importDataString feature from LLM
  .changeset/olive-cherries-occur.md
  apps/ledger-live-mobile/README.md
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainActivity.java
  apps/ledger-live-mobile/scripts/android-import.sh
  apps/ledger-live-mobile/src/components/RootNavigator/index.tsx
  apps/ledger-live-mobile/src/index.tsx
Labels: mobile

#2816 style(llm): add video to cls welcome screen
  .changeset/clever-squids-cover.md
  apps/ledger-live-mobile/assets/videos/customLockScreenBanner/customLockScreenBannerDark.mp4
  apps/ledger-live-mobile/assets/videos/customLockScreenBanner/customLockScreenBannerLight.mp4
  apps/ledger-live-mobile/assets/videos/index.ts
  apps/ledger-live-mobile/src/screens/CustomImage/Step0Welcome.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/assets/welcome.png
Labels: mobile

#2939 documentation: github bot readme
  tools/github-bot/README.md
Labels: tools

#2676 bugfix/crypto_org: Fix automated test failure on Crypto.org Chain App
  libs/coin-framework/src/env.ts
  libs/ledger-live-common/dependencies.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/crypto_org/api/sdk.ts
  libs/ledger-live-common/src/families/crypto_org/js-buildTransaction.ts
  libs/ledger-live-common/src/families/crypto_org/js-signOperation.ts
  libs/ledger-live-common/src/families/crypto_org/logic.ts
  pnpm-lock.yaml
Labels: common, fork

#2327 Discover v2
  .changeset/thirty-trains-dream.md
  apps/ledger-live-mobile/src/components/HeaderTitle.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/DiscoverNavigator.ios.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/DiscoverNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ExchangeLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/WalletConnectLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/DiscoverNavigator.ts
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/BottomNav.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/InfoPanel.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/WebView.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/WebViewV2.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/hooks.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/types.ts
  apps/ledger-live-mobile/src/db.ts
  apps/ledger-live-mobile/src/experimental.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/navigation/navigatorConfig.tsx
  apps/ledger-live-mobile/src/screens/Discover/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/Catalog/AppCard.tsx
  apps/ledger-live-mobile/src/screens/Platform/Catalog/Banner.tsx
  apps/ledger-live-mobile/src/screens/Platform/Catalog/DAppDisclaimer.tsx
  apps/ledger-live-mobile/src/screens/Platform/Catalog/TwitterBanner.tsx
  apps/ledger-live-mobile/src/screens/Platform/Catalog/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/LiveApp.tsx
  apps/ledger-live-mobile/src/screens/Platform/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/AppIcon.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/AppCard.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Banner.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/CatalogSection.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/DAppDisclaimer.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Layout.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/ManifestList.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/RecentlyUsed.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Search/SearchBar.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Search/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/TwitterBanner.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/hooks.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/types.ts
  apps/ledger-live-mobile/src/screens/Platform/v2/LiveApp.tsx
  libs/coin-framework/src/env.ts
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/index.tsx
  libs/ledger-live-common/src/platform/types.ts
Labels: mobile, common, translations

#2942 feat: update cardano xray token
  .changeset/old-windows-explain.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/cardanoNative.json
Labels: desktop, common, ledgerjs

#2958 [Partial] Feat - Naming Service LLD Review
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.react.test.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientFieldBase.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientFieldDomainService.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/index.jsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepSummary.jsx
  libs/coin-framework/src/transaction/common.ts
  libs/domain-service/jest.config.js
  libs/domain-service/package.json
  libs/domain-service/src/__tests__/functionnal/domain-service.react.test.tsx
  libs/domain-service/src/__tests__/tsconfig.json
  libs/domain-service/src/__tests__/unit/resolvers.unit.test.ts
  libs/domain-service/src/hooks/index.tsx
  libs/domain-service/src/hooks/logic.ts
  libs/domain-service/src/hooks/naming-service.react.test.tsx
  libs/domain-service/src/hooks/types.ts
  libs/domain-service/src/resolvers/index.ts
  libs/domain-service/src/types.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/domain.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ledgerjs/packages/types-live/src/index.ts
  libs/ledgerjs/packages/types-live/src/transaction.ts
  pnpm-lock.yaml
Labels: desktop, common, ledgerjs

#2929 feat(ledgerjs-cal): update CAL
  .changeset/smooth-jars-know.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/polygon-erc20.ts
Labels: desktop, common, ledgerjs

#2965 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#2934 feat: add earn on main side bar
  .changeset/loud-suits-taste.md
  apps/ledger-live-desktop/src/renderer/Default.jsx
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/earn/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/models/Layout.ts
  apps/ledger-live-desktop/tests/specs/services/earn.spec.ts
  apps/ledger-live-desktop/tests/specs/services/earn.spec.ts-snapshots/earn-app-opened-darwin.png
  apps/ledger-live-desktop/tests/specs/services/earn.spec.ts-snapshots/earn-app-opened-linux.png
  apps/ledger-live-desktop/tests/specs/services/earn.spec.ts-snapshots/earn-app-opened-win32.png
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, ledgerjs, translations, screenshots

#2961 fix(dev-tools): LIVE-6789 remove duplicated entries in dev menu LLD
  .changeset/sixty-singers-move.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.jsx
Labels: desktop

#2559 Support/add ghostmarket tokens icons
  .changeset/unlucky-pugs-run.md
  libs/ledger-live-common/src/data/icons/svg/GM.svg
Labels: common, fork

#2943 [FEAT]: LIVE-3796 Date Format in LLM
  .changeset/quiet-snails-fold.md
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/AssetCentricGraphCard.tsx
  apps/ledger-live-mobile/src/components/DateFormat/FormatDate.tsx
  apps/ledger-live-mobile/src/components/DateFormat/FormatDay.tsx
  apps/ledger-live-mobile/src/components/DateFormat/FormatRelativeTime.tsx
  apps/ledger-live-mobile/src/components/DateFormat/formatter.util.ts
  apps/ledger-live-mobile/src/components/DoubleCountervalue.tsx
  apps/ledger-live-mobile/src/components/FormatDay.tsx
  apps/ledger-live-mobile/src/components/GraphCard.tsx
  apps/ledger-live-mobile/src/components/SectionHeader.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Lending/ClosedLoans/ClosedLoansRow.tsx
  apps/ledger-live-mobile/src/screens/Newsfeed/index.tsx
  apps/ledger-live-mobile/src/screens/OperationDetails/Content.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/DateFormatDrawer.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/DateFormatRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/OperationDetails.tsx
Labels: mobile, translations

#2963 Bugfix/llm/fix stake account btn integration LIVE-5233
  .changeset/popular-ligers-confess.md
  apps/ledger-live-mobile/src/families/celo/accountActions.tsx
  apps/ledger-live-mobile/src/families/cosmos/accountActions.tsx
  apps/ledger-live-mobile/src/families/elrond/accountActions.tsx
  apps/ledger-live-mobile/src/families/ethereum/accountActions.tsx
  apps/ledger-live-mobile/src/families/near/accountActions.tsx
  apps/ledger-live-mobile/src/families/polkadot/accountActions.tsx
  apps/ledger-live-mobile/src/families/solana/accountActions.tsx
  apps/ledger-live-mobile/src/families/tezos/accountActions.tsx
  apps/ledger-live-mobile/src/families/tron/accountActions.tsx
Labels: mobile

#2680 feat: Bitcoin coin modularization
  .changeset/hot-tips-protect.md
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/families/bitcoin/bridge/js.ts
  libs/ledger-live-common/src/families/bitcoin/descriptor.test.ts
  libs/ledger-live-common/src/families/bitcoin/satstack.test.ts
  libs/ledger-live-common/src/families/bitcoin/serialization.test.ts
  libs/ledger-live-common/src/families/bitcoin/serialization.ts
  libs/ledger-live-common/src/migrations/accounts-dataset.ts
Labels: common

#2297 feat: update Hedera Explorer links
  .changeset/flat-donkeys-behave.md
  libs/ledger-live-common/src/bot/portfolio/__snapshots__/formatter.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: common, ledgerjs, fork

#2982 chore: prevent release flow failing because of admin rights
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare.yml
Labels: automation

#2296 feat: update test for fee estimates to use scaling usd price
  .changeset/hip-peas-own.md
  libs/ledger-live-common/src/families/hedera/bridge.integration.test.ts
  libs/ledger-live-common/src/families/hedera/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/hedera/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/hedera/js-signOperation.ts
  libs/ledger-live-common/src/families/hedera/tests/js-estimateMaxSpendable.integration.test.ts
  libs/ledger-live-common/src/families/hedera/tests/utils.integration.test.ts
  libs/ledger-live-common/src/families/hedera/utils.ts
Labels: common, fork

#2956 Feat(LIVE-6736): handle new sync onboarding flags
  .changeset/dry-crabs-compare.md
  .changeset/modern-coins-tell.md
  .changeset/tame-poems-join.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/RecoveryContent.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SeedStep.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
  libs/ledger-live-common/src/hw/extractOnboardingState.test.ts
  libs/ledger-live-common/src/hw/extractOnboardingState.ts
Labels: desktop, mobile, common, translations

#2988 fix: fix account order main buttons
  .changeset/few-games-melt.md
  apps/ledger-live-mobile/src/screens/Account/hooks/useAccountActions.tsx
Labels: mobile

#2978 Feat/lld/add common stake flow
  .changeset/silly-forks-train.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/StakeFlowNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/StakeNavigator.ts
  apps/ledger-live-mobile/src/components/Stake/index.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/families/ethereum/accountActions.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#2784 [LIVE-5399] Bugfix - Solana: introduce minimum rent exemption balance
  .changeset/silly-planets-bake.md
  libs/ledger-live-common/src/families/solana/api/chain/web3.ts
  libs/ledger-live-common/src/families/solana/bridge.integration.test.ts
  libs/ledger-live-common/src/families/solana/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/solana/js-prepareTransaction.ts
  libs/ledger-live-common/src/families/solana/logic.ts
Labels: common, fork

#2991 [B2CQA-1718] Detox : fix language selection test
  apps/ledger-live-mobile/e2e/specs/languageChange.spec.ts
Labels: mobile

#2976 feat: remove polkadot serialization
  .changeset/forty-pants-search.md
  libs/ledger-live-common/src/account/serialization.ts
Labels: common

#2993 chore: ignore generated release notes file
  apps/ledger-live-desktop/.gitignore
  apps/ledger-live-desktop/release-notes.json
Labels: desktop

#2994 fixes: restore troubleshoot networking debug feature
  .changeset/eighty-emus-press.md
  apps/ledger-live-desktop/src/renderer/components/TroubleshootNetworkButton.jsx
  apps/ledger-live-desktop/src/renderer/modals/TroubleshootNetwork/Body.jsx
Labels: desktop

#2975 chore: slow rate for account incremental sync and countervalues
  .changeset/smart-eggs-compete.md
  apps/ledger-live-desktop/tests/specs/countervalues/api.spec.ts
  libs/coin-framework/src/env.ts
  libs/ledger-live-common/src/countervalues/react.tsx
Labels: desktop, common

#2995 chore: add dependencies to ljs packages and remove from .pnpmfile.cjs file
  .pnpmfile.cjs
  libs/ledgerjs/package.json
  libs/ledgerjs/packages/cryptoassets/package.json
  libs/ledgerjs/packages/devices/package.json
  libs/ledgerjs/packages/errors/package.json
  libs/ledgerjs/packages/hw-app-algorand/package.json
  libs/ledgerjs/packages/hw-app-btc/package.json
  libs/ledgerjs/packages/hw-app-cosmos/package.json
  libs/ledgerjs/packages/hw-app-eth/package.json
  libs/ledgerjs/packages/hw-app-helium/package.json
  libs/ledgerjs/packages/hw-app-near/package.json
  libs/ledgerjs/packages/hw-app-polkadot/package.json
  libs/ledgerjs/packages/hw-app-solana/package.json
  libs/ledgerjs/packages/hw-app-str/package.json
  libs/ledgerjs/packages/hw-app-tezos/package.json
  libs/ledgerjs/packages/hw-app-trx/package.json
  libs/ledgerjs/packages/hw-app-xrp/package.json
  libs/ledgerjs/packages/hw-transport-http/package.json
  libs/ledgerjs/packages/hw-transport-mocker/package.json
  libs/ledgerjs/packages/hw-transport-node-ble/package.json
  libs/ledgerjs/packages/hw-transport-node-hid-noevents/package.json
  libs/ledgerjs/packages/hw-transport-node-hid-singleton/package.json
  libs/ledgerjs/packages/hw-transport-node-hid/package.json
  libs/ledgerjs/packages/hw-transport-node-speculos-http/package.json
  libs/ledgerjs/packages/hw-transport-node-speculos/package.json
  libs/ledgerjs/packages/hw-transport-web-ble/package.json
  libs/ledgerjs/packages/hw-transport-webhid/package.json
  libs/ledgerjs/packages/hw-transport-webusb/package.json
  libs/ledgerjs/packages/hw-transport/package.json
  libs/ledgerjs/packages/logs/package.json
  libs/ledgerjs/packages/react-native-hid/package.json
  libs/ledgerjs/packages/react-native-hw-transport-ble/package.json
  libs/ledgerjs/packages/swift-bridge-hw-app-eth/package.json
  libs/ledgerjs/packages/swift-bridge-hw-app-solana/package.json
  libs/ledgerjs/packages/swift-bridge-hw-transport-ble/package.json
  libs/ledgerjs/packages/types-cryptoassets/package.json
  libs/ledgerjs/packages/types-devices/package.json
  libs/ledgerjs/packages/types-live/package.json
  pnpm-lock.yaml
  tools/actions/generate-bot-super-report/build/main.js
Labels: ledgerjs, tools

#2879 feat: live-6698 improve account generator to support delisted tokens
  .changeset/cold-roses-whisper.md
  apps/ledger-live-mobile/src/components/AssetCentricGraphCard.tsx
  apps/ledger-live-mobile/src/components/CounterValue.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Generators/GenerateMockAccountsSelect.tsx
  libs/coin-framework/src/mocks/account.ts
Labels: mobile

#2926 fix(sync-onboarding): handle X as completion if onboarding is completed
  .changeset/twenty-vans-call.md
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
Labels: mobile

#2933 feat: lld/earn deep links
  .changeset/great-humans-move.md
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.js
  apps/ledger-live-desktop/src/renderer/modals/StartStake/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.jsx
  apps/ledger-live-desktop/src/renderer/screens/earn/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/earn/useDeepLinkListener.ts
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoinScreen/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketRowItem.tsx
  apps/ledger-live-desktop/src/renderer/screens/stake/index.tsx
Labels: desktop

#2814 feat/FAT-793 UX Improvement for install set of apps
  .changeset/famous-walls-beg.md
  .changeset/sharp-oranges-hammer.md
  .changeset/silly-impalas-turn.md
  .changeset/young-apes-knock.md
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/AppInstallItem.tsx
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/InstallSetOfApps.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/Item.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/index.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/InstallSetOfApps.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/index.tsx
  libs/env/src/env.ts
  libs/ledger-live-common/src/apps/hw.ts
  libs/ledger-live-common/src/apps/logic.ts
  libs/ledger-live-common/src/apps/types.ts
  libs/ledger-live-common/src/hw/actions/app.ts
  libs/ledger-live-common/src/hw/connectApp.ts
Labels: desktop, mobile, common, translations

#3002 fix: LIVE-6749 Handle the device full case on language pack install
  .changeset/light-suns-stare.md
  libs/ledger-live-common/src/hw/installLanguage.ts
  libs/ledger-live-common/src/hw/staxLoadImage.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: common, ledgerjs

#2960 bugfix(usb-otg): LIVE-6771 multiple fixes to USB OTG on LLM
  .changeset/yellow-days-brush.md
  apps/ledger-live-mobile/src/components/SelectDevice/USBEmpty.android.tsx
  apps/ledger-live-mobile/src/components/SelectDevice/index.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/reducers/ble.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/03-Accounts.tsx
Labels: mobile

#2903 fix(ui): broken ui on add account flow list
  .changeset/sixty-cooks-occur.md
  apps/ledger-live-mobile/src/components/AccountCard.tsx
  apps/ledger-live-mobile/src/components/CurrencyIcon.tsx
Labels: mobile

#2959 Add LLD architecture documentation for IPCTransport and web workers
  apps/ledger-live-desktop/src/renderer/IPCTransport.md
  apps/ledger-live-desktop/src/renderer/webworkers/README.md
Labels: desktop

#3012 chore: stabilize the stability test =)
  apps/ledger-live-desktop/tests/specs/general/stability.spec.ts
Labels: desktop

#2999 fix: add track cosmos/osmos account banner
  .changeset/curly-spies-provide.md
  apps/ledger-live-desktop/src/renderer/families/cosmos/StakeBanner.tsx
Labels: desktop

#2664 feat: Cryptoorg coin modularization
  .changeset/serious-toes-turn.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.js
  apps/ledger-live-mobile/src/live-common-setup.ts
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/families/crypto_org/bridge/js.ts
  libs/ledger-live-common/src/families/crypto_org/serialization.test.ts
  libs/ledger-live-common/src/families/crypto_org/serialization.ts
Labels: desktop, mobile, common

#3024 [B2CQA-1720] Report Detox tests fail for develop branch on slack
  .github/workflows/test-mobile-e2e.yml
Labels: automation

#3026 chore: make exported logs formatted by default
  .changeset/odd-kangaroos-give.md
  apps/ledger-live-desktop/src/renderer/components/ExportLogsButton.jsx
  apps/ledger-live-mobile/src/components/useExportLogs.tsx
Labels: desktop, mobile

#3015 [LIVE-6824] Bugfix - Replace songbird RPC node
  .changeset/orange-toys-wave.md
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: ledgerjs

#3031 fix: rename analytics token attribute in stake banner account LIVE-5013
  .changeset/tough-feet-mate.md
  apps/ledger-live-desktop/src/renderer/families/cosmos/StakeBanner.tsx
  apps/ledger-live-desktop/src/renderer/families/elrond/StakeBanner.tsx
  apps/ledger-live-desktop/src/renderer/families/ethereum/StakeBanner.tsx
  apps/ledger-live-desktop/src/renderer/families/near/StakeBanner.tsx
  apps/ledger-live-desktop/src/renderer/families/solana/StakeBanner.tsx
Labels: desktop

#3030 fix: fix wrong display for amount to receive in swap drawer
  .changeset/long-glasses-walk.md
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.test.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
Labels: common

#3029 feat/LIVE-5856 - LIVE-6849 - Recover - Screens pixel polish
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/NewProtectState.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/index.tsx
  apps/ledger-live-mobile/src/images/ledger_recover_card_top.png
  apps/ledger-live-mobile/src/images/ledger_recover_dark.png
  apps/ledger-live-mobile/src/images/ledger_recover_light.png
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/RestoreWithProtect.tsx
Labels: mobile, translations

#3035 feat(LLM/Recover): Upsell
  .changeset/grumpy-apes-bake.md
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/RootNavigator/OnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/OnboardingNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/logic/internetReachable.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Onboarding/steps/finish.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/pairNew.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  pnpm-lock.yaml
Labels: mobile

#2671 [LIVE-5080] Feature - Domain Service Resolution on LLD
  .changeset/young-lobsters-arrive.md
  apps/ledger-live-desktop/fileMock.js
  apps/ledger-live-desktop/jest.config.js
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/config/urls.js
  apps/ledger-live-desktop/src/renderer/components/Alert.jsx
  apps/ledger-live-desktop/src/renderer/components/Input.jsx
  apps/ledger-live-desktop/src/renderer/components/RecipientAddress.jsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.jsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.react.test.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientFieldBase.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientFieldDomainService.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/index.jsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepSummary.jsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/RecipientField.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/index.jsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/steps/StepSummary.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tsconfig.json
  apps/ledger-live-mobile/src/families/helpers.ts
  libs/coin-framework/src/transaction/common.ts
  libs/domain-service/jest.config.js
  libs/domain-service/package.json
  libs/domain-service/src/__tests__/functionnal/domain-service.react.test.tsx
  libs/domain-service/src/__tests__/tsconfig.json
  libs/domain-service/src/__tests__/unit/resolvers.unit.test.ts
  libs/domain-service/src/hooks/index.tsx
  libs/domain-service/src/hooks/logic.ts
  libs/domain-service/src/hooks/types.ts
  libs/domain-service/src/index.ts
  libs/domain-service/src/resolvers/index.ts
  libs/domain-service/src/types.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/featureFlags/useFeature.ts
  libs/ledger-live-common/src/naming-service/api.integration.test.ts
  libs/ledger-live-common/src/naming-service/api.ts
  libs/ledger-live-common/src/naming-service/index.tsx
  libs/ledger-live-common/src/naming-service/logic.ts
  libs/ledger-live-common/src/naming-service/naming-service.react.test.tsx
  libs/ledger-live-common/src/naming-service/types.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/domain.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ledgerjs/packages/types-live/src/index.ts
  libs/ledgerjs/packages/types-live/src/transaction.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, ledgerjs, translations

#3013 chore: remove dead code of LLD
  .github/workflows/test-desktop.yml
  apps/ledger-live-desktop/.unimportedrc.json
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/helpers/staticPath.js
  apps/ledger-live-desktop/src/main/updater/createMockAppUpdater.js
  apps/ledger-live-desktop/src/renderer/components/ArrowSeparator.jsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/Swap/index.jsx
  apps/ledger-live-desktop/src/renderer/components/CountdownTimer.jsx
  apps/ledger-live-desktop/src/renderer/components/DoubleCounterValue.jsx
  apps/ledger-live-desktop/src/renderer/components/Illustration.tsx
  apps/ledger-live-desktop/src/renderer/components/ModalStepper/testModal.jsx
  apps/ledger-live-desktop/src/renderer/components/RadioGroup.jsx
  apps/ledger-live-desktop/src/renderer/components/Storyly/StorylyWrapper.tsx
  apps/ledger-live-desktop/src/renderer/components/Storyly/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SeedStep.tsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/ledgerLiveAPI.js
  apps/ledger-live-desktop/src/renderer/families/celo/AccountSubHeader/AccountSubHeader.jsx
  apps/ledger-live-desktop/src/renderer/families/celo/AccountSubHeader/AccountSubHeader.styles.jsx
  apps/ledger-live-desktop/src/renderer/families/celo/AccountSubHeader/AccountSubHeaderDrawer.jsx
  apps/ledger-live-desktop/src/renderer/families/celo/AccountSubHeader/AccountSubHeaderDrawer.styles.jsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/shared/components/CosmosLedgerValidatorIcon.jsx
  apps/ledger-live-desktop/src/renderer/families/solana/shared/components/Ellipsis.js
  apps/ledger-live-desktop/src/renderer/hooks/useIsOnline.js
  apps/ledger-live-desktop/src/renderer/hooks/useStoryly.tsx
  apps/ledger-live-desktop/src/renderer/icons/ArrowLeft.jsx
  apps/ledger-live-desktop/src/renderer/icons/CameraOff.jsx
  apps/ledger-live-desktop/src/renderer/icons/Changelly.jsx
  apps/ledger-live-desktop/src/renderer/icons/ChevronLeft.jsx
  apps/ledger-live-desktop/src/renderer/icons/Cic.jsx
  apps/ledger-live-desktop/src/renderer/icons/Code.jsx
  apps/ledger-live-desktop/src/renderer/icons/Countdown.jsx
  apps/ledger-live-desktop/src/renderer/icons/Dot.jsx
  apps/ledger-live-desktop/src/renderer/icons/Flower.jsx
  apps/ledger-live-desktop/src/renderer/icons/Learn.jsx
  apps/ledger-live-desktop/src/renderer/icons/LockOpen.jsx
  apps/ledger-live-desktop/src/renderer/icons/Nano.jsx
  apps/ledger-live-desktop/src/renderer/icons/PlusSmall.jsx
  apps/ledger-live-desktop/src/renderer/icons/Poll.jsx
  apps/ledger-live-desktop/src/renderer/icons/Reset.jsx
  apps/ledger-live-desktop/src/renderer/modals/NoFundsStake/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/StorylyDebugger/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/CoinifyWidget.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionTarget.tsx
  apps/ledger-live-desktop/src/renderer/screens/learn/ErrorScreen.tsx
  apps/ledger-live-desktop/src/renderer/screens/learn/Header.tsx
  apps/ledger-live-desktop/src/renderer/screens/learn/LoadingPlaceholders.tsx
  apps/ledger-live-desktop/src/renderer/screens/learn/LoadingScreen.tsx
  apps/ledger-live-desktop/src/renderer/screens/learn/NoConnectionScreen.tsx
  apps/ledger-live-desktop/src/renderer/screens/learn/assets/NoConnection.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceStorage/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/market/assets/noCryptoFound.tsx
  apps/ledger-live-desktop/src/renderer/screens/onboarding/index.js
  apps/ledger-live-desktop/src/types/electron.js
  pnpm-lock.yaml
Labels: desktop, automation

#2996 Remove recover webview header on prod
  .changeset/brown-worms-perform.md
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/index.tsx
Labels: mobile

#2917 feat: introduce the first set of destructors on debug menu
  apps/ledger-live-mobile/src/screens/Settings/Debug/Generators/index.tsx
Labels: mobile

#3048 Replace discover v2 env with a feature flag
  apps/ledger-live-mobile/src/experimental.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Discover/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/index.tsx
  libs/env/src/env.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs, translations

#3028 Feat: 3025 update warning message when app not Found on DiscoverV2
  .changeset/shy-cameras-switch.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Search/index.tsx
Labels: mobile, translations

#2785 support: add e2e tests for install and restore set of apps in LLD
  .changeset/large-taxis-fail.md
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/InstallSetOfApps.tsx
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/About/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/OnboardingAppInstallDebug.tsx
  apps/ledger-live-desktop/tests/models/DeviceAction.ts
  apps/ledger-live-desktop/tests/models/InstallSetOfAppsPage.ts
  apps/ledger-live-desktop/tests/models/SettingsPage.ts
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-app-catalog-w-l10n-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-completed-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-completed-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-completed-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-drawer-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-drawer-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-drawer-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-queue-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-queue-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-queue-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-reseted-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-reseted-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-reseted-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-1-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-1-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-1-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-2-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-2-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-2-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-3-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-3-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-3-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-completed-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-completed-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-completed-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-drawer-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-drawer-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-drawer-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-queue-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-queue-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-queue-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-1-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-1-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-1-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-2-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-2-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-2-win32.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-step-set-of-apps-completed-darwin.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-step-set-of-apps-completed-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-step-set-of-apps-completed-win32.png
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
Labels: desktop, common, screenshots

#3056 Change discover v2 wording
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#3058 chore: fix all lint warnings on LLD
  apps/ledger-live-desktop/src/renderer/actions/accounts.ts
  apps/ledger-live-desktop/src/renderer/components/Box/Tabbable.tsx
  apps/ledger-live-desktop/src/renderer/components/ConnectEnvsToSentry.tsx
  apps/ledger-live-desktop/src/renderer/components/CustomImage/ImageGrayscalePreview.tsx
  apps/ledger-live-desktop/src/renderer/components/CustomImage/NFTGallerySelector.tsx
  apps/ledger-live-desktop/src/renderer/components/CustomImage/NftGalleryEmptyState.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceIllustration.tsx
  apps/ledger-live-desktop/src/renderer/components/LoadingPlaceholder.tsx
  apps/ledger-live-desktop/src/renderer/components/ModalQuizz/ModalQuizz.tsx
  apps/ledger-live-desktop/src/renderer/components/ModalStepper/StepLeftSide.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Help/HideRecoverySeed.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Help/PinHelp.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/LangSwitcher.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/DeviceHowTo.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/DeviceHowTo2.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/ExistingRecoveryPhrase.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/GenuineCheck.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/HideRecoveryPhrase.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/HowToGetStarted.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/NewRecoveryPhrase.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/PairMyNano.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/PinCode.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/PinCodeHowTo.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/QuizFailure.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/RecoveryHowTo1.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/RecoveryHowTo2.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/RecoveryHowTo3.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/UseRecoverySheet.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/shared.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingHubBanner.tsx
  apps/ledger-live-desktop/src/renderer/components/SignMessageConfirm/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SupportLinkError.jsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/WebView.tsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/OnboardingQuizz/StartScreen.tsx
  apps/ledger-live-desktop/src/renderer/modals/OnboardingQuizz/quizzSteps.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/AmountField.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.react.test.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/steps/StepSummary.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/types.ts
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/01-step-install-full-firmware.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-flash-mcu.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-updating.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoinScreen/MarketCoinChart.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketDataProviderWrapper.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketItemChart.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketList.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketRowItem.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/SideDrawerFilter.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/CustomLockScreen.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/OnboardingAppInstallDebug.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/ChangeDeviceLanguagePromptDrawer.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/LanguageSelect.tsx
  apps/ledger-live-desktop/src/renderer/screens/stake/index.tsx
  apps/ledger-live-desktop/src/renderer/styles/StyleProviderV3.tsx
Labels: desktop

#3023 LLM - Bugfix/live 4282 removed unnecessary eq id reassignment
  .changeset/violet-seals-care.md
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
Labels: mobile

#2828 BACK-4796: Prefix testnet token ticker with "t" in transaction config…
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/__tests__/currencies.ts
  libs/ledgerjs/packages/cryptoassets/src/data/bep20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/3/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/5/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/coins.ts
  libs/ledgerjs/script/crypto-assets-importer/evm/erc20Importer.js
  libs/ledgerjs/script/crypto-assets-importer/evm/index.js
  libs/ledgerjs/script/crypto-assets-importer/importers/erc20-signatures.js
Labels: desktop, common, ledgerjs

#3073 fix: fix version of node & pnpm
  .github/workflows/backup/version-or-release.yml
  .github/workflows/bot-portfolio-report.yml
  .github/workflows/bot-super-report-custom.yml
  .github/workflows/bot-super-report.yml
  .github/workflows/bot-transfer.yml
  .github/workflows/build-desktop-external.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile-external.yml
  .github/workflows/build-mobile.yml
  .github/workflows/cal-importer.yml
  .github/workflows/commitlint.yml
  .github/workflows/healthchecks-runners.yaml
  .github/workflows/regen-doc.yml
  .github/workflows/regen-pods.yml
  .github/workflows/release-create-hotfix.yml
  .github/workflows/release-create.yml
  .github/workflows/release-final-nightly.yml
  .github/workflows/release-final.yml
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release-prerelease.yml
  .github/workflows/test-integration-pr.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-mobile-e2e.yml
  .github/workflows/test-mobile.yml
  .github/workflows/test.yml
  .gitignore
  README.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-mobile/package.json
  libs/ledger-live-common/package.json
  tools/actions/composites/bot/action.yml
  tools/actions/composites/setup-test-desktop/action.yml
  tools/github-bot/package.json
Labels: desktop, mobile, common, tools, automation

#3078 Bugfix: Live-6889 Request for a specific MTU when trying to BLE connect
  .changeset/purple-kids-do.md
  libs/ledgerjs/packages/react-native-hw-transport-ble/src/BleTransport.ts
Labels: ledgerjs

#3077 fix(LLM/Protect): Feature Flag
  .changeset/flat-wolves-heal.md
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
Labels: mobile

#3087 feat: improve the logs viewer tool for debug
  .changeset/hot-poems-dream.md
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/Logs.tsx
Labels: mobile

#3086 feat: avalanche p chain rebase buffer fix
  libs/ledger-live-common/src/families/avalanchepchain/hdhelper.ts
  pnpm-lock.yaml
Labels: common, fork

#3080 B2CQA-1731 - Tidying up page object elements so they don't use 'function' type
  apps/ledger-live-desktop/tests/models/AccountsPage.ts
  apps/ledger-live-desktop/tests/models/Drawer.ts
  apps/ledger-live-desktop/tests/models/InstallSetOfAppsPage.ts
  apps/ledger-live-desktop/tests/models/ManagerPage.ts
  apps/ledger-live-desktop/tests/models/MarketPage.ts
  apps/ledger-live-desktop/tests/models/Modal.ts
  apps/ledger-live-desktop/tests/models/OnboardingPage.ts
  apps/ledger-live-desktop/tests/models/PortfolioPage.ts
  apps/ledger-live-desktop/tests/models/SwapPage.ts
Labels: desktop

#3055 Move App Exchange code into its own package
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/exchange/platform/completeExchange.ts
  libs/ledger-live-common/src/exchange/platform/startExchange.ts
  libs/ledger-live-common/src/exchange/platform/transfer/completeExchange.ts
  libs/ledger-live-common/src/exchange/platform/transfer/index.ts
  libs/ledger-live-common/src/exchange/platform/types.ts
  libs/ledger-live-common/src/exchange/sell/checkSignatureAndPrepare.ts
  libs/ledger-live-common/src/exchange/sell/getTransactionId.ts
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
  libs/ledgerjs/packages/hw-app-exchange/README.md
  libs/ledgerjs/packages/hw-app-exchange/jest.config.ts
  libs/ledgerjs/packages/hw-app-exchange/package.json
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.test.ts
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.ts
  libs/ledgerjs/packages/hw-app-exchange/tsconfig.json
  libs/ledgerjs/packages/hw-transport-mocker/src/MockTransport.ts
  libs/ledgerjs/packages/hw-transport-mocker/src/RecordStore.ts
  libs/ledgerjs/packages/hw-transport-mocker/src/index.ts
  pnpm-lock.yaml
Labels: common, ledgerjs

#2969 [LIVE-5082] Feature: ENS / domain service for LLM
  .changeset/gorgeous-dodos-bake.md
  .github/workflows/build-mobile.yml
  apps/ledger-live-mobile/index.js
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/RootNavigator/SendFundsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SignTransactionNavigator.tsx
  apps/ledger-live-mobile/src/config/urls.tsx
  apps/ledger-live-mobile/src/context/LedgerStore.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Platform/Catalog/DAppDisclaimer.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/02-SelectRecipient.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/04-Summary.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/DomainServiceRecipientRow.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/RecipientRow.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/SummaryToSection.tsx
  libs/domain-service/src/resolvers/index.ts
  pnpm-lock.yaml
Labels: mobile, automation, translations

#3081 Support/cosmos block height number
  .changeset/khaki-llamas-know.md
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.ts
Labels: common

#3092 [B2CQA-1730] Detox : fix iOS test flakiness
  apps/ledger-live-mobile/.env.mock
  apps/ledger-live-mobile/detox.config.js
  apps/ledger-live-mobile/package.json
Labels: mobile

#3101 feat: recover restore flow redirection
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/Protect/RedirectToOnboardingRecoverFlow.tsx
Labels: mobile

#3104 fix: recover deeplinks
  .changeset/honest-hounds-cover.md
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
Labels: mobile

#3111 fix(Firmware Update LLM): fix LLM stuck on preparing update step
  .changeset/few-kangaroos-press.md
  apps/ledger-live-mobile/services/BackgroundRunnerService.ts
  apps/ledger-live-mobile/tsconfig.json
Labels: mobile

#3117 Smartling on-demand translation delivery from release
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#2952 Improve app version detection of Btc::changeImplIfNecessary
  libs/ledgerjs/packages/hw-app-btc/src/Btc.ts
Labels: ledgerjs, fork

#3122 feat(common): update plugins hardcoded deps
  .changeset/old-wombats-yawn.md
  libs/ledger-live-common/src/apps/polyfill.ts
Labels: common

#3113 fix: remove currency under feature flag
  .changeset/large-cows-cry.md
  .changeset/two-keys-tell.md
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs

#3096 feat: remove recently used from search page
  .changeset/wet-dogs-end.md
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Search/index.tsx
Labels: mobile
