Repository LedgerHQ/ledger-live, pull requests merged in 2024-11, with the labels that each got.

#8256 fix: allow tracking to be disabled for swap
  .changeset/mighty-wombats-fix.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
Labels: desktop

#8196 Use test dataset from cal instead of hardcoded ones
  libs/ledger-live-common/src/cal/currencies.integration.test.ts
  libs/ledger-live-common/src/cal/currencies.ts
  libs/ledger-live-common/src/cal/index.ts
  libs/ledger-live-common/src/cal/partners.integration.test.ts
  libs/ledger-live-common/src/cal/partners.test.ts
  libs/ledger-live-common/src/cal/partners.ts
  libs/ledger-live-common/src/exchange/index.ts
  libs/ledger-live-common/src/exchange/providers/getProvidersData.test.ts
  libs/ledger-live-common/src/exchange/providers/getProvidersData.ts
  libs/ledger-live-common/src/exchange/providers/sell.ts
  libs/ledger-live-common/src/exchange/providers/swap.integration.test.ts
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/testCurrencyConfig/data/coins.ts
  libs/ledger-live-common/src/exchange/testCurrencyConfig/data/erc20.ts
  libs/ledger-live-common/src/exchange/testCurrencyConfig/index.ts
  libs/ledgerjs/packages/hw-app-exchange/README.md
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.integ.test.ts
Labels: common, ledgerjs

#8271 [QAA][LLM] Fix notification on live-repo-health channel
  .github/workflows/test-mobile-e2e-reusable.yml
Labels: automation

#8263 [QAA] Adding new currencies for e2e send testing
  apps/ledger-live-desktop/src/newArch/features/MemoTag/components/MemoTagField.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientFieldBase.tsx
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/DeviceLabels.ts
  apps/ledger-live-desktop/tests/families/algorand.ts
  apps/ledger-live-desktop/tests/families/bitcoin.ts
  apps/ledger-live-desktop/tests/families/cardano.ts
  apps/ledger-live-desktop/tests/families/cosmos.ts
  apps/ledger-live-desktop/tests/families/evm.ts
  apps/ledger-live-desktop/tests/families/near.ts
  apps/ledger-live-desktop/tests/families/polkadot.ts
  apps/ledger-live-desktop/tests/families/solana.ts
  apps/ledger-live-desktop/tests/families/stellar.ts
  apps/ledger-live-desktop/tests/families/tron.ts
  apps/ledger-live-desktop/tests/families/xrp.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#8182 [LIVE-13938] Feature - ZKsync
  .changeset/mean-eyes-lay.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-darwin.json
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-linux.json
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/coin-modules/coin-evm/src/__tests__/unit/editTransaction/__snapshots__/getFormattedFeeFields.test.ts.snap
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/families/evm/config.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/324/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/324/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/324/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/324/index.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/crypto-icons/src/svg/currency_zksync.svg
  libs/ui/packages/crypto-icons/src/svg/currency_zksync_sepolia.svg
Labels: desktop, mobile, common, ui, ledgerjs, cli

#8281 fix(live-14331): align in middle the network down error
  .changeset/three-gifts-arrive.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
Labels: desktop

#8278 Optimise checkout action implementations
  .github/workflows/sonar.yml
  .github/workflows/test-design-system-reusable.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-libs-reusable.yml
  .github/workflows/turbo-affected-reusable.yml
Labels: automation

#8303 updated speculos-tests-app.json to use PtxSwapcoreExperiment firebase
  apps/ledger-live-desktop/tests/userdata/speculos-tests-app.json
Labels: desktop

#8299 Live 14676 card mercuryo tx doesnt work on mobile error swap 003
  .changeset/lemon-news-chew.md
  libs/ledger-live-common/src/exchange/platform/transfer/completeExchange.ts
Labels: common

#8294 LLD - force live apps cache busting
  .changeset/popular-jobs-occur.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/helpers.ts
  libs/ledger-live-common/src/platform/types.ts
Labels: desktop, common

#8298 Add simple unit test for LLC crypto.ts
  libs/ledger-live-common/src/crypto/index.test.ts
Labels: common

#8301 chore: align sonar code coverage file resolution/ignore with jest for…
  .github/workflows/sonar.yml
  apps/ledger-live-desktop/jest.config.js
  apps/ledger-live-mobile/jest.config.js
  sonar-project.properties
Labels: desktop, mobile, automation

#8283 🔍 feat(lld): Track Ledger keyring activation/deactivation on LLD
  .changeset/neat-paws-greet.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/useAddMember.test.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useAddMember.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useDestroyTrustchain.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useOnTrustchainRefreshNeeded.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useQRCode.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/walletSync.hooks.ts
Labels: desktop

#8209 fix(ACRE): messageSign correctly sends appName and dependencies params to the connect action [LIVE-14762]
  .changeset/large-crabs-reply.md
  .changeset/pink-candles-happen.md
  apps/ledger-live-desktop/src/renderer/components/SignMessageConfirm/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/steps/StepSign.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/steps/StepSummary.tsx
  apps/ledger-live-mobile/src/components/ValidateMessageOnDevice.tsx
  apps/ledger-live-mobile/src/screens/SignMessage/01-Summary.tsx
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/bitcoin/ACRESetup.ts
  libs/ledger-live-common/src/hw/actions/transaction.ts
  libs/ledger-live-common/src/hw/signMessage/index.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common

#8306 [QAA] Refacto transaction for E2E testing & Adding check addresses split on 2 speculos screens
  apps/ledger-live-desktop/tests/families/algorand.ts
  apps/ledger-live-desktop/tests/families/cardano.ts
  apps/ledger-live-desktop/tests/families/stellar.ts
  apps/ledger-live-desktop/tests/models/Transaction.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#8295 :sparkles:(llm) add default analytics for deeplinks
  .changeset/fuzzy-boxes-confess.md
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
Labels: mobile

#8205 feat: mantra integration
  .changeset/forty-students-eat.md
  .changeset/friendly-socks-hunt.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-darwin.json
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-linux.json
  apps/ledger-live-mobile/ios/ledgerlivemobile/PrivacyInfo.xcprivacy
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  apps/web-tools/live-common-setup.ts
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/coin-modules/coin-cosmos/src/chain/Mantra.ts
  libs/coin-modules/coin-cosmos/src/chain/chain.ts
  libs/coin-modules/coin-cosmos/src/chain/chain.unit.test.ts
  libs/coin-modules/coin-cosmos/src/config.ts
  libs/coin-modules/coin-cosmos/src/specs.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/account/helpers.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/currencies/mock.ts
  libs/ledger-live-common/src/currencies/sortByMarketcap.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/cosmos.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/mantra.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/mantra.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/mantra.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/crypto-icons/src/svg/OM.svg
  pnpm-lock.yaml
Labels: desktop, mobile, common, ui, ledgerjs, cli

#8293 :sparkles:(lld) add default analytics for deeplinks
  .changeset/wicked-fireants-pay.md
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/AnnouncementPanel.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking/index.ts
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking/useDeepLinkHandler.ts
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking/utils.ts
Labels: desktop

#8304 pnpm dedup dependencies
  apps/cli/package.json
  apps/ledger-live-desktop/package.json
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  libs/coin-modules/coin-evm/.unimportedrc.json
  libs/ledger-live-common/package.json
  libs/ui/examples/next.js/package.json
  pnpm-lock.yaml
Labels: desktop, mobile, common, ui, cli

#8324 Update BTC1 address
  apps/ledger-live-desktop/tests/enum/Account.ts
Labels: desktop

#8320 🔍 feat(lld): track Ledger keyring activation/deactivation on LLM
  .changeset/two-seas-push.md
  apps/ledger-live-mobile/src/newArch/features/Analytics/enums.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useAddMember.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useDestroyTrustchain.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useOnTrustchainRefreshNeeded.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useQRCodeHost.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSyncWithQrCode.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/walletSync.hooks.ts
Labels: mobile

#8333 chore: fix IOS_BUILD_NUMBER env setting to GITHUB_ENV
  .changeset/moody-seals-lie.md
  apps/ledger-live-mobile/fastlane/Fastfile
Labels: mobile

#8332 guard if statedb empty
  .changeset/smart-items-laugh.md
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-search-bitcoin-linux.png
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  libs/ledger-live-common/src/wallet-api/react.ts
Labels: desktop, mobile, common, screenshots

#8326 chore: add discreetMode param for buy/sell
  .changeset/mean-pugs-hang.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.tsx
  apps/ledger-live-mobile/src/screens/PTX/index.tsx
Labels: desktop, mobile

#8335 LIVE-14410 mitigation attempt waiting for fix
  apps/ledger-live-desktop/tests/component/layout.component.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
Labels: desktop

#8337 :bug:(lld): missing translations for network troubleshooting
  .changeset/shaggy-shoes-beg.md
  apps/ledger-live-desktop/src/renderer/modals/TroubleshootNetwork/Body.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/network-troubleshooting/index.ts
Labels: desktop, common, translations

#8341 [NOISSUE] fix issue with turbo affected workflow for release
  .github/workflows/turbo-affected-reusable.yml
Labels: automation

#8297 bugfix: 🐛 Persistent sync error on LLD after backup deletion from LLM
  .changeset/orange-radios-thank.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useWatchWalletSync.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/type.hooks.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useWatchWalletSync.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/walletSync.hooks.ts
Labels: desktop, mobile

#8339 chore: fix redirecting to GITHUB_ENV in fastfile for ios build
  .changeset/good-boxes-boil.md
  apps/ledger-live-mobile/fastlane/Fastfile
Labels: mobile

#8327 feat: ✨ MEV Protection -LLD
  .changeset/long-fireants-cheer.md
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/MevProtection.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs, translations

#8314 Feat/LIVE-10694: add webview and feature flag for swap live app view in LLM
  .changeset/tall-moons-invent.md
  apps/ledger-live-mobile/src/components/RootNavigator/SwapFormNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/SwapFormNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/WebView.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#8322 chore: upgrade react-native-reanimated to 3.16.1 - develop
  .changeset/two-icons-jog.md
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/AssetCentricGraphCard.tsx
  apps/ledger-live-mobile/src/components/CurrencyBackgroundGradient.tsx
  apps/ledger-live-mobile/src/components/CurrencyHeaderLayout.tsx
  apps/ledger-live-mobile/src/components/GraphCard.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/Snackbar/Snackbar.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Layout.tsx
  apps/ledger-live-mobile/src/screens/Settings/Experimental/ExperimentalHeader.tsx
  libs/ui/packages/native/package.json
  pnpm-lock.yaml
Labels: mobile, ui

#8347 fix: use correct refs for turbo-affected checkout + fetch
  .github/workflows/turbo-affected-reusable.yml
Labels: automation

#8279 build: only list top level packages when checking turbo affected
  tools/actions/turbo-affected/src/main.ts
Labels: tools

#8331 feat: ✨ MEV Protection -LLM
  .changeset/cyan-experts-raise.md
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Settings/General/MevProtection.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/index.tsx
Labels: mobile, translations

#8343 fix: fall back to firebase display name if no translated title
  .changeset/few-owls-cross.md
  CODEOWNERS
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/component/ProviderItem.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/EvmStakingDrawerProvider.tsx
Labels: desktop, mobile

#8360 feat: ✨ add llm add account feature flag
  .changeset/tiny-feet-type.md
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#8359 [QAA] Adding password e2e test
  apps/ledger-live-desktop/tests/component/layout.component.ts
  apps/ledger-live-desktop/tests/page/accounts.page.ts
  apps/ledger-live-desktop/tests/page/index.ts
  apps/ledger-live-desktop/tests/page/lockscreen.page.ts
  apps/ledger-live-desktop/tests/page/modal/passwordlock.modal.ts
  apps/ledger-live-desktop/tests/page/settings.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/settings.spec.ts
Labels: desktop

#8194 fix(lld): localised URL
  .changeset/seven-nails-knock.md
  apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/ProtectDiscoverBody.tsx
Labels: desktop, Stale

#8351 feat(llm): ✨ implement the new summary screen memo design for Algorand
  .changeset/grumpy-badgers-invite.md
  apps/ledger-live-mobile/scripts/sync-families-dispatch.mjs
  apps/ledger-live-mobile/src/families/algorand/MemoTagSummary.tsx
  apps/ledger-live-mobile/src/icons/MemoIcon.tsx
  apps/ledger-live-mobile/src/newArch/features/MemoTag/components/GenericMemoTagInput.tsx
  apps/ledger-live-mobile/src/newArch/features/MemoTag/components/GenericMemoTagSummary.tsx
  apps/ledger-live-mobile/src/newArch/features/MemoTag/components/MemoTagSummary.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/04-Summary.tsx
Labels: mobile

#8340 fix(llm): ✂️ truncate some coins memo on the recipient step of the send flow
  .changeset/metal-walls-rush.md
  apps/ledger-live-mobile/src/families/algorand/MemoTagInput.tsx
  apps/ledger-live-mobile/src/families/internet_computer/MemoTagInput.tsx
  apps/ledger-live-mobile/src/families/solana/MemoTagInput.tsx
  apps/ledger-live-mobile/src/newArch/utils/__tests__/truncateUtf8.test.ts
  apps/ledger-live-mobile/src/newArch/utils/truncateUtf8.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/families/algorand/logic.ts
Labels: mobile, common

#8352 fix(llm): ✨ remove commas from XRP summary tag
  .changeset/red-bobcats-leave.md
  apps/ledger-live-mobile/src/families/xrp/SendRowTag.tsx
Labels: mobile

#8183 Enable `wallet-connect-live-app` for rsk (Rootstock)
  .changeset/loud-pumas-fix.md
  libs/ledger-live-common/src/walletConnect/index.ts
Labels: common, fork

#8366 :bug:(llm) fix icons on allocation screen
  .changeset/five-waves-promise.md
  apps/ledger-live-mobile/src/screens/Analytics/DistributionCard.tsx
Labels: mobile

#8367 CN-908: Fix icon for staking tron on account screen
  .changeset/chilly-eggs-hammer.md
  apps/ledger-live-mobile/src/families/tron/accountActions.tsx
Labels: mobile

#8370 Hotfix - ⬆️ LLM - Ugrade Braze from 8.4.0 to 10.0
  .changeset/mighty-papayas-fix.md
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Labels: mobile

#8357 🔒 LLM - Update PrivacyInfo
  apps/ledger-live-mobile/ios/ledgerlivemobile/PrivacyInfo.xcprivacy
  clean-brooms-begin.md
Labels: mobile

#8368 feat: ✨ Countervalues historical requests cache optimization
  .changeset/unlucky-boats-bow.md
  apps/ledger-live-desktop/src/renderer/actions/general.ts
  apps/ledger-live-mobile/src/actions/general.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/live-countervalues-react/src/index.tsx
  libs/live-countervalues/src/api/api.ts
  libs/live-countervalues/src/api/index.ts
  libs/live-countervalues/src/logic.ts
  libs/live-countervalues/src/types.ts
Labels: desktop, mobile, common, ledgerjs

#8361 :chart_with_upwards_trend:(lld) optimize braze CC analytics
  .changeset/sour-badgers-matter.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/newArch/components/DynamicContent/LogContentCardWrapper.tsx
  apps/ledger-live-desktop/src/renderer/actions/dynamicContent.ts
  apps/ledger-live-desktop/src/renderer/components/Carousel/helpers.tsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/index.tsx
  apps/ledger-live-desktop/src/renderer/components/ContentCards/ActionCard/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Page.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/AnnouncementPanel.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useActionCards.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useNotifications.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/ActionContentCards.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.tsx
  pnpm-lock.yaml
Labels: desktop

#8376 :wrench:(ios) update build targets config
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/xcshareddata/xcschemes/ledgerlivemobile.xcscheme
Labels: mobile

#8349 Fix: support CAL test pub key
  CODEOWNERS
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/ExchangeTestPartnerMode.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/env/src/env.ts
  libs/ledger-live-common/src/cal/partners.integration.test.ts
  libs/ledger-live-common/src/cal/partners.test.ts
  libs/ledger-live-common/src/cal/partners.ts
  libs/ledger-live-common/src/exchange/providers/index.ts
  libs/ledger-live-common/src/exchange/providers/sell.ts
  libs/ledger-live-common/src/exchange/providers/swap.integration.test.ts
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFilteredProviders.ts
Labels: desktop, common, translations

#8382 :bug:(llm) fix splashscreen
  .changeset/blue-files-train.md
  apps/ledger-live-mobile/ios/LaunchScreen.storyboard
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.mm
Labels: mobile

#8388 fix: wrap lld memo tag send flow info box under a feature flag
  .changeset/moody-deers-marry.md
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepRecipient.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepSummary.tsx
Labels: desktop

#8244 [DNM] add changesets-enforce workflow
  .changeset/blue-files-train.md
  .changeset/bright-icons-explode.md
  .changeset/chilly-eggs-hammer.md
  .changeset/cyan-experts-raise.md
  .changeset/few-owls-cross.md
  .changeset/five-waves-promise.md
  .changeset/good-boxes-boil.md
  .changeset/long-fireants-cheer.md
  .changeset/loud-pumas-fix.md
  .changeset/mean-pugs-hang.md
  .changeset/metal-walls-rush.md
  .changeset/mighty-points-hope.md
  .changeset/moody-deers-marry.md
  .changeset/orange-radios-thank.md
  .changeset/red-bobcats-leave.md
  .changeset/rotten-months-glow.md
  .changeset/seven-nails-knock.md
  .changeset/shaggy-shoes-beg.md
  .changeset/small-hairs-flow.md
  .changeset/smart-items-laugh.md
  .changeset/sour-badgers-matter.md
  .changeset/sweet-needles-kiss.md
  .changeset/tall-moons-invent.md
  .changeset/ten-pigs-dress.md
  .changeset/tiny-feet-type.md
  .changeset/unlucky-boats-bow.md
  .changeset/wild-chefs-smash.md
  .github/workflows/changeset-enforce.yml
Labels: automation

#8399 Revert ":bug:(llm) fix splashscreen (#8382)"
  .changeset/blue-files-train.md
  apps/ledger-live-mobile/ios/LaunchScreen.storyboard
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.mm
Labels: mobile

#8380 :bug:(llm) landingpage load from deeplink
  .changeset/silent-planes-count.md
  apps/ledger-live-mobile/src/actions/dynamicContent.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/dynamicContent/useContentCards.ts
  apps/ledger-live-mobile/src/dynamicContent/useDynamicContentLogic.ts
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/GenericLandingPage/index.tsx
  apps/ledger-live-mobile/src/reducers/dynamicContent.ts
  apps/ledger-live-mobile/src/reducers/types.ts
Labels: mobile

#8391 fix: playwright, and wrong import and export
  .changeset/two-apricots-prove.md
  apps/ledger-live-desktop/tests/page/market.page.ts
  libs/coin-modules/coin-stacks/package.json
  libs/coin-modules/coin-stacks/src/bridge/index.ts
  libs/ledger-live-common/src/families/stacks/setup.ts
Labels: desktop, common

#8378 [QAA] Adding e2e test - User can send NFT to an ENS address
  .changeset/beige-baboons-share.md
  apps/ledger-live-desktop/src/renderer/drawers/NFTViewerDrawer/index.tsx
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientFieldDomainService.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepSummary.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Collections/Collections.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Send/Summary.tsx
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/DeviceLabels.ts
  apps/ledger-live-desktop/tests/families/evm.ts
  apps/ledger-live-desktop/tests/models/Transaction.ts
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/page/drawer/nft.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/send.drawer.ts
  apps/ledger-live-desktop/tests/page/index.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
Labels: desktop

#8363 added e2e speculos swap from SOL and USDC
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/Currency.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
Labels: desktop

#8398 :triangular_flag_on_post: (llm) reborn feature flag
  .changeset/famous-tables-mate.md
  apps/ledger-live-mobile/src/analytics/segment.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#8414 ci: 👷 updating speculos version for LLD and LLM
  .github/workflows/test-mobile-e2e-reusable.yml
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation

#8371 feat(lld): 🎠 update react-ui default carousel design
  .changeset/orange-ducks-do.md
  libs/ui/packages/react/.storybook/preview.tsx
  libs/ui/packages/react/src/components/layout/Carousel/Carousel.stories.tsx
  libs/ui/packages/react/src/components/layout/Carousel/ChevronArrow.tsx
  libs/ui/packages/react/src/components/layout/Carousel/Footer/Pagination/index.tsx
  libs/ui/packages/react/src/components/layout/Carousel/Footer/Pagination/utils.ts
  libs/ui/packages/react/src/components/layout/Carousel/Footer/index.tsx
  libs/ui/packages/react/src/components/layout/Carousel/Footer/variantContentCard.tsx
  libs/ui/packages/react/src/components/layout/Carousel/index.tsx
  libs/ui/packages/shared/palettes/dark.ts
  libs/ui/packages/shared/palettes/light.ts
Labels: ui

#8392 fix: use unified memo field and extract memo value from different coin transaction implementation/labels
  .changeset/rude-zebras-thank.md
  apps/ledger-live-desktop/src/newArch/features/MemoTag/__tests__/utils.test.ts
  apps/ledger-live-desktop/src/newArch/features/MemoTag/constants.ts
  apps/ledger-live-desktop/src/newArch/features/MemoTag/utils.ts
  apps/ledger-live-desktop/src/renderer/families/solana/MemoValueField.tsx
  apps/ledger-live-desktop/src/renderer/families/solana/SendRecipientFields.tsx
  apps/ledger-live-desktop/src/renderer/families/stellar/MemoTypeField.tsx
  apps/ledger-live-desktop/src/renderer/families/ton/CommentField.tsx
  apps/ledger-live-desktop/src/renderer/families/ton/SendRecipientFields.tsx
  apps/ledger-live-desktop/src/renderer/families/xrp/SendRecipientFields.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepRecipient.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepSummary.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/types.ts
Labels: desktop

#8383 Update error message on swap too low quote test
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
Labels: desktop

#8423 test: 🪛 Updating send test scenarios to use cli
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-checkSendAddress.json
Labels: desktop

#8422 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#8429 :lipstick: (llm) add LP for reborn
  .changeset/dirty-walls-dream.md
  apps/ledger-live-mobile/src/dynamicContent/types.ts
Labels: mobile

#8428 fix(lld): ❄️ fix flaky portfolio e2e test
  .changeset/curly-pets-sniff.md
  apps/ledger-live-desktop/tests/specs/general/portfolio.spec.ts
Labels: desktop

#8400 feat: ✨ Landing Page Sticky CTA Content Card
  .changeset/tidy-baboons-divide.md
  apps/ledger-live-mobile/src/actions/dynamicContent.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsLocation.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/dynamicContent/useDynamicContent.tsx
  apps/ledger-live-mobile/src/dynamicContent/useDynamicContentLogic.ts
  apps/ledger-live-mobile/src/dynamicContent/utils.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/__integrations__/genericLandingPage.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/GenericLandingPage/index.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/GenericLandingPage/useGeneralLandingPageViewModel.ts
  apps/ledger-live-mobile/src/reducers/dynamicContent.ts
  apps/ledger-live-mobile/src/reducers/types.ts
Labels: mobile

#8424 chore: add missing watch:es for common
  apps/ledger-live-desktop/README.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/scripts/watch-ts-es.mjs
  package.json
Labels: desktop, common

#8402 Live 14896 sell card exch sdk success transaction message to center in drawer for consistency with swap
  .changeset/blue-pigs-add.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/TransactionBroadcastedContent.tsx
Labels: desktop

#8373 feat: uni history
  .changeset/khaki-llamas-flow.md
  libs/ledger-live-common/src/exchange/swap/updateAccountSwapStatus.ts
Labels: common

#8434 feat: Improve MEV analytics
  .changeset/afraid-poems-speak.md
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
Labels: desktop, mobile

#8385 DISABLE_TRANSACTION_BROADCAST logic moved to tests suites
  .changeset/hot-cameras-fly.md
  .github/workflows/test-ui-e2e-only-desktop.yml
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/utils/githubUtils.ts
Labels: desktop, automation

#8443 chore: stop filtering disconnected device errors
  apps/ledger-live-desktop/src/sentry/install.ts
  apps/ledger-live-mobile/src/sentry.ts
Labels: desktop, mobile

#8416 fix(LIVE-14854): add swap analytics
  .changeset/thin-planets-accept.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawerLiveApp/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Navbar/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/utils/index.ts
  apps/ledger-live-desktop/src/renderer/screens/platform/LiveApp.tsx
Labels: desktop

#8387 feat(lld): 🧩 add new portfolio content card component
  .changeset/loud-mangos-enjoy.md
  libs/ui/packages/react/src/components/cta/Button/index.tsx
  libs/ui/packages/react/src/components/layout/Carousel/Carousel.stories.tsx
  libs/ui/packages/react/src/components/layout/Carousel/index.tsx
  libs/ui/packages/react/src/components/layout/Carousel/types.tsx
  libs/ui/packages/react/src/components/layout/ContentCard/PortfolioContentCard/PortfolioContentCard.stories.tsx
  libs/ui/packages/react/src/components/layout/ContentCard/PortfolioContentCard/index.tsx
  libs/ui/packages/react/src/components/layout/index.ts
Labels: ui

#8358 CN-604: Change Stake label to Yield for the UK, to Earn for the rest of the countries
  .changeset/new-ties-fly.md
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
  apps/ledger-live-desktop/src/renderer/families/algorand/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/bitcoin/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/cardano/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/celo/AccountHeaderManageActions/AccountHeaderManageActions.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/elrond/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/evm/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/near/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/polkadot/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/solana/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/tezos/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/tron/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/hooks/useGetStakeLabelLocaleBased.ts
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/FeaturedButtons.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoin/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketList/components/MarketRowItem.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-firstAccountPage-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/account-page-with-stake-button-and-banner-linux.png
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/families/bitcoin/accountActions.tsx
  apps/ledger-live-mobile/src/families/cardano/accountActions.tsx
  apps/ledger-live-mobile/src/families/celo/accountActions.tsx
  apps/ledger-live-mobile/src/families/cosmos/accountActions.tsx
  apps/ledger-live-mobile/src/families/elrond/accountActions.tsx
  apps/ledger-live-mobile/src/families/evm/accountActions.tsx
  apps/ledger-live-mobile/src/families/near/accountActions.tsx
  apps/ledger-live-mobile/src/families/polkadot/accountActions.tsx
  apps/ledger-live-mobile/src/families/solana/accountActions.tsx
  apps/ledger-live-mobile/src/families/tezos/accountActions.tsx
  apps/ledger-live-mobile/src/families/tron/accountActions.tsx
  apps/ledger-live-mobile/src/helpers/getStakeLabelLocaleBased.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioQuickActionsBar.tsx
  libs/coin-modules/coin-bitcoin/src/__tests__/unit/synchronisation.unit.test.ts
  tools/actions/composites/update-snapshots-desktop/action.yml
Labels: desktop, mobile, tools, translations, screenshots

#8417 :lipstick: (llm) update old reborn banners
  .changeset/eighty-pants-give.md
  apps/ledger-live-mobile/src/components/BuyDeviceBanner.tsx
  apps/ledger-live-mobile/src/components/GradientContainer.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/components/theme/ForceTheme.tsx
  apps/ledger-live-mobile/src/images/illustration/Shared/_FlexTop.png
  apps/ledger-live-mobile/src/images/illustration/Shared/_FlexTwoSides.png
  apps/ledger-live-mobile/src/images/illustration/Shared/_LedgerSetup.png
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Reborn/components/BuyDeviceBanner/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Reborn/components/BuyDeviceBanner/useBuyDeviceBannerModel.ts
  apps/ledger-live-mobile/src/newArch/features/Reborn/components/SetupDeviceBanner/index.tsx
  apps/ledger-live-mobile/src/screens/Account/ReadOnly/ReadOnlyAccount.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/ReadOnly/index.tsx
Labels: mobile, translations

#8401 feat: fix logic and refactor app install
  .changeset/young-coats-flash.md
  libs/exchange-module/src/index.ts
  libs/exchange-module/src/types.ts
  libs/ledger-live-common/src/hw/actions/startExchange.ts
  libs/ledger-live-common/src/wallet-api/Exchange/server.test.ts
  libs/ledger-live-common/src/wallet-api/Exchange/server.ts
Labels: common

#8439 fix: alwaysShowMemoTagInfo initial value persistence + poolish button…
  .changeset/tough-adults-admire.md
  apps/ledger-live-desktop/src/renderer/actions/application.ts
  apps/ledger-live-desktop/src/renderer/actions/constants.ts
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepRecipient.tsx
  apps/ledger-live-desktop/src/renderer/reducers/application.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
Labels: desktop

#8406 force change changeset versions during release process
  .github/workflows/release-create-hotfix.yml
  .github/workflows/release-create.yml
  .github/workflows/release-prerelease.yml
  tools/actions/composites/adjust-changeset-level/action.yml
Labels: tools, automation

#8430 [LIVE-14769] Feature - Add support for `SWEEP` command in Uniswap plugin
  .changeset/polite-points-cry.md
  libs/ledgerjs/packages/hw-app-eth/src/modules/Uniswap/constants.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/Uniswap/decoders.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/Uniswap/index.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/Uniswap/types.ts
  libs/ledgerjs/packages/hw-app-eth/tests/Eth.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/Uniswap/decoders.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/Uniswap/index.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/ledgerService.unit.test.ts
Labels: ledgerjs

#8460 Change label to yield for uk, earn for the rest for bottom navigator llm
  .changeset/ten-birds-admire.md
  apps/ledger-live-mobile/src/components/RootNavigator/MainNavigator.tsx
Labels: mobile

#8452 :bug: (lld) notification center and action cards
  .changeset/proud-actors-dress.md
  apps/ledger-live-desktop/src/newArch/components/DynamicContent/LogContentCardWrapper.tsx
  apps/ledger-live-desktop/src/renderer/components/ContentCards/ActionCard/components.tsx
Labels: desktop

#8470 fix for test Swap too low quote amounts from coin1 to coin2
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
Labels: desktop

#8419 fix: casper support on memo tag send flow
  .changeset/new-eels-deliver.md
  apps/ledger-live-desktop/src/newArch/features/MemoTag/__tests__/MemoTagField.test.tsx
  apps/ledger-live-desktop/src/newArch/features/MemoTag/components/MemoTagField.tsx
  apps/ledger-live-desktop/src/newArch/features/MemoTag/constants.ts
  apps/ledger-live-desktop/src/newArch/features/MemoTag/utils.ts
  apps/ledger-live-desktop/src/renderer/families/casper/MemoField.tsx
  apps/ledger-live-desktop/src/renderer/families/casper/SendAmountFields.tsx
  apps/ledger-live-desktop/src/renderer/families/casper/SendRecipientFields.tsx
  apps/ledger-live-desktop/src/renderer/families/casper/index.ts
  apps/ledger-live-desktop/src/renderer/families/casper/types.ts
Labels: desktop

#8467 ci: disable node network family selection to avoid ERR_INTERNAL_ASSER…
  .github/workflows/test-desktop-reusable.yml
Labels: automation

#8471 ci: fix old references to feature branch, re-point to @develop
  .github/workflows/release-create-hotfix.yml
  .github/workflows/release-create.yml
  .github/workflows/release-prerelease.yml
Labels: automation

#8447 :lipstick: (llm) update post purchase screen
  .changeset/three-cameras-hide.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Reborn/screens/PostBuySuccess/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Reborn/screens/PostBuySuccess/usePostBuySuccessModel.ts
  apps/ledger-live-mobile/src/screens/PostBuyDeviceScreen.tsx
Labels: mobile, translations

#8473 [LIVE-15017] Bugfix - Force Struct values order in EIP-712 messages
  .changeset/popular-pugs-lie.md
  libs/ledgerjs/packages/hw-app-eth/src/modules/EIP712/index.ts
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/messages/15-permit.json
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/messages/16-permit2.json
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/messages/17-uniswapx.json
Labels: ledgerjs

#8436 feat(LIVE-14948): remove CDN for release issues and thorswap as DEX
  .changeset/mighty-days-tan.md
  libs/ledger-live-common/src/cal/partners.ts
  libs/ledger-live-common/src/exchange/platform/startExchange.ts
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
Labels: common

#8476 :sparkles: (llm) update text in setup device drawer
  .changeset/tame-phones-smell.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/PostBuyDeviceSetupNanoWallScreen.tsx
Labels: mobile, translations

#8475 Pass country from locale as param to Earn dashboard
  apps/ledger-live-desktop/src/renderer/screens/earn/index.tsx
  apps/ledger-live-mobile/src/helpers/getStakeLabelLocaleBased.ts
  apps/ledger-live-mobile/src/screens/PTX/Earn/index.tsx
Labels: desktop, mobile

#8448 [QAA] Adding E2E test for Ledger Sync
  .changeset/shaggy-mangos-train.md
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/page/accounts.page.ts
  apps/ledger-live-desktop/tests/page/drawer/ledger.sync.drawer.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/ledgerSync.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/manage.ledgersync.spec.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#8445 fix(WebPlatformPlayer): Fixing account names in account selection in …
  .changeset/sweet-pugs-swim.md
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/TopBar.tsx
Labels: desktop

#8480 Revert "feat(LIVE-14948): remove CDN for release issues and thorswap …
  .changeset/mighty-days-tan.md
  libs/ledger-live-common/src/cal/partners.ts
  libs/ledger-live-common/src/exchange/platform/startExchange.ts
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
Labels: common

#8482 Feat/change label to dynamic for quick action menu
  .changeset/curvy-lions-eat.md
  apps/ledger-live-mobile/src/components/MarketQuickActions/index.tsx
Labels: mobile

#8435 🐛 LLM - Stop showing useless error message in Ledger Sync when backup has been deleted
  .changeset/swift-pens-reply.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/utils/errors.ts
Labels: mobile

#8458 DISABLE_TRANSACTION_BROADCAST logic moved to tests suites
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
Labels: desktop

#8372 No more setup toolchain (Github runners) batch 1
  .github/workflows/test-design-system-reusable.yml
  .github/workflows/test-libs-reusable.yml
  .github/workflows/test-web-tools-reusable.yml
Labels: automation

#8488 [QAA] fixing CounterValues (speculos e2e) + fixing send e2e test (new modal) - XRP
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/page/modal/add.account.modal.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
Labels: desktop

#8486 No more setup toolchain (Github runners) batch 4
  .github/workflows/release-create.yml
  .github/workflows/release-final-nightly.yml
  .github/workflows/release-final.yml
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release-prerelease.yml
Labels: automation

#8484 No more setup toolchain (Github runners) batch 3
  .github/workflows/account-migration.yml
  .github/workflows/bot-portfolio-report.yml
  .github/workflows/bot-super-report-custom.yml
  .github/workflows/bot-super-report.yml
  .github/workflows/commitlint.yml
  .github/workflows/regen-doc.yml
  .github/workflows/regen-pods.yml
  .github/workflows/test-bridge-pr.yml
  .github/workflows/test-integration-pr.yml
  .github/workflows/test-integration.yml
Labels: automation

#8489 ci: ensure proto is installed on windows builds
  .github/workflows/build-desktop-reusable.yml
Labels: automation

#8420 [QAA-331][Detox] Implement CLI in Speculos test
  apps/cli/package.json
  apps/cli/src/live-common-setup.ts
  apps/ledger-live-mobile/e2e/page/common.page.ts
  apps/ledger-live-mobile/e2e/page/index.ts
  apps/ledger-live-mobile/e2e/setup.ts
  apps/ledger-live-mobile/e2e/specs/addAccounts/addAccount.spec.ts
  apps/ledger-live-mobile/e2e/specs/deeplinks.spec.ts
  apps/ledger-live-mobile/e2e/specs/delegate/cosmos.spec.ts
  apps/ledger-live-mobile/e2e/specs/languageChange.spec.ts
  apps/ledger-live-mobile/e2e/specs/manager.spec.ts
  apps/ledger-live-mobile/e2e/specs/market.spec.ts
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboarding.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboardingReadOnly.spec.ts
  apps/ledger-live-mobile/e2e/specs/password.spec.ts
  apps/ledger-live-mobile/e2e/specs/receive/currencies.spec.ts
  apps/ledger-live-mobile/e2e/specs/receive/receiveFlow.spec.ts
  apps/ledger-live-mobile/e2e/specs/send/currencies.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/receive/receive.ts
  apps/ledger-live-mobile/e2e/specs/speculos/receive/receiveBTC.spec.ts
  apps/ledger-live-mobile/e2e/specs/swap/dexSwap.spec.ts
  apps/ledger-live-mobile/e2e/specs/swap/swap.spec.ts
  apps/ledger-live-mobile/e2e/specs/unknown-currency-resilience.spec.ts
  apps/ledger-live-mobile/e2e/specs/wallet-api.spec.ts
  apps/ledger-live-mobile/e2e/utils/cliUtils.ts
  apps/ledger-live-mobile/package.json
  libs/speculos-transport/src/index.ts
  pnpm-lock.yaml
Labels: mobile, cli

#8505 Fix release-nightly by making AWS step in setup-caches optional
  .github/workflows/release-final-nightly.yml
  tools/actions/composites/setup-caches/action.yml
Labels: tools, automation

#8500 [QAA] fixing Nightly E2E CI + improving Receive E2E test
  .changeset/rotten-horses-shop.md
  apps/ledger-live-desktop/tests/page/modal/receive.modal.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
  libs/ledger-live-common/src/e2e/enum/Account.ts
Labels: desktop, common

#8404 bugfix: 🐛 Spam filtering errors unhandled
  .changeset/silly-seals-argue.md
  apps/ledger-live-desktop/src/renderer/hooks/nfts/useSyncNFTsWithAccounts.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SimpleHashTools/SpamScore/index.tsx
  apps/ledger-live-mobile/src/hooks/nfts/useSyncNFTsWithAccounts.ts
  libs/live-nft-react/src/hooks/__tests__/useCheckNftAccount.test.tsx
  libs/live-nft-react/src/hooks/useCheckNftAccount.ts
  libs/live-nft-react/src/tools/helperTests.tsx
Labels: desktop, mobile

#8497 [QAA] Adding speculos e2e test - User can Select a countervalue
  .changeset/swift-islands-begin.md
  apps/ledger-live-desktop/src/renderer/components/BalanceInfos/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/AssetDistribution/Row.tsx
  apps/ledger-live-desktop/tests/page/portfolio.page.ts
  apps/ledger-live-desktop/tests/page/settings.page.ts
  apps/ledger-live-desktop/tests/specs/general/userParametersChange.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/settings.spec.ts
Labels: desktop

#8508 Skip AWS credentials and cache steps in setup-caches for release workflows and account-migration
  .github/workflows/account-migration.yml
  .github/workflows/release-create.yml
  .github/workflows/release-final.yml
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release-prerelease.yml
Labels: automation

#8501 Feat/live 14948
  .changeset/mighty-days-tan.md
  libs/ledger-live-common/src/cal/partners.integration.test.ts
  libs/ledger-live-common/src/cal/partners.ts
  libs/ledger-live-common/src/exchange/platform/startExchange.ts
  libs/ledger-live-common/src/exchange/providers/swap.integration.test.ts
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
Labels: common

#8511 LIVE-15090: change utils from electron that detects device locale
  .changeset/new-bees-attack.md
  apps/ledger-live-desktop/src/helpers/systemLocale.ts
  apps/ledger-live-desktop/src/main/window-lifecycle.ts
  apps/ledger-live-desktop/src/renderer/hooks/useGetStakeLabelLocaleBased.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/earn/index.tsx
Labels: desktop

#8509 :bug: (llm) layout issue on my ledger screen
  .changeset/hip-crabs-develop.md
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerChooseDevice/index.tsx
Labels: mobile

#8516 fix: check if returnTo is defined
  .changeset/giant-zoos-reply.md
  apps/ledger-live-desktop/src/renderer/screens/platform/LiveApp.tsx
Labels: desktop

#8202 feat(lld): transportDMK registration
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/App.tsx
  apps/ledger-live-desktop/src/renderer/live-common-setup.ts
  libs/live-dmk/package.json
  libs/live-dmk/src/index.tsx
  libs/live-dmk/src/useDeviceSessionState.test.tsx
  pnpm-lock.yaml
Labels: desktop, Stale

#8518 fix: check if returnTo is defined (release)
  .changeset/giant-zoos-reply.md
  apps/ledger-live-desktop/src/renderer/screens/platform/LiveApp.tsx
Labels: desktop

#8502 🐛 (webhid): Fix invalid channel error when using multiple apps
  .changeset/fuzzy-cats-enjoy.md
  libs/ledgerjs/packages/hw-transport-webhid/src/TransportWebHID.ts
Labels: ledgerjs

#8520 Fix/swap UI gas limit
  .changeset/mean-tables-behave.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
Labels: desktop

#8522 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#8519 Fix `release-final-nightly` npm auth
  .github/workflows/release-final-nightly.yml
  .github/workflows/release-final.yml
  .github/workflows/release-prerelease.yml
Labels: automation

#8524 fix: stop saving fees when closing
  .changeset/wet-rocks-cough.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
Labels: desktop

#8510 ci: remove setup-toolchain action completely
  tools/actions/composites/setup-toolchain/action.yml
Labels: tools

#8525 fix: default gas limit
  .changeset/fifty-shrimps-hide.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
Labels: desktop

#8529 🐛 (lld): Fix ipc transport open not working
  .changeset/metal-points-destroy.md
  apps/ledger-live-desktop/src/renderer/live-common-setup.ts
Labels: desktop

#8521 Fix integration workflow failure on windows
  tools/actions/composites/setup-caches/action.yml
Labels: tools

#8514 feat(ACRE): Remove fields from the sign-message modal type withdraw
  .changeset/lovely-glasses-study.md
  apps/ledger-live-desktop/src/renderer/components/SignMessageConfirm/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/steps/StepSummary.tsx
  apps/ledger-live-mobile/src/components/ValidateMessageOnDevice.tsx
  apps/ledger-live-mobile/src/screens/SignMessage/01-Summary.tsx
Labels: desktop, mobile

#8535 Revert "ci: remove setup-toolchain action completely"
  tools/actions/composites/setup-toolchain/action.yml
Labels: tools

#8533 chore: update sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
Labels: common

#8527 [QAA] Speculos nightly fix
  apps/ledger-live-desktop/src/renderer/screens/dashboard/AssetDistribution/Row.tsx
  apps/ledger-live-desktop/tests/page/portfolio.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/settings.spec.ts
Labels: desktop

#8493 [ADA] Add extract derivationPath from Account for Swap
  libs/ledger-live-common/src/families/cardano/exchange.ts
  libs/ledger-live-common/src/generated/exchange.ts
Labels: common

#8523 bugfix(LIVE-15002): fix swapId overflow swap history
  .changeset/honest-feet-trade.md
  apps/ledger-live-desktop/src/renderer/drawers/SwapOperationDetails/index.tsx
Labels: desktop

#8512 Aptos fixing: History isn't full
  libs/ledger-live-common/src/families/aptos/constants.ts
  libs/ledger-live-common/src/families/aptos/logic.ts
Labels: common

#8503 [PROTECT-3455] Remove feature_recover_upsell_redirection feature flag from codebase
  .changeset/shaggy-days-flash.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/BackupStep.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SyncOnboardingCompanion.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useAutoRedirectToPostOnboarding/useShouldRedirect.ts
  apps/ledger-live-mobile/src/hooks/useAutoRedirectToPostOnboarding/useShouldRedirect.ts
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SyncOnboardingCompanion.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/companionSteps/BackupStep.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/postOnboarding/logic/shouldRedirectToPostOnboardingOrRecoverUpsell.test.ts
  libs/ledger-live-common/src/postOnboarding/logic/shouldRedirectToPostOnboardingOrRecoverUpsell.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs

#8540 fix(lld): speculos transport
  .changeset/spicy-schools-look.md
  apps/ledger-live-desktop/src/renderer/live-common-setup.ts
Labels: desktop

#8377 refactor: copy & rename Receive's reusable step screens for new add account flow
  .changeset/eight-ducks-rescue.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/SelectAddAccountMethod/useSelectAddAccountMethodViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/types.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/SelectAccounts/index.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectCrypto/index.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectNetwork/index.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectNetwork/types.ts
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/types.ts
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/screens/ConnectDevice/index.tsx
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/screens/SelectDevice/index.tsx
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/types.ts
Labels: mobile

#8462 fix(aptos): amount balance
  apps/ledger-live-desktop/src/renderer/families/aptos/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-desktop/src/renderer/families/aptos/index.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/families/aptos/api/index.ts
  libs/ledger-live-common/src/families/aptos/js-synchronisation.ts
  libs/ledger-live-common/src/families/aptos/types.ts
Labels: desktop, common, translations

#8498 feat(aptos): add coin feature flag
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs

#8547 Update test send NFT to ENS
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
Labels: desktop
