Repository LedgerHQ/ledger-live, pull requests merged in 2024-06, with the labels that each got.

#6998 [QAA-88] [Playwright] Prevent delegation test flakiness
  apps/ledger-live-desktop/tests/specs/accounts/delegate.smoke.spec.ts-snapshots/staking-max-amount-page-linux.png
  apps/ledger-live-desktop/tests/userdata/2_accounts_eth_with_tokens_and_nft.json
  apps/ledger-live-desktop/tests/userdata/accountCosmos.json
  apps/ledger-live-desktop/tests/userdata/accountCosmos2.json
  apps/ledger-live-desktop/tests/userdata/cosmosStakingAccounts.json
  libs/coin-modules/coin-bitcoin/jest.config.js
  libs/ledger-live-common/src/families/cosmos/bridge/mock.ts
Labels: desktop, common, screenshots

#7001 fix: hide webview loader from swap module
  .changeset/angry-bees-dress.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/types.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#6852 [LIVE-12852] Bugfix - Extend expired time for TRC20
  .changeset/chilled-days-glow.md
  .changeset/three-trains-approve.md
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  libs/ledger-live-common/src/families/tron/api/index.ts
Labels: desktop, common

#7010 fix: enforce only one version of styled components on dev mode
  .changeset/thin-dolls-give.md
  apps/ledger-live-desktop/tools/utils/index.js
Labels: desktop

#6970 feat(llm) [DSDK-308]: nanox ble update
  .changeset/brave-dolphins-admire.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/components/UpdateBanner/UpdateBanner.test.tsx
  apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/components/UpdateBanner/useUpdateBannerViewModel.tsx
  apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/utils/isFirmwareUpdateSupported.test.ts
  apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/utils/isFirmwareUpdateSupported.ts
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/index.tsx
Labels: mobile, translations

#7011 🐛 [BUGFIX]: Fix glitch when resizing window on Market + big space on clearable element in Search in Market
  .changeset/thick-vans-deny.md
  apps/ledger-live-desktop/src/renderer/screens/market/MarketList/components/MarketRowItem.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketList/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/components/SearchInputComponent.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/hooks/useMarket.ts
  apps/ledger-live-desktop/src/renderer/screens/market/hooks/useMarketActions.ts
  apps/ledger-live-desktop/src/renderer/screens/market/hooks/useMarketCoin.ts
  apps/ledger-live-desktop/src/renderer/screens/market/index.tsx
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-search-bitcoin-linux.png
Labels: desktop, screenshots

#7012 fix: LLD Stax post onboarding text color light mode
  .changeset/silent-suns-tease.md
  apps/ledger-live-desktop/src/renderer/components/ContentCards/ActionCard/components.tsx
Labels: desktop

#6984 Test: Improving speculos Tests + adding new currencies
  .changeset/warm-pens-fold.md
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/Currency.ts
  apps/ledger-live-desktop/tests/enum/DeviceLabels.ts
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/page/accounts.page.ts
  apps/ledger-live-desktop/tests/page/portfolio.page.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delete.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/erc20.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-tests-app.json
  apps/ledger-live-desktop/tests/userdata/speculos.json
  apps/ledger-live-desktop/tests/utils/speculos.ts
Labels: desktop

#6606 [LIVE-9595] Rework QueuedDrawer + Fix navigation when app update is needed
  .changeset/giant-pens-itch.md
  .changeset/many-socks-promise.md
  .changeset/silver-crews-bow.md
  apps/ledger-live-mobile/__tests__/test-renderer.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/QueuedDrawer.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/MyLedgerNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/context/AuthPass/index.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/newArch/components/QueuedDrawer/DebugAppLevelDrawer.tsx
  apps/ledger-live-mobile/src/newArch/components/QueuedDrawer/QueuedDrawersContext.tsx
  apps/ledger-live-mobile/src/newArch/components/QueuedDrawer/QueuedDrawersContextProvider.tsx
  apps/ledger-live-mobile/src/newArch/components/QueuedDrawer/README.md
  apps/ledger-live-mobile/src/newArch/components/QueuedDrawer/TestScreens.tsx
  apps/ledger-live-mobile/src/newArch/components/QueuedDrawer/__integrations__/openSuccessiveDrawers.test.tsx
  apps/ledger-live-mobile/src/newArch/components/QueuedDrawer/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/newArch/components/QueuedDrawer/index.tsx
  apps/ledger-live-mobile/src/newArch/components/QueuedDrawer/utils/logDrawer.tsx
  apps/ledger-live-mobile/src/screens/Modals/index.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerChooseDevice/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/QueuedDrawers.tsx
  libs/env/src/env.ts
  libs/ui/packages/native/src/components/Layout/Modals/BaseModal/index.tsx
Labels: mobile, ui, Stale, live-devices

#7016 feat(icons): add delete stop icon
  .changeset/ten-insects-reflect.md
  libs/ui/packages/icons/src/svg/Delete-stop.svg
Labels: ui

#7020 ⚡ [FEAT]: Add swicth in Settings to enable/disable MarketPerformanceWidget
  .changeset/long-forks-sell.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/MarketPerformanceWidget.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/general/keyboard-shortcuts.spec.ts-snapshots/no-native-menu-linux.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/lockscreen-unlocked-linux.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/passwordlock-disabled-linux.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/passwordlock-enabled-linux.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-français-linux.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-general-page-linux.png
Labels: desktop, translations, screenshots

#7000 🐛 [BUGFIX]: color of clearable element in Input
  .changeset/light-pandas-sip.md
  libs/ui/packages/react/src/components/form/BaseInput/index.tsx
Labels: ui

#6961 [QAA-75][Detox]Allure reporting: adding environment variable and feature flags
  apps/ledger-live-mobile/e2e/bridge/client.ts
  apps/ledger-live-mobile/e2e/bridge/server.ts
  apps/ledger-live-mobile/e2e/bridge/types.ts
  apps/ledger-live-mobile/e2e/jest.config.js
  apps/ledger-live-mobile/e2e/jest.globalTeardown.ts
  apps/ledger-live-mobile/e2e/setup.ts
  apps/ledger-live-mobile/e2e/specs/getAllureEnvironment.spec.ts
Labels: mobile

#7021 Patch hashgraph-sdk with new metro resolver to use NativeClient
  .changeset/ten-spoons-itch.md
  apps/ledger-live-mobile/jest.config.js
  package.json
  patches/@hashgraph__sdk@2.14.2.patch
  pnpm-lock.yaml
Labels: mobile

#7015 Adding playright tests to chain switch liveapps
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/TopBar.tsx
  apps/ledger-live-desktop/tests/component/webviewLayout.component.ts
  apps/ledger-live-desktop/tests/specs/services/dapp.spec.ts
  apps/ledger-live-desktop/tests/specs/services/dapp.spec.ts-mocks/1inch-live-app.ts
  apps/ledger-live-desktop/tests/specs/services/dapp.spec.ts-mocks/dummy-live-app.ts
  apps/ledger-live-desktop/tests/userdata/1AccountBTC1AccountETH1AccountPOLYGON.json
Labels: desktop

#7022 fix(live-12813): remove the swap webview conditional for demo0
  .changeset/brown-houses-beg.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#7025 fix(llm): add tracking on pull to refresh
  .changeset/polite-fireants-pay.md
  apps/ledger-live-mobile/src/components/accountSyncRefreshControl.tsx
  apps/ledger-live-mobile/src/components/globalSyncRefreshControl.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/hooks/usePullToRefresh.ts
  apps/ledger-live-mobile/src/screens/Swap/History/index.tsx
Labels: mobile

#6999 refactor(lld): tableLayout logic move inside newArch
  .changeset/nine-mayflies-jog.md
  apps/ledger-live-desktop/src/newArch/Collectibles/components/TableLayout/LayoutContainer.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/TableLayout/LayoutToggle.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/index.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/hooks/useLayout.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/types/Layouts.ts
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
Labels: desktop

#6594 [LIVE-12064] Feature: Add Blast currency
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-darwin.json
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-linux.json
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/coin-modules/coin-evm/src/__tests__/unit/editTransaction/__snapshots__/getFormattedFeeFields.test.ts.snap
  libs/coin-modules/coin-evm/src/specs.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/families/evm/config.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/81457/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/81457/erc20-signatures-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/81457/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/81457/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/81457/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/index.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/crypto-icons/src/svg/currency_blast.svg
  libs/ui/packages/crypto-icons/src/svg/currency_blast_sepolia.svg
Labels: desktop, mobile, common, ui, ledgerjs, cli

#7017 [DSDK-331][LLD] Europa crash MyLedger "cannot ready properties of undefined reading 'dark'"
  .changeset/dry-cheetahs-leave.md
  .changeset/polite-ladybugs-prove.md
  apps/ledger-live-desktop/src/renderer/screens/manager/Disconnected.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/assets/europa.png
  libs/ledgerjs/packages/devices/src/helpers.test.ts
  libs/ledgerjs/packages/devices/src/helpers.ts
Labels: desktop, ledgerjs

#7026 [QAA-104][Playwright] Fix market/dapp test
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-search-bitcoin-linux.png
  apps/ledger-live-desktop/tests/specs/services/dapp.spec.ts
Labels: desktop, screenshots

#7029 Adding TMS link + screenshots to allure
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/playwright.config.ts
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delete.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/erc20.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
Labels: desktop

#7005 feat(LIVE-12860): remove popular tag llm
  .changeset/fifty-crabs-arrive.md
  apps/ledger-live-desktop/src/renderer/modals/NoFundsStake/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/FeaturedButtons.tsx
  apps/ledger-live-mobile/src/components/NoFunds/NoFunds.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#7028 chore(llm): generalize the messages for tokens like done on LLD
  .changeset/six-crabs-serve.md
  apps/ledger-live-mobile/src/components/Alert.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/AddAccounts/02-TokenCurrencyDisclaimer.tsx
Labels: mobile, translations

#6991 feat: filtering providers in hooks based on FF
  .changeset/fluffy-boats-notice.md
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/__tests__/fetchCurrencyAll.spec.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/__tests__/fetchCurrencyFrom.spec.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyAll.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyFrom.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchRates.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchCurrencyAll.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchCurrencyFrom.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchCurrencyTo.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchRates.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFilteredProviders.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useProviderRates.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#7027 tron: keep empty subAccounts
  .changeset/loud-toes-live.md
  libs/ledger-live-common/src/families/tron/synchronization.ts
Labels: common

#6877 fix(LIVE-10131): stop throwing new trc20 account error
  .changeset/rotten-dodos-trade.md
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
  libs/ledger-live-common/src/families/tron/signOperation.ts
Labels: common

#6977 [LIVE-12806] Feature - Add Scroll & Scroll Sepolia currencies
  .changeset/purple-wolves-lick.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/families/evm/AccountFooter.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/EditTransaction/Body.tsx
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-darwin.json
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-linux.json
  apps/ledger-live-mobile/src/families/evm/EditTransactionFlow/EditTransactionSummary.tsx
  apps/ledger-live-mobile/src/families/evm/EvmFeesStrategy.tsx
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/coin-framework/src/serialization/transaction.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/api/node/ledger.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/api/node/rpc.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/deviceTransactionConfig.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/editTransaction/__snapshots__/getFormattedFeeFields.test.ts.snap
  libs/coin-modules/coin-evm/src/__tests__/unit/getTransactionStatus.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/logic.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/transaction.unit.test.ts
  libs/coin-modules/coin-evm/src/abis/scrollGasPriceOracle.abi.json
  libs/coin-modules/coin-evm/src/api/node/ledger.ts
  libs/coin-modules/coin-evm/src/api/node/rpc.common.ts
  libs/coin-modules/coin-evm/src/api/node/types.ts
  libs/coin-modules/coin-evm/src/getTransactionStatus.ts
  libs/coin-modules/coin-evm/src/hw-getAddress.ts
  libs/coin-modules/coin-evm/src/logic.ts
  libs/coin-modules/coin-evm/src/synchronization.ts
  libs/coin-modules/coin-evm/src/transaction.ts
  libs/coin-modules/coin-evm/src/types/transaction.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/families/evm/config.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/534351/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/534351/erc20-signatures-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/534351/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/534351/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/534351/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/534352/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/534352/erc20-signatures-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/534352/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/534352/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/534352/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/index.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/crypto-icons/src/svg/currency_scroll.svg
  libs/ui/packages/crypto-icons/src/svg/currency_scroll_sepolia.svg
Labels: desktop, mobile, common, ui, ledgerjs, cli

#7031 Remove sourceCurrencyId and targetCurrencyId
  .changeset/cyan-files-invite.md
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/Confirmation.tsx
Labels: mobile

#6946 Support/solana delegations fetch optimisations
  .changeset/seven-cougars-reply.md
  libs/coin-modules/coin-solana/src/api/cached.ts
  libs/coin-modules/coin-solana/src/api/chain/index.ts
  libs/coin-modules/coin-solana/src/synchronization.ts
Labels: fork

#7042 Support/stacks migrate deprecated endpoints
  .changeset/red-masks-fly.md
  libs/ledger-live-common/src/families/stacks/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/stacks/__tests__/sync.integration.test.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/api.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/api.types.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/misc.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/misc.unit.test.ts
  libs/ledger-live-common/src/families/stacks/synchronization.ts
Labels: common

#7043 fix(lld): camera does not shut off when not scanning qr code
  .changeset/beige-years-pump.md
  apps/ledger-live-desktop/src/renderer/components/QRCodeCameraPickerCanvas.tsx
Labels: desktop

#7047 fix: render swap live app after loading finish
  .changeset/nice-drinks-kiss.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#7046 [QAA-106][Detox]Disable flaky webview checks
  apps/ledger-live-mobile/e2e/specs/market.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboardingReadOnly.spec.ts
Labels: mobile

#7044 🐛 [BUGFIX] : Add Fallback for Market Widget Crypto icons
  .changeset/cold-paws-shave.md
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/components/WidgetList.tsx
Labels: desktop

#7006 [LIVE-11438][LIVE-11670] Remove feature flags "supportDeviceStax" and "staxWelcomeScreen"
  .changeset/tame-ties-invent.md
  apps/ledger-live-desktop/src/renderer/components/CustomImage/DeviceModelPicker.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectDevice/DeviceSelector.tsx
  apps/ledger-live-desktop/tests/specs/onboarding/connect-device.spec.ts-snapshots/v3-device-selection-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-device-selection-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-device-selection-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-tests-app.json
  apps/ledger-live-mobile/assets/videos/index.ts
  apps/ledger-live-mobile/assets/videos/onboarding.mp4
  apps/ledger-live-mobile/src/screens/CustomImage/PreviewPreEdit.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/deviceSelection.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/featureFlags/groupedFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs, screenshots

#7023 ⚡️ [FEAT] : WalletSync - Synchronize with LLD 🔄
  .changeset/shy-vans-smoke.md
  .changeset/ten-kids-reflect.md
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Activation/03-ActivationOrSynchroWithTrustchain.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Activation/03-UnsecuredError.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Activation/index.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Manage/index.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageBackup/01-ManageBackupStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Synch/index.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Synchronize/01-SyncModeStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Synchronize/02-QRCodeStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Synchronize/03-PinCodeStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Synchronize/04-SyncFinalStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Synchronize/index.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/router.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/useFlows.ts
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/synchronize.test.tsx
  apps/ledger-live-desktop/src/renderer/actions/walletSync.ts
  apps/ledger-live-desktop/src/renderer/modals/WalletSyncDebugger/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/index.ts
  apps/ledger-live-desktop/src/renderer/modals/types.ts
  apps/ledger-live-desktop/src/renderer/reducers/walletSync.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/SettingsSection.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/WalletSync/WalletSyncTester.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ui/packages/react/src/components/layout/List/NumberedList/NumberedList.stories.tsx
  libs/ui/packages/react/src/components/layout/List/NumberedList/index.tsx
  libs/ui/packages/react/src/components/layout/index.ts
Labels: desktop, ui, translations

#7048 feat(llm): create llm wallet sync arch and ff
  .changeset/violet-lemons-battle.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/drawers/.gitkeep
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/.gitkeep
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/.gitkeep
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Delete/.gitkeep
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/.gitkeep
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/.gitkeep
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#7049 fix(wallet-api): ripple wrong family name [LIVE-12929]
  .changeset/brave-scissors-brush.md
  CODEOWNERS
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-darwin.json
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-linux.json
  libs/ledger-live-common/src/helpers.ts
  libs/ledger-live-common/src/platform/converters.ts
  libs/ledger-live-common/src/platform/types.ts
  libs/ledger-live-common/src/wallet-api/constants.ts
  libs/ledger-live-common/src/wallet-api/converters.ts
Labels: desktop, common

#7041 Support/taquito library update
  .changeset/kind-eyes-grin.md
  .changeset/violet-wolves-type.md
  libs/coin-modules/coin-tezos/package.json
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: common

#7032 🐛 Fix overriding the analytics opt in when the analyticsOptInPrompt is only enabled for the Onboarding
  .changeset/honest-balloons-walk.md
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-mobile/src/index.tsx
Labels: desktop, mobile

#6823 [Bugfix]: Solana delegations minor UI issues
  .changeset/slimy-parents-glow.md
  apps/ledger-live-desktop/src/renderer/families/solana/Delegation/Row.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/families/solana/Delegations/Row.tsx
Labels: desktop, mobile, translations, fork

#7051 feat(llm): add settings row for wallet sync
  .changeset/grumpy-dots-rescue.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Settings/General/WalletSyncRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/index.tsx
Labels: mobile, translations

#7050 [LIVE-12403] [LLM] :bug: Issue if Stax loses connection with LLM during firmware upgrade
  .changeset/few-penguins-perform.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/useUpdateFirmwareAndRestoreSettings.ts
Labels: mobile, translations

#6885 ⚡️ [FEAT]: WalletSync - Activation + Manage Backups + Synchronize with LLD flows
  .changeset/red-maps-know.md
  .changeset/shy-vans-smoke.md
  .changeset/ten-kids-reflect.md
  apps/ledger-live-desktop/.unimportedrc.json
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Activation/01-CreateOrSynchronizeStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Activation/02-DeviceActionStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Activation/03-ActivationOrSynchroWithTrustchain.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Activation/03-UnsecuredError.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Activation/04-ActivationFinalStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Activation/index.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Manage/Option.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Manage/index.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageBackup/01-ManageBackupStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageBackup/02-DeleteBackupStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageBackup/03-FinalStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageBackup/index.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageBackup/types.ts
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageBackup/useBackup.ts
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Synchronize/01-SyncModeStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Synchronize/02-QRCodeStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Synchronize/03-PinCodeStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Synchronize/04-SyncFinalStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Synchronize/index.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/router.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/useFlows.ts
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/manageYourBackup.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/synchronize.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/useFlows.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/walletSync.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/components/Card.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/components/Error.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/components/LoadingStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/components/LogoWrapper.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/components/Success.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/useWalletSyncAnalytics.ts
  apps/ledger-live-desktop/src/renderer/actions/walletSync.ts
  apps/ledger-live-desktop/src/renderer/animations/common/loader.json
  apps/ledger-live-desktop/src/renderer/modals/WalletSyncDebugger/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/index.ts
  apps/ledger-live-desktop/src/renderer/modals/types.ts
  apps/ledger-live-desktop/src/renderer/reducers/walletSync.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/SettingsSection.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/WalletSync/WalletSyncTester.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/jestJSDOMSetup.ts
  apps/ledger-live-desktop/tests/jestSetup.ts
  apps/ledger-live-desktop/tests/testUtils.tsx
  libs/ui/packages/react/src/components/layout/List/NumberedList/NumberedList.stories.tsx
  libs/ui/packages/react/src/components/layout/List/NumberedList/index.tsx
  libs/ui/packages/react/src/components/layout/index.ts
Labels: desktop, ui, translations

#6968 fix(live-common/exchange): fix CAL service integration
  .changeset/stale-comics-own.md
  libs/ledger-live-common/src/exchange/providers/swap.ts
Labels: common

#7053 Bugfix/solana UI staking issues bp
  .changeset/slimy-parents-glow.md
  apps/ledger-live-desktop/src/renderer/families/solana/Delegation/Row.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/families/solana/Delegations/Row.tsx
Labels: desktop, mobile, translations

#6923 feat(hw-app-str): refactor `hw-app-str` and add `signSorobanAuthorization`
  .changeset/fair-scissors-sparkle.md
  libs/ledger-live-common/src/families/stellar/bridge.integration.test.ts
  libs/ledger-live-common/src/families/stellar/hw-getAddress.ts
  libs/ledgerjs/packages/hw-app-str/CHANGELOG.md
  libs/ledgerjs/packages/hw-app-str/README.md
  libs/ledgerjs/packages/hw-app-str/package.json
  libs/ledgerjs/packages/hw-app-str/src/Str.ts
  libs/ledgerjs/packages/hw-app-str/src/errors.ts
  libs/ledgerjs/packages/hw-app-str/src/utils.ts
  libs/ledgerjs/packages/hw-app-str/tests/Str.test.ts
  pnpm-lock.yaml
Labels: common, ledgerjs, fork

#7055 feat(llm): add wallet sync entry point during onboarding
  .changeset/thin-books-marry.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/drawers/.gitkeep
  apps/ledger-live-mobile/src/newArch/features/WalletSync/drawers/DummyDrawer.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/Cards/SelectionCard.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/accessExistingWallet.tsx
Labels: mobile, translations

#7038 [FEAT] : Manage instances in LLD
  .changeset/plenty-elephants-tie.md
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Activation/index.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Manage/index.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageBackup/index.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageInstances/01-ManageInstancesStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageInstances/02-DeviceActionInstanceStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageInstances/03-DeleteInstanceWithTrustchain.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageInstances/04-DeletionFinalErrorStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageInstances/04-DeletionFinalStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageInstances/index.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageInstances/useInstances.ts
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/router.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/useFlows.ts
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/manageSynchronizedInstances.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/manageYourBackup.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/synchronize.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/useFlows.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/walletSync.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/components/TinyCard.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/useWalletSyncAnalytics.ts
  apps/ledger-live-desktop/src/renderer/actions/walletSync.ts
  apps/ledger-live-desktop/src/renderer/modals/WalletSyncDebugger/index.tsx
  apps/ledger-live-desktop/src/renderer/reducers/walletSync.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7061 [LIVE-12800] LLD - Storyly cta behavior with deeplinks on LLD
  .changeset/soft-hairs-try.md
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/InformationDrawer.tsx
  apps/ledger-live-desktop/src/storyly/StorylyProvider.tsx
  apps/ledger-live-desktop/src/storyly/useStoryly.tsx
  apps/ledger-live-desktop/src/types/storyly-web.d.ts
Labels: desktop

#7057 Warning banner opens URL in browser
  .changeset/slimy-jokes-punch.md
  apps/ledger-live-desktop/src/renderer/components/TopBanner.tsx
Labels: desktop

#7062 💄: Rework Icons on WelcomeScreen on WalletSync
  apps/ledger-live-desktop/src/newArch/WalletSync/components/LogoWrapper.tsx
Labels: desktop

#7059 linked screenshot to failed step
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/misc/reporters/step.ts
Labels: desktop

#7067 💄 : Polishing LedgerSync Screens on LLD
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Activation/01-CreateOrSynchronizeStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Activation/03-UnsecuredError.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Synchronize/01-SyncModeStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Synchronize/02-QRCodeStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/manageSynchronizedInstances.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/manageYourBackup.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/synchronize.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/walletSync.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/components/Card.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ui/packages/react/src/components/layout/List/NumberedList/index.tsx
Labels: desktop, ui, translations

#7072 [QAA-105] Added 2 retries for Speculos tests
  apps/ledger-live-desktop/tests/playwright.config.ts
Labels: desktop

#7068 [LIVE-12968][LLM] QueuedDrawer: if onClose changes, drawer shouldn't auto close
  .changeset/shy-pots-brush.md
  apps/ledger-live-mobile/src/newArch/components/QueuedDrawer/TestScreens.tsx
  apps/ledger-live-mobile/src/newArch/components/QueuedDrawer/index.tsx
Labels: mobile

#7073 fix(llm/QueuedDrawer): QueuedDrawer shouldn't auto close (cherrypick of #7068 for develop)
  apps/ledger-live-mobile/src/newArch/components/QueuedDrawer/TestScreens.tsx
  apps/ledger-live-mobile/src/newArch/components/QueuedDrawer/index.tsx
Labels: mobile

#7019 [LIVE-12325] Remove remaining manager v1 api calls (outside of list apps v1)
  .changeset/mean-rocks-live.md
  .changeset/purple-rules-return.md
  .changeset/tasty-sheep-study.md
  apps/cli/src/commands/device/app.ts
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/useChangeLanguagePrompt.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/restore/Language.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/DeviceLanguageInstallation.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/LanguageSelect.tsx
  apps/ledger-live-mobile/src/components/FirmwareUpdate/DeviceLanguageStep.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/Device/DeviceLanguage.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/language.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/LanguagePrompt.tsx
  apps/web-tools/repl/components/fields/ApplicationField.tsx
  libs/device-core/src/index.ts
  libs/device-core/src/managerApi/use-cases/getAppsCatalogForDevice.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/device/use-cases/getAppsCatalogForDevice.ts
  libs/ledger-live-common/src/hw/isUpdateAvailable.ts
  libs/ledger-live-common/src/manager/api.ts
  libs/ledger-live-common/src/manager/hooks.ts
  libs/ledger-live-common/src/manager/index.ts
  libs/ledger-live-common/src/manager/useAvailableLanguagesForDevice.ts
  libs/ledger-live-common/src/manager/useDeviceHasUpdatesAvailable.ts
Labels: desktop, mobile, common, cli

#6793 [Fix/stacks] Optimistic operation disappears for long running transactions
  .changeset/curly-donkeys-tickle.md
  libs/ledger-live-common/src/families/stacks/bridge/utils/misc.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/misc.unit.test.ts
  libs/ledger-live-common/src/families/stacks/synchronization.ts
Labels: common, fork

#7077 [Release] Support - Forced CAL Update
  .changeset/pretty-moose-burn.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/bep20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/bep20.json
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20-signatures-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/10/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/10/erc20-signatures-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/10/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/10/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20-signatures-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/168587773/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/168587773/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/25/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/25/erc20-signatures-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/25/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/25/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42161/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42161/erc20-signatures-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42161/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42161/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/43114/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/43114/erc20-signatures-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/43114/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/43114/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20-signatures-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/81457/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/81457/erc20-signatures-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/81457/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/81457/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/8453/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/8453/erc20-signatures-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/8453/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/8453/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/coin-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/coins.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/polygon-erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/polygon-erc20.json
Labels: desktop, common, ledgerjs

#7087 Bugfix/tron activation fee
  .changeset/soft-laws-call.md
  libs/ledger-live-common/src/exchange/swap/hooks/useUpdateMaxAmount.ts
  libs/ledger-live-common/src/families/tron/bridge.integration.test.ts
  libs/ledger-live-common/src/families/tron/constants.ts
Labels: common

#7090 bugfix: LIVE-12901 incorrect ERC20 fees
  .changeset/six-rivers-study.md
  libs/ledger-live-common/src/exchange/swap/hooks/useUpdateMaxAmount.ts
Labels: common

#6891 Feat/cardano ledgerjs
  .changeset/swift-candles-end.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/cardano/signerSerializer.ts
  pnpm-lock.yaml
Labels: common, fork

#7100 test(dapp): temporarily disable switch chain test until fixed
  apps/ledger-live-desktop/tests/specs/services/dapp.spec.ts
Labels: desktop

#6326 Polkadot generic app support
  .changeset/warm-birds-shake.md
  libs/coin-modules/coin-polkadot/package.json
  libs/coin-modules/coin-polkadot/src/bridge/buildTransaction.test.ts
  libs/coin-modules/coin-polkadot/src/bridge/buildTransaction.ts
  libs/coin-modules/coin-polkadot/src/bridge/getFeesForTransaction.test.ts
  libs/coin-modules/coin-polkadot/src/bridge/prepareTransaction.test.ts
  libs/coin-modules/coin-polkadot/src/bridge/signOperation.test.ts
  libs/coin-modules/coin-polkadot/src/bridge/signOperation.ts
  libs/coin-modules/coin-polkadot/src/config.ts
  libs/coin-modules/coin-polkadot/src/logic/craftTransaction.ts
  libs/coin-modules/coin-polkadot/src/logic/signTransaction.ts
  libs/coin-modules/coin-polkadot/src/network/index.ts
  libs/coin-modules/coin-polkadot/src/network/sidecar.ts
  libs/coin-modules/coin-polkadot/src/network/sidecar.unit.test.ts
  libs/coin-modules/coin-polkadot/src/signer/getAddress.ts
  libs/coin-modules/coin-polkadot/src/test/bridgeDatasetTest.ts
  libs/coin-modules/coin-polkadot/src/types/model.ts
  libs/coin-modules/coin-polkadot/src/types/signer.ts
  libs/ledger-live-common/src/families/polkadot/config.ts
  libs/ledger-live-common/src/families/polkadot/setup.ts
  libs/ledgerjs/packages/hw-app-polkadot/README.md
  libs/ledgerjs/packages/hw-app-polkadot/package.json
  libs/ledgerjs/packages/hw-app-polkadot/src/Polkadot.ts
  pnpm-lock.yaml
Labels: common, ledgerjs, Stale

#7078 Feat/live 12863 telos explorer error
  .changeset/gorgeous-hornets-jump.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/coin-modules/coin-evm/src/api/explorer/etherscan.ts
  libs/coin-modules/coin-evm/src/errors.ts
Labels: desktop, mobile, translations

#7102 show tx fee value as main currency
  .changeset/big-hornets-hide.md
  libs/coin-modules/coin-cardano/src/deviceTransactionConfig.ts
Labels: fork

#7106 feat: ptx mixpanel attributes
  .changeset/big-pumas-smash.md
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
Labels: desktop

#7089 remove cryptoassets.md
  .github/workflows/release-create.yml
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/generate-cryptoassets-md.test.ts
  apps/ledger-live-desktop/src/generate-cryptoassets-md.ts
  package.json
Labels: desktop, automation

#7111 [LIVE-12976] LLM - Fix Storyly close action
  .changeset/eight-pans-promise.md
  apps/ledger-live-mobile/src/components/StorylyStories/StorylyProvider.tsx
Labels: mobile

#7088 Adding checks on add.account.ts + update readme
  apps/ledger-live-desktop/src/renderer/components/OperationsList/Operation.tsx
  apps/ledger-live-desktop/src/renderer/modals/SettingsAccount/AccountSettingRenderBody.tsx
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/README.md
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
Labels: desktop

#7109 [Release] Bugfix - XRP custom UI missing
  .changeset/sixty-trains-divide.md
  apps/ledger-live-desktop/src/renderer/families/xrp/SendAmountFields.tsx
  apps/ledger-live-desktop/src/renderer/families/xrp/SendRecipientFields.tsx
  apps/ledger-live-desktop/src/renderer/families/xrp/index.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SendFundsNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SignTransactionNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SwapNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/families/index.ts
  apps/ledger-live-mobile/src/families/ripple/index.ts
  apps/ledger-live-mobile/src/families/xrp/ScreenEditFee.tsx
  apps/ledger-live-mobile/src/families/xrp/ScreenEditTag.tsx
  apps/ledger-live-mobile/src/families/xrp/SendRowTag.tsx
  apps/ledger-live-mobile/src/families/xrp/SendRowsCustom.tsx
  apps/ledger-live-mobile/src/families/xrp/SendRowsFee.tsx
  apps/ledger-live-mobile/src/families/xrp/XrpFeeRow.tsx
  apps/ledger-live-mobile/src/families/xrp/index.ts
Labels: desktop, mobile

#7114 [Release][LIVE-13049] Bugfix - Ethereum Classic using its own nano app
  .changeset/metal-oranges-heal.md
  libs/ledger-live-common/src/apps/react.test.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: common, ledgerjs

#7117 [LIVE-12928][Common] List apps v2 doesn't show apps with isDevTools when Manager in dev mode
  .changeset/quiet-llamas-rush.md
  libs/ledger-live-common/src/apps/listApps/v2.test.ts
  libs/ledger-live-common/src/apps/listApps/v2.ts
  libs/ledger-live-common/src/apps/mock.ts
  libs/ledger-live-common/src/device/use-cases/listAppsUseCase.ts
Labels: common

#7116 [LIVE-13054] [LLD/LLM] :bug: TypeError: Cannot read property 'featureIds' of undefined
  .changeset/perfect-needles-search.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsSettings/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/index.tsx
  libs/ledger-live-common/src/featureFlags/groupedFeatures.ts
Labels: desktop, mobile, common

#7115 fix(llm/lld): change analytics opt-in translations
  .changeset/silly-frogs-swim.md
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/screens/VariantA/Main/components/MainBody/components/TrackingInfoList/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantA/Main.tsx
Labels: desktop, mobile, translations

#7118 Smartling on-demand translation delivery from release
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#7123 :bug: [LIVE-13054] typing grouped features stax
  .changeset/orange-jokes-dream.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsSettings/GroupedFeatures.tsx
  apps/ledger-live-mobile/src/screens/FeatureFlagsSettings/GroupedFeatures.tsx
  apps/ledger-live-mobile/src/screens/FeatureFlagsSettings/index.tsx
  libs/ledger-live-common/src/featureFlags/groupedFeatures.ts
Labels: desktop, mobile, common

#7081 [LIVE-12691][LL][Passkey] Add Feature Flag for app Data backup
  .changeset/cool-hornets-join.md
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs, live-devices

#6874 [Coin-Polkadot] Use node calls instead of sidecar forks
  .changeset/quick-pears-dress.md
  libs/coin-modules/coin-polkadot/jest.config.integ.js
  libs/coin-modules/coin-polkadot/jest.config.js
  libs/coin-modules/coin-polkadot/package.json
  libs/coin-modules/coin-polkadot/src/config.ts
  libs/coin-modules/coin-polkadot/src/network/index.ts
  libs/coin-modules/coin-polkadot/src/network/node/apiPromise.ts
  libs/coin-modules/coin-polkadot/src/network/node/constants.ts
  libs/coin-modules/coin-polkadot/src/network/node/identities.ts
  libs/coin-modules/coin-polkadot/src/network/node/index.ts
  libs/coin-modules/coin-polkadot/src/network/node/nominations.ts
  libs/coin-modules/coin-polkadot/src/network/node/stakingInfo.ts
  libs/coin-modules/coin-polkadot/src/network/node/validators.ts
  libs/coin-modules/coin-polkadot/src/network/sidecar.fixture.ts
  libs/coin-modules/coin-polkadot/src/network/sidecar.integ.test.ts
  libs/coin-modules/coin-polkadot/src/network/sidecar.mock.ts
  libs/coin-modules/coin-polkadot/src/network/sidecar.ts
  libs/coin-modules/coin-polkadot/src/network/sidecar.types.ts
  libs/coin-modules/coin-polkadot/src/network/sidecar.unit.test.ts
  libs/coin-modules/coin-polkadot/src/test/coin-tester/scenarios/basic.ts
  libs/coin-modules/coin-xrp/src/bridge/js.ts
  libs/coin-modules/coin-xrp/src/config.ts
  libs/env/src/env.ts
  libs/ledger-live-common/src/families/polkadot/config.ts
  libs/ledger-live-common/src/families/polkadot/setup.ts
  pnpm-lock.yaml
Labels: common

#7076 Bugfix/dsdk 326 keyring testing
  .changeset/angry-mayflies-heal.md
  .changeset/fifty-needles-drop.md
  libs/ledgerjs/packages/context-module/package.json
  libs/ledgerjs/packages/context-module/src/DefaultContextModule.test.ts
  libs/ledgerjs/packages/context-module/src/DefaultContextModule.ts
  libs/ledgerjs/packages/context-module/src/external-plugin/data/HttpExternalPluginDataSource.test.ts
  libs/ledgerjs/packages/context-module/src/external-plugin/data/HttpExternalPluginDataSource.ts
  libs/ledgerjs/packages/context-module/src/forward-domain/data/ForwardDomainDataSource.ts
  libs/ledgerjs/packages/context-module/src/forward-domain/data/HttpForwardDomainDataSource.test.ts
  libs/ledgerjs/packages/context-module/src/forward-domain/data/HttpForwardDomainDataSource.ts
  libs/ledgerjs/packages/context-module/src/forward-domain/domain/ForwardDomainContextLoader.test.ts
  libs/ledgerjs/packages/context-module/src/forward-domain/domain/ForwardDomainContextLoader.ts
  libs/ledgerjs/packages/context-module/src/index.ts
  libs/ledgerjs/packages/context-module/src/nft/data/HttpNftDataSource.test.ts
  libs/ledgerjs/packages/context-module/src/nft/data/HttpNftDataSource.ts
  libs/ledgerjs/packages/context-module/src/nft/data/NftDataSource.ts
  libs/ledgerjs/packages/context-module/src/token/data/HttpTokenDataSource.test.ts
  libs/ledgerjs/packages/context-module/src/token/data/HttpTokenDataSource.ts
  libs/ledgerjs/packages/context-module/src/token/data/TokenDto.ts
  libs/ledgerjs/packages/keyring-eth/package.json
  libs/ledgerjs/packages/keyring-eth/scripts/README.md
  libs/ledgerjs/packages/keyring-eth/scripts/test-get-address.ts
  libs/ledgerjs/packages/keyring-eth/scripts/test-sign-eip712-hashed.ts
  libs/ledgerjs/packages/keyring-eth/scripts/test-sign-eip712.ts
  libs/ledgerjs/packages/keyring-eth/scripts/test-sign-personal-message.ts
  libs/ledgerjs/packages/keyring-eth/scripts/test-sign-transaction.ts
  libs/ledgerjs/packages/keyring-eth/src/DefaultKeyringEth.test.ts
  libs/ledgerjs/packages/keyring-eth/src/DefaultKeyringEth.ts
  pnpm-lock.yaml
Labels: ledgerjs

#7086 feat(llm): add activation screen from ws settings
  .changeset/chilled-brooms-poke.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/SettingsRow.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/components/Dummy/Drawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncSettings.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/.gitkeep
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/Actions.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/IconsHeader.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/IconWrapper.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/.gitkeep
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useWalletSyncAnalytics.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/.gitkeep
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/WalletSyncRow.tsx
Labels: mobile, translations

#7133 fix: changed error when NotEnoughBalance
  .changeset/six-meals-try.md
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
Labels: common

#7139 Feat/dsdk 349 context module builder
  .changeset/healthy-fans-exercise.md
  libs/ledgerjs/packages/context-module/src/ContextModuleBuilder.test.ts
  libs/ledgerjs/packages/context-module/src/ContextModuleBuilder.ts
  libs/ledgerjs/packages/context-module/src/DefaultContextModule.test.ts
  libs/ledgerjs/packages/context-module/src/DefaultContextModule.ts
  libs/ledgerjs/packages/context-module/src/index.ts
Labels: ledgerjs

#7144 LLM - fix crash on experimental settings screen
  .changeset/real-planets-grab.md
  apps/ledger-live-mobile/src/screens/Settings/Experimental/index.tsx
Labels: mobile

#7155 fix(lld): fix countervalues develop
  .changeset/khaki-camels-chew.md
  apps/ledger-live-desktop/src/renderer/components/TokenRow.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountRowItem/index.tsx
Labels: desktop

#7154 fix(lld): fix countervalues release
  .changeset/warm-rules-tie.md
  apps/ledger-live-desktop/src/renderer/components/TokenRow.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountRowItem/index.tsx
Labels: desktop

#7156 fix units on token operations
  .changeset/large-carrots-attend.md
  apps/ledger-live-desktop/src/renderer/components/OperationsList/Operation.tsx
Labels: desktop

#7142 :bug: [LIVE-13021] [LLD][Ubuntu] Device not recognised on LLD for Ubuntu
  .changeset/sweet-papayas-complain.md
  libs/ledgerjs/packages/hw-transport-node-hid-noevents/package.json
  libs/ledgerjs/packages/hw-transport-node-hid-singleton/package.json
  libs/ledgerjs/packages/hw-transport-node-hid/package.json
  pnpm-lock.yaml
Labels: desktop, mobile, common, ui, ledgerjs, cli

#7159 Support/fix tokens unit
  .changeset/large-carrots-attend.md
  apps/ledger-live-desktop/src/renderer/components/OperationsList/Operation.tsx
Labels: desktop, mobile, common, ui, ledgerjs, cli

#7161 fix(lld): Ignore silent JS error on will-frame-navigate second event
  apps/ledger-live-desktop/src/sentry/install.ts
Labels: desktop

#7162 [account migration script] if currency not supported we skip it in the next synchro
  .github/workflows/account-migration.yml
  libs/ledger-live-common/src/__tests__/migration/account-migration.ts
Labels: common, automation

#7157 :bug: [LIVE-12734] [LLD] Device disconnect during restore apps on LNX causing the app restore to fail
  .changeset/orange-icons-rescue.md
  apps/ledger-live-desktop/src/renderer/screens/manager/Dashboard.tsx
  libs/device-core/src/commands/use-cases/getDeviceName.ts
Labels: desktop, mobile, common, ui, ledgerjs, cli

#7165 fix(llm): webview autoplay video on ios
  .changeset/famous-gifts-cough.md
  apps/ledger-live-mobile/src/components/WebViewScreen/index.tsx
Labels: mobile

#7164 fix(lld): layout issue on market performance widget
  .changeset/purple-olives-reflect.md
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/components/WidgetList.tsx
Labels: desktop

#7074 fix: roll back add acount banner
  .changeset/slow-berries-dream.md
  apps/ledger-live-desktop/src/renderer/hooks/swap-migrations/useSwapLiveAppHook.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionTarget.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Migrations/SwapMigrationUI.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/useIsSwapLiveFlagEnabled.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/exchange/swap/hooks/index.ts
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useIsSwapLiveApp.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useIsSwapLiveApp.ts
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useSwapLiveConfig.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useSwapLiveConfig.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs

#7158 Fix/casper address
  .changeset/big-hairs-deliver.md
  libs/ledger-live-common/src/families/casper/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/casper/hw-getAddress.ts
  libs/ledger-live-common/src/families/casper/speculos-deviceActions.ts
Labels: common, fork

#7036 bugfix: LIVE-11803 - rename device broken if an app is open
  .changeset/sharp-rabbits-accept.md
  libs/ledger-live-common/src/hw/actions/renameDevice.ts
  libs/ledger-live-common/src/hw/renameDevice.ts
Labels: common

#7163 Fix/live 13088
  .changeset/purple-rivers-crash.md
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/index.tsx
Labels: desktop

#7174 Fix/live 13088 (#7163)
  .changeset/purple-rivers-crash.md
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/index.tsx
Labels: desktop

#7148 fix(llm): improve typing of ReceiveFunds/02-SelectAccount and fix crash case
  .changeset/modern-forks-invent.md
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectAccount.tsx
Labels: mobile

#7151 [QAA-118][Playwright][Speculos] Create staging build for speculos tests
  .github/workflows/test-ui-e2e-only-desktop.yml
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/tests/specs/speculos/README.md
  tools/actions/composites/setup-test-desktop/action.yml
Labels: desktop, tools, automation

#7167 :bug:fix(llm): typo when 1 account found after scan
  .changeset/rude-flowers-breathe.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccount.tsx
Labels: mobile, translations

#7124 [DSDK-332][LL][Passkey] Implement command and types related for the backup config.
  .changeset/spicy-coins-bow.md
  libs/device-core/src/commands/entities/AppStorageInfo.ts
  libs/device-core/src/commands/use-cases/app-backup/backupAppStorage.test.ts
  libs/device-core/src/commands/use-cases/app-backup/backupAppStorage.ts
  libs/device-core/src/commands/use-cases/app-backup/getAppStorageInfo.test.ts
  libs/device-core/src/commands/use-cases/app-backup/getAppStorageInfo.ts
  libs/device-core/src/commands/use-cases/app-backup/restoreAppStorage.test.ts
  libs/device-core/src/commands/use-cases/app-backup/restoreAppStorage.ts
  libs/device-core/src/commands/use-cases/app-backup/restoreAppStorageCommit.test.ts
  libs/device-core/src/commands/use-cases/app-backup/restoreAppStorageCommit.ts
  libs/device-core/src/commands/use-cases/app-backup/restoreAppStorageInit.test.ts
  libs/device-core/src/commands/use-cases/app-backup/restoreAppStorageInit.ts
  libs/device-core/src/errors.ts
  libs/device-core/src/index.ts
  libs/ledger-live-common/src/hw/customLockScreenFetchHash.ts
  libs/ledger-live-common/src/hw/customLockScreenFetchSize.ts
  libs/ledger-live-common/src/hw/customLockScreenRemove.test.ts
  libs/ledger-live-common/src/hw/customLockScreenRemove.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: common, ledgerjs, live-devices

#7184 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#7183 fix(LIVE-13101): update tron dead address
  .changeset/serious-taxis-perform.md
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
Labels: ledgerjs

#7149 feat(LIVE-13069): swap llm currencies from currencies all seem to be cached forever
  .changeset/lemon-pumpkins-speak.md
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyAll.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyFrom.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyTo.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/constants.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchCurrencyAll.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchCurrencyFrom.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchCurrencyTo.ts
Labels: common

#7180 fix: revert LIVE-13088 and a fix LIVE-13131
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/index.tsx
Labels: desktop

#7171 [QAA-121][Playwright] Disable time mocking for speculos tests
  apps/ledger-live-desktop/src/index.ts
  apps/ledger-live-desktop/src/renderer/init.tsx
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
Labels: desktop

#7169 [QAA-87][Detox] Update detox version
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/package.json
  package.json
  patches/detox@20.23.0.patch
  pnpm-lock.yaml
Labels: mobile

#7187 fix: revert LIVE-13088 and a fix LIVE-13131 (#7180)
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/index.tsx
Labels: desktop

#7188 fix(LIVE-13072): use NotEnoughGas to suggest buying more currency
  .changeset/tall-moons-flow.md
  libs/ledger-live-common/src/families/tron/getTransactionStatus.ts
Labels: common

#7185 fix(LIVE-13101): update tron dead address
  .changeset/serious-taxis-perform.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/families/bitcoin/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/cosmos.integration.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
Labels: common, ledgerjs

#7170 Feat/dsdk 352 keyring mapper
  .changeset/fast-feet-double.md
  .changeset/tall-hats-sin.md
  libs/ledgerjs/packages/context-module/src/ContextModule.ts
  libs/ledgerjs/packages/context-module/src/DefaultContextModule.test.ts
  libs/ledgerjs/packages/context-module/src/DefaultContextModule.ts
  libs/ledgerjs/packages/context-module/src/external-plugin/domain/ExternalPluginContextLoader.test.ts
  libs/ledgerjs/packages/context-module/src/external-plugin/domain/ExternalPluginContextLoader.ts
  libs/ledgerjs/packages/context-module/src/forward-domain/domain/ForwardDomainContextLoader.test.ts
  libs/ledgerjs/packages/context-module/src/forward-domain/domain/ForwardDomainContextLoader.ts
  libs/ledgerjs/packages/context-module/src/index.ts
  libs/ledgerjs/packages/context-module/src/nft/domain/NftContextLoader.test.ts
  libs/ledgerjs/packages/context-module/src/nft/domain/NftContextLoader.ts
  libs/ledgerjs/packages/context-module/src/shared/domain/ContextLoader.ts
  libs/ledgerjs/packages/context-module/src/shared/model/ClearSignContext.ts
  libs/ledgerjs/packages/context-module/src/shared/model/LoaderOptions.ts
  libs/ledgerjs/packages/context-module/src/shared/model/Transaction.ts
  libs/ledgerjs/packages/context-module/src/shared/model/TransactionContext.ts
  libs/ledgerjs/packages/context-module/src/shared/model/TransactionSubset.ts
  libs/ledgerjs/packages/context-module/src/token/domain/TokenContextLoader.test.ts
  libs/ledgerjs/packages/context-module/src/token/domain/TokenContextLoader.ts
  libs/ledgerjs/packages/keyring-eth/package.json
  libs/ledgerjs/packages/keyring-eth/src/DefaultKeyringEth.test.ts
  libs/ledgerjs/packages/keyring-eth/src/DefaultKeyringEth.ts
  libs/ledgerjs/packages/keyring-eth/src/KeyringEth.ts
  libs/ledgerjs/packages/keyring-eth/src/mapper/TxMapper.test.ts
  libs/ledgerjs/packages/keyring-eth/src/mapper/TxMapper.ts
  libs/ledgerjs/packages/keyring-eth/src/model/Transaction.ts
  pnpm-lock.yaml
Labels: ledgerjs

#7172 :bug:fix(llm): Discover tab/My Ledger doesn't compensate for keyboard height
  .changeset/silver-apples-raise.md
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/AppsScreen.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Layout.tsx
Labels: mobile

#7125 [LLD] [QAA-96] Cover token account creation flows
  apps/ledger-live-desktop/src/renderer/components/TokenRow.tsx
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/Currency.ts
  apps/ledger-live-desktop/tests/enum/Tokens.ts
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/page/modal/add.account.modal.ts
  apps/ledger-live-desktop/tests/page/modal/receive.modal.ts
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delete.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/erc20.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-subAccount.json
  apps/ledger-live-desktop/tests/utils/speculos.ts
Labels: desktop

#7196 Bugfix/cardano mobile
  .changeset/fuzzy-stingrays-join.md
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations, fork

#7199 chore(release): update LLD release note v2.83.0
  apps/ledger-live-desktop/RELEASE_NOTES.md
Labels: desktop

#7206 [Chore(release)] resolve release merge conflicts with main
  .changeset/sweet-dancers-hide.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
  apps/ledger-live-desktop/CHANGELOG.md
  apps/ledger-live-mobile/CHANGELOG.md
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectAccount.tsx
  apps/web-tools/CHANGELOG.md
  apps/web-tools/package.json
  libs/coin-modules/coin-polkadot/CHANGELOG.md
  libs/coin-modules/coin-polkadot/package.json
  libs/coin-modules/coin-polkadot/src/network/index.ts
  libs/ledger-live-common/CHANGELOG.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/polkadot/setup.ts
  libs/ledgerjs/packages/hw-app-polkadot/CHANGELOG.md
  libs/ledgerjs/packages/hw-app-polkadot/package.json
  libs/test-utils/CHANGELOG.md
  libs/test-utils/package.json
  pnpm-lock.yaml
  tests/dummy-wallet-app/CHANGELOG.md
  tests/dummy-wallet-app/package.json
Labels: desktop, mobile, common, ledgerjs, cli

#7065 [Feat/LIVE-12789]: add custom.swap.setQuote for amountTo
  .changeset/mean-badgers-buy.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/hooks/useSwapLiveAppQuoteState.ts
Labels: desktop

#7210 [Chore(release)]: conflict resolution between release and main
  libs/ledger-live-common/CHANGELOG.md
Labels: common

#7195 [QAA-123][Detox] Improve Allure reporting environment
  apps/ledger-live-mobile/e2e/bridge/server.ts
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/jest.globalTeardown.ts
  apps/ledger-live-mobile/e2e/setup.ts
  apps/ledger-live-mobile/e2e/specs/getAllureEnvironment.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboarding.spec.ts
Labels: mobile

#7217 Bugfix/update snapshot cosmos litecoin
  .changeset/tough-lemons-rescue.md
  libs/ledger-live-common/src/families/bitcoin/__snapshots__/bridge.integration.test.ts.snap
Labels: common

#7208 :bug:fix(llm): ios splashcreen wasn't displayed
  .changeset/cold-carrots-rush.md
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.mm
Labels: mobile

#7141 ⛓️feat(llm): add WS activation drawer from onboarding
  .changeset/tame-rings-hide.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationDrawer.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/accessExistingWallet.tsx
Labels: mobile

#7216 [Tron] Fee info URL
  .changeset/unlucky-nails-learn.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/families/tron/operationDetails.tsx
  apps/ledger-live-mobile/src/families/tron/operationDetails.tsx
  apps/ledger-live-mobile/src/utils/urls.tsx
Labels: desktop, mobile

#7202 feat: transform NotEnoughBalance to NotEnoughBalanceSwap for differen…
  .changeset/wise-actors-poke.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/utils/index.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/utils.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: desktop, mobile, common, ledgerjs, translations

#6966 refactor(lld): nft detail drawer in newArch
  .changeset/six-mangos-dress.md
  apps/ledger-live-desktop/src/newArch/Collectibles/Nfts/.gitkeep
  apps/ledger-live-desktop/src/newArch/Collectibles/Nfts/Gallery/DetailDrawer/Actions.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/Nfts/Gallery/DetailDrawer/index.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/CollectionName.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/DetailDrawer/.gitkeep
  apps/ledger-live-desktop/src/newArch/Collectibles/components/DetailDrawer/components/CollectionName.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/DetailDrawer/components/CopyableField.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/DetailDrawer/components/DetailField.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/DetailDrawer/components/ExternalViewerButton.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/DetailDrawer/components/MediaContainer.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/DetailDrawer/components/PanAndZoom.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/DetailDrawer/components/Tag.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/DetailDrawer/components/Title.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/DetailDrawer/components/index.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/DetailDrawer/index.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Media/Fallback.png
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Media/Image.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Media/Placeholder.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Media/Video.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Media/index.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/index.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/hooks/useCollectibles.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/hooks/useMedia.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/hooks/useNftDetailDrawer.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/hooks/useNftLinks.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/types/Chains.ts
  apps/ledger-live-desktop/src/newArch/Collectibles/types/Collectibles.ts
  apps/ledger-live-desktop/src/newArch/Collectibles/types/DetailDrawer.ts
  apps/ledger-live-desktop/src/newArch/Collectibles/types/Links.ts
  apps/ledger-live-desktop/src/newArch/Collectibles/types/Media.ts
  apps/ledger-live-desktop/src/newArch/Collectibles/types/Nfts.ts
  apps/ledger-live-desktop/src/newArch/Collectibles/utils/.gitkeep
  apps/ledger-live-desktop/src/newArch/Collectibles/utils/createCollectibleObject.ts
  apps/ledger-live-desktop/src/newArch/Collectibles/utils/createNftDetailsArrays.ts
  apps/ledger-live-desktop/src/newArch/Collectibles/utils/useSafeList.ts
  libs/live-nft-react/src/hooks/__tests__/useNftFloorPrice.test.tsx
  libs/live-nft-react/src/hooks/types.ts
  libs/live-nft-react/src/hooks/useNftFloorPrice.ts
  libs/live-nft-react/src/index.ts
  libs/live-nft-react/src/queryKeys.ts
Labels: desktop

#7215 :bug:fix(RN-UI): animated input didn't watch if there was a value entered
  .changeset/spicy-waves-wave.md
  libs/ui/packages/native/src/components/Form/Input/AnimatedInput/AnimatedNotchedLabel.tsx
  libs/ui/packages/native/src/components/Form/Input/AnimatedInput/index.tsx
Labels: ui

#7228 Update readme for Speculos x Playwright
  apps/ledger-live-desktop/tests/specs/speculos/README.md
Labels: desktop

#7224 LLM - Growth Landing Pages
  .changeset/metal-buses-judge.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/LandingPagesNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/LandingPagesNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsLocation.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/dynamicContent/utils.tsx
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/GenericLandingPage/index.tsx
Labels: mobile
