Repository LedgerHQ/ledger-live, pull requests merged in 2024-05, with the labels that each got.

#6794 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#6798 chore: add all missing fiats (and apply fixes from currency changes)
  .changeset/beige-starfishes-guess.md
  libs/ledgerjs/packages/cryptoassets/src/fiats.ts
Labels: ledgerjs

#6795 fix(LIVE-12432): swap demo 1 feature flag not working cards not displayed
  .changeset/real-bulldogs-yell.md
  apps/ledger-live-desktop/src/renderer/hooks/swap-migrations/useSwapLiveAppHook.tsx
Labels: desktop

#6775 [LIVE-11184][Europa] Firmware update support
  .changeset/fair-spiders-admire.md
  .changeset/heavy-panthers-hammer.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/helpers/createFirmwareUpdateSteps.ts
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/01-step-prepare.tsx
  libs/device-core/src/commands/use-cases/isBootloaderVersionSupported.test.ts
  libs/device-core/src/commands/use-cases/isBootloaderVersionSupported.ts
  libs/device-core/src/commands/use-cases/isDeviceLocalizationSupported.test.ts
  libs/device-core/src/commands/use-cases/isDeviceLocalizationSupported.ts
  libs/ledger-live-common/src/hw/firmwareUpdate-repair.ts
Labels: desktop, common

#6741 LLC - Automatically dismiss the PostOnboarding EntryPoint after seven days
  .changeset/tricky-cycles-knock.md
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-mobile/src/index.tsx
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/postOnboarding/hooks/index.ts
  libs/ledger-live-common/src/postOnboarding/hooks/useAutoDismissPostOnboardingEntryPoint.test.ts
  libs/ledger-live-common/src/postOnboarding/hooks/useAutoDismissPostOnboardingEntryPoint.ts
  libs/ledger-live-common/src/postOnboarding/reducer.test.ts
  libs/ledger-live-common/src/postOnboarding/reducer.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/postOnboarding.ts
Labels: desktop, mobile, common, ledgerjs

#6802 LLM / LLD - Post Onboarding Deeplink
  .changeset/nice-guests-wave.md
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.ts
  apps/ledger-live-mobile/src/components/RootNavigator/PostOnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/PostOnboardingNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/PostOnboarding/PostOnboardingDeeplinkHandler.tsx
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/postOnboarding/hooks/index.ts
  libs/ledger-live-common/src/postOnboarding/hooks/usePostOnboardingDeeplinkHandler.test.ts
  libs/ledger-live-common/src/postOnboarding/hooks/usePostOnboardingDeeplinkHandler.ts
Labels: desktop, mobile, common

#6771 CVS live-countervalues performance evolutions
  .changeset/beige-starfishes-guess.md
  .changeset/green-bags-hunt.md
  .changeset/swift-penguins-act.md
  apps/cli/src/commands/blockchain/botTransfer.ts
  apps/cli/src/commands/live/countervalues.ts
  apps/cli/src/commands/live/portfolio.ts
  apps/ledger-live-desktop/src/renderer/actions/general.ts
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts
  apps/ledger-live-mobile/src/actions/general.ts
  libs/coin-framework/src/currencies/support.ts
  libs/ledger-live-common/src/__tests__/csvExport.ts
  libs/ledger-live-common/src/bot/index.ts
  libs/ledger-live-common/src/config/sharedConfig.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/fiats.ts
  libs/live-countervalues-react/src/index.tsx
  libs/live-countervalues/src/api/api.ts
  libs/live-countervalues/src/api/index.ts
  libs/live-countervalues/src/logic.integration.test.ts
  libs/live-countervalues/src/logic.ts
  libs/live-countervalues/src/mock.test.ts
  libs/live-countervalues/src/portfolio.test.ts
  libs/live-countervalues/src/types.ts
Labels: desktop, mobile, common, ledgerjs, cli

#6787 [SUPPORT]: Add market widget analytics in user properties
  .changeset/tame-queens-sniff.md
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
Labels: desktop

#6809 [SUPPORT]: Add market widget analytics in user properties
  .changeset/tame-queens-sniff.md
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
Labels: desktop

#6801 bugfix(PROTECT-3040): recover webview does not reload on device disconnect
  .changeset/angry-garlics-try.md
  apps/ledger-live-desktop/src/renderer/screens/recover/Player.tsx
Labels: desktop

#6815 feat(lld/llm): change privacy urls for variant A of the opt-in
  .changeset/strong-spoons-thank.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/hooks/useCommonLogic.tsx
  apps/ledger-live-mobile/src/hooks/analyticsOptInPrompt/useAnalyticsOptInPromptLogic.ts
  apps/ledger-live-mobile/src/utils/urls.tsx
Labels: desktop, mobile

#6814 fix(wallet-api): align LLM prepareSignTransaction with LLD implementation [LIVE-12087]
  .changeset/hip-seals-design.md
  .changeset/proud-moles-reply.md
  apps/ledger-live-mobile/src/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/liveSDKLogic.test.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/liveSDKLogic.ts
  libs/ledger-live-common/src/platform/types.ts
Labels: mobile, common

#6813 fix(lld/llm): fix analytics problem
  .changeset/fifty-crews-peel.md
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/reducers/settings.ts
Labels: desktop, mobile

#6817 fix(llm/ldd): fix analytics problem for develop
  .changeset/breezy-coins-talk.md
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/reducers/settings.ts
Labels: desktop, mobile

#6816 [Coin Fmk] Currencies export cleaning
  .changeset/wild-geese-tap.md
  libs/coin-framework/package.json
  libs/coin-framework/src/account.test.ts
  libs/coin-framework/src/account/accountId.ts
  libs/coin-framework/src/account/accountId.unit.test.ts
  libs/coin-framework/src/account/helpers.test.ts
  libs/coin-framework/src/account/support.ts
  libs/coin-framework/src/bridge/jsHelpers.test.ts
  libs/coin-framework/src/currencies/chopCurrencyUnitDecimals.ts
  libs/coin-framework/src/currencies/formatCurrencyUnit.ts
  libs/coin-framework/src/currencies/index.ts
  libs/coin-framework/src/currencies/support.ts
  libs/coin-framework/src/derivation.test.ts
  libs/coin-framework/src/derivation.ts
  libs/coin-framework/src/mocks/account.ts
  libs/coin-framework/src/mocks/fixtures/nfts.test.ts
  libs/coin-framework/src/operation.test.ts
  libs/coin-framework/src/test-helpers/bridge-integration-suite.ts
  libs/coin-modules/coin-algorand/src/deviceTransactionConfig.ts
  libs/coin-modules/coin-algorand/src/js-synchronization.ts
  libs/coin-modules/coin-algorand/src/specs.ts
  libs/coin-modules/coin-algorand/src/speculos-deviceActions.ts
  libs/coin-modules/coin-bitcoin/src/descriptor.test.ts
  libs/coin-modules/coin-bitcoin/src/specs.ts
  libs/coin-modules/coin-bitcoin/src/wallet-btc/__tests__/logic.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/operation.test.ts
  libs/coin-modules/coin-evm/src/nftResolvers.ts
  libs/coin-modules/coin-evm/src/specs.ts
  libs/coin-modules/coin-near/package.json
  libs/coin-modules/coin-near/src/js-getTransactionStatus.ts
  libs/coin-modules/coin-near/src/specs.ts
  libs/coin-modules/coin-polkadot/package.json
  libs/coin-modules/coin-polkadot/src/bridge/deviceTransactionConfig.ts
  libs/coin-modules/coin-polkadot/src/test/bot-specs.ts
  libs/coin-modules/coin-polkadot/src/test/cli.ts
  libs/coin-modules/coin-solana/src/transaction.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/__tests__/currencies.ts
  libs/ledger-live-common/src/currencies/formatShort.ts
  libs/ledger-live-common/src/currencies/index.ts
  libs/ledger-live-common/src/currencies/support.ts
  libs/ledger-live-common/src/currencies/valueFromUnit.ts
  libs/ledger-live-common/src/wallet-api/useDappLogic.ts
  libs/live-wallet/src/liveqr/cross.test.ts
  pnpm-lock.yaml
Labels: common

#6820 Add logviewer features
  apps/web-tools/pages/logsviewer.tsx
Labels: fork

#6824 fix(LIVE-10131): swap tron swapping issue with other pairs than eth and edge cases to investigate part 2
  .changeset/plenty-islands-tell.md
  libs/ledger-live-common/src/exchange/swap/hooks/useUpdateMaxAmount.ts
Labels: common

#6784 refactor(lld): nfts gallery medias in newArch
  .changeset/weak-avocados-serve.md
  apps/ledger-live-desktop/.unimportedrc.json
  apps/ledger-live-desktop/src/newArch/Collectibles/Nfts/.gitkeep
  apps/ledger-live-desktop/src/newArch/Collectibles/components/CollectionName.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/DetailDrawer/.gitkeep
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Media/Image.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Media/Placeholder.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Media/Video.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Media/index.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Skeleton.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/index.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/hooks/useMedia.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/types/Media.ts
  apps/ledger-live-desktop/src/newArch/Collectibles/utils/.gitkeep
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs

#6719 feat: Save locally added manifest into the storage on both Mobile and Desktop client
  .changeset/hot-zebras-ring.md
  apps/ledger-live-desktop/src/renderer/components/PlatformAppProviderWrapper.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/component/ProviderItem.tsx
  apps/ledger-live-desktop/src/renderer/modals/CreateLocalManifest/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/earn/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/LiveApp.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Card/Minimum.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/LocalLiveAppSection.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/hooks.ts
  apps/ledger-live-desktop/src/renderer/screens/recover/Player.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/RunLocalAppButton.tsx
  apps/ledger-live-desktop/src/renderer/screens/swapWeb/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/PlatformAppProviderWrapper.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/EvmStakingDrawerProvider.tsx
  apps/ledger-live-mobile/src/families/tron/Votes/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/PTX/BuyAndSell/index.tsx
  apps/ledger-live-mobile/src/screens/PTX/Earn/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/Catalog/AppCard.tsx
  apps/ledger-live-mobile/src/screens/Platform/LiveApp.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/LocalLiveApp.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/hooks.ts
  apps/ledger-live-mobile/src/screens/Protect/Player.tsx
  apps/ledger-live-mobile/src/screens/Settings/Developer/CustomManifest.tsx
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/platform/hooks/useManifest.test.ts
  libs/ledger-live-common/src/platform/hooks/useManifest.ts
  libs/ledger-live-common/src/platform/providers/LocalLiveAppProvider/index.tsx
  libs/ledger-live-common/src/platform/providers/LocalLiveAppProvider/types.ts
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/types.ts
  libs/ledger-live-common/src/wallet-api/LocalLiveAppProvider/index.tsx
  libs/ledger-live-common/src/wallet-api/LocalLiveAppProvider/types.ts
  libs/ledger-live-common/src/wallet-api/constants.ts
  libs/ledger-live-common/src/wallet-api/react.ts
  libs/ledger-live-common/src/wallet-api/types.ts
Labels: desktop, mobile, common, translations

#6835 chore: explicit the icon for the currency stacks to just be stacks
  libs/ui/packages/crypto-icons/src/svg/currency_stacks.svg
Labels: ui

#6834 chore: provide translations for ExchangeDeveloperMode settings
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/ExchangeDeveloperMode.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#6818 [Coin Fmk] Account export cleaning
  .changeset/kind-dryers-build.md
  apps/cli/src/scan.ts
  apps/cli/src/transaction.ts
  libs/coin-framework/src/account.test.ts
  libs/coin-framework/src/account/accountId.ts
  libs/coin-framework/src/account/balanceHistoryCache.test.ts
  libs/coin-framework/src/account/groupOperations.ts
  libs/coin-framework/src/account/helpers.test.ts
  libs/coin-framework/src/account/helpers.ts
  libs/coin-framework/src/account/index.ts
  libs/coin-framework/src/account/pending.test.ts
  libs/coin-framework/src/bridge/jsHelpers.ts
  libs/coin-framework/src/mocks/account.ts
  libs/coin-modules/coin-bitcoin/src/hw-signMessage.test.ts
  libs/coin-modules/coin-polkadot/src/types/bridge.fixture.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/account/helpers.test.ts
  libs/ledger-live-common/src/account/helpers.ts
  libs/ledger-live-common/src/account/index.ts
  libs/ledger-live-common/src/account/serialization.ts
  libs/ledger-live-common/src/account/support.ts
  libs/ledger-live-common/src/exchange/swap/getUpdateAccountWithUpdaterParams.ts
  libs/ledger-live-common/src/families/cardano/buildSubAccounts.ts
  libs/ledger-live-common/src/families/casper/bridge/account.ts
  libs/ledger-live-common/src/families/casper/bridge/mock.ts
  libs/ledger-live-common/src/families/elrond/js-buildSubAccounts.ts
  libs/ledger-live-common/src/families/elrond/synchronisation.integration.test.ts
  libs/ledger-live-common/src/families/stellar/tokens.ts
  libs/ledger-live-common/src/families/tezos/bridge/mock.ts
  libs/ledger-live-common/src/families/tron/bridge/js.ts
  libs/ledger-live-common/src/families/vechain/js-synchronisation.ts
Labels: common, cli

#6799 Feat/LIVE-12193 track swap cancel accept
  .changeset/swift-pigs-kneel.md
  apps/ledger-live-desktop/src/renderer/actions/UI.ts
  apps/ledger-live-desktop/src/renderer/components/LiveAppDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/CustomHandlers.ts
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/StartExchange/index.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/PlatformExchangeNavigator.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  apps/ledger-live-mobile/src/components/WebPTXPlayer/CustomHandlers.ts
  libs/exchange-module/src/index.ts
  libs/exchange-module/src/types.ts
  libs/ledger-live-common/src/exchange/platform/startExchange.ts
  libs/ledger-live-common/src/exchange/platform/types.ts
  libs/ledger-live-common/src/hw/actions/startExchange.ts
  libs/ledger-live-common/src/wallet-api/Exchange/server.ts
Labels: desktop, mobile, common

#6846 fix(lld):live-8997
  .changeset/smart-deers-travel.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-check-success-linux.png
Labels: desktop, translations, screenshots

#6843 fix manifest loading breaking if no cache
  .changeset/eight-cameras-tease.md
  apps/ledger-live-desktop/src/renderer/components/PlatformAppProviderWrapper.tsx
  apps/ledger-live-mobile/src/PlatformAppProviderWrapper.tsx
  libs/ledger-live-common/src/wallet-api/react.ts
Labels: desktop, mobile, common

#6666 [B2CQA-2267] Detox iOS WebView testing
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/e2e/models/discover/getDevicePage.ts
  apps/ledger-live-mobile/e2e/specs/market.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboardingReadOnly.spec.ts
  apps/ledger-live-mobile/package.json
  package.json
  patches/detox@20.20.2.patch
  pnpm-lock.yaml
Labels: mobile

#6811 chore: fix Firebase integration of CVS v3 rework
  apps/ledger-live-desktop/src/renderer/actions/general.ts
  apps/ledger-live-mobile/src/actions/general.ts
  libs/ledger-live-common/src/config/sharedConfig.ts
Labels: desktop, mobile, common

#6847 chore: remove DEBUG_TICK dead code
  apps/ledger-live-desktop/src/renderer/reducers/accounts.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
Labels: desktop

#6855 fix(llm): improve layout on Designed for Stax NFT drawer
  .changeset/loud-jokes-rest.md
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#6858 fix(lld): remove unnecessary information when the balance has not cha…
  .changeset/late-vans-lick.md
  apps/ledger-live-desktop/src/renderer/components/BalanceInfos/index.tsx
Labels: desktop

#6851 [SUPPORT]: Fix generate Accounts+NFTs
  .changeset/blue-vans-try.md
  apps/ledger-live-mobile/src/screens/Settings/Debug/Generators/GenerateMockAccountsNFTs.tsx
  libs/coin-framework/src/mocks/fixtures/nfts.test.ts
  libs/coin-framework/src/mocks/fixtures/nfts.ts
  libs/live-nft-react/src/hooks/__tests__/useNftGalleryFilter.test.tsx
Labels: mobile

#6735 Fix: LIVE-12068 [cosmos]Adapt LL code to avoid using deprecated endpoints
  .changeset/neat-ads-brake.md
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.ts
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.unit.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/cosmos.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/helpers.ts
  libs/ledger-live-common/src/families/cosmos/helpers.unit.test.ts
  libs/ledger-live-common/src/families/cosmos/js-signOperation.ts
  libs/ledger-live-common/src/families/cosmos/js-synchronisation.ts
  libs/ledger-live-common/src/families/cosmos/js-synchronisation.unit.test.ts
Labels: common

#6865 fix(LIVE-1257): if user has a password to bypass onboarding check
  .changeset/four-dolls-report.md
  apps/ledger-live-desktop/src/renderer/hooks/useRecoverRestoreOnboarding.ts
Labels: desktop

#6831 feat(LIVE-9328): swap live app quotes native UI migration
  .changeset/itchy-cows-march.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Migrations/SwapMigrationUI.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
Labels: desktop

#6863 Fix LIVE-12571
  .changeset/four-dolls-report.md
  apps/ledger-live-desktop/src/renderer/hooks/useRecoverRestoreOnboarding.ts
Labels: desktop

#6849 [B2CQA][Detox] Reduce NTFGallery et WebView testing flakiness
  apps/ledger-live-mobile/e2e/models/discover/getDevicePage.ts
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftList.tsx
Labels: mobile

#6860 fix(lld): auto scroll when mounted on accounts page
  .changeset/nice-trains-dream.md
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountRowItem/index.tsx
Labels: desktop

#6788 Feat/dsdk 280: create context-module package for clear signing
  libs/ledgerjs/packages/context-module/jest.config.ts
  libs/ledgerjs/packages/context-module/package.json
  libs/ledgerjs/packages/context-module/src/ContextModule.ts
  libs/ledgerjs/packages/context-module/src/DefaultContextModule.test.ts
  libs/ledgerjs/packages/context-module/src/DefaultContextModule.ts
  libs/ledgerjs/packages/context-module/src/README.md
  libs/ledgerjs/packages/context-module/src/index.ts
  libs/ledgerjs/packages/context-module/src/shared/domain/ContextLoader.ts
  libs/ledgerjs/packages/context-module/src/shared/model/ContextResponse.ts
  libs/ledgerjs/packages/context-module/src/shared/model/LoaderOptions.ts
  libs/ledgerjs/packages/context-module/src/shared/model/Transaction.ts
  libs/ledgerjs/packages/context-module/tsconfig.json
  pnpm-lock.yaml
Labels: ledgerjs

#6789 Feat/dsdk 285 create context module nft loaders
  libs/ledgerjs/packages/context-module/src/forward-domain/data/ForwardDomainDataSource.ts
  libs/ledgerjs/packages/context-module/src/forward-domain/data/HttpForwardDomainDataSource.ts
  libs/ledgerjs/packages/context-module/src/forward-domain/domain/ForwardDomainContextLoader.test.ts
  libs/ledgerjs/packages/context-module/src/forward-domain/domain/ForwardDomainContextLoader.ts
  libs/ledgerjs/packages/context-module/src/nft/data/HttpNftDataSource.ts
  libs/ledgerjs/packages/context-module/src/nft/data/NftDataSource.ts
  libs/ledgerjs/packages/context-module/src/nft/domain/NftContextLoader.test.ts
  libs/ledgerjs/packages/context-module/src/nft/domain/NftContextLoader.ts
Labels: ledgerjs

#6848 fix: prevent app to crash during the unlock phase
  .changeset/thin-seals-tie.md
  apps/ledger-live-desktop/src/renderer/actions/accounts.ts
  apps/ledger-live-desktop/src/renderer/components/IsUnlocked.tsx
Labels: desktop

#6871 fix(lld): fix analytics useEffect in default
  .changeset/itchy-dryers-trade.md
  apps/ledger-live-desktop/src/renderer/Default.tsx
Labels: desktop

#6875 fix(lld): fix analytics useEffect in default
  .changeset/mighty-teachers-brake.md
  apps/ledger-live-desktop/src/renderer/Default.tsx
Labels: desktop

#6870 fix: btc signMessage [LIVE-12360]
  .changeset/many-pigs-marry.md
  libs/ledger-live-common/src/families/bitcoin/setup.ts
Labels: common

#6832 fix(llm): cosmos error message for stake
  .changeset/four-insects-notice.md
  apps/ledger-live-mobile/src/families/cosmos/shared/02-SelectAmount.tsx
Labels: mobile

#6790 Feat/dsdk 284 create CAL service loaders
  libs/ledgerjs/packages/context-module/src/external-plugin/__tests__/abi.json
  libs/ledgerjs/packages/context-module/src/external-plugin/__tests__/contract.sol
  libs/ledgerjs/packages/context-module/src/external-plugin/data/DappDTO.ts
  libs/ledgerjs/packages/context-module/src/external-plugin/data/ExternalPluginDataSource.ts
  libs/ledgerjs/packages/context-module/src/external-plugin/data/HttpExternalPluginDataSource.test.ts
  libs/ledgerjs/packages/context-module/src/external-plugin/data/HttpExternalPluginDataSource.ts
  libs/ledgerjs/packages/context-module/src/external-plugin/domain/ExternalPluginContextLoader.test.ts
  libs/ledgerjs/packages/context-module/src/external-plugin/domain/ExternalPluginContextLoader.ts
  libs/ledgerjs/packages/context-module/src/external-plugin/model/DappInfos.ts
  libs/ledgerjs/packages/context-module/src/external-plugin/model/SelectorDetails.ts
  libs/ledgerjs/packages/context-module/src/token/data/HttpTokenDataSource.ts
  libs/ledgerjs/packages/context-module/src/token/data/TokenDataSource.ts
  libs/ledgerjs/packages/context-module/src/token/domain/TokenContextLoader.test.ts
  libs/ledgerjs/packages/context-module/src/token/domain/TokenContextLoader.ts
Labels: ledgerjs

#6782 [LLD] - [LIVE-12264] - Add Wallet Sync activation screen
  .changeset/swift-peaches-occur.md
  apps/ledger-live-desktop/.unimportedrc.json
  apps/ledger-live-desktop/src/renderer/components/SideDrawer.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.react.test.tsx
  apps/ledger-live-desktop/src/renderer/reducers/index.ts
  apps/ledger-live-desktop/src/renderer/reducers/walletSync.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync/SideContent/Activation.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync/SideContent/Manage.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync/__tests__/walletSync.test.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync/setupTests/shared.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/jestSetup.ts
  apps/ledger-live-desktop/tests/testUtils.tsx
  apps/ledger-live-desktop/tsconfig.json
Labels: desktop, translations

#6856 fix(common/listApps): custom lock screen size for all compatible models
  .changeset/eleven-houses-hunt.md
  libs/ledger-live-common/src/apps/listApps/v1.ts
  libs/ledger-live-common/src/apps/listApps/v2.test.ts
  libs/ledger-live-common/src/apps/listApps/v2.ts
Labels: common

#6867 [LLM] -[LIVE-10591] - Fix swap main header translation value in Turkish
  .changeset/moody-hotels-arrive.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Account/hooks/useAccountActions.tsx
Labels: mobile, translations

#6888 chore(ci) [LIVE-12438]: Remove recover input
  .github/workflows/release-prerelease.yml
Labels: automation

#6853 feat(LIVE-9638): change provider info from static object to API call
  .changeset/cool-pots-film.md
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  libs/ledger-live-common/src/exchange/platform/startExchange.ts
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/__tests__/fetchCurrencyAll.spec.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/__tests__/fetchCurrencyFrom.spec.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/__tests__/fetchCurrencyTo.spec.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyAll.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyFrom.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyTo.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchRates.ts
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
  libs/ledger-live-common/src/exchange/swap/getProviders.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchCurrencyAll.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchCurrencyFrom.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchCurrencyTo.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchRates.ts
  libs/ledger-live-common/src/exchange/swap/index.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.ts
Labels: mobile, common

#6825 feat(live-12226): refactor WalletApi integration
  .changeset/kind-bikes-pretend.md
  apps/ledger-live-desktop/src/renderer/hooks/swap-migrations/useSwapLiveAppHook.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
Labels: desktop

#6887 fix elrond coin config name
  .changeset/shiny-baboons-jog.md
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  libs/ledger-live-common/src/families/elrond/config.ts
Labels: mobile, common

#6893 chore: remove unused usage of @ledgerhq/react-native-passcode-auth
  apps/ledger-live-mobile/.unimportedrc.json
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Labels: mobile

#6899 Fix wallet sync integration test
  .changeset/old-carrots-complain.md
  apps/ledger-live-desktop/jest.config.js
  apps/ledger-live-desktop/src/renderer/components/ButtonV3.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync/__tests__/walletSync.test.tsx
  libs/ui/packages/react/src/components/cta/Button/index.tsx
Labels: desktop, ui

#6900 bugfix: check amountFrom is the same on partner payload
  .changeset/orange-windows-kneel.md
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
Labels: common

#6895 Feat/live 9638
  libs/ledger-live-common/src/exchange/providers/swap.ts
Labels: common

#6902 [Coin Polkadot] setup coin config
  .changeset/metal-rings-dress.md
  libs/coin-framework/src/config.ts
  libs/coin-framework/src/errors.ts
  libs/coin-modules/coin-polkadot/src/bridge/index.ts
  libs/coin-modules/coin-polkadot/src/config.ts
  libs/coin-modules/coin-polkadot/src/network/sidecar.mock.ts
  libs/coin-modules/coin-polkadot/src/network/sidecar.ts
  libs/coin-modules/coin-polkadot/src/network/sidecar.unit.test.ts
  libs/env/src/env.ts
  libs/ledger-live-common/src/families/polkadot/setup.ts
Labels: common

#6680 Support/b2CQA playwright x speculos V1
  .changeset/rude-cherries-teach.md
  .github/workflows/test-ui-e2e-only-desktop.yml
  apps/ledger-live-desktop/.gitignore
  apps/ledger-live-desktop/.unimportedrc.json
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/internal/live-common-setup.ts
  apps/ledger-live-desktop/src/renderer/components/ReadOnlyAddressField.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepSummary.tsx
  apps/ledger-live-desktop/src/renderer/reducers/devices.ts
  apps/ledger-live-desktop/src/renderer/screens/account/AccountActionsDefault.tsx
  apps/ledger-live-desktop/tests/README.md
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/Currency.ts
  apps/ledger-live-desktop/tests/enum/DeviceLabels.ts
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/fixtures/mockFixtures.ts
  apps/ledger-live-desktop/tests/models/AccountPage.ts
  apps/ledger-live-desktop/tests/models/AccountsPage.ts
  apps/ledger-live-desktop/tests/models/AddAccountModal.ts
  apps/ledger-live-desktop/tests/models/CustomImageDrawer.ts
  apps/ledger-live-desktop/tests/models/LiveAppWebview.ts
  apps/ledger-live-desktop/tests/models/Modal.ts
  apps/ledger-live-desktop/tests/models/PortfolioPage.ts
  apps/ledger-live-desktop/tests/models/ReceiveModal.ts
  apps/ledger-live-desktop/tests/models/SendModal.ts
  apps/ledger-live-desktop/tests/models/Transaction.ts
  apps/ledger-live-desktop/tests/playwright.config.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts
  apps/ledger-live-desktop/tests/specs/accounts/delegate.smoke.spec.ts
  apps/ledger-live-desktop/tests/specs/accounts/subAccounts.spec.ts
  apps/ledger-live-desktop/tests/specs/accounts/unknown-currency-resilience.spec.ts
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts
  apps/ledger-live-desktop/tests/specs/recover/recover.spec.ts
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts
  apps/ledger-live-desktop/tests/specs/services/dapp.spec.ts
  apps/ledger-live-desktop/tests/specs/services/earn.spec.ts
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/README.md
  apps/ledger-live-desktop/tests/specs/speculos/addAccountSpeculos.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/deleteAccountSpeculos.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/receiveSpeculos.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/sendApproveSpeculos.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/tokenSpeculos.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos.json
  apps/ledger-live-desktop/tests/utils/speculos.ts
  apps/ledger-live-desktop/tests/utils/waitFor.ts
  libs/env/src/env.ts
  libs/ledger-live-common/src/load/speculos.ts
  pnpm-lock.yaml
Labels: desktop, common, automation

#6906 fix(live-12226): undefined swapState in swap-live-app
  .changeset/metal-kings-glow.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#6903 Feat/dsdk 297 context module headers
  .changeset/cyan-scissors-wait.md
  libs/ledgerjs/packages/context-module/src/external-plugin/data/DAppDto.ts
  libs/ledgerjs/packages/context-module/src/external-plugin/data/HttpExternalPluginDataSource.test.ts
  libs/ledgerjs/packages/context-module/src/external-plugin/data/HttpExternalPluginDataSource.ts
  libs/ledgerjs/packages/context-module/src/forward-domain/data/HttpForwardDomainDataSource.test.ts
  libs/ledgerjs/packages/context-module/src/forward-domain/data/HttpForwardDomainDataSource.ts
  libs/ledgerjs/packages/context-module/src/nft/data/HttpNftDataSource.test.ts
  libs/ledgerjs/packages/context-module/src/nft/data/HttpNftDataSource.ts
  libs/ledgerjs/packages/context-module/src/token/data/HttpTokenDataSource.test.ts
  libs/ledgerjs/packages/context-module/src/token/data/HttpTokenDataSource.ts
  libs/ledgerjs/packages/context-module/src/token/data/TokenDto.ts
Labels: ledgerjs

#6897 feat: show swap-live-app devtools based on flag
  .changeset/fast-squids-eat.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#6914 fix: pass correct target and source currency ids to swap live app
  .changeset/brave-waves-smile.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
Labels: desktop

#6922 fix: hides title for Buy screen
  .changeset/blue-donkeys-yawn.md
  apps/ledger-live-mobile/src/components/RootNavigator/ExchangeLiveAppNavigator.tsx
Labels: mobile

#6926 added workflow event condition to post slack notification on schedule
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation

#6915 bugfix: LIVE-12665 desactivate tezos unrevealed account swap
  .changeset/eight-coins-listen.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/index.ts
  libs/ledger-live-common/src/exchange/swap/maybeTezosAccountUnrevealedAccount.ts
Labels: desktop, mobile, common, translations

#6930 fix(context-module): fix multiple builds error and add lib-es
  .changeset/smooth-queens-relax.md
  libs/ledgerjs/packages/context-module/package.json
  libs/ledgerjs/packages/context-module/src/tsconfig.json
  libs/ledgerjs/packages/context-module/tsconfig.json
Labels: ledgerjs

#6909 🐛 : [FIX] LDD Sentry Type Error in Market
  .changeset/beige-nails-pull.md
  libs/ledger-live-common/src/market/v2/timers.ts
  libs/ledger-live-common/src/market/v2/useMarketDataProvider.ts
Labels: common

#6933 🐛 : [BUGFIX] Fix trad of Update firmware banner when updating selected language
  .changeset/curvy-yaks-study.md
  apps/ledger-live-desktop/src/renderer/components/FirmwareUpdateBanner.tsx
Labels: desktop

#6925 📈 : [SUPPORT] Update Market Widget Button clicks analytics
  .changeset/brave-spiders-tickle.md
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/components/Footer.tsx
Labels: desktop

#6883 feat(LIVE-12276): add swap user IP
  .changeset/popular-keys-double.md
  libs/env/src/env.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyAll.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyFrom.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyTo.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchRates.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
  libs/ledger-live-common/src/exchange/swap/getStatus.ts
  libs/ledger-live-common/src/exchange/swap/index.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
  libs/ledger-live-common/src/exchange/swap/postSwapState.ts
Labels: common

#6921 Fix/live 12705/show swap btn
  .changeset/nine-jeans-tickle.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#6776 support: add LL token icon
  libs/ui/packages/crypto-icons/src/svg/LL.svg
Labels: ui, fork

#6939 ci: Updating nightly for e2e test (speculos)
  .changeset/strange-monkeys-return.md
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation

#6936 fix(wallet-api): xrp family not present [LIVE-12651]
  .changeset/clever-gorillas-fix.md
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-darwin.json
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-linux.json
  libs/ledger-live-common/src/platform/types.ts
  libs/ledger-live-common/src/wallet-api/constants.ts
Labels: desktop, common

#6932 🐛 : [BUGFIX] Layout issue with new Gainers/Losers trend widget if LLD is in French or German
  .changeset/empty-elephants-end.md
  apps/ledger-live-desktop/src/renderer/components/BalanceInfos/index.tsx
  apps/ledger-live-desktop/src/renderer/components/PillsDaysSelect.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/components/Header.tsx
Labels: desktop

#6866 [LLD] - [LIVE-12214] - Add Wallet Sync Manage screen
  .changeset/small-worms-flash.md
  apps/ledger-live-desktop/.unimportedrc.json
  apps/ledger-live-desktop/src/newArch/WalletSync/SideContent/Activation/index.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/SideContent/Manage/Option.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/SideContent/Manage/index.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/walletSync.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/hooks/.gitkeep
  apps/ledger-live-desktop/src/newArch/WalletSync/screens/components/.gitkeep
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync/SideContent/Manage.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync/setupTests/shared.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#6792 Feat/dsdk 276 create keyring-eth module
  libs/ledgerjs/packages/hw-app-eth/README.md
  libs/ledgerjs/packages/hw-app-eth/src/Eth.ts
  libs/ledgerjs/packages/keyring-eth/jest.config.ts
  libs/ledgerjs/packages/keyring-eth/package.json
  libs/ledgerjs/packages/keyring-eth/src/DefaultKeyringEth.test.ts
  libs/ledgerjs/packages/keyring-eth/src/DefaultKeyringEth.ts
  libs/ledgerjs/packages/keyring-eth/src/Keyring.ts
  libs/ledgerjs/packages/keyring-eth/src/KeyringEth.ts
  libs/ledgerjs/packages/keyring-eth/src/index.ts
  libs/ledgerjs/packages/keyring-eth/tsconfig.json
  pnpm-lock.yaml
Labels: ledgerjs

#6942 ci: fix of e2e workflow
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation

#6912 [LIVE-12648] Crash because of invalid DeviceModelId
  .changeset/perfect-ladybugs-clap.md
  .changeset/sour-crabs-sleep.md
  .changeset/stale-lions-provide.md
  apps/cli/src/live-common-setup.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.test.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-mobile/e2e/models/DeviceAction.ts
  apps/ledger-live-mobile/src/components/SelectDevice2/DeviceList.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/reducers/settings.test.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/screens/Onboarding/steps/language.tsx
  libs/ledger-live-common/src/hw/index.ts
Labels: desktop, mobile, common, cli

#6948 🐛 [BUGFIX] : Colors of icons in Widget
  .changeset/old-dancers-sin.md
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/components/Header.tsx
Labels: desktop

#6934 feat(hw-app-trx): support #signTIP712HashedMessage() for Tron
  .changeset/silly-dolphins-ring.md
  libs/ledgerjs/packages/hw-app-trx/README.md
  libs/ledgerjs/packages/hw-app-trx/src/TIP712/index.ts
  libs/ledgerjs/packages/hw-app-trx/src/Trx.ts
  libs/ledgerjs/packages/hw-app-trx/src/utils.ts
  libs/ledgerjs/packages/hw-app-trx/tests/Trx.test.ts
Labels: ledgerjs, fork

#6937 fix: remove network fees line when demo1 ff is enable
  .changeset/young-cherries-press.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/index.tsx
Labels: desktop

#6931 [LIVE-12730][tron] Remove unused invariant check
  .changeset/tiny-rules-enjoy.md
  apps/ledger-live-mobile/src/families/tron/accountActions.tsx
Labels: mobile

#6955 Adding link to allure
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation

#6928 fix: switch chain issue [LIVE-12574]
  .changeset/twelve-mails-wonder.md
  libs/ledger-live-common/src/wallet-api/useDappLogic.ts
Labels: common

#6850 (chore): [LL] CVS v3 migration on Market
  .changeset/few-radios-eat.md
  .changeset/odd-bees-matter.md
  .changeset/shiny-fireants-chew.md
  apps/ledger-live-desktop/src/renderer/reducers/market.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/components/WidgetList.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoin/components/MarketCoinChart.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoin/components/MarketInfo.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoin/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketList/components/MarketRowItem.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketList/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/components/SortTableCell.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/hooks/useMarket.ts
  apps/ledger-live-desktop/src/renderer/screens/market/hooks/useMarketCoin.ts
  apps/ledger-live-desktop/src/renderer/screens/market/utils/index.ts
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-btc-page-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-search-bitcoin-linux.png
  apps/ledger-live-mobile/__mocks__/api/market/markets.json
  apps/ledger-live-mobile/__tests__/handlers/market.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Market/__integrations__/changeCurrency.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/components/MarketRowItem/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/hooks/useMarketCoinData.ts
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketDetail/components/MarketGraph/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketDetail/components/MarketStats/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketDetail/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketDetail/useMarketDetailViewModel.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketList/components/BottomSection/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketList/components/BottomSection/useBottomSectionViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketList/components/ListRow/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketList/components/SearchHeader/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketList/components/SortBadge/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketList/useMarketListViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Market/utils/index.ts
  apps/ledger-live-mobile/src/reducers/market.ts
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AssetMarketSection.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/MarketPrice.tsx
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/market/api/index.ts
  libs/ledger-live-common/src/market/hooks/useMarketDataProvider.ts
  libs/ledger-live-common/src/market/utils/currencyFormatter.ts
  libs/ledger-live-common/src/market/utils/index.ts
  libs/ledger-live-common/src/market/utils/rangeFormatter.ts
  libs/ledger-live-common/src/market/utils/types.ts
  libs/ui/packages/icons/src/svg/graph-asc.svg
  libs/ui/packages/icons/src/svg/graph-desc.svg
Labels: desktop, mobile, common, ui, translations, screenshots

#6959 ci: fix slack notif for speculos nightly
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation

#6960 [Fix/LIVE-12702]: Use targetAccountCurrency name if accountNameSelector returns null or undefined
  .changeset/clever-elephants-add.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
Labels: desktop

#6967 Rollback fastlane version to 2.219.0 to fix iOS build
  apps/ledger-live-mobile/Gemfile
  apps/ledger-live-mobile/Gemfile.lock
Labels: mobile

#6969 Fix Build mobile(external) to use Java 17
  .github/workflows/build-mobile-external.yml
Labels: automation

#6963 Bugfix/live 12794 restore transport race error
  .changeset/breezy-countries-protect.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/useUpdateFirmwareAndRestoreSettings.ts
  libs/ledger-live-common/src/deviceSDK/actions/getLatestAvailableFirmware.test.ts
  libs/ledger-live-common/src/deviceSDK/tasks/core.ts
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.ts
  libs/ledgerjs/packages/errors/src/index.test.ts
  libs/ledgerjs/packages/errors/src/index.ts
  libs/ledgerjs/packages/hw-transport/src/Transport.ts
Labels: desktop, mobile, common, ledgerjs, translations

#6973 test: fix of erc20
  apps/ledger-live-desktop/tests/page/portfolio.page.ts
Labels: desktop

#6924 [QAA-70][Detox] Adding TC ids to Allure reports
  .github/workflows/test-mobile-e2e.yml
  apps/ledger-live-mobile/e2e/environment.js
  apps/ledger-live-mobile/e2e/jest.config.js
  apps/ledger-live-mobile/e2e/reporters/AllureReporterCircus.js
  apps/ledger-live-mobile/e2e/specs/addAccounts/addAccount.spec.ts
  apps/ledger-live-mobile/e2e/specs/addAccounts/bitcoin.spec.ts
  apps/ledger-live-mobile/e2e/specs/deeplinks.spec.ts
  apps/ledger-live-mobile/e2e/specs/delegate/cosmos.spec.ts
  apps/ledger-live-mobile/e2e/specs/languageChange.spec.ts
  apps/ledger-live-mobile/e2e/specs/manager.spec.ts
  apps/ledger-live-mobile/e2e/specs/market.spec.ts
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboarding.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboardingReadOnly.spec.ts
  apps/ledger-live-mobile/e2e/specs/password.spec.ts
  apps/ledger-live-mobile/e2e/specs/receive/currencies.spec.ts
  apps/ledger-live-mobile/e2e/specs/receive/receiveFlow.spec.ts
  apps/ledger-live-mobile/e2e/specs/send/currencies.spec.ts
  apps/ledger-live-mobile/e2e/specs/swap/swap.spec.ts
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/tsconfig.json
  pnpm-lock.yaml
Labels: mobile, automation

#6971 feat: moonpay ff on fetch currency to
  .changeset/eleven-cameras-speak.md
  libs/ledger-live-common/src/exchange/swap/api/v5/__tests__/fetchCurrencyTo.spec.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchCurrencyTo.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchCurrencyTo.ts
Labels: common

#6907 chore: update to Electron 30
  .changeset/calm-doors-kiss.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/helpers.ts
  pnpm-lock.yaml
Labels: desktop

#6979 Bugfix/cache swap providers
  .changeset/itchy-adults-train.md
  libs/ledger-live-common/src/exchange/providers/swap.ts
Labels: common

#6881 [LLD] Dynamically set the minimum of global summary chart
  .changeset/fuzzy-snails-camp.md
  apps/ledger-live-desktop/src/renderer/screens/dashboard/GlobalSummary.tsx
  apps/ledger-live-desktop/tests/specs/general/portfolio.spec.ts-snapshots/portfolio-linux.png
Labels: desktop, screenshots, fork

#6990 [SUPPORT] Remove `types-live` doc
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/package.json
Labels: ledgerjs

#6947 Feature/dsdk 277 keyring eth implementation
  .changeset/moody-geckos-glow.md
  .changeset/thick-pans-punch.md
  libs/ledgerjs/packages/context-module/src/index.ts
  libs/ledgerjs/packages/keyring-eth/src/DefaultKeyringEth.test.ts
  libs/ledgerjs/packages/keyring-eth/src/DefaultKeyringEth.ts
  libs/ledgerjs/packages/keyring-eth/src/KeyringEth.ts
Labels: ledgerjs

#6985 Fix output for android apk on Build Mobile External workflow
  .github/workflows/build-mobile-external.yml
Labels: automation
