Repository LedgerHQ/ledger-live, pull requests merged in 2024-07, with the labels that each got.

#7233 fix(live-13163): add toAccountId to Hash Params for swap-live-app
  .changeset/lovely-boats-sniff.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#7223 [LIVE-13096][LIVE-13098][LLM][Flex] Wrong redirection and text overlaps during Send
  .changeset/plenty-weeks-double.md
  .changeset/weak-kings-flow.md
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/ValidateOnDevice.tsx
Labels: mobile, live-devices

#7083 fix: add unit tests for Icon integration
  libs/coin-modules/coin-icon/jest.config.js
  libs/coin-modules/coin-icon/package.json
  libs/coin-modules/coin-icon/src/__test__/api/index.unit.test.ts
  libs/coin-modules/coin-icon/src/__test__/unit/buildTransaction.test.ts
  libs/coin-modules/coin-icon/src/__test__/unit/getFeesForTransaction.unit.test.ts
  libs/coin-modules/coin-icon/src/__test__/unit/getTransactionStatus.unit.test.ts
  libs/coin-modules/coin-icon/src/__test__/unit/logic.unit.test.ts
  libs/coin-modules/coin-icon/src/__test__/unit/serializations.unit.test.ts
  libs/coin-modules/coin-icon/src/__test__/unit/transaction.unit.test.ts
  libs/coin-modules/coin-icon/src/api/index.ts
  libs/coin-modules/coin-icon/src/api/node.ts
  libs/coin-modules/coin-icon/src/bridge/index.ts
  libs/coin-modules/coin-icon/src/getTransactionStatus.ts
  libs/coin-modules/coin-icon/src/logic.ts
  libs/coin-modules/coin-icon/src/types/bridge.fixture.ts
  libs/coin-modules/coin-icon/src/types/index.ts
  libs/ledger-live-common/src/families/icon/setup.ts
  libs/ledger-live-common/src/families/icon/types.ts
  libs/ledger-live-common/src/generated/types.ts
Labels: common, fork

#7242 deactivating speculos tests - ETC
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/utils/speculos.ts
Labels: desktop

#7245 bugfix: LIVE-13226 polkadot send for runtime upgrade
  .changeset/lucky-lobsters-rescue.md
  libs/ledger-live-common/src/families/polkadot/config.ts
  libs/ledgerjs/packages/hw-app-polkadot/src/Polkadot.ts
Labels: common, ledgerjs

#7246 fix(live-13216): reset error and amout to value
  .changeset/wild-ducks-pretend.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
Labels: desktop

#7203 [QAA-120] Review and optimize e2e testing workflow
  .github/workflows/test-ui-e2e-only-desktop.yml
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/tests/component/layout.component.ts
  apps/ledger-live-desktop/tests/component/modal.component.ts
  apps/ledger-live-desktop/tests/component/webviewLayout.component.ts
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/page/accounts.page.ts
  apps/ledger-live-desktop/tests/page/asset.page.ts
  apps/ledger-live-desktop/tests/page/discover.page.ts
  apps/ledger-live-desktop/tests/page/drawer/custom.image.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/language.installation.drawer.ts
  apps/ledger-live-desktop/tests/page/install.page.ts
  apps/ledger-live-desktop/tests/page/lockscreen.page.ts
  apps/ledger-live-desktop/tests/page/manager.page.ts
  apps/ledger-live-desktop/tests/page/market.coin.page.ts
  apps/ledger-live-desktop/tests/page/market.page.ts
  apps/ledger-live-desktop/tests/page/modal/add.account.modal.ts
  apps/ledger-live-desktop/tests/page/modal/firmware.update.modal.ts
  apps/ledger-live-desktop/tests/page/modal/passwordlock.modal.ts
  apps/ledger-live-desktop/tests/page/modal/receive.modal.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/page/modal/terms.modal.ts
  apps/ledger-live-desktop/tests/page/onboarding.page.ts
  apps/ledger-live-desktop/tests/page/portfolio.page.ts
  apps/ledger-live-desktop/tests/page/post.onboarding.page.ts
  apps/ledger-live-desktop/tests/page/recover.restore.page.ts
  apps/ledger-live-desktop/tests/page/settings.page.ts
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/playwright.config.ts
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delete.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  pnpm-lock.yaml
Labels: desktop, mobile, automation

#7247 fix: add discreet mode option
  .changeset/good-actors-refuse.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#7250 Revert ":bug:fix(llm): ios splashcreen wasn't displayed"
  .changeset/good-actors-refuse.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: mobile

#7221 feat(LLM): web3hub [LIVE-13124]
  .changeset/heavy-ties-melt.md
  apps/ledger-live-mobile/__tests__/jest-setup.js
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/RootNavigator/MainNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/MainNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/__integrations__/mocks/manifests.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/__integrations__/web3hub.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubMain/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubTabs/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  pnpm-lock.yaml
Labels: mobile, common, ledgerjs

#7189 Stellar coin module
  .changeset/polite-clouds-arrive.md
  .changeset/real-pans-flow.md
  libs/coin-modules/coin-polkadot/src/test/cli.ts
  libs/coin-modules/coin-solana/src/deviceTransactionConfig.ts
  libs/coin-modules/coin-stellar/.eslintrc.js
  libs/coin-modules/coin-stellar/.unimportedrc.json
  libs/coin-modules/coin-stellar/CHANGELOG.md
  libs/coin-modules/coin-stellar/jest.config.js
  libs/coin-modules/coin-stellar/package.json
  libs/coin-modules/coin-stellar/src/bridge/bridge.integration.test.ts
  libs/coin-modules/coin-stellar/src/bridge/index.ts
  libs/coin-modules/coin-stellar/src/broadcast.ts
  libs/coin-modules/coin-stellar/src/buildOptimisticOperation.ts
  libs/coin-modules/coin-stellar/src/buildTransaction.ts
  libs/coin-modules/coin-stellar/src/cli.ts
  libs/coin-modules/coin-stellar/src/config.ts
  libs/coin-modules/coin-stellar/src/createTransaction.ts
  libs/coin-modules/coin-stellar/src/deviceTransactionConfig.ts
  libs/coin-modules/coin-stellar/src/errors.ts
  libs/coin-modules/coin-stellar/src/estimateMaxSpendable.ts
  libs/coin-modules/coin-stellar/src/getTransactionStatus.ts
  libs/coin-modules/coin-stellar/src/hw-getAddress.ts
  libs/coin-modules/coin-stellar/src/logic.ts
  libs/coin-modules/coin-stellar/src/network/horizon.ts
  libs/coin-modules/coin-stellar/src/network/index.ts
  libs/coin-modules/coin-stellar/src/prepareTransaction.ts
  libs/coin-modules/coin-stellar/src/signOperation.ts
  libs/coin-modules/coin-stellar/src/specs.ts
  libs/coin-modules/coin-stellar/src/speculos-deviceActions.ts
  libs/coin-modules/coin-stellar/src/synchronization.ts
  libs/coin-modules/coin-stellar/src/tokens.ts
  libs/coin-modules/coin-stellar/src/transaction.ts
  libs/coin-modules/coin-stellar/src/types/index.ts
  libs/coin-modules/coin-stellar/src/types/signer.ts
  libs/coin-modules/coin-stellar/tsconfig.json
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/scripts/sync-families-dispatch.mjs
  libs/ledger-live-common/src/errors.ts
  libs/ledger-live-common/src/families/stellar/bridge.integration.test.ts
  libs/ledger-live-common/src/families/stellar/bridge/js.ts
  libs/ledger-live-common/src/families/stellar/bridge/mock.ts
  libs/ledger-live-common/src/families/stellar/hw-getAddress.ts
  libs/ledger-live-common/src/families/stellar/logic.ts
  libs/ledger-live-common/src/families/stellar/setup.ts
  libs/ledger-live-common/src/families/stellar/signOperation.ts
  libs/ledger-live-common/src/families/stellar/types.ts
  libs/ledger-live-common/src/generated/bridge/js.ts
  libs/ledger-live-common/src/generated/cli-transaction.ts
  libs/ledger-live-common/src/generated/deviceTransactionConfig.ts
  libs/ledger-live-common/src/generated/hw-getAddress.ts
  libs/ledger-live-common/src/generated/specs.ts
  libs/ledger-live-common/src/generated/transaction.ts
  libs/ledger-live-common/src/generated/types.ts
  package.json
  pnpm-lock.yaml
Labels: common

#7253 fix(LIVE-13280): remove the setState in useEffect
  .changeset/thin-pugs-fly.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
Labels: desktop

#7258 [Bugfix] Add missing supported currency blast in LLM
  .changeset/orange-ties-rescue.md
  apps/ledger-live-mobile/src/live-common-setup.ts
Labels: mobile

#7271 fix: failing setup toolchain action
  tools/actions/composites/setup-toolchain/action.yml
Labels: tools

#7273 [QAA-131][Speculos] Fix ETC add account test
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/utils/speculos.ts
Labels: desktop

#7269 fix: swap page layout spacing
  .changeset/sour-tools-think.md
  apps/ledger-live-desktop/src/renderer/components/TabBar.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FormInputs.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Navbar/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/index.tsx
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-missing-destination-account-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-to-account-button-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/custom-fee-set-for-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/eth-to-usdt-quotes-generated-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/fixed-centralised-quotes-diplayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/fixed-decentralised-quotes-displayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/floating-centralised-quotes-displayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/floating-decentralised-quotes-displayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/from-account-dropdown-opened-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/max-spendable-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/network-fees-drawer-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/only-decentralised-quotes-displayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/open-swap-page-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/open-swap-page-with-eth-account-selected-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/standard-network-selected-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/swap-pair-reversed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/verify-swap-history-linux.png
Labels: desktop, screenshots

#7093 Feat/live 12808
  .changeset/gorgeous-taxis-bake.md
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/Confirmation.tsx
Labels: mobile

#7263 fix(live-13261): set fromAccountId to hash params
  .changeset/heavy-ducks-help.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#7266 fix: invert condition FF trc20 receive swap
  .changeset/khaki-dragons-exist.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/maybeTronEmptyAccount.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: desktop, mobile, common, ledgerjs, translations

#7227 :boom:feat(lld): Nfts collection refactor
  .changeset/brave-hornets-deliver.md
  apps/ledger-live-desktop/.unimportedrc.json
  apps/ledger-live-desktop/fileMock.js
  apps/ledger-live-desktop/jest.config.js
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/scripts/resolver.js
  apps/ledger-live-desktop/src/generic.test.ts
  apps/ledger-live-desktop/src/internal/transportHandler.test.ts
  apps/ledger-live-desktop/src/newArch/Collectibles/Nfts/Collection/index.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/Nfts/Collection/useNftCollectionModel.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/__integration__/nftsCollection.test.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/__integration__/shared.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Collection/EmptyCollection.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Collection/HeaderActions.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Collection/ShowMore.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Collection/TableHeader.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Collection/TableRow/TokenTitle.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Collection/TableRow/index.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/DetailDrawer/components/PanAndZoom.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/DetailDrawer/index.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Media/Image.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Media/Placeholder.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Media/Video.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/components/Media/index.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/types/Collection.ts
  apps/ledger-live-desktop/src/newArch/Collectibles/types/Media.ts
  apps/ledger-live-desktop/src/newArch/Collectibles/types/Nfts.ts
  apps/ledger-live-desktop/src/newArch/Collectibles/utils/collectionUtils.ts
  apps/ledger-live-desktop/src/newArch/Collectibles/utils/createCollectibleObject.ts
  apps/ledger-live-desktop/src/newArch/Collectibles/utils/typeGuardsChecker.ts
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/manageSynchronizedInstances.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/manageYourBackup.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/synchronize.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/useFlows.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/walletSync.test.tsx
  apps/ledger-live-desktop/src/newArch/components/ContextMenu/CollectibleContextMenu.tsx
  apps/ledger-live-desktop/src/newArch/components/ContextMenu/Item.tsx
  apps/ledger-live-desktop/src/newArch/components/ContextMenu/createContextMenuItems.ts
  apps/ledger-live-desktop/src/renderer/actions/swap.test.ts
  apps/ledger-live-desktop/src/renderer/families/hedera/getTransactionExplorer.unit.test.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useDateFormatter.test.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useLocalizedUrls/useLocalizedUrls.test.tsx
  apps/ledger-live-desktop/src/renderer/logger/summarize.test.ts
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.react.test.tsx
  apps/ledger-live-desktop/src/renderer/reducers/settings.test.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/__tests__/useMarketPerformanceWidget.test.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/filterRates.spec.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/utils/formatCountdown.test.ts
  apps/ledger-live-desktop/src/renderer/screens/market/__tests__/market.utils.test.ts
  apps/ledger-live-desktop/src/sentry/dependencies.test.ts
  apps/ledger-live-desktop/src/support/os.test.ts
  apps/ledger-live-desktop/tests/jestJSDOMSetup.ts
  apps/ledger-live-desktop/tests/jestSetup.js
  apps/ledger-live-desktop/tests/jestSetup.ts
  apps/ledger-live-desktop/tests/mocks/electron.ts
  apps/ledger-live-desktop/tests/testUtils.tsx
  apps/ledger-live-desktop/tsconfig.json
  pnpm-lock.yaml
Labels: desktop

#7275 [QAA-134][Speculos] Fix Polkadot add account
  .github/workflows/test-ui-e2e-only-desktop.yml
  apps/ledger-live-desktop/tests/utils/speculos.ts
Labels: desktop, automation

#7249 :boom:feat(lld): nft breadcrumb
  .changeset/fair-cooks-arrive.md
  apps/ledger-live-desktop/.unimportedrc.json
  apps/ledger-live-desktop/src/newArch/Collectibles/Nfts/BreadCrumb/LabelWithMeta.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/Nfts/BreadCrumb/index.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/Nfts/BreadCrumb/useBreadCrumbModel.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/__integration__/nftsCollection.test.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/__integration__/shared.tsx
  apps/ledger-live-desktop/src/newArch/Collectibles/types/Nfts.ts
  apps/ledger-live-desktop/src/newArch/components/BreadCrumb/common.tsx
  apps/ledger-live-desktop/src/newArch/components/BreadCrumb/index.tsx
Labels: desktop

#7256 fix: LIVE-13279
  .changeset/silent-drinks-sin.md
  libs/ledger-live-common/src/exchange/providers/swap.ts
Labels: common

#7277 fix: revert ignoring all swaps error
  .changeset/rotten-zoos-reflect.md
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
Labels: common

#7281 [QAA-137][Speculos] Change back firebase env to testing
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation

#7278 fix: getAvailableProviders returns providers from CAL not from backup
  .changeset/fair-dogs-greet.md
  libs/ledger-live-common/src/exchange/providers/swap.ts
Labels: common

#7260 [fix/LIVE-13101]: ensure correct trx fees for trx and trc20 swaps and sends
  .changeset/breezy-apricots-laugh.md
  libs/coin-modules/coin-tron/src/bridge/estimateMaxSpendable.ts
  libs/coin-modules/coin-tron/src/bridge/getEstimateFees.ts
  libs/coin-modules/coin-tron/src/bridge/getTransactionStatus.ts
  libs/coin-modules/coin-tron/src/bridge/signOperation.ts
  libs/coin-modules/coin-tron/src/logic/constants.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
Labels: common, ledgerjs

#7286 feat: checks for tron max values from swap
  .changeset/spotty-seals-admire.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/exchange/swap/hooks/useUpdateMaxAmount.ts
  libs/ledger-live-common/src/exchange/swap/index.ts
  libs/ledger-live-common/src/exchange/swap/maybeKeepTronAccountAlive.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: desktop, common, ledgerjs, translations

#7259 🐛 [BUGFIX] : Reset of market Store when refreshing app + uniformize market store actions
  .changeset/serious-emus-attack.md
  .changeset/two-eyes-report.md
  apps/ledger-live-desktop/src/renderer/actions/market.ts
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/init.tsx
  apps/ledger-live-desktop/src/renderer/middlewares/db.ts
  apps/ledger-live-desktop/src/renderer/reducers/market.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/market/hooks/useMarket.ts
  apps/ledger-live-desktop/src/renderer/screens/market/hooks/useMarketCoin.ts
  apps/ledger-live-desktop/src/renderer/storage.ts
  apps/ledger-live-mobile/src/actions/market.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/context/LedgerStore.tsx
  apps/ledger-live-mobile/src/db.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/reducers/market.ts
  apps/ledger-live-mobile/src/reducers/nft.ts
  libs/ledger-live-common/src/market/utils/types.ts
Labels: desktop, mobile, common

#7293 fix: sign tx for injective
  .changeset/gentle-maps-juggle.md
  .pnpmfile.cjs
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/cosmos/signOperation.ts
  pnpm-lock.yaml
Labels: common

#7295 Release: Fix sign tx for injective
  .changeset/gentle-maps-juggle.md
  .pnpmfile.cjs
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/cosmos/signOperation.ts
  pnpm-lock.yaml
Labels: common

#7294 [FEAT] : Integrate Trustchain logic in LedgerSync LLD - V2
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Activation/02-DeviceActionStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Activation/03-ActivationOrSynchroWithTrustchain.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageInstances/03-DeleteInstanceWithTrustchain.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageInstances/useInstances.ts
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/manageSynchronizedInstances.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/manageYourBackup.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/synchronize.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/useFlows.test.ts
  apps/ledger-live-desktop/src/newArch/WalletSync/hooks/useAddMember.ts
  apps/ledger-live-desktop/src/newArch/WalletSync/hooks/useInitMemberCredentials.ts
  apps/ledger-live-desktop/src/newArch/WalletSync/hooks/useRemoveMember.ts
  apps/ledger-live-desktop/src/newArch/WalletSync/testHelper/helper.ts
Labels: desktop

#7289 [QAA-133] Refactoring of fixtures file for Playwright
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delete.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
  apps/ledger-live-desktop/tests/utils/allureUtils.ts
  apps/ledger-live-desktop/tests/utils/electronUtils.ts
  apps/ledger-live-desktop/tests/utils/fileUtils.ts
  apps/ledger-live-desktop/tests/utils/global.teardown.ts
Labels: desktop

#7255 LIVE-13135: fix overflow details on swap device confirmation
  .changeset/new-roses-roll.md
  apps/ledger-live-desktop/src/renderer/components/CurrencyUnitValue.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/LiveAppDrawer.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-019-transfer-load-requested-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-021-transfer-progress-020-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-022-transfer-progress-050-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-023-transfer-progress-080-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-024-transfer-progress-100-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-025-transfer-commit-requested-linux.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-allow-language-installation-linux.png
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts-snapshots/live-app-verify-address-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-linux.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-allow-language-installation-linux.png
Labels: desktop, screenshots

#7299 [FEAT] : Analytics WalletSync
  .changeset/tiny-drinks-smell.md
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Activation/01-CreateOrSynchronizeStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Activation/04-ActivationFinalStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Activation/index.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Manage/index.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageInstances/04-DeletionError.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/ManageInstances/04-DeletionFinalStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Synchronize/01-SyncModeStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Synchronize/02-QRCodeStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Synchronize/03-PinCodeStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Synchronize/04-SyncFinalStep.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/Flows/Synchronize/index.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/components/Success.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/hooks/useWalletSyncAnalytics.ts
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync.tsx
Labels: desktop

#7302 fix(lld): use correct Sentry on renderer side
  .changeset/good-frogs-run.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/swapWeb/index.tsx
Labels: desktop

#7264 Fix generated icons attributes case
  .changeset/tame-donuts-float.md
  libs/ui/packages/icons/scripts/build.js
Labels: ui, fork

#7309 [LIVE-13332] LLD - fix device selector alignment and text overflow
  .changeset/silver-grapes-heal.md
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectDevice/DeviceSelectorOption.tsx
  apps/ledger-live-desktop/tests/specs/onboarding/connect-device.spec.ts-snapshots/v3-device-selection-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-device-selection-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-device-selection-linux.png
Labels: desktop, screenshots

#7311 fix: imageProcessor webview should have a source [LIVE-13334]
  .changeset/moody-moose-glow.md
  apps/ledger-live-mobile/src/components/CustomImage/ImageHexProcessor.tsx
  apps/ledger-live-mobile/src/components/CustomImage/ImageProcessor.tsx
  apps/ledger-live-mobile/src/components/CustomImage/injectedCode/imageBase64ToHexProcessing.ts
  apps/ledger-live-mobile/src/components/CustomImage/injectedCode/imageHexToBase64Processing.ts
Labels: mobile

#7310 fix: remove unuse testcase
  libs/coin-modules/coin-icon/src/__test__/unit/getTransactionStatus.unit.test.ts
  libs/coin-modules/coin-icon/src/bridge.integration.test.ts
  libs/ledger-live-common/src/families/icon/__snapshots__/bridge.integration.test.ts.snap
Labels: common, fork

#7314 [FEAT] : Handle Unsecured error for Ledger Sync
  .changeset/few-laws-matter.md
  apps/ledger-live-desktop/src/newArch/WalletSync/hooks/useRemoveMember.ts
Labels: desktop

#7306 Upgrade @sentry/node to V8 and @sentry/electron to v5
  .changeset/modern-kangaroos-arrive.md
  apps/ledger-live-desktop/jest.config.js
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/newArch/Collectibles/__integration__/nftsCollection.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/manageSynchronizedInstances.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/manageYourBackup.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/synchronize.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/useFlows.test.ts
  apps/ledger-live-desktop/src/sentry/dependencies.test.ts
  apps/ledger-live-desktop/src/sentry/install.ts
  apps/ledger-live-desktop/src/sentry/internal.ts
  apps/ledger-live-desktop/src/sentry/main.ts
  apps/ledger-live-desktop/src/sentry/renderer.ts
  apps/ledger-live-desktop/tests/jestSetup.js
  apps/ledger-live-desktop/tests/mocks/electron.ts
  pnpm-lock.yaml
Labels: desktop

#7316 [FIX]: error handling in getMembers
  apps/ledger-live-desktop/src/newArch/WalletSync/hooks/type.hooks.ts
  apps/ledger-live-desktop/src/newArch/WalletSync/hooks/useAddMember.ts
  apps/ledger-live-desktop/src/newArch/WalletSync/hooks/useRestoreTrustchain.ts
  apps/ledger-live-desktop/src/newArch/WalletSync/hooks/walletSync.hooks.ts
Labels: desktop

#7304 feat: swap webview content size listener
  .changeset/weak-melons-beg.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/types.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-to-account-button-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/custom-fee-set-for-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/eth-to-usdt-quotes-generated-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/fixed-centralised-quotes-diplayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/fixed-decentralised-quotes-displayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/floating-centralised-quotes-displayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/floating-decentralised-quotes-displayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/from-account-dropdown-opened-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/max-spendable-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/network-fees-drawer-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/only-decentralised-quotes-displayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/open-swap-page-with-eth-account-selected-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/standard-network-selected-linux.png
Labels: desktop, screenshots

#7296 Feat: network fee drawer for swap live app
  .changeset/shy-otters-camp.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawerLiveApp/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/utils/index.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useFromState.ts
  libs/ledger-live-common/src/exchange/swap/webApp/utils.ts
Labels: desktop, common

#7321 fix(LLD): AccountList not showing the correct name and balance for tokens [CN-142]
  .changeset/healthy-days-pay.md
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/AccountList.tsx
  apps/ledger-live-desktop/tests/page/drawer/drawer.ts
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts
Labels: desktop

#7307 feat(web3hub): main and search screen first iteration [LIVE-13176]
  .changeset/cyan-panthers-drop.md
  .changeset/sweet-wolves-push.md
  CODEOWNERS
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/HeaderContext.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/__integrations__/mocks/manifests.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/__integrations__/web3hub.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/CategoriesList/Badge/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/CategoriesList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/LoadingIndicator/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/ManifestItem/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Header/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubMain/components/Header/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubMain/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/components/Header/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubTabs/components/Header/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubTabs/index.tsx
  libs/ui/packages/native/src/components/Form/Input/BaseInput/index.tsx
Labels: mobile, ui, translations

#7326 fix: lld bad import for sentry in renderer
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#7280 chore: generalize encryption to encrypt trustchain store
  apps/ledger-live-desktop/src/main/db/index.ts
  apps/ledger-live-desktop/src/main/index.ts
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/manageSynchronizedInstances.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/manageYourBackup.test.tsx
  apps/ledger-live-desktop/src/newArch/WalletSync/__tests__/synchronize.test.tsx
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/components/IsUnlocked.tsx
  apps/ledger-live-desktop/src/renderer/init.tsx
  apps/ledger-live-desktop/src/renderer/middlewares/db.ts
  apps/ledger-live-desktop/src/renderer/modals/DisablePasswordModal/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/PasswordModal/index.tsx
  apps/ledger-live-desktop/src/renderer/reducers/index.ts
  apps/ledger-live-desktop/src/renderer/reducers/trustchain.ts
  apps/ledger-live-desktop/src/renderer/reducers/trustchainStore.ts
  apps/ledger-live-desktop/src/renderer/storage.ts
  libs/trustchain/src/store.ts
Labels: desktop

#7318 [LIVE-13346][LLM][BLE] Device search in BLE during onboarding doesn't filter on the selected device
  .changeset/heavy-humans-hide.md
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicesScanning.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/index.tsx
Labels: mobile, live-devices

#7315 [QAA-136][Detox] Change firebase environment to testing
  apps/ledger-live-mobile/.env.mock
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/app/src/detox/google-services.json
  apps/ledger-live-mobile/detox.config.js
  apps/ledger-live-mobile/ios/GoogleService-Info-Testing.plist
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
Labels: mobile

#7333 chore(release): update LLD release note v2.84.0 and LLM v.3.4.0
  apps/ledger-live-desktop/RELEASE_NOTES.md
  apps/ledger-live-mobile/android/dapp-store/config.yaml
Labels: desktop, mobile

#7214 [QAA_116][Detox] Refactor some elements
  apps/ledger-live-mobile/e2e/bridge/server.ts
  apps/ledger-live-mobile/e2e/models/DeviceAction.ts
  apps/ledger-live-mobile/e2e/models/devices.ts
  apps/ledger-live-mobile/e2e/models/liveApps.ts
  apps/ledger-live-mobile/e2e/page/common.page.ts
  apps/ledger-live-mobile/e2e/page/discover/discover.page.ts
  apps/ledger-live-mobile/e2e/page/index.ts
  apps/ledger-live-mobile/e2e/page/liveApps/dummyWalletApp.webView.ts
  apps/ledger-live-mobile/e2e/page/liveApps/liveAppWebview.ts
  apps/ledger-live-mobile/e2e/page/nft/nftViewer.page.ts
  apps/ledger-live-mobile/e2e/page/onboarding/onboardingSteps.page.ts
  apps/ledger-live-mobile/e2e/page/trade/receive.page.ts
  apps/ledger-live-mobile/e2e/page/wallet/nftGallery.page.ts
  apps/ledger-live-mobile/e2e/page/wallet/portfolio.page.ts
  apps/ledger-live-mobile/e2e/page/wallet/transferMenu.drawer.ts
  apps/ledger-live-mobile/e2e/page/wallet/walletTabNavigator.page.ts
  apps/ledger-live-mobile/e2e/specs/addAccounts/addAccount.spec.ts
  apps/ledger-live-mobile/e2e/specs/deeplinks.spec.ts
  apps/ledger-live-mobile/e2e/specs/delegate/cosmos.spec.ts
  apps/ledger-live-mobile/e2e/specs/languageChange.spec.ts
  apps/ledger-live-mobile/e2e/specs/manager.spec.ts
  apps/ledger-live-mobile/e2e/specs/market.spec.ts
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboarding.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboardingReadOnly.spec.ts
  apps/ledger-live-mobile/e2e/specs/receive/currencies.spec.ts
  apps/ledger-live-mobile/e2e/specs/receive/receiveFlow.spec.ts
  apps/ledger-live-mobile/e2e/specs/send/currencies.spec.ts
  apps/ledger-live-mobile/e2e/specs/swap/dexSwap.spec.ts
  apps/ledger-live-mobile/e2e/specs/wallet-api.spec.ts
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDeviceItem.tsx
  libs/ledger-live-common/src/apps/mock.ts
Labels: mobile, common

#7330 feat(web3hub): add search with mocks [LIVE-13187]
  .changeset/rude-bobcats-pump.md
  CODEOWNERS
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/HeaderContext.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/__integrations__/web3hub.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/CategoriesList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/CategoriesList/useCategoriesListViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/ManifestItem/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/useManifestsListViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubMain/components/Header/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubMain/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/components/Header/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/components/SearchList/SearchItem/CurrencyIconList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/components/SearchList/SearchItem/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/components/SearchList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/components/SearchList/useSearchListViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/utils/api/categories.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/utils/api/manifests.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/utils/api/mocks/categories.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/utils/api/mocks/manifests.ts
Labels: mobile

#7324 [FEAT] : Activation Flow LedgerSync
  .changeset/slow-countries-invite.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/WalletSyncNavigator.ts
  apps/ledger-live-mobile/src/components/SelectDevice2/Item.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/WalletSyncNavigator.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncActivation.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/Actions.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/FollowInstructions/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Success/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationProcess.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationSuccess.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/DeviceSelection/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/FollowInstructions/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/FollowInstructions/useFollowInstructions.ts
  apps/ledger-live-mobile/src/screens/Settings/General/WalletSyncRow.tsx
Labels: mobile, translations

#7342 Activate disabled tests in speculos folder
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
Labels: desktop

#7343 [Bugfix/LIVE-13379] use .eq comparator function in xtz function
  .changeset/orange-socks-march.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/exchange/swap/maybeTezosAccountUnrevealedAccount.ts
Labels: common

#7322 fix(live-13345): remove quotes filters on demo0
  .changeset/fast-poets-refuse.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Filter.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/index.tsx
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-to-account-button-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/custom-fee-set-for-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/max-spendable-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/network-fees-drawer-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/standard-network-selected-linux.png
Labels: desktop, screenshots

#7329 feat(live-13282): spacing based on screen resolution
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FormInputs.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SummaryValue.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Navbar/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Navbar/routes.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-missing-destination-account-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-to-account-button-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/custom-fee-set-for-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/eth-to-usdt-quotes-generated-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/fixed-centralised-quotes-diplayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/fixed-decentralised-quotes-displayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/floating-centralised-quotes-displayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/floating-decentralised-quotes-displayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/max-spendable-swap-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/network-fees-drawer-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/only-decentralised-quotes-displayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/standard-network-selected-linux.png
Labels: desktop, translations, screenshots

#7327 [LIVE-13353][LLD] Wrong onboarding redirection between Stax and Flex
  .changeset/selfish-experts-double.md
  .changeset/tricky-steaks-hope.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/DeviceConnection/Searching.tsx
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/ValidateOnDevice.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/index.tsx
  libs/ledgerjs/packages/types-devices/README.md
  libs/ledgerjs/packages/types-devices/src/index.ts
Labels: desktop, mobile, ledgerjs, live-devices

#7351 fix(live-13358): reset toAmount on target change
  .changeset/mighty-toys-enjoy.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#7354 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#7018 Xray link for playwright tests
  .github/workflows/test-ui-e2e-only-desktop.yml
  aggregate-xray-reports.sh
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/playwright.config.ts
  apps/ledger-live-desktop/tests/specs/speculos/README.md
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delete.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
  apps/ledger-live-desktop/tests/utils/customJsonReporter.ts
Labels: desktop, automation

#7353 [fix/LIVE-13376]: correct error messages in swap when input balance greater than available
  .changeset/big-dogs-grin.md
  libs/coin-modules/coin-tron/src/bridge/getTransactionStatus.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
Labels: common

#7350 feat(web3hub): add app screen webview [LIVE-13179]
  .changeset/hot-stingrays-divide.md
  apps/ledger-live-mobile/__tests__/jest-setup.js
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/MainNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/MainNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/TabNavigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/__integrations__/web3hub.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/AppIcon/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/CategoriesList/useCategoriesListViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/ManifestItem/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/useManifestsListViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/BottomBar.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/InfoPanel.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/RightHeader.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/useWeb3HubAppViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubMain/components/Header/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubMain/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/components/SearchList/SearchItem/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/components/SearchList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/components/SearchList/useSearchListViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubTabs/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/types.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/utils/api/categories.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/utils/api/manifests.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/utils/api/mocks/manifests.ts
  pnpm-lock.yaml
Labels: mobile

#7300 LLD integration of Wallet Sync
  apps/ledger-live-desktop/src/main/db/index.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/components/WalletSyncContext.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useDestroyTrustchain.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useOnTrustchainRefreshNeeded.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useTrustchainSdk.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useWatchWalletSync.ts
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/actions/accounts.ts
  apps/ledger-live-desktop/src/renderer/actions/trustchain.ts
  apps/ledger-live-desktop/src/renderer/actions/wallet.ts
  apps/ledger-live-desktop/src/renderer/bridge/cache.ts
  apps/ledger-live-desktop/src/renderer/components/IsUnlocked.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/ActivityIndicator.tsx
  apps/ledger-live-desktop/src/renderer/init.tsx
  apps/ledger-live-desktop/src/renderer/middlewares/db.ts
  apps/ledger-live-desktop/src/renderer/reducers/accounts.ts
  apps/ledger-live-desktop/src/renderer/reducers/trustchain.ts
  apps/ledger-live-desktop/src/renderer/reducers/wallet.ts
  apps/ledger-live-desktop/src/renderer/storage.ts
  apps/web-tools/trustchain/components/App.tsx
  apps/web-tools/trustchain/components/AppAccountsSync.tsx
  libs/live-wallet/src/ordering.test.ts
  libs/live-wallet/src/store.test.ts
  libs/live-wallet/src/store.ts
Labels: desktop

#7365 feat(web3hub): add tabs button to main, search and app screens [LIVE-13181]
  .changeset/tough-bulldogs-ring.md
  apps/ledger-live-mobile/__tests__/jest-setup.js
  apps/ledger-live-mobile/src/components/RootNavigator/types.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/MainNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/helpers.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/TabNavigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/__integrations__/web3hub.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/BackButton/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/LoadingIndicator/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/TabButton/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Header/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubMain/components/Header/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/components/Header/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubTabs/components/Header/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/types.ts
Labels: mobile

#7385 feat: always show scrollbar in swap live
  .changeset/many-moose-push.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/index.tsx
Labels: desktop

#7360 💄 [FEAT] : Polishing Success Screen + Add new attribute in store
  .changeset/breezy-cameras-worry.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/components/Success.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/04-ActivationFinalStep.tsx
  apps/ledger-live-desktop/src/renderer/actions/walletSync.ts
  apps/ledger-live-desktop/src/renderer/reducers/walletSync.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7386 🐛 [Speculos] [LLD] Fixing E2E SubAccount tests
  apps/ledger-live-desktop/tests/component/modal.component.ts
  apps/ledger-live-desktop/tests/enum/Tokens.ts
  apps/ledger-live-desktop/tests/page/modal/add.account.modal.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
Labels: desktop

#7389 :bug:fix(lld): word break issue in nft drawer
  .changeset/hot-files-itch.md
  apps/ledger-live-desktop/src/renderer/drawers/NFTViewerDrawer/index.tsx
Labels: desktop

#7392 [FIX]: Allocation display was overlapping content
  .changeset/healthy-jobs-own.md
  apps/ledger-live-mobile/src/screens/Analytics/Allocation.tsx
Labels: mobile

#7363 [FEAT] : Improve Market for Backend
  .changeset/cyan-melons-fetch.md
  .changeset/polite-bananas-relax.md
  .changeset/rare-windows-rhyme.md
  apps/ledger-live-desktop/src/renderer/reducers/market.ts
  apps/ledger-live-desktop/src/renderer/screens/market/components/SearchInputComponent.tsx
  apps/ledger-live-mobile/src/reducers/market.ts
  libs/ledger-live-common/src/market/api/index.ts
  libs/ledger-live-common/src/market/hooks/useMarketDataProvider.ts
Labels: desktop, mobile, common

#7352 [FEAT] : Activation Flow with Trustchain
  .changeset/stale-kids-hang.md
  apps/ledger-live-mobile/__tests__/test-renderer.tsx
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/WalletSyncNavigator.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/FollowInstructions/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useAddMember.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useInitMemberCredentials.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useTrustchainSdk.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationProcess.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/FollowInstructions/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/FollowInstructions/useFollowInstructions.ts
  apps/ledger-live-mobile/src/reducers/index.ts
  apps/ledger-live-mobile/src/reducers/trustchain.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  libs/trustchain/src/sdk.ts
  libs/trustchain/src/store.ts
  pnpm-lock.yaml
Labels: mobile

#7232 Fix: LIVE-12323 Rename crypto.org to cronos POS chain
  .changeset/odd-countries-tie.md
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: ledgerjs

#7393 fix(live-13395): set toNewTokenId to hash params
  .changeset/smart-pots-crash.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#7328 [LIVE-13128][LLD][Passkey] Create use case for saving app data inside local storage
  .changeset/moody-balloons-lay.md
  .changeset/perfect-emus-allow.md
  .changeset/wet-tomatoes-glow.md
  apps/ledger-live-desktop/.unimportedrc.json
  apps/ledger-live-desktop/src/renderer/DesktopStorageProvider.ts
  libs/device-core/src/commands/entities/AppStorageInfo.test.ts
  libs/device-core/src/commands/entities/AppStorageInfo.ts
  libs/device-core/src/commands/use-cases/app-backup/getAppStorageInfo.test.ts
  libs/device-core/src/commands/use-cases/app-backup/getAppStorageInfo.ts
  libs/device-core/src/index.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/device/use-cases/appDataBackup/backupAppData.test.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/backupAppData.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/backupAppDataUseCase.test.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/backupAppDataUseCase.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/backupAppDataUseCaseDI.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/types.test.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/types.ts
Labels: desktop, common, live-devices

#7397 🍱 [DSDK-13125] [LLM]: Restore apps illustration
  .changeset/tender-doors-move.md
  .github/workflows/release-final.yml
  .github/workflows/release-prerelease.yml
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/DeviceHowTo.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/DeviceHowTo2.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/PinCodeHowTo.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/RecoveryHowTo3.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/CompletionScreen.tsx
  apps/ledger-live-desktop/src/renderer/screens/USBTroubleshooting/ConnectionTester.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/CustomLockScreenAssets.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/Restore.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/RestoreIllustrations.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/assets/dark/NanoToNano.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/assets/dark/NanoToStax.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/assets/dark/StaxToNano.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/assets/dark/StaxToStax.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/assets/light/NanoToNano.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/assets/light/NanoToStax.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/assets/light/StaxToNano.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/assets/light/StaxToStax.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/InstallSetOfApps/index.tsx
  apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/components/UpdateBanner/index.tsx
Labels: desktop, mobile, automation

#7399 💄 Improving Slack Notif for E2E tests
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation

#7381 💄 [FEAT] : WalletSyncActivated Landing page
  .changeset/four-paws-attack.md
  apps/ledger-live-mobile/src/components/RootNavigator/types/WalletSyncNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/WalletSyncNavigator.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncActivated.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncActivation.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Separator/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useWalletSyncAnalytics.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/.gitkeep
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/Option.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/WalletSyncRow.tsx
Labels: mobile, translations

#7362 chore(llm): use react-native-quick-crypto to replace unmaintained/broken polyfills
  .changeset/sharp-keys-explode.md
  apps/ledger-live-mobile/.unimportedrc.json
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/index.js
  apps/ledger-live-mobile/ios/Podfile
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/metro.config.js
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/services/BackgroundRunnerService.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/init.ts
  apps/ledger-live-mobile/src/polyfill-core.ts
  apps/ledger-live-mobile/src/polyfill-crypto.ts
  apps/ledger-live-mobile/src/polyfill-react-native.ts
  apps/ledger-live-mobile/src/polyfills.ts
  libs/coin-modules/coin-evm/package.json
  libs/coin-modules/coin-evm/src/api/node/rpc.native.ts
  pnpm-lock.yaml
Labels: mobile

#7301 feat: custom errors screen
  .changeset/bright-toes-sip.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/CustomErrorNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/CustomErrorNavigator.ts
  apps/ledger-live-mobile/src/components/WebPTXPlayer/CustomHandlers.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/CustomError/index.tsx
Labels: mobile, translations

#7395 [LIVE-13127][LLM][Passkey] Create use case for saving app data inside local storage
  .changeset/tidy-lobsters-taste.md
  apps/ledger-live-mobile/.unimportedrc.json
  apps/ledger-live-mobile/src/MobileStorageProvider.ts
Labels: mobile, live-devices

#7413 Support/filecoin evm
  .changeset/famous-worms-pull.md
  apps/ledger-live-desktop/src/renderer/families/filecoin/TransactionConfirmFields.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/families/filecoin/TransactionConfirmFields.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/filecoin/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/filecoin/bridge.integration.test.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/addresses.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/api.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/erc20/ERC20.json
  libs/ledger-live-common/src/families/filecoin/bridge/utils/erc20/tokenAccounts.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/serializer.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/types.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/utils.ts
  libs/ledger-live-common/src/families/filecoin/buildOptimisticOperation.ts
  libs/ledger-live-common/src/families/filecoin/cli-transaction.ts
  libs/ledger-live-common/src/families/filecoin/deviceTransactionConfig.ts
  libs/ledger-live-common/src/families/filecoin/errors.ts
  libs/ledger-live-common/src/families/filecoin/estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/filecoin/getTransactionStatus.ts
  libs/ledger-live-common/src/families/filecoin/prepareTransaction.ts
  libs/ledger-live-common/src/families/filecoin/signOperation.ts
  libs/ledger-live-common/src/families/filecoin/specs.ts
  libs/ledger-live-common/src/families/filecoin/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/filecoin/utils.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/filecoin/filecoin-erc20.test.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/filecoin/index.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/filecoin-erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/filecoin-erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/filecoin-erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
  libs/ui/packages/crypto-icons/src/svg/CLFIL.svg
  libs/ui/packages/crypto-icons/src/svg/IFIL.svg
  libs/ui/packages/crypto-icons/src/svg/PFIL.svg
  libs/ui/packages/crypto-icons/src/svg/WFIL.svg
  libs/ui/packages/crypto-icons/src/svg/WPFIL.svg
  pnpm-lock.yaml
Labels: desktop, mobile, common, ui, ledgerjs, translations, fork

#7411 fix(lld): transaction id overflow in operation detail
  .changeset/cold-weeks-decide.md
  apps/ledger-live-desktop/src/renderer/components/OperationsList/AddressCell.tsx
Labels: desktop

#7403 :triangular_flag_on_post:feat(lld): add ordinals feature flag
  .changeset/lazy-moons-love.md
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#7418 test: automatically get latest coin app versions
  apps/ledger-live-desktop/tests/enum/Currency.ts
  apps/ledger-live-desktop/tests/utils/speculos.ts
Labels: desktop

#7419 fix(live-13475): trx amontFrom when maxSwap is used
  .changeset/moody-zebras-smell.md
  libs/ledger-live-common/src/exchange/swap/hooks/useUpdateMaxAmount.ts
Labels: common

#7376 chore(walletsync): introduce nonImportedAccountInfos management
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useWatchWalletSync.ts
  apps/web-tools/trustchain/components/App.tsx
  apps/web-tools/trustchain/components/AppAccountsSync.tsx
  apps/web-tools/trustchain/components/Tick.tsx
  apps/web-tools/trustchain/components/types.ts
  libs/live-wallet/src/ordering.test.ts
  libs/live-wallet/src/store.test.ts
  libs/live-wallet/src/store.ts
  libs/live-wallet/src/walletsync/__mocks__/modules/accounts.ts
  libs/live-wallet/src/walletsync/__tests__/compatibility.test.ts
  libs/live-wallet/src/walletsync/__tests__/generic.test.ts
  libs/live-wallet/src/walletsync/__tests__/modules/accountNames.test.ts
  libs/live-wallet/src/walletsync/__tests__/modules/accounts.test.ts
  libs/live-wallet/src/walletsync/__tests__/specific.test.ts
  libs/live-wallet/src/walletsync/aggregator.ts
  libs/live-wallet/src/walletsync/createWalletSyncWatchLoop.ts
  libs/live-wallet/src/walletsync/incrementalUpdates.ts
  libs/live-wallet/src/walletsync/index.ts
  libs/live-wallet/src/walletsync/modules/accountNames.ts
  libs/live-wallet/src/walletsync/modules/accounts.ts
  libs/live-wallet/src/walletsync/types.ts
Labels: desktop

#7415 ⚡: [FEAT]: Made Trustchain SDK as Singleton
  .changeset/light-gorillas-report.md
  .changeset/quiet-dancers-cough.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useTrustchainSdk.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useTrustchainSdk.ts
Labels: desktop, mobile

#7417 [FEAT] : Save trustchain store in DB
  .changeset/selfish-lobsters-occur.md
  apps/ledger-live-mobile/src/db.ts
  apps/ledger-live-mobile/src/index.tsx
Labels: mobile

#7409 [LIVE-12092][LLM] Inconsistency in change lock screen wording
  .changeset/tricky-boats-tie.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/Device/CustomLockScreen.tsx
Labels: mobile, translations, live-devices

#7404 fix(walletsync): detect more cases of TrustchainOutdated
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useOnTrustchainRefreshNeeded.ts
  libs/hw-trustchain/src/StreamTree.ts
  libs/live-wallet/src/cloudsync/api.ts
  libs/live-wallet/src/cloudsync/sdk.ts
  libs/live-wallet/src/walletsync/__tests__/trustchainLifecyle.test.ts
  libs/live-wallet/src/walletsync/trustchainLifecyle.ts
  libs/trustchain/mocks/scenarios/create2trustchainInARow.json
  libs/trustchain/mocks/scenarios/getOrCreateTransactionCases.json
  libs/trustchain/mocks/scenarios/member3implicitlyAdded.json
  libs/trustchain/mocks/scenarios/membersManySelfAdd.json
  libs/trustchain/mocks/scenarios/randomMemberTryToDestroy.json
  libs/trustchain/mocks/scenarios/removeMemberWithTheWrongSeed.json
  libs/trustchain/mocks/scenarios/removedMemberEjectedOnDeletedTrustchain.json
  libs/trustchain/mocks/scenarios/removedMemberEjectedOnGetMembers.json
  libs/trustchain/mocks/scenarios/removedMemberEjectedOnRestore.json
  libs/trustchain/mocks/scenarios/removingAMemberCreatesAnInteraction.json
  libs/trustchain/mocks/scenarios/removingYourselfIsForbidden.json
  libs/trustchain/mocks/scenarios/success.json
  libs/trustchain/mocks/scenarios/tokenExpires.json
  libs/trustchain/mocks/scenarios/twoAddMembersFollowedByDeviceAdd.json
  libs/trustchain/mocks/scenarios/userRefusesAuth.json
  libs/trustchain/mocks/scenarios/userRefusesRemoveMember.json
  libs/trustchain/src/api.ts
  libs/trustchain/src/mockSdk.ts
  libs/trustchain/src/qrcode/index.test.ts
  libs/trustchain/src/sdk.ts
  libs/trustchain/src/simpleEncryption.sdk.test.ts
  libs/trustchain/src/types.ts
  libs/trustchain/tests/scenarios/removedMemberEjectedOnDeletedTrustchain.ts
  libs/trustchain/tests/scenarios/removedMemberEjectedOnGetMembers.ts
  libs/trustchain/tests/scenarios/removedMemberEjectedOnRestore.ts
  libs/trustchain/tests/scenarios/removingAMemberCreatesAnInteraction.ts
  libs/trustchain/tests/scenarios/success.ts
  libs/trustchain/tests/test-helpers/replayTrustchainSdkTests.ts
Labels: desktop

#7421 Fix[ton] Comment validation on ledger-live-mobile
  apps/ledger-live-desktop/src/renderer/families/ton/CommentField.tsx
  libs/coin-modules/coin-ton/src/getTransactionStatus.ts
Labels: desktop, fork

#7425 Upgrade aws-actions/configure-aws-credentials to v4
  .github/workflows/test-mobile-e2e.yml
  tools/actions/composites/setup-caches/action.yml
  tools/actions/composites/setup-toolchain/action.yml
Labels: tools, automation

#7400 ✨ [REWORK] : SimpleHash tool in LLD is revamped and new features added
  .changeset/empty-bats-fold.md
  .changeset/polite-hats-warn.md
  apps/ledger-live-desktop/src/renderer/modals/SimpleHashTools/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/index.ts
  apps/ledger-live-desktop/src/renderer/modals/types.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SimpleHashTools/RefreshMetadata/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SimpleHashTools/RefreshMetadata/type.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SimpleHashTools/SimpleHashTools.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SimpleHashTools/SpamReportNtf/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SimpleHashTools/SpamReportNtf/type.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SimpleHashTools/components/InputRow.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SimpleHashTools/components/Result.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SimpleHashTools/components/SelectRow.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SpamReportNtf/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/live-nft-react/src/hooks/__tests__/useRefreshMetadata.test.tsx
  libs/live-nft-react/src/hooks/__tests__/useSpamReportNft.test.tsx
  libs/live-nft-react/src/hooks/types.ts
  libs/live-nft-react/src/hooks/useRefreshMetadata.ts
  libs/live-nft-react/src/index.ts
  libs/live-nft/src/api/simplehash.ts
  libs/live-nft/src/api/types.ts
Labels: desktop, translations

#7412 LLM - Small flexible cards ui modifications to match the Security Key use case
  .changeset/itchy-tigers-divide.md
  apps/ledger-live-mobile/src/contentCards/cards/vertical/elements.tsx
  apps/ledger-live-mobile/src/contentCards/cards/vertical/index.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/GenericLandingPage/index.tsx
Labels: mobile

#7428 fix:(live-13472): no internet error in swap demo1
  .changeset/khaki-apes-complain.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#7200 [QAA 84] [Playwright] [Speculos] Adding new checks for send test + new tests cases
  apps/ledger-live-desktop/tests/component/layout.component.ts
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/Fee.ts
  apps/ledger-live-desktop/tests/enum/Token.ts
  apps/ledger-live-desktop/tests/models/Transaction.ts
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/page/drawer/drawer.ts
  apps/ledger-live-desktop/tests/page/index.ts
  apps/ledger-live-desktop/tests/page/modal/add.account.modal.ts
  apps/ledger-live-desktop/tests/page/modal/receive.modal.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
Labels: desktop, Stale

#7366 Fixed data tracking for Braze cards
  .changeset/great-peaches-own.md
  apps/ledger-live-desktop/src/renderer/components/Carousel/helpers.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useActionCards.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useNotifications.ts
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsCategory/Layout.tsx
Labels: desktop, mobile

#7432 Revert "[QAA 84] [Playwright] [Speculos] Adding new checks for send test + new tests cases"
  apps/ledger-live-desktop/tests/component/layout.component.ts
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/Fee.ts
  apps/ledger-live-desktop/tests/enum/Tokens.ts
  apps/ledger-live-desktop/tests/models/Transaction.ts
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/page/drawer/drawer.ts
  apps/ledger-live-desktop/tests/page/index.ts
  apps/ledger-live-desktop/tests/page/modal/add.account.modal.ts
  apps/ledger-live-desktop/tests/page/modal/receive.modal.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
Labels: desktop

#7430 fix: Updating labels for ETH, ETC, ETH sep and ETH Hol
  apps/ledger-live-desktop/tests/enum/Currency.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/utils/speculos.ts
  libs/ledger-live-common/src/load/speculos.ts
Labels: desktop, common

#7423 LLM - Update Storyly
  .changeset/flat-bananas-appear.md
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/StorylyStories/StorylyProvider.tsx
  apps/ledger-live-mobile/src/components/StorylyStories/index.tsx
  pnpm-lock.yaml
Labels: mobile

#7439 :bug:fix(lld): account name on receive flow
  .changeset/four-olives-hammer.md
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveFunds.tsx
Labels: desktop

#7442 :bug:fix(crypto-icons): change size of polkadot icon
  .changeset/hungry-zoos-return.md
  libs/ui/packages/crypto-icons/src/svg/DOT.svg
Labels: ui

#7441 fix(live-13513): send feeStrategy and customFeeConfig as params
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#7446 💾 FIX]: Save & Import trustchain store
  .changeset/tame-lobsters-kiss.md
  apps/ledger-live-mobile/src/context/LedgerStore.tsx
Labels: mobile

#7447 🐛 (keyring-eth): fix sign-transaction test script with new context-module
  .changeset/curly-rules-greet.md
  libs/ledgerjs/packages/keyring-eth/scripts/test-sign-transaction.ts
Labels: ledgerjs

#7387 [FEAT] : Get members from trustchain
  .changeset/funny-swans-check.md
  .changeset/moody-socks-obey.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/type.hooks.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useGetMembers.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/Option.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
Labels: mobile, translations

#7435 ✨ [FEAT] : Ledger Sync Status
  .changeset/nice-islands-clean.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/synchronize.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/components/AlertError.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/components/AlertLedgerSyncDown.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/type.hooks.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useGetMembers.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useLedgerSyncInfo.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Manage/Option.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Manage/index.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageInstances/useInstances.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/live-wallet/src/cloudsync/api.ts
  libs/trustchain/src/api.ts
  libs/ui/packages/react/src/components/message/Alert/index.tsx
Labels: desktop, ui, translations

#7462 [LIVE-13495][LL-Common] Restore App data from storage
  .changeset/tasty-waves-exercise.md
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/device/use-cases/appDataBackup/restoreAppData.test.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/restoreAppData.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/restoreAppDataUseCase.test.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/restoreAppDataUseCase.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/restoreAppDataUseCaseDI.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/types.test.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/types.ts
Labels: common, live-devices

#7454 :sparkles:feat(llm): add sync method selection drawer
  .changeset/shiny-houses-play.md
  apps/ledger-live-mobile/.unimportedrc.json
  apps/ledger-live-mobile/src/components/RootNavigator/BaseOnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseOnboardingNavigator.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/addAccount.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/WalletSyncNavigator.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncActivation.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncSettings.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/.gitkeep
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/ChooseMethod.tsx
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Onboarding/steps/accessExistingWallet.tsx
Labels: mobile, translations

#7113 [LIVE-11050] LLM - select a new account created during the receive when returning t…
  .changeset/old-foxes-notice.md
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccount.tsx
Labels: mobile, Stale

#7452 ✨ [FEAT] : Manage Key flow for WalletSync
  .changeset/ninety-seas-travel.md
  apps/ledger-live-mobile/src/components/RootNavigator/types/WalletSyncNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/WalletSyncNavigator.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/manageKey.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/ManageKey/Confirm.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/ManageKey/ManageKey.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Success/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/type.hooks.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useDestroyTrustchain.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Delete/.gitkeep
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/DeletionSuccess.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/ManageKeyDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/useManageKeyDrawer.ts
Labels: mobile, translations

#7443 Feat/live 12593
  .changeset/good-bananas-count.md
  apps/ledger-live-desktop/TERMS.md
  apps/ledger-live-desktop/src/config/urls.ts
Labels: desktop

#7431 [LIVE-13058][LLM] - Create an event to track Passkey/Security Key app download
  .changeset/three-pianos-accept.md
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/AppsList/AppInstallButton.tsx
Labels: mobile, live-devices

#7465 fix(LLM): skip device check in account.receive for wallet-api [LIVE-13538]
  .changeset/hip-shirts-rule.md
  apps/ledger-live-mobile/e2e/page/index.ts
  apps/ledger-live-mobile/e2e/page/liveApps/dummyWalletApp.webView.ts
  apps/ledger-live-mobile/e2e/page/liveApps/walletAPIReceive.ts
  apps/ledger-live-mobile/e2e/specs/wallet-api.spec.ts
  apps/ledger-live-mobile/src/screens/VerifyAccount/index.tsx
Labels: mobile

#7466 fix(live-13533): display tron keep alive as error instead of warning
  .changeset/mean-toes-grab.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/maybeKeepTronAccountAlive.ts
Labels: desktop, common

#7460 fix(live-13499): get counterValue from swap-live-app in demo1
  .changeset/red-carrots-explain.md
  apps/ledger-live-desktop/src/renderer/components/CounterValue.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FormInputs.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/ToRow.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/hooks/useSwapLiveAppQuoteState.ts
Labels: desktop

#7453 [LIVE-11435]: Remove list apps v2 feature flag
  .changeset/long-dolphins-accept.md
  apps/cli/src/commands/device/managerListApps.ts
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/index.tsx
  libs/ledger-live-common/src/apps/listApps.test.ts
  libs/ledger-live-common/src/apps/listApps.ts
  libs/ledger-live-common/src/apps/listApps/v1.ts
  libs/ledger-live-common/src/apps/polyfill.test.ts
  libs/ledger-live-common/src/apps/polyfill.ts
  libs/ledger-live-common/src/apps/react.test.ts
  libs/ledger-live-common/src/device/use-cases/listAppsUseCase.test.ts
  libs/ledger-live-common/src/device/use-cases/listAppsUseCase.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/manager/api.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs, cli

#7437 [QAA 84] [Playwright] [Speculos] Adding new checks for send test + new tests cases
  apps/ledger-live-desktop/tests/component/layout.component.ts
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/Currency.ts
  apps/ledger-live-desktop/tests/enum/Fee.ts
  apps/ledger-live-desktop/tests/enum/Tokens.ts
  apps/ledger-live-desktop/tests/models/Transaction.ts
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/page/drawer/drawer.ts
  apps/ledger-live-desktop/tests/page/index.ts
  apps/ledger-live-desktop/tests/page/modal/add.account.modal.ts
  apps/ledger-live-desktop/tests/page/modal/receive.modal.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/README.md
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delete.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
Labels: desktop

#7475 Pull feature flags every hour for LLM and LLD
  .changeset/modern-books-jump.md
  apps/ledger-live-desktop/src/renderer/components/FirebaseRemoteConfig.tsx
  apps/ledger-live-mobile/src/components/FirebaseRemoteConfig.tsx
Labels: desktop, mobile

#7481 fix: remove proto upgrade to use pinned version instead
  tools/actions/composites/setup-caches/action.yml
Labels: tools
