Repository LedgerHQ/ledger-live, pull requests merged in 2024-08, with the labels that each got.

#7483 💅 (LLD): Firmware update banner rework
  .changeset/chatty-snakes-drum.md
  apps/ledger-live-desktop/src/renderer/components/FirmwareUpdateBanner.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBanner.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/FirmwareUpdate/index.tsx
  apps/ledger-live-desktop/src/renderer/styles/theme.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/manager/firmwareupdate.spec.ts-snapshots/modal-closed-linux.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-app-catalog-linux.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-uninstallAll-linux.png
Labels: desktop, translations, screenshots

#7471 Feat/track fee drawer
  .changeset/slimy-walls-hide.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#7489 [LLD] [Speculos] 💥Adding DODE coin e2e send test
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/Currency.ts
  apps/ledger-live-desktop/tests/page/drawer/drawer.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-tests-app.json
  apps/ledger-live-desktop/tests/utils/speculos.ts
Labels: desktop

#7429 fix(ui): banner component title now limited to two lines
  .changeset/giant-humans-brush.md
  libs/ui/packages/native/src/components/Cards/BannerCard/index.tsx
Labels: ui

#7487 Fix/LIVE-13444 fix network fees drawer animation
  .changeset/wet-ducks-shop.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawerLiveApp/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#7468 [QAA-132] Add link to video of failed test to Allure report
  .github/workflows/test-ui-e2e-only-desktop.yml
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/misc/reporters/step.ts
  apps/ledger-live-desktop/tests/utils/allureUtils.ts
Labels: desktop, automation

#7484 [LIVE-11916][LLM] My Ledger search bar sticky & auto scroll
  .changeset/spicy-pumpkins-lick.md
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/AppsList/Searchbar.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/AppsScreen.tsx
Labels: mobile

#7485 [ERROR]: Handle TrustchainOutdated
  .changeset/swift-poets-roll.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/walletSync.hooks.ts
Labels: desktop

#7463 ✨[FEAT]: Manage Synchronized Instances (Step 1 + Auto-remove/Unsecured error)
  .changeset/ninety-seas-travel.md
  .changeset/young-terms-grow.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageInstances/01-ManageInstancesStep.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/WalletSyncNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/manageInstances.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/ManageInstances/DeletionError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/ManageInstances/ListInstances.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/TinyCard.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useWalletSyncAnalytics.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageInstances/ManageInstancesDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageInstances/useManageInstanceDrawer.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/ManageKeyDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/useManageKeyDrawer.ts
Labels: desktop, mobile, translations

#7491 [LIVE-13561][LLD] Sync onboarding "install apps" text not wrapping
  .changeset/silly-penguins-thank.md
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/InstallSetOfApps.tsx
Labels: desktop

#7490 feat(LIVE-13555): replace static data by cdn data
  .changeset/funny-cooks-camp.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/drawers/SwapOperationDetails/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/DrawerFooter.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/ExchangeDrawer/SwapCompleted.tsx
  libs/ledger-live-common/src/exchange/providers/swap.ts
Labels: desktop, common

#7501 [SUPPORT] : Fix unstable screenshot on ethereumStacking tests
  .changeset/tall-panthers-wash.md
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/stake-drawer-opened-from-market-page-linux.png
Labels: desktop, screenshots

#7493 feat(web3hub): add confirmation bottom modal before opening app [LIVE-13188]
  .changeset/strong-forks-jam.md
  apps/ledger-live-mobile/__tests__/jest-setup.js
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/__integrations__/web3hub.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/Disclaimer/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/Disclaimer/useDisclaimerViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestRow/CurrencyIconList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestRow/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/CategoriesList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/ManifestItem/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/constants.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/components/SearchList/SearchItem/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/components/SearchList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/types.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/utils/api/categories.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/utils/api/manifests.ts
Labels: mobile, translations

#7500 ⏰ [CI] Updating E2E workflow - Enable broadcast once a week
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation

#7504 Bugfix - Force version `@ton/crypto` 3.2.0
  .changeset/spotty-days-glow.md
  libs/coin-modules/coin-ton/package.json
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: common

#7505 [QAA] Refactoring and improve speculos fixture
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/page/drawer/drawer.ts
  apps/ledger-live-desktop/tests/page/modal/add.account.modal.ts
  apps/ledger-live-desktop/tests/page/modal/receive.modal.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delete.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
Labels: desktop

#7503 feat(LIVE-13571): add different terms for exodus
  .changeset/serious-clouds-burn.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/DrawerFooter.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7477 [Bugfix/LIVE-11922]: Error message when network fees are above account balance
  .changeset/tender-bananas-approve.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawerLiveApp/index.tsx
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/stake-drawer-opened-from-market-page-linux.png
Labels: desktop, screenshots

#7506 Feat/filters drawer live app
  .changeset/smart-scissors-fetch.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#7497 Wallet Sync - Remote Configuration
  .changeset/old-experts-enjoy.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useLedgerSyncInfo.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useQRCode.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useTrustchainSdk.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useWatchWalletSync.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/testHelper/helper.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/addAccount.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/manageKey.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncActivated.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncActivation.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncSettings.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useTrustchainSdk.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useWatchWalletSync.ts
  apps/web-tools/trustchain/components/App.tsx
  apps/web-tools/trustchain/components/AppAccountsSync.tsx
  apps/web-tools/trustchain/components/AppCloudSync.tsx
  apps/web-tools/trustchain/components/AppQRCodeHost.tsx
  apps/web-tools/trustchain/components/AppSetCloudSyncAPIEnv.tsx
  apps/web-tools/trustchain/components/AppSetTrustchainAPIEnv.tsx
  apps/web-tools/trustchain/components/IdentityManager.tsx
  apps/web-tools/trustchain/context.ts
  libs/env/src/env.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/walletSync/getEnvironmentParams.test.ts
  libs/ledger-live-common/src/walletSync/getEnvironmentParams.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ledgerjs/packages/types-live/src/index.ts
  libs/ledgerjs/packages/types-live/src/walletSync.ts
  libs/live-wallet/src/cloudsync/__tests__/cipher.test.ts
  libs/live-wallet/src/cloudsync/__tests__/sdk.test.ts
  libs/live-wallet/src/cloudsync/api.ts
  libs/live-wallet/src/cloudsync/sdk.ts
  libs/live-wallet/src/walletsync/__tests__/trustchainLifecyle.test.ts
  libs/live-wallet/src/walletsync/trustchainLifecyle.ts
  libs/trustchain/.unimportedrc.json
  libs/trustchain/src/HWDeviceProvider.ts
  libs/trustchain/src/__tests__/integration/mock.sdk.test.ts
  libs/trustchain/src/api.ts
  libs/trustchain/src/auth.ts
  libs/trustchain/src/index.ts
  libs/trustchain/src/mockSdk.ts
  libs/trustchain/src/qrcode/index.test.ts
  libs/trustchain/src/qrcode/index.ts
  libs/trustchain/src/sdk.ts
  libs/trustchain/src/simpleEncryption.sdk.test.ts
  libs/trustchain/src/types.ts
  libs/trustchain/tests/scenarios/tokenExpires.ts
  libs/trustchain/tests/test-helpers/recordTrustchainSdkTests.ts
  libs/trustchain/tests/test-helpers/replayTrustchainSdkTests.ts
Labels: desktop, mobile, common, ledgerjs

#7495 Feat/payin extra id error message
  .changeset/warm-clocks-rescue.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/WebviewErrorDrawer/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7494 [LIVE-11412] Feature - EIP712 filters v2
  .changeset/selfish-seahorses-tickle.md
  .changeset/serious-glasses-fetch.md
  .changeset/silver-trainers-glow.md
  .changeset/wild-timers-sleep.md
  libs/coin-modules/coin-evm/src/logic.ts
  libs/env/src/env.ts
  libs/evm-tools/src/__tests__/fixtures/dynamicCAL.ts
  libs/evm-tools/src/__tests__/messages/EIP712/index.unit.test.ts
  libs/evm-tools/src/message/EIP712/index.ts
  libs/evm-tools/src/message/EIP712/types.ts
  libs/evm-tools/src/selectors/index.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/eip712/index.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/eip712_v2-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/eip712_v2.json
  libs/ledgerjs/packages/cryptoassets/src/data/eip712_v2.ts
  libs/ledgerjs/packages/hw-app-eth/package.json
  libs/ledgerjs/packages/hw-app-eth/src/modules/EIP712/index.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/EIP712/types.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/EIP712/utils.ts
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/loadConfig.ts
  libs/ledgerjs/packages/hw-app-eth/src/services/types.ts
  libs/ledgerjs/packages/hw-app-eth/tests/EIP712/filtered-signMessage.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/EIP712/noFilter-signMessage.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/EIP712/utils.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/CAL.ts
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/15-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/15-filtered-v2.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/15.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/16-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/16-filtered-v2.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/16.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/17-filtered.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/17.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/18-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/18-filtered-v2.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/18.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/version-1.0.0.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/version-1.11.1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/messages/15-permit.json
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/messages/16-permit2.json
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/messages/17-uniswapx.json
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/messages/18-1inch-fusion.json
  pnpm-lock.yaml
Labels: ledgerjs

#7509 Support/filecoin evm
  libs/ledger-live-common/src/families/filecoin/bridge/utils/addresses.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/api.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/erc20/tokenAccounts.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/types.ts
  libs/ledger-live-common/src/families/filecoin/buildOptimisticOperation.ts
  libs/ledger-live-common/src/families/filecoin/deviceTransactionConfig.ts
  libs/ledger-live-common/src/families/filecoin/estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/filecoin/prepareTransaction.ts
  libs/ledger-live-common/src/families/filecoin/utils.ts
Labels: common, fork

#7508 Make the app more resilient to FF wrong usage
  .changeset/twelve-windows-melt.md
  apps/ledger-live-mobile/src/index.tsx
Labels: mobile

#7507 Feat/polygon exchange importer
  .changeset/soft-beers-walk.md
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/exchange/polygon-erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/polygon-erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/polygon-erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/polygon-erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/exchange.ts
Labels: ledgerjs

#7515 Feat/polygon exchange importer (#7507)
  .changeset/soft-beers-walk.md
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/exchange/polygon-erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/polygon-erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/polygon-erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/polygon-erc20.ts
  libs/ledgerjs/packages/cryptoassets/src/exchange.ts
Labels: ledgerjs

#7523 fix(live-13597): show error when balance minus network fees is a negative value
  .changeset/tidy-berries-perform.md
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
Labels: common

#7535 Support/filecoin evm
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/families/filecoin/bridge/utils/api.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/erc20/tokenAccounts.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/utils.ts
  libs/ledger-live-common/src/families/filecoin/errors.ts
  libs/ledger-live-common/src/families/filecoin/estimateMaxSpendable.ts
Labels: desktop, mobile, common, translations, fork

#7364 chore: add some test (integ and unit)
  libs/coin-modules/coin-stellar/jest.config.js
  libs/coin-modules/coin-stellar/jest.integ.config.js
  libs/coin-modules/coin-stellar/package.json
  libs/coin-modules/coin-stellar/src/broadcast.test.ts
  libs/coin-modules/coin-stellar/src/buildTransaction.integ.test.ts
  libs/coin-modules/coin-stellar/src/signOperation.test.ts
  libs/coin-modules/coin-stellar/src/synchronization.integ.test.ts
  libs/coin-modules/coin-stellar/src/types/bridge.fixture.ts
  libs/coin-modules/coin-tron/src/bridge/synchronization.integ.test.ts
  pnpm-lock.yaml
Labels: Stale

#7467 :sparkles:feat(llm): show WS qr code / pincode
  .changeset/good-students-drop.md
  apps/ledger-live-mobile/.unimportedrc.json
  apps/ledger-live-mobile/jest.config.js
  apps/ledger-live-mobile/src/images/bigSquareLogo.png
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/components/Dummy/Drawer.tsx
  apps/ledger-live-mobile/src/newArch/components/QueuedDrawer/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/addAccount.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/StepFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/useAddAccountViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/types/enum/addAccount.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncSettings.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/Actions.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/ActivationFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Error/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/ManageInstances/DeletionError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Synchronize/DrawerHeader.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Synchronize/QrCode.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useLedgerSyncAnalytics.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/useActivationDrawerModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/ChooseMethod.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/PinCodeDisplay.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/PinCodeInput.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/QrCodeMethod.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/types/Activation.ts
  apps/ledger-live-mobile/src/screens/Accounts/AddAccount.tsx
  apps/ledger-live-mobile/src/screens/Assets/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/accessExistingWallet.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/EmptyStatePortfolio.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/WalletSyncRow.tsx
  libs/ui/packages/native/src/components/Form/TabSelector/index.tsx
  libs/ui/packages/native/src/components/Form/index.ts
  libs/ui/packages/native/src/components/Layout/Modals/BaseModal/index.tsx
  libs/ui/packages/native/storybook/stories/Form/TabSelector.stories.tsx
  libs/ui/packages/native/storybook/stories/index.ts
Labels: mobile, ui, translations

#7525 :sparkles: (app-updates): add settings to mock app update
  .changeset/friendly-mugs-kiss.md
  .changeset/new-insects-cry.md
  .changeset/serious-rats-report.md
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/AllowDebugAppsToggle.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/MockAppUpdate.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/experimental.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/AppsScreen.tsx
  libs/env/src/env.ts
  libs/ledger-live-common/src/apps/logic.ts
Labels: desktop, mobile, common, translations

#7541 [FEAT]: Add Error screen when PinCode doesn't match
  .changeset/afraid-bats-join.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/components/Error.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useQRCode.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useWalletSyncAnalytics.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/05-PinCodeError.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/index.tsx
  apps/ledger-live-desktop/src/renderer/reducers/walletSync.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7538 [FEAT]: Add LedgerSync status banner + hook
  .changeset/many-hats-push.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncStatus.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/AlertLedgerSyncDown.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/type.hooks.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useLedgerSyncStatus.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
Labels: mobile

#7543 test(lld): fix & generate new playwright screenshots
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/OnboardingAppInstallDebug.tsx
  apps/ledger-live-desktop/tests/page/install.page.ts
  apps/ledger-live-desktop/tests/specs/onboarding/connect-device.spec.ts
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-completed-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-drawer-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-queue-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-reseted-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-1-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-2-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-install-set-of-apps-step-3-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-completed-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-drawer-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-queue-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-1-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-restore-set-of-apps-step-2-linux.png
  apps/ledger-live-desktop/tests/specs/syncOnboarding/install-set-of-apps.spec.ts-snapshots/debug-step-set-of-apps-completed-linux.png
Labels: desktop, screenshots

#7213 Feat/cardano typhonjs
  .changeset/brave-vans-marry.md
  libs/coin-modules/coin-cardano/package.json
  libs/coin-modules/coin-cardano/src/api/getNetworkInfo.ts
  libs/coin-modules/coin-cardano/src/buildOptimisticOperation.ts
  libs/coin-modules/coin-cardano/src/buildSubAccounts.ts
  libs/coin-modules/coin-cardano/src/buildTransaction.ts
  libs/coin-modules/coin-cardano/src/constants.ts
  libs/coin-modules/coin-cardano/src/deviceTransactionConfig.ts
  libs/coin-modules/coin-cardano/src/getTransactionStatus.ts
  libs/coin-modules/coin-cardano/src/hw-getAddress.ts
  libs/coin-modules/coin-cardano/src/logic.ts
  libs/coin-modules/coin-cardano/src/serialization.ts
  libs/coin-modules/coin-cardano/src/signer.ts
  libs/coin-modules/coin-cardano/src/specs.ts
  libs/coin-modules/coin-cardano/src/synchronisation.ts
  libs/coin-modules/coin-cardano/src/synchronisation.unit.test.ts
  libs/coin-modules/coin-cardano/src/types.ts
  libs/coin-modules/coin-cardano/src/typhonSerializer.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/cardano/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/cardano/bridge/mock.ts
  libs/ledger-live-common/src/families/cardano/signerSerializer.ts
  libs/ledger-live-common/src/mock/account.ts
  pnpm-lock.yaml
Labels: common, Stale, fork

#7527 [LIVE-11555][LLD][Firmware update] Update stuck at the end for old firmwares.
  .changeset/red-beans-report.md
  CODEOWNERS
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/Disclaimer.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/helpers/createFirmwareUpdateSteps.ts
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-flash-mcu.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-updating.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/types.ts
Labels: desktop

#7532 Bugfix/Live-13301 tezos min reveal gasfees
  .changeset/dry-oranges-hammer.md
  libs/coin-modules/coin-tezos/src/api/index.integ.test.ts
  libs/coin-modules/coin-tezos/src/config.ts
  libs/coin-modules/coin-tezos/src/logic/craftTransaction.ts
  libs/coin-modules/coin-tezos/src/test/config.ts
  libs/ledger-live-common/src/families/tezos/config.ts
Labels: common

#7512 :sparkles:feat(llm): add scan WS qr code
  .changeset/empty-mayflies-pump.md
  apps/ledger-live-mobile/src/components/RequiresCameraPermissions/Fallback.tsx
  apps/ledger-live-mobile/src/components/RequiresCameraPermissions/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/StepFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/useAddAccountViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/scanQRCode.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/synchronizeWithQrCode.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/ActivationFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Synchronize/BottomContainer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Synchronize/QrCode.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Synchronize/ScanQrCode.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Synchronize/ScanTargetSvg.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/useActivationDrawerModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/QrCodeMethod.tsx
Labels: mobile, translations

#7440 🏗️ [Support] Request device access within `HWDeviceProvider`
  .changeset/rude-moons-do.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useAddMember.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useRemoveMember.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useTrustchainSdk.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/testHelper/helper.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useAddMember.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useRemoveMember.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useTrustchainSdk.ts
  apps/web-tools/trustchain/components/App.tsx
  apps/web-tools/trustchain/components/AppGetOrCreateTrustchain.tsx
  apps/web-tools/trustchain/components/AppMemberRow.tsx
  apps/web-tools/trustchain/context.ts
  apps/web-tools/trustchain/device.ts
  libs/live-wallet/src/cloudsync/__tests__/sdk.test.ts
  libs/trustchain/mocks/scenarios/create2trustchainInARow.json
  libs/trustchain/mocks/scenarios/getOrCreateTransactionCases.json
  libs/trustchain/mocks/scenarios/member3implicitlyAdded.json
  libs/trustchain/mocks/scenarios/membersManySelfAdd.json
  libs/trustchain/mocks/scenarios/randomMemberTryToDestroy.json
  libs/trustchain/mocks/scenarios/removeMemberWithTheWrongSeed.json
  libs/trustchain/mocks/scenarios/removedMemberEjectedOnDeletedTrustchain.json
  libs/trustchain/mocks/scenarios/removedMemberEjectedOnGetMembers.json
  libs/trustchain/mocks/scenarios/removedMemberEjectedOnRestore.json
  libs/trustchain/mocks/scenarios/removingAMemberCreatesAnInteraction.json
  libs/trustchain/mocks/scenarios/removingYourselfIsForbidden.json
  libs/trustchain/mocks/scenarios/success.json
  libs/trustchain/mocks/scenarios/tokenExpires.json
  libs/trustchain/mocks/scenarios/twoAddMembersFollowedByDeviceAdd.json
  libs/trustchain/mocks/scenarios/userRefusesAuth.json
  libs/trustchain/mocks/scenarios/userRefusesRemoveMember.json
  libs/trustchain/package.json
  libs/trustchain/src/HWDeviceProvider.ts
  libs/trustchain/src/__tests__/integration/mock.sdk.test.ts
  libs/trustchain/src/index.ts
  libs/trustchain/src/mockSdk.ts
  libs/trustchain/src/sdk.ts
  libs/trustchain/src/simpleEncryption.sdk.test.ts
  libs/trustchain/src/types.ts
  libs/trustchain/tests/scenarios/_template.ts
  libs/trustchain/tests/scenarios/create2trustchainInARow.ts
  libs/trustchain/tests/scenarios/getOrCreateTransactionCases.ts
  libs/trustchain/tests/scenarios/member3implicitlyAdded.ts
  libs/trustchain/tests/scenarios/membersManySelfAdd.ts
  libs/trustchain/tests/scenarios/randomMemberTryToDestroy.ts
  libs/trustchain/tests/scenarios/removeMemberWithTheWrongSeed.ts
  libs/trustchain/tests/scenarios/removedMemberEjectedOnDeletedTrustchain.ts
  libs/trustchain/tests/scenarios/removedMemberEjectedOnGetMembers.ts
  libs/trustchain/tests/scenarios/removedMemberEjectedOnRestore.ts
  libs/trustchain/tests/scenarios/removingAMemberCreatesAnInteraction.ts
  libs/trustchain/tests/scenarios/removingYourselfIsForbidden.ts
  libs/trustchain/tests/scenarios/success.ts
  libs/trustchain/tests/scenarios/tokenExpires.ts
  libs/trustchain/tests/scenarios/twoAddMembersFollowedByDeviceAdd.ts
  libs/trustchain/tests/scenarios/userRefusesAuth.ts
  libs/trustchain/tests/scenarios/userRefusesRemoveMember.ts
  libs/trustchain/tests/test-helpers/recordTrustchainSdkTests.ts
  libs/trustchain/tests/test-helpers/replayTrustchainSdkTests.ts
  libs/trustchain/tests/test-helpers/types.ts
  pnpm-lock.yaml
Labels: desktop, mobile

#7548 ✨ fix subAccount
  apps/ledger-live-desktop/tests/page/account.page.ts
Labels: desktop

#7545 :sparkles:feat(llm): trustchain integration to qr code scan
  .changeset/real-apricots-rush.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/StepFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/useAddAccountViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/ActivationFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useInstanceName.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSyncWithQrCode.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useTrustchainSdk.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/useActivationDrawerModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/PinCodeInput.tsx
Labels: mobile

#7546 chore(lld): handle uncaughtException to console instead of Electron GUI
  apps/ledger-live-desktop/src/main/setup.ts
Labels: desktop

#7552 :art:fix(llm-lld): update imports of newArch
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/ActivityIndicator.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync.tsx
  apps/ledger-live-mobile/__tests__/test-renderer.tsx
  apps/ledger-live-mobile/src/components/QueuedDrawer.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/LandingPagesNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/globalSyncRefreshControl.tsx
  apps/ledger-live-mobile/src/context/AuthPass/index.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/StepFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/useAddAccountViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketList/components/BottomSection/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/FollowInstructions/useFollowInstructions.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageInstances/useManageInstanceDrawer.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/useManageKeyDrawer.ts
  apps/ledger-live-mobile/src/screens/Modals/index.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/AppsScreen.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AssetMarketSection.tsx
Labels: desktop, mobile

#7554 Fix LIVE-12926
  .changeset/pretty-cooks-grin.md
  apps/ledger-live-desktop/src/main/setup.ts
Labels: desktop, mobile, common, ui, ledgerjs, cli

#7553 [FEAT]: Set nbDigits dynamic for PinCodeInput
  .changeset/metal-dolls-whisper.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/StepFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/ActivationFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/ManageInstances/ListInstances.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSyncWithQrCode.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/PinCodeInput.tsx
Labels: mobile

#7556 [FIX]: Throw error to avoid Error: qrcode websocket prematurely closed on QRCode host
  .changeset/loud-bikes-rest.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useQRCode.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useQRCodeHost.ts
Labels: desktop, mobile

#7542 [LIVE-13575][LLD, LLM][MyLedger]: Filtering of apps depending on feature flag
  .changeset/khaki-melons-exist.md
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/AppActions.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/Item.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/index.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/AppsScreen.tsx
  libs/ledger-live-common/src/apps/filtering.test.ts
  libs/ledger-live-common/src/apps/filtering.ts
  libs/ledger-live-common/src/apps/react.ts
Labels: desktop, mobile, common

#7557 :bug:fix(lld): ws manage instances scroll
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageInstances/01-ManageInstancesStep.tsx
Labels: desktop

#7550 Fix/live 13349
  .changeset/sharp-cameras-beam.md
  libs/ledger-live-common/src/exchange/swap/hooks/useUpdateMaxAmount.ts
Labels: common

#7562 LLM - Wallet Sync Manage Key redirection added
  .changeset/hip-spies-develop.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/manageInstances.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageInstances/ManageInstancesDrawer.tsx
Labels: mobile

#7564 fix(lld): update exodus signature in fallback data
  libs/ledger-live-common/src/exchange/providers/swap.ts
Labels: common

#7561 🐛 [FIX]: GetMember :Error: [useGetMembers, null] data is undefined
  .changeset/eighty-rabbits-hope.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useGetMembers.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useGetMembers.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
  libs/trustchain/src/errors.ts
Labels: desktop, mobile, translations

#7555 [LIVE-12513] Fix(lld/customlockscreen): disallow selection of gifs
  .changeset/shaggy-avocados-suffer.md
  apps/ledger-live-desktop/src/renderer/components/CustomImage/ImportImage.tsx
Labels: desktop

#7570 [FIX]: Color on PinCodeInput
  .changeset/orange-humans-remember.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/PinCodeInput.tsx
Labels: mobile

#7558 🚦 [FEAT] Create the `llmMarketQuickActions` feature flag
  .changeset/tiny-socks-jam.md
  apps/ledger-live-mobile/src/components/MarketQuickActions/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketDetail/index.tsx
  apps/ledger-live-mobile/src/types/helpers.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#7575 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#7559 feat: add header and bottom bar animations on webview scroll [LIVE-13180]
  .changeset/plenty-chairs-refuse.md
  apps/ledger-live-mobile/src/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/index.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/types.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/HeaderContext.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/TabNavigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/AnimatedBar/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/Disclaimer/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/CategoriesList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/LoadingIndicator/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/hooks/useScrollHandler.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Header/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/BottomBar.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/RightHeader.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubMain/components/Header/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubMain/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/components/Header/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/components/SearchList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubTabs/components/Header/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubTabs/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/utils/api/categories.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/utils/api/mocks/categories.ts
  libs/ledger-live-common/src/wallet-api/useDappLogic.ts
Labels: mobile, common, translations

#7577 :bug:fix(lld): WS wording
  .changeset/heavy-bees-poke.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/walletSync.test.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7573 feat(live-12839): SWAP - setup demo3 flag and route
  .changeset/nasty-deers-clap.md
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/App/App.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/App/index.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionTarget.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Migrations/SwapMigrationUI.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/useIsSwapLiveFlagEnabled.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/hooks/useIsSwapLiveFlagEnabled.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/index.tsx
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useSwapLiveConfig.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useSwapLiveConfig.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs

#7589 [QAA-151] Fix Desktop e2e nightly slack notif color
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation

#7576 ⚡️ [QAA-160] Adding SOLANA + TON addAccount test (Speculos)
  apps/ledger-live-desktop/tests/enum/Currency.ts
  apps/ledger-live-desktop/tests/page/modal/add.account.modal.ts
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/utils/speculos.ts
Labels: desktop

#7521 feat: add sell utils
  .changeset/funny-comics-teach.md
  libs/ledgerjs/packages/hw-app-exchange/src/SellUtils.test.ts
  libs/ledgerjs/packages/hw-app-exchange/src/SellUtils.ts
  libs/ledgerjs/packages/hw-app-exchange/src/SwapUtils.ts
  libs/ledgerjs/packages/hw-app-exchange/src/index.ts
  libs/ledgerjs/packages/hw-app-exchange/src/shared-utils.ts
Labels: ledgerjs

#7594 Support/filecoin evm
  libs/ledger-live-common/src/families/filecoin/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/filecoin/estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/filecoin/getTransactionStatus.ts
Labels: common, fork

#7586 Fix: LIVE-13547 Replace expo-random lib with expo-crypto
  .changeset/stupid-coins-build.md
  apps/ledger-live-mobile/.unimportedrc.json
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  libs/coin-modules/coin-ton/package.json
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: mobile, common

#7580 feat(CN-476): add category param filter to llm platform discover section
  .changeset/soft-kings-live.md
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/hooks.ts
Labels: mobile

#7569 [LIVE-12412] fix(lld/MyLedger): custom lock screen not recognized
  .changeset/grumpy-deers-develop.md
  CODEOWNERS
  apps/ledger-live-desktop/src/renderer/screens/customImage/Step1ChooseImage.tsx
  apps/ledger-live-desktop/src/renderer/screens/customImage/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/CustomImageManagerButton.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/index.tsx
Labels: desktop

#7608 fix: typo in exchange-app
  libs/ledgerjs/packages/hw-app-exchange/src/ReturnCode.ts
Labels: ledgerjs

#7613 feat: add support for tbtc
  .changeset/famous-mails-argue.md
  libs/ledger-live-common/src/exchange/testCurrencyConfig/data/coins.ts
Labels: common

#7603 🔒 [FIX] Trustchain switch device while logged in case
  .changeset/blue-ads-smell.md
  libs/ledgerjs/packages/errors/src/index.ts
  libs/trustchain/mocks/scenarios/removeMemberWithTheWrongSeed.json
  libs/trustchain/src/HWDeviceProvider.ts
  libs/trustchain/src/sdk.ts
  libs/trustchain/tests/scenarios/removeMemberWithTheWrongSeed.ts
Labels: ledgerjs

#7610 feat: add locale and ticker query params for buy/sell
  .changeset/six-numbers-thank.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.tsx
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts
  apps/ledger-live-mobile/src/screens/PTX/BuyAndSell/index.tsx
Labels: desktop, mobile

#7614 fix: error is displayed before maxValue is loaded
  .changeset/afraid-weeks-divide.md
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
Labels: common

#7620 [QAA-166] Refacto currency for speculos tests
  apps/ledger-live-desktop/tests/enum/AppInfos.ts
  apps/ledger-live-desktop/tests/enum/Currency.ts
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/page/modal/add.account.modal.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
Labels: desktop

#7571 implemented B2CQA-817 verify empty erc20 are absent if 'hide empty to…
  apps/ledger-live-desktop/src/renderer/components/ExportOperationsBtn.tsx
  apps/ledger-live-desktop/src/renderer/icons/ExternalLink.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/RowItem.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/About/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/Export.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HideEmptyTokenAccountsToggle.tsx
  apps/ledger-live-desktop/tests/component/layout.component.ts
  apps/ledger-live-desktop/tests/page/accounts.page.ts
  apps/ledger-live-desktop/tests/page/index.ts
  apps/ledger-live-desktop/tests/page/settings.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/settings.spec.ts
  apps/ledger-live-desktop/tests/userdata/erc20-0-balance.json
Labels: desktop

#7623 [QAA] Updating slack notif emoji
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation

#7590 :lipstick:feat(llm/ui): tab selector width
  .changeset/early-plums-train.md
  libs/ui/packages/native/src/components/Form/TabSelector/index.tsx
Labels: ui

#7585 Fix/live 13594
  .changeset/polite-news-act.md
  apps/ledger-live-desktop/src/renderer/components/LiveAppDrawer.tsx
Labels: desktop

#7626 fix: hidden header should show again when searching [LIVE-13727]
  .changeset/chilled-bikes-agree.md
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/index.tsx
Labels: mobile

#7627 💄 [BUGFIX]: Add CTAs on missing screens for LedgerSync
  .changeset/hip-mangos-behave.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/useFlows.test.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useFlows.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/index.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageBackup/03-FinalStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageBackup/index.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageInstances/04-DeletionFinalStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageInstances/index.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/04-SyncFinalStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/index.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/router.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync.tsx
Labels: desktop

#7625 fix: freeze when opening a live-app [LIVE-13411]
  .changeset/tricky-forks-fly.md
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/BottomBar.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/SelectAccountButton.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/BottomBar.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/SelectAccountButton.tsx
Labels: mobile

#7601 :sparkles:feat(llm/lld): avoid watchloop when ff is off
  .changeset/.changeset/poor-gifts-grin.md
  apps/ledger-live-desktop/jest.config.js
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/scripts/resolver.js
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/manageSynchronizedInstances.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/manageYourBackup.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/shared.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/synchronize.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/useWatchWalletSync.test.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/walletSync.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useWatchWalletSync.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/testHelper/helper.ts
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.react.test.tsx
  apps/ledger-live-desktop/tests/featureFlags.ts
  apps/ledger-live-desktop/tests/jestSetup.js
  apps/ledger-live-desktop/tests/testUtils.tsx
  apps/ledger-live-mobile/__tests__/test-renderer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/useWatchWalletSync.test.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useWatchWalletSync.ts
Labels: desktop, mobile

#7634 feat: add dependencies support on wallet-api and dapp browser for transaction
  .changeset/brave-laws-begin.md
  .changeset/mighty-pillows-battle.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/modals/CreateLocalManifest/FormLiveAppSelector.tsx
  apps/ledger-live-desktop/src/renderer/modals/CreateLocalManifest/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/Body.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/steps/StepConnectDevice.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/types.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SignTransactionNavigator.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  apps/ledger-live-mobile/src/screens/SignTransaction/02-ConnectDevice.tsx
  libs/exchange-module/package.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/hw/actions/app.ts
  libs/ledger-live-common/src/platform/types.ts
  libs/ledger-live-common/src/wallet-api/useDappLogic.ts
  pnpm-lock.yaml
  tests/dummy-wallet-app/package.json
Labels: desktop, mobile, common

#7624 fix: missing query params for web3hub manifests requests [LIVE-13726]
  .changeset/eighty-candles-boil.md
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/useManifestsListViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/useWeb3HubAppViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubMain/components/Header/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/components/SearchList/useSearchListViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/utils/api/manifests.ts
Labels: mobile

#7632 Ledger Sync - Fixed the getOrCreateTrustchain when another instance deleted the trustchain
  .changeset/heavy-eggs-protect.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/walletSync.hooks.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/walletSync.hooks.ts
  libs/trustchain/src/mockSdk.ts
  libs/trustchain/src/sdk.ts
  libs/trustchain/src/types.ts
Labels: desktop, mobile

#7629 chore: add translation for back to quote CTA in WebPTXPlayer
  .changeset/soft-windows-know.md
  apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/TopBar.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/WebPTXPlayer/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#7633 💄 [FEAT]: Rework QRCode Step in LLD + Add TabSelector in react-ui
  .changeset/fuzzy-zebras-boil.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useFlows.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useWalletSyncAnalytics.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/02-QRCodeStep.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ui/packages/react/package.json
  libs/ui/packages/react/src/components/form/TabSelector/TabSelector.stories.tsx
  libs/ui/packages/react/src/components/form/TabSelector/index.tsx
  libs/ui/packages/react/src/components/form/index.ts
  pnpm-lock.yaml
Labels: desktop, ui, translations

#7642 [LIVE-13694][LLD] Fix app install hanging on Windows due to performance monitoring related stuff
  .changeset/eleven-rats-brush.md
  apps/ledger-live-desktop/src/sentry/internal.ts
  libs/coin-modules/coin-bitcoin/src/bridge/js.ts
  libs/coin-modules/coin-bitcoin/src/synchronisation.ts
  libs/ledger-live-common/src/families/bitcoin/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/bitcoin/setup.ts
  libs/ledger-live-common/src/performance.test.ts
  libs/ledger-live-common/src/performance.ts
Labels: desktop, common

#7648 [FIX]: Fix starting step when WS is activated and you want to sync again
  .changeset/tame-rocks-lay.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
Labels: mobile

#7631 [QAA129] New send test case
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/index.tsx
  apps/ledger-live-desktop/tests/component/layout.component.ts
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/settings.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-2ETH-2BNB.json
Labels: desktop

#7572 :sparkles: (app-data): Adds data backup and restore to install / uninstall app
  .changeset/eight-jeans-marry.md
  .changeset/rude-ducks-watch.md
  .changeset/smart-hotels-knock.md
  .changeset/tough-coats-buy.md
  apps/ledger-live-desktop/src/renderer/App.tsx
  apps/ledger-live-desktop/src/renderer/hooks/storage-provider/DesktopAppDataStorageProvider.ts
  apps/ledger-live-desktop/src/renderer/hooks/storage-provider/useAppDataStorage.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/Dashboard.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/index.tsx
  apps/ledger-live-mobile/src/AppProviders.tsx
  apps/ledger-live-mobile/src/hooks/storageProvider/MobileAppDataStorageProvider.ts
  apps/ledger-live-mobile/src/hooks/storageProvider/useAppDataStorage.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/index.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/shared.ts
  libs/device-core/src/commands/use-cases/app-backup/backupAppStorage.test.ts
  libs/device-core/src/commands/use-cases/app-backup/backupAppStorage.ts
  libs/device-core/src/commands/use-cases/app-backup/getAppStorageInfo.test.ts
  libs/device-core/src/commands/use-cases/app-backup/getAppStorageInfo.ts
  libs/device-core/src/commands/use-cases/app-backup/restoreAppStorage.test.ts
  libs/device-core/src/commands/use-cases/app-backup/restoreAppStorage.ts
  libs/device-core/src/commands/use-cases/app-backup/restoreAppStorageCommit.test.ts
  libs/device-core/src/commands/use-cases/app-backup/restoreAppStorageCommit.ts
  libs/device-core/src/commands/use-cases/app-backup/restoreAppStorageInit.test.ts
  libs/device-core/src/commands/use-cases/app-backup/restoreAppStorageInit.ts
  libs/device-core/src/index.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/apps/inlineAppInstall.ts
  libs/ledger-live-common/src/apps/logic.test.ts
  libs/ledger-live-common/src/apps/mock.ts
  libs/ledger-live-common/src/apps/react.ts
  libs/ledger-live-common/src/apps/runner.ts
  libs/ledger-live-common/src/apps/types.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/backupAppData.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/backupAppDataUseCase.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/restoreAppData.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/restoreAppDataUseCase.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/types.ts
  libs/ledger-live-common/src/device/use-cases/listAppsUseCase.ts
  libs/ledger-live-common/src/featureFlags/firebaseFeatureFlags.ts
  libs/ledger-live-common/src/hw/installAppWithRestore.ts
  libs/ledger-live-common/src/hw/uninstallAppWithBackup.ts
Labels: desktop, mobile, common, live-devices

#7654 📝 [FIX]: Minor copy updates for LedgerSync
  .changeset/thirty-coats-laugh.md
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7606 🤑 [FEAT] Add currency support to quick actions
  .changeset/fresh-cows-wait.md
  apps/ledger-live-mobile/src/components/MarketQuickActions/index.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/hooks/useQuickActions.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketDetail/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioQuickActionsBar.tsx
Labels: mobile, translations

#7657 🐛 (lld) [LIVE-13661]: prevent the use of webp for custom lock screen
  .changeset/rude-kings-breathe.md
  apps/ledger-live-desktop/src/renderer/components/CustomImage/ImportImage.tsx
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts
  apps/ledger-live-desktop/tests/specs/manager/sample-custom-image.jpg
  apps/ledger-live-desktop/tests/specs/manager/sample-custom-image.webp
Labels: desktop

#7655 📝 [FIX]:Minor copy updates for LedgerSync (LLM)
  .changeset/fair-pandas-leave.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/scanQRCode.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/synchronizeWithQrCode.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncSettings.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Synchronize/DrawerHeader.tsx
Labels: desktop, mobile, translations

#7658 [QAA-143] Improving Allure report
  apps/ledger-live-desktop/tests/utils/allureUtils.ts
  apps/ledger-live-desktop/tests/utils/speculos.ts
Labels: desktop

#7635 🤲 [FEAT] Create accounts with the receive market quick action
  .changeset/tame-carrots-cry.md
  apps/ledger-live-mobile/src/hooks/useQuickActions.ts
Labels: mobile

#7651 🎭 Add more descriptive mobile device name to the trustchain
  .changeset/nine-toes-share.md
  apps/ledger-live-mobile/__tests__/jest-setup.js
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useInstanceName.ts
  pnpm-lock.yaml
Labels: mobile

#7630 feature: add new card dapp in LLD entry point
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/card/CardPlatformApp.tsx
  apps/ledger-live-desktop/src/renderer/screens/card/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/wallet-api/constants.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs

#7661 [BUGFIX]: Add fromLedgerSyncOnboarding to trigger right onClose action for Activation
  .changeset/fresh-sloths-boil.md
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationSuccess.tsx
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Onboarding/steps/accessExistingWallet.tsx
Labels: mobile

#7662 ✏️[FIX]: More precise Instances names for LLD Instances
  .changeset/new-dolphins-drum.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useTrustchainSdk.ts
Labels: desktop

#7644 LIVE-13753 use mainaccount unit to display fees if no fees options
  .changeset/lazy-badgers-refuse.md
  apps/ledger-live-mobile/Gemfile.lock
  apps/ledger-live-mobile/src/families/evm/EvmFeesStrategy.tsx
Labels: mobile

#7649 [QAA-119][Detox] Add Xray export of result
  .github/workflows/test-mobile-e2e.yml
  apps/ledger-live-mobile/e2e/xray.formater.sh
Labels: mobile, automation

#7646 Feat/wallet sync synchronize via qr code from mobile to desktop
  .changeset/dirty-drinks-roll.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/manageSynchronizedInstances.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/manageYourBackup.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/useWatchWalletSync.test.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/walletSync.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/components/Error.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useInstanceName.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useQRCode.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useTrustchainSdk.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useWalletSyncAnalytics.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/02-DeviceActionStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/05-UnbackedError.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/index.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/router.tsx
  apps/ledger-live-desktop/src/renderer/reducers/walletSync.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/StepFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/useAddAccountViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/synchronizeWithQrCode.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/useWatchWalletSync.test.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/ActivationFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Error/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Synchronize/QrCode.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useLedgerSyncAnalytics.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useQRCodeHost.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSyncWithQrCode.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/useActivationDrawerModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/QrCodeMethod.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/SyncError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/UnbackedError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/types/Activation.ts
  apps/web-tools/trustchain/components/App.tsx
  apps/web-tools/trustchain/components/AppQRCodeCandidate.tsx
  apps/web-tools/trustchain/components/AppQRCodeHost.tsx
  libs/trustchain/src/errors.ts
  libs/trustchain/src/qrcode/index.test.ts
  libs/trustchain/src/qrcode/index.ts
  libs/trustchain/src/qrcode/types.ts
Labels: desktop, mobile, translations

#7674 fix(speculos): adding new data-testid
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.tsx
  apps/ledger-live-desktop/tests/page/drawer/drawer.ts
Labels: desktop

#7669 fix(live-13764): show gasPrice as error instead of warning
  .changeset/poor-snails-thank.md
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
Labels: common

#7668 🗝️ [FIX]: llm "Delete my encryption key" action on wrong seed errors
  .changeset/selfish-poets-arrive.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useAddMember.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useFollowInstructionDrawer.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useRemoveMember.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationInstructionDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/FollowInstructions/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageInstances/DeletionInstructionDrawer.tsx
Labels: mobile

#7660 refactor: remove old manifest id for buy-sell "multibuy-v2"
  .changeset/real-pets-travel.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.tsx
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts
  apps/ledger-live-mobile/src/components/RootNavigator/ExchangeLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs

#7675 fix: use correct i18nkey for swap error code
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/WebviewErrorDrawer/index.tsx
Labels: desktop

#7677 ⚗️ [SUPPORT] : Revamp LedgerSyncDebugger
  .changeset/cuddly-peas-look.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useLedgerSyncInfo.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Manage/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/SimpleHashTools/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/WalletSyncDebugger/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SimpleHashTools/SimpleHashTools.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/WalletSync/Checker/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/WalletSync/Generator/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/WalletSync/WalletSyncTester.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7638 Synchronize one LLD instance using Ledger Sync then delete the backup
  apps/ledger-live-desktop/tests/enum/AppInfos.ts
  apps/ledger-live-desktop/tests/enum/Currency.ts
  apps/ledger-live-desktop/tests/enum/DeviceLabels.ts
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/page/drawer/ledger.sync.drawer.ts
  apps/ledger-live-desktop/tests/page/index.ts
  apps/ledger-live-desktop/tests/page/modal/add.account.modal.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/page/portfolio.page.ts
  apps/ledger-live-desktop/tests/page/settings.page.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delete.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/manage.ledgersync.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
  apps/ledger-live-desktop/tests/userdata/ledgerSync.json
  apps/ledger-live-desktop/tests/utils/speculos.ts
  apps/ledger-live-desktop/tests/utils/textParserUtils.ts
Labels: desktop

#7641 Fix/bitcoin fee drawer
  .changeset/clean-clouds-travel.md
  apps/ledger-live-desktop/src/renderer/families/bitcoin/SendAmountFields.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#7680 fix: uses native segwit empty address to compute btc fees
  .changeset/rude-wombats-begin.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#7686 Fix LedgerSync test - Speculos + Adding TMS link
  apps/ledger-live-desktop/tests/specs/speculos/manage.ledgersync.spec.ts
Labels: desktop

#7688 [e2e] Added missing step descriptions
  apps/ledger-live-desktop/tests/component/modal.component.ts
  apps/ledger-live-desktop/tests/page/modal/add.account.modal.ts
Labels: desktop

#7689 [FEAT]: Update ManageKey flow copy
  .changeset/three-melons-beam.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/ManageKey/Confirm.tsx
Labels: mobile, translations

#7682 fix: swap live app fee drawer error check sync
  .changeset/curly-seahorses-collect.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawerLiveApp/index.tsx
Labels: desktop

#7694 fix: uses correct status for fee drawers and disable button if any er…
  .changeset/fifty-eels-breathe.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawerLiveApp/index.tsx
Labels: desktop

#7684 feat: added new env to bypass app requirements to init swaps
  .changeset/ten-files-live.md
  libs/env/src/env.ts
  libs/ledger-live-common/src/exchange/swap/utils/isIntegrationTestEnv.ts
  libs/ledger-live-common/src/hw/actions/startExchange.ts
Labels: common

#7679 [LIVE-10655][LLD] Fix removal of custom lock screen
  .changeset/twenty-bottles-leave.md
  apps/ledger-live-desktop/src/renderer/screens/customImage/Step1ChooseImage.tsx
  apps/ledger-live-desktop/src/renderer/screens/customImage/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/CustomImageManagerButton.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/RemoveCustomImage.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/index.tsx
  libs/ledger-live-common/src/hw/customLockScreenRemove.test.ts
  libs/ledger-live-common/src/hw/customLockScreenRemove.ts
Labels: desktop, common

#7700 [BUGFIX]: Update Analytics LedgerSync LLD
  .changeset/stupid-dodos-bow.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/shared.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/components/Error.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/components/GenericStatusDisplay.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useFlows.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useLedgerSyncAnalytics.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/01-CreateOrSynchronizeStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/04-ActivationFinalStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/index.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Manage/index.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageBackup/01-ManageBackupStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageBackup/02-DeleteBackupStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageBackup/03-FinalStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageInstances/01-ManageInstancesStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageInstances/04-DeletionError.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageInstances/04-DeletionFinalStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/01-SyncModeStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/02-QRCodeStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/03-PinCodeStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/04-SyncFinalStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/05-PinCodeError.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/05-UnbackedError.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/06-ActivationAlreadyCreatedSame.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/07-ActivationAlreadyCreatedOther.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/index.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/router.tsx
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/reducers/walletSync.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync.tsx
Labels: desktop

#7691 Feat/wallet sync loading screen on initialization
  .changeset/good-boats-breathe.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useAddMember.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useFlows.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useLedgerSyncAnalytics.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useLoadingStep.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useQRCode.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useWatchWalletSync.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/04-LoadingStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/05-ActivationFinalStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/06-ActivationOrSyncError.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/index.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/index.tsx
  apps/ledger-live-desktop/src/renderer/actions/walletSync.ts
  apps/ledger-live-desktop/src/renderer/reducers/walletSync.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/WalletSyncNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/WalletSyncNavigator.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useAddMember.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useLedgerSyncAnalytics.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useLoadingStep.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useQRCodeHost.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSyncWithQrCode.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationLoading.tsx
  libs/live-wallet/src/walletsync/createWalletSyncWatchLoop.ts
Labels: desktop, mobile, translations

#7699 Fix: Add wait for locators to be visible before interaction
  apps/ledger-live-desktop/tests/page/drawer/ledger.sync.drawer.ts
Labels: desktop

#7563 LIVE-13528 Chore/remove pivx code
  .changeset/seven-parrots-listen.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/tests/mocks/serviceStatusHelpers.ts
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-darwin.json
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-linux.json
  apps/ledger-live-mobile/__mocks__/api/market/coinsList.json
  apps/ledger-live-mobile/android/dapp-store/config.yaml
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/utils/api/mocks/manifests.ts
  apps/ledger-live-mobile/src/screens/Settings/Debug/__mocks__/serviceStatus.ts
  apps/web-tools/live-common-setup.ts
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/coin-modules/coin-bitcoin/.unimportedrc.json
  libs/coin-modules/coin-bitcoin/src/bridge.integration.ts
  libs/coin-modules/coin-bitcoin/src/datasets/pivx.ts
  libs/coin-modules/coin-bitcoin/src/logic.ts
  libs/coin-modules/coin-bitcoin/src/networks.ts
  libs/coin-modules/coin-bitcoin/src/specs.ts
  libs/coin-modules/coin-bitcoin/src/wallet-btc/__tests__/utils.test.ts
  libs/coin-modules/coin-bitcoin/src/wallet-btc/__tests__/xpub.syncing.integration.test.ts
  libs/coin-modules/coin-bitcoin/src/wallet-btc/crypto/factory.ts
  libs/coin-modules/coin-bitcoin/src/wallet-btc/crypto/index.ts
  libs/coin-modules/coin-bitcoin/src/wallet-btc/crypto/pivx.ts
  libs/coin-modules/coin-bitcoin/src/wallet-btc/crypto/types.ts
  libs/ledger-live-common/explorers-config.md
  libs/ledger-live-common/src/__tests__/migration/account-migration.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/__tests__/test-helpers/serviceStatus.ts
  libs/ledger-live-common/src/appSupportsQuitApp.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/families/bitcoin/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/bitcoin/config.ts
  libs/ledger-live-common/src/families/bitcoin/docs/BitcoinAddresses.md
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/coins.json
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-cryptoassets/src/slip44.ts
  libs/live-countervalues/src/mock.ts
Labels: desktop, mobile, common, ledgerjs, cli

#7693 [LIVE-13826] Fix access to My Ledger when listApps APDU not supported
  .changeset/thick-fans-give.md
  libs/ledger-live-common/src/apps/listApps.test.ts
  libs/ledger-live-common/src/apps/listApps.ts
  libs/ledger-live-common/src/hw/connectManager.ts
Labels: common

#7697 [FEAT]: User connects backup to instance with same backup or different backup
  .changeset/fluffy-peaches-dream.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Error/Detailed.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Error/Simple.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Error/SpecificError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/ManageInstances/DeletionError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useAddMember.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useFollowInstructionDrawer.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useLedgerSyncAnalytics.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSpecificError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/FollowInstructions/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageInstances/ManageInstancesDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/SyncError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/UnbackedError.tsx
Labels: mobile, translations

#7698 :sparkles: (device) [LIVE-13852]: implement delete app data use case
  .changeset/tall-mayflies-study.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/device-core/src/commands/use-cases/app-backup/restoreAppStorageInit.ts
  libs/device-core/src/errors.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/device/use-cases/appDataBackup/deleteAppData.test.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/deleteAppData.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/deleteAppDataUseCase.test.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/deleteAppDataUseCase.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/deleteAppDataUseCaseDI.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/restoreAppData.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/types.ts
Labels: desktop, mobile, common, translations

#7709 feat: btc and evm fee drawer display amount errors when editing fees
  .changeset/popular-chairs-melt.md
  apps/ledger-live-desktop/src/renderer/families/bitcoin/SendAmountFields.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawerLiveApp/index.tsx
Labels: desktop

#7718 [QAA-181] Made speculos spawning code common for LLM use
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/utils/allureUtils.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#7690 🐦‍🔥 [FIX]: Refresh ledger sync QR code on expiration
  .changeset/sweet-spies-sell.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useQRCode.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useQRCodeHost.ts
  libs/ledgerjs/packages/errors/src/helpers.ts
  libs/trustchain/src/errors.ts
  libs/trustchain/src/qrcode/index.ts
Labels: desktop, mobile, ledgerjs

#7721 [FIX]: Wrong Device name was displayed in FollowInstructions
  .changeset/four-planes-allow.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/FollowInstructions/index.tsx
Labels: mobile

#7715 fix: persistant gasOptions between evm chains creating crashes
  .changeset/pink-rings-deny.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop
