Repository LedgerHQ/ledger-live, pull requests merged in 2024-10, with the labels that each got.

#7953 fix: wording for loading screen of Ledger Sync
  .changeset/seven-geese-play.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/components/LoadingStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/04-LoadingStep.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7882 fix: pass account to asset page
  .changeset/plenty-hornets-turn.md
  apps/ledger-live-desktop/src/renderer/components/BalanceInfos/index.tsx
  apps/ledger-live-desktop/src/renderer/components/ContextMenu/AccountContextMenu.tsx
  apps/ledger-live-desktop/src/renderer/modals/NoFundsStake/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountHeaderActions.tsx
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.tsx
  apps/ledger-live-desktop/src/renderer/screens/asset/BalanceSummary.tsx
  apps/ledger-live-desktop/src/renderer/screens/asset/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/GlobalSummary.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/hooks/useMarketActions.ts
Labels: desktop

#7929 Ledger Sync - Fix side effect causing the synchronization to stop working
  .changeset/brown-ducks-rule.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useWatchWalletSync.ts
  apps/ledger-live-desktop/src/renderer/reducers/wallet.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useWatchWalletSync.ts
  apps/ledger-live-mobile/src/reducers/wallet.ts
  apps/web-tools/trustchain/components/AppAccountsSync.tsx
  libs/live-wallet/src/walletsync/incrementalUpdates.ts
Labels: desktop, mobile

#7951 :sparkles:(lld): add actions in ordis drawer
  .changeset/lazy-tips-report.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DetailsDrawer/Actions.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DetailsDrawer/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/screens/Account/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/bitcoinPage.test.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useCreateLinks.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useCustomImage.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useNftLinks.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useOpenHideCollectionModal.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/DetailDrawer.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/enum/Links.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/utils/createOrdinalExplorerUrl.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/utils/typeGuardsChecker.ts
  apps/ledger-live-desktop/src/renderer/icons/MagicEden.tsx
  libs/live-nft/src/api/types.ts
Labels: desktop

#7955 LLM - fix wording for ledger sync on activation
  .changeset/yellow-flowers-march.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/addAccount.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/scanQRCode.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/synchronizeWithQrCode.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncActivation.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/DeviceSelection/index.tsx
Labels: mobile, translations

#7943 [LIVE-14281] Feature - EIP712 supports filters with empty arrays
  .changeset/breezy-bottles-jam.md
  libs/ledgerjs/packages/hw-app-eth/src/modules/EIP712/index.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/EIP712/types.ts
  libs/ledgerjs/packages/hw-app-eth/tests/EIP712/filtered-signMessage.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/EIP712/noFilter-signMessage.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/CAL.ts
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/0-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/1-filtered-empty-array-1-level-v2.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/1-filtered-empty-array-2-levels-v2.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/1-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/10-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/11-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/12-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/12-filtered.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/13-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/13-filtered.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/14-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/15-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/15-filtered-v2.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/16-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/16-filtered-v2.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/17-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/17-filtered-v2.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/17-filtered.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/18-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/18-filtered-v2.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/2-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/3-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/3-filtered.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/4-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/5-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/5-filtered.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/6-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/7-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/8-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/9-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/version-1.12.0.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/messages/1-empty-array-1-level.json
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/messages/1-empty-array-2-levels.json
Labels: ledgerjs

#7958 fix: improve ledger sync tests
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/manageSynchronizedInstances.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/manageYourBackup.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/synchronize.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/walletSync.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/manageKey.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/scanQRCode.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/synchronizeWithQrCode.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncActivated.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncActivation.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncSettings.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncStatus.integration.test.tsx
Labels: desktop, mobile

#7959 chore(llm): 🔍 accept analytics during onboarding tests
  .changeset/five-ties-sniff.md
  apps/ledger-live-mobile/e2e/page/onboarding/onboardingSteps.page.ts
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantA/Main.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/Main.tsx
Labels: mobile

#7909 LLM - Use Production Firebase on iOS Nightly Builds
  .changeset/stupid-students-clap.md
  apps/ledger-live-mobile/.env.ios.nightly
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/mobile-env.md
Labels: mobile

#7938 [QAA-168] Adding new send test cases
  apps/ledger-live-desktop/tests/component/layout.component.ts
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/models/Transaction.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/specs/speculos/delete.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-checkSendAddress.json
Labels: desktop

#7930 Bugfix/cardano sync check
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/steps/StepDelegation.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/steps/StepSummary.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/SendAmountFields/MemoField.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/SendAmountFields/MemoValueField.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/SendAmountFields/index.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/UndelegateFlowModal/steps/StepSummary.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/cardano/UndelegationFlow/01-Summary.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/coin-modules/coin-cardano/src/buildTransaction.ts
  libs/coin-modules/coin-cardano/src/constants.ts
  libs/coin-modules/coin-cardano/src/errors.ts
  libs/coin-modules/coin-cardano/src/estimateMaxSpendable.ts
  libs/coin-modules/coin-cardano/src/getTransactionStatus.ts
  libs/coin-modules/coin-cardano/src/logic.ts
  libs/coin-modules/coin-cardano/src/logic.unit.test.ts
  libs/coin-modules/coin-cardano/src/prepareTransaction.ts
  libs/coin-modules/coin-cardano/src/signOperation.ts
  libs/coin-modules/coin-cardano/src/transaction.ts
  libs/coin-modules/coin-cardano/src/types.ts
Labels: desktop, mobile, translations, fork

#7956 fix(coin-solana): transition of outdated Solana GetStakeActivation endpoint
  .changeset/shy-apples-tickle.md
  libs/coin-modules/coin-solana/src/api/chain/account/index.ts
  libs/coin-modules/coin-solana/src/api/chain/account/parser.ts
  libs/coin-modules/coin-solana/src/api/chain/account/stake.ts
  libs/coin-modules/coin-solana/src/api/chain/index.ts
  libs/coin-modules/coin-solana/src/api/chain/stake-activation/delegation.ts
  libs/coin-modules/coin-solana/src/api/chain/stake-activation/index.ts
  libs/coin-modules/coin-solana/src/api/chain/stake-activation/rpc.ts
  libs/coin-modules/coin-solana/src/api/chain/validators/bignum.ts
Labels: fork

#7957 LLM - Fixed a spacing issue when there was a category with all its content cards dismissed by the user
  .changeset/wild-cars-shop.md
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsLocation.tsx
Labels: mobile

#7961 Taking speculos screenshot only for Speculos tests
  apps/ledger-live-desktop/tests/utils/allureUtils.ts
Labels: desktop

#7963 chore(llm): 🚦 create `llmMemoTag` feature flag
  .changeset/bright-months-fold.md
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#7973 Fetch feature flags every 5 minutes
  .changeset/strange-news-compete.md
  apps/ledger-live-desktop/src/renderer/components/FirebaseRemoteConfig.tsx
  apps/ledger-live-mobile/src/components/FirebaseRemoteConfig.tsx
Labels: desktop, mobile

#7978 Support/fix ada fees (#7965)
  .changeset/thick-foxes-repair.md
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/steps/StepDelegation.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/steps/StepSummary.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/SendAmountFields/MemoField.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/SendAmountFields/MemoValueField.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/SendAmountFields/index.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/UndelegateFlowModal/steps/StepSummary.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/cardano/UndelegationFlow/01-Summary.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/coin-modules/coin-cardano/src/bridge/index.ts
  libs/coin-modules/coin-cardano/src/buildTransaction.ts
  libs/coin-modules/coin-cardano/src/config.ts
  libs/coin-modules/coin-cardano/src/errors.ts
  libs/coin-modules/coin-cardano/src/estimateMaxSpendable.ts
  libs/coin-modules/coin-cardano/src/getTransactionStatus.ts
  libs/coin-modules/coin-cardano/src/logic.ts
  libs/coin-modules/coin-cardano/src/logic.unit.test.ts
  libs/coin-modules/coin-cardano/src/prepareTransaction.ts
  libs/coin-modules/coin-cardano/src/signOperation.ts
  libs/coin-modules/coin-cardano/src/transaction.ts
  libs/coin-modules/coin-cardano/src/types.ts
  libs/ledger-live-common/src/families/cardano/config.ts
  libs/ledger-live-common/src/families/cardano/setup.ts
Labels: desktop, mobile, common, translations

#7982 Smartling on-demand translation delivery from hotfix
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#7980 Add Ledger Key Ring Protocol commands in CLI
  apps/cli/README.md
  apps/cli/package.json
  apps/cli/src/commands-index.ts
  apps/cli/src/commands/live/ledgerKeyRingProtocol.ts
  package.json
  pnpm-lock.yaml
Labels: cli

#7971 Feat/thorswap swap btc
  .changeset/three-turtles-smile.md
  libs/coin-modules/coin-bitcoin/src/wallet-btc/xpub.ts
  libs/ledger-live-common/src/exchange/platform/transfer/completeExchange.ts
  libs/ledger-live-common/src/exchange/providers/getProvidersData.test.ts
  libs/ledger-live-common/src/exchange/providers/getProvidersData.ts
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
Labels: common

#7967 Support/qaa 259
  apps/ledger-live-desktop/tests/component/modal.component.ts
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/AppInfos.ts
  apps/ledger-live-desktop/tests/enum/Currency.ts
  apps/ledger-live-desktop/tests/enum/DeviceLabels.ts
  apps/ledger-live-desktop/tests/page/index.ts
  apps/ledger-live-desktop/tests/page/modal/delegate.modal.ts
  apps/ledger-live-desktop/tests/specs/accounts/delegate.smoke.spec.ts
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-delegate.json
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#7874 [LIVE-11478] Support for Uniswap V3 plugin
  .changeset/quiet-feet-wink.md
  .changeset/rich-dryers-crash.md
  libs/coin-modules/coin-evm/src/signOperation.ts
  libs/ledgerjs/packages/hw-app-eth/.unimportedrc.json
  libs/ledgerjs/packages/hw-app-eth/README.md
  libs/ledgerjs/packages/hw-app-eth/src/Eth.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/Uniswap/constants.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/Uniswap/decoders.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/Uniswap/index.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/Uniswap/types.ts
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/index.ts
  libs/ledgerjs/packages/hw-app-eth/src/services/types.ts
  libs/ledgerjs/packages/hw-app-eth/src/utils.ts
  libs/ledgerjs/packages/hw-app-eth/tests/Eth.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/Uniswap/decoders.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/Uniswap/index.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/utils.ts
  libs/ledgerjs/packages/hw-app-eth/tests/ledgerService.unit.test.ts
Labels: ledgerjs

#7983 Add Ledger Sync commands to the CLI
  apps/cli/README.md
  apps/cli/src/commands-index.ts
  apps/cli/src/commands/live/ledgerSync.ts
Labels: cli

#7988 fix: ts error on cli
  apps/cli/src/commands/live/ledgerSync.ts
Labels: cli

#7990 Support - Update tests for Uniswap for new cryptoassets-evm-signatures lib
  libs/ledgerjs/packages/hw-app-eth/tests/Uniswap/index.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/ledgerService.unit.test.ts
Labels: ledgerjs

#7949 Send nightly iOS builds to new "Ledger Live (nightly)" app in Testflight
  apps/ledger-live-mobile/fastlane/.env.ios.nightly
  apps/ledger-live-mobile/fastlane/Fastfile
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Contents.json
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-20x20@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-20x20@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-29x29@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-29x29@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-40x40@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-40x40@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-57x57@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-60x60@2x 1.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-60x60@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-76x76@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-76x76@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/ItunesArtwork@2x.png
  apps/ledger-live-mobile/mobile-env.md
  apps/ledger-live-mobile/scripts/mobile-env-md.mjs
Labels: mobile

#7995 :technologist:(lld): add toggle for analytics console
  .changeset/kind-numbers-travel.md
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/EnableAnalyticsConsole.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7997 Revert "Send nightly iOS builds to new "Ledger Live (nightly)" app in Testflight"
  apps/ledger-live-mobile/fastlane/.env.ios.nightly
  apps/ledger-live-mobile/fastlane/Fastfile
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Contents.json
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-20x20@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-20x20@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-29x29@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-29x29@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-40x40@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-40x40@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-57x57@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-60x60@2x 1.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-60x60@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-76x76@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-76x76@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/ItunesArtwork@2x.png
  apps/ledger-live-mobile/mobile-env.md
  apps/ledger-live-mobile/scripts/mobile-env-md.mjs
Labels: mobile

#7999 fix: flaky test e2e desktop
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts
Labels: desktop

#7998 Bugfix/LIVE-14283 xrp node update
  .changeset/lazy-oranges-retire.md
  libs/ledger-live-common/src/families/xrp/config.ts
Labels: common

#7966 :sparkles:(lld): add hide inscription feature
  .changeset/sweet-impalas-destroy.md
  apps/ledger-live-desktop/src/newArch/components/ContextMenu/CollectibleContextMenu.tsx
  apps/ledger-live-desktop/src/newArch/components/ContextMenu/createContextMenuItems.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DetailsDrawer/Actions.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DetailsDrawer/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/HideModal/Body.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/HideModal/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/Item/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/helpers.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/useInscriptionsModel.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/screens/Account/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/screens/Account/useBitcoinAccountModel.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/bitcoinPage.test.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useHideInscriptions.ts
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/modals/index.ts
  apps/ledger-live-desktop/src/renderer/modals/types.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenInscriptions/components/Row.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenInscriptions/components/styledComponents.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenInscriptions/components/useRowModel.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenInscriptions/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenInscriptions/useHiddenInscriptionsModel.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenNFTCollections.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/testUtils.tsx
  libs/live-nft-react/src/hooks/__tests__/useFetchOrdinalByTokenId.test.tsx
  libs/live-nft-react/src/hooks/useFetchOrdinalByTokenId.ts
  libs/live-nft-react/src/index.ts
  libs/live-nft-react/src/queryKeys.ts
  libs/live-nft/src/api/simplehash.ts
Labels: desktop, translations

#8003 Fix app position with external display on windows
  .changeset/pink-pugs-press.md
  apps/ledger-live-desktop/src/main/window-lifecycle.ts
Labels: desktop

#7917 Bugfix/solana priority fees (#7916)
  .changeset/popular-keys-collect.md
  libs/coin-modules/coin-solana/package.json
  libs/coin-modules/coin-solana/src/api/cached.ts
  libs/coin-modules/coin-solana/src/api/chain/index.ts
  libs/coin-modules/coin-solana/src/api/chain/web3.ts
  libs/coin-modules/coin-solana/src/bridge.integration.test.ts
  libs/coin-modules/coin-solana/src/buildTransaction.ts
  libs/coin-modules/coin-solana/src/synchronization.ts
  libs/coin-modules/coin-solana/src/tx-fees.ts
  libs/coin-modules/coin-solana/src/utils.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/apps/config.ts
  libs/ledger-live-common/src/families/solana/bridge/mock-data.ts
  pnpm-lock.yaml
Labels: common

#7992 [LIVE-14339] Support - Enforce WS version even when bundle without pnpm in the monorepo
  .changeset/tender-icons-impress.md
  libs/ledgerjs/packages/hw-app-eth/package.json
Labels: ledgerjs

#7801 [Coin-Fmk] Some clean-up
  libs/coin-framework/src/api/index.ts
  libs/coin-framework/src/cache.ts
  libs/coin-framework/src/derivation.ts
  libs/coin-framework/src/errors.test.ts
  libs/coin-framework/src/network.ts
  libs/coin-modules/coin-algorand/src/api/algodv2.ts
  libs/coin-modules/coin-algorand/src/api/index.ts
  libs/coin-modules/coin-algorand/src/api/indexer.ts
  libs/ledgerjs/packages/types-live/src/derivation.ts
Labels: ledgerjs

#8015 chore: add retry attempts on ios build workflow to avoid pods issues
  .github/workflows/build-mobile-reusable.yml
Labels: automation

#8010 :bug:(llm): lockscreen with LS RELEASE
  .changeset/old-bats-swim.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/useAddAccountViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
Labels: mobile

#8009 :bug:(llm): lockscreen with LS
  .changeset/old-bats-swim.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/useAddAccountViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
Labels: mobile

#8012 [FIX/LIVE-9213]: add missing default parent account parameter for swap live app.
  .changeset/three-islands-carry.md
  apps/ledger-live-desktop/src/renderer/components/BalanceInfos/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.tsx
Labels: desktop

#7996 💚 (ci): Remove tag push on prerelease
  .github/workflows/release-final-nightly.yml
  .github/workflows/release-prerelease.yml
Labels: automation

#8000 feat: display name history
  .changeset/wild-poems-play.md
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.ts
Labels: common

#8014 Chore: pass os parameter to earn dashboard
  .changeset/heavy-peas-cover.md
  apps/ledger-live-desktop/src/renderer/screens/earn/index.tsx
  apps/ledger-live-mobile/src/screens/PTX/Earn/index.tsx
Labels: desktop, mobile

#8001 Revert reverted "Send nightly iOS builds to new *Ledger Live (nightly)* app in Testflight"
  apps/ledger-live-mobile/fastlane/.env.ios.nightly
  apps/ledger-live-mobile/fastlane/Fastfile
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Contents.json
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-20x20@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-20x20@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-29x29@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-29x29@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-40x40@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-40x40@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-57x57@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-60x60@2x 1.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-60x60@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-76x76@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-76x76@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/ItunesArtwork@2x.png
  apps/ledger-live-mobile/mobile-env.md
  apps/ledger-live-mobile/scripts/mobile-env-md.mjs
Labels: mobile

#7975 CN-551: Entrypoints for ACRE bitcoin yield
  apps/ledger-live-desktop/src/renderer/families/bitcoin/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/bitcoin/index.ts
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoin/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketList/components/MarketRowItem.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-firstAccountPage-linux.png
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/families/bitcoin/accountActions.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations, screenshots

#7989 feat(llm): 📝 add the receive flow `NeedMemoTagModal`
  .changeset/nice-plants-complain.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/NeedMemoTagModal/NeedMemoTagModal.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/NeedMemoTagModal/index.ts
  apps/ledger-live-mobile/src/utils/constants.ts
  apps/ledger-live-mobile/src/utils/urls.tsx
  libs/ui/packages/native/src/components/cta/Button/getButtonStyle.ts
  libs/ui/packages/native/src/components/cta/Button/index.tsx
  libs/ui/packages/native/storybook/stories/Cta/Button/Button.stories.tsx
Labels: mobile, ui, translations

#7994 chore: add --verbose flag to pod install
  .changeset/tough-owls-grin.md
  apps/ledger-live-mobile/scripts/post.mjs
Labels: mobile

#7891 feat: useCheckNftAccount in [LIB]
  .changeset/nervous-pumpkins-remain.md
  apps/ledger-live-desktop/src/renderer/hooks/useHideSpamCollection.ts
  apps/ledger-live-desktop/src/renderer/screens/nft/Collections/Collections.tsx
  libs/live-nft-react/.unimportedrc.json
  libs/live-nft-react/package.json
  libs/live-nft-react/src/hooks/__tests__/useCheckNftAccount.test.tsx
  libs/live-nft-react/src/hooks/__tests__/useNftGalleryFilter.test.tsx
  libs/live-nft-react/src/hooks/helpers/index.ts
  libs/live-nft-react/src/hooks/types.ts
  libs/live-nft-react/src/hooks/useCheckNftAccount.ts
  libs/live-nft-react/src/hooks/useNftGalleryFilter.ts
  libs/live-nft-react/src/index.ts
  libs/live-nft-react/src/tools/helperTests.tsx
  pnpm-lock.yaml
Labels: desktop

#8034 fix: check if value is a number otherwise set to default gas limit li…
  .changeset/strong-wasps-kiss.md
  apps/ledger-live-mobile/src/families/evm/ScreenEditGasLimit.tsx
Labels: mobile

#8026 :technologist:(lld): add braze generator tools in dev settings
  .changeset/little-comics-help.md
  apps/ledger-live-desktop/src/renderer/components/Carousel/helpers.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useActionCards.tsx
  apps/ledger-live-desktop/src/renderer/modals/index.ts
  apps/ledger-live-desktop/src/renderer/modals/types.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/BrazeTools/Hooks/useGenerateLocalBraze.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/BrazeTools/Modal/Body.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/BrazeTools/Modal/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/BrazeTools/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-desktop/src/types/dynamicContent.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#8038 chore: add memoTag feature flag for LLD
  .changeset/gold-cherries-work.md
  libs/ledger-live-common/src/families/algorand/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#8040 Fix/live 14403
  .changeset/eighty-sheep-join.md
  .changeset/popular-flies-perform.md
  libs/ledger-live-common/src/exchange/swap/types.ts
  libs/ledger-live-common/src/exchange/swap/updateAccountSwapStatus.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.ts
Labels: common

#8043 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#8036 Feat/live 14355 TOS Thorswap
  .changeset/slow-cows-mate.md
  apps/ledger-live-desktop/TERMS.md
Labels: desktop

#8042 🥅(lld): add custom errors for send flow
  .changeset/thick-candles-visit.md
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/errors/sendFlow.ts
Labels: common

#8032 Bugfix/live 8014 llm custom button
  .changeset/lemon-ducks-hammer.md
  apps/ledger-live-mobile/src/families/tezos/DelegationFlow/SelectValidator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#7986 Push prerelease builds to new prerelease app
  apps/ledger-live-mobile/fastlane/.env.ios.prerelease
  apps/ledger-live-mobile/fastlane/.env.ios.release
  apps/ledger-live-mobile/fastlane/.env.ios.staging
  apps/ledger-live-mobile/fastlane/Fastfile
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Contents.json
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-20x20@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-20x20@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-29x29@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-29x29@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-40x40@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-40x40@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-57x57@2x 1.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-60x60@2x 1.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-60x60@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-76x76@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-76x76@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/ItunesArtwork@2x.png
  apps/ledger-live-mobile/mobile-env.md
Labels: mobile

#8016 fix: Update Metis explorer through Firebase to support CORs
  .changeset/early-seas-love.md
  libs/ledger-live-common/src/families/evm/config.ts
Labels: common

#7981 [LIVE-13059] feat(lld/llm): add support to new device language packs
  .changeset/big-apples-smash.md
  apps/ledger-live-desktop/src/config/languages.ts
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/UpdateStepFooterWrapper.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/helpers/createFirmwareUpdateSteps.ts
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/00-step-reset-device.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-restore.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/03-step-confirmation.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/restore/Language.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-language-installation-complete-linux.png
  apps/ledger-live-mobile/src/languages.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledgerjs/packages/types-live/src/languages.ts
Labels: desktop, mobile, ledgerjs, translations, screenshots

#8027 fix: fix sellNg and fundNg
  libs/exchange-module/src/index.ts
  libs/ledger-live-common/src/exchange/platform/transfer/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.ts
Labels: common, ledgerjs

#8055 feat: add memo tag information section in LLD recieve flow
  .changeset/new-cougars-develop.md
  apps/ledger-live-desktop/src/newArch/features/MemoTag/__tests__/MemoTagInfo.test.tsx
  apps/ledger-live-desktop/src/newArch/features/MemoTag/__tests__/MemoTagInfoBody.test.tsx
  apps/ledger-live-desktop/src/newArch/features/MemoTag/components/MemoTagInfo.tsx
  apps/ledger-live-desktop/src/newArch/features/MemoTag/components/MemoTagInfoBody.tsx
  apps/ledger-live-desktop/src/newArch/features/MemoTag/constants.ts
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveFunds.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#8033 [QAA-261] Adding E2E delegation scenario for LLD (NEAR, SOLANA, COSMOS)
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.tsx
  apps/ledger-live-desktop/tests/component/drawer.component.ts
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/AppInfos.ts
  apps/ledger-live-desktop/tests/enum/DeviceLabels.ts
  apps/ledger-live-desktop/tests/models/Delegate.ts
  apps/ledger-live-desktop/tests/page/drawer/delegate.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/ledger.sync.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/send.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/swap.confirmation.drawer.ts
  apps/ledger-live-desktop/tests/page/index.ts
  apps/ledger-live-desktop/tests/page/modal/delegate.modal.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts
  apps/ledger-live-desktop/tests/specs/services/confirmTransaction.spec.ts
  apps/ledger-live-desktop/tests/specs/services/cosmosStaking.spec.ts
  apps/ledger-live-desktop/tests/specs/services/dapp.spec.ts
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#8058 :technologist:(lld-llm): remove inte and test folders of jest coverage
  apps/ledger-live-desktop/jest.config.js
  apps/ledger-live-mobile/jest.config.js
Labels: desktop, mobile

#8025 [QAA-282][Detox] Add support for remote Speculos capabilities
  apps/ledger-live-mobile/e2e/bridge/proxy.ts
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/page/common.page.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount.spec.ts
  apps/ledger-live-mobile/package.json
  libs/ledgerjs/packages/hw-transport-node-speculos-http/src/SpeculosHttpTransport.ts
  pnpm-lock.yaml
Labels: mobile, ledgerjs

#7987 [QAA-272][Playwright] Implement CLI commands to Speculos tests
  .github/workflows/test-ui-e2e-only-desktop.yml
  apps/cli/package.json
  apps/cli/src/live-common-setup.ts
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/utils/cliUtils.ts
  pnpm-lock.yaml
Labels: desktop, automation, cli

#8047 :sparkles:(lld): rework coin control UI
  .changeset/wet-socks-film.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/CoinControlModal/components/ExcludeAssetsSection.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/CoinControlModal/components/Footer.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/CoinControlModal/components/Row/NoOrdinalsRow.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/CoinControlModal/components/Row/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/CoinControlModal/components/Row/useOrdinalRowModel.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/CoinControlModal/components/UtxoPickerHeaderSection.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/CoinControlModal/components/UtxoStrategyPicker.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/CoinControlModal/components/index.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/CoinControlModal/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/CoinControlModal/useCoinControlModalModel.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DiscoveryDrawer/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/screens/Account/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/screens/Account/useBitcoinAccountModel.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/coinControlModal.test.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/mockedBTCAccount.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/mockedTx.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/mockedTxStatus.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/shared.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useCollectiblesAnalytics.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/enum/Analytics.ts
  apps/ledger-live-desktop/src/renderer/components/Modal/index.tsx
  apps/ledger-live-desktop/src/renderer/families/bitcoin/SendAmountFields.tsx
  apps/ledger-live-desktop/src/renderer/families/bitcoin/useBitcoinPickingStrategy.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/jestSetup.js
  libs/coin-modules/coin-bitcoin/src/logic.ts
  libs/live-nft-react/src/index.ts
Labels: desktop, translations

#8066 LLM - Fixed Ledger Sync Sentry Error
  .changeset/thin-timers-beg.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Error/Simple.tsx
Labels: mobile

#8068 chore: stabelize e2e flaky test due to system char encoding
  .github/workflows/test-desktop-reusable.yml
Labels: automation

#8061 Nightly and prerelease app icon updates
  apps/ledger-live-mobile/fastlane/.env.ios.nightly
  apps/ledger-live-mobile/fastlane/.env.ios.prerelease
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Contents.json
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-20x20@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-20x20@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-29x29@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-29x29@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-38x38@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-40x40@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-40x40@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-57x57@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-60x60@2x 1.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-60x60@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-76x76@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-76x76@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/ItunesArtwork@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Contents.json
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-20x20@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-20x20@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-29x29@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-29x29@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-38x38@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-40x40@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-40x40@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-57x57@2x 1.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-60x60@2x 1.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-60x60@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-76x76@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-76x76@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/PrereleaseAppIcon.appiconset/ItunesArtwork@2x.png
Labels: mobile

#8059 Fix bug where flag stakePrograms was not checked into account screen,…
  apps/ledger-live-desktop/src/renderer/families/bitcoin/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/screens/account/AccountHeaderActions.tsx
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-firstAccountPage-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
Labels: desktop, screenshots

#8017 [Playwright] speculos // swap e2e tests with common currencies (BTC, USDT, ETH)
  .github/pull_request_template.md
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/AccountType.ts
  apps/ledger-live-desktop/tests/enum/Swap.ts
  apps/ledger-live-desktop/tests/models/Swap.ts
  apps/ledger-live-desktop/tests/page/abstractClasses.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/playwright.config.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common, automation

#8039 feat(live-14205): add ptxSwapCoreExperiment flag
  .changeset/pretty-penguins-hang.md
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/hooks/useIsSwapLiveFlagEnabled.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/index.tsx
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useSwapLiveConfig.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useSwapLiveConfig.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFilteredProviders.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs

#8073 Revert "Bugfix/solana priority fees (#7916) (#7917)"
  .changeset/giant-cobras-explode.md
  .changeset/popular-keys-collect.md
  libs/coin-modules/coin-solana/package.json
  libs/coin-modules/coin-solana/src/api/cached.ts
  libs/coin-modules/coin-solana/src/api/chain/index.ts
  libs/coin-modules/coin-solana/src/api/chain/web3.ts
  libs/coin-modules/coin-solana/src/bridge.integration.test.ts
  libs/coin-modules/coin-solana/src/buildTransaction.ts
  libs/coin-modules/coin-solana/src/synchronization.ts
  libs/coin-modules/coin-solana/src/tx-fees.ts
  libs/coin-modules/coin-solana/src/utils.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/apps/config.ts
  libs/ledger-live-common/src/families/solana/bridge/mock-data.ts
  pnpm-lock.yaml
Labels: common

#8074 Fix/stake programs flag not checked on account
  .changeset/lovely-colts-shave.md
  apps/ledger-live-desktop/src/renderer/families/bitcoin/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/screens/account/AccountHeaderActions.tsx
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-firstAccountPage-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
Labels: desktop, screenshots

#8065 ✨ (lld x Speculos): Using cli to build app.json
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/specs/speculos/README.md
  apps/ledger-live-desktop/tests/specs/speculos/delete.account.spec.ts
Labels: desktop

#8067 EARN: hide category filter when providers' list is empty
  .changeset/beige-planes-shake.md
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/index.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/index.tsx
  libs/ui/packages/native/src/components/Tabs/Chip/index.tsx
  libs/ui/packages/native/src/components/Tabs/TemplateTabs/index.tsx
Labels: desktop, mobile, ui

#8070 test: update stellar and tron bridge expected values
  .changeset/good-mugs-pump.md
  libs/coin-modules/coin-stellar/src/test/bridgeDatasetTest.ts
  libs/coin-modules/coin-tron/src/test/bridgeDatasetTest.ts
  libs/ledger-live-common/src/families/stellar/__snapshots__/bridge.integration.test.ts.snap
Labels: common

#8080 :bug:(lld): fix toasts issue
  .changeset/shy-lobsters-report.md
  apps/ledger-live-desktop/src/renderer/components/ToastOverlay/TimeBasedProgressBar.tsx
  apps/ledger-live-desktop/src/renderer/components/ToastOverlay/Toast.tsx
  apps/ledger-live-desktop/src/renderer/components/ToastOverlay/index.tsx
Labels: desktop

#8041 [QAA-284][Detox] Improving tests stability
  .github/workflows/test-mobile-e2e-reusable.yml
  apps/ledger-live-mobile/detox.config.js
  apps/ledger-live-mobile/e2e/page/wallet/transferMenu.drawer.ts
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/scripts/e2e-ci.mjs
  apps/ledger-live-mobile/src/components/RootDrawer/InitialDrawers/PTXServicesAppleWarning.tsx
  package.json
  patches/detox@20.26.2.patch
  pnpm-lock.yaml
Labels: mobile, automation

#8085 [QAA-297] LLM iOS E2E : Fix pod install
  .github/workflows/test-mobile-e2e-reusable.yml
Labels: automation

#8086 [QAA-296] Improving receive E2E tests using the CLI
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
Labels: desktop

#8098 :bug:(common): wallet btc import
  libs/ledger-live-common/src/wallet-api/logic.ts
Labels: common

#7566 Moonbeam/Moonriver update logos and colors
  .changeset/brave-wasps-sleep.md
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-darwin.json
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-linux.json
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ui/packages/crypto-icons/src/svg/GLMR.svg
  libs/ui/packages/crypto-icons/src/svg/MOVR.svg
Labels: desktop, ui, ledgerjs, fork

#8103 build: remove 1.5yr old commented out proto code
  tools/actions/composites/setup-toolchain/action.yml
Labels: tools

#8106 build: pin release workflow dependencies
  .github/workflows/release-create-hotfix.yml
  .github/workflows/release-create.yml
  .github/workflows/release-final-nightly.yml
  .github/workflows/release-final.yml
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release-prerelease.yml
Labels: automation

#8104 Feat/approval transaction listener
  .changeset/six-ligers-jam.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
Labels: desktop

#8109 Generate Screenshots
  apps/ledger-live-desktop/tests/specs/general/keyboard-shortcuts.spec.ts-snapshots/no-native-menu-linux.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/lockscreen-unlocked-linux.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/passwordlock-disabled-linux.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/passwordlock-enabled-linux.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-français-linux.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-language-installation-complete-linux.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-language-installation-progress-linux.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-accounts-page-linux.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-general-page-linux.png
Labels: desktop, screenshots

#8111 fix(wallet-api): avoid sending an error when retrying a transaction.sign on LLM [LIVE-14518]
  .changeset/smooth-mangos-worry.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SignTransactionNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SignTransactionNavigator.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/liveSDKLogic.ts
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/CustomHandlers.ts
  apps/ledger-live-mobile/src/logic/screenTransactionHooks.ts
  apps/ledger-live-mobile/src/screens/ConnectDevice.tsx
  apps/ledger-live-mobile/src/screens/SignTransaction/02-ConnectDevice.tsx
  apps/ledger-live-mobile/src/screens/SignTransaction/03-ValidationError.tsx
  libs/ledger-live-common/src/hw/actions/transaction.ts
  libs/ledger-live-common/src/wallet-api/ACRE/server.ts
  libs/ledger-live-common/src/wallet-api/react.ts
Labels: mobile, common

#8113 readme: fix xcode version
  apps/ledger-live-mobile/README.md
Labels: mobile

#8102 :bug:(llm): completeOnboarding after LS sync
  .changeset/beige-cats-travel.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseOnboardingNavigator.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Success/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationLoading.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationSuccess.tsx
Labels: mobile

#8084 [QAA-262] Delegate E2E test: User should be able to select a validator
  apps/ledger-live-desktop/src/renderer/families/algorand/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/cardano/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/fields/ValidatorField.tsx
  apps/ledger-live-desktop/src/renderer/families/celo/VoteFlowModal/fields/ValidatorGroupsField.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/cosmos/DelegationFlowModal/fields/ValidatorField.tsx
  apps/ledger-live-desktop/src/renderer/families/elrond/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/elrond/components/Modals/Delegate/fields/ValidatorList.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/near/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/near/StakingFlowModal/fields/ValidatorField.tsx
  apps/ledger-live-desktop/src/renderer/families/polkadot/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/solana/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/solana/shared/fields/ValidatorsField.tsx
  apps/ledger-live-desktop/src/renderer/families/tezos/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/tron/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/AppInfos.ts
  apps/ledger-live-desktop/tests/enum/Currency.ts
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/page/modal/delegate.modal.ts
  apps/ledger-live-desktop/tests/specs/accounts/delegate.smoke.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-delegate.json
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#8114 :bug:(lld): exported account name in csv
  .changeset/lucky-otters-think.md
  libs/ledger-live-common/src/csvExport.ts
Labels: common

#8028 LIVE-14383 working display of team link
  .changeset/loud-donkeys-smash.md
  apps/ledger-live-desktop/src/renderer/components/AccountSubHeader/AccountSubHeaderDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/AccountSubHeader/index.tsx
  apps/ledger-live-desktop/src/renderer/families/casper/AccountSubHeader.tsx
  apps/ledger-live-desktop/src/renderer/families/filecoin/AccountSubHeader.tsx
  apps/ledger-live-desktop/src/renderer/families/internet_computer/AccountSubHeader.tsx
  apps/ledger-live-desktop/src/renderer/families/stacks/AccountSubHeader.tsx
  apps/ledger-live-desktop/src/renderer/families/ton/AccountSubHeader.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/AccountSubHeader/AccountSubHeaderDrawer.tsx
  apps/ledger-live-mobile/src/components/AccountSubHeader/index.tsx
  apps/ledger-live-mobile/src/families/casper/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/families/filecoin/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/families/internet_computer/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/families/stacks/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/families/ton/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#7974 LLM - Upgrade React Native to v0.74
  apps/ledger-live-mobile/__tests__/jest-setup.js
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/app/src/debug/AndroidManifest.xml
  apps/ledger-live-mobile/android/app/src/main/AndroidManifest.xml
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainApplication.kt
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/android/gradle/wrapper/gradle-wrapper.properties
  apps/ledger-live-mobile/android/gradlew.bat
  apps/ledger-live-mobile/index.js
  apps/ledger-live-mobile/ios/Podfile
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.mm
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/ios/ledgerlivemobile/PrivacyInfo.xcprivacy
  apps/ledger-live-mobile/metro.config.js
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/react-native.config.js
  apps/ledger-live-mobile/src/components/AnalyticsConsole/index.tsx
  apps/ledger-live-mobile/src/components/PerformanceConsole/index.tsx
  apps/ledger-live-mobile/src/components/RequiresCameraPermissions/useCameraPermissions.ts
  apps/ledger-live-mobile/src/components/Scanner.tsx
  apps/ledger-live-mobile/src/components/StorylyStories/StoriesConfig.tsx
  apps/ledger-live-mobile/src/context/store.ts
  apps/ledger-live-mobile/src/families/evm/EditFeeUnitEvm.tsx
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Synchronize/ScanQrCode.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/CameraPermissions.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/CustomImageGraphics.tsx
  apps/ledger-live-mobile/src/types/react-native-slider.d.ts
  libs/ledger-live-common/package.json
  libs/ui/packages/native/.unimportedrc.json
  libs/ui/packages/native/package.json
  pnpm-lock.yaml
Labels: mobile, common, ui

#8120 test: fix missing expect on dapp test
  apps/ledger-live-desktop/tests/specs/services/dapp.spec.ts
Labels: desktop

#8124 :sparkles:(lld): add description from ledgerstatus to currency warning
  .changeset/wet-cars-perform.md
  apps/ledger-live-desktop/src/renderer/components/CurrencyDownStatusAlert.tsx
  apps/ledger-live-desktop/src/renderer/components/ErrorBanner.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7952 Add TON support for Swap (and Exchange in general)
  .changeset/small-drinks-explain.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  libs/ledger-live-common/src/exchange/providers/index.ts
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.ts
  libs/ledger-live-common/src/exchange/testCurrencyConfig/data/coins.ts
  libs/ledger-live-common/src/families/ton/exchange.ts
  libs/ledger-live-common/src/generated/exchange.ts
  libs/ledgerjs/packages/hw-app-exchange/package.json
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.integ.test.ts
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.ts
  pnpm-lock.yaml
  turbo.json
Labels: desktop, common, ledgerjs

#8125 :triangular_flag_on_post:(lld): remove objkt ff
  .changeset/lovely-paws-greet.md
  apps/ledger-live-desktop/src/renderer/families/tezos/AccountBodyHeader/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-firstAccountPage-linux.png
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs, translations, screenshots

#8121 tests: fix by waiting for response of page.evaluate in confirmTransaction e2e test
  .changeset/chilly-teachers-own.md
  apps/ledger-live-desktop/tests/specs/services/confirmTransaction.spec.ts
Labels: desktop

#8133 feat: backport demo1 changes
  .changeset/spotty-experts-train.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
Labels: desktop

#8134 chore: sonar setup on LL repo
  .github/workflows/sonar.yml
  apps/ledger-live-desktop/jest.config.js
  apps/ledger-live-desktop/package.json
  apps/ledger-live-mobile/jest.config.js
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
  sonar-project.properties
Labels: desktop, mobile, automation

#8132 fix attempt: wait between attempts for speculos device's screen to refresh
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: common

#8088 :bug:(lld): update LS entry point from accounts
  .changeset/loud-birds-jam.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/components/Drawer.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useLedgerSyncAnalytics.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/01-CreateOrSynchronizeStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/index.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Manage/index.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/router.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/LedgerSyncDrawer.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/OptionsButton.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#8135 feat: implement new NoSuchAppOnProviderError component body
  .changeset/hot-guests-hide.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/NoSuchAppOnProviderErrorComponent.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#8143 fix: 🐞 UI for synchronized instances and drawer header text layout
  .changeset/lazy-ads-drop.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Synchronize/DrawerHeader.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
Labels: mobile

#8144 fix: ✍ add scannedInvalidQrCode.tryAgain key support
  .changeset/wild-squids-promise.md
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#8141 passing dev mode to swap live app
  .changeset/red-tips-knock.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
Labels: desktop

#8148 fix: 🐞 display of tokenCTA with long wording
  .changeset/flat-rings-deny.md
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
Labels: desktop

#8147 [LIVE-14524] LLM - Improve QRCode flow for Ledger Sync tests
  .changeset/gold-bats-perform.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/StepFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/synchronizeWithQrCode.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/ActivationFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSyncWithQrCode.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationLoading.tsx
Labels: mobile

#8069 feat(web3Hub): fix state management with jotai
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/Disclaimer/useDisclaimerViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/constants.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/db.ts
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: mobile, common

#8146 feat: thorswap erc20 swap
  .changeset/modern-wolves-pretend.md
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
Labels: common

#8149 :bug:(lld): nft breadcrumb not filtering spam
  .changeset/two-elephants-double.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Nfts/BreadCrumb/useBreadCrumbModel.tsx
  apps/ledger-live-desktop/src/renderer/components/Breadcrumb/NFTCrumb.tsx
Labels: desktop

#8139 LLM - Fixed Unhandled error warning message
  .changeset/spotty-windows-deny.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSyncWithQrCode.ts
Labels: mobile

#8117 Support/pin pr workflow deps
  .github/workflows/assigner.yml
  .github/workflows/build-desktop-external-reusable.yml
  .github/workflows/build-desktop-reusable.yml
  .github/workflows/build-mobile-external-reusable.yml
  .github/workflows/build-mobile-reusable.yml
  .github/workflows/commitlint.yml
  .github/workflows/labeler.yml
  .github/workflows/notify-prerelease-translations.yml
  .github/workflows/test-desktop-reusable.yml
  .github/workflows/test-libs-reusable.yml
  .github/workflows/test-mobile-e2e-reusable.yml
  tools/actions/composites/setup-test-desktop/action.yml
  tools/actions/turbo-affected/build/main.js
  tools/actions/turbo-affected/src/main.ts
Labels: tools, automation

#7843 fix(LLD): Retry CLS installation after locking & unlocking device
  .changeset/shaggy-meals-rescue.md
  apps/ledger-live-desktop/src/renderer/components/CustomImage/CustomLockScreenDeviceAction/index.tsx
Labels: desktop

#7867 feat: added timeout during Allow Manager on Genuine check flow
  .changeset/forty-jobs-buy.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/index.tsx
  libs/ledger-live-common/src/hw/hooks/useGenuineCheck.test.ts
  libs/ledger-live-common/src/hw/hooks/useGenuineCheck.ts
Labels: desktop, common, Stale

#7894 fix(lld): throwing DeviceShouldStayInApp when device is not in app du…
  .changeset/hungry-waves-move.md
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepImport.tsx
Labels: desktop, Stale

#8152 feat/LIVE-14539: add history swap live app
  .changeset/big-dodos-reflect.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
  libs/ledger-live-common/src/exchange/swap/addToSwapHistory.ts
Labels: desktop, common

#8075 :goal_net:(lld): rework ui of node erros on send flow
  .changeset/happy-hotels-sin.md
  apps/ledger-live-desktop/src/newArch/hooks/useCopyToClipboard.ts
  apps/ledger-live-desktop/src/newArch/hooks/useExportLogs.ts
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/Confirmation/NodeError/HelpSection.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/Confirmation/NodeError/TechnicalErrorSection.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/Confirmation/NodeError/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/errors/sendFlow.ts
  libs/ledger-live-common/src/errors/transactionBroadcastErrors.ts
Labels: desktop, common, translations

#8154 test: ⚡️ [QAA-301] Using the cli to build app.json (send scenarios)
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/Currency.ts
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delete.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-2ETH-2BNB.json
Labels: desktop

#8013 fix(llm): 🥂 align the receive screen with Figma design
  .changeset/late-turtles-join.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/ConfirmationHeaderTitle.tsx
  libs/ui/packages/icons/src/svg/share-alt.svg
  libs/ui/packages/native/src/components/Cards/BannerCard/index.tsx
Labels: mobile, ui, translations

#8140 :sparkles:(lld): change sync error tooltip to be more readable
  .changeset/long-meals-laugh.md
  apps/ledger-live-desktop/src/renderer/components/TopBar/ActivityIndicator.tsx
  apps/ledger-live-desktop/src/renderer/reducers/accounts.ts
  apps/ledger-live-desktop/src/renderer/reducers/wallet.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/bridge/react/useAccountSyncState.ts
Labels: desktop, common, translations

#7946 fix(lld): retry app installation upon device disconnection
  .changeset/mean-gifts-worry.md
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/InstallSetOfApps.tsx
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SyncOnboardingCompanion.tsx
Labels: desktop

#8160 Test/update tron snap
  .changeset/short-fans-confess.md
  libs/ledger-live-common/src/families/tron/__snapshots__/bridge.integration.test.ts.snap
Labels: common

#7940 [Fix/LIVE-14247]: close banner after calling on cancel when disabled broadcast is enabled.
  .changeset/fresh-dolls-sin.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts
Labels: desktop

#8165 Market screenshot e2e test
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoin/components/MarketInfo.tsx
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-btc-page-linux.png
Labels: desktop, screenshots

#8060 Improve CI master workflow
  .github/workflows/build-and-test-external.yml
  .github/workflows/build-and-test-pr.yml
  .github/workflows/build-desktop-reusable.yml
  .github/workflows/build-mobile-reusable.yml
  .github/workflows/test-desktop-external-reusable.yml
Labels: automation

#8168 🩹 [QAA-304] Adding check for operation history when adding an account
  apps/ledger-live-desktop/tests/page/portfolio.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
Labels: desktop

#8167 feat: 💄 Add new AnimatedInputSelect in DS
  .changeset/thirty-ants-report.md
  libs/ui/packages/native/src/components/Form/Input/AnimatedInputSelect/Select.tsx
  libs/ui/packages/native/src/components/Form/Input/AnimatedInputSelect/index.tsx
  libs/ui/packages/native/src/components/Form/Input/index.ts
  libs/ui/packages/native/storybook/stories/Form/Input/AnimatedInputAndSelect.stories.tsx
Labels: ui

#7926 support: Add new EVMs to Support NFTs
  .changeset/dull-geckos-remain.md
  apps/ledger-live-desktop/src/renderer/components/CustomImage/NFTGallerySelector.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SimpleHashTools/SpamReportNtf/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SimpleHashTools/SpamScore/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SimpleHashTools/helper.ts
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftFilterDrawer/index.tsx
  apps/ledger-live-mobile/src/reducers/nft.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/CustomImage/NFTGallerySelector.tsx
  libs/coin-framework/src/nft/support.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/logic.unit.test.ts
  libs/env/src/env.ts
  libs/live-nft/README.md
  libs/live-nft/src/__tests__/index.test.ts
  libs/live-nft/src/api/simplehash.ts
  libs/live-nft/src/index.ts
  libs/live-nft/src/supported.ts
Labels: desktop, mobile

#8169 fix(iOS): Solana error after broadcast on WebSockets [LIVE-14585]
  .changeset/breezy-deers-scream.md
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/iosWebsocketFix.ts
Labels: mobile

#8155 feat(llm): 🏷️ add memo/tag input in some coins send flow
  .changeset/strong-spiders-do.md
  apps/ledger-live-mobile/scripts/sync-families-dispatch.mjs
  apps/ledger-live-mobile/src/families/algorand/MemoTagInput.tsx
  apps/ledger-live-mobile/src/families/cardano/MemoTagInput.tsx
  apps/ledger-live-mobile/src/families/casper/MemoTagInput.tsx
  apps/ledger-live-mobile/src/families/cosmos/MemoTagInput.tsx
  apps/ledger-live-mobile/src/families/crypto_org/MemoTagInput.tsx
  apps/ledger-live-mobile/src/families/hedera/MemoTagInput.tsx
  apps/ledger-live-mobile/src/families/internet_computer/MemoTagInput.tsx
  apps/ledger-live-mobile/src/families/solana/MemoTagInput.tsx
  apps/ledger-live-mobile/src/families/stacks/MemoTagInput.tsx
  apps/ledger-live-mobile/src/families/ton/MemoTagInput.tsx
  apps/ledger-live-mobile/src/families/xrp/MemoTagInput.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/MemoTag/components/GenericMemoTagInput.tsx
  apps/ledger-live-mobile/src/newArch/features/MemoTag/components/MemoTagDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/MemoTag/hooks/useMemoTagInput.ts
  apps/ledger-live-mobile/src/newArch/features/MemoTag/types.ts
  apps/ledger-live-mobile/src/screens/SendFunds/02-SelectRecipient.tsx
Labels: mobile, translations

#7927 fix(lld): fixed navigation in onboarding/ledger-lecover
  .changeset/rude-dancers-fry.md
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectUseCase/index.tsx
Labels: desktop

#8123 fix(llm): Close device card apps modal upon errors
  .changeset/small-experts-hammer.md
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/Device/index.tsx
Labels: mobile

#8157 [QAA-283][Detox] Improve slack notification
  .github/workflows/test-mobile-e2e-reusable.yml
  .github/workflows/test-mobile-e2e.yml
  .github/workflows/test-ui-e2e-only-desktop.yml
  tools/actions/composites/get-allure-summary/action.yml
  tools/actions/composites/upload-allure-report/action.yml
Labels: tools, automation

#8158 Pin LLM + LLD + root dependencies
  .npmrc
  apps/ledger-live-desktop/package.json
  apps/ledger-live-mobile/package.json
  package.json
  pnpm-lock.yaml
Labels: desktop, mobile

#8171 Support/swap : demo3 adaptation + error messages automation - Part1
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/ExchangeDrawer/SwapCompleted.tsx
  apps/ledger-live-desktop/tests/component/drawer.component.ts
  apps/ledger-live-desktop/tests/component/layout.component.ts
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/AppInfos.ts
  apps/ledger-live-desktop/tests/enum/DeviceLabels.ts
  apps/ledger-live-desktop/tests/enum/Swap.ts
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/models/Swap.ts
  apps/ledger-live-desktop/tests/page/drawer/choose.asset.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/swap.confirmation.drawer.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-tests-app.json
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#8091 feat(lld): added window lifecycle event listeners for ldmk transport
  .changeset/slow-dingos-type.md
  apps/ledger-live-desktop/src/main/window-lifecycle.ts
Labels: desktop

#8193 CN-832: add llm icons for Acre, Midas, ChorusOne, Babylon, EigenLayer
  .changeset/early-garlics-rhyme.md
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/EvmStakingDrawerProviderIcon.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer_deprecated/EvmStakingDrawerProviderIcon.tsx
  apps/ledger-live-mobile/src/icons/providers/Acre.tsx
  apps/ledger-live-mobile/src/icons/providers/Babylon.tsx
  apps/ledger-live-mobile/src/icons/providers/ChorusOne.tsx
  apps/ledger-live-mobile/src/icons/providers/Coinbase.tsx
  apps/ledger-live-mobile/src/icons/providers/EigenLayer.tsx
  apps/ledger-live-mobile/src/icons/providers/Figment.tsx
  apps/ledger-live-mobile/src/icons/providers/KelpDAO.tsx
  apps/ledger-live-mobile/src/icons/providers/Kiln.tsx
  apps/ledger-live-mobile/src/icons/providers/Lido.tsx
  apps/ledger-live-mobile/src/icons/providers/Midas.tsx
  apps/ledger-live-mobile/src/icons/providers/P2P.tsx
  apps/ledger-live-mobile/src/icons/providers/RocketPool.tsx
  apps/ledger-live-mobile/src/icons/providers/Stader.tsx
Labels: mobile

#8195 [E2E] Fixing broken steps in Allure report
  apps/ledger-live-desktop/tests/component/drawer.component.ts
  apps/ledger-live-desktop/tests/component/layout.component.ts
  apps/ledger-live-desktop/tests/component/modal.component.ts
  apps/ledger-live-desktop/tests/enum/DeviceLabels.ts
  apps/ledger-live-desktop/tests/page/abstractClasses.ts
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/page/portfolio.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
Labels: desktop

#8204 wrong balance fetch LIVE-14410 mitigation attempt
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
Labels: desktop

#8093 feat: added LDMK transport feature flag
  .changeset/gorgeous-parents-join.md
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
  apps/ledger-live-desktop/src/renderer/init.tsx
  apps/ledger-live-desktop/src/renderer/live-common-setup.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/hw/index.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs, translations

#8192 Pin dependencies in `apps/cli*` and `tools/*`
  apps/cli/package.json
  pnpm-lock.yaml
  tools/actions/build-checks/package.json
  tools/actions/change-product-name/package.json
  tools/actions/desktop-report-build/package.json
  tools/actions/generate-bot-super-report/package.json
  tools/actions/generate-release-message/package.json
  tools/actions/get-package-infos/package.json
  tools/actions/get-workflow-artifacts-id/package.json
  tools/actions/live-common-affected/package.json
  tools/actions/package.json
  tools/actions/prepare-comment-screenshots/package.json
  tools/actions/submit-bot-report/package.json
  tools/actions/turbo-affected/package.json
  tools/actions/turborepo-gh-cache/package.json
  tools/actions/turborepo-s3-cache/package.json
  tools/actions/upload-images/package.json
  tools/esbuild-utils/package.json
  tools/github-bot/package.json
Labels: tools, cli

#8208 :bug:(lld): stepper breadcrumb icons not centered
  .changeset/smart-geckos-add.md
  apps/ledger-live-desktop/src/renderer/components/Stepper/Step.tsx
Labels: desktop

#8151 :goal_net:(llm): undelegate error message not enought for fees
  .changeset/wicked-swans-raise.md
  apps/ledger-live-mobile/src/families/cardano/UndelegationFlow/01-Summary.tsx
  apps/ledger-live-mobile/src/families/celo/RevokeFlow/VoteAmount.tsx
  apps/ledger-live-mobile/src/families/cosmos/shared/02-SelectAmount.tsx
  apps/ledger-live-mobile/src/families/near/shared/02-SelectAmount.tsx
  apps/ledger-live-mobile/src/families/polkadot/UnbondFlow/01-Amount.tsx
  apps/ledger-live-mobile/src/families/shared/StakingErrors/NotEnoughFundFeesAlert/index.tsx
  apps/ledger-live-mobile/src/families/solana/DelegationFlow/Summary.tsx
  apps/ledger-live-mobile/src/families/tezos/DelegationFlow/Summary.tsx
  apps/ledger-live-mobile/src/hooks/index.ts
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#8172 LLD - Rework NotEnoughBalance error message on Unbound screens
  .changeset/silly-timers-burn.md
  apps/ledger-live-desktop/src/renderer/components/NotEnoughFundsToUnstake/index.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/UndelegateFlowModal/steps/StepSummary.tsx
  apps/ledger-live-desktop/src/renderer/families/celo/UnlockFlowModal/steps/StepAmount.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/UndelegationFlowModal/steps/Amount.tsx
  apps/ledger-live-desktop/src/renderer/families/near/UnstakingFlowModal/steps/Amount.tsx
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationDeactivateFlowModal/steps/StepValidator.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#8213 test: fix flakyness on market e2e test
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts
Labels: desktop

#8142 fix(llm): patched onRetryGenuineCheck
  .changeset/tiny-turkeys-doubt.md
  apps/ledger-live-mobile/src/screens/SyncOnboarding/EarlySecurityCheck.tsx
Labels: mobile

#8177 fix(lld): localised string in CLS
  .changeset/healthy-houses-smell.md
  apps/ledger-live-desktop/src/renderer/components/CustomImage/ImageCropper.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#8212 LLD - Fix LS QR Code integration test
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/synchronize.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/03-PinCodeStep.tsx
  apps/ledger-live-desktop/tests/handlers/index.ts
  libs/hw-ledger-key-ring-protocol/src/ApduDevice.ts
  libs/hw-ledger-key-ring-protocol/src/CommandBlock.ts
  libs/hw-ledger-key-ring-protocol/src/CommandStream.ts
  libs/hw-ledger-key-ring-protocol/src/Crypto.ts
  libs/hw-ledger-key-ring-protocol/src/Device.ts
  libs/hw-ledger-key-ring-protocol/src/NobleCrypto.ts
  libs/hw-ledger-key-ring-protocol/src/StreamTreeCipher.ts
  libs/hw-ledger-key-ring-protocol/src/__tests__/codec.ts
  libs/ledger-key-ring-protocol/src/qrcode/cipher.test.ts
  libs/ledger-key-ring-protocol/src/qrcode/cipher.ts
  libs/ledger-key-ring-protocol/src/qrcode/index.ts
  libs/ledger-key-ring-protocol/src/sdk.ts
  libs/ledger-key-ring-protocol/tests/test-helpers/recordTrustchainSdkTests.ts
  libs/ledger-key-ring-protocol/tests/test-helpers/replayTrustchainSdkTests.ts
Labels: desktop

#8229 fix: remove outdated tests
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
Labels: desktop
