Repository LedgerHQ/ledger-live, pull requests merged in 2024-02, with the labels that each got.

#6041 [LIVE-10923] Revert "[SUPPORT] - Adding logs for invalid dates (#5524)"
  .changeset/forty-dragons-own.md
  apps/ledger-live-desktop/src/renderer/components/OperationsList/index.tsx
  libs/coin-evm/src/api/explorer/ledger.ts
  libs/coin-evm/src/synchronization.ts
  libs/coin-framework/src/account/serialization.ts
Labels: desktop

#5885 [B2CQA-2106] Updating Detox and improving AVD caching
  .github/workflows/test-mobile-e2e.yml
  apps/ledger-live-mobile/detox.config.js
  apps/ledger-live-mobile/e2e/bridge/client.ts
  apps/ledger-live-mobile/e2e/bridge/server.ts
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/models/wallet/nftGalleryPage.ts
  apps/ledger-live-mobile/e2e/setup.ts
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/TabBar/Transfer.tsx
  package.json
  patches/detox@20.16.0.patch
  pnpm-lock.yaml
Labels: mobile, automation

#6036 [bugfix] Solana: display spinner in staking workflows
  .changeset/six-ways-hope.md
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationActivateFlowModal/steps/StepValidator.tsx
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationDeactivateFlowModal/steps/StepValidator.tsx
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationFlowModal/steps/StepValidator.tsx
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationReactivateFlowModal/steps/StepValidator.tsx
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationWithdrawFlowModal/steps/StepAmount.tsx
Labels: desktop, fork

#6047 [LLM] - [LIVE-11091] - Fix UI/functional bug on Hero Content Card
  .changeset/lemon-mugs-poke.md
  apps/ledger-live-mobile/src/contentCards/cards/hero/index.tsx
Labels: mobile

#6068 feat(CryptoIcons): fixed svg source causing storybook build error
  .changeset/tall-rats-cry.md
  libs/ui/packages/crypto-icons/src/svg/currency_linea_goerli.svg
Labels: ui

#6061 LLD - Fix disable settings option
  apps/ledger-live-desktop/src/renderer/components/TrackAppStart.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/ShareAnalyticsButton.tsx
Labels: desktop

#5966 chore(lld): optimize and fix date formats
  .changeset/fast-sloths-agree.md
  apps/ledger-live-desktop/src/renderer/components/FormattedDate.tsx
  apps/ledger-live-desktop/src/renderer/components/OperationsList/OperationDate.tsx
  apps/ledger-live-desktop/src/renderer/components/OperationsList/SectionTitle.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/AnnouncementPanel.tsx
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/AmountDetails.tsx
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.tsx
  apps/ledger-live-desktop/src/renderer/drawers/SwapOperationDetails/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useDateFormatter.test.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useDateFormatter.ts
  apps/ledger-live-desktop/src/renderer/screens/account/BalanceSummary.tsx
  apps/ledger-live-desktop/src/renderer/screens/asset/BalanceSummary.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/GlobalSummary.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/History/OperationRow.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoinScreen/MarketCoinChart.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoinScreen/MarketInfo.tsx
Labels: desktop

#6014 regen screenshots
  apps/ledger-live-desktop/src/renderer/components/RenderError.tsx
  apps/ledger-live-desktop/tests/models/Layout.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/connect-device.spec.ts-snapshots/v3-device-selection-linux.png
  apps/ledger-live-desktop/tests/specs/support/unsupported-os.spec.ts
  apps/ledger-live-desktop/tests/specs/support/unsupported-os.spec.ts-snapshots/error-os-unsupported-win32.png
Labels: desktop, screenshots

#6060 [HOTFIX] Turbo version - PR gate setup job
  package.json
  pnpm-lock.yaml
  tools/actions/turbo-affected/build/main.js
  tools/actions/turbo-affected/src/main.ts
Labels: tools

#6072 [B2CQA-2125] Detox: fix add account tests
  apps/ledger-live-mobile/e2e/models/accounts/accountsPage.ts
  apps/ledger-live-mobile/e2e/models/wallet/portfolioPage.ts
  apps/ledger-live-mobile/e2e/specs/addAccounts/addAccount.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboarding.spec.ts
  apps/ledger-live-mobile/e2e/specs/unknown-currency-resilience.spec.ts
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
Labels: mobile

#5823 chore: update Electron 28
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/tools/config/main.esbuild.js
  apps/ledger-live-desktop/tools/config/preloader.esbuild.js
  apps/ledger-live-desktop/tools/config/renderer.esbuild.js
  apps/ledger-live-desktop/tools/config/webviewPreloader.esbuild.js
  pnpm-lock.yaml
Labels: desktop

#6076 LLM - improved feature flags edition
  apps/ledger-live-mobile/src/screens/FeatureFlagsSettings/FeatureFlagEdit.tsx
  apps/ledger-live-mobile/src/screens/FeatureFlagsSettings/index.tsx
Labels: mobile

#6067 Fix: cosmos integration test
  .changeset/small-dogs-compare.md
  libs/ledger-live-common/src/__tests__/test-helpers/setup.ts
Labels: common

#5725 feat(LLD/Deeplinks): Adding Deeplinks support for Storyly in LLD
  .changeset/new-shrimps-rescue.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/main/menu.ts
  apps/ledger-live-desktop/src/renderer/App.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.ts
  apps/ledger-live-desktop/src/storyly/StorylyProvider.tsx
  apps/ledger-live-desktop/src/storyly/useStoryly.tsx
  apps/ledger-live-desktop/src/types/storyly-web.d.ts
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  pnpm-lock.yaml
Labels: desktop, mobile, Stale

#6052 [LIVE-10167] [CI] - [Github Actions] - Analyse "if: always()"
  .github/workflows/build-desktop-external.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile-external.yml
  .github/workflows/build-mobile.yml
  .github/workflows/commitlint.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/healthchecks-runners.yaml
  .github/workflows/regen-doc.yml
  .github/workflows/regen-pods.yml
  .github/workflows/release-final-nightly.yml
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile-e2e.yml
  .github/workflows/test-mobile.yml
  .github/workflows/test.yml
Labels: automation

#6000 Create Near coin-module
  .changeset/heavy-ties-smile.md
  libs/coin-near/.eslintrc.js
  libs/coin-near/.unimportedrc.json
  libs/coin-near/jest.config.js
  libs/coin-near/package.json
  libs/coin-near/src/account.ts
  libs/coin-near/src/api/archive-node-sdk.ts
  libs/coin-near/src/api/datahub-indexer-sdk.ts
  libs/coin-near/src/api/index.ts
  libs/coin-near/src/api/near-staking-positions-sdk.ts
  libs/coin-near/src/api/sdk.types.ts
  libs/coin-near/src/bridge.integration.test.ts
  libs/coin-near/src/bridge/js.ts
  libs/coin-near/src/cli-transaction.ts
  libs/coin-near/src/constants.ts
  libs/coin-near/src/deviceTransactionConfig.ts
  libs/coin-near/src/errors.ts
  libs/coin-near/src/hw-getAddress.ts
  libs/coin-near/src/js-broadcast.ts
  libs/coin-near/src/js-buildTransaction.ts
  libs/coin-near/src/js-estimateMaxSpendable.ts
  libs/coin-near/src/js-getFeesForTransaction.ts
  libs/coin-near/src/js-getTransactionStatus.ts
  libs/coin-near/src/js-signOperation.ts
  libs/coin-near/src/js-synchronisation.ts
  libs/coin-near/src/js-transaction.ts
  libs/coin-near/src/logic.ts
  libs/coin-near/src/preload.ts
  libs/coin-near/src/serialization.ts
  libs/coin-near/src/signer.ts
  libs/coin-near/src/specs.ts
  libs/coin-near/src/speculos-deviceActions.ts
  libs/coin-near/src/transaction.ts
  libs/coin-near/src/types.ts
  libs/coin-near/tsconfig.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/scripts/sync-families-dispatch.mjs
  libs/ledger-live-common/src/errors.ts
  libs/ledger-live-common/src/families/near/banner.test.ts
  libs/ledger-live-common/src/families/near/banner.ts
  libs/ledger-live-common/src/families/near/bridge.integration.test.ts
  libs/ledger-live-common/src/families/near/bridge/js.ts
  libs/ledger-live-common/src/families/near/constants.ts
  libs/ledger-live-common/src/families/near/hw-getAddress.ts
  libs/ledger-live-common/src/families/near/logic.ts
  libs/ledger-live-common/src/families/near/react.ts
  libs/ledger-live-common/src/families/near/setup.ts
  libs/ledger-live-common/src/families/near/types.ts
  libs/ledger-live-common/src/generated/account.ts
  libs/ledger-live-common/src/generated/bridge/js.ts
  libs/ledger-live-common/src/generated/cli-transaction.ts
  libs/ledger-live-common/src/generated/deviceTransactionConfig.ts
  libs/ledger-live-common/src/generated/hw-getAddress.ts
  libs/ledger-live-common/src/generated/specs.ts
  libs/ledger-live-common/src/generated/transaction.ts
  libs/ledger-live-common/src/generated/types.ts
  package.json
  pnpm-lock.yaml
Labels: common

#6084 [LIVE-10231][CI] - [Github Actions] - Remove PR auto close
  tools/github-bot/src/features/autoClose/index.ts
  tools/github-bot/src/features/autoClose/tools.ts
  tools/github-bot/src/index.ts
Labels: tools

#6046 chore(llm): hide ar language support
  .changeset/khaki-tomatoes-drum.md
  apps/ledger-live-mobile/ios/ar.lproj/InfoPlist.strings
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/src/languages.ts
Labels: mobile

#6009 Feat: support for new exchangeSDK
  .changeset/weak-bottles-push.md
  apps/ledger-live-desktop/src/renderer/actions/UI.ts
  apps/ledger-live-desktop/src/renderer/components/LiveAppDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/CustomHandlers.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/PlatformExchangeNavigator.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-mobile/src/components/WebPTXPlayer/CustomHandlers.ts
  libs/exchange-module/src/index.ts
  libs/exchange-module/src/types.ts
  libs/ledger-live-common/src/exchange/platform/startExchange.ts
  libs/ledger-live-common/src/exchange/platform/types.ts
  libs/ledger-live-common/src/hw/actions/startExchange.ts
  libs/ledger-live-common/src/wallet-api/Exchange/server.ts
Labels: desktop, mobile, common

#6024 [LIVE-10878] App Store Developer Name Display
  .changeset/lazy-parents-clap.md
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/Item.tsx
  apps/ledger-live-mobile/src/screens/Manager/AppsList/AppRow.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs

#6050 Feat-live 10403 btc doc
  .changeset/five-owls-hug.md
  libs/ledger-live-common/src/families/bitcoin/api/index.ts
  libs/ledger-live-common/src/families/bitcoin/docs/BitcoinAddresses.md
  libs/ledger-live-common/src/families/bitcoin/docs/BitcoinSync.md
  libs/ledger-live-common/src/families/bitcoin/docs/RBF.md
  libs/ledger-live-common/src/families/bitcoin/docs/Troubleshooting.md
  libs/ledger-live-common/src/families/bitcoin/docs/UtxoPickingTransactionFees.md
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/crypto/base.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/explorer/index.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/pickingstrategies/CoinSelect.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/pickingstrategies/DeepFirst.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/pickingstrategies/Merge.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/pickingstrategies/types.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/storage/index.ts
Labels: common

#6029 [FEAT] : simpleHash usage for NFTs Gallery in LL
  .changeset/nasty-icons-listen.md
  .changeset/poor-kings-sort.md
  .changeset/smooth-feet-build.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/App.tsx
  apps/ledger-live-desktop/src/renderer/drawers/NFTViewerDrawer/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Collections/Collections.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Gallery/Gallery.tsx
  apps/ledger-live-mobile/e2e/setups/1Account1NFTNotSpam.json
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftList.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftListItemFloorPriceRow.tsx
  apps/ledger-live-mobile/src/components/Nft/NftViewer.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
  libs/env/src/env.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/live-nft-react/package.json
  libs/live-nft-react/src/NftMetadataProvider.test.ts
  libs/live-nft-react/src/hooks/useNftGalleryFilter.test.tsx
  libs/live-nft-react/src/hooks/useNftGalleryFilter.ts
  libs/live-nft-react/src/index.ts
  libs/live-nft/.unimportedrc.json
  libs/live-nft/src/api/index.ts
  libs/live-nft/src/api/metadataservice.test.ts
  libs/live-nft/src/api/metadataservice.ts
  libs/live-nft/src/api/simplehash.ts
  libs/live-nft/src/api/types.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, ledgerjs

#6098 Remove playwright replay on macOS and Windows
  .github/workflows/test-desktop.yml
Labels: automation

#6032 [LLD] - [LIVE-10488] - Add Portfolio Content Card
  apps/ledger-live-desktop/src/renderer/components/Carousel/Slide.tsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/TimeBasedProgressBar.tsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/BuyCrypto/images/bg.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/BuyCrypto/images/cart.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/BuyCrypto/images/coin.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/BuyCrypto/images/coin2.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/BuyCrypto/images/coin3.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/Swap/images/bg.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/Swap/images/coin1.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/Swap/images/coin2.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/Swap/images/loop.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/Swap/images/smallcoin1.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/Swap/images/smallcoin2.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/banners/Swap/images/smallcoin3.png
  apps/ledger-live-desktop/src/renderer/components/Carousel/helpers.tsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/index.tsx
  apps/ledger-live-desktop/src/renderer/components/ContentCards/ActionCard/components.tsx
  apps/ledger-live-desktop/src/renderer/components/ContentCards/ActionCard/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Page.tsx
  apps/ledger-live-desktop/src/renderer/components/RecoverBanner/RecoverBanner.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useBraze.ts
  apps/ledger-live-desktop/src/renderer/hooks/useNotifications.ts
  apps/ledger-live-desktop/src/renderer/hooks/usePortfolioCards.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/PortfolioContentCards.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.tsx
  apps/ledger-live-desktop/src/types/dynamicContent.ts
  apps/ledger-live-mobile/src/components/RootNavigator/AnalyticsOptInPromptNavigator.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/ABTesting.ts
  libs/ledgerjs/packages/types-live/src/analyticsOptInPrompt.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ledgerjs/packages/types-live/src/index.ts
  libs/ui/packages/react/src/components/layout/Carousel/Footer/variantContentCard.tsx
Labels: desktop, mobile, common, ui, ledgerjs

#6089 feat: better error message when user reject tx on swap
  .changeset/young-timers-tickle.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/WebviewErrorDrawer/index.tsx
Labels: desktop

#6097 LLD - Fixed sidebar active items
  .changeset/spicy-crews-clean.md
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
Labels: desktop

#6087 support: fix RemoteLiveAppProvider not updating if env changes
  .changeset/young-countries-brush.md
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/index.tsx
Labels: common

#6051 fix(LLM/ParentAccountError): Fixed copy for parent account error
  .changeset/polite-masks-return.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#6108 fix(LLM): wallet connect deep link handling [LIVE-11201]
  .changeset/tasty-forks-kneel.md
  apps/ledger-live-mobile/src/components/RootNavigator/WalletConnectLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/hooks.ts
  apps/ledger-live-mobile/src/screens/Platform/v2/types.ts
Labels: mobile

#6057 [CAL] Support Linea Tokens
  .changeset/red-bananas-judge.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/bep20.json
  libs/ledgerjs/packages/cryptoassets/src/data/eip712.json
  libs/ledgerjs/packages/cryptoassets/src/data/eip712.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/erc20-signatures.ts
  libs/ledgerjs/packages/cryptoassets/src/data/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/10/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/10/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1284/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1284/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/199/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/199/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/25/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/25/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/250/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/250/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42161/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42161/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/43114/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/43114/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/59144/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/59144/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/59144/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/592/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/592/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/8453/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/8453/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/coins.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/polygon-erc20.json
Labels: desktop, common, ledgerjs

#6106 chore: Turn off Allure Reports Export on Server CI jobs
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile-e2e.yml
  apps/ledger-live-desktop/README.md
  apps/ledger-live-mobile/README.md
Labels: desktop, mobile, automation

#6119 Stop generating mac and windows screenshots with the generate-screenshots github action
  .github/workflows/generate-screenshots.yml
Labels: automation

#6096 LLD - Fixed accounts order after changing countervalue in the settings
  .changeset/khaki-poems-attack.md
  apps/ledger-live-desktop/src/renderer/screens/accounts/index.tsx
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/accounts-linux.png
Labels: desktop, screenshots

#6117 LLM - Center text on solana and atom modals
  .changeset/dull-dolls-visit.md
  apps/ledger-live-mobile/src/components/AccountSubHeader/AccountSubHeaderDrawer.tsx
  apps/ledger-live-mobile/src/modals/Info.tsx
Labels: mobile

#6114 [LIVE-10787] Bugfix: Add missing dependencies for Eth clones & plugins
  .changeset/yellow-crews-crash.md
  libs/ledger-live-common/src/apps/polyfill.ts
Labels: common

#6121 [FIX]: Fix displayed text in confirm recovery phrase during onboarding Nano
  .changeset/mighty-lamps-perform.md
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/RecoveryPhraseSetup.tsx
Labels: mobile

#6122 chore(lld): remove unused zxcvbn lib
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/components/InputPassword.tsx
  pnpm-lock.yaml
Labels: desktop

#6123 support: refactor fetching manifest
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
Labels: desktop

#6107 [LIVE-1108][LLD][COMMON][ERRORS] Handle LockedDeviceError correctly
  .changeset/cool-kiwis-film.md
  .changeset/flat-bats-applaud.md
  .changeset/nervous-cobras-jog.md
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/errors/DeviceError.tsx
  libs/ledger-live-common/src/hw/deviceAccess.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: desktop, common, ledgerjs

#6071 [Feat/LIVE10991]: send swapApiBase to swap-live-app
  .changeset/khaki-tomatoes-sleep.md
  apps/ledger-live-desktop/src/renderer/hooks/swap-migrations/useSwapLiveAppHook.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#6125 chore(lodash): all lodash imports must use the fp import style
  .eslintrc.js
  apps/cli/package.json
  apps/cli/src/commands/countervalues.ts
  apps/cli/src/transaction.ts
  apps/ledger-live-desktop/.eslintrc.js
  apps/ledger-live-desktop/src/renderer/components/FirebaseRemoteConfig.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/useChangeLanguagePrompt.tsx
  apps/ledger-live-desktop/src/renderer/reducers/accounts.ts
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/Item.tsx
  apps/ledger-live-mobile/.eslintrc.js
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/AssetRowLayout.tsx
  apps/ledger-live-mobile/src/components/OperationRow/index.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/SectionHeader.tsx
  apps/ledger-live-mobile/src/components/StorylyStories/index.tsx
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/logic/storeWrapper.ts
  apps/ledger-live-mobile/src/reducers/accounts.ts
  apps/ledger-live-mobile/src/screens/CustomImage/NFTGallerySelector.tsx
  apps/ledger-live-mobile/src/screens/FeatureFlagsSettings/index.tsx
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/Assets.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/Node.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/Store.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AssetRow.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/Allocations.tsx
  apps/web-tools/repl/components/LiveEnvEditor.tsx
  apps/web-tools/repl/helpers/env.ts
  libs/coin-algorand/src/js-prepareTransaction.ts
  libs/coin-evm/src/prepareTransaction.ts
  libs/coin-framework/src/transaction/common.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/__tests__/xpub.synced.integration.test.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/pickingstrategies/CoinSelect.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/pickingstrategies/DeepFirst.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/pickingstrategies/Merge.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/storage/index.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/wallet.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/xpub.ts
  libs/ledger-live-common/src/families/cardano/buildSubAccounts.ts
  libs/ledger-live-common/src/families/casper/bridge/bridgeHelpers/accountShape.ts
  libs/ledger-live-common/src/families/elrond/specs.ts
  libs/ledger-live-common/src/families/internet_computer/bridge/bridgeHelpers/account.ts
  libs/ledger-live-common/src/families/solana/api/chain/web3.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/featureFlags/firebaseFeatureFlags.ts
  libs/ledger-live-common/src/onboarding/hooks/useOnboardingStatePolling.ts
  libs/ledger-live-common/src/platform/providers/RampCatalogProvider/helpers.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, cli

#6139 [BUGFIX] : Continue button was greyed out in step 1 of Send flow if the Account to debit is changed
  .changeset/polite-papayas-fold.md
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.tsx
Labels: desktop

#5682 [LIVE-5605] Support - EVM Documentation
  .changeset/blue-coats-marry.md
  .changeset/gold-trains-clap.md
  .changeset/itchy-fans-tell.md
  .changeset/serious-badgers-yawn.md
  .changeset/silly-poets-bathe.md
  libs/coin-evm/.unimportedrc.json
  libs/coin-evm/docs/abis.md
  libs/coin-evm/docs/adapters.md
  libs/coin-evm/docs/api/explorer/etherscan.md
  libs/coin-evm/docs/api/explorer/index.md
  libs/coin-evm/docs/api/explorer/ledger.md
  libs/coin-evm/docs/api/gasTracker/index.md
  libs/coin-evm/docs/api/gasTracker/ledger.md
  libs/coin-evm/docs/api/nft.md
  libs/coin-evm/docs/api/node/index.md
  libs/coin-evm/docs/api/node/ledger.md
  libs/coin-evm/docs/api/node/rpc.md
  libs/coin-evm/docs/bridge.md
  libs/coin-evm/docs/broadcast.md
  libs/coin-evm/docs/buildOptimisticOperation.md
  libs/coin-evm/docs/createTransaction.md
  libs/coin-evm/docs/deviceTransactionConfig.md
  libs/coin-evm/docs/estimateMaxSpendable.md
  libs/coin-evm/docs/getTransactionStatus.md
  libs/coin-evm/docs/hw-getAddress.md
  libs/coin-evm/docs/hw-signMessage.md
  libs/coin-evm/docs/logic.md
  libs/coin-evm/docs/nftResolvers.md
  libs/coin-evm/docs/preload.md
  libs/coin-evm/docs/prepareTransaction.md
  libs/coin-evm/docs/signOperation.md
  libs/coin-evm/docs/specs.md
  libs/coin-evm/docs/speculos-deviceActions.md
  libs/coin-evm/docs/synchronization.md
  libs/coin-evm/docs/transaction.md
  libs/coin-evm/docs/types.md
  libs/coin-evm/package.json
  libs/coin-evm/src/__tests__/unit/getTransactionStatus.unit.test.ts
  libs/coin-evm/src/__tests__/unit/hw-getAddress.unit.test.ts
  libs/coin-evm/src/__tests__/unit/signOperation.unit.test.ts
  libs/coin-evm/src/bridge/js.ts
  libs/coin-evm/src/deviceTransactionConfig.ts
  libs/coin-evm/src/getTransactionStatus.ts
  libs/coin-evm/src/hw-getAddress.ts
  libs/coin-evm/src/hw-signMessage.ts
  libs/coin-evm/src/signOperation.ts
  libs/coin-evm/src/signer.ts
  libs/coin-evm/src/types/signer.ts
  libs/env/src/env.ts
  libs/evm-tools/README.md
  libs/evm-tools/src/index.ts
  libs/evm-tools/src/selectors/index.ts
  libs/ledgerjs/packages/hw-app-eth/src/utils.ts
  pnpm-lock.yaml
Labels: ledgerjs, Stale

#6063 [B2CQA-658] Detox : Improve Manager tests
  apps/ledger-live-mobile/e2e/models/DeviceAction.ts
  apps/ledger-live-mobile/e2e/models/manager/managerPage.ts
  apps/ledger-live-mobile/e2e/specs/manager.spec.ts
  apps/ledger-live-mobile/src/screens/Manager/AppsList/AppInstallButton.tsx
  apps/ledger-live-mobile/src/screens/Manager/AppsList/AppRow.tsx
  apps/ledger-live-mobile/src/screens/Manager/AppsList/AppUninstallButton.tsx
  apps/ledger-live-mobile/src/screens/Manager/AppsList/AppUpdateAll.tsx
  apps/ledger-live-mobile/src/screens/Manager/AppsList/AppUpdateButton.tsx
  apps/ledger-live-mobile/src/screens/Manager/AppsScreen.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceAppStorage.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceName.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/index.tsx
Labels: mobile

#6129 LLM - Removed recommendations toggle from the notifications settings
  .changeset/rich-dogs-peel.md
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/notifications/braze.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Settings/Notifications/index.tsx
Labels: mobile, translations

#6127 Fix XLM crash when swapping (Demo 0)
  .changeset/serious-goats-dream.md
  libs/ledger-live-common/src/wallet-api/Exchange/server.ts
Labels: common

#6141 fix(LIVE-11204): fix min and max amount error when using moonpay
  .changeset/violet-singers-suffer.md
  libs/ledger-live-common/src/exchange/swap/utils/inferRatesError.ts
Labels: common

#6055 [LIVE-10952][Common] Refactoring of list apps
  .changeset/young-books-enjoy.md
  apps/cli/src/commands/appUninstallAll.ts
  apps/cli/src/commands/appsCheckAllAppVersions.ts
  apps/cli/src/commands/appsInstallAll.ts
  apps/cli/src/commands/appsUpdateTestAll.ts
  apps/cli/src/commands/devDeviceAppsScenario.ts
  apps/cli/src/commands/managerListApps.ts
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/Dashboard.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/index.tsx
  apps/ledger-live-mobile/src/screens/Manager/shared.ts
  apps/ledger-live-mobile/src/screens/PairDevices/index.tsx
  libs/ledger-live-common/src/apps/hw.ts
  libs/ledger-live-common/src/apps/inlineAppInstall.ts
  libs/ledger-live-common/src/apps/listApps/v1.ts
  libs/ledger-live-common/src/apps/listApps/v2.test.ts
  libs/ledger-live-common/src/apps/listApps/v2.ts
  libs/ledger-live-common/src/device-core/managerApi/entities/AppEntity.ts
  libs/ledger-live-common/src/device-core/managerApi/entities/LanguagePackageEntity.ts
  libs/ledger-live-common/src/device-core/managerApi/entities/mocks/aDeviceVersion.ts
  libs/ledger-live-common/src/device-core/managerApi/entities/mocks/aFinalFirmware.ts
  libs/ledger-live-common/src/device-core/managerApi/entities/mocks/aOsuFirmware.ts
  libs/ledger-live-common/src/device-core/managerApi/repositories/HttpManagerApiRepository.ts
  libs/ledger-live-common/src/device-core/managerApi/repositories/ManagerApiRepository.ts
  libs/ledger-live-common/src/device-core/managerApi/repositories/StubManagerApiRepository.ts
  libs/ledger-live-common/src/device-core/managerApi/use-cases/getLatestFirmwareForDevice.test.ts
  libs/ledger-live-common/src/device-core/managerApi/use-cases/getProviderIdUseCase.ts
  libs/ledger-live-common/src/device/use-cases/listAppsUseCase.ts
  libs/ledger-live-common/src/hw/connectManager.ts
  libs/ledger-live-common/src/manager/api.ts
  libs/ledger-live-common/src/manager/provider.ts
Labels: desktop, mobile, common, HODL, cli

#6120 [Bugfix/LIVE-11035]: Moonpay LLD - Signature Step Error msg
  .changeset/sharp-crews-rule.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/DrawerFooter.tsx
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledgerjs/packages/hw-app-exchange/src/index.ts
Labels: desktop, mobile, common, ledgerjs, translations

#5999 LLM - Add 2 integration tests for the Market page
  apps/ledger-live-mobile/.unimportedrc.json
  apps/ledger-live-mobile/__tests__/test-renderer.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/__integrations__/changeCurrency.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/__integrations__/searchACoin.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/__integrations__/setFavorites.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/__integrations__/shared.tsx
Labels: mobile

#6105 Feat LIVE-10405 hwappbtc doc
  .changeset/hip-beers-taste.md
  libs/ledgerjs/packages/hw-app-btc/README.md
  libs/ledgerjs/packages/hw-app-btc/src/Btc.ts
  libs/ledgerjs/packages/hw-app-btc/src/BtcNew.ts
  libs/ledgerjs/packages/hw-app-btc/src/BtcOld.ts
  libs/ledgerjs/packages/hw-app-btc/src/bip32.ts
  libs/ledgerjs/packages/hw-app-btc/src/constants.ts
  libs/ledgerjs/packages/hw-app-btc/src/createTransaction.ts
  libs/ledgerjs/packages/hw-app-btc/src/getWalletPublicKey.ts
  libs/ledgerjs/packages/hw-app-btc/src/types.ts
Labels: ledgerjs

#6144 [SUPPORT]: Update Feature flag to handle threshold spam filter directly from FF
  .changeset/shy-ligers-poke.md
  apps/ledger-live-desktop/src/renderer/screens/nft/Collections/Collections.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Gallery/Gallery.tsx
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/live-nft-react/src/hooks/useNftGalleryFilter.test.tsx
  libs/live-nft-react/src/hooks/useNftGalleryFilter.ts
  libs/live-nft/src/api/simplehash.test.ts
  libs/live-nft/src/api/simplehash.ts
Labels: desktop, mobile, common, ledgerjs

#6155 chore: fix typing
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/WebviewErrorDrawer/index.tsx
  libs/exchange-module/src/index.ts
  libs/exchange-module/src/types.ts
Labels: desktop

#6112 bugfix(LIVE-11143): fix useless renders and render issues swap live app
  .changeset/weak-icons-joke.md
  apps/ledger-live-desktop/src/renderer/hooks/swap-migrations/useSwapLiveAppHook.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
Labels: desktop

#6138 accountScreenSelector handling parentAccount equaling account
  .changeset/lazy-spiders-confess.md
  apps/ledger-live-mobile/src/reducers/accounts.ts
Labels: mobile

#6159 [LIVE-11218] Support: Update Linea icons and colors
  .changeset/clean-parents-dress.md
  .changeset/curly-walls-think.md
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ui/packages/crypto-icons/src/svg/currency_linea.svg
  libs/ui/packages/crypto-icons/src/svg/currency_linea_goerli.svg
Labels: ui, ledgerjs

#6161 fix: live 11256 - eth account stake modal conditional render
  .changeset/big-dodos-burn.md
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/EvmStakingDrawerProvider.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/index.tsx
Labels: mobile

#6175 fix: LLD wallet connect deep link handling for requests [LIVE-11270]
  .changeset/fair-adults-marry.md
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.ts
Labels: desktop

#6176 fix: LLD wallet connect deep link handling for requests [LIVE-11270]
  .changeset/big-cobras-worry.md
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.ts
Labels: desktop

#6008 [LIVE-5919][LIVE-5920] [LLM/LLD] Fix misalignment between "Allow manager" and "Allow secure connection"
  .changeset/chilly-avocados-juggle.md
  .changeset/hip-fans-help.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/animations.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#6126 chore: replace @testing-library/react-hooks by @testing-library/react
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/hooks/useDateFormatter.test.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useLocalizedUrls/useLocalizedUrls.test.tsx
  libs/domain-service/package.json
  libs/domain-service/src/__tests__/functional/domain-service.react.test.tsx
  libs/ledger-live-common/jest.config.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/apps/react.test.ts
  libs/ledger-live-common/src/ble/hooks/useBleDevicePairing.test.ts
  libs/ledger-live-common/src/ble/hooks/useBleDevicesScanning.test.ts
  libs/ledger-live-common/src/bridge/useBridgeTransaction.test.ts
  libs/ledger-live-common/src/deposit/deposit.integration.test.ts
  libs/ledger-live-common/src/deviceSDK/hooks/useBatteryStatuses.test.ts
  libs/ledger-live-common/src/deviceSDK/hooks/useToggleOnboardingEarlyChecks.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useIsSwapLiveApp.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useFromState.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/usePageState.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/usePickDefaultAccount.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/usePickDefaultCurrency.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useReverseAccounts.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useSelectableCurrencies.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useToState.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useUpdateMaxAmount.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/persistence.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/react.test.ts
  libs/ledger-live-common/src/families/evm/react.test.ts
  libs/ledger-live-common/src/families/solana/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/solana/react.integration.test.ts
  libs/ledger-live-common/src/families/tron/react.test.ts
  libs/ledger-live-common/src/featureFlags/FeatureFlagsContext.test.tsx
  libs/ledger-live-common/src/featureFlags/useFeature.test.tsx
  libs/ledger-live-common/src/hw/hooks/useGenuineCheck.test.ts
  libs/ledger-live-common/src/onboarding/hooks/useOnboardingStatePolling.test.ts
  libs/ledger-live-common/src/platform/hooks/useManifest.test.ts
  libs/ledger-live-common/src/postOnboarding/hooks/useAllPostOnboardingActionsCompleted.test.ts
  libs/ledger-live-common/src/postOnboarding/hooks/usePostOnboardingEntryPointVisibleOnWallet.test.ts
  libs/ledger-live-common/src/postOnboarding/hooks/usePostOnboardingHubState.test.ts
  pnpm-lock.yaml
Labels: desktop, common

#6180 [BUGFIX] : Wrong icon when hovering over 'Refresh' CTA when synchronisation error 🐛
  .changeset/loud-moons-compare.md
  apps/ledger-live-desktop/src/renderer/components/TopBar/ActivityIndicator.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/shared.ts
Labels: desktop

#6184 [LIVE-11289][Common] Error “not found entity” when using a firmware that requires a “My Ledger provider”
  .changeset/tough-books-lick.md
  libs/ledger-live-common/src/apps/listApps/v2.test.ts
  libs/ledger-live-common/src/apps/listApps/v2.ts
  libs/ledger-live-common/src/device-core/managerApi/repositories/HttpManagerApiRepository.test.ts
  libs/ledger-live-common/src/device-core/managerApi/repositories/HttpManagerApiRepository.ts
  libs/ledger-live-common/src/device/use-cases/listAppsUseCase.test.ts
  libs/ledger-live-common/src/device/use-cases/listAppsUseCase.ts
Labels: common

#6193 [BUGFIX] : Staking discreet mode was not working well
  .changeset/chilly-bees-divide.md
  apps/ledger-live-desktop/src/renderer/families/celo/AccountBodyHeader/Row.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/Delegation/Row.tsx
  apps/ledger-live-desktop/src/renderer/families/elrond/components/Delegations/components/Delegation/index.tsx
  apps/ledger-live-desktop/src/renderer/families/elrond/components/Unbondings/components/Unbonding/index.tsx
  apps/ledger-live-desktop/src/renderer/families/near/Staking/Row.tsx
  apps/ledger-live-desktop/src/renderer/families/polkadot/Nomination/Row.tsx
  apps/ledger-live-desktop/src/renderer/families/solana/Delegation/Row.tsx
Labels: desktop

#6113 [LIVE-11078][Common] refactor getVersion and getDeviceName
  .changeset/five-hotels-sort.md
  apps/cli/src/commands/deviceVersion.ts
  apps/ledger-live-desktop/src/renderer/components/RecoverRestore/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/helpers/createFirmwareUpdateSteps.ts
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-flash-mcu.tsx
  apps/ledger-live-mobile/src/screens/Manager/Device/index.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/index.tsx
  apps/ledger-live-mobile/src/screens/Protect/RedirectToOnboardingRecoverFlow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Connectivity/CommandSender.tsx
  apps/web-tools/repl/commands.ts
  libs/ledger-live-common/src/apps/listApps/v1.ts
  libs/ledger-live-common/src/apps/listApps/v2.ts
  libs/ledger-live-common/src/ble/hooks/useBleDevicePairing.test.ts
  libs/ledger-live-common/src/ble/hooks/useBleDevicePairing.ts
  libs/ledger-live-common/src/device-core/commands/entities/APDU.ts
  libs/ledger-live-common/src/device-core/commands/entities/FirmwareInfoEntity.ts
  libs/ledger-live-common/src/device-core/commands/use-cases/getDeviceName.ts
  libs/ledger-live-common/src/device-core/commands/use-cases/getVersion.ts
  libs/ledger-live-common/src/device-core/commands/use-cases/isBootloaderVersionSupported.test.ts
  libs/ledger-live-common/src/device-core/commands/use-cases/isBootloaderVersionSupported.ts
  libs/ledger-live-common/src/device-core/commands/use-cases/isDeviceLocalizationSupported.test.ts
  libs/ledger-live-common/src/device-core/commands/use-cases/isDeviceLocalizationSupported.ts
  libs/ledger-live-common/src/device-core/commands/use-cases/isHardwareVersionSupported.test.ts
  libs/ledger-live-common/src/device-core/commands/use-cases/isHardwareVersionSupported.ts
  libs/ledger-live-common/src/device-core/commands/use-cases/parseGetDeviceNameResponse.test.ts
  libs/ledger-live-common/src/device-core/commands/use-cases/parseGetDeviceNameResponse.ts
  libs/ledger-live-common/src/device-core/commands/use-cases/parseGetVersionResponse.test.ts
  libs/ledger-live-common/src/device-core/commands/use-cases/parseGetVersionResponse.ts
  libs/ledger-live-common/src/device/use-cases/getDeviceNameUseCase.ts
  libs/ledger-live-common/src/device/use-cases/getVersionUseCase.ts
  libs/ledger-live-common/src/deviceSDK/commands/getVersion.test.ts
  libs/ledger-live-common/src/deviceSDK/commands/getVersion.ts
  libs/ledger-live-common/src/hw/getDeviceInfo.ts
  libs/ledger-live-common/src/hw/getDeviceName.test.ts
  libs/ledger-live-common/src/hw/getDeviceName.ts
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.test.ts
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.ts
Labels: desktop, mobile, common, cli

#6162 bugfix: better tezos reveal check
  .changeset/thirty-suits-allow.md
  libs/ledger-live-common/src/exchange/swap/maybeTezosAccountUnrevealedAccount.ts
Labels: common

#6195 [LIVE-11304][BREAKING CHANGE] Feature: Deprecating Base Goerli and Arbitrum Goerli for Sepolia networks
  .changeset/hot-horses-flow.md
  .changeset/nervous-keys-tell.md
  .changeset/strong-suns-join.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/coin-evm/src/__tests__/unit/editTransaction/__snapshots__/getFormattedFeeFields.test.ts.snap
  libs/coin-evm/src/api/node/rpc.common.ts
  libs/coin-evm/src/logic.ts
  libs/coin-evm/src/specs.ts
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/crypto-icons/src/svg/currency_arbitrum_sepolia.svg
  libs/ui/packages/crypto-icons/src/svg/currency_base_sepolia.svg
Labels: desktop, mobile, common, ui, ledgerjs, cli

#6143 Move from Container/Presentational pattern to hooks
  apps/ledger-live-mobile/src/newArch/features/Market/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/WalletTabNavigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketCurrencySelect/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketCurrencySelect/useMarketCurrencySelectViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketDetail/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketDetail/useMarketDetailViewModel.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketList/components/BottomSection/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketList/components/BottomSection/useBottomSectionViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketList/useMarketListViewModel.ts
Labels: mobile

#6194 Bugfix/copy parent account error release
  .changeset/tidy-donuts-serve.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#6192 Bugfix/copy parent account error
  .changeset/thin-otters-move.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#6169 [LLD] - [BUGFIX] - [LIVE-10488] - Fix ContentCard link + rename actions label to mainCta & secondaryCta
  apps/ledger-live-desktop/src/renderer/hooks/useBraze.ts
  apps/ledger-live-desktop/src/renderer/hooks/usePortfolioCards.tsx
  apps/ledger-live-desktop/src/types/dynamicContent.ts
Labels: desktop

#6183 Update algorand explorer
  .changeset/sweet-grapes-brush.md
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: ledgerjs

#6178 Bugfix/countdown timer refresh swap form
  .changeset/brown-experts-fly.md
  .changeset/early-turtles-join.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/SectionRate.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Migrations/SwapMigrationUI.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Countdown.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/hooks/useRefreshRates.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useProviderRates.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
  pnpm-lock.yaml
Labels: desktop, common

#6197 bugfix(LIVE-11047): swap llm issue when trying to swap from sol with delegated account
  .changeset/metal-avocados-perform.md
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectAccount.tsx
Labels: mobile

#6211 Fix Release LLD - Underline a tags in Alert messages
  .changeset/tame-cameras-smoke.md
  apps/ledger-live-desktop/src/renderer/components/Alert.tsx
Labels: desktop

#6208 Launchscreen constraints on iOS
  apps/ledger-live-mobile/ios/LaunchScreen.storyboard
Labels: mobile

#6182 Feat/live 9693 invalid address error
  .changeset/slow-worms-fold.md
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
Labels: common

#6116 Support/cardano nano app v6
  .changeset/poor-bottles-learn.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/cardano/hw-getAddress.ts
  libs/ledger-live-common/src/families/cardano/js-synchronisation.ts
  libs/ledger-live-common/src/families/cardano/logic.ts
  libs/ledger-live-common/src/families/cardano/specs.ts
  libs/ledger-live-common/src/families/cardano/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/cardano/tx-helpers.ts
  pnpm-lock.yaml
Labels: common

#6216 [LLD] Release notes 2.77.0
  apps/ledger-live-desktop/RELEASE_NOTES.md
Labels: desktop

#6191 Remove windows and mac when we run ui tests in CI
  .github/workflows/test.yml
Labels: automation

#5817 bugfix: bot formatter to display mutation details properly
  .changeset/silly-vans-taste.md
  libs/ledger-live-common/src/bot/formatters.ts
Labels: common, fork

#6215 fix: make sure mouse is hovering nano S on onboarding e2e tests
  apps/ledger-live-desktop/tests/models/OnboardingPage.ts
  apps/ledger-live-desktop/tests/specs/onboarding/connect-device.spec.ts
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts
Labels: desktop

#6207 [Bugfix/LIVE-11132]: add ptxSwapMoonpayProviderEnabled as an identity and tracker analytics property
  .changeset/cyan-pens-prove.md
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/utils/index.ts
Labels: desktop

#6229 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#6218 update to latest version of wallet-api-* packages
  .changeset/early-books-kick.md
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts
  libs/exchange-module/package.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/wallet-api/converters.ts
  pnpm-lock.yaml
  tests/dummy-wallet-app/package.json
Labels: desktop, common

#6237 Skip delegate flow flaky test
  .changeset/plenty-news-visit.md
  apps/ledger-live-desktop/tests/specs/accounts/delegate.smoke.spec.ts
Labels: desktop

#6232 [Bugfix/LIVE-11123]: add language and themeId to moonpay redirection URL
  .changeset/clean-pants-pretend.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
Labels: desktop

#6236 [LLM] - [LIVE-10674] - Fix favorite currencies not loading when out of marketData first page
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketList/useMarketListViewModel.ts
  apps/ledger-live-mobile/src/screens/Market/index.tsx
Labels: mobile

#6242 [LLM] - [LIVE-11362] - Fix QR code UI issue on scan
  apps/ledger-live-mobile/src/components/CameraScreen/index.tsx
Labels: mobile

#6133 [Bugfix/Stacks] Fix Account sync error for imported accounts
  .changeset/dry-birds-learn.md
  libs/ledger-live-common/src/families/stacks/bridge.integration.test.ts
  libs/ledger-live-common/src/families/stacks/bridge/account.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/misc.ts
Labels: common, fork

#6181 [LIVE-11235][LLM] Update available modal
  .changeset/pink-dragons-greet.md
  apps/ledger-live-mobile/src/screens/Manager/Modals/UpdateAllModal.tsx
Labels: mobile, live-devices

#6267 chore: update release note files with proper content
  apps/ledger-live-desktop/RELEASE_NOTES.md
Labels: desktop

#6158 Fix provideESDTInfo from device
  apps/ledger-live-desktop/src/renderer/families/elrond/EarnRewards.tsx
  libs/ledger-live-common/src/families/elrond/js-signOperation.ts
  libs/ledgerjs/packages/cryptoassets/src/data/esdt.json
Labels: desktop, common, ledgerjs, fork

#6213 LLM - Update copy and style of the analytics opt in prompt
  .changeset/grumpy-lions-joke.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/Common.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantA/Details.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantA/Main.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/Details.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/Main.tsx
Labels: mobile, translations

#6056 feat: add lang param to manifest call
  .changeset/fluffy-kings-hunt.md
  apps/ledger-live-desktop/src/renderer/components/PlatformAppProviderWrapper.tsx
  apps/ledger-live-mobile/src/PlatformAppProviderWrapper.tsx
  libs/ledger-live-common/src/platform/filters.ts
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/index.tsx
Labels: desktop, mobile, common

#6255 Smartling translations are updated for PR#6253 from support/hotfix-merge-conflicts
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#6268 [bugfix] Fetch NEAR staking positions from node instead of kitwallet API
  .changeset/clever-pans-joke.md
  libs/coin-near/package.json
  libs/coin-near/src/api/archive-node-sdk.ts
  libs/coin-near/src/api/index.ts
  libs/coin-near/src/api/near-staking-positions-sdk.ts
  libs/env/src/env.ts
  libs/ledgerjs/packages/hw-app-near/package.json
  pnpm-lock.yaml
Labels: ledgerjs

#6279 Support/near hotfix
  .changeset/clever-pans-joke.md
  libs/coin-near/package.json
  libs/coin-near/src/api/archive-node-sdk.ts
  libs/coin-near/src/api/index.ts
  libs/coin-near/src/api/near-staking-positions-sdk.ts
  libs/env/src/env.ts
  libs/ledgerjs/packages/hw-app-near/package.json
  pnpm-lock.yaml
Labels: ledgerjs

#6259 fix(LIVE-11282): close platform drawer
  .changeset/heavy-wombats-confess.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
Labels: desktop

#6200 [Bugfix/ICP] Fix Account sync error for imported accounts
  .changeset/breezy-masks-deny.md
  libs/ledger-live-common/src/families/internet_computer/bridge.integration.test.ts
  libs/ledger-live-common/src/families/internet_computer/bridge/bridgeHelpers/account.ts
  libs/ledger-live-common/src/families/internet_computer/bridge/bridgeHelpers/icpRosetta/index.ts
  libs/ledger-live-common/src/families/internet_computer/bridge/bridgeHelpers/icpRosetta/types.ts
Labels: common, fork

#6280 update release notes hotfix
  apps/ledger-live-desktop/RELEASE_NOTES.md
Labels: desktop

#6281 bugfix: freeze when disable broadcast
  .changeset/brave-hounds-whisper.md
  apps/ledger-live-desktop/src/renderer/components/LiveAppDrawer.tsx
Labels: desktop

#6088 [Tezos] Use forgeOperation to sign transaction
  .changeset/lazy-crabs-wave.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  libs/coin-evm/src/__tests__/unit/signOperation.unit.test.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/exchange/swap/index.ts
  libs/ledger-live-common/src/exchange/swap/maybeTezosAccountUnrevealedAccount.ts
  libs/ledger-live-common/src/families/tezos/bridge.integration.test.ts
  libs/ledger-live-common/src/families/tezos/bridge/js.ts
  libs/ledger-live-common/src/families/tezos/fixtures/makeAccount.ts
  libs/ledger-live-common/src/families/tezos/signOperation.test.ts
  libs/ledger-live-common/src/families/tezos/signOperation.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, translations

#6256 Feat/redirect moonpay history live app
  .changeset/clever-planets-sip.md
  CODEOWNERS
  apps/ledger-live-desktop/src/renderer/drawers/SwapOperationDetails/index.tsx
Labels: enhancement, desktop

#6091 [bugfix/deps]: Unrelated Energy Error on Tron Bandwidth Unfreeze + Update Wallet API packages
  .changeset/late-deers-warn.md
  libs/ledger-live-common/src/families/tron/bridge.integration.test.ts
  libs/ledger-live-common/src/families/tron/bridge/js.ts
Labels: common, fork

#6238 feat(LLM/AnalyticsOptIn): Adding opt-in for existing users
  .changeset/fast-llamas-taste.md
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/RootNavigator/AnalyticsOptInPromptNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/AnalyticsOptInPromptNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/AnalyticsOptInPromptNavigator.tsx
  apps/ledger-live-mobile/src/hooks/analyticsOptInPrompt/useAnalyticsOptInPromptLogic.ts
  apps/ledger-live-mobile/src/hooks/analyticsOptInPrompt/useAnalyticsOptInPromptLogicVariantA.ts
  apps/ledger-live-mobile/src/hooks/analyticsOptInPrompt/useAnalyticsOptInPromptLogicVariantB.ts
  apps/ledger-live-mobile/src/hooks/analyticsOptInPrompt/usePorfolioAnalyticsOptInPrompt.ts
  apps/ledger-live-mobile/src/hooks/useAnalyticsOptInPromptVariantA.ts
  apps/ledger-live-mobile/src/hooks/useAnalyticsOptInPromptVariantB.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantA/Details.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantA/Main.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/Details.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/Main.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/AnalyticsRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/PersonalizedRecommendationsRow.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#6223 LLM - Analytics prompt improvements
  .changeset/fast-llamas-taste.md
  .changeset/orange-cobras-agree.md
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/analytics/TrackScreen.tsx
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/RootNavigator/AnalyticsOptInPromptNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/AnalyticsOptInPromptNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/AnalyticsOptInPromptNavigator.tsx
  apps/ledger-live-mobile/src/hooks/analyticsOptInPrompt/useAnalyticsOptInPromptLogic.ts
  apps/ledger-live-mobile/src/hooks/analyticsOptInPrompt/useAnalyticsOptInPromptLogicVariantA.ts
  apps/ledger-live-mobile/src/hooks/analyticsOptInPrompt/useAnalyticsOptInPromptLogicVariantB.ts
  apps/ledger-live-mobile/src/hooks/analyticsOptInPrompt/usePorfolioAnalyticsOptInPrompt.ts
  apps/ledger-live-mobile/src/hooks/useAnalyticsOptInPromptVariantA.ts
  apps/ledger-live-mobile/src/hooks/useAnalyticsOptInPromptVariantB.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantA/Details.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantA/Main.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/Details.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/Main.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/AnalyticsRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/PersonalizedRecommendationsRow.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#6284 Hotfix lowercase identifier fixes
  .changeset/chilly-ducks-accept.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/families/tron/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/tron/api/index.ts
  libs/ledger-live-common/src/families/tron/bridge.integration.test.ts
  libs/ledger-live-common/src/families/tron/bridge/js.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
Labels: common, ledgerjs

#6206 fix canStake method
  .changeset/tough-hairs-retire.md
  apps/ledger-live-desktop/src/renderer/families/cardano/AccountHeaderManageActions.ts
  libs/ledger-live-common/src/families/cardano/logic.ts
  libs/ledger-live-common/src/families/cardano/logic.unit.test.ts
Labels: desktop, common, fork

#6189 chore(deps): Bump stellar-sdk from 10.4.1 to 11.2.2.
  .changeset/stupid-steaks-sip.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/stellar/api/horizon.ts
  libs/ledger-live-common/src/families/stellar/bridge.integration.test.ts
  libs/ledger-live-common/src/families/stellar/js-buildTransaction.ts
  libs/ledger-live-common/src/families/stellar/js-signOperation.ts
  libs/ledger-live-common/src/families/stellar/logic.ts
  libs/ledger-live-common/src/families/stellar/types.ts
  libs/ledgerjs/packages/hw-app-str/README.md
  pnpm-lock.yaml
Labels: common, ledgerjs, fork

#6252 [bugfix] Solana: Update staking operations to fix balances history in graph
  .changeset/cyan-socks-taste.md
  apps/ledger-live-desktop/src/renderer/families/solana/index.ts
  apps/ledger-live-desktop/src/renderer/families/solana/operationDetails.tsx
  apps/ledger-live-mobile/src/families/solana/operationDetails.tsx
  libs/ledger-live-common/src/families/solana/bridge/bridge.ts
  libs/ledger-live-common/src/families/solana/js-synchronization.ts
  libs/ledger-live-common/src/families/solana/serialization.ts
  libs/ledger-live-common/src/families/solana/types.ts
Labels: desktop, mobile, common, fork

#6221 [FEAT] : List Component on MarketPerfWidget
  apps/ledger-live-desktop/src/renderer/components/FormattedVal.tsx
  apps/ledger-live-desktop/src/renderer/components/Price.tsx
  apps/ledger-live-desktop/src/renderer/hooks/usePrice.ts
  apps/ledger-live-desktop/src/renderer/hooks/useResize.ts
  apps/ledger-live-desktop/src/renderer/icons/ArrowDownRight.tsx
  apps/ledger-live-desktop/src/renderer/icons/ArrowUpRight.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/Container.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/Header.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/WidgetList.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/__tests__/useMarketPerformanceWidget.test.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/components/Container.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/components/Error.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/components/Footer.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/components/Header.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/components/MissingData.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/components/WidgetList.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/types.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/useMarketPerformanceWidget.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#6212 [coin-config] Under maintenance status
  .changeset/healthy-otters-design.md
  libs/ledger-live-common/src/config/sharedConfig.ts
  libs/ledger-live-common/src/families/algorand/config.ts
  libs/ledger-live-common/src/families/bitcoin/config.ts
  libs/ledger-live-common/src/families/cardano/config.ts
  libs/ledger-live-common/src/families/casper/config.ts
  libs/ledger-live-common/src/families/celo/config.ts
  libs/ledger-live-common/src/families/cosmos/chain/chain.unit.test.ts
  libs/ledger-live-common/src/families/cosmos/config.ts
  libs/ledger-live-common/src/families/crypto_org/config.ts
  libs/ledger-live-common/src/families/elrond/config.ts
  libs/ledger-live-common/src/families/evm/config.ts
  libs/ledger-live-common/src/families/filecoin/config.ts
  libs/ledger-live-common/src/families/hedera/config.ts
  libs/ledger-live-common/src/families/internet_computer/config.ts
  libs/ledger-live-common/src/families/near/config.ts
  libs/ledger-live-common/src/families/polkadot/config.ts
  libs/ledger-live-common/src/families/ripple/config.ts
  libs/ledger-live-common/src/families/solana/config.ts
  libs/ledger-live-common/src/families/stacks/config.ts
  libs/ledger-live-common/src/families/stellar/config.ts
  libs/ledger-live-common/src/families/tezos/config.ts
  libs/ledger-live-common/src/families/tron/config.ts
  libs/ledger-live-common/src/families/vechain/config.ts
Labels: common

#6289 [LIVE-11383][CI] - [Github Actions] - Update PR auto close
  tools/github-bot/src/features/autoClose/index.ts
  tools/github-bot/src/index.ts
Labels: tools, live-devices

#6163 [DSDK-114][TU] Complete TU and verify GetLatestFirmwareUpdate refacto
  libs/ledger-live-common/src/device-core/managerApi/use-cases/getLatestFirmwareForDevice.test.ts
Labels: common, live-devices

#6313 Smartling on-demand translation delivery from release
  .changeset/red-meals-pretend.md
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#6230 chore: update latest Electron libs patch
  apps/ledger-live-desktop/package.json
  pnpm-lock.yaml
Labels: desktop

#6251 [LIVE-8852] Bugfix: Prevent error message on NFT send if bridge pending
  .changeset/eighty-jars-smell.md
  apps/ledger-live-mobile/src/screens/SendFunds/03b-AmountNft.tsx
Labels: mobile

#6285 fix(llm): accountCard tag on android no multi lines
  .changeset/stale-llamas-jam.md
  apps/ledger-live-mobile/src/components/AccountCard.tsx
Labels: mobile

#6309 [LIVE-11110] Feature: Remove Evmos & Kava currencies & Fix multiple EVM currencies explorers URI
  .changeset/olive-chairs-serve.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/coin-evm/src/__tests__/unit/api/explorer/etherscan.unit.test.ts
  libs/coin-evm/src/__tests__/unit/editTransaction/__snapshots__/getFormattedFeeFields.test.ts.snap
  libs/coin-evm/src/api/explorer/etherscan.ts
  libs/coin-framework/src/__snapshots__/account.test.ts.snap
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/coin-framework/src/mocks/account.ts
  libs/ledger-live-common/src/__snapshots__/cross.test.ts.snap
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/live-countervalues/src/__snapshots__/portfolio.test.ts.snap
Labels: desktop, mobile, common, ledgerjs, cli

#6292 fix(llm): button_clicked event on account wallet and market
  .changeset/new-moles-hunt.md
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/families/celo/accountActions.tsx
  apps/ledger-live-mobile/src/families/cosmos/accountActions.tsx
  apps/ledger-live-mobile/src/families/elrond/accountActions.tsx
  apps/ledger-live-mobile/src/families/evm/accountActions.tsx
  apps/ledger-live-mobile/src/families/near/accountActions.tsx
  apps/ledger-live-mobile/src/families/polkadot/accountActions.tsx
  apps/ledger-live-mobile/src/families/solana/accountActions.tsx
  apps/ledger-live-mobile/src/families/tezos/accountActions.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioQuickActionsBar.tsx
Labels: mobile

#6174 feat: update the modal ui for token approval [LIVE-10709]
  .changeset/fifty-tools-change.md
  CODEOWNERS
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/TransactionConfirm/ConfirmApproval.tsx
  apps/ledger-live-desktop/src/renderer/components/TransactionConfirm/ConfirmApprovalFooter.tsx
  apps/ledger-live-desktop/src/renderer/components/TransactionConfirm/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/Body.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/steps/GenericStepConnectDevice.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/steps/StepConnectDevice.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/types.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/services/confirmTransaction.spec.ts
  libs/ledger-live-common/src/hw/actions/transaction.ts
Labels: desktop, common, translations

#6321 [LIVE-11121] LLD - Fix Transaction details drawer empty when using third party app
  .changeset/quiet-fireants-fry.md
  apps/ledger-live-desktop/src/renderer/components/ToastOverlay/Toast.tsx
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.tsx
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts
Labels: desktop

#6311 bugfix/LIVE 11372 swap moonpay transaction broadcasted screen is not seen
  .changeset/cyan-peas-draw.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/BodyContent.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/TransactionBroadcastedContent.tsx
Labels: desktop

#6332 bugfix/LIVE 11546 llm swap text overlap when user doesnt have enough eth in parent account for fees
  .changeset/yellow-geese-trade.md
  apps/ledger-live-mobile/src/screens/Swap/Form/TxForm/From.tsx
Labels: mobile

#6327 Safer solana hydrate
  .changeset/unlucky-bottles-dress.md
  libs/ledger-live-common/src/families/solana/js-preload.test.ts
  libs/ledger-live-common/src/families/solana/js-preload.ts
Labels: common

#6317 Feat/live 11301 atom sequence error
  .changeset/ninety-jokes-study.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/ValidateError.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.test.ts
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: desktop, mobile, common, ledgerjs, translations

#6233 Bugfix/remove backend errors
  .changeset/great-dots-tease.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchRates.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
Labels: desktop, common, translations

#6331 Fix/release live 11549
  apps/ledger-live-mobile/src/components/CurrencyUnitValue.tsx
  apps/ledger-live-mobile/src/context/Locale.tsx
  apps/ledger-live-mobile/src/hooks/useSettings/index.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/MarketStats.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/index.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketRowItem.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/MarketPrice.tsx
Labels: mobile

#6330 Fallback on default language when the one set is not supported
  apps/ledger-live-mobile/src/components/CurrencyUnitValue.tsx
  apps/ledger-live-mobile/src/context/Locale.tsx
  apps/ledger-live-mobile/src/hooks/useSettings/index.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/MarketStats.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/index.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketRowItem.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/MarketPrice.tsx
Labels: mobile
