Repository LedgerHQ/ledger-live, pull requests merged in 2024-04, with the labels that each got.

#6591 Add missing i18n key for unknown swap status
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#6328 feat: native dApp support [LIVE-9527]
  .changeset/swift-apricots-obey.md
  apps/ledger-live-desktop/.unimportedrc.json
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/components/OperationsList/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/DeviceConnection/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SyncOnboardingCompanion.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/LiveAppSDKLogic.ts
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/NoAccountOverlay.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/helpers.ts
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/types.ts
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/TopBar.tsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/index.tsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/logic.ts
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.tsx
  apps/ledger-live-desktop/src/renderer/drawers/Provider.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/DeviceName.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/hooks.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/LanguageSelect.tsx
  apps/ledger-live-desktop/src/renderer/screens/stake/index.tsx
  apps/ledger-live-desktop/src/webviewPreloader/dappPreloader.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/services/dapp.spec.ts
  apps/ledger-live-desktop/tools/config/webviewDappPreloader.esbuild.js
  apps/ledger-live-desktop/tools/main.js
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/Web3AppWebview/NoAccountScreen.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/dappInject.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/index.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/types.ts
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/BottomBar.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Platform/v2/hooks.ts
  apps/ledger-live-mobile/src/screens/Settings/Developer/CustomManifest.tsx
  libs/ethereum-provider/package.json
  libs/ethereum-provider/rollup.config.mjs
  libs/ethereum-provider/src/LedgerLiveEthereumProvider.ts
  libs/ethereum-provider/src/index.ts
  libs/ethereum-provider/src/onPageLoad.ts
  libs/ethereum-provider/tsconfig.json
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/hooks/useDBRaw.ts
  libs/ledger-live-common/src/platform/types.ts
  libs/ledger-live-common/src/wallet-api/SmartWebsocket.ts
  libs/ledger-live-common/src/wallet-api/constants.ts
  libs/ledger-live-common/src/wallet-api/helpers.ts
  libs/ledger-live-common/src/wallet-api/react.ts
  libs/ledger-live-common/src/wallet-api/tracking.ts
  libs/ledger-live-common/src/wallet-api/types.ts
  libs/ledger-live-common/src/wallet-api/useDappLogic.ts
  package.json
  pnpm-lock.yaml
  tools/actions/build-checks/src/logic.ts
Labels: desktop, mobile, common, tools, translations

#6595 fix(llm): change add account wording
  .changeset/happy-gorillas-melt.md
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#6600 feat(llm): add big content card into carousel
  apps/ledger-live-mobile/src/contentCards/cards/vertical/elements.tsx
  apps/ledger-live-mobile/src/contentCards/cards/vertical/index.tsx
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsCategory/Layout.tsx
Labels: mobile

#6593 feat(llm): remove hardcoded recover card and add content card component to my ledger page
  .changeset/slow-beds-compete.md
  apps/ledger-live-mobile/src/actions/protect.ts
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/components/ServicesWidget/Protect/useProtect.ts
  apps/ledger-live-mobile/src/components/ServicesWidget/index.tsx
  apps/ledger-live-mobile/src/reducers/protect.ts
  apps/ledger-live-mobile/src/screens/Manager/index.tsx
Labels: mobile

#6602 chore: fix lld losing ref to Electron.Framework
  tools/native-modules-tools/index.js
Labels: tools

#6599 [LLM] - [LIVE-10591] - Update traduction on swap in TR
  .changeset/ninety-falcons-hope.md
  apps/ledger-live-mobile/src/locales/tr/common.json
Labels: mobile, translations

#6425 chore: unify rendering of Recover Banner
  .changeset/silent-apricots-work.md
  apps/ledger-live-desktop/src/renderer/components/ContentCards/ActionCard/index.tsx
  apps/ledger-live-desktop/src/renderer/components/RecoverBanner/RecoverBanner.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/ActionContentCards.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.tsx
Labels: desktop, Stale

#6603 [LIVE-11948][LIVE-11968] Bugfix: Support failed operations &fix tx simulation and SDK breaking changes in Cosmos
  .changeset/big-badgers-argue.md
  .changeset/funny-walls-begin.md
  libs/env/src/env.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.test.ts
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.ts
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.unit.test.ts
  libs/ledger-live-common/src/families/cosmos/api/types.ts
  libs/ledger-live-common/src/families/cosmos/js-buildTransaction.ts
  libs/ledger-live-common/src/families/cosmos/js-buildTransaction.unit.test.ts
  libs/ledger-live-common/src/families/cosmos/js-prepareTransaction.ts
  libs/ledger-live-common/src/families/cosmos/js-prepareTransaction.unit.test.ts
  libs/ledger-live-common/src/families/cosmos/js-signOperation.ts
  libs/ledger-live-common/src/families/cosmos/js-synchronisation.ts
  libs/ledger-live-common/src/families/cosmos/js-synchronisation.unit.test.ts
  pnpm-lock.yaml
Labels: common

#6283 Feat(LLD): Enable Tron 2.0 Staking in Ledger Live via Stakekit Live App
  .changeset/soft-snakes-prove.md
  apps/ledger-live-desktop/src/renderer/families/tron/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/tron/AccountSubHeader.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Votes/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/index.ts
Labels: desktop, fork

#6613 Address Feedback on #6609
  .changeset/rotten-cups-carry.md
  apps/ledger-live-desktop/src/renderer/families/tron/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/tron/Votes/index.tsx
Labels: desktop, fork

#6609 Feat/enable tron staking via stakekit backport
  .changeset/rotten-cups-carry.md
  apps/ledger-live-desktop/src/renderer/families/tron/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/tron/AccountSubHeader.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Votes/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/index.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-firstAccountPage-linux.png
Labels: desktop, screenshots

#6612 [Bugfix/LIVE-11850]: Add additional properties to the accepted & cancelled swap API calls.
  .changeset/sharp-camels-rhyme.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/ExchangeDrawer/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/Confirmation.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/index.tsx
  libs/ledger-live-common/src/exchange/swap/postSwapState.ts
  libs/ledger-live-common/src/exchange/swap/setBroadcastTransaction.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
Labels: desktop, mobile, common

#6621 fix: update swap history banner text
  .changeset/red-ducks-worry.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/verify-swap-history-linux.png
Labels: desktop, translations, screenshots

#6622 [E2E]: Fix Market test
  .changeset/mean-steaks-explode.md
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-search-bi-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-search-bitcoin-linux.png
Labels: desktop, screenshots

#6458 [LIVE-10136] new runner configs
  .github/workflow-templates/bot-coin-family.yml
  .github/workflows/bot-nonreg-nitrogen.yml
  .github/workflows/bot-nonreg-oxygen.yml
  .github/workflows/bot-portfolio-report.yml
  .github/workflows/bot-staging-explorer-btc.yml
  .github/workflows/bot-staging-explorer-eth.yml
  .github/workflows/bot-testing-carbon.yml
  .github/workflows/bot-testing-mere-denis.yml
  .github/workflows/bot-testing-mooncake.yml
  .github/workflows/bot-testing-oxygen.yml
  .github/workflows/bot-testing-phosphore.yml
  .github/workflows/bot-testing-silicium.yml
  .github/workflows/bot-transfer.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/healthchecks-runners.yaml
  .github/workflows/regen-doc.yml
  .github/workflows/test-bridge-pr.yml
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-integration-pr.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-mobile-e2e.yml
  .github/workflows/test-mobile.yml
  .github/workflows/test.yml
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/android/gradle.properties
  apps/ledger-live-mobile/ios/Podfile
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  tools/actions/composites/setup-caches/action.yml
  tools/actions/composites/setup-toolchain/action.yml
Labels: mobile, tools, automation

#6601 bugfix: do not close drawer after startExchange
  .changeset/rare-sheep-sit.md
  apps/ledger-live-desktop/src/renderer/components/LiveAppDrawer.tsx
Labels: desktop

#6610 feat: add stacks family [LIVE-11510]
  .changeset/poor-pears-taste.md
  .changeset/sweet-laws-lie.md
  libs/exchange-module/package.json
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
  tests/dummy-wallet-app/package.json
Labels: common

#6626 chore: update upload/download actions to v4
  .github/workflows/bot-portfolio-report.yml
  .github/workflows/bot-transfer.yml
  .github/workflows/build-desktop-external.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile-external.yml
  .github/workflows/build-mobile.yml
  .github/workflows/commitlint.yml
  .github/workflows/gate.yml
  .github/workflows/generate-screenshots.yml
  .github/workflows/regen-doc.yml
  .github/workflows/regen-pods.yml
  .github/workflows/test-bridge-pr.yml
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-integration-pr.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-mobile-e2e.yml
  .github/workflows/test-mobile.yml
  .github/workflows/test.yml
  tools/actions/composites/bot/action.yml
  tools/actions/composites/update-snapshots-desktop/action.yml
  tools/actions/composites/upload-allure-report/action.yml
Labels: tools, automation

#6634 :bug: [LIVE-11921] [LLD][FW Update] Restore settings drawer is empty
  .changeset/orange-students-argue.md
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-restore.tsx
Labels: desktop, live-devices

#6640 [LIVE-8183]LLM - MyLedger: hidden apps when using the search bar in the manager because of trimming
  .changeset/forty-elephants-jump.md
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/AppsList/AppRow.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/AppsScreen.tsx
Labels: mobile, live-devices

#6608 [LLD] - [] - Disable storyly feature flag in default settings
  .changeset/serious-coins-dance.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
Labels: desktop, common

#6637 [LLD] - [LIVE-11842] - Remove the spams NFT in custom lock screen on LLD
  .changeset/moody-adults-roll.md
  apps/ledger-live-desktop/src/renderer/components/CustomImage/NFTGallerySelector.tsx
Labels: desktop

#6592 feat(LIVE-11102): add rate expired error message
  .changeset/itchy-tools-visit.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/errors.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
  libs/live-network/src/network.ts
Labels: desktop, common, translations

#6653 [LIVE-12100] Fix cosmos redelegations
  .changeset/yellow-parents-dance.md
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.ts
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.unit.test.ts
  libs/ledger-live-common/src/families/cosmos/api/types.ts
Labels: common

#6660 [LLD] - [] - Fix LLD inconsistency in NFTGallerySelector
  apps/ledger-live-desktop/src/renderer/components/CustomImage/NFTGallerySelector.tsx
Labels: desktop

#6659 [LLM] - [LIVE-11843] - Remove the spams NFT in custom lock screen on LLM
  .changeset/strange-spoons-dream.md
  apps/ledger-live-mobile/src/screens/CustomImage/NFTGallerySelector.tsx
Labels: mobile

#6632 Feat/live 10716 focus app when modal open
  .changeset/perfect-knives-help.md
  apps/ledger-live-desktop/src/main/index.ts
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
Labels: desktop

#6652 [LIVE-12100] Fix cosmos redelegations
  .changeset/yellow-parents-dance.md
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.ts
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.unit.test.ts
  libs/ledger-live-common/src/families/cosmos/api/types.ts
Labels: common

#6628 [Feat/LIVE-12088]: remove max toggle button from swap LLM
  .changeset/spotty-tigers-play.md
  apps/ledger-live-mobile/e2e/specs/swap/swap.spec.ts
  apps/ledger-live-mobile/src/screens/Swap/Form/Max.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
Labels: mobile

#6658 fix: swap history status translations
  .changeset/gorgeous-cherries-eat.md
  .changeset/grumpy-pillows-think.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/History/OperationRow.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#6499 feat(llm): change ui of content card to fit with design
  .changeset/fifty-emus-itch.md
  .changeset/quiet-phones-tan.md
  .changeset/strong-moose-report.md
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/contentCards/cards/horizontal/index.tsx
  apps/ledger-live-mobile/src/contentCards/cards/types.tsx
  apps/ledger-live-mobile/src/contentCards/cards/vertical/elements.tsx
  apps/ledger-live-mobile/src/contentCards/cards/vertical/index.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/index.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/pagination/index.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/grid/index.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/grid/utils.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/types.tsx
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsCategory/Layout.tsx
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsLocation.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/dynamicContent/utils.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerChooseDevice/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioEmptyState.tsx
Labels: mobile

#6670 fix(llm): fix ui select device screen
  .changeset/hungry-trainers-explain.md
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
Labels: mobile

#6648 [FEAT] - [LLM] - Remove Spams NFT in Accounts Page
  .changeset/four-yaks-float.md
  apps/ledger-live-mobile/src/screens/Account/NftCollectionsList.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/index.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/01b-SelectCollection.tsx
Labels: mobile

#6674 fix(llm): set terms and privacy urls for pt-br
  .changeset/eleven-shoes-turn.md
  apps/ledger-live-mobile/src/utils/urls.tsx
Labels: mobile

#6492 fix(lld): fix duplicated learn more link inside error banner
  .changeset/good-maps-camp.md
  apps/ledger-live-desktop/src/renderer/components/ErrorBanner.tsx
Labels: desktop

#6647 Support/e2e tests only workflow
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation

#6667 ⚡: [FEAT] - Add Spam report functionality in LLD
  .changeset/modern-clocks-jog.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SpamReportNtf/InputRow.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SpamReportNtf/SelectRow.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SpamReportNtf/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SpamReportNtf/type.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/live-nft-react/.unimportedrc.json
  libs/live-nft-react/src/hooks/__tests__/useNftGalleryFilter.test.tsx
  libs/live-nft-react/src/hooks/__tests__/useSpamReportNft.test.tsx
  libs/live-nft-react/src/hooks/types.ts
  libs/live-nft-react/src/hooks/useNftGalleryFilter.ts
  libs/live-nft-react/src/hooks/useSpamReportNft.ts
  libs/live-nft-react/src/index.ts
  libs/live-nft-react/src/queryKeys.ts
  libs/live-nft-react/src/tools/helperTests.tsx
  libs/live-nft/src/api/simplehash.ts
  libs/live-nft/src/api/types.ts
Labels: desktop, common, ledgerjs, translations

#6683 [FIX] : MarketPerf Widget wasn't updated well when Top 5 crypto is the same for multiples minutes
  .changeset/three-geckos-help.md
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/useMarketPerformanceWidget.ts
  libs/ledger-live-common/src/market/v2/useMarketPerformers.ts
Labels: desktop, common

#6664 bugfix: close completeExchange drawer when sell or card
  .changeset/rich-windows-rule.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
Labels: desktop

#6693 cherrypick: #6664
  .changeset/rich-windows-rule.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
Labels: desktop

#6671 fix: CTA UI [LIVE-11696]
  .changeset/tall-cherries-allow.md
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Card/Cta.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Card/Full.tsx
Labels: desktop

#6654 feat: exchangeModule triggers error drawer
  .changeset/mean-jobs-help.md
  .changeset/twenty-moose-peel.md
  apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/CustomHandlers.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/WebviewErrorDrawer/index.tsx
  apps/ledger-live-mobile/src/components/WebPTXPlayer/CustomHandlers.ts
  libs/exchange-module/src/index.ts
  libs/exchange-module/src/types.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
  libs/ledger-live-common/src/wallet-api/Exchange/server.test.ts
  libs/ledger-live-common/src/wallet-api/Exchange/server.ts
Labels: desktop, mobile, common

#6556 Fix: LIVE-11896 Polkadot (DOT): Bonded balance
  .changeset/lovely-moose-happen.md
  libs/coin-modules/coin-polkadot/src/bridge/preload.ts
Labels: Stale

#6690 fix: untranslated CTA [LIVE-11648]
  .changeset/fresh-coats-give.md
  apps/ledger-live-mobile/src/PlatformAppProviderWrapper.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Cta.tsx
Labels: mobile

#6655 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
Labels: desktop, translations

#6676 [LIVE-12203] Feature: Add TRC20 importers for exchange
  .changeset/yellow-pandas-tan.md
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/exchange/trc20.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/trc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/trc20.ts
  libs/ledgerjs/packages/cryptoassets/src/exchange.ts
Labels: ledgerjs

#6695 chore(PROTECT-3040): fix stax recover source & enable
  .changeset/sixty-days-check.md
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectUseCase/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SyncOnboardingCompanion.tsx
Labels: desktop

#6701 chore(LLD): add deeplink support in dev mode
  .changeset/honest-laws-look.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/main/index.ts
  pnpm-lock.yaml
Labels: desktop

#6682 [LIVE-10249] Bugfix - Cardano invalid data supplied
  .changeset/fresh-pillows-poke.md
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/steps/StepDelegation.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/UndelegateFlowModal/steps/StepSummary.tsx
  apps/ledger-live-mobile/src/families/cardano/Delegations/index.tsx
  apps/ledger-live-mobile/src/families/cardano/UndelegationFlow/01-Summary.tsx
  libs/ledger-live-common/src/families/cardano/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/cardano/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/cardano/js-getTransactionStatus.unit.test.ts
  libs/ledger-live-common/src/families/cardano/js-signOperation.ts
Labels: desktop, mobile, common

#6700 💄 : Fix Explorer Button in NFT viewer
  .changeset/little-pens-fly.md
  apps/ledger-live-desktop/src/renderer/drawers/NFTViewerDrawer/ExternalViewerButton.tsx
Labels: desktop

#6711 fix(LIVE-12227): add check provider for moonpay if FF is on or off
  .changeset/rotten-bears-call.md
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFetchRates.ts
Labels: common

#6646 ✨ LLM / LLD - Europa PostOnboarding
  .changeset/beige-otters-cheat.md
  .changeset/thin-ducks-teach.md
  apps/ledger-live-desktop/src/renderer/components/ContentCards/ActionCard/index.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingActionRow.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingHubBanner.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingHubContent.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/PostOnboardingMockAction.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/logic/index.tsx
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingHub/logic/useCompleteAction.ts
  apps/ledger-live-desktop/src/renderer/components/PostOnboardingScreen/index.tsx
  apps/ledger-live-desktop/src/renderer/components/RecoverBanner/RecoverBanner.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveFunds.tsx
  apps/ledger-live-desktop/src/renderer/screens/customImage/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Experimental/PostOnboardingHubTester.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/postOnboarding/post-onboarding.spec.ts-snapshots/custom-image-003-postonboarding-banner-in-dashboard-linux.png
  apps/ledger-live-mobile/src/components/PostOnboarding/PostOnboardingActionRow.tsx
  apps/ledger-live-mobile/src/components/PostOnboarding/PostOnboardingEntryPointCard.tsx
  apps/ledger-live-mobile/src/components/RecoverBanner/index.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/postOnboarding/actions.ts
  apps/ledger-live-mobile/src/logic/postOnboarding/index.tsx
  apps/ledger-live-mobile/src/logic/postOnboarding/mockActions.ts
  apps/ledger-live-mobile/src/logic/postOnboarding/useCompleteAction.ts
  apps/ledger-live-mobile/src/screens/MyLedgerChooseDevice/index.tsx
  apps/ledger-live-mobile/src/screens/PostOnboarding/PostOnboardingDebugScreen.tsx
  apps/ledger-live-mobile/src/screens/PostOnboarding/PostOnboardingHub.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/postOnboarding.ts
Labels: desktop, mobile, ledgerjs, translations, screenshots

#6684 Reapply "fix: keep a margin of 0,005eth/bsc/matic for swaps using evm…
  .changeset/sharp-carpets-shout.md
  libs/coin-modules/coin-evm/src/__tests__/unit/prepareTransaction.unit.test.ts
  libs/coin-modules/coin-evm/src/prepareTransaction.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useFromState.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useUpdateMaxAmount.ts
Labels: common

#6669 [LIVE-12211][BREAKING CHANGE] Feature: Upgrade testnets to deprecate all Goerli networks
  .changeset/angry-shrimps-work.md
  .changeset/cyan-deers-remember.md
  .changeset/stale-hornets-grab.md
  .github/workflows/bot-staging-explorer-eth.yml
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/cryptoassets.md
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  apps/web-tools/live-common-setup.ts
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/coin-framework/src/mocks/account.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/api/gasTracker/ledger.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/editTransaction/__snapshots__/getFormattedFeeFields.test.ts.snap
  libs/coin-modules/coin-evm/src/api/gasTracker/ledger.ts
  libs/coin-modules/coin-evm/src/api/node/ledger.ts
  libs/coin-modules/coin-evm/src/api/node/rpc.common.ts
  libs/coin-modules/coin-evm/src/logic.ts
  libs/coin-modules/coin-evm/src/specs.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/families/evm/config.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/walletConnect/index.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/crypto-icons/src/svg/currency_linea_sepolia.svg
  libs/ui/packages/crypto-icons/src/svg/currency_optimism_sepolia.svg
Labels: desktop, mobile, common, ui, ledgerjs, automation, cli

#6710 [LIVE-11490][LLD] Extra backup state when updating the firmware of an unseed Stax
  .changeset/soft-hats-invent.md
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/01-step-prepare.tsx
Labels: desktop, live-devices

#6681 [LIVE-12123][LLD] Incorrect error when trying to perform an action with Stax not on latest firmware
  .changeset/weak-tools-swim.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations, live-devices

#6629 feat(lld-llm): Privacy enhancement for braze CC
  .changeset/twelve-rocks-swim.md
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/components/Carousel/helpers.tsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useActionCards.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useBraze.ts
  apps/ledger-live-desktop/src/renderer/hooks/useNotifications.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-search-bitcoin-linux.png
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/dynamicContent/brazeContentCard.ts
  apps/ledger-live-mobile/src/dynamicContent/useContentCards.ts
  apps/ledger-live-mobile/src/dynamicContent/useDynamicContentLogic.ts
  apps/ledger-live-mobile/src/dynamicContent/utils.tsx
  apps/ledger-live-mobile/src/notifications/HookNotifications.ts
  apps/ledger-live-mobile/src/notifications/braze.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/braze/anonymousUsers.test.ts
  libs/ledger-live-common/src/braze/anonymousUsers.ts
Labels: desktop, mobile, common, screenshots

#6697 ASA Tokens add account translations
  .changeset/eighty-crabs-search.md
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#6716 LLM - Braze Plugin added to Segment to reduce Data Points usage
  .changeset/purple-ligers-stare.md
  apps/ledger-live-mobile/src/analytics/BrazePlugin.tsx
  apps/ledger-live-mobile/src/analytics/segment.ts
Labels: mobile

#6712 [LIVE-11932][LIVE-11739][LIVE-7351] Bugfix - Making Near functional again.
  .changeset/proud-readers-shout.md
  .changeset/purple-bobcats-fetch.md
  .changeset/tasty-pigs-pretend.md
  libs/coin-modules/coin-near/package.json
  libs/coin-modules/coin-near/src/api/index.ts
  libs/coin-modules/coin-near/src/api/indexer.ts
  libs/coin-modules/coin-near/src/api/node.ts
  libs/coin-modules/coin-near/src/bridge/js.ts
  libs/coin-modules/coin-near/src/config.ts
  libs/coin-modules/coin-near/src/js-buildTransaction.ts
  libs/coin-modules/coin-near/src/preload.ts
  libs/env/src/env.ts
  libs/ledger-live-common/src/families/near/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/near/config.ts
  libs/ledger-live-common/src/families/near/setup.ts
  libs/ledgerjs/packages/hw-app-near/src/Near.ts
  pnpm-lock.yaml
Labels: common, ledgerjs

#6638 bugfix: recover restore onboarding false positives
  .changeset/small-zebras-join.md
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SyncOnboardingCompanion.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useRecoverRestoreOnboarding.ts
Labels: desktop

#6713 added step into userRefused for LLD
  .changeset/popular-horses-sin.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/ExchangeDrawer/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/index.tsx
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
Labels: desktop, mobile, common

#6718 avoid displaying address field on sign transaction modal
  .changeset/curvy-moons-know.md
  apps/ledger-live-desktop/src/renderer/components/TransactionConfirm/index.tsx
Labels: desktop

#6685 Feat/live 8363
  .changeset/spotty-fireants-sin.md
  apps/ledger-live-desktop/src/renderer/hooks/swap-migrations/useSwapLiveAppHook.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#6665 [bugfix/LIVE-11512]: return correct translation for user refused on device from swap-live-app
  .changeset/short-llamas-brush.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
Labels: desktop

#6726 [FIX]: Starred coins were not saved anymore since rework
  .changeset/small-birds-remain.md
  apps/ledger-live-desktop/src/renderer/actions/market.ts
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/reducers/market.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/market/hooks/useMarket.ts
  apps/ledger-live-desktop/src/renderer/screens/market/hooks/useMarketCoin.ts
Labels: desktop

#6580 [LIVE-10285] enable allure upload
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-mobile-e2e.yml
  tools/actions/composites/upload-allure-report/action.yml
Labels: tools, automation

#6692 [LLM/LLD] Deprecated coins banner
  .changeset/great-ways-compete.md
  .changeset/itchy-radios-exist.md
  .changeset/lovely-pianos-rush.md
  apps/ledger-live-desktop/src/renderer/components/TopBanner.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/Body.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountHeader.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Account/AccountHeaderRight.tsx
  apps/ledger-live-mobile/src/screens/Account/ListHeaderComponent.tsx
  apps/ledger-live-mobile/src/screens/Account/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  libs/coin-framework/src/config.ts
  libs/coin-modules/coin-bitcoin/src/bridge/js.ts
  libs/coin-modules/coin-bitcoin/src/config.ts
  libs/ledger-live-common/src/families/bitcoin/setup.ts
Labels: desktop, mobile, common, translations

#6645 [LIVE-12107/LIVE-11325][LLD/LLM][Sync onboarding] Recover backup entry point
  .changeset/dull-jeans-attack.md
  .changeset/four-bears-shop.md
  .changeset/friendly-ears-shave.md
  .changeset/funny-frogs-ring.md
  .changeset/sour-turtles-search.md
  .changeset/spicy-planes-lie.md
  apps/ledger-live-desktop/src/renderer/components/ButtonV3.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/BackupStep.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SyncOnboardingCompanion.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/shared.tsx
  apps/ledger-live-desktop/src/storyly/useStoryly.tsx
  apps/ledger-live-desktop/src/types/storyly-web.d.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-search-bitcoin-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/portfolio-entry-buttons-linux.png
  apps/ledger-live-desktop/tests/specs/support/unsupported-os.spec.ts-snapshots/error-os-unsupported-linux.png
  apps/ledger-live-mobile/src/components/StorylyStories/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SyncOnboardingCompanion.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/companionSteps/BackupStep.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/storyly.ts
  libs/ui/packages/react/src/components/Tag/Tag.stories.tsx
  libs/ui/packages/react/src/components/Tag/index.tsx
Labels: desktop, mobile, common, ui, ledgerjs, translations, screenshots, live-devices

#6698 :bug: [LIVE-12015] [LLD/LLM] Prevent the screen from locking for firmware update and app installation/update
  .changeset/nice-rats-hunt.md
  .changeset/real-swans-heal.md
  apps/ledger-live-desktop/src/main/setup.ts
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useKeepScreenAwake.ts
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/Progress.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/src/hooks/useKeepScreenAwake.ts
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/AppsList/AppStateButton.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SyncOnboardingCompanion.tsx
  pnpm-lock.yaml
Labels: desktop, mobile, live-devices

#6636 Revamp coin integration test
  libs/coin-framework/.unimportedrc.json
  libs/coin-framework/src/test-helpers/bridge-integration-suite.ts
  libs/coin-modules/coin-bitcoin/src/__snapshots__/bridge.integration.test.ts.snap
  libs/coin-modules/coin-bitcoin/src/bridge.integration.test.ts
  libs/coin-modules/coin-bitcoin/src/datasets/bitcoin.ts
  libs/coin-modules/coin-bitcoin/src/transaction.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/bridge.ts
Labels: ledgerjs

#6734 Bugfix - Update TRC20 exchange importer
  .changeset/sharp-clocks-fetch.md
  apps/ledger-live-desktop/cryptoassets.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/exchange/trc20.ts
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/trc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/trc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/trc20.ts
Labels: desktop, common, ledgerjs

#6452 feat: create modify and export a local live app inside lld
  .changeset/happy-tools-allow.md
  .changeset/metal-garlics-hang.md
  apps/ledger-live-desktop/src/renderer/modals/CreateLocalManifest/Chip.tsx
  apps/ledger-live-desktop/src/renderer/modals/CreateLocalManifest/FormLiveAppArrayInput.tsx
  apps/ledger-live-desktop/src/renderer/modals/CreateLocalManifest/FormLiveAppArraySelect.tsx
  apps/ledger-live-desktop/src/renderer/modals/CreateLocalManifest/FormLiveAppHeader.tsx
  apps/ledger-live-desktop/src/renderer/modals/CreateLocalManifest/FormLiveAppInput.tsx
  apps/ledger-live-desktop/src/renderer/modals/CreateLocalManifest/FormLiveAppSelector.tsx
  apps/ledger-live-desktop/src/renderer/modals/CreateLocalManifest/NestedFormCategory.tsx
  apps/ledger-live-desktop/src/renderer/modals/CreateLocalManifest/defaultValues.tsx
  apps/ledger-live-desktop/src/renderer/modals/CreateLocalManifest/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/index.ts
  apps/ledger-live-desktop/src/renderer/modals/types.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/RunLocalAppButton.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/models/SettingsPage.ts
  apps/ledger-live-desktop/tests/specs/settings/modal-create-manifest.spec.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/helpers.ts
  libs/ledger-live-common/src/platform/types.ts
  pnpm-lock.yaml
Labels: desktop, common, translations

#6749 [BUGFIX]: APP crash on receive flow when clicking learn
  .changeset/hot-pumas-obey.md
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
Labels: mobile

#6736 💄[BUGFIX]: Update NoCryptoPlaceholder Icon on market using right Theme
  .changeset/flat-experts-complain.md
  apps/ledger-live-desktop/src/renderer/images/no-results-found-dark.png
  apps/ledger-live-desktop/src/renderer/images/no-results-found-light.png
  apps/ledger-live-desktop/src/renderer/images/no-results-found.png
  apps/ledger-live-desktop/src/renderer/screens/market/MarketList/components/NoCryptoPlaceholder.tsx
Labels: desktop

#6760 feat(PROTECT-3040): capture device model id in recover
  .changeset/wet-wombats-whisper.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/BackupStep.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useRecoverRestoreOnboarding.ts
  apps/ledger-live-desktop/src/renderer/screens/recover/Player.tsx
  apps/ledger-live-mobile/src/screens/Protect/Player.tsx
Labels: desktop, mobile

#6762 [LL/LLD] - [LIVE-12215] - Add WalletSync feature flag + add WalletSync architecture in LLD
  apps/ledger-live-desktop/src/newArch/WalletSync/hooks/.gitkeep
  apps/ledger-live-desktop/src/newArch/WalletSync/screens/components/.gitkeep
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#6764 adding a data-test-id
  apps/ledger-live-desktop/src/renderer/screens/asset/AccountDistribution/Row.tsx
Labels: desktop

#6767 [LLM] add parentAccount in getMainAccount
  .changeset/tame-coins-reflect.md
  apps/ledger-live-mobile/src/screens/Account/index.tsx
Labels: mobile

#6663 Move transaction serialization in correct directory
  .changeset/cyan-points-obey.md
  libs/coin-framework/.unimportedrc.json
  libs/coin-framework/package.json
  libs/coin-framework/src/formatters.ts
  libs/coin-framework/src/index.ts
  libs/coin-framework/src/serialization/index.ts
  libs/coin-framework/src/serialization/transaction.ts
  libs/coin-framework/src/transaction/common.ts
  libs/coin-modules/coin-algorand/src/transaction.ts
  libs/coin-modules/coin-bitcoin/src/transaction.ts
  libs/coin-modules/coin-evm/src/transaction.ts
  libs/coin-modules/coin-near/src/transaction.ts
  libs/coin-modules/coin-polkadot/src/bridge/transaction.ts
  libs/ledger-live-common/src/families/cardano/transaction.ts
  libs/ledger-live-common/src/families/casper/transaction.ts
  libs/ledger-live-common/src/families/celo/transaction.ts
  libs/ledger-live-common/src/families/cosmos/transaction.ts
  libs/ledger-live-common/src/families/crypto_org/transaction.ts
  libs/ledger-live-common/src/families/elrond/transaction.ts
  libs/ledger-live-common/src/families/filecoin/transaction.ts
  libs/ledger-live-common/src/families/hedera/transaction.ts
  libs/ledger-live-common/src/families/internet_computer/transaction.ts
  libs/ledger-live-common/src/families/ripple/transaction.ts
  libs/ledger-live-common/src/families/solana/transaction.ts
  libs/ledger-live-common/src/families/stacks/transaction.ts
  libs/ledger-live-common/src/families/stellar/transaction.ts
  libs/ledger-live-common/src/families/tezos/transaction.ts
  libs/ledger-live-common/src/families/tron/transaction.ts
  libs/ledger-live-common/src/families/vechain/transaction.ts
Labels: common

#6772 bugfix: close whatever drawer is opened before opening an error drawer
  .changeset/green-turkeys-add.md
  apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/CustomHandlers.ts
Labels: desktop

#6766 bugfix/adding-key-for-rate-expired
  .changeset/plenty-ways-switch.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/WebviewErrorDrawer/index.tsx
  libs/exchange-module/src/types.ts
Labels: desktop

#6770 add missing Oasys and Shiden EVM nano app dep (ETH)
  .changeset/flat-panthers-agree.md
  libs/ledger-live-common/src/apps/polyfill.ts
Labels: common

#6781 Bugfix/LIVE-12364
  .changeset/sour-actors-exist.md
  libs/ledger-live-common/src/hw/actions/startExchange.ts
Labels: common

#6783 cherrypick/LIVE-12364 (#6781)
  .changeset/sour-actors-exist.md
  libs/ledger-live-common/src/hw/actions/startExchange.ts
Labels: common

#6757 feat: add buy sell shortcut feature flag
  .changeset/wicked-feet-fly.md
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#6763 [LLD] - [LIVE-12209] - Add Wallet Sync in LLD settings
  .changeset/tasty-balloons-report.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSyncRow.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#6530 Coin-tester tool engine + EVM coin-tester
  .gitignore
  apps/ledger-live-desktop/src/renderer/screens/market/index.tsx
  libs/coin-modules/coin-evm/.eslintrc.js
  libs/coin-modules/coin-evm/jest.config.js
  libs/coin-modules/coin-evm/package.json
  libs/coin-modules/coin-evm/src/__tests__/coin-tester/.env.example
  libs/coin-modules/coin-evm/src/__tests__/coin-tester/anvil.ts
  libs/coin-modules/coin-evm/src/__tests__/coin-tester/docker-compose.yml
  libs/coin-modules/coin-evm/src/__tests__/coin-tester/helpers.ts
  libs/coin-modules/coin-evm/src/__tests__/coin-tester/indexer.ts
  libs/coin-modules/coin-evm/src/__tests__/coin-tester/scenarios.test.ts
  libs/coin-modules/coin-evm/src/__tests__/coin-tester/scenarios/ethereum.ts
  libs/coin-modules/coin-evm/src/__tests__/coin-tester/scenarios/polygon.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/api/node/ledger.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/api/node/rpc.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/synchronization.unit.test.ts
  libs/coin-modules/coin-evm/src/api/node/ledger.ts
  libs/coin-modules/coin-evm/src/api/node/rpc.common.ts
  libs/coin-modules/coin-evm/src/api/node/types.ts
  libs/coin-modules/coin-evm/src/synchronization.ts
  libs/coin-tester/.eslintrc.js
  libs/coin-tester/README.md
  libs/coin-tester/docker-compose.yml
  libs/coin-tester/jest.config.js
  libs/coin-tester/package.json
  libs/coin-tester/src/main.ts
  libs/coin-tester/src/signers/speculos.ts
  libs/coin-tester/src/types.ts
  libs/coin-tester/tsconfig.json
  package.json
  pnpm-lock.yaml
Labels: desktop
