Repository LedgerHQ/ledger-live, pull requests merged in 2024-01, with the labels that each got.

#5801 [BUGFIX]: Unresponsive button in Receive token flow
  .changeset/itchy-oranges-crash.md
  apps/ledger-live-desktop/src/renderer/modals/Receive/index.tsx
Labels: desktop

#5228 Safer Solana staking
  .changeset/tricky-needles-allow.md
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationFlowModal/steps/StepAmount.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/families/solana/DelegationFlow/SelectAmount.tsx
  apps/ledger-live-mobile/src/families/solana/DelegationFlow/Summary.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/families/solana/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/solana/banner.test.ts
  libs/ledger-live-common/src/families/solana/bridge.integration.test.ts
  libs/ledger-live-common/src/families/solana/js-buildTransaction.ts
  libs/ledger-live-common/src/families/solana/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/solana/js-prepareTransaction.ts
  libs/ledger-live-common/src/families/solana/js-signOperation.ts
  libs/ledger-live-common/src/families/solana/js-synchronization.ts
  libs/ledger-live-common/src/families/solana/serialization.ts
  libs/ledger-live-common/src/families/solana/tx-fees.ts
  libs/ledger-live-common/src/families/solana/types.ts
  libs/ledger-live-common/src/families/solana/utils.ts
Labels: desktop, mobile, common, translations, fork

#5675 [FEATURE][LIVE-10220] make Qtum work with old and new nano app interfaces
  .changeset/nice-bobcats-drop.md
  libs/ledgerjs/packages/hw-app-btc/src/Btc.ts
  libs/ledgerjs/packages/hw-app-btc/src/BtcNew.ts
  libs/ledgerjs/packages/hw-app-btc/tests/newops/isPathNormal.test.ts
  libs/ledgerjs/packages/hw-app-btc/tests/semver.test.ts
Labels: ledgerjs, Stale

#5822 [support] Change vechain's bot spec to use NanoS+ app instead of NanoX
  libs/ledger-live-common/src/families/vechain/specs.ts
Labels: common

#5829 Coinconfig unit test
  libs/ledger-live-common/src/config/index.test.ts
Labels: common

#5778 feat(swap): update Moonpay CAL sig
  libs/ledger-live-common/src/exchange/swap/index.ts
Labels: common

#5819 chore: update to Node 20 (+ minor pnpm update)
  .github/workflows/healthchecks-runners.yaml
  .prototools
  tools/actions/composites/bot/action.yml
  tools/actions/composites/setup-toolchain/action.yml
Labels: tools, automation

#5715 fix(LIVE-10552): change quote refresh rate to 20 seconds
  .changeset/little-ducks-build.md
  apps/ledger-live-desktop/src/renderer/reducers/swap.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/utils/getRefreshTime.test.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/utils/getRefreshTime.ts
  apps/ledger-live-mobile/src/reducers/swap.ts
  libs/ledger-live-common/src/config/index.ts
  libs/ledger-live-common/src/exchange/swap/const/timeout.ts
Labels: desktop, mobile, common

#5849 chore: fixes Sentry warning to happen in dev mode
  apps/ledger-live-mobile/index.js
  apps/ledger-live-mobile/src/sentry.ts
Labels: mobile

#5785 Remove usage of deprecated navigator.product
  .changeset/big-beds-lie.md
  apps/ledger-live-mobile/jest-setup.js
  libs/ledger-live-common/jest.config.ts
  libs/live-network/src/network.ts
Labels: mobile, common

#5650 [support] Replace hardcoded countervalues URL with value from env var
  .changeset/sharp-buttons-rescue.md
  apps/ledger-live-desktop/tests/specs/countervalues/api.spec.ts
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts
  libs/coin-framework/src/currencies/support.ts
  libs/ledger-live-common/src/families/hedera/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/hedera/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/hedera/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/hedera/js-signOperation.ts
  libs/ledger-live-common/src/families/hedera/tests/js-estimateMaxSpendable.integration.test.ts
  libs/ledger-live-common/src/families/hedera/tests/utils.integration.test.ts
  libs/ledger-live-common/src/families/hedera/utils.ts
Labels: desktop, common

#5862 Smartling on-demand translation delivery from release
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#5845 Bugfix/live 10292 handle usb disconnect open app
  .changeset/khaki-schools-hide.md
  apps/ledger-live-mobile/src/components/SelectDevice2/Item.tsx
  libs/ledger-live-common/src/hw/actions/app.ts
Labels: mobile, common

#5534 [feat] Add support for Tron Staking 2.0 (balance & history)
  .changeset/mean-insects-care.md
  apps/ledger-live-desktop/src/renderer/components/OperationsList/ConfirmationCheck.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/TransactionConfirmFields.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/operationDetails.tsx
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/pt/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/families/tron/TransactionConfirmFields.tsx
  apps/ledger-live-mobile/src/families/tron/operationDetails.tsx
  apps/ledger-live-mobile/src/icons/OperationStatusIcon/index.tsx
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/pt/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
  apps/ledger-live-mobile/src/screens/UnfreezeFunds/01-Amount.tsx
  libs/coin-framework/src/operation.ts
  libs/ledger-live-common/src/account/importAccounts.integration.test.ts
  libs/ledger-live-common/src/errors.ts
  libs/ledger-live-common/src/families/tron/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/tron/account.ts
  libs/ledger-live-common/src/families/tron/api/index.ts
  libs/ledger-live-common/src/families/tron/bridge.integration.test.ts
  libs/ledger-live-common/src/families/tron/bridge/js.ts
  libs/ledger-live-common/src/families/tron/cli-transaction.ts
  libs/ledger-live-common/src/families/tron/data.mock.ts
  libs/ledger-live-common/src/families/tron/deviceTransactionConfig.ts
  libs/ledger-live-common/src/families/tron/errors.ts
  libs/ledger-live-common/src/families/tron/react.test.ts
  libs/ledger-live-common/src/families/tron/react.ts
  libs/ledger-live-common/src/families/tron/serialization.ts
  libs/ledger-live-common/src/families/tron/types.ts
  libs/ledger-live-common/src/families/tron/utils.ts
  libs/ledger-live-common/src/mock/account.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/operation.ts
Labels: desktop, mobile, common, ledgerjs, HODL, translations, fork

#5859 fix(NativeUI): AnimatedInput warning fix
  .changeset/great-clouds-brake.md
  libs/ui/packages/native/src/components/Form/Input/AnimatedInput/index.tsx
Labels: ui

#5853 Bugfix/live-10863
  .changeset/rich-pans-exercise.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/index.tsx
Labels: desktop

#5870 fix: wallet-api complete exchange drawer not closing
  .changeset/green-lobsters-learn.md
  apps/ledger-live-desktop/src/renderer/components/LiveAppDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
Labels: desktop

#5875 LLM - Addition of the Grid Layout to the Flexible Content Cards System
  .changeset/brown-cats-mate.md
  apps/ledger-live-mobile/src/contentCards/cards/vertical/elements.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/grid/index.tsx
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsCategory/Layout.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/dynamicContent/utils.tsx
Labels: mobile

#5818 Fix: add from_height to improve btc sync
  .changeset/fifty-needles-explode.md
  libs/ledger-live-common/src/families/bitcoin/js-synchronisation.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/explorer/index.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/explorer/types.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/wallet.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/xpub.ts
Labels: common

#5874 chore: update lint script
  apps/ledger-live-desktop/.gitignore
  apps/ledger-live-desktop/scripts/ci-lint.mjs
  apps/ledger-live-mobile/scripts/e2e-ci.mjs
Labels: desktop, mobile

#5677 [SUPPORT]: Localize urls within LLD
  .changeset/warm-jars-design.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Help/RecoverySeed.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Help/RecoveryWarning.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/RecoverHowTo.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/index.tsx
  apps/ledger-live-desktop/src/renderer/components/RecoverRestore/index.tsx
  apps/ledger-live-desktop/src/renderer/components/RenderError.tsx
  apps/ledger-live-desktop/src/renderer/components/SendFeeMode.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/DeviceNotGenuineDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Updater/Banner.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/NetworkError.tsx
  apps/ledger-live-desktop/src/renderer/families/algorand/Rewards/EarnRewardsInfoModal/index.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/Info/index.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/Delegation/index.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/RedelegationFlowModal/steps/StepStarter.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/StakeBanner.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/shared/components/CosmosFamilyValidatorRow.tsx
  apps/ledger-live-desktop/src/renderer/families/elrond/components/Modals/Delegate/Info/index.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeBanner.tsx
  apps/ledger-live-desktop/src/renderer/families/tezos/DelegateFlowModal/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/tezos/DelegateFlowModal/steps/StepStarter.tsx
  apps/ledger-live-desktop/src/renderer/families/tezos/Delegation/index.tsx
  apps/ledger-live-desktop/src/renderer/families/tron/Votes/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useLocalizedUrls/index.ts
  apps/ledger-live-desktop/src/renderer/hooks/useLocalizedUrls/useLocalizedUrls.test.tsx
  apps/ledger-live-desktop/src/renderer/modals/Help/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/TermOfUseUpdate/TermOfUseUpdateBody.tsx
  apps/ledger-live-desktop/src/renderer/screens/USBTroubleshooting/solutions/RepairFunnel.tsx
  apps/ledger-live-desktop/src/renderer/screens/USBTroubleshooting/solutions/ResetNVRAM.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/EmptyStateAccounts.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/EmptyStateInstalledApps.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/FirmwareUpdate/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/About/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Help/index.tsx
  apps/ledger-live-desktop/src/renderer/terms.ts
Labels: desktop

#5886 feat: display fees even if there no edit available
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionFees.tsx
Labels: desktop

#5887 fix(lld/deviceaction/rendering): FirmwareNotRecognized rendering polish
  .changeset/eight-rockets-drop.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/ErrorBody.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#5883 fix: update swap live app ff logic & add new feature flag
  .changeset/odd-worms-double.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useIsCurrencySupported.ts
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useIsSwapLiveApp.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useIsSwapLiveApp.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/live-config/src/featureFlags/defaultFeatures.ts
Labels: desktop, common, ledgerjs

#5873 [B2CQA-1804]: add test for access wallet screen by sync with Ledger Live Desktop
  apps/ledger-live-mobile/e2e/models/onboarding/onboardingSteps.ts
  apps/ledger-live-mobile/e2e/setup.ts
  apps/ledger-live-mobile/e2e/specs/onboarding.spec.ts
  apps/ledger-live-mobile/src/components/CameraScreen/QRCodeBottomLayer.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/SyncDesktop.tsx
Labels: mobile

#5834 feat: add staking flow tracking properties for first steps
  .changeset/eleven-planets-deliver.md
  apps/ledger-live-desktop/src/renderer/families/elrond/components/Modals/Claim/steps/StepClaimRewards.tsx
  apps/ledger-live-desktop/src/renderer/families/elrond/components/Modals/Claim/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/elrond/components/Modals/Delegate/steps/StepAmount.tsx
  apps/ledger-live-desktop/src/renderer/families/elrond/components/Modals/Delegate/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/elrond/components/Modals/Delegate/steps/StepDelegation.tsx
  apps/ledger-live-desktop/src/renderer/families/elrond/components/Modals/Undelegate/steps/Amount.tsx
  apps/ledger-live-desktop/src/renderer/families/elrond/components/Modals/Undelegate/steps/Confirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/elrond/components/Modals/Withdraw/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/elrond/components/Modals/Withdraw/steps/StepWithdraw.tsx
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/types.ts
  apps/ledger-live-mobile/src/families/cardano/accountActions.tsx
  apps/ledger-live-mobile/src/families/cosmos/DelegationFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/cosmos/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/cosmos/DelegationFlow/types.ts
  apps/ledger-live-mobile/src/families/cosmos/accountActions.tsx
  apps/ledger-live-mobile/src/families/elrond/accountActions.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Claim/components/ValidationError/ValidationError.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Claim/components/ValidationSuccess/ValidationSuccess.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Delegate/components/EarnRewards/EarnRewards.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Delegate/components/PickValidator/PickValidator.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Delegate/components/SetDelegation/SetDelegation.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Delegate/components/ValidationError/ValidationError.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Delegate/components/ValidationSuccess/ValidationSuccess.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Delegate/types.ts
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Undelegate/components/ValidationError/ValidationError.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Undelegate/components/ValidationSuccess/ValidationSuccess.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Withdraw/components/ValidationError/ValidationError.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Withdraw/components/ValidationSuccess/ValidationSuccess.tsx
  apps/ledger-live-mobile/src/families/near/StakingFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/near/StakingFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/near/StakingFlow/types.ts
  apps/ledger-live-mobile/src/families/near/accountActions.tsx
  apps/ledger-live-mobile/src/families/solana/DelegationFlow/Started.tsx
  apps/ledger-live-mobile/src/families/tezos/DelegationFlow/Started.tsx
Labels: enhancement, desktop, mobile

#5895 chore: update .prototools versions (minor bumps)
  .github/workflows/healthchecks-runners.yaml
  .prototools
  tools/actions/composites/bot/action.yml
  tools/actions/composites/setup-toolchain/action.yml
Labels: tools, automation

#5792 feat(LLD/send): New gas fees parent account error
  .changeset/rude-moose-bathe.md
  apps/ledger-live-desktop/src/renderer/components/SelectFeeStrategy.tsx
  apps/ledger-live-desktop/src/renderer/families/bitcoin/SendAmountFields.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/SelectFeeStrategy.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/AmountField.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepAmount.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/coin-evm/src/getTransactionStatus.ts
Labels: desktop, translations

#5892 fix(Dynamic Counter Values): Bugfixes
  .changeset/nasty-peas-love.md
  apps/ledger-live-desktop/src/renderer/hooks/useInitSupportedCounterValues.ts
  libs/coin-framework/src/currencies/support.ts
Labels: desktop

#5763 Feat LIVE-9515 live config lib cosmos
  apps/cli/package.json
  apps/cli/src/live-common-setup.ts
  apps/ledger-live-desktop/src/renderer/components/FirebaseRemoteConfig.tsx
  apps/ledger-live-desktop/src/renderer/init.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/web-tools/live-common-setup.ts
  apps/web-tools/package.json
  libs/env/src/env.ts
  libs/ledger-live-common/src/config/defaultConfig.ts
  libs/ledger-live-common/src/config/index.test.ts
  libs/ledger-live-common/src/config/index.ts
  libs/ledger-live-common/src/config/sharedConfig.ts
  libs/ledger-live-common/src/families/cosmos/api/Cosmos.test.ts
  libs/ledger-live-common/src/families/cosmos/banner.test.ts
  libs/ledger-live-common/src/families/cosmos/bridge/js.ts
  libs/ledger-live-common/src/families/cosmos/bridge/mock.ts
  libs/ledger-live-common/src/families/cosmos/chain/Cosmos.ts
  libs/ledger-live-common/src/families/cosmos/chain/chain.unit.test.ts
  libs/ledger-live-common/src/families/cosmos/config.ts
  libs/ledger-live-common/src/families/cosmos/js-prepareTransaction.test.ts
  libs/ledger-live-common/src/families/cosmos/preloadedData.mock.ts
  libs/ledger-live-common/src/families/cosmos/react.test.ts
  libs/live-config/README.md
  libs/live-config/src/LiveConfig.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, cli

#5876 [Polkadot] Update clear nomination rule
  .changeset/clever-windows-sell.md
  apps/ledger-live-desktop/src/renderer/families/polkadot/ManageModal.tsx
  apps/ledger-live-mobile/src/families/polkadot/accountActions.tsx
  libs/coin-polkadot/src/logic.test.ts
  libs/coin-polkadot/src/logic.ts
  libs/coin-polkadot/src/preload.ts
Labels: desktop, mobile

#5830 [coin-integration] Linea
  .changeset/poor-ghosts-try.md
  .changeset/young-geese-repeat.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/coin-evm/src/__tests__/unit/editTransaction/__snapshots__/getFormattedFeeFields.test.ts.snap
  libs/coin-evm/src/specs.ts
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/env/src/env.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/live-config/src/featureFlags/defaultFeatures.ts
  libs/ui/packages/crypto-icons/src/svg/currency_linea.svg
Labels: desktop, mobile, common, ui, ledgerjs, cli

#5723 Get solana validators information from earn dashboard
  .changeset/moody-eggs-serve.md
  libs/env/src/env.ts
  libs/ledger-live-common/src/families/solana/validator-app/index.ts
Labels: common

#5780 feat(LLM/send): New gas fees parent account error
  .changeset/rude-moose-bathe.md
  .changeset/soft-pigs-nail.md
  apps/ledger-live-desktop/src/renderer/components/SelectFeeStrategy.tsx
  apps/ledger-live-desktop/src/renderer/families/bitcoin/SendAmountFields.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/SelectFeeStrategy.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/AmountField.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepAmount.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/SelectFeesStrategy.tsx
  apps/ledger-live-mobile/src/components/SendRowsFee.tsx
  apps/ledger-live-mobile/src/families/bitcoin/SendRowsFee.tsx
  apps/ledger-live-mobile/src/families/evm/EvmFeesStrategy.tsx
  apps/ledger-live-mobile/src/families/evm/SelectFeesStrategy.tsx
  apps/ledger-live-mobile/src/families/evm/types.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Exchange/coinifyConfig.ts
  apps/ledger-live-mobile/src/screens/SendFunds/04-Summary.tsx
  libs/coin-evm/src/getTransactionStatus.ts
Labels: desktop, mobile, translations, Stale

#5796 [feat] Filecoin - Handle eth addresses & change default derivation scheme to native filecoin wallets
  .changeset/bright-snakes-destroy.md
  .changeset/thin-plants-guess.md
  apps/cli/src/live-common-setup-base.ts
  libs/coin-framework/src/derivation.ts
  libs/ledger-live-common/src/families/filecoin/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/filecoin/bridge.integration.test.ts
  libs/ledger-live-common/src/families/filecoin/bridge/account.ts
  libs/ledger-live-common/src/families/filecoin/bridge/currency.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/addresses.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/serializer.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/types.ts
  libs/ledger-live-common/src/families/filecoin/bridge/utils/utils.ts
  libs/ledger-live-common/src/families/filecoin/specs.ts
  libs/ledger-live-common/src/families/filecoin/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/filecoin/utils.ts
  libs/ledger-live-common/src/families/filecoin/utils.unit.test.ts
Labels: common, cli

#5904 [feat] Change pool ID of Ledger Cardano validator
  .changeset/lucky-clocks-travel.md
  libs/ledger-live-common/src/families/cardano/utils.ts
Labels: common

#5898 Use description for the search bar discover
  .changeset/stupid-rules-shave.md
  libs/ledger-live-common/src/wallet-api/constants.ts
Labels: common

#5893 Bugfix/fix(LIVE-10851)
  .changeset/olive-llamas-collect.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/index.ts
  libs/ledger-live-common/src/exchange/swap/maybeTezosAccountUnrevealedAccount.ts
Labels: desktop, mobile, common, translations

#5910 chore: remove remaining s3 keys from workflow
  .github/workflows/test-mobile-e2e.yml
Labels: automation

#5909 chore: scope all packages under @ledgerhq/ (including the internal ones)
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/scripts/beforePack.js
  apps/ledger-live-desktop/tools/config/common.esbuild.js
  apps/ledger-live-desktop/tools/config/main.esbuild.js
  apps/ledger-live-desktop/tools/config/preloader.esbuild.js
  apps/ledger-live-desktop/tools/config/renderer.esbuild.js
  apps/ledger-live-desktop/tools/config/webviewPreloader.esbuild.js
  apps/ledger-live-desktop/tools/main.js
  apps/ledger-live-desktop/tools/utils/index.js
  apps/ledger-live-mobile/metro.config.js
  apps/ledger-live-mobile/package.json
  apps/web-tools/package.json
  libs/ledgerjs/package.json
  libs/ui/examples/next.js/package.json
  libs/ui/examples/webpack.js/package.json
  libs/ui/package.json
  libs/ui/packages/native/metro.config.js
  libs/ui/packages/native/package.json
  package.json
  pnpm-lock.yaml
  tests/dummy-live-app/package.json
  tests/dummy-ptx-app/package.json
  tests/dummy-wallet-app/package.json
  tools/actions/package.json
  tools/create-release-hash/package.json
  tools/esbuild-utils/package.json
  tools/github-bot/package.json
  tools/metro-extra-config/package.json
  tools/migrate-branch/index.js
  tools/migrate-branch/package.json
  tools/migrate-branch/utils.js
  tools/native-modules-tools/package.json
  tools/pnpm-utils/package.json
  turbo.json
Labels: desktop, mobile, ui, ledgerjs, tools

#5912 Fix close cta on SideDrawer when it overlaps AppRegionDrag
  .changeset/spotty-ants-deny.md
  apps/ledger-live-desktop/src/renderer/components/SideDrawer.tsx
Labels: desktop

#5850 LLD - Stax OS update Pixel Polish
  .changeset/hungry-candles-scream.md
  apps/ledger-live-desktop/src/renderer/drawers/Drawer.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/helpers/createFirmwareUpdateSteps.ts
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/00-step-reset-device.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/01-step-prepare.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-flash-mcu.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-restore.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-updating.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/03-step-confirmation.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/restore/CLS.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/restore/Language.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/types.ts
  apps/ledger-live-desktop/src/renderer/screens/manager/FirmwareUpdate/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
Labels: desktop, mobile, translations

#5648 feat: custom exchange [LIVE-10301]
  .changeset/blue-schools-complain.md
  apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/CustomHandlers.ts
  apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/index.tsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/index.tsx
  apps/ledger-live-mobile/src/components/WebPTXPlayer/CustomHandlers.ts
  apps/ledger-live-mobile/src/components/WebPTXPlayer/index.tsx
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/index.tsx
  libs/exchange-module/.eslintignore
  libs/exchange-module/.eslintrc.js
  libs/exchange-module/.unimportedrc.json
  libs/exchange-module/package.json
  libs/exchange-module/src/index.ts
  libs/exchange-module/src/types.ts
  libs/exchange-module/tsconfig.json
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/wallet-api/Exchange/server.ts
  libs/ledger-live-common/src/wallet-api/Exchange/tracking.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, Stale

#5911 [LLM] - Add carousel with factor on vertical content cards.
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/index.tsx
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsCategory/Layout.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/dynamicContent/utils.tsx
Labels: mobile

#5908 Bugfix/live 8799 storage available
  .changeset/slow-mugs-attack.md
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/StorageBar.tsx
  libs/ledger-live-common/src/apps/listApps/v1.ts
  libs/ledger-live-common/src/apps/listApps/v2.ts
  libs/ledger-live-common/src/apps/logic.ts
  libs/ledger-live-common/src/apps/mock.ts
  libs/ledger-live-common/src/apps/types.ts
  libs/ledgerjs/packages/devices/src/index.ts
Labels: desktop, common, ledgerjs

#5918 rollback the "ledger-live-desktop" package.json name
  .changeset/angry-needles-kneel.md
  .changeset/blue-schools-complain.md
  .changeset/bright-insects-allow.md
  .changeset/brown-cats-mate.md
  .changeset/brown-seas-admire.md
  .changeset/chilled-eels-sin.md
  .changeset/clever-windows-sell.md
  .changeset/dry-pugs-hunt.md
  .changeset/eight-beds-glow.md
  .changeset/eight-rockets-drop.md
  .changeset/eleven-planets-deliver.md
  .changeset/friendly-ravens-film.md
  .changeset/green-lobsters-learn.md
  .changeset/healthy-windows-perform.md
  .changeset/hungry-candles-scream.md
  .changeset/itchy-oranges-crash.md
  .changeset/khaki-schools-hide.md
  .changeset/little-ducks-build.md
  .changeset/mean-insects-care.md
  .changeset/nasty-peas-love.md
  .changeset/neat-actors-camp.md
  .changeset/odd-worms-double.md
  .changeset/olive-llamas-collect.md
  .changeset/poor-ghosts-try.md
  .changeset/real-walls-try.md
  .changeset/rich-pans-exercise.md
  .changeset/rude-moose-bathe.md
  .changeset/rude-suits-push.md
  .changeset/sharp-buttons-rescue.md
  .changeset/shiny-vans-dream.md
  .changeset/slow-dodos-repair.md
  .changeset/soft-pigs-nail.md
  .changeset/spotty-ants-deny.md
  .changeset/ten-olives-worry.md
  .changeset/ten-pianos-sip.md
  .changeset/three-candles-drop.md
  .changeset/tidy-ducks-sparkle.md
  .changeset/tiny-hotels-camp.md
  .changeset/tricky-needles-allow.md
  .changeset/warm-jars-design.md
  .github/workflows/release-final-nightly.yml
  .github/workflows/release-final.yml
  .github/workflows/release-prerelease.yml
  apps/ledger-live-desktop/package.json
  apps/ledger-live-mobile/package.json
  turbo.json
Labels: desktop, mobile, automation

#5922 chore: update sortByMarketcap snapshot
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
Labels: common

#5923 [bugfix] Solana: extend the retry mechanism to mitigate error when fetching fees - RELEASE
  .changeset/lemon-spies-leave.md
  libs/ledger-live-common/src/families/solana/tx-fees.ts
Labels: common

#5913 [bugfix] Solana: extend the retry mechanism to mitigate error when fetching fees
  .changeset/lemon-spies-leave.md
  libs/ledger-live-common/src/families/solana/tx-fees.ts
Labels: common

#5935 remove description use in search manifest
  .changeset/neat-beers-applaud.md
  libs/ledger-live-common/src/wallet-api/constants.ts
Labels: common

#5934 Feat(LIVE-9328): swap quotes setup of the list v2
  .changeset/early-ladybugs-shake.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/hooks/swap-migrations/useSwapLiveAppHook.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Migrations/SwapDemo0NativeUI.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Migrations/SwapDemo1NativeUI.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Migrations/SwapMigrationNativeUI.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
Labels: desktop

#5939 Feat/revert live 10717 usage of description for search manifest
  .changeset/grumpy-donuts-dress.md
  libs/ledger-live-common/src/wallet-api/constants.ts
Labels: common

#5749 Fix: LIVE-7814 | DSDK-85: HID USB reconnection on LLD during the sync onboarding and IPC Transport logic refactoring
  .changeset/chilly-scissors-talk.md
  .changeset/rotten-apples-remember.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/internal/index.ts
  apps/ledger-live-desktop/src/internal/live-common-setup.ts
  apps/ledger-live-desktop/src/internal/logger.ts
  apps/ledger-live-desktop/src/internal/transportHandler.test.ts
  apps/ledger-live-desktop/src/internal/transportHandler.ts
  apps/ledger-live-desktop/src/internal/types.ts
  apps/ledger-live-desktop/src/main/internal-lifecycle.ts
  apps/ledger-live-desktop/src/main/logger.ts
  apps/ledger-live-desktop/src/main/setup.ts
  apps/ledger-live-desktop/src/renderer/IPCTransport.md
  apps/ledger-live-desktop/src/renderer/IPCTransport.ts
  apps/ledger-live-desktop/src/renderer/components/ExportLogsButton.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SyncOnboardingCompanion.tsx
  apps/ledger-live-desktop/src/renderer/init.tsx
  apps/ledger-live-desktop/src/renderer/live-common-setup.ts
  libs/ledger-live-common/src/deviceSDK/transports/core.ts
  libs/ledger-live-common/src/hw/deviceAccess.ts
  libs/ledger-live-common/src/hw/index.ts
  libs/ledgerjs/packages/hw-transport-node-hid-noevents/src/TransportNodeHid.ts
  libs/ledgerjs/packages/hw-transport-node-hid-singleton/README.md
  libs/ledgerjs/packages/hw-transport-node-hid-singleton/src/TransportNodeHid.ts
  libs/ledgerjs/packages/hw-transport/README.md
  libs/ledgerjs/packages/hw-transport/src/Transport.ts
  pnpm-lock.yaml
Labels: desktop, common, ledgerjs, Stale

#5942 Fix: LIVE-10969 Fix inline install app while another app is opened
  .changeset/great-horses-marry.md
  libs/ledger-live-common/src/hw/actions/app.ts
Labels: common

#5945 feat(AnalyticsPrompt): Created screens (main + secondary) for variants A & B
  .changeset/real-parents-doubt.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantA/Details.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantA/Main.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/Details.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/Main.tsx
  libs/ui/packages/native/src/components/Form/Switch/index.tsx
  libs/ui/packages/native/src/components/Text/getTextStyle.ts
  libs/ui/packages/native/src/styles/theme.ts
Labels: mobile, ui, translations

#5917 LLM - Small changes to ptx properties
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/AnalyticsConsole/Status.tsx
Labels: mobile

#5944 bugfix: triggering error only after having quotes to prevent crashes
  libs/ledger-live-common/src/exchange/swap/maybeTezosAccountUnrevealedAccount.ts
Labels: common

#5929 [Linea goerli] Fix explorer URI and units
  libs/coin-evm/src/__tests__/unit/editTransaction/__snapshots__/getFormattedFeeFields.test.ts.snap
  libs/coin-evm/src/specs.ts
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ui/packages/crypto-icons/src/svg/currency_linea_goerli.svg
Labels: ui, ledgerjs

#5897 [LIVE-6541] [LLD]: Improve "connect" screen during sync onboarding via USB
  .changeset/metal-lemons-perform.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/DeviceConnection/index.tsx
Labels: desktop

#5946 bugfix(solana): Use fallback TX fee amount in case of failed retries
  .changeset/odd-chefs-sell.md
  libs/ledger-live-common/src/families/solana/tx-fees.ts
Labels: common, fork

#5950 LLM - Fix CI lint issues on develop
  .changeset/witty-laws-join.md
  apps/ledger-live-mobile/src/analytics/Track.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  apps/ledger-live-mobile/src/components/WebPTXPlayer/CustomHandlers.ts
  apps/ledger-live-mobile/src/screens/Settings/General/AnalyticsRow.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
Labels: mobile

#5957 [bugfix] Revert increase of nb retries for solana fees - RELEASE
  .changeset/odd-chefs-sell.md
  libs/ledger-live-common/src/families/solana/tx-fees.ts
Labels: desktop, mobile, automation, cli

#5927 [Linea goerli] Add missing information
  apps/ledger-live-desktop/cryptoassets.md
  libs/coin-evm/src/__tests__/unit/editTransaction/__snapshots__/getFormattedFeeFields.test.ts.snap
  libs/coin-evm/src/specs.ts
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ui/packages/crypto-icons/src/svg/currency_linea_goerli.svg
Labels: desktop, ui, ledgerjs

#5949 bugfix: triggering error only after having quotes (cherryPick from develop)
  libs/ledger-live-common/src/exchange/swap/maybeTezosAccountUnrevealedAccount.ts
Labels: common

#5953 feat(LIVE-9328): progressive UI for swap live app migration
  apps/ledger-live-desktop/src/renderer/hooks/swap-migrations/useSwapLiveAppHook.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Migrations/SwapDemo0NativeUI.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Migrations/SwapDemo1NativeUI.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Migrations/SwapMigrationNativeUI.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Migrations/SwapMigrationUI.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/live-config/src/featureFlags/defaultFeatures.ts
Labels: desktop, ledgerjs

#5955 [bugfix] Revert increase of nb retries for solana fees
  libs/ledger-live-common/src/families/solana/tx-fees.ts
Labels: common

#5863 [BUGFIX] : -Hide empty token accounts- setting or -Hide token- hides accounts from your account page and from the main Portfolio page
  .changeset/seven-bobcats-smash.md
  apps/ledger-live-mobile/src/screens/Assets/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioAssets.tsx
Labels: mobile

#5962 chore: disable sonarqube
  .github/workflows/test.yml
  libs/ledger-live-common/sonar-project.properties
Labels: common, automation

#5889 feat: make searchable apps not visible in categories
  .changeset/brown-crews-hammer.md
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Browse/Result/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Browse/Search.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Browse/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/hooks.ts
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Search/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/hooks.ts
  libs/ledger-live-common/src/hooks/useSearch.ts
  libs/ledger-live-common/src/wallet-api/react.ts
Labels: desktop, mobile, common

#5972 LLM - Analytics opt in prompt logic
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/RootNavigator/AnalyticsOptInPromptNavigator.tsx
  apps/ledger-live-mobile/src/hooks/useAnalyticsOptInPromptVariantA.ts
  apps/ledger-live-mobile/src/hooks/useAnalyticsOptInPromptVariantB.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantA/Details.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantA/Main.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/Details.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/Main.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/illustrations/header_analytics.png
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/illustrations/header_personalized.png
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/illustrations/header_personnalized.png
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/AnalyticsRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/PersonalizedRecommendationsRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/index.tsx
Labels: mobile, translations

#5951 Chore: add DisconnectedDeviceDuringOperation to the allowed errors of the sync onboarding polling
  .changeset/selfish-files-trade.md
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.ts
Labels: common

#5959 [LIVE-10994][LLD][List apps v2] UI issues + Learn more links missing for installed apps not supported by Ledger Live
  .changeset/fuzzy-frogs-smash.md
  .changeset/shaggy-cherries-prove.md
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/AppActions.tsx
  libs/ledger-live-common/src/apps/polyfill.ts
Labels: desktop, common

#5941 Bugfix/live 10862
  .changeset/nice-islands-double.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#5965 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-allow-language-installation-darwin.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-allow-language-installation-linux.png
  apps/ledger-live-desktop/tests/specs/settings/localization.spec.ts-snapshots/settings-allow-language-installation-win32.png
Labels: desktop, translations, screenshots

#5928 LLM - Analytics Opt In Prompt variants A and B
  .changeset/real-parents-doubt.md
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/AdjustSetup.tsx
  apps/ledger-live-mobile/src/components/NavigationHeaderBackButton.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/AnalyticsOptInPromptNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/OnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/AnalyticsOptInPromptNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/OnboardingNavigator.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/hooks/useAnalyticsOptInPromptVariantA.ts
  apps/ledger-live-mobile/src/hooks/useAnalyticsOptInPromptVariantB.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/navigation/navigatorConfig.tsx
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/Common.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantA/Details.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantA/Main.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/Details.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/Main.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/illustrations/header_analytics.png
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/illustrations/header_personalized.png
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/AnalyticsRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/PersonalizedRecommendationsRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/index.tsx
  libs/ledgerjs/packages/types-live/src/analyticsOptInPrompt.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ledgerjs/packages/types-live/src/index.ts
  libs/live-config/src/featureFlags/defaultFeatures.ts
  libs/ui/packages/native/src/components/Form/Switch/index.tsx
  libs/ui/packages/native/src/components/Text/getTextStyle.ts
  libs/ui/packages/native/src/styles/theme.ts
Labels: mobile, ui, ledgerjs, translations

#5958 [Tron] - tronResource not mandatory in accountActions component
  .changeset/smooth-mails-love.md
  apps/ledger-live-mobile/src/families/tron/accountActions.tsx
Labels: mobile

#5973 [bugfix] Update Stacks SDK version to fix static fees - RELEASE
  .changeset/ninety-ties-cough.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/stacks/bridge.integration.test.ts
  libs/ledger-live-common/src/families/stacks/bridge/account.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/misc.ts
  pnpm-lock.yaml
Labels: common

#5990 chore: add release notes 2.75.0
  apps/ledger-live-desktop/RELEASE_NOTES.md
Labels: desktop

#5989 [bugfix] Hedera: make transaction hash consistent for optimistic and confirmed operations
  .changeset/clean-dots-tickle.md
  libs/ledger-live-common/src/families/hedera/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/hedera/api/mirror.ts
Labels: common

#5997 [LIVE-10934][BUGFIX] Close button on USB troubleshooting drawer during Sync Onboarding is misleading
  .changeset/cool-falcons-wave.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/drawers/Drawer.tsx
Labels: desktop

#5925 handle empty token for transaction.sign and signAndBroadcast
  .changeset/olive-lies-buy.md
  libs/exchange-module/package.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/wallet-api/logic.ts
  libs/ledger-live-common/src/wallet-api/react.ts
  pnpm-lock.yaml
  tests/dummy-wallet-app/package.json
Labels: common, applications

#6006 fix: do not close swap error if wrong device for account
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
Labels: desktop

#5988 [FEAT]: Big CC in myLedger
  .changeset/gold-beds-appear.md
  apps/ledger-live-mobile/src/contentCards/cards/vertical/elements.tsx
  apps/ledger-live-mobile/src/contentCards/cards/vertical/index.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/dynamicContent/utils.tsx
Labels: mobile

#5993 chore: simplify and fix logic around resolveUserDataDirectory
  apps/ledger-live-desktop/index-types.d.ts
  apps/ledger-live-desktop/src/helpers/resolveUserDataDirectory.ts
  apps/ledger-live-desktop/src/main/index.ts
  apps/ledger-live-desktop/src/main/setup.ts
  apps/ledger-live-desktop/src/main/window-lifecycle.ts
  apps/ledger-live-desktop/src/preloader/index.ts
  apps/ledger-live-desktop/src/renderer/components/OpenUserDataDirectoryBtn.tsx
  apps/ledger-live-desktop/src/renderer/reset.ts
  apps/ledger-live-desktop/src/sentry/anonymizer.ts
  apps/ledger-live-desktop/src/sentry/install.ts
  apps/ledger-live-desktop/tsconfig.json
Labels: desktop

#6015 Bugfix/switch thumb color
  .changeset/thin-snails-drum.md
  libs/ui/packages/native/src/components/Form/Switch/index.tsx
Labels: desktop, mobile, common, ui, ledgerjs, cli

#6017 fix(NativeUI/Switch): Fixed switch thumb color (always white)
  .changeset/thin-snails-drum.md
  libs/ui/packages/native/src/components/Form/Switch/index.tsx
Labels: ui

#5987 fix(crypto-icons): PYUSD icon
  .changeset/bright-papayas-relate.md
  libs/ui/packages/crypto-icons/src/svg/PYUSD.svg
Labels: ui

#6011 [LLM] - [LIVE-9808] - Add Hero Content Card
  .changeset/swift-socks-complain.md
  apps/ledger-live-mobile/src/contentCards/cards/hero/elements.tsx
  apps/ledger-live-mobile/src/contentCards/cards/hero/index.tsx
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsCategory/Layout.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/dynamicContent/utils.tsx
Labels: mobile

#6022 [bugfix] Sanitize Tron account data that may be missing when de/serializing Tron accounts
  .changeset/rotten-cycles-approve.md
  libs/ledger-live-common/src/families/tron/serialization.ts
Labels: common

#6001 fix(portfolio): fix the countervalueAvailable status
  libs/ledger-live-common/src/portfolio/v2/index.ts
Labels: common

#6030 [BUGFIX]: Fix display of texts in empty state NFT Gallery
  .changeset/wicked-socks-relate.md
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/NftGalleryEmptyState.tsx
Labels: mobile

#6002 fix(lld): reset app position when changing monitors
  apps/ledger-live-desktop/src/main/window-lifecycle.ts
Labels: desktop

#6021 fix: check starts with to catch ppd and stg envs
  .changeset/silly-ears-cry.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Migrations/SwapMigrationUI.tsx
Labels: desktop

#6034 [LIVE-6441][BUGFIX] Discrepencies between app size when update available
  .changeset/bright-books-join.md
  apps/ledger-live-mobile/src/screens/Manager/AppsList/AppRow.tsx
  apps/ledger-live-mobile/src/screens/Manager/Modals/UpdateAllModal.tsx
Labels: mobile

#6039 chore: fix desktop external ci
  .github/workflows/test-desktop-external.yml
Labels: automation

#6044 bugfix(LIVE-11047): swap llm issue when trying to swap from sol with delegated account
  .changeset/great-maps-warn.md
  apps/ledger-live-mobile/src/screens/Swap/Form/TxForm/From.tsx
Labels: mobile

#6048 Smartling on-demand translation delivery from release
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#5985 [Bugfix/LLC/Casper] Fix invalid Ed25519 recipients error
  .changeset/silly-cobras-swim.md
  libs/ledger-live-common/src/families/casper/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/casper/bridge.integration.test.ts
  libs/ledger-live-common/src/families/casper/bridge/account.ts
  libs/ledger-live-common/src/families/casper/bridge/bridgeHelpers/addresses.ts
  libs/ledger-live-common/src/families/casper/bridge/bridgeHelpers/txn.ts
  libs/ledger-live-common/src/families/casper/consts.ts
  libs/ledger-live-common/src/families/casper/hw-getAddress.ts
  libs/ledger-live-common/src/families/casper/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/casper/utils.unit.test.ts
Labels: common, fork

#6005 feat: translate cta and subtitble
  .changeset/spicy-mangos-train.md
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Card/Full.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/AppCard.tsx
Labels: desktop, mobile
