Repository LedgerHQ/ledger-live, pull requests merged in 2024-12, with the labels that each got.

#8457 feat: Rework hiddenCollections to handle more easily displays
  .changeset/odd-cooks-glow.md
  apps/ledger-live-desktop/src/newArch/components/ContextMenu/createContextMenuItems.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useOpenHideCollectionModal.ts
  apps/ledger-live-desktop/src/renderer/actions/constants.ts
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/components/ContextMenu/NFTCollectionContextMenu.tsx
  apps/ledger-live-desktop/src/renderer/hooks/nfts/__tests__/useHideSpamCollection.test.ts
  apps/ledger-live-desktop/src/renderer/hooks/nfts/__tests__/useNftCollectionsStatus.test.ts
  apps/ledger-live-desktop/src/renderer/hooks/nfts/useHideSpamCollection.ts
  apps/ledger-live-desktop/src/renderer/hooks/nfts/useNftCollections.ts
  apps/ledger-live-desktop/src/renderer/hooks/nfts/useNftCollectionsStatus.ts
  apps/ledger-live-desktop/src/renderer/hooks/nfts/useNftLinks.ts
  apps/ledger-live-desktop/src/renderer/modals/HideNftCollection/Body.tsx
  apps/ledger-live-desktop/src/renderer/modals/HideNftCollection/Footer.tsx
  apps/ledger-live-desktop/src/renderer/modals/HideNftCollection/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/types.ts
  apps/ledger-live-desktop/src/renderer/reducers/accounts.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/account/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Send/SelectNFT.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenNFTCollections/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenNFTCollections/row.tsx
  libs/live-nft-react/src/hooks/types.ts
  libs/live-nft-react/src/hooks/useCheckNftAccount.ts
  libs/live-nft/src/types.ts
Labels: desktop

#8466 🐛 LLM - Improve Ledger Sync when backup deleted on multiple instances
  .changeset/beige-rings-move.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useLedgerSyncAnalytics.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSpecificError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/ManageKeyDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/useManageKeyDrawer.ts
Labels: mobile, translations

#8477 🐛 LLM - Improve Ledger Sync error when an unauthorized member tries to delete backup
  .changeset/silly-cougars-rescue.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSpecificError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/ManageKeyDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/utils/errors.ts
Labels: mobile, translations

#8479 🐛 LLM - Improve Ledger Sync error when a removed member tries to remove another member
  .changeset/heavy-starfishes-fix.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useOnTrustchainRefreshNeeded.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useRemoveMember.ts
Labels: mobile

#8389 Live 14434 sell card swap create exchange dev mode for llm
  .changeset/light-poets-smile.md
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Platform/Catalog/AppCard.tsx
  apps/ledger-live-mobile/src/screens/Settings/Developer/ExchangeDeveloperMode.tsx
  apps/ledger-live-mobile/src/screens/Settings/Developer/index.tsx
  libs/ledger-live-common/src/exchange/providers/index.ts
Labels: mobile, common, translations

#8264 [DNM] Post-"ghost"-release hotfix workflow
  .github/workflows/release-create-hotfix.yml
  .github/workflows/release-final.yml
  .github/workflows/release-prepare-hotfix.yml
  tools/actions/composites/generate-tag/action.yml
Labels: tools, automation

#8517 [SWAP] Integrate SPL Token extra calls for AppExchange
  .changeset/shy-insects-flash.md
  CODEOWNERS
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/cal/index.ts
  libs/ledger-live-common/src/exchange/index.ts
  libs/ledger-live-common/src/exchange/providers/sell.ts
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.ts
  libs/ledger-services/cal/.eslintrc.js
  libs/ledger-services/cal/jest.config.js
  libs/ledger-services/cal/jest.integ.config.js
  libs/ledger-services/cal/package.json
  libs/ledger-services/cal/src/certificate.integ.test.ts
  libs/ledger-services/cal/src/certificate.ts
  libs/ledger-services/cal/src/common.ts
  libs/ledger-services/cal/src/currencies.integ.test.ts
  libs/ledger-services/cal/src/currencies.ts
  libs/ledger-services/cal/src/index.ts
  libs/ledger-services/cal/src/partners/default.ts
  libs/ledger-services/cal/src/partners/index.integ.test.ts
  libs/ledger-services/cal/src/partners/index.test.ts
  libs/ledger-services/cal/src/partners/index.ts
  libs/ledger-services/cal/tsconfig.json
  libs/ledger-services/trust/.eslintrc.js
  libs/ledger-services/trust/jest.config.js
  libs/ledger-services/trust/jest.integ.config.js
  libs/ledger-services/trust/package.json
  libs/ledger-services/trust/src/common.ts
  libs/ledger-services/trust/src/index.ts
  libs/ledger-services/trust/src/solana.integ.test.ts
  libs/ledger-services/trust/src/solana.test.ts
  libs/ledger-services/trust/src/solana.ts
  libs/ledger-services/trust/tsconfig.json
  libs/ledgerjs/packages/hw-bolos/README.md
  libs/ledgerjs/packages/hw-bolos/jest.config.ts
  libs/ledgerjs/packages/hw-bolos/jest.integ.config.ts
  libs/ledgerjs/packages/hw-bolos/package.json
  libs/ledgerjs/packages/hw-bolos/src/PKIError.ts
  libs/ledgerjs/packages/hw-bolos/src/index.ts
  libs/ledgerjs/packages/hw-bolos/src/loadPKI.integ.test.ts
  libs/ledgerjs/packages/hw-bolos/src/loadPKI.test.ts
  libs/ledgerjs/packages/hw-bolos/src/loadPKI.ts
  libs/ledgerjs/packages/hw-bolos/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: common, ledgerjs

#8539 feat: tracking remake
  .changeset/young-eels-hunt.md
  libs/ledger-live-common/src/wallet-api/Exchange/server.ts
  libs/ledger-live-common/src/wallet-api/Exchange/tracking.ts
Labels: common

#8538 Live 15092 card create ledgerlive card deeplink to send user to the card live app
  .changeset/cyan-singers-mix.md
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking/useDeepLinkHandler.ts
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
Labels: desktop, mobile

#8550 feat: Display Filtered List of Top/Worst Performers Based on Swappable or Buyable Assets
  .changeset/dry-rockets-hide.md
  apps/ledger-live-desktop/src/renderer/actions/marketperformance.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/components/WidgetList.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/useMarketPerformanceWidget.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs

#8552 :sparkles: (llm): onboarding analytics
  .changeset/beige-moose-worry.md
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/screens/GetDeviceScreen.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/discoverLiveInfo.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
Labels: mobile

#8563 feat: add another ledger solana validator
  .changeset/clever-impalas-explain.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationActivateFlowModal/steps/StepValidator.tsx
  apps/ledger-live-desktop/src/renderer/families/solana/DelegationFlowModal/steps/StepValidator.tsx
  apps/ledger-live-desktop/src/renderer/families/solana/shared/components/LedgerByFigmentTCLink.tsx
  apps/ledger-live-desktop/src/renderer/families/solana/shared/components/LedgerValidatorTCLink.tsx
  apps/ledger-live-desktop/src/renderer/families/solana/shared/fields/ValidatorsField.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/coin-modules/coin-solana/src/tx-fees.ts
  libs/coin-modules/coin-solana/src/utils.ts
  libs/ledger-live-common/src/families/solana/banner.ts
  libs/ledger-live-common/src/families/solana/react.integration.test.ts
  libs/ledger-live-common/src/families/solana/staking.ts
Labels: desktop, common, translations

#8548 Bugfix/zcash nu6
  .changeset/happy-tomatoes-explain.md
  libs/ledgerjs/packages/hw-app-btc/src/serializeTransaction.ts
Labels: ledgerjs

#8532 Bugfix/live 15087 post onboarding wrong flows
  .changeset/curly-jeans-hope.md
  apps/ledger-live-mobile/src/components/RootNavigator/types/OnboardingNavigator.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/screens/Onboarding/steps/accessExistingWallet.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/pairNew.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/CompletionScreen.tsx
Labels: mobile

#8318 :lipstick:(llm) polish braze and support video/gif
  .changeset/late-phones-add.md
  apps/ledger-live-mobile/jest.config.js
  apps/ledger-live-mobile/src/contentCards/cards/hero/elements.tsx
  apps/ledger-live-mobile/src/contentCards/cards/hero/index.tsx
  apps/ledger-live-mobile/src/contentCards/cards/vertical/elements.tsx
  apps/ledger-live-mobile/src/contentCards/cards/vertical/index.tsx
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsCategory/Header.tsx
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsCategory/index.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/dynamicContent/utils.tsx
Labels: mobile

#8464 :sparkles: (llm) add entry points for reborn LP variant A
  .changeset/clean-olives-obey.md
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/components/FabActions/modals/ZeroBalanceDisabledModalContent.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/MainNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/OnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/OnboardingNavigator.ts
  apps/ledger-live-mobile/src/dynamicContent/useDynamicContentLogic.ts
  apps/ledger-live-mobile/src/newArch/features/Reborn/components/BuyDeviceBanner/useBuyDeviceBannerModel.ts
  apps/ledger-live-mobile/src/newArch/features/Reborn/constants/analytics.ts
  apps/ledger-live-mobile/src/newArch/features/Reborn/hooks/useRebornFlow.ts
  apps/ledger-live-mobile/src/newArch/hooks/__tests__/useFetchWithTimeout.test.ts
  apps/ledger-live-mobile/src/newArch/hooks/useFetchWithTimeout.ts
  apps/ledger-live-mobile/src/screens/Assets/AssetsNavigationHeader.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/NoLedgerYetModal.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/discoverLiveInfo.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/hooks.ts
Labels: mobile

#8446 [QAA-312][DETOX] Speculos add accounts tests
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/page/accounts/account.page.ts
  apps/ledger-live-mobile/e2e/page/accounts/addAccount.drawer.ts
  apps/ledger-live-mobile/e2e/page/accounts/assetAccounts.page.ts
  apps/ledger-live-mobile/e2e/page/index.ts
  apps/ledger-live-mobile/e2e/specs/addAccounts/addAccount.spec.ts
  apps/ledger-live-mobile/e2e/specs/deeplinks.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccount.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccountADA.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccountALGO.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccountATOM.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccountBCH.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccountBTC.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccountDOT.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccountETC.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccountETH.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccountSOL.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccountTON.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccountTRX.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccountXLM.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccountXRP.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccountXTZ.spec.ts
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/AccountGraphCard.tsx
  apps/ledger-live-mobile/src/components/AccountRowLayout.tsx
  apps/ledger-live-mobile/src/components/SelectableAccountsList.tsx
  apps/ledger-live-mobile/src/components/Spinning.tsx
  apps/ledger-live-mobile/src/screens/Account/AccountHeaderRight.tsx
  apps/ledger-live-mobile/src/screens/Account/index.tsx
  apps/ledger-live-mobile/src/screens/AccountSettings/AccountAdvancedLogsRow.tsx
  apps/ledger-live-mobile/src/screens/AccountSettings/AdvancedLogs.tsx
  apps/ledger-live-mobile/src/screens/Accounts/AccountRow.tsx
  apps/ledger-live-mobile/src/screens/Accounts/ReadOnly/ReadOnlyAccountRow.tsx
Labels: mobile

#8536 [QAA-346][Detox] First Speculos Ledger Sync test
  apps/cli/src/commands/live/ledgerKeyRingProtocol.ts
  apps/ledger-live-mobile/e2e/page/accounts/accounts.page.ts
  apps/ledger-live-mobile/e2e/page/common.page.ts
  apps/ledger-live-mobile/e2e/page/index.ts
  apps/ledger-live-mobile/e2e/page/settings/ledgerSync.page.ts
  apps/ledger-live-mobile/e2e/page/settings/settings.page.ts
  apps/ledger-live-mobile/e2e/page/settings/settingsGeneral.page.ts
  apps/ledger-live-mobile/e2e/page/wallet/portfolio.page.ts
  apps/ledger-live-mobile/e2e/specs/speculos/ledgerSync/ledgerSync.spec.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/Actions.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Success/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationSuccess.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/Option.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/DeletionSuccess.tsx
  apps/ledger-live-mobile/src/screens/Accounts/index.tsx
Labels: mobile, cli

#8570 [QAA-350] Improve LLM CI stability
  .github/workflows/test-mobile-e2e-reusable.yml
  apps/ledger-live-mobile/detox.config.js
Labels: mobile, automation

#8564 FIX/LIVE-15117: exchange.swap does not have up-to-date accounts list when attempting to swap with newly created account.
  .changeset/famous-mirrors-carry.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
Labels: desktop

#8526 feat(llm): 🗒️ log content card impression when 50% of the card is shown
  .changeset/large-books-prove.md
  apps/ledger-live-mobile/.eslintrc.js
  apps/ledger-live-mobile/src/AppProviders.tsx
  apps/ledger-live-mobile/src/components/Carousel/CarouselCard.tsx
  apps/ledger-live-mobile/src/components/Carousel/index.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/index.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/grid/index.tsx
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsCategory/Layout.tsx
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsCategory/index.tsx
  apps/ledger-live-mobile/src/dynamicContent/brazeContentCard.ts
  apps/ledger-live-mobile/src/newArch/contexts/InViewContext/index.tsx
  apps/ledger-live-mobile/src/newArch/contexts/InViewContext/types.ts
  apps/ledger-live-mobile/src/newArch/contexts/InViewContext/utils.ts
  apps/ledger-live-mobile/src/newArch/features/DynamicContent/components/LogContentCardWrapper.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/Notifications.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AssetDynamicContent.tsx
Labels: mobile

#8574 [fix/LIVE-15117]: add custom ptx handlers to handlers memo
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
Labels: desktop

#8580 fix: add ledger validator on mantra
  .changeset/six-kids-share.md
  libs/coin-modules/coin-cosmos/src/config.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
Labels: common

#8584 added build_type input to target proper Firebase env
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation

#8581 fix: Move ICP memo tag field on recepient step when FF lldMemoTag is ON
  .changeset/good-mails-cover.md
  apps/ledger-live-desktop/src/newArch/features/MemoTag/components/MemoTagField.tsx
  apps/ledger-live-desktop/src/renderer/families/internet_computer/SendAmountFields.tsx
  apps/ledger-live-desktop/src/renderer/families/internet_computer/SendRecipientFields.tsx
  apps/ledger-live-desktop/src/renderer/families/internet_computer/index.ts
  apps/ledger-live-desktop/src/renderer/families/internet_computer/types.ts
  apps/ledger-live-desktop/src/renderer/modals/Send/SendRecipientFields.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepRecipient.tsx
  turbo.json
Labels: desktop

#8586 Merge pull request #8581 from LedgerHQ/fix/LIVE-15154
  .changeset/good-mails-cover.md
  apps/ledger-live-desktop/src/newArch/features/MemoTag/components/MemoTagField.tsx
  apps/ledger-live-desktop/src/renderer/families/internet_computer/SendAmountFields.tsx
  apps/ledger-live-desktop/src/renderer/families/internet_computer/SendRecipientFields.tsx
  apps/ledger-live-desktop/src/renderer/families/internet_computer/index.ts
  apps/ledger-live-desktop/src/renderer/families/internet_computer/types.ts
  apps/ledger-live-desktop/src/renderer/modals/Send/SendRecipientFields.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepRecipient.tsx
  turbo.json
Labels: desktop

#8590 :triangular_flag_on_post: (llm): add account list feature flag
  .changeset/ninety-scissors-grow.md
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#8587 Add bitcoin_testnet for staking using ACRE
  .changeset/three-mails-hug.md
  apps/ledger-live-desktop/src/renderer/families/bitcoin/AccountHeaderManageActions.ts
Labels: desktop

#8585 ci: checkout feature branch *including merge commit* in turbo-affected
  .github/workflows/turbo-affected-reusable.yml
Labels: automation

#8593 fix: missing names regression in staking modal
  .changeset/heavy-worms-retire.md
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/component/ProviderItem.tsx
Labels: desktop

#8596 bugfix: add mev protection on swap
  .changeset/perfect-toys-shop.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
Labels: desktop

#8555 feat(live-11604): clean up swap legacy code and flags
  .changeset/tricky-dryers-check.md
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/components/AnimatedCountdown.tsx
  apps/ledger-live-desktop/src/renderer/hooks/swap-migrations/useSwapLiveAppHook.tsx
  apps/ledger-live-desktop/src/renderer/icons/ArrowsUpDown.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/App/App.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/DrawerTitle.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/ExchangeDrawer/SwapAction.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/ExchangeDrawer/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawer/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/ProvidersSection.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/SectionRate.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/types.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FormInputs.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FormLabel.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FromRow.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/ToRow.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/index.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/utils.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionFees.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionInformative.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionTarget.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SummaryLabel.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SummarySection.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SummaryValue.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/types.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Migrations/SwapMigrationUI.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Countdown.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/EmptyState.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/LoadingState.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/NoQuoteSwapRate.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Rate.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/SwapRate.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/filterRates.spec.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/filterRates.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/utils/formatCountdown.test.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/utils/formatCountdown.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/TargetAccountDrawer/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/hooks/useIsSwapLiveFlagEnabled.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/hooks/useSwapLiveAppQuoteState.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/swapWeb/index.tsx
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useIsCurrencySupported.ts
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useIsSwapLiveApp.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useIsSwapLiveApp.ts
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useSwapLiveConfig.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/live-app-migration/useSwapLiveConfig.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFilteredProviders.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs

#8602 feat(LIVE-13952): allow `SWAP_USER_IP` to be given to swap app
  .changeset/metal-foxes-do.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
  turbo.json
Labels: desktop

#8601 Bugfix/revert and tsd 4337 unexpected major service overuse release
  .changeset/strong-bobcats-marry.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Nfts/BreadCrumb/useBreadCrumbModel.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Nfts/Collections/useNftCollectionsModel.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Nfts/screens/Gallery/useNftGalleryModel.tsx
  apps/ledger-live-desktop/src/renderer/components/Breadcrumb/NFTCrumb.tsx
  apps/ledger-live-desktop/src/renderer/components/CustomImage/NFTGallerySelector.tsx
  apps/ledger-live-desktop/src/renderer/hooks/nfts/useHideSpamCollection.ts
  apps/ledger-live-desktop/src/renderer/hooks/nfts/useNftCollections.ts
  apps/ledger-live-desktop/src/renderer/screens/nft/Collections/Collections.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Gallery/Gallery.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftList.hook.ts
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftList.tsx
  apps/ledger-live-mobile/src/hooks/nfts/__tests__/useSyncNFTsWitHAccount.test.ts
  apps/ledger-live-mobile/src/hooks/nfts/useHideSpamCollection.ts
  apps/ledger-live-mobile/src/hooks/nfts/useNftCollections.ts
  apps/ledger-live-mobile/src/screens/Account/NftCollectionsList.tsx
  apps/ledger-live-mobile/src/screens/Analytics/Operations.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/NFTGallerySelector.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/index.tsx
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/01b-SelectCollection.tsx
  apps/ledger-live-mobile/src/screens/Settings/Accounts/HiddenNftCollections.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/OperationsHistory.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/live-nft-react/src/hooks/__tests__/useCheckNftAccount.test.tsx
  libs/live-nft-react/src/hooks/__tests__/useNftGalleryFilter.test.tsx
  libs/live-nft-react/src/hooks/types.ts
  libs/live-nft-react/src/hooks/useNftGalleryFilter.ts
Labels: desktop, mobile, common, ledgerjs

#8607 :bug: (llm) margin issue on my ledger screen
  .changeset/lovely-vans-hug.md
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
Labels: mobile

#8595 bugfix: revert useNFTCollections
  .changeset/strong-bobcats-marry.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Nfts/BreadCrumb/useBreadCrumbModel.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Nfts/Collections/useNftCollectionsModel.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Nfts/screens/Gallery/useNftGalleryModel.tsx
  apps/ledger-live-desktop/src/renderer/components/Breadcrumb/NFTCrumb.tsx
  apps/ledger-live-desktop/src/renderer/components/CustomImage/NFTGallerySelector.tsx
  apps/ledger-live-desktop/src/renderer/hooks/nfts/useHideSpamCollection.ts
  apps/ledger-live-desktop/src/renderer/hooks/nfts/useNftCollections.ts
  apps/ledger-live-desktop/src/renderer/screens/nft/Collections/Collections.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Gallery/Gallery.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftList.hook.ts
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftList.tsx
  apps/ledger-live-mobile/src/hooks/nfts/__tests__/useSyncNFTsWitHAccount.test.ts
  apps/ledger-live-mobile/src/hooks/nfts/useHideSpamCollection.ts
  apps/ledger-live-mobile/src/hooks/nfts/useNftCollections.ts
  apps/ledger-live-mobile/src/screens/Account/NftCollectionsList.tsx
  apps/ledger-live-mobile/src/screens/Analytics/Operations.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/NFTGallerySelector.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/index.tsx
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/01b-SelectCollection.tsx
  apps/ledger-live-mobile/src/screens/Settings/Accounts/HiddenNftCollections.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/OperationsHistory.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/live-nft-react/src/hooks/__tests__/useCheckNftAccount.test.tsx
  libs/live-nft-react/src/hooks/__tests__/useNftGalleryFilter.test.tsx
  libs/live-nft-react/src/hooks/types.ts
  libs/live-nft-react/src/hooks/useNftGalleryFilter.ts
Labels: desktop, mobile, common, ledgerjs

#8606 :bug: (llm) margin issue on my ledger screen
  .changeset/lovely-vans-hug.md
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
Labels: mobile

#8605 [QAA-356][Playwright][Speculos] Fix solana stake flow
  apps/ledger-live-desktop/src/renderer/components/LinkWithExternalIcon.tsx
  apps/ledger-live-desktop/src/renderer/families/solana/shared/components/LedgerValidatorTCLink.tsx
  apps/ledger-live-desktop/src/renderer/icons/Check.tsx
  apps/ledger-live-desktop/tests/page/modal/delegate.modal.ts
  apps/ledger-live-desktop/tests/specs/accounts/delegate.smoke.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
Labels: desktop

#8572 Aptos/move hw app aptos
  apps/ledger-live-mobile/Gemfile.lock
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/aptos/LedgerAccount.ts
  libs/ledger-live-common/src/families/aptos/hw-getAddress.ts
  libs/ledger-live-common/src/families/aptos/js-synchronisation.ts
  libs/ledgerjs/packages/hw-app-aptos/.unimportedrc.json
  libs/ledgerjs/packages/hw-app-aptos/README.md
  libs/ledgerjs/packages/hw-app-aptos/jest.config.ts
  libs/ledgerjs/packages/hw-app-aptos/package.json
  libs/ledgerjs/packages/hw-app-aptos/src/Aptos.ts
  libs/ledgerjs/packages/hw-app-aptos/tests/aptos.test.ts
  libs/ledgerjs/packages/hw-app-aptos/tsconfig.json
  pnpm-lock.yaml
  tools/actions/turbo-affected/build/main.js
Labels: mobile, common, ledgerjs, tools

#8604 fix(llm): 🐛 fix long Memo Tag issue on Stacks
  .changeset/rude-bats-fold.md
  apps/ledger-live-mobile/src/families/algorand/MemoTagInput.tsx
  apps/ledger-live-mobile/src/families/stacks/MemoTagInput.tsx
  libs/coin-modules/coin-stacks/src/bridge/getTransactionStatus.ts
  libs/coin-modules/coin-stacks/src/contants.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/families/stacks/constants.ts
Labels: mobile, common

#8628 Release - fix(lld): use a debounce on memotag field
  .changeset/seven-ravens-rest.md
  apps/ledger-live-desktop/src/newArch/features/MemoTag/__tests__/MemoTagField.test.tsx
  apps/ledger-live-desktop/src/newArch/features/MemoTag/components/MemoTagField.tsx
  apps/ledger-live-desktop/src/renderer/families/casper/MemoField.tsx
  apps/ledger-live-desktop/src/renderer/families/xrp/SendRecipientFields.tsx
Labels: desktop

#8631 [Playwright][Solana][Speculos] Change default validator
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
Labels: desktop

#8624 fix(llm): 🐛 release fix long Memo Tag issue on Stacks
  .changeset/rude-bats-fold.md
  apps/ledger-live-mobile/src/families/algorand/MemoTagInput.tsx
  apps/ledger-live-mobile/src/families/stacks/MemoTagInput.tsx
  libs/coin-modules/coin-stacks/src/bridge/getTransactionStatus.ts
  libs/coin-modules/coin-stacks/src/contants.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/families/stacks/constants.ts
Labels: mobile, common

#8622 fix: set scroll indicator to right to prevent overlaping
  .changeset/tall-ladybugs-worry.md
  apps/ledger-live-mobile/src/screens/makeGenericSelectScreen.tsx
Labels: mobile

#8632 fix(llm): 🐛 debounce memo tag changes
  .changeset/brown-hats-think.md
  apps/ledger-live-mobile/src/newArch/features/MemoTag/hooks/useMemoTagInput.ts
Labels: mobile

#8608 fix(llm): 🐛 fix long Memo Tag issue on Cardano
  .changeset/rare-schools-happen.md
  apps/ledger-live-mobile/src/families/cardano/MemoTagInput.tsx
Labels: mobile

#8635 fix(llm): 🐛 release debounce memo tag changes
  .changeset/brown-hats-think.md
  apps/ledger-live-mobile/src/newArch/features/MemoTag/hooks/useMemoTagInput.ts
Labels: mobile

#8625 fix(llm): 🐛 release fix long Memo Tag issue on Cardano
  .changeset/rare-schools-happen.md
  apps/ledger-live-mobile/src/families/cardano/MemoTagInput.tsx
Labels: mobile

#8577 [QAA-347] Adding NFT e2e tests
  .changeset/thick-peas-hear.md
  apps/ledger-live-desktop/src/renderer/drawers/NFTViewerDrawer/index.tsx
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientFieldDomainService.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepSummary.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Collections/Row.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Gallery/TokensList/Item.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Send/Summary.tsx
  apps/ledger-live-desktop/tests/models/Transaction.ts
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/page/drawer/nft.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/send.drawer.ts
  apps/ledger-live-desktop/tests/page/index.ts
  apps/ledger-live-desktop/tests/page/modal/receive.modal.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/page/nftGallery.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/nft.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/e2e/enum/Account.ts
  libs/ledger-live-common/src/e2e/enum/Nft.ts
Labels: desktop, common

#8638 fix(llm): ✍️ correct memo/tag drawer copy
  .changeset/hungry-moles-yawn.md
  apps/ledger-live-mobile/src/newArch/features/MemoTag/components/MemoTagDrawer.tsx
Labels: mobile

#8636 [QAA-353][Playwright][Speculos] Improve CLI calls
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delete.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/ledgerSync.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/nft.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/settings.spec.ts
  apps/ledger-live-desktop/tests/utils/cliUtils.ts
Labels: desktop

#8644 fix(aptos): remove inexistent dependency
  libs/ledgerjs/packages/hw-app-aptos/package.json
Labels: ledgerjs

#8645 ci: move LLM Codechecks to ledger runners
  .github/workflows/test-mobile-reusable.yml
Labels: automation

#8650 Revert "ci: move LLM Codechecks to ledger runners"
  .github/workflows/test-mobile-reusable.yml
Labels: automation

#8620 [QAA-342][Detox][Speculos] Delete account tests
  apps/ledger-live-mobile/e2e/page/accounts/account.page.ts
  apps/ledger-live-mobile/e2e/page/accounts/assetAccounts.page.ts
  apps/ledger-live-mobile/e2e/page/common.page.ts
  apps/ledger-live-mobile/e2e/page/index.ts
  apps/ledger-live-mobile/e2e/specs/addAccounts/addAccount.spec.ts
  apps/ledger-live-mobile/e2e/specs/delegate/cosmos.spec.ts
  apps/ledger-live-mobile/e2e/specs/manager.spec.ts
  apps/ledger-live-mobile/e2e/specs/receive/currencies.spec.ts
  apps/ledger-live-mobile/e2e/specs/send/currencies.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccount.ts
  apps/ledger-live-mobile/e2e/specs/speculos/deleteAccount/deleteAccount.ts
  apps/ledger-live-mobile/e2e/specs/speculos/deleteAccount/deleteAccountADA.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/deleteAccount/deleteAccountALGO.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/deleteAccount/deleteAccountATOM.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/deleteAccount/deleteAccountBCH.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/deleteAccount/deleteAccountBTC.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/deleteAccount/deleteAccountDOT.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/deleteAccount/deleteAccountETH.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/deleteAccount/deleteAccountSOL.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/deleteAccount/deleteAccountTRX.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/deleteAccount/deleteAccountXLM.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/deleteAccount/deleteAccountXRP.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/deleteAccount/deleteAccountXTZ.spec.ts
  apps/ledger-live-mobile/e2e/specs/unknown-currency-resilience.spec.ts
  apps/ledger-live-mobile/e2e/userdata/skip-onboarding.json
  apps/ledger-live-mobile/src/screens/AccountSettings/DeleteAccountModal.tsx
  apps/ledger-live-mobile/src/screens/AccountSettings/DeleteAccountRow.tsx
Labels: mobile

#8634 [QAA-355] Adding Bug link to allure - e2e testing
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/portfolio.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/settings.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  apps/ledger-live-desktop/tests/utils/allureUtils.ts
  apps/ledger-live-desktop/tests/utils/customJsonReporter.ts
Labels: desktop

#8651 Smartling on-demand translation delivery from release
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#8592 fix(CN-513): all docs=true suffixed links after zendesk migration
  .changeset/angry-rats-kick.md
  apps/ledger-live-mobile/scripts/e2e-ci.mjs
  apps/ledger-live-mobile/src/utils/constants.ts
  libs/coin-modules/coin-cosmos/src/chain/Coreum.ts
  libs/coin-modules/coin-cosmos/src/chain/Cosmos.ts
  libs/coin-modules/coin-cosmos/src/chain/Dydx.ts
  libs/coin-modules/coin-cosmos/src/chain/Osmosis.ts
  libs/coin-modules/coin-cosmos/src/chain/SeiNetwork.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
Labels: mobile, common

#8659 :pencil2: fix (llm) : update comments
  apps/ledger-live-mobile/src/families/bitcoin/ScreenEditCustomFees.tsx
  apps/ledger-live-mobile/src/families/stellar/ScreenEditCustomFees.tsx
Labels: mobile

#8652 fix(llm): prevent debounce causing memo change miss
  .changeset/witty-swans-share.md
  apps/ledger-live-mobile/src/newArch/features/MemoTag/hooks/useMemoTagInput.ts
  apps/ledger-live-mobile/src/screens/SendFunds/02-SelectRecipient.tsx
Labels: mobile

#8657 fix(llm): release prevent debounce causing memo change miss
  .changeset/witty-swans-share.md
  apps/ledger-live-mobile/src/newArch/features/MemoTag/hooks/useMemoTagInput.ts
  apps/ledger-live-mobile/src/screens/SendFunds/02-SelectRecipient.tsx
Labels: mobile

#8665 Revert "fix(lld): use a debounce on memotag field"
  .changeset/seven-ravens-rest.md
  apps/ledger-live-desktop/src/newArch/features/MemoTag/__tests__/MemoTagField.test.tsx
  apps/ledger-live-desktop/src/newArch/features/MemoTag/components/MemoTagField.tsx
  apps/ledger-live-desktop/src/renderer/families/casper/MemoField.tsx
  apps/ledger-live-desktop/src/renderer/families/xrp/SendRecipientFields.tsx
Labels: desktop

#8619 Aptos/remove fees
  apps/ledger-live-desktop/src/renderer/families/aptos/SendAmountFields.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/families/aptos/AccountHeader.tsx
  apps/ledger-live-mobile/src/families/aptos/SendRowsFee.tsx
  apps/ledger-live-mobile/src/families/aptos/fees/AptosCustomFees.tsx
  apps/ledger-live-mobile/src/families/aptos/fees/GasPriceField.tsx
  apps/ledger-live-mobile/src/families/aptos/fees/MaxGasAmountField.tsx
  apps/ledger-live-mobile/src/families/aptos/index.ts
  apps/ledger-live-mobile/src/families/aptos/types.ts
Labels: desktop, mobile

#8666 fix(lld): migrate to https to download signatures
  .changeset/large-glasses-relate.md
  apps/ledger-live-desktop/src/main/updater/init.ts
Labels: desktop

#8648 [QAA-309][Detox][Speculos] Verify address test
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-mobile/e2e/page/accounts/account.page.ts
  apps/ledger-live-mobile/e2e/page/index.ts
  apps/ledger-live-mobile/e2e/page/speculos.page.ts
  apps/ledger-live-mobile/e2e/page/trade/receive.page.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/verifyAddress.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/verifyAddressATOM.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/verifyAddressBCH.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/verifyAddressBSC.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/verifyAddressBTC.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/verifyAddressDOT.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/verifyAddressETH.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/verifyAddressSOL.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/verifyAddressTRX.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/verifyAddressXRP.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/verifyAddressXTZ.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/verifyEmptyAddressTRX.spec.ts
  apps/ledger-live-mobile/src/components/Alert.tsx
  apps/ledger-live-mobile/src/components/FabActions/actionsList/account/index.tsx
  apps/ledger-live-mobile/src/components/FabActions/actionsList/asset/index.tsx
  apps/ledger-live-mobile/src/components/MarketQuickActions/index.tsx
  apps/ledger-live-mobile/src/families/tron/ReceiveConfirmationPostAlert.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioQuickActionsBar.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  libs/ledger-live-common/src/e2e/speculos.ts
  libs/ui/packages/native/src/components/cta/QuickAction/QuickActionButton/index.tsx
  libs/ui/packages/native/src/components/cta/QuickAction/QuickActionList/index.tsx
Labels: desktop, mobile, common, ui

#8656 ci: migrate to sonarcloud
  .github/workflows/sonar.yml
  sonar-project.properties
Labels: automation

#8674 💄 LLM - Landing Pages margin bottom
  .changeset/friendly-carrots-yawn.md
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsLocation.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/GenericLandingPage/index.tsx
Labels: mobile

#8627 fix(llm): 🐛 focus the memo tag input after clicking "Add Tag"
  .changeset/smart-olives-learn.md
  apps/ledger-live-mobile/src/families/stellar/MemoTagInput.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/02-SelectRecipient.tsx
Labels: mobile

#8667 fix(llm): 🚦 do not validate empty Stellar memos
  .changeset/small-jokes-work.md
  apps/ledger-live-mobile/src/families/stellar/MemoTagInput.tsx
Labels: mobile

#8680 [QAA-374][Detox][Speculos] Enable Slack message for nightlies
  .github/workflows/test-mobile-e2e-reusable.yml
Labels: automation

#8661 feat(aptos): update aptos package
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/aptos/LedgerAccount.ts
  libs/ledger-live-common/src/families/aptos/api/index.ts
  libs/ledger-live-common/src/families/aptos/constants.ts
  libs/ledger-live-common/src/families/aptos/js-buildTransaction.ts
  libs/ledger-live-common/src/families/aptos/js-getFeesForTransaction.ts
  libs/ledger-live-common/src/families/aptos/logic.test.ts
  libs/ledger-live-common/src/families/aptos/logic.ts
  libs/ledger-live-common/src/families/aptos/types.ts
  pnpm-lock.yaml
Labels: common

#8450 [QAA] adding Aptos send test
  apps/ledger-live-desktop/tests/families/aptos.ts
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/page/drawer/send.drawer.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  libs/ledger-live-common/src/e2e/enum/Account.ts
  libs/ledger-live-common/src/e2e/enum/AppInfos.ts
  libs/ledger-live-common/src/e2e/enum/Currency.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#8621 fix: revalidate recipient field on account change in the send flow
  .changeset/witty-taxis-scream.md
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.tsx
Labels: desktop

#8603 fix: add offline support for anonymous targeted user via braze notifications
  .changeset/curvy-parents-push.md
  apps/ledger-live-desktop/src/newArch/features/DynamicContent/components/LogContentCardWrapper.tsx
  apps/ledger-live-desktop/src/renderer/actions/constants.ts
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/AnnouncementPanel.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useBraze.ts
  apps/ledger-live-desktop/src/renderer/reducers/dynamicContent.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
Labels: desktop

#8626 fix: display the selected validator
  .changeset/pretty-hairs-laugh.md
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/fields/ValidatorField.tsx
  libs/coin-modules/coin-cardano/src/api/getPools.ts
Labels: desktop

#8673 [Alpaca] Add pagination to listOperations
  .changeset/two-hornets-push.md
  libs/coin-framework/src/api/types.ts
  libs/coin-modules/coin-polkadot/package.json
  libs/coin-modules/coin-polkadot/src/api/index.integ.test.ts
  libs/coin-modules/coin-polkadot/src/api/index.ts
  libs/coin-modules/coin-polkadot/src/common/address.ts
  libs/coin-modules/coin-polkadot/src/logic/listOperations.ts
  libs/coin-modules/coin-polkadot/src/network/bisontrails.ts
  libs/coin-modules/coin-stellar/src/api/index.integ.test.ts
  libs/coin-modules/coin-stellar/src/api/index.ts
  libs/coin-modules/coin-stellar/src/bridge/logic.ts
  libs/coin-modules/coin-stellar/src/bridge/synchronization.ts
  libs/coin-modules/coin-stellar/src/logic/listOperations.ts
  libs/coin-modules/coin-stellar/src/network/horizon.ts
  libs/coin-modules/coin-stellar/src/network/index.ts
  libs/coin-modules/coin-stellar/src/network/serialization.ts
  libs/coin-modules/coin-tezos/package.json
  libs/coin-modules/coin-tezos/src/api/index.integ.test.ts
  libs/coin-modules/coin-tezos/src/api/index.ts
  libs/coin-modules/coin-tezos/src/logic/listOperations.ts
  libs/coin-modules/coin-tezos/src/network/index.ts
  libs/coin-modules/coin-tezos/src/network/types.ts
  libs/coin-modules/coin-tezos/src/network/tzkt.ts
  libs/coin-modules/coin-xrp/src/api/index.integ.test.ts
  libs/coin-modules/coin-xrp/src/api/index.test.ts
  libs/coin-modules/coin-xrp/src/api/index.ts
  libs/coin-modules/coin-xrp/src/bridge/synchronization.ts
  libs/coin-modules/coin-xrp/src/logic/listOperations.test.ts
  libs/coin-modules/coin-xrp/src/logic/listOperations.ts
  libs/coin-modules/coin-xrp/src/network/index.ts
  libs/ledger-live-common/src/families/tezos/react.ts
  pnpm-lock.yaml
Labels: common

#8682 [QAA-375][Detox][Speculos] Shard android tests
  .github/workflows/test-mobile-e2e-reusable.yml
  apps/ledger-live-mobile/scripts/e2e-ci.mjs
Labels: mobile, automation

#8684 [QAA-375][Detox][Speculos] Fix Shard for push
  .github/workflows/test-mobile-e2e-reusable.yml
Labels: automation

#8688 [QAA-375][Detox][Speculos] Fix Shard for push (bis)
  .github/workflows/test-mobile-e2e-reusable.yml
Labels: automation

#8689 [QAA-375][Detox][Speculos] Fix Shard for push (bis)(bis)
  .github/workflows/test-mobile-e2e-reusable.yml
Labels: automation

#8691 Fix transaction parsing, after removing sender form aptos input argument
  libs/ledger-live-common/src/families/aptos/logic.test.ts
  libs/ledger-live-common/src/families/aptos/logic.ts
Labels: common

#8481 fix(aptos): add amount validation
  libs/ledger-live-common/src/families/aptos/js-getTransactionStatus.ts
Labels: common

#8681 treat ref as string when triggering release build
  .github/workflows/release-final.yml
Labels: automation

#8692 [QAA] Adding and reactivating swap tests + fixing ci
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/page/drawer/swap.confirmation.drawer.ts
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delete.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/ledgerSync.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/nft.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/portfolio.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/settings.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-tests-app.json
  apps/ledger-live-desktop/tests/utils/customJsonReporter.ts
Labels: desktop

#8693 test(aptos): Unit tests for Aptos API
  libs/ledger-live-common/src/families/aptos/api/index.test.ts
Labels: common

#8707 Revert "fix: revalidate recipient field on account change in the send flow"
  .changeset/witty-taxis-scream.md
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.tsx
Labels: desktop

#8675 polyfill only within celo test
  .changeset/stupid-hotels-laugh.md
  libs/coin-modules/coin-cardano/src/bridge.integration.test.ts
  libs/ledger-live-common/jest.config.ts
  libs/ledger-live-common/jest.polyfills.js
Labels: common

#8699 feat: dapp browser v3 accountId and customDappUrl support
  .changeset/plenty-beds-chew.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/helpers.ts
  apps/ledger-live-desktop/src/renderer/screens/platform/LiveApp.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/SelectAccountModal/useSelectAccountModalViewModel.tsx
  apps/ledger-live-mobile/src/screens/Platform/LiveApp.tsx
  libs/ledger-live-common/src/hooks/useDBRaw.ts
  libs/ledger-live-common/src/platform/utils/extractDappURLFromManifest.ts
  libs/ledger-live-common/src/wallet-api/useDappLogic.ts
Labels: desktop, mobile, common

#8663 feat: :sparkles: (llm) new accounts and assets lists portfolio
  .changeset/curvy-ladybugs-collect.md
  apps/ledger-live-mobile/__tests__/jest-setup.js
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AddAccountButton/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Assets/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Assets/components/AssetsListView/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Assets/screens/AssetsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/QrCodeMethod.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioAssets.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/TabSection.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/__integrations__/mockedAccount.ts
  apps/ledger-live-mobile/src/screens/Portfolio/__integrations__/portfolioAssets.integration.test.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/useListsAnimation.ts
  libs/ui/packages/native/src/components/Form/DrawerTabSelector/index.tsx
  libs/ui/packages/native/src/components/Form/TabSelector/index.tsx
  libs/ui/packages/native/src/components/Form/index.ts
  libs/ui/packages/native/storybook/stories/Form/DrawerTabSelector.stories.tsx
  libs/ui/packages/native/storybook/stories/Form/TabSelector.stories.tsx
  libs/ui/packages/native/storybook/stories/index.ts
Labels: mobile, ui, translations

#8705 [QAA-378][Detox][Speculos] Align Slack notification with LLD
  .github/workflows/test-mobile-e2e-reusable.yml
Labels: automation

#8709 [Detox][Speculos] Adapt existing tests
  apps/ledger-live-mobile/e2e/specs/speculos/deeplinks.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/languageChange.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/market.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/onboardingReadOnly.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/password.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/receive/receive.ts
  apps/ledger-live-mobile/e2e/specs/speculos/receive/receiveBTC.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/receiveFlowETH.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/verifyAddressBTC.spec.ts
Labels: mobile

#8720 [QAA] Updating Solana delegation + nft test
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/page/modal/delegate.modal.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
Labels: desktop

#8706 Support/enable broadcast on demand v2
  .github/workflows/test-ui-e2e-only-desktop.yml
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/nft.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  apps/ledger-live-desktop/tests/utils/githubUtils.ts
Labels: desktop, automation

#8599 ⬆️ LLM - Upgrade react native from 0.74.88 to 0.75.4
  .changeset/chatty-shirts-tickle.md
  apps/ledger-live-mobile/Gemfile
  apps/ledger-live-mobile/Gemfile.lock
  apps/ledger-live-mobile/__tests__/jest-setup.js
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/android/gradle/wrapper/gradle-wrapper.properties
  apps/ledger-live-mobile/android/gradlew
  apps/ledger-live-mobile/android/settings.gradle
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/models/liveApps.ts
  apps/ledger-live-mobile/e2e/page/discover/buyDevice.page.ts
  apps/ledger-live-mobile/e2e/page/discover/discover.page.ts
  apps/ledger-live-mobile/e2e/page/liveApps/dummyWalletApp.webView.ts
  apps/ledger-live-mobile/e2e/specs/onboardingReadOnly.spec.ts
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.mm
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/Scanner.tsx
  libs/ui/packages/native/package.json
  patches/react-native-fast-crypto@2.2.0.patch
  pnpm-lock.yaml
Labels: mobile, ui

#8730 [Detox] Update Detox and Allure reporter
  .github/workflows/test-mobile-e2e-reusable.yml
  apps/ledger-live-mobile/e2e/jest.config.js
  apps/ledger-live-mobile/package.json
  package.json
  patches/detox@20.28.0.patch
  pnpm-lock.yaml
Labels: mobile, automation

#8734 [QAA-396][Detox] Fix flaky manager/onboarding tests
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/page/common.page.ts
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  libs/ui/packages/native/src/components/Loader/InfiniteLoader/index.tsx
Labels: mobile, ui

#8716 Added a test file for the LedgerAccount based on Jest.
  libs/ledger-live-common/src/families/aptos/LedgerAccount.test.ts
Labels: common

#8736 fix: show default validators
  .changeset/fuzzy-forks-draw.md
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/fields/ValidatorField.tsx
  libs/coin-modules/coin-cardano/src/api/getPools.ts
Labels: desktop

#8737 [QAA-383] Swap tests - Entry points
  apps/ledger-live-desktop/tests/page/asset.page.ts
  apps/ledger-live-desktop/tests/page/index.ts
  apps/ledger-live-desktop/tests/page/market.page.ts
  apps/ledger-live-desktop/tests/page/portfolio.page.ts
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
Labels: desktop

#8740 LLD e2e: Updated runner for nightly workflow
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation

#8712 fix(llm): 🎥 render camera feed right after granting access
  .changeset/nine-toes-worry.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Synchronize/ScanQrCode.tsx
Labels: mobile

#8704 feat: xion integration
  .changeset/loud-spiders-fail.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-darwin.json
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-linux.json
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  apps/web-tools/live-common-setup.ts
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/coin-modules/coin-cosmos/src/chain/Xion.ts
  libs/coin-modules/coin-cosmos/src/chain/chain.ts
  libs/coin-modules/coin-cosmos/src/chain/chain.unit.test.ts
  libs/coin-modules/coin-cosmos/src/config.ts
  libs/coin-modules/coin-cosmos/src/specs.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/account/helpers.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/currencies/mock.ts
  libs/ledger-live-common/src/currencies/sortByMarketcap.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/xion.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/xion.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/xion.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/crypto-icons/src/svg/XION.svg
Labels: desktop, mobile, common, ui, ledgerjs, cli

#8710 fix(LIVE-14956): Set a default 0 value for swap transactions
  .changeset/moody-oranges-reply.md
  apps/ledger-live-desktop/src/renderer/components/BalanceInfos/index.tsx
  apps/ledger-live-desktop/src/renderer/components/ContextMenu/AccountContextMenu.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/AccountHeaderActions.tsx
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/hooks/useMarketActions.ts
Labels: desktop

#8739 💄 LLM - Add an ellipsis to the add account title when too long
  .changeset/stale-guests-drum.md
  apps/ledger-live-mobile/src/components/SelectableAccountsList.tsx
Labels: mobile

#8744 fix: delegation showless
  .changeset/hungry-ravens-beg.md
  apps/ledger-live-desktop/src/renderer/families/solana/shared/fields/ValidatorsField.tsx
Labels: desktop

#8745 Fix : Minimum amount for swap through Exodus
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
Labels: desktop

#8741 [QAA-399][Speculos] Move LLM/LLD Speculos common code
  apps/ledger-live-desktop/tests/page/drawer/delegate.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/send.drawer.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/nft.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  libs/ledger-live-common/src/e2e/families/algorand.ts
  libs/ledger-live-common/src/e2e/families/bitcoin.ts
  libs/ledger-live-common/src/e2e/families/cardano.ts
  libs/ledger-live-common/src/e2e/families/cosmos.ts
  libs/ledger-live-common/src/e2e/families/evm.ts
  libs/ledger-live-common/src/e2e/families/near.ts
  libs/ledger-live-common/src/e2e/families/polkadot.ts
  libs/ledger-live-common/src/e2e/families/solana.ts
  libs/ledger-live-common/src/e2e/families/stellar.ts
  libs/ledger-live-common/src/e2e/families/tron.ts
  libs/ledger-live-common/src/e2e/families/xrp.ts
  libs/ledger-live-common/src/e2e/models/Delegate.ts
  libs/ledger-live-common/src/e2e/models/Swap.ts
  libs/ledger-live-common/src/e2e/models/Transaction.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#8668 bugfix: No cryptocurrency selection available in NFT gallery 'Add New'
  .changeset/young-jeans-sparkle.md
  libs/ledger-live-common/src/deposit/deposit.test.ts
  libs/ledger-live-common/src/deposit/helper.ts
  libs/ledger-live-common/src/deposit/mock.ts
Labels: common

#8743 bugfix: Token listed multiple times without account details in Receive flow
  .changeset/stupid-starfishes-hammer.md
  apps/ledger-live-mobile/src/components/AccountCard.tsx
Labels: mobile

#8696 bugfix: Market Performance widget - Missing buyable tokens
  .changeset/nine-pots-happen.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/__tests__/useMarketPerformanceWidget.test.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/components/WidgetList.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/types.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/useMarketPerformanceWidget.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/utils/index.ts
  apps/ledger-live-desktop/src/renderer/screens/market/__tests__/market.utils.test.ts
  apps/ledger-live-desktop/src/renderer/screens/market/hooks/useMarketActions.ts
  apps/ledger-live-desktop/src/renderer/screens/market/utils/index.ts
  apps/ledger-live-desktop/src/renderer/screens/market/utils/market.utils.test.ts
  libs/ledger-live-common/src/market/hooks/useMarketPerformers.ts
  libs/ledger-live-common/src/market/utils/currencyFormatter.ts
  libs/ledger-live-common/src/market/utils/types.ts
  pnpm-lock.yaml
Labels: desktop, common

#8746 💬 LLM - Small copy update on the send flow
  .changeset/red-roses-try.md
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#8752 Updating method to get the last appVersion - Speculos e2e
  .changeset/pink-bats-attack.md
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  libs/ledger-live-common/src/e2e/speculos.ts
  libs/ledger-live-common/src/load/speculos.ts
Labels: desktop, common

#8381 :bug:(lld) hedera split address
  .changeset/rotten-lamps-care.md
  apps/ledger-live-desktop/src/renderer/components/OperationsList/AddressCell.tsx
  apps/ledger-live-desktop/src/renderer/components/OperationsList/tests/splitAddress.test.ts
Labels: desktop

#8754 bugfix: Click on MarketWidget under FF
  .changeset/afraid-actors-fry.md
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/components/Container.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/components/WidgetList.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/types.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/MarketPerformanceWidget/useMarketPerformanceWidget.ts
Labels: desktop

#8724 bugfix: Infinite loop during operations involving member removal and QR code scanning
  .changeset/curly-olives-smoke.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncStatus.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useGetMembers.ts
Labels: mobile

#8761 Fix: increased timeout for swap confirmation
  apps/ledger-live-desktop/tests/component/layout.component.ts
  apps/ledger-live-desktop/tests/page/drawer/swap.confirmation.drawer.ts
  apps/ledger-live-desktop/tests/page/swap.page.ts
Labels: desktop

#8758 [QAA][Playwright][Speculos] Fix timeout issues
  apps/ledger-live-desktop/tests/fixtures/common.ts
  libs/ledger-live-common/src/e2e/speculos.ts
  libs/speculos-transport/src/index.ts
Labels: desktop, common

#8753 fix :bug:(llm) ios splashscreen
  .changeset/loud-masks-relate.md
  apps/ledger-live-mobile/ios/LaunchScreen.storyboard
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.mm
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
Labels: mobile

#8747 Removed additional settings from Ledger Live Desktop.
  apps/ledger-live-desktop/src/renderer/families/aptos/SendAmountFields.tsx
  apps/ledger-live-desktop/src/renderer/families/aptos/SequenceNumberField.tsx
  apps/ledger-live-desktop/src/renderer/families/aptos/index.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#8598 feat: add aptos bot tests
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/scripts/resolver.js
  apps/ledger-live-desktop/src/renderer/families/aptos/ExpirationTimestampField.tsx
  apps/ledger-live-desktop/src/renderer/families/aptos/GasPriceField.tsx
  apps/ledger-live-desktop/src/renderer/families/aptos/MaxGasAmountField.tsx
  apps/ledger-live-desktop/tests/page/drawer/send.drawer.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-mobile/scripts/resolver.js
  apps/ledger-live-mobile/src/components/RootNavigator/types/SendFundsNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SignTransactionNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SwapNavigator.ts
  apps/ledger-live-mobile/src/families/aptos/SendRowsFee.tsx
  apps/ledger-live-mobile/src/families/aptos/fees/ExpirationTimestampField.tsx
  apps/ledger-live-mobile/src/families/aptos/fees/SequenceNumberField.tsx
  apps/ledger-live-mobile/src/families/aptos/fees/styles.ts
  apps/ledger-live-mobile/src/families/aptos/index.ts
  apps/ledger-live-mobile/src/families/aptos/types.ts
  apps/ledger-live-mobile/src/families/index.ts
  apps/ledger-live-mobile/src/icons/Edit.tsx
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/families/aptos/bridge/bridgeHelpers/addresses.ts
  libs/ledger-live-common/src/families/aptos/bridge/bridgeHelpers/fee.ts
  libs/ledger-live-common/src/families/aptos/bridge/js.ts
  libs/ledger-live-common/src/families/aptos/bridge/mock.ts
  libs/ledger-live-common/src/families/aptos/broadcast.ts
  libs/ledger-live-common/src/families/aptos/buildTransaction.ts
  libs/ledger-live-common/src/families/aptos/createTransaction.ts
  libs/ledger-live-common/src/families/aptos/deviceTransactionConfig.ts
  libs/ledger-live-common/src/families/aptos/estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/aptos/getFeesForTransaction.ts
  libs/ledger-live-common/src/families/aptos/getTransactionStatus.ts
  libs/ledger-live-common/src/families/aptos/prepareTransaction.ts
  libs/ledger-live-common/src/families/aptos/signOperation.ts
  libs/ledger-live-common/src/families/aptos/specs.ts
  libs/ledger-live-common/src/families/aptos/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/aptos/synchronisation.ts
  libs/ledger-live-common/src/families/aptos/types.ts
  libs/ledger-live-common/src/generated/bridge/mock.ts
  libs/ledger-live-common/src/generated/deviceTransactionConfig.ts
  libs/ledger-live-common/src/generated/specs.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/hw-app-aptos/README.md
  libs/ledgerjs/packages/hw-app-aptos/package.json
  pnpm-lock.yaml
Labels: desktop, mobile, common, ledgerjs, cli

#8772 bugfix: Analytics Widget
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
Labels: desktop

#8771 [QAA-382] Adding the value of DISABLE_TRANSACTION_BROADCAST
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/components/debug/DisableTransactionBroadcastWarning.tsx
Labels: desktop

#8721 test(aptos): bridge integration tests
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  libs/ledger-live-common/src/__tests__/test-helpers/bridge.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/families/aptos/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/aptos/api/index.ts
  libs/ledger-live-common/src/families/aptos/bridge.integration.test.ts
  libs/ledger-live-common/src/families/aptos/estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/aptos/transaction.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  pnpm-lock.yaml
Labels: desktop, common, ledgerjs

#8766 Feat/live 15542 aptos send receive fix send funds simulation failed when amount to send is slightly above max spendable amount
  libs/ledger-live-common/src/families/aptos/getFeesForTransaction.ts
  libs/ledger-live-common/src/families/aptos/prepareTransaction.ts
Labels: common

#8780 Update transaction expiration ts
  libs/ledger-live-common/src/families/aptos/api/index.ts
Labels: common
