Repository LedgerHQ/ledger-live, pull requests merged in 2024-03, with the labels that each got.

#6337 bugfix/LIVE 11546 llm swap text overlap when user doesnt have enough eth in parent account for fees
  .changeset/yellow-geese-trade.md
  apps/ledger-live-mobile/src/screens/Swap/Form/TxForm/From.tsx
Labels: mobile

#6314 fix: do not close modal when error name is SwapCompleteExchangeError
  .changeset/shiny-zoos-grin.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
Labels: desktop

#6205 feat: update UI sign transaction [LIVE-10708]
  .changeset/polite-ducks-wait.md
  apps/ledger-live-desktop/src/renderer/components/TransactionConfirm/ConfirmAlert.tsx
  apps/ledger-live-desktop/src/renderer/components/TransactionConfirm/ConfirmApproval.tsx
  apps/ledger-live-desktop/src/renderer/components/TransactionConfirm/ConfirmApprovalFooter.tsx
  apps/ledger-live-desktop/src/renderer/components/TransactionConfirm/ConfirmFooter.tsx
  apps/ledger-live-desktop/src/renderer/components/TransactionConfirm/ConfirmTitle.tsx
  apps/ledger-live-desktop/src/renderer/components/TransactionConfirm/TransactionConfirmField.tsx
  apps/ledger-live-desktop/src/renderer/components/TransactionConfirm/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/Body.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/services/confirmTransaction.spec.ts
Labels: desktop, translations

#6344 chore: sunset the broken hw-transport-node-ble
  README.md
  apps/cli/package.json
  apps/cli/src/live-common-setup.ts
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  libs/ledgerjs/README.md
  libs/ledgerjs/packages/hw-transport-node-ble/.unimportedrc.json
  libs/ledgerjs/packages/hw-transport-node-ble/CHANGELOG.md
  libs/ledgerjs/packages/hw-transport-node-ble/README.md
  libs/ledgerjs/packages/hw-transport-node-ble/jest.config.ts
  libs/ledgerjs/packages/hw-transport-node-ble/package.json
  libs/ledgerjs/packages/hw-transport-node-ble/src/TransportNodeBle.ts
  libs/ledgerjs/packages/hw-transport-node-ble/src/platform.ts
  libs/ledgerjs/packages/hw-transport-node-ble/tsconfig.json
  package.json
  pnpm-lock.yaml
  tools/actions/turbo-affected/build/main.js
Labels: mobile, ledgerjs, tools, cli

#6301 [LIVE-11368][LLM] Cleanup code of "Claim NFT" cancelled feature
  .changeset/lucky-scissors-learn.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ClaimNftNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/ClaimNftNavigator.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/postOnboarding/actions.ts
  apps/ledger-live-mobile/src/logic/postOnboarding/index.tsx
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/ClaimNft/ClaimNftQrScan.tsx
  apps/ledger-live-mobile/src/screens/ClaimNft/ClaimNftWelcome.tsx
  apps/ledger-live-mobile/src/screens/PostOnboarding/PostOnboardingHub.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/ClaimNftFlowDebug.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/index.tsx
  apps/ledger-live-mobile/src/utils/urls.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/featureFlags/groupedFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ledgerjs/packages/types-live/src/postOnboarding.ts
Labels: mobile, common, ledgerjs, translations, live-devices

#6257 Feat/live 9693 invalid address error
  .changeset/green-maps-camp.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledgerjs/packages/errors/src/index.ts
Labels: desktop, common, ledgerjs, translations

#6356 chore: Remove ci lint script console.log
  apps/ledger-live-desktop/scripts/ci-lint.mjs
Labels: desktop

#6353 [SUPPORT] : Remove walletConnectEntryPoint feature flag from codebase
  .changeset/angry-lies-kick.md
  apps/ledger-live-mobile/src/hooks/useQuickActions.ts
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#6269 bugfix: adding swap to url
  .changeset/sixty-suns-add.md
  apps/ledger-live-desktop/src/renderer/hooks/swap-migrations/useSwapLiveAppHook.tsx
Labels: desktop

#6368 Revert "[BUGFIX] : Continue button was greyed out in step 1 of Send flow if the Account to debit is changed"
  .changeset/polite-papayas-fold.md
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.tsx
Labels: desktop

#6369 feat(llc): Define FF for lld
  .changeset/healthy-tigers-pull.md
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#6333 fix: keep a margin of 0,005eth/bsc/matic for swaps using evm
  .changeset/sharp-carpets-shout.md
  libs/coin-evm/src/__tests__/unit/prepareTransaction.unit.test.ts
  libs/coin-evm/src/prepareTransaction.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useFromState.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useUpdateMaxAmount.ts
Labels: common

#6352 bugfix: check for disableSlowStrategy in ethFee drawer
  .changeset/hip-peaches-retire.md
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/SelectFeeStrategy.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/SendAmountFields.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawer/index.tsx
Labels: desktop

#6371 fix: fix random crash in swap llm
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
Labels: mobile

#6377 bugfix(LIVE-11608): llm swap wrong behaviour with the drawer
  .changeset/chilly-hornets-smoke.md
  apps/ledger-live-mobile/src/reducers/swap.ts
  libs/ledger-live-common/src/exchange/swap/const/timeout.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useProviderRates.ts
Labels: mobile, common

#6359 [LLD] - [LIVE-11433] - Remove CEX Deposit FF
  .changeset/rare-owls-yawn.md
  apps/ledger-live-desktop/src/renderer/icons/Coinbase.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/DepositFromCoinbaseButton.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepAccount.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/cexDeposit.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs

#6204 fix(LLM/LLC): Fiat currencies fetch logic rework to fix issues
  .changeset/two-teachers-drum.md
  apps/ledger-live-mobile/src/context/LedgerStore.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketCurrencySelect/useMarketCurrencySelectViewModel.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/screens/Market/MarketCurrencySelect.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/CountervalueSettings.tsx
  libs/coin-framework/src/currencies/support.ts
Labels: mobile

#6347 fix: swap sol crash
  .changeset/beige-gorillas-provide.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionFees.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Summary/Item.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Summary/index.tsx
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/exchange/swap/const/blockchain.ts
  libs/ledger-live-common/src/exchange/swap/const/timeout.ts
Labels: desktop, mobile, common

#6384 bugfix/LIVE 11608 llm swap wrong behaviour with the drawer
  .changeset/wet-comics-glow.md
  libs/ledger-live-common/src/exchange/swap/const/timeout.ts
Labels: desktop, mobile, translations, cli

#6346 fix(LIVE-11547): llm swap deeplink to buy when user doesnt have enough to pay fees doesnt work
  .changeset/violet-poets-clean.md
  apps/ledger-live-mobile/src/components/TranslatedError/hooks/useErrorLinks.tsx
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
Labels: mobile, common

#6367 update dydx lcd
  .changeset/moody-dodos-bow.md
  libs/ledger-live-common/src/families/cosmos/config.ts
Labels: common

#6376 [LIVE-11008][LLD][App Catalog] Show filter for applications supported in Live displays applications not supported by Live
  .changeset/itchy-moles-fold.md
  libs/ledger-live-common/src/apps/filtering.ts
Labels: common, live-devices

#6388 bugfix/LIVE 11608 llm swap wrong behaviour with the drawer
  .changeset/good-pillows-kiss.md
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useProviderRates.ts
Labels: mobile, common

#6387 fix: untick use max button when switching accounts
  .changeset/healthy-horses-doubt.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/hooks/useFromState.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useUpdateMaxAmount.ts
Labels: desktop, common

#6304 UI update send flow
  .changeset/big-ears-suffer.md
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/colors.tsx
  apps/ledger-live-mobile/src/components/AnalyticsConsole/index.tsx
  apps/ledger-live-mobile/src/components/BigCurrencyRow.tsx
  apps/ledger-live-mobile/src/components/Button.tsx
  apps/ledger-live-mobile/src/components/FilteredSearchBar.tsx
  apps/ledger-live-mobile/src/components/GenericErrorBottomModal.tsx
  apps/ledger-live-mobile/src/components/GenericInformationBody.tsx
  apps/ledger-live-mobile/src/components/KeyboardView.tsx
  apps/ledger-live-mobile/src/components/RecipientInput.tsx
  apps/ledger-live-mobile/src/components/StepHeader.tsx
  apps/ledger-live-mobile/src/families/evm/EvmNetworkFeesInfo.tsx
  apps/ledger-live-mobile/src/families/solana/DelegationFlow/SelectAmount.tsx
  apps/ledger-live-mobile/src/icons/QRcode.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectNetwork.tsx
  apps/ledger-live-mobile/src/screens/RequestAccount/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/02-SelectRecipient.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/03a-AmountCoin.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/04-Summary.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/RecipientRow.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/SummaryFromSection.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/SummaryToSection.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/SummaryTotalSection.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectCurrency.tsx
  libs/ui/packages/native/.storybook-web/main.js
  libs/ui/packages/native/.storybook-web/preview.js
  libs/ui/packages/native/package.json
  libs/ui/packages/native/src/components/Form/Input/AnimatedInput/AnimatedNotchedLabel.tsx
  libs/ui/packages/native/src/components/Form/Input/AnimatedInput/index.tsx
  libs/ui/packages/native/src/components/Form/Input/BaseInput/index.tsx
  libs/ui/packages/native/src/components/Form/Input/SearchInput/index.tsx
  libs/ui/packages/native/src/components/Form/Input/SquaredInput/index.tsx
  libs/ui/packages/native/src/components/Form/Input/SquaredSearchBar/index.tsx
  libs/ui/packages/native/src/components/Form/Input/index.ts
  libs/ui/packages/native/src/components/Layout/Modals/BaseModal/index.tsx
  libs/ui/packages/native/src/components/Layout/Modals/BottomDrawer/index.tsx
  libs/ui/packages/native/src/components/cta/Button/index.tsx
  libs/ui/packages/native/storybook/stories/Form/Input/AnimatedInput.stories.tsx
  libs/ui/packages/native/storybook/stories/Form/Input/SearchInput.stories.tsx
  libs/ui/packages/native/storybook/stories/Form/Input/SquaredSearchBar.stories.tsx
  pnpm-lock.yaml
Labels: mobile, ui

#6360 chore: remove referralProgramDesktopBanner dead code
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#6357 chore: cleanup the previous usage of 'learn' feature flag
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/components/MainSideBar/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/learn/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-deleteAccountFromAccountsList-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-deleteAccountFromAccountsList-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-deleteAccount-linux.png
  apps/ledger-live-desktop/tests/specs/general/keyboard-shortcuts.spec.ts-snapshots/no-native-menu-linux.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/discreet-mode-linux.png
  apps/ledger-live-desktop/tests/specs/general/portfolio.spec.ts-snapshots/operations-linux.png
  apps/ledger-live-desktop/tests/specs/manager/firmwareupdate.spec.ts-snapshots/modal-closed-linux.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-app-catalog-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-7d-range-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-btc-star-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-no-scrollbar-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-search-bi-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-thb-countervalue-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/account-page-with-stake-button-and-banner-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/market-loaded-with-eth-stake-button-available-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/add-to-account-button-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/fixed-decentralised-quotes-displayed-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/from-account-dropdown-opened-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/open-swap-page-with-eth-account-selected-linux.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/verify-swap-history-linux.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-about-page-linux.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-general-page-linux.png
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/Learn/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs, translations, screenshots

#6391 feat: translate all filter
  .changeset/nice-needles-bow.md
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Browse/Search.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/CatalogSection.tsx
Labels: desktop, mobile, translations

#6354 [SUPPORT] : Remove walletNftGallery feature flag from codebase
  .changeset/proud-toes-work.md
  apps/ledger-live-mobile/src/components/RootNavigator/WalletTabNavigator.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabHeader.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabNavigatorScrollManager.tsx
  apps/ledger-live-mobile/src/components/WalletTab/WalletTabNavigatorTabBarDisabled.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#6399 Bugfix/devices europa ids
  .changeset/purple-news-mix.md
  libs/ledgerjs/packages/devices/src/index.ts
Labels: ledgerjs, live-devices

#6310 [LIVE-11369][LLM] Delete feature flag "llmNewFirmwareUpdateUx", replace by business logic
  .changeset/big-impalas-agree.md
  .changeset/rude-bees-speak.md
  apps/ledger-live-mobile/.unimportedrc.json
  apps/ledger-live-mobile/__tests__/test-renderer.tsx
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/src/components/FirmwareUpdateBanner.tsx
  apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/components/UpdateBanner/UpdateBanner.test.tsx
  apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/components/UpdateBanner/ViewProps.tsx
  apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/components/UpdateBanner/__mocks__/makeMockSettings.tsx
  apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/components/UpdateBanner/index.tsx
  apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/components/UpdateBanner/useUpdateBannerViewModel.test.tsx
  apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/components/UpdateBanner/useUpdateBannerViewModel.tsx
  apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/utils/isFirmwareUpdateSupported.test.ts
  apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/utils/isFirmwareUpdateSupported.ts
  apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/utils/navigateToNewUpdateFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/utils/navigateToOldUpdateFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/__integrations__/changeCurrency.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/__integrations__/searchACoin.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/__integrations__/setFavorites.integration.test.tsx
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/index.tsx
  apps/ledger-live-mobile/src/screens/Manager/AppsScreen.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/language.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/featureFlags/groupedFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs, live-devices

#6341 Feat: fix swap history
  .changeset/fifty-emus-accept.md
  libs/coin-evm/src/logic.ts
  libs/ledger-live-common/src/exchange/swap/getCompleteSwapHistory.ts
Labels: common

#6392 [Bugfix/LIVE-11707]: disable max toggle button for from swap main accounts
  .changeset/six-knives-occur.md
  apps/ledger-live-mobile/e2e/specs/swap/dexSwap.spec.ts
  apps/ledger-live-mobile/e2e/specs/swap/swap.spec.ts
  apps/ledger-live-mobile/src/screens/Swap/Form/Max.tsx
Labels: mobile

#6400 feat(lld): implement variant A for FF feature_lld_analytics_opt_in_prompt
  .changeset/thick-items-count.md
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/hooks/useCommonLogic.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/hooks/useDisplayOnPortfolio.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/hooks/useVariantA.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/screens/VariantA/Main/components/MainBody/components/TrackingInfoList/index.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/screens/VariantA/Main/components/MainBody/components/index.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/screens/VariantA/Main/components/MainBody/index.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/screens/VariantA/Main/components/MainFooter/index.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/screens/VariantA/Main/components/index.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/screens/VariantA/Main/index.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/screens/VariantA/ManagePreferences/components/Body/index.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/screens/VariantA/ManagePreferences/components/Footer/index.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/screens/VariantA/ManagePreferences/components/index.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/screens/VariantA/ManagePreferences/index.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/screens/VariantA/index.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/screens/components/Footer/index.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/screens/components/Header/index.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/screens/components/RevokeInfoField/index.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/screens/components/index.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/screens/index.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/types/AnalyticsOptInPromptNavigator.ts
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/types/AnalyticsOptInromptNavigator.ts
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/index.tsx
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#6407 Fix MSW and jest setup for LLM
  apps/ledger-live-mobile/__tests__/jest-setup.js
  apps/ledger-live-mobile/__tests__/server.ts
  apps/ledger-live-mobile/jest-setup.js
Labels: mobile

#6307 [Bugfix/Casper] Missing operations in lld for certain accounts
  .changeset/large-needles-watch.md
  libs/ledger-live-common/src/families/casper/api/types.ts
  libs/ledger-live-common/src/families/casper/bridge/bridgeHelpers/txn.ts
Labels: common, fork

#6343 feat(LIVE-11502): update text Moonpay to MoonPay
  .changeset/fluffy-carrots-help.md
  libs/ledger-live-common/src/exchange/swap/utils/index.test.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.ts
  tools/actions/turbo-affected/build/main.js
  tools/actions/turborepo-gh-cache/build/main.js
  tools/actions/turborepo-s3-cache/build/main.js
Labels: common, tools

#6413 Support/fix casper history
  .changeset/large-needles-watch.md
  libs/ledger-live-common/src/families/casper/api/types.ts
  libs/ledger-live-common/src/families/casper/bridge/bridgeHelpers/txn.ts
Labels: common

#6415 CHERRYPICK Bugfix/remove backend errors (#6233)
  .changeset/great-dots-tease.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/exchange/swap/api/v5/fetchRates.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
Labels: desktop, common, translations

#6154 Add SELL_NG
  .changeset/selfish-carrots-thank.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  libs/exchange-module/src/index.ts
  libs/exchange-module/src/types.ts
  libs/ledger-live-common/src/exchange/error.ts
  libs/ledger-live-common/src/exchange/index.ts
  libs/ledger-live-common/src/exchange/platform/completeExchange.ts
  libs/ledger-live-common/src/exchange/platform/startExchange.ts
  libs/ledger-live-common/src/exchange/platform/transfer/completeExchange.ts
  libs/ledger-live-common/src/exchange/providers/fund.ts
  libs/ledger-live-common/src/exchange/providers/index.ts
  libs/ledger-live-common/src/exchange/providers/sell.ts
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/sell/index.ts
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
  libs/ledger-live-common/src/exchange/swap/index.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.ts
  libs/ledger-live-common/src/wallet-api/Exchange/error.ts
  libs/ledger-live-common/src/wallet-api/Exchange/server.test.ts
  libs/ledger-live-common/src/wallet-api/Exchange/server.ts
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.integ.test.ts
Labels: desktop, common, ledgerjs

#6402 fix(LIVE-11708): add check to useEffect to avoid multiple broadcasts
  .changeset/perfect-crabs-arrive.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
Labels: desktop

#6426 chore: update test desktop external
  .github/workflows/test-desktop-external.yml
  .github/workflows/test-desktop.yml
Labels: automation

#6423 Bugfix - Account migration job only run when triggered manually
  .github/workflows/account-migration.yml
  libs/ledger-live-common/src/__tests__/migration/account-migration.ts
Labels: common, automation

#6324 fix(LIVE-11382): prevent closing drawer on not enough balance error
  .changeset/cuddly-foxes-poke.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
Labels: desktop

#6433 Sats first look + container grid
  apps/ledger-live-desktop/src/renderer/screens/account/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Collectibles/Sats.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Collectibles/index.tsx
Labels: desktop

#6434 Hackathon - Ordinals Menu in Bitcoin Accounts
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Header/Categories/index.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Header/Layouts/index.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Header/index.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/components/RareSats/Sats.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/components/RareSats/index.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/hooks/useMenuCategories.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/hooks/useMenuLayouts.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Collectibles/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tools/utils/index.js
  apps/ledger-live-desktop/tsconfig.json
Labels: desktop, translations

#6435 Feat/hack ordinals menu
  apps/ledger-live-desktop/src/newArch/Ordinals/index.tsx
Labels: desktop

#6436 tabbar
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Header/Categories/index.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Header/index.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/index.tsx
Labels: desktop

#6437 Feat/hack ordinals menu
  apps/ledger-live-desktop/src/newArch/Ordinals/hooks/useNftGallery.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/types/Ordinals.ts
Labels: desktop

#6429 Bugfix/live 11658
  .changeset/long-starfishes-love.md
  apps/ledger-live-desktop/src/renderer/drawers/SwapOperationDetails/index.tsx
Labels: desktop

#6440 List Sats
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Header/index.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Icons/Block9.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Icons/index.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Inscriptions/index.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/components/RareSats/Sats.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/components/RareSats/index.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/hooks/useMenuCategories.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/hooks/useNftGallery.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/index.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/types/Ordinals.ts
  apps/ledger-live-desktop/src/newArch/Ordinals/types/mappingKeys.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#6414 fix(live-11468): prevent duplicate backend calls on swap cancellation or acceptance
  .changeset/eight-mails-crash.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
Labels: desktop

#6444 Add FF + new Display
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Header/Categories/index.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Header/Layouts/index.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Header/index.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Header/utils.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs

#6445 Feat/hack ordinals inscriptions details
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Inscriptions/Grid/index.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/drawers/Inscriptions/CopiableField.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/drawers/Inscriptions/NFTProperties.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/drawers/Inscriptions/NftPanAndZoom.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/drawers/Inscriptions/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#6446 context menu
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Inscriptions/Grid/index.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Nft/InscriptionContextMenu.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Nft/ItemHeader.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/hooks/useAdditionalActions.ts
  apps/ledger-live-desktop/src/newArch/Ordinals/hooks/useAdditionalActions.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#6447 Feat/hack ordinals inscriptions images
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Inscriptions/Grid/index.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/drawers/Inscriptions/index.tsx
Labels: desktop

#6448 Feat/hack ordinals coincontrol
  apps/ledger-live-desktop/src/newArch/Ordinals/components/Inscriptions/index.tsx
  apps/ledger-live-desktop/src/newArch/Ordinals/components/RareSats/index.tsx
  apps/ledger-live-desktop/src/renderer/families/bitcoin/CoinControlModal.tsx
  apps/ledger-live-desktop/src/renderer/families/bitcoin/CoinControlRow.tsx
Labels: desktop

#6442 support(LIVE-11626): change test for new moonpay description
  apps/ledger-live-desktop/tests/specs/deeplinks/discover.cold.spec.ts-snapshots/loaded-linux.png
  apps/ledger-live-desktop/tests/specs/deeplinks/discover.spec.ts-snapshots/loaded-linux.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/discover-linux.png
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/api/mock.json
Labels: desktop, common, screenshots

#6449 bugfix/LIVE 11725 llm swap error message for insufficent balance
  .changeset/polite-items-argue.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#6290 [LIVE-10057] Feature: Add support for `chainId` in @ledgerhq/hw-app-eth and @ledgerhq/coin-evm address retrieval
  .changeset/pretty-cobras-carry.md
  .changeset/warm-jobs-crash.md
  libs/coin-modules/coin-evm/src/__tests__/unit/hw-getAddress.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/logic.unit.test.ts
  libs/coin-modules/coin-evm/src/hw-getAddress.ts
  libs/ledgerjs/packages/hw-app-eth/README.md
  libs/ledgerjs/packages/hw-app-eth/src/Eth.ts
  libs/ledgerjs/packages/hw-app-eth/tests/Eth.unit.test.ts
Labels: ledgerjs

#6456 bugfix: untick max on reverse swap
  .changeset/silver-dolls-punch.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
Labels: desktop

#6460 Update release notes
  apps/ledger-live-mobile/android/dapp-store/config.yaml
Labels: mobile

#6282 fix(llm): android preview when app is in background
  .changeset/cuddly-rings-drive.md
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainActivity.java
Labels: mobile, Stale

#6459 [LLM] - [LIVE-11419] - Remove `depositNetworkBannerMobile` feature flag
  .changeset/sweet-eagles-greet.md
  apps/ledger-live-mobile/src/components/RootNavigator/ReceiveFundsNavigator.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectNetwork.tsx
  apps/ledger-live-mobile/src/utils/urls.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#6427 feat(lld): change general settings toggles to fit with FF
  .changeset/sour-onions-relate.md
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/hooks/useVariantA.tsx
  apps/ledger-live-desktop/src/newArch/AnalyticsOptInPrompt/hooks/useVariantB.tsx
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/index.tsx
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/ShareAnalyticsButton.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/ShareAnalyticsButtonFF.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/SharePersonalRecoButtonFF.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#6396 [LLD] - [LIVE-11579] - Revert old Carousel / Portfolio content cards + add action cards
  apps/ledger-live-desktop/src/renderer/actions/dynamicContent.ts
  apps/ledger-live-desktop/src/renderer/components/Carousel/Slide.tsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/TimeBasedProgressBar.tsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/helpers.tsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Page.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useActionCards.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useBraze.ts
  apps/ledger-live-desktop/src/renderer/reducers/dynamicContent.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/ActionContentCards.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.tsx
  apps/ledger-live-desktop/src/types/dynamicContent.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs

#6410 bugfix: convert id list to map to remove duplicate
  .changeset/curly-dancers-know.md
  libs/ledger-live-common/src/exchange/swap/updateAccountSwapStatus.ts
Labels: common

#6451 bugfix/LIVE 11791 swap llm expected usdt does not change
  .changeset/dull-pears-develop.md
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/useSelectedSwapRate.ts
Labels: mobile

#6474 [LLD] - [LIVE-11581] - Remove referralProgramDiscoverCard feature flag
  .changeset/happy-colts-pump.md
  apps/ledger-live-mobile/src/screens/Discover/index.tsx
  apps/ledger-live-mobile/src/utils/urls.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#6406 [LIVE-11378] Stax mcu upgrade failure
  .changeset/gentle-coins-press.md
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-flash-mcu.tsx
  libs/ledger-live-common/src/__tests__/hw/getDeviceInfo.ts
  libs/ledger-live-common/src/hw/firmwareUpdate-main.ts
  libs/ledger-live-common/src/hw/flash.ts
  libs/ledger-live-common/src/hw/getDeviceInfo.ts
Labels: desktop, common, live-devices

#6348 fix(lld): add tx status in the exported csv
  .changeset/strong-needles-begin.md
  libs/ledger-live-common/src/__tests__/__snapshots__/csvExport.ts.snap
  libs/ledger-live-common/src/csvExport.ts
Labels: common

#6471 Remove llmNewArchMarket FF
  .changeset/hot-fans-deliver.md
  apps/ledger-live-mobile/src/AppProviders.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/MarketNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/WalletTabNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/MainNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/MarketNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/WalletTabNavigator.ts
  apps/ledger-live-mobile/src/newArch/features/Market/__integrations__/changeCurrency.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/__integrations__/searchACoin.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/__integrations__/setFavorites.integration.test.tsx
  apps/ledger-live-mobile/src/screens/Market/DeltaVariation.tsx
  apps/ledger-live-mobile/src/screens/Market/EmptyStarredCoins.tsx
  apps/ledger-live-mobile/src/screens/Market/EmptyState.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketCurrencySelect.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDataProviderWrapper.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/MarketGraph.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/MarketStats.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketDetail/index.tsx
  apps/ledger-live-mobile/src/screens/Market/MarketRowItem.tsx
  apps/ledger-live-mobile/src/screens/Market/SearchHeader.tsx
  apps/ledger-live-mobile/src/screens/Market/SortBadge.tsx
  apps/ledger-live-mobile/src/screens/Market/index.tsx
  apps/ledger-live-mobile/src/screens/Market/utils.ts
  apps/ledger-live-mobile/src/screens/WalletCentricSections/MarketPrice.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#6228 [B2CQ-2126] Detox fix flakiness
  .github/workflows/test-mobile-e2e.yml
  apps/ledger-live-mobile/.env.mock
  apps/ledger-live-mobile/detox.config.js
  apps/ledger-live-mobile/e2e/bridge/client.ts
  apps/ledger-live-mobile/e2e/bridge/server.ts
  apps/ledger-live-mobile/e2e/bridge/types.ts
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/jest.config.js
  apps/ledger-live-mobile/e2e/models/DeviceAction.ts
  apps/ledger-live-mobile/e2e/models/common.ts
  apps/ledger-live-mobile/e2e/models/liveApps/liveAppWebview.ts
  apps/ledger-live-mobile/e2e/models/onboarding/onboardingSteps.ts
  apps/ledger-live-mobile/e2e/models/passwordEntryPage.ts
  apps/ledger-live-mobile/e2e/models/settings/generalSettingsPage.ts
  apps/ledger-live-mobile/e2e/models/trade/receivePage.ts
  apps/ledger-live-mobile/e2e/models/trade/sendPage.ts
  apps/ledger-live-mobile/e2e/setup.ts
  apps/ledger-live-mobile/e2e/specs/addAccounts/addAccount.spec.ts
  apps/ledger-live-mobile/e2e/specs/addAccounts/bitcoin.spec.ts
  apps/ledger-live-mobile/e2e/specs/deeplinks.spec.ts
  apps/ledger-live-mobile/e2e/specs/delegate/cosmos.spec.ts
  apps/ledger-live-mobile/e2e/specs/languageChange.spec.ts
  apps/ledger-live-mobile/e2e/specs/manager.spec.ts
  apps/ledger-live-mobile/e2e/specs/market.spec.ts
  apps/ledger-live-mobile/e2e/specs/nftGallery.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboarding.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboardingReadOnly.spec.ts
  apps/ledger-live-mobile/e2e/specs/password.spec.ts
  apps/ledger-live-mobile/e2e/specs/receive/currencies.spec.ts
  apps/ledger-live-mobile/e2e/specs/receive/receiveFlow.spec.ts
  apps/ledger-live-mobile/e2e/specs/send/currencies.spec.ts
  apps/ledger-live-mobile/e2e/specs/swap/dexSwap.spec.ts
  apps/ledger-live-mobile/e2e/specs/swap/swap.spec.ts
  apps/ledger-live-mobile/e2e/specs/unknown-currency-resilience.spec.ts
  apps/ledger-live-mobile/e2e/specs/wallet-api.spec.ts
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/scripts/e2e-ci.mjs
  apps/ledger-live-mobile/src/hooks/deviceActions.ts
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03b-VerifyAddress.tsx
  apps/ledger-live-mobile/src/utils/constants.ts
  libs/ledger-live-common/src/hw/actions/implementations.ts
  package.json
  patches/detox@20.18.4.patch
  pnpm-lock.yaml
  tests/dummy-wallet-app/README.md
Labels: mobile, common, automation

#6420 Feat: amountExpectedTo and magnitudeAwareRate payload unique source true (exchangeSDK & LLD & LLM)
  .changeset/curly-wombats-notice.md
  apps/ledger-live-desktop/protocol.proto
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/ExchangeDrawer/SwapAction.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/ExchangeDrawer/index.tsx
  apps/ledger-live-desktop/tests/models/DeviceAction.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
  apps/ledger-live-mobile/e2e/models/DeviceAction.ts
  apps/ledger-live-mobile/protocol.proto
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/Confirmation.tsx
  libs/exchange-module/src/index.ts
  libs/exchange-module/src/types.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
  libs/ledger-live-common/src/exchange/swap/mock.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
  libs/ledger-live-common/src/exchange/swap/webApp/utils.ts
  libs/ledger-live-common/src/platform/logic.ts
  libs/ledger-live-common/src/wallet-api/Exchange/server.ts
  libs/ledgerjs/packages/hw-app-exchange/package.json
  libs/ledgerjs/packages/hw-app-exchange/src/SwapUtils.test.ts
  libs/ledgerjs/packages/hw-app-exchange/src/SwapUtils.ts
  libs/ledgerjs/packages/hw-app-exchange/src/index.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, ledgerjs

#6390 Feat(LLM): Enable Tron 2.0 Staking in Ledger Live Mobile via Stakekit Live App
  .changeset/lovely-adults-hide.md
  apps/ledger-live-mobile/src/components/FabActions/index.tsx
  apps/ledger-live-mobile/src/components/Stake/useStakingDrawer.tsx
  apps/ledger-live-mobile/src/families/tron/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-mobile/src/families/tron/Votes/Header.tsx
  apps/ledger-live-mobile/src/families/tron/Votes/index.tsx
  apps/ledger-live-mobile/src/families/tron/accountActions.tsx
Labels: mobile, fork

#6454 [Tezos] Update support url op whats this
  .changeset/serious-shrimps-visit.md
  apps/ledger-live-mobile/src/families/tezos/operationDetails.ts
Labels: mobile

#6383 [LIVE-11644][Device Selection Flow] Use the new device selection flow for every device
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/index.tsx
  apps/ledger-live-mobile/.env.mock
  apps/ledger-live-mobile/e2e/bridge/client.ts
  apps/ledger-live-mobile/e2e/bridge/server.ts
  apps/ledger-live-mobile/e2e/models/onboarding/onboardingSteps.ts
  apps/ledger-live-mobile/e2e/specs/deeplinks.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboarding.spec.ts
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicesScanning.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/SelectDevice/BluetoothEmpty.tsx
  apps/ledger-live-mobile/src/components/SelectDevice/USBEmpty.android.tsx
  apps/ledger-live-mobile/src/components/SelectDevice/USBEmpty.ios.tsx
  apps/ledger-live-mobile/src/components/SelectDevice/USBEmpty.tsx
  apps/ledger-live-mobile/src/components/SelectDevice/index.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/react-native-hw-transport-ble/makeMock.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/02-SelectDevice.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step3Transfer.tsx
  apps/ledger-live-mobile/src/screens/DeviceConnect/index.tsx
  apps/ledger-live-mobile/src/screens/Manager/AppsScreen.tsx
  apps/ledger-live-mobile/src/screens/Manager/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/pairNew.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/ConnectNano.tsx
  apps/ledger-live-mobile/src/screens/Platform/exchange/StartExchange.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccountSelectDevice.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03a-ConnectDevice.tsx
  apps/ledger-live-mobile/src/screens/SelectDevice.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/FetchCustomImage.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/InstallSetOfApps.tsx
  apps/ledger-live-mobile/src/screens/Settings/Help/ConfigureDeviceRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Help/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Connect.tsx
  apps/ledger-live-mobile/src/screens/VerifyAccount/index.tsx
  libs/ledger-live-common/src/apps/filtering.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/featureFlags/groupedFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs, live-devices

#6482 [LIVE-11852] Support/evm sync height
  .changeset/wild-lemons-destroy.md
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts-snapshots/live-app-verify-address-linux.png
  libs/coin-modules/coin-evm/src/__tests__/unit/synchronization.unit.test.ts
  libs/coin-modules/coin-evm/src/synchronization.ts
Labels: desktop, screenshots, fork

#6505 Support: Screenshot Updates
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts-snapshots/live-app-verify-address-linux.png
Labels: desktop, screenshots

#6395 Support/fix bot nonreg
  .github/workflows/bot-testing-nitrogen.yml
  libs/ledger-live-common/src/load/speculos.ts
  tools/actions/composites/bot/action.yml
Labels: common, tools, automation

#6476 Remove llmWalletQuickActions FF
  .changeset/chilled-radios-drive.md
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioAssets.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#6507 [PR Template] Improve Checklist usability
  .github/pull_request_template.md
Labels: automation

#6475 [Exchange] send debug provider info
  .changeset/chatty-walls-prove.md
  apps/cli/src/commands/ptx/swap.ts
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/LiveAppDrawer.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/BodyContent.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/ExchangeDrawer/SwapAction.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/ExchangeDrawer/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/ExchangeDeveloperMode.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/PlatformExchangeNavigator.ts
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/Confirmation.tsx
  libs/ledger-live-common/src/exchange/platform/types.ts
  libs/ledger-live-common/src/exchange/providers/index.ts
  libs/ledger-live-common/src/exchange/swap/addToSwapHistory.ts
  libs/ledger-live-common/src/exchange/swap/getUpdateAccountWithUpdaterParams.ts
  libs/ledger-live-common/src/exchange/swap/mock.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
  libs/ledger-live-common/src/exchange/types.ts
  libs/ledger-live-common/src/hw/actions/completeExchange.ts
  libs/ledger-live-common/src/hw/actions/initSwap.ts
  libs/ledger-live-common/src/hw/actions/startExchange.ts
  libs/ledger-live-common/src/platform/logic.ts
  libs/ledger-live-common/src/wallet-api/Exchange/server.ts
  libs/ledger-live-common/src/wallet-api/logic.ts
Labels: desktop, mobile, common, cli

#6502 [LIVE-11846] Bugfix: Update Linea testnet explorer URI
  .changeset/small-pens-clap.md
  libs/ledger-live-common/src/families/evm/config.ts
Labels: common

#6516 docs: remove broken link in LLM README
  apps/ledger-live-mobile/README.md
Labels: mobile, fork

#6509 Cleanup references to protectServicesDiscoverDesktop Feature Flag
  .changeset/violet-cycles-press.md
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#6514 fix: fix swap in prod to support decodePayloadProtobuf
  .changeset/quick-peas-cross.md
  apps/ledger-live-desktop/protocol.proto
  apps/ledger-live-mobile/protocol.proto
  libs/ledgerjs/packages/hw-app-exchange/.unimportedrc.json
  libs/ledgerjs/packages/hw-app-exchange/package.json
  libs/ledgerjs/packages/hw-app-exchange/src/SwapUtils.test.ts
  libs/ledgerjs/packages/hw-app-exchange/src/SwapUtils.ts
  libs/ledgerjs/packages/hw-app-exchange/src/generate-protocol.json
  pnpm-lock.yaml
Labels: desktop, mobile, ledgerjs

#6401 [LLM] Promise.allSettled polyfill
  .changeset/heavy-snails-taste.md
  apps/ledger-live-mobile/src/polyfill.ts
Labels: mobile

#6495 LLD - Help buttons redirect to chatbot instead of faq
  .changeset/bright-pans-punch.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/modals/Help/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Help/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs, translations

#6498 LLM - Updated Large Movers description
  .changeset/large-socks-shave.md
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#6394 Bugfix/live 9301 infinite loader
  .changeset/silly-ads-work.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/useUpdateFirmwareAndRestoreSettings.ts
  libs/ledger-live-common/src/deviceSDK/actions/getLatestAvailableFirmware.test.ts
  libs/ledger-live-common/src/deviceSDK/tasks/core.ts
  libs/ledger-live-common/src/hw/actions/implementations.ts
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.ts
  libs/ledgerjs/packages/errors/src/index.ts
  libs/ledgerjs/packages/hw-transport/src/Transport.ts
Labels: desktop, mobile, common, ledgerjs, translations

#6510 bugfix/LIVE 11608 llm swap wrong behaviour with the drawer
  .changeset/chilly-hornets-smoke.md
  .changeset/good-pillows-kiss.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.tsx
  apps/ledger-live-mobile/src/reducers/swap.ts
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
  libs/ledger-live-common/src/exchange/swap/const/timeout.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useSwapTransaction.ts
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useProviderRates.ts
Labels: desktop, mobile, common

#6546 chore(bot): bump deps
  pnpm-lock.yaml
  tools/github-bot/package.json
Labels: tools

#6551 chore(bot): fix github-bot
  pnpm-lock.yaml
  tools/github-bot/api/github/webhooks/index.ts
  tools/github-bot/package.json
  tools/github-bot/src/commands/full-suite.ts
  tools/github-bot/src/features/lintCommits/index.ts
  tools/github-bot/src/features/orchestrator/index.ts
  tools/github-bot/src/features/orchestrator/tools.ts
  tools/github-bot/src/tools/monitorWorkflow.ts
  tools/github-bot/tsconfig.json
Labels: tools

#6532 fix: support base64 and fix prod llm decodePayloadProtobuf
  .changeset/mean-garlics-happen.md
  libs/ledgerjs/packages/hw-app-exchange/src/SwapUtils.test.ts
  libs/ledgerjs/packages/hw-app-exchange/src/SwapUtils.ts
Labels: ledgerjs

#6529 Playwright test dummy live app modal screenshots
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts-snapshots/live-app-verify-address-linux.png
Labels: desktop, screenshots

#6527 [LIVE-11886][LLM] Custom lock screen preview crashing with some pictures
  .changeset/quick-socks-run.md
  CODEOWNERS
  apps/ledger-live-mobile/src/components/CustomImage/useCenteredImage/getCenteredCropParams.test.ts
  apps/ledger-live-mobile/src/components/CustomImage/useCenteredImage/getCenteredCropParams.ts
  apps/ledger-live-mobile/src/components/CustomImage/useCenteredImage/getRescaledDimensions.test.ts
  apps/ledger-live-mobile/src/components/CustomImage/useCenteredImage/getRescaledDimensions.ts
  apps/ledger-live-mobile/src/components/CustomImage/useCenteredImage/index.ts
Labels: mobile

#6533 feat(llm):ui stacked card
  .changeset/fifty-emus-itch.md
  apps/ledger-live-mobile/src/contentCards/cards/horizontal/index.tsx
  apps/ledger-live-mobile/src/contentCards/cards/types.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/grid/index.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/grid/utils.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/dynamicContent/utils.tsx
Labels: mobile

#6526 fix(llm): fix carousel pagination for content cards
  .changeset/fifty-emus-itch.md
  .changeset/strong-moose-report.md
  apps/ledger-live-mobile/src/contentCards/cards/horizontal/index.tsx
  apps/ledger-live-mobile/src/contentCards/cards/types.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/index.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/pagination/index.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/grid/index.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/grid/utils.tsx
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsCategory/Layout.tsx
  apps/ledger-live-mobile/src/dynamicContent/types.ts
  apps/ledger-live-mobile/src/dynamicContent/utils.tsx
Labels: mobile

#6421 LIVE-11476: remote config for app minversion
  .changeset/real-chairs-play.md
  libs/ledger-live-common/src/apps/config.ts
  libs/ledger-live-common/src/apps/support.test.ts
  libs/ledger-live-common/src/apps/support.ts
  libs/ledger-live-common/src/config/sharedConfig.ts
  libs/ledger-live-common/src/hw/isUpdateAvailable.test.ts
Labels: common

#6519 bugfix/LIVE 11781 swap moonpay link in transaction details drawer is not working
  .changeset/brown-moles-doubt.md
  apps/ledger-live-desktop/src/renderer/drawers/SwapOperationDetails/index.tsx
Labels: desktop

#6496 LLM - Help buttons redirect to chatbot instead of faq
  .changeset/slimy-students-jam.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Settings/Help/LedgerSupportRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Resources.tsx
  apps/ledger-live-mobile/src/utils/urls.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs, translations

#6558 fix: nanoapp minVersion check
  .changeset/silent-windows-train.md
  libs/ledger-live-common/src/apps/support.ts
Labels: common

#6430 [Support/Stacks] Send many operations included in operation history
  .changeset/nice-dolphins-mate.md
  libs/ledger-live-common/src/families/stacks/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/stacks/__tests__/sync.integration.test.ts
  libs/ledger-live-common/src/families/stacks/bridge.integration.test.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/api.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/api.types.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/misc.ts
  libs/ledger-live-common/src/families/stacks/bridge/utils/misc.unit.test.ts
Labels: common, fork

#6545 Bugfix/live 11778 2
  .changeset/sixty-apricots-cheat.md
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
Labels: common

#6553 Fix: LIVE-11879 LiveConfig for bot
  .changeset/grumpy-cars-rescue.md
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/__tests__/test-helpers/setup.ts
Labels: common

#6497 chore(deps): Bump stellar-sdk from 10.4.1 to 11.3.0.
  .changeset/stupid-steaks-sip.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/stellar/api/horizon.ts
  libs/ledger-live-common/src/families/stellar/bridge.integration.test.ts
  libs/ledger-live-common/src/families/stellar/js-buildTransaction.ts
  libs/ledger-live-common/src/families/stellar/js-signOperation.ts
  libs/ledger-live-common/src/families/stellar/logic.ts
  libs/ledger-live-common/src/families/stellar/types.ts
  libs/ledgerjs/packages/hw-app-str/README.md
  pnpm-lock.yaml
Labels: common, ledgerjs, fork

#6568 chore(bot): fix commands
  .github/workflows/generate-screenshots.yml
  tools/github-bot/src/commands/tools.ts
Labels: tools, automation

#6572 Fix cleanup hw-transport-node-ble
  libs/ledgerjs/packages/hw-transport-node-ble/CHANGELOG.md
  libs/ledgerjs/packages/hw-transport-node-ble/package.json
Labels: ledgerjs

#6573 Launhscreen position with zoom enabled on iOS
  .changeset/thin-ants-leave.md
  apps/ledger-live-mobile/ios/LaunchScreen.storyboard
Labels: mobile

#6557 [LIVE-11839][Detox] Fix tests with the new device selection flow
  apps/ledger-live-mobile/e2e/models/manager/managerPage.ts
  apps/ledger-live-mobile/e2e/models/onboarding/onboardingSteps.ts
  apps/ledger-live-mobile/e2e/specs/deeplinks.spec.ts
  apps/ledger-live-mobile/e2e/specs/onboarding.spec.ts
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
Labels: mobile

#6559 [LLD] Wrong layout and text alignment for Stax OS update
  .changeset/rotten-students-breathe.md
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/Disclaimer.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/index.tsx
Labels: desktop, live-devices

#6574 bugfix: send swap error to live apps
  .changeset/violet-buttons-glow.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
Labels: desktop

#6524 chore: sunset unused ChildAccount type
  apps/cli/src/commands/ptx/swap.ts
  apps/ledger-live-desktop/src/renderer/actions/swap.ts
  apps/ledger-live-desktop/src/renderer/components/SelectAccount.tsx
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-desktop/src/renderer/families/tezos/Delegation/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/TargetAccountDrawer/index.tsx
  apps/ledger-live-mobile/src/actions/swap.ts
  apps/ledger-live-mobile/src/reducers/accounts.ts
  apps/ledger-live-mobile/src/screens/Accounts/AccountRow.tsx
  libs/coin-framework/src/account/helpers.test.ts
  libs/coin-framework/src/account/helpers.ts
  libs/coin-framework/src/account/ordering.ts
  libs/coin-framework/src/serialization/account.ts
  libs/ledger-live-common/src/account/helpers.ts
  libs/ledger-live-common/src/csvExport.ts
  libs/ledger-live-common/src/families/solana/bridge/bridge.ts
  libs/ledger-live-common/src/families/tezos/cli-transaction.ts
  libs/ledger-live-common/src/families/tezos/deviceTransactionConfig.ts
  libs/ledger-live-common/src/platform/converters.ts
  libs/ledger-live-common/src/wallet-api/converters.ts
  libs/ledgerjs/packages/types-live/README.md
  libs/ledgerjs/packages/types-live/src/account.ts
Labels: desktop, mobile, common, ledgerjs, cli

#6554 fix: do not throw UserRefusedOnDevice disabled_transaction_boradcast
  .changeset/itchy-rivers-flow.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  libs/ledgerjs/packages/errors/src/index.ts
  tools/actions/build-checks/build/main.js
  tools/actions/desktop-report-build/build/main.js
  tools/actions/get-workflow-artifacts-id/build/main.js
  tools/actions/turbo-affected/build/main.js
Labels: desktop, ledgerjs, tools

#6582 fix: pnpm lockfile
  pnpm-lock.yaml
Labels: live-devices

#6581 Bugfix/live 11778 2
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
Labels: common
