Repository LedgerHQ/ledger-live, pull requests merged in 2024-09, with the labels that each got.

#7702 feat(web3hub): new bottom modal to select network and account with dapp browser v3 [LIVE-13195]
  .changeset/hip-plants-impress.md
  .changeset/mighty-mangos-begin.md
  .changeset/tidy-trains-double.md
  .changeset/young-birds-taste.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/helpers.ts
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/TopBar.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/AddAccountsNavigator.ts
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/SelectAccountButton.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestRow/CurrencyIconList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestRow/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/ManifestItem/Label/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/ManifestItem/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/ManifestsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Header/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/BottomBar.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/SelectAccountButton.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/SelectAccountModal/AccountHeader/BackButton/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/SelectAccountModal/AccountHeader/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/SelectAccountModal/AccountsList/AddAccountItem/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/SelectAccountModal/AccountsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/SelectAccountModal/NetworkHeader/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/SelectAccountModal/NetworkItem/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/SelectAccountModal/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/SelectAccountModal/useSelectAccountModalViewModel.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/useWeb3HubAppViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubMain/components/HorizontalList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubMain/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/components/SearchList/SearchItem/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/components/SearchList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/index.tsx
  apps/ledger-live-mobile/src/reducers/accounts.ts
  apps/ledger-live-mobile/src/screens/RequestAccount/02-SelectAccount.tsx
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/wallet-api/helpers.ts
  libs/ledger-live-common/src/wallet-api/react.ts
  libs/ledger-live-common/src/wallet-api/useDappLogic.ts
  libs/ui/packages/native/src/components/Layout/Modals/BottomDrawer/index.tsx
  pnpm-lock.yaml
Labels: desktop, mobile, common, ui, translations

#7712 [FEAT]: User scans instance with same backup or different backup
  .changeset/giant-beans-wait.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useQRCode.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/StepFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/useAddAccountViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/ActivationFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Error/Detailed.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Error/Simple.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Error/SpecificError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/ManageInstances/DeletionError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useLedgerSyncAnalytics.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useQRCodeHost.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSpecificError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSyncWithQrCode.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/useActivationDrawerModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/FollowInstructions/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageInstances/ManageInstancesDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/UnbackedError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/types/Activation.ts
  apps/web-tools/trustchain/components/AppQRCodeCandidate.tsx
  apps/web-tools/trustchain/components/AppQRCodeHost.tsx
  libs/trustchain/src/qrcode/index.test.ts
  libs/trustchain/src/qrcode/index.ts
Labels: desktop, mobile, translations

#7714 feat(llm/lld): ledger sync - improve account names module
  .changeset/gentle-lions-appear.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useGetMembers.ts
  apps/ledger-live-desktop/src/renderer/actions/accounts.ts
  apps/ledger-live-mobile/src/actions/accounts.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useGetMembers.ts
  libs/live-wallet/src/store.test.ts
  libs/live-wallet/src/store.ts
Labels: desktop, mobile

#7720 [FEAT]: Rework LedgerSync Analytics
  .changeset/eighty-bikes-press.md
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/SelectAddAccountMethod/useSelectAddAccountMethodViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Error/Simple.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/ManageInstances/ListInstances.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/ManageKey/ManageKey.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Success/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useLedgerSyncAnalytics.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSpecificError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationSuccess.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageInstances/DeletionSuccess.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageInstances/ManageInstancesDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageInstances/useManageInstanceDrawer.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/DeletionSuccess.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/ManageKeyDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/useManageKeyDrawer.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/QrCodeMethod.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/SyncError.tsx
Labels: mobile

#7717 [FIX]: Minors bugs on LedgerSync
  .changeset/lucky-pandas-exist.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/components/Error.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/manageInstances.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/type.hooks.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useRestoreTrustchain.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/walletSync.hooks.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageInstances/useManageInstanceDrawer.ts
  libs/trustchain/mocks/scenarios/addSameMemberMultipleTimes.json
  libs/trustchain/mocks/scenarios/create2trustchainInARow.json
  libs/trustchain/mocks/scenarios/getOrCreateTransactionCases.json
  libs/trustchain/mocks/scenarios/member3implicitlyAdded.json
  libs/trustchain/mocks/scenarios/membersManySelfAdd.json
  libs/trustchain/mocks/scenarios/randomMemberTryToDestroy.json
  libs/trustchain/mocks/scenarios/removeMemberWithTheWrongSeed.json
  libs/trustchain/mocks/scenarios/removedMemberEjectedOnDeletedTrustchain.json
  libs/trustchain/mocks/scenarios/removedMemberEjectedOnGetMembers.json
  libs/trustchain/mocks/scenarios/removedMemberEjectedOnRestore.json
  libs/trustchain/mocks/scenarios/removingAMemberCreatesAnInteraction.json
  libs/trustchain/mocks/scenarios/removingYourselfIsForbidden.json
  libs/trustchain/mocks/scenarios/success.json
  libs/trustchain/mocks/scenarios/tokenExpires.json
  libs/trustchain/mocks/scenarios/twoAddMembersFollowedByDeviceAdd.json
  libs/trustchain/mocks/scenarios/userRefusesAuth.json
  libs/trustchain/mocks/scenarios/userRefusesRemoveMember.json
  libs/trustchain/src/mockSdk.ts
  libs/trustchain/src/sdk.ts
  libs/trustchain/tests/scenarios/removingAMemberCreatesAnInteraction.ts
  libs/trustchain/tests/scenarios/userRefusesRemoveMember.ts
Labels: desktop, mobile

#7470 Fix: replace sidecar with node
  .changeset/lemon-jeans-tie.md
  libs/coin-modules/coin-polkadot/src/api/index.integ.test.ts
  libs/coin-modules/coin-polkadot/src/network/node/identities.ts
  libs/coin-modules/coin-polkadot/src/network/node/node.integ.test.ts
  libs/coin-modules/coin-polkadot/src/network/node/node.unit.test.ts
  libs/coin-modules/coin-polkadot/src/network/node/nominations.ts
  libs/coin-modules/coin-polkadot/src/network/node/validators.ts
  libs/coin-modules/coin-polkadot/src/network/sidecar.integ.test.ts
  libs/coin-modules/coin-polkadot/src/network/sidecar.ts
  libs/coin-modules/coin-polkadot/src/network/types.ts
Labels: Stale

#7593 [LIVE-13715] Support - Update `axios` everywhere
  .changeset/cuddly-tomatoes-jam.md
  .changeset/eleven-taxis-dance.md
  .changeset/pink-wolves-own.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.react.test.tsx
  libs/coin-framework/.unimportedrc.json
  libs/coin-modules/coin-bitcoin/package.json
  libs/coin-modules/coin-evm/package.json
  libs/coin-modules/coin-tezos/src/network/bakers.test.ts
  libs/coin-tester/package.json
  libs/domain-service/package.json
  libs/evm-tools/package.json
  libs/ledger-live-common/package.json
  libs/ledgerjs/package.json
  libs/ledgerjs/packages/context-module/package.json
  libs/ledgerjs/packages/cryptoassets/package.json
  libs/ledgerjs/packages/hw-app-btc/package.json
  libs/ledgerjs/packages/hw-app-eth/package.json
  libs/ledgerjs/packages/hw-app-helium/package.json
  libs/ledgerjs/packages/hw-app-solana/package.json
  libs/ledgerjs/packages/hw-transport-http/package.json
  libs/ledgerjs/packages/hw-transport-node-speculos-http/package.json
  libs/live-network/package.json
  libs/live-network/src/network.test.ts
  libs/live-network/src/network.ts
  libs/trustchain/mocks/scenarios/addSameMemberMultipleTimes.json
  libs/trustchain/mocks/scenarios/create2trustchainInARow.json
  libs/trustchain/mocks/scenarios/getOrCreateTransactionCases.json
  libs/trustchain/mocks/scenarios/member3implicitlyAdded.json
  libs/trustchain/mocks/scenarios/membersManySelfAdd.json
  libs/trustchain/mocks/scenarios/randomMemberTryToDestroy.json
  libs/trustchain/mocks/scenarios/removeMemberWithTheWrongSeed.json
  libs/trustchain/mocks/scenarios/removedMemberEjectedOnDeletedTrustchain.json
  libs/trustchain/mocks/scenarios/removedMemberEjectedOnGetMembers.json
  libs/trustchain/mocks/scenarios/removedMemberEjectedOnRestore.json
  libs/trustchain/mocks/scenarios/removingAMemberCreatesAnInteraction.json
  libs/trustchain/mocks/scenarios/removingYourselfIsForbidden.json
  libs/trustchain/mocks/scenarios/success.json
  libs/trustchain/mocks/scenarios/tokenExpires.json
  libs/trustchain/mocks/scenarios/twoAddMembersFollowedByDeviceAdd.json
  libs/trustchain/mocks/scenarios/userRefusesAuth.json
  libs/trustchain/mocks/scenarios/userRefusesRemoveMember.json
  pnpm-lock.yaml
Labels: desktop, common, ledgerjs

#7609 CN-197: add param partnerTestBaseUrl to be passed to buy-sell app
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.tsx
  apps/ledger-live-mobile/src/screens/PTX/BuyAndSell/index.tsx
  libs/ledger-live-common/src/platform/types.ts
Labels: desktop, mobile, common

#7666 Setup analytics for Web3Hub
  .changeset/pink-walls-tickle.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubMain/components/ManifestsCategoryList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubMain/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubSearch/index.tsx
Labels: mobile, translations

#7731 :bug:fix(lld) : opt-in prompt and export account tx row setting
  .changeset/polite-donuts-peel.md
  apps/ledger-live-desktop/src/newArch/features/AnalyticsOptInPrompt/hooks/useCommonLogic.tsx
  apps/ledger-live-desktop/src/newArch/features/AnalyticsOptInPrompt/hooks/useDisplayOnPortfolio.tsx
  apps/ledger-live-desktop/src/newArch/features/AnalyticsOptInPrompt/screens/VariantA/Main/index.tsx
  apps/ledger-live-desktop/src/newArch/features/AnalyticsOptInPrompt/screens/VariantB/Analytics/index.tsx
  apps/ledger-live-desktop/src/newArch/features/AnalyticsOptInPrompt/screens/VariantB/PersonalRecommendations/index.tsx
  apps/ledger-live-desktop/src/newArch/features/AnalyticsOptInPrompt/screens/VariantB/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/Export.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/index.tsx
Labels: desktop

#7725 [FIX]: Remove Trustchain from error and handle it in generic way
  .changeset/empty-pumas-argue.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#7729 Feat/llm ledger sync redirection on sync again
  .changeset/strange-shrimps-clean.md
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/actions/walletSync.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/StepFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/useAddAccountViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/synchronizeWithQrCode.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/ActivationFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useCurrentStep.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useQRCodeHost.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSyncWithQrCode.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationSuccess.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/useActivationDrawerModel.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/reducers/walletSync.ts
  apps/ledger-live-mobile/src/screens/Settings/General/WalletSyncRow.tsx
Labels: mobile

#7736 [FIX]: Animation color on FollowSteps
  .changeset/sixty-eagles-watch.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/DeviceActions/FollowStepsOnDevice.tsx
Labels: desktop

#7737 LLD - Ledger Sync Analytics Improvements
  .changeset/forty-geese-hug.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/components/GenericStatusDisplay.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useLedgerSyncAnalytics.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/01-CreateOrSynchronizeStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/04-LoadingStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageBackup/03-FinalStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/05-UnbackedError.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/07-ActivationAlreadyCreatedOther.tsx
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/ManageKey/ManageKey.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Success/index.tsx
Labels: desktop, mobile

#7734 :sparkles:feat(lld/ui): add sat icons to lib
  .changeset/odd-ants-dress.md
  apps/ledger-live-desktop/.unimportedrc.json
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Icons.tsx
  libs/ui/packages/icons/scripts/build.js
  libs/ui/packages/icons/src/svg/ordinals-alpha.svg
  libs/ui/packages/icons/src/svg/ordinals-black-epic.svg
  libs/ui/packages/icons/src/svg/ordinals-black-legendary.svg
  libs/ui/packages/icons/src/svg/ordinals-black-mythic.svg
  libs/ui/packages/icons/src/svg/ordinals-black-rare.svg
  libs/ui/packages/icons/src/svg/ordinals-black-uncommon.svg
  libs/ui/packages/icons/src/svg/ordinals-block286.svg
  libs/ui/packages/icons/src/svg/ordinals-block666.svg
  libs/ui/packages/icons/src/svg/ordinals-block78.svg
  libs/ui/packages/icons/src/svg/ordinals-block9-450x.svg
  libs/ui/packages/icons/src/svg/ordinals-block9.svg
  libs/ui/packages/icons/src/svg/ordinals-common.svg
  libs/ui/packages/icons/src/svg/ordinals-epic.svg
  libs/ui/packages/icons/src/svg/ordinals-first-tx.svg
  libs/ui/packages/icons/src/svg/ordinals-hitman.svg
  libs/ui/packages/icons/src/svg/ordinals-jpeg.svg
  libs/ui/packages/icons/src/svg/ordinals-legacy.svg
  libs/ui/packages/icons/src/svg/ordinals-legendary.svg
  libs/ui/packages/icons/src/svg/ordinals-mythic.svg
  libs/ui/packages/icons/src/svg/ordinals-nakamoto.svg
  libs/ui/packages/icons/src/svg/ordinals-omega.svg
  libs/ui/packages/icons/src/svg/ordinals-paliblock-palindrome.svg
  libs/ui/packages/icons/src/svg/ordinals-palinception.svg
  libs/ui/packages/icons/src/svg/ordinals-palindrome.svg
  libs/ui/packages/icons/src/svg/ordinals-pizza.svg
  libs/ui/packages/icons/src/svg/ordinals-rare.svg
  libs/ui/packages/icons/src/svg/ordinals-uncommon.svg
  libs/ui/packages/icons/src/svg/ordinals-vintage.svg
Labels: desktop, ui

#7733 🛹 [FIX]: Handle Ledgersync onboarding errors
  .changeset/forty-rules-give.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/ActivationFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useAddMember.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useFollowInstructionDrawer.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useLedgerSyncAnalytics.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useRemoveMember.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSpecificError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/FollowInstructions/index.tsx
  libs/trustchain/src/HWDeviceProvider.ts
  libs/trustchain/src/mockSdk.ts
  libs/trustchain/src/sdk.ts
  libs/trustchain/src/types.ts
Labels: mobile, translations

#7746 [FIX]: Update Copy and fix color on Analytics Opt-in
  .changeset/soft-dolls-sparkle.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantA/Main.tsx
Labels: mobile, translations

#7748 🩹 [FIX]: Extra device action at the end of the remove member flow on LLM
  .changeset/polite-masks-warn.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useFollowInstructionDrawer.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useRemoveMember.ts
Labels: mobile

#7749 [FIX]: Storybook + Centering text in Button
  .changeset/eight-moons-search.md
  libs/ui/packages/native/package.json
  libs/ui/packages/native/src/components/cta/Button/index.tsx
  pnpm-lock.yaml
Labels: ui

#7742 fix: issue with BTC fee drawer when close/open and using custom
  .changeset/wet-kids-call.md
  apps/ledger-live-desktop/src/renderer/families/bitcoin/SendAmountFields.tsx
  libs/coin-modules/coin-bitcoin/src/prepareTransaction.ts
Labels: desktop

#7710 [LIVE-13624] Feature - MATIC to POL migration
  .changeset/empty-experts-sing.md
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/Currency.ts
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-darwin.json
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-linux.json
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
  apps/ledger-live-mobile/android/dapp-store/config.yaml
  apps/ledger-live-mobile/e2e/specs/receive/receiveFlow.spec.ts
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/coin-modules/coin-evm/src/__tests__/coin-tester/scenarios/polygon.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/editTransaction/__snapshots__/getFormattedFeeFields.test.ts.snap
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/live-countervalues/src/mock.ts
  libs/ui/packages/crypto-icons/src/svg/POL.svg
Labels: desktop, mobile, common, ui, ledgerjs

#7752 feat: passthrough selected currency for demo3 if exists
  .changeset/mighty-yaks-yawn.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
Labels: desktop

#7754 [FIX]: Fix navigation on Drawer when AlreadySecuredOtherSeed error
  .changeset/gorgeous-ways-exercise.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useFollowInstructionDrawer.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/FollowInstructions/index.tsx
Labels: mobile

#7753 fix(llm): ledger sync navigation fixes
  .changeset/tough-ads-dance.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/WalletSyncNavigator.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useClose.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useDestroyTrustchain.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationSuccess.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/DeviceSelection/index.tsx
Labels: mobile

#7751 feat(LLM): pass some additional params to wallet-connect live-app when receiving a request [LIVE-13660]
  .changeset/quick-berries-type.md
  apps/ledger-live-mobile/src/components/RootNavigator/WalletConnectLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/WalletConnectLiveAppNavigator.ts
Labels: mobile

#7758 [FIX]: Analytics LedgerSync
  .changeset/witty-feet-dream.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/SelectAddAccountMethod/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/SelectAddAccountMethod/useSelectAddAccountMethodViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/WalletSyncNavigator.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/Actions.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useLedgerSyncAnalytics.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSpecificError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/QrCodeMethod.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/accessExistingWallet.tsx
Labels: mobile

#7757 feat(live-13868): error messages for transaction and fees drawers
  .changeset/fresh-cows-float.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7761 Fix: ton token importer
  .changeset/chatty-gorillas-sing.md
  libs/coin-modules/coin-ton/src/__tests__/fixtures/common.fixtures.ts
  libs/coin-modules/coin-ton/src/__tests__/integration/bridge.integration.test.ts
  libs/coin-modules/coin-ton/src/__tests__/unit/txn.unit.test.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/families/ton/__snapshots__/bridge.integration.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/__snapshots__/currencies.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/ton/index.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/ton/ton-jetton.test.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/jetton.json
  libs/ledgerjs/packages/cryptoassets/src/data/jetton.ts
  libs/ledgerjs/packages/cryptoassets/src/data/ton-jetton-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/ton-jetton.json
  libs/ledgerjs/packages/cryptoassets/src/data/ton-jetton.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
Labels: common, ledgerjs

#7728 bugfix(casper): adjust address from public key
  .changeset/cool-chairs-suffer.md
  libs/ledger-live-common/src/families/casper/bridge/bridgeHelpers/addresses.ts
  libs/ledger-live-common/src/families/casper/utils.unit.test.ts
Labels: common, fork

#7763 feat: use account id instead of currency id
  .changeset/afraid-stingrays-hunt.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
Labels: desktop

#7767 fix: moved prepareTransaction before getting status
  .changeset/sharp-garlics-cover.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawerLiveApp/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#7764 fix: fallback screen settings button icon rendering with the right color
  .changeset/tasty-pandas-behave.md
  apps/ledger-live-mobile/src/components/RequiresCameraPermissions/Fallback.tsx
Labels: mobile

#7741 fix: bnb custom fee staying as type2 after prepare
  .changeset/rotten-cooks-juggle.md
  libs/coin-modules/coin-evm/src/__tests__/unit/prepareTransaction.unit.test.ts
  libs/coin-modules/coin-evm/src/prepareTransaction.ts
  libs/ledger-live-common/src/exchange/swap/webApp/utils.ts
Labels: common

#7533 LIVE-13617 add staderlabs token icons as svgs
  .changeset/silver-wombats-film.md
  libs/ui/packages/crypto-icons/src/svg/BNBX.svg
  libs/ui/packages/crypto-icons/src/svg/ETHX.svg
  libs/ui/packages/crypto-icons/src/svg/MATICX.svg
  libs/ui/packages/crypto-icons/src/svg/SD.svg
Labels: ui, Stale

#7723 feat: dynamic CAL fetch using API calls
  .changeset/tidy-insects-remember.md
  libs/ledger-live-common/src/exchange/index.ts
  libs/ledger-live-common/src/exchange/platform/transfer/completeExchange.ts
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
Labels: common

#7770 angle logos
  .changeset/breezy-phones-talk.md
  libs/ui/packages/crypto-icons/src/svg/ANGLE.svg
  libs/ui/packages/crypto-icons/src/svg/EURA.svg
  libs/ui/packages/crypto-icons/src/svg/STEUR.svg
  libs/ui/packages/crypto-icons/src/svg/STUSD.svg
  libs/ui/packages/crypto-icons/src/svg/USDA.svg
Labels: ui

#7766 fix(LIVE-13955): put back params forgotten to live app
  .changeset/khaki-deers-kick.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
Labels: desktop

#7776 fix: remove errors in drawer
  .changeset/happy-onions-know.md
  apps/ledger-live-desktop/src/renderer/families/bitcoin/SendAmountFields.tsx
Labels: desktop

#7775 [LIVE-13893] Bugfix- Fix `destructTypeFromString` not splitting types correctly
  .changeset/tame-years-perform.md
  libs/ledgerjs/packages/hw-app-eth/src/modules/EIP712/index.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/EIP712/utils.ts
  libs/ledgerjs/packages/hw-app-eth/tests/EIP712/utils.unit.test.ts
Labels: ledgerjs

#7744 :sparkles: (llm|lld): delete local app data on uninstall and uninstallAll
  .changeset/green-years-vanish.md
  .changeset/light-camels-grow.md
  apps/cli/src/commands/device/appUninstallAll.ts
  apps/cli/src/commands/device/appsCheckAllAppVersions.ts
  apps/cli/src/commands/device/appsInstallAll.ts
  apps/cli/src/commands/device/appsUpdateTestAll.ts
  apps/cli/src/commands/device/devDeviceAppsScenario.ts
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/01-step-prepare.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/Dashboard.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/index.tsx
  apps/ledger-live-mobile/src/screens/FirmwareUpdate/useUpdateFirmwareAndRestoreSettings.ts
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/shared.ts
  libs/ledger-live-common/src/apps/inlineAppInstall.ts
  libs/ledger-live-common/src/apps/logic.ts
  libs/ledger-live-common/src/apps/runner.ts
  libs/ledger-live-common/src/apps/types.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/restoreAppData.test.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/restoreAppData.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/restoreAppDataUseCase.test.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/restoreAppDataUseCase.ts
  libs/ledger-live-common/src/device/use-cases/appDataBackup/restoreAppDataUseCaseDI.ts
  libs/ledger-live-common/src/device/use-cases/execWithTransport.ts
  libs/ledger-live-common/src/device/use-cases/listAppsUseCase.ts
  libs/ledger-live-common/src/hw/installAppWithRestore.ts
  libs/ledger-live-common/src/hw/uninstallAppWithBackup.ts
Labels: desktop, mobile, common, cli

#7756 :sparkles:feat(lld): UI of rare sats table
  .changeset/friendly-rings-laugh.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Icons.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/RareSats/.gitkeep
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/RareSats/Item.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/RareSats/RowLayout.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/RareSats/TableHeader.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/RareSats/helpers.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/RareSats/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/RareSats/useRareSatsModel.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/screens/Account/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/mockedRareSats.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/Collection/TableRow/IconContainer.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/Collection/TableRow/TokenTitle.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/Collection/TableRow/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/Collection.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/Ordinals.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/RareSats.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7779 [LIVE-13976] Bugfix - Allow missing coinRef with EIP-712 filters V2
  .changeset/tricky-pans-obey.md
  libs/ledgerjs/packages/hw-app-eth/src/modules/EIP712/utils.ts
  libs/ledgerjs/packages/hw-app-eth/tests/EIP712/utils.unit.test.ts
Labels: ledgerjs

#7772 fix: fix back button lld card
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/TopBar.tsx
  apps/ledger-live-desktop/src/renderer/screens/card/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7771 :sparkles: (device-core): add new reinstallConfiguration consent use case
  .changeset/strong-steaks-rule.md
  .changeset/twelve-owls-accept.md
  .changeset/wet-clocks-nail.md
  apps/cli/package.json
  apps/cli/src/commands-index.ts
  apps/cli/src/commands/device/reinstallConfigurationConsent.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/device-core/src/commands/entities/ReinstallConfigEntity.ts
  libs/device-core/src/commands/use-cases/consent/reinstallConfigurationConsent.test.ts
  libs/device-core/src/commands/use-cases/consent/reinstallConfigurationConsent.ts
  libs/device-core/src/index.ts
  libs/ledgerjs/packages/errors/src/index.ts
  pnpm-lock.yaml
Labels: desktop, mobile, ledgerjs, translations, cli

#7778 fix: 🔁 device selection after aborted flow
  .changeset/lemon-starfishes-do.md
  apps/ledger-live-mobile/src/components/DeviceActionModal.tsx
  apps/ledger-live-mobile/src/hooks/deviceActions.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/DeviceSelection/index.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/02-SelectDevice.tsx
Labels: mobile

#7785 LLD - Deactivate css animation for screenshots on device selection
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts
Labels: desktop

#7793 hotfix: swap button fix
  .changeset/eighty-pears-run.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/TransactionBroadcastedContent.tsx
Labels: desktop

#7794 Merge pull request #7793 from LedgerHQ/hotfix/swap-button
  .changeset/eighty-pears-run.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/TransactionBroadcastedContent.tsx
Labels: desktop

#7797 chore: 🔧 Update Electron to v32
  .changeset/orange-tomatoes-yell.md
  apps/ledger-live-desktop/package.json
  pnpm-lock.yaml
Labels: desktop

#7805 Updated wordings shown on Nano to fix LedgerSync test
  apps/ledger-live-desktop/tests/specs/speculos/manage.ledgersync.spec.ts
Labels: desktop

#7807 Fix external contributions
  .github/workflows/build-and-test-external.yml
Labels: automation

#7808 fix: restore not canceled condition for ok job
  .github/workflows/build-and-test-external.yml
  .github/workflows/build-and-test-pr.yml
Labels: automation

#7799 Fix stability of device selection screenshot
  apps/ledger-live-desktop/tests/specs/onboarding/connect-device.spec.ts
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts
Labels: desktop

#7789 [QAA-173]Speculos x LLM (local test)
  apps/ledger-live-mobile/.env.mock
  apps/ledger-live-mobile/e2e/bridge/client.ts
  apps/ledger-live-mobile/e2e/bridge/proxy.ts
  apps/ledger-live-mobile/e2e/bridge/server.ts
  apps/ledger-live-mobile/e2e/bridge/types.ts
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/jest.config.js
  apps/ledger-live-mobile/e2e/page/accounts/account.page.ts
  apps/ledger-live-mobile/e2e/page/common.page.ts
  apps/ledger-live-mobile/e2e/setup.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount.spec.ts
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/hooks/deviceActions.ts
  pnpm-lock.yaml
Labels: mobile

#7810 Prevent PR with cancelled jobs to be merged
  .github/workflows/build-and-test-pr.yml
  .github/workflows/build-and-test-push.yml
Labels: automation

#7800 Ledger Sync - Display error when scanning invalid QR Code
  .changeset/loud-donkeys-glow.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/StepFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/ActivationFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useLedgerSyncAnalytics.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSyncWithQrCode.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/ScannedInvalidQrCode.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/ScannedOldImportQrCode.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/types/Activation.ts
  apps/ledger-live-mobile/src/screens/ImportAccounts/Scan.tsx
  libs/trustchain/src/errors.ts
  libs/trustchain/src/qrcode/index.test.ts
  libs/trustchain/src/qrcode/index.ts
Labels: mobile, translations

#7782 Refactor: LowGasAlert errors on EVM
  .changeset/late-seals-buy.md
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/LowGasAlertBuyMore.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepAmount.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/steps/StepAmount.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawerLiveApp/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebView.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
Labels: desktop

#7784 feat: allow gasLimit field to be disabled
  .changeset/swift-turtles-taste.md
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/GasLimitField.tsx
  apps/ledger-live-desktop/src/renderer/families/types.ts
  apps/ledger-live-desktop/src/renderer/modals/Send/SendAmountFields.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawerLiveApp/index.tsx
Labels: desktop

#7813 :bug:fix(lld): fix export to csv account name
  .changeset/thick-glasses-swim.md
  apps/ledger-live-desktop/src/renderer/modals/ExportOperations/index.tsx
  libs/ledger-live-common/src/csvExport.ts
Labels: desktop, common

#7814 fix: 🐛 Market Filters
  .changeset/tame-tigers-end.md
  apps/ledger-live-desktop/src/renderer/screens/market/hooks/useMarket.ts
Labels: desktop

#7798 LIVE-12535 fix: add safety margin to estimated fees for hedera
  .changeset/dry-weeks-bow.md
  libs/ledger-live-common/src/families/hedera/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/hedera/bridge.integration.test.ts
  libs/ledger-live-common/src/families/hedera/utils.ts
Labels: common

#7815 fix: drawer loading state on succes
  .changeset/smooth-ears-learn.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
Labels: desktop

#7774 Feature/llm card
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/CardLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ExchangeLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/ExchangeLiveAppNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/ExchangeNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/PtxNavigator.ts
  apps/ledger-live-mobile/src/components/WebPTXPlayer/index.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/hooks/useQuickActions.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/PTX/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/Header.tsx
Labels: mobile, translations

#7818 Restore missing workflows
  .github/workflows/build-and-test-pr.yml
  .github/workflows/test-cli-reusable.yml
  .github/workflows/test-libs-reusable.yml
  .github/workflows/test-web-tools-reusable.yml
  libs/ledger-live-common/src/families/hedera/bridge.integration.test.ts
Labels: common, automation

#7765 feat: update earn info modal on ledger-live-mobile to add a link to `learnMore`
  .changeset/rude-ants-share.md
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/FeaturedButtons.tsx
  apps/ledger-live-mobile/src/components/InfoModal.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/EarnLiveAppNavigator.ts
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/reducers/earn.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/PTX/Earn/EarnInfoDrawer.tsx
Labels: desktop, mobile

#7821 :bug:(llm): camera doesn't refocus when scanning for LS on IOS
  .changeset/tiny-pigs-sit.md
  apps/ledger-live-mobile/__tests__/jest-setup.js
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Synchronize/ScanQrCode.tsx
Labels: mobile

#7824 fix ci on push
  .github/workflows/build-and-test-push.yml
Labels: automation

#7822 fix: 🐛 Password lock blocked on QRScan
  .changeset/tiny-gifts-matter.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/useAddAccountViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/useActivationDrawerModel.ts
Labels: mobile

#7825 :sparkles:(llm/lld): add dynamic learn more for LS activation
  .changeset/unlucky-beds-leave.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/shared.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/walletSync.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/01-CreateOrSynchronizeStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncActivation.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/Actions.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs, translations

#7819 :alien:fix(ll): update HC links
  .changeset/pretty-buttons-worry.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/families/tezos/DelegateFlowModal/steps/StepSummary.tsx
  apps/ledger-live-desktop/src/renderer/families/tezos/operationDetails.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useLocalizedUrls/index.ts
  apps/ledger-live-desktop/src/renderer/hooks/useLocalizedUrls/useLocalizedUrls.test.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/DomainErrorHandlers.tsx
  apps/ledger-live-mobile/src/families/tezos/operationDetails.ts
  apps/ledger-live-mobile/src/screens/SendFunds/DomainErrorHandlers.tsx
  apps/ledger-live-mobile/src/utils/urls.tsx
Labels: desktop, mobile

#7823 fix(trustchain): 🚦 allow members to sync immediately after getting removed
  .changeset/forty-panthers-clean.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useAddMember.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useAddMember.ts
  libs/trustchain/src/sdk.ts
  libs/trustchain/src/types.ts
Labels: desktop, mobile

#7826 fix: 🐛 Fix Blank account screen when removing account from LLD when LS activated
  .changeset/shy-ducks-sparkle.md
  apps/ledger-live-mobile/src/screens/Account/index.tsx
Labels: mobile

#7830 🐛 fixing e2e tests
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/LowGasAlertBuyMore.tsx
  apps/ledger-live-desktop/tests/component/layout.component.ts
Labels: desktop

#7827 feat: error handling llm
  .changeset/giant-pants-deliver.md
  apps/ledger-live-mobile/src/components/RootNavigator/types/CustomErrorNavigator.ts
  apps/ledger-live-mobile/src/components/WebPTXPlayer/CustomHandlers.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/CustomError/index.tsx
Labels: mobile, translations

#7802 Turborepo 2 Upgrade
  .github/workflows/test-cli-reusable.yml
  .github/workflows/test-design-system-reusable.yml
  .github/workflows/test-libs-reusable.yml
  .github/workflows/test-web-tools-reusable.yml
  apps/ledger-live-desktop/scripts/post-install.js
  apps/ledger-live-desktop/tools/dist/index.js
  package.json
  pnpm-lock.yaml
  tools/actions/build-checks/build/main.js
  tools/actions/build-checks/package.json
  tools/actions/change-product-name/build/main.js
  tools/actions/change-product-name/package.json
  tools/actions/desktop-report-build/build/main.js
  tools/actions/desktop-report-build/main.ts
  tools/actions/desktop-report-build/package.json
  tools/actions/generate-bot-super-report/build/main.js
  tools/actions/generate-bot-super-report/package.json
  tools/actions/generate-release-message/build/main.js
  tools/actions/generate-release-message/package.json
  tools/actions/get-package-infos/build/main.js
  tools/actions/get-package-infos/package.json
  tools/actions/get-workflow-artifacts-id/build/main.js
  tools/actions/get-workflow-artifacts-id/package.json
  tools/actions/live-common-affected/build/main.js
  tools/actions/live-common-affected/package.json
  tools/actions/prepare-comment-screenshots/build/main.js
  tools/actions/prepare-comment-screenshots/package.json
  tools/actions/submit-bot-report/build/main.js
  tools/actions/submit-bot-report/package.json
  tools/actions/turbo-affected/build/main.js
  tools/actions/turbo-affected/package-lock.json
  tools/actions/turbo-affected/package.json
  tools/actions/turborepo-gh-cache/build/cleanup.js
  tools/actions/turborepo-gh-cache/build/main.js
  tools/actions/turborepo-gh-cache/build/server.js
  tools/actions/turborepo-gh-cache/package.json
  tools/actions/turborepo-gh-cache/src/utils/constants.ts
  tools/actions/turborepo-s3-cache/build/cleanup.js
  tools/actions/turborepo-s3-cache/build/main.js
  tools/actions/turborepo-s3-cache/build/server.js
  tools/actions/turborepo-s3-cache/package.json
  tools/actions/turborepo-s3-cache/src/server.ts
  tools/actions/turborepo-s3-cache/src/utils/constants.ts
  tools/actions/upload-images/build/main.js
  tools/actions/upload-images/package.json
  turbo.json
Labels: desktop, tools, automation

#7839 Deactivating add Account test for DOT
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
Labels: desktop

#7844 Update navigation flow for Ledger Sync to handle device prompts and i…
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/manage.ledgersync.spec.ts
Labels: desktop

#7840 feat: 💄 Add UTXO disclaimer on Bitcoin like coins
  .changeset/unlucky-seals-remember.md
  apps/ledger-live-desktop/src/renderer/components/UTXOAddressAlert.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveFunds.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7848 feat: 💄 Onboarding Skip prompt drawer for LedgerSync
  .changeset/curvy-worms-serve.md
  apps/ledger-live-mobile/src/screens/Onboarding/steps/accessExistingWallet.tsx
Labels: mobile

#7850 :lipstick:(lld): skip drawer and update copy
  .changeset/neat-cameras-own.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/manageSynchronizedInstances.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/manageYourBackup.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageBackup/01-DeleteBackupStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageBackup/01-ManageBackupStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageBackup/02-FinalStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageBackup/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/page/drawer/ledger.sync.drawer.ts
Labels: desktop, translations

#7849 feat: 💄Skip drawer when user clicks on delete Sync
  .changeset/silly-rice-push.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/manageInstances.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/manageKey.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncActivated.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/ManageKey/Confirm.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/ManageKey/ManageKey.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/DeletionSuccess.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/ManageKeyDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/useManageKeyDrawer.ts
Labels: mobile, translations

#7851 :lipstick:(lld): update sync flow and copy for LS
  .changeset/smart-mails-refuse.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/synchronize.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Manage/index.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7854 feat: 💄 Update Sync flow LedgerSync
  .changeset/cyan-lamps-unite.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/StepFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
Labels: mobile

#7857 LLD - Braze Content cards clicks tracking
  .changeset/gentle-fireants-nail.md
  apps/ledger-live-desktop/src/renderer/components/Carousel/helpers.tsx
  apps/ledger-live-desktop/src/renderer/components/Carousel/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useActionCards.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useBraze.ts
  apps/ledger-live-desktop/src/renderer/hooks/useNotifications.ts
Labels: desktop

#7837 fix: only open error drawer if no drawer opened
  .changeset/cuddly-eggs-cross.md
  apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/CustomHandlers.ts
Labels: desktop

#7841 LLM - Update Storyly and fixes issues
  .changeset/sixty-insects-rescue.md
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/StorylyStories/StorylyProvider.tsx
  apps/ledger-live-mobile/src/components/StorylyStories/StorylyWrapper.tsx
  apps/ledger-live-mobile/src/components/StorylyStories/index.tsx
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  pnpm-lock.yaml
Labels: mobile

#7859 feat: 💄Update LLD Ledger Sync Copy
  .changeset/great-phones-lick.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/manageSynchronizedInstances.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/manageYourBackup.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/synchronize.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/walletSync.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/01-CreateOrSynchronizeStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/05-ActivationFinalStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/index.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageBackup/02-FinalStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageInstances/04-DeletionError.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/07-ActivationAlreadyCreatedOther.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/page/drawer/ledger.sync.drawer.ts
Labels: desktop, translations

#7853 feat: 💄 Update Copy of LedgerSync
  .changeset/fair-goats-sniff.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/addAccount.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/SelectAddAccountMethod/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/manageInstances.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/scanQRCode.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/synchronizeWithQrCode.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncActivated.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncActivation.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncSettings.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncStatus.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Error/Detailed.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Error/Simple.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Success/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useLedgerSyncAnalytics.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSpecificError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationSuccess.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/ScannedInvalidQrCode.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/ScannedOldImportQrCode.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/accessExistingWallet.tsx
  apps/ledger-live-mobile/src/utils/urls.tsx
Labels: mobile, translations

#7783 :sparkles:feat(lld): add simplehash calls for ordis
  .changeset/dry-parents-breathe.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Error.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Icons.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/Item.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/helpers.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/useInscriptionsModel.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Loader.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/RareSats/Item.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/RareSats/RowLayout.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/RareSats/TableHeader.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/RareSats/helpers.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/RareSats/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/RareSats/useRareSatsModel.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/screens/Account/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/bitcoinPage.test.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/mockedBTCAccount.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/mockedInscriptions.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/shared.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/Collection/ShowMore.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/Collection/TableRow/IconContainer.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/Collection/TableRow/IconContainer/ToolTip.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/Collection/TableRow/IconContainer/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/Collection/TableRow/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useFetchOrdinals.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useNftLinks.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/Collectibles.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/Collection.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/Inscriptions.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/Links.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/Ordinals.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/RareSats.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/enum/Collectibles.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/enum/DetailDrawer.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/utils/typeGuardsChecker.ts
  apps/ledger-live-desktop/src/renderer/screens/account/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/handlers/fixtures/nfts/index.ts
  apps/ledger-live-desktop/tests/handlers/fixtures/ordinals/index.ts
  apps/ledger-live-desktop/tests/handlers/fixtures/ordinals/mockedOrdinals.json
  apps/ledger-live-desktop/tests/handlers/nfts.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/account/typeGuards.ts
  libs/live-nft-react/src/hooks/__tests__/useFetchOrdinals.test.tsx
  libs/live-nft-react/src/hooks/helpers/ordinals.ts
  libs/live-nft-react/src/hooks/types.ts
  libs/live-nft-react/src/hooks/useFetchOrdinals.ts
  libs/live-nft-react/src/index.ts
  libs/live-nft-react/src/queryKeys.ts
  libs/live-nft/src/api/types.ts
Labels: desktop, common, translations

#7863 feat: ✏️Update Analytics
  .changeset/few-gifts-double.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/useFlows.test.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useFlows.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useLedgerSyncAnalytics.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/01-CreateOrSynchronizeStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Manage/index.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageBackup/01-DeleteBackupStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageInstances/04-DeletionError.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/05-UnbackedError.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/07-ActivationAlreadyCreatedOther.tsx
  apps/ledger-live-desktop/src/renderer/reducers/walletSync.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7864 fix: workflow permission for a workflow dispatch
  .github/workflows/build-mobile.yml
  .github/workflows/test-mobile.yml
Labels: automation

#7873 LLD - Fix Braze Modal not responding when a drawer is opened
  .changeset/silent-melons-lie.md
  apps/ledger-live-desktop/src/newArch/features/AnalyticsOptInPrompt/screens/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync.tsx
Labels: desktop

#7865 feat: 📝 Update Analytics Ledger Sync LLM
  .changeset/hip-walls-breathe.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/SelectAddAccountMethod/useSelectAddAccountMethodViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/Actions.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useLedgerSyncAnalytics.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSpecificError.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/useManageKeyDrawer.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/QrCodeMethod.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/accessExistingWallet.tsx
Labels: mobile

#7829 first speculos swap scenario: ETH to BTC rejected on device
  CODEOWNERS
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FromRow.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/ToRow.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionFees.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SummaryValue.tsx
  apps/ledger-live-desktop/tests/component/layout.component.ts
  apps/ledger-live-desktop/tests/component/modal.component.ts
  apps/ledger-live-desktop/tests/enum/AppInfos.ts
  apps/ledger-live-desktop/tests/enum/DeviceLabels.ts
  apps/ledger-live-desktop/tests/enum/Swap.ts
  apps/ledger-live-desktop/tests/models/Swap.ts
  apps/ledger-live-desktop/tests/models/Transaction.ts
  apps/ledger-live-desktop/tests/page/abstractClasses.ts
  apps/ledger-live-desktop/tests/page/drawer/swap.confirmation.drawer.ts
  apps/ledger-live-desktop/tests/page/index.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-tests-app.json
  apps/ledger-live-desktop/tests/utils/textParserUtils.ts
  libs/ledger-live-common/src/e2e/speculos.ts
  libs/speculos-transport/src/index.ts
Labels: desktop, common

#7861 [FIX/LIVE-14165]: use spendable balance and account id for token accounts
  .changeset/thin-readers-attend.md
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/AccountList.tsx
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts
Labels: desktop

#7875 feat: 🔐 Add spamFilteringTx FF in Code + Firebase
  .changeset/sour-planets-itch.md
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#7842 CI - fix Test Design System / Design System Tests workflow
  .changeset/tricky-socks-cheer.md
  .github/workflows/test-design-system-reusable.yml
  libs/ui/package.json
  libs/ui/packages/react/package.json
  libs/ui/tests/react.spec.js-snapshots/dark-darwin.png
  libs/ui/tests/react.spec.js-snapshots/light-darwin.png
  pnpm-lock.yaml
Labels: ui, automation

#7876 :sparkles:(lld): add discovery drawer for ordis
  .changeset/neat-items-lay.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DiscoveryDrawer/Header.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DiscoveryDrawer/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/screens/Account/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/screens/Account/useBitcoinAccountModel.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/bitcoinPage.test.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/shared.tsx
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7877 Updating locators on success screen and key deletion due to an update on wording #7853
  apps/ledger-live-desktop/tests/page/drawer/ledger.sync.drawer.ts
Labels: desktop

#7883 [LIVE-14228][RELEASE] Support - Update axios and ws dependencies for CVE
  .changeset/famous-lobsters-remain.md
  .changeset/six-rockets-exercise.md
  .changeset/yellow-mails-laugh.md
  apps/ledger-live-desktop/package.json
  libs/coin-modules/coin-bitcoin/package.json
  libs/coin-modules/coin-cosmos/package.json
  libs/coin-modules/coin-evm/package.json
  libs/coin-tester/package.json
  libs/domain-service/package.json
  libs/evm-tools/package.json
  libs/ledger-live-common/package.json
  libs/ledgerjs/package.json
  libs/ledgerjs/packages/context-module/package.json
  libs/ledgerjs/packages/cryptoassets/package.json
  libs/ledgerjs/packages/hw-app-btc/package.json
  libs/ledgerjs/packages/hw-app-eth/package.json
  libs/ledgerjs/packages/hw-app-helium/package.json
  libs/ledgerjs/packages/hw-app-solana/package.json
  libs/ledgerjs/packages/hw-transport-http/package.json
  libs/ledgerjs/packages/hw-transport-node-speculos-http/package.json
  libs/live-network/package.json
  libs/trustchain/mocks/scenarios/addSameMemberMultipleTimes.json
  libs/trustchain/mocks/scenarios/create2trustchainInARow.json
  libs/trustchain/mocks/scenarios/getOrCreateTransactionCases.json
  libs/trustchain/mocks/scenarios/member3implicitlyAdded.json
  libs/trustchain/mocks/scenarios/membersManySelfAdd.json
  libs/trustchain/mocks/scenarios/randomMemberTryToDestroy.json
  libs/trustchain/mocks/scenarios/removeMemberWithTheWrongSeed.json
  libs/trustchain/mocks/scenarios/removedMemberEjectedOnDeletedTrustchain.json
  libs/trustchain/mocks/scenarios/removedMemberEjectedOnGetMembers.json
  libs/trustchain/mocks/scenarios/removedMemberEjectedOnRestore.json
  libs/trustchain/mocks/scenarios/removingAMemberCreatesAnInteraction.json
  libs/trustchain/mocks/scenarios/removingYourselfIsForbidden.json
  libs/trustchain/mocks/scenarios/success.json
  libs/trustchain/mocks/scenarios/tokenExpires.json
  libs/trustchain/mocks/scenarios/twoAddMembersFollowedByDeviceAdd.json
  libs/trustchain/mocks/scenarios/userRefusesAuth.json
  libs/trustchain/mocks/scenarios/userRefusesRemoveMember.json
  package.json
  pnpm-lock.yaml
Labels: desktop, common, ledgerjs

#7845 Link 1 test case to 1 test id (Speculos x Xray)
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delete.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
Labels: desktop

#7885 [QAA-206][Playwright] Increase maxFailures in CI
  apps/ledger-live-desktop/tests/playwright.config.ts
Labels: desktop

#7881 :sparkles:(lld): add empty message and dummy drawer for ordis
  .changeset/empty-clouds-glow.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Error.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DetailsDrawer/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/helpers.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/useInscriptionsModel.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/RareSats/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/screens/Account/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/screens/Account/useBitcoinAccountModel.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/Collection/EmptyCollection.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useFetchOrdinals.ts
  apps/ledger-live-desktop/src/renderer/modals/Receive/Body.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7892 📦 (context-module/keyring-eth): make packages private
  libs/ledgerjs/packages/context-module/package.json
  libs/ledgerjs/packages/keyring-eth/package.json
Labels: ledgerjs

#7899 [QAA-206] Increase max failure to speculos test only
  .github/workflows/test-ui-e2e-only-desktop.yml
  apps/ledger-live-desktop/tests/playwright.config.ts
Labels: desktop, automation

#7817 chore: update default explorer for local base & zkevm config
  .changeset/four-worms-end.md
  libs/coin-modules/coin-evm/src/__tests__/integration/bridge.integration.test.ts
  libs/ledger-live-common/src/families/evm/config.ts
Labels: common

#7868 💄(llm): ui and message on receive confirmation screen
  .changeset/green-starfishes-suffer.md
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveFunds.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  libs/ledger-live-common/src/currencies/helpers.ts
Labels: desktop, mobile, common, translations

#7831 [QAA-195][Detox][Speculos] Add Android Speculos tests to CI
  .github/workflows/test-mobile-e2e-reusable.yml
  .github/workflows/test-mobile-e2e.yml
  apps/ledger-live-mobile/e2e/bridge/proxy.ts
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/scripts/e2e-ci.mjs
  tools/actions/composites/setup-speculos_image/action.yml
Labels: mobile, tools, automation

#7893 Upgrade pnpm to 9.11
  .prototools
  package.json
  tools/actions/composites/bot/action.yml
  tools/actions/composites/setup-toolchain/action.yml
  tools/actions/turbo-affected/build/main.js
Labels: tools

#7914 :bug:(lld): fix inte test for nfts
  .changeset/fresh-cobras-argue.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/nftsCollection.test.tsx
  apps/ledger-live-desktop/tests/handlers/index.ts
  apps/ledger-live-desktop/tests/jestSetup.js
Labels: desktop

#7916 Bugfix/solana priority fees
  libs/coin-modules/coin-solana/package.json
  libs/coin-modules/coin-solana/src/api/cached.ts
  libs/coin-modules/coin-solana/src/api/chain/index.ts
  libs/coin-modules/coin-solana/src/api/chain/web3.ts
  libs/coin-modules/coin-solana/src/bridge.integration.test.ts
  libs/coin-modules/coin-solana/src/buildTransaction.ts
  libs/coin-modules/coin-solana/src/synchronization.ts
  libs/coin-modules/coin-solana/src/tx-fees.ts
  libs/coin-modules/coin-solana/src/utils.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/solana/bridge/mock-data.ts
  pnpm-lock.yaml
Labels: common, fork

#7896 chore: bump storyly version and adapt new api spec
  .changeset/calm-pets-shout.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/storyly/StorylyProvider.tsx
  apps/ledger-live-desktop/src/storyly/useStoryly.tsx
  apps/ledger-live-desktop/src/types/storyly-web.d.ts
  pnpm-lock.yaml
Labels: desktop

#7915 fix: allow mobile codecheck workflow only on dispatch
  .github/workflows/test-mobile.yml
Labels: automation

#7906 fix(LLM): wallet-connect deep-link from native app for a request would reload the page [LIVE-13641]
  .changeset/sour-poets-play.md
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
Labels: mobile

#7897 support: specify xcode version in LLM readme
  apps/ledger-live-mobile/README.md
Labels: mobile

#7905 fix(wallet-api): only call success and fail handlers when closing the flow on LLM
  .changeset/clever-rocks-watch.md
  apps/ledger-live-mobile/src/screens/SignMessage/04-ValidationError.tsx
  apps/ledger-live-mobile/src/screens/SignMessage/04-ValidationSuccess.tsx
Labels: mobile

#7872 fix(wallet-api): open any deep-link from the webview on LLM
  .changeset/tough-terms-film.md
  apps/ledger-live-mobile/src/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
Labels: mobile

#7907 fix(LLM): allow wallet-connect live-app to open a deep-link at any time [LIVE-13641]
  .changeset/slow-dingos-destroy.md
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking.ts
  apps/ledger-live-desktop/src/renderer/screens/account/AccountHeaderActions.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/WalletConnectLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/hooks.ts
  libs/ledger-live-common/src/wallet-api/constants.ts
Labels: desktop, mobile, common

#7890 chore(llm): 👌 always skip the analytics prompt in e2e tests
  .changeset/strong-goats-rush.md
  apps/ledger-live-mobile/.env.mock
  apps/ledger-live-mobile/e2e/bridge/server.ts
Labels: mobile

#7923 feat: 🌐 localize storyly
  .changeset/witty-bugs-add.md
  apps/ledger-live-desktop/src/storyly/StorylyProvider.tsx
  apps/ledger-live-desktop/src/storyly/useStoryly.tsx
  apps/ledger-live-desktop/src/types/storyly-web.d.ts
Labels: desktop

#7924 :sparkles:(lld): add protect box inside discovery drawer
  .changeset/witty-cows-breathe.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DiscoveryDrawer/Header.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DiscoveryDrawer/ProtectBox.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DiscoveryDrawer/index.tsx
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#7910 chore(lld): 👌 always skip the analytics prompt in e2e tests
  .changeset/big-snakes-marry.md
  apps/ledger-live-desktop/src/newArch/features/AnalyticsOptInPrompt/screens/VariantA/Main/components/MainFooter/index.tsx
  apps/ledger-live-desktop/src/newArch/features/AnalyticsOptInPrompt/screens/VariantB/components/Footer/index.tsx
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/page/onboarding.page.ts
  apps/ledger-live-desktop/tests/specs/onboarding/connect-device.spec.ts
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts
  apps/ledger-live-desktop/tests/userdata/1AccountBTC1AccountETH-encrypted.json
Labels: desktop

#7918 Fix add account e2e test - Bitcoin
  apps/ledger-live-desktop/src/renderer/components/AccountsList/AccountRow.tsx
  apps/ledger-live-desktop/tests/component/layout.component.ts
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/page/abstractClasses.ts
  apps/ledger-live-desktop/tests/page/modal/add.account.modal.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delete.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
Labels: desktop

#7908 ✨(lld): add details drawer for inscriptions
  .changeset/dry-otters-shop.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DetailsDrawer/Actions.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DetailsDrawer/SubTitle.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DetailsDrawer/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DetailsDrawer/useInscriptionDetailDrawer.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DiscoveryDrawer/ProtectBox.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/Item.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/Item/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/helpers.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/RareSats/helpers.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/RareSats/useRareSatsModel.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/helpers.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/screens/Account/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/screens/Account/useBitcoinAccountModel.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/bitcoinPage.test.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/Collection/HeaderActions.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/Inscriptions.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/utils/createInscriptionDetailsArrays.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/utils/findCorrespondingSat.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/handlers/fixtures/ordinals/mockedOrdinals.json
  libs/live-nft-react/src/hooks/useFetchOrdinals.ts
  libs/live-nft/src/api/types.ts
Labels: desktop, translations

#7932 fix: external contribution conditions to run
  .github/workflows/build-and-test-external.yml
Labels: automation

#7900 fix: remove rewards from near staking
  .changeset/rare-yaks-deny.md
  apps/ledger-live-desktop/src/renderer/families/near/Staking/Header.tsx
  apps/ledger-live-desktop/src/renderer/families/near/Staking/Row.tsx
  apps/ledger-live-mobile/src/families/near/Staking/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/coin-modules/coin-near/src/account.ts
  libs/coin-modules/coin-near/src/api/node.ts
  libs/coin-modules/coin-near/src/api/sdk.types.ts
  libs/coin-modules/coin-near/src/logic.ts
  libs/coin-modules/coin-near/src/serialization.ts
  libs/coin-modules/coin-near/src/types.ts
  libs/ledger-live-common/src/families/near/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/near/banner.test.ts
Labels: desktop, mobile, common, translations

#7937 fix: external contribution concurrency
  .github/workflows/build-and-test-pr.yml
  .github/workflows/build-mobile-external-reusable.yml
  .github/workflows/test-desktop-external-reusable.yml
Labels: automation

#7939 Checkout external contributions
  .github/workflows/build-and-test-external.yml
  .github/workflows/build-desktop-external-reusable.yml
  .github/workflows/build-mobile-external-reusable.yml
  .github/workflows/test-desktop-external-reusable.yml
Labels: automation

#7942 fix: external workflow call
  .github/workflows/build-desktop-external-reusable.yml
  .github/workflows/build-mobile-external-reusable.yml
  .github/workflows/test-desktop-external-reusable.yml
Labels: automation

#7886 feat: use cal as sell provider source of true
  libs/ledger-live-common/src/exchange/platform/startExchange.ts
  libs/ledger-live-common/src/exchange/platform/transfer/completeExchange.ts
  libs/ledger-live-common/src/exchange/providers/getProvidersData.test.ts
  libs/ledger-live-common/src/exchange/providers/getProvidersData.ts
  libs/ledger-live-common/src/exchange/providers/index.ts
  libs/ledger-live-common/src/exchange/providers/sell.ts
  libs/ledger-live-common/src/exchange/providers/swap.ts
Labels: common

#7928 chore(llm): 🏚️ run tests at `e2e/specs/*.spec.ts`
  .changeset/six-hairs-raise.md
  apps/ledger-live-mobile/e2e/jest.config.js
Labels: mobile

#7936 [QAA-253][Playwright][Speculos] Get LLD logs for failed tests
  apps/ledger-live-desktop/index-types.d.ts
  apps/ledger-live-desktop/src/renderer/components/debug/DebugMock.tsx
  apps/ledger-live-desktop/tests/utils/allureUtils.ts
Labels: desktop

#7912 feat: 💄UX/UI Improvements on HiddenCollections section
  .changeset/short-hotels-invite.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenNFTCollections.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenNFTCollections/helpers.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenNFTCollections/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenNFTCollections/row.tsx
Labels: desktop

#7948 CI - Do not use relative path and tag the branch for github actions
  .github/workflows/turbo-affected-reusable.yml
Labels: automation

#7941 chore: 🗺️ fix IDE go to definition feature for some libs
  .changeset/cuddly-zebras-give.md
  libs/ui/packages/icons/tsconfig.json
  libs/ui/packages/native/tsconfig.json
  libs/ui/packages/react/tsconfig.json
  libs/ui/packages/shared/tsconfig.json
Labels: ui

#7812 LIVE-13040: polkadot code cleanup
  .changeset/tasty-brooms-chew.md
  libs/coin-modules/coin-polkadot/src/api/index.integ.test.ts
  libs/coin-modules/coin-polkadot/src/api/index.ts
  libs/coin-modules/coin-polkadot/src/bridge/buildTransaction.test.ts
  libs/coin-modules/coin-polkadot/src/bridge/buildTransaction.ts
  libs/coin-modules/coin-polkadot/src/bridge/getFeesForTransaction.test.ts
  libs/coin-modules/coin-polkadot/src/bridge/prepareTransaction.test.ts
  libs/coin-modules/coin-polkadot/src/bridge/signOperation.test.ts
  libs/coin-modules/coin-polkadot/src/bridge/signOperation.ts
  libs/coin-modules/coin-polkadot/src/config.ts
  libs/coin-modules/coin-polkadot/src/logic/craftTransaction.test.ts
  libs/coin-modules/coin-polkadot/src/logic/craftTransaction.ts
  libs/coin-modules/coin-polkadot/src/logic/estimateFees.test.ts
  libs/coin-modules/coin-polkadot/src/logic/signTransaction.ts
  libs/coin-modules/coin-polkadot/src/network/sidecar.integ.test.ts
  libs/coin-modules/coin-polkadot/src/network/sidecar.unit.test.ts
  libs/coin-modules/coin-polkadot/src/signer/getAddress.ts
  libs/coin-modules/coin-polkadot/src/test/bridgeDatasetTest.ts
  libs/coin-modules/coin-polkadot/src/test/coin-tester/scenarios/basic.ts
  libs/coin-modules/coin-polkadot/src/types/model.ts
  libs/coin-modules/coin-polkadot/src/types/signer.ts
  libs/ledger-live-common/src/families/polkadot/config.ts
  libs/ledgerjs/packages/hw-app-polkadot/README.md
  libs/ledgerjs/packages/hw-app-polkadot/src/Polkadot.ts
Labels: common, ledgerjs
