Repository LedgerHQ/ledger-live, pull requests merged in 2025-04, with the labels that each got.

#9740 feat: custom lock screen + Hide collection solana
  .changeset/metal-camels-explode.md
  apps/ledger-live-mobile/src/components/Nft/NftLinksPanel.tsx
  apps/ledger-live-mobile/src/components/Nft/NftViewer.tsx
Labels: mobile

#9713 feat(LIVE-17932): softExit WebPTX parameter
  .changeset/twenty-camels-hammer.md
  apps/ledger-live-mobile/src/components/WebPTXPlayer/index.tsx
  apps/ledger-live-mobile/src/screens/PTX/index.tsx
Labels: mobile

#9720 Remove generated formatters
  .changeset/nervous-rivers-attack.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/CoinControlModal/components/UtxoStrategyPicker.tsx
  libs/coin-framework/src/bridge/jsHelpers.ts
  libs/coin-modules/coin-algorand/src/bridge/js.ts
  libs/coin-modules/coin-bitcoin/src/bridge/js.ts
  libs/coin-modules/coin-cosmos/src/bridge/index.ts
  libs/coin-modules/coin-cosmos/src/config.ts
  libs/coin-modules/coin-cosmos/src/serialization.ts
  libs/coin-modules/coin-multiversx/src/bridge/js.ts
  libs/coin-modules/coin-polkadot/src/bridge/index.ts
  libs/ledger-live-common/scripts/sync-families-dispatch.mjs
  libs/ledger-live-common/src/account/formatters.ts
  libs/ledger-live-common/src/families/algorand/setup.ts
  libs/ledger-live-common/src/families/cosmos/setup.ts
  libs/ledger-live-common/src/families/multiversx/setup.ts
  libs/ledger-live-common/src/generated/formatters.ts
  libs/ledgerjs/packages/types-live/src/bridge.ts
Labels: desktop, common, ledgerjs

#9762 chore: Refactor test-renderer
  apps/ledger-live-mobile/__tests__/test-renderer.tsx
Labels: mobile

#9706 [QAA][Detox][Speculos] First swap tests
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
  apps/ledger-live-mobile/e2e/bridge/client.ts
  apps/ledger-live-mobile/e2e/bridge/server.ts
  apps/ledger-live-mobile/e2e/bridge/types.ts
  apps/ledger-live-mobile/e2e/helpers/elementHelpers.ts
  apps/ledger-live-mobile/e2e/jest.globalSetup.ts
  apps/ledger-live-mobile/e2e/page/accounts/accounts.page.ts
  apps/ledger-live-mobile/e2e/page/common.page.ts
  apps/ledger-live-mobile/e2e/page/index.ts
  apps/ledger-live-mobile/e2e/page/liveApps/swapLiveApp.ts
  apps/ledger-live-mobile/e2e/page/speculos.page.ts
  apps/ledger-live-mobile/e2e/page/trade/swap.page.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/send.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swap.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swapBTC_NATIVE_SEGWIT_ETH.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swapBTC_NATIVE_SEGWIT_ETH_USDT.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swapBTC_NATIVE_SEGWIT_LTC.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swapBTC_NATIVE_SEGWIT_SOL.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swapETH_BTC_NATIVE_SEGWIT.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swapETH_DOT.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swapETH_ETH_USDT.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swapETH_SOL.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swapETH_USDC_BTC_NATIVE_SEGWIT.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swapETH_USDC_ETH.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swapETH_USDC_SOL.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swapETH_USDT_BTC_NATIVE_SEGWIT.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swapETH_USDT_ETH.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swapETH_USDT_SOL.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swapXRP_BTC_NATIVE_SEGWIT.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swapXRP_ETH_USDC.spec.ts
  apps/ledger-live-mobile/src/components/Button.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/screens/Swap/History/EmptyState.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/PendingOperation.tsx
  libs/ledger-live-common/src/e2e/enum/Currency.ts
  libs/ledger-live-common/src/e2e/enum/Swap.ts
  libs/ledger-live-common/src/e2e/models/Swap.ts
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/api/index.ts
Labels: desktop, mobile, common

#9664 Feature/live 17711 loader transaction check
  .changeset/little-ladybugs-build.md
  .changeset/swift-eels-repair.md
  libs/coin-modules/coin-evm/src/__tests__/coin-tester/scenarii/blast.ts
  libs/coin-modules/coin-evm/src/__tests__/coin-tester/scenarii/ethereum.ts
  libs/coin-modules/coin-evm/src/__tests__/coin-tester/scenarii/polygon.ts
  libs/coin-modules/coin-evm/src/__tests__/coin-tester/scenarii/scroll.ts
  libs/coin-modules/coin-evm/src/__tests__/coin-tester/scenarii/sonic.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/hw-signMessage.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/signOperation.unit.test.ts
  libs/coin-modules/coin-evm/src/hw-signMessage.ts
  libs/coin-modules/coin-evm/src/signOperation.ts
  libs/coin-modules/coin-evm/src/types/signer.ts
  libs/ledger-live-common/package.json
  libs/live-dmk/package.json
  libs/live-dmk/src/transport/DeviceManagementKitTransport.ts
  libs/live-signer-evm/package.json
  libs/live-signer-evm/src/DmkSignerEth.ts
  libs/live-signer-evm/src/LegacySignerEth.ts
  libs/live-signer-evm/tests/DmkSignerEth.test.ts
  libs/live-signer-evm/tests/LegacySignerEth.test.ts
  pnpm-lock.yaml
Labels: common

#9724 [LLM][Detox][CI] Improvement on LLM E2E tests CI
  .github/workflows/test-mobile-e2e-reusable.yml
  apps/ledger-live-mobile/e2e/setup.ts
  apps/ledger-live-mobile/scripts/e2e-ci.mjs
Labels: mobile, automation

#9774 [QAA][CI] Revert problematic LLM E2E CI changes
  .github/workflows/test-mobile-e2e-reusable.yml
Labels: automation

#9768 :chart_with_upwards_trend: (llm) adjust sentry performance report rates
  apps/ledger-live-mobile/src/sentry.ts
Labels: mobile

#9718 Rename account ledger sync
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/ledgerSync.spec.ts
  apps/ledger-live-desktop/tests/utils/ledgerSyncCliUtils.ts
Labels: desktop

#9767 fix(llm): calculate cartesian coordinates of the graph pointer more accurately
  .changeset/short-seahorses-burn.md
  apps/ledger-live-mobile/src/components/Graph/BarInteraction.tsx
  apps/ledger-live-mobile/src/components/Graph/index.tsx
Labels: mobile

#9786 fix: enable token account staking from earn live app
  .changeset/beige-lies-attend.md
  apps/ledger-live-mobile/src/components/RootNavigator/EarnLiveAppNavigator.tsx
Labels: mobile

#9710 fix(lld): 🎯 use braze to exclude from the hardcoded LNS upsell rather than the swap history
  .changeset/big-mangos-argue.md
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/components/LNSUpsellBanner/LNSUpsellBanner.test.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/hooks/useLNSUpsellBannerState.ts
  apps/ledger-live-desktop/src/renderer/actions/dynamicContent.ts
  apps/ledger-live-desktop/src/renderer/hooks/useBraze.ts
  apps/ledger-live-desktop/src/renderer/reducers/dynamicContent.ts
Labels: desktop

#9783 [QAA] E2E mobile ci improvments
  .github/workflows/test-mobile-e2e-reusable.yml
  .github/workflows/test-ui-e2e-only-desktop.yml
  tools/actions/composites/upload-allure-report/action.yml
Labels: tools, automation

#9582 Feat/live 17628 alert local banner recover
  .changeset/empty-monkeys-marry.md
  apps/ledger-live-desktop/src/renderer/components/RecoverBanner/RecoverBanner.tsx
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/th/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/components/RecoverBanner/index.tsx
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/th/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#9776 [QAA] Fix e2e apps for release testing
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-tests-app.json
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#9796 fix: missing LedgerLive userAgent on LLM webview [LIVE-18142]
  .changeset/cyan-chairs-rest.md
  apps/ledger-live-mobile/src/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/WalletAPIWebview.tsx
Labels: mobile

#9800 [QAA][LLD] Fix Allure report failing after merge
  .github/workflows/test-desktop-reusable.yml
  .github/workflows/test-mobile-e2e-reusable.yml
Labels: automation

#9790 feat: add copy button for signed message
  .changeset/quiet-poets-report.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/SignMessage/01-Summary.tsx
  apps/ledger-live-mobile/src/screens/SignMessage/Components/CopyButton.test.tsx
  apps/ledger-live-mobile/src/screens/SignMessage/Components/CopyButton.tsx
Labels: mobile, translations

#9649 feat: update currencies list with Blockscout explorer links
  .changeset/pink-icons-talk.md
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: ledgerjs

#9814 test(llc): update bridge integration test snapshot for Solana
  .changeset/sour-radios-grin.md
  libs/ledger-live-common/src/families/solana/__snapshots__/bridge.integration.test.ts.snap
Labels: common

#9812 feat: LLM - Remove Enable Analytics and Disable Analytics event
  .changeset/lucky-bananas-shave.md
  apps/ledger-live-mobile/src/screens/Settings/General/AnalyticsRow.tsx
Labels: mobile

#9807 refactor(coin-solana): move HTTP calls to `network` folder
  .changeset/selfish-walls-wait.md
  libs/coin-modules/coin-solana/.unimportedrc.json
  libs/coin-modules/coin-solana/src/__tests__/scan-accounts.test.ts
  libs/coin-modules/coin-solana/src/bridge/bridge.ts
  libs/coin-modules/coin-solana/src/bridge/js.ts
  libs/coin-modules/coin-solana/src/broadcast.ts
  libs/coin-modules/coin-solana/src/buildTransaction.ts
  libs/coin-modules/coin-solana/src/estimateMaxSpendable.ts
  libs/coin-modules/coin-solana/src/helpers/token.ts
  libs/coin-modules/coin-solana/src/logic.ts
  libs/coin-modules/coin-solana/src/network/cached.ts
  libs/coin-modules/coin-solana/src/network/chain/account/index.ts
  libs/coin-modules/coin-solana/src/network/chain/account/parser.ts
  libs/coin-modules/coin-solana/src/network/chain/account/stake.ts
  libs/coin-modules/coin-solana/src/network/chain/account/token.ts
  libs/coin-modules/coin-solana/src/network/chain/account/tokenExtensions.ts
  libs/coin-modules/coin-solana/src/network/chain/account/vote.ts
  libs/coin-modules/coin-solana/src/network/chain/index.ts
  libs/coin-modules/coin-solana/src/network/chain/instruction/associated-token-account/index.ts
  libs/coin-modules/coin-solana/src/network/chain/instruction/associated-token-account/types.ts
  libs/coin-modules/coin-solana/src/network/chain/instruction/memo/index.ts
  libs/coin-modules/coin-solana/src/network/chain/instruction/memo/types.ts
  libs/coin-modules/coin-solana/src/network/chain/instruction/stake/index.ts
  libs/coin-modules/coin-solana/src/network/chain/instruction/stake/types.ts
  libs/coin-modules/coin-solana/src/network/chain/instruction/system/index.ts
  libs/coin-modules/coin-solana/src/network/chain/instruction/system/types.ts
  libs/coin-modules/coin-solana/src/network/chain/instruction/token/index.ts
  libs/coin-modules/coin-solana/src/network/chain/instruction/token/types.ts
  libs/coin-modules/coin-solana/src/network/chain/program/constants.ts
  libs/coin-modules/coin-solana/src/network/chain/program/index.ts
  libs/coin-modules/coin-solana/src/network/chain/program/parser.ts
  libs/coin-modules/coin-solana/src/network/chain/stake-activation/delegation.ts
  libs/coin-modules/coin-solana/src/network/chain/stake-activation/rpc.ts
  libs/coin-modules/coin-solana/src/network/chain/validators/bignum.ts
  libs/coin-modules/coin-solana/src/network/chain/validators/index.ts
  libs/coin-modules/coin-solana/src/network/chain/validators/pubkey.ts
  libs/coin-modules/coin-solana/src/network/chain/web3.ts
  libs/coin-modules/coin-solana/src/network/index.ts
  libs/coin-modules/coin-solana/src/network/logged.ts
  libs/coin-modules/coin-solana/src/network/nft/index.ts
  libs/coin-modules/coin-solana/src/network/queued.ts
  libs/coin-modules/coin-solana/src/network/traced.ts
  libs/coin-modules/coin-solana/src/network/validator-app/index.ts
  libs/coin-modules/coin-solana/src/nftResolvers.ts
  libs/coin-modules/coin-solana/src/preload.ts
  libs/coin-modules/coin-solana/src/prepareTransaction.ts
  libs/coin-modules/coin-solana/src/signOperation.ts
  libs/coin-modules/coin-solana/src/speculos-deviceActions.ts
  libs/coin-modules/coin-solana/src/synchronization.ts
  libs/coin-modules/coin-solana/src/tests/stakes-bridge-integration.test.ts
  libs/coin-modules/coin-solana/src/tests/tokens-bridge-integration.test.ts
  libs/coin-modules/coin-solana/src/tx-fees.ts
  libs/coin-modules/coin-solana/src/types.ts
  libs/coin-modules/coin-solana/src/utils.ts
  libs/ledger-live-common/src/families/solana/banner.test.ts
  libs/ledger-live-common/src/families/solana/banner.ts
  libs/ledger-live-common/src/families/solana/bridge/mock-data.ts
  libs/ledger-live-common/src/families/solana/bridge/mock.ts
  libs/ledger-live-common/src/families/solana/react.ts
  libs/ledger-live-common/src/families/solana/staking.ts
Labels: common

#9817 feat: feature flag for large mover landing page
  .changeset/great-scissors-occur.md
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#9818 feat(LLD): memo tag copy update
  .changeset/wet-parrots-begin.md
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#9827 Fix/lld entrypoints params
  .changeset/fiddly-cougars-arrive.md
  apps/ledger-live-desktop/src/newArch/hooks/useStake.ts
Labels: desktop

#9834 chore: fix use stake test lld
  apps/ledger-live-desktop/src/newArch/hooks/useStake.test.ts
Labels: desktop

#9830 chore(llm): move old StoreWrapper to new arch
  apps/ledger-live-mobile/src/newArch/storage/asyncStorageWrapper/index.ts
  apps/ledger-live-mobile/src/newArch/storage/index.ts
  apps/ledger-live-mobile/src/newArch/storage/types.ts
Labels: mobile

#9819 Feat: large mover navigator
  .changeset/fluffy-poets-think.md
  apps/ledger-live-mobile/src/components/RootNavigator/LandingPagesNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/LandingPagesNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/index.tsx
Labels: mobile

#9810 feat: LLD - Onboarding update CTA to buy a device
  .changeset/good-bulldogs-shave.md
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#9806 feat: LLD - Update Fees Copy on Send screen step 2
  .changeset/wild-flowers-swim.md
  apps/ledger-live-desktop/src/renderer/components/SelectFeeStrategy.tsx
  apps/ledger-live-desktop/src/renderer/families/bitcoin/FeesField.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#9826 fix: partner params stake redirects mobile
  .changeset/slimy-pillows-approved.md
  apps/ledger-live-mobile/src/components/RootNavigator/EarnLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/newArch/hooks/useStake/useStake.test.ts
  apps/ledger-live-mobile/src/newArch/hooks/useStake/useStake.tsx
  apps/ledger-live-mobile/src/screens/Account/hooks/useAccountActions.tsx
Labels: mobile

#9854 Remove setup-toolchain
  tools/actions/composites/setup-toolchain/action.yml
Labels: tools

#9853 feat(LLD): Add ModularDrawer feature-flag & related hook
  .changeset/smart-mice-cover.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/__tests__/useModularDrawerVisibility.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useModularDrawerVisibility.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs

#9848 Feat: large mover price variation component
  .changeset/tidy-fans-notice.md
  apps/ledger-live-mobile/src/components/Delta.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/Components/PriceAndVariation.tsx
  knip.json
Labels: mobile

#9857 🐛 LLM - Fix Account and Asset Header Height
  .changeset/tall-suits-sin.md
  apps/ledger-live-mobile/src/components/CurrencyHeaderLayout.tsx
Labels: mobile

#9868 :bug: (ios) firebase init duplication (#9863)
  .changeset/nasty-spies-brake.md
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.mm
Labels: mobile

#9859 chore(llm): add base MMKV implementation
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.mm
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/newArch/storage/__tests__/asyncStorageWrapper.test.ts
  apps/ledger-live-mobile/src/newArch/storage/__tests__/mmkvStorageWrapper.test.ts
  apps/ledger-live-mobile/src/newArch/storage/__tests__/storage.test.ts
  apps/ledger-live-mobile/src/newArch/storage/constants.ts
  apps/ledger-live-mobile/src/newArch/storage/index.ts
  apps/ledger-live-mobile/src/newArch/storage/mmkvStorageWrapper/constants.ts
  apps/ledger-live-mobile/src/newArch/storage/mmkvStorageWrapper/index.ts
  apps/ledger-live-mobile/src/newArch/storage/types.ts
  pnpm-lock.yaml
Labels: mobile

#9842 Revert "feat: aptos token integration"
  .changeset/rich-insects-exercise.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/coin-framework/src/operation.ts
  libs/coin-modules/coin-aptos/package.json
  libs/coin-modules/coin-aptos/src/__tests__/api/index.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/buildTransaction.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/getFeesForTransaction.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/getTransactionStatus.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/logic.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/signOperation.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/synchronisation.test.ts
  libs/coin-modules/coin-aptos/src/api/graphql/queries.ts
  libs/coin-modules/coin-aptos/src/api/graphql/types.ts
  libs/coin-modules/coin-aptos/src/api/index.ts
  libs/coin-modules/coin-aptos/src/bridge/bridge.fixture.ts
  libs/coin-modules/coin-aptos/src/bridge/buildTransaction.ts
  libs/coin-modules/coin-aptos/src/bridge/estimateMaxSpendable.ts
  libs/coin-modules/coin-aptos/src/bridge/getFeesForTransaction.ts
  libs/coin-modules/coin-aptos/src/bridge/getTransactionStatus.ts
  libs/coin-modules/coin-aptos/src/bridge/logic.ts
  libs/coin-modules/coin-aptos/src/bridge/prepareTransaction.ts
  libs/coin-modules/coin-aptos/src/bridge/signOperation.ts
  libs/coin-modules/coin-aptos/src/bridge/synchronisation.ts
  libs/coin-modules/coin-aptos/src/constants.ts
  libs/coin-modules/coin-aptos/src/test/bot-specs.ts
  libs/coin-modules/coin-aptos/src/test/bridgeDatasetTest.ts
  libs/coin-modules/coin-aptos/src/test/speculos-deviceActions.ts
  libs/coin-modules/coin-aptos/src/types/index.ts
  libs/coin-modules/coin-cosmos/jest.config.js
  libs/coin-modules/coin-stellar/src/test/bridgeDatasetTest.ts
  libs/ledger-live-common/src/apps/config.ts
  libs/ledger-live-common/src/families/aptos/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/bitcoin/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/cosmos.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/cryptoOrg.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/persistence.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/stargaze.integration.test.ts.snap
  libs/ledger-live-common/src/families/hedera/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/stellar/__snapshots__/bridge.integration.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/__snapshots__/currencies.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/apt/aptos.test.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/apt/index.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/apt_coin-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/apt_coin.json
  libs/ledgerjs/packages/cryptoassets/src/data/apt_coin.ts
  libs/ledgerjs/packages/cryptoassets/src/data/apt_fungible_asset-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/apt_fungible_asset.json
  libs/ledgerjs/packages/cryptoassets/src/data/apt_fungible_asset.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
  libs/ledgerjs/packages/errors/src/index.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, ledgerjs, translations

#9829 feat: Large mover ticker component
  .changeset/short-geckos-join.md
  .changeset/tidy-fans-notice.md
  apps/ledger-live-mobile/src/components/Delta.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/Components/PriceAndVariation.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/Components/Ticker.tsx
  knip.json
Labels: mobile

#9861 fix(wallet-api): account.receive doesn't resolve when dismissing the modal [LIVE-18234]
  .changeset/thin-garlics-fail.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/modals/ExchangeDeviceConfirm/index.tsx
Labels: desktop

#9880 🚑 (llm) [DSDK-724]: Handle ldmkTransport feature flag switch
  .changeset/calm-beans-grow.md
  .changeset/cool-suits-tell.md
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/index.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/hooks/useEnableBluetooth.ts
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/Scanning.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/index.tsx
  libs/live-dmk-desktop/vitest.config.ts
  libs/live-dmk-mobile/src/hooks/index.ts
  libs/live-dmk-mobile/src/hooks/useDeviceManagementKit.test.tsx
  libs/live-dmk-mobile/src/hooks/useDeviceManagementKit.tsx
  libs/live-dmk-mobile/src/hooks/useLdmkFeatureEnabled.test.tsx
  libs/live-dmk-mobile/src/hooks/useLdmkFeatureEnabled.ts
  libs/live-dmk-mobile/vitest.config.ts
Labels: mobile

#9893 chore(LL): Homogenising newArch imports
  .changeset/violet-monkeys-scream.md
  apps/ledger-live-desktop/src/renderer/families/casper/MemoField.tsx
  apps/ledger-live-desktop/src/renderer/families/solana/MemoValueField.tsx
  apps/ledger-live-desktop/src/renderer/families/ton/CommentField.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveFunds.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/Confirmation/NodeError/TechnicalErrorSection.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepRecipient.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepSummary.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenInscriptions/useHiddenInscriptionsModel.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/WalletSync/Checker/index.tsx
  apps/ledger-live-mobile/src/families/algorand/MemoTagSummary.tsx
  apps/ledger-live-mobile/src/families/solana/Token2022/TokenExtensionsInfoBox.tsx
  apps/ledger-live-mobile/src/families/solana/Token2022/TokenExtensionsInfoDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountQuickActionsDrawer/useAccountQuickActionDrawerViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/components/AccountItem/useAccountItemModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/StepFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountSuccess/useAddAccountSuccessViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountWarning/useAddAccountWarningViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useAddMember.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useDestroyTrustchain.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useOnTrustchainRefreshNeeded.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useQRCodeHost.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useSyncWithQrCode.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/walletSync.hooks.ts
  apps/ledger-live-mobile/src/screens/ImportAccounts/Scan.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/Modals/InstalledAppModal.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/hooks/useSyncAllAccounts.ts
Labels: desktop, mobile

#9879 feat(LLM): add hasEnabledOsNotifications flag to analytics
  .changeset/brave-jobs-marry.md
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/logic/getNotifPermissions.ts
  apps/ledger-live-mobile/src/logic/notifications.tsx
Labels: mobile

#9832 feat(LLM): Swiper Debugger in Developer Settings
  .changeset/funny-birds-sell.md
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/newArch/components/Swiper/components/SwipeableCard.tsx
  apps/ledger-live-mobile/src/newArch/components/Swiper/components/Swiper.tsx
  apps/ledger-live-mobile/src/newArch/components/Swiper/enums.ts
  apps/ledger-live-mobile/src/newArch/components/Swiper/hooks/__tests__/useCardRotation.test.ts
  apps/ledger-live-mobile/src/newArch/components/Swiper/hooks/useCardRotation.ts
  apps/ledger-live-mobile/src/newArch/components/Swiper/hooks/useSwiper.ts
  apps/ledger-live-mobile/src/newArch/components/Swiper/types.ts
  apps/ledger-live-mobile/src/newArch/components/Swiper/utils/__tests__/gesture.test.ts
  apps/ledger-live-mobile/src/newArch/components/Swiper/utils/gesture.ts
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/SwiperScreenDebug/__mocks__/reviews.ts
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/SwiperScreenDebug/cards/ExampleCard.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/SwiperScreenDebug/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/index.tsx
Labels: mobile

#9554 fix: set all zcash tx versions
  .changeset/rare-apes-appear.md
  libs/ledger-live-common/src/apps/config.ts
  libs/ledgerjs/packages/hw-app-btc/src/constants.ts
  libs/ledgerjs/packages/hw-app-btc/src/createTransaction.ts
  libs/ledgerjs/packages/hw-app-btc/src/getTrustedInput.ts
  libs/ledgerjs/packages/hw-app-btc/src/serializeTransaction.ts
  libs/ledgerjs/packages/hw-app-btc/src/splitTransaction.ts
  libs/ledgerjs/packages/hw-app-btc/src/startUntrustedHashTransactionInput.ts
  libs/ledgerjs/packages/hw-app-btc/src/types.ts
  libs/ledgerjs/packages/hw-app-btc/tests/createTransaction.test.ts
  libs/ledgerjs/packages/hw-app-btc/tests/splitTransaction.test.ts
Labels: common, ledgerjs

#9892 feat: Modular Asset Drawer redirection into the Add Account flow
  .changeset/big-pandas-arrive.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/enums.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/__tests__/useModularDrawerVisibility.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/__tests__/useOpenAssetFlow.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useModularDrawerVisibility.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useOpenAssetFlow.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountGridItem/Placeholder.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountRowItem/Placeholder.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountsHeader.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/EmptyStateAccounts.tsx
Labels: desktop

#9889 Feat: Large Mover Performance Component
  .changeset/sweet-rules-crash.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/Components/Performance.tsx
  libs/ui/packages/native/src/components/ProgressPoint/index.tsx
  libs/ui/packages/native/src/components/index.ts
  libs/ui/packages/native/storybook/stories/ProgressBar/ProgressBar.stories.tsx
Labels: mobile, ui, translations

#9912 fix: coerce app version when comparing with minversion
  .changeset/calm-glasses-refuse.md
  libs/ledger-live-common/src/apps/support.ts
Labels: common

#9922 [QAA-380] Post move cleanup of e2e tests
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/tests/component/drawer.component.ts
  apps/ledger-live-desktop/tests/component/layout.component.ts
  apps/ledger-live-desktop/tests/component/modal.component.ts
  apps/ledger-live-desktop/tests/docs/ci-workflow.png
  apps/ledger-live-desktop/tests/docs/development-workflow.png
  apps/ledger-live-desktop/tests/docs/setup.png
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/page/abstractClasses.ts
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/page/accounts.page.ts
  apps/ledger-live-desktop/tests/page/asset.page.ts
  apps/ledger-live-desktop/tests/page/drawer/asset.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/choose.asset.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/custom.image.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/delegate.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/ledger.sync.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/nft.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/operation.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/send.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/swap.confirmation.drawer.ts
  apps/ledger-live-desktop/tests/page/index.ts
  apps/ledger-live-desktop/tests/page/liveApp.page.ts
  apps/ledger-live-desktop/tests/page/market.page.ts
  apps/ledger-live-desktop/tests/page/modal/add.account.modal.ts
  apps/ledger-live-desktop/tests/page/modal/delegate.modal.ts
  apps/ledger-live-desktop/tests/page/modal/receive.modal.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/page/nftGallery.page.ts
  apps/ledger-live-desktop/tests/page/portfolio.page.ts
  apps/ledger-live-desktop/tests/page/settings.page.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/playwright.config.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/README.md
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delete.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/ledgerSync.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/nft.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/portfolio.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/settings.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  apps/ledger-live-desktop/tests/testdata/ledgerSyncTestData.ts
  apps/ledger-live-desktop/tests/userdata/accountCosmos2.json
  apps/ledger-live-desktop/tests/userdata/erc20-0-balance.json
  apps/ledger-live-desktop/tests/userdata/speculos-subAccount.json
  apps/ledger-live-desktop/tests/userdata/speculos-tests-app.json
  apps/ledger-live-desktop/tests/userdata/speculos-x-other-account.json
  apps/ledger-live-desktop/tests/utils/allureUtils.ts
  apps/ledger-live-desktop/tests/utils/cliUtils.ts
  apps/ledger-live-desktop/tests/utils/fileUtils.ts
  apps/ledger-live-desktop/tests/utils/ledgerSyncCliUtils.ts
  apps/ledger-live-desktop/tests/utils/runCli.ts
Labels: desktop

#9906 feat(llm): create storage migration script
  .changeset/brown-days-draw.md
  apps/ledger-live-mobile/src/newArch/storage/__tests__/asyncStorageWrapper.test.ts
  apps/ledger-live-mobile/src/newArch/storage/asyncStorageWrapper/index.ts
  apps/ledger-live-mobile/src/newArch/storage/index.ts
  apps/ledger-live-mobile/src/newArch/storage/types.ts
  apps/ledger-live-mobile/src/newArch/storage/utils/migrations/__tests__/asyncStorageToMMKV.test.ts
  apps/ledger-live-mobile/src/newArch/storage/utils/migrations/asyncStorageToMMKV.ts
  apps/ledger-live-mobile/src/newArch/storage/utils/migrations/constants.ts
  apps/ledger-live-mobile/src/newArch/storage/utils/migrations/types.ts
Labels: mobile

#9909 [QAA] Adding method to get amount to swap
  apps/ledger-live-mobile/e2e/page/liveApps/swapLiveApp.ts
  apps/ledger-live-mobile/e2e/page/speculos.page.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swap.ts
  e2e/desktop/tests/page/speculos.page.ts
  e2e/desktop/tests/page/swap.page.ts
  e2e/desktop/tests/specs/swap.spec.ts
  e2e/desktop/tests/userdata/speculos-tests-app.json
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/e2e/enum/Currency.ts
  libs/ledger-live-common/src/e2e/speculos.ts
  libs/ledger-live-common/src/e2e/swap.ts
Labels: mobile, common

#9938 [QAA] fixing method to get amount to swap - LLM LLD
  apps/ledger-live-mobile/e2e/page/liveApps/swapLiveApp.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swap.ts
  e2e/desktop/tests/page/swap.page.ts
  e2e/desktop/tests/specs/swap.spec.ts
Labels: mobile

#9867 [LIVE-18179] `Something went wrong` error briefly appears when reopening My Ledger while device app is open
  .changeset/twelve-hats-accept.md
  apps/ledger-live-desktop/src/renderer/screens/manager/index.tsx
  libs/ledger-live-common/src/hw/attemptToQuitApp.ts
Labels: desktop, common

#9921 bugfix: timeframe labels in market
  .changeset/selfish-roses-lay.md
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-btc-page-linux.png
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations, screenshots

#9902 chore: analytics for staking tokens log a list instead of booleans
  .changeset/slow-parents-cough.md
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
Labels: desktop, mobile

#9858 ci: remove continue-on-error property
  .github/workflows/test-mobile-e2e-reusable.yml
Labels: automation

#9923 :zap: (llm) MMKV - reset and rollback script
  .changeset/short-rats-suffer.md
  apps/ledger-live-mobile/src/newArch/storage/__tests__/asyncStorageWrapper.test.ts
  apps/ledger-live-mobile/src/newArch/storage/__tests__/mmkvStorageWrapper.test.ts
  apps/ledger-live-mobile/src/newArch/storage/__tests__/storage.test.ts
  apps/ledger-live-mobile/src/newArch/storage/asyncStorageWrapper/index.ts
  apps/ledger-live-mobile/src/newArch/storage/constants.ts
  apps/ledger-live-mobile/src/newArch/storage/index.ts
  apps/ledger-live-mobile/src/newArch/storage/mmkvStorageWrapper/index.ts
  apps/ledger-live-mobile/src/newArch/storage/types.ts
  apps/ledger-live-mobile/src/newArch/storage/utils/migrations/__tests__/asyncStorageToMMKV.test.ts
  apps/ledger-live-mobile/src/newArch/storage/utils/migrations/__tests__/migrator.test.ts
  apps/ledger-live-mobile/src/newArch/storage/utils/migrations/asyncStorageToMMKV.ts
  apps/ledger-live-mobile/src/newArch/storage/utils/migrations/constants.ts
  apps/ledger-live-mobile/src/newArch/storage/utils/migrations/types.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#9954 [QAA-550][Speculos][LLM] Account renaming persistance test.
  apps/ledger-live-mobile/e2e/page/accounts/account.page.ts
  apps/ledger-live-mobile/e2e/specs/speculos/account/accountRename.spec.ts
  apps/ledger-live-mobile/src/screens/AccountSettings/AccountNameRow.tsx
  apps/ledger-live-mobile/src/screens/AccountSettings/EditAccountName.tsx
Labels: mobile

#9811 feat: Solana SPL delegation flow
  .changeset/thick-comics-speak.md
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepSummary.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/steps/StepSummary.tsx
  libs/coin-modules/coin-solana/src/bridge.integration.test.ts
  libs/coin-modules/coin-solana/src/buildTransaction.ts
  libs/coin-modules/coin-solana/src/deviceTransactionConfig.ts
  libs/coin-modules/coin-solana/src/getTransactionStatus.ts
  libs/coin-modules/coin-solana/src/network/chain/web3.ts
  libs/coin-modules/coin-solana/src/prepareTransaction.ts
  libs/coin-modules/coin-solana/src/signOperation.ts
  libs/coin-modules/coin-solana/src/specs.ts
  libs/coin-modules/coin-solana/src/transaction.ts
  libs/coin-modules/coin-solana/src/tx-fees.ts
  libs/coin-modules/coin-solana/src/types.ts
  libs/exchange-module/package.json
  libs/ledger-live-common/package.json
  libs/wallet-api-acre-module/package.json
  pnpm-lock.yaml
  tests/dummy-wallet-app/package.json
Labels: desktop, common

#9949 chore(LLD): patch WebHidSendReportError with LDMK enabled
  .changeset/chilly-lizards-obey.md
  apps/ledger-live-desktop/__mocks__/@ledgerhq/device-transport-kit-web-hid.js
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/tests/jestSetup.js
  libs/live-dmk-desktop/src/errors.test.ts
  libs/live-dmk-desktop/src/errors.ts
  libs/live-dmk-desktop/src/index.ts
Labels: desktop

#9931 📈 (dmk): Add analytics for opt-in for transaction checks
  .changeset/weak-pumpkins-retire.md
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackTransactionChecksFlow.test.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackTransactionChecksFlow.ts
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  libs/coin-modules/coin-evm/src/__tests__/unit/signOperation.unit.test.ts
  libs/coin-modules/coin-evm/src/signOperation.ts
  libs/coin-modules/coin-evm/src/types/signer.ts
  libs/ledger-live-common/src/hw/actions/transaction.ts
  libs/ledgerjs/packages/types-live/src/transaction.ts
  libs/live-signer-evm/src/DmkSignerEth.ts
  libs/live-signer-evm/tests/DmkSignerEth.test.ts
Labels: desktop, common, ledgerjs

#9964 [LIVE-18386][DMK/LLD] Open app state during update firmware flow is not handle correctly
  .changeset/quiet-deers-decide.md
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/index.tsx
Labels: desktop

#9963 📈 (dmk) [LIVE-17933]: Add llm analytics for opt-in for transaction checks
  .changeset/quiet-snails-applaud.md
  apps/ledger-live-mobile/src/analytics/hooks/useTrackTransactionChecksFlow.test.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackTransactionChecksFlow.ts
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
Labels: mobile

#9968 feat(LIVE-18439): add swap live app feature flag to llm analytics
  .changeset/nasty-bats-clap.md
  apps/ledger-live-mobile/src/analytics/segment.ts
Labels: mobile

#9959 feat(llm): impl debug tools for storage migration
  .changeset/nine-weeks-do.md
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/newArch/storage/__tests__/asyncStorageWrapper.test.ts
  apps/ledger-live-mobile/src/newArch/storage/__tests__/mmkvStorageWrapper.test.ts
  apps/ledger-live-mobile/src/newArch/storage/__tests__/storage.test.ts
  apps/ledger-live-mobile/src/newArch/storage/asyncStorageWrapper/index.ts
  apps/ledger-live-mobile/src/newArch/storage/index.ts
  apps/ledger-live-mobile/src/newArch/storage/mmkvStorageWrapper/index.ts
  apps/ledger-live-mobile/src/newArch/storage/types.ts
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/StorageMigration.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/index.tsx
Labels: mobile

#9970 fix: 🩹 updating method to get amount to swap - LLM LLD
  apps/ledger-live-mobile/e2e/page/liveApps/swapLiveApp.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swap.ts
  e2e/desktop/tests/page/swap.page.ts
  e2e/desktop/tests/specs/swap.spec.ts
Labels: mobile

#9980 🔧 (llm) mock segment methods for jest
  apps/ledger-live-mobile/__tests__/jest-setup.js
  apps/ledger-live-mobile/src/analytics/hooks/useTrackAddAccountFlow.test.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackLedgerSyncFlow.test.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackMyLedgerEvents.test.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackOnboardingFlow.test.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackReceiveFlow.test.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackSendFlow.test.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackSwapFlow.test.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackTransactionChecksFlow.test.ts
Labels: mobile

#9983 fix: fix ptxCard tracks
  .changeset/shaggy-drinks-cry.md
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
Labels: desktop, mobile

#9975 feat: add more data on events for the dapp browser v3 [LIVE-18407]
  .changeset/lemon-boxes-try.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  libs/ledger-live-common/src/platform/logic.test.ts
  libs/ledger-live-common/src/platform/logic.ts
  libs/ledger-live-common/src/platform/tracking.ts
  libs/ledger-live-common/src/wallet-api/tracking.ts
  libs/ledger-live-common/src/wallet-api/types.ts
  libs/ledger-live-common/src/wallet-api/useDappLogic.ts
Labels: desktop, common

#9870 Feat: large mover timeframe component
  .changeset/fast-bugs-run.md
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/Components/TimeFrame.tsx
  libs/ui/packages/native/src/components/Form/TabSelector/index.tsx
  libs/ui/packages/native/storybook/stories/Form/TabSelector.stories.tsx
Labels: mobile, ui

#9962 chore(react:ui): 📖 fix Storybook types and hot reload after an error
  .changeset/swift-garlics-work.md
  libs/ui/packages/react/package.json
  libs/ui/packages/react/src/components/asorted/Icon/Icons.stories.tsx
  libs/ui/packages/react/src/components/asorted/Icon/NotificationIcon.stories.tsx
  libs/ui/packages/react/src/components/cta/Toggle/Toggle.stories.tsx
  libs/ui/packages/react/src/components/form/Checkbox/Checkbox.stories.tsx
  libs/ui/packages/react/src/components/form/Radio/Radio.stories.tsx
  libs/ui/packages/react/src/components/form/Switch/Switch.stories.tsx
  libs/ui/packages/react/src/components/layout/Carousel/Carousel.stories.tsx
  libs/ui/packages/react/src/components/layout/Drawer/Drawer.stories.tsx
  libs/ui/packages/react/src/components/layout/Popin/Popin.stories.tsx
  libs/ui/packages/react/src/components/navigation/FlowStepper/FlowStepper.stories.tsx
  libs/ui/packages/react/src/components/navigation/sideBar/SideBar/SideBar.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/Input/Input.stories.tsx
  libs/ui/packages/react/src/pre-ldls/types.ts
  pnpm-lock.yaml
Labels: ui

#9998 [Detox] Adding LLM swap live app isReady
  apps/ledger-live-mobile/e2e/bridge/client.ts
  apps/ledger-live-mobile/e2e/bridge/server.ts
  apps/ledger-live-mobile/e2e/bridge/types.ts
  apps/ledger-live-mobile/e2e/specs/speculos/swap/swap.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/index.ts
Labels: mobile

#9955 fix: test new github action with fake SEED
  .changeset/old-snails-sell.md
  .github/workflows/test-coin-tester.yml
  tools/actions/composites/run-coin-tester/action.yml
  tools/actions/composites/setup-coin-tester-env/action.yml
Labels: tools, automation

#9989 bugfix: LIVE-14178 - Fix Cannot use 'in' operator to search for 'links' in Invalid extension provided
  .changeset/nasty-cows-retire.md
  apps/ledger-live-desktop/src/renderer/components/TranslatedError/hooks/useErrorLinks.test.tsx
  apps/ledger-live-desktop/src/renderer/components/TranslatedError/hooks/useErrorLinks.tsx
  apps/ledger-live-desktop/src/renderer/components/TranslatedError/utils/index.test.ts
  apps/ledger-live-desktop/src/renderer/components/TranslatedError/utils/index.ts
Labels: desktop

#10002 fix: manuelle run fixed
  .github/workflows/test-coin-tester.yml
Labels: automation

#9997 llm-mmkv: add analytics and debug error
  .changeset/modern-papayas-impress.md
  apps/ledger-live-mobile/src/newArch/storage/index.ts
  apps/ledger-live-mobile/src/newArch/storage/types.ts
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/StorageMigration.tsx
Labels: mobile

#9950 feat: Large Mover Footer Component
  .changeset/shaggy-knives-judge.md
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/Components/Footer.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/Components/__tests__/Footer.test.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/Components/__tests__/LargeMoverGraph.test.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/hooks/useFooterQuickAction.tsx
  libs/ui/packages/native/src/components/cta/QuickAction/QuickActionButton/index.tsx
  libs/ui/packages/native/src/components/cta/QuickAction/QuickActionList/index.tsx
Labels: mobile, ui

#10003 feat(react:ui): 🔎 implement the new search component UI
  .changeset/chilled-bikes-act.md
  libs/ui/packages/react/src/pre-ldls/components/Search/Search.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/Search/Search.tsx
  libs/ui/packages/react/src/pre-ldls/components/index.ts
  libs/ui/packages/react/src/pre-ldls/hooks/index.ts
  libs/ui/packages/react/src/pre-ldls/hooks/useDebouncedCallback.stories.tsx
  libs/ui/packages/react/src/pre-ldls/hooks/useDebouncedCallback.ts
Labels: ui

#9935 Feat: Large Mover Information Component
  .changeset/rotten-bats-accept.md
  apps/ledger-live-mobile/src/components/Delta.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/Components/Information/AthAtlBlock.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/Components/Information/InfoCard.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/Components/Information/index.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/Components/__tests__/LargeMoverGraph.test.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/hooks/useDateFormat.ts
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/hooks/useInformations.ts
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/types.d.ts
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/utils/index.test.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/utils/index.tsx
  knip.json
Labels: mobile, translations

#10010 fix: Reorder HW operations during SUI TX signing
  .changeset/green-garlics-enjoy.md
  libs/coin-modules/coin-sui/src/bridge/signOperation.ts
Labels: fork

#10017 Fix invalid matrix JSON in Coin Tester workflow
  .github/workflows/test-coin-tester.yml
Labels: automation

#10037 [QAA] adding e2e swap test + refacto swap tests
  apps/ledger-live-mobile/e2e/page/liveApps/swapLiveApp.ts
  e2e/desktop/tests/page/swap.page.ts
  e2e/desktop/tests/specs/swap.spec.ts
  libs/ledger-live-common/src/e2e/models/Swap.ts
  libs/ledger-live-common/src/e2e/swap.ts
Labels: mobile, common

#10048 [QAA[Detox Fix ledger sync
  apps/ledger-live-mobile/e2e/page/settings/ledgerSync.page.ts
  apps/ledger-live-mobile/e2e/specs/speculos/ledgerSync/ledgerSync.spec.ts
Labels: mobile

#10018 feat(LLD): asset type list component
  .changeset/moody-games-fix.md
  libs/ui/packages/react/package.json
  libs/ui/packages/react/src/pre-ldls/components/AssetItem/AssetItem.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/AssetItem/AssetItem.tsx
  libs/ui/packages/react/src/pre-ldls/components/AssetList/AssetList.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/AssetList/AssetList.tsx
  libs/ui/packages/react/src/pre-ldls/components/VirtualList/VirtualList.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/VirtualList/VirtualList.tsx
  libs/ui/packages/react/src/pre-ldls/components/index.ts
  libs/ui/packages/react/src/pre-ldls/libs/index.ts
  pnpm-lock.yaml
Labels: ui

#10052 fix: wrong transaction kind for solana SPL [LIVE-18586]
  .changeset/khaki-brooms-sort.md
  libs/coin-modules/coin-solana/src/prepareTransaction.ts
Labels: desktop, mobile, common, ui, ledgerjs, tools, translations, cli

#10055 🐛 (llm): Fix DMK BLE for LLM
  .changeset/early-islands-tickle.md
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/AppProviders.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDeviceItem.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairingContent/BleFailedPairing.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/DmkBleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/DmkBleDevicesScanning.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/index.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/hooks/useEnableBluetooth.ts
  apps/ledger-live-mobile/src/components/SelectDevice2/Item.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/Scanning.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/index.tsx
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/hooks/useLdmkFeatureFlagInitiallyEnabled.test.ts
  libs/ledger-live-common/src/hooks/useLdmkFeatureFlagInitiallyEnabled.ts
  libs/live-dmk-desktop/package.json
  libs/live-dmk-mobile/package.json
  libs/live-dmk-mobile/src/errors.ts
  libs/live-dmk-mobile/src/hooks/index.ts
  libs/live-dmk-mobile/src/hooks/useBleDevicePairing.ts
  libs/live-dmk-mobile/src/hooks/useBleDevicesScanning.test.tsx
  libs/live-dmk-mobile/src/hooks/useBleDevicesScanning.ts
  libs/live-dmk-mobile/src/hooks/useDeviceManagementKit.test.tsx
  libs/live-dmk-mobile/src/hooks/useDeviceManagementKit.tsx
  libs/live-dmk-mobile/src/hooks/useLdmkFeatureEnabled.test.tsx
  libs/live-dmk-mobile/src/hooks/useLdmkFeatureEnabled.ts
  libs/live-dmk-mobile/src/transport/DeviceManagementKitTransport.test.ts
  libs/live-dmk-mobile/src/transport/DeviceManagementKitTransport.ts
  libs/live-dmk-shared/package.json
  libs/live-signer-evm/package.json
  pnpm-lock.yaml
Labels: mobile, common

#10056 🔥 Hotfix 2025-04-25 (targeting LLM latest)
  apps/cli/CHANGELOG.md
  apps/cli/package.json
  apps/ledger-live-desktop/CHANGELOG.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-mobile/CHANGELOG.md
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/AppProviders.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDeviceItem.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairingContent/BleFailedPairing.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/DmkBleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/DmkBleDevicesScanning.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/index.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/hooks/useEnableBluetooth.ts
  apps/ledger-live-mobile/src/components/SelectDevice2/Item.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/Scanning.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/index.tsx
  apps/web-tools/CHANGELOG.md
  apps/web-tools/package.json
  e2e/desktop/CHANGELOG.md
  e2e/desktop/package.json
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/CHANGELOG.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/hooks/useLdmkFeatureFlagInitiallyEnabled.test.ts
  libs/ledger-live-common/src/hooks/useLdmkFeatureFlagInitiallyEnabled.ts
  libs/live-dmk-desktop/CHANGELOG.md
  libs/live-dmk-desktop/package.json
  libs/live-dmk-mobile/CHANGELOG.md
  libs/live-dmk-mobile/package.json
  libs/live-dmk-mobile/src/errors.ts
  libs/live-dmk-mobile/src/hooks/index.ts
  libs/live-dmk-mobile/src/hooks/useBleDevicePairing.ts
  libs/live-dmk-mobile/src/hooks/useBleDevicesScanning.test.tsx
  libs/live-dmk-mobile/src/hooks/useBleDevicesScanning.ts
  libs/live-dmk-mobile/src/hooks/useDeviceManagementKit.test.tsx
  libs/live-dmk-mobile/src/hooks/useDeviceManagementKit.tsx
  libs/live-dmk-mobile/src/hooks/useLdmkFeatureEnabled.test.tsx
  libs/live-dmk-mobile/src/hooks/useLdmkFeatureEnabled.ts
  libs/live-dmk-mobile/src/transport/DeviceManagementKitTransport.test.ts
  libs/live-dmk-mobile/src/transport/DeviceManagementKitTransport.ts
  libs/live-dmk-shared/CHANGELOG.md
  libs/live-dmk-shared/package.json
  libs/live-signer-evm/package.json
  libs/test-utils/CHANGELOG.md
  libs/test-utils/package.json
  pnpm-lock.yaml
  tests/dummy-wallet-app/CHANGELOG.md
  tests/dummy-wallet-app/package.json
Labels: mobile, common

#10051 :bug: (llm) fix ratingsDataOfUserSelector type
  .changeset/strange-suits-fix.md
  apps/ledger-live-mobile/src/reducers/ratings.ts
Labels: mobile

#10025 LIVE-18338: implement protocol info modal for api deposit flow
  .changeset/quiet-pets-fail.md
  apps/ledger-live-mobile/src/actions/earn.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/RootNavigator/EarnLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/reducers/earn.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/PTX/Earn/EarnProtocolInfoDrawer.tsx
  libs/ledger-live-common/src/featureFlags/stakePrograms/index.test.ts
  libs/ui/packages/icons/src/svg/protocol-apy.svg
  libs/ui/packages/icons/src/svg/protocol-strategy.svg
  libs/ui/packages/icons/src/svg/protocol-tvl.svg
  libs/ui/packages/icons/src/svg/protocol.svg
Labels: mobile, common, ui, translations

#10062 fix(LLM): discover search bar auto correct
  .changeset/fuzzy-dolls-grab.md
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Search/SearchBar.tsx
Labels: mobile

#10001 bugfix: Renaming accounts in Account Settings
  .changeset/real-snakes-arrive.md
  apps/ledger-live-mobile/__tests__/test-renderer.tsx
  apps/ledger-live-mobile/src/screens/AccountSettings/EditAccountName.tsx
  apps/ledger-live-mobile/src/screens/AccountSettings/__tests__/EditAccountName.test.tsx
Labels: mobile

#10016 bugfix(MemoTag): focus when clicking on Add Memotag
  .changeset/grumpy-actors-cross.md
  apps/ledger-live-mobile/src/screens/SendFunds/02-SelectRecipient.tsx
Labels: mobile

#10063 bugfixe: Discreet mode wallet selection
  .changeset/smooth-birds-chew.md
  apps/ledger-live-mobile/src/screens/RequestAccount/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/SelectAccount.tsx
Labels: mobile

#10045 feat: remove NFT support in LLD
  .changeset/quiet-seals-begin.md
  apps/ledger-live-desktop/src/renderer/hooks/nfts/useNftSupportFeature.ts
  apps/ledger-live-desktop/src/renderer/screens/account/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-firstAccountPage-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/account-page-with-stake-button-and-banner-linux.png
  apps/ledger-live-desktop/tests/specs/settings/settings.spec.ts-snapshots/settings-accounts-page-linux.png
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs, screenshots

#10067 bugfixe: Wrong size for ledger nano X Image on ledger sync
  .changeset/famous-nails-give.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/FollowInstructions/index.tsx
Labels: mobile

#10080 bugfix: Screenshots (NFTs)
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-firstAccountPage-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/account-page-with-stake-button-and-banner-linux.png
Labels: desktop, screenshots

#10066 fix: localize stellar polyfill and revert it once used
  .changeset/gorgeous-weeks-protect.md
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/polyfill.ts
  libs/coin-modules/coin-stellar/.unimportedrc.json
  libs/coin-modules/coin-stellar/package.json
  libs/coin-modules/coin-stellar/src/globals.d.ts
  libs/coin-modules/coin-stellar/src/network/horizon.ts
  libs/coin-modules/coin-stellar/src/polyfill.ts
  pnpm-lock.yaml
Labels: mobile

#9869 chore(LLD-LLM): add LDMK related FF in segment extra payload
  .changeset/swift-dogs-wink.md
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
Labels: desktop, mobile, Stale

#10070 [QAA] Swap a coin for which you have no account yet
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/AccountList.tsx
  e2e/desktop/tests/component/drawer.component.ts
  e2e/desktop/tests/fixtures/common.ts
  e2e/desktop/tests/specs/swap.spec.ts
  e2e/desktop/tests/userdata/1AccountDOT.json
  e2e/desktop/tests/utils/speculosUtils.ts
Labels: desktop

#10086 [QAA] Fixing xray integration
  .github/workflows/test-ui-e2e-only-desktop.yml
  e2e/desktop/aggregate-xray-reports.sh
Labels: automation

#10088 Temp exclude mobile E2E tests from affected-libs test pipeline
  .github/workflows/test-design-system-reusable.yml
  .github/workflows/test-libs-reusable.yml
  e2e/mobile/package.json
Labels: automation

#9888 [LIVE-18045] Babylon mainnet light integration
  .changeset/metal-planes-visit.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/families/cosmos/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/Delegation/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-darwin.json
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-linux.json
  apps/ledger-live-mobile/src/families/cosmos/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-mobile/src/families/cosmos/Delegations/index.tsx
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/Account/ListHeaderComponent.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  apps/web-tools/live-common-setup.ts
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/coin-modules/coin-cosmos/src/chain/Babylon.ts
  libs/coin-modules/coin-cosmos/src/chain/chain.ts
  libs/coin-modules/coin-cosmos/src/chain/chain.unit.test.ts
  libs/coin-modules/coin-cosmos/src/config.ts
  libs/coin-modules/coin-cosmos/src/specs.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/account/helpers.ts
  libs/ledger-live-common/src/currencies/mock.ts
  libs/ledger-live-common/src/currencies/sortByMarketcap.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/babylon.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/cosmos.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/cryptoOrg.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/persistence.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/stargaze.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/babylon.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/babylon.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/crypto-icons/src/svg/BABY.svg
Labels: desktop, mobile, common, ui, ledgerjs, cli

#10087 conf(live-common): add default value to polygon explorer batch size
  .changeset/curvy-needles-mate.md
  libs/ledger-live-common/src/families/evm/config.ts
Labels: common

#10020 :hammer: (llm-mmkv) performance overlay
  .changeset/silver-crews-relate.md
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/newArch/storage/__tests__/storage.test.ts
  apps/ledger-live-mobile/src/newArch/storage/index.ts
  apps/ledger-live-mobile/src/newArch/storage/screens/PerformanceMonitor/index.tsx
  apps/ledger-live-mobile/src/newArch/storage/utils/performance/index.ts
  apps/ledger-live-mobile/src/newArch/utils/__tests__/captureExceptionWithExtraData.test.ts
  apps/ledger-live-mobile/src/newArch/utils/__tests__/rejectWithError.test.ts
  apps/ledger-live-mobile/src/newArch/utils/captureExceptionWithExtraData.ts
  apps/ledger-live-mobile/src/newArch/utils/rejectWithError.ts
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/StorageMigration.tsx
  libs/env/src/env.ts
Labels: mobile

#9742 :pencil2: (lld) add fallback to sync error message
  .changeset/chilly-hairs-cough.md
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountSyncStatusIndicator.tsx
Labels: desktop, Stale

#9833 feat(LLD): skip memo tag disclaimer icp
  .changeset/thick-coats-doubt.md
  apps/ledger-live-desktop/src/newArch/features/MemoTag/constants.ts
Labels: desktop, Stale

#10059 bugfixe: wrong size for retry button in device action
  .changeset/light-mice-boil.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
Labels: desktop
