Repository LedgerHQ/ledger-live, pull requests merged in 2025-07, with the labels that each got.

#10598 feat: sui tokens support
  .changeset/fast-oranges-mate.md
  .changeset/quick-pigs-shout.md
  libs/coin-modules/coin-sui/package.json
  libs/coin-modules/coin-sui/src/api/index.integration.test.ts
  libs/coin-modules/coin-sui/src/bridge/bridge.integration.test.ts
  libs/coin-modules/coin-sui/src/bridge/broadcast.ts
  libs/coin-modules/coin-sui/src/bridge/buildOptimisticOperation.ts
  libs/coin-modules/coin-sui/src/bridge/buildTransaction.ts
  libs/coin-modules/coin-sui/src/bridge/createTransaction.ts
  libs/coin-modules/coin-sui/src/bridge/estimateMaxSpendable.ts
  libs/coin-modules/coin-sui/src/bridge/getTransactionStatus.test.ts
  libs/coin-modules/coin-sui/src/bridge/getTransactionStatus.ts
  libs/coin-modules/coin-sui/src/bridge/prepareTransaction.test.ts
  libs/coin-modules/coin-sui/src/bridge/prepareTransaction.ts
  libs/coin-modules/coin-sui/src/bridge/signOperation.ts
  libs/coin-modules/coin-sui/src/bridge/synchronisation.test.ts
  libs/coin-modules/coin-sui/src/bridge/synchronisation.ts
  libs/coin-modules/coin-sui/src/bridge/transaction.test.ts
  libs/coin-modules/coin-sui/src/bridge/transaction.ts
  libs/coin-modules/coin-sui/src/bridge/utils.ts
  libs/coin-modules/coin-sui/src/logic/craftTransaction.test.ts
  libs/coin-modules/coin-sui/src/logic/craftTransaction.ts
  libs/coin-modules/coin-sui/src/logic/estimateFees.test.ts
  libs/coin-modules/coin-sui/src/logic/estimateFees.ts
  libs/coin-modules/coin-sui/src/network/index.ts
  libs/coin-modules/coin-sui/src/network/sdk.integration.test.ts
  libs/coin-modules/coin-sui/src/network/sdk.test.ts
  libs/coin-modules/coin-sui/src/network/sdk.ts
  libs/coin-modules/coin-sui/src/types/bridge.fixture.ts
  libs/coin-modules/coin-sui/src/types/bridge.ts
  libs/env/src/env.ts
  libs/ledgerjs/packages/cryptoassets/src/__snapshots__/currencies.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/sui/index.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/sui/sui.test.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/sui-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/sui.json
  libs/ledgerjs/packages/cryptoassets/src/data/sui.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
  libs/ledgerjs/packages/hw-app-sui/package.json
  pnpm-lock.yaml
Labels: ledgerjs, coin-modules-api

#10749 bugfix: fix banner click
  .changeset/perfect-geese-teach.md
  apps/ledger-live-desktop/src/renderer/components/Updater/Banner.tsx
Labels: desktop

#10732 :sparkles: (LLD-AA) fix layout fund accounts screen
  .changeset/nasty-hornets-occur.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/FundAccount/components/ActionsContainer.tsx
  libs/ui/packages/react/src/pre-ldls/components/AccountItem/AccountItem.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/AccountItem/AccountItem.tsx
Labels: desktop, ui

#10759 :sparkles: (LLD-AA) fix spacing issues
  .changeset/happy-hornets-divide.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerAddAccountFlowManager.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/FundAccount/index.tsx
  libs/ui/packages/react/src/pre-ldls/components/AccountList/AccountList.tsx
Labels: desktop, ui

#10682 feat/swap test cases3
  apps/ledger-live-mobile/e2e/bridge/client.ts
  apps/ledger-live-mobile/e2e/bridge/types.ts
  apps/ledger-live-mobile/src/components/TooltipLabel.tsx
  apps/ledger-live-mobile/src/screens/OperationDetails/Footer.tsx
  apps/ledger-live-mobile/src/screens/Swap/History/OperationRow.tsx
  apps/ledger-live-mobile/src/screens/Swap/History/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/navigationHandlers/useSwapHeaderNavigation.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/OperationDetails.tsx
  e2e/mobile/bridge/server.ts
  e2e/mobile/helpers/commonHelpers.ts
  e2e/mobile/helpers/elementHelpers.ts
  e2e/mobile/jest.globalSetup.ts
  e2e/mobile/page/accounts/account.page.ts
  e2e/mobile/page/accounts/assetAccounts.page.ts
  e2e/mobile/page/index.ts
  e2e/mobile/page/liveApps/swapLiveApp.ts
  e2e/mobile/page/trade/swap.page.ts
  e2e/mobile/page/wallet/portfolio.page.ts
  e2e/mobile/page/wallet/transferMenu.drawer.ts
  e2e/mobile/specs/swap/otherTestCases/swap.other.ts
  e2e/mobile/specs/swap/otherTestCases/swapCheckProviderOneInch.spec.ts
  e2e/mobile/specs/swap/otherTestCases/swapCheckProviderVelora.spec.ts
  e2e/mobile/specs/swap/otherTestCases/swapEntryPoints.spec.ts
  e2e/mobile/specs/swap/otherTestCases/swapExportHistoryOperations.spec.ts
  e2e/mobile/specs/swap/otherTestCases/swapSeeHistoryOperations.spec.ts
  e2e/mobile/specs/swap/otherTestCases/swapSwitchSendAndReceiveCurrencies.spec.ts
  e2e/mobile/specs/swap/otherTestCases/swapWithSendMaxETHtoBTC.spec.ts
  e2e/mobile/specs/swap/otherTestCases/swapWithSendMaxUSDTtoBTC.spec.ts
  e2e/mobile/specs/swap/swap.ts
  e2e/mobile/types/global.d.ts
  e2e/mobile/userdata/speculos-tests-app.json
  e2e/mobile/utils/fileUtils.ts
  e2e/mobile/utils/swapUtils.ts
Labels: mobile

#10782 Fix: Recovery Key shadow adjustment
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SyncOnboardingCompanion.tsx
Labels: mobile, Activation

#10781 Fix: changing debit account no longer disables continue button
  .changeset/angry-waves-beg.md
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientField.tsx
Labels: desktop

#10768 feat(LLD): account list selection refinements
  .changeset/weak-chicken-sniff.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerAddAccountFlowManager.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsAdded/components/SuccessIcon.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#10804 :rotating_light: Hotfix Release merge conflicts
  apps/ledger-live-mobile/CHANGELOG.md
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Labels: mobile

#10802 :bug: (dmk-shared) [LIVE-20101]: Support bootloader mode in PrepareManager device action
  .changeset/flat-pots-relax.md
  .changeset/mean-pens-look.md
  libs/ledger-live-common/src/hw/connectManager.ts
  libs/live-dmk-shared/src/device-action/PrepareConnectManager/PrepareConnectManagerDeviceAction.test.ts
  libs/live-dmk-shared/src/device-action/PrepareConnectManager/PrepareConnectManagerDeviceAction.ts
Labels: common

#10813 Feat/cardano conway cert
  .changeset/lucky-steaks-cheer.md
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/steps/StepSummary.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/UndelegateFlowModal/steps/StepSummary.tsx
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/cardano/UndelegationFlow/01-Summary.tsx
  libs/coin-modules/coin-cardano/src/api/api-types.ts
  libs/coin-modules/coin-cardano/src/api/getDelegationInfo.ts
  libs/coin-modules/coin-cardano/src/api/submitTransaction.ts
  libs/coin-modules/coin-cardano/src/buildOptimisticOperation.ts
  libs/coin-modules/coin-cardano/src/buildTransaction.test.ts
  libs/coin-modules/coin-cardano/src/buildTransaction.ts
  libs/coin-modules/coin-cardano/src/serialization.ts
  libs/coin-modules/coin-cardano/src/signer.ts
  libs/coin-modules/coin-cardano/src/synchronisation.ts
  libs/coin-modules/coin-cardano/src/types.ts
  libs/coin-modules/coin-cardano/src/typhonSerializer.ts
  libs/ledger-live-common/src/families/cardano/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/cardano/signerSerializer.ts
  libs/ledger-live-common/src/mock/account.ts
Labels: desktop, mobile, common, coin-modules-api

#10811 refactor(coin-evm): remove cyclic imports
  .changeset/clean-shirts-call.md
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/GasLimitField.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/SendAmountFields/SelectFeeStrategy.tsx
  apps/ledger-live-mobile/src/families/evm/EvmCustomFees/Evm1559CustomFees.tsx
  apps/ledger-live-mobile/src/families/evm/EvmCustomFees/EvmLegacyCustomFees.tsx
  apps/ledger-live-mobile/src/families/evm/EvmFeesStrategy.tsx
  apps/ledger-live-mobile/src/families/evm/ScreenEditGasLimit.tsx
  apps/ledger-live-mobile/src/families/evm/SelectFeesStrategy.tsx
  apps/ledger-live-mobile/src/screens/Fees/index.tsx
  libs/coin-modules/coin-evm/.eslintrc.js
  libs/coin-modules/coin-evm/package.json
  libs/coin-modules/coin-evm/src/__tests__/unit/adapters/ethers.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/broadcast.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/buildOptimisticOperation.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/editTransaction/hasMinimumFunds.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/logic.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/prepareTransaction.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/signOperation.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/synchronization.unit.test.ts
  libs/coin-modules/coin-evm/src/adapters/ethers.ts
  libs/coin-modules/coin-evm/src/adapters/etherscan.ts
  libs/coin-modules/coin-evm/src/adapters/ledger.ts
  libs/coin-modules/coin-evm/src/api/node/ledger.ts
  libs/coin-modules/coin-evm/src/buildOptimisticOperation.ts
  libs/coin-modules/coin-evm/src/createTransaction.ts
  libs/coin-modules/coin-evm/src/editTransaction/getFormattedFeeFields.ts
  libs/coin-modules/coin-evm/src/editTransaction/hasMinimumFunds.ts
  libs/coin-modules/coin-evm/src/getTransactionStatus.ts
  libs/coin-modules/coin-evm/src/logic.ts
  libs/coin-modules/coin-evm/src/prepareTransaction.ts
  libs/coin-modules/coin-evm/src/specs.ts
  libs/coin-modules/coin-evm/src/transaction.ts
  libs/coin-modules/coin-evm/src/utils.ts
  libs/coin-tester-modules/coin-tester-evm/src/indexer.ts
  libs/ledger-live-common/src/families/evm/bridge/mock.ts
  libs/ledger-live-common/src/families/evm/platformAdapter.test.ts
  libs/ledger-live-common/src/families/evm/platformAdapter.ts
  libs/ledger-live-common/src/wallet-api/useDappLogic.ts
Labels: desktop, mobile, common, coin-modules-api

#10816 ci: change the order where it opens PRs and merge them
  .github/workflows/release-prepare-hotfix.yml
Labels: automation, skip-sync-check

#10793 fix: Sui alpaca integration
  libs/coin-modules/coin-sui/src/api/index.integration.test.ts
  libs/coin-modules/coin-sui/src/api/index.ts
Labels: coin-modules-api

#10698 feat: add cryptoIcon in storybook native pre-ldls
  .changeset/stale-badgers-invent.md
  libs/ui/packages/native/package.json
  libs/ui/packages/native/src/pre-ldls/components/CryptoIcon/CryptoIcon.stories.tsx
  libs/ui/packages/native/src/pre-ldls/components/CryptoIcon/CryptoIcon.tsx
  pnpm-lock.yaml
Labels: ui

#10766 feat(🗑️): remove llmNetworkBasedAddAccountFlow FF
  .changeset/healthy-books-obey.md
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/RootNavigator/AddAccountsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/RequestAccountNavigator.tsx
  apps/ledger-live-mobile/src/components/SelectableAccountsList.tsx
  apps/ledger-live-mobile/src/families/hedera/NoAssociatedAccounts.tsx
  apps/ledger-live-mobile/src/icons/PauseCircle.tsx
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/addAccount.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/hooks/useSpecificAccountsListViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/SelectAddAccountMethod/useSelectAddAccountMethodViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/index.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/02-SelectDevice.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/02-TokenCurrencyDisclaimer.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/03-Accounts.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/04-Success.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/AddAccountsHeaderRightClose.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/Modals/InstalledAppModal.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectNetwork.tsx
  apps/ledger-live-mobile/src/screens/RequestAccount/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Summary/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  apps/ledger-live-mobile/src/types/subject.ts
  e2e/mobile/specs/deleteAccount/deleteAccount.ts
  e2e/mobile/specs/send/send.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#10809 feat(LLD): add account integration tests
  .changeset/serious-walls-smash.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__mocks__/useSelectAssetFlow.mock.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__tests__/addAccountFlow.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/analytics/addAccount.types.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/ConnectYourDevice/index.tsx
Labels: desktop

#10835 feat: Add AssetList component in LLM ldls
  .changeset/hip-geese-stare.md
  libs/ui/packages/native/package.json
  libs/ui/packages/native/src/pre-ldls/components/AssetItem/AssetItem.stories.tsx
  libs/ui/packages/native/src/pre-ldls/components/AssetItem/AssetItem.tsx
  libs/ui/packages/native/src/pre-ldls/components/AssetTypeList/AssetList.stories.tsx
  libs/ui/packages/native/src/pre-ldls/components/AssetTypeList/AssetList.tsx
  libs/ui/packages/native/src/pre-ldls/components/Tag/Tag.tsx
  libs/ui/packages/native/src/pre-ldls/components/index.ts
  libs/ui/packages/native/src/pre-ldls/components/sharedStoryBook.tsx
  pnpm-lock.yaml
Labels: ui

#10846 feat(coin-evm): add alpaca `combine` method
  .changeset/stupid-beers-search.md
  libs/coin-modules/coin-evm/src/api/index.ts
  libs/coin-modules/coin-evm/src/logic/combine.test.ts
  libs/coin-modules/coin-evm/src/logic/combine.ts
  libs/coin-modules/coin-evm/src/logic/index.ts
Labels: coin-modules-api

#10843 fix(e2e): QAA-698_Fix swap related issues
  e2e/mobile/helpers/elementHelpers.ts
  e2e/mobile/page/liveApps/swapLiveApp.ts
  e2e/mobile/page/trade/swap.page.ts
  e2e/mobile/specs/swap/otherTestCases/swap.other.ts
  e2e/mobile/specs/swap/otherTestCases/tooLowAmountForQuoteSwaps/Usdt2ToBtc24EthFee.spec.ts
  e2e/mobile/specs/swap/swap.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: common

#10844 fix: Sui listOperation uses minHeight
  .changeset/wild-kangaroos-nail.md
  libs/coin-modules/coin-sui/src/api/index.integration.test.ts
  libs/coin-modules/coin-sui/src/api/index.ts
Labels: coin-modules-api

#10849 chore: add platform to the performance-report file to avoid collision
  .github/workflows/test-mobile-synthetics-reusable.yml
Labels: automation, skip-sync-check

#10856 fix: sequence number too high
  .changeset/khaki-starfishes-exercise.md
  libs/coin-framework/src/api/types.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/signOperation.ts
Labels: common, coin-modules-api

#10878 fix: buy sell close
  .changeset/sweet-lobsters-happen.md
  apps/ledger-live-mobile/src/components/WebPTXPlayer/CustomHandlers.ts
Labels: mobile

#10867 ci: update default speculos device
  .github/workflows/test-mobile-e2e-reusable.yml
  e2e/mobile/helpers/commonHelpers.ts
Labels: automation, skip-sync-check

#10873 feat(😈): handle asset and network selection
  .changeset/swift-pets-sell.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useModularDrawerFlowState.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/Debug/index.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/ModularDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/__integrations__/modularDrawer.test.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/__mocks__/currencies.mock.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/__mocks__/useGroupedCurrenciesByProvider.mock.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/__tests__/__mocks__/modularDrawerMocks.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/__tests__/useAssets.test.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/__tests__/useModularDrawerFlowStepManager.test.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/__tests__/useModularDrawerState.test.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/__tests__/useProviders.test.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/useAssets.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/useModularDrawerFlowStepManager.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/useModularDrawerState.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/useProviders.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/screens/AssetSelection/index.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/screens/NetworkSelection/index.tsx
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/modularDrawer/utils/index.test.ts
  libs/ledger-live-common/src/modularDrawer/utils/index.ts
Labels: desktop, mobile, common

#10852 [LIVE-20127] Fix un tracking issue in onboarding
  .changeset/heavy-mails-check.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SyncOnboardingCompanion.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SyncOnboardingCompanion.tsx
Labels: desktop, mobile, Activation

#10885 Feat/live 20012 pictograms onboarding restore
  .changeset/happy-spies-train.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SeedStep.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SyncOnboardingCompanion.tsx
  libs/ui/packages/icons/src/svg/RecoveryKey.svg
Labels: desktop, mobile, ui, Activation

#10901 fix: sui send tokens issue
  .changeset/ninety-nails-joke.md
  libs/coin-modules/coin-sui/src/api/index.integration.test.ts
  libs/coin-modules/coin-sui/src/bridge/buildTransaction.integration.test.ts
  libs/coin-modules/coin-sui/src/bridge/buildTransaction.ts
  libs/coin-modules/coin-sui/src/logic/craftTransaction.ts
  libs/coin-modules/coin-sui/src/network/sdk.integration.test.ts
  libs/coin-modules/coin-sui/src/network/sdk.test.ts
  libs/coin-modules/coin-sui/src/network/sdk.ts
Labels: coin-modules-api

#10911 :bug: (common) [DSDK-867]: Fix current app detection for old firmwares
  .changeset/short-ligers-matter.md
  apps/ledger-live-mobile/package.json
  libs/ledger-live-common/package.json
  libs/ledgerjs/packages/hw-app-exchange/package.json
  libs/live-dmk-desktop/package.json
  libs/live-dmk-mobile/package.json
  libs/live-dmk-shared/package.json
  libs/live-signer-evm/package.json
  pnpm-lock.yaml
Labels: mobile, common, ledgerjs

#10913 fix: sui send tokens hotfix
  .changeset/ninety-nails-joke.md
  libs/coin-modules/coin-sui/src/api/index.integration.test.ts
  libs/coin-modules/coin-sui/src/bridge/buildTransaction.integration.test.ts
  libs/coin-modules/coin-sui/src/bridge/buildTransaction.ts
  libs/coin-modules/coin-sui/src/logic/craftTransaction.ts
  libs/coin-modules/coin-sui/src/network/sdk.integration.test.ts
  libs/coin-modules/coin-sui/src/network/sdk.test.ts
  libs/coin-modules/coin-sui/src/network/sdk.ts
Labels: coin-modules-api

#10914 Support/qaa new addresses
  e2e/desktop/tests/userdata/speculos-subAccount.json
  e2e/desktop/tests/userdata/speculos-tests-app.json
  e2e/desktop/tests/userdata/speculos-x-other-account.json
  e2e/mobile/userdata/speculos-tests-app.json
  e2e/mobile/userdata/speculos-x-other-account.json
  libs/ledger-live-common/src/e2e/enum/Account.ts
Labels: common

#10893 feat(LIVE-19841): send kyc banner feature flag to swap live app
  .changeset/tough-mangos-invite.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
Labels: desktop

#10904 fix: xrp blockheight set to zero if new account
  .changeset/sour-wolves-boil.md
  libs/ledger-live-common/src/bridge/generic-alpaca/getAccountShape.ts
Labels: common

#10928 Fix/local hedera truncated address in tx details
  .changeset/dull-peaches-exist.md
  apps/ledger-live-desktop/src/renderer/components/OperationsList/AddressCell.tsx
Labels: desktop

#10957 feat(coin-evm): add getBalance method
  .changeset/gentle-planes-flow.md
  libs/coin-modules/coin-evm/src/api/index.integ.test.ts
  libs/coin-modules/coin-evm/src/api/index.ts
  libs/coin-modules/coin-evm/src/logic/getBalance.test.ts
  libs/coin-modules/coin-evm/src/logic/getBalance.ts
  libs/coin-modules/coin-evm/src/logic/index.ts
Labels: coin-modules-api

#10950 :sparkles: (LLM-UI) search component
  .changeset/purple-bananas-marry.md
  libs/ui/packages/native/src/pre-ldls/components/Search/Search.stories.tsx
  libs/ui/packages/native/src/pre-ldls/components/Search/Search.tsx
  libs/ui/packages/native/src/pre-ldls/hooks/index.ts
  libs/ui/packages/native/src/pre-ldls/hooks/useDebouncedCallback.stories.tsx
  libs/ui/packages/native/src/pre-ldls/hooks/useDebouncedCallback.ts
  libs/ui/packages/react/src/pre-ldls/components/Search/Search.tsx
Labels: ui

#10946 :sparkles: (llm): Dmk error tracking
  .changeset/tidy-snails-know.md
  apps/ledger-live-mobile/src/analytics/hooks/useTrackDmkErrorsEvents.test.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackDmkErrorsEvents.ts
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/DmkBleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/GenericErrorView.tsx
  apps/ledger-live-mobile/src/components/SupportLinkError.tsx
  apps/ledger-live-mobile/src/components/TranslatedError/TranslatedError.tsx
  apps/ledger-live-mobile/src/components/TranslatedError/hooks/useErrorLinks.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/SyncOnboarding/GenuineCheckErrorDrawer.tsx
  libs/live-dmk-mobile/src/index.ts
Labels: mobile, translations

#10871 :bug: (lld) delete LS key on hard reset
  .changeset/lazy-seahorses-lay.md
  apps/ledger-live-desktop/src/main/db/index.ts
Labels: desktop

#10982 test: fix XRP integration tests
  libs/coin-modules/coin-xrp/src/api/index.integ.test.ts
Labels: coin-modules-api

#10954 feature/LIVE-19993 Add Bridge function
  .changeset/fifty-glasses-cry.md
  libs/ledger-live-common/src/bridge/crypto-assets/index.test.ts
  libs/ledger-live-common/src/bridge/crypto-assets/index.ts
  libs/ledger-live-common/src/bridge/crypto-assets/type.ts
  libs/ledger-live-common/src/bridge/impl.ts
Labels: common

#10993 fix: add MarketList loadingTime + improve session tracking
  .changeset/moody-moose-notice.md
  apps/ledger-live-mobile/src/datadog.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketList/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/utils/constants.ts
Labels: mobile

#10907 Fix/sui sync resolve 2
  .changeset/tough-horses-teach.md
  libs/coin-modules/coin-sui/src/api/index.test.ts
  libs/coin-modules/coin-sui/src/bridge/buildTransaction.test.ts
  libs/coin-modules/coin-sui/src/bridge/index.test.ts
  libs/coin-modules/coin-sui/src/bridge/preload.test.ts
  libs/coin-modules/coin-sui/src/bridge/signOperation.test.ts
  libs/coin-modules/coin-sui/src/network/sdk.test.ts
  libs/coin-modules/coin-sui/src/network/sdk.ts
Labels: fork, coin-modules-api

#10999 ci: pass slack bot token to optional
  .github/workflows/test-mobile-synthetics-reusable.yml
Labels: automation, skip-sync-check

#11004 fix: broken lld on develop
  libs/coin-framework/src/sanction/index.integration.test.ts
  libs/ledger-live-common/src/bridge/crypto-assets/index.test.ts
  libs/ledger-live-common/src/bridge/crypto-assets/index.ts
  libs/ledger-live-common/src/bridge/useBridgeTransaction.test.ts
Labels: common

#10932 fix: sui operation sync and time
  .changeset/young-forks-relax.md
  libs/coin-modules/coin-sui/src/api/index.ts
  libs/coin-modules/coin-sui/src/network/sdk.ts
Labels: coin-modules-api

#10965 LIVE-19118 Add ethereumLikeInfo to Celo.
  .changeset/curvy-poets-vanish.md
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42220/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42220/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42220/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42220/index.ts
Labels: ledgerjs

#10996 fix: sui swap device disconnected
  .changeset/thirty-icons-search.md
  libs/coin-modules/coin-sui/src/bridge/signOperation.test.ts
  libs/coin-modules/coin-sui/src/bridge/signOperation.ts
Labels: fork

#11021 :bug: (lld) account grid tooltip
  .changeset/sweet-planets-drop.md
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountGridItem/Header.tsx
Labels: desktop

#11018 test: Hedera bridge.integration.test snapshot update
  libs/ledger-live-common/src/families/hedera/__snapshots__/bridge.integration.test.ts.snap
Labels: common, fork

#11015 chore: enable swap velora redirection test
  e2e/desktop/tests/artifacts/.gitkeep
  e2e/desktop/tests/specs/swap.other.spec.ts
  libs/ledger-live-common/src/e2e/families/osmosis.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: common

#11025 feat(LLD): edit account name on MAD existing new account
  .changeset/wise-cooks-love.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerAddAccountFlowManager.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__tests__/addAccountFlow.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsWarning/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsWarning/types.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsWarning/useWarningConfig.tsx
Labels: desktop

#10987 feat(😈): Add Account entry points for MAD
  .changeset/ninety-eels-unite.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerFlowManager.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__mocks__/useGroupedCurrenciesByProvider.mock.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__tests__/modules.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__tests__/selectAccountFlow.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__tests__/selectNetworkFlow.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/NetworkSelection/NetworkSelection.stories.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/utils/tests/currencyUtils.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/utils/tests/getCurrenciesIds.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/utils/tests/getProvider.test.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/addAccount.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AddAccountButton/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/hooks/useSpecificAccountsListViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/types.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/SelectAddAccountMethod/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/SelectAddAccountMethod/useSelectAddAccountMethodViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/StepFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/index.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/ModularDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/__integrations__/modularDrawer.test.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/__tests__/useAssets.test.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/__tests__/useModularDrawerState.test.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/__tests__/useProviders.test.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/useModularDrawerState.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/index.ts
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AccountsSection.tsx
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/modularDrawer/__mocks__/currencies.mock.ts
  libs/ledger-live-common/src/modularDrawer/__mocks__/useGroupedCurrenciesByProvider.mock.ts
  libs/ledger-live-common/src/modularDrawer/utils/__tests__/haveOneCommonProvider.test.ts
  libs/ledger-live-common/src/modularDrawer/utils/haveOneCommonProvider.ts
  libs/ledger-live-common/src/modularDrawer/utils/index.ts
Labels: desktop, mobile, common

#11040 chore(LLM): Rework MAD debug screen
  .changeset/tame-hounds-end.md
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/Debug/index.tsx
Labels: mobile

#10857 fix(LIVE-19967): fix swap custom errors and add translations to the e…
  .changeset/twelve-fireants-breathe.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SwapNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SwapNavigator.ts
  apps/ledger-live-mobile/src/components/WebPTXPlayer/CustomHandlers.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/index.ts
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SwapCustomError.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/index.ts
  apps/ledger-live-mobile/src/screens/Swap/types.ts
  libs/ledger-live-common/src/exchange/error.ts
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledgerjs/packages/hw-app-exchange/src/ReturnCode.test.ts
  libs/ledgerjs/packages/hw-app-exchange/src/ReturnCode.ts
Labels: desktop, mobile, common, ledgerjs, translations

#11022 feat(coin-evm): support EIP-1559 in `craftTransaction`
  .changeset/fifty-panthers-relax.md
  libs/coin-modules/coin-evm/src/api/index.integ.test.ts
  libs/coin-modules/coin-evm/src/logic/craftTransaction.test.ts
  libs/coin-modules/coin-evm/src/logic/craftTransaction.ts
  libs/coin-modules/coin-evm/src/network/node/types.ts
Labels: coin-modules-api

#11046 chore(LLM): rework useTokens to handle light & dark correctly
  .changeset/dull-zebras-fly.md
  libs/ui/packages/native/src/pre-ldls/libs/index.ts
Labels: ui

#10968 feat(LIVE-20213): update react ui chip styling
  .changeset/moody-eggs-talk.md
  libs/ui/packages/react/src/components/tabs/Chip/Chip.stories.tsx
  libs/ui/packages/react/src/components/tabs/Chip/index.tsx
Labels: ui

#10976 [SWAP] New test cases on low amount and error management
  apps/ledger-live-mobile/src/screens/Fees/FeeContainer.tsx
  e2e/desktop/tests/page/swap.page.ts
  e2e/desktop/tests/specs/swap.other.spec.ts
  e2e/mobile/page/liveApps/swapLiveApp.ts
  e2e/mobile/specs/swap/otherTestCases/swap.other.ts
  e2e/mobile/specs/swap/otherTestCases/swapNetworkFeesAboveAccountBalance.spec.ts
Labels: mobile

#11061 chore/mobile: drop ButtonUseTouchableContext
  apps/ledger-live-mobile/src/AppProviders.tsx
  apps/ledger-live-mobile/src/components/Button.tsx
  apps/ledger-live-mobile/src/context/ButtonUseTouchableContext.ts
Labels: mobile

#11063 feat(live-20336): add description to the network fees drawers
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawerLiveApp/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/RootNavigator/FeesNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Fees/index.tsx
Labels: desktop, mobile, translations

#11057 feat(LLD): integrate APY component into MAD network page
  .changeset/odd-bags-travel.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__tests__/modules.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/NetworkSelection/NetworkSelection.stories.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/NetworkSelection/modules/createNetworkConfigurationHook.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/NetworkSelection/modules/useLeftAccountsModule.tsx
  apps/ledger-live-desktop/src/newArch/features/__mocks__/useSelectAssetFlow.mock.ts
Labels: desktop

#11051 feat(LLD): integrate APY component into MAD asset page
  .changeset/many-avocados-hide.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__tests__/modules.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/AssetSelection.stories.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/modules/createAssetConfigurationHook.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/modules/useLeftApyModule.tsx
Labels: desktop

#11075 ✨ LLD - Add lldModularDrawerBackendData FF
  .changeset/cyan-rocks-worry.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/ModularDrawer/constants.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs

#11059 feat: update swap nav bar
  .changeset/witty-gorillas-glow.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Navbar/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/index.tsx
  libs/ui/packages/react/src/components/tabs/Chip/index.tsx
Labels: desktop, ui

#10990 build: upgrade build target for android with corresponding required fixes
  .changeset/smart-penguins-talk.md
  apps/ledger-live-mobile/android/app/src/main/AndroidManifest.xml
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/src/components/KeyboardView.tsx
  apps/ledger-live-mobile/src/components/TabBar/CustomTabBar.tsx
  apps/ledger-live-mobile/src/logic/keyboardVisible.ts
  apps/ledger-live-mobile/src/screens/AccountSettings/EditAccountName.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/AppsScreen.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/CatalogSection.tsx
  apps/ledger-live-mobile/src/screens/Platform/v2/Catalog/Layout.tsx
  patches/react-native-fast-pbkdf2@0.3.1.patch
  pnpm-lock.yaml
Labels: mobile

#11028 fix(LIVE-18521): add unknown tooltip
  .changeset/blue-ligers-smoke.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#10395 fix: improve solana raw tx handling [LIVE-19975]
  .changeset/small-parents-brake.md
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/steps/StepSummary.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/models/LiveAppWebview.ts
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/e2e/page/liveApps/dummyWalletApp.webView.ts
  apps/ledger-live-mobile/e2e/specs/wallet-api.spec.ts
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/src/families/solana/ScreenEditMemo.tsx
  apps/ledger-live-mobile/src/families/solana/SendRowsCustom.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/SendFunds/04-Summary.tsx
  libs/coin-modules/coin-solana/src/bridge.integration.test.ts
  libs/coin-modules/coin-solana/src/buildTransaction.ts
  libs/coin-modules/coin-solana/src/getTransactionStatus.ts
  libs/coin-modules/coin-solana/src/prepareTransaction.test.ts
  libs/coin-modules/coin-solana/src/prepareTransaction.ts
  libs/coin-modules/coin-solana/src/rawTransaction.ts
  libs/coin-modules/coin-solana/src/signOperation.ts
  libs/coin-modules/coin-solana/src/specs.ts
  libs/coin-modules/coin-solana/src/transaction.ts
  libs/coin-modules/coin-solana/src/tx-fees.ts
  libs/coin-modules/coin-solana/src/types.ts
  libs/ledger-live-common/src/families/solana/bridge/mock-data.ts
  libs/ledger-live-common/src/families/solana/bridge/mock.ts
  tests/dummy-wallet-app/src/App.tsx
Labels: desktop, mobile, common, translations, Stale

#11123 :sparkles: (MAD-LLM) asset list reduce bottom margin
  .changeset/sweet-carpets-cover.md
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/screens/AssetSelection/index.tsx
Labels: mobile

#11092 feat(LLM): migrate toast provider to redux
  .changeset/lucky-foxes-relate.md
  apps/ledger-live-mobile/__tests__/test-renderer.tsx
  apps/ledger-live-mobile/src/AppProviders.tsx
  apps/ledger-live-mobile/src/actions/toast.ts
  apps/ledger-live-mobile/src/components/CustomImage/CustomImageBottomModal.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftList.hook.ts
  apps/ledger-live-mobile/src/components/TabBar/TransferDrawer.tsx
  apps/ledger-live-mobile/src/components/Toast/Toast.tsx
  apps/ledger-live-mobile/src/logic/postOnboarding/useCompleteAction.ts
  apps/ledger-live-mobile/src/reducers/index.ts
  apps/ledger-live-mobile/src/reducers/toast.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/EditDeviceName.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/Snackbar/Snackbar.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/Snackbar/SnackbarContainer.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/Snackbars.tsx
Labels: mobile

#11159 fix: update aptos sdk
  .changeset/fresh-drinks-complain.md
  libs/coin-modules/coin-aptos/.unimportedrc.json
  libs/coin-modules/coin-aptos/package.json
  libs/coin-modules/coin-aptos/src/__tests__/network/client.test.ts
  libs/coin-modules/coin-aptos/src/network/client.ts
  libs/coin-modules/coin-aptos/src/network/graphql/queries.ts
  libs/coin-modules/coin-aptos/src/network/graphql/types.ts
  libs/coin-modules/coin-aptos/src/preload.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, ui, ledgerjs, cli

#11166 fix: fix typo with composites branch name
  .github/workflows/test-mobile-e2e-reusable.yml
Labels: automation, skip-sync-check

#11167 feat: disable video recording for mock tests in e2e-ci script
  apps/ledger-live-mobile/scripts/e2e-ci.mjs
Labels: mobile

#11138 core(coin-framework): pass `FeeEstimation` to `craftTransaction`
  .changeset/proud-suits-occur.md
  libs/coin-framework/src/api/types.ts
  libs/coin-modules/coin-aptos/src/__tests__/api/index.integ.test.ts
  libs/coin-modules/coin-stellar/src/api/index.integ.test.ts
  libs/coin-modules/coin-stellar/src/api/index.test.ts
  libs/coin-modules/coin-stellar/src/api/index.ts
  libs/coin-modules/coin-tezos/src/api/index.integ.test.ts
  libs/coin-modules/coin-tezos/src/api/index.test.ts
  libs/coin-modules/coin-tezos/src/api/index.ts
  libs/coin-modules/coin-tron/src/logic/craftTransaction.integ.test.ts
  libs/coin-modules/coin-tron/src/logic/craftTransaction.test.ts
  libs/coin-modules/coin-tron/src/logic/craftTransaction.ts
  libs/coin-modules/coin-xrp/src/api/index.integ.test.ts
  libs/coin-modules/coin-xrp/src/api/index.test.ts
  libs/coin-modules/coin-xrp/src/api/index.ts
Labels: coin-modules-api

#11168 fix: aptos validators query
  .changeset/chilled-bottles-punch.md
  apps/ledger-live-mobile/src/families/aptos/AccountBalanceSummaryFooter.tsx
  libs/coin-modules/coin-aptos/src/network/graphql/queries.ts
Labels: mobile

#11170 chore: remove staking components
  .changeset/purple-carpets-develop.md
  apps/ledger-live-mobile/src/families/aptos/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-mobile/src/families/aptos/AccountBodyHeader.ts
  apps/ledger-live-mobile/src/families/aptos/RestakingFlow/01-Amount.tsx
  apps/ledger-live-mobile/src/families/aptos/RestakingFlow/03-ValidationError.tsx
  apps/ledger-live-mobile/src/families/aptos/RestakingFlow/03-ValidationSuccess.tsx
  apps/ledger-live-mobile/src/families/aptos/RestakingFlow/index.tsx
  apps/ledger-live-mobile/src/families/aptos/RestakingFlow/types.ts
  apps/ledger-live-mobile/src/families/aptos/Staking/LabelRight.tsx
  apps/ledger-live-mobile/src/families/aptos/Staking/Row.tsx
  apps/ledger-live-mobile/src/families/aptos/Staking/index.tsx
  apps/ledger-live-mobile/src/families/aptos/StakingFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/aptos/StakingFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/aptos/StakingFlow/04-ValidationError.tsx
  apps/ledger-live-mobile/src/families/aptos/StakingFlow/04-ValidationSuccess.tsx
  apps/ledger-live-mobile/src/families/aptos/StakingFlow/SelectValidator.tsx
  apps/ledger-live-mobile/src/families/aptos/StakingFlow/index.tsx
  apps/ledger-live-mobile/src/families/aptos/StakingFlow/types.ts
  apps/ledger-live-mobile/src/families/aptos/UnstakingFlow/01-Amount.tsx
  apps/ledger-live-mobile/src/families/aptos/UnstakingFlow/03-ValidationError.tsx
  apps/ledger-live-mobile/src/families/aptos/UnstakingFlow/03-ValidationSuccess.tsx
  apps/ledger-live-mobile/src/families/aptos/UnstakingFlow/index.tsx
  apps/ledger-live-mobile/src/families/aptos/UnstakingFlow/types.ts
  apps/ledger-live-mobile/src/families/aptos/WithdrawingFlow/01-Amount.tsx
  apps/ledger-live-mobile/src/families/aptos/WithdrawingFlow/03-ValidationError.tsx
  apps/ledger-live-mobile/src/families/aptos/WithdrawingFlow/03-ValidationSuccess.tsx
  apps/ledger-live-mobile/src/families/aptos/WithdrawingFlow/index.tsx
  apps/ledger-live-mobile/src/families/aptos/WithdrawingFlow/types.ts
  apps/ledger-live-mobile/src/families/aptos/accountActions.tsx
  apps/ledger-live-mobile/src/families/aptos/index.ts
  apps/ledger-live-mobile/src/families/aptos/operationDetails.tsx
  apps/ledger-live-mobile/src/families/aptos/shared/02-SelectAmount.tsx
  apps/ledger-live-mobile/src/families/aptos/shared/ValidatorHead.tsx
  apps/ledger-live-mobile/src/families/aptos/shared/ValidatorImage.tsx
  apps/ledger-live-mobile/src/families/aptos/shared/ValidatorRow.tsx
  apps/ledger-live-mobile/src/families/index.ts
  apps/ledger-live-mobile/src/screens/ConnectDevice.tsx
Labels: mobile

#11172 :wastebasket: (llm) remove unused imported videos
  .changeset/fuzzy-carrots-rescue.md
  apps/ledger-live-mobile/assets/videos/index.ts
  apps/ledger-live-mobile/assets/videos/infinityPassDark/infinityPassCenter.mp4
  apps/ledger-live-mobile/assets/videos/infinityPassDark/infinityPassLoop.mp4
  apps/ledger-live-mobile/assets/videos/infinityPassDark/infinityPassPart01.mp4
  apps/ledger-live-mobile/assets/videos/infinityPassDark/infinityPassPart02.mp4
  apps/ledger-live-mobile/assets/videos/infinityPassLight/infinityPassCenter.mp4
  apps/ledger-live-mobile/assets/videos/infinityPassLight/infinityPassLoop.mp4
  apps/ledger-live-mobile/assets/videos/infinityPassLight/infinityPassPart01.mp4
  apps/ledger-live-mobile/assets/videos/infinityPassLight/infinityPassPart02.mp4
Labels: mobile
