Repository LedgerHQ/ledger-live, pull requests merged in 2025-01, with the labels that each got.

#8784 test(aptos): improve unit tests
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/families/aptos/errors.ts
  libs/ledger-live-common/src/families/aptos/getTransactionStatus.test.ts
  libs/ledger-live-common/src/families/aptos/getTransactionStatus.ts
Labels: desktop, mobile, common, translations

#8778 test(aptos): index api
  libs/ledger-live-common/src/families/aptos/api/index.test.ts
  libs/ledger-live-common/src/families/aptos/api/index.ts
Labels: common

#8762 feat: add error page for LLM
  .changeset/honest-badgers-develop.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/WebView.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/index.tsx
Labels: mobile, translations

#8792 test(aptos): improve unit tests
  libs/ledger-live-common/src/families/aptos/signOperation.test.ts
Labels: common

#8777 chore: Add market widget integration test ✅
  .changeset/fresh-needles-push.md
  apps/ledger-live-desktop/src/newArch/features/MarketPerformanceWidget/__integrations__/marketwidget.integration.test.tsx
  apps/ledger-live-desktop/src/newArch/features/MarketPerformanceWidget/__integrations__/shared.tsx
  apps/ledger-live-desktop/src/newArch/features/MarketPerformanceWidget/__tests__/helpers.test.ts
  apps/ledger-live-desktop/src/newArch/features/MarketPerformanceWidget/components/Container.tsx
  apps/ledger-live-desktop/src/newArch/features/MarketPerformanceWidget/components/Error.tsx
  apps/ledger-live-desktop/src/newArch/features/MarketPerformanceWidget/components/Footer.tsx
  apps/ledger-live-desktop/src/newArch/features/MarketPerformanceWidget/components/Header.tsx
  apps/ledger-live-desktop/src/newArch/features/MarketPerformanceWidget/components/MissingData.tsx
  apps/ledger-live-desktop/src/newArch/features/MarketPerformanceWidget/components/WidgetList.tsx
  apps/ledger-live-desktop/src/newArch/features/MarketPerformanceWidget/index.tsx
  apps/ledger-live-desktop/src/newArch/features/MarketPerformanceWidget/types.ts
  apps/ledger-live-desktop/src/newArch/features/MarketPerformanceWidget/useMarketPerformanceWidget.ts
  apps/ledger-live-desktop/src/newArch/features/MarketPerformanceWidget/utils/index.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.tsx
  apps/ledger-live-desktop/tests/handlers/fixtures/market/index.ts
  apps/ledger-live-desktop/tests/handlers/fixtures/market/mockedResponseBTC.json
  apps/ledger-live-desktop/tests/handlers/fixtures/market/mocketMarketList.json
  apps/ledger-live-desktop/tests/handlers/index.ts
  apps/ledger-live-desktop/tests/handlers/market.ts
Labels: desktop

#8670 feat: migrate all entry screen, ctas to new add account v2
  .changeset/moody-mugs-grin.md
  apps/ledger-live-mobile/src/components/RootNavigator/SwapNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/RequestAccountNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SwapNavigator.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Accounts/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/SelectAddAccountMethod/useSelectAddAccountMethodViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/types.ts
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/__integrations__/assetSelection.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/__integrations__/mockData.ts
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/components/NetworkBanner/index.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectCrypto/index.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectCrypto/useSelectCryptoViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectNetwork/index.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectNetwork/useSelectNetworkViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/types.ts
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/screens/SelectDevice/index.tsx
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/screens/SelectDevice/useSelectDeviceViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/types.ts
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/Modals/InstalledAppModal.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/RequestAccount/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Summary/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  libs/ledger-live-common/src/deposit/deposit.integration.test.ts
  libs/ledger-live-common/src/deposit/type.ts
  libs/ledger-live-common/src/deposit/useGroupedCurrenciesByProvider.hook.ts
Labels: mobile, common, translations

#8798 fix(aptos): enhancements corrections
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridge.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/families/aptos/api/index.ts
  libs/ledger-live-common/src/families/aptos/broadcast.test.ts
  libs/ledger-live-common/src/families/aptos/broadcast.ts
  libs/ledger-live-common/src/families/aptos/deviceTransactionConfig.ts
Labels: desktop, mobile, common, translations

#8579 Update `rsk` network name to `Rootstock`
  .changeset/stale-penguins-tap.md
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-darwin.json
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-linux.json
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: desktop, ledgerjs, fork

#8781 feat(aptos): improve aptos unit tests
  libs/ledger-live-common/src/families/aptos/getFeesForTransaction.test.ts
  libs/ledger-live-common/src/families/aptos/getFeesForTransaction.ts
Labels: common

#8729 [DSDK-620] Fix LLD crash (race condition in transport registration)
  .changeset/calm-waves-battle.md
  .changeset/real-eagles-scream.md
  apps/ledger-live-desktop/src/renderer/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-desktop/src/renderer/live-common-setup.ts
  apps/ledger-live-mobile/src/components/FirebaseFeatureFlags.tsx
  libs/ledger-live-common/src/e2e/index.ts
  libs/ledger-live-common/src/featureFlags/firebaseFeatureFlags.ts
Labels: desktop, mobile, common

#8794 test(aptos): synchronisation unit tests
  libs/ledger-live-common/src/families/aptos/api/index.test.ts
  libs/ledger-live-common/src/families/aptos/synchronisation.test.ts
  libs/ledger-live-common/src/families/aptos/synchronisation.ts
Labels: common

#8797 chore: tests
  libs/ledger-live-common/src/exchange/providers/swap.integration.test.ts
  libs/ledger-services/cal/src/partners/default.ts
Labels: common

#8759 fix :bug:(llm) qr code scanner crash
  .changeset/curvy-hornets-wink.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Synchronize/ScanQrCode.tsx
Labels: mobile

#8811 fix: transfer type label
  libs/ledger-live-common/src/families/aptos/deviceTransactionConfig.ts
Labels: common

#8717 feat: :sparkles: (llm)add new accounts list to wallet centric screen
  .changeset/fifty-toes-sit.md
  apps/ledger-live-mobile/__tests__/test-renderer.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/AccountsNavigator.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/accountsListScreen.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/mockedAccounts.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/components/AccountItem.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/components/AccountItem/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/components/AccountItem/useAccountItemModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/useAccountsListViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AddAccountButton/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/types.ts
  apps/ledger-live-mobile/src/newArch/features/Assets/screens/AssetsList/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AccountsSection.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/SectionTitle.tsx
Labels: mobile, translations

#8779 test(aptos): improvement to unit tests
  libs/ledger-live-common/src/families/aptos/buildTransaction.test.ts
  libs/ledger-live-common/src/families/aptos/createTransaction.test.ts
  libs/ledger-live-common/src/families/aptos/estimateMaxSpendable.test.ts
  libs/ledger-live-common/src/families/aptos/getFeesForTransaction.ts
  libs/ledger-live-common/src/families/aptos/transaction.test.ts
  libs/ledger-live-common/src/families/aptos/transaction.ts
Labels: common

#8817 Revert "Merge pull request #8724 from LedgerHQ/bugfix/ls-LIVE-15094"
  .changeset/curly-olives-smoke.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncStatus.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useGetMembers.ts
Labels: mobile

#8822 fix(aptos): revert mobile gemfile.lock
  apps/ledger-live-mobile/Gemfile.lock
Labels: mobile

#8800 [QAA] Update Swap tests to always choose valid provider
  .changeset/tame-geese-thank.md
  apps/ledger-live-desktop/src/renderer/reducers/devices.ts
  apps/ledger-live-desktop/tests/page/drawer/send.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/swap.confirmation.drawer.ts
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/e2e/enum/Swap.ts
  libs/ledger-live-common/src/e2e/enum/TransactionStatus.ts
  libs/ledger-live-common/src/e2e/models/Swap.ts
Labels: desktop, common

#8683 In `generate-screenshots` workflow, use commit action for generating signing commits
  .github/workflows/generate-screenshots.yml
  tools/actions/composites/update-snapshots-desktop/action.yml
Labels: tools, automation, Stale

#8825 feat: monochrome launcher icon for Android
  .changeset/cool-walls-look.md
  apps/ledger-live-mobile/android/app/src/main/res/drawable/monochrome.xml
  apps/ledger-live-mobile/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  apps/ledger-live-mobile/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
Labels: mobile, fork

#8831 fix: aptos e2e test with speculos
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  libs/ledger-live-common/src/e2e/enum/Account.ts
Labels: desktop, common

#8836 [QAA] [LLD] Refactoring: env setup step for swap tests
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
Labels: desktop

#8837 fix: aptos bridge integration test
  libs/ledger-live-common/src/families/aptos/bridge.integration.test.ts
  libs/ledger-live-common/src/families/aptos/bridge/js.ts
Labels: common

#8788 [QAA-354] playwright e2e speculos tests with Prod env
  apps/ledger-live-desktop/src/renderer/components/debug/DisableTransactionBroadcastWarning.tsx
  apps/ledger-live-desktop/tests/specs/speculos/ledgerSync.spec.ts
  apps/ledger-live-desktop/tests/userdata/erc20-0-balance.json
  apps/ledger-live-desktop/tests/userdata/ledgerSync.json
  apps/ledger-live-desktop/tests/userdata/skip-onboarding.json
  apps/ledger-live-desktop/tests/userdata/speculos-subAccount.json
Labels: desktop

#8818 feat :chart_with_upwards_trend: (llm): add analytics for new accounts list
  .changeset/hot-taxis-explain.md
  apps/ledger-live-mobile/src/components/NavigationHeaderBackButton.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/AccountsNavigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AddAccountButton/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/enums.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Assets/screens/AssetsList/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
Labels: mobile

#8830 feat :necktie: (llm): update and create deeplinks for new accounts list ui
  .changeset/mean-mangos-compete.md
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/types.ts
  apps/ledger-live-mobile/src/newArch/features/Assets/screens/AssetsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Assets/screens/AssetsList/types.ts
  apps/ledger-live-mobile/src/newArch/utils/parseBoolean.ts
Labels: mobile

#8774 :bug: (rn-ble) [ACRE]: Device disconnected error when trying to sign in on Acre
  .changeset/clever-tables-draw.md
  .changeset/young-bottles-flow.md
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  libs/ledgerjs/packages/react-native-hw-transport-ble/package.json
  libs/ledgerjs/packages/react-native-hw-transport-ble/src/BlePlxManager.ts
  libs/ledgerjs/packages/react-native-hw-transport-ble/src/BleTransport.ts
  pnpm-lock.yaml
Labels: mobile, ledgerjs

#8844 chore: update broken electron-devtools-installer
  .changeset/fair-avocados-carry.md
  apps/ledger-live-desktop/package.json
  pnpm-lock.yaml
Labels: desktop

#8841 fix: aptos addresses
  libs/ledger-live-common/src/e2e/enum/Account.ts
Labels: common

#8796 [QAA-377][Speculos][Detox] Adapt LLM send test
  .github/workflows/test-mobile-e2e-reusable.yml
  apps/ledger-live-mobile/e2e/bridge/client.ts
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/models/send.ts
  apps/ledger-live-mobile/e2e/page/accounts/account.page.ts
  apps/ledger-live-mobile/e2e/page/common.page.ts
  apps/ledger-live-mobile/e2e/page/index.ts
  apps/ledger-live-mobile/e2e/page/speculos.page.ts
  apps/ledger-live-mobile/e2e/page/trade/operationDetails.page.ts
  apps/ledger-live-mobile/e2e/page/trade/send.page.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/send.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/sendADA.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/sendALGO.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/sendATOM.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/sendBCH.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/sendDOGE.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/sendDOT.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/sendPOL.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/sendSOL.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/sendSepETH.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/sendTRX.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/sendXLM.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/sendXRP.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/receiveFlowETH.spec.ts
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/ConfirmationModal.tsx
  apps/ledger-live-mobile/src/components/ValidateOnDevice.tsx
  apps/ledger-live-mobile/src/components/ValidateOnDeviceDataRow.tsx
  apps/ledger-live-mobile/src/components/ValidateSuccess.tsx
  apps/ledger-live-mobile/src/screens/OperationDetails/Content.tsx
  apps/ledger-live-mobile/src/screens/OperationDetails/DataList.tsx
  apps/ledger-live-mobile/src/screens/SendFunds/SummaryToSection.tsx
  libs/coin-framework/src/transaction/common.ts
  libs/coin-modules/coin-algorand/src/deviceTransactionConfig.ts
  libs/coin-modules/coin-cardano/src/deviceTransactionConfig.ts
  libs/coin-modules/coin-cosmos/src/deviceTransactionConfig.ts
  libs/coin-modules/coin-polkadot/src/bridge/deviceTransactionConfig.ts
  libs/ledger-live-common/src/e2e/speculos.ts
  patches/detox@20.28.0.patch
  pnpm-lock.yaml
Labels: mobile, common, automation

#8839 fix: remove aptos unit test for function assertions
  libs/ledger-live-common/src/families/aptos/LedgerAccount.test.ts
  libs/ledger-live-common/src/families/aptos/bridge/js.test.ts
Labels: common

#8845 chore: move imported modules to a single file
  libs/ledger-live-common/src/families/aptos/bridge/bridgeHelpers/addresses.ts
  libs/ledger-live-common/src/families/aptos/bridge/bridgeHelpers/fee.ts
  libs/ledger-live-common/src/families/aptos/bridge/mock.ts
Labels: common

#8855 fix: llm perf issue on iOS due to Braze usage
  .changeset/tame-crabs-sit.md
  apps/ledger-live-mobile/src/dynamicContent/brazeContentCard.ts
Labels: mobile

#8856 Fix/release live 15674
  .changeset/tame-crabs-sit.md
  apps/ledger-live-mobile/src/dynamicContent/brazeContentCard.ts
Labels: mobile

#8846 [QAA-410][Detox][Speculos] Enable broadcasting on Mondays
  .github/workflows/test-mobile-e2e-reusable.yml
  .github/workflows/test-mobile-e2e.yml
  .github/workflows/test-ui-e2e-only-desktop.yml
  tools/actions/composites/setup-e2e-broadcast/action.yml
Labels: tools, automation

#8857 bugfix: QR code scanning was failing to retrieve recipient's address in send flow
  .changeset/spotty-jobs-poke.md
  apps/ledger-live-mobile/src/components/CameraScreen/QRCodeBottomLayer.tsx
  apps/ledger-live-mobile/src/components/CameraScreen/index.tsx
  apps/ledger-live-mobile/src/components/Scanner.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ImportAccounts/Scan.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Broken/BenchmarkQRStream.tsx
Labels: mobile, translations

#8860 fix: continue button
  .changeset/fair-students-greet.md
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/fields/ValidatorField.tsx
Labels: desktop

#8872 fix(llm): ⚡️ fix braze related performance issues
  .changeset/poor-students-kick.md
  apps/ledger-live-mobile/src/dynamicContent/brazeContentCard.ts
  apps/ledger-live-mobile/src/dynamicContent/useDynamicContent.tsx
  apps/ledger-live-mobile/src/dynamicContent/useDynamicContentLogic.ts
Labels: mobile

#8832 [QAA-307][Detox][Speculos] Adap nft gallery tests
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/page/nft/nftViewer.page.ts
  apps/ledger-live-mobile/e2e/page/wallet/nftGallery.page.ts
  apps/ledger-live-mobile/e2e/page/wallet/portfolio.page.ts
  apps/ledger-live-mobile/e2e/page/wallet/walletTabNavigator.page.ts
  apps/ledger-live-mobile/e2e/specs/speculos/ledgerSync/ledgerSync.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/nftGallery.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/receiveFlowETH.spec.ts
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftList.tsx
Labels: mobile

#8731 feat: zenrock integration
  .changeset/stupid-eggs-fry.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-darwin.json
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-linux.json
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  apps/web-tools/live-common-setup.ts
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/coin-modules/coin-cosmos/src/buildTransaction.ts
  libs/coin-modules/coin-cosmos/src/chain/Zenrock.ts
  libs/coin-modules/coin-cosmos/src/chain/chain.ts
  libs/coin-modules/coin-cosmos/src/chain/chain.unit.test.ts
  libs/coin-modules/coin-cosmos/src/config.ts
  libs/coin-modules/coin-cosmos/src/specs.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/account/helpers.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/currencies/mock.ts
  libs/ledger-live-common/src/currencies/sortByMarketcap.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/cosmos.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/cryptoOrg.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/xion.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/zenrock.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/zenrock.integration.test.ts
  libs/ledger-live-common/src/families/cosmos/datasets/zenrock.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/crypto-icons/src/svg/ROCK.svg
Labels: desktop, mobile, common, ui, ledgerjs, cli

#8842 feat: Uniswap's term's of use
  .changeset/afraid-falcons-eat.md
  apps/ledger-live-desktop/src/renderer/components/TransactionConfirm/ConfirmFooter.tsx
  apps/ledger-live-desktop/src/renderer/components/TransactionConfirm/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/exchange/providers/swap.ts
Labels: desktop, common, translations

#8756 fix: earn on llm
  .changeset/bright-cooks-breathe.md
  apps/ledger-live-mobile/src/families/solana/accountActions.tsx
  libs/coin-framework/src/account/helpers.test.ts
  libs/coin-framework/src/account/helpers.ts
Labels: mobile

#8884 Fix/revert llm
  .changeset/itchy-horses-fry.md
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFilteredProviders.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#8859 feat :lipstick:(llm): change add accounts button logic
  .changeset/five-waves-attend.md
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioAssets.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/__integrations__/portfolioAssets.integration.test.tsx
Labels: mobile

#8887 [Speculos][Playwright][Detox] Fixing scheduled run broadcast
  .github/workflows/test-mobile-e2e-reusable.yml
  .github/workflows/test-ui-e2e-only-desktop.yml
  tools/actions/composites/setup-e2e-broadcast/action.yml
Labels: tools, automation

#8879 [QAA-420] - Adding e2e test - reset app
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Help/ResetButton.tsx
  apps/ledger-live-desktop/tests/page/index.ts
  apps/ledger-live-desktop/tests/page/modal/settings.modal.ts
  apps/ledger-live-desktop/tests/page/onboarding.page.ts
  apps/ledger-live-desktop/tests/page/settings.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/settings.spec.ts
  apps/ledger-live-desktop/tests/utils/fileUtils.ts
Labels: desktop

#8890 Smartling on-demand translation delivery from release
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: mobile, translations

#8891 FIX/CN-1018: Add revolut to LSApplicationQueriesSchemes
  .changeset/tame-tools-unite.md
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
Labels: mobile

#8858 FIX: LIVE-15628: Convert account address to wallet api id which is the value expected by the dapp browser V2
  .changeset/dry-buttons-compete.md
  .changeset/thick-frogs-lie.md
  apps/ledger-live-desktop/src/renderer/families/evm/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/EthStakingModalBody.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/index.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal_deprecated/EthStakingModalBody.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal_deprecated/index.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/modals.ts
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveFunds.tsx
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts
  apps/ledger-live-mobile/src/components/Stake/useStakingDrawer.tsx
  apps/ledger-live-mobile/src/families/evm/accountActions.tsx
  libs/ledger-live-common/src/wallet-api/converters.ts
Labels: desktop, mobile, common

#8801 fix: wait for providers parsing process before pressing on crypto item in receive flow
  .changeset/wicked-camels-joke.md
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
Labels: mobile

#8850 bugfix: QR code scanning was failing to retrieve recipient's address in send flow
  .changeset/spotty-jobs-poke.md
  apps/ledger-live-mobile/src/components/CameraScreen/QRCodeBottomLayer.tsx
  apps/ledger-live-mobile/src/components/CameraScreen/index.tsx
  apps/ledger-live-mobile/src/components/Scanner.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ImportAccounts/Scan.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Broken/BenchmarkQRStream.tsx
Labels: mobile, translations

#8902 [LLM][Detox] Add AppDelegate file to Detox build cache key
  .github/workflows/test-mobile-e2e-reusable.yml
Labels: automation

#8885 fix: do not put the selected validator as first on the list
  .changeset/swift-trains-raise.md
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/fields/ValidatorField.tsx
Labels: desktop

#8907 update market page search linux
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-search-bitcoin-linux.png
Labels: desktop, screenshots

#8901 fea(live-15403): remove padding for webview for swap mobile
  .changeset/rich-shirts-punch.md
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/WebView.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/index.tsx
Labels: mobile

#8896 [QAA] adding checks - B2CQA-2073
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.tsx
  apps/ledger-live-desktop/tests/component/drawer.component.ts
  apps/ledger-live-desktop/tests/page/drawer/operation.drawer.ts
  apps/ledger-live-desktop/tests/page/index.ts
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/ledgerSync.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/nft.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
Labels: desktop

#8802 feat: Scan & device accounts - add account v2
  .changeset/grumpy-rockets-pump.md
  apps/ledger-live-mobile/src/animations/lottie.json
  apps/ledger-live-mobile/src/components/RootNavigator/types/AccountSettingsNavigator.ts
  apps/ledger-live-mobile/src/components/SelectDevice2/Item.tsx
  apps/ledger-live-mobile/src/components/SelectableAccountsList.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/icons/Pause.tsx
  apps/ledger-live-mobile/src/icons/PauseCircle.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Accounts/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/types.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountSuccess/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/components/AddressTypeTooltip/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/components/AddressTypeTooltip/useAddressTypeTooltipViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/components/AnimatedGradient/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/components/ScanDeviceAccountsFooter/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/components/ScanDeviceAccountsFooter/useAnimatedStyle.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/components/ScannedAccountsSection/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/constants.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/types.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/useScanDeviceAccountsViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectCrypto/useSelectCryptoViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectNetwork/index.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectNetwork/useSelectNetworkViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/__integrations__/deviceSelection.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/screens/ConnectDevice/index.tsx
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/screens/SelectDevice/index.tsx
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/screens/SelectDevice/useSelectDeviceViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/types.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationLoading.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/03-Accounts.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccount.tsx
  apps/ledger-live-mobile/src/screens/SkipSelectDevice.tsx
Labels: mobile, translations

#8833 Added the APTOS LedgerAccount test.
  .changeset/cyan-ladybugs-leave.md
  libs/ledger-live-common/src/families/aptos/LedgerAccount.test.ts
  libs/ledger-live-common/src/families/aptos/LedgerAccount.ts
Labels: common

#8848 Feat/live 15551 aptos refactor cache for get estimated gas
  .changeset/two-apricots-serve.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/families/aptos/api/index.test.ts
  libs/ledger-live-common/src/families/aptos/api/index.ts
  libs/ledger-live-common/src/families/aptos/bridge.integration.test.ts
  libs/ledger-live-common/src/families/aptos/bridge/js.test.ts
  libs/ledger-live-common/src/families/aptos/bridge/mock.ts
  libs/ledger-live-common/src/families/aptos/createTransaction.test.ts
  libs/ledger-live-common/src/families/aptos/createTransaction.ts
  libs/ledger-live-common/src/families/aptos/errors.ts
  libs/ledger-live-common/src/families/aptos/estimateMaxSpendable.test.ts
  libs/ledger-live-common/src/families/aptos/getFeesForTransaction.test.ts
  libs/ledger-live-common/src/families/aptos/getFeesForTransaction.ts
  libs/ledger-live-common/src/families/aptos/getTransactionStatus.test.ts
  libs/ledger-live-common/src/families/aptos/getTransactionStatus.ts
  libs/ledger-live-common/src/families/aptos/logic.test.ts
  libs/ledger-live-common/src/families/aptos/logic.ts
  libs/ledger-live-common/src/families/aptos/prepareTransaction.test.ts
  libs/ledger-live-common/src/families/aptos/prepareTransaction.ts
  libs/ledger-live-common/src/families/aptos/transaction.test.ts
  libs/ledger-live-common/src/families/aptos/transaction.ts
  libs/ledger-live-common/src/families/aptos/types.ts
Labels: desktop, mobile, common, translations

#8921 FIX: LIVE-15628 Fix app crashing when selecting EVM accounts
  .changeset/pretty-boats-cry.md
  apps/ledger-live-mobile/src/screens/Account/hooks/useAccountActions.tsx
Labels: mobile

#8918 fix :bug:(lld) arrow tooltip wrong color
  .changeset/light-ghosts-clap.md
  apps/ledger-live-desktop/src/renderer/components/SideBar/SideBarListItem.tsx
Labels: desktop

#8928 fix: tezos earn bakers
  .changeset/sharp-terms-ring.md
  libs/ledger-live-common/src/families/tezos/react.ts
Labels: common

#8903 [QAA-425][Detox][Speculos] Add possibility to target production firebase env
  .github/workflows/test-mobile-e2e-reusable.yml
  .github/workflows/test-mobile-e2e.yml
  apps/ledger-live-mobile/.env.mock.prerelease
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/app/src/detoxPreRelease/google-services.json
  apps/ledger-live-mobile/detox.config.js
  apps/ledger-live-mobile/scripts/e2e-ci.mjs
Labels: mobile, automation

#8910 chore: Update Market spec test to handle flacky test on Bitcoin search
  .changeset/heavy-kings-fix.md
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts
Labels: desktop

#8919 Authenticate with docker before running ghcommit action
  .github/workflows/generate-screenshots.yml
Labels: automation

#8926 fix: capitalisation of Ethereum in copy
  .changeset/thin-camels-tap.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#8932 Remove redundant parameter from Aptos Transaction
  .changeset/dry-avocados-look.md
  libs/ledger-live-common/src/families/aptos/types.ts
Labels: common

#8823 ✨ (llm) [LIVE-14839]: As a user when I start the onboarding I want to get a generic pairing message
  .changeset/brave-icons-glow.md
  apps/ledger-live-mobile/e2e/page/onboarding/onboardingSteps.page.ts
  apps/ledger-live-mobile/e2e/specs/onboarding.spec.ts
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/pairNew.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/ConnectDevice.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/PairNew.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/index.tsx
Labels: mobile

#8906 [QAA] Adding E2E test - User send funds to an ENS
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/nft.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  libs/ledger-live-common/src/e2e/enum/Account.ts
  libs/ledger-live-common/src/e2e/families/evm.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#8914 feat: add bot filter by feature
  .changeset/wet-swans-greet.md
  .github/workflows/bot-nonreg-nitrogen.yml
  .github/workflows/bot-nonreg-oxygen.yml
  .github/workflows/bot-testing-nitrogen.yml
  libs/coin-framework/src/bot/types.ts
  libs/coin-modules/coin-algorand/src/specs.ts
  libs/coin-modules/coin-bitcoin/src/specs.ts
  libs/coin-modules/coin-cardano/src/specs.ts
  libs/coin-modules/coin-cosmos/src/specs.ts
  libs/coin-modules/coin-elrond/src/specs.ts
  libs/coin-modules/coin-evm/src/specs.ts
  libs/coin-modules/coin-filecoin/src/test/bot-specs.ts
  libs/coin-modules/coin-hedera/src/test/bot-specs.ts
  libs/coin-modules/coin-icon/src/specs.ts
  libs/coin-modules/coin-internet_computer/src/test/bot-specs.ts
  libs/coin-modules/coin-near/src/specs.ts
  libs/coin-modules/coin-polkadot/src/test/bot-specs.ts
  libs/coin-modules/coin-solana/src/specs.ts
  libs/coin-modules/coin-stacks/src/test/bot-specs.ts
  libs/coin-modules/coin-stellar/src/test/bot-specs.ts
  libs/coin-modules/coin-tezos/src/test/bot-specs.ts
  libs/coin-modules/coin-ton/src/specs.ts
  libs/coin-modules/coin-tron/src/test/bot-specs.ts
  libs/coin-modules/coin-vechain/src/test/bot-specs.ts
  libs/coin-modules/coin-xrp/src/test/bot-specs.ts
  libs/ledger-live-common/src/bot/cli.ts
  libs/ledger-live-common/src/bot/index.test.ts
  libs/ledger-live-common/src/bot/index.ts
  libs/ledger-live-common/src/families/aptos/specs.ts
  libs/ledger-live-common/src/families/casper/specs.ts
  libs/ledger-live-common/src/families/celo/specs/createActivateVoteMutation.ts
  libs/ledger-live-common/src/families/celo/specs/createLockMutation.ts
  libs/ledger-live-common/src/families/celo/specs/createRegisterAccountMutation.ts
  libs/ledger-live-common/src/families/celo/specs/createRevokeVoteMutation.ts
  libs/ledger-live-common/src/families/celo/specs/createSendMutation.ts
  libs/ledger-live-common/src/families/celo/specs/createUnlockMutation.ts
  libs/ledger-live-common/src/families/celo/specs/createVoteMutation.ts
  libs/ledger-live-common/src/families/celo/specs/createWithdrawMutation.ts
  tools/actions/composites/bot/action.yml
Labels: common, tools, automation

#8935 fix(wallet-api): only bypass derivation check on LL for ACRE flows [LIVE-15787]
  .changeset/kind-buttons-lay.md
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/CustomHandlers.ts
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/Body.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/steps/StepSign.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/types.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SignMessageNavigator.ts
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/CustomHandlers.ts
  apps/ledger-live-mobile/src/screens/SignMessage/03-ConnectDevice.tsx
  libs/ledger-live-common/src/hw/actions/transaction.ts
  libs/ledger-live-common/src/hw/signMessage/index.ts
Labels: desktop, mobile, common

#8941 [QAA] Refactoring layout class
  apps/ledger-live-desktop/tests/component/layout.component.ts
  apps/ledger-live-desktop/tests/page/lockscreen.page.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/page/portfolio.page.ts
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts
  apps/ledger-live-desktop/tests/specs/accounts/encrypted.spec.ts
  apps/ledger-live-desktop/tests/specs/countervalues/api.spec.ts
  apps/ledger-live-desktop/tests/specs/families/bitcoin.spec.ts
  apps/ledger-live-desktop/tests/specs/families/ethereum.spec.ts
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts
  apps/ledger-live-desktop/tests/specs/general/portfolio.spec.ts
  apps/ledger-live-desktop/tests/specs/services/buy.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/settings.spec.ts
Labels: desktop

#8929 feat: Add final steps (succes,warning, quickActions, emptyState UI) for add account v2 workflow
  .changeset/sharp-items-nail.md
  apps/ledger-live-mobile/src/components/SelectableAccountsList.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/families/hedera/NoAssociatedAccounts.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Accounts/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountListDrawer/CustomHeader/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountListDrawer/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountListEmpty/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountQuickActionsDrawer/CustomHeader/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountQuickActionsDrawer/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountQuickActionsDrawer/useAccountQuickActionDrawerViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/components/AccountItem/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/components/AccountItem/useAccountItemModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AddFundsButton/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/VerticalGradientBackground/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/types.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountSuccess/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountWarning/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/NoAssociatedAccountsView/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/components/CanCreateAccountAlert/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/components/ScanDeviceAccountsFooter/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/useScanDeviceAccountsViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/utils/getAccountListKeyExtractor.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/utils/tests/getAccountListKeyExtractor.test.ts
  apps/ledger-live-mobile/src/screens/SkipSelectDevice.tsx
  libs/live-wallet/src/store.ts
Labels: mobile, translations

#8945 feat: token name Swap hash param
  .changeset/chatty-cobras-add.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
Labels: desktop

#8925 ci: Enabling CI to return success when no desktop changes occur
  .github/workflows/release-final-nightly.yml
Labels: automation

#8882 sentry :zap: (llm): bump sentry sdk
  .changeset/tame-dryers-try.md
  apps/ledger-live-mobile/.env.android.nightly
  apps/ledger-live-mobile/.env.android.prerelease
  apps/ledger-live-mobile/.env.android.release
  apps/ledger-live-mobile/.env.android.staging
  apps/ledger-live-mobile/.env.ios.nightly
  apps/ledger-live-mobile/.env.ios.prerelease
  apps/ledger-live-mobile/.env.ios.release
  apps/ledger-live-mobile/.env.ios.staging
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/Crashes.tsx
  apps/ledger-live-mobile/src/sentry.ts
  pnpm-lock.yaml
Labels: mobile

#8955 [QAA] Adding pair DOT/ETH for swap test
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
Labels: desktop

#8952 :lipstick: (llm) accounts list ordered by fiat value
  .changeset/eleven-dolphins-lick.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/useAccountsListViewModel.ts
  libs/live-countervalues/src/portfolio.test.ts
  libs/live-countervalues/src/portfolio.ts
Labels: mobile

#8933 feat: create banner to warn users about potential issues
  .changeset/unlucky-garlics-move.md
  apps/ledger-live-desktop/src/renderer/screens/account/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/coin-framework/src/config.ts
Labels: desktop, translations

#8917 Feat/track stake programs
  .changeset/sharp-cheetahs-tell.md
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
Labels: desktop, mobile

#8962 :bug:(llm/ui) fix tab selector
  .changeset/good-fans-flash.md
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/screens/Portfolio/TabSection.tsx
  libs/ui/packages/native/src/components/Form/TabSelector/index.tsx
  libs/ui/packages/native/storybook/stories/Form/TabSelector.stories.tsx
Labels: mobile, ui, translations

#8963 [QAA-441][Specullos][Playwright] Fix scheduled run broadcast
  .github/workflows/test-mobile-e2e-reusable.yml
  .github/workflows/test-ui-e2e-only-desktop.yml
  tools/actions/composites/setup-e2e-broadcast/action.yml
Labels: tools, automation

#8957 [Detox] Update emulator and simulator version
  .github/workflows/test-mobile-e2e-reusable.yml
  apps/ledger-live-mobile/detox.config.js
  apps/ledger-live-mobile/docs/llm_e2e_testing.md
Labels: mobile, automation

#8965 fix: double broadcast on exchange flow [LIVE-15840]
  .changeset/tiny-hornets-beg.md
  apps/ledger-live-desktop/src/renderer/components/LiveAppDrawer.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/GenericStepConnectDevice.tsx
Labels: desktop

#8960 fix(live-1174): llm swap fix to load manifest from feature flag
  .changeset/polite-donkeys-marry.md
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#8748 feat(lld): 🔒 ASAR integrity check
  .changeset/polite-boxes-cry.md
  apps/ledger-live-desktop/electron-builder-nightly.yml
  apps/ledger-live-desktop/electron-builder-nosign.yml
  apps/ledger-live-desktop/electron-builder-pre.yml
  apps/ledger-live-desktop/electron-builder.yml
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/scripts/afterPack.js
  apps/ledger-live-desktop/tools/config/common.esbuild.js
  package.json
  patches/tiny-secp256k1@1.1.7.patch
  pnpm-lock.yaml
  tools/esbuild-utils/index.js
  tools/esbuild-utils/plugins/nativeNodeModules.js
Labels: desktop, tools

#8959 feat: close add account v2 multiple navigator via a confirmation drawer
  .changeset/hungry-bobcats-sneeze.md
  apps/ledger-live-mobile/src/components/ConfirmationModal.tsx
  apps/ledger-live-mobile/src/components/NavigationHeaderCloseButton.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/components/CloseWithConfirmation/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/types.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountSuccess/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountWarning/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/NoAssociatedAccountsView/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/useScanDeviceAccountsViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/types.ts
Labels: mobile, translations

#8892 make sure all non-cli broadcasts use broadcast config param
  .changeset/red-actors-explode.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/LiveAppSDKLogic.ts
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-mobile/src/logic/screenTransactionHooks.ts
Labels: desktop, mobile

#8961 fix(wallet-api): add missing cosmos walletApiAdapter [LIVE-15822]
  .changeset/silent-poets-check.md
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/cosmos.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/walletApiAdapter.test.ts
  libs/ledger-live-common/src/families/cosmos/walletApiAdapter.ts
  libs/ledger-live-common/src/generated/walletApiAdapter.ts
Labels: common

#8974 :bug:(llm) wrong cvs on token accounts
  .changeset/big-numbers-smash.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/components/AccountItem/useAccountItemModel.ts
Labels: mobile

#8980 [QAA] fix ci: improve locator
  apps/ledger-live-desktop/tests/page/modal/receive.modal.ts
Labels: desktop

#8975 feat: plug in Receive/Buy/Swap Flow to new Add account v2
  .changeset/cuddly-gorillas-protect.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountWarning/index.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectNetwork/index.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectNetwork/useSelectNetworkViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/types.ts
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/screens/SelectDevice/useSelectDeviceViewModel.ts
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/RequestAccount/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Summary/index.tsx
Labels: mobile

#8863 Run pr-build-and-test on merge queue
  .github/workflows/build-and-test-pr.yml
Labels: automation

#8973 Revert "sentry :zap: (llm): bump sentry sdk"
  .changeset/tame-dryers-try.md
  apps/ledger-live-mobile/.env.android.nightly
  apps/ledger-live-mobile/.env.android.prerelease
  apps/ledger-live-mobile/.env.android.release
  apps/ledger-live-mobile/.env.android.staging
  apps/ledger-live-mobile/.env.ios.nightly
  apps/ledger-live-mobile/.env.ios.prerelease
  apps/ledger-live-mobile/.env.ios.release
  apps/ledger-live-mobile/.env.ios.staging
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/Crashes.tsx
  apps/ledger-live-mobile/src/sentry.ts
  pnpm-lock.yaml
Labels: mobile

#8942 [LLM][Detox][Speculos] First Speculos delegate tests
  apps/ledger-live-mobile/e2e/models/send.ts
  apps/ledger-live-mobile/e2e/models/stake.ts
  apps/ledger-live-mobile/e2e/page/accounts/account.page.ts
  apps/ledger-live-mobile/e2e/page/index.ts
  apps/ledger-live-mobile/e2e/page/speculos.page.ts
  apps/ledger-live-mobile/e2e/page/trade/deviceValidation.page.ts
  apps/ledger-live-mobile/e2e/page/trade/operationDetails.page.ts
  apps/ledger-live-mobile/e2e/page/trade/send.page.ts
  apps/ledger-live-mobile/e2e/page/trade/stake.page.ts
  apps/ledger-live-mobile/e2e/specs/delegate/cosmos.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/delegate/delegate.ts
  apps/ledger-live-mobile/e2e/specs/speculos/delegate/delegateATOM.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/delegate/delegateNEAR.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/delegate/delegateSOL.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/send.ts
  apps/ledger-live-mobile/src/components/StepHeader.tsx
  apps/ledger-live-mobile/src/components/ValidateOnDevice.tsx
  apps/ledger-live-mobile/src/families/cosmos/TransactionConfirmFields.tsx
  apps/ledger-live-mobile/src/families/cosmos/operationDetails.tsx
  apps/ledger-live-mobile/src/families/cosmos/shared/02-SelectAmount.tsx
  apps/ledger-live-mobile/src/families/near/StakingFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/near/StakingFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/near/operationDetails.tsx
  apps/ledger-live-mobile/src/families/near/shared/02-SelectAmount.tsx
  apps/ledger-live-mobile/src/families/solana/DelegationFlow/SelectAmount.tsx
  apps/ledger-live-mobile/src/families/solana/DelegationFlow/Started.tsx
  apps/ledger-live-mobile/src/families/solana/DelegationFlow/Summary.tsx
  apps/ledger-live-mobile/src/families/solana/operationDetails.tsx
  apps/ledger-live-mobile/src/screens/OperationDetails/Content.tsx
  libs/ui/packages/native/src/components/cta/QuickAction/QuickActionButton/index.tsx
Labels: mobile, ui

#8986 Revert "sentry :zap: (llm): bump sentry sdk" (#8973)
  .changeset/tame-dryers-try.md
  apps/ledger-live-mobile/.env.android.nightly
  apps/ledger-live-mobile/.env.android.prerelease
  apps/ledger-live-mobile/.env.android.release
  apps/ledger-live-mobile/.env.android.staging
  apps/ledger-live-mobile/.env.ios.nightly
  apps/ledger-live-mobile/.env.ios.prerelease
  apps/ledger-live-mobile/.env.ios.release
  apps/ledger-live-mobile/.env.ios.staging
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/Crashes.tsx
  apps/ledger-live-mobile/src/sentry.ts
  pnpm-lock.yaml
Labels: mobile

#8888 chore: update evm explorers in currency config
  .changeset/bright-kiwis-travel.md
  libs/ledger-live-common/src/families/evm/config.ts
Labels: common

#8985 don't operate on undefined value
  .changeset/eighty-cougars-perform.md
  libs/ledger-live-common/src/csvExport.ts
Labels: common

#8977 [QAA] Adding currencies for E2E delegation test
  apps/ledger-live-desktop/src/renderer/components/SuccessDisplay.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/steps/StepSummary.tsx
  apps/ledger-live-desktop/tests/component/modal.component.ts
  apps/ledger-live-desktop/tests/page/drawer/delegate.drawer.ts
  apps/ledger-live-desktop/tests/page/index.ts
  apps/ledger-live-desktop/tests/page/liveApp.page.ts
  apps/ledger-live-desktop/tests/page/modal/delegate.modal.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  libs/ledger-live-common/src/e2e/enum/Account.ts
  libs/ledger-live-common/src/e2e/enum/AppInfos.ts
  libs/ledger-live-common/src/e2e/enum/Currency.ts
  libs/ledger-live-common/src/e2e/enum/DeviceLabels.ts
  libs/ledger-live-common/src/e2e/families/cardano.ts
  libs/ledger-live-common/src/e2e/families/multiversX.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#8988 [SWAP] token handle
  .changeset/famous-mails-teach.md
  apps/cli/src/commands/ptx/swap.ts
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/Body.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/Confirmation.tsx
  libs/ledger-live-common/src/exchange/platform/types.ts
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
  libs/ledger-live-common/src/hw/deviceAccess.ts
  libs/ledger-live-common/src/platform/logic.test.ts
  libs/ledger-live-common/src/platform/logic.ts
  libs/ledger-live-common/src/wallet-api/Exchange/server.ts
  libs/ledger-live-common/src/wallet-api/logic.test.ts
  libs/ledger-live-common/src/wallet-api/logic.ts
  libs/ledger-services/cal/src/certificate.integ.test.ts
  libs/ledger-services/cal/src/certificate.ts
  libs/ledger-services/cal/src/index.ts
  libs/ledger-services/trust/src/index.ts
  libs/ledgerjs/packages/hw-app-exchange/README.md
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.test.ts
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.ts
  libs/ledgerjs/packages/hw-app-exchange/src/SwapUtils.ts
  libs/ledgerjs/packages/hw-app-exchange/src/index.ts
  libs/ledgerjs/packages/types-live/src/account.ts
Labels: desktop, mobile, common, ledgerjs, cli

#9010 [Speculos][CI] Fix getting the date for scheduled broadcast
  tools/actions/composites/setup-e2e-broadcast/action.yml
Labels: tools

#9012 chore: upgrade download-artifact action to v4.1.3 due to vulnerabilit…
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation

#8937 feat: add custom handlers for swap-live-app
  .changeset/tame-ants-join.md
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/WebView.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/consts.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/getFee.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/getTransactionByHash.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/index.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/saveSwapToHistory.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/swapRedirectToHistory.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/hooks/useSwapLiveAppCustomHandlers.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/utils/index.ts
Labels: mobile

#8995 LIVE-16092: added POL account actions for staking using Stakekit
  .changeset/sour-bananas-trade.md
  apps/ledger-live-desktop/src/renderer/families/evm/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-search-bitcoin-linux.png
  apps/ledger-live-mobile/src/families/evm/accountActions.tsx
Labels: desktop, mobile, screenshots

#9000 [QAA] Refacto modal class - e2e tests
  apps/ledger-live-desktop/tests/component/modal.component.ts
  apps/ledger-live-desktop/tests/page/drawer/delegate.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/firmwareUpdate.drawer.ts
  apps/ledger-live-desktop/tests/page/modal/add.account.modal.ts
  apps/ledger-live-desktop/tests/page/modal/delegate.modal.ts
  apps/ledger-live-desktop/tests/page/modal/passwordlock.modal.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/page/modal/settings.modal.ts
  apps/ledger-live-desktop/tests/specs/accounts/delegate.smoke.spec.ts
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts
  apps/ledger-live-desktop/tests/specs/manager/firmwareupdate.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/receive.address.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
Labels: desktop

#9015 :bug: (lld) click triggered twice on the portfolio CC
  .changeset/healthy-llamas-visit.md
  apps/ledger-live-desktop/src/newArch/features/DynamicContent/__integrations__/PortfolioContentCards.test.tsx
  apps/ledger-live-desktop/src/newArch/features/DynamicContent/components/PortfolioContentCards/Slide.tsx
Labels: desktop

#8999 fix: add account v2 redirection from receive when no account found / add account v1 is OK
  .changeset/new-bulldogs-hope.md
  apps/ledger-live-mobile/src/components/RootNavigator/types/ReceiveFundsNavigator.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/SelectAddAccountMethod/useSelectAddAccountMethodViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/enums.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/types.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountSuccess/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountWarning/index.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/__integrations__/assetSelection.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectCrypto/useSelectCryptoViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectNetwork/useSelectNetworkViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/types.ts
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/__integrations__/deviceSelection.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/types.ts
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/Modals/InstalledAppModal.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01-SelectCrypto.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectNetwork.tsx
  apps/ledger-live-mobile/src/screens/RequestAccount/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Summary/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
Labels: mobile

#8990 feat: add analytics to add account v2 flow
  .changeset/fifty-worms-remain.md
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountListDrawer/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountQuickActionsDrawer/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountQuickActionsDrawer/useAccountQuickActionDrawerViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AddFundsButton/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/types.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountSuccess/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountWarning/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/types.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/useScanDeviceAccountsViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectCrypto/index.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectCrypto/useSelectCryptoViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectNetwork/index.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectNetwork/useSelectNetworkViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/types.ts
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/screens/SelectDevice/useSelectDeviceViewModel.ts
  apps/ledger-live-mobile/src/newArch/hooks/__tests__/useAnalytics.test.ts
  apps/ledger-live-mobile/src/newArch/hooks/useAnalytics/data/addAccounts.ts
  apps/ledger-live-mobile/src/newArch/hooks/useAnalytics/enums.ts
  apps/ledger-live-mobile/src/newArch/hooks/useAnalytics/index.ts
  apps/ledger-live-mobile/src/newArch/hooks/useAnalytics/types.ts
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/Modals/InstalledAppModal.tsx
  apps/ledger-live-mobile/src/screens/RequestAccount/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Summary/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
Labels: mobile

#9017 🚩 LS entry points feature flag added for LLM
  .changeset/strong-peas-jam.md
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#9011 feat(live-15764): data tracking in my ledger flows
  .changeset/eight-geese-dream.md
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackManagerSectionEvents.test.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackManagerSectionEvents.ts
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/EditDeviceName.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/RemoveCustomImage.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/index.tsx
  apps/ledger-live-desktop/tests/testUtils.tsx
Labels: desktop

#8978 Check for version differences on `workflow_call` not `workflow_run`
  .github/workflows/release-final.yml
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare.yml
Labels: automation

#9021 ci: Improving reliability of tests during mobile upgrades
  .github/workflows/test-mobile-e2e-reusable.yml
  apps/ledger-live-mobile/detox.config.d.ts
  apps/ledger-live-mobile/detox.config.js
  apps/ledger-live-mobile/docs/llm_e2e_testing.md
Labels: mobile, automation

#8991 Normalise refs before passing to turbo-affected
  .github/workflows/turbo-affected-reusable.yml
Labels: automation

#9006 🐛 Rename account and starred accounts now fixed on LLM and LLD
  .changeset/curly-pants-walk.md
  apps/ledger-live-desktop/src/renderer/screens/account/AccountHeader.tsx
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/specs/accounts/rename.account.spec.ts
  libs/live-wallet/src/store.test.ts
  libs/live-wallet/src/store.ts
Labels: desktop

#9031 🧐 LLD - Send app version to Braze SDK
  .changeset/stale-books-melt.md
  apps/ledger-live-desktop/src/renderer/hooks/useBraze.ts
Labels: desktop

#8916 💄 Ledger Sync copy and UX improvements
  .changeset/itchy-camels-sin.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/02-QRCodeStep.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/OptionsButton.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncActivation.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncSettings.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/ActivationFlow.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Synchronize/BottomContainer.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Synchronize/QrCode.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Synchronize/ScanQrCode.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/index.tsx
Labels: desktop, mobile, translations

#8968 fix :bug:(chore) sentry bump
  .changeset/modern-teachers-scream.md
  .pnpmfile.cjs
  apps/ledger-live-mobile/.env.android.nightly
  apps/ledger-live-mobile/.env.android.prerelease
  apps/ledger-live-mobile/.env.android.release
  apps/ledger-live-mobile/.env.android.staging
  apps/ledger-live-mobile/.env.ios.nightly
  apps/ledger-live-mobile/.env.ios.prerelease
  apps/ledger-live-mobile/.env.ios.release
  apps/ledger-live-mobile/.env.ios.staging
  apps/ledger-live-mobile/.env.mock
  apps/ledger-live-mobile/.env.mock.prerelease
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/android/sentry.properties
  apps/ledger-live-mobile/detox.config.js
  apps/ledger-live-mobile/fastlane/.env.android.prerelease
  apps/ledger-live-mobile/fastlane/.env.android.release
  apps/ledger-live-mobile/fastlane/.env.android.staging
  apps/ledger-live-mobile/fastlane/.env.ios.prerelease
  apps/ledger-live-mobile/fastlane/.env.ios.release
  apps/ledger-live-mobile/fastlane/.env.ios.staging
  apps/ledger-live-mobile/fastlane/.env.mock
  apps/ledger-live-mobile/ios/.xcode.env
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/ios/sentry.properties
  apps/ledger-live-mobile/ios/xcode.env
  apps/ledger-live-mobile/metro.config.js
  apps/ledger-live-mobile/mobile-env.md
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/scripts/mobile-env-md.mjs
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/sentry.ts
  pnpm-lock.yaml
  turbo.json
Labels: mobile

#8934 Remove Misleading Casper Token
  .changeset/sour-mayflies-learn.md
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/data/casper.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
  libs/ledgerjs/packages/cryptoassets/src/types.ts
Labels: common, ledgerjs

#9028 chore(recover): RecoverBanner wording
  .changeset/early-worms-cry.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#9033 [LLM][Detox][Speculos] Improving test suite reporting
  apps/ledger-live-mobile/e2e/models/send.ts
  apps/ledger-live-mobile/e2e/models/stake.ts
  apps/ledger-live-mobile/e2e/page/trade/deviceValidation.page.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccount.ts
  apps/ledger-live-mobile/e2e/specs/speculos/deleteAccount/deleteAccount.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/verifyAddress.ts
  apps/ledger-live-mobile/src/components/ValidateOnDevice.tsx
Labels: mobile

#8869 [QAA-415][Detox][Speculos] Account name persist after restart
  apps/ledger-live-mobile/e2e/page/accounts/account.page.ts
  apps/ledger-live-mobile/e2e/specs/speculos/account/accountRename.spec.ts
  apps/ledger-live-mobile/src/screens/AccountSettings/AccountNameRow.tsx
  apps/ledger-live-mobile/src/screens/AccountSettings/EditAccountName.tsx
Labels: mobile, Stale

#9047 [Detox][Speculos][Ledger Sync] Remove drawer verification
  apps/ledger-live-mobile/e2e/specs/speculos/ledgerSync/ledgerSync.spec.ts
Labels: mobile

#9049 fix(lld): revert ASAR integrity check
  .changeset/polite-boxes-cry.md
  apps/ledger-live-desktop/electron-builder-nightly.yml
  apps/ledger-live-desktop/electron-builder-nosign.yml
  apps/ledger-live-desktop/electron-builder-pre.yml
  apps/ledger-live-desktop/electron-builder.yml
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/scripts/afterPack.js
  apps/ledger-live-desktop/tools/config/common.esbuild.js
  package.json
  patches/tiny-secp256k1@1.1.7.patch
  pnpm-lock.yaml
  tools/esbuild-utils/index.js
  tools/esbuild-utils/plugins/nativeNodeModules.js
Labels: desktop, tools

#9045 chore: update e2e loadConfig script
  .changeset/hot-roses-shave.md
  apps/ledger-live-mobile/e2e/bridge/start-server.ts
Labels: mobile

#9051 Revert "🐛 Rename account and starred accounts now fixed on LLM and LLD"
  .changeset/curly-pants-walk.md
  apps/ledger-live-desktop/src/renderer/screens/account/AccountHeader.tsx
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/specs/accounts/rename.account.spec.ts
  apps/ledger-live-mobile/e2e/page/accounts/account.page.ts
  apps/ledger-live-mobile/e2e/specs/speculos/account/accountRename.spec.ts
  apps/ledger-live-mobile/src/screens/AccountSettings/AccountNameRow.tsx
  apps/ledger-live-mobile/src/screens/AccountSettings/EditAccountName.tsx
  libs/live-wallet/src/store.test.ts
  libs/live-wallet/src/store.ts
Labels: desktop, mobile

#8996 [LIVE-16529] Fix Add Custom Manifest Screen
  .changeset/orange-drinks-explode.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Settings/Developer/CustomManifest.tsx
  apps/ledger-live-mobile/src/screens/Settings/Developer/manifests/metamask.ts
Labels: mobile, translations

#9066 fix(live-11174): LLM set theme lang and other params to live app
  .changeset/young-coins-double.md
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/WebView.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/index.tsx
Labels: mobile

#9074 :bug fix(llm) missing text tag
  .changeset/wild-cougars-cough.md
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#9075 Run build-and-test-external on merge group
  .github/workflows/build-and-test-external.yml
Labels: automation

#8982 fix: remove incorrect indentation in desktop readme
  apps/ledger-live-desktop/README.md
Labels: desktop

#9078 [QAA] Improving Xray x Speculos intégration
  .changeset/nine-jokes-share.md
  apps/ledger-live-desktop/tests/specs/speculos/add.account.spec.ts
  apps/ledger-live-desktop/tests/utils/customJsonReporter.ts
Labels: desktop

#9044 Release from `main` if the hotfix has been done from latest version
  .github/workflows/release-prepare-hotfix.yml
Labels: automation

#9048 [QAA] Adding E2E delegate test - tezos & Celo
  .changeset/selfish-buckets-fix.md
  apps/ledger-live-desktop/src/renderer/components/WarnBox.tsx
  apps/ledger-live-desktop/src/renderer/families/celo/AccountHeaderManageActions/AccountHeaderManageActions.tsx
  apps/ledger-live-desktop/src/renderer/families/celo/LockFlowModal/fields/AmountField.tsx
  apps/ledger-live-desktop/src/renderer/families/celo/LockFlowModal/steps/StepAmount.tsx
  apps/ledger-live-desktop/src/renderer/families/celo/ManageModal/ManageModal.tsx
  apps/ledger-live-desktop/src/renderer/families/tezos/DelegateFlowModal/steps/StepStarter.tsx
  apps/ledger-live-desktop/src/renderer/families/tezos/DelegateFlowModal/steps/StepSummary.tsx
  apps/ledger-live-desktop/tests/page/drawer/delegate.drawer.ts
  apps/ledger-live-desktop/tests/page/modal/delegate.modal.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  libs/ledger-live-common/src/e2e/enum/Account.ts
  libs/ledger-live-common/src/e2e/enum/AppInfos.ts
  libs/ledger-live-common/src/e2e/enum/Currency.ts
  libs/ledger-live-common/src/e2e/enum/DeviceLabels.ts
  libs/ledger-live-common/src/e2e/families/celo.ts
  libs/ledger-live-common/src/e2e/families/tezos.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common
