Repository LedgerHQ/ledger-live, pull requests merged in 2025-02, with the labels that each got.

#9072 [LIVE-15700] Export logs to txt
  .changeset/great-parrots-talk.md
  apps/ledger-live-desktop/src/newArch/hooks/useExportLogs.ts
  apps/ledger-live-desktop/src/renderer/components/ExportLogsButton.tsx
  apps/ledger-live-mobile/__mocks__/rn-fetch-blob.ts
  apps/ledger-live-mobile/src/components/useExportLogs.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/Store.tsx
  apps/web-tools/pages/logsviewer.tsx
Labels: desktop, mobile

#9095 [QAA] Improve Slack notif with the link to Xray
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation

#8976 :lipstick: (llm) animation enhancement tab switch
  .changeset/dull-dots-float.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/useAccountsListViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Assets/components/AssetsListView/components/AssetItem.tsx
  apps/ledger-live-mobile/src/newArch/features/Assets/components/AssetsListView/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Assets/components/AssetsListView/useAssetsListViewModel.ts
  apps/ledger-live-mobile/src/screens/Portfolio/AnimatedContainer.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioAssets.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/TabSection.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/__integrations__/portfolioAssets.integration.test.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/useListsAnimation.ts
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AccountsSection.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/SectionContainer.tsx
Labels: mobile

#9081 [Detox][Speculos][CI] Fix xray export
  .github/workflows/test-mobile-e2e-reusable.yml
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccountETH.spec.ts
  apps/ledger-live-mobile/e2e/xray.formater.sh
Labels: mobile, automation

#9083 [Detox][Speculos] Use correct env for Ledger Sync test
  apps/ledger-live-mobile/e2e/specs/speculos/ledgerSync/ledgerSync.spec.ts
Labels: mobile

#9088 [LLM][Speculos] Remove obsolete issue link
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/receiveFlowETH.spec.ts
Labels: mobile

#9073 [QAA-449][Detox][Speculos] Add memo tag in Send test
  apps/ledger-live-mobile/e2e/page/trade/send.page.ts
  apps/ledger-live-mobile/e2e/specs/send/currencies.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/send.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/sendALGO.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/sendValidAddress/sendValidAddressATOM2.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/sendValidAddress/sendValidAddressXRP2.spec.ts
  apps/ledger-live-mobile/src/families/cardano/SendRowsCustom.tsx
  apps/ledger-live-mobile/src/families/cosmos/shared/CosmosFamilySendRowsCustomComponent.tsx
  apps/ledger-live-mobile/src/families/hedera/SendRowsCustom.tsx
  apps/ledger-live-mobile/src/families/internet_computer/SendRowMemo.tsx
  apps/ledger-live-mobile/src/families/solana/SendRowsCustom.tsx
  apps/ledger-live-mobile/src/families/stacks/SendRowMemo.tsx
  apps/ledger-live-mobile/src/families/stellar/SendRowMemo.tsx
  apps/ledger-live-mobile/src/families/xrp/SendRowTag.tsx
  apps/ledger-live-mobile/src/newArch/features/MemoTag/components/GenericMemoTagInput.tsx
  apps/ledger-live-mobile/src/newArch/features/MemoTag/components/GenericMemoTagSummary.tsx
  apps/ledger-live-mobile/src/newArch/features/MemoTag/components/MemoTagDrawer.tsx
Labels: mobile

#9094 :bug: fix(llm) reborn tracking
  .changeset/ninety-crews-fail.md
  apps/ledger-live-mobile/src/analytics/segment.ts
Labels: mobile

#9020 Feat/live 15768 data tracking in the receive flow
  .changeset/small-knives-fetch.md
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackReceiveFlow.test.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackReceiveFlow.ts
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepConnectDevice.tsx
Labels: desktop

#9098 feat: don't display Accounts already in the Portfolio
  .changeset/loud-llamas-try.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/useScanDeviceAccountsViewModel.ts
Labels: mobile, translations

#9060 feat: added near in the not supported coins for LNS
  .changeset/lemon-berries-lie.md
  apps/ledger-live-desktop/src/renderer/components/LiveAppDrawer.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/Confirmation.tsx
Labels: desktop, mobile, translations

#9105 🧐 LLD - Fix clicks tracking for Portfolio cards
  .changeset/dull-pianos-wave.md
  apps/ledger-live-desktop/src/newArch/features/DynamicContent/__integrations__/PortfolioContentCards.test.tsx
  apps/ledger-live-desktop/src/newArch/features/DynamicContent/hooks/usePortfolioCards.ts
Labels: desktop

#9097 fix: 🐞 app crash on token selected for add account v2 redirection due to unrecognized currency on device scan
  .changeset/tender-birds-visit.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/useScanDeviceAccountsViewModel.ts
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/RequestAccount/02-SelectAccount.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
Labels: mobile

#9106 ci: Cache cleanup for macOS pods
  .github/workflows/build-mobile-reusable.yml
  .github/workflows/test-mobile-e2e-reusable.yml
  tools/actions/composites/setup-caches/action.yml
Labels: tools, automation

#9108 fix: 🐞 scrollable view behavior while retrieving accounts (add account v2)
  .changeset/calm-games-reply.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/index.tsx
Labels: mobile

#9102 feat: add aptos to the list of not supported coins for swap with LNS
  .changeset/loud-bees-shake.md
  apps/ledger-live-desktop/src/renderer/components/LiveAppDrawer.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/Confirmation.tsx
Labels: desktop, mobile, translations

#9086 [QAA - DETOX] Adding fee strategie + Implement invalid Amount - USDT
  .github/workflows/test-ui-e2e-only-desktop.yml
  apps/ledger-live-mobile/e2e/page/trade/send.page.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/send.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/sendInvalid/sendInvalidTokenAmountBSC_BUSD.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/sendInvalid/sendInvalidTokenAmountETH_USDT.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/send/sendInvalid/sendInvalidTokenAmountETH_USDT_2.spec.ts
  libs/ledger-live-common/src/e2e/enum/Fee.ts
Labels: mobile, common, automation

#9111 fix: 🐞 allow user to add funded account when 0$ account exist on his …
  .changeset/few-hats-repair.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/useScanDeviceAccountsViewModel.ts
Labels: mobile, translations

#9096 chore: update wallet api dependencies
  .changeset/sour-hotels-tie.md
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-darwin.json
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-linux.json
  libs/exchange-module/package.json
  libs/ledger-live-common/package.json
  libs/wallet-api-acre-module/package.json
  pnpm-lock.yaml
  tests/dummy-wallet-app/package.json
Labels: desktop, common

#9002 [LIVE-16616] Fix post onboarding bug of lottie
  .changeset/yellow-rocks-cross.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
Labels: desktop

#9115 [QAA][LLM][Speculos] Fix Add account tests
  apps/ledger-live-mobile/src/screens/Account/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/OperationsHistory.tsx
Labels: mobile

#9124 :bug: fix(llm) missing add account button
  .changeset/late-kings-crash.md
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioAssets.tsx
Labels: mobile

#8967 fix :bug:(detox) ios launchscreen
  .changeset/tiny-scissors-yawn.md
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.mm
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
Labels: mobile

#9023 Feat/(LIVE-16651) add lifi to nano S incompatibility list
  .changeset/poor-icons-speak.md
  apps/ledger-live-desktop/src/renderer/components/LiveAppDrawer.tsx
Labels: desktop

#9133 [QAA] fix Cardano delegate flow - speculos e2e
  libs/ledger-live-common/src/e2e/families/cardano.ts
Labels: common

#9130 :bug: fix(llm) missing style props for hero card
  .changeset/new-colts-wash.md
  apps/ledger-live-mobile/src/contentCards/cards/hero/elements.tsx
  apps/ledger-live-mobile/src/contentCards/cards/hero/index.tsx
Labels: mobile

#9129 fix(live-14726): llm spacing internalization
  .changeset/ninety-clouds-fly.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/WebView.tsx
Labels: mobile, translations

#9103 CN-1076: change the button action earn rewards to open stakekit
  .changeset/calm-planes-train.md
  apps/ledger-live-desktop/src/renderer/families/polkadot/Nomination/index.tsx
  apps/ledger-live-mobile/src/families/polkadot/Nominations/index.tsx
Labels: desktop, mobile

#9137 [Fix/stacks] transaction broadcast API error
  .changeset/small-hornets-accept.md
  libs/coin-modules/coin-stacks/src/bridge/estimateMaxSpendable.ts
  libs/coin-modules/coin-stacks/src/bridge/prepareTransaction.ts
Labels: fork

#9035 feat(live-15766): Data tracking in the add account flow
  .changeset/thick-bobcats-wait.md
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackAddAccountModal.test.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackAddAccountModal.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackManagerSectionEvents.test.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackManagerSectionEvents.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackReceiveFlow.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/variables.ts
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Stepper/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepConnectDevice.tsx
Labels: desktop

#9135 :lipstick: (llm) store the last seen tab
  .changeset/few-fireants-know.md
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioAssets.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/TabSection.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/useListsAnimation.ts
  libs/ui/packages/native/src/components/Form/TabSelector/index.tsx
  libs/ui/packages/native/storybook/stories/Form/TabSelector.stories.tsx
Labels: mobile, ui

#9134 :bug: fix(llm) account item wrong balance
  .changeset/witty-camels-juggle.md
  apps/ledger-live-mobile/src/components/SelectableAccountsList.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/accountsListScreen.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/mockedAccounts.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountListDrawer/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountQuickActionsDrawer/CustomHeader/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/components/AccountItem/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/components/AccountItem/useAccountItemModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountSuccess/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountWarning/index.tsx
Labels: mobile

#9147 chore: update wallet api deps
  .changeset/fuzzy-pets-laugh.md
  libs/exchange-module/package.json
  libs/ledger-live-common/package.json
  libs/wallet-api-acre-module/package.json
  pnpm-lock.yaml
  tests/dummy-wallet-app/package.json
Labels: common

#9152 fix(llm): 🩹 fix the analytics console for deep properties
  .changeset/blue-humans-destroy.md
  apps/ledger-live-mobile/src/components/AnalyticsConsole/Event.tsx
Labels: mobile

#9100 fix: add missing error strings [LIVE-16703]
  .changeset/odd-shoes-promise.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: desktop, mobile, translations

#9050 fix: check account balance or spedable is zero in front
  .changeset/ninety-radios-suffer.md
  apps/ledger-live-mobile/src/families/solana/accountActions.tsx
Labels: mobile

#9127 🐛 (cli): print `listApps` output only once
  .changeset/metal-poets-serve.md
  apps/cli/src/commands/device/listApps.ts
Labels: cli

#9125 [QAA][DETOX][SPECULOS] - Adding e2e delegation tests - CELO & TEZOS
  .changeset/forty-dolls-worry.md
  apps/ledger-live-mobile/e2e/models/stake.ts
  apps/ledger-live-mobile/e2e/page/accounts/assetAccounts.page.ts
  apps/ledger-live-mobile/e2e/page/index.ts
  apps/ledger-live-mobile/e2e/page/speculos.page.ts
  apps/ledger-live-mobile/e2e/page/trade/celoManageAssets.page.ts
  apps/ledger-live-mobile/e2e/page/trade/operationDetails.page.ts
  apps/ledger-live-mobile/e2e/page/trade/stake.page.ts
  apps/ledger-live-mobile/e2e/page/wallet/portfolio.page.ts
  apps/ledger-live-mobile/e2e/specs/speculos/delegate/delegate.ts
  apps/ledger-live-mobile/e2e/specs/speculos/delegate/delegateCELO.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/delegate/delegateTEZOS.spec.ts
  apps/ledger-live-mobile/src/components/AssetRowLayout.tsx
  apps/ledger-live-mobile/src/families/celo/LockFlow/01-Amount.tsx
  apps/ledger-live-mobile/src/families/celo/ManageAssetsNavigator/index.tsx
  apps/ledger-live-mobile/src/families/celo/accountActions.tsx
  apps/ledger-live-mobile/src/families/tezos/DelegationFlow/Started.tsx
  apps/ledger-live-mobile/src/families/tezos/DelegationFlow/Summary.tsx
  apps/ledger-live-mobile/src/families/tezos/TransactionConfirmFields.tsx
Labels: mobile

#9160 [QAA][Detox][Android][CI] Remove sharding on merge queue
  .github/workflows/test-mobile-e2e-reusable.yml
Labels: automation

#8956 [QAA-370][Detox] Update Detox to latest version
  apps/ledger-live-mobile/e2e/babel.config.detox.js
  apps/ledger-live-mobile/package.json
  package.json
  patches/detox@20.33.0.patch
  pnpm-lock.yaml
Labels: mobile, Stale

#9162 :zap: (llm) optimise render of assets/accounts lists
  .changeset/tall-mangos-drive.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/accountsListScreen.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/mockedAccounts.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/useAccountsListViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Assets/components/AssetsListView/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Assets/components/AssetsListView/useAssetsListViewModel.ts
  apps/ledger-live-mobile/src/newArch/utils/__tests__/getEstimatedListSize.test.ts
  apps/ledger-live-mobile/src/newArch/utils/getEstimatedListSize.ts
Labels: mobile

#9155 feat: add explicit error message for LNS users swapping Cosmos [LIVE-16786]
  .changeset/chilled-apes-begin.md
  apps/ledger-live-desktop/src/renderer/components/LiveAppDrawer.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/Confirmation.tsx
  libs/ledger-live-common/src/exchange/swap/getIncompatibleCurrencyKeys.ts
  libs/ledger-live-common/src/exchange/swap/index.ts
Labels: desktop, mobile, common, translations

#9141 skip build-and-test-pr if already run on this file set
  .github/workflows/build-and-test-pr.yml
Labels: automation

#9182 Revert "skip build-and-test-pr if already run on this file set"
  .github/workflows/build-and-test-pr.yml
Labels: automation

#9091 fix(cryptoassets): update TOMO magnitude to 18
  .changeset/pink-apes-pump.md
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/coin-modules/coin-evm/src/__tests__/unit/editTransaction/__snapshots__/getFormattedFeeFields.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: ledgerjs

#9168 :lipstick: (llm) add account polish
  .changeset/four-pigs-bathe.md
  apps/ledger-live-mobile/src/components/NavigationHeaderCloseButton.tsx
  apps/ledger-live-mobile/src/components/SelectableAccountsList.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountListDrawer/CustomHeader/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountListDrawer/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountQuickActionsDrawer/CustomHeader/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountQuickActionsDrawer/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountSuccess/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountWarning/index.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/03-Accounts.tsx
Labels: mobile

#9174 Fix staking NEAR e2e test crash
  .changeset/five-deers-invite.md
  apps/ledger-live-desktop/src/renderer/components/EarnRewardsInfoModal.tsx
Labels: desktop

#9186 ci: move library test to GHA hosted runners
  .github/workflows/test-libs-reusable.yml
Labels: automation

#9159 [QAA] Improving swap e2e performance
  apps/ledger-live-desktop/tests/page/abstractClasses.ts
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-tests-app.json
  libs/ledger-live-common/src/e2e/enum/DeviceLabels.ts
  libs/ledger-live-common/src/e2e/enum/Swap.ts
  libs/ledger-live-common/src/e2e/families/cardano.ts
Labels: desktop, common

#9184 [QAA][Detox][iOS] Improve Simulator clean after tests
  .github/workflows/test-mobile-e2e-reusable.yml
Labels: automation

#9195 fix: add guardrails when mainAccount does not have nearResources
  .changeset/real-guests-fly.md
  apps/ledger-live-desktop/src/renderer/families/near/AccountHeaderManageActions.ts
Labels: desktop

#9189 :lipstick: (llm) add account animations
  .changeset/purple-peaches-bathe.md
  apps/ledger-live-mobile/src/components/SelectableAccountsList.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/components/AccountItem/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/components/AnimatedAccountItem/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/components/AnimatedAccountItem/useItemAnimation.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AddFundsButton/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AddFundsButton/useAddFundsButtonViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountSuccess/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountSuccess/useAddAccountSuccessViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountWarning/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountWarning/useAddAccountWarningViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/NoAssociatedAccountsView/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/NoAssociatedAccountsView/useNoAssociatedAccountsViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/components/AddressTypeTooltip/components/SchemeRow.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/components/AddressTypeTooltip/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/components/AddressTypeTooltip/useAddressTypeTooltipViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/components/CantCreateAccountAlert/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/index.tsx
Labels: mobile, translations

#9205 :sparkles: (llm) add 15 new reachable LPs
  .changeset/strange-crews-watch.md
  apps/ledger-live-mobile/src/dynamicContent/types.ts
Labels: mobile

#9208 fix: rename unistallerSidebar to uninstallerSidebar
  .changeset/mighty-eggs-beam.md
  apps/ledger-live-desktop/build-rc/windows/uninstallerSidebar.bmp
Labels: desktop

#9119 fix: update ethereum testnet units to match nano app
  .changeset/fast-doors-mix.md
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/coin-modules/coin-evm/src/__tests__/unit/editTransaction/__snapshots__/getFormattedFeeFields.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: ledgerjs

#9123 SonarCloud PR Analysis
  .github/workflows/pr-analysis.yml
Labels: automation

#9122 feat(lld): data tracking in the exchange flow
  .changeset/slow-icons-rescue.md
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackExchangeFlow.test.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackExchangeFlow.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackManagerSectionEvents.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/variables.ts
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/LiveAppDrawer.tsx
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepConnectDevice.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepConnectDevice.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/EditDeviceName.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/RemoveCustomImage.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/index.tsx
Labels: desktop

#9148 feat(lld): add data tracking in ledger sync flow
  .changeset/wise-frogs-kiss.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/DeviceActions/openOrInstall.tsx
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackAddAccountModal.test.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackAddAccountModal.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackManagerSectionEvents.test.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackManagerSectionEvents.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackReceiveFlow.test.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackReceiveFlow.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackSyncFlow.test.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackSyncFlow.ts
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Stepper/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/index.tsx
Labels: desktop

#9216 ci: Revert test libs to self hosting
  .github/workflows/test-libs-reusable.yml
Labels: automation

#9219 Remove OFAC currencies & regions
  .changeset/lucky-roses-relate.md
  apps/ledger-live-desktop/src/config/languages.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.test.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/RegionSelect.tsx
  apps/ledger-live-mobile/src/context/LedgerStore.tsx
  libs/ledger-live-common/src/currencies/index.ts
  libs/ledger-live-common/src/currencies/support.ts
Labels: desktop, mobile, common

#9220 snapshot sortByMarketCap removal
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/currencies/sortByMarketcap.test.ts
Labels: common

#9221 👷 SonarQube - Exclude integration tests from analysis
  apps/ledger-live-desktop/jest.config.js
  apps/ledger-live-mobile/jest.config.js
  sonar-project.properties
Labels: desktop, mobile

#9229 ci: Move iOS PR builds to Linux due to limited macOS runners
  .github/workflows/build-mobile-reusable.yml
Labels: automation

#9203 add coin-modules on affected files
  .changeset/tasty-guests-suffer.md
  tools/actions/live-common-affected/build/main.js
  tools/actions/live-common-affected/src/main.ts
Labels: tools

#9225 fix: 🐞 get rid of 'cantCreateAccount' empty state
  .changeset/quiet-buttons-fetch.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/components/CantCreateAccountAlert/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/index.tsx
Labels: mobile

#9224 fix: 🐞 analytics and warning page close process (instead of back)
  .changeset/smart-lizards-remember.md
  apps/ledger-live-mobile/src/components/SelectableAccountsList.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountListDrawer/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountQuickActionsDrawer/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/useAccountsListViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AddFundsButton/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AddFundsButton/useAddFundsButtonViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/SelectAddAccountMethod/useSelectAddAccountMethodViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountSuccess/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountSuccess/useAddAccountSuccessViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountWarning/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccountWarning/useAddAccountWarningViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/components/ScannedAccountsSection/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/useScanDeviceAccountsViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectCrypto/index.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectCrypto/useSelectCryptoViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectNetwork/index.tsx
  apps/ledger-live-mobile/src/newArch/hooks/useAnalytics/data/addAccounts.ts
  apps/ledger-live-mobile/src/newArch/hooks/useAnalytics/enums.ts
Labels: mobile

#9192 [QAA][Detox] Add Speculos screenshots for failed tests
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/setup.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount/AddAccount.ts
  apps/ledger-live-mobile/e2e/specs/speculos/deleteAccount/deleteAccount.ts
  apps/ledger-live-mobile/e2e/specs/speculos/ledgerSync/ledgerSync.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/verifyAddress.ts
  apps/ledger-live-mobile/e2e/specs/speculos/verifyAddress/verifyEmptyAddressTRX.spec.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: mobile, common

#9223 feat: LIVE-16993 updated swap error messages
  .changeset/calm-lamps-kneel.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledgerjs/packages/hw-app-exchange/src/ReturnCode.ts
Labels: desktop, ledgerjs, translations

#9001 test/add-workflow-for-cli-account-management-and-data-sync
  apps/cli/src/commands/live/ledgerSync.ts
  apps/ledger-live-desktop/tests/page/drawer/ledger.sync.drawer.ts
  apps/ledger-live-desktop/tests/specs/speculos/ledgerSync.spec.ts
  apps/ledger-live-desktop/tests/testdata/ledgerSyncTestData.ts
  apps/ledger-live-desktop/tests/userdata/ledgerSync.json
  apps/ledger-live-desktop/tests/utils/ledgerSyncCliUtils.ts
Labels: desktop, cli

#9185 feat: add dropdown drawer menu for managing an Earn position
  .changeset/gorgeous-teachers-tap.md
  apps/ledger-live-mobile/src/actions/earn.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/RootNavigator/EarnLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/EarnLiveAppNavigator.ts
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/reducers/earn.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/PTX/Earn/EarnInfoDrawer.tsx
  apps/ledger-live-mobile/src/screens/PTX/Earn/EarnMenuDrawer.tsx
Labels: mobile

#9227 feat: ✨ dynamic redirection to buy or receive from final step add acc…
  .changeset/good-impalas-remain.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountQuickActionsDrawer/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountQuickActionsDrawer/useAccountQuickActionDrawerViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AddFundsButton/index.tsx
Labels: mobile

#9121 Fix/zcash locktime txversion
  .changeset/clean-hats-knock.md
  libs/coin-modules/coin-bitcoin/src/signer.ts
  libs/coin-modules/coin-bitcoin/src/wallet-btc/__tests__/xpub.txs.zcash.integration.test.ts
  libs/coin-modules/coin-bitcoin/src/wallet-btc/storage/types.ts
  libs/coin-modules/coin-bitcoin/src/wallet-btc/wallet.ts
  libs/coin-modules/coin-bitcoin/src/wallet-btc/xpub.ts
  libs/ledger-live-common/src/apps/config.ts
  libs/ledgerjs/packages/hw-app-btc/README.md
  libs/ledgerjs/packages/hw-app-btc/package.json
  libs/ledgerjs/packages/hw-app-btc/src/BtcNew.ts
  libs/ledgerjs/packages/hw-app-btc/src/constants.ts
  libs/ledgerjs/packages/hw-app-btc/src/createTransaction.ts
  libs/ledgerjs/packages/hw-app-btc/tests/createTransaction.test.ts
Labels: common, ledgerjs

#9215 :lipstick: (llm) empty accounts/assets screen
  .changeset/clever-dolls-greet.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/components/EmptyList/AccountsEmptyList/index.tsx
  apps/ledger-live-mobile/src/newArch/components/EmptyList/__tests__/AccountsEmptyList.test.tsx
  apps/ledger-live-mobile/src/newArch/components/EmptyList/components/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/accountsListScreen.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/hooks/useGenericAccountsListViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/hooks/useSpecificAccountsListViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/utils/getTicker.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/utils/navigation.ts
  apps/ledger-live-mobile/src/newArch/features/Assets/screens/AssetsList/index.tsx
Labels: mobile, translations

#9236 [QAA][LLM][Speculos] Fix Sepolia ticker
  libs/ledger-live-common/src/e2e/enum/Currency.ts
Labels: common

#9243 [QAA] [CI] Remove allure results retention policy
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation

#9241 :triangular_flag_on_post: (llm/lld) update mev feature flag
  .changeset/orange-turkeys-wait.md
  apps/ledger-live-desktop/src/renderer/screens/settings/SettingsSection.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Settings/General/MevProtection.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs, translations

#9235 ci: Adjust gradle concurrency
  apps/ledger-live-mobile/fastlane/Fastfile
Labels: mobile

#9244 fix(llm): 🩹 do not re-count devices multiple time after upgrades
  .changeset/quick-items-burn.md
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/logic/modelIdList.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
Labels: mobile

#9172 feat(lld): 💄 add the LNS upsell banners components to LLD
  .changeset/eleven-jeans-change.md
  apps/ledger-live-desktop/src/newArch/features/DynamicContent/components/PortfolioContentCards/Slide.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/__tests__/LNSBannerCard.test.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/__tests__/LNSNotificationBanner.test.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/components/LNSNotificationBanner/index.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/components/LNSbannerCard/index.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/types/enum/Analytics.ts
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/types/index.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ui/packages/react/src/components/layout/Banner/BannerCard/BannerCard.stories.tsx
  libs/ui/packages/react/src/components/layout/Banner/BannerCard/index.tsx
  libs/ui/packages/react/src/components/layout/Banner/NotificationCard/NotificationCard.stories.tsx
  libs/ui/packages/react/src/components/layout/Banner/NotificationCard/index.tsx
  libs/ui/packages/react/src/components/layout/ContentCard/PortfolioContentCard/index.tsx
  libs/ui/packages/react/src/components/layout/index.ts
Labels: desktop, ui, translations

#9104 fix: multiline error on input overflows over next item [LIVE-16701]
  .changeset/tender-ads-exercise.md
  apps/ledger-live-desktop/src/renderer/components/Input.tsx
  apps/ledger-live-desktop/src/renderer/components/IsUnlocked.tsx
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/lockscreen-wrong-password-linux.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/passwordlock-disable-bad-password-linux.png
Labels: desktop, screenshots

#9231 LIVE-15869: Earn eth staking modal text issues if ll in some languages
  .changeset/wicked-doors-search.md
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/component/ProviderItem.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/index.tsx
Labels: desktop

#9249 [QAA] Adding Best Offer test + re-activating Thorchain
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-tests-app.json
  libs/ledger-live-common/src/e2e/enum/Swap.ts
Labels: desktop, common

#9143 fix(LIVE-16653): remove uniswap from history status calls
  .changeset/wet-geckos-cheer.md
  libs/ledger-live-common/src/exchange/swap/updateAccountSwapStatus.ts
Labels: common

#9217 feat: passing last device and LL version and type to the swap live app
  .changeset/chatty-insects-chew.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/WebView.tsx
Labels: desktop, mobile

#9247 turbo caching for iOS E2E tests
  .github/workflows/test-mobile-e2e-reusable.yml
  package.json
  turbo.json
Labels: automation

#9272 ci: e2e ios depends on dependency builds via turbo
  .github/workflows/test-mobile-e2e-reusable.yml
  package.json
  turbo.json
Labels: automation

#9254 [QAA] Adding market widget checks
  apps/ledger-live-desktop/src/newArch/features/MarketPerformanceWidget/components/Header.tsx
  apps/ledger-live-desktop/src/renderer/components/FormattedVal.tsx
  apps/ledger-live-desktop/tests/page/portfolio.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/portfolio.spec.ts
Labels: desktop

#9270 [QAA] Check tickers for transaction amounts + update speculos image
  .github/workflows/test-ui-e2e-only-desktop.yml
  apps/ledger-live-desktop/tests/page/drawer/delegate.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/send.drawer.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
Labels: desktop, automation

#9181 ci: inconsequential readme change for testing
  apps/ledger-live-desktop/README.md
Labels: desktop

#9258 feat(live-16741): llm swap new header navigation
  .changeset/heavy-apes-exist.md
  apps/ledger-live-mobile/src/components/RootNavigator/SwapFormNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SwapNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/SwapNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/index.tsx
Labels: mobile

#9274 CI: reliable build desktop failures
  .github/workflows/build-desktop-reusable.yml
Labels: automation

#9202 feat(LIVE-16730): enable Swap deeplinks on LLM
  .changeset/empty-spies-rhyme.md
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/index.tsx
  apps/ledger-live-mobile/src/components/WebRecoverPlayer/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/index.tsx
  apps/ledger-live-mobile/src/screens/Platform/LiveApp.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/WebView.tsx
  libs/ledger-live-common/src/wallet-api/useDappLogic.ts
  pnpm-lock.yaml
Labels: mobile, common

#9279 feat(LIVE-17106): add different url for lifi in swap history
  .changeset/polite-moose-prove.md
  apps/ledger-live-desktop/src/renderer/drawers/SwapOperationDetails/index.tsx
Labels: desktop

#9226 CN-1078: Fix: Removing double decoding of goToURL in LL
  .changeset/fuzzy-cats-beg.md
  apps/ledger-live-mobile/src/screens/PTX/index.tsx
  libs/ledger-live-common/src/wallet-api/helpers.ts
Labels: mobile, common

#9282 👷 Activate SonarCloud PR Analysis for the whole organization
  .github/workflows/pr-analysis.yml
Labels: automation

#9214 feat: extract swap parameters from deeplink
  .changeset/real-buttons-sleep.md
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking/useDeepLinkHandler.ts
Labels: desktop

#9280 [QAA] Adding pairs to swap e2e tests
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-tests-app.json
  libs/ledger-live-common/src/e2e/enum/Account.ts
  libs/ledger-live-common/src/e2e/enum/AppInfos.ts
  libs/ledger-live-common/src/e2e/enum/Currency.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#9283 [QAA] adding test - Default currency when landing on swap
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
Labels: desktop

#9173 LIVE-16085: feat: enable staking entrypoints for CRO using stakekit
  .changeset/khaki-terms-begin.md
  apps/ledger-live-desktop/src/renderer/families/cosmos/AccountHeaderManageActions.ts
  apps/ledger-live-mobile/src/families/cosmos/accountActions.tsx
Labels: desktop, mobile

#9199 feat(lld): 🚩 add the `feature_lld_NanoS_upsell_banners` flag
  .changeset/dull-masks-perform.md
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/__tests__/LNSBannerCard.test.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/__tests__/LNSNotificationBanner.test.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/components/LNSBannerCard/index.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/components/LNSNotificationBanner/index.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/components/LNSbannerCard/index.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/hooks/useLNSUpsellBannerModel.ts
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/types/enum/Analytics.ts
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/types/index.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ledgerjs/packages/types-live/src/lnsUpsell.ts
Labels: desktop, common, ledgerjs, translations

#9320 docs: remove references to ci orchestrator
  tools/github-bot/README.md
Labels: tools

#9312 LLD - NFTs Spam filtering TX
  .changeset/dirty-bears-return.md
  .changeset/warm-chefs-mate.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Nfts/screens/Collection/index.tsx
  apps/ledger-live-desktop/src/newArch/hooks/usePagination.ts
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/actions/constants.ts
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/components/OperationsList/OperationsListV1/index.tsx
  apps/ledger-live-desktop/src/renderer/components/OperationsList/OperationsListV2/index.tsx
  apps/ledger-live-desktop/src/renderer/components/OperationsList/OperationsListV2/useOperationsList.ts
  apps/ledger-live-desktop/src/renderer/components/OperationsList/index.tsx
  apps/ledger-live-desktop/src/renderer/components/OperationsList/utils.ts
  apps/ledger-live-desktop/src/renderer/hooks/nfts/__tests__/useSyncNFTsWitHAccount.test.ts
  apps/ledger-live-desktop/src/renderer/hooks/nfts/useHideSpamCollection.ts
  apps/ledger-live-desktop/src/renderer/hooks/nfts/useSyncNFTsWithAccounts.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/account/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/asset/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/nft/Gallery/Collection.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/NftsTools/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SimpleHashTools/SpamScore/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/hooks/nfts/__tests__/useHideSpamCollection.test.ts
  apps/ledger-live-mobile/src/hooks/nfts/useHideSpamCollection.ts
  apps/ledger-live-mobile/src/hooks/nfts/useSyncNFTsWithAccounts.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/screens/Analytics/Operations/index.tsx
  apps/ledger-live-mobile/src/screens/Analytics/Operations/useOperations.ts
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioHistory.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Generators/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/OperationsHistory.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ledgerjs/packages/types-live/src/nft.ts
  libs/live-nft-react/src/NftMetadataProvider.tsx
  libs/live-nft-react/src/hooks/__mocks__/nftMocks.ts
  libs/live-nft-react/src/hooks/__tests__/useSpamTxFiltering.test.ts
  libs/live-nft-react/src/hooks/types.ts
  libs/live-nft-react/src/hooks/useFilterNftSpams.ts
  libs/live-nft-react/src/hooks/useSpamTxFiltering.ts
  libs/live-nft-react/src/index.ts
  libs/live-nft/src/types.ts
Labels: desktop, mobile, common, ledgerjs, translations

#9305 Fix/live 16651
  .changeset/witty-bottles-jump.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/LiveAppDrawer.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#9144 Support/bot updates
  .changeset/polite-rice-report.md
  .github/workflows/bot-nonreg-nitrogen.yml
  .github/workflows/bot-nonreg-oxygen.yml
  libs/coin-modules/coin-filecoin/src/test/bot-specs.ts
  libs/coin-modules/coin-solana/src/specs.ts
Labels: automation

#9323 feat: swap lifi sends txId like thorswap for history status
  .changeset/chilled-walls-vanish.md
  libs/ledger-live-common/src/exchange/swap/updateAccountSwapStatus.ts
Labels: common

#9326 fix(LIVE-17222):
  .changeset/happy-llamas-grin.md
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/TransactionBroadcastedContent.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/ExchangeDrawer/SwapCompleted.tsx
Labels: desktop

#9228 Feat/LIVE-15402: add gas fee drawer and fix fee fetching for swap-live-app
  .changeset/stale-clouds-glow.md
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/FeesNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SwapNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/FeesNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Fees/FeeContainer.tsx
  apps/ledger-live-mobile/src/screens/Fees/StrategyIcon.tsx
  apps/ledger-live-mobile/src/screens/Fees/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/getFee.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/index.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/swapRedirectToHistory.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/hooks/useSwapLiveAppCustomHandlers.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/utils/index.ts
Labels: mobile, translations

#9253 :chart_with_upwards_trend: (llm) tokens with funds analytics
  .changeset/wise-students-wonder.md
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/newArch/utils/__tests__/getTokensWithFunds.test.ts
  apps/ledger-live-mobile/src/newArch/utils/getTokensWithFunds.ts
Labels: mobile

#8931 ✨ DMK Eth Signer integration
  .changeset/brown-shoes-destroy.md
  .changeset/soft-foxes-beg.md
  .changeset/warm-clouds-perform.md
  libs/coin-modules/coin-evm/src/types/signer.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/evm/setup.ts
  libs/live-dmk/package.json
  libs/live-dmk/src/transport/DeviceManagementKitTransport.test.ts
  libs/live-dmk/src/transport/DeviceManagementKitTransport.ts
  libs/live-signer-evm/CHANGELOG.md
  libs/live-signer-evm/README.md
  libs/live-signer-evm/jest.config.ts
  libs/live-signer-evm/package.json
  libs/live-signer-evm/src/DmkSignerEth.ts
  libs/live-signer-evm/src/LegacySignerEth.ts
  libs/live-signer-evm/src/errors.ts
  libs/live-signer-evm/src/index.ts
  libs/live-signer-evm/tests/DmkSignerEth.test.ts
  libs/live-signer-evm/tests/tsconfig.json
  libs/live-signer-evm/tsconfig.json
  pnpm-lock.yaml
Labels: common

#9325 :chart_with_upwards_trend: (lld) graph tracking
  .changeset/rich-frogs-double.md
  apps/ledger-live-desktop/src/renderer/components/Chart/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/account/BalanceSummary.tsx
  apps/ledger-live-desktop/src/renderer/screens/asset/BalanceSummary.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/GlobalSummary.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoin/components/MarketCoinChart.tsx
Labels: desktop

#9304 [QAA] adding SPL tokens 1 - check error messages
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepRecipient.tsx
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
  libs/ledger-live-common/src/e2e/enum/Account.ts
  libs/ledger-live-common/src/e2e/enum/AccountType.ts
  libs/ledger-live-common/src/e2e/enum/Currency.ts
Labels: desktop, common

#9273 [QAA][Speculos][Detox] Add additional staking coins
  apps/ledger-live-mobile/e2e/models/currencies.ts
  apps/ledger-live-mobile/e2e/models/stake.ts
  apps/ledger-live-mobile/e2e/page/speculos.page.ts
  apps/ledger-live-mobile/e2e/page/trade/deviceValidation.page.ts
  apps/ledger-live-mobile/e2e/page/trade/operationDetails.page.ts
  apps/ledger-live-mobile/e2e/page/trade/send.page.ts
  apps/ledger-live-mobile/e2e/page/trade/stake.page.ts
  apps/ledger-live-mobile/e2e/specs/speculos/delegate/delegate.ts
  apps/ledger-live-mobile/e2e/specs/speculos/delegate/delegateADA.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/delegate/delegateEGLD.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/delegate/delegateINJ.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/delegate/delegateOSMO.spec.ts
  apps/ledger-live-mobile/src/components/ValidateOnDevice.tsx
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Details/Details.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Delegate/components/EarnRewards/EarnRewards.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Delegate/components/PickAmount/PickAmount.tsx
  apps/ledger-live-mobile/src/families/elrond/components/Flows/Delegate/components/SetDelegation/SetDelegation.tsx
  apps/ledger-live-mobile/src/screens/OperationDetails/Content.tsx
  libs/ledger-live-common/src/e2e/enum/AppInfos.ts
  libs/ledger-live-common/src/e2e/enum/Currency.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: mobile, common

#9349 docs: add extra line to desktop readme
  .changeset/three-dogs-behave.md
  apps/ledger-live-desktop/README.md
Labels: desktop

#9350 [QAA] Adding Swap test - using a different seed to perform a swap
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/components/TranslatedError/TranslatedError.tsx
  apps/ledger-live-desktop/tests/page/drawer/swap.confirmation.drawer.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-x-other-account.json
Labels: desktop

#9336 :thread: (llm): optimize launch
  .changeset/soft-kangaroos-call.md
  apps/ledger-live-mobile/src/context/LedgerStore.tsx
Labels: mobile

#9359 [QAA] fix ci: updated locator
  apps/ledger-live-desktop/tests/page/swap.page.ts
Labels: desktop

#9365 docs: pointless readme update
  .changeset/gold-singers-begin.md
  apps/ledger-live-desktop/README.md
Labels: desktop

#9353 fix accidental level hardcoding in adjust-changeset-level
  tools/actions/composites/adjust-changeset-level/action.yml
Labels: tools

#9368 [QAA] updating XRP amount for swap test
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-tests-app.json
Labels: desktop

#9334 ✨ LLD - Ledger Sync entry points
  .changeset/chilly-clouds-rule.md
  apps/ledger-live-desktop/src/newArch/features/LedgerSyncEntryPoints/__tests__/LedgerSyncEntryPoint.test.tsx
  apps/ledger-live-desktop/src/newArch/features/LedgerSyncEntryPoints/__tests__/shared.tsx
  apps/ledger-live-desktop/src/newArch/features/LedgerSyncEntryPoints/assets/logo_dark.svg
  apps/ledger-live-desktop/src/newArch/features/LedgerSyncEntryPoints/assets/logo_light.svg
  apps/ledger-live-desktop/src/newArch/features/LedgerSyncEntryPoints/components/AccountsEntryPoint/index.tsx
  apps/ledger-live-desktop/src/newArch/features/LedgerSyncEntryPoints/components/ManagerEntryPoint/index.tsx
  apps/ledger-live-desktop/src/newArch/features/LedgerSyncEntryPoints/components/OnboardingEntryPoint/index.tsx
  apps/ledger-live-desktop/src/newArch/features/LedgerSyncEntryPoints/components/SettingsEntryPoint/index.tsx
  apps/ledger-live-desktop/src/newArch/features/LedgerSyncEntryPoints/hooks/useActivationDrawer.ts
  apps/ledger-live-desktop/src/newArch/features/LedgerSyncEntryPoints/hooks/useEntryPoint.test.ts
  apps/ledger-live-desktop/src/newArch/features/LedgerSyncEntryPoints/hooks/useEntryPoint.ts
  apps/ledger-live-desktop/src/newArch/features/LedgerSyncEntryPoints/index.tsx
  apps/ledger-live-desktop/src/newArch/features/LedgerSyncEntryPoints/types/index.tsx
  apps/ledger-live-desktop/src/newArch/features/LedgerSyncEntryPoints/useLedgerSyncEntryPointViewModel.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/shared.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/components/Drawer.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useAddMember.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useLedgerSyncAnalytics.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useQRCode.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/03-ActivationOrSynchroWithTrustchain.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Activation/index.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/02-QRCodeStep.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/index.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/router.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountsHeader.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/LedgerSyncDrawer.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/WalletSync.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#9373 [QAA][Speculos][Detox] Fix default ADA delegator
  apps/ledger-live-mobile/e2e/specs/speculos/delegate/delegateADA.spec.ts
Labels: mobile

#9281 :bug: fix(llm) password crash on input focus
  .changeset/dull-flowers-fry.md
  apps/ledger-live-mobile/src/components/KeyboardBackgroundDismiss.tsx
  apps/ledger-live-mobile/src/components/KeyboardView.tsx
  apps/ledger-live-mobile/src/components/PasswordInput.tsx
  apps/ledger-live-mobile/src/context/AuthPass/AuthScreen.tsx
  apps/ledger-live-mobile/src/context/AuthPass/auth.hooks.ts
  apps/ledger-live-mobile/src/context/AuthPass/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/PasswordForm.tsx
Labels: mobile

#9383 fix: 🐞 context injection in deeplink redirection to add account v2 + delete the account selection logic
  .changeset/cuddly-insects-knock.md
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectCrypto/index.tsx
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectCrypto/useSelectCryptoViewModel.ts
Labels: mobile

#9370 Fix/show spams on feature flag fallback
  .changeset/bright-avocados-approve.md
  apps/ledger-live-desktop/src/renderer/hooks/nfts/__tests__/shared.ts
  apps/ledger-live-desktop/src/renderer/hooks/nfts/__tests__/useNftCollectionsStatus.test.ts
  apps/ledger-live-desktop/src/renderer/hooks/nfts/useNftCollectionsStatus.ts
  apps/ledger-live-desktop/src/renderer/screens/account/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.tsx
  apps/ledger-live-mobile/src/hooks/nfts/__tests__/shared.ts
  apps/ledger-live-mobile/src/hooks/nfts/__tests__/useNftCollectionsStatus.test.ts
  apps/ledger-live-mobile/src/hooks/nfts/useNftCollectionsStatus.ts
Labels: desktop, mobile

#9376 fix(live-15402): partial fix for custom method to get fees
  .changeset/young-owls-walk.md
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/consts.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/getFee.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/index.ts
Labels: mobile

#9382 chore: add queuedInterval in config
  libs/coin-modules/coin-solana/src/bridge/js.ts
  libs/coin-modules/coin-solana/src/config.ts
  libs/ledger-live-common/src/families/solana/config.ts
Labels: common

#9385 bugfix: Hide SimpleHashTool when FF off
  .changeset/giant-pans-brake.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
Labels: desktop

#9389 Revert "Verified commits in all remaining parts of the release workflows"
  .github/workflows/release-create-hotfix.yml
  .github/workflows/release-create.yml
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release-prerelease.yml
Labels: automation

#9388 fix(live-15402): swap llm - open network fees drawer
  .changeset/sharp-mangos-serve.md
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/getFee.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/index.ts
Labels: mobile

#9386 fix: specs celo and Icon
  .changeset/rude-cows-greet.md
  libs/coin-modules/coin-icon/src/specs.ts
  libs/ledger-live-common/src/families/celo/specs/createSendMutation.ts
Labels: common
