Repository LedgerHQ/ledger-live, pull requests merged in 2025-08, with the labels that each got.

#11137 fix(LLM) rerendering with use db save effect
  .changeset/smooth-dogs-battle.md
  apps/ledger-live-mobile/src/components/DBSave.ts
  apps/ledger-live-mobile/src/index.tsx
Labels: mobile

#11120 fix(BACK-9407): [coin-modules][stellar] fix memo details lost
  .changeset/sharp-singers-double.md
  apps/ledger-live-desktop/src/renderer/families/stellar/operationDetails.tsx
  apps/ledger-live-mobile/src/families/stellar/operationDetails.tsx
  libs/coin-modules/coin-stellar/src/logic/listOperations.unit.test.ts
  libs/coin-modules/coin-stellar/src/network/serialization.ts
  libs/coin-modules/coin-stellar/src/types/bridge.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/families/stellar/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/stellar/ui.ts
Labels: desktop, mobile, common

#11185 fix: update wording for geoblocking
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/static/i18n/th/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/locales/th/common.json
Labels: desktop, mobile, translations

#11156 feat(LIVE-20549): fix mobile export logs error and upgrade swap error
  .changeset/brown-dogs-appear.md
  apps/ledger-live-mobile/src/components/useExportLogs.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SwapCustomError.tsx
Labels: mobile

#11204 Setup CryptoAssetsStore in CLI
  .changeset/yellow-months-sniff.md
  apps/cli/src/live-common-setup.ts
Labels: cli

#11209 :chart_with_upwards_trend: LLD - AssetSelection drawer tracking
  .changeset/beige-bears-stare.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/LiveAppSDKLogic.ts
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/helpers.ts
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/SelectAccountAndCurrencyDrawer.tsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/logic.ts
  apps/ledger-live-desktop/src/renderer/screens/stake/index.tsx
Labels: desktop

#11216 fix: ci canton merge issues
  .changeset/beige-vans-judge.md
  libs/ledger-live-common/.unimportedrc.json
  libs/ledgerjs/packages/hw-app-canton/README.md
  libs/live-signer-canton/jest.config.ts
  libs/live-signer-canton/tests/LegacySignerCanton.test.ts
Labels: ledgerjs

#10960 added accounts tests
  e2e/mobile/page/accounts/account.page.ts
  e2e/mobile/page/accounts/addAccount.drawer.ts
  e2e/mobile/page/trade/receive.page.ts
  e2e/mobile/page/wallet/portfolio.page.ts
  e2e/mobile/specs/addAccount/addAccount.ts
  e2e/mobile/specs/portfolio/portfolioAccountsTab.spec.ts
  e2e/mobile/specs/portfolio/portfolioAssetsTab.spec.ts
  e2e/mobile/specs/subAccount/addSubAccountWithParent/addSubAccountBSC_BUSD.spec.ts
  e2e/mobile/specs/subAccount/addSubAccountWithParent/addSubAccountBSC_SHIBA.spec.ts
  e2e/mobile/specs/subAccount/addSubAccountWithParent/addSubAccountETH_LIDO.spec.ts
  e2e/mobile/specs/subAccount/addSubAccountWithParent/addSubAccountETH_USDT.spec.ts
  e2e/mobile/specs/subAccount/addSubAccountWithParent/addSubAccountPOL_DAI.spec.ts
  e2e/mobile/specs/subAccount/addSubAccountWithParent/addSubAccountPOL_UNI.spec.ts
  e2e/mobile/specs/subAccount/addSubAccountWithParent/addSubAccountTRX_USDT.spec.ts
  e2e/mobile/specs/subAccount/addSubAccountWithoutParent/addSubAccountALGO_USDT.spec.ts
  e2e/mobile/specs/subAccount/addSubAccountWithoutParent/addSubAccountBSC_BUSD.spec.ts
  e2e/mobile/specs/subAccount/addSubAccountWithoutParent/addSubAccountETH_USDT.spec.ts
  e2e/mobile/specs/subAccount/addSubAccountWithoutParent/addSubAccountPOL_DAI.spec.ts
  e2e/mobile/specs/subAccount/addSubAccountWithoutParent/addSubAccountTRX_USDT.spec.ts
  e2e/mobile/specs/subAccount/addSubAccountWithoutParent/addSubAccountXLM_USCD.spec.ts
  e2e/mobile/specs/subAccount/subAccount.ts
  e2e/mobile/userdata/speculos-subAccount.json
  libs/ledger-live-common/src/e2e/enum/Currency.ts
Labels: common

#11183 feat(coin-monitoring): monitor tier two adresses
  .changeset/quiet-llamas-scream.md
  libs/coin-modules-monitoring/src/currencies.ts
  libs/coin-modules/coin-filecoin/src/common-logic/utils.ts
  libs/coin-modules/coin-hedera/src/bridge/synchronisation.ts
  libs/coin-modules/coin-near/src/api/indexer.ts
  libs/coin-modules/coin-tezos/src/bridge/synchronization.ts
Labels: coin-modules-api

#11226 test: Hedera bridge.integration.test snapshot update v3
  libs/ledger-live-common/src/families/hedera/__snapshots__/bridge.integration.test.ts.snap
Labels: common, fork

#11236 only 1 tiers chains will be reported on datadog wallet view's custom …
  .changeset/new-roses-ring.md
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/utils/constants.ts
Labels: mobile

#11228 bugfix: remove the send max error on Polkadot
  .changeset/silly-moles-tie.md
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
  apps/ledger-live-desktop/static/i18n/pt/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/th-TH/app.json
  apps/ledger-live-desktop/static/i18n/th/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
  apps/ledger-live-mobile/src/locales/pt/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/th-TH/common.json
  apps/ledger-live-mobile/src/locales/th/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
  e2e/desktop/tests/specs/send.tx.spec.ts
  e2e/mobile/specs/send/sendInvalid/sendInvalidAmountDOT.spec.ts
  libs/coin-modules/coin-polkadot/src/bridge/getTransactionStatus.ts
  libs/coin-modules/coin-polkadot/src/bridge/utils.ts
  libs/coin-modules/coin-polkadot/src/test/bot-specs.ts
  libs/coin-modules/coin-polkadot/src/test/bridgeDatasetTest.ts
  libs/coin-modules/coin-polkadot/src/types/errors.ts
Labels: desktop, mobile, translations

#11244 add xrp and cardano to the topchain list (product req)
  .changeset/nice-buses-press.md
  apps/ledger-live-mobile/src/utils/constants.ts
Labels: mobile

#11248 test(coin-evm): improve Alpaca integration tests
  .changeset/rare-mugs-study.md
  libs/coin-modules/coin-evm/src/api/index.integ.test.ts
Labels: coin-modules-api

#11252 chore(errors): augment custom errors type with metadata
  .changeset/polite-feet-appear.md
  apps/ledger-live-desktop/src/renderer/components/RecipientAddress.tsx
  libs/ledgerjs/packages/errors/src/helpers.ts
Labels: desktop, ledgerjs

#11256 fix: for e2e tests: nano titles update
  libs/ledger-live-common/src/e2e/enum/DeviceLabels.ts
  libs/ledger-live-common/src/e2e/families/evm.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, mobile, common, ui, ledgerjs, cli

#11119 [Fix] Fix a tracking issue during Recovery Key onboarding
  .changeset/angry-poets-cover.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SyncOnboardingCompanion.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SyncOnboardingCompanion.tsx
Labels: desktop, mobile, Activation

#11016 chore(BACK-9348): add ALPACA staking API + SUI implementation
  .changeset/purple-tomatoes-poke.md
  libs/coin-framework/src/api/types.ts
  libs/coin-modules/coin-aptos/src/api/index.ts
  libs/coin-modules/coin-canton/src/api/index.ts
  libs/coin-modules/coin-evm/src/api/index.ts
  libs/coin-modules/coin-module-boilerplate/src/api/index.ts
  libs/coin-modules/coin-polkadot/src/api/index.ts
  libs/coin-modules/coin-stellar/src/api/index.ts
  libs/coin-modules/coin-sui/src/api/index.integration.test.ts
  libs/coin-modules/coin-sui/src/api/index.test.ts
  libs/coin-modules/coin-sui/src/api/index.ts
  libs/coin-modules/coin-sui/src/logic/getBalance.test.ts
  libs/coin-modules/coin-sui/src/logic/getBalance.ts
  libs/coin-modules/coin-sui/src/logic/index.ts
  libs/coin-modules/coin-sui/src/logic/staking.ts
  libs/coin-modules/coin-sui/src/network/index.ts
  libs/coin-modules/coin-sui/src/network/sdk.integration.test.ts
  libs/coin-modules/coin-sui/src/network/sdk.ts
  libs/coin-modules/coin-tezos/src/api/index.ts
  libs/coin-modules/coin-tron/src/api/index.ts
  libs/coin-modules/coin-xrp/src/api/index.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/alpaca/network/network-alpaca.ts
Labels: common, coin-modules-api

#11193 test(ci): launch `coin-modules-monitoring` in CI
  .github/workflows/coin-monitoring-manual.yml
  libs/coin-modules-monitoring/package.json
  libs/coin-modules-monitoring/tsconfig.json
  package.json
  pnpm-lock.yaml
  tools/actions/composites/monitor/action.yml
Labels: tools, automation, skip-sync-check

#11276 ci: removing unused input
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation, skip-sync-check

#11225 add canton icon
  .changeset/empty-jokes-laugh.md
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ui/packages/crypto-icons/src/svg/currency_canton_network.svg
Labels: ui, ledgerjs

#11188 :lipstick: (MAD-LLM) enhance animations
  .changeset/blue-bats-share.md
  apps/ledger-live-mobile/__tests__/jest-setup.js
  apps/ledger-live-mobile/src/components/AnimatedHeader.tsx
  apps/ledger-live-mobile/src/components/CollapsibleList.tsx
  apps/ledger-live-mobile/src/components/TabBar/Transfer.tsx
  apps/ledger-live-mobile/src/components/ToggleButton.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/components/Collapsible/index.tsx
  apps/ledger-live-mobile/src/newArch/components/CopyButton/index.tsx
  apps/ledger-live-mobile/src/newArch/components/QueuedDrawer/temp/components/Header.tsx
  apps/ledger-live-mobile/src/newArch/components/Swiper/utils/__tests__/gesture.test.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/components/AnimatedAccountItem/useItemAnimation.ts
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/screens/SelectNetwork/useBannerAnimation.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/ModularDrawerFlowManager/ModularDrawerFlowView.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/ModularDrawerFlowManager/__tests__/useScreenTransition.test.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/ModularDrawerFlowManager/useScreenTransition.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/__integrations__/modularDrawer.test.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/__integrations__/modules.test.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/useModularDrawerState.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/screens/NetworkSelection/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/AnimatedBar/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/screens/Web3HubApp/components/Web3Player/BottomBar.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step2ChooseContrast.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/Device/StorageBarItem.tsx
  apps/ledger-live-mobile/src/screens/PTX/BuySell/ProviderInterstitial.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/AnimatedContainer.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  apps/ledger-live-mobile/src/screens/Settings/Experimental/ExperimentalHeader.tsx
  libs/ui/packages/native/package.json
  pnpm-lock.yaml
Labels: mobile, ui, translations

#11211 fix: send/receive HTS tokens - HTS in bot and fixes (part 4)
  libs/coin-modules/coin-hedera/src/api/utils.ts
  libs/coin-modules/coin-hedera/src/bridge/buildOptimisticOperation.ts
  libs/coin-modules/coin-hedera/src/bridge/serialization.test.ts
  libs/coin-modules/coin-hedera/src/bridge/utils.integration.test.ts
  libs/coin-modules/coin-hedera/src/test/bot-specs.ts
  libs/coin-modules/coin-hedera/src/test/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/hedera/__snapshots__/bridge.integration.test.ts.snap
Labels: common, fork, coin-modules-api

#11289 :wrench: (llm) add eslint rule for reanimated hooks
  .changeset/twelve-ties-jump.md
  apps/ledger-live-mobile/.eslintrc.js
  apps/ledger-live-mobile/src/components/AssetCentricGraphCard.tsx
  apps/ledger-live-mobile/src/components/CurrencyBackgroundGradient.tsx
  apps/ledger-live-mobile/src/components/CurrencyHeaderLayout.tsx
  apps/ledger-live-mobile/src/components/GraphCard.tsx
  apps/ledger-live-mobile/src/contentCards/layouts/carousel/pagination/bullets.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/components/ScanDeviceAccountsFooter/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/components/AnimatedBar/index.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/Device/StorageBarItem.tsx
  apps/ledger-live-mobile/src/screens/NpsRatingsModal/index.tsx
  apps/ledger-live-mobile/src/screens/RatingsModal/index.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/ReceiveSecurityModal/index.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/SanctionedAccountModal/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Accounts/TokenContextualModal.tsx
Labels: mobile

#11296 :bug: (llm) fix new queuedDrawer
  .changeset/yellow-cobras-wave.md
  apps/ledger-live-mobile/src/newArch/components/QueuedDrawer/temp/QueuedDrawerGorhom.tsx
  apps/ledger-live-mobile/src/newArch/components/QueuedDrawer/temp/useQueuedDrawerGorhom.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/ModularDrawerFlowManager/useScreenTransition.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/useModularDrawerState.ts
Labels: mobile

#11299 fix(BACK-9348): stellar operation details UI fixes
  .changeset/nine-foxes-flash.md
  apps/ledger-live-desktop/src/renderer/families/stellar/operationDetails.tsx
  libs/ledger-live-common/src/families/stellar/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/stellar/ui.ts
Labels: desktop, common

#11271 fix: set blockhash on rawtransaction
  .changeset/brown-peas-knock.md
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts
  libs/coin-modules/coin-solana/src/buildTransaction.ts
Labels: desktop

#11266 ✨ LLD - Setup RTK
  .changeset/late-spoons-do.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/createStore.ts
  apps/ledger-live-desktop/src/renderer/middlewares/analytics.ts
  apps/ledger-live-desktop/src/renderer/middlewares/db.ts
  apps/ledger-live-desktop/src/renderer/middlewares/logger.ts
  apps/ledger-live-desktop/src/renderer/middlewares/utils.ts
  apps/ledger-live-mobile/ios/Podfile.lock
  pnpm-lock.yaml
Labels: desktop, mobile

#11318 fix(LLM): prevent android locks on transient AppState changes
  .changeset/six-trainers-train.md
  apps/ledger-live-mobile/src/context/AuthPass/auth.hooks.ts
Labels: mobile

#10769 feat: sui swap tokens
  .changeset/nasty-terms-burn.md
  .changeset/quick-pigs-shout.md
  libs/coin-modules/coin-sui/src/bridge/buildTransaction.integration.test.ts
  libs/coin-modules/coin-sui/src/bridge/buildTransaction.test.ts
  libs/coin-modules/coin-sui/src/bridge/buildTransaction.ts
  libs/coin-modules/coin-sui/src/bridge/getFeesForTransaction.ts
  libs/coin-modules/coin-sui/src/logic/craftTransaction.ts
  libs/coin-modules/coin-sui/src/network/sdk.test.ts
  libs/coin-modules/coin-sui/src/network/sdk.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/exchange/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/sui-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/sui.json
  pnpm-lock.yaml
Labels: common, ledgerjs

#11333 remove bridge test for : canton
  libs/ledger-live-common/src/families/canton/bridge.integration.test.ts
Labels: common

#11327 fix: custom close for card
  .changeset/clean-mails-watch.md
  apps/ledger-live-mobile/src/components/WebPTXPlayer/CustomHandlers.ts
Labels: mobile

#11332 LIVE-20867: prevent infinite rendering cycles when purging anonymous notifications
  .changeset/shy-cats-rush.md
  apps/ledger-live-desktop/src/renderer/actions/constants.ts
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/hooks/useBraze.ts
  apps/ledger-live-desktop/src/renderer/hooks/useNotifications.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.test.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/types/dynamicContent.ts
  libs/ledger-live-common/src/braze/anonymousUsers.ts
Labels: desktop, common

#11348 Release/LIVE-20867: prevent infinite rendering cycles when purging anonymous notifications
  .changeset/shy-cats-rush.md
  apps/ledger-live-desktop/src/renderer/actions/constants.ts
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/hooks/useBraze.ts
  apps/ledger-live-desktop/src/renderer/hooks/useNotifications.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.test.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/types/dynamicContent.ts
  libs/ledger-live-common/src/braze/anonymousUsers.ts
Labels: desktop, common

#11374 chore(coin-evm): adapt `estimateFees` parameters on `coin-evm`
  .changeset/strange-hats-beam.md
  libs/coin-modules/coin-evm/src/api/index.ts
  libs/coin-modules/coin-evm/src/logic/estimateFees.test.ts
  libs/coin-modules/coin-evm/src/logic/estimateFees.ts
Labels: coin-modules-api

#11392 chore: (rtk) disable immutable checks in middleware when creating stores
  .changeset/tame-cherries-camp.md
  apps/ledger-live-desktop/src/renderer/createStore.ts
Labels: desktop

#11383 fix: send/receive HTS tokens - revert HTS in bot + CI fixes
  libs/coin-modules/coin-hedera/src/bridge/buildOptimisticOperation.integration.test.ts
  libs/coin-modules/coin-hedera/src/bridge/getTransactionStatus.test.ts
  libs/coin-modules/coin-hedera/src/bridge/js-estimateMaxSpendable.integration.test.ts
  libs/coin-modules/coin-hedera/src/bridge/js-transaction.test.ts
  libs/coin-modules/coin-hedera/src/bridge/serialization.test.ts
  libs/coin-modules/coin-hedera/src/bridge/transaction.test.ts
  libs/coin-modules/coin-hedera/src/bridge/utils.integration.test.ts
  libs/coin-modules/coin-hedera/src/logic.test.ts
  libs/coin-modules/coin-hedera/src/test/bot-specs.ts
  libs/coin-modules/coin-hedera/src/test/fixtures/account.fixture.ts
  libs/coin-modules/coin-hedera/src/test/fixtures/currency.fixture.ts
  libs/coin-modules/coin-hedera/src/test/fixtures/mirror.fixture.ts
  libs/coin-modules/coin-hedera/src/test/fixtures/operation.fixture.ts
  libs/coin-modules/coin-hedera/src/test/fixtures/transaction.fixture.ts
  libs/coin-modules/coin-hedera/src/test/speculos-deviceActions.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/families/hedera/__snapshots__/bridge.integration.test.ts.snap
Labels: common, fork

#11387 LIVE-19865/refactor: improve NotificationsProvider's performance
  .changeset/eight-mugs-hug.md
  apps/ledger-live-mobile/src/screens/NotificationCenter/NotificationsProvider.tsx
Labels: mobile

#11420 test: fix solana e2e - new flow
  libs/ledger-live-common/src/e2e/enum/DeviceLabels.ts
  libs/ledger-live-common/src/e2e/families/solana.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: common

#11319 fix(live-20333): llc swap - change amountInAtomicUnit type to BigNumber
  .changeset/silly-grapes-talk.md
  libs/exchange-module/src/types.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/actions.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
Labels: common

#11208 Refactor(LLM) LIVE-19861 refactor AuthPass
  .changeset/tricky-eels-remain.md
  apps/ledger-live-mobile/__tests__/test-renderer.tsx
  apps/ledger-live-mobile/src/actions/auth.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/RequestBiometricAuth.ts
  apps/ledger-live-mobile/src/context/AuthPass/auth.hooks.ts
  apps/ledger-live-mobile/src/context/AuthPass/index.tsx
  apps/ledger-live-mobile/src/reducers/__tests__/auth.test.ts
  apps/ledger-live-mobile/src/reducers/auth.ts
  apps/ledger-live-mobile/src/reducers/index.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Settings/General/BiometricsRow.tsx
Labels: mobile

#11436 LLM MAD Analytics for Live Apps
  .changeset/ninety-peaches-report.md
  apps/ledger-live-mobile/src/components/Web3AppWebview/NoAccountScreen.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/useDrawerLifecycle.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/screens/AssetSelection/index.tsx
Labels: mobile

#11442 fix: send/receive HTS code review changes
  apps/ledger-live-desktop/src/renderer/families/hedera/ReceiveWithAssociationModal/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/hedera/ReceiveWithAssociationModal/steps/StepAssociationConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/hedera/ReceiveWithAssociationModal/types.ts
  apps/ledger-live-mobile/src/families/hedera/AssociateTokenFlow/AssociationInsufficientFundsError.tsx
Labels: desktop, mobile, fork

#11449 test: Hedera bridge snapshot update
  libs/ledger-live-common/src/families/hedera/__snapshots__/bridge.integration.test.ts.snap
Labels: common, fork

#11313 Feature/live 19996
  .changeset/modern-needles-cough.md
  apps/cli/src/live-common-setup.ts
  apps/ledger-live-desktop/src/newArch/hooks/useStake.test.ts
  apps/ledger-live-mobile/src/newArch/hooks/useStake/useStake.test.ts
  libs/coin-framework/src/account/accountId.test.ts
  libs/coin-framework/src/crypto-assets/index.ts
  libs/coin-modules/coin-bitcoin/src/descriptor.test.ts
  libs/coin-modules/coin-evm/package.json
  libs/coin-modules/coin-evm/src/__fixtures__/cardano-native-8654e8b350e298c80d2451beb5ed80fc9eee9f38ce6b039fb8706bc34c4f4253544552.json
  libs/coin-modules/coin-evm/src/__fixtures__/ethereum-erc20-usd__coin-0x02b972f304dc24c9bc362e6435c4ad654241f9af916689a4790145c9bcbdf4cf-IN-i0.json
  libs/coin-modules/coin-evm/src/__fixtures__/ethereum-erc20-usd__coin-0x02b972f304dc24c9bc362e6435c4ad654241f9af916689a4790145c9bcbdf4cf-OUT-i0.json
  libs/coin-modules/coin-evm/src/__fixtures__/ethereum-erc20-usd__coin-0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48.json
  libs/coin-modules/coin-evm/src/__fixtures__/ethereum-erc20-weth.json
  libs/coin-modules/coin-evm/src/__fixtures__/optimism-erc20-usd_coin.json
  libs/coin-modules/coin-evm/src/__tests__/fixtures/accounts.fixtures.ts
  libs/coin-modules/coin-evm/src/__tests__/fixtures/common.fixtures.ts
  libs/coin-modules/coin-evm/src/__tests__/fixtures/cryptoAssetsStore.fixtures.ts
  libs/coin-modules/coin-evm/src/__tests__/fixtures/prepareTransaction.fixtures.ts
  libs/coin-modules/coin-evm/src/__tests__/fixtures/synchronization.fixtures.ts
  libs/coin-modules/coin-evm/src/__tests__/fixtures/transaction.fixtures.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/accounts.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/adapters/etherscan.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/adapters/ledger.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/api/explorer/etherscan.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/api/explorer/ledger.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/broadcast.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/buildOptimisticOperation.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/deviceTransactionConfig.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/estimateMaxSpendable.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/getTransactionStatus.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/logic.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/operation.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/prepareTransaction.unit.test.ts
  libs/coin-modules/coin-evm/src/adapters/etherscan.ts
  libs/coin-modules/coin-evm/src/adapters/ledger.ts
  libs/coin-modules/coin-evm/src/bridge/js.ts
  libs/coin-modules/coin-evm/src/cryptoAssetsStore.test.ts
  libs/coin-modules/coin-evm/src/cryptoAssetsStore.ts
  libs/coin-modules/coin-evm/src/deviceTransactionConfig.ts
  libs/coin-tester-modules/coin-tester-evm/src/scenarii.test.ts
  libs/ledger-live-common/src/DataModel.test.ts
  libs/ledger-live-common/src/__tests__/accounts/groupPerDay.ts
  libs/ledger-live-common/src/__tests__/test-helpers/setup.ts
  libs/ledger-live-common/src/account/serialization.test.ts
  libs/ledger-live-common/src/bridge/crypto-assets/index.test.ts
  libs/ledger-live-common/src/bridge/crypto-assets/index.ts
  libs/ledger-live-common/src/bridge/impl.ts
  libs/ledger-live-common/src/currencies/sortByMarketcap.test.ts
  libs/ledger-live-common/src/families/bitcoin/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/bitcoin/satstack.test.ts
  libs/ledger-live-common/src/families/evm/setup.ts
  libs/ledger-live-common/src/families/tron/data.mock.ts
  libs/ledgerjs/packages/types-live/.unimportedrc.json
  libs/ledgerjs/packages/types-live/src/crypto-assets/index.ts
  libs/ledgerjs/packages/types-live/src/index.ts
  libs/live-config/src/LiveConfig.ts
  libs/live-countervalues/src/mock.test.ts
  libs/live-wallet/src/liveqr/importAccounts.test.ts
  libs/live-wallet/src/ordering.test.ts
Labels: desktop, mobile, common, ledgerjs, cli

#11309 feat(coin-evm): implement `validateIntent`
  .changeset/perfect-icons-type.md
  libs/coin-modules/coin-evm/src/api/index.ts
  libs/coin-modules/coin-evm/src/logic/common.ts
  libs/coin-modules/coin-evm/src/logic/index.ts
  libs/coin-modules/coin-evm/src/logic/validateIntent.test.ts
  libs/coin-modules/coin-evm/src/logic/validateIntent.ts
Labels: coin-modules-api

#11328 chore: fix synthetic tests reusable workflow bool condition
  .github/workflows/test-mobile-synthetics-reusable.yml
Labels: automation, skip-sync-check

#11463 :lipstick: (ui-cryptoicons) update WOD icon
  .changeset/olive-feet-carry.md
  libs/ui/packages/crypto-icons/src/svg/WOD.svg
Labels: ui

#11479 chore: additional infos in datadog events
  .changeset/eighty-shirts-matter.md
  apps/ledger-live-mobile/src/datadog.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketList/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  apps/ledger-live-mobile/src/sentry.ts
  apps/ledger-live-mobile/src/types/helpers.ts
  apps/ledger-live-mobile/src/utils/datadogUtils.ts
Labels: mobile

#11414 feat: Update Solana createBridge function signature for Lazy CAL
  .changeset/happy-rules-sneeze.md
  libs/coin-modules/coin-solana/src/__fixtures__/solana-spl-epjfwdd5aufqssqem2qn1xzybapc8g4weggkzwytdt1v.json
  libs/coin-modules/coin-solana/src/bridge.integration.test.ts
  libs/coin-modules/coin-solana/src/bridge/js.ts
  libs/coin-modules/coin-solana/src/cli-transaction.ts
  libs/coin-modules/coin-solana/src/cryptoAssetsStore.test.ts
  libs/coin-modules/coin-solana/src/cryptoAssetsStore.ts
  libs/coin-modules/coin-solana/src/helpers/token.ts
  libs/coin-modules/coin-solana/src/prepareTransaction.ts
  libs/coin-modules/coin-solana/src/synchronization.ts
  libs/coin-modules/coin-solana/src/tests/tokens-bridge.unit.test.ts
  libs/coin-modules/coin-solana/src/transaction.ts
  libs/coin-tester-modules/coin-tester-solana/src/scenarii.test.ts
  libs/ledger-live-common/src/families/solana/setup.ts
Labels: common

#11422 chore: Deeplinks tool for LLM & LLD
  .changeset/rude-icons-breathe.md
  apps/ledger-live-desktop/ledger-live-desktop-deeplinks.html
  apps/ledger-live-desktop/package.json
  apps/ledger-live-mobile/ledger-live-mobile-deeplinks.html
  apps/ledger-live-mobile/package.json
  knip.json
  pnpm-lock.yaml
Labels: desktop, mobile

#11477 fix: LLM MAD Analytics
  .changeset/silly-turtles-happen.md
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
Labels: mobile

#11451 [LIVE-21038][APEX]Update icon Flex and Stax
  .changeset/proud-parents-doubt.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/assets/ContinueOnApex.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/assets/ContinueOnEuropa.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/assets/ContinueOnStax.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/assets/ContinueOnApex.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/assets/ContinueOnEuropa.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/assets/ContinueOnStax.tsx
Labels: desktop, mobile, Activation

#11481 feat(hw-app): Add integration tests with Canton app in Speculos
  .changeset/wet-apricots-rest.md
  libs/ledgerjs/packages/hw-app-canton/README.md
  libs/ledgerjs/packages/hw-app-canton/__tests__/Canton.test.ts
  libs/ledgerjs/packages/hw-app-canton/jest.config.ts
  libs/ledgerjs/packages/hw-app-canton/jest.integ.config.ts
  libs/ledgerjs/packages/hw-app-canton/package.json
  libs/ledgerjs/packages/hw-app-canton/src/Canton.integ.test.ts
  libs/ledgerjs/packages/hw-app-canton/src/Canton.ts
  package.json
  pnpm-lock.yaml
Labels: ledgerjs

#11511 LLM MAD fix analytics
  .changeset/small-eggs-collect.md
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/useDrawerLifecycle.ts
Labels: mobile

#11502 chore: Adapt Modular Dev Tool
  .changeset/fuzzy-bees-thank.md
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/Debug/const/configurationOptions.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/Debug/index.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/Debug/utils.ts
Labels: mobile

#11527 test(coin-evm): fix integration tests
  .changeset/dull-poems-applaud.md
  libs/coin-modules/coin-evm/src/api/index.integ.test.ts
  libs/coin-modules/coin-evm/src/cryptoAssetsStore.ts
Labels: coin-modules-api

#11524 :sparkles: (MAD-LLM) add MSW for dev
  .changeset/rare-camels-matter.md
  apps/ledger-live-mobile/babel.config.js
  apps/ledger-live-mobile/index.js
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/mocks/README.md
  apps/ledger-live-mobile/src/mocks/dada/mockAssets.ts
  apps/ledger-live-mobile/src/mocks/handlers.ts
  apps/ledger-live-mobile/src/mocks/init.ts
  apps/ledger-live-mobile/src/mocks/server.ts
  apps/ledger-live-mobile/tsconfig.json
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: mobile

#11537 feat(LLD): infinite scroll
  .changeset/smart-days-hope.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerFlowManagerRemoteData.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useModularDrawerData.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useModularDrawerRemoteData.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/components/List/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/index.tsx
  libs/ledger-live-common/src/modularDrawer/data/state-manager/api.ts
  libs/ledger-live-common/src/modularDrawer/hooks/__test__/useAssetsData.test.ts
  libs/ledger-live-common/src/modularDrawer/hooks/useAssetsData.ts
  libs/ui/packages/react/src/pre-ldls/components/VirtualList/VirtualList.tsx
  pnpm-lock.yaml
Labels: desktop, common, ui

#11550 :bug: (lld) use lang instead of locale in notif panel
  .changeset/olive-ads-brush.md
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/AnnouncementPanel.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useDateFormatter.test.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useDateFormatter.ts
Labels: desktop

#11384 Refactor(LLM): LIVE-19855 Reboot provider to redux
  .changeset/shaggy-swans-dream.md
  apps/ledger-live-mobile/src/actions/appstate.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/context/AuthPass/AuthScreen.tsx
  apps/ledger-live-mobile/src/context/Reboot.tsx
  apps/ledger-live-mobile/src/context/store.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/middleware/rebootMiddleware.ts
  apps/ledger-live-mobile/src/reducers/appstate.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Settings/Debug/Configuration/ReadOnlyModeRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Configuration/ResetOnboardingStateRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Configuration/SkipOnboardingRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Generators/GenerateMockAccounts.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Generators/GenerateMockAccountsSelect.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Generators/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/MockModeRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Help/ClearCacheRow.tsx
  libs/live-countervalues-react/src/index.tsx
Labels: mobile

#11541 feat(LIVE-21097): add cic accept terms
  .changeset/curly-toys-smoke.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/DrawerFooter.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-services/cal/src/partners/default.ts
Labels: desktop, translations

#11525 added deposit tests cases
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/Navigator.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  e2e/mobile/page/trade/receive.page.ts
  e2e/mobile/page/wallet/transferMenu.drawer.ts
  e2e/mobile/specs/deposit/createNewAccountAndDeposit_XRP_1.spec.ts
  e2e/mobile/specs/deposit/deposit.ts
  e2e/mobile/specs/deposit/depositInExistingAccount_ETH_1.spec.ts
  e2e/mobile/specs/deposit/selectCryptoNetworkWithAccount_ETH_1.spec.ts
  e2e/mobile/specs/deposit/selectCryptoNetworkWithoutAccount_ETH_1.spec.ts
  e2e/mobile/specs/deposit/selectCryptoWithoutNetworkAndAccount_BTC_LEGACY_1.spec.ts
Labels: mobile

#11494 feat(coin-framework): add `getTokenFromAsset` in `BridgeApi`
  .changeset/long-pots-promise.md
  libs/coin-framework/src/api/types.ts
  libs/coin-modules/coin-evm/src/api/index.ts
  libs/coin-modules/coin-evm/src/logic/getTokenFromAsset.test.ts
  libs/coin-modules/coin-evm/src/logic/getTokenFromAsset.ts
  libs/coin-modules/coin-evm/src/logic/index.ts
  libs/coin-modules/coin-stellar/src/api/index.ts
  libs/coin-modules/coin-stellar/src/logic/getTokenFromAsset.test.ts
  libs/coin-modules/coin-stellar/src/logic/getTokenFromAsset.ts
  libs/coin-modules/coin-stellar/src/logic/index.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/buildSubAccounts.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/getAccountShape.ts
Labels: common, coin-modules-api

#11554 list operations simple impl canton
  .changeset/warm-laws-fly.md
  libs/coin-modules/coin-canton/src/api/listOperations.integ.test.ts
  libs/coin-modules/coin-canton/src/common-logic/history/listOperations.ts
  libs/coin-modules/coin-canton/src/network/gateway.ts
Labels: coin-modules-api

#11556 :bug: (llm) largemover price variation and perf bar
  .changeset/orange-jokes-know.md
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Card.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/PriceAndVariation.tsx
  libs/ui/packages/native/src/components/ProgressPoint/index.tsx
Labels: mobile, ui

#11379 clean up of old feature: LiveQR import (LLD->LLM)
  .changeset/ninety-foxes-brush.md
  apps/cli/package.json
  apps/cli/src/commands-index.ts
  apps/cli/src/commands/live/exportAccounts.ts
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/components/Exporter/ExportInstructions.tsx
  apps/ledger-live-desktop/src/renderer/components/Exporter/QRCodeExporter.tsx
  apps/ledger-live-desktop/src/renderer/components/Exporter/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/ExportAccounts/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/index.ts
  apps/ledger-live-desktop/src/renderer/modals/types.ts
  apps/ledger-live-desktop/src/renderer/screens/accounts/OptionsButton.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/Export.tsx
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/actions/accounts.ts
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseOnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/ImportAccountsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/OnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseOnboardingNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/ImportAccountsNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/RootNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/th-TH/common.json
  apps/ledger-live-mobile/src/locales/th/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/addAccount.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/SelectAddAccountMethod/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/SelectAddAccountMethod/useSelectAddAccountMethodViewModel.ts
  apps/ledger-live-mobile/src/screens/ImportAccounts/DisplayResult.tsx
  apps/ledger-live-mobile/src/screens/ImportAccounts/DisplayResultItem.tsx
  apps/ledger-live-mobile/src/screens/ImportAccounts/DisplayResultSettingsSection.tsx
  apps/ledger-live-mobile/src/screens/ImportAccounts/ResultSection.tsx
  apps/ledger-live-mobile/src/screens/ImportAccounts/Scan.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/importAccounts.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/ExportAccounts.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Generators/ImportBridgeStreamData.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Generators/index.tsx
  libs/ledger-live-common/dependencies.md
  libs/live-wallet/package.json
  libs/live-wallet/src/liveqr/__snapshots__/cross.test.ts.snap
  libs/live-wallet/src/liveqr/cross.test.ts
  libs/live-wallet/src/liveqr/cross.ts
  libs/live-wallet/src/liveqr/importAccounts.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, translations, cli

#11540 fix(LLM): filter accounts on AccountListView with blacklistedTokenIds
  .changeset/polite-donuts-clap.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/useAccountsListViewModel.ts
Labels: mobile
