Repository LedgerHQ/ledger-live, pull requests merged in 2025-06, with the labels that each got.

#10405 fix: large mover header deleted
  .changeset/kind-icons-drop.md
  apps/ledger-live-mobile/src/components/RootNavigator/LandingPagesNavigator.tsx
Labels: mobile

#10407 fix: blur on the top of the card and blur on the ticker
  .changeset/lovely-papayas-scream.md
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Card.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Ticker.tsx
Labels: mobile

#10350 fix: remove custom fees on LLD and LLM
  .changeset/strong-worms-teach.md
  apps/ledger-live-desktop/src/renderer/families/xrp/SendAmountFields.tsx
  apps/ledger-live-desktop/src/renderer/families/xrp/index.ts
  apps/ledger-live-mobile/src/components/EditFeeUnit.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/SendFundsNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SignTransactionNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SwapNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/families/xrp/ScreenEditFee.tsx
  apps/ledger-live-mobile/src/families/xrp/XrpFeeRow.tsx
  apps/ledger-live-mobile/src/families/xrp/index.ts
Labels: desktop, mobile

#10415 fix(live-19297): LLM swap - use getProviderName for consistent provider naming
  .changeset/kind-planes-raise.md
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
Labels: mobile

#10412 🐛 LLM - Claim atom header size now scaling depending on screen
  .changeset/slimy-pens-exist.md
  apps/ledger-live-mobile/src/components/StepHeader.tsx
  apps/ledger-live-mobile/src/families/cosmos/ClaimRewardsFlow/index.tsx
Labels: mobile

#10421 [Detox][Mock] Fix start-server script
  apps/ledger-live-mobile/e2e/bridge/start-server.ts
  apps/ledger-live-mobile/e2e/bridge/types.ts
  apps/ledger-live-mobile/e2e/jest.globalSetup.ts
Labels: mobile

#10419 :bug: (logs): Export log circular error
  .changeset/red-foxes-kneel.md
  apps/ledger-live-mobile/src/components/useExportLogs.tsx
  libs/ledgerjs/packages/logs/src/index.test.ts
  libs/ledgerjs/packages/logs/src/index.ts
Labels: mobile, ledgerjs

#10426 fix: amend the name and attributes of the EarnMenuDrawer events
  .changeset/dirty-flies-eat.md
  apps/ledger-live-mobile/src/screens/PTX/Earn/EarnMenuDrawer.tsx
Labels: mobile

#10404 Implement Buy / Sell flow from different entry point (portfolio page)
  e2e/desktop/tests/fixtures/common.ts
  e2e/desktop/tests/page/account.page.ts
  e2e/desktop/tests/page/buyAndSell.page.ts
  e2e/desktop/tests/page/drawer/choose.asset.drawer.ts
  e2e/desktop/tests/page/drawer/operation.drawer.ts
  e2e/desktop/tests/page/portfolio.page.ts
  e2e/desktop/tests/page/swap.page.ts
  e2e/desktop/tests/page/webViewApp.page.ts
  e2e/desktop/tests/specs/buySell.spec.ts
  e2e/desktop/tests/specs/swap.other.spec.ts
  e2e/desktop/tests/utils/getAccountAddressesUtils.ts
  e2e/desktop/tests/utils/urlUtils.ts
  e2e/mobile/page/liveApps/swapLiveApp.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/e2e/enum/OperationType.ts
  libs/ledger-live-common/src/e2e/enum/Provider.ts
  libs/ledger-live-common/src/e2e/models/BuySell.ts
Labels: common

#10422 Feature/live 19413 build common part for completeExchange flow
  .changeset/rude-radios-compete.md
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/coin-framework/src/config.ts
  libs/ledger-live-common/src/__tests__/test-helpers/bridge.ts
  libs/ledger-live-common/src/bridge/impl.ts
  libs/ledger-live-common/src/config/index.ts
  libs/ledger-live-common/src/config/sharedConfig.ts
  libs/ledger-live-common/src/sanction/errors.ts
  libs/ledger-live-common/src/sanction/index.ts
Labels: desktop, common, translations

#10443 fix(BACK-9017): [coin-modules][tezos] fix integration tests
  libs/coin-modules/coin-tezos/src/api/index.integ.test.ts
Labels: coin-modules-api

#10423 :chart_with_upwards_trend: (MAD) incr 1 & 2 analytics
  .changeset/cyan-pianos-stare.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerFlowManager.stories.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerFlowManager.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/Web3AppWebview/AssetAndAccountDrawer.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/Web3AppWebview/__tests__/openAssetAndAccountDrawer.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__mocks__/useGroupedCurrenciesByProvider.mock.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__tests__/selectAccountFlow.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__tests__/selectNetworkFlow.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/analytics/TrackDrawerScreen.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/analytics/__tests__/TrackDrawerScreen.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/analytics/__tests__/formatAssetConfig.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/analytics/__tests__/formatNetworkConfig.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/analytics/__tests__/useModularDrawerAnalytics.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/analytics/types.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/analytics/useModularDrawerAnalytics.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/analytics/utils.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/Header/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SkeletonList.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/__tests__/useDetailedAccounts.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/__tests__/useModularDrawerFlowState.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/__tests__/useOpenAssetFlow.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useDetailedAccounts.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useModularDrawerFlowState.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useOpenAssetFlow.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountSelection/components/List.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountSelection/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/components/List.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/components/SearchInputContainer/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/components/SearchInputContainer/test/useSearch.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/components/SearchInputContainer/useSearch.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/NetworkSelection/components/List.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/NetworkSelection/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/utils/haveOneCommonProvider.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/utils/tests/haveOneCommonProvider.test.ts
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/components/AnalyticsConsole/Event.test.tsx
  apps/ledger-live-desktop/src/renderer/components/AnalyticsConsole/Event.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/LiveAppSDKLogic.ts
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountGridItem/Placeholder.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountRowItem/Placeholder.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountsHeader.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/EmptyStateAccounts.tsx
Labels: desktop

#9808 feat: Add the LLM resolution tool in Electron within the PTX WebView
  .changeset/light-planets-brake.md
  apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/TopBar.tsx
  apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/index.tsx
Labels: desktop

#10458 bugfix: fix delegation e2e test
  .changeset/purple-deers-run.md
  apps/ledger-live-mobile/src/families/cosmos/DelegationFlow/02-Summary.tsx
Labels: mobile

#10394 🐛 Fix LLD Rename Account
  .changeset/friendly-books-sing.md
  apps/ledger-live-desktop/src/renderer/init.tsx
  apps/ledger-live-desktop/src/renderer/reducers/index.ts
  e2e/desktop/tests/page/index.ts
  e2e/desktop/tests/specs/rename.account.spec.ts
  e2e/desktop/tests/utils/redux.ts
  e2e/desktop/tests/utils/userdata.ts
  libs/live-wallet/src/store.test.ts
  libs/live-wallet/src/store.ts
Labels: desktop

#10455 :bug: (llc) [LIVE-19430 LIVE-19429]: Fix ConnectApp issues
  .changeset/dry-mugs-cross.md
  apps/ledger-live-mobile/package.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/hw/connectAppEventMapper.ts
  libs/ledgerjs/packages/hw-app-exchange/package.json
  libs/live-dmk-desktop/package.json
  libs/live-dmk-mobile/package.json
  libs/live-dmk-shared/package.json
  libs/live-signer-evm/package.json
  pnpm-lock.yaml
Labels: mobile, common, ledgerjs

#10438 :lipstick: (MAD) polish transition animations
  .changeset/rotten-gifts-push.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerFlowManager.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/AnimatedScreenWrapper.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/BackButton.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/Header/Title.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/Header/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/ListWrapper.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/Title.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountSelection/components/List.tsx
Labels: desktop

#10487 :chart_with_upwards_trend: (LLD) MAD missing analytics
  .changeset/dull-tables-rule.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/Web3AppWebview/AssetAndAccountDrawer.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__tests__/selectAccountFlow.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/analytics/__tests__/useModularDrawerAnalytics.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/analytics/useModularDrawerAnalytics.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/components/List.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/components/SearchInputContainer/test/useSearch.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/components/SearchInputContainer/useSearch.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/NetworkSelection/components/List.tsx
Labels: desktop

#10425 Feat/address sanctioned swap
  .changeset/tame-adults-sin.md
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
Labels: common

#10494 fix(ledger-live-common) typo in countervalues market URL
  .changeset/cyan-waves-fetch.md
  libs/ledger-live-common/src/hooks/useOFACGeoBlockCheck.ts
Labels: common

#10496 Bugfix/live 19505
  .changeset/dirty-crews-approve.md
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/multiversx/components/Flows/Delegate/components/PickAmount/PickAmount.tsx
Labels: mobile

#10406 :sparkles: (LLD) MAD balance assets list
  .changeset/clean-camels-study.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerFlowManager.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__tests__/modules.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/AssetSelection.stories.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/components/List/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/modules/createAssetConfigurationHook.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/modules/useRightBalanceModule.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/utils/getBalanceAndFiatValueByAssets.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/utils/groupAccountsByAsset.ts
  apps/ledger-live-desktop/src/newArch/utils/composeHooks.ts
  apps/ledger-live-desktop/src/newArch/utils/counterValueFormatter.ts
  apps/ledger-live-desktop/src/newArch/utils/parseToBigNumber.ts
  apps/ledger-live-desktop/src/newArch/utils/tests/composeHooks.test.ts
  apps/ledger-live-desktop/src/newArch/utils/tests/counterValueFormatter.test.ts
  apps/ledger-live-desktop/src/newArch/utils/tests/parseToBigNumber.test.ts
  apps/ledger-live-desktop/tests/handlers/countervalues.ts
  apps/ledger-live-desktop/tests/handlers/fixtures/countervalues/ethMockedHourly.json
  apps/ledger-live-desktop/tests/handlers/index.ts
  apps/ledger-live-desktop/tests/mocks/countervalues.mock.ts
  apps/ledger-live-desktop/tests/testSetup.tsx
  knip.json
  libs/ledger-live-common/src/wallet-api/ModularDrawer/types.ts
  libs/ledger-live-common/src/wallet-api/ModularDrawer/utils.ts
  libs/ui/packages/react/.unimportedrc.json
  libs/ui/packages/react/src/pre-ldls/components/AssetItem/AssetItem.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/AssetItem/AssetItem.tsx
  libs/ui/packages/react/src/pre-ldls/components/AssetList/AssetList.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/AssetList/AssetList.tsx
  libs/ui/packages/react/src/pre-ldls/components/sharedStoryBook.tsx
Labels: desktop, common, ui

#10492 fix: update BTC app navigation
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: common

#10482 fix: Send SPL tokens from 1 account to another Send from GIGACHAD 1 A…
  apps/ledger-live-mobile/src/screens/OperationDetails/Content.tsx
  e2e/mobile/helpers/pageScroller.ts
  e2e/mobile/page/accounts/account.page.ts
  e2e/mobile/page/trade/operationDetails.page.ts
  e2e/mobile/specs/subAccount/subAccount.ts
Labels: mobile

#10515 Feat/set showNfts to false
  .changeset/silver-geckos-attack.md
  libs/ledger-live-common/src/families/evm/config.ts
Labels: common

#10533 bugfix: button Sell greyed out
  .changeset/brave-colts-join.md
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Footer.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/hooks/useFooterQuickAction.tsx
Labels: mobile

#10480 Feat/large mover overlay tutorial
  apps/ledger-live-mobile/Gemfile.lock
  apps/ledger-live-mobile/__tests__/test-renderer.tsx
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/actions/largeMoverLandingPage.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/context/LedgerStore.tsx
  apps/ledger-live-mobile/src/db.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/components/Swiper/utils/gesture.ts
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/OverlayTutorial.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/__tests__/OverlayTutorial.test.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/index.tsx
  apps/ledger-live-mobile/src/reducers/index.ts
  apps/ledger-live-mobile/src/reducers/largeMover.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  libs/ui/packages/icons/scripts/build.js
  libs/ui/packages/icons/src/svg/swipe.svg
  libs/ui/packages/native/src/components/Icon/type.ts
  libs/ui/packages/native/storybook/stories/Icon/IconsList.stories.tsx
  libs/ui/packages/react/src/components/asorted/Icon/Icons.stories.tsx
  pnpm-lock.yaml
Labels: mobile, ui, translations

#10522 fix(LLM): memoTagInput retain input focus on modal close
  .changeset/perfect-crews-repeat.md
  apps/ledger-live-mobile/src/screens/SendFunds/02-SelectRecipient.tsx
Labels: mobile

#10557 chore(cal): Update CAL tokens
  .changeset/tender-ducks-itch.md
  libs/ledgerjs/packages/cryptoassets/src/data/apt_coin-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/apt_fungible_asset-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/asa-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/cardanoNative-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/esdt-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/10/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/106/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1088/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1101/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/11155111/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/11155420/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1284/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/137/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/14/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/1442/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/146/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/168587773/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/19/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/199/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/245022934/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/246/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/25/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/250/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/30/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/324/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/40/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42161/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/421614/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42793/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/43114/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/534351/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/534352/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/56/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/57/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/59144/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/592/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/81457/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/8217/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/8453/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/8453/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/8453/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/84532/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/bep20.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/exchange/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/filecoin-erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/spl-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/stellar-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/ton-jetton-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/trc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/vip180-hash.json
Labels: ledgerjs

#10305 feat: add custom webview loader for Buy/Sell
  .changeset/rare-trainers-boil.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/types.ts
  apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/BuySell/ProviderInterstitial.test.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/BuySell/ProviderInterstitial.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/index.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/types.ts
  apps/ledger-live-mobile/src/components/WebPTXPlayer/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/PTX/BuySell/ProviderInterstitial.test.tsx
  apps/ledger-live-mobile/src/screens/PTX/BuySell/ProviderInterstitial.tsx
  apps/ledger-live-mobile/src/screens/PTX/index.tsx
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/hooks/useShowProviderLoadingTransition.test.ts
  libs/ledger-live-common/src/hooks/useShowProviderLoadingTransition.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs, translations

#10564 :sparkles: (MAD) missing entry point to MAD
  .changeset/five-hornets-rhyme.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/helpers.ts
Labels: desktop

#10225 core(coin-solana,hw-app-solana): support SPL tokens dynamically
  .changeset/purple-llamas-itch.md
  libs/coin-modules/coin-solana/src/prepareTransaction.ts
  libs/coin-modules/coin-solana/src/signOperation.ts
  libs/coin-modules/coin-solana/src/signer.ts
  libs/coin-modules/coin-solana/src/tx-fees.ts
  libs/coin-modules/coin-solana/src/types.ts
  libs/coin-tester-modules/coin-tester-solana/data/virtual.json
  libs/coin-tester-modules/coin-tester-solana/docker-compose.yml
  libs/coin-tester-modules/coin-tester-solana/src/fixtures.ts
  libs/coin-tester-modules/coin-tester-solana/src/scenarii/solana.ts
  libs/coin-tester/docker-compose.yml
  libs/coin-tester/src/main.ts
  libs/ledger-services/cal/src/certificate.integ.test.ts
  libs/ledger-services/cal/src/certificate.ts
  libs/ledger-services/cal/src/tokens.ts
  libs/ledgerjs/packages/hw-app-solana/README.md
  libs/ledgerjs/packages/hw-app-solana/src/Solana.ts
  libs/ledgerjs/packages/hw-app-solana/src/descriptor.ts
  libs/ledgerjs/packages/hw-app-solana/tests/Solana.test.ts
  libs/ledgerjs/packages/hw-app-solana/tests/descriptor.test.ts
  libs/live-signer-solana/src/LegacySignerSolana.ts
  libs/live-signer-solana/tests/LegacySignerSolana.test.ts
  tools/actions/composites/setup-coin-tester-env/action.yml
Labels: ledgerjs, tools

#10578 fix: dark blur for Large Mover overlay tutorial in light mode
  .changeset/three-actors-repair.md
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/OverlayTutorial.tsx
Labels: mobile

#10315 feat(coin-solana): warn correctly on not enough gas
  .changeset/warm-bugs-sort.md
  apps/ledger-live-desktop/src/renderer/components/LowGasAlertBuyMore.tsx
  apps/ledger-live-desktop/src/renderer/families/solana/SendAmountFields.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepAmount.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/steps/StepAmount.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FeesDrawerLiveApp/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/config.ts
  apps/ledger-live-mobile/src/families/evm/SelectFeesStrategy.tsx
  apps/ledger-live-mobile/src/families/solana/SendRows.test.tsx
  apps/ledger-live-mobile/src/families/solana/SendRowsFee.tsx
  libs/coin-modules/coin-solana/src/__tests__/fixtures/helpers.fixture.ts
  libs/coin-modules/coin-solana/src/buildTransaction.test.ts
  libs/coin-modules/coin-solana/src/prepareTransaction.test.ts
  libs/coin-modules/coin-solana/src/prepareTransaction.ts
Labels: desktop, mobile

#10529 chore: setup Datadog SDK on LLM
  .changeset/heavy-timers-press.md
  apps/ledger-live-mobile/.env.android.nightly
  apps/ledger-live-mobile/.env.android.prerelease
  apps/ledger-live-mobile/.env.android.release
  apps/ledger-live-mobile/.env.android.staging
  apps/ledger-live-mobile/.env.ios.nightly
  apps/ledger-live-mobile/.env.ios.prerelease
  apps/ledger-live-mobile/.env.ios.release
  apps/ledger-live-mobile/.env.ios.staging
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/datadog.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  pnpm-lock.yaml
  turbo.json
Labels: mobile, common, ledgerjs

#10442 feat: buy sell mobile navigation bar
  .changeset/selfish-balloons-eat.md
  apps/ledger-live-mobile/src/components/WebPTXPlayer/CustomHandlers.ts
  apps/ledger-live-mobile/src/components/WebPTXPlayer/index.tsx
Labels: mobile

#10565 fix gradient in graph
  .changeset/brown-pans-sing.md
  apps/ledger-live-mobile/src/components/Graph/index.tsx
Labels: mobile

#10577 🐛 CI - Fix sonar cloud workflow develop branch not found
  .github/workflows/scan-sonar-reusable.yml
Labels: automation

#10588 fix: update send an SPL token error message and account for empty value in get minimum amount function
  e2e/desktop/tests/specs/subAccount.spec.ts
  libs/ledger-live-common/src/e2e/swap.ts
Labels: common

#10596 bugfix: display of Learn More on Ledger Sync
  .changeset/tough-deers-trade.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncActivation.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/Activation/index.tsx
Labels: mobile

#10594 feat(LIVE-19694): add analytics opt in data for swap
  .changeset/light-beds-exercise.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/WebView.tsx
Labels: desktop, mobile

#10587 Storybook v7 + design tokens + first Input
  knip.json
  libs/ui/packages/native/.storybook-web/main.js
  libs/ui/packages/native/.storybook-web/webpack.config.js
  libs/ui/packages/native/.storybook/main.js
  libs/ui/packages/native/package.json
  libs/ui/packages/native/src/pre-ldls/components/Input/Input.stories.tsx
  libs/ui/packages/native/src/pre-ldls/components/Input/Input.tsx
  libs/ui/packages/native/src/pre-ldls/components/index.ts
  libs/ui/packages/native/src/pre-ldls/index.ts
  libs/ui/packages/native/src/pre-ldls/libs/design-tokens.ts
  libs/ui/packages/native/src/pre-ldls/libs/index.ts
  pnpm-lock.yaml
Labels: ui

#10608 fix(LIVE-19694): fix wrong analytics data selector for swap webviews
  .changeset/hungry-tomatoes-cover.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/WebView.tsx
Labels: desktop, mobile

#10402 :bug: (cls): Remap device disconnected error
  .changeset/sixty-camels-wonder.md
  .changeset/stupid-pens-relax.md
  apps/ledger-live-mobile/src/components/TranslatedError/TranslatedError.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/screens/SelectDevice/index.tsx
  apps/ledger-live-mobile/src/newArch/features/DeviceSelection/screens/SelectDevice/useSelectDeviceViewModel.ts
  libs/ledger-live-common/src/hw/customLockScreenLoad.test.ts
  libs/ledger-live-common/src/hw/customLockScreenLoad.ts
Labels: mobile, common, translations

#10604 fix cal tokens workflow
  .github/workflows/import-cal-tokens.yml
Labels: automation

#10611 build: build apk and aab for nightly builds
  apps/ledger-live-mobile/fastlane/Fastfile
Labels: mobile

#10591 ✨ (onboarding) [LIVE-18332]: Charon support
  .changeset/fuzzy-bulldogs-guess.md
  .changeset/tidy-adults-join.md
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackTransactionChecksFlow.test.ts
  apps/ledger-live-desktop/src/renderer/components/RecoverRestore/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/EarlySecurityChecks/Body.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SeedStep.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SyncOnboardingCompanion.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/assets/BackgroundBlue.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/assets/BackgroundRed.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/assets/charon.png
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/assets/index.d.ts
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/assets/secret-recovery-phrase.png
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/OnboardingAppInstallDebug.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/analytics/hooks/useTrackTransactionChecksFlow.test.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/logic/_tests_/modelIdList.test.ts
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/FirmwareUpdate.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SyncOnboardingCompanion.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/assets/BackgroundBlue.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/assets/BackgroundRed.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/assets/charon.png
  apps/ledger-live-mobile/src/screens/SyncOnboarding/assets/srp@2x.png
  apps/ledger-live-mobile/src/screens/SyncOnboarding/assets/srp@3x.png
  libs/device-core/src/commands/entities/FirmwareInfoEntity.ts
  libs/device-core/src/commands/use-cases/isCharonSupported.test.ts
  libs/device-core/src/commands/use-cases/isCharonSupported.ts
  libs/device-core/src/commands/use-cases/isRecoverSupported.test.ts
  libs/device-core/src/commands/use-cases/isRecoverSupported.ts
  libs/device-core/src/commands/use-cases/parseGetVersionResponse.test.ts
  libs/device-core/src/commands/use-cases/parseGetVersionResponse.ts
  libs/device-core/src/index.ts
  libs/device-core/src/managerApi/entities/DeviceInfoEntity.ts
  libs/device-core/src/managerApi/entities/mocks/aDeviceInfo.ts
  libs/ledger-live-common/src/__tests__/hw/getLatestFirmwareForDevice.ts
  libs/ledger-live-common/src/__tests__/test-helpers/deviceInfos.ts
  libs/ledger-live-common/src/apps/mock.ts
  libs/ledger-live-common/src/deviceSDK/tasks/getDeviceInfo.ts
  libs/ledger-live-common/src/hw/connectManager.ts
  libs/ledger-live-common/src/hw/extractOnboardingState.test.ts
  libs/ledger-live-common/src/hw/extractOnboardingState.ts
  libs/ledger-live-common/src/hw/getDeviceInfo.ts
  libs/ledger-live-common/src/hw/getGenuineCheckFromDeviceId.test.ts
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.test.ts
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.ts
  libs/ledger-live-common/src/hw/isFirmwareUpdateVersionSupported.test.ts
  libs/ledger-live-common/src/mock/fixtures/aDeviceInfo.ts
  libs/ledger-live-common/src/onboarding/hooks/useOnboardingStatePolling.test.ts
  libs/ledgerjs/packages/types-live/src/manager.ts
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/TimelineItem.tsx
  libs/ui/packages/native/src/components/Layout/List/types.ts
  libs/ui/packages/react/src/components/layout/List/VerticalTimeline/TimelineItem.tsx
  libs/ui/packages/react/src/components/layout/List/VerticalTimeline/index.tsx
Labels: desktop, mobile, common, ui, ledgerjs, translations

#10626 feat(LIVE-19638): send where user clicked from to swap live app
  .changeset/gorgeous-weeks-stare.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/WebView.tsx
Labels: desktop, mobile

#10581 fix(LIVE-19457): add redirect to swap history to mobile
  .changeset/poor-ligers-accept.md
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/index.ts
Labels: mobile

#10619 Fix/live 19533/llm swap export history 2nd fix
  .changeset/unlucky-beds-build.md
  apps/ledger-live-mobile/src/screens/Swap/History/index.tsx
Labels: mobile

#10628 [LIVE-18348][TS][Charon] Add new tracking event
  .changeset/honest-pans-unite.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SeedStep.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SyncOnboardingCompanion.tsx
Labels: desktop, mobile

#10433 Mad arch rework add accounts
  .changeset/thin-ants-jump.md
  .eslintrc.js
  apps/ledger-live-desktop/src/newArch/components/LoadingOverlay/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerAddAccountFlowManager.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/Web3AppWebview/__tests__/openAssetAndAccountDrawer.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/AnimatedScreenWrapper.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/Header/Title.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/__tests__/useOpenAssetFlow.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useDetailedAccounts.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useModularDrawerNavigation.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useOpenAssetFlow.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useScanAccounts.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/ConnectYourDevice/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/ScanAccounts/components/CreatableAccountsList/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/ScanAccounts/components/Footer/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/ScanAccounts/components/ImportableAccountsList/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/ScanAccounts/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/types.ts
  apps/ledger-live-desktop/src/newArch/features/WalletSync/components/LoadingStep.tsx
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/TopBar.test.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/page/modal/add.account.modal.ts
  apps/ledger-live-mobile/.eslintrc.js
  e2e/desktop/tests/page/modal/add.account.modal.ts
  libs/ui/packages/icons/src/svg/pause.svg
  libs/ui/packages/react/.unimportedrc.json
  libs/ui/packages/react/package.json
  libs/ui/packages/react/src/components/cta/Button/Button.stories.tsx
  libs/ui/packages/react/src/components/cta/Button/index.tsx
  libs/ui/packages/react/src/components/form/Checkbox/Checkbox.stories.tsx
  libs/ui/packages/react/src/components/form/Checkbox/Checkbox.tsx
  libs/ui/packages/react/src/helpers.types.ts
  libs/ui/packages/react/src/pre-ldls/components/AccountItem/AccountItem.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/AccountItem/AccountItem.tsx
  libs/ui/packages/react/src/pre-ldls/components/Address/Address.tsx
  libs/ui/packages/react/src/pre-ldls/components/VirtualList/VirtualList.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/VirtualList/VirtualList.tsx
  libs/ui/packages/react/src/pre-ldls/libs/index.ts
  pnpm-lock.yaml
Labels: desktop, ui, translations

#10318 Fix Tezos "Earn staking rewards" feature.
  .changeset/pink-laws-deliver.md
  libs/coin-modules/coin-tezos/src/network/bakers.test.ts
  libs/coin-modules/coin-tezos/src/network/bakers.ts
  libs/coin-modules/coin-tezos/src/network/bakers.whitelist-default.ts
Labels: fork

#10630 feat: Add Feature Flag for the new Asset Network Account selection
  .changeset/dry-icons-guess.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/__tests__/useModularDrawerVisibility.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/__tests__/useOpenAssetFlow.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useDetailedAccounts.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useModularDrawerVisibility.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useOpenAssetFlow.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/index.ts
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/helpers.ts
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountGridItem/Placeholder.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountRowItem/Placeholder.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountsHeader.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/EmptyStateAccounts.tsx
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/modularDrawer/__test__/useModularDrawerVisibility.test.ts
  libs/ledger-live-common/src/modularDrawer/enums.ts
  libs/ledger-live-common/src/modularDrawer/useModularDrawerVisibility.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs

#10507 feat(lld, llm): target a custom reference of the CAL
  .changeset/yellow-coins-marry.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/CustomCALRefInput.test.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/CustomCALRefInput.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Settings/Developer/CustomCALRefInput.test.tsx
  apps/ledger-live-mobile/src/screens/Settings/Developer/CustomCALRefInput.tsx
  apps/ledger-live-mobile/src/screens/Settings/Developer/index.tsx
  libs/env/src/env.ts
  libs/ledger-live-common/src/bridge/cache.test.ts
  libs/ledger-live-common/src/bridge/cache.ts
  libs/ledger-services/cal/src/certificate.ts
  libs/ledger-services/cal/src/common.ts
  libs/ledger-services/cal/src/currencies.ts
  libs/ledger-services/cal/src/tokens.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/fetch/index.ts
  libs/ledgerjs/packages/types-live/src/bridge.ts
  turbo.json
Labels: desktop, mobile, common, ledgerjs, translations

#10640 :sparkles: (MAD) display testnet if dev mode is ON
  .changeset/twelve-eagles-complain.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerFlowManager.tsx
  apps/ledger-live-desktop/src/newArch/utils/testnetCurrencies.ts
  apps/ledger-live-desktop/src/newArch/utils/tests/testnetCurrencies.test.ts
Labels: desktop

#10484 ✨ LLD - Add Account Success Screen
  .changeset/metal-melons-laugh.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerAddAccountFlowManager.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/Header/Title.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/HeaderGradient.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsAdded/components/AccountList.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsAdded/components/ActionButtons.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsAdded/components/SuccessIcon.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsAdded/components/Title.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsAdded/components/index.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsAdded/hooks.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsAdded/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsAdded/types.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/ScanAccounts/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/utils/getAccountProtocol.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/utils/tests/getAccountProtocol.test.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ui/packages/react/src/pre-ldls/components/AccountItem/AccountItem.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/AccountItem/AccountItem.tsx
Labels: desktop, ui, translations

#10625 :sparkles: (llm): Block app if version is outdated
  .changeset/afraid-brooms-dance.md
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/AppBlockers/components/AppBlocker/__integrations__/AppBlocker.test.tsx
  apps/ledger-live-mobile/src/newArch/features/AppBlockers/components/AppBlocker/index.tsx
  apps/ledger-live-mobile/src/newArch/features/AppBlockers/components/AppGeoBlocker/__integrations__/AppGeoBlocker.test.tsx
  apps/ledger-live-mobile/src/newArch/features/AppBlockers/components/AppGeoBlocker/index.tsx
  apps/ledger-live-mobile/src/newArch/features/AppBlockers/components/AppVersionBlocker/__integrations__/AppVersionBlocker.test.tsx
  apps/ledger-live-mobile/src/newArch/features/AppBlockers/components/AppVersionBlocker/index.tsx
  apps/ledger-live-mobile/src/utils/urls.tsx
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/hooks/useAppVersionBlockCheck.test.ts
  libs/ledger-live-common/src/hooks/useAppVersionBlockCheck.ts
Labels: mobile, common, translations

#10418 feat(LIVE-19141): update swap screen header navigation
  .changeset/brave-turkeys-compete.md
  apps/ledger-live-mobile/src/components/RootNavigator/SwapNavigator.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/types.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/WebView.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/navigationHandlers/useIsSwapTab.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/navigationHandlers/useSwapAndroidHardwareBackPress.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/navigationHandlers/useSwapHeaderNavigation.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/navigationHandlers/useSwapNavigationHelper.tsx
  apps/ledger-live-mobile/src/screens/Swap/types.ts
Labels: mobile, translations

#10652 :sparkles: (MAD-Add account) warning screens
  .changeset/young-chefs-dress.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerAddAccountFlowManager.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/HeaderGradient.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useScanAccounts.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsAdded/components/ActionButtons.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsWarning/components/ActionButtons.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsWarning/components/IconContainer.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsWarning/components/index.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsWarning/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsWarning/types.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsWarning/useWarningConfig.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/ScanAccounts/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/types.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#10567 feat: back navigation in earn app deposit flows
  .changeset/four-colts-bake.md
  apps/ledger-live-mobile/__tests__/CustomLiveAppProvider.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/EarnLiveAppNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/EarnLiveAppNavigator.ts
  apps/ledger-live-mobile/src/newArch/hooks/useStake/useStake.test.ts
  apps/ledger-live-mobile/src/newArch/hooks/useStake/useStake.tsx
  apps/ledger-live-mobile/src/screens/PTX/Earn/EarnMenuDrawer.tsx
  apps/ledger-live-mobile/src/screens/PTX/Earn/EarnWebview/index.tsx
  apps/ledger-live-mobile/src/screens/PTX/Earn/EarnWebview/useEarnWebviewCustomHandlers.ts
  apps/ledger-live-mobile/src/screens/PTX/Earn/index.tsx
Labels: mobile

#10662 docs: update release notes
  apps/ledger-live-desktop/RELEASE_NOTES.md
Labels: desktop

#10543 FEAT / LIVE-19130: Improve analytics tracking with dapp selectors
  .changeset/hot-vans-retire.md
  libs/evm-tools/src/selectors/dappSelectors.ts
  libs/evm-tools/src/selectors/index.ts
  libs/ledger-live-common/src/wallet-api/types.ts
  libs/ledger-live-common/src/wallet-api/useDappLogic.ts
  libs/ledger-live-common/src/wallet-api/utils/txTrackingHelper.test.ts
  libs/ledger-live-common/src/wallet-api/utils/txTrackingHelper.ts
  libs/ledgerjs/packages/hw-app-eth/src/utils.ts
Labels: common, ledgerjs

#10675 fix: earn stake programs param not passed
  .changeset/silly-apes-do.md
  apps/ledger-live-mobile/src/screens/PTX/Earn/index.tsx
Labels: mobile

#10669 bugfix(settings): avoid unnecessary re-renders and i18n language changes on selection
  .changeset/sharp-camels-juggle.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/CounterValueSelect.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/LanguageSelect.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/RegionSelect.tsx
Labels: desktop

#10666 [LIVE-18341] Add CTA links for Ledger Recovery Key
  .changeset/sharp-bottles-unite.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SeedStep.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SyncOnboardingCompanion.tsx
Labels: desktop, mobile, live-devices

#10654 Bugfix/local hedera account transactions fetching
  .changeset/chilly-olives-give.md
  libs/coin-modules/coin-hedera/src/api/mirror.test.ts
  libs/coin-modules/coin-hedera/src/api/mirror.ts
Labels: coin-modules-api

#10624 feat(LLD): MAD storybook modularisation parameter
  .changeset/clean-lemons-pretend.md
  apps/ledger-live-desktop/.storybook/main.ts
  apps/ledger-live-desktop/.storybook/stub.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerFlowManager.stories.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerFlowManager.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__mocks__/useSelectAssetFlow.mock.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/AssetSelection.stories.tsx
Labels: desktop

#10683 fix(LIVE-19800): prevent unexpected swap webview reload
  .changeset/heavy-horses-sniff.md
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/WebView.tsx
Labels: mobile

#10674 :sparkles: (MAD-Add account) quick actions
  .changeset/giant-pets-shout.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerAddAccountFlowManager.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useAddAccountFlowNavigation.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useDetailedAccounts.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useModularDrawerNavigation.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useOpenAssetFlow.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountSelection/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsAdded/components/ActionButtons.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsAdded/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsAdded/types.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsWarning/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsWarning/types.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsWarning/useWarningConfig.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/ConnectYourDevice/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/FundAccount/components/ActionsContainer.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/FundAccount/components/IconContainer.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/FundAccount/components/index.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/FundAccount/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/ScanAccounts/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/types.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#10696 :bug: (lld) pluralization issue my ledger
  .changeset/odd-maps-return.md
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/InstallSuccessBanner.tsx
Labels: desktop

#10702 feat(debug): LLM - Modular Drawer - Add a debug entrypoint
  .changeset/popular-ligers-love.md
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/Debug/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/index.tsx
Labels: mobile

#10687 chore: exclude unwanted errors/stacks from dd rum
  .changeset/nervous-bugs-cheer.md
  apps/ledger-live-mobile/src/datadog.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/sentry.ts
  apps/ledger-live-mobile/src/utils/constants.ts
Labels: mobile

#10668 refactor: handle min version feature flag
  .changeset/nice-snails-count.md
  apps/ledger-live-desktop/src/newArch/hooks/useStake.ts
  apps/ledger-live-desktop/src/newArch/hooks/useVersionedStakePrograms.ts
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/screens/earn/index.tsx
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/newArch/hooks/useStake/useStake.tsx
  apps/ledger-live-mobile/src/newArch/hooks/useStake/useVersionedStakePrograms.ts
  apps/ledger-live-mobile/src/screens/PTX/Earn/index.tsx
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, ledgerjs

#10634 chore(llc): allow min version per model
  .changeset/old-maps-lie.md
  libs/ledger-live-common/src/apps/support.test.ts
  libs/ledger-live-common/src/apps/support.ts
  libs/ledger-live-common/src/hw/connectApp.ts
Labels: common

#10708 :sparkles: (LLD-AA) load cvs for the currency and display balance
  .changeset/thick-trainers-ring.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/__tests__/useDetailedAccounts.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useScanAccounts.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsAdded/hooks.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountsAdded/types.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/ConnectYourDevice/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/utils/groupAccountsByAsset.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/utils/sortAccountsByFiatValue.ts
  apps/ledger-live-desktop/src/newArch/utils/getBalanceAndFiatValue.ts
  libs/ui/packages/react/src/pre-ldls/components/AccountItem/AccountItem.tsx
Labels: desktop, ui

#10699 chore(cryptoassets): update TRON block average time
  .changeset/eighty-vans-flash.md
  apps/ledger-live-desktop/src/renderer/components/StepperNumber.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/CurrencyRows.tsx
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: desktop, ledgerjs

#10710 fix(LLD): account selection prevent double render
  .changeset/light-colts-pretend.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/ConnectYourDevice/index.tsx
  apps/ledger-live-desktop/src/renderer/drawers/Drawer.tsx
  apps/ledger-live-desktop/src/renderer/drawers/Provider.tsx
Labels: desktop
