Repository LedgerHQ/ledger-live, pull requests merged in 2025-09, with the labels that each got.

#11579 feat: empty state & data fetching & searching with DADA
  .changeset/lazy-tigers-sleep.md
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/ModularDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/ModularDrawerFlowManager/ModularDrawerFlowView.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/ModularDrawerFlowManager/index.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/__integrations__/modularDrawer.test.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/__integrations__/modules.test.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/screens/AssetSelection/index.tsx
Labels: mobile

#11331 Loading screen instead of redirection to quote
  .changeset/tidy-flowers-sit.md
  apps/ledger-live-mobile/src/components/RootNavigator/SwapNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SwapNavigator.ts
  apps/ledger-live-mobile/src/components/WebPTXPlayer/CustomHandlers.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Platform/exchange/StartExchange.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/index.ts
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SwapLoading.tsx
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/index.ts
Labels: mobile, translations

#11591 coin-canton broadcast
  .changeset/angry-bags-notice.md
  libs/coin-modules/coin-canton/src/common-logic/transaction/broadcast.test.ts
  libs/coin-modules/coin-canton/src/common-logic/transaction/broadcast.ts
  libs/coin-modules/coin-canton/src/common-logic/transaction/estimateFees.ts
  libs/coin-modules/coin-canton/src/network/gateway.integ.test.ts
  libs/coin-modules/coin-canton/src/network/gateway.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/alpaca/index.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/alpaca/index.unit.test.ts
Labels: common

#11583 fix(swap-error-messages): fix swap error message without translation
  .changeset/curly-jokes-allow.md
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/SwapCustomError.tsx
Labels: mobile

#11613 xrp alpaca switch fix
  .changeset/angry-beds-occur.md
  libs/ledger-live-common/src/bridge/generic-alpaca/alpaca/index.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/alpaca/index.unit.test.ts
Labels: common

#11595 fix: upgraded Taquito to v23.0.0-RC.0 to support new tezos protocol…
  .changeset/strange-eels-tell.md
  libs/coin-modules/coin-tezos/package.json
  libs/coin-modules/coin-tezos/src/bridge/prepareTransaction.test.ts
  libs/coin-modules/coin-tezos/src/bridge/signOperation.test.ts
  libs/coin-modules/coin-tezos/src/logic/craftTransaction.test.ts
  libs/coin-modules/coin-tezos/src/logic/craftTransaction.ts
  libs/coin-modules/coin-tezos/src/logic/estimateFees.integ.test.ts
  libs/coin-modules/coin-tezos/src/logic/estimateFees.ts
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: common

#11622 feat(LIVE-21138): add skip device select for swap live app
  .changeset/ninety-buttons-beg.md
  apps/ledger-live-mobile/src/screens/Platform/exchange/StartExchange.tsx
Labels: mobile

#11553 ✨ LLD MAD - display generic error message
  .changeset/sweet-ducks-divide.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerFlowManager.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerFlowManagerRemoteData.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/Web3AppWebview/AssetAndAccountDrawer.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__tests__/modules.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/GenericError.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useModularDrawerData.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useModularDrawerRemoteData.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/NetworkSelection/components/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/types.ts
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/screens/stake/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/__integrations__/modules.test.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/useAssetsFromDada.ts
  libs/exchange-module/package.json
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/modularDrawer/data/entities/interestRateSelectors.ts
  libs/ledger-live-common/src/modularDrawer/data/state-manager/api.ts
  libs/ledger-live-common/src/modularDrawer/data/state-manager/types.ts
  libs/ledger-live-common/src/modularDrawer/hooks/__test__/useAssetsData.test.ts
  libs/ledger-live-common/src/modularDrawer/hooks/modules/useLeftApyModule.tsx
  libs/ledger-live-common/src/modularDrawer/hooks/useAssetsData.ts
  libs/ledger-live-common/src/wallet-api/react.ts
  libs/wallet-api-acre-module/package.json
  pnpm-lock.yaml
  tests/dummy-wallet-app/package.json
Labels: desktop, mobile, common, translations

#11630 feat: Improve MAD UX
  .changeset/chilly-pumpkins-decide.md
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/SelectAccountButton.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/ModularDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/__tests__/useModularDrawerState.test.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/useAssetsFromDada.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/useModularDrawerState.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/useStepNavigation.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/screens/AssetSelection/index.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/utils/__tests__/helpers.test.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/utils/helpers.ts
Labels: mobile

#11321 Refactoring/qaa-648 timing based sharding
  .github/workflows/test-mobile-e2e-reusable.yml
  apps/ledger-live-mobile/scripts/e2e-ci.mjs
  apps/ledger-live-mobile/scripts/merge-timing-files.sh
  apps/ledger-live-mobile/scripts/shard-tests.js
  apps/ledger-live-mobile/scripts/shard-tests.mjs
  e2e/mobile/detox.config.js
  tools/actions/composites/generate-shards-matrix/action.yml
  tools/actions/composites/generate-timing-shards/action.yml
  tools/actions/composites/merge-e2e-detox-timings/action.yml
Labels: mobile, tools, automation, skip-sync-check

#11646 test: update json + swap test
  e2e/desktop/tests/page/speculos.page.ts
  e2e/desktop/tests/specs/swap.other.spec.ts
  e2e/desktop/tests/userdata/speculos-x-other-account.json
  e2e/mobile/page/speculos.page.ts
  e2e/mobile/page/trade/swap.page.ts
  e2e/mobile/specs/swap/otherTestCases/swap.other.ts
  e2e/mobile/specs/swap/otherTestCases/swapWithDifferentSeed_AAB.spec.ts
  e2e/mobile/specs/swap/otherTestCases/swapWithDifferentSeed_ABA.spec.ts
  e2e/mobile/userdata/speculos-x-other-account.json
  libs/ledger-live-common/src/e2e/enum/DeviceLabels.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: common

#11648 fix: swap to currency id tracking
  .changeset/moody-rocks-agree.md
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/PendingOperation.tsx
Labels: mobile

#11658 LLD - Fix modular drawer tests when powered by DADA
  .changeset/gold-rocks-wait.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__tests__/selectAccountFlow.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__tests__/selectNetworkFlow.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/__tests__/useOpenAssetFlow.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useOpenAssetFlow.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/LiveAppSDKLogic.ts
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/helpers.ts
  apps/ledger-live-desktop/tests/handlers/assets.ts
  apps/ledger-live-desktop/tests/jestSetup.js
Labels: desktop

#11662 ci: add dashboard url in monitoring report
  .github/workflows/coin-monitoring-manual.yml
  .github/workflows/coin-monitoring-scheduled.yml
Labels: automation, skip-sync-check

#11625 refactor(llc): use standard token account encoding
  .changeset/wicked-cobras-tell.md
  libs/coin-framework/src/api/types.ts
  libs/coin-modules/coin-evm/src/api/index.ts
  libs/coin-modules/coin-evm/src/logic/getTokenFromAsset.test.ts
  libs/coin-modules/coin-evm/src/logic/getTokenFromAsset.ts
  libs/coin-modules/coin-stellar/src/api/index.ts
  libs/coin-modules/coin-stellar/src/logic/getTokenFromAsset.test.ts
  libs/coin-modules/coin-stellar/src/logic/getTokenFromAsset.ts
  libs/coin-modules/coin-stellar/src/logic/index.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/buildSubAccounts.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/getTransactionStatus.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/prepareTransaction.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/utils.ts
Labels: common, coin-modules-api

#11638 feat: Add useCase & areCurrencyFiltered param in MAD
  .changeset/red-pants-grow.md
  apps/ledger-live-mobile/src/components/Web3AppWebview/NoAccountScreen.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/SelectAccountButton.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/components/SelectAddAccountMethod/useSelectAddAccountMethodViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/ModularDrawer.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/ModularDrawerProvider.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/useAssetsFromDada.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/useModularDrawerController.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/types.ts
  apps/ledger-live-mobile/src/reducers/modularDrawer.ts
Labels: mobile

#11659 feat: adapt APY for Asset & Network in MAD
  .changeset/stale-lies-kiss.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/AccountCountApy.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useModularDrawerFlowState.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/NetworkSelection/components/index.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/__integrations__/modules.test.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/components/AccountCountAndApy.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/screens/NetworkSelection/index.tsx
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/modularDrawer/hooks/modules/useLeftApyModule.tsx
  libs/ledger-live-common/src/modularDrawer/hooks/useInterestRatesByCurrencies.ts
  libs/ledger-live-common/src/modularDrawer/hooks/useLeftAccountsApy.tsx
  libs/ledger-live-common/src/modularDrawer/hooks/useLeftApy.tsx
  libs/ledger-live-common/src/modularDrawer/modules/createAssetConfiguration.ts
  libs/ledger-live-common/src/modularDrawer/modules/createNetworkConfiguration.ts
  libs/ledger-live-common/src/modularDrawer/utils/__tests__/getInterestRateForAsset.test.ts
  libs/ledger-live-common/src/modularDrawer/utils/getInterestRateForAsset.ts
  libs/ledger-live-common/src/modularDrawer/utils/type.ts
Labels: desktop, mobile, common

#11690 refactor(LLD): remove dead MAD code
  .changeset/few-pants-teach.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerFlowManager.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__tests__/selectAccountFlow.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useModularDrawerBackButton.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useModularDrawerFiltering.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useModularDrawerFlowState.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useModularDrawerNavigation.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useModularDrawerRemoteData.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useOpenAssetFlow.tsx
Labels: desktop

#11687 feat(LIVE-21137): remove swap details from screen
  .changeset/cyan-teachers-destroy.md
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/TermsFooter.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#11586 refactor(LLM): remove dead onboardingContext
  .changeset/light-penguins-end.md
  apps/ledger-live-mobile/src/AppProviders.tsx
  apps/ledger-live-mobile/src/newArch/features/Reborn/__integrations__/shared.tsx
  apps/ledger-live-mobile/src/newArch/features/Reborn/screens/UpsellFlex/useUpsellFlexModel.ts
  apps/ledger-live-mobile/src/screens/GetDeviceScreen.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/onboardingContext.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps.ts
  apps/ledger-live-mobile/src/screens/Onboarding/steps/pairNew.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/protectFlow.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/types.ts
  apps/ledger-live-mobile/src/screens/PostBuyDeviceSetupNanoWallScreen.tsx
  apps/ledger-live-mobile/src/screens/Protect/RedirectToOnboardingRecoverFlow.tsx
Labels: mobile

#11657 refactor(coin-evm): rework `listOperations`
  .changeset/tidy-houses-shave.md
  libs/coin-modules/coin-evm/src/api/index.integ.test.ts
  libs/coin-modules/coin-evm/src/logic/listOperations.test.ts
  libs/coin-modules/coin-evm/src/logic/listOperations.ts
Labels: coin-modules-api

#11704 fix: sui stake low fund redirect, stake fee estimation
  .changeset/eight-ladybugs-argue.md
  apps/ledger-live-desktop/src/renderer/families/sui/AccountHeaderManageActions.tsx
  libs/coin-modules/coin-sui/src/bridge/estimateMaxSpendable.test.ts
  libs/coin-modules/coin-sui/src/bridge/estimateMaxSpendable.ts
  libs/coin-modules/coin-sui/src/bridge/getTransactionStatus.ts
  libs/coin-modules/coin-sui/src/bridge/utils.ts
Labels: desktop

#11676 fix: LIVE-21299 LIVE-21267 stake fee estimation and no fund redirect
  .changeset/eight-ladybugs-argue.md
  apps/ledger-live-desktop/src/renderer/families/sui/AccountHeaderManageActions.tsx
  libs/coin-modules/coin-sui/src/bridge/estimateMaxSpendable.test.ts
  libs/coin-modules/coin-sui/src/bridge/estimateMaxSpendable.ts
  libs/coin-modules/coin-sui/src/bridge/getTransactionStatus.ts
  libs/coin-modules/coin-sui/src/bridge/utils.ts
Labels: desktop, fork

#11693 [LIVE-21348]LLM - Apex lotties are broken
  .changeset/wise-countries-burn.md
  apps/ledger-live-mobile/src/animations/device/apex/dark/continue.json
  apps/ledger-live-mobile/src/animations/device/apex/light/continue.json
  apps/ledger-live-mobile/src/helpers/getDeviceAnimation.ts
Labels: mobile, Activation

#11639 fix: Incidents display in LLD
  .changeset/friendly-pugs-rule.md
  apps/ledger-live-desktop/tests/mocks/serviceStatusHelpers.ts
  libs/ledger-live-common/src/notifications/ServiceStatusProvider/index.test.ts
  libs/ledger-live-common/src/notifications/ServiceStatusProvider/index.tsx
  libs/ledger-live-common/src/notifications/ServiceStatusProvider/ledger-components.ts
Labels: desktop, common

#11705 fix: AssetSelection with Keyboard and search trim
  .changeset/loud-gifts-sort.md
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/screens/AssetSelection/components/SearchInputContainer/test/useSearch.test.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/screens/AssetSelection/components/SearchInputContainer/useSearch.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/screens/AssetSelection/index.tsx
Labels: mobile

#11722 Add onboarding flow
  .changeset/small-birds-complain.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/families/canton/NoAssociatedAccounts.tsx
  apps/ledger-live-desktop/src/renderer/families/canton/OnboardModal/fields/ValidatorRow.tsx
  apps/ledger-live-desktop/src/renderer/families/canton/OnboardModal/index.tsx
  apps/ledger-live-desktop/src/renderer/families/canton/OnboardModal/steps/StepAuthorize.tsx
  apps/ledger-live-desktop/src/renderer/families/canton/OnboardModal/steps/StepFinish.tsx
  apps/ledger-live-desktop/src/renderer/families/canton/OnboardModal/steps/StepOnboard.tsx
  apps/ledger-live-desktop/src/renderer/families/canton/OnboardModal/types.ts
  apps/ledger-live-desktop/src/renderer/families/canton/index.ts
  apps/ledger-live-desktop/src/renderer/families/canton/modals.ts
  apps/ledger-live-desktop/src/renderer/families/canton/types.ts
  libs/coin-framework/src/derivation.ts
  libs/coin-modules/coin-canton/.unimportedrc.json
  libs/coin-modules/coin-canton/src/bridge/createTransaction.test.ts
  libs/coin-modules/coin-canton/src/bridge/index.ts
  libs/coin-modules/coin-canton/src/bridge/onboard.integ.test.ts
  libs/coin-modules/coin-canton/src/bridge/onboard.ts
  libs/coin-modules/coin-canton/src/bridge/sync.ts
  libs/coin-modules/coin-canton/src/common-logic/history/listOperations.ts
  libs/coin-modules/coin-canton/src/network/gateway.integ.test.ts
  libs/coin-modules/coin-canton/src/network/gateway.ts
  libs/coin-modules/coin-canton/src/signer/getAddress.ts
  libs/coin-modules/coin-canton/src/test/cantonTestUtils.ts
  libs/coin-modules/coin-canton/src/types/bridge.ts
  libs/coin-modules/coin-canton/src/types/index.ts
  libs/coin-modules/coin-canton/src/types/onboard.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/config/sharedConfig.ts
  libs/ledger-live-common/src/families/canton/bridge/mock-data.ts
  libs/ledger-live-common/src/families/canton/bridge/mock.ts
  libs/ledger-live-common/src/families/canton/config.ts
  libs/ledger-live-common/src/families/canton/setup.ts
  libs/ledger-live-common/src/generated/bridge/mock.ts
  libs/ledgerjs/packages/hw-app-canton/src/Canton.test.ts
  libs/ledgerjs/packages/hw-app-canton/src/Canton.ts
  libs/ledgerjs/packages/types-live/src/derivation.ts
  pnpm-lock.yaml
Labels: desktop, common, ledgerjs

#11727 add devnet canton icon
  .changeset/large-jobs-turn.md
  libs/ui/packages/crypto-icons/src/svg/currency_canton_network_devnet.svg
Labels: ui

#11717 feat: canton api key setup
  .changeset/eleven-badgers-sip.md
  libs/coin-modules/coin-canton/src/network/gateway.ts
  libs/env/src/env.ts
Labels: fork

#11711 fix: back to internal domain
  .changeset/perfect-cougars-switch.md
  apps/ledger-live-mobile/src/components/WebPTXPlayer/index.tsx
Labels: mobile

#11369 [LIVE-20866] Add Acre reward address registering functionality to ACRE CustomHandler
  .changeset/giant-dancers-pay.md
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/CustomHandlers.ts
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/CustomHandlers.ts
  libs/ledger-live-common/src/wallet-api/ACRE/server.test.ts
  libs/ledger-live-common/src/wallet-api/ACRE/server.ts
  libs/wallet-api-acre-module/README.md
  libs/wallet-api-acre-module/src/index.ts
  libs/wallet-api-acre-module/src/types.ts
Labels: desktop, mobile, common

#11745 Support/canton craft
  .changeset/odd-maps-tell.md
  libs/coin-modules/coin-canton/src/api/getBalance.integ.test.ts
  libs/coin-modules/coin-canton/src/api/index.ts
  libs/coin-modules/coin-canton/src/bridge/prepareTransaction.ts
  libs/coin-modules/coin-canton/src/bridge/signOperation.ts
  libs/coin-modules/coin-canton/src/bridge/updateTransaction.ts
  libs/coin-modules/coin-canton/src/common-logic/transaction/craftTransaction.ts
  libs/coin-modules/coin-canton/src/network/gateway.ts
  libs/coin-modules/coin-canton/src/network/node.ts
  libs/coin-modules/coin-canton/src/network/types.ts
  libs/coin-modules/coin-canton/src/types/index.ts
  libs/ledger-live-common/src/families/canton/config.ts
Labels: common, coin-modules-api

#11777 fix: Tab Indicator Sync
  .changeset/wise-jokes-wonder.md
  libs/ui/packages/react/src/components/tabs/Chip/index.tsx
Labels: ui

#11791 feat(LIVE-21429): Update rendering strategy on earn tab navigation
  .changeset/clean-spoons-do.md
  apps/ledger-live-mobile/src/components/RootNavigator/MainNavigator.tsx
Labels: mobile

#11805 :bug: (lld) fix allowed support url
  .changeset/nice-boats-fix.md
  apps/ledger-live-desktop/src/renderer/components/TranslatedError/ErrorWithAnchor.test.tsx
  apps/ledger-live-desktop/src/renderer/components/TranslatedError/ErrorWithAnchor.tsx
Labels: desktop

#11633 [LIVE-21242] fix(Custom Lock Screen LLD): implement reconstruction of picture from device for Apex
  .changeset/thick-cherries-sell.md
  apps/ledger-live-desktop/src/renderer/components/CustomImage/TestImage.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/restore/CustomLockScreen.tsx
Labels: desktop

#11770 fix: xrp negative balance
  .changeset/thick-years-boil.md
  libs/coin-modules/coin-xrp/src/logic/getBalance.test.ts
  libs/coin-modules/coin-xrp/src/logic/getBalance.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/tests/getAccountShape.test.ts
Labels: common

#11813 fix(LLD): MAD data hook isloading should exclude next page loads
  .changeset/eighty-apricots-carry.md
  libs/ledger-live-common/src/modularDrawer/hooks/useAssetsData.ts
Labels: common

#11799 Feat/canton memo
  .changeset/little-eggs-nail.md
  apps/ledger-live-desktop/src/newArch/features/MemoTag/constants.ts
  apps/ledger-live-desktop/src/renderer/families/canton/CommentField.tsx
  apps/ledger-live-desktop/src/renderer/families/canton/OnboardModal/index.tsx
  apps/ledger-live-desktop/src/renderer/families/canton/OnboardModal/steps/StepOnboard.tsx
  apps/ledger-live-desktop/src/renderer/families/canton/SendRecipientFields.tsx
  apps/ledger-live-desktop/src/renderer/families/canton/index.ts
  apps/ledger-live-desktop/src/renderer/families/canton/operationDetails.tsx
  apps/ledger-live-desktop/src/renderer/families/canton/types.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/coin-modules/coin-canton/src/api/getBalance.integ.test.ts
  libs/coin-modules/coin-canton/src/api/index.ts
  libs/coin-modules/coin-canton/src/api/lastBlock.integ.test.ts
  libs/coin-modules/coin-canton/src/api/listOperations.integ.test.ts
  libs/coin-modules/coin-canton/src/bridge/broadcast.test.ts
  libs/coin-modules/coin-canton/src/bridge/broadcast.ts
  libs/coin-modules/coin-canton/src/bridge/createTransaction.ts
  libs/coin-modules/coin-canton/src/bridge/getTransactionStatus.ts
  libs/coin-modules/coin-canton/src/bridge/onboard.integ.test.ts
  libs/coin-modules/coin-canton/src/bridge/onboard.ts
  libs/coin-modules/coin-canton/src/bridge/prepareTransaction.ts
  libs/coin-modules/coin-canton/src/bridge/signOperation.ts
  libs/coin-modules/coin-canton/src/bridge/sync.ts
  libs/coin-modules/coin-canton/src/common-logic/account/getBalance.ts
  libs/coin-modules/coin-canton/src/common-logic/account/getBalance.unit.test.ts
  libs/coin-modules/coin-canton/src/common-logic/history/lastBlock.test.ts
  libs/coin-modules/coin-canton/src/common-logic/history/lastBlock.ts
  libs/coin-modules/coin-canton/src/common-logic/history/listOperations.ts
  libs/coin-modules/coin-canton/src/common-logic/transaction/broadcast.test.ts
  libs/coin-modules/coin-canton/src/common-logic/transaction/broadcast.ts
  libs/coin-modules/coin-canton/src/common-logic/transaction/craftTransaction.ts
  libs/coin-modules/coin-canton/src/common-logic/transaction/estimateFees.ts
  libs/coin-modules/coin-canton/src/network/gateway.integ.test.ts
  libs/coin-modules/coin-canton/src/network/gateway.ts
  libs/coin-modules/coin-canton/src/types/bridge.ts
  libs/ledger-live-common/src/families/canton/config.ts
  libs/ledger-live-common/src/families/canton/setup.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: desktop, common, ledgerjs, translations, coin-modules-api

#11788 fix(coin:sui): large accounts are missing some operations
  .changeset/unlucky-berries-relate.md
  libs/coin-modules/coin-sui/package.json
  libs/coin-modules/coin-sui/src/api/index.integration.test.ts
  libs/coin-modules/coin-sui/src/api/index.ts
  libs/coin-modules/coin-sui/src/logic/listOperations.test.ts
  libs/coin-modules/coin-sui/src/logic/listOperations.ts
  libs/coin-modules/coin-sui/src/network/sdk.ts
  pnpm-lock.yaml
Labels: coin-modules-api

#11694 perf(lld): reduce start time
  .changeset/real-cars-punch.md
  apps/ledger-live-desktop/src/main/index.ts
  apps/ledger-live-desktop/src/main/logger.ts
  apps/ledger-live-desktop/src/main/setup.ts
  apps/ledger-live-desktop/src/main/starts-console.ts
  apps/ledger-live-desktop/src/main/updater/index.ts
  apps/ledger-live-desktop/src/main/window-lifecycle.ts
  apps/ledger-live-desktop/src/preloader/index.ts
  apps/ledger-live-desktop/src/renderer/index.html
  apps/ledger-live-desktop/tests/specs/support/unsupported-os.spec.ts-snapshots/error-os-unsupported-linux.png
Labels: desktop, screenshots

#11837 fix(back-9674): cursor on last page + block height type
  .changeset/eight-zebras-end.md
  libs/coin-modules/coin-sui/src/api/index.integration.test.ts
  libs/coin-modules/coin-sui/src/network/sdk.ts
Labels: coin-modules-api

#11797 refactor(llc, coin-evm): support `allAmounts` and `feeRatio` warning
  .changeset/chatty-teachers-join.md
  libs/coin-modules/coin-evm/src/api/index.integ.test.ts
  libs/coin-modules/coin-evm/src/logic/common.ts
  libs/coin-modules/coin-evm/src/logic/estimateFees.test.ts
  libs/coin-modules/coin-evm/src/logic/estimateFees.ts
  libs/coin-modules/coin-evm/src/logic/validateIntent.test.ts
  libs/coin-modules/coin-evm/src/logic/validateIntent.ts
  libs/coin-modules/coin-evm/src/utils.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/alpaca/index.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/alpaca/index.unit.test.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/broadcast.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/createTransaction.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/estimateMaxSpendable.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/getAccountShape.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/getTransactionStatus.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/prepareTransaction.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/signOperation.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/tests/prepareTransaction.test.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/tests/signOperation.test.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/types.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/utils.ts
Labels: common, coin-modules-api

#11864 fix: xrp tests locked
  libs/coin-modules/coin-xrp/src/api/index.integ.test.ts
Labels: coin-modules-api

#11836 fix: QAA-795 LLD Handle nanoS exceptions and update modular drawer locator
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/AnimatedScreenWrapper.tsx
  e2e/desktop/tests/misc/reporters/step.ts
  e2e/desktop/tests/page/drawer/modular.account.drawer.ts
  e2e/desktop/tests/page/drawer/modular.asset.drawer.ts
  e2e/desktop/tests/page/drawer/modular.network.drawer.ts
  libs/ledger-live-common/src/e2e/data/deviceLabelsData.ts
  libs/ledger-live-common/src/e2e/enum/DeviceLabels.ts
  libs/ledger-live-common/src/e2e/families/cardano.ts
  libs/ledger-live-common/src/e2e/families/celo.ts
  libs/ledger-live-common/src/e2e/families/cosmos.ts
  libs/ledger-live-common/src/e2e/families/evm.ts
  libs/ledger-live-common/src/e2e/families/multiversX.ts
  libs/ledger-live-common/src/e2e/families/near.ts
  libs/ledger-live-common/src/e2e/families/osmosis.ts
  libs/ledger-live-common/src/e2e/families/solana.ts
  libs/ledger-live-common/src/e2e/families/tezos.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#11875 fix: check if defaultBaker exists
  .changeset/brave-candles-fix.md
  apps/ledger-live-desktop/src/renderer/families/tezos/DelegateFlowModal/Body.tsx
Labels: desktop

#11736 Feat: Large Mover integration test
  .changeset/olive-mayflies-kiss.md
  apps/ledger-live-mobile/src/newArch/features/LandingPages/__integrations__/largeMoverLandingPage.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Loading.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/__tests__/OverlayTutorial.test.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/fixtures/navigation.tsx
Labels: mobile

#11887 update canton blockavg
  .changeset/hot-rings-fail.md
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Labels: ledgerjs

#11893 :lipstick: (ui-MAD) search input border on focus
  .changeset/nervous-games-collect.md
  libs/ui/packages/react/src/pre-ldls/components/Search/Search.tsx
Labels: ui

#11847 [QAA][LLM] update detox & fix mobile swap
  apps/ledger-live-mobile/package.json
  e2e/mobile/helpers/elementHelpers.ts
  e2e/mobile/package.json
  e2e/mobile/page/liveApps/swapLiveApp.ts
  e2e/mobile/specs/swap/otherTestCases/swap.other.ts
  package.json
  patches/detox@20.41.2.patch
  pnpm-lock.yaml
Labels: mobile

#11874 Feat/live 20733 sync timeline neutral parentscroll
  .changeset/tame-toys-approve.md
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/TimelineIndicator.tsx
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/TimelineItem.tsx
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/index.tsx
  libs/ui/packages/native/storybook/stories/Layout/List/VerticalTimeline.stories.tsx
Labels: enhancement, ui

#11848 [QAA][LLD] Remove nft tests from mocked tests
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-001-nft-gallery-empty-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-002-image-imported-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-003-adjust-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-004-adjust-zoomed-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-005-adjust-contrast-zoomed-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-006-adjust-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-007-adjust-rotate-once-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-008-adjust-rotated-zoomed-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-009-adjust-rotated-zoomed-preserved-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-010-adjust-max-zoom-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-011-adjust-big-zoom-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-012-adjust-min-zoom-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-013-adjust-small-zoom-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-014-preview-contrast-initial-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-015-preview-contrast-1-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-016-preview-contrast-2-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-017-preview-contrast-3-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-018-preview-contrast-0-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-019-transfer-load-requested-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-020-transfer-progress-000-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-021-transfer-progress-020-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-022-transfer-progress-050-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-023-transfer-progress-080-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-024-transfer-progress-100-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-025-transfer-commit-requested-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-026-transfer-loaded-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImageNftGallery.spec.ts
  apps/ledger-live-desktop/tests/specs/manager/customImageNftGallery.spec.ts-snapshots/custom-image-000-nft-gallery-populated-linux.png
Labels: desktop, screenshots

#11547 feat: add getStakes method + contracts lists and methods
  .changeset/perfect-seas-brush.md
  libs/coin-modules/coin-evm/src/abis/celo.abi.json
  libs/coin-modules/coin-evm/src/abis/sei.abi.json
  libs/coin-modules/coin-evm/src/adapters/etherscan.ts
  libs/coin-modules/coin-evm/src/api/index.ts
  libs/coin-modules/coin-evm/src/logic/getStakes.test.ts
  libs/coin-modules/coin-evm/src/logic/getStakes.ts
  libs/coin-modules/coin-evm/src/logic/index.ts
  libs/coin-modules/coin-evm/src/staking/abis.ts
  libs/coin-modules/coin-evm/src/staking/contracts.ts
  libs/coin-modules/coin-evm/src/staking/detectOperationType.ts
  libs/coin-modules/coin-evm/src/staking/encoder.ts
  libs/coin-modules/coin-evm/src/staking/fetchers.ts
  libs/coin-modules/coin-evm/src/staking/index.ts
  libs/coin-modules/coin-evm/src/staking/transactionData.ts
  libs/coin-modules/coin-evm/src/staking/validators.ts
  libs/coin-modules/coin-evm/src/types/staking.ts
  libs/coin-modules/coin-evm/src/utils.ts
Labels: coin-modules-api

#11835 feat(LIVE-21138): only auto select device if it's available
  .changeset/late-rats-live.md
  apps/ledger-live-mobile/src/screens/Platform/exchange/StartExchange.tsx
  apps/ledger-live-mobile/src/screens/SkipSelectDevice.tsx
Labels: mobile

#11927 :bug: (llm-LS) duplicated screen during navigation
  .changeset/new-walls-peel.md
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageInstances/DeletionSuccess.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/DeletionSuccess.tsx
Labels: mobile

#11911 feat: QAA-781 LLD add e2e test cases to send BTC ETH and USDT
  e2e/desktop/tests/specs/send.tx.spec.ts
  e2e/desktop/tests/specs/subAccount.spec.ts
  libs/ledger-live-common/src/e2e/enum/Account.ts
  libs/ledger-live-common/src/e2e/enum/DeviceLabels.ts
  libs/ledger-live-common/src/e2e/families/bitcoin.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: common

#11925 Bugfix/evm batch l2 call
  .changeset/slow-teachers-shop.md
  libs/coin-modules/coin-evm/src/bridge/synchronization.ts
Labels: desktop, mobile, common, ui, ledgerjs, cli

#11953 :bug: (MAD LLD) empty hbar screen
  .changeset/wise-bugs-kick.md
  apps/ledger-live-desktop/src/newArch/features/AddAccountDrawer/screens/ScanAccounts/useScanAccounts.ts
Labels: desktop

#11938 fix: auto close DevTools WebContents when webviews are destroyed
  .changeset/dull-humans-deliver.md
  .changeset/orange-pumpkins-hug.md
  apps/ledger-live-desktop/src/main/window-lifecycle.ts
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/TopBar.tsx
  apps/ledger-live-desktop/src/renderer/screens/platform/v2/Catalog/Card/Minimum.tsx
  apps/ledger-live-desktop/tests/models/LiveAppWebview.ts
  apps/ledger-live-desktop/tests/page/discover.page.ts
  apps/ledger-live-desktop/tests/specs/webviewDevTools/webview-dev-tools.spec.ts
  libs/ledger-live-common/src/wallet-api/react.ts
Labels: desktop, common

#11933 :bug: (llm) fix unsupported string property + typing
  .changeset/hip-points-care.md
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/components/Skeleton/SkeletonList.tsx
  libs/ui/packages/native/src/pre-ldls/components/Input/Input.tsx
Labels: mobile, ui

#11928 :bug: (llm-LS) duplicated screen during navigation
  .changeset/new-walls-peel.md
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageInstances/DeletionSuccess.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/ManageKey/DeletionSuccess.tsx
Labels: mobile

#11854 no backdrop and no close button on swap confirm screen
  .changeset/lazy-items-poke.md
  apps/ledger-live-mobile/src/components/DeviceActionModal.tsx
  apps/ledger-live-mobile/src/screens/Platform/exchange/CompleteExchange.tsx
Labels: mobile

#11963 Revert "feat(LIVE-21138): only auto select device if it's available"
  .changeset/late-rats-live.md
  apps/ledger-live-mobile/src/screens/Platform/exchange/StartExchange.tsx
  apps/ledger-live-mobile/src/screens/SkipSelectDevice.tsx
Labels: mobile

#11982 chore: (LIVE-21757) rename FF for clarity
  .changeset/early-foxes-attack.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs

#11962 feaT(LIVE-21566): fit the drawer to whole screen
  .changeset/gorgeous-socks-run.md
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/TermsFooter.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/utils/urls.tsx
Labels: mobile, translations

#11990 fix: update Kaspa bridge integration test snapshot
  .changeset/swift-cooks-refuse.md
  libs/ledger-live-common/src/families/kaspa/__snapshots__/bridge.integration.test.ts.snap
Labels: common

#11968 chore: RTK Slice for tools to avoid overlad settings
  .changeset/thick-buckets-mate.md
  apps/ledger-live-mobile/__tests__/test-renderer.tsx
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/reducers/index.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/tools.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Settings/Debug/Configuration/RtkConsoleRow.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Debugging/RTK/index.tsx
Labels: mobile

#11852 feat: canton new tx type, moved hardcoded instrumentId to config
  .changeset/dull-melons-worry.md
  apps/ledger-live-desktop/src/renderer/components/OperationsList/ConfirmationCheck.tsx
  apps/ledger-live-desktop/src/renderer/families/canton/OnboardModal/steps/StepAuthorize.tsx
  apps/ledger-live-desktop/src/renderer/families/canton/OnboardModal/steps/StepOnboard.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/coin-modules/coin-canton/src/api/lastBlock.integ.test.ts
  libs/coin-modules/coin-canton/src/api/listOperations.integ.test.ts
  libs/coin-modules/coin-canton/src/bridge/createTransaction.ts
  libs/coin-modules/coin-canton/src/bridge/onboard.integ.test.ts
  libs/coin-modules/coin-canton/src/bridge/prepareTransaction.test.ts
  libs/coin-modules/coin-canton/src/bridge/prepareTransaction.ts
  libs/coin-modules/coin-canton/src/bridge/signOperation.ts
  libs/coin-modules/coin-canton/src/bridge/sync.integ.test.ts
  libs/coin-modules/coin-canton/src/bridge/sync.ts
  libs/coin-modules/coin-canton/src/bridge/transaction.ts
  libs/coin-modules/coin-canton/src/config.ts
  libs/coin-modules/coin-canton/src/network/gateway.integ.test.ts
  libs/coin-modules/coin-canton/src/network/node.integ.test.ts
  libs/coin-modules/coin-canton/src/network/node.unit.test.ts
  libs/coin-modules/coin-canton/src/test/bridgeDatasetTest.ts
  libs/coin-modules/coin-canton/src/types/bridge.ts
  libs/ledger-live-common/src/families/canton/bridge/mock.ts
  libs/ledger-live-common/src/families/canton/config.ts
  libs/ledgerjs/packages/types-live/src/operation.ts
Labels: desktop, common, ledgerjs, translations, coin-modules-api

#11992 test: add snapshot for Kaspa bridge integration test
  .changeset/sweet-penguins-live.md
  libs/ledger-live-common/src/families/kaspa/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/kaspa/bridge.integration.test.ts
Labels: common

#12002 feat: add llmSyncOnboardingIncr1 feature flag tracking
  .changeset/many-pandas-help.md
  apps/ledger-live-mobile/src/analytics/segment.ts
Labels: enhancement, mobile

#12003 fix(LL): mad network balance
  .changeset/nice-worms-breathe.md
  libs/ledger-live-common/src/modularDrawer/hooks/useRightBalanceNetwork.tsx
Labels: common

#11971 chore: cleanup logs on Jest
  .changeset/plenty-coins-run.md
  apps/ledger-live-desktop/src/newArch/features/MarketPerformanceWidget/components/Header.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/Web3AppWebview/__tests__/openAssetAndAccountDrawer.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AssetSelection/components/SearchInputContainer/index.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/components/TinyCard.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/Synchronize/02-QRCodeStep.tsx
  apps/ledger-live-desktop/src/renderer/components/FormattedVal.tsx
  apps/ledger-live-desktop/src/renderer/drawers/DataSelector/AccountList.tsx
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.tsx
  apps/ledger-live-desktop/src/renderer/drawers/SwapOperationDetails/index.tsx
  apps/ledger-live-desktop/tests/handlers/index.ts
  apps/ledger-live-desktop/tests/jestSetup.js
Labels: desktop

#12017 chore: resolve errors & warning during tests exec
  .changeset/neat-clocks-share.md
  apps/ledger-live-desktop/src/renderer/components/FormattedVal.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/Delegation/__tests__/Delegations.test.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/fields/RecipientFieldBase.tsx
  apps/ledger-live-mobile/src/components/RecipientInput.tsx
Labels: desktop, mobile

#12021 fix(LLD): force MacOS to exit on window close
  .changeset/angry-kangaroos-exist.md
  apps/ledger-live-desktop/src/main/index.ts
Labels: desktop

#12029 :bug: (LLM-android) remove clipboard listener
  .changeset/poor-moose-fetch.md
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainActivity.kt
Labels: mobile

#12033 :bug: (LLD) remove shared securely during receive flow if bypass
  .changeset/twenty-books-pull.md
  apps/ledger-live-desktop/src/renderer/families/canton/StepReceiveFunds.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveFunds.tsx
Labels: desktop

#12036 fix: wait for drawer to load before proceeding to device interaction
  CODEOWNERS
  e2e/desktop/tests/utils/swapUtils.ts
  libs/ledger-live-common/src/e2e/enum/Account.ts
Labels: common

#12053 [RELEASE] fix(LLD): app.quit() for all OSs
  .changeset/tasty-phones-heal.md
  apps/ledger-live-desktop/src/main/index.ts
Labels: desktop

#11945 [LIVE-20689] feat(LLM CLS): UX adaptations
  .changeset/purple-pigs-repair.md
  apps/ledger-live-mobile/src/components/CustomImage/CustomImageBottomModal.tsx
  apps/ledger-live-mobile/src/components/CustomImage/ModalChoice.tsx
  apps/ledger-live-mobile/src/components/CustomImage/imageUtils.ts
  apps/ledger-live-mobile/src/components/CustomImage/types.ts
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/CustomImageNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/CustomImageNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/CustomImage/CustomImageRemoval.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/PreviewPreEdit.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step0Welcome.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/Device/CustomLockScreen.tsx
Labels: mobile, translations

#12049 feat: adaptive apps icon colors
  .changeset/cool-months-buy.md
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/AppsList/AppIcon.tsx
  apps/ledger-live-desktop/src/renderer/utils/rgb.test.ts
  apps/ledger-live-desktop/src/renderer/utils/rgb.ts
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-install-tron-linux.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-installed-apps-linux.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-updateAll-linux.png
Labels: desktop, screenshots

#11762 Feat/live 19322 sui tokens e2e tests and Live-18304 native sui
  .changeset/ten-apricots-listen.md
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.tsx
  e2e/desktop/tests/page/drawer/send.drawer.ts
  e2e/desktop/tests/page/speculos.page.ts
  e2e/desktop/tests/specs/send.tx.spec.ts
  e2e/desktop/tests/specs/subAccount.spec.ts
  e2e/desktop/tests/specs/swap.send.spec.ts
  e2e/desktop/tests/userdata/speculos-subAccount.json
  libs/ledger-live-common/src/e2e/enum/Account.ts
  libs/ledger-live-common/src/e2e/enum/AppInfos.ts
  libs/ledger-live-common/src/e2e/enum/Currency.ts
  libs/ledger-live-common/src/e2e/enum/Network.ts
  libs/ledger-live-common/src/e2e/enum/TokenType.ts
  libs/ledger-live-common/src/e2e/enum/TransactionStatus.ts
  libs/ledger-live-common/src/e2e/families/sui.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#12076 fix: confirmation modal onClose was not clickable
  .changeset/rotten-dragons-buy.md
  apps/ledger-live-mobile/src/components/ConfirmationModal.tsx
  apps/ledger-live-mobile/src/components/NavigationHeaderCloseButton.tsx
Labels: mobile

#12065 chore: replace defaultProps with default parameters
  .changeset/cuddly-moles-matter.md
  apps/ledger-live-desktop/src/renderer/components/BoldToggle.tsx
  apps/ledger-live-mobile/src/components/CollapsibleList.tsx
  apps/ledger-live-mobile/src/components/ProgressBar.tsx
  libs/ui/packages/native/storybook/stories/CenterView/index.tsx
Labels: desktop, mobile, ui

#12056 fix: [LIVE-21723] add commission fallback / update network dependency
  .changeset/cold-carrots-perform.md
  libs/coin-modules/coin-near/src/api/node.ts
  libs/coin-modules/coin-near/src/preload.ts
Labels: coin-modules-api

#12088 🐛 (IOS) disable liquid glass
  .changeset/wise-ligers-float.md
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/ios/ledgerlivemobileTests/Info.plist
Labels: mobile

#12059 fix: Stablecoin market price page unresponsive
  .changeset/cuddly-mangos-explode.md
  apps/ledger-live-mobile/src/newArch/features/Market/utils/marketIdResolver.ts
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/AssetMarketSection.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/MarketPrice.tsx
Labels: mobile

#12091 fix: shows delegate/undelegate instead of sent in the drawer
  .changeset/itchy-cooks-accept.md
  libs/coin-modules/coin-tezos/src/logic/listOperations.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/utils.ts
Labels: common

#12045 refactor: remove SignValidationSuccess screen and update navigation flow [LIVE-21480]
  .changeset/angry-carpets-walk.md
  apps/ledger-live-mobile/e2e/helpers/elementHelpers.ts
  apps/ledger-live-mobile/e2e/jest.globalSetup.ts
  apps/ledger-live-mobile/e2e/page/index.ts
  apps/ledger-live-mobile/e2e/page/liveApps/dummyWalletApp.webView.ts
  apps/ledger-live-mobile/e2e/page/liveApps/walletAPISignMessage.ts
  apps/ledger-live-mobile/e2e/specs/wallet-api.spec.ts
  apps/ledger-live-mobile/src/components/RootNavigator/SignMessageNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/SignMessageNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/screens/SignMessage/03-ConnectDevice.tsx
  apps/ledger-live-mobile/src/screens/SignMessage/04-ValidationSuccess.tsx
  libs/ledger-live-common/src/hw/signMessage/index.ts
  tests/dummy-wallet-app/src/App.css
  tests/dummy-wallet-app/src/App.tsx
Labels: mobile, common
