Repository LedgerHQ/ledger-live, pull requests merged in 2025-05, with the labels that each got.

#10117 Add token enable flag
  .changeset/good-ghosts-laugh.md
  libs/env/src/env.ts
  libs/ledger-live-common/src/apps/config.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
Labels: common, ledgerjs

#9837 feat(coin-ton): expose ton payload for all possible actions [LIVE-17777]
  .changeset/flat-buses-vanish.md
  .changeset/popular-plums-play.md
  apps/cli/package.json
  libs/coin-modules/coin-hedera/package.json
  libs/coin-modules/coin-mina/package.json
  libs/coin-modules/coin-module-boilerplate/package.json
  libs/coin-modules/coin-ton/jest.config.js
  libs/coin-modules/coin-ton/src/__tests__/fixtures/common.fixtures.ts
  libs/coin-modules/coin-ton/src/transaction.ts
  libs/coin-modules/coin-ton/src/transaction.unit.test.ts
  libs/coin-modules/coin-ton/src/types.ts
  libs/coin-modules/coin-ton/src/utils.ts
  libs/coin-modules/coin-vechain/package.json
  libs/exchange-module/package.json
  libs/ledger-live-common/package.json
  libs/wallet-api-acre-module/package.json
  package.json
  patches/@ton__core@0.60.1.patch
  pnpm-lock.yaml
  tests/dummy-wallet-app/index.html
  tests/dummy-wallet-app/package.json
  tests/dummy-wallet-app/vite.config.mts
Labels: common, cli

#10118 :lipstick: (ui) handle virtualList pagination
  .changeset/slimy-ravens-joke.md
  libs/ui/packages/react/package.json
  libs/ui/packages/react/src/pre-ldls/components/VirtualList/VirtualList.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/VirtualList/VirtualList.tsx
  pnpm-lock.yaml
Labels: ui

#10114 fix: solana sign off-chain message
  .changeset/dry-owls-complain.md
  libs/coin-modules/coin-solana/package.json
  libs/coin-modules/coin-solana/src/__tests__/unit/hw-signMessage.unit.test.ts
  libs/coin-modules/coin-solana/src/config.ts
  libs/coin-modules/coin-solana/src/hw-signMessage.ts
  libs/coin-modules/coin-solana/src/offchainMessage/format.ts
  libs/coin-modules/coin-solana/src/offchainMessage/format.unit.test.ts
  libs/coin-modules/coin-solana/src/signer.ts
  libs/ledger-live-common/src/families/solana/bridge/mock.ts
  libs/ledger-live-common/src/families/solana/config.ts
  libs/ledger-live-common/src/families/solana/offchainMessage/format.test.ts
  libs/ledger-live-common/src/families/solana/offchainMessage/format.ts
  libs/ledger-live-common/src/families/solana/setup.test.ts
  libs/ledger-live-common/src/families/solana/setup.ts
  pnpm-lock.yaml
Labels: common

#10047 feat: remove NFT support in LLM
  .changeset/cold-tomatoes-greet.md
  apps/ledger-live-mobile/e2e/specs/deeplinks.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/deeplinks.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/nftGallery.spec.ts
  apps/ledger-live-mobile/src/components/RootNavigator/WalletTabNavigator.tsx
  apps/ledger-live-mobile/src/screens/Account/ListHeaderComponent.tsx
  apps/ledger-live-mobile/src/screens/Account/__tests__/nftHelper.test.ts
  apps/ledger-live-mobile/src/screens/Account/nftHelper.ts
  apps/ledger-live-mobile/src/screens/Settings/Debug/Generators/index.tsx
Labels: mobile

#9969 feat: remove clear signing screen [LIVE-17939]
  .changeset/ninety-pumpkins-remain.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/DeviceActions/FollowStepsOnDevice.tsx
  apps/ledger-live-desktop/src/newArch/utils/getProductName.ts
  apps/ledger-live-desktop/src/renderer/components/SignMessageConfirm/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/Body.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/steps/StepSummary.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/RootNavigator/SignMessageNavigator.tsx
  apps/ledger-live-mobile/src/components/ValidateMessageOnDevice.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  apps/ledger-live-mobile/src/components/WebPlatformPlayer/CustomHandlers.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WalletSync/components/FollowInstructions/index.tsx
  apps/ledger-live-mobile/src/newArch/utils/getProductName.ts
Labels: desktop, mobile, translations

#10134 chore: add near to the list of disabled currencies
  .github/workflows/bot-nonreg-nitrogen.yml
Labels: automation

#10135 feat: btc rbf swap
  .changeset/many-feet-wonder.md
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
Labels: common

#10136 feat(LIVE-18797): add header for exchange start device select screen
  .changeset/gold-turtles-fly.md
  apps/ledger-live-mobile/src/components/RootNavigator/PlatformExchangeNavigator.tsx
  apps/ledger-live-mobile/src/screens/Platform/exchange/StartExchange.tsx
Labels: mobile

#10071 feat: Large Mover Generic Card
  .changeset/spicy-pumas-juggle.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/Components/Ticker.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/Components/TimeFrame.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Card.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Footer.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Information/AthAtlBlock.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Information/InfoCard.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Information/index.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/LargeMoverGraph.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Performance.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/PriceAndVariation.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Ticker.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/TimeFrame.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/__tests__/CardLargeMover.test.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/__tests__/Footer.test.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/__tests__/LargeMoverGraph.test.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/fixtures/currency.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/index.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/types.d.ts
  libs/ui/packages/native/src/components/cta/QuickAction/QuickActionButton/index.tsx
Labels: mobile, ui, translations

#10123 [QAA] Adding swap max e2e tests + split swap tests in 2 files
  .github/workflows/test-ui-e2e-only-desktop.yml
  e2e/desktop/tests/page/swap.page.ts
  e2e/desktop/tests/specs/swap.other.spec.ts
  e2e/desktop/tests/specs/swap.send.spec.ts
  e2e/desktop/tests/utils/swapUtils.ts
Labels: automation

#9911 feat(LLD): Modular drawer - Integrate into LiveApps flows
  .changeset/breezy-dancers-sing.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/Web3AppWebview/AssetAndAccountDrawer.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/Web3AppWebview/__tests__/openAssetAndAccountDrawer.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAccountFlow.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/__tests__/useOpenAssetFlow.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useOpenAssetFlow.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/index.ts
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/LiveAppSDKLogic.ts
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/PlatformAPIWebview.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
Labels: desktop

#10103 ✨ (dmk): Add tracking for transaction checks opt in result
  .changeset/empty-ants-hug.md
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackTransactionChecksFlow.test.ts
  apps/ledger-live-desktop/src/renderer/analytics/hooks/useTrackTransactionChecksFlow.ts
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/index.tsx
  libs/coin-modules/coin-evm/src/__tests__/unit/signOperation.unit.test.ts
  libs/coin-modules/coin-evm/src/signOperation.ts
  libs/coin-modules/coin-evm/src/types/signer.ts
  libs/ledger-live-common/src/hw/actions/transaction.ts
  libs/ledgerjs/packages/types-live/src/transaction.ts
  libs/live-signer-evm/package.json
  libs/live-signer-evm/src/DmkSignerEth.ts
  libs/live-signer-evm/tests/DmkSignerEth.test.ts
  pnpm-lock.yaml
Labels: desktop, common, ledgerjs

#9845 feat(LLM): skip memo tag disclaimer icp
  .changeset/nervous-experts-wave.md
  apps/ledger-live-mobile/src/newArch/features/MemoTag/constants.ts
  apps/ledger-live-mobile/src/newArch/features/MemoTag/utils/hasMemoTag.ts
  apps/ledger-live-mobile/src/newArch/features/MemoTag/utils/tests/hasMemoTag.test.ts
  apps/ledger-live-mobile/src/screens/SendFunds/02-SelectRecipient.tsx
Labels: mobile, Stale

#10146 feat: add wallet-api sign message options
  .changeset/smooth-mangos-sort.md
  .changeset/three-items-suffer.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/helpers.ts
  libs/exchange-module/package.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/wallet-api/react.ts
  libs/ledger-live-common/src/wallet-api/useDappLogic.ts
  libs/wallet-api-acre-module/package.json
  pnpm-lock.yaml
  tests/dummy-wallet-app/package.json
Labels: desktop, mobile, common

#10152 Update coin-integ workflow
  .github/workflows/test-coin-modules-integ.yml
Labels: automation

#10153 fix: use base58 encoding for Solana signMessage signature
  .changeset/fresh-fishes-change.md
  libs/coin-modules/coin-solana/src/__tests__/unit/hw-signMessage.unit.test.ts
  libs/coin-modules/coin-solana/src/hw-signMessage.ts
  libs/ledger-live-common/src/families/solana/setup.test.ts
  libs/ledger-live-common/src/wallet-api/react.ts
Labels: common

#10127 feat(LLD): select account component
  .changeset/calm-ties-tickle.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAccount.tsx
  knip.json
  libs/ui/packages/react/src/pre-ldls/components/AccountItem/AccountItem.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/AccountItem/AccountItem.tsx
  libs/ui/packages/react/src/pre-ldls/components/AccountList/AccountList.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/AccountList/AccountList.tsx
  libs/ui/packages/react/src/pre-ldls/components/Address/Address.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/Address/Address.tsx
  libs/ui/packages/react/src/pre-ldls/components/AssetItem/AssetItem.tsx
  libs/ui/packages/react/src/pre-ldls/components/AssetList/AssetList.tsx
  libs/ui/packages/react/src/pre-ldls/components/Input/Input.tsx
  libs/ui/packages/react/src/pre-ldls/components/NetworkItem/NetworkItem.tsx
  libs/ui/packages/react/src/pre-ldls/components/NetworkList/NetworkList.tsx
  libs/ui/packages/react/src/pre-ldls/components/Tag/Tag.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/Tag/Tag.tsx
  libs/ui/packages/react/src/pre-ldls/components/VirtualList/VirtualList.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/VirtualList/VirtualList.tsx
  libs/ui/packages/react/src/pre-ldls/components/index.ts
  libs/ui/packages/react/src/pre-ldls/libs/index.ts
Labels: desktop, ui

#10137 :sparkles: (lld/ui) MAD asset selection drawer
  .changeset/seven-roses-double.md
  apps/ledger-live-desktop/src/newArch/components/Skeleton.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/Collection/TableRow/TokenTitle.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/DetailDrawer/components/DetailField.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/Gallery/TokenList/CardItem.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/Gallery/TokenList/Item.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/Gallery/TokenList/RowItem.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/Search/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/Search/test/useSearch.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/Search/useSearch.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAsset.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectNetwork.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/components/Table.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  knip.json
  libs/ui/packages/react/src/pre-ldls/components/AssetItem/AssetItem.tsx
  libs/ui/packages/react/src/pre-ldls/components/AssetList/AssetList.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/AssetList/AssetList.tsx
  libs/ui/packages/react/src/pre-ldls/components/Input/Input.tsx
  libs/ui/packages/react/src/pre-ldls/components/NetworkItem/NetworkItem.tsx
Labels: desktop, ui, translations

#10151 [QAA] Adding logs earn live app - LLM & LLD
  apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/CustomHandlers.ts
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/index.tsx
  apps/ledger-live-mobile/e2e/bridge/client.ts
  apps/ledger-live-mobile/e2e/bridge/server.ts
  apps/ledger-live-mobile/e2e/bridge/types.ts
  apps/ledger-live-mobile/src/components/WebPTXPlayer/CustomHandlers.ts
  libs/ledger-live-common/src/wallet-api/Exchange/server.test.ts
  libs/ledger-live-common/src/wallet-api/Exchange/server.ts
Labels: desktop, mobile, common

#10154 ✨ (llm): Add tracking for transaction checks opt in result
  .changeset/soft-bobcats-unite.md
  apps/ledger-live-mobile/src/analytics/hooks/useTrackTransactionChecksFlow.test.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackTransactionChecksFlow.ts
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
Labels: mobile

#10167 fix(LIVE-18832): add discreet mode parameter back to swap web view
  .changeset/healthy-cows-itch.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
Labels: desktop

#10159 feat(LLD): MAD SelectAccount button
  .changeset/young-feet-invite.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAccount.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ui/packages/react/src/pre-ldls/components/CardButton/CardButton.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/CardButton/CardButton.tsx
  libs/ui/packages/react/src/pre-ldls/components/index.ts
  libs/ui/packages/react/src/pre-ldls/libs/index.ts
Labels: desktop, ui, translations

#10128 feat(LLD): CryptoIcons
  .changeset/four-rules-flow.md
  libs/ui/packages/react/package.json
  libs/ui/packages/react/src/pre-ldls/components/Address/Address.tsx
  libs/ui/packages/react/src/pre-ldls/components/AssetItem/AssetItem.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/AssetItem/AssetItem.tsx
  libs/ui/packages/react/src/pre-ldls/components/AssetList/AssetList.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/CryptoIcon/CryptoIcon.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/CryptoIcon/CryptoIcon.tsx
  libs/ui/packages/react/src/pre-ldls/components/NetworkItem/NetworkItem.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/NetworkItem/NetworkItem.tsx
  libs/ui/packages/react/src/pre-ldls/components/NetworkList/NetworkList.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/NetworkList/NetworkList.tsx
  pnpm-lock.yaml
Labels: ui

#10166 :sparkles: (lld) MAD asset flow
  .changeset/afraid-suns-dance.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/Search/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/Search/useSearch.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow/components/AssetSelectionStep.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow/components/Header.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow/components/NavigateBackButton.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow/components/NetworkSelectionStep.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow/components/StyledComponents.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow/components/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow/tests/Components.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow/tests/Shared.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow/useSelectAssetFlow.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectNetwork.tsx
  apps/ledger-live-desktop/src/renderer/components/SideDrawerHeader.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#10172 :bug: (lld/ui) polish asset and network items
  .changeset/old-mice-deny.md
  libs/ui/packages/react/src/pre-ldls/components/AssetItem/AssetItem.tsx
  libs/ui/packages/react/src/pre-ldls/components/NetworkItem/NetworkItem.tsx
Labels: ui

#10174 slack channel coin-modules integ reports
  .github/workflows/test-coin-modules-integ.yml
Labels: automation

#10177 prevent slack report manual runs cm integ tests
  .github/workflows/test-coin-modules-integ.yml
Labels: automation

#10115 support: add XAI token icon
  .changeset/cool-pens-grow.md
  libs/ui/packages/crypto-icons/src/svg/XAI.svg
Labels: ui, fork

#10175 fix(LIVE-18832): remove discreetmode param from both llm and lld swap…
  .changeset/wise-jokes-dream.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/WebView.tsx
Labels: desktop, mobile

#10170 feat: Large Mover Sticky header component
  .changeset/angry-insects-punch.md
  apps/ledger-live-mobile/src/components/RootNavigator/LandingPagesNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SettingsNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Card.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/StickyHeader.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/index.tsx
Labels: mobile, translations

#10168 LIVE-18119: move getTokensWithFunds to to also capture in LLD's analytics
  .changeset/pink-cougars-confess.md
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/domain/getTokensWithFunds.test.ts
  libs/ledger-live-common/src/domain/getTokensWithFunds.ts
Labels: desktop, mobile, common

#10164 fix: add spacing above recover banner
  .changeset/chatty-clocks-pull.md
  apps/ledger-live-mobile/src/components/RecoverBanner/index.tsx
Labels: bug, mobile

#10196 fix add account e2e
  apps/ledger-live-desktop/src/renderer/components/OperationsList/DateCell.tsx
  e2e/desktop/tests/page/account.page.ts
  e2e/desktop/tests/page/drawer/operation.drawer.ts
  e2e/desktop/tests/specs/add.account.spec.ts
  e2e/desktop/tests/specs/delegate.spec.ts
  e2e/desktop/tests/specs/swap.other.spec.ts
Labels: desktop

#10180 Fix/live 18919 add ton token nano S error drawer
  .changeset/odd-drinks-cheer.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/exchange/swap/getIncompatibleCurrencyKeys.ts
Labels: desktop, common, translations

#10199 update base default explorer
  .changeset/twelve-insects-cross.md
  libs/ledger-live-common/src/families/evm/config.ts
Labels: common

#10203 feat: solana off-chain message signing returns the envelope with the signedMessage [LIVE-19009]
  .changeset/flat-trees-pay.md
  libs/coin-modules/coin-solana/src/__tests__/unit/hw-signMessage.unit.test.ts
  libs/coin-modules/coin-solana/src/hw-signMessage.ts
  libs/ledger-live-common/src/families/solana/setup.test.ts
Labels: common

#10214 Feat/live 16684 os recover copy v2
  .changeset/nice-spies-worry.md
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/Disclaimer.tsx
  apps/ledger-live-desktop/static/i18n/ar/app.json
  apps/ledger-live-desktop/static/i18n/de/app.json
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/static/i18n/es/app.json
  apps/ledger-live-desktop/static/i18n/fr/app.json
  apps/ledger-live-desktop/static/i18n/ja/app.json
  apps/ledger-live-desktop/static/i18n/ko/app.json
  apps/ledger-live-desktop/static/i18n/pt/app.json
  apps/ledger-live-desktop/static/i18n/ru/app.json
  apps/ledger-live-desktop/static/i18n/th/app.json
  apps/ledger-live-desktop/static/i18n/tr/app.json
  apps/ledger-live-desktop/static/i18n/zh/app.json
  apps/ledger-live-mobile/src/locales/ar/common.json
  apps/ledger-live-mobile/src/locales/de/common.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/locales/es/common.json
  apps/ledger-live-mobile/src/locales/fr/common.json
  apps/ledger-live-mobile/src/locales/ja/common.json
  apps/ledger-live-mobile/src/locales/ko/common.json
  apps/ledger-live-mobile/src/locales/pt/common.json
  apps/ledger-live-mobile/src/locales/ru/common.json
  apps/ledger-live-mobile/src/locales/th/common.json
  apps/ledger-live-mobile/src/locales/tr/common.json
  apps/ledger-live-mobile/src/locales/zh/common.json
Labels: desktop, mobile, translations

#10195 fix: add polyfill for ky retry on LLM Android
  .changeset/new-flies-smell.md
  apps/ledger-live-mobile/src/polyfill.ts
Labels: mobile

#9929 feat: aptos token integration
  .changeset/good-ghosts-laugh.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/coin-framework/src/operation.ts
  libs/coin-modules/coin-aptos/package.json
  libs/coin-modules/coin-aptos/src/__tests__/api/index.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/buildTransaction.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/getFeesForTransaction.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/getTransactionStatus.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/logic.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/signOperation.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/synchronisation.test.ts
  libs/coin-modules/coin-aptos/src/api/graphql/queries.ts
  libs/coin-modules/coin-aptos/src/api/graphql/types.ts
  libs/coin-modules/coin-aptos/src/api/index.ts
  libs/coin-modules/coin-aptos/src/bridge/bridge.fixture.ts
  libs/coin-modules/coin-aptos/src/bridge/buildTransaction.ts
  libs/coin-modules/coin-aptos/src/bridge/estimateMaxSpendable.ts
  libs/coin-modules/coin-aptos/src/bridge/getFeesForTransaction.ts
  libs/coin-modules/coin-aptos/src/bridge/getTransactionStatus.ts
  libs/coin-modules/coin-aptos/src/bridge/logic.ts
  libs/coin-modules/coin-aptos/src/bridge/prepareTransaction.ts
  libs/coin-modules/coin-aptos/src/bridge/signOperation.ts
  libs/coin-modules/coin-aptos/src/bridge/synchronisation.ts
  libs/coin-modules/coin-aptos/src/constants.ts
  libs/coin-modules/coin-aptos/src/test/bot-specs.ts
  libs/coin-modules/coin-aptos/src/test/bridgeDatasetTest.ts
  libs/coin-modules/coin-aptos/src/test/speculos-deviceActions.ts
  libs/coin-modules/coin-aptos/src/types/index.ts
  libs/coin-modules/coin-stellar/src/test/bridgeDatasetTest.ts
  libs/env/src/env.ts
  libs/ledger-live-common/src/families/aptos/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/bitcoin/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/cosmos.integration.test.ts.snap
  libs/ledger-live-common/src/families/hedera/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/stellar/__snapshots__/bridge.integration.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/apt/aptos.test.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/apt/index.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/apt_coin-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/apt_coin.json
  libs/ledgerjs/packages/cryptoassets/src/data/apt_coin.ts
  libs/ledgerjs/packages/cryptoassets/src/data/apt_fungible_asset-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/apt_fungible_asset.json
  libs/ledgerjs/packages/cryptoassets/src/data/apt_fungible_asset.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
  libs/ledgerjs/packages/errors/src/index.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, ledgerjs, translations, Stale

#10124 bugfix(LIVE-18780): skip open app in ETH signer
  .changeset/calm-pianos-decide.md
  .changeset/cuddly-bags-sip.md
  apps/ledger-live-mobile/package.json
  libs/ledger-live-common/package.json
  libs/live-dmk-desktop/package.json
  libs/live-dmk-mobile/package.json
  libs/live-dmk-shared/package.json
  libs/live-signer-evm/package.json
  libs/live-signer-evm/src/DmkSignerEth.ts
  libs/live-signer-evm/tests/DmkSignerEth.test.ts
  pnpm-lock.yaml
Labels: mobile, common

#10226 fix(LIVE-18412): add check for existing provider urls in swap history
  .changeset/fuzzy-plums-care.md
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/OperationDetails.tsx
Labels: mobile

#10231 :package: (lld) update storyly sdk version
  .changeset/early-ravens-prove.md
  apps/ledger-live-desktop/package.json
  pnpm-lock.yaml
Labels: desktop

#10224 [LIVE-18379][LIVE-18826] Feature flag to control NFT usage for custom lock screen
  .changeset/moody-timers-compare.md
  .changeset/thin-mice-study.md
  apps/ledger-live-desktop/src/renderer/screens/customImage/Step1ChooseImage.tsx
  apps/ledger-live-mobile/src/components/CustomImage/CustomImageBottomModal.tsx
Labels: desktop, mobile, live-devices

#10204 feat: add earn live app manifest ff
  .changeset/blue-roses-explain.md
  apps/ledger-live-desktop/src/renderer/screens/earn/index.tsx
  apps/ledger-live-mobile/src/screens/PTX/Earn/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs

#10241 :chart_with_upwards_trend: (llm) enhance component lifecycle tracking
  .changeset/silver-pants-grin.md
  apps/ledger-live-mobile/src/analytics/Track.ts
  apps/ledger-live-mobile/src/analytics/__tests__/Track.test.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/ReportErrorsRow.tsx
Labels: mobile

#10248 Feat: Large Mover Deeplink
  .changeset/shy-months-talk.md
  apps/ledger-live-mobile/src/components/RootNavigator/types/LandingPagesNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SettingsNavigator.ts
  apps/ledger-live-mobile/src/navigation/DeeplinksProvider.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/hooks/useLargeMover.ts
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/index.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/utils/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/index.tsx
Labels: mobile

#10259 ci(LIVE-18772): reduce datadog noise
  .github/workflows/build-desktop-reusable.yml
  .github/workflows/build-mobile-reusable.yml
  .github/workflows/test-desktop-external-reusable.yml
Labels: automation

#10179 feat(LLM): Add a NFT entry that redirect to the 3rd party marketplace in EVM accounts
  .changeset/happy-wolves-speak.md
  apps/ledger-live-mobile/src/images/liveApps/ME.webp
  apps/ledger-live-mobile/src/images/liveApps/OS.webp
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/NftEntryPoint/__tests__/NftEntryPoint.test.tsx
  apps/ledger-live-mobile/src/newArch/features/NftEntryPoint/__tests__/useNftsEntryPointViewModel.test.tsx
  apps/ledger-live-mobile/src/newArch/features/NftEntryPoint/components/Row.tsx
  apps/ledger-live-mobile/src/newArch/features/NftEntryPoint/config.ts
  apps/ledger-live-mobile/src/newArch/features/NftEntryPoint/index.tsx
  apps/ledger-live-mobile/src/newArch/features/NftEntryPoint/types/index.tsx
  apps/ledger-live-mobile/src/newArch/features/NftEntryPoint/useNftsEntryPointViewModel.tsx
  apps/ledger-live-mobile/src/screens/Account/ListHeaderComponent.tsx
Labels: mobile, translations

#10186 Fix incompatibility messages for Nano S during Sui swaps
  .changeset/sweet-hairs-brake.md
  libs/ledger-live-common/src/exchange/swap/getIncompatibleCurrencyKeys.ts
Labels: common, fork

#10183 feat: Large Mover swipe card
  .changeset/happy-peaches-fetch.md
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/LandingPagesNavigator.ts
  apps/ledger-live-mobile/src/newArch/components/Swiper/components/Swiper.tsx
  apps/ledger-live-mobile/src/newArch/components/Swiper/hooks/useCardRotation.ts
  apps/ledger-live-mobile/src/newArch/components/Swiper/hooks/useSwiper.ts
  apps/ledger-live-mobile/src/newArch/components/Swiper/types.ts
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Card.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Loading.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/__tests__/CardLargeMover.test.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/hooks/useLargeMover.ts
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/index.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/types.d.ts
  apps/ledger-live-mobile/src/screens/Settings/Debug/Features/SwiperScreenDebug/index.tsx
Labels: mobile

#10273 Support/fix success report coin modules integ
  .github/workflows/test-coin-modules-integ.yml
Labels: automation

#10246 [QAA] adding settings tests
  apps/ledger-live-desktop/src/renderer/components/ExportLogsButton.tsx
  apps/ledger-live-desktop/src/renderer/components/OpenUserDataDirectoryBtn.tsx
  e2e/desktop/tests/fixtures/common.ts
  e2e/desktop/tests/page/settings.page.ts
  e2e/desktop/tests/specs/settings.spec.ts
  e2e/desktop/tests/specs/swap.other.spec.ts
Labels: desktop

#10275 🔥 Hotfix 2025-05-16 (targeting LLD latest)
  apps/cli/CHANGELOG.md
  apps/cli/package.json
  apps/ledger-live-desktop/CHANGELOG.md
  apps/ledger-live-desktop/RELEASE_NOTES.md
  apps/ledger-live-desktop/package.json
  apps/web-tools/CHANGELOG.md
  apps/web-tools/package.json
  e2e/desktop/CHANGELOG.md
  e2e/desktop/package.json
  libs/coin-modules/coin-solana/CHANGELOG.md
  libs/coin-modules/coin-solana/package.json
  libs/coin-modules/coin-solana/src/__tests__/unit/hw-signMessage.unit.test.ts
  libs/coin-modules/coin-solana/src/hw-signMessage.ts
  libs/ledger-live-common/CHANGELOG.md
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/solana/setup.test.ts
  libs/live-dmk-desktop/CHANGELOG.md
  libs/live-dmk-desktop/package.json
  libs/test-utils/CHANGELOG.md
  libs/test-utils/package.json
  tests/dummy-wallet-app/CHANGELOG.md
  tests/dummy-wallet-app/package.json
Labels: desktop, common, cli

#10277 Fix/live 18925
  .changeset/purple-foxes-grow.md
  apps/ledger-live-mobile/src/components/WebPTXPlayer/CustomHandlers.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/index.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/saveSwapToHistory.ts
Labels: mobile

#10238 chore: set provider in dmk
  .changeset/great-laws-obey.md
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Experimental/index.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Experimental/FeatureRow.tsx
Labels: desktop, mobile

#10268 ci: auto label pull requests changing coin modules API
  .github/labeler.yml
Labels: automation

#9928 [DSDK-706] Add `ldmkConnectApp` feature flag
  .changeset/happy-ads-share.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/DeviceActions/openOrInstall.tsx
  apps/ledger-live-desktop/src/renderer/analytics/segment.ts
  apps/ledger-live-desktop/src/renderer/components/LiveAppDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/OnboardingAppInstall/InstallSetOfApps.tsx
  apps/ledger-live-desktop/src/renderer/families/bitcoin/FullNode/steps/StepConnectDevice.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useConnectAppAction.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepConnectDevice.tsx
  apps/ledger-live-desktop/src/renderer/modals/ConnectDevice/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/ExchangeDeviceConfirm/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/BodyContent.tsx
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/StartExchange/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepConnectDevice.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/GenericStepConnectDevice.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/steps/StepSign.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignTransaction/steps/GenericStepConnectDevice.tsx
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/hooks/deviceActions.ts
  apps/web-tools/trustchain/components/AppAccountsSync.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/hw/connectApp.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, mobile, common, ledgerjs, live-devices

#10234 Fix/live 18919: Ton token error screen nano S
  .changeset/gorgeous-bags-accept.md
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#10263 chore: update default legacyOCMSMaxVersion
  .changeset/lazy-chairs-film.md
  libs/coin-modules/coin-solana/src/__tests__/unit/hw-signMessage.unit.test.ts
  libs/ledger-live-common/src/families/solana/config.ts
Labels: common

#10198 Test/remove cli member ledger sync
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/manageSynchronizedInstances.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/components/TinyCard.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/screens/ManageInstances/01-ManageInstancesStep.tsx
  e2e/desktop/tests/page/drawer/ledger.sync.drawer.ts
  e2e/desktop/tests/page/speculos.page.ts
  e2e/desktop/tests/specs/ledgerSync.spec.ts
  libs/ledger-live-common/src/e2e/enum/DeviceLabels.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#10282 deps: update Taquito to v22
  .changeset/fluffy-terms-cheer.md
  libs/coin-modules/coin-tezos/package.json
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: common

#10191 🐛 LLD / LLM - Fixed rename accounts
  .changeset/new-tips-tan.md
  apps/ledger-live-desktop/src/renderer/init.tsx
  apps/ledger-live-desktop/src/renderer/reducers/index.ts
  apps/ledger-live-mobile/src/context/LedgerStore.tsx
  e2e/desktop/tests/page/index.ts
  e2e/desktop/tests/specs/rename.account.spec.ts
  e2e/desktop/tests/utils/redux.ts
  e2e/desktop/tests/utils/userdata.ts
  libs/live-wallet/src/store.test.ts
  libs/live-wallet/src/store.ts
Labels: desktop, mobile

#10289 👷 Adding LNS and LNX to e2e tests - LLD
  .github/workflows/test-ui-e2e-only-desktop.yml
  apps/ledger-live-desktop/src/renderer/reducers/devices.ts
  e2e/desktop/package.json
  e2e/desktop/tests/page/swap.page.ts
  e2e/desktop/tests/specs/add.account.spec.ts
  e2e/desktop/tests/specs/delegate.spec.ts
  e2e/desktop/tests/specs/delete.account.spec.ts
  e2e/desktop/tests/specs/ledgerSync.spec.ts
  e2e/desktop/tests/specs/nft.spec.ts
  e2e/desktop/tests/specs/portfolio.spec.ts
  e2e/desktop/tests/specs/receive.address.spec.ts
  e2e/desktop/tests/specs/send.tx.spec.ts
  e2e/desktop/tests/specs/settings.spec.ts
  e2e/desktop/tests/specs/subAccount.spec.ts
  e2e/desktop/tests/specs/swap.other.spec.ts
  e2e/desktop/tests/specs/swap.send.spec.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/e2e/enum/Device.ts
  libs/ledger-live-common/src/e2e/enum/Swap.ts
  libs/ledger-live-common/src/e2e/families/cardano.ts
  libs/ledger-live-common/src/e2e/families/evm.ts
  libs/ledger-live-common/src/e2e/families/solana.ts
  libs/ledger-live-common/src/e2e/speculos.ts
  tools/actions/composites/run-e2e-playwright-tests/action.yml
Labels: desktop, common, tools, automation

#10012 LIVE-18212 - Aptos Alpaca API combine
  .changeset/three-clouds-share.md
  libs/coin-modules/coin-aptos/src/__tests__/logic/combine.unit.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/network/client.test.ts
  libs/coin-modules/coin-aptos/src/api/index.ts
  libs/coin-modules/coin-aptos/src/logic/combine.ts
  libs/coin-modules/coin-aptos/src/network/client.ts
  libs/coin-modules/coin-aptos/src/network/index.ts
Labels: coin-modules-api

#10256 fix: show ton tokens in swap history
  .changeset/shiny-swans-roll.md
  libs/coin-modules/coin-ton/src/bridge/bridgeHelpers/api.ts
  libs/coin-modules/coin-ton/src/bridge/bridgeHelpers/txn.ts
  libs/coin-modules/coin-ton/src/synchronisation.ts
  libs/ledger-live-common/src/exchange/swap/getCompleteSwapHistory.ts
Labels: common

#10276 ✨ (LLD/MAD) search auto scroll top
  .changeset/orange-peaches-rescue.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/Search/test/useSearch.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/Search/useSearch.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow/components/AssetSelectionStep.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow/components/SelectAsset.tsx
  libs/ui/packages/react/src/pre-ldls/components/AssetList/AssetList.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/AssetList/AssetList.tsx
  libs/ui/packages/react/src/pre-ldls/components/VirtualList/VirtualList.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/VirtualList/VirtualList.tsx
Labels: desktop, ui

#10211 fix: optimize the "Add account" flow in Hedera
  .changeset/late-sheep-argue.md
  libs/coin-modules/coin-hedera/src/api/mirror.test.ts
  libs/coin-modules/coin-hedera/src/api/mirror.ts
  libs/coin-modules/coin-hedera/src/bridge/synchronisation.ts
Labels: fork, coin-modules-api

#10160 [LIVE-18757] Add React tests for delegation disable flag in coin configuration
  .changeset/kind-icons-tease.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/families/cosmos/Delegation/__tests__/Delegations.test.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/__tests__/AccountBalanceSummaryFooter.test.tsx
  apps/ledger-live-mobile/__mocks__/@react-native-clipboard/clipboard.js
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/Skeleton.tsx
  apps/ledger-live-mobile/src/screens/Account/ListHeaderComponent.tsx
  apps/ledger-live-mobile/src/screens/Account/__tests__/ListHeaderComponent.test.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/SectionTitle.tsx
Labels: desktop, mobile

#10141 LIVE-18213: aptos alpaca api craft transaction
  .changeset/mighty-students-promise.md
  libs/coin-modules/coin-aptos/src/__tests__/api/craftTransaction.unit.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/api/index.integ.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/logic.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/signOperation.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/index.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/logic/buildTransaction.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/logic/createTransaction.test.ts
  libs/coin-modules/coin-aptos/src/api/index.ts
  libs/coin-modules/coin-aptos/src/bridge/estimateMaxSpendable.ts
  libs/coin-modules/coin-aptos/src/bridge/getFeesForTransaction.ts
  libs/coin-modules/coin-aptos/src/bridge/index.ts
  libs/coin-modules/coin-aptos/src/bridge/logic.ts
  libs/coin-modules/coin-aptos/src/bridge/prepareTransaction.ts
  libs/coin-modules/coin-aptos/src/bridge/signOperation.ts
  libs/coin-modules/coin-aptos/src/config.ts
  libs/coin-modules/coin-aptos/src/constants.ts
  libs/coin-modules/coin-aptos/src/logic/buildTransaction.ts
  libs/coin-modules/coin-aptos/src/logic/craftTransaction.ts
  libs/coin-modules/coin-aptos/src/logic/createTransaction.ts
  libs/coin-modules/coin-aptos/src/logic/normalizeTransactionOptions.ts
Labels: coin-modules-api

#10264 fix: working "view in explorer" button in Hedera transaction details
  .changeset/tame-badgers-look.md
  apps/ledger-live-desktop/src/renderer/families/hedera/getTransactionExplorer.unit.test.tsx
  apps/ledger-live-desktop/src/renderer/families/hedera/index.ts
  apps/ledger-live-mobile/src/families/hedera/operationDetails.ts
  apps/ledger-live-mobile/src/screens/OperationDetails/index.tsx
  libs/coin-modules/coin-hedera/package.json
  libs/coin-modules/coin-hedera/src/api/mirror.ts
  libs/coin-modules/coin-hedera/src/bridge/broadcast.ts
  libs/coin-modules/coin-hedera/src/bridge/utils.ts
  libs/coin-modules/coin-hedera/src/logic.test.ts
  libs/coin-modules/coin-hedera/src/logic.ts
  libs/coin-modules/coin-hedera/src/types/bridge.ts
  libs/ledger-live-common/src/families/hedera/logic.ts
  pnpm-lock.yaml
Labels: desktop, mobile, common, fork, coin-modules-api

#10089 LIVE-18215 - aptos alpaca get balance
  .changeset/spicy-ghosts-boil.md
  libs/coin-modules/coin-aptos/package.json
  libs/coin-modules/coin-aptos/src/__tests__/api/getBalance.unit.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/api/index.integ.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/network/client.test.ts
  libs/coin-modules/coin-aptos/src/api/index.ts
  libs/coin-modules/coin-aptos/src/logic/getBalance.ts
  libs/coin-modules/coin-aptos/src/network/client.ts
  libs/coin-modules/coin-aptos/src/types/index.ts
Labels: coin-modules-api

#10293 :sparkles: (LLD/MAD) account selection aggregation
  .changeset/pretty-pumas-listen.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAccountFlow/components/AccountSelectionStep.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAccountFlow/components/SelectAccount.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAccountFlow/hooks/tests/sortAccountsByBalance.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAccountFlow/hooks/useDetailedAccounts.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAccountFlow/utils/formatDetailedAccount.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAccountFlow/utils/sortAccountsByFiatValue.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAccountFlow/utils/tests/formatDetailedAccount.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAccountFlow/utils/tests/sortAccountsByFiatValue.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow/useSelectAssetFlow.ts
  apps/ledger-live-desktop/src/newArch/utils/formatAddress.ts
  apps/ledger-live-desktop/src/newArch/utils/getBalanceAndFiatValue.ts
  apps/ledger-live-desktop/src/newArch/utils/getTokenAccountTuples.ts
  apps/ledger-live-desktop/src/newArch/utils/tests/formatAddress.test.ts
  apps/ledger-live-desktop/src/newArch/utils/tests/getProductName.test.ts
  apps/ledger-live-desktop/src/newArch/utils/tests/getTokenAccountTuples.test.ts
  apps/ledger-live-desktop/src/renderer/reducers/accounts.ts
  libs/ui/packages/react/src/pre-ldls/components/AccountItem/AccountItem.tsx
  libs/ui/packages/react/src/pre-ldls/components/Address/Address.tsx
  libs/ui/packages/react/src/pre-ldls/components/Tag/Tag.tsx
Labels: desktop, ui

#10329 chore/LIVE-19248 App crash when opening account in E2E tests
  .changeset/gentle-geckos-melt.md
  apps/ledger-live-mobile/src/screens/Account/ListHeaderComponent.tsx
Labels: mobile

#10227 feat: Large Mover Analytics
  .changeset/cyan-roses-turn.md
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Card.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/StickyHeader.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/TimeFrame.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/const.ts
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/hooks/useFooterQuickAction.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/index.tsx
Labels: mobile

#10302 fix: loader only for the graph
  .changeset/blue-pants-pump.md
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Card.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/LargeMoverGraph.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/__tests__/CardLargeMover.test.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/__tests__/LargeMoverGraph.test.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/hooks/useLargeMover.ts
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/index.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/types.d.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/market/hooks/useLargeMoverChartData.ts
  libs/ledger-live-common/src/market/hooks/useLargeMoverCurrencies.ts
  libs/ledger-live-common/src/market/hooks/useLargeMoverDataProvider.ts
Labels: mobile, common

#10343 Revert "🐛 LLD / LLM - Fixed rename accounts"
  .changeset/new-tips-tan.md
  apps/ledger-live-desktop/src/renderer/init.tsx
  apps/ledger-live-desktop/src/renderer/reducers/index.ts
  apps/ledger-live-mobile/src/context/LedgerStore.tsx
  e2e/desktop/tests/page/index.ts
  e2e/desktop/tests/specs/rename.account.spec.ts
  e2e/desktop/tests/utils/redux.ts
  e2e/desktop/tests/utils/userdata.ts
  libs/live-wallet/src/store.test.ts
  libs/live-wallet/src/store.ts
Labels: desktop, mobile

#10334 ✨ LLD - Add Account Feature Flag
  .changeset/gold-hats-own.md
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#10347 fix(live-19133): handle offline state in swap webview
  .changeset/hip-apples-report.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/index.tsx
Labels: desktop, mobile

#10335 fix: label cut on bottom
  .changeset/tame-bugs-sip.md
  apps/ledger-live-mobile/src/screens/PTX/Earn/EarnMenuDrawer.tsx
Labels: mobile

#10184 Feat/test autom spl tokens
  apps/ledger-live-mobile/src/components/OperationRow/index.tsx
  apps/ledger-live-mobile/src/components/SubAccountRow.tsx
  apps/ledger-live-mobile/src/screens/Account/SubAccountsList.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/OperationsHistory/OperationRowContainer.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/OperationsHistory/OperationsHistoryList.tsx
  e2e/mobile/helpers/commonHelpers.ts
  e2e/mobile/helpers/elementHelpers.ts
  e2e/mobile/jest.globalSetup.ts
  e2e/mobile/page/accounts/account.page.ts
  e2e/mobile/page/common.page.ts
  e2e/mobile/page/trade/receive.page.ts
  e2e/mobile/page/trade/send.page.ts
  e2e/mobile/specs/subAccount/splTokensErrorMessages/transactionsAddressInvalid_GIGAtoWIF.spec.ts
  e2e/mobile/specs/subAccount/splTokensErrorMessages/transactionsAddressInvalid_SOLtoGIGA.spec.ts
  e2e/mobile/specs/subAccount/splTokensErrorMessages/transactionsAddressInvalid_SOLtoWIF.spec.ts
  e2e/mobile/specs/subAccount/splTokensErrorMessages/transactionsAddressInvalid_WIFtoGIGA.spec.ts
  e2e/mobile/specs/subAccount/splTokensErrorMessages/transactionsAddressInvalid_WIFtoWIF.spec.ts
  e2e/mobile/specs/subAccount/splTokensErrorMessages/transactionsAddressValid.spec.ts
  e2e/mobile/specs/subAccount/subAccount.ts
  e2e/mobile/specs/subAccount/subAccountGIGA.spec.ts
  e2e/mobile/specs/verifyAddress/receiveFlowETH.spec.ts
  e2e/mobile/types/global.d.ts
  libs/ledger-live-common/src/e2e/enum/Account.ts
  libs/speculos-transport/src/index.ts
Labels: mobile, common

#10300 LIVE-17878: track of Manage/Earn more position before opening link
  .changeset/slow-bottles-think.md
  apps/ledger-live-mobile/src/screens/PTX/Earn/EarnMenuDrawer.tsx
Labels: mobile

#10228 feat: aptos alpaca listOperations
  .changeset/modern-roses-raise.md
  libs/coin-modules/coin-aptos/src/__tests__/api/index.integ.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/logic.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/logic/calculateAmount.unit.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/logic/compareAddress.unit.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/logic/getCoinAndAmounts.unit.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/logic/getFunctionAddress.unit.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/logic/getResourceAddress.unit.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/logic/isTestnet.unit.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/logic/processRecipients.unit.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/network/client.test.ts
  libs/coin-modules/coin-aptos/src/api/index.ts
  libs/coin-modules/coin-aptos/src/bridge/logic.ts
  libs/coin-modules/coin-aptos/src/logic/calculateAmount.ts
  libs/coin-modules/coin-aptos/src/logic/getCoinAndAmounts.ts
  libs/coin-modules/coin-aptos/src/logic/getFunctionAddress.ts
  libs/coin-modules/coin-aptos/src/logic/getResourceAddress.ts
  libs/coin-modules/coin-aptos/src/logic/isTestnet.ts
  libs/coin-modules/coin-aptos/src/logic/isWriteSetChangeWriteResource.ts
  libs/coin-modules/coin-aptos/src/logic/processRecipients.ts
  libs/coin-modules/coin-aptos/src/logic/transactionsToOperations.ts
  libs/coin-modules/coin-aptos/src/network/client.ts
Labels: coin-modules-api

#10352 fix: p1 bugs for large mover
  .changeset/grumpy-pets-explain.md
  apps/ledger-live-mobile/src/newArch/components/Swiper/components/SwipeableCard.tsx
  apps/ledger-live-mobile/src/newArch/components/Swiper/hooks/useCardRotation.ts
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Card.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/PriceAndVariation.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/Ticker.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/components/__tests__/CardLargeMover.test.tsx
  apps/ledger-live-mobile/src/newArch/features/LandingPages/screens/LargeMoverLandingPage/index.tsx
  libs/ui/packages/native/src/components/Form/TabSelector/index.tsx
  libs/ui/packages/native/src/components/cta/QuickAction/QuickActionButton/index.tsx
Labels: mobile, ui

#10333 feat(coin-tester-solana): add Solana Coin Tester
  .github/workflows/test-coin-tester.yml
  libs/coin-tester-modules/coin-tester-solana/.env.example
  libs/coin-tester-modules/coin-tester-solana/.unimportedrc.json
  libs/coin-tester-modules/coin-tester-solana/README.md
  libs/coin-tester-modules/coin-tester-solana/docker-compose.yml
  libs/coin-tester-modules/coin-tester-solana/jest.config.ts
  libs/coin-tester-modules/coin-tester-solana/package.json
  libs/coin-tester-modules/coin-tester-solana/src/agave.ts
  libs/coin-tester-modules/coin-tester-solana/src/fixtures.ts
  libs/coin-tester-modules/coin-tester-solana/src/scenarii.test.ts
  libs/coin-tester-modules/coin-tester-solana/src/scenarii/solana.ts
  libs/coin-tester-modules/coin-tester-solana/tsconfig.json
  libs/coin-tester/README.md
  package.json
  pnpm-lock.yaml
  tools/actions/composites/run-coin-tester/action.yml
Labels: tools, automation

#10345 [DSDK-708] Implement ConnectApp device action
  .changeset/ninety-wasps-repair.md
  .changeset/proud-books-sneeze.md
  .changeset/rich-moles-knock.md
  .changeset/seven-insects-heal.md
  .changeset/wet-ghosts-build.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Tutorial/screens/GenuineCheck.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useConnectAppAction.ts
  apps/ledger-live-desktop/src/renderer/screens/USBTroubleshooting/USBTroubleshooting.tsx
  apps/ledger-live-desktop/src/renderer/screens/USBTroubleshooting/USBTroubleshootingMachine.ts
  apps/ledger-live-desktop/src/renderer/screens/USBTroubleshooting/solutions/RepairFunnel.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/index.tsx
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/hooks/deviceActions.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/apps/support.ts
  libs/ledger-live-common/src/hw/actions/manager.ts
  libs/ledger-live-common/src/hw/connectApp.ts
  libs/ledger-live-common/src/hw/connectAppEventMapper.ts
  libs/ledger-live-common/src/hw/connectManager.ts
  libs/ledger-live-common/src/hw/connectManagerEventMapper.ts
  libs/ledger-live-common/src/notifications/AnnouncementProvider/index.tsx
  libs/ledger-live-common/src/notifications/AnnouncementProvider/machine.ts
  libs/ledger-live-common/src/notifications/ServiceStatusProvider/index.tsx
  libs/ledger-live-common/src/notifications/ServiceStatusProvider/machine.ts
  libs/ledgerjs/packages/hw-app-exchange/package.json
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.ts
  libs/live-dmk-desktop/package.json
  libs/live-dmk-mobile/package.json
  libs/live-dmk-shared/.unimportedrc.json
  libs/live-dmk-shared/package.json
  libs/live-dmk-shared/src/device-action/ConnectApp/ConnectAppDeviceAction.test.ts
  libs/live-dmk-shared/src/device-action/ConnectApp/ConnectAppDeviceAction.ts
  libs/live-dmk-shared/src/device-action/ConnectApp/types.ts
  libs/live-dmk-shared/src/device-action/PrepareConnectManager/PrepareConnectManagerDeviceAction.test.ts
  libs/live-dmk-shared/src/device-action/PrepareConnectManager/PrepareConnectManagerDeviceAction.ts
  libs/live-dmk-shared/src/device-action/PrepareConnectManager/types.ts
  libs/live-dmk-shared/src/device-action/__test-utils__/makeInternalApi.ts
  libs/live-dmk-shared/src/device-action/__test-utils__/setupTestMachine.ts
  libs/live-dmk-shared/src/device-action/__test-utils__/testDeviceActionStates.ts
  libs/live-dmk-shared/src/index.ts
  libs/live-signer-evm/package.json
  pnpm-lock.yaml
Labels: desktop, mobile, common, ledgerjs

#10319 :bricks: (MAD) drawerConfiguration wallet api
  .changeset/brown-games-give.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/Web3AppWebview/AssetAndAccountDrawer.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAccountFlow/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/WalletAPIWebview.tsx
  libs/exchange-module/package.json
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/index.ts
  libs/ledger-live-common/src/wallet-api/ModularDrawer/types.ts
  libs/ledger-live-common/src/wallet-api/ModularDrawer/utils.ts
  libs/ledger-live-common/src/wallet-api/react.ts
  libs/wallet-api-acre-module/package.json
  pnpm-lock.yaml
  tests/dummy-wallet-app/package.json
Labels: desktop, common

#10363 fix/Put showNfts default value to true
  .changeset/green-goats-whisper.md
  libs/ledger-live-common/src/families/evm/config.ts
Labels: common

#10360 feat(LLD): storybook + MAD tests
  .changeset/green-rice-dream.md
  apps/ledger-live-desktop/.storybook/main.ts
  apps/ledger-live-desktop/.storybook/preview.tsx
  apps/ledger-live-desktop/.storybook/stub.ts
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAccountFlow/SelectAccountFlow.stories.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAccountFlow/hooks/__mocks__/useDetailedAccounts.mock.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAccountFlow/index.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow/SelectAssetFlow.stories.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/SelectAssetFlow/__mocks__/useSelectAssetFlow.mock.ts
  apps/ledger-live-desktop/src/renderer/analytics/__mocks__/segment.ts
  knip.json
  pnpm-lock.yaml
Labels: desktop

#10296 [Detox][E2E] Implement Speculos iOS tests on Mac runners
  .github/workflows/test-mobile-e2e-reusable.yml
  apps/ledger-live-mobile/.env.mock
  apps/ledger-live-mobile/scripts/e2e-ci.mjs
  apps/ledger-live-mobile/src/react-native-hw-transport-ble/index.ts
  e2e/desktop/tests/fixtures/common.ts
  e2e/desktop/tests/utils/speculosUtils.ts
  e2e/mobile/bridge/proxy.ts
  e2e/mobile/helpers/elementHelpers.ts
  e2e/mobile/jest.globalSetup.ts
  e2e/mobile/page/accounts/account.page.ts
  e2e/mobile/page/accounts/accounts.page.ts
  e2e/mobile/page/accounts/addAccount.drawer.ts
  e2e/mobile/page/accounts/assetAccounts.page.ts
  e2e/mobile/page/common.page.ts
  e2e/mobile/page/discover/discover.page.ts
  e2e/mobile/page/index.ts
  e2e/mobile/page/manager/manager.page.ts
  e2e/mobile/page/market/market.page.ts
  e2e/mobile/page/nft/nftViewer.page.ts
  e2e/mobile/page/passwordEntry.page.ts
  e2e/mobile/page/settings/ledgerSync.page.ts
  e2e/mobile/page/settings/settingsGeneral.page.ts
  e2e/mobile/page/stax/customLockscreen.page.ts
  e2e/mobile/page/trade/celoManageAssets.page.ts
  e2e/mobile/page/trade/deviceValidation.page.ts
  e2e/mobile/page/trade/operationDetails.page.ts
  e2e/mobile/page/trade/receive.page.ts
  e2e/mobile/page/trade/send.page.ts
  e2e/mobile/page/trade/stake.page.ts
  e2e/mobile/page/trade/swap.page.ts
  e2e/mobile/page/wallet/nftGallery.page.ts
  e2e/mobile/page/wallet/portfolio.page.ts
  e2e/mobile/specs/delegate/delegate.ts
  e2e/mobile/specs/send/send.ts
  e2e/mobile/types/global.d.ts
  e2e/mobile/utils/speculosUtils.ts
  e2e/mobile/xray.formater.sh
  libs/ledger-live-common/src/e2e/speculos.ts
  libs/ledger-live-common/src/e2e/speculosCI.ts
  libs/ledgerjs/packages/hw-transport-node-speculos-http/src/SpeculosHttpTransport.ts
  libs/speculos-transport/src/index.ts
  tools/actions/composites/setup-speculos_image/action.yml
Labels: mobile, common, ledgerjs, tools, automation

#10374 [QAA][E2E][CI] use service account access token for Speculos tests
  .github/workflows/test-mobile-e2e-reusable.yml
Labels: automation

#10372 fix(live-19113): simplify error handling and remove unused state
  .changeset/early-turtles-drum.md
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/App/App.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/index.tsx
Labels: desktop, mobile

#10272 Implement Buy / Sell flow from different entry point (Asset Allocation, Market page, Account page)
  apps/ledger-live-desktop/src/renderer/components/SideBar/SideBarListItem.tsx
  e2e/desktop/tests/component/layout.component.ts
  e2e/desktop/tests/fixtures/common.ts
  e2e/desktop/tests/page/abstractClasses.ts
  e2e/desktop/tests/page/account.page.ts
  e2e/desktop/tests/page/accounts.page.ts
  e2e/desktop/tests/page/buyAndSell.page.ts
  e2e/desktop/tests/page/index.ts
  e2e/desktop/tests/page/market.page.ts
  e2e/desktop/tests/page/webViewApp.page.ts
  e2e/desktop/tests/specs/buySell.spec.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/e2e/models/BuySell.ts
Labels: desktop, common
