Repository LedgerHQ/ledger-live, pull requests merged in 2025-03, with the labels that each got.

#9367 feat(LIVE-17351): swap LLM prevent scrolling nav conflict
  .changeset/few-dryers-smoke.md
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/index.tsx
Labels: mobile

#9158 feat: change permit 2 modal design
  .changeset/angry-chairs-own.md
  apps/ledger-live-desktop/src/renderer/components/SignMessageConfirm/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/steps/StepSummary.tsx
  apps/ledger-live-desktop/src/renderer/utils/getTokenUnit.test.ts
  apps/ledger-live-desktop/src/renderer/utils/getTokenUnit.ts
  apps/ledger-live-desktop/src/renderer/utils/index.ts
  libs/evm-tools/src/message/EIP712/index.ts
Labels: desktop

#9401 👷 CI - Sonar workflow to run during the night
  .github/workflows/sonar.yml
Labels: automation

#9345 ✨ LLM - Thai language added
  .changeset/proud-houses-peel.md
  apps/ledger-live-mobile/src/context/Locale.tsx
  apps/ledger-live-mobile/src/hooks/languages/useSupportedLocales.test.ts
  apps/ledger-live-mobile/src/hooks/languages/useSupportedLocales.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/languages.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/locales/index.ts
  apps/ledger-live-mobile/src/locales/th/common.json
  apps/ledger-live-mobile/src/screens/Onboarding/steps/language.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/LanguageSelect.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ledgerjs/packages/types-live/src/languages.ts
Labels: mobile, common, ledgerjs, translations

#9402 chore: update nft metadata service staging url 🔧
  .changeset/thick-eels-burn.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/EnableStagingNftMetadataServiceToggle.tsx
  apps/ledger-live-desktop/tests/page/drawer/nft.drawer.ts
  apps/ledger-live-mobile/src/screens/Settings/Debug/Configuration/NftMetadataServiceRow.tsx
  libs/coin-modules/coin-evm/src/api/nft/index.ts
  libs/coin-modules/coin-evm/src/signOperation.ts
  libs/env/src/env.ts
  libs/ledger-services/trust/src/common.ts
  libs/ledger-services/trust/src/solana.test.ts
  libs/live-nft/src/api/metadataservice.ts
Labels: desktop, mobile

#9396 fix: when no associated account error is trigger on the scan process,…
  .changeset/swift-plants-visit.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/useScanDeviceAccountsViewModel.ts
Labels: mobile

#9411 fix(live-15727): swap llm display correct error message when app failed to load
  .changeset/stale-kids-sleep.md
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/index.tsx
Labels: mobile

#9398 feat(LIVE-17291): navigate to quotes on drawer cancel
  .changeset/selfish-meals-stare.md
  apps/ledger-live-mobile/src/screens/Platform/exchange/CompleteExchange.tsx
  apps/ledger-live-mobile/src/screens/Platform/exchange/StartExchange.tsx
Labels: mobile

#9403 chore: Update NMS version to v2
  .changeset/selfish-apples-build.md
  apps/ledger-live-desktop/tests/handlers/index.ts
  apps/ledger-live-desktop/tests/handlers/nfts.ts
  apps/ledger-live-desktop/tests/page/drawer/nft.drawer.ts
  libs/coin-modules/coin-evm/src/api/nft/index.ts
  libs/live-nft/src/api/metadataservice.ts
Labels: desktop

#9379 :chart_with_upwards_trend: (llm) enhance reborn analytics
  .changeset/large-moles-heal.md
  apps/ledger-live-mobile/__tests__/test-renderer.tsx
  apps/ledger-live-mobile/src/actions/settings.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Activation/ActivationLoading.tsx
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Onboarding/steps/NoLedgerYetModal.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/discoverLiveInfo.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/pairNew.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
  apps/ledger-live-mobile/src/screens/Settings/Debug/Configuration/ResetOnboardingStateRow.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/CompletionScreen.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SyncOnboardingCompanion.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/__integrations__/completionScreen.integration.test.tsx
Labels: mobile

#9289 :technologist: (ios) add proper dev app
  .changeset/cyan-tomatoes-begin.md
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/DebugAppIcon.appiconset/Contents.json
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/DebugAppIcon.appiconset/Icon-App-20x20@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/DebugAppIcon.appiconset/Icon-App-20x20@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/DebugAppIcon.appiconset/Icon-App-20x20@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/DebugAppIcon.appiconset/Icon-App-29x29@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/DebugAppIcon.appiconset/Icon-App-29x29@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/DebugAppIcon.appiconset/Icon-App-29x29@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/DebugAppIcon.appiconset/Icon-App-40x40@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/DebugAppIcon.appiconset/Icon-App-40x40@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/DebugAppIcon.appiconset/Icon-App-40x40@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/DebugAppIcon.appiconset/Icon-App-60x60@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/DebugAppIcon.appiconset/Icon-App-60x60@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/DebugAppIcon.appiconset/Icon-App-76x76@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/DebugAppIcon.appiconset/Icon-App-76x76@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/DebugAppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/DebugAppIcon.appiconset/ItunesArtwork@2x.png
Labels: mobile

#9292 feat(lld,llm): integrate Sonic
  .changeset/nervous-squids-cry.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-darwin.json
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-linux.json
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/coin-modules/coin-evm/src/__tests__/coin-tester/helpers.ts
  libs/coin-modules/coin-evm/src/__tests__/coin-tester/scenarii.test.ts
  libs/coin-modules/coin-evm/src/__tests__/coin-tester/scenarii/sonic.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/editTransaction/__snapshots__/getFormattedFeeFields.test.ts.snap
  libs/coin-modules/coin-evm/src/specs.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/families/evm/config.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/146/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/146/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/146/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/146/index.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/crypto-icons/src/svg/S.svg
Labels: desktop, mobile, common, ui, ledgerjs, cli

#9422 [QAA] fix ADA delegation - LLM & LLD
  .changeset/stale-lions-occur.md
  apps/ledger-live-desktop/tests/page/modal/delegate.modal.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-mobile/e2e/page/trade/stake.page.ts
  apps/ledger-live-mobile/e2e/specs/speculos/delegate/delegate.ts
  apps/ledger-live-mobile/e2e/specs/speculos/delegate/delegateADA.spec.ts
  apps/ledger-live-mobile/src/families/cardano/shared/PoolRow.tsx
  apps/ledger-live-mobile/src/families/cardano/shared/SearchBox.tsx
Labels: desktop, mobile

#9428 ci: update github app login, to real value this time
  tools/github-bot/src/features/autoClose/index.ts
Labels: tools

#9413 :wrench: (llm) minify bundle to remove .log
  .changeset/fair-goats-train.md
  apps/ledger-live-mobile/metro.config.js
  apps/ledger-live-mobile/package.json
Labels: mobile

#9362 fix: aptos derivation path account metadata
  .changeset/gentle-icons-shave.md
  libs/coin-framework/src/derivation.ts
  libs/coin-modules/coin-aptos/src/test/bridgeDatasetTest.ts
  libs/ledger-live-common/src/DataModel.test.ts
  libs/ledger-live-common/src/DataModel.ts
  libs/ledger-live-common/src/families/aptos/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/aptos/consts.ts
  libs/ledgerjs/packages/hw-app-aptos/README.md
  libs/ledgerjs/packages/hw-app-aptos/src/Aptos.ts
  libs/ledgerjs/packages/hw-app-aptos/src/bip32.ts
  libs/ledgerjs/packages/hw-app-aptos/tests/bip32.test.ts
  libs/ledgerjs/packages/types-live/src/derivation.ts
Labels: common, ledgerjs

#9429 bugfix: Status OK centered in Status Center
  .changeset/fresh-panthers-call.md
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/ServiceStatusPanel.tsx
Labels: desktop

#9430 [QAA][Detox][Speculos] Fix addAccount tests failure
  apps/ledger-live-mobile/e2e/specs/speculos/networkBasedAccount/networkBasedAddAccount.ts
  apps/ledger-live-mobile/e2e/specs/speculos/networkBasedAccount/networkBasedAddAccountADA.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/networkBasedAccount/networkBasedAddAccountALGO.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/networkBasedAccount/networkBasedAddAccountATOM.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/networkBasedAccount/networkBasedAddAccountBCH.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/networkBasedAccount/networkBasedAddAccountBTC.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/networkBasedAccount/networkBasedAddAccountDOT.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/networkBasedAccount/networkBasedAddAccountETC.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/networkBasedAccount/networkBasedAddAccountETH.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/networkBasedAccount/networkBasedAddAccountSOL.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/networkBasedAccount/networkBasedAddAccountTON.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/networkBasedAccount/networkBasedAddAccountTRX.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/networkBasedAccount/networkBasedAddAccountXLM.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/networkBasedAccount/networkBasedAddAccountXRP.spec.ts
  apps/ledger-live-mobile/e2e/specs/speculos/networkBasedAccount/networkBasedAddAccountXTZ.spec.ts
  apps/ledger-live-mobile/src/screens/WalletCentricSections/OperationsHistory/index.tsx
Labels: mobile

#9425 🐛 LLD - Recover Close Button Hitbox Fixed
  .changeset/four-lizards-obey.md
  apps/ledger-live-desktop/src/renderer/components/WebRecoverPlayer/index.tsx
Labels: desktop

#9427 fix(LIVE-17353): fix misaligned network error
  .changeset/cyan-ears-boil.md
  apps/ledger-live-mobile/src/components/Web3AppWebview/NetworkError.tsx
Labels: mobile

#9257 doc (coin-evm): fix misleading doc on SVG naming convention
  .changeset/sharp-llamas-begin.md
  libs/coin-modules/coin-evm/docs/evm-family-integration-process/README.md
Labels: documentation

#9347 feat(live-dmk): add LedgerLiveLogger
  .changeset/mighty-poems-tell.md
  apps/ledger-live-desktop/src/helpers/saveLogs.test.ts
  apps/ledger-live-desktop/src/helpers/saveLogs.ts
  apps/ledger-live-desktop/src/newArch/hooks/useExportLogs.ts
  apps/ledger-live-desktop/src/renderer/components/ExportLogsButton.tsx
  apps/ledger-live-desktop/src/renderer/components/debug/DebugMock.tsx
  libs/live-dmk/package.json
  libs/live-dmk/src/hooks/useDeviceManagementKit.tsx
  libs/live-dmk/src/services/LedgerLiveLogger.test.ts
  libs/live-dmk/src/services/LedgerLiveLogger.ts
  libs/live-dmk/src/transport/DeviceManagementKitTransport.ts
  libs/live-dmk/vitest.config.ts
  pnpm-lock.yaml
Labels: desktop

#9434 [QAA][Detox] Update detox to 20.34.4
  apps/ledger-live-mobile/package.json
  package.json
  patches/detox.patch
  pnpm-lock.yaml
Labels: mobile

#9395 fix(LIVE-17141): account swap deeplinking
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/WebView.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/hooks/useSwapLiveAppTranslateUrlParams.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/index.tsx
Labels: mobile

#9410 fix(live-17350): redirect to history on success and show swap list
  .changeset/late-papayas-march.md
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SwapFormNavigator.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/getFee.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/index.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/saveSwapToHistory.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/swapRedirectToHistory.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/hooks/useSwapLiveAppCustomHandlers.ts
  libs/ledger-live-common/src/exchange/swap/getCompleteSwapHistory.ts
Labels: mobile, common

#9404 [LLM][Android][LIVE-13318] Fix location permissions & location service issue
  .changeset/good-trains-hope.md
  CODEOWNERS
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/app/src/main/AndroidManifest.xml
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/LocationHelperModule.kt
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/NativeModulesPackage.kt
  apps/ledger-live-mobile/src/components/RequiresBLE/hooks/useRequireBluetooth.ts
  apps/ledger-live-mobile/src/components/RequiresBLE/index.tsx
  apps/ledger-live-mobile/src/components/RequiresLocation/AndroidRequiresLocationEnabled.tsx
  apps/ledger-live-mobile/src/components/RequiresLocation/AndroidRequiresLocationPermission.tsx
  apps/ledger-live-mobile/src/components/RequiresLocation/hooks/useAndroidEnableLocation.ts
  apps/ledger-live-mobile/src/components/RequiresLocation/hooks/useAndroidLocationPermission.ts
Labels: mobile

#9443 fix: use flatten accounts in transaction flow
  .changeset/tender-rabbits-visit.md
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/hooks/useSwapLiveAppCustomHandlers.ts
Labels: mobile

#9444 Feat/incomp banner lns
  .changeset/popular-brooms-argue.md
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/exchange/swap/getIncompatibleCurrencyKeys.ts
Labels: desktop, mobile, common, translations

#9408 Feat/live 17029 update cal for apt tokens
  .changeset/bright-needles-poke.md
  libs/ledgerjs/packages/cryptoassets/src/__snapshots__/currencies.test.ts.snap
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/apt/aptos.test.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/importers/apt/index.ts
  libs/ledgerjs/packages/cryptoassets/src/crypto-assets-importer/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/apt_coin-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/apt_coin.json
  libs/ledgerjs/packages/cryptoassets/src/data/apt_coin.ts
  libs/ledgerjs/packages/cryptoassets/src/data/apt_fungible_asset-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/apt_fungible_asset.json
  libs/ledgerjs/packages/cryptoassets/src/data/apt_fungible_asset.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
Labels: ledgerjs

#9315 Add some unit test in LLC `hw`
  libs/ledger-live-common/src/hw/getAppAndVersion.test.ts
  libs/ledger-live-common/src/hw/listApps.test.ts
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.ts
Labels: common, ledgerjs

#9406 fix(LIVE-17421): remove llm fee drawer for bitcoin
  .changeset/sharp-geese-exist.md
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/getFee.ts
Labels: mobile

#9415 Re-implement verified commits in all remaining parts of the release workflows
  .github/workflows/release-create-hotfix.yml
  .github/workflows/release-create.yml
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release-prerelease.yml
Labels: automation

#9432 fix: remove sortbymarketcap snapshot update in release workflow
  .github/workflows/release-create.yml
Labels: automation

#9426 chore(ldmk-in-llm): add feature flag
  apps/ledger-live-mobile/e2e/page/index.ts
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairingContent/BleDevicePeerRemoved.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicesScanning.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/DmkBleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/DmkBleDevicesScanning.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/hooks/useEnableBluetooth.ts
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/react-native-hw-transport-ble/index.ts
  apps/ledger-live-mobile/src/screens/PairDevices/Scanning.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/index.tsx
  apps/ledger-live-mobile/src/screens/Settings/Experimental/LDMKTransportHeader.tsx
  apps/ledger-live-mobile/src/services/registerTransports.ts
  libs/ledger-live-common/src/ble/hooks/useBleDevicesScanning.ts
  libs/live-dmk-desktop/package.json
  libs/live-dmk-desktop/vitest.config.ts
  libs/live-dmk-mobile/package.json
  libs/live-dmk-mobile/src/hooks/useBleDevicesScanning.ts
  libs/live-dmk-mobile/src/transport/DeviceManagementKitTransport.ts
  libs/live-dmk-mobile/vitest.config.ts
  libs/live-dmk-shared/package.json
  libs/live-dmk-shared/src/hooks/useDeviceSessionRefresherToggle.test.tsx
  pnpm-lock.yaml
Labels: mobile, common, translations

#9459 fix: Fix Overflow in Settings for LedgerSync Entry point
  .changeset/tame-fans-perform.md
  apps/ledger-live-desktop/src/newArch/features/LedgerSyncEntryPoints/components/SettingsEntryPoint/index.tsx
Labels: desktop

#9328 feat(lld): ✨ render LNS upsell banners
  .changeset/swift-paws-call.md
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/__tests__/LNSNotificationBanner.test.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/__tests__/LNSUpsellBanner.test.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/components/LNSBannerCard/index.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/components/LNSNotificationBanner/index.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/components/LNSUpsellBanner/index.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/hooks/useLNSUpsellBannerModel.ts
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/hooks/useLNSUpsellBannerState.ts
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/index.ts
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/types/index.ts
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/AnnouncementPanel.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/AccountList/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/accounts/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/lnsUpsell.ts
  libs/ui/packages/react/src/components/asorted/Icon/NotificationIcon.stories.tsx
  libs/ui/packages/react/src/components/asorted/Icon/NotificationIcon.tsx
  libs/ui/packages/react/src/components/asorted/Icon/index.tsx
  libs/ui/packages/react/src/components/asorted/index.ts
  libs/ui/packages/react/src/components/layout/Banner/BannerCard/BannerCard.stories.tsx
  libs/ui/packages/react/src/components/layout/Banner/BannerCard/index.tsx
  libs/ui/packages/react/src/components/layout/Banner/NotificationCard/NotificationCard.stories.tsx
  libs/ui/packages/react/src/components/layout/Banner/NotificationCard/index.tsx
  libs/ui/packages/react/src/components/layout/ContentCard/PortfolioContentCard/index.tsx
Labels: desktop, common, ui, ledgerjs, translations

#9412 feat: add abstain vote delegation by default
  .changeset/tasty-readers-divide.md
  apps/ledger-live-mobile/src/families/cardano/Delegations/Row.tsx
  apps/ledger-live-mobile/src/families/cardano/Delegations/index.tsx
  libs/coin-modules/coin-cardano/.unimportedrc.json
  libs/coin-modules/coin-cardano/package.json
  libs/coin-modules/coin-cardano/src/api/api-types.ts
  libs/coin-modules/coin-cardano/src/api/getDelegationInfo.ts
  libs/coin-modules/coin-cardano/src/buildOptimisticOperation.ts
  libs/coin-modules/coin-cardano/src/buildTransaction.test.ts
  libs/coin-modules/coin-cardano/src/buildTransaction.ts
  libs/coin-modules/coin-cardano/src/fixtures/accounts.ts
  libs/coin-modules/coin-cardano/src/fixtures/protocolParams.ts
  libs/coin-modules/coin-cardano/src/serialization.ts
  libs/coin-modules/coin-cardano/src/signer.ts
  libs/coin-modules/coin-cardano/src/synchronisation.unit.test.ts
  libs/coin-modules/coin-cardano/src/types.ts
  libs/coin-modules/coin-cardano/src/typhonSerializer.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/cardano/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/cardano/signerSerializer.ts
  libs/ledger-live-common/src/mock/account.ts
  pnpm-lock.yaml
Labels: mobile, common

#9317 Feat/live 15073 llm trackings
  .changeset/real-weeks-do.md
  apps/ledger-live-mobile/src/analytics/hooks/useTrackAddAccountFlow.test.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackAddAccountFlow.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackLedgerSyncFlow.test.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackLedgerSyncFlow.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackMyLedgerEvents.test.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackMyLedgerEvents.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackOnboardingFlow.test.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackOnboardingFlow.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackReceiveFlow.test.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackReceiveFlow.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackSendFlow.test.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackSendFlow.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackSwapFlow.test.ts
  apps/ledger-live-mobile/src/analytics/hooks/useTrackSwapFlow.ts
  apps/ledger-live-mobile/src/analytics/hooks/variables.ts
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/index.tsx
  apps/ledger-live-mobile/src/components/CustomImage/CustomImageBottomModal.tsx
  apps/ledger-live-mobile/src/components/CustomLockScreenDeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceActionModal.tsx
  apps/ledger-live-mobile/src/components/PostOnboarding/PostOnboardingActionRow.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/CustomImageNavigator.ts
  apps/ledger-live-mobile/src/logic/postOnboarding/actions.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/DeviceSelection/index.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/02-SelectDevice.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/03-Accounts.tsx
  apps/ledger-live-mobile/src/screens/ConnectDevice.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/PreviewPreEdit.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step0Welcome.tsx
  apps/ledger-live-mobile/src/screens/CustomImage/Step3Transfer.tsx
  apps/ledger-live-mobile/src/screens/EditDeviceName.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerChooseDevice/index.tsx
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/Device/CustomLockScreen.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/ConnectDevice.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-AddAccountSelectDevice.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03a-ConnectDevice.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03b-VerifyAddress.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Connect.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/Confirmation.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SyncOnboardingCompanion.tsx
  libs/ledgerjs/packages/types-live/src/postOnboarding.ts
Labels: mobile, ledgerjs

#9476 feat: add analytics on discreet mode
  .changeset/big-rats-smoke.md
  apps/ledger-live-desktop/src/renderer/components/TopBar/index.tsx
Labels: desktop

#9479 ci: temporarily log out PR event attributes for smartling PRs
  .github/workflows/temp-log-pr-event.yml
Labels: automation

#9477 🐛 LLM - Thai UI issues
  .changeset/thin-bulldogs-press.md
  apps/ledger-live-mobile/src/locales/th/common.json
  libs/ui/packages/native/src/components/Form/Input/AnimatedInput/AnimatedNotchedLabel.tsx
  libs/ui/packages/native/src/components/Tabs/Graph/index.tsx
  libs/ui/packages/native/src/components/Text/getTextStyle.ts
Labels: mobile, ui, translations

#9473 [QAA] [SWAP] Point to PRD for non reg tests
  .github/workflows/test-ui-e2e-only-desktop.yml
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  tools/actions/composites/setup-e2e-swap/action.yml
Labels: desktop, tools, automation

#9453 feat(lld): ☝️ LNS upsell follow up
  .changeset/popular-apes-look.md
  .changeset/tidy-clouds-lay.md
  apps/ledger-live-desktop/src/newArch/features/DynamicContent/components/LogContentCardWrapper.tsx
  apps/ledger-live-desktop/src/newArch/features/DynamicContent/utils/constants/index.ts
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/__tests__/LNSUpsellBanner.test.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/components/LNSUpsellBanner/index.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/components/LNSUpsellBanner/useLNSUpsellBannerModel.ts
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/components/LNSUpsellBanner/useViewNotification.ts
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/hooks/useLNSUpsellBannerState.ts
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/types/index.ts
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/InformationDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/TopBar/NotificationIndicator/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useBraze.ts
  apps/ledger-live-desktop/src/renderer/hooks/useUnseenNotificationsCount.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
Labels: desktop

#9474 fix(LIVE-17499) Swap connect device too small
  .changeset/great-mayflies-return.md
  apps/ledger-live-mobile/src/screens/Platform/exchange/StartExchange.tsx
Labels: mobile

#9486 Reverse the order displayed on market asset page
  .changeset/olive-bears-burn.md
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketDetail/components/MarketGraph/index.tsx
Labels: mobile

#9495 feat: lifi ERC20
  .changeset/nine-bikes-crash.md
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
Labels: common

#9471 fix(LIVE-17562): android crash for unavailable swap
  .changeset/cyan-cherries-wave.md
  apps/ledger-live-mobile/src/components/Web3AppWebview/NetworkError.tsx
  apps/ledger-live-mobile/src/components/Web3AppWebview/WalletAPIWebview.tsx
Labels: mobile

#9310 fix: bump ledger filecoin lib
  .changeset/sour-masks-promise.md
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: common, Stale

#9492 feat(lld): 🖌️ address LNS upsell design changes
  .changeset/lucky-lemons-fly.md
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/components/LNSUpsellBanner/index.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/components/LNSUpsellBanner/useLNSUpsellBannerModel.ts
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/components/LNSUpsellBanner/useViewNotification.ts
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/types/index.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/lnsUpsell.ts
  libs/ui/packages/react/src/components/layout/Banner/NotificationCard/index.tsx
Labels: desktop, common, ui, ledgerjs, translations

#9499 feat: Update NoSuchAppOnProviderError Analytics for LedgerSync
  .changeset/soft-bulldogs-smoke.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/NoSuchAppOnProviderErrorComponent.tsx
Labels: desktop

#9414 chore(ldmk-integration): blocking ldmk instance if ff is disabled
  apps/ledger-live-desktop/src/renderer/hooks/useListenToHidDevices.ts
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/BleDevicePairingContent/BleDevicePeerRemoved.tsx
  apps/ledger-live-mobile/src/components/BleDevicePairingFlow/DmkBleDevicesScanning.tsx
  apps/ledger-live-mobile/src/components/SelectDevice2/index.tsx
  libs/live-dmk-desktop/package.json
  libs/live-dmk-desktop/src/hooks/useDeviceManagementKit.tsx
  libs/live-dmk-desktop/src/transport/DeviceManagementKitTransport.ts
  libs/live-dmk-desktop/vitest.config.ts
  libs/live-dmk-mobile/package.json
  libs/live-dmk-mobile/src/hooks/useBleDevicePairing.ts
  libs/live-dmk-mobile/src/hooks/useBleDevicesScanning.ts
  libs/live-dmk-mobile/src/hooks/useDeviceManagementKit.tsx
  libs/live-dmk-mobile/src/transport/DeviceManagementKitTransport.ts
  libs/live-dmk-mobile/vitest.config.ts
  libs/live-dmk-shared/src/hooks/index.ts
  libs/live-dmk-shared/src/hooks/useDeviceSessionRefresherToggle.test.tsx
  libs/live-dmk-shared/src/hooks/useDeviceSessionState.test.tsx
  libs/live-dmk-shared/src/hooks/useDeviceSessionState.tsx
  libs/live-dmk-shared/src/hooks/useDisableDeviceSessionRefresher.test.tsx
  libs/live-dmk-shared/src/hooks/useDisableDeviceSessionRefresher.tsx
  libs/live-dmk-shared/vitest.config.ts
  pnpm-lock.yaml
Labels: desktop, mobile

#9498 :package: (llm) Update sentry to latest version
  .changeset/forty-years-exercise.md
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Labels: mobile

#9457 Feat/error drawer swap
  .changeset/hot-penguins-swim.md
  apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/CustomHandlers.ts
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/WebviewErrorDrawer/index.tsx
Labels: desktop

#9245 support: add Fluence FLT token icon
  .changeset/rare-days-hunt.md
  libs/ui/packages/crypto-icons/src/svg/FLT.svg
Labels: ui, fork

#9494 ⬆️ (dmk) [LIVE-17583]: Update dependencies
  .changeset/lazy-dolphins-invent.md
  .changeset/twelve-guests-provide.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/index.tsx
  libs/ledger-live-common/package.json
  libs/live-dmk/package.json
  libs/live-dmk/src/hooks/index.ts
  libs/live-dmk/src/hooks/useDeviceSessionRefresherToggle.test.tsx
  libs/live-dmk/src/hooks/useDeviceSessionRefresherToggle.tsx
  libs/live-dmk/src/transport/DeviceManagementKitTransport.test.ts
  libs/live-dmk/src/transport/DeviceManagementKitTransport.ts
  libs/live-signer-evm/package.json
  pnpm-lock.yaml
Labels: desktop, common

#9506 🐛 LLM - fix Thai small UI issues
  .changeset/old-rats-care.md
  libs/ui/packages/native/src/components/Text/getTextStyle.ts
Labels: ui

#9505 feat(llm): 📦️ add the banner component to use for the LNS upsell campaign
  .changeset/funny-birds-hang.md
  libs/ui/packages/native/src/components/Cards/NewBannerCard/index.tsx
  libs/ui/packages/native/src/components/Cards/index.ts
  libs/ui/packages/native/src/components/Icon/BannerIcon.tsx
  libs/ui/packages/native/src/components/Icon/index.ts
  libs/ui/packages/native/storybook/stories/Cards/NewBannerCard.stories.tsx
  libs/ui/packages/native/storybook/stories/Icon/BannerIcon.stories.tsx
Labels: ui

#9521 ✏️ LLD - Add trademark to devices names
  .changeset/smooth-bears-retire.md
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#9526 fix(wallet-api): signMessage modal continue button not visible with light theme [LIVE-17617]
  .changeset/stupid-fans-push.md
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/steps/StepSummary.tsx
Labels: desktop

#9520 chore: fix dev deep-link not working in some cases
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/main/index.ts
  pnpm-lock.yaml
Labels: desktop

#9507 fix: Text layout issue in SOL staking flow
  .changeset/brown-papayas-rule.md
  apps/ledger-live-mobile/src/families/solana/DelegationFlow/SelectAmount.tsx
Labels: mobile

#9478 :adhesive_bandage: (llm) rework netinfo usage
  .changeset/late-singers-draw.md
  apps/ledger-live-mobile/src/actions/appstate.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/CounterValuesProvider.tsx
  apps/ledger-live-mobile/src/components/HeaderErrorTitle.tsx
  apps/ledger-live-mobile/src/components/useAppStateListener.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/reducers/appstate.ts
  apps/ledger-live-mobile/src/screens/Account/ErrorWarning/components/ErrorBanner.tsx
  apps/ledger-live-mobile/src/screens/Account/ErrorWarning/index.tsx
  apps/ledger-live-mobile/src/screens/Account/Header.tsx
  apps/ledger-live-mobile/src/screens/Account/ListHeaderComponent.tsx
Labels: mobile

#9500 fix(LIVE-17394): support base64url decode on React Native
  .changeset/clean-experts-melt.md
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
Labels: common

#9514 bugfix: badge display on Crypto Icon when Account has tokens in AddAccountFlow
  .changeset/two-crabs-try.md
  apps/ledger-live-desktop/src/renderer/components/AccountsList/AccountRow.tsx
  apps/ledger-live-desktop/src/renderer/components/CryptoCurrencyIconWithCount.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-accounts-list-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-accounts-list-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-accounts-list-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-accounts-list-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-accounts-list-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-accounts-list-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-accounts-list-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-accounts-list-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-accounts-list-linux.png
Labels: desktop, translations, screenshots

#9493 fix(LIVE-17395): SWAP LLM show correct screens during sign transaction flow
  .changeset/famous-toys-behave.md
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/WebPTXPlayer/CustomHandlers.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Swap/History/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/index.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/saveSwapToHistory.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/customHandlers/swapRedirectToHistory.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/hooks/useSyncAllAccounts.ts
  apps/ledger-live-mobile/src/screens/Swap/SubScreens/PendingOperation.tsx
  apps/ledger-live-mobile/src/screens/Swap/types.ts
Labels: mobile, translations

#9523 FEAT: AVAX entrypoints, fixes on CRO and POL
  .changeset/shaggy-kids-carry.md
  apps/ledger-live-desktop/src/renderer/families/cosmos/Delegation/Row.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/Delegation/index.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/AccountHeaderManageActions.ts
  apps/ledger-live-mobile/src/components/Stake/useStakingDrawer.tsx
  apps/ledger-live-mobile/src/families/cosmos/Delegations/index.tsx
  apps/ledger-live-mobile/src/families/evm/accountActions.tsx
Labels: desktop, mobile

#9527 feat(LIVE-17141): Swap deeplink: take currency and lack of accounts in consideration
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/WebView.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/hooks/useSwapLiveAppTranslateUrlParams.spec.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/hooks/useSwapLiveAppTranslateUrlParams.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/hooks/useTranslateToSwapAccount.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/index.tsx
Labels: mobile

#9537 fix: wallet-api transition animation between live-apps [LIVE-17717]
  .changeset/weak-frogs-taste.md
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/index.tsx
Labels: desktop

#9529 [QAA][Speculos][Ledger Sync] Clean up trustchain after tests
  .github/workflows/test-ui-e2e-only-desktop.yml
  apps/cli/src/commands/live/ledgerSync.ts
  apps/ledger-live-desktop/tests/specs/speculos/ledgerSync.spec.ts
  apps/ledger-live-desktop/tests/userdata/ledgerSync.json
  apps/ledger-live-desktop/tests/utils/ledgerSyncCliUtils.ts
  apps/ledger-live-mobile/e2e/specs/speculos/ledgerSync/ledgerSync.spec.ts
  tools/actions/composites/setup-e2e-broadcast/action.yml
  tools/actions/composites/setup-e2e-env/action.yml
  tools/actions/composites/setup-e2e-swap/action.yml
Labels: desktop, mobile, tools, automation, cli

#9488 feat: send aptos tokens
  libs/coin-framework/src/operation.ts
  libs/coin-modules/coin-algorand/src/bridge.integration.test.ts
  libs/coin-modules/coin-aptos/package.json
  libs/coin-modules/coin-aptos/src/__tests__/bridge/buildTransaction.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/getFeesForTransaction.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/getTransactionStatus.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/logic.test.ts
  libs/coin-modules/coin-aptos/src/api/index.ts
  libs/coin-modules/coin-aptos/src/bridge/bridge.fixture.ts
  libs/coin-modules/coin-aptos/src/bridge/buildTransaction.ts
  libs/coin-modules/coin-aptos/src/bridge/estimateMaxSpendable.ts
  libs/coin-modules/coin-aptos/src/bridge/getFeesForTransaction.ts
  libs/coin-modules/coin-aptos/src/bridge/getTransactionStatus.ts
  libs/coin-modules/coin-aptos/src/bridge/logic.ts
  libs/coin-modules/coin-aptos/src/bridge/prepareTransaction.ts
  libs/coin-modules/coin-aptos/src/bridge/synchronisation.ts
  libs/coin-modules/coin-aptos/src/constants.ts
  libs/coin-modules/coin-aptos/src/test/bot-specs.ts
  libs/coin-modules/coin-aptos/src/test/bridgeDatasetTest.ts
  libs/coin-modules/coin-aptos/src/test/speculos-deviceActions.ts
  libs/coin-modules/coin-stellar/src/test/bridgeDatasetTest.ts
  libs/coin-modules/coin-tron/src/test/bridgeDatasetTest.ts
  libs/ledger-live-common/src/__tests__/test-helpers/bridge.ts
  libs/ledger-live-common/src/families/aptos/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/datasets/__snapshots__/cosmos.integration.test.ts.snap
  libs/ledger-live-common/src/families/stellar/__snapshots__/bridge.integration.test.ts.snap
  pnpm-lock.yaml
Labels: common

#9540 [QAA][LLM][Speculos] Fix composite to set broadcast
  .github/workflows/test-mobile-e2e-reusable.yml
Labels: automation

#9547 :lipstick: (lld) drawer animation nft gallery
  .changeset/nine-tables-smile.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Nfts/components/DetailDrawer/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Nfts/components/TokensList/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Nfts/components/TokensList/useTokensListModel.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/DetailDrawer/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/TokensList.ts
Labels: desktop

#9528 🐛 LLM - Fix Thai UI issue in Onboarding
  .changeset/lucky-planets-yawn.md
  apps/ledger-live-mobile/src/screens/Onboarding/steps/discoverLiveInfo.tsx
Labels: mobile

#9534 chore: ⚛️ integrate Reactoron as LLM devtool
  apps/ledger-live-mobile/README.md
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/ReactotronConfig.ts
  apps/ledger-live-mobile/src/context/store.ts
  apps/ledger-live-mobile/src/index.tsx
  pnpm-lock.yaml
Labels: mobile

#9545 chore(update-lifi-signature): update lifi signature from cdn
  .changeset/selfish-walls-grab.md
  libs/ledger-live-common/src/exchange/providers/swap.integration.test.ts
  libs/ledger-live-common/src/exchange/providers/swap.ts
Labels: common

#9549 feat: add lldSolanaNfts feature flag for live scope
  .changeset/kind-ligers-stare.md
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#9480 fix: handle 5XX errors and other retriable errors with ky [LIVE-17003]
  .changeset/odd-yaks-jump.md
  apps/ledger-live-desktop/jest.config.js
  apps/ledger-live-mobile/e2e/jest.config.js
  apps/ledger-live-mobile/jest.config.js
  libs/coin-modules/coin-solana/jest.config.js
  libs/coin-modules/coin-solana/package.json
  libs/coin-modules/coin-solana/src/api/chain/index.ts
  libs/ledger-live-common/jest.config.ts
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Labels: desktop, mobile, common

#9553 chore: project.pbxproj formatting sync - xcode 16.2
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
Labels: mobile

#9557 ⬆️ (dmk): bump dmk and signer eth to latest version
  libs/ledger-live-common/package.json
  libs/live-dmk/package.json
  libs/live-signer-evm/package.json
  pnpm-lock.yaml
Labels: common

#9543 bugfix: wrong key for localization in postOnboarding
  .changeset/breezy-mails-wait.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/PostOnboarding/PostOnboardingHub.tsx
Labels: mobile, translations

#9550 fix: near staking display
  .changeset/fluffy-jokes-look.md
  apps/ledger-live-mobile/src/families/near/shared/02-SelectAmount.tsx
Labels: mobile

#9564 :bug: bugfix(llm): fix thai small text line height
  .changeset/thick-ducks-pull.md
  apps/ledger-live-mobile/src/screens/Onboarding/steps/Cards/SelectionCard.tsx
Labels: mobile

#9533 feat(llm): 🚩 add the LNSUpsellBanner on LLM
  .changeset/tidy-crabs-grow.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/LNSUpsell/components/LNSUpsellBanner/LNSUpsellBanner.test.tsx
  apps/ledger-live-mobile/src/newArch/features/LNSUpsell/components/LNSUpsellBanner/index.tsx
  apps/ledger-live-mobile/src/newArch/features/LNSUpsell/components/LNSUpsellBanner/types.ts
  apps/ledger-live-mobile/src/newArch/features/LNSUpsell/components/LNSUpsellBanner/useLNSUpsellBannerModel.ts
  apps/ledger-live-mobile/src/newArch/features/LNSUpsell/hooks/useLNSUpsellBannerState.ts
  apps/ledger-live-mobile/src/newArch/features/LNSUpsell/index.ts
  apps/ledger-live-mobile/src/newArch/features/LNSUpsell/types.ts
  apps/ledger-live-mobile/src/screens/MyLedgerDevice/AppsScreen.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/Notifications.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/types.ts
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ledgerjs/packages/types-live/src/lnsUpsell.ts
  libs/ui/packages/native/src/components/Cards/NewBannerCard/index.tsx
Labels: mobile, common, ui, ledgerjs, translations

#9560 feat(llm): display fee strategy estimated time
  .changeset/poor-mice-dress.md
  apps/ledger-live-mobile/src/families/evm/SelectFeesStrategy.test.tsx
  apps/ledger-live-mobile/src/families/evm/SelectFeesStrategy.tsx
Labels: mobile

#9568 ci: remove temporary debug workflow
  .github/workflows/temp-log-pr-event.yml
Labels: automation

#9566 :bug: (llm) network banner animation receive flow
  .changeset/sharp-snails-fetch.md
  apps/ledger-live-mobile/src/screens/ReceiveFunds/02-SelectNetwork.tsx
Labels: mobile

#9577 chore: cleanup unused workflows
  .github/workflows/build-desktop.yml
  .github/workflows/build-mobile.yml
  .github/workflows/test-design-system.yml
  .github/workflows/test-desktop.yml
  .github/workflows/test-libs.yml
  .github/workflows/test-mobile-e2e.yml
  .github/workflows/test-mobile.yml
Labels: automation

#9565 fix(live-17758): swap sign flow navigation
  .changeset/eighty-dots-enjoy.md
  apps/ledger-live-mobile/src/components/WebPTXPlayer/CustomHandlers.ts
Labels: mobile

#9579 fix: 🎯 target LNS opt out users with many swaps with the upsell campaign
  .changeset/slimy-elephants-itch.md
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/__tests__/LNSUpsellBanner.test.tsx
  apps/ledger-live-desktop/src/newArch/features/LNSUpsell/hooks/useLNSUpsellBannerState.ts
  apps/ledger-live-mobile/src/newArch/features/LNSUpsell/components/LNSUpsellBanner/LNSUpsellBanner.test.tsx
  apps/ledger-live-mobile/src/newArch/features/LNSUpsell/hooks/useLNSUpsellBannerState.ts
Labels: desktop, mobile

#9436 chore(live-common): remove timeout on CLS to stop erroring after load
  .changeset/clean-hats-camp.md
  libs/ledger-live-common/src/hw/customLockScreenLoad.ts
Labels: common

#9589 bugfix: wrong interval parameter for Coingecko usage
  .changeset/giant-bugs-beg.md
  libs/ledger-live-common/src/market/utils/rangeDataTable.ts
Labels: common

#9598 [QAA] Adding minimum amount test - swap
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
Labels: desktop

#9573 [QAA] Adding swap e2e test - landing page
  apps/ledger-live-desktop/tests/page/settings.page.ts
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  libs/ledger-live-common/src/e2e/enum/Swap.ts
Labels: desktop, common

#9601 feat(LIVE-17141): Swap deeplink
  .changeset/hungry-bugs-hear.md
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/WebView.tsx
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/hooks/useTranslateToSwapAccount.ts
  apps/ledger-live-mobile/src/screens/Swap/LiveApp/index.tsx
Labels: mobile

#9596 Bugfix: Standardize Timeframe Display on Portfolio & Market Page Charts -LLM
  .changeset/pretty-lies-itch.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketDetail/components/MarketGraph/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/screens/MarketList/components/BottomSection/index.tsx
  libs/ledger-live-common/src/market/utils/rangeDataTable.ts
Labels: mobile, common, translations

#9606 feat: Solana NFTs FeatureFlag
  .changeset/tough-feet-eat.md
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#9567 LIVE-17649: Fix dapp opening from staking modal(drawer in LLM)
  .changeset/heavy-stingrays-ring.md
  apps/ledger-live-desktop/src/renderer/families/evm/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/EthStakingModalBody.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/index.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal_deprecated/EthStakingModalBody.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal_deprecated/index.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/modals.ts
  apps/ledger-live-desktop/src/renderer/modals/Receive/steps/StepReceiveFunds.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/EvmStakingDrawerBody.tsx
  apps/ledger-live-mobile/src/families/evm/accountActions.tsx
Labels: desktop, mobile

#9607 feat: hide receive cta for Nft Solana
  .changeset/lazy-readers-breathe.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Nfts/Collections/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/mockedAccount.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/shared.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/solNftsCollection.test.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/Collection/EmptyCollection.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/Collection/TableHeader.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/Collection.ts
Labels: desktop

#9612 fix: sui unimported
  libs/coin-modules/coin-sui/.unimportedrc.json
  libs/coin-modules/coin-sui/package.json
  libs/ledger-live-common/src/families/sui/logic.ts
  libs/ledger-live-common/src/families/sui/types.ts
  pnpm-lock.yaml
Labels: common, fork

#9613 chore: update coin-framework currencies snapshots
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
Labels: fork

#9608 feat: Display Collections for Solana in Account Page under FF 🔧
  .changeset/chilly-cups-perform.md
  apps/ledger-live-mobile/src/screens/Account/ListHeaderComponent.tsx
  apps/ledger-live-mobile/src/screens/Account/__tests__/nftHelper.test.ts
  apps/ledger-live-mobile/src/screens/Account/index.tsx
  apps/ledger-live-mobile/src/screens/Account/nftHelper.ts
Labels: mobile

#9616 :bug: (llm) close nfts drawer on send
  .changeset/late-knives-raise.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Nfts/components/DetailDrawer/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Nfts/components/TokensList/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/mocks/mockedAccount.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/mocks/mockedBTCAccount.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/mocks/mockedRareSats.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/mocks/mockedTx.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/mocks/mockedTxStatus.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/nftsCollection.test.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/shared.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/solNftsCollection.test.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useNftDetailDrawer.tsx
Labels: desktop

#9539 fix: fix Page ModalStep-finished type
  apps/ledger-live-desktop/src/renderer/modals/Platform/Exchange/CompleteExchange/TransactionBroadcastedContent.tsx
Labels: desktop

#9621 Feat: Remove stake banner for cosmos family and evm
  .changeset/small-beans-judge.md
  apps/ledger-live-desktop/src/renderer/families/cosmos/StakeBanner.tsx
  apps/ledger-live-desktop/src/renderer/families/cosmos/index.ts
  apps/ledger-live-desktop/src/renderer/families/evm/StakeBanner.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/index.ts
Labels: desktop

#9618 fix: sui integration tests
  libs/coin-modules/coin-sui/src/bridge/bridge.integration.test.ts
  libs/ledger-live-common/src/families/sui/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/sui/setup.ts
Labels: common, fork

#9546 Feat/live 16800: largeMode animatedInput for recipient address
  .changeset/plenty-scissors-sell.md
  apps/ledger-live-mobile/src/components/RecipientInput.tsx
  libs/ui/packages/native/src/components/Form/Input/AnimatedInput/index.tsx
  libs/ui/packages/native/src/components/Form/Input/BaseInput/index.tsx
  libs/ui/packages/native/storybook/stories/Form/Input/AnimatedInput.stories.tsx
Labels: mobile, ui

#9617 CI: Upgrade ghcommit action
  .github/workflows/generate-screenshots.yml
  .github/workflows/release-create-hotfix.yml
  .github/workflows/release-create.yml
  .github/workflows/release-prepare-hotfix.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release-prerelease.yml
  tools/actions/composites/update-snapshots-desktop/action.yml
Labels: tools, automation

#9622 feat: Hide send button in NFT gallery Account for Solana
  .changeset/fast-balloons-type.md
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/index.tsx
Labels: mobile

#9604 chore: NFTs Tools - LLD
  .changeset/tough-ravens-thank.md
  apps/ledger-live-desktop/src/renderer/modals/NftsTools/Tabs/Config.tsx
  apps/ledger-live-desktop/src/renderer/modals/NftsTools/Tabs/GeneratorsAndDestructors.tsx
  apps/ledger-live-desktop/src/renderer/modals/NftsTools/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/NftsTools/types.ts
  apps/ledger-live-desktop/src/renderer/modals/index.ts
  apps/ledger-live-desktop/src/renderer/modals/types.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/EnableStagingNftMetadataServiceToggle.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/NftsTools/components/Badge.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/NftsTools/components/CodeBlock.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/NftsTools/components/Collapsible.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/NftsTools/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/NftsTools/screens/GeneratorsAndDestructors/DeleteAccounts.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/NftsTools/screens/GeneratorsAndDestructors/GenerateMockAccountsWithNfts.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/NftsTools/screens/GeneratorsAndDestructors/ResetHiddenCollections.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/NftsTools/screens/NMS/MetadataProvider.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/NftsTools/screens/SupportedChains/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/NftsTools/screens/SupportedChains/useSupportedChainsViewModel.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/coin-framework/src/mocks/fixtures/nfts.test.ts
  libs/coin-framework/src/mocks/fixtures/nfts.ts
  libs/coin-framework/src/mocks/fixtures/nftsSamples.ts
  libs/ledger-live-common/src/mock/account.ts
  libs/live-nft-react/src/hooks/__tests__/useNftFloorPrice.test.tsx
  libs/live-nft-react/src/tools/helperTests.tsx
Labels: desktop, common, translations

#9623 [QAA] Fixing NFT e2e test
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Nfts/Collections/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Nfts/components/DetailDrawer/Actions.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/Collection/TableRow/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/DetailDrawer/components/DetailField.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/DetailDrawer/components/Title.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/DetailDrawer/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/components/Gallery/TokenList/Item.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/Collection.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/DetailDrawer.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/utils/createNftDetailsArrays.ts
  apps/ledger-live-desktop/tests/component/drawer.component.ts
  apps/ledger-live-desktop/tests/page/drawer/nft.drawer.ts
Labels: desktop

#9624 fix: use currency name instead of the whole object for the analytics
  .changeset/loud-boats-tease.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/ScanDeviceAccounts/useScanDeviceAccountsViewModel.ts
Labels: mobile

#9627 Fix solana send btn in Collection
  apps/ledger-live-mobile/src/screens/Nft/NftGallery/index.tsx
Labels: mobile

#9482 feat(LIVE-17514): remove unused Swap feature flags
  .changeset/grumpy-cherries-know.md
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFilteredProviders.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#9570 feat(LIVE-16536): auto-generate earn entry-points and flows from remote config - LLM only
  .changeset/lovely-carpets-divide.md
  apps/ledger-live-mobile/__tests__/CustomLiveAppProvider.tsx
  apps/ledger-live-mobile/__tests__/test-renderer.tsx
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/components/NoFunds/NoFunds.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/types/BaseNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/NoFundsNavigator.ts
  apps/ledger-live-mobile/src/components/SelectDevice2/DeviceList.tsx
  apps/ledger-live-mobile/src/components/Stake/index.tsx
  apps/ledger-live-mobile/src/components/Stake/types.ts
  apps/ledger-live-mobile/src/components/Stake/useStakingDrawer.tsx
  apps/ledger-live-mobile/src/families/cosmos/Delegations/index.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/EvmStakingDrawerBody.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/index.tsx
  apps/ledger-live-mobile/src/families/evm/accountActions.tsx
  apps/ledger-live-mobile/src/families/polkadot/Nominations/index.tsx
  apps/ledger-live-mobile/src/families/tron/accountActions.tsx
  apps/ledger-live-mobile/src/hooks/useQuickActions.ts
  apps/ledger-live-mobile/src/newArch/features/AssetSelection/Navigator.tsx
  apps/ledger-live-mobile/src/newArch/hooks/useStake/useStake.test.ts
  apps/ledger-live-mobile/src/newArch/hooks/useStake/useStake.tsx
  apps/ledger-live-mobile/src/screens/Account/hooks/useAccountActions.tsx
  apps/ledger-live-mobile/src/screens/Account/hooks/useCanShowStake.ts
  apps/ledger-live-mobile/src/screens/Platform/LiveApp.tsx
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/platform/utils/deriveAccountIdForManifest.ts
  libs/ledger-live-common/src/wallet-api/useDappLogic.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs

#9639 Revert "Feat/live 16800: largeMode animatedInput for recipient address"
  .changeset/plenty-scissors-sell.md
  apps/ledger-live-mobile/src/components/RecipientInput.tsx
  libs/ui/packages/native/src/components/Form/Input/AnimatedInput/index.tsx
  libs/ui/packages/native/src/components/Form/Input/BaseInput/index.tsx
  libs/ui/packages/native/storybook/stories/Form/Input/AnimatedInput.stories.tsx
Labels: mobile, ui

#9633 fix(llm): 🔧 LNS upsell follow-up
  .changeset/grumpy-hornets-compare.md
  .changeset/sixty-carrots-decide.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/AccountsListView.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/useAccountsListViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AccountsList/index.tsx
  apps/ledger-live-mobile/src/newArch/features/LNSUpsell/components/LNSUpsellBanner/LNSUpsellBanner.test.tsx
  apps/ledger-live-mobile/src/newArch/features/LNSUpsell/hooks/useLNSUpsellBannerState.ts
  apps/ledger-live-mobile/src/screens/NotificationCenter/Notifications.tsx
  apps/ledger-live-mobile/src/screens/NotificationCenter/types.ts
Labels: mobile

#9644 feat: Update languages on the Appstore (Thai)
  .changeset/hip-monkeys-burn.md
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/ios/th.lproj/InfoPlist.strings
Labels: mobile

#9647 feat: Display Collection for Solana Account
  .changeset/dry-drinks-end.md
  apps/ledger-live-mobile/src/screens/Nft/NftCollection/__tests__/useNftCollection.test.ts
  apps/ledger-live-mobile/src/screens/Nft/NftCollection/index.tsx
  apps/ledger-live-mobile/src/screens/Nft/NftCollection/useNftCollection.ts
Labels: mobile

#9642 feat: Add Solana blockchain to Gallery Filter NFTs
  .changeset/forty-impalas-run.md
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/components/OperationsList/OperationsListV2/useOperationsList.ts
  apps/ledger-live-desktop/src/renderer/hooks/nfts/__tests__/shared.ts
  apps/ledger-live-desktop/src/renderer/hooks/nfts/__tests__/useHideSpamCollection.test.ts
  apps/ledger-live-desktop/src/renderer/hooks/nfts/useHideSpamCollection.ts
  apps/ledger-live-desktop/src/renderer/hooks/nfts/useNftCollectionsStatus.ts
  apps/ledger-live-desktop/src/renderer/modals/HideNftCollection/Body.tsx
  apps/ledger-live-desktop/src/renderer/modals/HideNftCollection/Footer.tsx
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenNFTCollections/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/SimpleHashTools/helper.ts
  apps/ledger-live-mobile/src/actions/types.ts
  apps/ledger-live-mobile/src/components/Nft/HideNftDrawer.tsx
  apps/ledger-live-mobile/src/components/Nft/NftCollectionOptionsMenu.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftList.hook.ts
  apps/ledger-live-mobile/src/hooks/nfts/__tests__/shared.ts
  apps/ledger-live-mobile/src/hooks/nfts/__tests__/useHideSpamCollection.test.ts
  apps/ledger-live-mobile/src/hooks/nfts/useHideSpamCollection.ts
  apps/ledger-live-mobile/src/hooks/nfts/useNftCollectionsStatus.ts
  apps/ledger-live-mobile/src/reducers/nft.ts
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  apps/ledger-live-mobile/src/screens/Analytics/Operations/useOperationsV2.ts
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
  apps/ledger-live-mobile/src/screens/Nft/hooks/useChains.test.ts
  apps/ledger-live-mobile/src/screens/Nft/hooks/useChains.ts
  apps/ledger-live-mobile/src/screens/Settings/Accounts/HiddenNftCollections.tsx
  libs/live-nft-react/src/hooks/types.ts
  libs/live-nft/README.md
  libs/live-nft/src/__tests__/index.test.ts
  libs/live-nft/src/supported.ts
Labels: desktop, mobile

#9653 Revert "feat(LIVE-17514): remove unused Swap feature flags"
  .changeset/grumpy-cherries-know.md
  libs/ledger-live-common/src/exchange/swap/hooks/v5/useFilteredProviders.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: common, ledgerjs

#9654 feat: hide nft send cta for solana
  .changeset/friendly-swans-wonder.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Nfts/screens/Gallery/index.tsx
Labels: desktop

#9656 feat: Wallet NFT Gallery Display for Solana NFTs
  .changeset/loud-socks-grow.md
  apps/ledger-live-mobile/src/screens/Nft/WalletNftGallery/index.tsx
Labels: mobile

#9655 feat: NFT Details for Solana NFT
  .changeset/many-lies-trade.md
  apps/ledger-live-mobile/src/components/Nft/NftLinksPanel.tsx
  apps/ledger-live-mobile/src/components/Nft/NftViewer.tsx
Labels: mobile

#9659 [QAA Updating delegate and swap e2e tests
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
Labels: desktop

#9658 feat: Rework getFloorPrice usage in LL and add support for Solana
  .changeset/strange-rivers-dress.md
  apps/ledger-live-desktop/src/renderer/drawers/NFTViewerDrawer/index.tsx
  apps/ledger-live-mobile/src/components/Nft/NftGallery/NftListItemFloorPriceRow.tsx
  apps/ledger-live-mobile/src/components/Nft/NftViewer.tsx
  libs/live-nft/src/api/metadataservice.ts
Labels: desktop, mobile

#9581 Buggfix: '-' with neutral color displayed for 0% variation in market and asset list
  .changeset/gold-walls-kiss.md
  apps/ledger-live-mobile/src/components/Delta.tsx
  apps/ledger-live-mobile/src/newArch/features/Market/components/DeltaVariation/index.tsx
Labels: mobile

#9665 change validate address wording
  .changeset/kind-carrots-fix.md
  apps/ledger-live-mobile/src/locales/en/common.json
Labels: mobile, translations

#9660 feat(llc): bump wallet-api with sui integration
  .changeset/old-yaks-type.md
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-darwin.json
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-linux.json
  libs/exchange-module/package.json
  libs/ledger-live-common/package.json
  libs/live-countervalues/src/mock.ts
  libs/wallet-api-acre-module/package.json
  pnpm-lock.yaml
  tests/dummy-wallet-app/package.json
Labels: desktop, common, fork

#9605 Delete trustchain before starting synchronisation
  apps/ledger-live-desktop/tests/specs/speculos/ledgerSync.spec.ts
  apps/ledger-live-desktop/tests/utils/ledgerSyncCliUtils.ts
Labels: desktop

#9669 :bug: (llm) token accounts inside accounts list
  .changeset/yellow-comics-pump.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/accountsListScreen.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/mockedAccounts.ts
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/index.tsx
  apps/ledger-live-mobile/src/newArch/features/Accounts/components/AccountsListView/useAccountsListViewModel.ts
  apps/ledger-live-mobile/src/screens/Portfolio/PortfolioAssets.tsx
  libs/live-countervalues/src/portfolio.ts
Labels: mobile

#9496 Fix/ton upgrade
  libs/coin-modules/coin-ton/package.json
  libs/coin-modules/coin-ton/src/__tests__/fixtures/common.fixtures.ts
  libs/coin-modules/coin-ton/src/__tests__/integration/bridge.integration.test.ts
  libs/coin-modules/coin-ton/src/__tests__/unit/api.unit.test.ts
  libs/coin-modules/coin-ton/src/__tests__/unit/deviceTransactionConfig.unit.test.ts
  libs/coin-modules/coin-ton/src/__tests__/unit/prepareTransaction.unit.test.ts
  libs/coin-modules/coin-ton/src/__tests__/unit/utils.unit.test.ts
  libs/coin-modules/coin-ton/src/bridge/js.ts
  libs/coin-modules/coin-ton/src/config.ts
  libs/coin-modules/coin-ton/src/constants.ts
  libs/coin-modules/coin-ton/src/deviceTransactionConfig.ts
  libs/coin-modules/coin-ton/src/estimateMaxSpendable.ts
  libs/coin-modules/coin-ton/src/getTransactionStatus.ts
  libs/coin-modules/coin-ton/src/prepareTransaction.ts
  libs/coin-modules/coin-ton/src/signOperation.ts
  libs/coin-modules/coin-ton/src/synchronisation.ts
  libs/coin-modules/coin-ton/src/types.ts
  libs/coin-modules/coin-ton/src/utils.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/ton/config.ts
  libs/ledger-live-common/src/families/ton/setup.ts
  pnpm-lock.yaml
Labels: common, fork

#9651 fix(llm): Redirect to the help page with the correct locale
  .changeset/stupid-carpets-hide.md
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
Labels: mobile

#9678 [LIVE-17325] Remove unused assets
  .changeset/bright-planets-know.md
  apps/ledger-live-desktop/src/renderer/animations/europa/dark/allowConnection.json
  apps/ledger-live-desktop/src/renderer/animations/europa/dark/confirmLockscreen.json
  apps/ledger-live-desktop/src/renderer/animations/europa/dark/connectionSuccess.json
  apps/ledger-live-desktop/src/renderer/animations/europa/dark/enterPIN.json
  apps/ledger-live-desktop/src/renderer/animations/europa/dark/lockscreenConfirmation.json
  apps/ledger-live-desktop/src/renderer/animations/europa/dark/onboardingSuccess.json
  apps/ledger-live-desktop/src/renderer/animations/europa/dark/signTransaction.json
  apps/ledger-live-desktop/src/renderer/animations/europa/dark/verifyAddress.json
  apps/ledger-live-desktop/src/renderer/animations/europa/light/allowConnection.json
  apps/ledger-live-desktop/src/renderer/animations/europa/light/confirmLockscreen.json
  apps/ledger-live-desktop/src/renderer/animations/europa/light/connectionSuccess.json
  apps/ledger-live-desktop/src/renderer/animations/europa/light/enterPIN.json
  apps/ledger-live-desktop/src/renderer/animations/europa/light/lockscreenConfirmation.json
  apps/ledger-live-desktop/src/renderer/animations/europa/light/onboardingSuccess.json
  apps/ledger-live-desktop/src/renderer/animations/europa/light/signTransaction.json
  apps/ledger-live-desktop/src/renderer/animations/europa/light/verifyAddress.json
  apps/ledger-live-desktop/src/renderer/animations/nanoSP/1PlugAndPinCode/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoSP/1PlugAndPinCode/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoSP/2FirmwareUpdating/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoSP/2FirmwareUpdating/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoSP/3EnterPinCode/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoSP/3EnterPinCode/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoSP/4QuitApp/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoSP/4QuitApp/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoSP/5AllowManager/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoSP/5AllowManager/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoSP/6OpenApp/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoSP/6OpenApp/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoSP/7Validate/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoSP/7Validate/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoSP/8InstallLoading/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoSP/8InstallLoading/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/1PlugAndPinCode/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/1PlugAndPinCode/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/2FirmwareUpdating/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/2FirmwareUpdating/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/3EnterPinCode/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/3EnterPinCode/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/4QuitApp/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/4QuitApp/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/5AllowManager/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/5AllowManager/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/6OpenApp/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/6OpenApp/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/7Validate/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/7Validate/light.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/8InstallLoading/dark.json
  apps/ledger-live-desktop/src/renderer/animations/nanoX/8InstallLoading/light.json
  apps/ledger-live-desktop/src/renderer/animations/stax/USBConnectionAndPin.json
  apps/ledger-live-desktop/src/renderer/animations/stax/allowConnection.json
  apps/ledger-live-desktop/src/renderer/animations/stax/enterPIN.json
  apps/ledger-live-desktop/src/renderer/animations/stax/lockscreenConfirmation.json
  apps/ledger-live-desktop/src/renderer/animations/stax/signTransaction.json
  apps/ledger-live-desktop/src/renderer/animations/stax/verifyAddress.json
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/animations.ts
Labels: desktop

#9677 fix(coin-cosmos): update lcd endpoint
  .changeset/lazy-days-sell.md
  libs/coin-modules/coin-cosmos/src/config.ts
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/027370ec7a5842d3465cede339f5cd8e9c121be05936d92cfaf114b282209dca.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/02ab846bcc86c9118d3751388f60d94dd5335f3b101c74d7c24b7133b2433d1e.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/0de8139e9672bb330303fa2c7967826dfa8d6dde0f3034e1977a8b1f62f7107b.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/1071ed13384788d37328edaca87809a8c6d9d7f3254ad236c8186ff266250f41.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/1085309c1dfd8f36e0b2092c69d93f63aa1efbcfcf85cb9b03b2f24802bf17ed.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/1c1cf176d3af51df7e7f939bb4c0190930a13133b5dd52eb24baf7ceed34ec95.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/3695ab368dcd1efa62ff7771d54ed020dd1f76643bc728b78d6c104237c46f25.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/3767d2809827a57ef6afa3dd023879fc5bc18f5f1a6ec028d622bfde7b15b190.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/3a7a34167d26bdb7a7da0f1cc124a2a218714f2a7fb49b0ff240b43a7614f27d.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/42b8e16ebe59726b7656d39304373a303f9925f7b72b8bba952707205afb9c93.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/4379afa0b3b7b990e106d7f01ffc465a28cc6dad8f9e2b134ce5b8934eb9ba75.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/452a857db7edbaee69645fc3b974fc5800c92b49762bc46dbef17e216205e0b8.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/45a15ad4e3794a3a02a5ee98c6cdd555660ec1e2d42a29cbb9b2dc4f81b189b4.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/4c75426da4ceac5a4168046a5238a17b71e13ff8e711050d339885629af4acc3.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/4d1a2888f09fb94c24ea02379b3e5bcaded8c2f4c1ad0b20cfe322174b35d373.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/5b2517ae0101b8fb544cf649827516fab478c2d783993b19645734964927290c.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/621409dc0cafeb83dfd434bd4651a2b9cbb89fb6197fca0fb630cdc2d63c1a21.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/63c00d5a5e2e8c11bbeaeb07da5b84abd8a88003bb4b2e38f831394e1fc36c17.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/6c60c75bbef0ccdf338514622ebb488c3e9619b6ffc30971259a3cca24fd240a.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/6e67abb5ae6b3d72a9bf900951a3f1dc787d3fdfed0511a3b6bfd12f38ab5356.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/7602ba6332d561cc045d67d03cc7029315a923ab1f64aa2dc5cb8f2a63380a1e.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/76cddd86a940b476bf78ea4ef2c42e2e0e9c7ef9e5d1e9021889934881d9f54d.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/7a11807843024149fe210985b3e4ccd8cf8fcce5763972c639d8365fd91ad959.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/7ae4d22c96bbecd9ee3ba67ea90ed7291ad7b2a8df1fadfc1ac728156c6a3e47.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/7c1846ccb62d57245468a90729697be84d523ccd9e4b14b93f458f9578dea346.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/8186bb3a788e53bf315b16d1bf702ddb9b336754aeac186194d7c1b0620150b2.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/8aeae8d8e10d11fd5c331576458838a7f6b0524a176e091d68c878333c3f8d4c.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/8cec31cd06a81f1c15d1f0faa13b894c8d75b8ed28057535aa66d941272578da.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/96269cb8b1018f5285f81528b5a504b4180e655240936d4fbcfa180493a59b8e.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/9bbb456d4429b9c2919fa9974e3c9bbf850464f5261e260e2052591daa11e4b3.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/a0cb998ba835c60b8d4ccfed6ad3b574da869bf54187f5ac216bd1e33982ea02.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/ab8e40a983ae4d456d60058b7ddf2a323202cac4f23ff3f6623221376e164534.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/adfca2f199566eb9c897072e66b735320009bd5a2ecd9993ffac9511b272a2dd.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/b276b7c32cf2387aa43854a0cb3a1b89ee52d9e859d404926283c68e4cbbe3f2.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/b40204e6ac128317e1014985e33ffa1cda23fbad7fa96773a1ec5afc140c0c6e.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/c00918a7897585fc65cadee0fd265aefab6df7a8666341b5e78d3fc298e934cb.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/c025667eec6b84ab2eb5418c2898c404446e4f4d88d6257ceb11e5d0273c9a52.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/c61132374ed3d470dbffc62e1306af6d309e1461b77db3958dce454e82317935.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/ce34c26cb1e22eebeb15428223611bfef1134f419c9465dd8d437b42a208a83a.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/d879b3d6e9851651f6878377648a7d19bd13e566d1912bc7146f1a081b11fd1c.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/df7366377b07888c5e05e8bf84c6b0fd3804216da99d8bcbf653d9078b68f23d.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/e1528f14d0562ce721333ac955dac5b33f5311ab8ed2a356a079f662a2b44b64.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/e3570cbe4dea3b7b70e4d180c4445f187e72974c41f31e3f88fd810b2bb750b2.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/e519583ef656c3812e847eaaf5c82b78c28ead6e4fa3e510063b17e5121af6bd.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/e9b33a65c8ce16e0fe38c6965df705da161b3181a6a0d82ccc63d1ea4040a843.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/f2e0a7f708e4e5bb69aef7f466f04992945d3566661a159e192483d369fa9d55.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/f639504dc153aeef68366e7ce9437701923967426482144c2bcea9ceb4e848b8.json
  libs/ledger-live-common/src/__tests__/test-helpers/bridgeMocks/fa5e5e1061c81976223e7996baafc066c68f017e56a39ca7a83cc4e0e127b814.json
Labels: common

#9679 fix(lld): error button layout in error modals
  .changeset/many-worms-count.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-select-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ADA-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-select-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-select-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-select-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/DOT-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-select-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-select-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-select-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/Tron-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-select-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XRP-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-select-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/open-modal-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/delegate.smoke.spec.ts-snapshots/earn-reward-pre-flow-page-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/delegate.smoke.spec.ts-snapshots/provider-search-page-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/delegate.smoke.spec.ts-snapshots/staking-max-amount-page-linux.png
  apps/ledger-live-desktop/tests/specs/families/polkadot.spec.ts-snapshots/nominate-modal-dot-nominator-row-linux.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/receive-modal-linux.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/send-modal-linux.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/changepassword-modal-linux.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/disablepassword-modal-linux.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/lockscreen-reset-app-modal-linux.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/set-passwordlock-modal-linux.png
  apps/ledger-live-desktop/tests/specs/general/terms.spec.ts-snapshots/terms-modal-linux.png
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts-snapshots/choose-stake-provider-modal-from-portfolio-page-linux.png
  apps/ledger-live-desktop/tests/specs/services/liveapp-sdk.spec.ts-snapshots/live-app-verify-address-linux.png
Labels: desktop, screenshots

#9689 fix(lld): 🐛 prevent long technical errors from breaking the node error layout
  .changeset/hungry-balloons-grin.md
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/Confirmation/NodeError/TechnicalErrorSection.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/Confirmation/NodeError/index.tsx
Labels: desktop

#9650 [QAA] Adding SPL tokens test
  .github/workflows/test-ui-e2e-only-desktop.yml
  apps/ledger-live-desktop/tests/page/account.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
  libs/ledger-live-common/src/e2e/enum/Account.ts
  libs/ledger-live-common/src/e2e/speculos.ts
  libs/speculos-transport/src/index.ts
Labels: desktop, common, automation

#9680 :bug: (ios) reintegrate splashscreen
  .changeset/pink-lamps-warn.md
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.mm
Labels: mobile

#9671 feat: Add Copy/Paste input to EIP712 Signature
  .changeset/angry-roses-allow.md
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/Components/CopyButton.test.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/Components/CopyButton.tsx
  apps/ledger-live-desktop/src/renderer/modals/SignMessage/steps/StepSummary.tsx
Labels: desktop

#9293 test: e2e aptos swap
  .changeset/shy-windows-call.md
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-tests-app.json
Labels: desktop

#9696 fix(llm): add click analytics on portfolio graph
  .changeset/silver-shoes-hug.md
  apps/ledger-live-mobile/src/components/GraphCard.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/GraphCardContainer.tsx
Labels: mobile

#9693 :bug: (lld) LS entry point overflow
  .changeset/few-worms-impress.md
  apps/ledger-live-desktop/src/newArch/features/LedgerSyncEntryPoints/components/ManagerEntryPoint/index.tsx
Labels: desktop

#9597 [CoinFmk] ScanAccounts unit test
  .changeset/shaggy-steaks-leave.md
  libs/coin-framework/src/account/__snapshots__/index.test.ts.snap
  libs/coin-framework/src/account/balanceHistoryCache.ts
  libs/coin-framework/src/account/helpers.ts
  libs/coin-framework/src/account/index.test.ts
  libs/coin-framework/src/account/index.ts
  libs/coin-framework/src/bridge/jsHelpers.test.ts
  libs/coin-framework/src/bridge/jsHelpers.ts
  libs/coin-framework/src/derivation.test.ts
  libs/coin-framework/src/derivation.ts
  libs/coin-modules/coin-aptos/src/__tests__/bridge/synchronisation.test.ts
  libs/coin-modules/coin-cosmos/src/helpers.ts
  libs/coin-modules/coin-cosmos/src/synchronisation.test.ts
  libs/coin-modules/coin-cosmos/src/synchronisation.ts
  libs/coin-modules/coin-cosmos/src/types/index.ts
  libs/coin-modules/coin-tron/src/bridge/synchronization.test.ts
  libs/coin-modules/coin-tron/src/bridge/synchronization.ts
  libs/coin-modules/coin-tron/src/bridge/utils.ts
  libs/coin-modules/coin-tron/src/index.ts
  libs/coin-modules/coin-tron/src/logic/utils.test.ts
  libs/coin-modules/coin-tron/src/types/bridge.ts
  libs/coin-modules/coin-vechain/.unimportedrc.json
  libs/coin-modules/coin-vechain/package.json
  libs/coin-modules/coin-vechain/src/__snapshots__/bridge.integration.test.ts.snap
  libs/coin-modules/coin-vechain/src/bridge/helpers.ts
  libs/coin-modules/coin-vechain/src/bridge/synchronisation.test.ts
  libs/coin-modules/coin-vechain/src/bridge/synchronisation.ts
  libs/coin-modules/coin-vechain/src/index.ts
  libs/ledger-live-common/src/account/helpers.ts
  libs/ledger-live-common/src/bridge/jsHelpers.ts
  libs/ledger-live-common/src/families/celo/synchronisation.ts
  pnpm-lock.yaml
Labels: common

#9695 chore: set Jest default reporter in Coin Integration configs
  libs/coin-framework/jest.config.js
  libs/coin-modules/coin-algorand/jest.config.js
  libs/coin-modules/coin-aptos/jest.config.js
  libs/coin-modules/coin-bitcoin/jest.config.js
  libs/coin-modules/coin-cardano/jest.config.js
  libs/coin-modules/coin-casper/jest.config.js
  libs/coin-modules/coin-cosmos/jest.config.js
  libs/coin-modules/coin-evm/jest.config.js
  libs/coin-modules/coin-filecoin/jest.config.js
  libs/coin-modules/coin-hedera/jest.config.js
  libs/coin-modules/coin-icon/jest.config.js
  libs/coin-modules/coin-internet_computer/jest.config.js
  libs/coin-modules/coin-module-boilerplate/jest.config.js
  libs/coin-modules/coin-multiversx/jest.config.js
  libs/coin-modules/coin-near/jest.config.js
  libs/coin-modules/coin-polkadot/jest.config.js
  libs/coin-modules/coin-solana/jest.config.js
  libs/coin-modules/coin-stacks/jest.config.js
  libs/coin-modules/coin-stellar/jest.config.js
  libs/coin-modules/coin-tezos/jest.config.js
  libs/coin-modules/coin-ton/jest.config.js
  libs/coin-modules/coin-tron/jest.config.js
  libs/coin-modules/coin-vechain/jest.config.js
  libs/coin-modules/coin-xrp/jest.config.js
  libs/ledgerjs/packages/hw-app-algorand/jest.config.ts
  libs/ledgerjs/packages/hw-app-aptos/jest.config.ts
  libs/ledgerjs/packages/hw-app-btc/jest.config.ts
  libs/ledgerjs/packages/hw-app-cosmos/jest.config.ts
  libs/ledgerjs/packages/hw-app-eth/jest.config.ts
  libs/ledgerjs/packages/hw-app-exchange/jest.config.ts
  libs/ledgerjs/packages/hw-app-hedera/jest.config.ts
  libs/ledgerjs/packages/hw-app-helium/jest.config.ts
  libs/ledgerjs/packages/hw-app-icon/jest.config.ts
  libs/ledgerjs/packages/hw-app-multiversx/jest.config.ts
  libs/ledgerjs/packages/hw-app-near/jest.config.ts
  libs/ledgerjs/packages/hw-app-polkadot/jest.config.ts
  libs/ledgerjs/packages/hw-app-solana/jest.config.ts
  libs/ledgerjs/packages/hw-app-str/jest.config.ts
  libs/ledgerjs/packages/hw-app-tezos/jest.config.ts
  libs/ledgerjs/packages/hw-app-trx/jest.config.ts
  libs/ledgerjs/packages/hw-app-vet/jest.config.ts
  libs/ledgerjs/packages/hw-app-xrp/jest.config.ts
Labels: ledgerjs

#9712 chore: fix windows test
  libs/ledger-live-common/jest.config.ts
Labels: common

#9716 fix(LLD): LedgerLive user agent not present in dev mode [LIVE-17642]
  apps/ledger-live-desktop/src/main/window-lifecycle.ts
Labels: desktop

#9715 chore: setup usePowerShell on windows with zx 8 instead of bash
  apps/cli/scripts/build.mjs
  apps/cli/scripts/gen.mjs
  apps/cli/scripts/test.mjs
  apps/ledger-live-desktop/scripts/ci-lint.mjs
  apps/ledger-live-desktop/scripts/replace-assets.mjs
  apps/ledger-live-desktop/scripts/sync-families-dispatch.mjs
  apps/ledger-live-mobile/scripts/download-hermes-profile.mjs
  apps/ledger-live-mobile/scripts/e2e-ci.mjs
  apps/ledger-live-mobile/scripts/gen-metafile.mjs
  apps/ledger-live-mobile/scripts/post.mjs
  apps/ledger-live-mobile/scripts/replace-assets.mjs
  apps/ledger-live-mobile/scripts/sync-families-dispatch.mjs
  libs/ledger-live-common/scripts/build-ts.mjs
  libs/ledger-live-common/scripts/sync-families-dispatch.mjs
  libs/ledger-live-common/scripts/watch-ts-es.mjs
  libs/ledger-live-common/scripts/watch-ts.mjs
  package.json
  pnpm-lock.yaml
Labels: desktop, mobile, common, cli

#9704 [LIVE-17848] fix(onboarding): redirection at the end (for Flex)
  .changeset/little-emus-act.md
  .changeset/wicked-otters-smile.md
  apps/ledger-live-mobile/src/screens/SyncOnboarding/CompletionScreen.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/EuropaCompletionView.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SyncOnboardingCompanion.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
Labels: mobile, common

#9632 [QAA] Adding e2e test for swap history coverage
  apps/ledger-live-desktop/src/renderer/components/TabBar.tsx
  apps/ledger-live-desktop/src/renderer/drawers/SwapOperationDetails/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/History/History.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/History/OperationRow.tsx
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/page/drawer/operation.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/swap.confirmation.drawer.ts
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  apps/ledger-live-desktop/tests/utils/fileUtils.ts
  libs/speculos-transport/src/index.ts
Labels: desktop

#9722 fix(lld): unwanted rendering when clicking the 'close' button from the recover screen just after onboarding
  .changeset/wild-books-act.md
  apps/ledger-live-desktop/src/renderer/hooks/useAutoRedirectToPostOnboarding/index.ts
  apps/ledger-live-desktop/src/renderer/hooks/useDeeplinking/useDeepLinkHandler.ts
  apps/ledger-live-desktop/src/renderer/screens/dashboard/index.tsx
Labels: desktop
