Repository LedgerHQ/ledger-live, pull requests merged in 2025-10, with the labels that each got.

#12097 Revert "Feat/live 19322 sui tokens e2e tests and Live-18304 native sui"
  .changeset/ten-apricots-listen.md
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.tsx
  e2e/desktop/tests/page/drawer/send.drawer.ts
  e2e/desktop/tests/page/speculos.page.ts
  e2e/desktop/tests/specs/send.tx.spec.ts
  e2e/desktop/tests/specs/subAccount.spec.ts
  e2e/desktop/tests/specs/swap.send.spec.ts
  e2e/desktop/tests/userdata/speculos-subAccount.json
  libs/ledger-live-common/src/e2e/enum/Account.ts
  libs/ledger-live-common/src/e2e/enum/AppInfos.ts
  libs/ledger-live-common/src/e2e/enum/Currency.ts
  libs/ledger-live-common/src/e2e/enum/Network.ts
  libs/ledger-live-common/src/e2e/enum/TokenType.ts
  libs/ledger-live-common/src/e2e/enum/TransactionStatus.ts
  libs/ledger-live-common/src/e2e/families/sui.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#12098 🐛 (common) exclude ff OFF currencies
  .changeset/spicy-flowers-doubt.md
  libs/ledger-live-common/src/deposit/useGroupedCurrenciesByProvider.hook.ts
Labels: common

#12090 chore: extract DADA from MAD
  .changeset/blue-meals-shake.md
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/ModularDrawerFlowManager.stories.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/AccountCountApy.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useModularDrawerData.ts
  apps/ledger-live-desktop/src/renderer/createStore.ts
  apps/ledger-live-desktop/src/renderer/reducers/index.ts
  apps/ledger-live-desktop/tests/handlers/assets.ts
  apps/ledger-live-mobile/__tests__/test-renderer.tsx
  apps/ledger-live-mobile/src/context/store.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/components/AccountCountAndApy.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/useAssets.ts
  apps/ledger-live-mobile/src/reducers/index.ts
  apps/ledger-live-mobile/src/reducers/types.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/dada-client/README.md
  libs/ledger-live-common/src/dada-client/entities/index.ts
  libs/ledger-live-common/src/dada-client/entities/interestRateSelectors.ts
  libs/ledger-live-common/src/dada-client/entities/marketSelectors.ts
  libs/ledger-live-common/src/dada-client/entities/selectorUtils.ts
  libs/ledger-live-common/src/dada-client/hooks/__tests__/useAssetsData.test.ts
  libs/ledger-live-common/src/dada-client/hooks/useAssetData.ts
  libs/ledger-live-common/src/dada-client/hooks/useAssetsData.ts
  libs/ledger-live-common/src/dada-client/hooks/useInterestRatesByCurrencies.ts
  libs/ledger-live-common/src/dada-client/hooks/useMarketByCurrencies.ts
  libs/ledger-live-common/src/dada-client/state-manager/api.ts
  libs/ledger-live-common/src/dada-client/state-manager/types.ts
  libs/ledger-live-common/src/dada-client/types/trend.ts
  libs/ledger-live-common/src/modularDrawer/hooks/modules/useLeftApyModule.tsx
  libs/ledger-live-common/src/modularDrawer/hooks/modules/useLeftMarketTrendModule.tsx
  libs/ledger-live-common/src/modularDrawer/hooks/modules/useRightMarketTrendModule.tsx
  libs/ledger-live-common/src/modularDrawer/hooks/useLeftAccountsApy.tsx
  libs/ledger-live-common/src/modularDrawer/utils/__tests__/getInterestRateForAsset.test.ts
  libs/ledger-live-common/src/modularDrawer/utils/getInterestRateForAsset.ts
  libs/ledger-live-common/src/modularDrawer/utils/type.ts
Labels: desktop, mobile, common

#11897 :bug: (swap): Fix fw update redirect error
  .changeset/pretty-roses-count.md
  apps/ledger-live-mobile/src/components/DeviceAction/index.tsx
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/ValidateError.tsx
Labels: mobile

#12022 [LIVE-21230] Added operationId to status request on swap history for nearintents
  .changeset/breezy-queens-agree.md
  libs/ledger-live-common/src/exchange/swap/updateAccountSwapStatus.ts
Labels: common

#12109 ci: update tag for the speculos image
  .github/workflows/test-mobile-e2e-reusable.yml
  .github/workflows/test-ui-e2e-only-desktop.yml
Labels: automation, skip-sync-check

#12072 feat(coin-evm): recompute fees from parameters
  .changeset/brown-radios-remember.md
  libs/coin-modules/coin-evm/src/api/index.ts
  libs/coin-modules/coin-evm/src/logic/validateIntent.test.ts
  libs/coin-modules/coin-evm/src/logic/validateIntent.ts
Labels: coin-modules-api

#12102 feat: update canton translations
  .changeset/short-waves-double.md
  apps/ledger-live-desktop/src/renderer/families/canton/OnboardModal/components/ValidatorRow.tsx
  apps/ledger-live-desktop/src/renderer/families/canton/OnboardModal/index.tsx
  apps/ledger-live-desktop/src/renderer/families/canton/OnboardModal/steps/StepAuthorize.tsx
  apps/ledger-live-desktop/src/renderer/families/canton/OnboardModal/steps/StepOnboard.tsx
  apps/ledger-live-desktop/src/renderer/families/canton/OnboardModal/steps/__tests__/StepAuthorize.test.tsx
  apps/ledger-live-desktop/src/renderer/families/canton/OnboardModal/steps/__tests__/StepOnboard.test.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#12115 🐛 (llm) market quick actions
  .changeset/lemon-fans-fly.md
  apps/ledger-live-mobile/src/components/MarketQuickActions/MarketQuickActions.test.tsx
  apps/ledger-live-mobile/src/components/MarketQuickActions/index.tsx
Labels: mobile

#12125 fix(lld): remove unecessary script in index.html
  .changeset/clever-donuts-guess.md
  apps/ledger-live-desktop/src/renderer/index.html
Labels: desktop

#12028 fix(MAD): Uniformize fiat formatting, reuse formatCurrencyUnit
  .changeset/slow-goats-press.md
  apps/ledger-live-desktop/src/newArch/features/AddAccountDrawer/__tests__/addAccountFlow.test.tsx
  apps/ledger-live-desktop/src/newArch/features/AddAccountDrawer/components/FormattedAccountItem.tsx
  apps/ledger-live-desktop/src/newArch/features/AddAccountDrawer/screens/AccountsAdded/components/AccountList.tsx
  apps/ledger-live-desktop/src/newArch/features/AddAccountDrawer/screens/AccountsAdded/hooks.ts
  apps/ledger-live-desktop/src/newArch/features/AddAccountDrawer/screens/AccountsAdded/types.ts
  apps/ledger-live-desktop/src/newArch/features/AddAccountDrawer/screens/AccountsWarning/useWarningConfig.tsx
  apps/ledger-live-desktop/src/newArch/features/AddAccountDrawer/screens/FundAccount/index.tsx
  apps/ledger-live-desktop/src/newArch/features/AddAccountDrawer/screens/ScanAccounts/index.tsx
  apps/ledger-live-desktop/src/newArch/features/AddAccountDrawer/screens/ScanAccounts/useFormatAccount.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/__tests__/modules.test.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/components/Balance.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/__tests__/useDetailedAccounts.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useBalanceDeps.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/hooks/useDetailedAccounts.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/screens/AccountSelection/components/List.tsx
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/utils/formatDetailedAccount.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/utils/sortAccountsByFiatValue.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/utils/tests/formatDetailedAccount.test.ts
  apps/ledger-live-desktop/src/newArch/features/ModularDrawer/utils/tests/sortAccountsByFiatValue.test.ts
  apps/ledger-live-desktop/src/newArch/utils/tests/parseToBigNumber.test.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/__integrations__/modules.test.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/components/Balance.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/useBalanceDeps.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/hooks/useDetailedAccounts.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/screens/AccountSelection/index.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/screens/AssetSelection/index.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/screens/NetworkSelection/index.tsx
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/utils/formatdetailedAccount.ts
  apps/ledger-live-mobile/src/newArch/features/ModularDrawer/utils/sortAccountsByFiatValue.ts
  libs/ledger-live-common/src/modularDrawer/hooks/modules/useRightMarketTrendModule.tsx
  libs/ledger-live-common/src/modularDrawer/hooks/useRightBalanceAsset.tsx
  libs/ledger-live-common/src/modularDrawer/hooks/useRightBalanceNetwork.tsx
  libs/ledger-live-common/src/modularDrawer/modules/createNetworkConfiguration.ts
  libs/ledger-live-common/src/modularDrawer/utils/__tests__/calculateProviderTotal.test.ts
  libs/ledger-live-common/src/modularDrawer/utils/__tests__/counterValueFormatter.test.ts
  libs/ledger-live-common/src/modularDrawer/utils/__tests__/groupAccountsByAsset.test.ts
  libs/ledger-live-common/src/modularDrawer/utils/calculateProviderTotal.ts
  libs/ledger-live-common/src/modularDrawer/utils/counterValueFormatter.ts
  libs/ledger-live-common/src/modularDrawer/utils/getBalanceAndFiatValue.ts
  libs/ledger-live-common/src/modularDrawer/utils/getBalanceAndFiatValueByAssets.ts
  libs/ledger-live-common/src/modularDrawer/utils/groupAccountsByAsset.ts
  libs/ledger-live-common/src/modularDrawer/utils/index.ts
  libs/ledger-live-common/src/modularDrawer/utils/parseToBigNumber.ts
  libs/ledger-live-common/src/modularDrawer/utils/sortByBalance.tsx
  libs/ledger-live-common/src/modularDrawer/utils/type.ts
Labels: desktop, mobile, common

#12113 fix: update swap tracking
  .changeset/brave-buttons-kiss.md
  libs/ledger-live-common/src/exchange/swap/postSwapState.ts
  libs/ledger-live-common/src/exchange/swap/setBroadcastTransaction.ts
  libs/ledger-live-common/src/exchange/swap/types.ts
  libs/ledger-live-common/src/wallet-api/Exchange/server.ts
Labels: common

#12132 [LIVE-21941] Fix some issues for CLS and Apex
  .changeset/afraid-pears-type.md
  apps/ledger-live-desktop/src/renderer/components/CustomImage/CustomLockScreenDeviceAction/stepsRendering.tsx
  apps/ledger-live-desktop/src/renderer/components/CustomImage/FramedPicture.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/DeviceIllustration.tsx
  apps/ledger-live-desktop/src/renderer/screens/manager/DeviceDashboard/DeviceInformationSummary/index.tsx
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-apex-000-preview-contrast-initial-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-apex-001-preview-contrast-1-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-apex-002-preview-contrast-2-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-apex-003-preview-contrast-0-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-004-adjust-contrast-zoomed-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-007-adjust-rotated-zoomed-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-013-preview-contrast-initial-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-014-preview-contrast-1-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-015-preview-contrast-2-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-016-preview-contrast-3-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-017-preview-contrast-0-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-019-transfer-progress-000-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-020-transfer-progress-020-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-021-transfer-progress-050-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-022-transfer-progress-080-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-023-transfer-progress-100-linux.png
  apps/ledger-live-desktop/tests/specs/manager/customImage.spec.ts-snapshots/custom-image-stax-024-transfer-commit-requested-linux.png
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-app-catalog-w-l10n-linux.png
  apps/ledger-live-desktop/tests/specs/manager/firmwareupdate.spec.ts-snapshots/modal-closed-linux.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-app-catalog-linux.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-uninstall-tron-linux.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-uninstallAll-linux.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-updateAll-linux.png
Labels: desktop, screenshots

#12062 Craft transaction supports staking intent (with estimateFees)
  .changeset/spotty-icons-push.md
  libs/coin-framework/src/api/types.ts
  libs/coin-framework/src/utils.ts
  libs/coin-modules/coin-aptos/src/__tests__/api/craftTransaction.unit.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/api/index.integ.test.ts
  libs/coin-modules/coin-aptos/src/__tests__/network/client.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/detectOperationType.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/staking/abis.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/staking/encoder.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/staking/transactionData.unit.test.ts
  libs/coin-modules/coin-evm/src/api/index.integ.test.ts
  libs/coin-modules/coin-evm/src/logic/common.ts
  libs/coin-modules/coin-evm/src/logic/craftTransaction.test.ts
  libs/coin-modules/coin-evm/src/logic/estimateFees.test.ts
  libs/coin-modules/coin-evm/src/logic/validateIntent.test.ts
  libs/coin-modules/coin-evm/src/staking/abis.ts
  libs/coin-modules/coin-evm/src/staking/detectOperationType.ts
  libs/coin-modules/coin-evm/src/staking/index.ts
  libs/coin-modules/coin-evm/src/staking/transactionData.ts
  libs/coin-modules/coin-evm/src/types/staking.ts
  libs/coin-modules/coin-evm/src/utils.ts
  libs/coin-modules/coin-polkadot/src/api/index.integ.test.ts
  libs/coin-modules/coin-stellar/src/api/index.integ.test.ts
  libs/coin-modules/coin-sui/src/api/index.integration.test.ts
  libs/coin-modules/coin-sui/src/bridge/buildTransaction.test.ts
  libs/coin-modules/coin-sui/src/bridge/buildTransaction.ts
  libs/coin-modules/coin-sui/src/bridge/getFeesForTransaction.ts
  libs/coin-modules/coin-sui/src/logic/craftTransaction.integration.test.ts
  libs/coin-modules/coin-sui/src/logic/craftTransaction.test.ts
  libs/coin-modules/coin-sui/src/logic/estimateFees.integration.test.ts
  libs/coin-modules/coin-sui/src/logic/estimateFees.test.ts
  libs/coin-modules/coin-tezos/src/api/index.integ.test.ts
  libs/coin-modules/coin-tezos/src/api/index.test.ts
  libs/coin-modules/coin-tezos/src/api/types.ts
  libs/coin-modules/coin-tezos/src/logic/validateIntent.test.ts
  libs/coin-modules/coin-tron/src/api/index.test.ts
  libs/coin-modules/coin-tron/src/bridge/getEstimateFees.ts
  libs/coin-modules/coin-tron/src/logic/craftTransaction.integ.test.ts
  libs/coin-modules/coin-tron/src/logic/craftTransaction.test.ts
  libs/coin-modules/coin-tron/src/logic/estimateFees.test.ts
  libs/coin-modules/coin-xrp/src/api/index.integ.test.ts
  libs/coin-modules/coin-xrp/src/api/index.test.ts
  libs/coin-modules/coin-xrp/src/api/index.ts
  libs/coin-modules/coin-xrp/src/logic/validateIntent.test.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/tests/getAccountShape.test.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/utils.ts
Labels: common, coin-modules-api

#12143 chore: prepare cryptoassets future rework by deprecating many functions
  .changeset/chilly-toys-rule.md
  libs/ledgerjs/packages/cryptoassets/README.md
  libs/ledgerjs/packages/cryptoassets/package.json
  libs/ledgerjs/packages/cryptoassets/src/api-token-converter.ts
  libs/ledgerjs/packages/cryptoassets/src/legacy/legacy-data.ts
  libs/ledgerjs/packages/cryptoassets/src/legacy/legacy-state.ts
  libs/ledgerjs/packages/cryptoassets/src/legacy/legacy-utils.ts
  libs/ledgerjs/packages/cryptoassets/src/legacy/legacy.test.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.test.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
  libs/ledgerjs/packages/types-live/src/crypto-assets/index.ts
  pnpm-lock.yaml
Labels: ledgerjs

#12153 chore: fix live-common import on one part dada-client
  libs/ledger-live-common/src/dada-client/entities/index.ts
Labels: common

#12124 feat: LIVE-21389 add noah loading screen
  .changeset/metal-mayflies-check.md
  apps/ledger-live-desktop/src/newArch/components/ProviderInterstitial/ProviderInterstitial.test.tsx
  apps/ledger-live-desktop/src/newArch/components/ProviderInterstitial/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Web3AppWebview/types.ts
  apps/ledger-live-desktop/src/renderer/components/WebPlatformPlayer/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/receive/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/WebPTXPlayer/index.tsx
  apps/ledger-live-mobile/src/components/WebReceivePlayer/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/components/ProviderInterstitial/ProviderInterstitial.test.tsx
  apps/ledger-live-mobile/src/newArch/components/ProviderInterstitial/index.tsx
  apps/ledger-live-mobile/src/screens/PTX/index.tsx
Labels: desktop, mobile, translations

#12156 chore(solana): update solana config for solana phone LLM release
  apps/ledger-live-mobile/android/dapp-store/config.yaml
  apps/ledger-live-mobile/android/dapp-store/media/banner.png
Labels: mobile

#12164 fix(lld): handle sentry-set-tags
  .changeset/polite-kids-glow.md
  apps/ledger-live-desktop/src/main/index.ts
Labels: desktop

#12163 fix(lld): do not skip send flow amount step
  .changeset/thick-ads-drum.md
  .github/workflows/test-mobile-e2e-reusable.yml
  .github/workflows/test-ui-e2e-only-desktop.yml
  apps/ledger-live-desktop/src/renderer/modals/Send/Body.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepRecipient.test.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/steps/StepRecipient.tsx
  apps/ledger-live-desktop/src/renderer/modals/Send/types.ts
Labels: desktop, automation

#12160 :bug: (LLD) fix analytics row ui
  .changeset/rotten-teachers-raise.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/ShareAnalyticsButton.tsx
Labels: desktop

#12158 Document migration to move from listTokens() to DaDa
  libs/ledger-live-common/src/dada-client/MIGRATION_GUIDE.md
Labels: common

#12162 refac: minor updates and cleanup
  libs/coin-modules/coin-internet_computer/src/api/api.ts
  libs/coin-modules/coin-internet_computer/src/types/signer.ts
Labels: fork, coin-modules-api

#12042 feat: (LIVE-21558) Add A/B test for desktop ‘Confirm on Device’ flow (details vs no-details)
  .changeset/forty-boats-taste.md
  apps/ledger-live-desktop/src/renderer/components/DeviceAction/rendering.tsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/DrawerFooter.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs

#11781 feat(desktop): redesign welcome screen with video carousel
  .changeset/smooth-beers-study.md
  apps/ledger-live-desktop/src/newArch/features/LedgerSyncEntryPoints/components/OnboardingEntryPoint/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Onboarding/screens/WelcomeNew/__tests__/useVideoCarousel.test.ts
  apps/ledger-live-desktop/src/newArch/features/Onboarding/screens/WelcomeNew/assets/ledgerWalletBuySell.webm
  apps/ledger-live-desktop/src/newArch/features/Onboarding/screens/WelcomeNew/assets/ledgerWalletSecureWallet.webm
  apps/ledger-live-desktop/src/newArch/features/Onboarding/screens/WelcomeNew/assets/ledgerWalletThousandsCrypto.webm
  apps/ledger-live-desktop/src/newArch/features/Onboarding/screens/WelcomeNew/components/WelcomeNewStyles.ts
  apps/ledger-live-desktop/src/newArch/features/Onboarding/screens/WelcomeNew/hooks/useVideoCarousel.ts
  apps/ledger-live-desktop/src/newArch/features/Onboarding/screens/WelcomeNew/hooks/useWelcomeNewViewModel.ts
  apps/ledger-live-desktop/src/newArch/features/Onboarding/screens/WelcomeNew/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/WelcomeOld.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/onboarding/connect-device.spec.ts-snapshots/v3-get-started-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-get-started-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-get-started-linux.png
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: desktop, common, ledgerjs, translations, screenshots

#12104 Fix/live 21925 reaply sui e2e tests
  .changeset/popular-coins-brush.md
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.tsx
  e2e/desktop/tests/page/account.page.ts
  e2e/desktop/tests/page/drawer/send.drawer.ts
  e2e/desktop/tests/page/speculos.page.ts
  e2e/desktop/tests/specs/send.tx.spec.ts
  e2e/desktop/tests/specs/subAccount.spec.ts
  e2e/desktop/tests/specs/swap.send.spec.ts
  e2e/desktop/tests/userdata/speculos-subAccount.json
  libs/ledger-live-common/src/e2e/enum/Account.ts
  libs/ledger-live-common/src/e2e/enum/AppInfos.ts
  libs/ledger-live-common/src/e2e/enum/Currency.ts
  libs/ledger-live-common/src/e2e/enum/Network.ts
  libs/ledger-live-common/src/e2e/enum/TokenType.ts
  libs/ledger-live-common/src/e2e/enum/TransactionStatus.ts
  libs/ledger-live-common/src/e2e/families/sui.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Labels: desktop, common

#12126 chore: pnpm catalog 🔖
  .changeset/afraid-meals-serve.md
  .github/workflows/renovate.yml
  apps/cli/package.json
  apps/cli/scripts/build.mjs
  apps/ledger-live-desktop/package.json
  apps/ledger-live-mobile/package.json
  apps/web-tools/package.json
  libs/coin-modules/coin-aptos/package.json
  libs/device-react/package.json
  libs/domain-service/package.json
  libs/ledger-live-common/package.json
  libs/live-countervalues-react/package.json
  libs/live-dmk-desktop/package.json
  libs/live-dmk-mobile/package.json
  libs/live-dmk-shared/package.json
  libs/live-hooks/package.json
  libs/ui/examples/next.js/package.json
  libs/ui/examples/webpack.js/package.json
  libs/ui/packages/crypto-icons/package.json
  libs/ui/packages/icons/package.json
  libs/ui/packages/native/package.json
  libs/ui/packages/react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/dummy-live-app/package.json
  tests/dummy-wallet-app/package.json
Labels: desktop, mobile, common, ui, automation, cli, skip-sync-check

#12159 feat: LIVE-21973 add provider session id to noah
  .changeset/flat-actors-protect.md
  apps/ledger-live-desktop/src/renderer/screens/receive/index.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/01b-ReceiveProvider..tsx
  libs/env/src/env.ts
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/hooks/useManifestWithSessionId.test.ts
  libs/ledger-live-common/src/hooks/useManifestWithSessionId.ts
Labels: desktop, mobile, common

#12108 chore: Rozenite Devtools for ReactNative
  .changeset/itchy-carpets-battle.md
  .pnpmfile.cjs
  apps/ledger-live-mobile/README.md
  apps/ledger-live-mobile/index.js
  apps/ledger-live-mobile/metro.config.js
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/ReactotronConfig.ts
  apps/ledger-live-mobile/src/context/store.ts
  apps/ledger-live-mobile/src/devTools/README.md
  apps/ledger-live-mobile/src/devTools/useDevTools.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/newArch/storage/mmkvStorageWrapper/index.ts
  patches/@shopify__react-native-performance.patch
  pnpm-lock.yaml
Labels: mobile

#12141 chore: update 1inch domain from .io to .com
  .changeset/big-roses-give.md
  apps/ledger-live-desktop/tests/specs/services/dapp.spec.ts-mocks/1inch-live-app.ts
  apps/ledger-live-desktop/tests/specs/services/services-api-mocks/getRates.mock.ts
  apps/ledger-live-mobile/e2e/page/discover/discover.page.ts
  apps/ledger-live-mobile/src/screens/Settings/Developer/manifests/1inch.ts
  apps/ledger-live-mobile/src/utils/urls.tsx
  e2e/mobile/page/discover/discover.page.ts
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/swap/api/v5/__mocks__/fetchRates.mocks.ts
  libs/ledger-live-common/src/exchange/swap/mock.ts
  libs/ledger-live-common/src/platform/providers/RemoteLiveAppProvider/api/mock.json
  libs/ledger-services/cal/src/partners/default.ts
Labels: desktop, mobile, common

#12190 fix: update label in AnalyticsPrompt
  .changeset/little-buttons-live.md
  apps/ledger-live-desktop/src/newArch/features/AnalyticsOptInPrompt/screens/VariantA/ManagePreferences/components/Footer/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Labels: desktop, translations

#12194 :lipstick: (LLD) mad format address
  .changeset/itchy-cobras-cheer.md
  .github/workflows/test-design-system-reusable.yml
  apps/ledger-live-desktop/src/newArch/features/AddAccountDrawer/__tests__/addAccountFlow.test.tsx
  apps/ledger-live-desktop/src/newArch/features/AddAccountDrawer/screens/AccountsAdded/hooks.ts
  apps/ledger-live-desktop/src/newArch/features/AddAccountDrawer/screens/ScanAccounts/useFormatAccount.ts
  libs/ui/packages/react/.unimportedrc.json
  libs/ui/packages/react/package.json
  libs/ui/packages/react/src/pre-ldls/components/AccountItem/AccountItem.stories.tsx
  libs/ui/packages/react/src/pre-ldls/components/AccountItem/AccountItem.tsx
  libs/ui/packages/react/src/pre-ldls/components/Address/Address.tsx
  libs/ui/packages/react/src/pre-ldls/components/Address/formatAddress.ts
  libs/ui/packages/react/src/pre-ldls/components/Address/tests/formatAddress.test.ts
  libs/ui/packages/react/tsconfig.json
  libs/ui/packages/react/tsconfig.prod.json
  libs/ui/playwright.config.ts
  pnpm-lock.yaml
Labels: desktop, ui, automation, skip-sync-check

#12188 :globe_with_meridians: (lld) cleanup language switching mechanism
  .changeset/neat-guests-refuse.md
  apps/ledger-live-desktop/src/renderer/components/Onboarding/LangSwitcher.tsx
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/LanguageSelect.tsx
Labels: desktop

#12179 :bug: (LLD) fix opt in prompt double scroll
  .changeset/rare-radios-relax.md
  apps/ledger-live-desktop/src/newArch/features/AnalyticsOptInPrompt/screens/VariantA/Main/index.tsx
Labels: desktop

#12167 fix: receive modal gap
  .changeset/tricky-lions-whisper.md
  apps/ledger-live-mobile/src/screens/ReceiveFundsOptions/ReceiveFundsOptions.test.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFundsOptions/index.tsx
Labels: mobile

#12206 feat: LIVE-22111 close noah desktop
  .changeset/tame-drinks-raise.md
  apps/ledger-live-desktop/src/renderer/screens/receive/index.tsx
Labels: desktop

#11890 fix: Delegation crashes on Cosmos if no validator data is returned
  .changeset/old-points-bathe.md
  apps/ledger-live-desktop/src/renderer/families/cosmos/DelegationFlowModal/fields/ValidatorField.tsx
Labels: desktop

#12196 chore: drop hasToken and replace getTokenById by findTokenById
  .changeset/remove-getTokenById-hasTokenId.md
  apps/cli/src/live-common-setup.ts
  apps/ledger-live-mobile/src/components/MarketQuickActions/MarketQuickActions.test.tsx
  apps/ledger-live-mobile/src/helpers/useCurrency.tsx
  apps/ledger-live-mobile/src/screens/Account/ReadOnly/ReadOnlyAccount.tsx
  libs/coin-modules-monitoring/src/run.ts
  libs/coin-modules/coin-evm/src/__tests__/fixtures/cryptoAssetsStore.fixtures.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/deviceTransactionConfig.unit.test.ts
  libs/coin-modules/coin-evm/src/__tests__/unit/synchronization.unit.test.ts
  libs/coin-modules/coin-evm/src/api/index.integ.test.ts
  libs/coin-modules/coin-evm/src/logic/getTokenFromAsset.test.ts
  libs/coin-modules/coin-solana/src/prepareTransaction.ts
  libs/coin-modules/coin-ton/src/__tests__/unit/logic.unit.test.ts
  libs/coin-modules/coin-vechain/src/bridge/synchronisation.test.ts
  libs/coin-modules/coin-vechain/src/bridge/synchronisation.ts
  libs/coin-tester-modules/coin-tester-evm/src/scenarii.test.ts
  libs/coin-tester-modules/coin-tester-evm/src/scenarii/blast.ts
  libs/coin-tester-modules/coin-tester-evm/src/scenarii/core.ts
  libs/coin-tester-modules/coin-tester-evm/src/scenarii/ethereum.ts
  libs/coin-tester-modules/coin-tester-evm/src/scenarii/polygon.ts
  libs/coin-tester-modules/coin-tester-evm/src/scenarii/scroll.ts
  libs/coin-tester-modules/coin-tester-evm/src/scenarii/sonic.ts
  libs/coin-tester-modules/coin-tester-solana/src/fixtures.ts
  libs/coin-tester-modules/coin-tester-solana/src/scenarii.test.ts
  libs/ledger-live-common/src/bridge/crypto-assets/index.test.ts
  libs/ledger-live-common/src/bridge/crypto-assets/index.ts
  libs/ledger-live-common/src/currencies/cryptoIcons.test.ts
  libs/ledger-live-common/src/currencies/index.ts
  libs/ledger-live-common/src/deposit/deposit.test.ts
  libs/ledger-live-common/src/deposit/helper.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useFromState.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useReverseAccounts.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useToState.test.ts
  libs/ledger-live-common/src/exchange/swap/hooks/useUpdateMaxAmount.test.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.test.ts
  libs/ledger-live-common/src/utils/__tests__/getAccountTuplesForCurrency.test.ts
  libs/ledgerjs/packages/cryptoassets/package.json
  libs/ledgerjs/packages/cryptoassets/src/legacy/legacy-store.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
  libs/ledgerjs/packages/types-live/src/crypto-assets/index.ts
  libs/live-countervalues/src/logic.integ.test.ts
  libs/live-countervalues/src/mock.test.ts
  pnpm-lock.yaml
Labels: mobile, common, ledgerjs, cli, coin-modules-api

#12212 [Apex] Update device image format
  .changeset/beige-baboons-itch.md
  apps/ledger-live-desktop/src/renderer/components/DeviceIllustration.tsx
  apps/ledger-live-desktop/src/renderer/images/apex.png
  apps/ledger-live-desktop/src/renderer/images/apex.svg
Labels: desktop

#12203 fix: canton add account with wrong index
  .changeset/popular-turkeys-trade.md
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepImport.tsx
Labels: desktop

#12128 feat(coin-evm): support layer 2 fees and custom gas options
  .changeset/modern-pandas-rhyme.md
  libs/coin-framework/src/api/types.ts
  libs/coin-modules/coin-evm/src/api/index.ts
  libs/coin-modules/coin-evm/src/logic.ts
  libs/coin-modules/coin-evm/src/logic/common.ts
  libs/coin-modules/coin-evm/src/logic/craftTransaction.ts
  libs/coin-modules/coin-evm/src/logic/estimateFees.test.ts
  libs/coin-modules/coin-evm/src/logic/estimateFees.ts
  libs/coin-modules/coin-evm/src/logic/validateIntent.test.ts
  libs/coin-modules/coin-evm/src/logic/validateIntent.ts
  libs/coin-modules/coin-evm/src/network/node/ledger.ts
  libs/coin-modules/coin-evm/src/network/node/rpc.common.ts
  libs/coin-modules/coin-evm/src/network/node/types.ts
  libs/coin-modules/coin-evm/src/types/transaction.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/getTransactionStatus.ts
  libs/ledger-live-common/src/bridge/generic-alpaca/utils.ts
Labels: common, coin-modules-api

#12207 [LIVE-20635][LIVE-20634] Story-like welcome page for LLM
  .changeset/rich-bananas-sort.md
  apps/ledger-live-mobile/src/components/RootNavigator/OnboardingNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/WelcomePage/assets/basic1.mp4
  apps/ledger-live-mobile/src/newArch/features/WelcomePage/assets/basic2.mp4
  apps/ledger-live-mobile/src/newArch/features/WelcomePage/assets/basic3.mp4
  apps/ledger-live-mobile/src/newArch/features/WelcomePage/assets/index.ts
  apps/ledger-live-mobile/src/newArch/features/WelcomePage/components/StoryProgressBar.tsx
  apps/ledger-live-mobile/src/newArch/features/WelcomePage/components/TappableMask.tsx
  apps/ledger-live-mobile/src/newArch/features/WelcomePage/components/VideoBackground.tsx
  apps/ledger-live-mobile/src/newArch/features/WelcomePage/components/WelcomeFooter.tsx
  apps/ledger-live-mobile/src/newArch/features/WelcomePage/components/WelcomePage.styles.ts
  apps/ledger-live-mobile/src/newArch/features/WelcomePage/hooks/useWelcomeNavigation.ts
  apps/ledger-live-mobile/src/newArch/features/WelcomePage/hooks/useWelcomeStories.ts
  apps/ledger-live-mobile/src/newArch/features/WelcomePage/index.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/welcome.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Labels: mobile, common, ledgerjs, translations

#12214 fix(live-22119,coin:sui): identify all unstaking operations
  .changeset/kind-tools-reflect.md
  libs/coin-modules/coin-sui/src/api/index.integration.test.ts
  libs/coin-modules/coin-sui/src/network/sdk.test.ts
  libs/coin-modules/coin-sui/src/network/sdk.ts
Labels: coin-modules-api
