Repository LedgerHQ/ledger-live, changes with the owners that CODEOWNERS names for each.
All owners: @ledgerhq/live-hub, @ledgerhq/live-blockchain-support, @ledgerhq/ptx, @ledgerhq/wallet-api, @ledgerhq/live-devices, @ledgerhq/qaa, @ledgerhq/recover-software

update release notes
  apps/ledger-live-desktop/RELEASE_NOTES.md
Owners: @ledgerhq/live-hub

feat: add ledger key ring protocol commands in cli
  apps/cli/README.md
  apps/cli/package.json
  apps/cli/src/commands-index.ts
  apps/cli/src/commands/live/ledgerKeyRingProtocol.ts
  package.json
  pnpm-lock.yaml
Owners: @ledgerhq/live-hub

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to ar-AE locale
  apps/ledger-live-desktop/static/i18n/ar/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to zh-CN locale
  apps/ledger-live-desktop/static/i18n/zh/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to fr-FR locale
  apps/ledger-live-desktop/static/i18n/fr/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to de-DE locale
  apps/ledger-live-desktop/static/i18n/de/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to ja-JP locale
  apps/ledger-live-desktop/static/i18n/ja/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to ko-KR locale
  apps/ledger-live-desktop/static/i18n/ko/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to pt-BR locale
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to ru-RU locale
  apps/ledger-live-desktop/static/i18n/ru/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to es-ES locale
  apps/ledger-live-desktop/static/i18n/es/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to tr-TR locale
  apps/ledger-live-desktop/static/i18n/tr/app.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to ar-AE locale
  apps/ledger-live-mobile/src/locales/ar/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to zh-CN locale
  apps/ledger-live-mobile/src/locales/zh/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to fr-FR locale
  apps/ledger-live-mobile/src/locales/fr/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to de-DE locale
  apps/ledger-live-mobile/src/locales/de/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to ja-JP locale
  apps/ledger-live-mobile/src/locales/ja/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to ko-KR locale
  apps/ledger-live-mobile/src/locales/ko/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to pt-BR locale
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to ru-RU locale
  apps/ledger-live-mobile/src/locales/ru/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to es-ES locale
  apps/ledger-live-mobile/src/locales/es/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to tr-TR locale
  apps/ledger-live-mobile/src/locales/tr/common.json
Owners: none

Feat/thorswap swap btc (#7971)
  .changeset/three-turtles-smile.md
  libs/coin-modules/coin-bitcoin/src/wallet-btc/xpub.ts
  libs/ledger-live-common/src/exchange/platform/transfer/completeExchange.ts
  libs/ledger-live-common/src/exchange/providers/getProvidersData.test.ts
  libs/ledger-live-common/src/exchange/providers/getProvidersData.ts
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/ptx

update to latest core package
  libs/coin-modules/coin-multiversx/package.json
  libs/coin-modules/coin-multiversx/src/api/sdk.ts
  libs/ledgerjs/packages/hw-app-multiversx/package.json
  pnpm-lock.yaml
Owners: @ledgerhq/live-blockchain-support

add axios as dependency
  libs/ledgerjs/packages/hw-app-multiversx/package.json
  pnpm-lock.yaml
Owners: @ledgerhq/live-blockchain-support

added some network features and unittests
  libs/coin-modules/coin-kaspa/jest.config.js
  libs/coin-modules/coin-kaspa/package.json
  libs/coin-modules/coin-kaspa/src/bridge/buildTransaction.ts
  libs/coin-modules/coin-kaspa/src/bridge/createTransaction.ts
  libs/coin-modules/coin-kaspa/src/bridge/getTransactionStatus.ts
  libs/coin-modules/coin-kaspa/src/bridge/prepareTransaction.ts
  libs/coin-modules/coin-kaspa/src/bridge/synchronization.ts
  libs/coin-modules/coin-kaspa/src/bridge/updateTransaction.ts
  libs/coin-modules/coin-kaspa/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/coin-modules/coin-kaspa/src/network/sdk.ts
  libs/coin-modules/coin-kaspa/src/network/tests/sdk.test.tsx
  libs/coin-modules/coin-kaspa/src/types/bridge.ts
  libs/coin-modules/coin-kaspa/src/types/errors.ts
Owners: @ledgerhq/live-blockchain-support

add client name for network provider
  libs/coin-modules/coin-multiversx/src/api/sdk.ts
Owners: @ledgerhq/live-blockchain-support

[LIVE-11478] Support for Uniswap V3 plugin (#7874)
  .changeset/quiet-feet-wink.md
  .changeset/rich-dryers-crash.md
  libs/coin-modules/coin-evm/src/signOperation.ts
  libs/ledgerjs/packages/hw-app-eth/.unimportedrc.json
  libs/ledgerjs/packages/hw-app-eth/README.md
  libs/ledgerjs/packages/hw-app-eth/src/Eth.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/Uniswap/constants.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/Uniswap/decoders.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/Uniswap/index.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/Uniswap/types.ts
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/index.ts
  libs/ledgerjs/packages/hw-app-eth/src/services/types.ts
  libs/ledgerjs/packages/hw-app-eth/src/utils.ts
  libs/ledgerjs/packages/hw-app-eth/tests/Eth.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/Uniswap/decoders.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/Uniswap/index.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/utils.ts
  libs/ledgerjs/packages/hw-app-eth/tests/ledgerService.unit.test.ts
Owners: @ledgerhq/live-blockchain-support

feat: add ledger sync commands in cli
  apps/cli/README.md
  apps/cli/src/commands-index.ts
  apps/cli/src/commands/live/ledgerSync.ts
Owners: @ledgerhq/live-hub

update snapshot
  libs/ledger-live-common/src/families/multiversx/__snapshots__/bridge.integration.test.ts.snap
Owners: @ledgerhq/live-blockchain-support

fix: ts error on cli
  apps/cli/src/commands/live/ledgerSync.ts
Owners: @ledgerhq/live-hub

fix: update env readme file to reflect new changes
  apps/ledger-live-mobile/mobile-env.md
  apps/ledger-live-mobile/scripts/mobile-env-md.mjs
Owners: @ledgerhq/live-hub

build: create + add new icon set for nightly app
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Contents.json
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-20x20@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-20x20@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-29x29@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-29x29@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-40x40@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-40x40@3x 1.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-57x57@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-60x60@2x 1.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-60x60@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-76x76@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-76x76@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/ItunesArtwork@2x.png
Owners: @ledgerhq/live-hub

build: new bundle id + configuration for nightly builds
  apps/ledger-live-mobile/fastlane/.env.ios.nightly
  apps/ledger-live-mobile/fastlane/Fastfile
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@3x 1.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-60x60@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-76x76@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-Small-50x50@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-Small-50x50@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Contents.json
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-20x20@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-20x20@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-29x29@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-29x29@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-40x40@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-40x40@3x 1.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-40x40@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-57x57@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-60x60@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-76x76@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-76x76@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/ItunesArtwork@2x.png
Owners: @ledgerhq/live-hub

build: remove unnecessary array syntax
  apps/ledger-live-mobile/fastlane/Fastfile
Owners: @ledgerhq/live-hub

build: reconfigure nightly control flow to preserve existing behaviour for staging and prerelease
  apps/ledger-live-mobile/fastlane/.env.ios.nightly
  apps/ledger-live-mobile/fastlane/Fastfile
Owners: @ledgerhq/live-hub

Update tests for Uniswap for new cryptoassets-evm-signatures lib
  libs/ledgerjs/packages/hw-app-eth/tests/Uniswap/index.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/ledgerService.unit.test.ts
Owners: @ledgerhq/live-blockchain-support

chore: update sortbymarketcap snap file
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
Owners: @ledgerhq/live-hub

Support - Update tests for Uniswap for new cryptoassets-evm-signatures lib (#7990)
  libs/ledgerjs/packages/hw-app-eth/tests/Uniswap/index.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/ledgerService.unit.test.ts
Owners: @ledgerhq/live-blockchain-support

build: revert prod app icons
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Contents.json
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@3x 1.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-60x60@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-App-76x76@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-Small-50x50@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/AppIcon.appiconset/Icon-Small-50x50@2x.png
Owners: @ledgerhq/live-hub

CODEOWNERS:

# How does it work? => https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.

# Hub team
## by default, hub manage apps and libs related to it & then we overrides many exceptions
apps/cli/src/commands/live                               @ledgerhq/live-hub
apps/ledger-live-desktop/                                @ledgerhq/live-hub
apps/ledger-live-mobile/                                 @ledgerhq/live-hub
libs/**/errors/                                          @ledgerhq/live-hub
libs/**/logs/                                            @ledgerhq/live-hub
libs/**/types-live/                                      @ledgerhq/live-hub
libs/env/                                                @ledgerhq/live-hub
libs/ledger-live-common/src/                             @ledgerhq/live-hub
libs/live-countervalues-react/                           @ledgerhq/live-hub
libs/live-countervalues/                                 @ledgerhq/live-hub
libs/live-hooks/                                         @ledgerhq/live-hub
libs/live-nft-react/                                     @ledgerhq/live-hub
libs/live-nft/                                           @ledgerhq/live-hub
libs/promise/                                            @ledgerhq/live-hub
libs/ui/                                                 @ledgerhq/live-hub
libs/live-hooks/										 @ledgerhq/live-hub
libs/live-countervalues/								 @ledgerhq/live-hub
libs/live-countervalues-react/ 						     @ledgerhq/live-hub
libs/live-nft/                                           @ledgerhq/live-hub
libs/live-nft-react/                                     @ledgerhq/live-hub
libs/live-wallet/                                        @ledgerhq/live-hub
libs/trustchain/                                         @ledgerhq/live-hub
libs/hw-trustchain/                                      @ledgerhq/live-hub

# Blockchain team
.github/**/bot-*.yml                                     @ledgerhq/live-blockchain-support
**/live-common-set*.ts                                   @ledgerhq/live-blockchain-support
apps/**/families/                                        @ledgerhq/live-blockchain-support
apps/cli/src/commands/blockchain                         @ledgerhq/live-blockchain-support
apps/web-tools/                                          @ledgerhq/live-blockchain-support
docs/                                                    @ledgerhq/live-blockchain-support
libs/coin-*/                                             @ledgerhq/live-blockchain-support
libs/domain-service/                                     @ledgerhq/live-blockchain-support
libs/evm-tools/                                          @ledgerhq/live-blockchain-support
libs/ledger-live-common/src/bot/                         @ledgerhq/live-blockchain-support
libs/ledger-live-common/src/families/                    @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/cryptoassets/                     @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/hw-app-*/                         @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/types-cryptoassets/               @ledgerhq/live-blockchain-support
libs/live-config/                                        @ledgerhq/live-blockchain-support
libs/live-network/                                       @ledgerhq/live-blockchain-support

# PTX team
apps/cli/src/commands/ptx                                            @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/components/ProviderIcon/       @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/       @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/hooks/swap-migrations/         @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/drawers/SwapOperationDetails/  @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/modals/Platform/               @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/modals/StartStake/             @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/reducers/swap.ts               @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/earn/                  @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/exchange/              @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/stake/                 @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/swapWeb/               @ledgerhq/ptx
apps/ledger-live-mobile/src/actions/earn.ts                          @ledgerhq/ptx
apps/ledger-live-mobile/src/actions/swap.ts                          @ledgerhq/ptx
apps/ledger-live-mobile/src/components/ProviderIcon/                 @ledgerhq/ptx
apps/ledger-live-mobile/src/components/Stake/                        @ledgerhq/ptx
apps/ledger-live-mobile/src/components/WebPTXPlayer/                 @ledgerhq/ptx
apps/ledger-live-mobile/src/reducers/earn.ts                         @ledgerhq/ptx
apps/ledger-live-mobile/src/reducers/swap.ts                         @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/Exchange/                        @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/PTX/                             @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/Swap/                            @ledgerhq/ptx
libs/ledger-live-common/src/exchange/                                @ledgerhq/ptx
libs/exchange-module/                                                @ledgerhq/ptx
libs/ledgerjs/packages/hw-app-exchange/                              @ledgerhq/ptx
# Wallet API team
**/PlatformAppProviderWrapper.tsx                        @ledgerhq/wallet-api
**/Web3AppWebview/                                       @ledgerhq/wallet-api
**/WebPlatformPlayer/                                    @ledgerhq/wallet-api
apps/ledger-live-desktop/src/renderer/screens/platform/  @ledgerhq/wallet-api
apps/ledger-live-desktop/src/webviewPreloader/           @ledgerhq/wallet-api
apps/ledger-live-mobile/src/screens/Discover/            @ledgerhq/wallet-api
apps/ledger-live-mobile/src/screens/Platform/            @ledgerhq/wallet-api
libs/ledger-live-common/src/platform/                    @ledgerhq/wallet-api
libs/ledger-live-common/src/wallet-api/                  @ledgerhq/wallet-api
**/platformAdapter.ts                                    @ledgerhq/wallet-api
**/walletApiAdapter.ts                                   @ledgerhq/wallet-api
**/liveapp-sdk.spec.ts                                   @ledgerhq/wallet-api
**/confirmTransaction.spec.ts                             @ledgerhq/wallet-api
**/wallet-api.spec.ts                                    @ledgerhq/wallet-api
**/wallet-api.spec.ts-snapshots/                         @ledgerhq/wallet-api
**/dapp.spec.ts                                          @ledgerhq/wallet-api
libs/test-utils/                                         @ledgerhq/wallet-api
apps/ledger-live-mobile/src/newArch/features/Web3Hub/    @ledgerhq/wallet-api

# Devices team
apps/cli/src/commands/devices                                      @ledgerhq/live-devices
**/src/renderer/screens/manager/                                   @ledgerhq/live-devices
**/screens/customImage 																				 		 @ledgerhq/live-devices
**/components/CustomImage																		 	 		 @ledgerhq/live-devices
**/screens/CustomImage 																				 		 @ledgerhq/live-devices
**/SyncOnboarding/**                                               @ledgerhq/live-devices
**/OnboardingAppInstall/**																				 @ledgerhq/live-devices
**/UpdateFirmwareModal/**																					 @ledgerhq/live-devices
apps/**/components/DeviceAction/                                   @ledgerhq/live-devices
apps/ledger-live-mobile/src/screens/MyLedger*/             	       @ledgerhq/live-devices
apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/       @ledgerhq/live-devices
apps/web-tools/repl/                                               @ledgerhq/live-devices
libs/**/devices/                                                   @ledgerhq/live-devices
libs/**/hw-transport-*/                                            @ledgerhq/live-devices
libs/**/react-native-*/                                            @ledgerhq/live-devices
libs/**/swift-*/                                                   @ledgerhq/live-devices
libs/**/types-devices/                                             @ledgerhq/live-devices
libs/ledger-live-common/src/apps/                                  @ledgerhq/live-devices
libs/ledger-live-common/src/hw/                                    @ledgerhq/live-devices
libs/ledger-live-common/src/manager/                               @ledgerhq/live-devices
libs/ledger-live-common/src/device/                                @ledgerhq/live-devices
libs/ledger-live-common/src/deviceSDK/                             @ledgerhq/live-devices
libs/device-core/                                                  @ledgerhq/live-devices
libs/device-react/                                                 @ledgerhq/live-devices
libs/speculos-transport/                                           @ledgerhq/live-devices @ledgerhq/qaa

# Recover team
apps/ledger-live-desktop/src/renderer/components/RecoverBanner/         @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/components/RecoverRestore/        @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/components/WebRecoverPlayer/      @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/           @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/screens/recover/                  @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/RecoverBanner/                   @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/ServicesWidget/Protect/          @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/WebRecoverPlayer/                @ledgerhq/recover-software
apps/ledger-live-mobile/src/screens/Protect/                            @ledgerhq/recover-software
libs/ledger-live-common/src/hooks/recoverFeatureFlag.ts                 @ledgerhq/recover-software

# Live hub overrides

apps/web-tools/trustchain/                               @ledgerhq/live-hub

# UI tests
apps/ledger-live-desktop/tests/                          @ledgerhq/live-hub @ledgerhq/qaa
apps/ledger-live-mobile/e2e/                             @ledgerhq/live-hub @ledgerhq/qaa

# Cross-team generic files can be opted out (no strict ownership when it concerns everyone)
apps/ledger-live-desktop/static/i18n/
apps/ledger-live-mobile/src/locales/
apps/ledger-live-mobile/src/components/RootNavigator/
apps/ledger-live-mobile/src/const/navigation.ts
apps/**/package.json
libs/ledgerjs/packages/errors/src/index.ts
libs/ledger-live-common/src/config/sharedConfig.ts
libs/ledger-live-common/package.json
**/generated/
