Repository LedgerHQ/ledger-live, changes with the owners that CODEOWNERS names for each.
All owners: @ledgerhq/live-devx, @ledgerhq/live-blockchain-support, @ledgerhq/live-platform-and-services, @ledgerhq/live-devices, @ledgerhq/live-qa, @gre

add: USB troubleshooting drawer to sync onboarding (#881)
  .changeset/mighty-queens-enjoy.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/TroubleshootingDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Owners: none

add: recovery content sync onboarding (#894)
  .changeset/big-carpets-sniff.md
  apps/ledger-live-desktop/src/renderer/Default.jsx
  apps/ledger-live-desktop/src/renderer/components/Storyly/StorylyWrapper.tsx
  apps/ledger-live-desktop/src/renderer/components/Storyly/index.tsx
  apps/ledger-live-desktop/src/renderer/components/Storyly/types.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/RecoveryContent.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useStoryly.tsx
  apps/ledger-live-desktop/src/renderer/modals/LottieDebugger/index.jsx
  apps/ledger-live-desktop/src/renderer/modals/StorylyDebugger/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/index.js
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Experimental/StorylyTester.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Experimental/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Owners: none

add UI for update available in sync onboarding (#1012)
  .changeset/gentle-tips-help.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckContent.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Owners: none

Plug sync onboarding UI with device polling (#900)
  .changeset/tough-birds-fry.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/CompletionScreen.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckContent.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckStep.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/index.tsx
Owners: none

Add UI for recommended apps step in sync onboarding (#1048)
  .changeset/two-hats-help.md
  apps/ledger-live-desktop/src/renderer/components/Illustration.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/ApplicationContent.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/assets/coins.png
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/shared.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Owners: none

feat: FAT-99 genuine check and get latest available firmware hooks (#1026)
  apps/ledger-live-desktop/src/internal/commands/getGenuineCheckFromDeviceId.ts
  apps/ledger-live-desktop/src/internal/commands/getLatestAvailableFirmwareFromDeviceId.ts
  apps/ledger-live-desktop/src/internal/commands/index.js
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
Owners: none

add genuine check and firware update logic (#1093)
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/ApplicationContent.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/GenuineCheckAnimationModal.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckContent.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckStep.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/shared.tsx
Owners: none

Add playwright test suite to synchronous onboarding on desktop (#790)
  .changeset/many-experts-fetch.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/tests/models/ManualPage.ts
  apps/ledger-live-desktop/tests/models/OnboardingPage.ts
  apps/ledger-live-desktop/tests/specs/onboarding/connect-device.spec.ts
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts
  apps/ledger-live-desktop/tests/specs/syncOnboarding/manual.spec.ts
Owners: none

Feat/add entry point postonboarding (#1192)
  .changeset/selfish-snakes-cheer.md
  apps/ledger-live-desktop/src/renderer/components/PostOnboarding/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/CompletionScreen.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/DesyncOverlay.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/PostOnboardingScreen/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Experimental/PostOnboardingHubTester.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Experimental/StorylyTester.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Experimental/index.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Owners: none

fix(desktop): pixel polish on sync onboarding
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectDevice/DeviceSelectorOption.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectDevice/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/ApplicationContent.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/RecoveryContent.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckContent.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/shared.tsx
Owners: none

Fix broken import that was breaking everything (ノಠ益ಠ)ノ彡┻━┻
  apps/ledger-live-desktop/src/internal/commands/getOnboardingStatePolling.ts
Owners: none

support(UI): Update text and ui for Add Account modal (#1277)
  .changeset/wild-otters-live.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/AddAccounts/AddAccountsModal.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/AddAccountsModalCard.tsx
Owners: none

Fix currencies list in accounts mock
  libs/ledger-live-common/src/mock/account.ts
Owners: none

Update snapshot
  libs/ledger-live-common/src/__tests__/__snapshots__/portfolio.v2.ts.snap
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
Owners: none

BACK-3946: Fix outdated assertion on exchange signature size
  libs/ledger-live-common/src/exchange/hw-app-exchange/Exchange.ts
Owners: none

💡 Add comment regarding provider type selected
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
Owners: none

🗑️ Remove deprecated centralized prop
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/index.jsx
Owners: none

⚰️ Remove unused SectionProvider
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/SectionProvider.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSummary/index.jsx
Owners: none

🗑️ Remove unused kyc status
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/SectionRate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/index.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
Owners: none

🗑️ Rename SectionRate function component
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormRates/SectionRate.jsx
Owners: none

[LIVE-3722][LIVE-3744][LIVE-3722] - Bugfix: Fix currencies inferences (#1304)
  .changeset/old-lemons-smile.md
  .changeset/tidy-items-remain.md
  apps/cli/src/live-common-setup-base.ts
  apps/cli/src/transaction.ts
  libs/ledger-live-common/src/__tests__/__snapshots__/portfolio.v2.ts.snap
  libs/ledger-live-common/src/apps/polyfill.test.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/currencies/sortByMarketcap.ts
  libs/ledger-live-common/src/mock/account.ts
  libs/ledgerjs/packages/cryptoassets/README.md
  libs/ledgerjs/packages/cryptoassets/src/currencies.test.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/types-cryptoassets/README.md
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
Owners: none

bugfix(UI): UI issue on Sync modal
  .changeset/dry-kiwis-give.md
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/drawers/SyncDesktopInformation.tsx
Owners: none

LIVE-3757 LIVE-3753 LIVE-3751 LIVE-3756 - LLM Analytics polish
  apps/ledger-live-mobile/src/analytics/TrackScreen.tsx
  apps/ledger-live-mobile/src/analytics/screenRefs.ts
  apps/ledger-live-mobile/src/analytics/segment.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/reducers/settings.ts
  apps/ledger-live-mobile/src/rootnavigation.ts
  apps/ledger-live-mobile/src/screens/Onboarding/steps/postWelcomeSelection.tsx
Owners: none

bugfix(Languages): Inconsistency in languages display names
  .changeset/honest-games-allow.md
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/General/LanguageSelect.jsx
  apps/ledger-live-mobile/src/languages.ts
  apps/ledger-live-mobile/src/screens/Settings/General/LanguageRow.tsx
Owners: none

[LIVE-2853] Fix claim reward cosmos (#1121)
  .changeset/new-chicken-prove.md
  .github/workflows/bot-cosmos-phosphore.yml
  libs/ledger-live-common/src/families/cosmos/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/cosmos/helpers.ts
  libs/ledger-live-common/src/families/cosmos/helpers.unit.test.ts
  libs/ledger-live-common/src/families/cosmos/js-signOperation.ts
  libs/ledger-live-common/src/families/cosmos/js-synchronisation.ts
Owners: @gre, @ledgerhq/live-blockchain-support, @ledgerhq/live-qa

allow a delta for the op.date
  libs/ledger-live-common/src/bot/engine.ts
Owners: none

bot: add testDestination to assert impact on destination account
  .github/workflows/bot-phosphore.yml
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/bot/formatters.ts
  libs/ledger-live-common/src/bot/index.ts
  libs/ledger-live-common/src/bot/specs.ts
  libs/ledger-live-common/src/bot/types.ts
  libs/ledger-live-common/src/families/algorand/specs.ts
  libs/ledger-live-common/src/families/bitcoin/specs.ts
  libs/ledger-live-common/src/families/cardano/specs.ts
  libs/ledger-live-common/src/families/celo/specs/createSendMutation.ts
  libs/ledger-live-common/src/families/cosmos/specs.ts
  libs/ledger-live-common/src/families/ethereum/specs.ts
  libs/ledger-live-common/src/families/evm/specs.ts
  libs/ledger-live-common/src/families/filecoin/specs.ts
  libs/ledger-live-common/src/families/hedera/specs.ts
  libs/ledger-live-common/src/families/osmosis/specs.ts
  libs/ledger-live-common/src/families/polkadot/specs.ts
  libs/ledger-live-common/src/families/ripple/specs.ts
  libs/ledger-live-common/src/families/solana/specs.ts
  libs/ledger-live-common/src/families/tezos/specs.ts
  libs/ledger-live-common/src/families/tron/specs.ts
Owners: @gre, @ledgerhq/live-blockchain-support, @ledgerhq/live-qa

refine how the destination logic works
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/bot/formatters.ts
  libs/ledger-live-common/src/bot/specs.ts
  libs/ledger-live-common/src/bot/types.ts
Owners: none

support Nano S Plus as well as latest Nano X sdk
  libs/ledger-live-common/src/load/speculos.ts
Owners: none

fixes
  libs/ledger-live-common/src/bot/engine.ts
Owners: none

filter cardano spec to uses v4
  libs/ledger-live-common/src/families/cardano/specs.ts
Owners: none

fixes ZCash NOT to depend on Bitcoin
  libs/ledger-live-common/src/families/bitcoin/specs.ts
Owners: none

fixes
  libs/ledger-live-common/src/bot/engine.ts
Owners: none

allow transaction() to return destination to explicit the search
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/bot/types.ts
  libs/ledger-live-common/src/families/bitcoin/specs.ts
Owners: none

Protecting a function which can filter on empty arrays
  .changeset/calm-pigs-end.md
  libs/ledger-live-common/src/notifications/ServiceStatusProvider/index.tsx
Owners: none

feedback change
  libs/ledger-live-common/src/notifications/ServiceStatusProvider/index.tsx
Owners: none

apply pr remarks
  apps/ledger-live-desktop/src/renderer/families/bitcoin/SendRecipientFields.jsx
Owners: @ledgerhq/live-blockchain-support

tron/spec: custom version of testDestination
  libs/ledger-live-common/src/families/tron/specs.ts
Owners: none

add cancel genuine check flow
  .changeset/wicked-peas-camp.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/GenuineCheckCancelModal.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckStep.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Owners: none

fix: sidebar & topbar over walletconnect
  .changeset/loud-ads-explode.md
  apps/ledger-live-desktop/src/renderer/Default.jsx
Owners: none

CODEOWNERS:

# Live DX Team

.github/              @ledgerhq/live-devx
scripts/              @ledgerhq/live-devx
tools/                @ledgerhq/live-devx
fastlane/             @ledgerhq/live-devx

# Live Blockchain Support Team

apps/**/families/                                               @ledgerhq/live-blockchain-support
ledger-live-desktop/src/live-common-set-supported-currencies.*  @ledgerhq/live-blockchain-support
ledger-live-mobile/src/live-common-setup.*                      @ledgerhq/live-blockchain-support
ledger-live-common/src/families                                 @ledgerhq/live-blockchain-support
ledgerjs/packages/cryptoassets                                  @ledgerhq/live-blockchain-support
ledgerjs/packages/types-cryptoassets                            @ledgerhq/live-blockchain-support
ledgerjs/packages/hw-app-*                                      @ledgerhq/live-blockchain-support

# Live Platform and Services Team

ledger-live-desktop/src/renderer/screens/exchange/  @ledgerhq/live-platform-and-services
ledger-live-mobile/src/screens/Exchange/            @ledgerhq/live-platform-and-services
ledger-live-common/src/exchange/                    @ledgerhq/live-platform-and-services
ledger-live-common/src/platform/                    @ledgerhq/live-platform-and-services

# Live Devices Team

apps/**/components/DeviceAction/        @ledgerhq/live-devices
ledger-live-mobile/src/screens/Manager/ @ledgerhq/live-devices
ledger-live-common/src/hw/              @ledgerhq/live-devices
ledger-live-common/src/apps/            @ledgerhq/live-devices
ledger-live-common/src/manager/         @ledgerhq/live-devices
ledgerjs/packages/types-devices/        @ledgerhq/live-devices
ledgerjs/packages/devices/              @ledgerhq/live-devices
ledgerjs/packages/hw-transport-*        @ledgerhq/live-devices
ledgerjs/packages/react-native-*        @ledgerhq/live-devices


# Live QA Team
ledger-live-desktop/tests/**/*-snapshots/ @ledgerhq/live-qa

# Cross-teams
.github/**/bot-*.yml                 @gre @ledgerhq/live-blockchain-support @ledgerhq/live-qa
ledgerjs/packages/types-live/        @gre @ledgerhq/live-blockchain-support @ledgerhq/live-platform-and-services @ledgerhq/live-devices
