Repository LedgerHQ/ledger-live, changes with the owners that CODEOWNERS names for each.
All owners: @ledgerhq/live-hub, @ledgerhq/live-blockchain-support, @ledgerhq/ptx, @ledgerhq/wallet-api, @ledgerhq/live-devices, @ledgerhq/qaa, @ledgerhq/recover-software

CODEOWNERS:

# How does it work? => https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.

# Hub team
## by default, hub manage apps and libs related to it & then we overrides many exceptions
apps/cli/src/commands/live                               @ledgerhq/live-hub
apps/ledger-live-desktop/                                @ledgerhq/live-hub
apps/ledger-live-mobile/                                 @ledgerhq/live-hub
libs/**/errors/                                          @ledgerhq/live-hub
libs/**/logs/                                            @ledgerhq/live-hub
libs/**/types-live/                                      @ledgerhq/live-hub
libs/env/                                                @ledgerhq/live-hub
libs/ledger-live-common/src/                             @ledgerhq/live-hub
libs/live-countervalues-react/                           @ledgerhq/live-hub
libs/live-countervalues/                                 @ledgerhq/live-hub
libs/live-hooks/                                         @ledgerhq/live-hub
libs/live-nft-react/                                     @ledgerhq/live-hub
libs/live-nft/                                           @ledgerhq/live-hub
libs/promise/                                            @ledgerhq/live-hub
libs/ui/                                                 @ledgerhq/live-hub
libs/live-hooks/										 @ledgerhq/live-hub
libs/live-countervalues/								 @ledgerhq/live-hub
libs/live-countervalues-react/ 						     @ledgerhq/live-hub
libs/live-nft/                                           @ledgerhq/live-hub
libs/live-nft-react/                                     @ledgerhq/live-hub
libs/live-wallet/                                        @ledgerhq/live-hub
libs/trustchain/                                         @ledgerhq/live-hub
libs/hw-trustchain/                                      @ledgerhq/live-hub

# Blockchain team
.github/**/bot-*.yml                                     @ledgerhq/live-blockchain-support
**/live-common-set*.ts                                   @ledgerhq/live-blockchain-support
apps/**/families/                                        @ledgerhq/live-blockchain-support
apps/cli/src/commands/blockchain                         @ledgerhq/live-blockchain-support
apps/web-tools/                                          @ledgerhq/live-blockchain-support
docs/                                                    @ledgerhq/live-blockchain-support
libs/coin-*/                                             @ledgerhq/live-blockchain-support
libs/domain-service/                                     @ledgerhq/live-blockchain-support
libs/evm-tools/                                          @ledgerhq/live-blockchain-support
libs/ledger-live-common/src/bot/                         @ledgerhq/live-blockchain-support
libs/ledger-live-common/src/families/                    @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/cryptoassets/                     @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/hw-app-*/                         @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/types-cryptoassets/               @ledgerhq/live-blockchain-support
libs/live-config/                                        @ledgerhq/live-blockchain-support
libs/live-network/                                       @ledgerhq/live-blockchain-support

# PTX team
apps/cli/src/commands/ptx                                            @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/components/ProviderIcon/       @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/       @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/hooks/swap-migrations/         @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/drawers/SwapOperationDetails/  @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/modals/Platform/               @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/modals/StartStake/             @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/reducers/swap.ts               @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/earn/                  @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/exchange/              @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/stake/                 @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/swapWeb/               @ledgerhq/ptx
apps/ledger-live-mobile/src/actions/earn.ts                          @ledgerhq/ptx
apps/ledger-live-mobile/src/actions/swap.ts                          @ledgerhq/ptx
apps/ledger-live-mobile/src/components/ProviderIcon/                 @ledgerhq/ptx
apps/ledger-live-mobile/src/components/Stake/                        @ledgerhq/ptx
apps/ledger-live-mobile/src/components/WebPTXPlayer/                 @ledgerhq/ptx
apps/ledger-live-mobile/src/reducers/earn.ts                         @ledgerhq/ptx
apps/ledger-live-mobile/src/reducers/swap.ts                         @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/Exchange/                        @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/PTX/                             @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/Swap/                            @ledgerhq/ptx
libs/ledger-live-common/src/exchange/                                @ledgerhq/ptx
libs/exchange-module/                                                @ledgerhq/ptx
libs/ledgerjs/packages/hw-app-exchange/                              @ledgerhq/ptx
# Wallet API team
**/PlatformAppProviderWrapper.tsx                        @ledgerhq/wallet-api
**/Web3AppWebview/                                       @ledgerhq/wallet-api
**/WebPlatformPlayer/                                    @ledgerhq/wallet-api
apps/ledger-live-desktop/src/renderer/screens/platform/  @ledgerhq/wallet-api
apps/ledger-live-desktop/src/webviewPreloader/           @ledgerhq/wallet-api
apps/ledger-live-mobile/src/screens/Discover/            @ledgerhq/wallet-api
apps/ledger-live-mobile/src/screens/Platform/            @ledgerhq/wallet-api
libs/ledger-live-common/src/platform/                    @ledgerhq/wallet-api
libs/ledger-live-common/src/wallet-api/                  @ledgerhq/wallet-api
**/platformAdapter.ts                                    @ledgerhq/wallet-api
**/walletApiAdapter.ts                                   @ledgerhq/wallet-api
**/liveapp-sdk.spec.ts                                   @ledgerhq/wallet-api
**/confirmTransaction.spec.ts                             @ledgerhq/wallet-api
**/wallet-api.spec.ts                                    @ledgerhq/wallet-api
**/wallet-api.spec.ts-snapshots/                         @ledgerhq/wallet-api
**/dapp.spec.ts                                          @ledgerhq/wallet-api
libs/test-utils/                                         @ledgerhq/wallet-api
apps/ledger-live-mobile/src/newArch/features/Web3Hub/    @ledgerhq/wallet-api

# Devices team
apps/cli/src/commands/devices                                      @ledgerhq/live-devices
**/src/renderer/screens/manager/                                   @ledgerhq/live-devices
**/screens/customImage 																				 		 @ledgerhq/live-devices
**/components/CustomImage																		 	 		 @ledgerhq/live-devices
**/screens/CustomImage 																				 		 @ledgerhq/live-devices
**/SyncOnboarding/**                                               @ledgerhq/live-devices
**/OnboardingAppInstall/**																				 @ledgerhq/live-devices
**/UpdateFirmwareModal/**																					 @ledgerhq/live-devices
apps/**/components/DeviceAction/                                   @ledgerhq/live-devices
apps/ledger-live-mobile/src/screens/MyLedger*/             	       @ledgerhq/live-devices
apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/       @ledgerhq/live-devices
apps/web-tools/repl/                                               @ledgerhq/live-devices
libs/**/devices/                                                   @ledgerhq/live-devices
libs/**/hw-transport-*/                                            @ledgerhq/live-devices
libs/**/react-native-*/                                            @ledgerhq/live-devices
libs/**/swift-*/                                                   @ledgerhq/live-devices
libs/**/types-devices/                                             @ledgerhq/live-devices
libs/ledger-live-common/src/apps/                                  @ledgerhq/live-devices
libs/ledger-live-common/src/hw/                                    @ledgerhq/live-devices
libs/ledger-live-common/src/manager/                               @ledgerhq/live-devices
libs/ledger-live-common/src/device/                                @ledgerhq/live-devices
libs/ledger-live-common/src/deviceSDK/                             @ledgerhq/live-devices
libs/device-core/                                                  @ledgerhq/live-devices
libs/device-react/                                                 @ledgerhq/live-devices
libs/speculos-transport/                                           @ledgerhq/live-devices @ledgerhq/qaa

# Recover team
apps/ledger-live-desktop/src/renderer/components/RecoverBanner/         @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/components/RecoverRestore/        @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/components/WebRecoverPlayer/      @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/           @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/screens/recover/                  @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/RecoverBanner/                   @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/ServicesWidget/Protect/          @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/WebRecoverPlayer/                @ledgerhq/recover-software
apps/ledger-live-mobile/src/screens/Protect/                            @ledgerhq/recover-software
libs/ledger-live-common/src/hooks/recoverFeatureFlag.ts                 @ledgerhq/recover-software

# Live hub overrides

apps/web-tools/trustchain/                               @ledgerhq/live-hub

# UI tests
apps/ledger-live-desktop/tests/                          @ledgerhq/live-hub @ledgerhq/qaa
apps/ledger-live-mobile/e2e/                             @ledgerhq/live-hub @ledgerhq/qaa

# Cross-team generic files can be opted out (no strict ownership when it concerns everyone)
apps/ledger-live-desktop/static/i18n/
apps/ledger-live-mobile/src/locales/
apps/ledger-live-mobile/src/components/RootNavigator/
apps/ledger-live-mobile/src/const/navigation.ts
apps/**/package.json
libs/ledgerjs/packages/errors/src/index.ts
libs/ledger-live-common/src/config/sharedConfig.ts
libs/ledger-live-common/package.json
**/generated/

fix(LIVE-14403): Fix crash demo 0
  libs/ledger-live-common/src/exchange/swap/utils/index.ts
Owners: @ledgerhq/ptx

fix(LIVE-14403): changeset
  .changeset/popular-flies-perform.md
Owners: none

feat: upgrade `celo/signOperation` to use hw-app-eth
  libs/ledger-live-common/src/families/celo/hw-app-celo.ts
  libs/ledger-live-common/src/families/celo/signOperation.ts
Owners: @ledgerhq/live-blockchain-support

wip
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/Swap.ts
  apps/ledger-live-desktop/tests/page/drawer/choose.asset.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/drawer.ts
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-tests-app.json
Owners: @ledgerhq/live-hub, @ledgerhq/qaa

Fix/live 14403 (#8040)
  .changeset/eighty-sheep-join.md
  .changeset/popular-flies-perform.md
  libs/ledger-live-common/src/exchange/swap/types.ts
  libs/ledger-live-common/src/exchange/swap/updateAccountSwapStatus.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.ts
Owners: @ledgerhq/ptx

feat(LIVE-14355): add TOS link thorswap
  apps/ledger-live-desktop/TERMS.md
Owners: @ledgerhq/live-hub

feat(LIVE-14355): changeset
  .changeset/slow-cows-mate.md
Owners: none

fix(lld/firmwareupdate): "new language available" missing buttons
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/UpdateStepFooterWrapper.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/helpers/createFirmwareUpdateSteps.ts
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/index.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/00-step-reset-device.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/02-step-restore.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/03-step-confirmation.tsx
  apps/ledger-live-desktop/src/renderer/modals/UpdateFirmwareModal/steps/restore/Language.tsx
Owners: @ledgerhq/live-devices

feat(lld/llm): add support to new device language packs
  .changeset/big-apples-smash.md
  apps/ledger-live-desktop/src/config/languages.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/specs/manager/devicelocalization.spec.ts-snapshots/manager-language-installation-complete-linux.png
  apps/ledger-live-mobile/src/languages.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledgerjs/packages/types-live/src/languages.ts
Owners: @ledgerhq/live-hub, @ledgerhq/qaa

File apps/ledger-live-mobile/src/locales/en/common.json was translated to ar-AE locale
  apps/ledger-live-mobile/src/locales/ar/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to zh-CN locale
  apps/ledger-live-mobile/src/locales/zh/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to fr-FR locale
  apps/ledger-live-mobile/src/locales/fr/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to de-DE locale
  apps/ledger-live-mobile/src/locales/de/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to ja-JP locale
  apps/ledger-live-mobile/src/locales/ja/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to ko-KR locale
  apps/ledger-live-mobile/src/locales/ko/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to pt-BR locale
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to ru-RU locale
  apps/ledger-live-mobile/src/locales/ru/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to es-ES locale
  apps/ledger-live-mobile/src/locales/es/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was translated to tr-TR locale
  apps/ledger-live-mobile/src/locales/tr/common.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to ar-AE locale
  apps/ledger-live-desktop/static/i18n/ar/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to zh-CN locale
  apps/ledger-live-desktop/static/i18n/zh/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to fr-FR locale
  apps/ledger-live-desktop/static/i18n/fr/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to de-DE locale
  apps/ledger-live-desktop/static/i18n/de/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to ja-JP locale
  apps/ledger-live-desktop/static/i18n/ja/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to ko-KR locale
  apps/ledger-live-desktop/static/i18n/ko/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to pt-BR locale
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to ru-RU locale
  apps/ledger-live-desktop/static/i18n/ru/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to es-ES locale
  apps/ledger-live-desktop/static/i18n/es/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was translated to tr-TR locale
  apps/ledger-live-desktop/static/i18n/tr/app.json
Owners: none

Feat/live 14355 TOS Thorswap (#8036)
  .changeset/slow-cows-mate.md
  apps/ledger-live-desktop/TERMS.md
Owners: @ledgerhq/live-hub

ensure web3
  .pnpmfile.cjs
  pnpm-lock.yaml
Owners: none

feat(mina): add init files and coin mina
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  libs/coin-framework/src/derivation.ts
  libs/coin-modules/coin-mina/.eslintrc.js
  libs/coin-modules/coin-mina/.unimportedrc.json
  libs/coin-modules/coin-mina/CHANGELOG.md
  libs/coin-modules/coin-mina/jest.config.js
  libs/coin-modules/coin-mina/package.json
  libs/coin-modules/coin-mina/src/account.ts
  libs/coin-modules/coin-mina/src/api/index.ts
  libs/coin-modules/coin-mina/src/bridge/js.ts
  libs/coin-modules/coin-mina/src/config.ts
  libs/coin-modules/coin-mina/src/hw-getAddress.ts
  libs/coin-modules/coin-mina/src/js-broadcast.ts
  libs/coin-modules/coin-mina/src/js-buildTransaction.ts
  libs/coin-modules/coin-mina/src/js-estimateMaxSpendable.ts
  libs/coin-modules/coin-mina/src/js-getFeesForTransaction.ts
  libs/coin-modules/coin-mina/src/js-getTransactionStatus.ts
  libs/coin-modules/coin-mina/src/js-signOperation.ts
  libs/coin-modules/coin-mina/src/js-synchronisation.ts
  libs/coin-modules/coin-mina/src/js-transaction.ts
  libs/coin-modules/coin-mina/src/logic.ts
  libs/coin-modules/coin-mina/src/signer.ts
  libs/coin-modules/coin-mina/src/transaction.ts
  libs/coin-modules/coin-mina/src/types.ts
  libs/coin-modules/coin-mina/tsconfig.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/__tests__/migration/account-migration.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/families/mina/bridge.integration.test.ts
  libs/ledger-live-common/src/families/mina/config.ts
  libs/ledger-live-common/src/families/mina/constants.ts
  libs/ledger-live-common/src/families/mina/logic.ts
  libs/ledger-live-common/src/families/mina/react.ts
  libs/ledger-live-common/src/families/mina/setup.ts
  libs/ledger-live-common/src/families/mina/types.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-cryptoassets/src/slip44.ts
  libs/ledgerjs/packages/types-live/src/derivation.ts
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub

feat(mina): add getAddress support
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/web-tools/live-common-setup.ts
  libs/coin-modules/coin-mina/src/account.ts
  libs/coin-modules/coin-mina/src/bridge/js.ts
  libs/coin-modules/coin-mina/src/cli-transaction.ts
  libs/coin-modules/coin-mina/src/hw-getAddress.ts
  libs/coin-modules/coin-mina/src/js-signOperation.ts
  libs/coin-modules/coin-mina/src/logic.test.ts
  libs/coin-modules/coin-mina/src/logic.ts
  libs/coin-modules/coin-mina/src/signer.ts
  libs/coin-modules/coin-mina/src/types.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/scripts/sync-families-dispatch.mjs
  libs/ledger-live-common/src/families/mina/bridge.integration.test.ts
  libs/ledger-live-common/src/families/mina/config.ts
  libs/ledger-live-common/src/families/mina/constants.ts
  libs/ledger-live-common/src/families/mina/logic.ts
  libs/ledger-live-common/src/families/mina/react.ts
  libs/ledger-live-common/src/families/mina/setup.ts
  libs/ledger-live-common/src/families/mina/types.ts
  libs/ledger-live-common/src/generated/bridge/js.ts
  libs/ledger-live-common/src/generated/cli-transaction.ts
  libs/ledger-live-common/src/generated/hw-getAddress.ts
  libs/ledger-live-common/src/generated/transaction.ts
  package.json
  pnpm-lock.yaml
Owners: @ledgerhq/live-blockchain-support

feat(mina): support send using cli
  libs/coin-modules/coin-mina/src/api/index.ts
  libs/coin-modules/coin-mina/src/api/rosetta/index.ts
  libs/coin-modules/coin-mina/src/api/rosetta/rosetta.unit.test.ts
  libs/coin-modules/coin-mina/src/api/rosetta/types.ts
  libs/coin-modules/coin-mina/src/api/rosetta/utils.ts
  libs/coin-modules/coin-mina/src/broadcast.ts
  libs/coin-modules/coin-mina/src/buildTransaction.ts
  libs/coin-modules/coin-mina/src/consts.ts
  libs/coin-modules/coin-mina/src/estimateMaxSpendable.ts
  libs/coin-modules/coin-mina/src/getFeesForTransaction.ts
  libs/coin-modules/coin-mina/src/logic.ts
  libs/coin-modules/coin-mina/src/prepareTransaction.ts
  libs/coin-modules/coin-mina/src/signOperation.ts
  libs/coin-modules/coin-mina/src/signer.ts
  libs/coin-modules/coin-mina/src/synchronisation.ts
  libs/coin-modules/coin-mina/src/types.ts
Owners: @ledgerhq/live-blockchain-support

refac(mina): using new conventions
  libs/coin-modules/coin-mina/src/bridge/js.ts
  libs/coin-modules/coin-mina/src/broadcast.ts
  libs/coin-modules/coin-mina/src/buildTransaction.ts
  libs/coin-modules/coin-mina/src/createTransaction.ts
  libs/coin-modules/coin-mina/src/estimateMaxSpendable.ts
  libs/coin-modules/coin-mina/src/getFeesForTransaction.ts
  libs/coin-modules/coin-mina/src/getTransactionStatus.ts
  libs/coin-modules/coin-mina/src/js-transaction.ts
  libs/coin-modules/coin-mina/src/prepareTransaction.ts
  libs/coin-modules/coin-mina/src/signOperation.ts
  libs/coin-modules/coin-mina/src/synchronisation.ts
  libs/coin-modules/coin-mina/src/transaction.ts
Owners: @ledgerhq/live-blockchain-support

feat(mina): add sync
  libs/coin-framework/src/derivation.ts
  libs/coin-modules/coin-mina/src/api/index.ts
  libs/coin-modules/coin-mina/src/api/rosetta/index.ts
  libs/coin-modules/coin-mina/src/api/rosetta/types.ts
  libs/coin-modules/coin-mina/src/api/rosetta/utils.ts
  libs/coin-modules/coin-mina/src/consts.ts
  libs/coin-modules/coin-mina/src/js-signOperation.ts
  libs/coin-modules/coin-mina/src/js-synchronisation.ts
  libs/coin-modules/coin-mina/src/logic.ts
  libs/ledger-live-common/src/config/sharedConfig.ts
  libs/ledger-live-common/src/families/mina/config.ts
Owners: @ledgerhq/live-blockchain-support

feat(mina): add address validation
  libs/coin-modules/coin-mina/package.json
  libs/coin-modules/coin-mina/src/api/rosetta/rosetta.unit.test.ts
  libs/coin-modules/coin-mina/src/consts.ts
  libs/coin-modules/coin-mina/src/logic.test.ts
  libs/coin-modules/coin-mina/src/logic.ts
Owners: @ledgerhq/live-blockchain-support

feat(mina): add support on lld
  apps/ledger-live-desktop/src/renderer/families/mina/AccountSubHeader.tsx
  apps/ledger-live-desktop/src/renderer/families/mina/MemoField.tsx
  apps/ledger-live-desktop/src/renderer/families/mina/SendAmountFields.tsx
  apps/ledger-live-desktop/src/renderer/families/mina/index.ts
  apps/ledger-live-desktop/src/renderer/families/mina/operationDetails.tsx
  apps/ledger-live-desktop/src/renderer/families/mina/types.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/coin-modules/coin-mina/package.json
  libs/coin-modules/coin-mina/src/api/index.ts
  libs/coin-modules/coin-mina/src/consts.ts
  libs/coin-modules/coin-mina/src/deviceTransactionConfig.ts
  libs/coin-modules/coin-mina/src/errors.ts
  libs/coin-modules/coin-mina/src/getTransactionStatus.ts
  libs/coin-modules/coin-mina/src/hw-getAddress.ts
  libs/coin-modules/coin-mina/src/logic.ts
  libs/coin-modules/coin-mina/src/prepareTransaction.ts
  libs/coin-modules/coin-mina/src/signOperation.ts
  libs/coin-modules/coin-mina/src/signer.ts
  libs/coin-modules/coin-mina/src/synchronisation.ts
  libs/coin-modules/coin-mina/src/types.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/families/mina/config.ts
  libs/ledger-live-common/src/families/mina/setup.ts
  libs/ledger-live-common/src/families/mina/types.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledger-live-common/src/generated/deviceTransactionConfig.ts
  libs/ledger-live-common/src/generated/types.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub

refac(mina): finalize mainnet usage
  libs/coin-modules/coin-mina/src/api/api.unit.test.ts
  libs/coin-modules/coin-mina/src/api/index.ts
  libs/coin-modules/coin-mina/src/api/rosetta/index.ts
  libs/coin-modules/coin-mina/src/api/rosetta/types.ts
  libs/coin-modules/coin-mina/src/buildTransaction.ts
  libs/coin-modules/coin-mina/src/consts.ts
  libs/coin-modules/coin-mina/src/synchronisation.ts
  libs/ledger-live-common/src/families/mina/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/mina/config.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Owners: @ledgerhq/live-blockchain-support

refac(mina): update derivation path
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/coin-framework/src/derivation.ts
  libs/ledger-live-common/src/hw/actions/implementations.ts
  libs/ledgerjs/packages/types-live/src/derivation.ts
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-devices, @ledgerhq/live-hub
