Repository LedgerHQ/ledger-live, changes with the owners that CODEOWNERS names for each.
All owners: @ledgerhq/live-devx, @ledgerhq/live-blockchain-support, @ledgerhq/live-platform-and-services, @ledgerhq/live-devices, @ledgerhq/live-qa, @gre

CODEOWNERS:

# Live DX Team

.github/              @ledgerhq/live-devx
scripts/              @ledgerhq/live-devx
tools/                @ledgerhq/live-devx
fastlane/             @ledgerhq/live-devx

# Live Blockchain Support Team

apps/**/families/                                               @ledgerhq/live-blockchain-support
ledger-live-desktop/src/live-common-set-supported-currencies.*  @ledgerhq/live-blockchain-support
ledger-live-mobile/src/live-common-setup.*                      @ledgerhq/live-blockchain-support
ledger-live-common/src/families                                 @ledgerhq/live-blockchain-support
ledgerjs/packages/cryptoassets                                  @ledgerhq/live-blockchain-support
ledgerjs/packages/types-cryptoassets                            @ledgerhq/live-blockchain-support
ledgerjs/packages/hw-app-*                                      @ledgerhq/live-blockchain-support

# Live Platform and Services Team

ledger-live-desktop/src/renderer/screens/exchange/  @ledgerhq/live-platform-and-services
ledger-live-mobile/src/screens/Exchange/            @ledgerhq/live-platform-and-services
ledger-live-common/src/exchange/                    @ledgerhq/live-platform-and-services
ledger-live-common/src/platform/                    @ledgerhq/live-platform-and-services

# Live Devices Team

apps/**/components/DeviceAction/        @ledgerhq/live-devices
ledger-live-mobile/src/screens/Manager/ @ledgerhq/live-devices
ledger-live-common/src/hw/              @ledgerhq/live-devices
ledger-live-common/src/apps/            @ledgerhq/live-devices
ledger-live-common/src/manager/         @ledgerhq/live-devices
ledgerjs/packages/types-devices/        @ledgerhq/live-devices
ledgerjs/packages/devices/              @ledgerhq/live-devices
ledgerjs/packages/hw-transport-*        @ledgerhq/live-devices
ledgerjs/packages/react-native-*        @ledgerhq/live-devices


# Live QA Team
ledger-live-desktop/tests/**/*-snapshots/ @ledgerhq/live-qa

# Cross-teams
.github/**/bot-*.yml                 @gre @ledgerhq/live-blockchain-support @ledgerhq/live-qa
ledgerjs/packages/types-live/        @gre @ledgerhq/live-blockchain-support @ledgerhq/live-platform-and-services @ledgerhq/live-devices

Delete c chain
  libs/ledger-live-common/src/families/avalanchecchain/api/client.ts
  libs/ledger-live-common/src/families/avalanchecchain/api/index.ts
  libs/ledger-live-common/src/families/avalanchecchain/api/sdk.ts
  libs/ledger-live-common/src/families/avalanchecchain/bridge/js.ts
  libs/ledger-live-common/src/families/avalanchecchain/cli-transaction.ts
  libs/ledger-live-common/src/families/avalanchecchain/deviceTransactionConfig.ts
  libs/ledger-live-common/src/families/avalanchecchain/hw-app-avalanche.ts
  libs/ledger-live-common/src/families/avalanchecchain/hw-getAddress.ts
  libs/ledger-live-common/src/families/avalanchecchain/js-broadcast.ts
  libs/ledger-live-common/src/families/avalanchecchain/js-buildTransaction.ts
  libs/ledger-live-common/src/families/avalanchecchain/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/avalanchecchain/js-getFeesForTransaction.ts
  libs/ledger-live-common/src/families/avalanchecchain/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/avalanchecchain/js-signOperation.ts
  libs/ledger-live-common/src/families/avalanchecchain/js-synchronisation.ts
  libs/ledger-live-common/src/families/avalanchecchain/js-transaction.ts
  libs/ledger-live-common/src/families/avalanchecchain/logic.ts
  libs/ledger-live-common/src/families/avalanchecchain/specs.ts
  libs/ledger-live-common/src/families/avalanchecchain/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/avalanchecchain/transaction.ts
  libs/ledger-live-common/src/families/avalanchecchain/types.ts
Owners: none

Fix sortByMarketcap inferring by ticker (collisions)
  libs/ledger-live-common/src/currencies/sortByMarketcap.ts
Owners: none

Fix key
  apps/ledger-live-mobile/src/families/avalanchepchain/Delegations/index.tsx
Owners: @ledgerhq/live-blockchain-support

Merge navigation.ts
  apps/ledger-live-mobile/src/const/navigation.ts
Owners: none

export avalanche
  apps/ledger-live-mobile/src/families/index.ts
Owners: @ledgerhq/live-blockchain-support

Add can send and can receive checks
  apps/ledger-live-mobile/src/screens/Account/hooks/useActions.tsx
Owners: none

Add TransactionConfirmFields
  apps/ledger-live-mobile/src/families/avalanchepchain/TransactionConfirmFields.js
Owners: @ledgerhq/live-blockchain-support

Remove imports
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/02-Amount.tsx
Owners: @ledgerhq/live-blockchain-support

Add a notion of "priority" to currency sorting in registerCryptoCurrency to handle ticker collision
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Owners: none

Update cryptoassets doc
  libs/ledgerjs/packages/cryptoassets/README.md
Owners: none

Update podfile and pnpm-lock
  apps/ledger-live-mobile/ios/Podfile
  apps/ledger-live-mobile/ios/Podfile.lock
  pnpm-lock.yaml
Owners: none

Update common.json
  apps/ledger-live-mobile/src/locales/en/common.json
Owners: none

Add operationDetails
  apps/ledger-live-mobile/src/families/avalanchepchain/operationDetails.tsx
Owners: @ledgerhq/live-blockchain-support

Update maxEndTime on validator change
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/02-Summary.tsx
Owners: @ledgerhq/live-blockchain-support

Formatting
  apps/ledger-live-mobile/src/families/avalanchepchain/index.js
Owners: @ledgerhq/live-blockchain-support

Add learnMoreStakingParameters
  apps/ledger-live-mobile/src/config/urls.tsx
Owners: none

Fix imports + formatting
  apps/ledger-live-mobile/src/families/avalanchepchain/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/02-Amount.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/02-EndDate.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/04-ValidationSuccess.js
  apps/ledger-live-mobile/src/families/avalanchepchain/Delegations/LabelRight.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/Delegations/Row.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/TransactionConfirmFields.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/accountActions.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/operationDetails.tsx
Owners: @ledgerhq/live-blockchain-support

add notEnoughToDelegate text
  apps/ledger-live-mobile/src/locales/en/common.json
Owners: none

Fix imports + add not enough to delegate alert
  apps/ledger-live-mobile/src/families/avalanchepchain/Delegations/index.tsx
Owners: @ledgerhq/live-blockchain-support

Lint
  apps/ledger-live-mobile/src/families/avalanchepchain/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/02-Amount.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/02-EndDate.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/index.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/Delegations/LabelRight.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/Delegations/Row.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/Delegations/index.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/SelectValidator.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/TransactionConfirmFields.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/ValidatorRow.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/accountActions.tsx
  apps/ledger-live-mobile/src/screens/Account/hooks/useActions.tsx
Owners: @ledgerhq/live-blockchain-support

Lint
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/02-Amount.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/02-EndDate.tsx
Owners: @ledgerhq/live-blockchain-support

Lint
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/index.tsx
Owners: @ledgerhq/live-blockchain-support

Lint
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/02-EndDate.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/Delegations/index.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/TransactionConfirmFields.tsx
  apps/ledger-live-mobile/src/families/avalanchepchain/accountActions.tsx
Owners: @ledgerhq/live-blockchain-support

LIVE-1683-move separator (#975)
  .changeset/healthy-toes-knock.md
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.jsx
Owners: none

Improve mobile env documentation (#1298)
  apps/ledger-live-mobile/mobile-env.md
  apps/ledger-live-mobile/scripts/mobile-env-md.mjs
Owners: @ledgerhq/live-devx

feat(desktop): WIP add new sync onboarding flow entry point
  apps/ledger-live-desktop/src/renderer/Default.jsx
  apps/ledger-live-desktop/src/renderer/components/DeviceIllustration.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectDevice/DeviceSelector.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectDevice/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Pairing/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/index.tsx
Owners: none

add vertical timeline
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
Owners: none

fix height and header vertical timeline
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  libs/ui/packages/react/src/components/layout/List/VerticalTimeline/TimelineItem.tsx
Owners: none

feat(desktop): add an help drawer to the sync onboarding
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/HelpDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ui/packages/react/src/components/asorted/Text/styles.ts
  libs/ui/packages/react/src/components/layout/Drawer/index.tsx
Owners: none

chore: generate changeset
  .changeset/modern-years-relate.md
Owners: none

add video welcome screen onboarding
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/Carousel.tsx
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/assets/accessCrypto.png
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/assets/ownPrivateKey.png
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/assets/setupNano.png
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/assets/stayOffline.png
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/assets/validateTransactions.png
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/index.tsx
Owners: none

fix flex in vertical timeline
  libs/ui/packages/react/src/components/layout/List/VerticalTimeline/TimelineItem.tsx
Owners: none

add desync overlay
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/DesyncOverlay.tsx
Owners: none

fix overlay button
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/DesyncOverlay.tsx
Owners: none

fix sync overlay
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/DesyncOverlay.tsx
Owners: none

fix: center vertical timeline
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
Owners: none

fix(desktop): webm not loading fix
  apps/ledger-live-desktop/tools/config/common.esbuild.js
Owners: @ledgerhq/live-devx

Feat/software check sync onboarding (#822)
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/GenuineCheckModal.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/SoftwareCheckContent.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Owners: none

Feat/fat 161 onboarding usb pairing (#770)
  apps/ledger-live-desktop/src/internal/commands/getOnboardingStatePolling.ts
  apps/ledger-live-desktop/src/internal/commands/index.js
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/SelectDevice/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/DeviceConnection/Searching.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/DeviceConnection/Success.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/DeviceConnection/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Pairing/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/index.tsx
  apps/ledger-live-desktop/src/renderer/reducers/devices.js
  apps/ledger-live-desktop/static/i18n/en/app.json
Owners: none

Feat/add completion screen onboarding (#865)
  .changeset/lucky-radios-beam.md
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/CompletionScreen.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/Manual/index.tsx
  apps/ledger-live-desktop/src/renderer/components/SyncOnboarding/index.tsx
Owners: none
