Repository LedgerHQ/ledger-live, changes with the owners that CODEOWNERS names for each.
All owners: @ledgerhq/live-hub, @ledgerhq/live-blockchain-support, @ledgerhq/ptx, @ledgerhq/wallet-api, @ledgerhq/live-devices, @ledgerhq/qaa, @ledgerhq/recover-software

test(mina): fix integration tests
  libs/coin-framework/src/derivation.ts
  libs/coin-modules/coin-mina/src/api/api.unit.test.ts
  libs/coin-modules/coin-mina/src/api/index.ts
  libs/coin-modules/coin-mina/src/api/rosetta/index.ts
  libs/coin-modules/coin-mina/src/api/rosetta/rosetta.unit.test.ts
  libs/coin-modules/coin-mina/src/api/rosetta/types.ts
  libs/coin-modules/coin-mina/src/bridge.integration.test.ts
  libs/coin-modules/coin-mina/src/synchronisation.ts
  libs/coin-modules/coin-mina/src/testUtils.ts
  libs/ledger-live-common/src/families/mina/__snapshots__/bridge.integration.test.ts.snap
  libs/ui/packages/crypto-icons/src/svg/MINA.svg
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub

fix(mina): improve llm
  apps/ledger-live-mobile/src/families/mina/ScreenEditMemo.tsx
  libs/coin-modules/coin-mina/src/deviceTransactionConfig.ts
  libs/coin-modules/coin-mina/src/getTransactionStatus.ts
Owners: @ledgerhq/live-blockchain-support

test(mina): add bot tests specs
  libs/coin-modules/coin-mina/src/specs.ts
  libs/coin-modules/coin-mina/src/speculos-deviceActions.ts
  libs/ledger-live-common/src/generated/specs.ts
Owners: @ledgerhq/live-blockchain-support

feat(mina): add support for llm
  apps/ledger-live-mobile/src/components/RootNavigator/types/SendFundsNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SignTransactionNavigator.ts
  apps/ledger-live-mobile/src/components/RootNavigator/types/SwapNavigator.ts
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/families/index.ts
  apps/ledger-live-mobile/src/families/mina/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/families/mina/ScreenEditMemo.tsx
  apps/ledger-live-mobile/src/families/mina/SendRowMemo.tsx
  apps/ledger-live-mobile/src/families/mina/SendRowsCustom.tsx
  apps/ledger-live-mobile/src/families/mina/index.ts
  apps/ledger-live-mobile/src/families/mina/operationDetails.tsx
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub

feat: add mina svg icon
  libs/ui/packages/crypto-icons/src/svg/MINA.svg
Owners: @ledgerhq/live-hub

test(mina): add bridge integration tests
  libs/coin-modules/coin-mina/src/bridge.integration.test.ts
  libs/ledger-live-common/src/families/mina/bridge.integration.test.ts
Owners: @ledgerhq/live-blockchain-support

chore(mina): changeset
  .changeset/witty-socks-tan.md
Owners: none

chore(mina): update pnpm-lock.yaml
  pnpm-lock.yaml
Owners: none

chore(mina): post refac fixed
  libs/ledger-live-common/scripts/sync-families-dispatch.mjs
  libs/ledger-live-common/src/generated/bridge/js.ts
  libs/ledger-live-common/src/generated/cli-transaction.ts
  libs/ledger-live-common/src/generated/deviceTransactionConfig.ts
  libs/ledger-live-common/src/generated/hw-getAddress.ts
  libs/ledger-live-common/src/generated/specs.ts
  libs/ledger-live-common/src/generated/transaction.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
Owners: @ledgerhq/live-blockchain-support

File apps/ledger-live-desktop/static/i18n/en/app.json was updated on ru-RU locale
  apps/ledger-live-desktop/static/i18n/ru/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was updated on de-DE locale
  apps/ledger-live-desktop/static/i18n/de/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was updated on ko-KR locale
  apps/ledger-live-desktop/static/i18n/ko/app.json
Owners: none

🥅(lld): add custom errors for send flow
  .changeset/thick-candles-visit.md
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/errors/sendFlow.ts
Owners: @ledgerhq/live-hub

File apps/ledger-live-desktop/static/i18n/en/app.json was updated on pt-BR locale
  apps/ledger-live-desktop/static/i18n/pt-BR/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was updated on es-ES locale
  apps/ledger-live-desktop/static/i18n/es/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was updated on tr-TR locale
  apps/ledger-live-desktop/static/i18n/tr/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was updated on ar-AE locale
  apps/ledger-live-desktop/static/i18n/ar/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was updated on fr-FR locale
  apps/ledger-live-desktop/static/i18n/fr/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was updated on zh-CN locale
  apps/ledger-live-desktop/static/i18n/zh/app.json
Owners: none

File apps/ledger-live-desktop/static/i18n/en/app.json was updated on ja-JP locale
  apps/ledger-live-desktop/static/i18n/ja/app.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was updated on ru-RU locale
  apps/ledger-live-mobile/src/locales/ru/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was updated on de-DE locale
  apps/ledger-live-mobile/src/locales/de/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was updated on ko-KR locale
  apps/ledger-live-mobile/src/locales/ko/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was updated on pt-BR locale
  apps/ledger-live-mobile/src/locales/pt-BR/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was updated on es-ES locale
  apps/ledger-live-mobile/src/locales/es/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was updated on tr-TR locale
  apps/ledger-live-mobile/src/locales/tr/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was updated on ar-AE locale
  apps/ledger-live-mobile/src/locales/ar/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was updated on fr-FR locale
  apps/ledger-live-mobile/src/locales/fr/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was updated on zh-CN locale
  apps/ledger-live-mobile/src/locales/zh/common.json
Owners: none

File apps/ledger-live-mobile/src/locales/en/common.json was updated on ja-JP locale
  apps/ledger-live-mobile/src/locales/ja/common.json
Owners: none

refactor: add swapNg
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.ts
Owners: @ledgerhq/ptx

wip
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
Owners: @ledgerhq/live-hub, @ledgerhq/qaa

build: temp - turn off all turbo-based PR workflows
  .github/workflows/build-and-test-pr.yml
Owners: none

🥅(lld): add custom errors for send flow (#8042)
  .changeset/thick-candles-visit.md
  libs/ledger-live-common/.unimportedrc.json
  libs/ledger-live-common/src/errors/sendFlow.ts
Owners: @ledgerhq/live-hub

build: temp - force iOS E2E execution only
  .github/workflows/build-and-test-pr.yml
  .github/workflows/test-mobile-e2e-reusable.yml
Owners: none

working display of team link
  apps/ledger-live-desktop/src/renderer/components/AccountSubHeader/AccountSubHeaderDrawer.tsx
  apps/ledger-live-desktop/src/renderer/components/AccountSubHeader/index.tsx
  apps/ledger-live-desktop/src/renderer/families/casper/AccountSubHeader.tsx
  apps/ledger-live-desktop/src/renderer/families/filecoin/AccountSubHeader.tsx
  apps/ledger-live-desktop/src/renderer/families/internet_computer/AccountSubHeader.tsx
  apps/ledger-live-desktop/src/renderer/families/stacks/AccountSubHeader.tsx
  apps/ledger-live-desktop/src/renderer/families/ton/AccountSubHeader.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/AccountSubHeader/AccountSubHeaderDrawer.tsx
  apps/ledger-live-mobile/src/components/AccountSubHeader/index.tsx
  apps/ledger-live-mobile/src/families/casper/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/families/filecoin/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/families/internet_computer/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/families/stacks/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/families/ton/AccountSubHeader.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Owners: @ledgerhq/live-hub, @ledgerhq/live-blockchain-support

changeset
  .changeset/loud-donkeys-smash.md
Owners: none

missing teamLink dep
  apps/ledger-live-mobile/src/components/AccountSubHeader/AccountSubHeaderDrawer.tsx
Owners: @ledgerhq/live-hub

lint
  apps/ledger-live-desktop/src/renderer/families/stacks/AccountSubHeader.tsx
Owners: @ledgerhq/live-blockchain-support

wip
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainApplication.kt
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/android/gradle/wrapper/gradle-wrapper.properties
  apps/ledger-live-mobile/android/gradlew.bat
  apps/ledger-live-mobile/ios/Podfile
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.mm
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/ios/ledgerlivemobile/PrivacyInfo.xcprivacy
  apps/ledger-live-mobile/metro.config.js
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Owners: @ledgerhq/live-hub

CODEOWNERS:

# How does it work? => https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.

# Hub team
## by default, hub manage apps and libs related to it & then we overrides many exceptions
apps/cli/src/commands/live                               @ledgerhq/live-hub
apps/ledger-live-desktop/                                @ledgerhq/live-hub
apps/ledger-live-mobile/                                 @ledgerhq/live-hub
libs/**/errors/                                          @ledgerhq/live-hub
libs/**/logs/                                            @ledgerhq/live-hub
libs/**/types-live/                                      @ledgerhq/live-hub
libs/env/                                                @ledgerhq/live-hub
libs/ledger-live-common/src/                             @ledgerhq/live-hub
libs/live-countervalues-react/                           @ledgerhq/live-hub
libs/live-countervalues/                                 @ledgerhq/live-hub
libs/live-hooks/                                         @ledgerhq/live-hub
libs/live-nft-react/                                     @ledgerhq/live-hub
libs/live-nft/                                           @ledgerhq/live-hub
libs/promise/                                            @ledgerhq/live-hub
libs/ui/                                                 @ledgerhq/live-hub
libs/live-hooks/										 @ledgerhq/live-hub
libs/live-countervalues/								 @ledgerhq/live-hub
libs/live-countervalues-react/ 						     @ledgerhq/live-hub
libs/live-nft/                                           @ledgerhq/live-hub
libs/live-nft-react/                                     @ledgerhq/live-hub
libs/live-wallet/                                        @ledgerhq/live-hub
libs/trustchain/                                         @ledgerhq/live-hub
libs/hw-trustchain/                                      @ledgerhq/live-hub

# Blockchain team
.github/**/bot-*.yml                                     @ledgerhq/live-blockchain-support
**/live-common-set*.ts                                   @ledgerhq/live-blockchain-support
apps/**/families/                                        @ledgerhq/live-blockchain-support
apps/cli/src/commands/blockchain                         @ledgerhq/live-blockchain-support
apps/web-tools/                                          @ledgerhq/live-blockchain-support
docs/                                                    @ledgerhq/live-blockchain-support
libs/coin-*/                                             @ledgerhq/live-blockchain-support
libs/domain-service/                                     @ledgerhq/live-blockchain-support
libs/evm-tools/                                          @ledgerhq/live-blockchain-support
libs/ledger-live-common/src/bot/                         @ledgerhq/live-blockchain-support
libs/ledger-live-common/src/families/                    @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/cryptoassets/                     @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/hw-app-*/                         @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/types-cryptoassets/               @ledgerhq/live-blockchain-support
libs/live-config/                                        @ledgerhq/live-blockchain-support
libs/live-network/                                       @ledgerhq/live-blockchain-support

# PTX team
apps/cli/src/commands/ptx                                            @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/components/ProviderIcon/       @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/       @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/hooks/swap-migrations/         @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/drawers/SwapOperationDetails/  @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/modals/Platform/               @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/modals/StartStake/             @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/reducers/swap.ts               @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/earn/                  @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/exchange/              @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/stake/                 @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/swapWeb/               @ledgerhq/ptx
apps/ledger-live-mobile/src/actions/earn.ts                          @ledgerhq/ptx
apps/ledger-live-mobile/src/actions/swap.ts                          @ledgerhq/ptx
apps/ledger-live-mobile/src/components/ProviderIcon/                 @ledgerhq/ptx
apps/ledger-live-mobile/src/components/Stake/                        @ledgerhq/ptx
apps/ledger-live-mobile/src/components/WebPTXPlayer/                 @ledgerhq/ptx
apps/ledger-live-mobile/src/reducers/earn.ts                         @ledgerhq/ptx
apps/ledger-live-mobile/src/reducers/swap.ts                         @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/Exchange/                        @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/PTX/                             @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/Swap/                            @ledgerhq/ptx
libs/ledger-live-common/src/exchange/                                @ledgerhq/ptx
libs/exchange-module/                                                @ledgerhq/ptx
libs/ledgerjs/packages/hw-app-exchange/                              @ledgerhq/ptx
# Wallet API team
**/PlatformAppProviderWrapper.tsx                        @ledgerhq/wallet-api
**/Web3AppWebview/                                       @ledgerhq/wallet-api
**/WebPlatformPlayer/                                    @ledgerhq/wallet-api
apps/ledger-live-desktop/src/renderer/screens/platform/  @ledgerhq/wallet-api
apps/ledger-live-desktop/src/webviewPreloader/           @ledgerhq/wallet-api
apps/ledger-live-mobile/src/screens/Discover/            @ledgerhq/wallet-api
apps/ledger-live-mobile/src/screens/Platform/            @ledgerhq/wallet-api
libs/ledger-live-common/src/platform/                    @ledgerhq/wallet-api
libs/ledger-live-common/src/wallet-api/                  @ledgerhq/wallet-api
**/platformAdapter.ts                                    @ledgerhq/wallet-api
**/walletApiAdapter.ts                                   @ledgerhq/wallet-api
**/liveapp-sdk.spec.ts                                   @ledgerhq/wallet-api
**/confirmTransaction.spec.ts                             @ledgerhq/wallet-api
**/wallet-api.spec.ts                                    @ledgerhq/wallet-api
**/wallet-api.spec.ts-snapshots/                         @ledgerhq/wallet-api
**/dapp.spec.ts                                          @ledgerhq/wallet-api
libs/test-utils/                                         @ledgerhq/wallet-api
apps/ledger-live-mobile/src/newArch/features/Web3Hub/    @ledgerhq/wallet-api

# Devices team
apps/cli/src/commands/devices                                      @ledgerhq/live-devices
**/src/renderer/screens/manager/                                   @ledgerhq/live-devices
**/screens/customImage 																				 		 @ledgerhq/live-devices
**/components/CustomImage																		 	 		 @ledgerhq/live-devices
**/screens/CustomImage 																				 		 @ledgerhq/live-devices
**/SyncOnboarding/**                                               @ledgerhq/live-devices
**/OnboardingAppInstall/**																				 @ledgerhq/live-devices
**/UpdateFirmwareModal/**																					 @ledgerhq/live-devices
apps/**/components/DeviceAction/                                   @ledgerhq/live-devices
apps/ledger-live-mobile/src/screens/MyLedger*/             	       @ledgerhq/live-devices
apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/       @ledgerhq/live-devices
apps/web-tools/repl/                                               @ledgerhq/live-devices
libs/**/devices/                                                   @ledgerhq/live-devices
libs/**/hw-transport-*/                                            @ledgerhq/live-devices
libs/**/react-native-*/                                            @ledgerhq/live-devices
libs/**/swift-*/                                                   @ledgerhq/live-devices
libs/**/types-devices/                                             @ledgerhq/live-devices
libs/ledger-live-common/src/apps/                                  @ledgerhq/live-devices
libs/ledger-live-common/src/hw/                                    @ledgerhq/live-devices
libs/ledger-live-common/src/manager/                               @ledgerhq/live-devices
libs/ledger-live-common/src/device/                                @ledgerhq/live-devices
libs/ledger-live-common/src/deviceSDK/                             @ledgerhq/live-devices
libs/device-core/                                                  @ledgerhq/live-devices
libs/device-react/                                                 @ledgerhq/live-devices
libs/speculos-transport/                                           @ledgerhq/live-devices @ledgerhq/qaa

# Recover team
apps/ledger-live-desktop/src/renderer/components/RecoverBanner/         @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/components/RecoverRestore/        @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/components/WebRecoverPlayer/      @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/           @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/screens/recover/                  @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/RecoverBanner/                   @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/ServicesWidget/Protect/          @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/WebRecoverPlayer/                @ledgerhq/recover-software
apps/ledger-live-mobile/src/screens/Protect/                            @ledgerhq/recover-software
libs/ledger-live-common/src/hooks/recoverFeatureFlag.ts                 @ledgerhq/recover-software

# Live hub overrides

apps/web-tools/trustchain/                               @ledgerhq/live-hub

# UI tests
apps/ledger-live-desktop/tests/                          @ledgerhq/live-hub @ledgerhq/qaa
apps/ledger-live-mobile/e2e/                             @ledgerhq/live-hub @ledgerhq/qaa

# Cross-team generic files can be opted out (no strict ownership when it concerns everyone)
apps/ledger-live-desktop/static/i18n/
apps/ledger-live-mobile/src/locales/
apps/ledger-live-mobile/src/components/RootNavigator/
apps/ledger-live-mobile/src/const/navigation.ts
apps/**/package.json
libs/ledgerjs/packages/errors/src/index.ts
libs/ledger-live-common/src/config/sharedConfig.ts
libs/ledger-live-common/package.json
**/generated/
