Repository LedgerHQ/ledger-live, changes with the owners that CODEOWNERS names for each.
All owners: @ledgerhq/live-hub, @ledgerhq/live-blockchain-support, @ledgerhq/ptx, @ledgerhq/wallet-api, @ledgerhq/live-devices, @ledgerhq/qaa, @ledgerhq/recover-software

:sparkles:(lld): add actions in ordis drawer
  .changeset/lazy-tips-report.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DetailsDrawer/Actions.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DetailsDrawer/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/screens/Account/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/bitcoinPage.test.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useCreateLinks.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useCustomImage.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useNftLinks.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useOpenHideCollectionModal.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/DetailDrawer.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/enum/Links.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/utils/createOrdinalExplorerUrl.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/utils/typeGuardsChecker.ts
  apps/ledger-live-desktop/src/renderer/icons/MagicEden.tsx
  libs/live-nft/src/api/types.ts
Owners: @ledgerhq/live-hub

LIVE-13040: polkadot code cleanup (#7812)
  .changeset/tasty-brooms-chew.md
  libs/coin-modules/coin-polkadot/src/api/index.integ.test.ts
  libs/coin-modules/coin-polkadot/src/api/index.ts
  libs/coin-modules/coin-polkadot/src/bridge/buildTransaction.test.ts
  libs/coin-modules/coin-polkadot/src/bridge/buildTransaction.ts
  libs/coin-modules/coin-polkadot/src/bridge/getFeesForTransaction.test.ts
  libs/coin-modules/coin-polkadot/src/bridge/prepareTransaction.test.ts
  libs/coin-modules/coin-polkadot/src/bridge/signOperation.test.ts
  libs/coin-modules/coin-polkadot/src/bridge/signOperation.ts
  libs/coin-modules/coin-polkadot/src/config.ts
  libs/coin-modules/coin-polkadot/src/logic/craftTransaction.test.ts
  libs/coin-modules/coin-polkadot/src/logic/craftTransaction.ts
  libs/coin-modules/coin-polkadot/src/logic/estimateFees.test.ts
  libs/coin-modules/coin-polkadot/src/logic/signTransaction.ts
  libs/coin-modules/coin-polkadot/src/network/sidecar.integ.test.ts
  libs/coin-modules/coin-polkadot/src/network/sidecar.unit.test.ts
  libs/coin-modules/coin-polkadot/src/signer/getAddress.ts
  libs/coin-modules/coin-polkadot/src/test/bridgeDatasetTest.ts
  libs/coin-modules/coin-polkadot/src/test/coin-tester/scenarios/basic.ts
  libs/coin-modules/coin-polkadot/src/types/model.ts
  libs/coin-modules/coin-polkadot/src/types/signer.ts
  libs/ledger-live-common/src/families/polkadot/config.ts
  libs/ledgerjs/packages/hw-app-polkadot/README.md
  libs/ledgerjs/packages/hw-app-polkadot/src/Polkadot.ts
Owners: @ledgerhq/live-blockchain-support

remove Context.RECEIVER_NOT_EXPORTED for sdk < 34
  libs/ledgerjs/packages/react-native-hid/android/src/main/java/com/ledgerwallet/hid/ReactHIDModule.java
Owners: @ledgerhq/live-devices

fix: unit tests and solana min app version
  libs/coin-modules/coin-solana/package.json
  libs/ledger-live-common/src/apps/config.ts
  pnpm-lock.yaml
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-devices

update
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/steps/StepDelegation.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/SendAmountFields/FeeTooHighErrorField.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/SendAmountFields/index.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/UndelegateFlowModal/steps/StepSummary.tsx
Owners: @ledgerhq/live-blockchain-support

tx error update
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/cardano/UndelegationFlow/01-Summary.tsx
Owners: @ledgerhq/live-blockchain-support

sync proto params in tx prepare
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/coin-modules/coin-cardano/src/buildTransaction.ts
  libs/coin-modules/coin-cardano/src/errors.ts
  libs/coin-modules/coin-cardano/src/estimateMaxSpendable.ts
  libs/coin-modules/coin-cardano/src/getTransactionStatus.ts
  libs/coin-modules/coin-cardano/src/prepareTransaction.ts
  libs/coin-modules/coin-cardano/src/signOperation.ts
  libs/coin-modules/coin-cardano/src/transaction.ts
  libs/coin-modules/coin-cardano/src/types.ts
Owners: @ledgerhq/live-blockchain-support

fix(coin-solana): replace outdated solana getStakeActivation endpoint
  libs/coin-modules/coin-solana/src/api/chain/account/index.ts
  libs/coin-modules/coin-solana/src/api/chain/account/parser.ts
  libs/coin-modules/coin-solana/src/api/chain/account/stake.ts
  libs/coin-modules/coin-solana/src/api/chain/index.ts
  libs/coin-modules/coin-solana/src/api/chain/stake-activation/delegation.ts
  libs/coin-modules/coin-solana/src/api/chain/stake-activation/index.ts
  libs/coin-modules/coin-solana/src/api/chain/stake-activation/rpc.ts
  libs/coin-modules/coin-solana/src/api/chain/validators/bignum.ts
Owners: @ledgerhq/live-blockchain-support

chore: add changeset
  .changeset/shy-apples-tickle.md
Owners: none

fix: llm - wording for ledger sync on activation
  .changeset/yellow-flowers-march.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/newArch/features/Accounts/__integrations__/addAccount.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/scanQRCode.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/synchronizeWithQrCode.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncActivation.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/DeviceSelection/index.tsx
Owners: @ledgerhq/live-hub

support(llm): use prod firebase on ios nightly builds
  .changeset/stupid-students-clap.md
  apps/ledger-live-mobile/.env.ios.nightly
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
Owners: @ledgerhq/live-hub

support(llm): mobile-env doc updated
  apps/ledger-live-mobile/mobile-env.md
Owners: @ledgerhq/live-hub

fix: ledger sync side effect causing the synchronization to stop working
  .changeset/brown-ducks-rule.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useWatchWalletSync.ts
  apps/ledger-live-desktop/src/renderer/reducers/wallet.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useWatchWalletSync.ts
  apps/ledger-live-mobile/src/reducers/wallet.ts
  apps/web-tools/trustchain/components/AppAccountsSync.tsx
  libs/live-wallet/src/walletsync/incrementalUpdates.ts
Owners: @ledgerhq/live-hub

fix: improve ledger sync tests
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/manageSynchronizedInstances.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/manageYourBackup.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/synchronize.test.tsx
  apps/ledger-live-desktop/src/newArch/features/WalletSync/__tests__/walletSync.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/manageKey.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/scanQRCode.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/synchronizeWithQrCode.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncActivated.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncActivation.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncSettings.integration.test.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/__integrations__/walletSyncStatus.integration.test.tsx
Owners: @ledgerhq/live-hub

chore(llm): accept analytics during onboarding tests
  .changeset/five-ties-sniff.md
  apps/ledger-live-mobile/e2e/page/onboarding/onboardingSteps.page.ts
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantA/Main.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/Main.tsx
Owners: @ledgerhq/live-hub, @ledgerhq/qaa

Ledger Sync - Fix side effect causing the synchronization to stop working (#7929)
  .changeset/brown-ducks-rule.md
  apps/ledger-live-desktop/src/newArch/features/WalletSync/hooks/useWatchWalletSync.ts
  apps/ledger-live-desktop/src/renderer/reducers/wallet.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/hooks/useWatchWalletSync.ts
  apps/ledger-live-mobile/src/reducers/wallet.ts
  apps/web-tools/trustchain/components/AppAccountsSync.tsx
  libs/live-wallet/src/walletsync/incrementalUpdates.ts
Owners: @ledgerhq/live-hub

:sparkles:(lld): add actions in ordis drawer (#7951)
  .changeset/lazy-tips-report.md
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DetailsDrawer/Actions.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DetailsDrawer/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/screens/Account/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/bitcoinPage.test.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useCreateLinks.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useCustomImage.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useNftLinks.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useOpenHideCollectionModal.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/DetailDrawer.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/types/enum/Links.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/utils/createOrdinalExplorerUrl.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/utils/typeGuardsChecker.ts
  apps/ledger-live-desktop/src/renderer/icons/MagicEden.tsx
  libs/live-nft/src/api/types.ts
Owners: @ledgerhq/live-hub

fix: ledger live mobile content cards categories spacing issue
  .changeset/wild-cars-shop.md
  apps/ledger-live-mobile/src/dynamicContent/ContentCardsLocation.tsx
Owners: @ledgerhq/live-hub

rename hw app
  libs/ledgerjs/packages/hw-app-multiversx/.unimportedrc.json
  libs/ledgerjs/packages/hw-app-multiversx/README.md
  libs/ledgerjs/packages/hw-app-multiversx/jest.config.ts
  libs/ledgerjs/packages/hw-app-multiversx/package.json
  libs/ledgerjs/packages/hw-app-multiversx/src/Elrond.ts
  libs/ledgerjs/packages/hw-app-multiversx/tsconfig.json
Owners: @ledgerhq/live-blockchain-support

fixes after hw app renaming
  libs/ledger-live-common/src/families/multiversx/setup.ts
  libs/ledgerjs/packages/hw-app-multiversx/.unimportedrc.json
  libs/ledgerjs/packages/hw-app-multiversx/README.md
  libs/ledgerjs/packages/hw-app-multiversx/package.json
  libs/ledgerjs/packages/hw-app-multiversx/src/Multiversx.ts
Owners: @ledgerhq/live-blockchain-support

add entry in package.json for hw app
  libs/ledger-live-common/package.json
  pnpm-lock.yaml
Owners: none

[LIVE-14281] Feature - EIP712 supports filters with empty arrays (#7943)
  .changeset/breezy-bottles-jam.md
  libs/ledgerjs/packages/hw-app-eth/src/modules/EIP712/index.ts
  libs/ledgerjs/packages/hw-app-eth/src/modules/EIP712/types.ts
  libs/ledgerjs/packages/hw-app-eth/tests/EIP712/filtered-signMessage.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/EIP712/noFilter-signMessage.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/CAL.ts
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/0-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/1-filtered-empty-array-1-level-v2.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/1-filtered-empty-array-2-levels-v2.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/1-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/10-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/11-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/12-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/12-filtered.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/13-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/13-filtered.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/14-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/15-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/15-filtered-v2.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/16-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/16-filtered-v2.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/17-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/17-filtered-v2.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/17-filtered.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/18-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/18-filtered-v2.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/2-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/3-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/3-filtered.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/4-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/5-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/5-filtered.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/6-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/7-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/8-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/9-filtered-v1.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/version-1.12.0.apdus
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/messages/1-empty-array-1-level.json
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/messages/1-empty-array-2-levels.json
Owners: @ledgerhq/live-blockchain-support

changeset + package names
  .changeset/thick-poets-lie.md
  libs/ledgerjs/packages/cryptoassets-evm-signatures/CHANGELOG.md
  libs/ledgerjs/packages/cryptoassets-evm-signatures/README.md
  libs/ledgerjs/packages/cryptoassets-evm-signatures/package.json
Owners: none

fix package.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/package.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/crypto-assets-importer/fetch/index.ts
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/crypto-assets-importer/importers/evm/evm.test.ts
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/crypto-assets-importer/index.ts
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/137/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/137/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/42161/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/42161/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/56/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/56/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/8453/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/8453/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/tokens.ts
Owners: none

updatereadme
  libs/ledgerjs/packages/cryptoassets-evm-signatures/CHANGELOG.md
  libs/ledgerjs/packages/cryptoassets-evm-signatures/README.md
  libs/ledgerjs/packages/cryptoassets-evm-signatures/package.json
  pnpm-lock.yaml
Owners: none

eip712 data back as used by hw-app-eth-test
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/crypto-assets-importer/importers/eip712/eip712.test.ts
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/crypto-assets-importer/importers/eip712/index.ts
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/crypto-assets-importer/index.ts
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/eip712-hash.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/eip712.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/eip712.ts
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/eip712_v2-hash.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/eip712_v2.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/eip712_v2.ts
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/10/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/10/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/137/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/137/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/250/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/250/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/42161/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/42161/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/43114/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/43114/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/56/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/56/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/8453/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/8453/erc20.json
  libs/ledgerjs/packages/hw-app-eth/tests/EIP712/noFilter-signMessage.unit.test.ts
Owners: @ledgerhq/live-blockchain-support

skip one test
  libs/ledger-live-common/src/__tests__/currencies.ts
Owners: @ledgerhq/live-hub

change import path
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/erc20.ts
Owners: @ledgerhq/live-blockchain-support

cryptoassets reference change from test
  libs/ledgerjs/packages/hw-app-eth/tests/EIP712/filtered-signMessage.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/ERC20/ERC20-CAL-KO.unit.test.ts
Owners: @ledgerhq/live-blockchain-support

remove useless files and readme
  libs/ledgerjs/packages/cryptoassets-evm-signatures/README.md
  libs/ledgerjs/packages/cryptoassets-evm-signatures/package.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/__snapshots__/currencies.test.ts.snap
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/currencies.test.ts
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/currencies.ts
Owners: none

update evm-tools
  libs/evm-tools/package.json
  libs/evm-tools/src/__tests__/messages/EIP712/index.unit.test.ts
  libs/evm-tools/src/message/EIP712/index.ts
Owners: @ledgerhq/live-blockchain-support

update importers
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/crypto-assets-importer/importers/evm/index.ts
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/10/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/10/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/137/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/137/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/250/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/250/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/8453/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/8453/erc20.json
Owners: none

cleanup unused lib
  libs/ledgerjs/packages/cryptoassets-evm-signatures/package.json
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/erc20.ts
  pnpm-lock.yaml
Owners: @ledgerhq/live-blockchain-support

remove fiats / tokens files
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/crypto-assets-importer/importers/evm/index.ts
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/1/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/1/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/10/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/10/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/137/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/137/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/250/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/250/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/42161/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/42161/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/43114/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/43114/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/56/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/56/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/8453/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/data/evm/8453/erc20.json
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/fiats.ts
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/index.ts
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/tokens.test.ts
  libs/ledgerjs/packages/cryptoassets-evm-signatures/src/tokens.ts
Owners: none

remove /lib/ when fetching evm/ signatures
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/erc20.ts
Owners: @ledgerhq/live-blockchain-support

lint eip712 test
  libs/evm-tools/src/__tests__/messages/EIP712/index.unit.test.ts
Owners: @ledgerhq/live-blockchain-support

update axios
  libs/ledgerjs/packages/cryptoassets-evm-signatures/package.json
  pnpm-lock.yaml
Owners: none

fix path to cryptoassets
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/erc20.ts
Owners: @ledgerhq/live-blockchain-support

pnpmlock
  pnpm-lock.yaml
Owners: none

axios 1.7.3
  pnpm-lock.yaml
Owners: none

CODEOWNERS:

# How does it work? => https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.

# Hub team
## by default, hub manage apps and libs related to it & then we overrides many exceptions
apps/cli/src/commands/live                               @ledgerhq/live-hub
apps/ledger-live-desktop/                                @ledgerhq/live-hub
apps/ledger-live-mobile/                                 @ledgerhq/live-hub
libs/**/errors/                                          @ledgerhq/live-hub
libs/**/logs/                                            @ledgerhq/live-hub
libs/**/types-live/                                      @ledgerhq/live-hub
libs/env/                                                @ledgerhq/live-hub
libs/ledger-live-common/src/                             @ledgerhq/live-hub
libs/live-countervalues-react/                           @ledgerhq/live-hub
libs/live-countervalues/                                 @ledgerhq/live-hub
libs/live-hooks/                                         @ledgerhq/live-hub
libs/live-nft-react/                                     @ledgerhq/live-hub
libs/live-nft/                                           @ledgerhq/live-hub
libs/promise/                                            @ledgerhq/live-hub
libs/ui/                                                 @ledgerhq/live-hub
libs/live-hooks/										 @ledgerhq/live-hub
libs/live-countervalues/								 @ledgerhq/live-hub
libs/live-countervalues-react/ 						     @ledgerhq/live-hub
libs/live-nft/                                           @ledgerhq/live-hub
libs/live-nft-react/                                     @ledgerhq/live-hub
libs/live-wallet/                                        @ledgerhq/live-hub
libs/trustchain/                                         @ledgerhq/live-hub
libs/hw-trustchain/                                      @ledgerhq/live-hub

# Blockchain team
.github/**/bot-*.yml                                     @ledgerhq/live-blockchain-support
**/live-common-set*.ts                                   @ledgerhq/live-blockchain-support
apps/**/families/                                        @ledgerhq/live-blockchain-support
apps/cli/src/commands/blockchain                         @ledgerhq/live-blockchain-support
apps/web-tools/                                          @ledgerhq/live-blockchain-support
docs/                                                    @ledgerhq/live-blockchain-support
libs/coin-*/                                             @ledgerhq/live-blockchain-support
libs/domain-service/                                     @ledgerhq/live-blockchain-support
libs/evm-tools/                                          @ledgerhq/live-blockchain-support
libs/ledger-live-common/src/bot/                         @ledgerhq/live-blockchain-support
libs/ledger-live-common/src/families/                    @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/cryptoassets/                     @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/hw-app-*/                         @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/types-cryptoassets/               @ledgerhq/live-blockchain-support
libs/live-config/                                        @ledgerhq/live-blockchain-support
libs/live-network/                                       @ledgerhq/live-blockchain-support

# PTX team
apps/cli/src/commands/ptx                                            @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/components/ProviderIcon/       @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/       @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/hooks/swap-migrations/         @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/drawers/SwapOperationDetails/  @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/modals/Platform/               @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/modals/StartStake/             @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/reducers/swap.ts               @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/earn/                  @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/exchange/              @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/stake/                 @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/swapWeb/               @ledgerhq/ptx
apps/ledger-live-mobile/src/actions/earn.ts                          @ledgerhq/ptx
apps/ledger-live-mobile/src/actions/swap.ts                          @ledgerhq/ptx
apps/ledger-live-mobile/src/components/ProviderIcon/                 @ledgerhq/ptx
apps/ledger-live-mobile/src/components/Stake/                        @ledgerhq/ptx
apps/ledger-live-mobile/src/components/WebPTXPlayer/                 @ledgerhq/ptx
apps/ledger-live-mobile/src/reducers/earn.ts                         @ledgerhq/ptx
apps/ledger-live-mobile/src/reducers/swap.ts                         @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/Exchange/                        @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/PTX/                             @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/Swap/                            @ledgerhq/ptx
libs/ledger-live-common/src/exchange/                                @ledgerhq/ptx
libs/exchange-module/                                                @ledgerhq/ptx
libs/ledgerjs/packages/hw-app-exchange/                              @ledgerhq/ptx
# Wallet API team
**/PlatformAppProviderWrapper.tsx                        @ledgerhq/wallet-api
**/Web3AppWebview/                                       @ledgerhq/wallet-api
**/WebPlatformPlayer/                                    @ledgerhq/wallet-api
apps/ledger-live-desktop/src/renderer/screens/platform/  @ledgerhq/wallet-api
apps/ledger-live-desktop/src/webviewPreloader/           @ledgerhq/wallet-api
apps/ledger-live-mobile/src/screens/Discover/            @ledgerhq/wallet-api
apps/ledger-live-mobile/src/screens/Platform/            @ledgerhq/wallet-api
libs/ledger-live-common/src/platform/                    @ledgerhq/wallet-api
libs/ledger-live-common/src/wallet-api/                  @ledgerhq/wallet-api
**/platformAdapter.ts                                    @ledgerhq/wallet-api
**/walletApiAdapter.ts                                   @ledgerhq/wallet-api
**/liveapp-sdk.spec.ts                                   @ledgerhq/wallet-api
**/confirmTransaction.spec.ts                             @ledgerhq/wallet-api
**/wallet-api.spec.ts                                    @ledgerhq/wallet-api
**/wallet-api.spec.ts-snapshots/                         @ledgerhq/wallet-api
**/dapp.spec.ts                                          @ledgerhq/wallet-api
libs/test-utils/                                         @ledgerhq/wallet-api
apps/ledger-live-mobile/src/newArch/features/Web3Hub/    @ledgerhq/wallet-api

# Devices team
apps/cli/src/commands/devices                                      @ledgerhq/live-devices
**/src/renderer/screens/manager/                                   @ledgerhq/live-devices
**/screens/customImage 																				 		 @ledgerhq/live-devices
**/components/CustomImage																		 	 		 @ledgerhq/live-devices
**/screens/CustomImage 																				 		 @ledgerhq/live-devices
**/SyncOnboarding/**                                               @ledgerhq/live-devices
**/OnboardingAppInstall/**																				 @ledgerhq/live-devices
**/UpdateFirmwareModal/**																					 @ledgerhq/live-devices
apps/**/components/DeviceAction/                                   @ledgerhq/live-devices
apps/ledger-live-mobile/src/screens/MyLedger*/             	       @ledgerhq/live-devices
apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/       @ledgerhq/live-devices
apps/web-tools/repl/                                               @ledgerhq/live-devices
libs/**/devices/                                                   @ledgerhq/live-devices
libs/**/hw-transport-*/                                            @ledgerhq/live-devices
libs/**/react-native-*/                                            @ledgerhq/live-devices
libs/**/swift-*/                                                   @ledgerhq/live-devices
libs/**/types-devices/                                             @ledgerhq/live-devices
libs/ledger-live-common/src/apps/                                  @ledgerhq/live-devices
libs/ledger-live-common/src/hw/                                    @ledgerhq/live-devices
libs/ledger-live-common/src/manager/                               @ledgerhq/live-devices
libs/ledger-live-common/src/device/                                @ledgerhq/live-devices
libs/ledger-live-common/src/deviceSDK/                             @ledgerhq/live-devices
libs/device-core/                                                  @ledgerhq/live-devices
libs/device-react/                                                 @ledgerhq/live-devices
libs/speculos-transport/                                           @ledgerhq/live-devices @ledgerhq/qaa

# Recover team
apps/ledger-live-desktop/src/renderer/components/RecoverBanner/         @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/components/RecoverRestore/        @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/components/WebRecoverPlayer/      @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/           @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/screens/recover/                  @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/RecoverBanner/                   @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/ServicesWidget/Protect/          @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/WebRecoverPlayer/                @ledgerhq/recover-software
apps/ledger-live-mobile/src/screens/Protect/                            @ledgerhq/recover-software
libs/ledger-live-common/src/hooks/recoverFeatureFlag.ts                 @ledgerhq/recover-software

# Live hub overrides

apps/web-tools/trustchain/                               @ledgerhq/live-hub

# UI tests
apps/ledger-live-desktop/tests/                          @ledgerhq/live-hub @ledgerhq/qaa
apps/ledger-live-mobile/e2e/                             @ledgerhq/live-hub @ledgerhq/qaa

# Cross-team generic files can be opted out (no strict ownership when it concerns everyone)
apps/ledger-live-desktop/static/i18n/
apps/ledger-live-mobile/src/locales/
apps/ledger-live-mobile/src/components/RootNavigator/
apps/ledger-live-mobile/src/const/navigation.ts
apps/**/package.json
libs/ledgerjs/packages/errors/src/index.ts
libs/ledger-live-common/src/config/sharedConfig.ts
libs/ledger-live-common/package.json
**/generated/
