Repository LedgerHQ/ledger-live, changes with the owners that CODEOWNERS names for each.
All owners: @ledgerhq/live-devx, @ledgerhq/live-blockchain-support, @ledgerhq/live-platform-and-services, @ledgerhq/live-devices, @ledgerhq/live-qa, @gre

persist tx object once user enter device action on modal
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/Confirmation.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/index.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/index.tsx
Owners: none

cleanup
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/Confirmation.tsx
  apps/ledger-live-mobile/src/screens/Swap/Form/Modal/index.tsx
Owners: none

LIVE-3724 Set Ethereum minimum app version to v1.9.20 (#1302)
  .changeset/cyan-walls-count.md
  libs/ledger-live-common/src/apps/support.ts
Owners: none

upload bot schema used in the wiki
  libs/ledger-live-common/docs/bot-schemas.excalidraw
Owners: none

Merge branch 'support/ada-send-test' into support/test-ada-send-flow
  apps/ledger-live-desktop/tests/userdata/adaAccount.json
Owners: none

support(AdvancedLogs): Add warning on Advanced logs for xpub sharing
  .changeset/twenty-pumpkins-shop.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/AccountSettings/AdvancedLogs.tsx
Owners: none

🚨 fix lint
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/drawers/SyncDesktopInformation.tsx
Owners: none

Move tron/synchronisation.test.ts to an Integration Test
  libs/ledger-live-common/src/families/tron/synchronisation.integration.test.ts
Owners: none

Fixes LIVE-3506: ignore 'Transaction simulation failed' (#1313)
  apps/ledger-live-desktop/src/sentry/install.js
  apps/ledger-live-mobile/index.js
Owners: none

Move tron/synchronisation.test.ts to an Integration Test (#1323)
  libs/ledger-live-common/src/families/tron/synchronisation.integration.test.ts
Owners: none

Adapt bot changes needed for LIVE-3724
  libs/ledger-live-common/src/apps/support.ts
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/families/ethereum/specs.ts
  libs/ledger-live-common/src/families/evm/specs.ts
  libs/ledger-live-common/src/load/speculos.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Owners: none

Add warning on LLD
  apps/ledger-live-desktop/src/renderer/modals/SettingsAccount/AccountSettingRenderBody.jsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Owners: none

fix: update info icons
  apps/ledger-live-desktop/src/renderer/icons/InfoCircle.jsx
  apps/ledger-live-desktop/src/renderer/icons/InfoCircleFull.jsx
Owners: none

Feature flag interface improvements
  apps/ledger-live-desktop/src/renderer/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/SettingsSection.jsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsButton.tsx
Owners: none

Adapt bot changes needed for LIVE-3724 (#1321)
  libs/ledger-live-common/src/apps/support.ts
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/families/ethereum/specs.ts
  libs/ledger-live-common/src/families/evm/specs.ts
  libs/ledger-live-common/src/load/speculos.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
Owners: none

:rocket: entering LLD prerelease mode
  .changeset/config.json
  .changeset/pre.json
Owners: none

Don't unfocus flag when clicking restore
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsButton.tsx
Owners: none

Fix import
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsButton.tsx
Owners: none

Add new "CHOOSE_NAME" onboarding state (#1314)
  .changeset/hip-beans-tease.md
  libs/ledger-live-common/src/hw/extractOnboardingState.test.ts
  libs/ledger-live-common/src/hw/extractOnboardingState.ts
Owners: none

fix: mixed changesets
  .changeset/honest-games-allow-mobile.md
Owners: none

fix: mixed changesets
  .changeset/honest-games-allow-mobile.md
Owners: none

fix: mixed changesets
  .changeset/poor-books-rest-mobile.md
Owners: none

Add start + end times to delegation drawer
  apps/ledger-live-mobile/src/families/avalanchepchain/Delegations/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Owners: @ledgerhq/live-blockchain-support

test with bot-phosphore
  .github/workflows/bot-phosphore.yml
Owners: @gre, @ledgerhq/live-blockchain-support, @ledgerhq/live-qa

fix: mixed changesets
  .changeset/polite-crabs-cross-desktop.md
  .changeset/selfish-countries-burn-mobile.md
Owners: none

updating detox to run with monorepo
  .github/workflows/test-mobile.yml
  .pnpmfile.cjs
  apps/ledger-live-mobile/.detoxrc.json
  apps/ledger-live-mobile/.eslintrc.js
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/android/build.gradle
  apps/ledger-live-mobile/detox.config.js
  apps/ledger-live-mobile/docs/llm_e2e_testing.md
  apps/ledger-live-mobile/e2e/README.md
  apps/ledger-live-mobile/e2e/bridge/server.js
  apps/ledger-live-mobile/e2e/config.json
  apps/ledger-live-mobile/e2e/environment.js
  apps/ledger-live-mobile/e2e/global-setup.js
  apps/ledger-live-mobile/e2e/global-teardown.js
  apps/ledger-live-mobile/e2e/helpers.js
  apps/ledger-live-mobile/e2e/models/onboarding/onboardingSteps.js
  apps/ledger-live-mobile/e2e/models/passwordEntryPage.js
  apps/ledger-live-mobile/e2e/models/settings/generalSettingsPage.js
  apps/ledger-live-mobile/e2e/setup.js
  apps/ledger-live-mobile/e2e/specs/onboarding.spec.ts
  apps/ledger-live-mobile/e2e/specs/password.spec.ts
  apps/ledger-live-mobile/e2e/specs/perf-test.spec.ts
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/PasswordInput.tsx
  apps/ledger-live-mobile/src/components/SelectDevice/BluetoothEmpty.tsx
  apps/ledger-live-mobile/src/react-native-hw-transport-ble/index.ts
  apps/ledger-live-mobile/src/react-native-hw-transport-ble/makeMock.ts
  apps/ledger-live-mobile/src/screens/Settings/General/AuthSecurityToggle.tsx
  apps/ledger-live-mobile/src/screens/Settings/General/PasswordForm.tsx
  libs/ui/packages/native/src/components/Form/Switch/index.tsx
  pnpm-lock.yaml
Owners: @ledgerhq/live-devx

removing redundant ios logs - they come as part of the detox artifacts
  .github/workflows/test-mobile.yml
Owners: @ledgerhq/live-devx

chore/LIVE-3804 Bump hermes-engine dependency to 0.11.0
  .changeset/perfect-weeks-burn.md
  apps/ledger-live-mobile/package.json
  pnpm-lock.yaml
Owners: none

support(UI-Improvment): Accents are cropped on the Onboarding carousel
  .changeset/few-books-reflect.md
  apps/ledger-live-mobile/src/screens/Onboarding/OnboardingQuizItem.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/newDeviceInfo.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/Intro.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/QuizzFinal.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/setupDevice/scenes/RecoveryPhrase.tsx
Owners: none

fix: fix swap rate colors
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/CentralisedRate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Countdown.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/DecentralisedRate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Rate.jsx
Owners: none

fix: change swap translation
  apps/ledger-live-desktop/static/i18n/en/app.json
Owners: none

Revert nano app minimal version for eth
  libs/ledger-live-common/src/apps/support.ts
Owners: none

changeset
  .changeset/stupid-months-tie.md
Owners: none

fix: align center spot in swap rate to left
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/Rate.jsx
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/Rates/index.jsx
Owners: none

feat/LIVE-537 Runner connecting to sr should throw if status not 9000
  libs/ledgerjs/packages/hw-transport-react-native-ble/android/src/main/java/com/hwtransportreactnativeble/tasks/Runner.kt
  libs/ledgerjs/packages/hw-transport-react-native-ble/ios/Tasks/Runner.swift
Owners: none

fix: align swap input error message
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/FormSelectors/FromRow.jsx
Owners: none

[REVERT] Bugfix: Revert force 1.9.20 ethereum app (#1330)
  .changeset/stupid-months-tie.md
  libs/ledger-live-common/src/apps/support.ts
Owners: none

:rocket: release prerelease [LLD(2.48.0-next.1)]
  .changeset/pre.json
  apps/cli/CHANGELOG.md
  apps/cli/package.json
  apps/ledger-live-desktop/CHANGELOG.md
  apps/ledger-live-desktop/package.json
  libs/ledger-live-common/CHANGELOG.md
  libs/ledger-live-common/package.json
  tools/common-tools/CHANGELOG.md
  tools/common-tools/package.json
Owners: @ledgerhq/live-devx

LLD Feature flag interface improvements (#1325)
  apps/ledger-live-desktop/src/renderer/components/FirebaseFeatureFlags.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/SettingsSection.jsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/FeatureFlagsButton.tsx
Owners: none

force refetch rate every 30 secs
  apps/ledger-live-mobile/src/reducers/swap.ts
  apps/ledger-live-mobile/src/screens/Swap/Form/Summary/index.tsx
Owners: none

CODEOWNERS:

# Live DX Team

.github/              @ledgerhq/live-devx
scripts/              @ledgerhq/live-devx
tools/                @ledgerhq/live-devx
fastlane/             @ledgerhq/live-devx

# Live Blockchain Support Team

apps/**/families/                                               @ledgerhq/live-blockchain-support
ledger-live-desktop/src/live-common-set-supported-currencies.*  @ledgerhq/live-blockchain-support
ledger-live-mobile/src/live-common-setup.*                      @ledgerhq/live-blockchain-support
ledger-live-common/src/families                                 @ledgerhq/live-blockchain-support
ledgerjs/packages/cryptoassets                                  @ledgerhq/live-blockchain-support
ledgerjs/packages/types-cryptoassets                            @ledgerhq/live-blockchain-support
ledgerjs/packages/hw-app-*                                      @ledgerhq/live-blockchain-support

# Live Platform and Services Team

ledger-live-desktop/src/renderer/screens/exchange/  @ledgerhq/live-platform-and-services
ledger-live-mobile/src/screens/Exchange/            @ledgerhq/live-platform-and-services
ledger-live-common/src/exchange/                    @ledgerhq/live-platform-and-services
ledger-live-common/src/platform/                    @ledgerhq/live-platform-and-services

# Live Devices Team

apps/**/components/DeviceAction/        @ledgerhq/live-devices
ledger-live-mobile/src/screens/Manager/ @ledgerhq/live-devices
ledger-live-common/src/hw/              @ledgerhq/live-devices
ledger-live-common/src/apps/            @ledgerhq/live-devices
ledger-live-common/src/manager/         @ledgerhq/live-devices
ledgerjs/packages/types-devices/        @ledgerhq/live-devices
ledgerjs/packages/devices/              @ledgerhq/live-devices
ledgerjs/packages/hw-transport-*        @ledgerhq/live-devices
ledgerjs/packages/react-native-*        @ledgerhq/live-devices


# Live QA Team
ledger-live-desktop/tests/**/*-snapshots/ @ledgerhq/live-qa

# Cross-teams
.github/**/bot-*.yml                 @gre @ledgerhq/live-blockchain-support @ledgerhq/live-qa
ledgerjs/packages/types-live/        @gre @ledgerhq/live-blockchain-support @ledgerhq/live-platform-and-services @ledgerhq/live-devices
