Repository LedgerHQ/ledger-live, changes with the owners that CODEOWNERS names for each.
All owners: @ledgerhq/live-hub, @ledgerhq/live-blockchain-support, @ledgerhq/ptx, @ledgerhq/wallet-api, @ledgerhq/live-devices, @ledgerhq/qaa, @ledgerhq/recover-software

Decrease EIP1559 base fee multiplier to 27% It should allow to create transactions capable of being included in the next 3 blocks minimum
  libs/env/src/env.ts
Owners: @ledgerhq/live-hub

changeset
  .changeset/cool-cougars-push.md
Owners: none

Enforce WS version even when bundle without pnpm in the monorepo
  .changeset/tender-icons-impress.md
  libs/ledgerjs/packages/hw-app-eth/package.json
Owners: @ledgerhq/live-blockchain-support

:sparkles:(lld): add hide inscription feature
  .changeset/sweet-impalas-destroy.md
  apps/ledger-live-desktop/src/newArch/components/ContextMenu/CollectibleContextMenu.tsx
  apps/ledger-live-desktop/src/newArch/components/ContextMenu/createContextMenuItems.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DetailsDrawer/Actions.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/DetailsDrawer/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/HideModal/Body.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/HideModal/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/Item/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/helpers.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/components/Inscriptions/useInscriptionsModel.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/screens/Account/index.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/Ordinals/screens/Account/useBitcoinAccountModel.ts
  apps/ledger-live-desktop/src/newArch/features/Collectibles/__integration__/bitcoinPage.test.tsx
  apps/ledger-live-desktop/src/newArch/features/Collectibles/hooks/useHideInscriptions.ts
  apps/ledger-live-desktop/src/renderer/actions/settings.ts
  apps/ledger-live-desktop/src/renderer/modals/index.ts
  apps/ledger-live-desktop/src/renderer/modals/types.ts
  apps/ledger-live-desktop/src/renderer/reducers/settings.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenInscriptions/components/Row.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenInscriptions/components/styledComponents.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenInscriptions/components/useRowModel.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenInscriptions/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenInscriptions/useHiddenInscriptionsModel.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/HiddenNFTCollections.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Accounts/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-desktop/tests/testUtils.tsx
  libs/live-nft-react/src/hooks/__tests__/useFetchOrdinalByTokenId.test.tsx
  libs/live-nft-react/src/hooks/useFetchOrdinalByTokenId.ts
  libs/live-nft-react/src/index.ts
  libs/live-nft-react/src/queryKeys.ts
  libs/live-nft/src/api/simplehash.ts
Owners: @ledgerhq/live-hub, @ledgerhq/qaa

:technologist:(lld): add toggle for analytics console
  .changeset/kind-numbers-travel.md
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/EnableAnalyticsConsole.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Owners: @ledgerhq/live-hub

Revert "Send nightly iOS builds to new "Ledger Live (nightly)" app in Testflight"
  apps/ledger-live-mobile/fastlane/.env.ios.nightly
  apps/ledger-live-mobile/fastlane/Fastfile
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Contents.json
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-20x20@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-20x20@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-29x29@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-29x29@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-40x40@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-40x40@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-57x57@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-60x60@2x 1.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-60x60@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-76x76@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-76x76@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/ItunesArtwork@2x.png
  apps/ledger-live-mobile/mobile-env.md
  apps/ledger-live-mobile/scripts/mobile-env-md.mjs
Owners: @ledgerhq/live-hub

:technologist:(lld): add toggle for analytics console (#7995)
  .changeset/kind-numbers-travel.md
  apps/ledger-live-desktop/src/renderer/Default.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/EnableAnalyticsConsole.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Owners: @ledgerhq/live-hub

fix: update xrp node
  libs/ledger-live-common/src/families/xrp/config.ts
Owners: @ledgerhq/live-blockchain-support

fix xrp node url
  .changeset/lazy-oranges-retire.md
Owners: none

💚 (ci): Remove tag push on prerelease
  .github/workflows/release-final-nightly.yml
  .github/workflows/release-prerelease.yml
Owners: none

feat: display name history
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.ts
Owners: @ledgerhq/ptx

chore: changeset
  .changeset/wild-poems-play.md
Owners: none

:bug:(lld): fix e2e test
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts
Owners: @ledgerhq/live-hub, @ledgerhq/qaa

change id name from acre-testnet to acre and added support for LLM
  apps/ledger-live-desktop/src/renderer/families/bitcoin/AccountHeaderManageActions.ts
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/families/bitcoin/accountActions.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub

fix: flaky test e2e desktop
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts
Owners: @ledgerhq/live-hub, @ledgerhq/qaa

fix: app position with external display on windows
  .changeset/pink-pugs-press.md
  apps/ledger-live-desktop/src/main/window-lifecycle.ts
Owners: @ledgerhq/live-hub

Bugfix/LIVE-14283 xrp node update (#7998)
  .changeset/lazy-oranges-retire.md
  libs/ledger-live-common/src/families/xrp/config.ts
Owners: @ledgerhq/live-blockchain-support

feat: thorchain
  libs/ledger-live-common/src/exchange/providers/swap.ts
Owners: @ledgerhq/ptx

Update apps/ledger-live-desktop/src/renderer/families/bitcoin/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/families/bitcoin/AccountHeaderManageActions.ts
Owners: @ledgerhq/live-blockchain-support

Bugfix/solana priority fees (#7916) (#7917)
  .changeset/popular-keys-collect.md
  libs/coin-modules/coin-solana/package.json
  libs/coin-modules/coin-solana/src/api/cached.ts
  libs/coin-modules/coin-solana/src/api/chain/index.ts
  libs/coin-modules/coin-solana/src/api/chain/web3.ts
  libs/coin-modules/coin-solana/src/bridge.integration.test.ts
  libs/coin-modules/coin-solana/src/buildTransaction.ts
  libs/coin-modules/coin-solana/src/synchronization.ts
  libs/coin-modules/coin-solana/src/tx-fees.ts
  libs/coin-modules/coin-solana/src/utils.ts
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/apps/config.ts
  libs/ledger-live-common/src/families/solana/bridge/mock-data.ts
  pnpm-lock.yaml
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-devices

fix(sell): use CHECK_ASSET_IN_NO_DISPLAY when checkPayoutAddress is called
  libs/ledgerjs/packages/hw-app-exchange/package.json
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.integ.test.ts
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.ts
  pnpm-lock.yaml
Owners: @ledgerhq/ptx

[LIVE-14339] Support - Enforce WS version even when bundle without pnpm in the monorepo (#7992)
  .changeset/tender-icons-impress.md
  libs/ledgerjs/packages/hw-app-eth/package.json
Owners: @ledgerhq/live-blockchain-support

[LIVE-7357] Feature - Decrease EIP-1559 base fee multiplier (#7991)
  .changeset/cool-cougars-push.md
  libs/env/src/env.ts
Owners: @ledgerhq/live-hub

:bug:(llm): lockscreen with LS
  .changeset/old-bats-swim.md
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/QrCodeMethod.tsx
Owners: @ledgerhq/live-hub

feat(swap): add support of ton
  libs/exchange-module/package.json
  libs/ledger-live-common/package.json
  libs/ledger-live-common/src/exchange/providers/index.ts
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/testCurrencyConfig/data/coins.ts
  libs/ledger-live-common/src/families/ton/exchange.ts
  libs/ledger-live-common/src/generated/exchange.ts
  libs/ledgerjs/packages/hw-app-exchange/package.json
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.integ.test.ts
  pnpm-lock.yaml
Owners: @ledgerhq/ptx, @ledgerhq/live-blockchain-support

fix: changeset following package rename
  .changeset/strange-sheep-share.md
Owners: none

:bug:(llm): lockscreen with LS
  .changeset/old-bats-swim.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/useAddAccountViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
Owners: @ledgerhq/live-hub

:bug:(llm): lockscreen with LS
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/useAddAccountViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Synchronize/QrCodeMethod.tsx
Owners: @ledgerhq/live-hub

fix: add default parent account where missing
  apps/ledger-live-desktop/src/renderer/components/BalanceInfos/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.tsx
Owners: @ledgerhq/live-hub

chore: add changeset
  .changeset/three-islands-carry.md
Owners: none

[Coin-Fmk] Some clean-up (#7801)
  libs/coin-framework/src/api/index.ts
  libs/coin-framework/src/cache.ts
  libs/coin-framework/src/derivation.ts
  libs/coin-framework/src/errors.test.ts
  libs/coin-framework/src/network.ts
  libs/coin-modules/coin-algorand/src/api/algodv2.ts
  libs/coin-modules/coin-algorand/src/api/index.ts
  libs/coin-modules/coin-algorand/src/api/indexer.ts
  libs/ledgerjs/packages/types-live/src/derivation.ts
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub

chore: add platform os to earn parameters for braze config
  apps/ledger-live-desktop/src/renderer/screens/earn/index.tsx
  apps/ledger-live-mobile/src/screens/PTX/Earn/index.tsx
Owners: @ledgerhq/ptx

chore: changeset
  .changeset/heavy-peas-cover.md
Owners: none

chore: add retry attempts on ios build workflow to avoid pods issues
  .github/workflows/build-mobile-reusable.yml
Owners: none

wip
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/SwapWebViewDemo3.tsx
Owners: @ledgerhq/ptx

chore: add retry attempts on ios build workflow to avoid pods issues (#8015)
  .github/workflows/build-mobile-reusable.yml
Owners: none

:bug:(llm): lockscreen with LS (#8010)
  .changeset/old-bats-swim.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/useAddAccountViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
Owners: @ledgerhq/live-hub

:bug:(llm): lockscreen with LS (#8009)
  .changeset/old-bats-swim.md
  apps/ledger-live-mobile/src/newArch/features/Accounts/screens/AddAccount/useAddAccountViewModel.ts
  apps/ledger-live-mobile/src/newArch/features/WalletSync/screens/Manage/index.tsx
Owners: @ledgerhq/live-hub

chore: add --verbose flag to LLM pod install
  .changeset/tough-owls-grin.md
  apps/ledger-live-mobile/scripts/post.mjs
Owners: @ledgerhq/live-hub

fix: fix sellNg
  libs/exchange-module/src/index.ts
  libs/ledger-live-common/src/exchange/platform/transfer/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
  libs/ledgerjs/packages/hw-app-exchange/src/Exchange.ts
Owners: @ledgerhq/ptx

CODEOWNERS:

# How does it work? => https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.

# Hub team
## by default, hub manage apps and libs related to it & then we overrides many exceptions
apps/cli/src/commands/live                               @ledgerhq/live-hub
apps/ledger-live-desktop/                                @ledgerhq/live-hub
apps/ledger-live-mobile/                                 @ledgerhq/live-hub
libs/**/errors/                                          @ledgerhq/live-hub
libs/**/logs/                                            @ledgerhq/live-hub
libs/**/types-live/                                      @ledgerhq/live-hub
libs/env/                                                @ledgerhq/live-hub
libs/ledger-live-common/src/                             @ledgerhq/live-hub
libs/live-countervalues-react/                           @ledgerhq/live-hub
libs/live-countervalues/                                 @ledgerhq/live-hub
libs/live-hooks/                                         @ledgerhq/live-hub
libs/live-nft-react/                                     @ledgerhq/live-hub
libs/live-nft/                                           @ledgerhq/live-hub
libs/promise/                                            @ledgerhq/live-hub
libs/ui/                                                 @ledgerhq/live-hub
libs/live-hooks/										 @ledgerhq/live-hub
libs/live-countervalues/								 @ledgerhq/live-hub
libs/live-countervalues-react/ 						     @ledgerhq/live-hub
libs/live-nft/                                           @ledgerhq/live-hub
libs/live-nft-react/                                     @ledgerhq/live-hub
libs/live-wallet/                                        @ledgerhq/live-hub
libs/trustchain/                                         @ledgerhq/live-hub
libs/hw-trustchain/                                      @ledgerhq/live-hub

# Blockchain team
.github/**/bot-*.yml                                     @ledgerhq/live-blockchain-support
**/live-common-set*.ts                                   @ledgerhq/live-blockchain-support
apps/**/families/                                        @ledgerhq/live-blockchain-support
apps/cli/src/commands/blockchain                         @ledgerhq/live-blockchain-support
apps/web-tools/                                          @ledgerhq/live-blockchain-support
docs/                                                    @ledgerhq/live-blockchain-support
libs/coin-*/                                             @ledgerhq/live-blockchain-support
libs/domain-service/                                     @ledgerhq/live-blockchain-support
libs/evm-tools/                                          @ledgerhq/live-blockchain-support
libs/ledger-live-common/src/bot/                         @ledgerhq/live-blockchain-support
libs/ledger-live-common/src/families/                    @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/cryptoassets/                     @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/hw-app-*/                         @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/types-cryptoassets/               @ledgerhq/live-blockchain-support
libs/live-config/                                        @ledgerhq/live-blockchain-support
libs/live-network/                                       @ledgerhq/live-blockchain-support

# PTX team
apps/cli/src/commands/ptx                                            @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/components/ProviderIcon/       @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/       @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/hooks/swap-migrations/         @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/drawers/SwapOperationDetails/  @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/modals/Platform/               @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/modals/StartStake/             @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/reducers/swap.ts               @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/earn/                  @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/exchange/              @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/stake/                 @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/swapWeb/               @ledgerhq/ptx
apps/ledger-live-mobile/src/actions/earn.ts                          @ledgerhq/ptx
apps/ledger-live-mobile/src/actions/swap.ts                          @ledgerhq/ptx
apps/ledger-live-mobile/src/components/ProviderIcon/                 @ledgerhq/ptx
apps/ledger-live-mobile/src/components/Stake/                        @ledgerhq/ptx
apps/ledger-live-mobile/src/components/WebPTXPlayer/                 @ledgerhq/ptx
apps/ledger-live-mobile/src/reducers/earn.ts                         @ledgerhq/ptx
apps/ledger-live-mobile/src/reducers/swap.ts                         @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/Exchange/                        @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/PTX/                             @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/Swap/                            @ledgerhq/ptx
libs/ledger-live-common/src/exchange/                                @ledgerhq/ptx
libs/exchange-module/                                                @ledgerhq/ptx
libs/ledgerjs/packages/hw-app-exchange/                              @ledgerhq/ptx
# Wallet API team
**/PlatformAppProviderWrapper.tsx                        @ledgerhq/wallet-api
**/Web3AppWebview/                                       @ledgerhq/wallet-api
**/WebPlatformPlayer/                                    @ledgerhq/wallet-api
apps/ledger-live-desktop/src/renderer/screens/platform/  @ledgerhq/wallet-api
apps/ledger-live-desktop/src/webviewPreloader/           @ledgerhq/wallet-api
apps/ledger-live-mobile/src/screens/Discover/            @ledgerhq/wallet-api
apps/ledger-live-mobile/src/screens/Platform/            @ledgerhq/wallet-api
libs/ledger-live-common/src/platform/                    @ledgerhq/wallet-api
libs/ledger-live-common/src/wallet-api/                  @ledgerhq/wallet-api
**/platformAdapter.ts                                    @ledgerhq/wallet-api
**/walletApiAdapter.ts                                   @ledgerhq/wallet-api
**/liveapp-sdk.spec.ts                                   @ledgerhq/wallet-api
**/confirmTransaction.spec.ts                             @ledgerhq/wallet-api
**/wallet-api.spec.ts                                    @ledgerhq/wallet-api
**/wallet-api.spec.ts-snapshots/                         @ledgerhq/wallet-api
**/dapp.spec.ts                                          @ledgerhq/wallet-api
libs/test-utils/                                         @ledgerhq/wallet-api
apps/ledger-live-mobile/src/newArch/features/Web3Hub/    @ledgerhq/wallet-api

# Devices team
apps/cli/src/commands/devices                                      @ledgerhq/live-devices
**/src/renderer/screens/manager/                                   @ledgerhq/live-devices
**/screens/customImage 																				 		 @ledgerhq/live-devices
**/components/CustomImage																		 	 		 @ledgerhq/live-devices
**/screens/CustomImage 																				 		 @ledgerhq/live-devices
**/SyncOnboarding/**                                               @ledgerhq/live-devices
**/OnboardingAppInstall/**																				 @ledgerhq/live-devices
**/UpdateFirmwareModal/**																					 @ledgerhq/live-devices
apps/**/components/DeviceAction/                                   @ledgerhq/live-devices
apps/ledger-live-mobile/src/screens/MyLedger*/             	       @ledgerhq/live-devices
apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/       @ledgerhq/live-devices
apps/web-tools/repl/                                               @ledgerhq/live-devices
libs/**/devices/                                                   @ledgerhq/live-devices
libs/**/hw-transport-*/                                            @ledgerhq/live-devices
libs/**/react-native-*/                                            @ledgerhq/live-devices
libs/**/swift-*/                                                   @ledgerhq/live-devices
libs/**/types-devices/                                             @ledgerhq/live-devices
libs/ledger-live-common/src/apps/                                  @ledgerhq/live-devices
libs/ledger-live-common/src/hw/                                    @ledgerhq/live-devices
libs/ledger-live-common/src/manager/                               @ledgerhq/live-devices
libs/ledger-live-common/src/device/                                @ledgerhq/live-devices
libs/ledger-live-common/src/deviceSDK/                             @ledgerhq/live-devices
libs/device-core/                                                  @ledgerhq/live-devices
libs/device-react/                                                 @ledgerhq/live-devices
libs/speculos-transport/                                           @ledgerhq/live-devices @ledgerhq/qaa

# Recover team
apps/ledger-live-desktop/src/renderer/components/RecoverBanner/         @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/components/RecoverRestore/        @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/components/WebRecoverPlayer/      @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/           @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/screens/recover/                  @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/RecoverBanner/                   @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/ServicesWidget/Protect/          @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/WebRecoverPlayer/                @ledgerhq/recover-software
apps/ledger-live-mobile/src/screens/Protect/                            @ledgerhq/recover-software
libs/ledger-live-common/src/hooks/recoverFeatureFlag.ts                 @ledgerhq/recover-software

# Live hub overrides

apps/web-tools/trustchain/                               @ledgerhq/live-hub

# UI tests
apps/ledger-live-desktop/tests/                          @ledgerhq/live-hub @ledgerhq/qaa
apps/ledger-live-mobile/e2e/                             @ledgerhq/live-hub @ledgerhq/qaa

# Cross-team generic files can be opted out (no strict ownership when it concerns everyone)
apps/ledger-live-desktop/static/i18n/
apps/ledger-live-mobile/src/locales/
apps/ledger-live-mobile/src/components/RootNavigator/
apps/ledger-live-mobile/src/const/navigation.ts
apps/**/package.json
libs/ledgerjs/packages/errors/src/index.ts
libs/ledger-live-common/src/config/sharedConfig.ts
libs/ledger-live-common/package.json
**/generated/
