Repository LedgerHQ/ledger-live, changes with the owners that CODEOWNERS names for each.
All owners: @ledgerhq/live-devx, @ledgerhq/live-blockchain-support, @ledgerhq/live-platform-and-services, @ledgerhq/live-devices, @ledgerhq/live-qa, @gre

increase maxAccount
  libs/ledger-live-common/src/families/celo/specs/createSendMutation.ts
  libs/ledger-live-common/src/families/ethereum/specs.ts
  libs/ledger-live-common/src/families/solana/specs.ts
Owners: none

Add new choose name onboarding state
  libs/ledger-live-common/src/hw/extractOnboardingState.test.ts
  libs/ledger-live-common/src/hw/extractOnboardingState.ts
Owners: none

Add changelog
  .changeset/hip-beans-tease.md
Owners: none

:rocket: nightly release
  .changeset/pre.json
  apps/cli/CHANGELOG.md
  apps/cli/package.json
  apps/ledger-live-desktop/CHANGELOG.md
  apps/ledger-live-desktop/package.json
  apps/ledger-live-mobile/CHANGELOG.md
  apps/ledger-live-mobile/package.json
  libs/ledger-live-common/CHANGELOG.md
  libs/ledger-live-common/package.json
  libs/ledgerjs/packages/cryptoassets/CHANGELOG.md
  libs/ledgerjs/packages/cryptoassets/package.json
  libs/ledgerjs/packages/hw-app-eth/CHANGELOG.md
  libs/ledgerjs/packages/hw-app-eth/package.json
  libs/ledgerjs/packages/types-cryptoassets/CHANGELOG.md
  libs/ledgerjs/packages/types-cryptoassets/package.json
  libs/ui/packages/native/CHANGELOG.md
  libs/ui/packages/native/package.json
  tools/common-tools/CHANGELOG.md
  tools/common-tools/package.json
Owners: @ledgerhq/live-devx

add supported languages
  apps/ledger-live-desktop/src/config/languages.js
Owners: none

update pt language file
  apps/ledger-live-desktop/src/renderer/i18n/index.js
Owners: none

bugfix(Storage): Wrong message when LNX storage is full
  .changeset/rich-snakes-turn.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Manager/Device/DeviceAppStorage.tsx
Owners: none

bitcoin spec: explicit destination for all mutations
  libs/ledger-live-common/src/families/bitcoin/specs.ts
Owners: none

Celo staking LLM - withdraw unlocked funds (#1208)
  .changeset/tiny-shrimps-promise.md
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/families/celo/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-mobile/src/families/celo/ActivateFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/celo/ActivateFlow/SelectValidator.tsx
  apps/ledger-live-mobile/src/families/celo/Delegations/Row.tsx
  apps/ledger-live-mobile/src/families/celo/Delegations/index.tsx
  apps/ledger-live-mobile/src/families/celo/Delegations/utils.tsx
  apps/ledger-live-mobile/src/families/celo/LockFlow/01-Amount.tsx
  apps/ledger-live-mobile/src/families/celo/ManageAssetsNavigator/index.tsx
  apps/ledger-live-mobile/src/families/celo/RegistrationFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/celo/RevokeFlow/01-Summary.tsx
  apps/ledger-live-mobile/src/families/celo/RevokeFlow/SelectValidator.tsx
  apps/ledger-live-mobile/src/families/celo/RevokeFlow/VoteAmount.tsx
  apps/ledger-live-mobile/src/families/celo/SendRowsFee.tsx
  apps/ledger-live-mobile/src/families/celo/UnlockFlow/01-Amount.tsx
  apps/ledger-live-mobile/src/families/celo/ValidatorRow.tsx
  apps/ledger-live-mobile/src/families/celo/VoteFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/celo/VoteFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/celo/VoteFlow/SelectValidator.tsx
  apps/ledger-live-mobile/src/families/celo/VoteFlow/VoteAmount.tsx
  apps/ledger-live-mobile/src/families/celo/WithdrawFlow/ValidationError.tsx
  apps/ledger-live-mobile/src/families/celo/WithdrawFlow/ValidationSuccess.tsx
  apps/ledger-live-mobile/src/families/celo/WithdrawFlow/WithdrawAmount.tsx
  apps/ledger-live-mobile/src/families/celo/WithdrawFlow/index.tsx
  apps/ledger-live-mobile/src/families/celo/accountActions.tsx
  apps/ledger-live-mobile/src/families/celo/components/CeloIcon.tsx
  apps/ledger-live-mobile/src/families/celo/components/ErrorAndWarning.tsx
  apps/ledger-live-mobile/src/families/celo/components/Line.tsx
  apps/ledger-live-mobile/src/families/celo/components/Words.tsx
  apps/ledger-live-mobile/src/families/celo/index.ts
  apps/ledger-live-mobile/src/families/celo/operationDetails.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Owners: @ledgerhq/live-blockchain-support

fix: show only available providers
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
Owners: none

chore: add changeset
  .changeset/pretty-lobsters-smile.md
Owners: none

bot: add testDestination to assert impact on destination account + other bot fixes (#1290)
  .github/workflows/bot-phosphore.yml
  libs/ledger-live-common/src/bot/engine.ts
  libs/ledger-live-common/src/bot/formatters.ts
  libs/ledger-live-common/src/bot/index.ts
  libs/ledger-live-common/src/bot/specs.ts
  libs/ledger-live-common/src/bot/types.ts
  libs/ledger-live-common/src/families/algorand/specs.ts
  libs/ledger-live-common/src/families/bitcoin/specs.ts
  libs/ledger-live-common/src/families/cardano/specs.ts
  libs/ledger-live-common/src/families/celo/specs/createSendMutation.ts
  libs/ledger-live-common/src/families/cosmos/specs.ts
  libs/ledger-live-common/src/families/ethereum/specs.ts
  libs/ledger-live-common/src/families/evm/specs.ts
  libs/ledger-live-common/src/families/filecoin/specs.ts
  libs/ledger-live-common/src/families/hedera/specs.ts
  libs/ledger-live-common/src/families/osmosis/specs.ts
  libs/ledger-live-common/src/families/polkadot/specs.ts
  libs/ledger-live-common/src/families/ripple/specs.ts
  libs/ledger-live-common/src/families/solana/specs.ts
  libs/ledger-live-common/src/families/tezos/specs.ts
  libs/ledger-live-common/src/families/tron/specs.ts
  libs/ledger-live-common/src/load/speculos.ts
Owners: @gre, @ledgerhq/live-blockchain-support, @ledgerhq/live-qa

adding missing translation keys
  apps/ledger-live-desktop/static/i18n/en/app.json
Owners: none

fix: show only available providers
  libs/ledger-live-common/src/exchange/swap/getExchangeRates.ts
Owners: none

chore: add changeset
  .changeset/pretty-lobsters-smile.md
Owners: none

feat/LIVE-537 llc logic for bim support
  libs/ledger-live-common/src/api/BIM.ts
  libs/ledger-live-common/src/apps/hw.ts
  libs/ledger-live-common/src/apps/logic.ts
  libs/ledger-live-common/src/apps/react.ts
  libs/ledger-live-common/src/apps/reactBIM.ts
  libs/ledger-live-common/src/apps/runner.ts
  libs/ledger-live-common/src/env.ts
  libs/ledger-live-common/src/hw/actions/app.ts
  libs/ledger-live-common/src/hw/deviceAccess.ts
  libs/ledger-live-common/src/hw/index.ts
Owners: none

feat/LIVE-537 llm changes for bim
  .pnpmfile.cjs
  apps/ledger-live-mobile/android/app/build.gradle
  apps/ledger-live-mobile/ios/Podfile
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/package.json
  apps/ledger-live-mobile/src/components/DeviceActionModal.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/index.tsx
  apps/ledger-live-mobile/src/hw-transport-react-native-ble/index.ts
  apps/ledger-live-mobile/src/hw-transport-react-native-ble/makeMock.ts
  apps/ledger-live-mobile/src/index.tsx
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Manager/Manager.tsx
  apps/ledger-live-mobile/src/screens/Manager/shared.ts
  apps/ledger-live-mobile/src/screens/PairDevices/Scanning.tsx
  apps/ledger-live-mobile/src/screens/PairDevices/index.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  package.json
Owners: none

feat/LIVE-537 Use jitpack instead of github packages for dep
  libs/ledgerjs/packages/hw-transport-react-native-ble/android/build.gradle
Owners: none

feat/LIVE-537 hw-transport-react-native ble [Android]
  .gitignore
  apps/ledger-live-mobile/android/app/src/main/AndroidManifest.xml
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/BackgroundRunner.kt
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainActivity.java
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/MainApplication.java
  apps/ledger-live-mobile/android/build.gradle
  libs/ledger-live-common/src/hw/index.ts
  libs/ledgerjs/packages/hw-transport-react-native-ble/.gitignore
  libs/ledgerjs/packages/hw-transport-react-native-ble/android/build.gradle
  libs/ledgerjs/packages/hw-transport-react-native-ble/android/src/main/AndroidManifest.xml
  libs/ledgerjs/packages/hw-transport-react-native-ble/android/src/main/java/com/hwtransportreactnativeble/EventEmitter.kt
  libs/ledgerjs/packages/hw-transport-react-native-ble/android/src/main/java/com/hwtransportreactnativeble/HwTransportReactNativeBleModule.kt
  libs/ledgerjs/packages/hw-transport-react-native-ble/android/src/main/java/com/hwtransportreactnativeble/tasks/Queue.kt
  libs/ledgerjs/packages/hw-transport-react-native-ble/android/src/main/java/com/hwtransportreactnativeble/tasks/Runner.kt
  libs/ledgerjs/packages/hw-transport-react-native-ble/src/BleTransport.tsx
Owners: none

Fix build issue with Storyly by downgrading Kotlin from 1.6.0 to 1.7.0
  apps/ledger-live-mobile/android/build.gradle
Owners: none

feat/LIVE-537 Changes to iOS implementation after Android
  apps/ledger-live-mobile/ios/Podfile
  libs/ledgerjs/packages/hw-transport-react-native-ble/ios/EventEmitter.swift
  libs/ledgerjs/packages/hw-transport-react-native-ble/ios/HwTransportReactNativeBle.m
  libs/ledgerjs/packages/hw-transport-react-native-ble/ios/HwTransportReactNativeBle.swift
  libs/ledgerjs/packages/hw-transport-react-native-ble/src/BleTransport.tsx
Owners: none

feat/LIVE-537 Connectivity error mid queue, handling errors
  apps/ledger-live-mobile/src/screens/Manager/Modals/InstalledAppModal.tsx
  libs/ledger-live-common/src/apps/reactBIM.ts
  libs/ledgerjs/packages/hw-transport-react-native-ble/ios/HwTransportReactNativeBle.swift
  libs/ledgerjs/packages/hw-transport-react-native-ble/ios/Tasks/Queue.swift
  libs/ledgerjs/packages/hw-transport-react-native-ble/ios/Tasks/Runner.swift
  libs/ledgerjs/packages/hw-transport-react-native-ble/src/BleTransport.tsx
Owners: none

feat/LIVE-537 Bump transport + fix on disconnect android
  libs/ledger-live-common/src/hw/deviceAccess.ts
  libs/ledgerjs/packages/hw-transport-react-native-ble/android/build.gradle
  libs/ledgerjs/packages/hw-transport-react-native-ble/android/src/main/java/com/hwtransportreactnativeble/HwTransportReactNativeBleModule.kt
  libs/ledgerjs/packages/hw-transport-react-native-ble/src/BleTransport.tsx
Owners: none

feat/LIVE-537 fix bug in ble frame logic for receive apdu
  apps/ledger-live-mobile/ios/Podfile
  libs/ledgerjs/packages/hw-transport-react-native-ble/ios/Tasks/Runner.swift
Owners: none

feat/LIVE-537 fix race condition on queue management
  libs/ledger-live-common/src/apps/reactBIM.ts
  libs/ledgerjs/packages/hw-transport-react-native-ble/ios/Tasks/Queue.swift
Owners: none

feat/LIVE-537 Switch to production endpoint
  libs/ledger-live-common/src/env.ts
Owners: none

feat/LIVE-537 Drop github packages repo
  apps/ledger-live-mobile/android/build.gradle
Owners: none

feat/LIVE-537 Update feat to changes in API and up to date develop
  apps/ledger-live-mobile/android/app/src/main/AndroidManifest.xml
  libs/ledger-live-common/src/apps/hw.ts
  libs/ledger-live-common/src/apps/reactBIM.ts
  libs/ledgerjs/packages/hw-transport-react-native-ble/android/src/main/java/com/hwtransportreactnativeble/HwTransportReactNativeBleModule.kt
Owners: none

feat/LIVE-537 Put bim behind feature flag
  libs/ledger-live-common/src/apps/reactBIM.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-devices/src/index.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Owners: none

feat/LIVE-537 Added logs to HwTransportReactNativeBleModule
  libs/ledgerjs/packages/hw-transport-react-native-ble/android/src/main/java/com/hwtransportreactnativeble/HwTransportReactNativeBleModule.kt
Owners: none

feat/LIVE-537 Post ts migration cleanup
  apps/ledger-live-mobile/src/components/DeviceActionModal.tsx
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
Owners: none

feat/LIVE-537 Drop timeout on ios transport because apparently it's no longer there
  libs/ledgerjs/packages/hw-transport-react-native-ble/ios/HwTransportReactNativeBle.swift
Owners: none

feat/LIVE-537 Add analytics component to track prevented broken queues
  apps/ledger-live-mobile/src/components/TrackBIM.ts
  apps/ledger-live-mobile/src/index.tsx
  libs/ledgerjs/packages/hw-transport-react-native-ble/src/BleTransport.tsx
Owners: none

feat/LIVE-537 Use latest android transport hash
  libs/ledger-live-common/src/apps/reactBIM.ts
  libs/ledgerjs/packages/hw-transport-react-native-ble/android/build.gradle
  libs/ledgerjs/packages/hw-transport-react-native-ble/src/BleTransport.tsx
Owners: none

feat/LIVE-537 Point to a new commit for the android transport
  libs/ledgerjs/packages/hw-transport-react-native-ble/android/build.gradle
Owners: none

Implement bluetooth permissions handling in helper prompt (Android>=12)
  apps/ledger-live-mobile/android/.settings/org.eclipse.buildship.core.prefs
  apps/ledger-live-mobile/android/app/src/main/java/com/ledger/live/BluetoothHelperModule.java
  apps/ledger-live-mobile/src/components/GenericErrorView.tsx
  apps/ledger-live-mobile/src/components/RequiresBLE/BluetoothDisabled.tsx
  apps/ledger-live-mobile/src/components/SelectDevice/index.tsx
  apps/ledger-live-mobile/src/logic/bluetoothHelper.ts
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
  libs/ledger-live-common/mobile-test-app/android/.settings/org.eclipse.buildship.core.prefs
Owners: none

feat/LIVE-537 Improve device scanning
  apps/ledger-live-mobile/src/screens/PairDevices/Scanning.tsx
  libs/ledgerjs/packages/hw-transport-react-native-ble/android/build.gradle
  libs/ledgerjs/packages/hw-transport-react-native-ble/android/src/main/java/com/hwtransportreactnativeble/HwTransportReactNativeBleModule.kt
  libs/ledgerjs/packages/hw-transport-react-native-ble/ios/EventEmitter.swift
  libs/ledgerjs/packages/hw-transport-react-native-ble/ios/HwTransportReactNativeBle.swift
  libs/ledgerjs/packages/hw-transport-react-native-ble/src/BleTransport.tsx
  libs/ledgerjs/packages/hw-transport/README.md
Owners: none

Remove direct call of NativeModules.BluetoothHelperModule in SkipSelectDevice
  apps/ledger-live-mobile/src/screens/SkipSelectDevice.ts
Owners: none

had to run pod on llm, bad import on bletransport
  apps/ledger-live-mobile/ios/Podfile.lock
  apps/ledger-live-mobile/src/screens/PairDevices/Scanning.tsx
Owners: none

remove debug prompt button from portfolio
  apps/ledger-live-mobile/src/screens/Portfolio/index.tsx
Owners: none

CODEOWNERS:

# Live DX Team

.github/              @ledgerhq/live-devx
scripts/              @ledgerhq/live-devx
tools/                @ledgerhq/live-devx
fastlane/             @ledgerhq/live-devx

# Live Blockchain Support Team

apps/**/families/                                               @ledgerhq/live-blockchain-support
ledger-live-desktop/src/live-common-set-supported-currencies.*  @ledgerhq/live-blockchain-support
ledger-live-mobile/src/live-common-setup.*                      @ledgerhq/live-blockchain-support
ledger-live-common/src/families                                 @ledgerhq/live-blockchain-support
ledgerjs/packages/cryptoassets                                  @ledgerhq/live-blockchain-support
ledgerjs/packages/types-cryptoassets                            @ledgerhq/live-blockchain-support
ledgerjs/packages/hw-app-*                                      @ledgerhq/live-blockchain-support

# Live Platform and Services Team

ledger-live-desktop/src/renderer/screens/exchange/  @ledgerhq/live-platform-and-services
ledger-live-mobile/src/screens/Exchange/            @ledgerhq/live-platform-and-services
ledger-live-common/src/exchange/                    @ledgerhq/live-platform-and-services
ledger-live-common/src/platform/                    @ledgerhq/live-platform-and-services

# Live Devices Team

apps/**/components/DeviceAction/        @ledgerhq/live-devices
ledger-live-mobile/src/screens/Manager/ @ledgerhq/live-devices
ledger-live-common/src/hw/              @ledgerhq/live-devices
ledger-live-common/src/apps/            @ledgerhq/live-devices
ledger-live-common/src/manager/         @ledgerhq/live-devices
ledgerjs/packages/types-devices/        @ledgerhq/live-devices
ledgerjs/packages/devices/              @ledgerhq/live-devices
ledgerjs/packages/hw-transport-*        @ledgerhq/live-devices
ledgerjs/packages/react-native-*        @ledgerhq/live-devices


# Live QA Team
ledger-live-desktop/tests/**/*-snapshots/ @ledgerhq/live-qa

# Cross-teams
.github/**/bot-*.yml                 @gre @ledgerhq/live-blockchain-support @ledgerhq/live-qa
ledgerjs/packages/types-live/        @gre @ledgerhq/live-blockchain-support @ledgerhq/live-platform-and-services @ledgerhq/live-devices
