Repository LedgerHQ/ledger-live, changes with the owners that CODEOWNERS names for each.
All owners: @ledgerhq/live-hub, @ledgerhq/live-blockchain-support, @ledgerhq/ptx, @ledgerhq/wallet-api, @ledgerhq/live-devices, @ledgerhq/qaa, @ledgerhq/recover-software

fix path to cryptoassets
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/erc20.ts
Owners: @ledgerhq/live-blockchain-support

revert path cassets
  libs/ledgerjs/packages/hw-app-eth/src/services/ledger/erc20.ts
Owners: @ledgerhq/live-blockchain-support

typo fix
  libs/ledgerjs/packages/hw-app-eth/tests/EIP712/filtered-signMessage.unit.test.ts
Owners: @ledgerhq/live-blockchain-support

fix: load react-devtools dynamically
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/src/main/index.ts
  pnpm-lock.yaml
Owners: @ledgerhq/live-hub

paraswap apdus fixing UTs
  libs/ledgerjs/packages/hw-app-eth/tests/Eth.unit.test.ts
Owners: @ledgerhq/live-blockchain-support

fix erc20 ok test apdus
  libs/ledgerjs/packages/hw-app-eth/tests/ERC20/ERC20-CAL-OK.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/ERC20-OK.apdus
Owners: @ledgerhq/live-blockchain-support

chore(llm): 🔍 accept analytics during onboarding tests (#7959)
  .changeset/five-ties-sniff.md
  apps/ledger-live-mobile/e2e/page/onboarding/onboardingSteps.page.ts
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantA/Main.tsx
  apps/ledger-live-mobile/src/screens/AnalyticsOptInPrompt/variantB/Main.tsx
Owners: @ledgerhq/live-hub, @ledgerhq/qaa

fix ERC20 CAL KO tests apdus
  libs/ledgerjs/packages/hw-app-eth/tests/ERC20/ERC20-CAL-KO.unit.test.ts
  libs/ledgerjs/packages/hw-app-eth/tests/fixtures/apdus/ERC20-KO.apdus
Owners: @ledgerhq/live-blockchain-support

Taking speculos screenshot only for Speculos tests
  apps/ledger-live-desktop/tests/utils/allureUtils.ts
Owners: @ledgerhq/live-hub, @ledgerhq/qaa

chore(llm): create `llmMemoTag`
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Owners: @ledgerhq/live-hub

test: 🎭 Adding new e2e send tests scenario
  apps/ledger-live-desktop/tests/component/layout.component.ts
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/models/Transaction.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/specs/speculos/delete.account.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/subAccount.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-checkSendAddress.json
Owners: @ledgerhq/live-hub, @ledgerhq/qaa

fix unimported
  libs/coin-modules/coin-evm/.unimportedrc.json
Owners: @ledgerhq/live-blockchain-support

chore: update change log
  .changeset/bright-months-fold.md
Owners: none

LLM - Use Production Firebase on iOS Nightly Builds (#7909)
  .changeset/stupid-students-clap.md
  apps/ledger-live-mobile/.env.ios.nightly
  apps/ledger-live-mobile/ios/ledgerlivemobile/Info.plist
  apps/ledger-live-mobile/mobile-env.md
Owners: @ledgerhq/live-hub

Feat/LIVE-13502 Etherlink integration (#7740)
  .changeset/brown-buckets-matter.md
  apps/cli/src/live-common-setup-base.ts
  apps/ledger-live-desktop/src/live-common-set-supported-currencies.ts
  apps/ledger-live-desktop/src/renderer/modals/AddAccounts/steps/StepChooseCurrency.tsx
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-darwin.json
  apps/ledger-live-desktop/tests/specs/services/wallet-api.spec.ts-snapshots/wallet-api-currencies-linux.json
  apps/ledger-live-mobile/src/live-common-setup.ts
  apps/ledger-live-mobile/src/screens/AddAccounts/01-SelectCrypto.tsx
  libs/coin-framework/src/currencies/__snapshots__/formatCurrencyUnit.test.ts.snap
  libs/coin-modules/coin-evm/src/__tests__/unit/editTransaction/__snapshots__/getFormattedFeeFields.test.ts.snap
  libs/coin-modules/coin-evm/src/api/node/rpc.common.ts
  libs/ledger-live-common/src/__tests__/test-helpers/environment.ts
  libs/ledger-live-common/src/currencies/__snapshots__/sortByMarketcap.test.ts.snap
  libs/ledger-live-common/src/families/evm/config.ts
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/cryptoassets/src/abandonseed.ts
  libs/ledgerjs/packages/cryptoassets/src/currencies.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42793/erc20-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42793/erc20-signatures-hash.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42793/erc20-signatures.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42793/erc20.json
  libs/ledgerjs/packages/cryptoassets/src/data/evm/42793/index.ts
  libs/ledgerjs/packages/cryptoassets/src/data/evm/index.ts
  libs/ledgerjs/packages/types-cryptoassets/src/index.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/crypto-icons/src/svg/currency_etherlink.svg
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub, @ledgerhq/qaa

fix(coin-solana): transition of outdated Solana GetStakeActivation endpoint (#7956)
  .changeset/shy-apples-tickle.md
  libs/coin-modules/coin-solana/src/api/chain/account/index.ts
  libs/coin-modules/coin-solana/src/api/chain/account/parser.ts
  libs/coin-modules/coin-solana/src/api/chain/account/stake.ts
  libs/coin-modules/coin-solana/src/api/chain/index.ts
  libs/coin-modules/coin-solana/src/api/chain/stake-activation/delegation.ts
  libs/coin-modules/coin-solana/src/api/chain/stake-activation/index.ts
  libs/coin-modules/coin-solana/src/api/chain/stake-activation/rpc.ts
  libs/coin-modules/coin-solana/src/api/chain/validators/bignum.ts
Owners: @ledgerhq/live-blockchain-support

add coinconfig + update translations
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/coin-modules/coin-cardano/src/bridge/index.ts
  libs/coin-modules/coin-cardano/src/config.ts
  libs/coin-modules/coin-cardano/src/constants.ts
  libs/coin-modules/coin-cardano/src/getTransactionStatus.ts
  libs/ledger-live-common/src/families/cardano/config.ts
  libs/ledger-live-common/src/families/cardano/setup.ts
Owners: @ledgerhq/live-blockchain-support

major->minor changeset hw-app-eth and cryptoassets evm
  .changeset/thick-poets-lie.md
Owners: none

chore: use correct version bump for llm's changeset
  .changeset/stupid-students-clap.md
Owners: none

chore: use correct version bump for llm's changeset (#7970)
  .changeset/stupid-students-clap.md
Owners: none

feat(thorswap-swap): fix btc swap app
  libs/coin-modules/coin-bitcoin/src/wallet-btc/xpub.ts
Owners: @ledgerhq/live-blockchain-support

feat(thorswap-swap): fix cal info version and CEX/DEX thorswap
  libs/ledger-live-common/src/exchange/platform/startExchange.ts
  libs/ledger-live-common/src/exchange/providers/getProvidersData.test.ts
  libs/ledger-live-common/src/exchange/providers/getProvidersData.ts
  libs/ledger-live-common/src/exchange/providers/index.ts
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
Owners: @ledgerhq/ptx

feat(thorswap-swap-btc): add swap btc with thorswap
  libs/ledger-live-common/src/exchange/platform/startExchange.ts
  libs/ledger-live-common/src/exchange/platform/transfer/completeExchange.ts
  libs/ledger-live-common/src/exchange/providers/index.ts
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/swap/completeExchange.ts
  libs/ledger-live-common/src/exchange/swap/initSwap.ts
Owners: @ledgerhq/ptx

feat(thorswap-swap): changeset
  .changeset/three-turtles-smile.md
Owners: none

fix cc
  libs/ledger-live-common/src/families/cardano/setup.ts
Owners: @ledgerhq/live-blockchain-support

fix: fetch feature flags every 5 minutes
  .changeset/strange-news-compete.md
  apps/ledger-live-desktop/src/renderer/components/FirebaseRemoteConfig.tsx
  apps/ledger-live-mobile/src/components/FirebaseRemoteConfig.tsx
Owners: @ledgerhq/live-hub

chore(llm): 🚦 create `llmMemoTag` feature flag (#7963)
  .changeset/bright-months-fold.md
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Owners: @ledgerhq/live-hub

update texts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/coin-modules/coin-cardano/src/errors.ts
  libs/coin-modules/coin-cardano/src/getTransactionStatus.ts
Owners: @ledgerhq/live-blockchain-support

add changeset
  .changeset/thick-foxes-repair.md
Owners: none

added entrypoints to ACRE liveApp on lld
  apps/ledger-live-desktop/src/renderer/families/bitcoin/AccountHeaderManageActions.ts
  apps/ledger-live-desktop/src/renderer/screens/asset/AssetBalanceSummaryHeader.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketCoin/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/market/MarketList/components/MarketRowItem.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub

update dependencies
  apps/ledger-live-mobile/src/newArch/features/Web3Hub/utils/api/mocks/manifests.ts
  libs/coin-modules/coin-multiversx/package.json
  libs/ledger-live-common/src/families/multiversx/setup.ts
  libs/ledgerjs/packages/hw-app-multiversx/package.json
  package.json
  pnpm-lock.yaml
Owners: @ledgerhq/wallet-api, @ledgerhq/live-blockchain-support

test: implement CLI command to speculos tests
  apps/cli/src/live-common-setup.ts
  apps/ledger-live-desktop/package.json
  apps/ledger-live-desktop/tests/fixtures/common.ts
  apps/ledger-live-desktop/tests/utils/electronUtils.ts
  libs/ledger-live-common/src/hw/index.ts
  pnpm-lock.yaml
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub, @ledgerhq/qaa, @ledgerhq/live-devices

feat(thorswap-btc): fix tests get providers from CDN
  libs/ledger-live-common/src/exchange/providers/getProvidersData.test.ts
Owners: @ledgerhq/ptx

:sparkles:(lld): add suggestion
  apps/ledger-live-desktop/src/renderer/screens/nft/Collections/Collections.tsx
Owners: @ledgerhq/live-hub

feat: useCheckNftAccount in [LIB]
  .changeset/nervous-pumpkins-remain.md
  apps/ledger-live-desktop/src/renderer/hooks/useHideSpamCollection.ts
  apps/ledger-live-desktop/src/renderer/screens/nft/Collections/Collections.tsx
  libs/live-nft-react/src/hooks/__tests__/testHelper.ts
  libs/live-nft-react/src/hooks/__tests__/useCheckNftAccount.test.tsx
  libs/live-nft-react/src/hooks/__tests__/useNftGalleryFilter.test.tsx
  libs/live-nft-react/src/hooks/helpers/index.ts
  libs/live-nft-react/src/hooks/types.ts
  libs/live-nft-react/src/hooks/useCheckNftAccount.ts
  libs/live-nft-react/src/hooks/useNftGalleryFilter.ts
  libs/live-nft-react/src/index.ts
Owners: @ledgerhq/live-hub

test: 💚 Adding E2E delegate test - Speculos
  apps/ledger-live-desktop/tests/component/modal.component.ts
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/AppInfos.ts
  apps/ledger-live-desktop/tests/enum/Currency.ts
  apps/ledger-live-desktop/tests/enum/DeviceLabels.ts
  apps/ledger-live-desktop/tests/page/index.ts
  apps/ledger-live-desktop/tests/page/modal/delegate.modal.ts
  apps/ledger-live-desktop/tests/specs/accounts/delegate.smoke.spec.ts
  apps/ledger-live-desktop/tests/specs/services/ethereumStaking.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-delegate.json
  libs/ledger-live-common/src/e2e/speculos.ts
Owners: @ledgerhq/live-hub, @ledgerhq/qaa

:sparkles:(lld): fix what rebase broke
  libs/live-nft-react/.unimportedrc.json
  libs/live-nft-react/package.json
  libs/live-nft-react/src/hooks/__tests__/testHelper.ts
  libs/live-nft-react/src/hooks/__tests__/useCheckNftAccount.test.tsx
  libs/live-nft-react/src/hooks/__tests__/useNftGalleryFilter.test.tsx
  libs/live-nft-react/src/tools/helperTests.tsx
  pnpm-lock.yaml
Owners: @ledgerhq/live-hub

Support/fix ada fees (#7965)
  .changeset/thick-foxes-repair.md
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/steps/StepDelegation.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/steps/StepSummary.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/SendAmountFields/MemoField.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/SendAmountFields/MemoValueField.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/SendAmountFields/index.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/UndelegateFlowModal/steps/StepSummary.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/cardano/UndelegationFlow/01-Summary.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/coin-modules/coin-cardano/src/bridge/index.ts
  libs/coin-modules/coin-cardano/src/buildTransaction.ts
  libs/coin-modules/coin-cardano/src/config.ts
  libs/coin-modules/coin-cardano/src/errors.ts
  libs/coin-modules/coin-cardano/src/estimateMaxSpendable.ts
  libs/coin-modules/coin-cardano/src/getTransactionStatus.ts
  libs/coin-modules/coin-cardano/src/logic.ts
  libs/coin-modules/coin-cardano/src/logic.unit.test.ts
  libs/coin-modules/coin-cardano/src/prepareTransaction.ts
  libs/coin-modules/coin-cardano/src/signOperation.ts
  libs/coin-modules/coin-cardano/src/transaction.ts
  libs/coin-modules/coin-cardano/src/types.ts
  libs/ledger-live-common/src/families/cardano/config.ts
  libs/ledger-live-common/src/families/cardano/setup.ts
Owners: @ledgerhq/live-blockchain-support

Support/fix ada fees (#7965)
  .changeset/thick-foxes-repair.md
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/steps/StepDelegation.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/steps/StepSummary.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/SendAmountFields/MemoField.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/SendAmountFields/MemoValueField.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/SendAmountFields/index.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/UndelegateFlowModal/steps/StepSummary.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/cardano/UndelegationFlow/01-Summary.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/coin-modules/coin-cardano/src/bridge/index.ts
  libs/coin-modules/coin-cardano/src/buildTransaction.ts
  libs/coin-modules/coin-cardano/src/config.ts
  libs/coin-modules/coin-cardano/src/errors.ts
  libs/coin-modules/coin-cardano/src/estimateMaxSpendable.ts
  libs/coin-modules/coin-cardano/src/getTransactionStatus.ts
  libs/coin-modules/coin-cardano/src/logic.ts
  libs/coin-modules/coin-cardano/src/logic.unit.test.ts
  libs/coin-modules/coin-cardano/src/prepareTransaction.ts
  libs/coin-modules/coin-cardano/src/signOperation.ts
  libs/coin-modules/coin-cardano/src/transaction.ts
  libs/coin-modules/coin-cardano/src/types.ts
  libs/ledger-live-common/src/families/cardano/config.ts
  libs/ledger-live-common/src/families/cardano/setup.ts
Owners: @ledgerhq/live-blockchain-support

fix(llm): triggering proper error on CLS mobile disconnection
  .changeset/tame-brooms-breathe.md
  apps/ledger-live-mobile/src/components/CustomLockScreenDeviceAction/index.tsx
  libs/ledger-live-common/src/hw/customLockScreenLoad.ts
Owners: @ledgerhq/live-hub, @ledgerhq/live-devices

CODEOWNERS:

# How does it work? => https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.

# Hub team
## by default, hub manage apps and libs related to it & then we overrides many exceptions
apps/cli/src/commands/live                               @ledgerhq/live-hub
apps/ledger-live-desktop/                                @ledgerhq/live-hub
apps/ledger-live-mobile/                                 @ledgerhq/live-hub
libs/**/errors/                                          @ledgerhq/live-hub
libs/**/logs/                                            @ledgerhq/live-hub
libs/**/types-live/                                      @ledgerhq/live-hub
libs/env/                                                @ledgerhq/live-hub
libs/ledger-live-common/src/                             @ledgerhq/live-hub
libs/live-countervalues-react/                           @ledgerhq/live-hub
libs/live-countervalues/                                 @ledgerhq/live-hub
libs/live-hooks/                                         @ledgerhq/live-hub
libs/live-nft-react/                                     @ledgerhq/live-hub
libs/live-nft/                                           @ledgerhq/live-hub
libs/promise/                                            @ledgerhq/live-hub
libs/ui/                                                 @ledgerhq/live-hub
libs/live-hooks/										 @ledgerhq/live-hub
libs/live-countervalues/								 @ledgerhq/live-hub
libs/live-countervalues-react/ 						     @ledgerhq/live-hub
libs/live-nft/                                           @ledgerhq/live-hub
libs/live-nft-react/                                     @ledgerhq/live-hub
libs/live-wallet/                                        @ledgerhq/live-hub
libs/trustchain/                                         @ledgerhq/live-hub
libs/hw-trustchain/                                      @ledgerhq/live-hub

# Blockchain team
.github/**/bot-*.yml                                     @ledgerhq/live-blockchain-support
**/live-common-set*.ts                                   @ledgerhq/live-blockchain-support
apps/**/families/                                        @ledgerhq/live-blockchain-support
apps/cli/src/commands/blockchain                         @ledgerhq/live-blockchain-support
apps/web-tools/                                          @ledgerhq/live-blockchain-support
docs/                                                    @ledgerhq/live-blockchain-support
libs/coin-*/                                             @ledgerhq/live-blockchain-support
libs/domain-service/                                     @ledgerhq/live-blockchain-support
libs/evm-tools/                                          @ledgerhq/live-blockchain-support
libs/ledger-live-common/src/bot/                         @ledgerhq/live-blockchain-support
libs/ledger-live-common/src/families/                    @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/cryptoassets/                     @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/hw-app-*/                         @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/types-cryptoassets/               @ledgerhq/live-blockchain-support
libs/live-config/                                        @ledgerhq/live-blockchain-support
libs/live-network/                                       @ledgerhq/live-blockchain-support

# PTX team
apps/cli/src/commands/ptx                                            @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/components/ProviderIcon/       @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/       @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/hooks/swap-migrations/         @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/drawers/SwapOperationDetails/  @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/modals/Platform/               @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/modals/StartStake/             @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/reducers/swap.ts               @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/earn/                  @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/exchange/              @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/stake/                 @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/swapWeb/               @ledgerhq/ptx
apps/ledger-live-mobile/src/actions/earn.ts                          @ledgerhq/ptx
apps/ledger-live-mobile/src/actions/swap.ts                          @ledgerhq/ptx
apps/ledger-live-mobile/src/components/ProviderIcon/                 @ledgerhq/ptx
apps/ledger-live-mobile/src/components/Stake/                        @ledgerhq/ptx
apps/ledger-live-mobile/src/components/WebPTXPlayer/                 @ledgerhq/ptx
apps/ledger-live-mobile/src/reducers/earn.ts                         @ledgerhq/ptx
apps/ledger-live-mobile/src/reducers/swap.ts                         @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/Exchange/                        @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/PTX/                             @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/Swap/                            @ledgerhq/ptx
libs/ledger-live-common/src/exchange/                                @ledgerhq/ptx
libs/exchange-module/                                                @ledgerhq/ptx
libs/ledgerjs/packages/hw-app-exchange/                              @ledgerhq/ptx
# Wallet API team
**/PlatformAppProviderWrapper.tsx                        @ledgerhq/wallet-api
**/Web3AppWebview/                                       @ledgerhq/wallet-api
**/WebPlatformPlayer/                                    @ledgerhq/wallet-api
apps/ledger-live-desktop/src/renderer/screens/platform/  @ledgerhq/wallet-api
apps/ledger-live-desktop/src/webviewPreloader/           @ledgerhq/wallet-api
apps/ledger-live-mobile/src/screens/Discover/            @ledgerhq/wallet-api
apps/ledger-live-mobile/src/screens/Platform/            @ledgerhq/wallet-api
libs/ledger-live-common/src/platform/                    @ledgerhq/wallet-api
libs/ledger-live-common/src/wallet-api/                  @ledgerhq/wallet-api
**/platformAdapter.ts                                    @ledgerhq/wallet-api
**/walletApiAdapter.ts                                   @ledgerhq/wallet-api
**/liveapp-sdk.spec.ts                                   @ledgerhq/wallet-api
**/confirmTransaction.spec.ts                             @ledgerhq/wallet-api
**/wallet-api.spec.ts                                    @ledgerhq/wallet-api
**/wallet-api.spec.ts-snapshots/                         @ledgerhq/wallet-api
**/dapp.spec.ts                                          @ledgerhq/wallet-api
libs/test-utils/                                         @ledgerhq/wallet-api
apps/ledger-live-mobile/src/newArch/features/Web3Hub/    @ledgerhq/wallet-api

# Devices team
apps/cli/src/commands/devices                                      @ledgerhq/live-devices
**/src/renderer/screens/manager/                                   @ledgerhq/live-devices
**/screens/customImage 																				 		 @ledgerhq/live-devices
**/components/CustomImage																		 	 		 @ledgerhq/live-devices
**/screens/CustomImage 																				 		 @ledgerhq/live-devices
**/SyncOnboarding/**                                               @ledgerhq/live-devices
**/OnboardingAppInstall/**																				 @ledgerhq/live-devices
**/UpdateFirmwareModal/**																					 @ledgerhq/live-devices
apps/**/components/DeviceAction/                                   @ledgerhq/live-devices
apps/ledger-live-mobile/src/screens/MyLedger*/             	       @ledgerhq/live-devices
apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/       @ledgerhq/live-devices
apps/web-tools/repl/                                               @ledgerhq/live-devices
libs/**/devices/                                                   @ledgerhq/live-devices
libs/**/hw-transport-*/                                            @ledgerhq/live-devices
libs/**/react-native-*/                                            @ledgerhq/live-devices
libs/**/swift-*/                                                   @ledgerhq/live-devices
libs/**/types-devices/                                             @ledgerhq/live-devices
libs/ledger-live-common/src/apps/                                  @ledgerhq/live-devices
libs/ledger-live-common/src/hw/                                    @ledgerhq/live-devices
libs/ledger-live-common/src/manager/                               @ledgerhq/live-devices
libs/ledger-live-common/src/device/                                @ledgerhq/live-devices
libs/ledger-live-common/src/deviceSDK/                             @ledgerhq/live-devices
libs/device-core/                                                  @ledgerhq/live-devices
libs/device-react/                                                 @ledgerhq/live-devices
libs/speculos-transport/                                           @ledgerhq/live-devices @ledgerhq/qaa

# Recover team
apps/ledger-live-desktop/src/renderer/components/RecoverBanner/         @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/components/RecoverRestore/        @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/components/WebRecoverPlayer/      @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/           @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/screens/recover/                  @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/RecoverBanner/                   @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/ServicesWidget/Protect/          @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/WebRecoverPlayer/                @ledgerhq/recover-software
apps/ledger-live-mobile/src/screens/Protect/                            @ledgerhq/recover-software
libs/ledger-live-common/src/hooks/recoverFeatureFlag.ts                 @ledgerhq/recover-software

# Live hub overrides

apps/web-tools/trustchain/                               @ledgerhq/live-hub

# UI tests
apps/ledger-live-desktop/tests/                          @ledgerhq/live-hub @ledgerhq/qaa
apps/ledger-live-mobile/e2e/                             @ledgerhq/live-hub @ledgerhq/qaa

# Cross-team generic files can be opted out (no strict ownership when it concerns everyone)
apps/ledger-live-desktop/static/i18n/
apps/ledger-live-mobile/src/locales/
apps/ledger-live-mobile/src/components/RootNavigator/
apps/ledger-live-mobile/src/const/navigation.ts
apps/**/package.json
libs/ledgerjs/packages/errors/src/index.ts
libs/ledger-live-common/src/config/sharedConfig.ts
libs/ledger-live-common/package.json
**/generated/
