Repository LedgerHQ/ledger-live, changes with the owners that CODEOWNERS names for each.
All owners: @ledgerhq/live-hub, @ledgerhq/live-blockchain-support, @ledgerhq/ptx, @ledgerhq/wallet-api, @ledgerhq/live-devices, @ledgerhq/qaa, @ledgerhq/recover-software

CODEOWNERS:

# How does it work? => https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.

# Hub team
## by default, hub manage apps and libs related to it & then we overrides many exceptions
apps/cli/src/commands/live                               @ledgerhq/live-hub
apps/ledger-live-desktop/                                @ledgerhq/live-hub
apps/ledger-live-mobile/                                 @ledgerhq/live-hub
libs/**/errors/                                          @ledgerhq/live-hub
libs/**/logs/                                            @ledgerhq/live-hub
libs/**/types-live/                                      @ledgerhq/live-hub
libs/env/                                                @ledgerhq/live-hub
libs/ledger-live-common/src/                             @ledgerhq/live-hub
libs/live-countervalues-react/                           @ledgerhq/live-hub
libs/live-countervalues/                                 @ledgerhq/live-hub
libs/live-hooks/                                         @ledgerhq/live-hub
libs/live-nft-react/                                     @ledgerhq/live-hub
libs/live-nft/                                           @ledgerhq/live-hub
libs/promise/                                            @ledgerhq/live-hub
libs/ui/                                                 @ledgerhq/live-hub
libs/live-hooks/										 @ledgerhq/live-hub
libs/live-countervalues/								 @ledgerhq/live-hub
libs/live-countervalues-react/ 						     @ledgerhq/live-hub
libs/live-nft/                                           @ledgerhq/live-hub
libs/live-nft-react/                                     @ledgerhq/live-hub
libs/live-wallet/                                        @ledgerhq/live-hub
libs/trustchain/                                         @ledgerhq/live-hub
libs/hw-trustchain/                                      @ledgerhq/live-hub

# Blockchain team
.github/**/bot-*.yml                                     @ledgerhq/live-blockchain-support
**/live-common-set*.ts                                   @ledgerhq/live-blockchain-support
apps/**/families/                                        @ledgerhq/live-blockchain-support
apps/cli/src/commands/blockchain                         @ledgerhq/live-blockchain-support
apps/web-tools/                                          @ledgerhq/live-blockchain-support
docs/                                                    @ledgerhq/live-blockchain-support
libs/coin-*/                                             @ledgerhq/live-blockchain-support
libs/domain-service/                                     @ledgerhq/live-blockchain-support
libs/evm-tools/                                          @ledgerhq/live-blockchain-support
libs/ledger-live-common/src/bot/                         @ledgerhq/live-blockchain-support
libs/ledger-live-common/src/families/                    @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/cryptoassets/                     @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/hw-app-*/                         @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/types-cryptoassets/               @ledgerhq/live-blockchain-support
libs/live-config/                                        @ledgerhq/live-blockchain-support
libs/live-network/                                       @ledgerhq/live-blockchain-support

# PTX team
apps/cli/src/commands/ptx                                            @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/components/ProviderIcon/       @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/       @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/hooks/swap-migrations/         @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/drawers/SwapOperationDetails/  @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/modals/Platform/               @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/modals/StartStake/             @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/reducers/swap.ts               @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/earn/                  @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/exchange/              @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/stake/                 @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/swapWeb/               @ledgerhq/ptx
apps/ledger-live-mobile/src/actions/earn.ts                          @ledgerhq/ptx
apps/ledger-live-mobile/src/actions/swap.ts                          @ledgerhq/ptx
apps/ledger-live-mobile/src/components/ProviderIcon/                 @ledgerhq/ptx
apps/ledger-live-mobile/src/components/Stake/                        @ledgerhq/ptx
apps/ledger-live-mobile/src/components/WebPTXPlayer/                 @ledgerhq/ptx
apps/ledger-live-mobile/src/reducers/earn.ts                         @ledgerhq/ptx
apps/ledger-live-mobile/src/reducers/swap.ts                         @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/Exchange/                        @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/PTX/                             @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/Swap/                            @ledgerhq/ptx
libs/ledger-live-common/src/exchange/                                @ledgerhq/ptx
libs/exchange-module/                                                @ledgerhq/ptx
libs/ledgerjs/packages/hw-app-exchange/                              @ledgerhq/ptx
# Wallet API team
**/PlatformAppProviderWrapper.tsx                        @ledgerhq/wallet-api
**/Web3AppWebview/                                       @ledgerhq/wallet-api
**/WebPlatformPlayer/                                    @ledgerhq/wallet-api
apps/ledger-live-desktop/src/renderer/screens/platform/  @ledgerhq/wallet-api
apps/ledger-live-desktop/src/webviewPreloader/           @ledgerhq/wallet-api
apps/ledger-live-mobile/src/screens/Discover/            @ledgerhq/wallet-api
apps/ledger-live-mobile/src/screens/Platform/            @ledgerhq/wallet-api
libs/ledger-live-common/src/platform/                    @ledgerhq/wallet-api
libs/ledger-live-common/src/wallet-api/                  @ledgerhq/wallet-api
**/platformAdapter.ts                                    @ledgerhq/wallet-api
**/walletApiAdapter.ts                                   @ledgerhq/wallet-api
**/liveapp-sdk.spec.ts                                   @ledgerhq/wallet-api
**/confirmTransaction.spec.ts                             @ledgerhq/wallet-api
**/wallet-api.spec.ts                                    @ledgerhq/wallet-api
**/wallet-api.spec.ts-snapshots/                         @ledgerhq/wallet-api
**/dapp.spec.ts                                          @ledgerhq/wallet-api
libs/test-utils/                                         @ledgerhq/wallet-api
apps/ledger-live-mobile/src/newArch/features/Web3Hub/    @ledgerhq/wallet-api

# Devices team
apps/cli/src/commands/devices                                      @ledgerhq/live-devices
**/src/renderer/screens/manager/                                   @ledgerhq/live-devices
**/screens/customImage 																				 		 @ledgerhq/live-devices
**/components/CustomImage																		 	 		 @ledgerhq/live-devices
**/screens/CustomImage 																				 		 @ledgerhq/live-devices
**/SyncOnboarding/**                                               @ledgerhq/live-devices
**/OnboardingAppInstall/**																				 @ledgerhq/live-devices
**/UpdateFirmwareModal/**																					 @ledgerhq/live-devices
apps/**/components/DeviceAction/                                   @ledgerhq/live-devices
apps/ledger-live-mobile/src/screens/MyLedger*/             	       @ledgerhq/live-devices
apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/       @ledgerhq/live-devices
apps/web-tools/repl/                                               @ledgerhq/live-devices
libs/**/devices/                                                   @ledgerhq/live-devices
libs/**/hw-transport-*/                                            @ledgerhq/live-devices
libs/**/react-native-*/                                            @ledgerhq/live-devices
libs/**/swift-*/                                                   @ledgerhq/live-devices
libs/**/types-devices/                                             @ledgerhq/live-devices
libs/ledger-live-common/src/apps/                                  @ledgerhq/live-devices
libs/ledger-live-common/src/hw/                                    @ledgerhq/live-devices
libs/ledger-live-common/src/manager/                               @ledgerhq/live-devices
libs/ledger-live-common/src/device/                                @ledgerhq/live-devices
libs/ledger-live-common/src/deviceSDK/                             @ledgerhq/live-devices
libs/device-core/                                                  @ledgerhq/live-devices
libs/device-react/                                                 @ledgerhq/live-devices
libs/speculos-transport/                                           @ledgerhq/live-devices @ledgerhq/qaa

# Recover team
apps/ledger-live-desktop/src/renderer/components/RecoverBanner/         @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/components/RecoverRestore/        @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/components/WebRecoverPlayer/      @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/           @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/screens/recover/                  @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/RecoverBanner/                   @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/ServicesWidget/Protect/          @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/WebRecoverPlayer/                @ledgerhq/recover-software
apps/ledger-live-mobile/src/screens/Protect/                            @ledgerhq/recover-software
libs/ledger-live-common/src/hooks/recoverFeatureFlag.ts                 @ledgerhq/recover-software

# Live hub overrides

apps/web-tools/trustchain/                               @ledgerhq/live-hub

# UI tests
apps/ledger-live-desktop/tests/                          @ledgerhq/live-hub @ledgerhq/qaa
apps/ledger-live-mobile/e2e/                             @ledgerhq/live-hub @ledgerhq/qaa

# Cross-team generic files can be opted out (no strict ownership when it concerns everyone)
apps/ledger-live-desktop/static/i18n/
apps/ledger-live-mobile/src/locales/
apps/ledger-live-mobile/src/components/RootNavigator/
apps/ledger-live-mobile/src/const/navigation.ts
apps/**/package.json
libs/ledgerjs/packages/errors/src/index.ts
libs/ledger-live-common/src/config/sharedConfig.ts
libs/ledger-live-common/package.json
**/generated/

fix: algorand lint issue
  .changeset/honest-plants-promise.md
  libs/coin-modules/coin-algorand/src/api/algodv2.ts
  libs/coin-modules/coin-algorand/src/api/indexer.ts
Owners: @ledgerhq/live-blockchain-support

chore: fix CI linter step
  libs/coin-modules/coin-algorand/src/api/algodv2.ts
  libs/coin-modules/coin-algorand/src/api/indexer.ts
Owners: @ledgerhq/live-blockchain-support

chore: fix unimported
  libs/coin-framework/package.json
  pnpm-lock.yaml
Owners: @ledgerhq/live-blockchain-support

fix: tezos llm Add custom validator in common.js
  apps/ledger-live-mobile/src/families/tezos/DelegationFlow/SelectValidator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Owners: @ledgerhq/live-blockchain-support

chore: update change log
  .changeset/old-spies-eat.md
Owners: none

fix: send all amount from an unrevealed account by using DEFAULT_FEE.REVEAL
  libs/coin-modules/coin-tezos/src/logic/estimateFees.ts
Owners: @ledgerhq/live-blockchain-support

fix: removed unused value, test: add tests for some use case
  libs/coin-modules/coin-tezos/src/bridge/prepareTransaction.test.ts
  libs/coin-modules/coin-tezos/src/logic/estimateFees.ts
Owners: @ledgerhq/live-blockchain-support

fix; delete LargeNumberLike from algorand
  libs/coin-modules/coin-algorand/src/api/indexer.ts
Owners: @ledgerhq/live-blockchain-support

fix: new changeset and algorand format
  .changeset/fifty-rats-perform.md
Owners: none

fix: update taquito package, fix send full balance on tezos. bug: we can improve the remaining dust
  libs/coin-modules/coin-tezos/package.json
  libs/coin-modules/coin-tezos/src/logic/estimateFees.ts
  pnpm-lock.yaml
Owners: @ledgerhq/live-blockchain-support

perf: improve computation of fees
  libs/coin-modules/coin-tezos/src/logic/estimateFees.ts
Owners: @ledgerhq/live-blockchain-support

add: changeset
  .changeset/curly-bats-work.md
Owners: none

fix: algodv2 format error
  libs/coin-modules/coin-algorand/src/api/algodv2.ts
Owners: @ledgerhq/live-blockchain-support

fix: comment with note and uninstall unused package
  libs/coin-framework/.unimportedrc.json
Owners: @ledgerhq/live-blockchain-support

fix: remove unused import
  libs/coin-framework/package.json
  pnpm-lock.yaml
Owners: @ledgerhq/live-blockchain-support

feat: display name history (#8000)
  .changeset/wild-poems-play.md
  libs/ledger-live-common/src/exchange/providers/swap.ts
  libs/ledger-live-common/src/exchange/swap/utils/index.ts
Owners: @ledgerhq/ptx

make sure the yield entrypoint is shown just for bitcoin and not fork of it
  apps/ledger-live-desktop/src/renderer/families/bitcoin/AccountHeaderManageActions.ts
Owners: @ledgerhq/live-blockchain-support

fix: addnot comment
  libs/coin-modules/coin-tezos/src/logic/estimateFees.ts
Owners: @ledgerhq/live-blockchain-support

fix: extend fix to all ng types
  libs/ledger-live-common/src/exchange/platform/transfer/completeExchange.ts
Owners: @ledgerhq/ptx

[ALGO] Fix lint issue (#8029)
  .changeset/honest-plants-promise.md
  libs/coin-framework/package.json
  libs/coin-modules/coin-algorand/src/api/algodv2.ts
  libs/coin-modules/coin-algorand/src/api/indexer.ts
  pnpm-lock.yaml
Owners: @ledgerhq/live-blockchain-support

test: improve Speculos Detox support for remote capabilities
  apps/ledger-live-mobile/e2e/bridge/proxy.ts
  apps/ledger-live-mobile/e2e/helpers.ts
  apps/ledger-live-mobile/e2e/page/common.page.ts
  apps/ledger-live-mobile/e2e/specs/speculos/addAccount.spec.ts
  apps/ledger-live-mobile/package.json
  libs/ledgerjs/packages/hw-transport-node-speculos-http/src/SpeculosHttpTransport.ts
  pnpm-lock.yaml
Owners: @ledgerhq/live-hub, @ledgerhq/qaa, @ledgerhq/live-devices

chore(coin): remove transport dependencies from coin-framework
  .changeset/orange-birds-wonder.md
  libs/coin-framework/package.json
  libs/coin-framework/src/bot/index.ts
  libs/coin-framework/src/bot/specs.ts
  libs/coin-framework/src/bot/types.ts
  libs/coin-modules/coin-algorand/src/speculos-deviceActions.ts
  libs/coin-modules/coin-bitcoin/src/speculos-deviceActions.ts
  libs/coin-modules/coin-cardano/src/speculos-deviceActions.ts
  libs/coin-modules/coin-cosmos/src/specs.ts
  libs/coin-modules/coin-cosmos/src/speculos-deviceActions.ts
  libs/coin-modules/coin-elrond/src/speculos-deviceActions.ts
  libs/coin-modules/coin-evm/src/speculos-deviceActions.ts
  libs/coin-modules/coin-icon/src/speculos-deviceActions.ts
  libs/coin-modules/coin-near/src/speculos-deviceActions.ts
  libs/coin-modules/coin-polkadot/src/test/bot-deviceActions.ts
  libs/coin-modules/coin-solana/src/speculos-deviceActions.ts
  libs/coin-modules/coin-stellar/src/test/bot-deviceActions.ts
  libs/coin-modules/coin-tezos/src/test/bot-deviceActions.ts
  libs/coin-modules/coin-ton/src/speculos-deviceActions.ts
  libs/coin-modules/coin-tron/src/test/bot-deviceActions.ts
  libs/coin-modules/coin-xrp/src/test/bot-deviceActions.ts
  libs/ledger-live-common/src/families/casper/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/celo/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/crypto_org/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/filecoin/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/hedera/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/internet_computer/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/stacks/speculos-deviceActions.ts
  libs/ledger-live-common/src/families/vechain/specs.ts
  libs/ledger-live-common/src/families/vechain/speculos-deviceActions.ts
Owners: @ledgerhq/live-blockchain-support

add: changeset
  .changeset/lemon-ducks-hammer.md
Owners: none

test: ✅ Adding delegate E2E test scenario
  apps/ledger-live-desktop/src/renderer/drawers/OperationDetails/index.tsx
  apps/ledger-live-desktop/tests/component/modal.component.ts
  apps/ledger-live-desktop/tests/enum/AppInfos.ts
  apps/ledger-live-desktop/tests/enum/DeviceLabels.ts
  apps/ledger-live-desktop/tests/models/Delegate.ts
  apps/ledger-live-desktop/tests/page/drawer/drawer.ts
  apps/ledger-live-desktop/tests/page/modal/delegate.modal.ts
  apps/ledger-live-desktop/tests/page/modal/send.modal.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/specs/speculos/send.tx.spec.ts
  libs/ledger-live-common/src/e2e/speculos.ts
Owners: @ledgerhq/live-hub, @ledgerhq/qaa

revised SVGs
  libs/ui/packages/crypto-icons/src/svg/GLMR.svg
  libs/ui/packages/crypto-icons/src/svg/MOVR.svg
Owners: @ledgerhq/live-hub

temp: increment build # by 2 for one CI run
  apps/ledger-live-mobile/fastlane/.env.android.nightly
  apps/ledger-live-mobile/fastlane/Fastfile
Owners: @ledgerhq/live-hub

fix(llc): quitting app before BLE pairing
  .changeset/dry-socks-reflect.md
  libs/ledger-live-common/src/ble/hooks/useBleDevicePairing.test.ts
  libs/ledger-live-common/src/ble/hooks/useBleDevicePairing.ts
Owners: @ledgerhq/live-hub

Chore: pass os parameter to earn dashboard (#8014)
  .changeset/heavy-peas-cover.md
  apps/ledger-live-desktop/src/renderer/screens/earn/index.tsx
  apps/ledger-live-mobile/src/screens/PTX/Earn/index.tsx
Owners: @ledgerhq/ptx

refactor: set SELL literal
  libs/exchange-module/src/index.ts
Owners: @ledgerhq/ptx

remove darwin screenshots from version control
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/confirmed-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/custom-fee-set-for-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/max-spendable-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/network-fees-drawer-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/open-swap-page-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/standard-network-selected-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/target-account-drawer-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/verify-swap-history-darwin.png
Owners: @ledgerhq/live-hub, @ledgerhq/qaa

swap most common currencies with speculos
  .github/pull_request_template.md
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/AccountType.ts
  apps/ledger-live-desktop/tests/enum/Swap.ts
  apps/ledger-live-desktop/tests/models/Swap.ts
  apps/ledger-live-desktop/tests/page/speculos.page.ts
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/confirmed-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/custom-fee-set-for-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/initiate-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/max-spendable-swap-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/network-fees-drawer-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/open-swap-page-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/standard-network-selected-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/target-account-drawer-darwin.png
  apps/ledger-live-desktop/tests/specs/services/swap.spec.ts-snapshots/verify-swap-history-darwin.png
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
  libs/ledger-live-common/src/e2e/speculos.ts
  libs/speculos-transport/src/index.ts
Owners: @ledgerhq/live-hub, @ledgerhq/qaa, @ledgerhq/live-devices

prettier
  libs/speculos-transport/src/index.ts
Owners: @ledgerhq/live-devices, @ledgerhq/qaa

style: 🚚 Rename variable + answer PR coms
  apps/ledger-live-desktop/tests/page/drawer/drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/swap.confirmation.drawer.ts
  apps/ledger-live-desktop/tests/page/modal/delegate.modal.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
Owners: @ledgerhq/live-hub, @ledgerhq/qaa

fix: check if value is a number otherwise set to default gas limit like we do in lld
  .changeset/strong-wasps-kiss.md
  apps/ledger-live-mobile/src/families/evm/ScreenEditGasLimit.tsx
Owners: @ledgerhq/live-blockchain-support

Revert "Revert "Send nightly iOS builds to new "Ledger Live (nightly)" app in Testflight""
  apps/ledger-live-mobile/fastlane/.env.ios.nightly
  apps/ledger-live-mobile/fastlane/Fastfile
  apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Contents.json
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-20x20@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-20x20@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-29x29@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-29x29@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-40x40@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-40x40@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-57x57@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-60x60@2x 1.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-60x60@3x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-76x76@1x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-76x76@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  apps/ledger-live-mobile/ios/ledgerlivemobile/Images.xcassets/NightlyAppIcon.appiconset/ItunesArtwork@2x.png
  apps/ledger-live-mobile/mobile-env.md
  apps/ledger-live-mobile/scripts/mobile-env-md.mjs
Owners: @ledgerhq/live-hub

feat: Select staking provider modal desktop v2
  apps/ledger-live-desktop/src/renderer/components/Modal/index.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModalV2/EthStakingModalBody.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModalV2/component/ProviderItem.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModalV2/index.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModalV2/utils/getTrackProperties.ts
  apps/ledger-live-desktop/src/renderer/families/evm/modals.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  libs/ledgerjs/packages/types-live/src/feature.ts
  libs/ui/packages/icons/src/svg/book-graduation.svg
  libs/ui/packages/react/src/components/cta/Button/index.tsx
Owners: @ledgerhq/live-hub, @ledgerhq/live-blockchain-support

feat: Select staking provider modal mobile v2
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/EthStakingModalBody.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModalV2/component/ProviderItem.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModalV2/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/RootDrawer/RootDrawer.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawerV2/EvmStakingDrawerBody.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawerV2/EvmStakingDrawerProvider.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawerV2/EvmStakingDrawerProviderIcon.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawerV2/index.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawerV2/type.ts
  apps/ledger-live-mobile/src/icons/Figment.tsx
  apps/ledger-live-mobile/src/icons/Stader.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ui/packages/native/src/components/Tabs/Chip/index.tsx
  libs/ui/packages/native/src/components/Tabs/TemplateTabs/index.tsx
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub

chore: update V1 modal's folder to _deprecated
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/EthStakingModalBody.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/component/ProviderItem.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/index.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModalV2/EthStakingModalBody.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModalV2/component/ProviderItem.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModalV2/index.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal_deprecated/EthStakingModalBody.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal_deprecated/StakingIcon.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal_deprecated/component/ProviderItem.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal_deprecated/index.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal_deprecated/types.ts
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal_deprecated/utils/getTrackProperties.ts
  apps/ledger-live-desktop/src/renderer/families/evm/modals.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/components/RootDrawer/RootDrawer.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/EvmStakingDrawerBody.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/EvmStakingDrawerProvider.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/EvmStakingDrawerProviderIcon.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/index.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/type.ts
  apps/ledger-live-mobile/src/families/evm/StakingDrawerV2/EvmStakingDrawerProviderIcon.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawerV2/index.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer_deprecated/EvmStakingDrawerBody.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer_deprecated/EvmStakingDrawerProvider.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer_deprecated/EvmStakingDrawerProviderIcon.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer_deprecated/index.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer_deprecated/types.ts
  apps/ledger-live-mobile/src/locales/en/common.json
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub

chore: add P2P and RocketPool logos to mobile
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/EvmStakingDrawerProviderIcon.tsx
  apps/ledger-live-mobile/src/icons/P2P.tsx
  apps/ledger-live-mobile/src/icons/RocketPool.tsx
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub

chore: add KelpDAO svg icon to mobile
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/EvmStakingDrawerProviderIcon.tsx
  apps/ledger-live-mobile/src/icons/Figment.tsx
  apps/ledger-live-mobile/src/icons/KelpDAO.tsx
  apps/ledger-live-mobile/src/icons/Kiln.tsx
  apps/ledger-live-mobile/src/icons/MissingIcon.tsx
  apps/ledger-live-mobile/src/icons/Stader.tsx
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub
