Repository LedgerHQ/ledger-live, changes with the owners that CODEOWNERS names for each.
All owners: @ledgerhq/live-devx, @ledgerhq/live-blockchain-support, @ledgerhq/live-platform-and-services, @ledgerhq/live-devices, @ledgerhq/live-qa, @gre

feat(llm): use of the new BLE pairing flow
  apps/ledger-live-mobile/src/screens/SyncOnboarding/DeviceModelSelection.tsx
Owners: none

chore(llm): scanning devices listing
  apps/ledger-live-mobile/src/screens/SyncOnboarding/BleDevicesScanning.tsx
Owners: none

fix: linter error
  apps/ledger-live-mobile/src/screens/Onboarding/steps/deviceSelection.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/DeviceModelSelection.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
Owners: none

chore(llm): cleaning sync onboarding navigator
  apps/ledger-live-mobile/src/components/RootNavigator/SyncOnboardingNavigator.tsx
Owners: none

fix(llm): remove BLE screens created only for the sync onboarding
  apps/ledger-live-mobile/src/components/RootNavigator/SyncOnboardingNavigator.tsx
  apps/ledger-live-mobile/src/const/navigation.ts
  apps/ledger-live-mobile/src/screens/SyncOnboarding/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/BleDevicesScanning.tsx
Owners: none

feat: vertical-timeline-onboarding and genuine + firmware checks
  .changeset/gold-files-yawn.md
  .changeset/tender-otters-heal.md
  .changeset/tricky-icons-search.md
  .changeset/tricky-months-destroy.md
  apps/cli/src/commands/synchronousOnboarding.ts
  apps/ledger-live-mobile/src/components/DeviceAction/rendering.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/BaseOnboardingNavigator.tsx
  apps/ledger-live-mobile/src/components/RootNavigator/SyncOnboardingNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/SyncOnboarding/AllowManagerDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/BleDeviceItem.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/CompletionScreen.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/DesyncDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/DeviceModelSelection.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/FirmwareUpdateDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/GenuineCheckCancelledDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/GenuineCheckDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/HelpDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/LanguageSelect.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/ResyncOverlay.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SoftwareChecksStep.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/UnlockDeviceDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
  libs/ledger-live-common/src/hw/extractOnboardingState.ts
  libs/ledger-live-common/src/hw/getOnboardingStatePolling.test.ts
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/TimelineIndicator.tsx
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/TimelineItem.tsx
  libs/ui/packages/native/src/components/Layout/List/VerticalTimeline/index.tsx
  libs/ui/packages/native/src/components/Layout/List/index.ts
  libs/ui/packages/native/src/components/Layout/Modals/BottomDrawer/index.tsx
  libs/ui/packages/native/src/components/cta/Button/getButtonStyle.ts
  libs/ui/packages/native/storybook/stories/Layout/List/VerticalTimeline.stories.tsx
  libs/ui/packages/native/storybook/stories/index.ts
Owners: @ledgerhq/live-devices

fix: navigation going back to BLE scanning
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
Owners: none

fix(cli): remove missing merge conflicts
  apps/cli/src/commands/synchronousOnboarding.ts
Owners: none

feat: adding onboarded device to known devices
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
Owners: none

fix: increase the normal resync timeout
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
Owners: none

fix(mobile): remove lint errors from sync onboarding
  apps/ledger-live-mobile/src/screens/SyncOnboarding/BleDeviceItem.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/DesyncDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/HelpDrawer.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/LanguageSelect.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/SoftwareChecksStep.tsx
Owners: none

fix(mobile): add missing styles in bluetooth flow
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/BleDevicePairing.tsx
  apps/ledger-live-mobile/src/screens/BleDevicePairingFlow/BleDevicesScanning.tsx
Owners: none

feat(mobile): feature flag the entrypoint for sync onboarding
  apps/ledger-live-mobile/src/screens/Onboarding/steps/deviceSelection.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Owners: none

Remove double device selection screen (#1069)
  .changeset/rich-bottles-buy.md
  apps/ledger-live-mobile/src/components/RootNavigator/SyncOnboardingNavigator.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/Discover/DiscoverCard.tsx
  apps/ledger-live-mobile/src/screens/Onboarding/steps/deviceSelection.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/DeviceModelSelection.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/types.ts
Owners: none

fix(mobile): regen libs doc
  libs/ledgerjs/packages/types-live/README.md
Owners: none

fix(mobile): remove filtering from scanning screen for now
  apps/ledger-live-mobile/src/screens/Onboarding/steps/deviceSelection.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
Owners: none

fix(mobile): update navigation to new ble device pairing flow
  apps/ledger-live-mobile/src/screens/Onboarding/steps/deviceSelection.tsx
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
Owners: none

fix(types-live): regen README
  libs/ledgerjs/packages/types-live/README.md
Owners: none

fix(mobile): update onboarding steps to latest version
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
Owners: none

fix(cli): update weird import in sync onboarding command
  apps/cli/src/commands/synchronousOnboarding.ts
Owners: none

remove english from pushed language
  apps/ledger-live-desktop/src/config/languages.js
Owners: none

changeset
  .changeset/red-peas-hug.md
Owners: none

refactor(mobile): add handling of the choosename flag from device
  apps/ledger-live-mobile/src/screens/SyncOnboarding/index.tsx
Owners: none

fix test e2e
  apps/ledger-live-desktop/tests/models/OnboardingPage.ts
Owners: none

update lockfile
  apps/ledger-live-mobile/ios/Podfile.lock
  pnpm-lock.yaml
Owners: none

revert fix test e2e
  apps/ledger-live-desktop/tests/models/OnboardingPage.ts
Owners: none

Implement new templates for github issues
  .github/ISSUE_TEMPLATE/bug---ledger-live-application.md
  .github/ISSUE_TEMPLATE/bug---libraries.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/library-bug.yml
  .github/ISSUE_TEMPLATE/library-feature.yml
Owners: @ledgerhq/live-devx

chore: remove double initialization
  apps/ledger-live-desktop/src/renderer/screens/exchange/Swap2/Form/index.jsx
Owners: none

update screenshots (ubuntu-latest)
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-select-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-success-linux.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/lockscreen-wrong-password-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-7d-range-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-btc-star-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-no-scrollbar-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-thb-countervalue-linux.png
Owners: none

fix lint warning
  libs/ledger-live-common/src/families/bitcoin/js-synchronisation.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/wallet.ts
  libs/ledger-live-common/src/families/bitcoin/wallet-btc/xpub.ts
Owners: none

:rocket: release prerelease [LLD(2.48.0-next.2)]
  .changeset/pre.json
  apps/ledger-live-desktop/CHANGELOG.md
  apps/ledger-live-desktop/package.json
Owners: none

feat/LIVE-537 iOS mid install bug fix attempt
  libs/ledgerjs/packages/hw-transport-react-native-ble/ios/HwTransportReactNativeBle.swift
Owners: none

update screenshots (ubuntu-latest)
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-select-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ETH-success-linux.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-accounts-list-linux.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/lockscreen-wrong-password-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-no-scrollbar-linux.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-thb-countervalue-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/connect-device.spec.ts-snapshots/v3-onboarding-complete-linux.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-onboarding-complete-linux.png
Owners: none

fixed flakiness on onboarding carousel
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/Carousel.tsx
Owners: none

LIVE-3817 - LLM assets readonly fix analytics issue
  apps/ledger-live-mobile/src/components/CurrencyHeaderLayout.tsx
  apps/ledger-live-mobile/src/components/FabActions/hooks/useAssetActions.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/ReadOnly/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricAsset/index.tsx
  apps/ledger-live-mobile/src/screens/WalletCentricSections/MarketPrice.tsx
Owners: none

change loader with tsx one and add memo
  apps/ledger-live-mobile/src/icons/Loader.tsx
Owners: none

update screenshots (macos-latest)
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/ATOM-select-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-7d-range-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-btc-star-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-no-scrollbar-darwin.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-thb-countervalue-darwin.png
Owners: none

Different permissions for different versions of Android
  apps/ledger-live-mobile/android/app/src/main/AndroidManifest.xml
  apps/ledger-live-mobile/src/components/RequiresBLE/RequiresLocationOnAndroid.android.tsx
Owners: none

update screenshots (windows-latest)
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/BTC-success-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/LTC-accounts-list-win32.png
  apps/ledger-live-desktop/tests/specs/accounts/account.spec.ts-snapshots/XTZ-accounts-list-win32.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/discover-win32.png
  apps/ledger-live-desktop/tests/specs/general/layout.spec.ts-snapshots/experimental-features-win32.png
  apps/ledger-live-desktop/tests/specs/general/passwordlock.spec.ts-snapshots/passwordlock-disable-bad-password-win32.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-idle-win32.png
  apps/ledger-live-desktop/tests/specs/general/updater.spec.ts-snapshots/app-updater-layout-win32.png
  apps/ledger-live-desktop/tests/specs/manager/manager.spec.ts-snapshots/manager-install-tron-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-7d-range-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-btc-star-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-no-scrollbar-win32.png
  apps/ledger-live-desktop/tests/specs/market/market.spec.ts-snapshots/market-page-thb-countervalue-win32.png
  apps/ledger-live-desktop/tests/specs/onboarding/connect-device.spec.ts-snapshots/v3-get-started-win32.png
  apps/ledger-live-desktop/tests/specs/onboarding/restore-device.spec.ts-snapshots/v3-get-started-win32.png
  apps/ledger-live-desktop/tests/specs/onboarding/setup-device.spec.ts-snapshots/v3-get-started-win32.png
Owners: none

fix e2e by disabling the onboarding carousel during playwright run
  apps/ledger-live-desktop/src/renderer/components/Onboarding/Screens/Welcome/Carousel.tsx
Owners: none

CODEOWNERS:

# Live DX Team

.github/              @ledgerhq/live-devx
scripts/              @ledgerhq/live-devx
tools/                @ledgerhq/live-devx
fastlane/             @ledgerhq/live-devx

# Live Blockchain Support Team

apps/**/families/                                               @ledgerhq/live-blockchain-support
ledger-live-desktop/src/live-common-set-supported-currencies.*  @ledgerhq/live-blockchain-support
ledger-live-mobile/src/live-common-setup.*                      @ledgerhq/live-blockchain-support
ledger-live-common/src/families                                 @ledgerhq/live-blockchain-support
ledgerjs/packages/cryptoassets                                  @ledgerhq/live-blockchain-support
ledgerjs/packages/types-cryptoassets                            @ledgerhq/live-blockchain-support
ledgerjs/packages/hw-app-*                                      @ledgerhq/live-blockchain-support

# Live Platform and Services Team

ledger-live-desktop/src/renderer/screens/exchange/  @ledgerhq/live-platform-and-services
ledger-live-mobile/src/screens/Exchange/            @ledgerhq/live-platform-and-services
ledger-live-common/src/exchange/                    @ledgerhq/live-platform-and-services
ledger-live-common/src/platform/                    @ledgerhq/live-platform-and-services

# Live Devices Team

apps/**/components/DeviceAction/        @ledgerhq/live-devices
ledger-live-mobile/src/screens/Manager/ @ledgerhq/live-devices
ledger-live-common/src/hw/              @ledgerhq/live-devices
ledger-live-common/src/apps/            @ledgerhq/live-devices
ledger-live-common/src/manager/         @ledgerhq/live-devices
ledgerjs/packages/types-devices/        @ledgerhq/live-devices
ledgerjs/packages/devices/              @ledgerhq/live-devices
ledgerjs/packages/hw-transport-*        @ledgerhq/live-devices
ledgerjs/packages/react-native-*        @ledgerhq/live-devices


# Live QA Team
ledger-live-desktop/tests/**/*-snapshots/ @ledgerhq/live-qa

# Cross-teams
.github/**/bot-*.yml                 @gre @ledgerhq/live-blockchain-support @ledgerhq/live-qa
ledgerjs/packages/types-live/        @gre @ledgerhq/live-blockchain-support @ledgerhq/live-platform-and-services @ledgerhq/live-devices
