Repository LedgerHQ/ledger-live, changes with the owners that CODEOWNERS names for each.
All owners: @ledgerhq/live-hub, @ledgerhq/live-blockchain-support, @ledgerhq/ptx, @ledgerhq/wallet-api, @ledgerhq/live-devices, @ledgerhq/qaa, @ledgerhq/recover-software

CODEOWNERS:

# How does it work? => https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.

# Hub team
## by default, hub manage apps and libs related to it & then we overrides many exceptions
apps/cli/src/commands/live                               @ledgerhq/live-hub
apps/ledger-live-desktop/                                @ledgerhq/live-hub
apps/ledger-live-mobile/                                 @ledgerhq/live-hub
libs/**/errors/                                          @ledgerhq/live-hub
libs/**/logs/                                            @ledgerhq/live-hub
libs/**/types-live/                                      @ledgerhq/live-hub
libs/env/                                                @ledgerhq/live-hub
libs/ledger-live-common/src/                             @ledgerhq/live-hub
libs/live-countervalues-react/                           @ledgerhq/live-hub
libs/live-countervalues/                                 @ledgerhq/live-hub
libs/live-hooks/                                         @ledgerhq/live-hub
libs/live-nft-react/                                     @ledgerhq/live-hub
libs/live-nft/                                           @ledgerhq/live-hub
libs/promise/                                            @ledgerhq/live-hub
libs/ui/                                                 @ledgerhq/live-hub
libs/live-hooks/										 @ledgerhq/live-hub
libs/live-countervalues/								 @ledgerhq/live-hub
libs/live-countervalues-react/ 						     @ledgerhq/live-hub
libs/live-nft/                                           @ledgerhq/live-hub
libs/live-nft-react/                                     @ledgerhq/live-hub
libs/live-wallet/                                        @ledgerhq/live-hub
libs/trustchain/                                         @ledgerhq/live-hub
libs/hw-trustchain/                                      @ledgerhq/live-hub

# Blockchain team
.github/**/bot-*.yml                                     @ledgerhq/live-blockchain-support
**/live-common-set*.ts                                   @ledgerhq/live-blockchain-support
apps/**/families/                                        @ledgerhq/live-blockchain-support
apps/cli/src/commands/blockchain                         @ledgerhq/live-blockchain-support
apps/web-tools/                                          @ledgerhq/live-blockchain-support
docs/                                                    @ledgerhq/live-blockchain-support
libs/coin-*/                                             @ledgerhq/live-blockchain-support
libs/domain-service/                                     @ledgerhq/live-blockchain-support
libs/evm-tools/                                          @ledgerhq/live-blockchain-support
libs/ledger-live-common/src/bot/                         @ledgerhq/live-blockchain-support
libs/ledger-live-common/src/families/                    @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/cryptoassets/                     @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/hw-app-*/                         @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/types-cryptoassets/               @ledgerhq/live-blockchain-support
libs/live-config/                                        @ledgerhq/live-blockchain-support
libs/live-network/                                       @ledgerhq/live-blockchain-support

# PTX team
apps/cli/src/commands/ptx                                            @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/components/ProviderIcon/       @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/components/WebPTXPlayer/       @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/hooks/swap-migrations/         @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/drawers/SwapOperationDetails/  @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/modals/Platform/               @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/modals/StartStake/             @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/reducers/swap.ts               @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/earn/                  @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/exchange/              @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/stake/                 @ledgerhq/ptx
apps/ledger-live-desktop/src/renderer/screens/swapWeb/               @ledgerhq/ptx
apps/ledger-live-mobile/src/actions/earn.ts                          @ledgerhq/ptx
apps/ledger-live-mobile/src/actions/swap.ts                          @ledgerhq/ptx
apps/ledger-live-mobile/src/components/ProviderIcon/                 @ledgerhq/ptx
apps/ledger-live-mobile/src/components/Stake/                        @ledgerhq/ptx
apps/ledger-live-mobile/src/components/WebPTXPlayer/                 @ledgerhq/ptx
apps/ledger-live-mobile/src/reducers/earn.ts                         @ledgerhq/ptx
apps/ledger-live-mobile/src/reducers/swap.ts                         @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/Exchange/                        @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/PTX/                             @ledgerhq/ptx
apps/ledger-live-mobile/src/screens/Swap/                            @ledgerhq/ptx
libs/ledger-live-common/src/exchange/                                @ledgerhq/ptx
libs/exchange-module/                                                @ledgerhq/ptx
libs/ledgerjs/packages/hw-app-exchange/                              @ledgerhq/ptx
# Wallet API team
**/PlatformAppProviderWrapper.tsx                        @ledgerhq/wallet-api
**/Web3AppWebview/                                       @ledgerhq/wallet-api
**/WebPlatformPlayer/                                    @ledgerhq/wallet-api
apps/ledger-live-desktop/src/renderer/screens/platform/  @ledgerhq/wallet-api
apps/ledger-live-desktop/src/webviewPreloader/           @ledgerhq/wallet-api
apps/ledger-live-mobile/src/screens/Discover/            @ledgerhq/wallet-api
apps/ledger-live-mobile/src/screens/Platform/            @ledgerhq/wallet-api
libs/ledger-live-common/src/platform/                    @ledgerhq/wallet-api
libs/ledger-live-common/src/wallet-api/                  @ledgerhq/wallet-api
**/platformAdapter.ts                                    @ledgerhq/wallet-api
**/walletApiAdapter.ts                                   @ledgerhq/wallet-api
**/liveapp-sdk.spec.ts                                   @ledgerhq/wallet-api
**/confirmTransaction.spec.ts                             @ledgerhq/wallet-api
**/wallet-api.spec.ts                                    @ledgerhq/wallet-api
**/wallet-api.spec.ts-snapshots/                         @ledgerhq/wallet-api
**/dapp.spec.ts                                          @ledgerhq/wallet-api
libs/test-utils/                                         @ledgerhq/wallet-api
apps/ledger-live-mobile/src/newArch/features/Web3Hub/    @ledgerhq/wallet-api

# Devices team
apps/cli/src/commands/devices                                      @ledgerhq/live-devices
**/src/renderer/screens/manager/                                   @ledgerhq/live-devices
**/screens/customImage 																				 		 @ledgerhq/live-devices
**/components/CustomImage																		 	 		 @ledgerhq/live-devices
**/screens/CustomImage 																				 		 @ledgerhq/live-devices
**/SyncOnboarding/**                                               @ledgerhq/live-devices
**/OnboardingAppInstall/**																				 @ledgerhq/live-devices
**/UpdateFirmwareModal/**																					 @ledgerhq/live-devices
apps/**/components/DeviceAction/                                   @ledgerhq/live-devices
apps/ledger-live-mobile/src/screens/MyLedger*/             	       @ledgerhq/live-devices
apps/ledger-live-mobile/src/newArch/features/FirmwareUpdate/       @ledgerhq/live-devices
apps/web-tools/repl/                                               @ledgerhq/live-devices
libs/**/devices/                                                   @ledgerhq/live-devices
libs/**/hw-transport-*/                                            @ledgerhq/live-devices
libs/**/react-native-*/                                            @ledgerhq/live-devices
libs/**/swift-*/                                                   @ledgerhq/live-devices
libs/**/types-devices/                                             @ledgerhq/live-devices
libs/ledger-live-common/src/apps/                                  @ledgerhq/live-devices
libs/ledger-live-common/src/hw/                                    @ledgerhq/live-devices
libs/ledger-live-common/src/manager/                               @ledgerhq/live-devices
libs/ledger-live-common/src/device/                                @ledgerhq/live-devices
libs/ledger-live-common/src/deviceSDK/                             @ledgerhq/live-devices
libs/device-core/                                                  @ledgerhq/live-devices
libs/device-react/                                                 @ledgerhq/live-devices
libs/speculos-transport/                                           @ledgerhq/live-devices @ledgerhq/qaa

# Recover team
apps/ledger-live-desktop/src/renderer/components/RecoverBanner/         @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/components/RecoverRestore/        @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/components/WebRecoverPlayer/      @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/modals/ProtectDiscover/           @ledgerhq/recover-software
apps/ledger-live-desktop/src/renderer/screens/recover/                  @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/RecoverBanner/                   @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/ServicesWidget/Protect/          @ledgerhq/recover-software
apps/ledger-live-mobile/src/components/WebRecoverPlayer/                @ledgerhq/recover-software
apps/ledger-live-mobile/src/screens/Protect/                            @ledgerhq/recover-software
libs/ledger-live-common/src/hooks/recoverFeatureFlag.ts                 @ledgerhq/recover-software

# Live hub overrides

apps/web-tools/trustchain/                               @ledgerhq/live-hub

# UI tests
apps/ledger-live-desktop/tests/                          @ledgerhq/live-hub @ledgerhq/qaa
apps/ledger-live-mobile/e2e/                             @ledgerhq/live-hub @ledgerhq/qaa

# Cross-team generic files can be opted out (no strict ownership when it concerns everyone)
apps/ledger-live-desktop/static/i18n/
apps/ledger-live-mobile/src/locales/
apps/ledger-live-mobile/src/components/RootNavigator/
apps/ledger-live-mobile/src/const/navigation.ts
apps/**/package.json
libs/ledgerjs/packages/errors/src/index.ts
libs/ledger-live-common/src/config/sharedConfig.ts
libs/ledger-live-common/package.json
**/generated/

feat: guard new modal behind feature flag
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/index.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeModalVersionWrapper.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/modals.ts
  apps/ledger-live-mobile/src/components/RootDrawer/RootDrawer.tsx
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub

chore: changeset
  .changeset/curvy-hornets-change.md
Owners: none

chore: minor fixes
  apps/ledger-live-mobile/src/components/RootDrawer/RootDrawer.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Owners: @ledgerhq/live-hub, @ledgerhq/live-blockchain-support

fix: size prop for native ChipTabs
  libs/ui/packages/native/src/components/Tabs/Chip/index.tsx
  libs/ui/packages/native/src/components/Tabs/Graph/index.tsx
  libs/ui/packages/native/src/components/Tabs/TemplateTabs/index.tsx
Owners: @ledgerhq/live-hub

chore: cleanup
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/EthStakingModalBody.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/component/ProviderItem.tsx
Owners: @ledgerhq/live-blockchain-support

fix: broken types import
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/EvmStakingDrawerBody.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/EvmStakingDrawerProvider.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/types.ts
Owners: @ledgerhq/live-blockchain-support

fix: braze transform ignore on jest config
  apps/ledger-live-desktop/jest.config.js
Owners: @ledgerhq/live-hub

chore: update copy and add disabled filter to deprecated banner
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal_deprecated/EthStakingModalBody.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeModalVersionWrapper.tsx
  apps/ledger-live-desktop/src/types/featureFlags.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/families/evm/StakingDrawer_deprecated/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub

fix: icon sizes and outline for light mode
  apps/ledger-live-mobile/src/icons/Figment.tsx
  apps/ledger-live-mobile/src/icons/KelpDAO.tsx
  apps/ledger-live-mobile/src/icons/Kiln.tsx
  apps/ledger-live-mobile/src/icons/Lido.tsx
  apps/ledger-live-mobile/src/icons/P2P.tsx
  apps/ledger-live-mobile/src/icons/RocketPool.tsx
  apps/ledger-live-mobile/src/icons/Stader.tsx
Owners: @ledgerhq/live-hub

chore: final copy
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/component/ProviderItem.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Owners: @ledgerhq/live-blockchain-support

fix: visual updates to the gradient effect
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/index.tsx
Owners: @ledgerhq/live-blockchain-support

feat: tracking interactions
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/index.tsx
  apps/ledger-live-mobile/src/components/RootDrawer/RootDrawer.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/index.tsx
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub

fix: visual updates to the modals
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/EthStakingModalBody.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/index.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeModalVersionWrapper.tsx
  apps/ledger-live-mobile/src/components/RootDrawer/RootDrawer.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/EvmStakingDrawerProvider.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/EvmStakingDrawerProviderIcon.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/index.tsx
  libs/ui/packages/native/src/components/Tabs/Chip/index.tsx
  libs/ui/packages/native/src/components/Tabs/TemplateTabs/index.tsx
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub

chore: replace Braze feature flag with Firebase's
  apps/ledger-live-desktop/src/renderer/families/evm/StakeModalVersionWrapper.tsx
  apps/ledger-live-mobile/src/components/RootDrawer/RootDrawer.tsx
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub

chore: address PR comments pt 1
  apps/ledger-live-desktop/jest.config.js
  apps/ledger-live-desktop/src/config/urls.ts
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/index.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeModalVersionWrapper.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/index.tsx
  apps/ledger-live-mobile/src/utils/urls.tsx
  libs/ui/packages/native/src/components/Tabs/TemplateTabs/index.tsx
Owners: @ledgerhq/live-hub, @ledgerhq/live-blockchain-support

chore: use camelCase for translation keys
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/component/ProviderItem.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/index.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/EvmStakingDrawerProvider.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/index.tsx
  apps/ledger-live-mobile/src/locales/en/common.json
Owners: @ledgerhq/live-blockchain-support

chore: extract styled-components from StakeFlowModal
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/index.tsx
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/styles.tsx
Owners: @ledgerhq/live-blockchain-support

chore: revert modal radius change
  apps/ledger-live-desktop/src/renderer/components/Modal/index.tsx
Owners: @ledgerhq/live-hub

chore: re-arrange paddings of modal
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/index.tsx
Owners: @ledgerhq/live-blockchain-support

chore: remove unnecessary check
  apps/ledger-live-desktop/src/renderer/families/evm/StakeFlowModal/index.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/index.tsx
Owners: @ledgerhq/live-blockchain-support

chore: remove autoredirect with one provider on mobile version of modal
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/EvmStakingDrawerBody.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/EvmStakingDrawerProvider.tsx
  apps/ledger-live-mobile/src/families/evm/StakingDrawer/index.tsx
Owners: @ledgerhq/live-blockchain-support

feat(llm): add the "accent" button type
  libs/ui/packages/native/src/components/cta/Button/getButtonStyle.ts
  libs/ui/packages/native/src/components/cta/Button/index.tsx
  libs/ui/packages/native/storybook/stories/Cta/Button/Button.stories.tsx
Owners: @ledgerhq/live-hub

feat(llm): add `NeedMemoTagModal`
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/NeedMemoTagModal/NeedMemoTagModal.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/NeedMemoTagModal/index.ts
  apps/ledger-live-mobile/src/utils/urls.tsx
Owners: @ledgerhq/live-hub

feat(llm): show the memo/tag modal for some coins only
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  apps/ledger-live-mobile/src/utils/constants.ts
Owners: @ledgerhq/live-hub

chore(llm): use more adapted components
  apps/ledger-live-mobile/src/screens/ReceiveFunds/NeedMemoTagModal/NeedMemoTagModal.tsx
Owners: @ledgerhq/live-hub

chore: update change log
  .changeset/nice-plants-complain.md
Owners: none

feat(llm): style the modal
  apps/ledger-live-mobile/src/screens/ReceiveFunds/NeedMemoTagModal/NeedMemoTagModal.tsx
Owners: @ledgerhq/live-hub

chore: missing pnpm-lock file
  pnpm-lock.yaml
Owners: none

wip
  apps/ledger-live-desktop/tests/page/drawer/choose.account.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/choose.asset.drawer.ts
  apps/ledger-live-desktop/tests/page/drawer/drawer.ts
  apps/ledger-live-desktop/tests/page/swap.page.ts
  apps/ledger-live-desktop/tests/specs/speculos/swap.spec.ts
Owners: @ledgerhq/live-hub, @ledgerhq/qaa

feat(llm): 📝 add the receive flow `NeedMemoTagModal` (#7989)
  .changeset/nice-plants-complain.md
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/ledger-live-mobile/src/screens/ReceiveFunds/03-Confirmation.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/NeedMemoTagModal/NeedMemoTagModal.tsx
  apps/ledger-live-mobile/src/screens/ReceiveFunds/NeedMemoTagModal/index.ts
  apps/ledger-live-mobile/src/utils/constants.ts
  apps/ledger-live-mobile/src/utils/urls.tsx
  libs/ui/packages/native/src/components/cta/Button/getButtonStyle.ts
  libs/ui/packages/native/src/components/cta/Button/index.tsx
  libs/ui/packages/native/storybook/stories/Cta/Button/Button.stories.tsx
Owners: @ledgerhq/live-hub

:technologist:(lld): add braze generator tools in dev settings
  .changeset/little-comics-help.md
  apps/ledger-live-desktop/src/renderer/components/Carousel/helpers.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useActionCards.tsx
  apps/ledger-live-desktop/src/renderer/modals/index.ts
  apps/ledger-live-desktop/src/renderer/modals/types.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/BrazeTools/Hooks/useGenerateLocalBraze.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/BrazeTools/Modal/Body.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/BrazeTools/Modal/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/BrazeTools/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-desktop/src/types/dynamicContent.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
Owners: @ledgerhq/live-hub

chore: add --verbose flag to pod install (#7994)
  .changeset/tough-owls-grin.md
  apps/ledger-live-mobile/scripts/post.mjs
Owners: @ledgerhq/live-hub

feat: useCheckNftAccount in [LIB] (#7891)
  .changeset/nervous-pumpkins-remain.md
  apps/ledger-live-desktop/src/renderer/hooks/useHideSpamCollection.ts
  apps/ledger-live-desktop/src/renderer/screens/nft/Collections/Collections.tsx
  libs/live-nft-react/.unimportedrc.json
  libs/live-nft-react/package.json
  libs/live-nft-react/src/hooks/__tests__/useCheckNftAccount.test.tsx
  libs/live-nft-react/src/hooks/__tests__/useNftGalleryFilter.test.tsx
  libs/live-nft-react/src/hooks/helpers/index.ts
  libs/live-nft-react/src/hooks/types.ts
  libs/live-nft-react/src/hooks/useCheckNftAccount.ts
  libs/live-nft-react/src/hooks/useNftGalleryFilter.ts
  libs/live-nft-react/src/index.ts
  libs/live-nft-react/src/tools/helperTests.tsx
  pnpm-lock.yaml
Owners: @ledgerhq/live-hub

chore: add memoTag feature flag for LLD
  .changeset/gold-cherries-work.md
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Owners: @ledgerhq/live-hub

update snapshot for bridge integration test that fails CI
  libs/ledger-live-common/src/families/algorand/__snapshots__/bridge.integration.test.ts.snap
Owners: @ledgerhq/live-blockchain-support

:technologist:(lld): add braze generator tools in dev settings (#8026)
  .changeset/little-comics-help.md
  apps/ledger-live-desktop/src/renderer/components/Carousel/helpers.tsx
  apps/ledger-live-desktop/src/renderer/hooks/useActionCards.tsx
  apps/ledger-live-desktop/src/renderer/modals/index.ts
  apps/ledger-live-desktop/src/renderer/modals/types.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/BrazeTools/Hooks/useGenerateLocalBraze.ts
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/BrazeTools/Modal/Body.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/BrazeTools/Modal/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/BrazeTools/index.tsx
  apps/ledger-live-desktop/src/renderer/screens/settings/sections/Developer/index.tsx
  apps/ledger-live-desktop/src/types/dynamicContent.ts
  apps/ledger-live-desktop/static/i18n/en/app.json
Owners: @ledgerhq/live-hub

test: ✅ Adding delegate tests - User should be able to select a validator
  apps/ledger-live-desktop/tests/enum/Account.ts
  apps/ledger-live-desktop/tests/enum/AppInfos.ts
  apps/ledger-live-desktop/tests/enum/Currency.ts
  apps/ledger-live-desktop/tests/specs/speculos/delegate.spec.ts
  apps/ledger-live-desktop/tests/userdata/speculos-delegate.json
  libs/ledger-live-common/src/e2e/speculos.ts
Owners: @ledgerhq/live-hub, @ledgerhq/qaa

chore: add memoTag feature flag for LLD (#8038)
  .changeset/gold-cherries-work.md
  libs/ledger-live-common/src/families/algorand/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/featureFlags/defaultFeatures.ts
  libs/ledgerjs/packages/types-live/src/feature.ts
Owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-hub

feat(LIVE-14367): Add operation id for thorswap history
  libs/ledger-live-common/src/exchange/swap/types.ts
  libs/ledger-live-common/src/exchange/swap/updateAccountSwapStatus.ts
Owners: @ledgerhq/ptx

feat(LIVE-14367): changeset
  .changeset/eighty-sheep-join.md
Owners: none
